[2017-04-28 16:34] lovegushwa commented on #865
@natalieworth can you give me some image specs? (~size in px)

[2017-04-28 17:44] lovegushwa opened #867 "Fix typography on NN Petition Site"
@beccaklam the petition site typography feels off. Can you take a pass at it? We can implement Zilla if it's straight forward and not a blocker to shipping quickly.
<img width="1393" alt="screen shot 2017-04-28 at 10 40 43 am" src="https://cloud.githubusercontent.com/assets/12228435/25540328/842d70ce-2bff-11e7-9f13-4e658ad2dba6.png">

[2017-04-28 17:53] beccaklam commented on #799
Here is where we got this week with wireframes.
https://redpen.io/p/jg2d65c4dc4205102a <-- redpen for comments

**Wireframes:**
![safety tips sketch 2 copy 8](https://cloud.githubusercontent.com/assets/20977376/25540625/cd9ccdd0-2c19-11e7-82fa-88d42285421f.png)
![safety tips sketch 2 copy 7](https://cloud.githubusercontent.com/assets/20977376/25540629/cfba2c20-2c19-11e7-9f4a-660e2f6a8000.png)
![sa

[2017-04-28 20:58] beccaklam commented on #844
<img width="1024" alt="eu-parlement-3 2x" src="https://cloud.githubusercontent.com/assets/20977376/25546985/4af8d38c-2c33-11e7-8abe-3afb0e3a2f2b.png">

![test3a](https://cloud.githubusercontent.com/assets/20977376/25547027/6a43e45c-2c33-11e7-8774-566386e8ddf8.png)

[2017-04-28 21:00] lovegushwa commented on #865
image size is ~ 4500x3900px

[2017-04-28 22:48] hannahkane commented on #863
Noting that we have draft copy for the site including the form, but we still need copy for the ShareProgress prompts.

[2017-04-29 00:17] natalieworth commented on #844
@brettgaylor @lovegushwa @beccaklam @hannahkane We were able to get a start on the social concepts/ drafts for paper storm/ rain here: https://redpen.io/p/mn207cd41594cdfaa2
Feel free to add comments in the Redpen link or any other ideas we could try! There's a couple gifs in there too that are viewable in Chrome (sorry Firefox) :)

[2017-05-01 18:35] lovegushwa commented on #843
@beccaklam we need to Re-skin this Sumofus page design to fit the new Mozilla brand.
Basically take the exact design but add our typography, color, button style and footer.

https://actions.sumofus.org/a/uber-ceo-travis-kalanick-has-got-to-go/

<img width="1443" alt="screen shot 2017-05-01 at 11 29 59 am" src="https://cloud.githubusercontent.com/assets/12228435/25589621/26ac0ea0-2e62-11e7-8de8-e0e

[2017-05-01 20:48] beccaklam commented on #843
@hannahkane @lovegushwa @HPaulJohnson Do I need to do this in Soapbox Engage? Or do I just need to come up with a design?

[2017-05-01 20:51] hannahkane commented on #843
Good question, and I'm not sure of the answer. @HPaulJohnson - let me know if you'd like for me to coordinate with Matt on this.

[2017-05-01 20:56] beccaklam commented on #864
Hi @chadsansing, just wanted to follow up on this. Will I be receiving a set of strings to plug into my InDesign file or did you want me to upload my InDesign file?

[2017-05-01 21:10] HPaulJohnson commented on #843
@beccaklam @hannahkane my understanding is that we are just doing the visual design of a template at this point and not actually doing anything in Soapbox.

[2017-05-01 22:16] chadsansing commented on #864
I haven't gone through this process before, @beccaklam, so if you tell me what to send you in what format, I can do that sometime this week in between Rockwood sessions; otherwise, proceed with any format a lay user could localize with a .pdf editor? Apologies for my ignorance here :)

[2017-05-01 22:19] hannahkane commented on #864
Sorry, @chadsansing, I didn't realize localization was a requirement for this. @beccaklam - correct me if I'm wrong, but I'm guessing we can't make this editable with a pdf editor. @chadsansing - do you expect other people will want to localize?

[2017-05-01 22:21] chadsansing commented on #864
We have a Brazilian Mozillian ready to localize.

[2017-05-01 22:22] hannahkane commented on #862
@ScottDowne - per discussion today, the name fields should be required

Are we all good on hosting this?

[2017-05-01 22:22] chadsansing commented on #864
This is more of an inquiry than a requirement - my bad for not thinking of it earlier.

[2017-05-01 22:23] hannahkane opened #868 "DUE THURSDAY: NN snippet copy and icon"
- [ ] copy
- [ ] icon

[2017-05-01 22:28] hannahkane commented on #868
@levjoy - could you provide the snippet copy, please?

[2017-05-01 22:29] hannahkane commented on #863
@levjoy is working on this

[2017-05-01 22:38] hannahkane opened #869 "DUE MAY 18: Help users submit comments to the FCC"
The FCC comment submission process is tricky! There's a three-step process starting [here](https://www.fcc.gov/ecfs/search/filings), and the user has to:
 * know the relevant docket number
 * upload their comment as an attachment

Oy vey.

What can we do to:
 * ease the user burden
 * track these meaningful actions
?

Some things we're considering:
 * supporting another org that's building an open

[2017-05-01 22:41] hannahkane commented on #869
cc @HPaulJohnson @lovegushwa @vojtechmzl for ambient awareness at this point, though ideas/suggestions would be welcomed.

@ScottDowne and @levjoy are doing a little investigating in the meantime

[2017-05-01 22:44] hannahkane opened #870 "NN social series"
Likely based on some awesome comments collected through the voicemail campaign

Temporarily blocked on lack of access to the VMs, but we're working on that.

@HPaulJohnson and @lovegushwa - can you provide a tentative sketch of the timeline for social?

[2017-05-01 22:45] hannahkane commented on #800
Closing this ticket, as it no longer seems useful.

[2017-05-01 22:45] #800 closed, assigned to caltrider

[2017-05-01 22:47] hannahkane opened #871 "DUE MAY 5: Approved content for first two safety videos"
@HPaulJohnson @lovegushwa @caltrider are presenting drafts/concepts on Thursday. (Are other folks as well?)

[2017-05-01 22:49] hannahkane commented on #840
@brettgaylor @HPaulJohnson @lovegushwa - this wasn't discussed at the planning meeting today. What's the status?

[2017-05-01 22:50] hannahkane commented on #815
Donezo.

[2017-05-01 22:50] #815 closed, assigned to nobody

[2017-05-01 22:51] hannahkane commented on #838
Done!

[2017-05-01 22:51] #838 closed, assigned to ScottDowne, HPaulJohnson, lovegushwa

[2017-05-01 22:52] hannahkane commented on #801
Can we close this ticket?

[2017-05-01 22:55] hannahkane commented on #771
@stephaniemcv - do you have an update on migrating the signatures?

[2017-05-01 23:06] hannahkane commented on #804
@HPaulJohnson - pinging you to start thinking about the url. When would be a good time to discuss?

[2017-05-01 23:08] hannahkane opened #872 "Safety Tips user journey map"
Let's use a visualization to think through how people will:
 * discover Safety Tips
 * sign up for emails via Safety Tips
 * discover secondary CTAs, specific to each Safety Tip

[2017-05-01 23:09] hannahkane opened #873 "Legal review for Safety Tips?"
Will the site or video content need a legal review at any point?

[2017-05-01 23:35] brettgaylor commented on #840
Yup we discussed - @natalieworth has started.

Natalie, I took a stab at some of the text you started, and I think we should go with the V2 you started.  https://docs.google.com/document/d/1Kp9U7Vo_3DWKc-pYR5mWpABhRPFcFwNE4BcIwJJk8ZQ/edit

We should now start work localizing this - cc @HPaulJohnson

[2017-05-01 23:38] brettgaylor commented on #841
Snippet copy here @HPaulJohnson
https://docs.google.com/document/d/1yvEeOYJp6mvT97BCo_rwFfgCcgJwlul1WUAUfrecF8w/edit

@natalieworth - we had an idea for the icon.  Could we use one of the classic 8-bit browsing hands, but have it furiously clicking?  Wonder if shrapnel / chaos could be flying away from its fingers? Or leaflets?

[2017-05-01 23:39] hannahkane commented on #840
Oh, sorry, totally missed that! Moving this into "In Progress."

[2017-05-02 00:03] HPaulJohnson commented on #801
Yes, this is live.

[2017-05-02 00:09] natalieworth commented on #840
thanks @brettgaylor !

[2017-05-02 00:19] HPaulJohnson commented on #844
copy shipped to @TheoChevalier for localization: https://docs.google.com/document/d/1yvEeOYJp6mvT97BCo_rwFfgCcgJwlul1WUAUfrecF8w/edit

[2017-05-02 00:22] brettgaylor commented on #844
Hey @natalieworth @beccaklam @lovegushwa !

These are awesome.  My thoughts:

-The ones resonating for me most are the photo collage treatments, because they are quite different than the actual paper storm treatment.  The illustration feels closer to the actual site, which makes it seem more important that it really matches their style
-As i mentioned to Natalie, I don't think we can use an "anti"

[2017-05-02 00:26] brettgaylor commented on #840
Hey @natalieworth - if you want I can also take the lead on some of the screen captures....

[2017-05-02 00:29] natalieworth commented on #840
@brettgaylor that would be great! I can start putting in the typography if you want to help source images. Then I can just drop em in to the premiere file

[2017-05-02 02:22] brettgaylor commented on #840
Awesome.

How about this:  you work on typography/timing/music, i'll drop in some
screen grabs?

On Tue, May 2, 2017 at 2:29 AM, Natalie Worth <notifications@github.com>
wrote:

[2017-05-02 13:42] beccaklam commented on #867
Type changes were implemented yesterday. @ScottDowne Is there a place @lovegushwa can look at the changes? CC: @hannahkane

[2017-05-02 13:45] ScottDowne commented on #867
Should be on staging shortly after being merged to master.

[2017-05-02 16:07] ScottDowne commented on #867
https://advocacy-mozilla-org-staging.herokuapp.com/en-US/net-neutrality

[2017-05-02 16:28] natalieworth commented on #840
@brettgaylor Yes! that'd be perfect

[2017-05-02 16:32] beccaklam commented on #843
https://redpen.io/p/no3f2c9ac5d374c402<-- redpen for comments

![desktop hd copy](https://cloud.githubusercontent.com/assets/20977376/25628223/72c70f02-2f33-11e7-80bf-48611f8eb2ac.png)
![desktop hd](https://cloud.githubusercontent.com/assets/20977376/25628224/72c71740-2f33-11e7-929c-d30ec59834f2.png)

[2017-05-02 16:43] hannahkane opened #874 "Cyber Tips / Safety First graphic"
For the website

Cyber Tips is the umbrella, and Safety First is the particular campaign

Need to figure out requirements for the graphic/animation/audio

[2017-05-02 19:40] #801 closed, assigned to natalieworth

[2017-05-02 19:42] hannahkane commented on #861
@beccaklam - do you think we can close this ticket?

If not, I'm not suggesting we work on it now. Just wondering the status. Thanks!

[2017-05-02 19:43] hannahkane commented on #864
Given the number of projects and tight deadlines in our queue, I'm going to suggest we hold off on this, unless it's trivial to implement.

[2017-05-02 20:15] beccaklam commented on #844
@hannahkane @lovegushwa @natalieworth Social with border, paper and memes
https://redpen.io/kzcb523c51684ab802 <-- redpen for comments
![budestag](https://cloud.githubusercontent.com/assets/20977376/25637250/5988a040-2f52-11e7-9247-94b8ac3e50ff.jpg)
![coleseum](https://cloud.githubusercontent.com/assets/20977376/25637246/5984d154-2f52-11e7-8a7a-035d4c646356.jpg)
![eiffel-tower](https://cloud.githu

[2017-05-02 20:20] beccaklam commented on #861
@hannahkane This is done! @ScottDowne finished it!

[2017-05-02 20:20] #861 closed, assigned to beccaklam

[2017-05-02 20:44] stephaniemcv commented on #771
Goal is to have them in by 5/17. Not sure how full your plate is, but there's science email campaign debrief, you want in?

[2017-05-02 21:24] hannahkane commented on #863
Final copy is here: https://docs.google.com/document/d/17I8lRVknvicmhLTP-TO1HGBfLPEmkvx4-7PVfIV_XU4/edit

Note: We still need ShareProgress copy from @levjoy, please!

[2017-05-02 21:25] hannahkane commented on #862
@ScottDowne - we have the copy now! https://docs.google.com/document/d/17I8lRVknvicmhLTP-TO1HGBfLPEmkvx4-7PVfIV_XU4/edit

Still waiting on ShareProgress copy + the image.

[2017-05-02 21:36] hannahkane commented on #874
Noting that we're probably not going to use the term "Cyber Tips" after all, given its other connotations, per conversation with @HPaulJohnson and @lovegushwa. Can you guys please provide some guidance on naming / branding when you can? Thanks!

[2017-05-02 23:01] brettgaylor commented on #844
These are great!

Two things:
1) we had to replace Bundestag with Reichstag.  Could you swap that in @beccaklam ?
2) Feels like this is a good opporunity to try the new brand - I was talking to  Bradley Cohen there about using Paperstorm as an opportunity to explore the identity system.  Could we try adding the moz://a, plus "Paper Storm" below in this images as a way to explore the lockup?

[2017-05-03 00:04] brettgaylor commented on #844
Here's the deck they've circulated:
https://docs.google.com/presentation/d/1oToaX4Q96ysuz1p9sFeTvtJBi7gG7u6ckddeT4iAXs0/edit#slide=id.g1db296cfe6_1_59

You can see there that Paperstorm would be an example of the "supported by" system on page 4-5

[2017-05-03 00:13] lovegushwa commented on #844
@beccaklam @brettgaylor so Bundestag and Reichstag are the same building, so nothing to change!

[2017-05-03 01:17] HPaulJohnson commented on #863
@hannahkane here is copy for Share Progress:

https://docs.google.com/document/d/1fch2gBIE_CA_ogK9xncuqZuJwnxN8sdgpblfrEbo4-s/edit

@lovegushwa to supply FB share image tomorrow

Let me know if you need anything else. cc/ @levjoy

[2017-05-03 01:24] HPaulJohnson commented on #868
Working on snippet copy here:

https://docs.google.com/document/d/1pQnAml4Qo9ZBGBe4GYK6lIKLONMJxXwEQY8Yy9a1DjA/edit

Started with May 4th themed ideas and will add in more evergreen ideas in the a.m. @levjoy, if you have additional ideas please add to this doc.

RE: 5/4 version, we are pretty tight on timeline and I repurposed copy as much as possible from email and petition but it's unclear what

[2017-05-03 02:18] lovegushwa commented on #865
@ScottDowne the petition site graphic is ready:
(hit me up with a preview so I can make sure the 'NO' looks good as a responsive image.)

https://drive.google.com/file/d/0B2qu3ExKWIlvb1NKNWJzR3FiSW8/view?usp=sharing

[2017-05-03 02:22] lovegushwa commented on #866
@WillatMozFdn
Here are a few email callout options. 'Darth Pai' is my favorite:
(Will should we run a test?)

https://drive.google.com/file/d/0B2qu3ExKWIlvWFlsZDNwbEM5UGM/view?usp=sharing
https://drive.google.com/file/d/0B2qu3ExKWIlvTVdaSVU0VFF3M0k/view?usp=sharing
https://drive.google.com/file/d/0B2qu3ExKWIlvR2c4dFpDYWJYNWc/view?usp=sharing

[2017-05-03 02:48] ScottDowne commented on #865
Done: https://advocacy-mozilla-org-staging.herokuapp.com/en-US/net-neutrality/

[2017-05-03 14:15] beccaklam commented on #844
@lovegushwa @brettgaylor @natalieworth @hannahkane put some lockup options in the redpen: https://redpen.io/kbe6f2655aa4c4f369

[2017-05-03 16:02] ScottDowne commented on #867
I'm going to close this.  We can iterate on new things as we find them in new issues.

[2017-05-03 16:02] #867 closed, assigned to ScottDowne, beccaklam

[2017-05-03 16:20] hannahkane commented on #863
cc @ScottDowne ^

[2017-05-03 16:21] hannahkane commented on #863
Closing this ticket, since we have all copy now.

[2017-05-03 16:21] #863 closed, assigned to nobody

[2017-05-03 16:37] #865 closed, assigned to lovegushwa

[2017-05-03 16:47] hannahkane commented on #842
@WillatMozFdn - do you have a draft of the copy so @beccaklam can make the callout?

[2017-05-03 17:08] hannahkane commented on #862
Closing this ticket, and opening new ones for small things discovered in QA.

[2017-05-03 17:08] #862 closed, assigned to ScottDowne

[2017-05-03 17:09] hannahkane opened #875 "Add ShareProgress copy to NN petition site"
https://docs.google.com/document/d/1fch2gBIE_CA_ogK9xncuqZuJwnxN8sdgpblfrEbo4-s/edit

[2017-05-03 17:53] hannahkane commented on #868
Per Ashley's email, we have final approval on email and petition language. :)

[2017-05-03 17:53] hannahkane commented on #771
@stephaniemcv ^ sure, if I haven't already missed it!

[2017-05-03 20:19] hannahkane commented on #875
This is done

[2017-05-03 20:19] #875 closed, assigned to ScottDowne

[2017-05-03 22:59] hannahkane commented on #868
I believe this is done. Closing!

[2017-05-03 22:59] #868 closed, assigned to HPaulJohnson, lovegushwa

[2017-05-03 23:28] brettgaylor commented on #840
Yo @natalieworth !

So I found some tunes and did some audio work, and added screencasts.  Here's a rough output
https://dl.dropboxusercontent.com/u/7968133/Paper%20Storm%20RR.mp4

Some thoughts:
-the text seems to go by too quickly.  We could either edit the text (hard with localization happening in parralel) or try some different layout approaches?
-the titles at the end i made terrible - can yo

[2017-05-04 00:10] TheoChevalier commented on #840
Yeah, and it will probably need to be even slower for localized versions. You can try with the German version, freshly baked (strings for the video are at the bottom of the page) https://l10n.mozilla-community.org/langchecker/?website=6&file=social/2017/paperstorm.lang&action=translate&show

[2017-05-04 01:04] natalieworth commented on #840
Sweet thanks brett! This looks so good so far! I'll make type adjustments
and try and find some hand models in the office tomorrow morning :D I think
I could definitely adjust the timing of the words too. I'll experiment a
bit with the timing more

On Wed, May 3, 2017 at 4:28 PM, Brett Gaylor <notifications@github.com>
wrote:

--
Junior Designer, Vancouver
natalie@mozillafoundation.org

[2017-05-04 14:05] beccaklam commented on #844
@brettgaylor @lovegushwa @hannahkane @natalieworth final social exports here:
https://redpen.io/hy297f61918beb1cd4 <-- redpen
![paperstorm-social-1](https://cloud.githubusercontent.com/assets/20977376/25707288/0bd0a5e0-30b1-11e7-8d85-5bfce4b6f16f.jpg)
![paperstorm-social-2](https://cloud.githubusercontent.com/assets/20977376/25707290/0bd8c626-30b1-11e7-923e-b67379dc1b1d.jpg)
![paperstorm-social-3]

[2017-05-04 16:46] hannahkane commented on #842
ping @WillatMozFdn and @brettgaylor - do we have a target date for sending this?

[2017-05-04 18:32] lovegushwa opened #876 "Bug: NN petition, change how mozilla is written in copy"
@ScottDowne replace "moz://a"  with "Mozilla" in the body copy ... and should also not be in a bolder weight, should be the same weight as the body copy.

<img width="497" alt="screen shot 2017-05-04 at 11 20 49 am" src="https://cloud.githubusercontent.com/assets/12228435/25718780/3556567a-30bc-11e7-9486-df4494378348.png">
<img width="866" alt="screen shot 2017-05-04 at 11 20 55 am" src="https://c

[2017-05-04 18:54] ScottDowne commented on #876
@lovegushwa That's a feature of the Zilla font. It does that all by itself. The characters and bold changes.

I can turn it off only by making those lines not the Zilla font.

[2017-05-04 18:55] lovegushwa opened #877 "Bug: NN petition, fix header logo"
@ScottDowne the header logo is a little bit off.
Should be implemented with the "highlight bold weight" ... no need to draw a box around the type, that weight includes the box.

<img width="457" alt="screen shot 2017-05-04 at 11 52 47 am" src="https://cloud.githubusercontent.com/assets/12228435/25720026/45cac6c2-30c0-11e7-8ae3-f72ee405ee2e.png">

[2017-05-04 19:10] lovegushwa commented on #876
@ScottDowne I slacked you a updated version of the typeface, should fix this issue.

[2017-05-04 20:07] beccaklam commented on #844
@hannahkane @lovegushwa @natalieworth @brettgaylor All the final social files can be found in this folder: https://drive.google.com/drive/folders/0BzuBOR2VJQqUbzJYemh6WFc5NTg?usp=sharing
All my files are in this folder: https://drive.google.com/drive/folders/0BzuBOR2VJQqUZ01fX2U5SFRVQTg?usp=sharing

[2017-05-04 21:14] beccaklam commented on #799
@hannahkane @lovegushwa @natalieworth @HPaulJohnson
I added some first draft UI for the Safety Tips site to this redpen:
https://redpen.io/p/kyf3f62200a887e56f
I also added some new ideas for the subscription button where users can sign up their e-mail. I did some more research on editorial sites and the convention is to have the subscribe button top right. Will work on fleshing out the UI further

[2017-05-04 21:40] hannahkane commented on #844
Nice work, @beccaklam!

@lovegushwa @brettgaylor - are we good to close this ticket?

[2017-05-04 22:30] hannahkane opened #878 "URL for landing page"
Dependent on resolving naming / scope questions

Please don't include any url ideas here. This is meant to serve as a reminder that we need to choose a url.

[2017-05-04 23:09] brettgaylor commented on #844
Good from my end!

On May 4, 2017 5:40 PM, "hannahkane" <notifications@github.com> wrote:

[2017-05-04 23:39] #844 closed, assigned to natalieworth, beccaklam

[2017-05-05 00:19] natalieworth commented on #840
@brettgaylor adjusted the video and tweaked some things so the captions stay on screen a bit longer. Have the updated version here:
https://drive.google.com/drive/folders/0B20-0lpP23c0bV9nZWk3NUZQVzA

Also did a draft export here:
https://drive.google.com/drive/folders/0B20-0lpP23c0b3hyaUs2dXRyOEk

Did we want to add the mozilla logo or the 'm' bug to this too? I don't think we put it in previous

[2017-05-05 00:20] natalieworth commented on #840
@TheoChevalier feel free to check out the exported English version too above ^

[2017-05-05 00:42] TheoChevalier commented on #840
@natalieworth Thanks, I think the caption speed is slow enough now.

I also just noticed that there is a caption that’s not part of the copy here https://docs.google.com/document/d/1yvEeOYJp6mvT97BCo_rwFfgCcgJwlul1WUAUfrecF8w/edit
“Can you be the first to cover your city, or your country with pamphlets?”

[2017-05-05 01:43] brettgaylor commented on #840
Darnit. That looks like my copy paste fail, Theo :( think we will need to
circulate that.

On May 4, 2017 8:42 PM, "Théo Chevalier" <notifications@github.com> wrote:

[2017-05-05 01:52] TheoChevalier commented on #840
Gah, ok, just exposed the string on Pontoon

[2017-05-05 02:24] TheoChevalier commented on #841
Still waiting for a final review for Italian snippets, but we should have all of them ready today (updated completed locales).

[2017-05-05 14:55] brettgaylor commented on #840
@natalieworth its great!  I have notes of course :)

-at :05, I think its important that the first image we see is actually of the paperstorm interface. I know its probably a bit distracting, the zoom in, so maybe just play with some of the source material?
-Solid effort on filming the hand, but i think my first version is actually better since it is more still
-can you do a quick fade at the begi

[2017-05-05 15:03] HPaulJohnson commented on #840
Paid will have to push out until later in the week if we don't get these until EOD Monday. Setup and QA is not insignificant given we are dealing with a bunch of different localized versions of the ad.

[2017-05-05 16:46] lovegushwa commented on #870
@hannahkane @HPaulJohnson ... social is ongoing, you will find assets here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvLXRMaFhPdWtEOHc?usp=sharing

gdoc with copy is here:
https://docs.google.com/document/d/1yeStfQubIxDb5IH4qD9gF6dkjJf3w61QH_UgHDuayZs/edit

[2017-05-06 13:50] TheoChevalier commented on #841
Italian is now ready too. Looks like the icon is the last missing piece

[2017-05-08 17:20] WillatMozFdn commented on #842
Email draft is here: https://docs.google.com/a/mozilla.com/document/d/199tAmvZhcqOa0QI6d9782j6T8ygGBgIe5vcBZauMzX4/edit?usp=sharing ... target date for the send is Thursday night the 11th (will set up the test to go out morning European time).

[2017-05-08 17:28] WillatMozFdn commented on #842
@beccaklam (or @natalieworth ) -- the two callout box images I'd like to test in the email are basically screen grabs of what someone sees as they're using the paperstorm site (targeted on European parliament building).  The first is static ... the other would be an animated version of that with paper falling from the sky.  Size is 250 x 250 and of course need to keep file size reasonable -- so ma

[2017-05-08 18:33] beccaklam commented on #842
@WillatMozFdn
Here is the gif and static graphic as requested. The gif is 625 KB and the static is 106KB. I made the static one 500x500 to accommodate for retina. Let me know if you need any changes!
![paperstorm-email-callout](https://cloud.githubusercontent.com/assets/20977376/25818748/aecdd164-33f9-11e7-8def-10a44a7ccc15.gif)
![giphy-static-2](https://cloud.githubusercontent.com/assets/20977376

[2017-05-08 18:37] HPaulJohnson commented on #841
Final versions, with translations and icons, submitted to snippet team today:

https://docs.google.com/document/d/1VjHa2H6xgJFABjeLAgnLTPoDBmcguM1xqwUnGWPS5KE/edit

[2017-05-08 18:42] brettgaylor commented on #841
Do we have an ETA from Snippet team as to when they'll turn it out?

We want to make sure @cadecairos is online when it happens so we can just monitor traffic surges - so morning Eastern time.

[2017-05-08 18:45] brettgaylor commented on #840
@natalieworth how is progress on localized versions?

[2017-05-08 19:12] HPaulJohnson commented on #841
@brettgaylor @cadecairos this is planned to go live tomorrow a.m. EU time and run for two weeks.

[2017-05-08 19:15] brettgaylor commented on #841
Do you know if we can request a specific time - like -  14:00 CET, 9am EST?

On May 8, 2017 12:12 PM, "Paul Johnson" <notifications@github.com> wrote:

[2017-05-08 19:31] natalieworth commented on #840
@brettgaylor @HPaulJohnson  working on these today

[2017-05-08 21:02] HPaulJohnson commented on #844
All of the social with translations in a single doc:

https://docs.google.com/document/d/1aTSTy1wOMssbLIbgyC0jKr8qr0cgzhuLirn6tXEvDLA/edit

Shared with comms and moco social teams as well.

Once we have the video asset we can get paid campaign setup and wrap this up.

[2017-05-08 21:16] beccaklam commented on #799
@hannahkane @lovegushwa @HPaulJohnson @natalieworth Safety Tips UI Design update:
https://redpen.io/ngb8baa84428aa19d8

[2017-05-08 21:29] WillatMozFdn commented on #842
Nailed it, @beccaklam !!!  I think these are EXACTLY what we need.  Thanks!!!!

[2017-05-08 21:30] HPaulJohnson commented on #841
Scheduled for 9 am EST tomorrow.

[2017-05-08 21:52] cadecairos commented on #841
Great, I'll keep my eyes on the health checks.

[2017-05-08 22:52] hannahkane commented on #799
I put a couple small comments on the redpen, but just wanted to say here that I'm digging this!

[2017-05-09 00:01] HPaulJohnson commented on #799
I agree with Hannah - really love how these are developing. I think the removal of the numbers on the vids helps and I think the "subscribe" in the upper right hand corner is the best place for that CTA.

[2017-05-09 00:35] hannahkane opened #879 "Update Media deck with results pages"
As discussed during today's planning meeting, let's update the deck with all of the product ideas with a "results" page for each product we've already shipped.

[2017-05-09 00:35] hannahkane commented on #879
@HPaulJohnson - can you link to the deck here?

[2017-05-09 00:39] hannahkane opened #880 "end of life plan for petitions"
How are we going to end-of-life petitions?

Options include:
 * Do nothing. Keep them open indefinitely. (Periodic updates to SF?)
 * Keep the page alive, but replace the form with a "we're no longer accepting signatures" message.
 * Kill the page.

@stephaniemcv @ScottDowne @HPaulJohnson @lovegushwa @levjoy @caltrider - any opinions on this?

[2017-05-09 12:49] WillatMozFdn commented on #880
I not a fan of the "do nothing" option -- that's basically an open-ended
commitment ... so within 6-12 months, those periodic updates will be
unmanageable and a giant time-suck for Scott and Stephanie (with, most
likely, very little return). Also, petitions often go stale once
circumstances move on.

The second option -- just close it off and not accept new signatures --
seems best to me.

(And of

[2017-05-09 14:28] ScottDowne commented on #880
I don't have a strong opinion about the three options, but if I had to pick something, I would say just kill it, and redirect it somewhere.

For the future, I think ideally, we get to a point where we bring back petitions.mozilla.org, then we can put all our petitions there under a path, like petitions.mozilla.org/copyright or petitions.mozilla.org/net-neutrality. Then we can put which ever campai

[2017-05-09 14:31] stephaniemcv commented on #880
I also vote for killing and redirecting.

[2017-05-09 15:16] hannahkane commented on #880
What would we redirect to?

@ScottDowne's suggestion re: petitions.m.o suggests we'd redirect to a newer petition, but I think that's potentially confusing. If you thought you were going to a copyright petition, and instead landed on a net neutrality petition, it would probably seem like a bug.

I do like the idea of petitions.m.o, and I think that workflow could be finessed a bit. We could have a

[2017-05-09 15:30] brettgaylor opened #881 "BUG: tweets need https:// in twitter to be clickable"
Current @mozilla tweet isn't clickable because it isn't recognizing paperstorm.it as a URL
![image](https://cloud.githubusercontent.com/assets/345974/25858845/c82fb7ce-34aa-11e7-82bc-3270f0d147b2.png)

Let's make sure we have the full URL for future tweets - can we fix/repost that one?

@HPaulJohnson not sure who has their finger on the tweet trigger

[2017-05-09 15:41] ScottDowne commented on #880
@hannahkane yeah, I like that idea better around "Sorry, copyright is no longer accepting signatures. But have you tried net neutrality?" and agree that a straight up redirect would seem like a bug.

[2017-05-09 15:41] natalieworth commented on #840
@brettgaylor @TheoChevalier Localized version are all uploaded here for review: https://drive.google.com/drive/folders/0B20-0lpP23c0ejFHaGtzeHVNUDA

[2017-05-09 16:22] HPaulJohnson commented on #840
Love the way these turned out. @brettgaylor @TheoChevalier let me know when we have final approval and we'll start loading them up and pushing them out.

[2017-05-09 16:46] #878 closed, assigned to HPaulJohnson

[2017-05-09 16:48] natalieworth commented on #841
For ticket reference, I've uploaded the final export files and gifs here @1x and @2x sizes:
https://drive.google.com/drive/folders/0B20-0lpP23c0Nm1pSHcwVU5UMFE

My illustrator files for the static icons are here in case there are any size/ resolution issues: https://drive.google.com/drive/folders/0B20-0lpP23c0azJOeW5HdkxpS3c

[2017-05-09 16:56] hannahkane commented on #872
@beccaklam and @HPaulJohnson to co-create this

[2017-05-09 17:23] hannahkane opened #882 "SafetyFirst video: Password Manager"
Content TK

Localization needs TK

Assignee TK

:)

[2017-05-09 17:24] hannahkane opened #883 "SafetyFirst video: Encryption"
Content TK

Localization needs TK

Assignee TK

[2017-05-09 17:24] hannahkane opened #884 "SafetyFirst video: Ransomware"
Content TK

Localization needs TK

Assignee TK

[2017-05-09 17:27] hannahkane opened #885 "Design: Due July 12 - Half-page ad"
Mozilla is sponsoring Netroots Nation this August, and as part of the sponsorship deal we get an ad in the program (spec details below).

Netroots reaches an audience of about 2k bloggers, grassroots activists, and progressive organizers focused on US issues. Recently, Black Lives Matter and the Bernie Sanders campaign were heavily promoted at the conference.

Specs: Full Color (CMYK), 7.5” wide x

[2017-05-09 17:30] HPaulJohnson commented on #881
I let Kevin Z and Liz know for future tweets. Not sure who posted this particular one but both of them and me will have our fingers on the tweet trigger from time to time.

For this particular one, we are just going to have to live with it.

[2017-05-09 17:30] #881 closed, assigned to HPaulJohnson

[2017-05-09 17:57] brettgaylor commented on #840
All good from my end!

On Tue, May 9, 2017 at 12:22 PM, Paul Johnson <notifications@github.com>
wrote:

[2017-05-09 20:30] TheoChevalier commented on #840
Thanks @natalieworth , here’s some feedback for the French one:

0:04, tempête ideally on a single word, if we have no choice, TEM- PÊTE (we need a hyphen after TEM if it’s on a new line. Note that it’s cut after M). OR, shorter one for this screen: “LANÇONS UNE TEMPÊTE DE TRACTS !”. Current version might be a little fast, but with this shorter text it should be okay.

0:31, we need to to move ","

[2017-05-09 21:56] natalieworth commented on #840
@TheoChevalier great thanks for catching those. Just uploaded a new version with your revisions in the google drive folder https://drive.google.com/drive/folders/0B20-0lpP23c0ejFHaGtzeHVNUDA

[2017-05-09 22:04] TheoChevalier commented on #840
Woop, thanks! French is good to go. Just received the Italian feedback:

I arranged each subtitle on a different line, the break-line is where next subtitle starts.
In one case I trimmed the text a bit (too many words per second).

Se hai mai condiviso un meme o guardato un
video online, la riforma riguarda anche te!

Condividi meme? Guardi video online?
Allora la riforma riguarda anche te!

Tappe

[2017-05-10 11:47] TheoChevalier commented on #840
And here’s the feedback for ES:

[2017-05-10 18:41] hannahkane opened #886 "MAY 18: Build FCC comment collection page"
## Background
As part of our urgent Net Neutrality campaign, we will be collecting public comments to submit to the FCC. We will provide guidance and talking points to support people in crafting their comments.

## Content
Specific content and form requirements to come from @levjoy and Ashley, but we know the form will include additional fields required by the FCC comment submission system

## Des

[2017-05-10 18:49] hannahkane opened #887 "Bulk submission of comments to FCC"
We're building a [front-end to collect comments](#886) from the public in regards to the potential for new net neutrality rules from the FCC.

We'll need to devise a mechanism for delivering those comments to the FCC. Can be delivered in bulk or in batches, but needs to account for FCC backend instability.

Deadline will be determined by effort estimate.

[2017-05-10 18:49] hannahkane commented on #887
Hoping @simonwex can lead on this

[2017-05-10 18:56] hannahkane opened #888 "ASAP: Content and requirements for FCC comments front-end"
- [x] form fields, in preferred order (including checkbox for permission to use comment publicly)
- [x] which form fields are optional/required
- [x] additional field validation, if any + error messages (including, for example, if there's a character minimum or maximum for the Comment field)
- [x] desired url and path (final: advocacy.mozilla.org/net-neutrality-comments)
- [x] page content
  - [ ]

[2017-05-10 19:01] hannahkane commented on #869
Closing in lieu of other tickets.

[2017-05-10 19:01] #869 closed, assigned to ScottDowne, hannahkane

[2017-05-10 19:18] beccaklam commented on #799
Added some more modal design options along with some fixes to the comments @hannahkane left above and some alternate UI style options: https://redpen.io/p/kyf3f62200a887e56f
CC: @hannahkane @lovegushwa @HPaulJohnson @natalieworth

[2017-05-10 22:47] hannahkane commented on #799
These are all nice options! Will leave to others to decide.

[2017-05-10 23:13] HPaulJohnson commented on #879
needs updating but here's the version from a month or so again. we have our next meeting with moco to share plans on 5/12 so I'll be updating this week. Maybe next week we can start to add in the results slides?

https://docs.google.com/presentation/d/1VhZvR-Y4xeHZhbs3wAEBKbR9a2xhzXIfC6iOHLM1344/edit#slide=id.gd58133b56_0_69

[2017-05-10 23:16] hannahkane commented on #879
Sounds good. When is Vojtech back?

Let me know if/how I can help.

[2017-05-10 23:17] HPaulJohnson commented on #879
Monday, I think?

[2017-05-10 23:25] natalieworth commented on #799
@beccaklam @lovegushwa uploaded the UI based on some direction changes yesterday and with a new font (just one version so far—still gotta refine any others) https://redpen.io/ng2ed085bac7c218d1
Font is place holder for now, but the closest I had on my computer to the similar style was Plak
@lovegushwa does this UI feel right for what you were thinking? trying to make it feel mozilla-y too :D

[2017-05-11 14:32] beccaklam commented on #799
@hannahkane @lovegushwa @HPaulJohnson @natalieworth Added some alternative inner page options after looking at youtube and vimeo pages more closely. These have the gallery of 'more videos' stacked on the right hand side and are more conducive to successive watching I think.
https://redpen.io/p/kyf3f62200a887e56f <-- redpen for comments
![safety tips sketch 2 copy 5](https://cloud.githubusercontent

[2017-05-11 17:03] levjoy commented on #888
Form field info and other notes here: https://docs.google.com/document/d/1F5I2ZDMKUhfe6uQOKuTEL0XTx6Hyrkbo_lpFLjQ9WU4/edit

Content to come.

[2017-05-11 18:40] hannahkane commented on #886
path: advocacy.mozilla.org/net-neutrality-comments

[2017-05-11 18:43] hannahkane commented on #888
Thanks, @levjoy! I added some questions; some for you and some for @ScottDowne.

[2017-05-12 00:16] brettgaylor opened #889 "Celebratory paperstorm tweet"
We have covered the EU parliament + Eiffel tower, and likely Prague Castle by tomorrow morning.

Should we send out some tweets?  These are the ones we pre-wrote:
Yes! We dropped 10 000 000 leaflets dropped on the EU Parliament! 🎉  We think @comodinicachia noticed :) Join paperstorm.it!

^^ use some of the graphics we haven't used yet?  I also have some screen grabs

OMG @JeanMarieCAVADA the Eiffe

[2017-05-12 16:19] caltrider commented on #880
I like @hannahkane's suggestion. Let's go with the  petitions.m.o shut down, redirect with the message of "Sorry, copyright is no longer accepting signatures. But have you tried net neutrality?"

That work for everyone @WillatMozFdn @ScottDowne @stephaniemcv @hannahkane?

[2017-05-12 17:03] hannahkane opened #890 "Design: NN Social for Foxy Goes to Washingon"
Deliverables:

- 2 posts for Monday
- 2 posts for Tuesday

Message:
- Foxy is packing and heading to Washington!

Channels:
- social, including Reddit

[2017-05-12 17:03] hannahkane commented on #890
cc @caltrider

[2017-05-12 17:06] hannahkane opened #891 "Design: NN stickers!"
Potential elements:

- mozilla logo
- "Save the Internet"
- "#netneutrality"

@natalieworth to work on design + logistics of rush printing in DC (for use on Tuesday)

[2017-05-12 17:06] hannahkane commented on #891
cc @caltrider

[2017-05-12 17:09] hannahkane opened #892 "Design: NN comment collection page"
We're using the NN petition as a basis, but will need to make design adjustments to accommodate the very different form.

@beccaklam - you can see the form fields and, as of now, draft copy in [this doc](https://docs.google.com/document/d/1F5I2ZDMKUhfe6uQOKuTEL0XTx6Hyrkbo_lpFLjQ9WU4/edit#)

Things we've discussed:

- smaller hero image
- we need to figure out what to signal to the user in terms of

[2017-05-12 17:11] hannahkane commented on #870
Initial social is done, so closing this ticket. Opened a new ticket ( #890 ) for social specifically related to the "Foxy Goes to Washington" story

[2017-05-12 17:11] #870 closed, assigned to lovegushwa

[2017-05-12 17:19] stephaniemcv commented on #880
Works for me!

[2017-05-12 17:39] WillatMozFdn opened #893 "Animated gifs for FR, DE, ES Paperstorm emails"
As expected, the animated gifs won out in the testing we did this morning with the Paperstorm email.

So for French, German and Spanish versions -- aiming to launch on May 18 or 19 -- we should use the same kind of graphic, only ... showing the flyers flying in these three respective languages instead of English.

Make sense?

*Start date: May 12, 2017*
*Due date: May 17, 2017*
Note: The dates nee

[2017-05-12 17:45] hannahkane commented on #840
Closing this. Please re-open if that's wrong.

[2017-05-12 17:45] #840 closed, assigned to natalieworth

[2017-05-12 17:45] hannahkane commented on #841
Closing. Please re-open if incorrect.

[2017-05-12 17:45] #841 closed, assigned to brettgaylor, TheoChevalier, HPaulJohnson

[2017-05-12 18:16] beccaklam commented on #892
@hannahkane So I looked over the doc. I'm a bit confused: are we creating our own version of the form the FCC already has on their site? https://www.fcc.gov/ecfs/filings/express

[2017-05-12 18:25] hannahkane commented on #892
Sorry, @beccaklam, I should have explained more. Yes, the FCC has a form, but we're going to host our own front-end to collect the required info, and then submit to the FCC site on behalf of our users.

The motivation behind this is two-fold: 1) so we can drive our users to comment with a better user experience than what the FCC provides, and 2) so we can count the number of actions our users have

[2017-05-12 19:23] beccaklam commented on #892
@hannahkane sounds good. I'm proposing something like this design for the comment collection page. I basically just tweaked the design I made for the Soapbox Engage Template:
![comment collection page](https://cloud.githubusercontent.com/assets/20977376/26013525/de7d4888-3726-11e7-9faf-36bd6eb066bd.png)

[2017-05-12 19:23] beccaklam commented on #892
@hannahkane ^ this is all just dummy content

[2017-05-12 20:04] hannahkane commented on #892
From a product/goals perspective, this is a great iteration. Thanks, @beccaklam.

[2017-05-12 20:17] beccaklam commented on #893
@WillatMozFdn Here are the DE and FR gifs. The ES version of paperstorm.it is currently buggy. Will try on Monday again. CC: @hannahkane
![de](https://cloud.githubusercontent.com/assets/20977376/26015271/63b54594-372e-11e7-9e77-ef5f480919ac.gif)
![fr](https://cloud.githubusercontent.com/assets/20977376/26015283/6bb147de-372e-11e7-9749-64d939016c40.gif)

[2017-05-12 20:25] WillatMozFdn commented on #893
Awesome, thanks @beccaklam!

On Fri, May 12, 2017 at 4:17 PM, beccaklam <notifications@github.com> wrote:

[2017-05-13 00:06] hannahkane opened #894 "Compare Call Congress tools"
We need a call tool that meets the following requirements:

- Matches U.S.'ians to their Congresspersons and Senators, based on geography (either zip code, or lat/long), and initiates a phone call between the user and the target
- Allows for us to add corporate targets as well
- passes security and vendor reviews

The following requirements are nice-to-haves:
- localizable
- ability for user to in

[2017-05-13 00:06] hannahkane commented on #894
@ScottDowne - are there add'l technical requirements you'd want to add? Please update the first comment accordingly. :)

[2017-05-13 00:08] hannahkane commented on #894
@ScottDowne - a good deliverable for this might be a matrix comparing different products across features and technical specs. Alternately, the deliverable could just be your opinion and rationale for what tool we should use.

[2017-05-15 17:19] beccaklam commented on #893
@WillatMozFdn Here is the ES gif:
![es](https://cloud.githubusercontent.com/assets/20977376/26069536/3062d2cc-396f-11e7-9457-0216f171c57a.gif)

[2017-05-15 18:45] beccaklam commented on #892
@hannahkane @ScottDowne @lovegushwa
Updated the design with the copy and form fields:
Note: I tried to make it look more 'serious'.
https://redpen.io/p/fq8e4b885ee77e3b9f <-- redpen for comments
![desktop hd copy 3](https://cloud.githubusercontent.com/assets/20977376/26076388/9c78a768-3986-11e7-9044-df1996cbc18c.png)

If a user checks the e-mail box:

![desktop hd copy 4](https://cloud.githubuserc

[2017-05-15 19:43] hannahkane commented on #892
@beccaklam - thanks for this iteration! I think it looks great. Have invited @levjoy to comment and offer feedback about the more formal/serious direction.

[2017-05-15 19:59] hannahkane commented on #892
@beccaklam - do you have an idea about what the hero image might be? @lovegushwa - will we have Foxy images we can use?

[2017-05-15 21:22] hannahkane commented on #892
per planning conversation, sounds like we want to try the broken glass image. @lovegushwa - can you get that to @beccaklam to try, please?

[2017-05-15 21:36] beccaklam commented on #892
@hannahkane @lovegushwa @ScottDowne

![desktop hd copy 3](https://cloud.githubusercontent.com/assets/20977376/26080319/f56268ac-3993-11e7-937d-0dc83e69cf8a.png)
![desktop hd copy 4](https://cloud.githubusercontent.com/assets/20977376/26080318/f55dba50-3993-11e7-9019-0fee7524ccf6.png)

[2017-05-16 14:58] beccaklam commented on #892
@hannahkane @lovegushwa @ScottDowne  Added some minor changes to the desktop version (i.e. moving privacy policy sentence before the 'submit your comment' button, and also did another treatment for the title to see if it feels more onbrand) and added mobile screens. You can see them in the redpen (mobile screens don't translate well to github in my opinion): https://redpen.io/p/fq8e4b885ee77e3b9f

[2017-05-16 16:36] hannahkane commented on #891
@natalieworth - are we good to close this ticket?

[2017-05-16 17:07] natalieworth commented on #891
@hannahkane yeah! sent the stickers to Jen on Friday

[2017-05-16 17:07] #891 closed, assigned to natalieworth

[2017-05-16 18:19] beccaklam commented on #892
@hannahkane @lovegushwa @ScottDowne Updated the NN comment collection design mock up with the final text: https://redpen.io/p/fq8e4b885ee77e3b9f Just waiting on image from @lovegushwa

[2017-05-16 18:39] hannahkane opened #895 "Submit Voicemails to the FCC"

[2017-05-16 22:09] hannahkane commented on #892
@lovegushwa @beccaklam - how are you feeling about the site design with the Foxy image? Are we good to close this?

[2017-05-16 22:17] hannahkane commented on #892
Flagging that if we do go with Foxy for now, we'll have to change it later as the drivers for this site (email, social, etc.) get less Foxy-specific. This image is super weird without the additional Foxy context.

[2017-05-17 16:34] WillatMozFdn commented on #893
Confirmed that we do need the Italian animated gif ... hopefully the site
is less buggy now?

Possible by 5 PM eastern time tomorrow, so I can queue up the email for
Friday (EU time) launch?

many thanks!!

 - Will

On Mon, May 15, 2017 at 1:19 PM, beccaklam <notifications@github.com> wrote:

[2017-05-17 16:35] #892 closed, assigned to beccaklam

[2017-05-17 16:41] #888 closed, assigned to levjoy

[2017-05-17 16:53] #871 closed, assigned to HPaulJohnson, lovegushwa, caltrider

[2017-05-17 16:56] #842 closed, assigned to brettgaylor, beccaklam, WillatMozFdn

[2017-05-17 17:02] hannahkane opened #896 "Replace Foxy image on NN comment collection page"
After the Foxy-specific content has run its course, let's replace the image on the NN comment collection page with the broken glass image.

- [ ] update image cropping
- [ ] replace image

[2017-05-17 18:13] #876 closed, assigned to ScottDowne

[2017-05-17 18:13] #877 closed, assigned to ScottDowne

[2017-05-17 18:20] lovegushwa opened #897 "Bug: Fix em-dash's on petition site"
@ScottDowne can you fix the em dashes on the new petition site?
https://advocacy-mozilla-org-staging.herokuapp.com/en-US/net-neutrality-comments/#advocacy

one after needed "neutrality"
<img width="707" alt="screen shot 2017-05-17 at 10 42 26 am" src="https://cloud.githubusercontent.com/assets/12228435/26169444/85d991c6-3af2-11e7-92d2-bc251e3b972a.png">

two needed in the sentence "Net neutrality

[2017-05-17 18:25] lovegushwa opened #898 "Bug: replace logo on new petition site with SVG"
Hey @ScottDowne, the logo as implemented is not on brand. Can you replace it with a logo SVG you can download here? https://mozilla.ninja/s/Mozilla_Large-Logo_Black-and-white.zip

<img width="425" alt="screen shot 2017-05-17 at 11 22 19 am" src="https://cloud.githubusercontent.com/assets/12228435/26169654/679baaa4-3af3-11e7-9b85-feb3b84c24d8.png">

[2017-05-17 19:18] ScottDowne commented on #897
Done

[2017-05-17 19:18] #897 closed, assigned to ScottDowne

[2017-05-17 19:20] ScottDowne commented on #898
Is the idea we want it to be pixel perfect? Or is their some weird reason we need to use an svg for this?

I would like to keep doing this with css, if possible. I can get them the same with css.

[2017-05-17 19:31] beccaklam commented on #893
@WillatMozFdn  Here you go! Can you close this ticket if we're good? Thanks :)
![it](https://cloud.githubusercontent.com/assets/20977376/26172322/f9e1d6dc-3b15-11e7-9c05-21bd9a474a14.gif)

[2017-05-17 19:32] WillatMozFdn commented on #893
all good, please go ahead and close.  thanks!!!!

On Wed, May 17, 2017 at 3:31 PM, beccaklam <notifications@github.com> wrote:

[2017-05-17 19:35] #893 closed, assigned to beccaklam

[2017-05-17 20:35] hannahkane commented on #880
per conversation with @stephwright - for the iheartopendata letter, we're going to keep the page live, but replace the form with copy.

Thanks, all, for your feedback on this issue. I'll close this ticket, and will open new ones for the implementation details.

[2017-05-17 21:39] #898 closed, assigned to ScottDowne

[2017-05-18 00:41] hannahkane opened #899 "Replace form on iheartopendata with copy"
@stephwright - what do you think of this copy to replace the form? Feel free to offer an alternative if this isn't striking the right note.

Thank you!
Thank you to the more than 24,000 of you who agreed and signed our statement of principles. We're no longer accepting new signatures, but we're continuing the work of advocating for open data over at science.mozilla.org.

- [x] finalize copy
- [ ]

[2017-05-18 00:44] stephwright commented on #899
Perfect from my perspective!

[2017-05-18 00:46] hannahkane commented on #880
Sorry, just realized the Change Copyright campaign wasn't actually a petition. It's just an email signup. @ScottDowne - do we have to shut it down? Is it not talking directly to basket?

[2017-05-18 01:22] hannahkane commented on #885
Note from May 16 discussion with @HPaulJohnson and @Melechuga: need to have messaging in place by end of All-Hands

[2017-05-18 02:02] ScottDowne commented on #880
Yeah this is still connected to basket. I dunno if we need to shut it down
for any technical reasons.

[2017-05-18 14:14] beccaklam commented on #872
![safety first user journey map](https://cloud.githubusercontent.com/assets/20977376/26206391/b1a70a2a-3bb2-11e7-9617-76d01c816867.png)

[2017-05-18 16:37] roseregina commented on #692
Case#35585

For example, in russia and most of CIS countries and many other countries, WebMoney and Yandex Money are more popular than PayPal.

[2017-05-18 17:30] hannahkane opened #900 "Design: Increase % of ppl confirming their email address"
As discussed on Advocacy call today, let's consider a design solution for increasing the number of people who complete the sign-up process by confirming their email address.

What can we add to the experience to signal that an email is coming and the user needs to click on it?

We can design something specifically for the NN comment collection page, but maybe we should also think more broadly abou

[2017-05-18 17:48] hannahkane opened #901 "QA NN comment collection site"
Staging is here: https://advocacy-mozilla-org-staging.herokuapp.com/en-US/net-neutrality-comments/

 - [x] Design QA ( @beccaklam - feel free to check now if you're good with design )
 - [x] Salesforce QA ( @stephaniemcv - can you please confirm all is well? )
 - [x] Copy QA ( @levjoy - can you give the site a once-over?)
 - [x] Functionality + overall QA ( @hannahkane )

[2017-05-18 18:05] beccaklam commented on #901
@ScottDowne CC: @hannahkane
Not sure why but the form side seems to break a bit when the browser is greater than 1800px:
![screen shot 2017-05-18 at 1 59 31 pm](https://cloud.githubusercontent.com/assets/20977376/26216510/66a8a09a-3bd2-11e7-9122-a70a7d2ccfcd.png)

Is there a reason we're not capitalizing these titles?
![screen shot 2017-05-18 at 1 59 55 pm](https://cloud.githubusercontent.com/asse

[2017-05-18 18:06] WillatMozFdn commented on #901
Also nit-picky -- in the first talking point, can we put the period inside
the quotation marks?

That is,

 Net neutrality has been called the "First Amendment of the Internet".

should be...

Net neutrality has been called the "First Amendment of the Internet."

On Thu, May 18, 2017 at 2:05 PM, beccaklam <notifications@github.com> wrote:

[2017-05-18 18:25] roseregina opened #902 "Switch to PayPal Giving Fund from"
PayPal Giving Fund is a 501c3 that allows other 501c3 organizations to receive donations through PayPal with a reduced processing fee. It also functions as the backbone to many popular low level fundraising pushes, like Humble Bundle.

By registering ourselves with PayPal Giving Fund we may be able to avoid paying some PayPal fees and gain additional donations through additional exposure to suppor

[2017-05-18 19:13] ScottDowne commented on #901
Building those fixes, should be live by the time you read this, cept for "Is there a reason we're not capitalizing these titles?" because the answer is yes, we were requested to keep them all lowercase from MoCo brand.

[2017-05-18 19:43] hannahkane commented on #901
@ScottDowne - Twitter message is missing the first letter.

[2017-05-18 19:46] stephaniemcv commented on #901
staging not hooked up to SF, I can only test in production

[2017-05-18 19:46] hannahkane commented on #901
@ScottDowne - last paragraph in left column feels like a non-sequitur. Suggest removing it and adding "Brief, specific and personal comments are most effective" as placeholder text in the comment field.

![screen shot 2017-05-18 at 3 46 43 pm](https://cloud.githubusercontent.com/assets/8389648/26220654/4fa5f44c-3bc8-11e7-928c-a27cdebb8e78.png)

[2017-05-18 20:10] levjoy commented on #901
Here's suggested revised copy for the Share Progress email copy:

Hi -

I just told the FCC, in my own words, why it needs to scrap its plans to hand over the internet to big cable companies like Comcast, AT&T, and Verizon.

The FCC is inviting public comments on this hugely important issue. Send in YOUR comment in support of net neutrality now. https://advocacy-mozilla-org-staging.herokuapp.com/n

[2017-05-18 20:15] hannahkane commented on #901
@ScottDowne - Can we put a favicon on the ShareProgress page?

[2017-05-18 20:47] stephaniemcv commented on #880
Let's not shut Copyright down, especially if it's just an email signup.

[2017-05-18 21:05] ScottDowne commented on #901
" Twitter message is missing the first letter." Fixed

[2017-05-18 22:29] stephaniemcv commented on #901
All is well with email addresses going into Salesforce and confirm/welcomes firing.

[2017-05-18 22:43] hannahkane commented on #901
OK, I'm going to say we're good to go. There are a few outstanding items that @ScottDowne will get to, but nothing that would block the email send or the video from going out.

@HPaulJohnson, please point the shortlink ( mzl.la/savetheinternet ) to the new address so we can use that for the video.

[2017-05-18 23:36] hannahkane commented on #872
This is super helpful!

A few questions:
- are the modals on the LP and the IP the same? If so, it feels maybe too aggressive to show it a second time, if they just dismissed it. (Also, I'm assuming we wouldn't show it a second time if they signed up on the first one.) But maybe they're different CTAs (e.g. the first one is email, the second is share?)
- is the modal CTA the same as the "Subscribe

[2017-05-19 00:13] hannahkane opened #903 "Safety First iteration: allow users to submit safety tips"
As suggested by @stephaniemcv and @roseregina on today's team call!

Let's consider what the workflow might look like:
 * What information would we want to collect from the user?
 * Would we use a form? Or just an email address? Something else?
 * Should user-submitted tips be public (perhaps so people can +1), or should we vet them internally and only share them once we have a video or some other

[2017-05-19 00:14] hannahkane commented on #886
Donezo!

[2017-05-19 00:14] #886 closed, assigned to ScottDowne

[2017-05-19 00:15] hannahkane commented on #895
Hmm...when should we stop collecting voicemails?

[2017-05-19 00:37] roseregina commented on #903
I would be inclined to use a form set up to avoid having this be a place that people are also _asking_ security questions. with email, I think there is more of an expectation that there will be a response if requested, whereas a form is commonly understood as unidirectional.

I think that the only way to handle this responsibly is to vet them first. I have concerns about the media literacy skills

[2017-05-19 03:15] ScottDowne commented on #901
I'm pretty sure I've done everything (it's building now) but the favicon, which I dunno how to do in share progress but we might get to tomorrow.

If there is anything you requested that's not currently done, let me know 'cause it means I forgot ;)

[2017-05-19 04:20] hannahkane commented on #901
@ScottDowne - looks good. If you can tomorrow, please remove "Brief, specific and personal comments are the most effective. Submit your comment now, and tell the FCC to leave net neutrality alone." from the bottom of the left column, since the placeholder text in the comment field makes it redundant.

Thanks!

[2017-05-20 03:18] stephaniemcv commented on #903
What information would we want to collect from the user? - I would say just the text of their safety tip. I'm in agreement with @roseregina, any info on the use, we don't really have a good use case to collect anything else. To say thank you? We can do that on the website. To being part of some sort of safety committee? Maybe, if we've developed some sort of cultivation campaign.

Would we use a f

[2017-05-22 05:30] Rillke commented on #844
It might be off-topic but the paperstorm.it performs too slowly to be useful to me; and while it is loading it writes something about an "Epische Schlacht" - which might be true but might be also not well perceived and tempts me to close the tab immediately. We had enough battles in Europe and I will not participate an another one, I thought. Throwing paper around to waste my environment, even if

[2017-05-23 19:35] ScottDowne opened #904 "adovcacy.mozilla.org fixing Frankenstein's monster"
So right now this site is currently hosting these pages/micro sites:

https://advocacy.mozilla.org/

https://advocacy.mozilla.org/open-web-fellows/overview
https://advocacy.mozilla.org/open-web-fellows/fellows2016
https://advocacy.mozilla.org/open-web-fellows/fellows2015
^^ These three work like a micro site in a site.

https://advocacy.mozilla.org/stay-secure/

https://advocacy.mozilla.org/encryp

[2017-05-23 23:12] hannahkane commented on #904
Thanks for the awesome ticket, @ScottDowne.

My two cents:

- OWF content should be moved to the Network site
- I assume we don't need to keep the Maker Party pages up, though @chadsansing might want to repurpose for the [Learning site's Activities page](https://learning.mozilla.org/en-US/activities)
- net-neutrality probably belongs on petitions.m.o, as you argued in #880 (though I think this nee

[2017-05-24 09:54] chadsansing commented on #904
@hannahkane - tell me more about what you mean by 'repurpose?' Does that mean redesign or something else?

[2017-05-24 16:43] ScottDowne commented on #904
I never actually gave my 2 cents here.

- I think we should hang on to the OWF pages, and we can migrate them in the future to the network site. I don't see a rush here from my POV nor do I see them going to the network site as any sort of a blocker.
- Ideally, we just kill the maker party pages, as we can always dig them up when they are needed via repo history. Any status on what's up with Maker

[2017-05-24 16:47] HPaulJohnson commented on #904
unfortunately (or fortunately, depending on how you look at it), /encrypt is still linked to from a variety of other places, some fairly high-profile like the homepage of mozilla.org. We can work to update some of those links but that will take time and we'll need to maintain this until we can clean up or redirect all that traffic.

[2017-05-24 16:48] chadsansing commented on #904
I don't know of any global Maker Party plans, but I would check with European MoCo friends working on the copyright campaign to see if Maker Party is still appropriated by them as it was last fall (and there may be badges on Open Badge Academy to deprecate). I would also check with Amira and Julia in Clubs since local clubs sometimes use that branding for their own events. Not saying those things

[2017-05-24 16:50] HPaulJohnson commented on #904
also, to @hannahkane point, i think the long-term vision should be to figure out how these might fit within the network umbrella as part of the whole enchilada.

[2017-05-24 16:55] hannahkane commented on #904
@chadsansing - I just meant taking the four MP activities and recreating them on the Curriculum repo. We could link to them from the Learning site. Advocacy doesn't have to host them, but it doesn't mean people wouldn't want to use them as part of our web literacy materials.

[2017-05-24 16:57] chadsansing commented on #904
@hannahkane - ah, I see. Totally possible. I'll take a look at them before the end of next week, unless we need a speedier timeline.

[2017-05-24 17:03] ScottDowne commented on #904
Some historical background, the only reason the maker party pages are in this repo at all is because they needed to be localized for last years Maker Party, and there wasn't another repo setup to do that.

So if we're moving them, we need to consider if they still need to be localized, and the new location has to be able to support this, or we need to be willing to make them English only. @hannahk

[2017-05-24 17:37] hannahkane commented on #799
Latest is here: https://redpen.io/p/eo07ee9db3059d0a00

[2017-05-24 17:40] hannahkane commented on #874
Closing this ticket as it no longer feels useful and branding decisions seem to have been made.

[2017-05-24 17:40] #874 closed, assigned to natalieworth

[2017-05-24 17:42] hannahkane commented on #866
This happened.

[2017-05-24 17:42] #866 closed, assigned to lovegushwa, WillatMozFdn

[2017-05-24 17:42] #901 closed, assigned to nobody

[2017-05-24 17:43] #890 closed, assigned to lovegushwa

[2017-05-24 17:44] hannahkane commented on #896
@ScottDowne did this

[2017-05-24 17:44] #896 closed, assigned to nobody

[2017-05-24 17:45] hannahkane commented on #843
I believe this is done.

[2017-05-24 17:45] #843 closed, assigned to beccaklam

[2017-05-24 21:17] brettgaylor commented on #903
One suggested here: we could actually make videos or other works that feature the tip submitter (if they are interested). We could have skype calls or something similar. Could be a neat content format - cc @HPaulJohnson

[2017-05-24 21:36] brettgaylor commented on #894
Note that we granted Open Media to do some work on the call-power tool - https://github.com/spacedogXYZ/call-power/pull/12#issuecomment-273640224

They have a bunch of experience using it that I'm sure they'd be willing to share.  Currently powering many different call-your-rep campaigns.

[2017-05-24 21:40] brettgaylor commented on #882
Script:
https://docs.google.com/document/d/1ULTvg5dTbnnqLTtCP1E-RB1dKtx8EBhp4E5gwVsnv-w/edit

Roughcut:
https://drive.google.com/open?id=0B0bF99sa1fRJMFlZdDlSQ01QbWs

[2017-05-24 21:44] brettgaylor commented on #883
Encryption script
https://docs.google.com/document/d/1ITOkhFtq5cGlRH-alHa3DMZmjQ3IoPQMllkBxAXBMkE/edit

[2017-05-24 21:47] brettgaylor commented on #884
Software updates script
https://docs.google.com/document/d/1cLuydTrYWfkkKNN0x8BsYQqvDNrjMtY9agzBmSCQgMc/edit

Rough cut
https://drive.google.com/a/mozillafoundation.org/file/d/0BzuBOR2VJQqUbkVTcERqNkFBam8/view?usp=drive_web

[2017-05-24 21:55] brettgaylor commented on #884
@beccaklam Good cut! Some notes:

-For shot 1, you'll need to either cut that shot, or you could screenshot it from the NYT - ie if its clear it's an article, you could make a fair use argument.

-for the "what is ransomware you ask" quote, you could definitely use the shot of Fry if you flushed the text to the right

-Check spelling of "Ransomware" - sometimes you have an e in the shots

-the "ca

[2017-05-24 21:58] brettgaylor opened #905 "Design uniform "tips" text treatment"
We need a unfirom text treatment for the "HERE COMES THE TIP" part of these videos.  Rebecca's is an example:

https://drive.google.com/file/d/0BzuBOR2VJQqUbkVTcERqNkFBam8/view

Also - do we want a uniform logo/CTA at the end of them for Safety Tips?

Jordan you mentioned you would tackle making screens for these pre-PTO

[2017-05-24 22:13] brettgaylor opened #906 "Design Safety Tips ad box"
Here's how Upworthy has described:

[Here](https://www.upworthy.com/how-is-starbucks-giving-baristas-the-perfect-way-to-avoid-student-debt-free-tuition?c=hpstream) is an example of a live sponsored story. In the right rail, you'll see a branded rectangle that we call the engagement box. It's really just another opportunity to engage our audience with Mozilla and will contain your branding and a qu

[2017-05-24 22:42] hannahkane commented on #894
Oh, thanks, @brettgaylor. Did not know that. That's important context.

[2017-05-24 23:03] brettgaylor commented on #884
@beccaklam I chatted with @HPaulJohnson - we think we should simplify the tips here to just the one "Update your software" tip.

We can add a 2nd screen after that with the following text, which is taken from [existing software update site](https://advocacy.mozilla.org/en-US/stay-secure/), which we can link to.

"Updating to the latest security software, browser, and operating system provides an i

[2017-05-25 14:50] beccaklam commented on #884
@brettgaylor @HPaulJohnson @lovegushwa @natalieworth Here is the fourth cut of the video incorporated with Brett's feedback! https://drive.google.com/open?id=0BzuBOR2VJQqUSm5JUC1WZ25yUkk

[2017-05-25 14:59] beccaklam commented on #884
@brettgaylor @HPaulJohnson @lovegushwa @natalieworth @hannahkane
Here is the fourth cut of the Ransomware video based on the feedback above :)
https://drive.google.com/open?id=0BzuBOR2VJQqUSHhEckNBWVdsLUU

[2017-05-25 16:05] hannahkane commented on #884
Looking really good. My newbie two cents:
 * I think the screen with the "Updating to the latest security software..." needs an extra second or maybe even two, as does the frame with the url
 * I also think the, uh, Simpsons guy (sorry, I'm not cool and never watched the Simpsons) needs an extra half second to better align with the music (though that might change with other edits; it just felt wei

[2017-05-25 17:08] hannahkane commented on #804
Notes from planning meeting:

- aiming to get on staging by May 31
- one week-ish for QA
- url will be advocacy.m.o/safety

[2017-05-25 17:09] natalieworth commented on #883
@brettgaylor @HPaulJohnson @hannahkane @beccaklam @lovegushwa Latest version of video here:
https://drive.google.com/file/d/0B20-0lpP23c0MmFMOXBZVXg1NDA/view

Notes:
* I took one of the sentences (that get typed out at the beginning off) since it made it a bit longer. Let me know if the start reads weird through without the 3 typed out sentences together
* I don't love the gif after the first tip,

[2017-05-25 17:13] hannahkane opened #907 "New net neutrality social featuring quotes"
@HPaulJohnson - when you have more info about goals and deliverables and timeline, can you drop it here, please?

[2017-05-25 18:32] ScottDowne commented on #894
One thing I noticed, given all the requirements in the initial comment, there is nothing asking for an admin dashboard, or the ability to create or edit campaigns, ideally without a dev. That's the major power of a tool or platform.

Given the requirements, both needs and nice to haves, it sounds like we're describing a back end technology or service, and not a tool or platform.

[2017-05-25 18:33] ScottDowne commented on #894
As per what we've used in the past, all I have used is call.mozilla.org which connected to a back end service that used twilio. It worked well enough but pretty much just did the one thing.

[2017-05-25 19:18] beccaklam commented on #884
Another soundtrack:
https://drive.google.com/open?id=0BzuBOR2VJQqUREtEM182X19oMTg

[2017-05-25 22:01] brettgaylor commented on #884
I think the two soundtracks are probably too sombre.  Want to give this one a try?
http://freemusicarchive.org/music/YACHT/Shangri-La_Instrumentals/02_Dystopia

Agree with Hannah's points - and the shot of Fry (actually FUTURAMA!) - you could try that in the same shot - just laid out side by side in the same frame as the "what is ransomware you ask" text

[2017-05-25 22:07] brettgaylor commented on #883
Yeah I do think its weird to just have 2.  Why don't you have them start "mid type?"  you also don't necessarily need them all to feel like they are being erased and re-typed - for pacing, I would try:

1) Zoom in with the full firefox screen, you see someone completing the first query
2) Cut straight to a zoomed in shot of the search bar, they are finishing the 2nd query
3) Cut even more zoomed i

[2017-05-25 22:13] brettgaylor commented on #883
Music wise - what do you think of these folks?
http://freemusicarchive.org/music/Broke_For_Free/Directionless_EP

I like the first track - lots of different places you could try and start that to work with the visualizes, and has lots of nice breaks/crescendos

[2017-05-25 23:52] lovegushwa commented on #905
@brettgaylor going to take care of the web banner assets, can you loop in @natalieworth on the uniform treatment bits for the video? ... I already talked to her about a style for the 'tips' today, and creating a 'Safety First' bumper.

[2017-05-26 05:34] brettgaylor commented on #905
👍

[2017-05-26 14:55] beccaklam commented on #884
@brettgaylor @HPaulJohnson @lovegushwa @natalieworth @hannahkane
Newest cut based on feedback :) Really like the soundtrack Brett, thanks!
https://drive.google.com/open?id=0BzuBOR2VJQqURjVfeU1UN0FNbDg

[2017-05-26 16:24] lovegushwa commented on #903
I agree with @brettgaylor, we could also create a banner and swap out the sign up CTA. For now we're including a footer link as per @HPaulJohnson suggestion.

[2017-05-26 16:28] lovegushwa commented on #906
@brettgaylor @HPaulJohnson I checked out Starbucks link above. Would be helpful to know a little more about the article (title, an overview of content). We can probably get away with "Keeping you and your digital loved ones secure" as the campaign copy.

[2017-05-26 17:26] hannahkane commented on #884
This music seems like a better match for the tone. Like!

Re: futurama - see? I'm super not cool.

[2017-05-26 17:56] brettgaylor commented on #906
@lovegushwa Here are the articles they've pitched us
https://docs.google.com/document/d/1BQU5f4ZzmNiKXGd6zQOjikNnKni6fGc525C4-KG4kSQ/edit#heading=h.tf6ywxt9koox

We are going for numbers #1 and #3. That should give you a sense of where the ads will appear, but I think you should think of the ad as an ad for "safety first".  If the "you and your loved ones" copy is what we are going for, then yes t

[2017-05-26 18:07] brettgaylor commented on #884
@hannahkane you are cool
![image](https://cloud.githubusercontent.com/assets/345974/26507035/6ee66828-4203-11e7-9dd4-3867d50ee678.png)

[2017-05-26 20:23] brettgaylor commented on #884
Awesome, @beccaklam think this is in really great shape.

One thing I'm noticing is that the screenshots of the newspapers look a bit low rez and hard to read - any way to increaase that resolution?  I think it might also help to start a little bit more zoomed in on the headline.

Other than that, I think we should start sending these around for review!  Nice work :)

[2017-05-26 20:49] WillatMozFdn opened #908 "Callout box for emailed update to donors"
Detailed description of work: Need a callout box graphic for an emailed update to all of our donors from EOY 2016.  Email scheduled for Thursday 6/1.  Suggest 8-bit heart theme, with "Thanks Again!" as the overlaid text (but totally open to other options.)

@beccaklam @natalieworth @lovegushwa

*Start date: May 30, 2017*
*Due date: May 31, 2017*
Note: The dates need to be exactly in the format ind

[2017-05-26 22:16] brettgaylor commented on #883
Latest cut:
https://drive.google.com/file/d/0B20-0lpP23c0OFk5RVhWcnRBZVk/view

[2017-05-27 04:30] lovegushwa commented on #906
@brettgaylor @HPaulJohnson if these will work for unworthy they are ready to go, otherwise the logo is also in that folder and they can make one, or @natalieworth come up with something.

The final files are here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvNy1rbFhzMXBHQUU?usp=sharing

<img width="653" alt="screen shot 2017-05-26 at 9 16 53 pm" src="https://cloud.githubusercontent.com/asse

[2017-05-29 17:21] brettgaylor opened #909 "Create thumbnails for each video"
We'll need thumbnails for the videos - we discussed the idea of the thumbnails having some element of motion.

Considering the videos each make heavy use of GIFs (hard G) - we had an idea to see if we could have each thumbnail start with a frozen frame, and then animate on rollover.

EG - still image
![image](https://cloud.githubusercontent.com/assets/345974/26557746/d609c022-4460-11e7-9fbf-15cedf

[2017-05-29 17:51] brettgaylor opened #910 "Design for first 3 videos"
- [x] Create "messaging" motion graphics for password manager video
-recreate the instant messaging messages to be more clear and consistent - make sure they look like multiple systems, though
-make the interviews look like they are taking place within video conferencing, like skype
-these should give impressions rather than recreations of an actual product - no logos

- [x] Consistent treatment w

[2017-05-29 18:08] beccaklam commented on #884
@brettgaylor @HPaulJohnson @lovegushwa @natalieworth @hannahkane
Updated the cut with closer cropped newspaper screen shots and a more colourful screaming gif to accomodate for a more fitting poster:
https://drive.google.com/open?id=0BzuBOR2VJQqUNVpJSlFOeFdUMFU

[2017-05-29 18:10] brettgaylor opened #911 "Safety first video: WiFi"
Script
https://docs.google.com/document/d/16G4sv_24sPSQlgstQrDdz15ouhepo68ZJrmLuzGCrfs/edit

[2017-05-29 21:24] brettgaylor commented on #883
Feedback on cut #4:
-what about replacing the "one job" gif with this?
https://giphy.com/gifs/once-upon-a-time-ouat-spoilers-Fng2LC9PO1ATC

-Try starting the music at 1:00 - it's a bit more dynamic at that point

-These text screens can be hard to read I find when they break mid sentence.  Could you try the following with the text:

1) In a recent Mozilla survey
2) 1/3 participants said
3) they kn

[2017-05-29 21:26] brettgaylor commented on #883
Also - make sure to provide attribution to the music

[2017-05-30 00:47] natalieworth commented on #883
@brettgaylor Updated the latest version here:
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0Zjd0N2lDcGlRY0k/view?usp=sharing

Only issue I had was with the 'once upon a time' gif (it was a bit blurry, so I've left the original option—but let me know if I should change it still). I also just took out the animation of the stat and put in the quote text (seemed easier to read as a comple

[2017-05-30 00:48] natalieworth commented on #883
@beccaklam @hannahkane @HPaulJohnson If you want to take a look too, that'd be great! ^

[2017-05-30 05:08] brettgaylor commented on #883
Good call on the quotes, like the addition of the lock!

The encryption bubble thing still stands out for me - it feels out of style with the other GIFs.

What about this?
![image](https://media.giphy.com/media/l3q2NboZyZSrDTM7S/giphy.gif)

https://giphy.com/gifs/abcnetwork-modern-family-phil-dunphy-l3q2NboZyZSrDTM7S

(phil dunphy fan club!)

[2017-05-30 17:05] hannahkane commented on #883
This looks rad. The flow works really well, and the music is fun.

Could we change "Here's 3 Simple Encryption Tips" to "Here are 3..."?

I feel like the instruction to "point them straight to letsencrypt.com" could potentially be sort of confusing. I think it could be misinterpreted as pointing your browser to letsencrypt.com. Are we asking people to get in touch with whoever makes their favorite

[2017-05-30 17:08] hannahkane commented on #884
looks so good

[2017-05-30 17:42] hannahkane commented on #799
Closing this ticket, as I believe design is done. Can file follow-up tickets for tweaks as needed.

[2017-05-30 17:42] #799 closed, assigned to lovegushwa, beccaklam

[2017-05-30 17:43] natalieworth commented on #908
hey @WillatMozFdn I've got 2 gif options and 2 static options for these (let me know if either could work depending on your copy):
![email-thankyou-callout-01 2x](https://cloud.githubusercontent.com/assets/14876567/26596798/cf3f41d0-4524-11e7-9a03-fccf66d6e790.gif)
![email-thankyou-callout-02 2x](https://cloud.githubusercontent.com/assets/14876567/26596799/cf424e02-4524-11e7-94fc-ff846d269e0b.gif)

[2017-05-30 17:47] brettgaylor commented on #911
First cut
https://drive.google.com/open?id=0B0bF99sa1fRJbDcxUGktZXVvQVU

@natalieworth @hannahkane @HPaulJohnson @beccaklam thoughts?

[2017-05-30 18:08] brettgaylor commented on #884
Great work, Becca!  Looks good to publish from my POV save two things:

1) I'm not sure it will work, but I wonder if you can do 2 quick zooms on the ransom screen in the 2nd shot - rather than a slow zoom in, do a fast zoom in on "your computer has been locked", pause for 2 seconds, then quickly zoom to "to unlock you are obliged to pay..." - you might have to steal a second from the shot that fo

[2017-05-30 18:56] beccaklam commented on #884
@hannahkane @brettgaylor @HPaulJohnson @natalieworth
Made the edits to the ransom screens based on Brett's feedback:
https://drive.google.com/open?id=0BzuBOR2VJQqUakFwUVc4OWhEYWs
Feels a bit fast to me? Not sure if anyone else agrees?

@natalieworth Let me know when the tips part is finalized and I can grab the assets from the team folder (I think I can do this) to make the ending consistent.

[2017-05-30 19:36] natalieworth commented on #883
most recent cut here @brettgaylor @beccaklam @HPaulJohnson @hannahkane https://drive.google.com/file/d/0B20-0lpP23c0VUtrNTQzaTNPdjg/view

@HPaulJohnson @brettgaylor
what do you think about potential copy changes from Hannah above ^

[2017-05-30 19:39] WillatMozFdn commented on #908
Thanks, these work great!

[2017-05-30 19:39] #908 closed, assigned to natalieworth

[2017-05-30 19:49] WillatMozFdn opened #912 "Callout box for India AADHAAR email"
Detailed description of work: We need a square-shaped graphic to put in our India anti-AADHAAR email (launching EOD tomorrow).  One of the existing social graphics can be re-purposed for this, but we need to either a) remove Mitchell Baker's name & position OR b) add the co-author's name and position (Ankit Gadgil, Mozilla community member.)  I suspect the former will look better/less cluttered.

[2017-05-30 22:19] natalieworth commented on #912
![aadhaar-callout 2x](https://cloud.githubusercontent.com/assets/14876567/26607416/408639c2-454b-11e7-87a0-16d6d0ad4e95.jpg)
posting here for reference @WillatMozFdn

[2017-05-30 23:15] hannahkane commented on #884
I like the multiple zooms on the ransom screen, but I did find the second one wasn't quite enough time. Could that one be extended by a second?

[2017-05-30 23:24] hannahkane commented on #911
This looks great. A few things:
 * I wonder if "Public wifi is great" should be visible a second or two before "But it can be scary" - I think this would give the line more punch
 * Is it "insecure" or "unsecured"? I'm honestly not sure. Is one more correct?
 * I like how the encryption video tells you you're about to see three tips. Should this video have a similar marker to help people get orien

[2017-05-31 00:24] natalieworth commented on #882
@brettgaylor Placed the video in the RR template and updated the type:
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0WDBZR3pTYnA3eU0/view?usp=sharing
Things I have left to do:
- add the 2 texting skype interface shots at the beginning
- add subtitles (we could also do this in the facebook upload directly in the 'closed-caption' option too?) Instead of having it in the video export its

[2017-05-31 14:21] beccaklam commented on #884
@hannahkane @brettgaylor @HPaulJohnson @natalieworth
I added a second to the ransom screen and cut a second from the "updating your software" explainer shot (it was 6 seconds, now it's 5). I think it feels good:
https://drive.google.com/open?id=0BzuBOR2VJQqUWmVkczk4UUg1d0k

[2017-05-31 14:26] beccaklam commented on #911
I love the music, the pacing is really nice!
I agree with all of @hannahkane 's points listed above ^.
The only thing I noticed was we're using pretty tight leading for most of our all caps type and there are some pretty big gaps in some screens. I would tighten those up but otherwise looking so good!

[2017-05-31 16:24] hannahkane commented on #884
Looks right to me, too. Nice work!

[2017-05-31 16:39] natalieworth commented on #911
@brettgaylor pacing is good with the music cuts! We could do a design pass when it's finalized if you want to adjust type spacing if that helps?

[2017-05-31 16:42] natalieworth commented on #884
@beccaklam I think the only thing that's still a bit fast for me is the quote at the beginning on ransomware. I don't have time to read it all the way through before it switches to the next slide

[2017-05-31 17:11] roseregina commented on #900
fwiw, we get a lot of emails in desk.com that are in response to the confirmation email. most of them fall into one of the following three categories:
1)" thanks!" (no idea if they clicked through and actually confirmed)
2) a written indication hat they think they are able to confirm by replying to the email
3) a statement that they will not click links sent via email because it's dangerous

[2017-05-31 17:48] hannahkane commented on #900
interesting. this is really useful information. out of curiosity, how do we respond in each of these situations?

[2017-05-31 18:50] brettgaylor commented on #882
Awesome.  Lookin' profesh.
Final notes:
-----
-Add Georgia's title on the first shot - this should feel seperate from the interface of skype, so just use like a white box with Mozilla style black type

"Georgia Bullen, Technology Projects Director
Open Technology Institute"

-Put Harlo in a similar (but different) Skype-ish frame - maybe just change colours?

-Add her title "Harlo Holmes, Freedom

[2017-05-31 19:20] roseregina commented on #900
we don't

[2017-05-31 22:37] brettgaylor commented on #911
Thanks for the notes!  Implementing.

@hannahkane one of the things i was trying to do in the copy editing of these was remove stuff that felt superflous - so I think when we can, we should avoid saying "you're about to get a tip", and instead, give them the tip!

Having said that @natalieworth I wonder if the "all is not lost" card in this one could be in the same format as the others, so that we

[2017-05-31 23:26] brettgaylor commented on #911
@natalieworth sent you updated premiere project via DM

[2017-05-31 23:37] brettgaylor commented on #883
Agree with Hanna's changes.  Use "Here are 3 Simple Encryption Tips"

Also agree on Let's Encrypt "tell them about projects like Let's Encrypt"
^ that also softens the endorsement of Lets Encrypt, which legal asked us to do.

In the "Encrypt Your Communications" tip, change the sub-title to:
"Signal, WhatsApp and iMessage are all encrypted"

[2017-06-01 14:35] beccaklam opened #913 "Safety First Build Design QA:"
The build is looking so good!
Just some small nit-picky design QA:

- [ ]  height of .poster-item in the comps is around 300px, currently in the build it is around 228px

![screen shot 2017-06-01 at 10 33 10 am](https://cloud.githubusercontent.com/assets/20977376/26684718/d009b11c-46b5-11e7-902d-abc88487958c.png)

- [ ]  padding of .gallery-item should be 17px, currently is 18px

CC: @hannahkane

[2017-06-01 16:06] hannahkane opened #914 "Changes to modal"
- [x] Add an X
- [x] Make it so that if you click outside the modal, it dismisses it
- [x] Add a thank you state, with this copy: "Thanks!

If you haven’t previously confirmed a subscription to a Mozilla-related newsletter you may have to do so. Please check your inbox or your spam filter for an email from us."

[2017-06-01 16:38] hannahkane opened #915 "Add copy for tips for each video on site"
For each video we need accompanying copy for the site:
- [ ] Video title
- [ ] Subtitle / Title for the Tips section (you'll be able to choose which words are highlighted)
- [ ] 1 or more tips, pulled from the video; can include links

[2017-06-01 16:53] ScottDowne commented on #913
@beccaklam I just define the image width, the height is implied via the aspect ratio. A new image shouldn't have this issue.

[2017-06-01 16:54] hannahkane opened #916 "ShareProgress"
I believe the plan is to have the Share feature share the homepage, rather than the particular video, at least to start (will file a separate ticket to potentially iterate on that).

So the copy for Sharing (email, FB, Twitter) should reference the homepage for now.

[2017-06-01 16:57] hannahkane opened #917 "Remove "Is this information helpful?" section"
Discussed on a call today with @HPaulJohnson @ScottDowne and @beccaklam.

Decision is to remove this section for launch. We'll focus initially on learnings we can glean from:
 - site visits / marketing channels
 - page views
 - video completion rates
 - shares
 - subscriptions

 Will file a separate ticket to think through methods of soliciting meaningful feedback from users, as an upcoming iterat

[2017-06-01 16:57] ScottDowne commented on #913
@beccaklam I'm updating the padding on `gallery-item` from 18px to 0.77rem, which is 16.9333px, does that work?

[2017-06-01 17:11] hannahkane opened #918 "Figure out how to solicit meaningful feedback from users about Safety First videos"
Perhaps the first thing to clarify is what we hope to learn from feedback. For example:
- what topics are useful/interesting to people
- what level is useful (e.g. intro stuff vs more advanced knowledge)
- what style of video is most compelling
- what topics people would like us to cover
- what meaningful actions people take as a result of watching these videos

Depending on what we want to learn,

[2017-06-01 17:12] hannahkane opened #919 "Make sure we're capturing the right metrics for Safety First videos"
I believe we want to be tracking the following metrics:
 - site visits / marketing channels
 - page views
 - video completion rates
 - shares
 - subscriptions

@ScottDowne and @vojtechmzl - can  you help make sure we have everything in place to track all of the above when we launch the Safety First site and start promoting the videos?

[2017-06-01 17:18] beccaklam commented on #913
@ScottDowne sounds good on both accounts!

[2017-06-01 17:18] #913 closed, assigned to ScottDowne

[2017-06-01 17:22] hannahkane opened #920 "Consider different Share flow for SafetyFirst videos"
Per #916, the initial flow for ShareProgress will be for users to share the homepage. Rationale here is that homepage will have a better subscription rate due to the auto-modal.

Downside is it dis-incentivizes users sharing multiple videos.

Should we consider a later iteration that lets users share a particular video, and solve for the potential loss of subscriptions in another way?

[2017-06-01 17:23] hannahkane commented on #912
@WillatMozFdn - are we good to close this ticket?

[2017-06-01 17:43] #912 closed, assigned to nobody

[2017-06-01 18:17] ScottDowne commented on #914
I added the copy, but @beccaklam is doing some design work on it, and once that's done, I'll close this ticket.

[2017-06-01 18:26] ScottDowne commented on #917
Removed.

[2017-06-01 18:26] #917 closed, assigned to ScottDowne

[2017-06-01 18:27] ScottDowne commented on #804
@hannahkane think we can close this?

[2017-06-01 18:28] hannahkane commented on #804
Good call. Will file additional changes as separate tickets.

[2017-06-01 18:28] #804 closed, assigned to ScottDowne

[2017-06-01 18:36] beccaklam commented on #914
@hannahkane @natalieworth do you have a preference for colour?
<img width="641" alt="thank you modal black 2x" src="https://cloud.githubusercontent.com/assets/20977376/26695110/a0217b66-46d7-11e7-8f48-0bb555f7715f.png">
<img width="641" alt="thank you modal 2x" src="https://cloud.githubusercontent.com/assets/20977376/26695111/a0253288-46d7-11e7-9928-159b9edf3f48.png">

[2017-06-01 19:26] hannahkane commented on #914
Man, this is a lot of words. @HPaulJohnson - what do you think about: "Thanks! Please check your inbox or your spam filter for an email from us to confirm your subscription." ?

In terms of color, I have a slight preference for the white text, but I defer to you @beccaklam and @natalieworth.

[2017-06-01 19:45] ScottDowne commented on #914
Modal done, using the white one for now.

We can cut down the words, in this ticket or another. I should probably be unassigned.

[2017-06-01 19:55] hannahkane commented on #914
Closing and filing copy change as separate ticket.

[2017-06-01 19:55] #914 closed, assigned to ScottDowne

[2017-06-01 19:56] hannahkane opened #921 "Shorten copy on Thank You modal"
@HPaulJohnson - what do you think about: "Thanks! Please check your inbox or your spam filter for an email from us to confirm your subscription." ?

Current version:

<img width="641" alt="thank you modal 2x" src="https://cloud.githubusercontent.com/assets/20977376/26695111/a0253288-46d7-11e7-9928-159b9edf3f48.png">

[2017-06-01 23:54] natalieworth commented on #910
**Draft** Exports of Videos are here:
https://drive.google.com/drive/folders/0B20-0lpP23c0aGIwVDBnRzgzNmc

Things to adjust:
Me: add brett's music attribution: http://freemusicarchive.org/music/Ketsa/May_Starlight_Find_You/waxing_waning
- still working on bumper
@beccaklam change the link colour on the last slide from the orange to pink colour (#F793FB) (the template didn't seem to update across a

[2017-06-02 13:32] beccaklam commented on #910
@natalieworth Changed the colour of the last slide from orange to pink and updated the drive!

[2017-06-02 22:05] natalieworth commented on #910
https://drive.google.com/drive/folders/0B20-0lpP23c0aGIwVDBnRzgzNmc

[2017-06-05 17:10] brettgaylor opened #922 "Create transcript for wifi video"
Provide a transcript of the interviews with Georgia + Harlo

[2017-06-05 17:18] #905 closed, assigned to lovegushwa, natalieworth

[2017-06-05 17:18] brettgaylor commented on #906
Done!

[2017-06-05 17:18] #906 closed, assigned to lovegushwa

[2017-06-05 17:21] hannahkane opened #923 "Promotion plan for Safety First videos"
Social, paid?, what's the plan?

[2017-06-05 17:35] hannahkane commented on #873
Abigail has seen the site and Mika has seen the first four videos. Closing this ticket, though we'll need ongoing review of video content moving forward.

[2017-06-05 17:35] #873 closed, assigned to hannahkane

[2017-06-05 17:43] hannahkane commented on #889
@brettgaylor - did this happen?

[2017-06-05 17:57] brettgaylor commented on #889
No - was stalled in some strategy discussions around when to do a 2nd round of press pitching.

[2017-06-05 20:38] vojtechsedlak commented on #919
Hey @ScottDowne, the only events that I think could be added are:

- people clicking play on a given video (ideally the params for the event would be Category=Video, Action=Video Started, Label=[name of video])
- end of a video (params Category=Video, Action=Video Ended, Label=[name of video])
- clicks on share buttons (same params as usual category=Social, Action=Clicked Share Button, Label=[soci

[2017-06-05 20:46] ScottDowne commented on #919
Thanks, seems simple enough.

[2017-06-05 22:43] hannahkane opened #924 "QA SafetyFirst website"
Staging server: https://advocacy-mozilla-org-staging.herokuapp.com/en-US/safety/

Environments to test:
 - [x] Mobile FF, Chrome, Safari
 - [x] Desktop FF, Chrome, Safari, IE/Edge

Things to test:
- [x] Video playback
- [x] Share
- [ ] Subscribe
- [x] Modal behavior
- [x] Copy (typos, stuff that's too long, stuff that reads weird)
- [x] Footer links
- [x] Navigation (e.g. getting from video to vid

[2017-06-05 22:43] hannahkane commented on #924
@ScottDowne @beccaklam - anything to add to the above list?

[2017-06-06 00:59] HPaulJohnson commented on #916
Share copy here:

https://docs.google.com/a/mozilla.com/document/d/14VQ2vvdxgnX0RvTIIiKoUMyB-sucuvBYnqdk1cpts7E/edit?usp=sharing

I kept it generic for now but could easily be video specific by dropping in a unique URL.

[2017-06-06 00:59] HPaulJohnson commented on #921
Shortened copy here:

https://docs.google.com/a/mozilla.com/document/d/14VQ2vvdxgnX0RvTIIiKoUMyB-sucuvBYnqdk1cpts7E/edit?usp=sharing

[2017-06-06 01:00] HPaulJohnson commented on #915
Copy for video titles, descriptions + tips here:

https://docs.google.com/a/mozilla.com/document/d/14VQ2vvdxgnX0RvTIIiKoUMyB-sucuvBYnqdk1cpts7E/edit?usp=sharing

[2017-06-06 14:23] beccaklam commented on #924
Looks good to me! Maybe just Navigation? As in if it's easy for a user to navigate from video to video. Maybe we can get someone who hasn't seen the site before to test this.

[2017-06-06 15:52] hannahkane commented on #924
@beccaklam - thanks! Added nav to the list.

I'll ask someone from the Network site team to help QA. Building bridges!

[2017-06-06 16:58] natalieworth commented on #910
@brettgaylor wifi video is added in here (still have to add the bumper to it and add the 'mozilla' logo at the end to all 4 videos)
cc @beccaklam

[2017-06-06 17:00] brettgaylor commented on #910
Hmm @natalieworth I think thats based on an old project.

I sent you a DM where I had adjust the music at the beginning and integrated Hannah's feedback, but I'm not seeing that here....

[2017-06-06 17:59] ScottDowne commented on #919
Updated, added video metrics.

Can test on staging here: https://advocacy-mozilla-org-staging.herokuapp.com/en-US/safety

Going to add a metrics QA list here (@vojtechmzl feel free to add anything I missed that should be here), for things that should work:

- [x] Generic page navigation/view/bounce metrics.
- [x] Video play/end metrics
- [x] Form metrics, errors (email empty, email invalid, privac

[2017-06-06 21:48] HPaulJohnson commented on #916
we should create an image to accompany the Facebook share. @lovegushwa maybe something you can tackle when you get back?

[2017-06-06 21:52] taisdesouzalessa opened #925 "QA > background color - title of the page"
**Issue:**
I find it is challenging to read the word "Safety" mainly because the background color (blue) is very bright and it doesn't contrast with the yellow. That could be potentially challenging for the audience to read as well.

<img width="985" alt="image" src="https://user-images.githubusercontent.com/22157921/26853421-c3a44c9c-4ac6-11e7-836e-ed36e7d6ce10.png">

[2017-06-06 22:07] taisdesouzalessa opened #926 "QA > Subscribe user flow"
**Issue**
Some seconds after the user land on the page they see the pop up to subscribe (1). After they give Mozilla their email and hit "Yes I got it" (2) they see the "subscribe" button still highlighted. In case they click on the button (3) they see the pop up (2) again because they already subscribed.
<img width="433" alt="image" src="https://user-images.githubusercontent.com/22157921/26853981

[2017-06-06 22:13] taisdesouzalessa opened #927 "QA > Share this Page link"
**Issue**
When I click on "Share This Page" in the footer, the page scrolls up and the pop up banner is displayed. The label "Share this Page" sets the expectation of having a link or another way to share this page with people.

![share-this-page](https://user-images.githubusercontent.com/22157921/26854325-8361f31a-4aca-11e7-9b36-254712a18511.gif)

[2017-06-06 22:21] taisdesouzalessa opened #928 "QA > Play Button"
**Issue**
I find it adds a little friction for the users the fact that they have to click twice the play button to see the video. I would expect the video to play automatically once I hit "play" once. That could be as designed (I don't have the full context of this page) so please disregard this QA ticket if that was intentional.

![play-behaviour](https://user-images.githubusercontent.com/2215792

[2017-06-06 22:28] taisdesouzalessa opened #929 "QA > mobile: button labels"
**Issue:**
The buttons are all caps on desktop but lowercase on mobile (tested on Safari and Firefox - iPhone7).

<img width="437" alt="image" src="https://user-images.githubusercontent.com/22157921/26854720-41f1e672-4acc-11e7-8433-2cf5c76f3e99.png">

[2017-06-06 22:36] taisdesouzalessa opened #930 "QA > mobile: pop up checkbox tappable area"
**Issue**
The tappable area of the pop up checkbox is too close to the "privacy notice" link. When tapping one, the other can be activated by accident. Screenshot: iPhone 7, Safari

<img width="385" alt="image" src="https://user-images.githubusercontent.com/22157921/26854955-61e93772-4acd-11e7-9388-52c4ded5d2af.png">

**Potential Fix**
Maybe aligning "Privacy Notice" with "I am ok..." ? Apple reco

[2017-06-06 22:40] taisdesouzalessa opened #931 "QA > mobile: footer links - tappable area"
**Issue:**
On mobile the footer links are very close to each other, making is difficult to tap in an individual link.
Screenshot: iPhone 7, Safari
<img width="375" alt="image" src="https://user-images.githubusercontent.com/22157921/26855169-5debee8e-4ace-11e7-92aa-89c731a126f6.png">

[2017-06-06 22:45] taisdesouzalessa opened #932 "QA > mobile: tappable social media buttons"
**Issue:**
Social media buttons are very close to each other making it particularly challenging to tap the Twitter button on mobile. Screenshot: iPhone7, Safari

<img width="396" alt="image" src="https://user-images.githubusercontent.com/22157921/26855325-15fd9fe0-4acf-11e7-90a9-b108da2869e7.png">

[2017-06-06 23:01] taisdesouzalessa opened #933 "QA > mobile: top nav consistency"
**Issues:**
1. In the home page (1) the word "first" seems squished there.
2. In the internal pages (2), the sentence "safety first" is cropped.
3. The differences from above make the top nav inconsistent. You can see a difference happening in height as well.
<img width="487" alt="image" src="https://user-images.githubusercontent.com/22157921/26855578-bec2da86-4ad0-11e7-9f9c-70605366fb6e.png">

[2017-06-07 14:27] ScottDowne commented on #921
This was done in a generic copy pass.

[2017-06-07 14:27] #921 closed, assigned to ScottDowne

[2017-06-07 15:10] hannahkane commented on #927
Closing this as Share hasn't been implemented yet. Sorry, @taisdesouzalessa, I forgot to tell you this!

[2017-06-07 15:10] #927 closed, assigned to nobody

[2017-06-07 15:14] hannahkane commented on #916
assigning @ScottDowne to implement Share and @lovegushwa to create the image

[2017-06-07 15:35] hannahkane commented on #915
Assigning @ScottDowne to implement this copy

[2017-06-07 16:34] ScottDowne commented on #933
2 and 3 look like a bug to me (and look like the same issue). I'll take a look.

[2017-06-07 16:39] ScottDowne commented on #932
I can increase the space between and or size pretty easily. That's my vote.

[2017-06-07 17:21] brettgaylor opened #934 "Finalize design for 2FA video"
As discussed in the slacks:
1) fix the type - its a bit all over the place

2) put the interviews into same skype interface as password manager video - maybe different colour?

3) Anything you can do when harlo is explaining the text message with a code - and she also explains that sometimes 2FA happens with an app so something super simple like a phone getting a message, and then perhaps somethin

[2017-06-07 22:59] natalieworth commented on #910
Dropping in the V2 exports of the videos here: https://drive.google.com/drive/folders/0B20-0lpP23c0Mlg2ZWpmM3c5WFU?usp=sharing

When/ if they are good to go for uploading, I'll change folder name to 'final' exports for YouTube.

[2017-06-07 23:06] brettgaylor commented on #934
Oops had the wrong link in there
https://adobe.ly/2sF7fkC

[2017-06-08 16:14] ScottDowne commented on #916
Just waiting on the images, and Paul is going to go in later and add test variants. Right now it's just 1 for each.

It does share the home page.

[2017-06-08 16:15] ScottDowne commented on #915
I think we're done here. Any future requests or changes in copy can be iterated on.

Still needs posters and vids.

[2017-06-08 16:15] #915 closed, assigned to ScottDowne

[2017-06-08 16:16] ScottDowne commented on #928
I was sorting out an issue around mobile auto playing (for bandwidth reasons) before I was comfy with implementing this.

It should now auto play only when a play button has been hit, but not on initial load of a clip if on mobile.

[2017-06-08 16:16] #928 closed, assigned to nobody

[2017-06-08 18:23] lovegushwa commented on #933
@taisdesouzalessa @ScottDowne good catch, let fix this.

[2017-06-08 18:26] lovegushwa commented on #932
@ScottDowne I noticed this as well. I'm ok with either solution, can you ping me when your working on this so I can see a preview in Vidyo and we can make a decision together?

[2017-06-08 18:27] lovegushwa commented on #930
@taisdesouzalessa @ScottDowne works as designed in chrome, could be a safari issue

[2017-06-08 18:36] lovegushwa commented on #925
I know this is a little on the wild side but it's part of the fun, I want to keep it as is.

[2017-06-08 18:36] #925 closed, assigned to nobody

[2017-06-08 18:39] ScottDowne commented on #933
Grumble grumble Safari.

2 and 3 should be fixed. 1 is intended.

[2017-06-08 18:40] #933 closed, assigned to ScottDowne

[2017-06-08 18:49] ScottDowne commented on #930
I'm not seeing this on an iphone 7.

[2017-06-08 18:51] ScottDowne commented on #933
I forgot to actually merge this.

It's merging now.

[2017-06-08 19:06] natalieworth commented on #934
https://drive.google.com/file/d/0B20-0lpP23c0UmUzRDdmUmk2UG8/view

[2017-06-08 19:15] hannahkane commented on #887
My understanding is this is in progress. Plan is to upload a small set via csv as a test, and if all goes well, do a large batch. Then, keep monitoring as new comments come in, and upload as needed.

cc @alanmoo @cadecairos @levjoy

[2017-06-08 23:30] taisdesouzalessa commented on #930
Just checked it now and it is working as designed in Safari as well...for some reason it didn't yesterday. Very weird. Anyways, closing this issue :).

[2017-06-08 23:30] #930 closed, assigned to nobody

[2017-06-08 23:39] HPaulJohnson commented on #916
@ScottDowne sounds like Jordan sent you the image for this. I just need a URL where it's hosted to update the SP page and buttons.

[2017-06-08 23:42] brettgaylor opened #935 "QA>loading jankiness"
Feels like there is something with react in that the template loads, and then the content of the template loads afterwords.  Does react have any methods to wait to display until the content is loaded?  I seem to remember angular used to have that when we used with webmaker...

Here's an example of what I mean
https://dl.dropboxusercontent.com/u/7968133/loading.m4v

[2017-06-09 00:50] ScottDowne commented on #935
It looks like those are the images loading. We can optimize, smaller images (in bytes), less images, images as a data uri, or placeholder heights in the images. These are things I can do that can all help.

I'm getting giddy to take a look at the hosting. Maybe hosting the images somewhere else helps, server cache, cloudfront (which it's not using  because it's staging and wasn't setup) or prod si

[2017-06-09 01:59] ScottDowne commented on #935
I did some stuff on my end, image compression, placeholder sizes for image while they load, and made some assets not load blocking.

I also got Giddy to get us a proper staging app, instead of the janky heroku one. So going forward, this is a slightly better (faster) staging link, which is going to load as fast as production: https://advocacy.mofostaging.net/en-US/safety

I think the other current

[2017-06-09 16:29] #932 closed, assigned to nobody

[2017-06-09 16:32] #883 closed, assigned to natalieworth

[2017-06-09 16:33] hannahkane commented on #884
@HPaulJohnson - can you upload this one, please?

[2017-06-09 16:35] #911 closed, assigned to nobody

[2017-06-09 16:35] #882 closed, assigned to brettgaylor, natalieworth

[2017-06-09 16:36] #909 closed, assigned to beccaklam

[2017-06-09 16:37] #910 closed, assigned to natalieworth

[2017-06-09 16:39] #884 closed, assigned to beccaklam

[2017-06-09 16:41] hannahkane commented on #926
Closing this ticket as a won'tfix, but will consider filing a new ticket if we do a email promotion (blocking the modal from popping up for people who are arriving via email)

[2017-06-09 16:41] #926 closed, assigned to nobody

[2017-06-09 16:42] #916 closed, assigned to ScottDowne, lovegushwa

[2017-06-09 17:43] hannahkane commented on #885
pinging @HPaulJohnson and @Melechuga - just want to see if there are any relevant updates in terms of clarifying messaging, and make sure it's still on your radar to clarify before/during All-Hands.

[2017-06-09 17:48] hannahkane commented on #880
Closing this ticket, as plan for Copyright is NoChange, and plan for Open Data is in #899.

Not discussed above, but the NN petition will remain open for awhile, so no need to address anything there.

As @WillatMozFdn points out above, much of this becomes moot in a Soapbox Engage world.

[2017-06-09 17:48] #880 closed, assigned to nobody

[2017-06-09 20:15] brettgaylor opened #936 "Upload transcripts to facebook for 2FA + password manager videos"
Hey Natalie - if you could take care of how this is done, I've made a transcript:

password manager video:

georgia;
My Skype account was spamming a bunch of other accounts…my Skype account was hacked.

Embarrased, confused, and then really worried that someone else was going to click on something from me!

My password wasn’t secure enough and so someone had built a program that was logging into n

[2017-06-09 21:04] lovegushwa opened #937 "QA>use new mozilla favicon"
@ScottDowne replace old favicon with new one. The file was on https://mozilla.ninja/logosystem/ but they took them down. Can you pull it from mozilla.org?
<img width="63" alt="screen shot 2017-06-08 at 1 36 35 pm" src="https://user-images.githubusercontent.com/12228435/26994411-63d5a4de-4d1c-11e7-8348-d94b88ae0e2b.png">

[2017-06-09 21:24] lovegushwa opened #938 "QA>darker black for the "keeping you ..." headline"
@ScottDowne  Can you change the headline to 000000 ?

<img width="944" alt="screen shot 2017-06-09 at 9 15 38 am" src="https://user-images.githubusercontent.com/12228435/26994929-e84a0d3e-4d1e-11e7-85b5-e5c11507604d.png">

[2017-06-09 21:36] lovegushwa opened #939 "QA>button text should be upper case"
@ScottDowne the button text should be upper case, but is lower in Chrome and Safari but not FF.
<img width="1036" alt="screen shot 2017-06-09 at 9 52 16 am" src="https://user-images.githubusercontent.com/12228435/26995325-d269f158-4d20-11e7-961d-0cee086bab10.png">

[2017-06-09 21:52] lovegushwa opened #940 "QA>change color surrounding video"
@ScottDowne ... when the video content is black it blends into the black background. Can we change the black background color to # 202428 and change the footer BG color to match?
<img width="1319" alt="screen shot 2017-06-09 at 9 17 18 am" src="https://user-images.githubusercontent.com/12228435/26995634-a0cb73f4-4d22-11e7-9fa1-8cafc5921950.png">

[2017-06-09 22:41] lovegushwa opened #941 "QA>Next Tip image squished"
@ScottDowne the next tip image is a little squished. Aspect ratio should be 4:3

<img width="1179" alt="screen shot 2017-06-09 at 9 55 35 am" src="https://user-images.githubusercontent.com/12228435/26996821-f3dbbcd2-4d29-11e7-80a1-461ddeb9cc68.png">

[2017-06-10 02:04] lovegushwa opened #942 "QA>90% scale for desktop"
@ScottDowne I'm regretting the scale on desktop a little. I think the site is nicer at 90% scale, especially on laptop screens. @beccaklam was saying changing the scale might be easy to do because of how you built this site. Without pulling your hair out and cursing my name, is this possible?

<img width="1372" alt="screen shot 2017-06-09 at 6 55 34 pm" src="https://user-images.githubusercontent.c

[2017-06-10 02:17] lovegushwa opened #943 "QA>accounting for youtube video play size / aspect ratio"
@ScottDowne @beccaklam youtube squeezes our 4:3 video into a 16:9 shape (aka pillar box). While the poster image is a decent size, the actual video play area is small once the video gets going. Can we try scaling  up the size of the video so when it plays back it's not so small on the page? ... We could get on a call and do this together.

<img width="1528" alt="screen shot 2017-06-09 at 9 15 00 a

[2017-06-10 03:01] ScottDowne commented on #942
Yup this can be pretty easily done because the site is in all rems.

[2017-06-10 03:03] ScottDowne commented on #943
This might actually be a relic from the trailers I missed. I should be able
to fix.

[2017-06-10 17:50] lovegushwa commented on #942
@ScottDowne I thought it was rads

[2017-06-12 15:00] ScottDowne commented on #938
Fixed

[2017-06-12 15:00] #938 closed, assigned to ScottDowne

[2017-06-12 15:01] ScottDowne commented on #939
Should be fixed.

[2017-06-12 15:01] #939 closed, assigned to ScottDowne

[2017-06-12 15:01] ScottDowne commented on #940
Fixed.

[2017-06-12 15:01] #940 closed, assigned to ScottDowne

[2017-06-12 16:15] ScottDowne commented on #943
Fixed.

[2017-06-12 16:15] #943 closed, assigned to ScottDowne

[2017-06-12 17:00] ScottDowne commented on #941
Should be fixed on prod soon. Just another relic from those pesky placeholder videos.

[2017-06-12 17:00] #941 closed, assigned to ScottDowne

[2017-06-12 17:32] hannahkane commented on #924
@ScottDowne - can you confirm that the subscription works on prod? If so, then I think we can close this ticket.

[2017-06-12 17:36] hannahkane commented on #872
Wondering if this ticket has served its purpose. Do we still need it?

[2017-06-12 17:38] hannahkane commented on #922
@brettgaylor - is this done?

[2017-06-12 17:38] hannahkane commented on #919
Anything else here, or are we good to close?

[2017-06-12 17:42] hannahkane commented on #771
@stephaniemcv - do you think we're good to close this issue? We're aiming to remove the form from the site this week. Will we or have we gotten all the signatures into the right place?

[2017-06-12 18:00] brettgaylor commented on #922
The transcript is, but the videos haven't been put on facebook yet.

[2017-06-12 18:01] brettgaylor commented on #922
oops I actually created another ticket for both videos, so we can close this one
https://github.com/MozillaFoundation/Advocacy/issues/936

[2017-06-12 18:01] #922 closed, assigned to brettgaylor

[2017-06-12 19:15] beccaklam commented on #900
Hey @vojtechmzl We put in some language (basically, "a confirmation email is coming") in the thank modal of the safety first site: https://advocacy.mozilla.org/en-US/safety that begins to address this issue of users not clicking on the email signup confirmation email. Do you know what the best way of seeing whether or not this improves our email signup would be? CC: @hannahkane

[2017-06-12 19:22] ScottDowne commented on #924
Yup, it's working.

[2017-06-12 19:22] #924 closed, assigned to hannahkane

[2017-06-12 19:24] ScottDowne commented on #919
I pinged @vojtechmzl to let him know it's on prod, and metrics should be firing. He should already have some data to confirm everything's working.

Maybe let him close this, if not we can.

[2017-06-12 19:39] ScottDowne commented on #937
Building prod now.

[2017-06-12 19:39] #937 closed, assigned to ScottDowne

[2017-06-12 19:48] ScottDowne commented on #942
@lovegushwa I think we should do this one over vidyo until it's how you like it.

[2017-06-12 20:28] hannahkane commented on #900
Also wondering if we know any other information about the problem—do we know whether the emails are getting caught in spam filters, for example?

@stephaniemcv - can you let us know the subject line of the email and who it's from? Is it the same confirmation email regardless of where you sign up from across Mozilla?

[2017-06-12 20:44] vojtechsedlak commented on #919
All events are firing as intended, so closing this ticket. Thanks!

[2017-06-12 20:44] #919 closed, assigned to ScottDowne, vojtechsedlak

[2017-06-13 13:46] beccaklam commented on #872
I think it has, the actual journey map is different from the above. I think we can close this for now and if we need to make another map we can make a new ticket.

[2017-06-13 13:46] #872 closed, assigned to HPaulJohnson, beccaklam

[2017-06-13 13:46] #796 closed, assigned to beccaklam

[2017-06-13 13:47] #701 closed, assigned to beccaklam

[2017-06-13 13:47] #707 closed, assigned to beccaklam

[2017-06-13 13:48] #817 closed, assigned to beccaklam, caltrider

[2017-06-13 13:53] beccaklam commented on #900
@stephaniemcv would I also be able to get a copy of the confirmation e-mail? Whatever variations there are?

[2017-06-13 14:26] beccaklam commented on #900
Some suggestions I found from rifling around the internet:

**To optimize the thank you message:**
 * Show what Name/Email address that the confirm email will come from (best would be something from @mozilla)

 * Show subject line of the email

 * What they have to do (click the confirm link)

 * Brief reminder of what they'll begin to get once they do so

 * You might experiment with throwing in

[2017-06-13 16:11] HPaulJohnson commented on #923
Plan here: https://docs.google.com/document/d/1EbuobB6LhVqV3KUrrcrqYQ4etHBypPTcZ6w3jKk6Wg4/edit

We are going to spread this over 6 weeks with 1 featured vid per week with 3-5 supporting assets per video. We'll do some testing with the first few episodes and adjust approach with the remaining beats. Hoping to have 3-4 weeks worth in the can ahead of all-hands.

[2017-06-13 16:47] #934 closed, assigned to natalieworth

[2017-06-13 16:58] hannahkane opened #944 "Password Manager video promotional assets (video #1)"
- [x] 30-second promo A
- [x] 30-second promo B
- [x] Still

[2017-06-13 16:59] hannahkane opened #945 "Public Wifi video promotional assets (video #2)"
- [ ] 30-second promo A
- [ ] 30-second promo B
- [ ] Still

[2017-06-13 16:59] hannahkane opened #946 "Ransomware video promotional assets (video #3)"
- [ ] 30-second promo A
- [ ] 30-second promo B
- [ ] Still

[2017-06-13 17:01] hannahkane opened #947 "Encryption video promotional assets (video #4)"
- [ ] 30-second promo A
- [ ] 30-second promo B
- [ ] Still

[2017-06-13 17:01] hannahkane opened #948 "2FA video promotional assets (video #5)"
- [ ] 30-second promo A
- [ ] 30-second promo B
- [ ] Still

[2017-06-13 17:02] hannahkane opened #949 "Smart Home video promotional assets (video #6)"
- [ ] 30-second promo A
- [ ] 30-second promo B
- [ ] Still

[2017-06-13 17:03] hannahkane commented on #923
Closing this ticket, since the plan is done! Separate tickets filed for creating assets for each video.

Are there any other tickets that need to be filed?

[2017-06-13 17:03] #923 closed, assigned to HPaulJohnson

[2017-06-13 17:05] brettgaylor opened #950 "Re-output videos for legal changes"
After review, we'll need to make changes to each video.

Passwords:
-remove giphy attribution

Ransomware:
-remove giphy attribution

Encryption:
-remove giphy attribution

Router:
-remove giphy attribution
-change survey slide to say "60% of surveyed people own 4+ devices"
-blur the cisco logo on the Atlantic article that shows a router

Wifi:
-remove giphy attribution

2FA:
-remove giphy attribu

[2017-06-13 17:27] brettgaylor commented on #950
@natalieworth maybe hold off for a bit on these, jordan and i are just discussing with Mika re: other opportunities for attribution

[2017-06-13 17:37] natalieworth commented on #936
Hey @brettgaylor , I talked to Alex and he gave some tips for uploading this to facebook and said he could help out if needed. Wondering though if we should wait until we upload the revised legal changed versions so we don't have to re-do it?

[2017-06-13 17:48] brettgaylor commented on #936
agree!

[2017-06-13 18:57] HPaulJohnson commented on #923
In addition to design assets (vids, clips and stills) we'll need copy for FB, twitter and instagram to start. Also, snippet.

We also can/should explore formats for other platforms as well (reddit, pinterest, etc).

[2017-06-13 20:36] beccaklam commented on #900
Here's a good resource for how to spice up the confirmation email as well:
https://emaildesign.beefree.io/2016/01/subscription-confirmation-email-tips/

[2017-06-13 20:59] stephaniemcv commented on #771
I think we are good to close the issue. Signatures are not loaded yet as we're still working out some infrastructure conventions around legacy data.

[2017-06-13 21:21] beccaklam commented on #918
**Proposal for order of learning along with mechanisms for feedback (rough)**
1. What topics are useful/interesting to people (like/dislike, upvote/downvote <-- this may be more niche)

2. What style of video is most compelling (like/dislike? are we planning on doing drastically different styles? Is this something we really want to tailor to user's preferences? Seems a bit odd, does anyone else do

[2017-06-13 21:27] hannahkane commented on #885
from meeting with @Melechuga, @HPaulJohnson and @lovegushwa: key message is that progressive orgs need a healthy internet. CTA is to attend the Lean Data Practices for Civil Society Organizations session.

[2017-06-13 21:28] hannahkane commented on #885
Aiming for concept done before All-Hands, though final execution isn't needed until later.

[2017-06-13 21:51] stephaniemcv commented on #900
Landing in SPAM box is always a possibility, but I don't think it's the biggest factor here (I'll do some in-depth digging because I can't definitively rule it out off the top of my head). Double opt-ins typically have a pretty big drop off, hence why a lot of organizations prefer single-opt in.  We get a lot of replyback to the confirms and welcomes in Desk and we are doing more delieverability w

[2017-06-13 22:21] hannahkane commented on #918
Thanks, @beccaklam. You're right that the style of video isn't necessarily something we'd tailor to user preferences. It's really more about us identifying our target audience and creating content specifically for them. Maybe we should remove that from the list?

Meaningful actions might not be feedback in the "ask people for their feedback" sense of the word, but it is an additional source of dat

[2017-06-13 22:25] Melechuga commented on #885
Here's a link to our session, if useful: http://www.netrootsnation.org/nn_events/nn-17/lean-data-practices-for-civil-society-organizations/

[2017-06-13 22:29] #771 closed, assigned to nobody

[2017-06-13 22:34] stephaniemcv commented on #900
@beccaklam another great resource is https://litmus.com/blog/, we use their tool for SPAM and rendering tests.

[2017-06-13 23:34] HPaulJohnson opened #951 "Net Neutrality: Summer of Social + Snippet"
We intend to keep a steady stream of Net Neutrality content in our social and snippet channels throughout the Summer. The goal is to maximize the number of comments submitted to the FCC by the end of the public comment period in early August.

cc: @lovegushwa @natalieworth @levjoy

[2017-06-13 23:34] HPaulJohnson commented on #951
Plan here: https://docs.google.com/document/d/1w_PhodZIvcD63lwWCdx34Fh7vYIeXdnNOk1wTpFfxyU/edit#

[2017-06-14 03:17] lovegushwa commented on #944
@natalieworth length can be up to 30 seconds but we should look at 5-15 second clips as well

[2017-06-14 03:27] lovegushwa opened #952 "QA>add line break"
Add a line break to push "loved ones" down to the 2nd line with "secure"

<img width="380" alt="screen shot 2017-06-13 at 8 24 54 pm" src="https://user-images.githubusercontent.com/12228435/27114161-768a9e6a-5076-11e7-9441-8c838852cdee.png">

[2017-06-14 03:32] lovegushwa opened #953 "QA>subhead in black rectangle not vertically centered"
@ScottDowne can you fix this?
<img width="875" alt="screen shot 2017-06-13 at 8 30 42 pm" src="https://user-images.githubusercontent.com/12228435/27114275-4c3ede72-5077-11e7-8b49-6935ca63a560.png">

[2017-06-14 03:40] lovegushwa opened #954 "QA>Increase the size of body copy on mobile"
Hey @ScottDowne the body copy is a little small on mobile to view comfortably. Can you increase it by 3-5% ... We can sit and do this together if easier

<img width="531" alt="screen shot 2017-06-13 at 8 36 16 pm" src="https://user-images.githubusercontent.com/12228435/27114388-2b0e827e-5078-11e7-9a40-60816f58bb9a.png">

[2017-06-14 04:04] lovegushwa opened #955 "QA>fix subscribe pop-up until it looks good"
@ScottDowne let's figure out how to fix this guy up.
1. I think the answer is related to points / DP. Really my preference is to push the size larger than what your  previewing because it currently looks broken on medium / larger screens (even if it breaks on smaller screens its still usable)

2. Increase the size of "Email" by 10-15%
3. Let increase the size of the privacy notice line by ~30%
4.

[2017-06-14 04:30] lovegushwa opened #956 "QA>tighten up line spacing on video titles"
@ScottDowne on desktop would like to tighten up the line spacing on video titles.

1. Reduce the size of the play button 15-20%
2. Reduce the type 10-15%
3. Make subhead type color # 9194b0

Let's work on this on vidyo together

<img width="956" alt="screen shot 2017-06-13 at 9 24 18 pm" src="https://user-images.githubusercontent.com/12228435/27115317-b7d4044e-507e-11e7-9fec-118b0ef0234f.png">

[2017-06-14 04:32] lovegushwa opened #957 "QA>align loan video left edge"
<img width="1116" alt="screen shot 2017-06-13 at 9 05 38 pm" src="https://user-images.githubusercontent.com/12228435/27115475-b2cf83c8-507f-11e7-80fd-a993fe9e72a6.png">

[2017-06-14 14:12] beccaklam commented on #900
@hannahkane @stephaniemcv The confirmation emails look pretty good to me. We should probably try optimizing our thank you modals first. We haven't done a lot to let the user know a confirmation email is coming and what to do with it.

[2017-06-14 14:26] beccaklam commented on #918
@hannahkane
I agree with your point about learning about what topics people like via our social channels (Facebook, Twitter, Reddit). They already have systems set up for liking/up-voting set up so we may be better off using that data and focus on some of these other questions we have.

I think the meaningful actions should flow from the videos and be actions we can count towards the TEI.

The las

[2017-06-14 15:10] ScottDowne commented on #953
I see this: https://pageshot.net/XUa8lKf4SwSZgtVc/06cff24b.ngrok.io

And, while I think I could tweak it a few pixels maybe, I most likely won't actually be fixing what you see. You're seeing something that's pretty extreme in the not centered category.

What's the OS Browser combination you used for that?

[2017-06-14 15:54] vojtechsedlak commented on #900
@beccaklam love the idea of testing the user flow on the thank you pages/modals and how we can optimize for increasing double optins, while not hurting other possible actions, such as sharing (not applicable on /safety, but is on other sites where we use share progress). We will be able to glean the impact of the current version once we collect enough data. We can compare the double opt-in rate to

[2017-06-14 16:37] ScottDowne commented on #952
Fixed.

[2017-06-14 16:37] #952 closed, assigned to ScottDowne

[2017-06-14 16:38] ScottDowne commented on #957
Fixed.

[2017-06-14 16:38] #957 closed, assigned to ScottDowne

[2017-06-14 16:39] ScottDowne commented on #954
I bumped it up a bit. We can keep this open and sit together and pump it up a bit more if needs be.

[2017-06-14 16:57] digiexchange commented on #887
Hi all - just curious how the test went?

[2017-06-14 16:58] levjoy commented on #887
Hi 0- just curious how the test went?

[2017-06-14 17:03] cadecairos commented on #887
I uploaded 99 records on Friday, June 9th - I just did a search on the FCC website, and they've yet to be entered.

[2017-06-14 17:31] lovegushwa commented on #953
@ScottDowne weird bug, looks good in FF OS. Bug is in chrome, I'm running android 7.1.2

[2017-06-14 18:01] alanmoo commented on #887
(This is to be expected, but if they're not showing up early next week we'll investigate alternative options)

[2017-06-14 18:08] levjoy commented on #887
Ah! Sounds good.

[2017-06-14 18:29] ScottDowne commented on #954
We looked at it and now like it, closing.

[2017-06-14 18:29] #954 closed, assigned to ScottDowne

[2017-06-14 18:33] ScottDowne commented on #956
Some of this is fixed, button size we're leaving as is. Closing.

[2017-06-14 18:33] #956 closed, assigned to ScottDowne

[2017-06-14 18:41] ScottDowne commented on #929
Fixed.

[2017-06-14 18:41] #929 closed, assigned to nobody

[2017-06-14 19:03] ScottDowne commented on #953
I put the new one next to the old one, for comparison.

https://pageshot.net/yxxza0zCTXZddzaf/www.browserstack.com

Shipping the left one.

[2017-06-14 19:26] stephaniemcv commented on #900
+1 to focusing on testing the thank you modals first.

Here's the <a href="https://mana.mozilla.org/wiki/display/FIREFOX/Optimize+Newsletter+Confirmation+Email">testing results</a> from Firefox confirms using MoFo content.

[2017-06-14 19:34] beccaklam commented on #918
<img width="1439" alt="screen shot 2017-06-14 at 3 34 00 pm" src="https://user-images.githubusercontent.com/20977376/27150902-ec520958-5116-11e7-9825-ecbc1ff8cc13.png">
example of feedback box

[2017-06-14 20:28] brettgaylor commented on #918
What about something like this form, but where users can ask us to make a video, ie "What tips do you need to feel safe online? Got a tip you want to share?  Let us know!"

The trick there I suppose would be that we'd need a way to contact them, which would require opt in etc etc

[2017-06-14 20:32] brettgaylor commented on #918
wonder if we could solve that by it being a simple mailto link?  Ie it prompts them to send us an email?

[2017-06-14 21:07] lovegushwa commented on #942
Happy with where are are on desktop now. Thanks Scott!

[2017-06-14 21:07] #942 closed, assigned to ScottDowne

[2017-06-14 21:08] lovegushwa commented on #953
perfect

[2017-06-14 21:08] #953 closed, assigned to ScottDowne

[2017-06-14 21:08] lovegushwa commented on #954
looks great

[2017-06-14 21:08] lovegushwa commented on #955
happy with this now!

[2017-06-14 21:08] #955 closed, assigned to ScottDowne

[2017-06-14 21:08] lovegushwa commented on #956
looking great now

[2017-06-14 21:09] lovegushwa commented on #955
looks good scott, thank you.

[2017-06-14 23:11] lovegushwa commented on #950
@natalieworth we met with Mika ... so plan is to go ahead and remove the .giphy attributions. Let's connect and fix the em dashes, punctuation while were at it.

[2017-06-15 01:50] lovegushwa commented on #900
@beccaklam can you screen shot the confirmation emails and add to this ticket?

@hannahkane @stephaniemcv
- How extensively have we tested subject lines?
- Also wondering if we can incentivize confirming right away, like "confirm now and get a bonus blah blah blah."

[2017-06-15 03:01] lovegushwa commented on #918
I agree with @brettgaylor about "What tips do you need to feel safe online? Got a tip you want to share? Let us know!" ... @beccaklam has some nice ideas, many of them could be implemented with a survey. The "what style" question is something that we can test on social as we continue to refine the format.

Also I already designed a simple feedback UX asking if users found a set of tips helpful:

<

[2017-06-15 19:31] stephaniemcv commented on #900
@lovegushwa
Confirms have not been extensively tested and this is because it's a triggered send and requires a manual process of setting version A up, letting it run for set time, then swapping in B and then letting it run for the same set time. Also, the same confirm is used across MoFo, regardless of what list you join, so you have to be careful that content can't get too specific to one program

[2017-06-15 19:39] stephaniemcv commented on #918
@brettgaylor I think if you ask them to submit via email, really clear expectations need to be set around if they will or will not get a response. And if we're going to respond, do we have the staff resources for it? And then prep yourself for the conflation between submitting a tip and requesting one on one tech support.

@lovegushwa love this design. What is supposed to happen if you click no?

[2017-06-16 01:49] lovegushwa opened #958 "QA>Replace 2FA poster"
https://github.com/MozillaFoundation/Advocacy/issues/new

@brettgaylor would like something a little better for this video. We need to replace the poster on the site and on youtube. Not sure if this is for @HPaulJohnson or @ScottDowne to do?

Replace this one:
![2fa old](https://user-images.githubusercontent.com/12228435/27208513-f6b8c6f4-51fa-11e7-800d-3a730b5655a0.jpg)

With this one:
https://dr

[2017-06-16 10:21] WillatMozFdn commented on #773
Hey team ... moving along on this one ... on or about **July 15th**, our MoCo colleagues will start including a donation link in the footer of their emails.  (Yay!!!!)  So I'd like to have the new logo in place on donate.mozilla.org by then.  Do-able?  Jordan, I'll ping you about this today (or just show up to the Advo stand-up at 12:30 ET, my calendar is finally clear of conflicts at that time to

[2017-06-16 15:50] ScottDowne commented on #958
I'm replacing the image on the site itself, I am guessing someone needs to update it in youtube too.

[2017-06-16 16:08] lovegushwa commented on #958
@HPaulJohnson can you update the poster on youtube?

[2017-06-16 16:08] ScottDowne commented on #958
New image is on prod now.

[2017-06-16 17:30] HPaulJohnson commented on #958
updated on youtube

[2017-06-16 17:42] brettgaylor commented on #958
![image](https://user-images.githubusercontent.com/345974/27238097-754e81ae-5280-11e7-84e5-7163f7d82575.png)

Great.  Think this looks better in the upworthy page

[2017-06-16 19:50] #958 closed, assigned to HPaulJohnson

[2017-06-16 21:54] lovegushwa commented on #918
@stephaniemcv TBD' but would probably fire a simple form or survey.

[2017-06-16 22:42] hannahkane commented on #773
Adding this to the June 23 milestone and to the media team's weekly sprint planning doc to remind folks to discuss this on Monday. This should be considered a commitment - just a reminder to discuss it and see when it can be done.

[2017-06-16 23:50] hannahkane commented on #907
@hpauljohnson - OK to close this one as a duplicate of #951?

[2017-06-19 20:17] natalieworth commented on #950
@HPaulJohnson @brettgaylor I have the updated 6 video files here:
https://drive.google.com/drive/folders/0B20-0lpP23c0bWtTQnplS2lhWFk

If Youtube/ Facebook allows, there is also the Closed Captions that we'll have to add to the 2 interview videos (Videos 01 and 06). Transcript for those are here: https://github.com/MozillaFoundation/Advocacy/issues/936

Alex said he could help with it if it's diff

[2017-06-19 20:20] brettgaylor commented on #950
Hey @natalieworth looks like you missed the comments about the wifi router video:

-change survey slide to say "60% of surveyed people own 4+ devices"
-blur the cisco logo on the Atlantic article that shows a router

Lets fix those up before uploading that one.

[2017-06-19 20:37] natalieworth commented on #950
@brettgaylor Yes! sry missed those! Just reuploaded the Video 05 if you want to check it out

[2017-06-19 21:09] cadecairos commented on #887
Just to update here...

I submitted rows 2 to 100 and they were accepted and posted by the FCC last week.

Based on that success, about an hour ago I submitted rows 101 to 35600 (35499 comments) via the bulk upload tool on the FCC website. We should expect to see them sometime next week, during the all-hands meeting.

[2017-06-19 22:24] natalieworth commented on #944
Still (drafts) image options are here: https://redpen.io/p/bu0ed5364f15552e1a

Rough teaser scripts are here: https://docs.google.com/a/mozilla.com/document/d/1kHIO7b3Dn8NEgjr4aMv6PHs6bjlgWvLWJ_TJPxtt9us/edit?usp=sharing

with the teaser videos here (super rough exports): https://drive.google.com/drive/folders/0B20-0lpP23c0UnNtN19iLUlnUUE?usp=sharing

cc @HPaulJohnson @lovegushwa @brettgaylor @cal

[2017-06-19 23:14] brettgaylor commented on #950
Works for me!

@HPaulJohnson since it looks like we need to update the URLs instead of just swapping the video, guess we should file seperate bugs for that and I can update upworthy manually.

[2017-06-19 23:20] brettgaylor commented on #944
This seem awesome to me!  My only comment would be to fade music up at beginning and out at the end.

[2017-06-20 15:14] vojtechsedlak opened #959 "Build IOT survey"
Just wanted to file this ticket to keep track of changes that need to be made to the survey, as well as any associated tasks, such as creating a new header or localization.

Outstanding items
- [X] replace header
- [x] update thank you page
- [x] export strings for localization
- [ ] QA

CC @caltrider @lovegushwa

[2017-06-20 16:30] caltrider commented on #959
A few more items:
- [x] Snippet Copy Draft
- [x] Snippet Icon
- [x] Email Draft
- [x] Email Call Out Box
- [x] Blog Post Draft
- [x] Blog Post Image
- [x] Social Copy
- [x] Social Image (if we don't just want to pull from blog post)

cc: @vojtechmzl @lovegushwa

[2017-06-20 21:29] natalieworth commented on #944
Final teaser videos for this are here: https://drive.google.com/drive/folders/0B20-0lpP23c0cjlzNmpSdVZMV3c

[2017-06-20 21:29] #944 closed, assigned to natalieworth

[2017-06-21 23:09] natalieworth commented on #945
@HPaulJohnson Starting a folder for this here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0ZWQ4OUhwQ3F6Slk
Still need to work on the teaser options more—but the 3 poster options and the original video are now uploaded in there.

[2017-06-22 22:32] natalieworth commented on #945
@HPaulJohnson @brettgaylor @lovegushwa 3 still options and 2 teaser options in here
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0Unh3QkxvamxtMWM/view?usp=sharing

[2017-06-22 22:39] natalieworth commented on #950
these are good to go, so closing this tic

[2017-06-22 22:39] #950 closed, assigned to natalieworth

[2017-06-22 22:39] natalieworth commented on #747
Not needing this anymore

[2017-06-22 22:39] #747 closed, assigned to natalieworth

[2017-06-22 22:58] brettgaylor commented on #945
I’m only seeing the one teaser?

-----
Brett Gaylor
moz://a
brett@mozillafoundation.org

[2017-06-22 23:58] natalieworth commented on #945
@brettgaylor can you try again? let me know if it still isn't showing up

[2017-06-23 00:09] brettgaylor commented on #945
Yeah that URL is to one of the videos rather than the folder

On Jun 22, 2017 4:59 PM, "Natalie Worth" <notifications@github.com> wrote:

[2017-06-23 16:15] natalieworth commented on #945
@brettgaylor sorry! this should be the full folder: https://drive.google.com/drive/folders/0B20-0lpP23c0ZWQ4OUhwQ3F6Slk?usp=sharing

[2017-06-30 18:34] hannahkane commented on #887
Just confirming that we have evidence those comments landed, right, @cadecairos?

Should we plan on something like a weekly upload between now and the end of the campaign? @cadecairos - what would work best for you?

[2017-07-04 14:51] ScottDowne opened #960 "Test a pop up email capture on FCC comment page"
This would work like the popup on the/safety page and need to be testable.

There is copy that is needed, and I'll probably need to bug @beccaklam or someone to figure out how a popup in https://advocacy.mozilla.org/en-US/net-neutrality-comments/ would visually change from https://advocacy.mozilla.org/en-US/safety.

[2017-07-04 14:53] ScottDowne commented on #960
There is an email thread with more info. I'm going to add as many of those people that I can find here, plus any more I feel are needed. Please update this ticket with required info.

@vojtechmzl @HPaulJohnson @hannahkane @beccaklam @lovegushwa

[2017-07-05 13:25] beccaklam commented on #960
Potential signup modal:
![screen shot 2017-07-05 at 9 26 29 am](https://user-images.githubusercontent.com/20977376/27866372-10c4b95e-6164-11e7-85de-97628057f2a5.png)

[2017-07-05 16:52] beccaklam commented on #960
@natalieworth Design feedback welcome! ^

[2017-07-05 16:54] hannahkane commented on #960
UX question - if the user completes the email pop-up, do they still get the email checkbox when filling out the comment form?

[2017-07-05 16:57] hannahkane commented on #885
As discussed on today's stand, @natalieworth is going to check in with the durable team to see if there are Net Neutrality assets we can repurpose. @Melechuga - would this work for you?

[2017-07-05 17:12] hannahkane commented on #797
Closing, as this project has been indefinitely tabled

[2017-07-05 17:12] #797 closed, assigned to caltrider

[2017-07-05 17:13] hannahkane commented on #826
Closing, as news matrix has been indefinitely tabled

[2017-07-05 17:13] #826 closed, assigned to ScottDowne

[2017-07-05 17:13] #821 closed, assigned to beccaklam

[2017-07-05 17:36] beccaklam commented on #960
@hannahkane They should not @ScottDowne

[2017-07-06 16:42] hannahkane commented on #960
@HPaulJohnson - can you drop in copy if you have it, please?

[2017-07-06 16:47] HPaulJohnson commented on #960
Main copy:
Love the Web? Sign up for email updates and help us keep it open and free.

Small print (w/ checkbox):
I'm ok with mozilla handling my info as explained in this privacy notice.

[2017-07-06 18:29] beccaklam commented on #960
Design update: @ScottDowne
![mockup](https://user-images.githubusercontent.com/20977376/27926754-7f522eee-6257-11e7-8440-a1ca3906c84f.png)

[2017-07-06 18:43] beccaklam commented on #960
@ScottDowne Notes on colour, font size and line height if it helps:
![screen shot 2017-07-06 at 2 42 38 pm](https://user-images.githubusercontent.com/20977376/27927330-68372b36-6259-11e7-838f-07c40f25f1f4.png)

[2017-07-06 19:49] natalieworth commented on #885
@Melechuga @hannahkane @HPaulJohnson @lovegushwa @beccaklam Couple of options for this in here: https://redpen.io/p/nw4539295777aafb41
They're focused on promoting the session, but it'd be good to pin down what specific content I should include (e.g. date, time, location, etc?) Not sure how much is necessary or if this is the right messaging for it?

[2017-07-06 20:12] beccaklam opened #961 "Select Ten Quotes for Net Neutrality Snippet"
Select ten quotes to rotate in the Net Neutrality snippet.
Selected from this [doc](https://docs.google.com/a/mozilla.com/spreadsheets/d/1G4_Bgt5msjvZUNzFhuzGlZf12XADOcn8Lj1a6pUVH1c/edit?usp=sharing):
*Some quotes have been shortened:

**Free Speech**

1. "Please leave the Internet open to one and all without limitations. Let the little guys keep their voice.” — Concerned Internet Citizen, Boxford

[2017-07-06 21:08] Melechuga commented on #885
Thanks @natalieworth!
I added some notes in the redpen; loving v.2, but have some questions re: the original intent of the design.
Also I tried editing my comments, but just ended up agreeing with myself a lot so...yea...sorry :-/

[2017-07-06 23:13] HPaulJohnson commented on #951
[Doc](https://docs.google.com/document/d/1w_PhodZIvcD63lwWCdx34Fh7vYIeXdnNOk1wTpFfxyU/edit) updated with latest social assets for poll data and geo test.

Snippet for day of action redpens here: https://redpen.io/sr9540d6796d833891

@beccaklam can you update the copy under the search box to read:

Paid media plan for day of action promo (7/10-7/13) here: https://docs.google.com/document/d/1w_PhodZ

[2017-07-06 23:16] HPaulJohnson commented on #961
looks good to me. shared with wes on snippet team to make sure he is ok with them.

if we can't locate the specific quote jordan used for the original comp, we should remove that one.

[2017-07-07 13:46] beccaklam commented on #961
@HPaulJohnson I found the quote, just changed the location from Arlington VA to Boxford MA to match the doc.

[2017-07-07 13:47] beccaklam commented on #951
@HPaulJohnson I updated the comps to have the new copy under the search box:
https://redpen.io/p/jo88274f721407dbf3

[2017-07-07 13:49] beccaklam commented on #961
@ScottDowne ALSO: Copy under search bar (CTA) has been updated:

[2017-07-07 17:00] hannahkane commented on #936
hey @natalieworth and @brettgaylor - can we close this ticket?

[2017-07-07 17:02] natalieworth commented on #945
snippet options are here https://redpen.io/p/xecf34b2281078dea3

[2017-07-07 21:14] ashleyboyd18 commented on #960
So excited that this is moving forward!  Any updates on status?  We're launching social ads on Monday (Paul can clarify if I'm wrong) and I'd love to have this up on Monday or soon after to capture emails too.

[2017-07-07 21:22] hannahkane commented on #960
We were focused on shipping the snippet this week, but were able to finalize the design for this so we can implement early next week.

[2017-07-07 21:27] ashleyboyd18 commented on #960
Hooray!  Thank you - and the snippet is amazing.

[2017-07-10 17:37] caltrider commented on #959
Link to the survey draft:  https://www.surveygizmo.com/s3/3643927/Mozilla-IOT-Survey-06-2017

[2017-07-10 17:38] hannahkane commented on #961
@beccaklam - Can we close this ticket now?

[2017-07-10 18:28] hannahkane commented on #951
@HPaulJohnson - are we good to close this ticket? Maybe we could file specific tickets for social assets needed.

[2017-07-10 18:29] hannahkane commented on #907
Closing, but @HPaulJohnson, please reopen if useful

[2017-07-10 18:29] #907 closed, assigned to nobody

[2017-07-10 18:31] hannahkane opened #962 "Run Day of Action social"
One static + two videos (Al Franken + Ashley)

@HPaulJohnson - anything needed here, or just to run it?

[2017-07-10 18:48] hannahkane opened #963 "Day of Action snippet"
Designed and implemented!

This is just a ticket to remind @HPaulJohnson to coordinate the final steps of pushing this out.

[2017-07-10 18:54] hannahkane opened #964 "Typeoutloud instance for Net Neutrality"
This ticket should encompass everything we need to do to set up a new typeoutloud instance.
- [X] choose url (typeoutloud.org/net-neutrality)
  - [x] do we want query strings for the various channels like we've done in the past (i.e. to differentiate the instance for people who arrive via email) - NO
- [x] write copy (headline, prompt, pop-up, share progress)
  - [x] figure out what the CTA is - w

[2017-07-10 18:54] hannahkane commented on #964
@beccaklam @ScottDowne - these are the things I can think of to set up a new typeoutloud instance. What am I missing?

[2017-07-10 18:54] #961 closed, assigned to ScottDowne, beccaklam

[2017-07-10 18:56] hannahkane opened #965 "NN typeoutloud promotional email"
In order to solicit NN comments to use for the posters, we'll need to promote the new typeoutloud instance (#964). Current plan is to send an email on Saturday, July 22nd.

[2017-07-10 18:57] hannahkane commented on #965
@HPaulJohnson and @lovegushwa @beccaklam - who will be responsible for coming up with the plan, and who will be responsible for creating any necessary assets?

[2017-07-10 19:07] beccaklam commented on #964
@hannahkane I think you got most of it, I just added social images to your list.

[2017-07-10 19:11] hannahkane opened #966 "Create Net Neutrality posters for congressional town halls"
The copy will come from the typeoutloud ( #964 ).

@HPaulJohnson - How many do we want?

@lovegushwa - thoughts about theme, look & feel?

@caltrider - you mentioned we might need poster-alternatives for those where the town hall organizers have banned posters. Something like cafepress t-shirts, right?

[2017-07-10 19:14] hannahkane opened #967 "Promote net neutrality posters"
We'll need a plan to promote the net neutrality Town Hall posters ( #966 ) once we've created them.

Might include some combination of social, blog, and email.

[2017-07-10 19:17] hannahkane commented on #945
I believe this is done, so closing.

[2017-07-10 19:17] #945 closed, assigned to natalieworth

[2017-07-10 19:17] hannahkane commented on #936
Closing, but please reopen if needed.

[2017-07-10 19:17] #936 closed, assigned to natalieworth

[2017-07-10 19:22] hannahkane opened #968 ""Something We Can All Agree On" net neutrality videos"
- [x] short video 1
- [x] short video 2
- [x] short video 3
- [ ] animated video
@beccaklam @caltrider  @HPaulJohnson @lovegushwa @brettgaylor @natalieworth

[2017-07-10 19:22] hannahkane commented on #968
@HPaulJohnson to maybe schedule a meeting about this and other videos :)

[2017-07-10 19:24] hannahkane opened #969 "Safety First videos - determine next series"
@HPaulJohnson to schedule a meeting to discuss next set of videos

cc @lovegushwa @beccaklam @natalieworth @brettgaylor @caltrider

[2017-07-10 19:29] hannahkane opened #970 "Finalize Privacy and Security Game concept"
Should be receiving some notes from Kenyatta shortly, and can then pitch, refine, prototype, etc.

[2017-07-10 22:28] Melechuga opened #971 "Update to Copyright Site"
Detailed description of work:

Proposed updates for the copyright site (changecopyright.org)
- integrate a call tool (Cade is demoing and reviewing in this ticket: https://github.com/MozillaFoundation/mofo-devops/issues/499#issuecomment-307403823)
- update landing page to be more useful: include timeline, changes in committees, events happening, links to relevant blogposts, etc.
- if possible, inc

[2017-07-10 22:55] hannahkane commented on #971
Awesome. Thanks, @Melechuga. Do you have a deadline? Do you have a content doc started? I'm wondering how much the content changes will affect the design and layout.

I'll see about finding people to work on this, perhaps from outside the Advocacy media team, since they are very occupied with the Net Neutrality campaign.

[2017-07-11 16:42] caltrider commented on #959
Thanks @beccaklam.  Here's the github ticket with the list of things needed.  And the link to the current survey with the old wrapper.  Holler if you have any questions.

[2017-07-11 18:37] natalieworth commented on #946
Still have to add the video promo—but have started adding static images in here https://drive.google.com/drive/folders/0B20-0lpP23c0X2I0LTdrZ1VlZDg?usp=sharing

[2017-07-11 20:23] natalieworth commented on #885
@Melechuga there are 2 pdfs in this folder https://drive.google.com/drive/folders/0B20-0lpP23c0UUhTVUo3TXpoelU?usp=sharing
1 option includes 'bleed' (I wasn't sure if the printer needed that or not)? If not, we can just send them the regular option.

[2017-07-11 20:45] natalieworth opened #972 "Snippet Icons for Safety First promo"
Detailed description of work:
Create static and animated snippet icons for the Safety First promo on the Firefox snippet.

Start date: July 7, 2017
Due date: TBD (deliver with 3rd batch of social promotion)

Content here:
https://docs.google.com/document/d/1EbuobB6LhVqV3KUrrcrqYQ4etHBypPTcZ6w3jKk6Wg4/edit

[2017-07-11 22:34] ScottDowne commented on #960
Test can be setup now.

Test url is https://advocacy.mozilla.org/en-US/net-neutrality-comments/?test=signup-modal

@vojtechmzl ^^

[2017-07-11 22:37] vojtechsedlak commented on #960
Thanks, Scott. I am trying to set up the test in Optimizely, but running into permission issues. Hopefully will hear back from MoCo by EOD so we can set the test up before tomorrow.

[2017-07-12 16:14] #885 closed, assigned to lovegushwa, natalieworth

[2017-07-12 16:23] Melechuga commented on #971
Getting Policy review this week; should have the content doc ready to go by next week!
Thanks again @hannahkane

[2017-07-12 17:02] #963 closed, assigned to HPaulJohnson

[2017-07-12 18:40] lovegushwa commented on #966
@HPaulJohnson @caltrider @hannahkane @beccaklam @natalieworth  would be great if you could help decide how to move forward with the new typeoutloud poster prompt by the end of the day. Here are a few options for us to consider, I set these up just like how the madlib would appear/function on typeoutloud.org ... additional copy ideas in this [doc](https://docs.google.com/a/mozilla.com/document/d/1T

[2017-07-12 19:03] natalieworth commented on #966
My preference is either A or B. I like that A shows what we could loose without net neutrality (even if it feels negative—it stills feels pretty strong to me). I like B too though. It feels a bit lighter and almost 'cool/ hip' in the language and tone.

[2017-07-12 19:08] hannahkane commented on #966
Did you nix the idea of the strikethrough? I actually quite liked that, though I think it might be clearer if the good thing was crossed out, rather than the bad thing - e.g. "<s>Freedom</s>" not "<s>Less freedom</s>". If we went with that model, the prompt might be something like, "If we lose net neutrality, we'd say goodbye to..."

(I also like that that version, along with "Defend Net Neutralit

[2017-07-12 20:25] lovegushwa commented on #966
@hannahkane no I didn't nix the strikethrough would still be how we make posters for option A. Just wanted to present these the way a user would see them on typeoutloud.org

[2017-07-12 20:28] HPaulJohnson commented on #966
I think A is the most intuitive and will result in the strongest ideas/outputs.

Thinking about this in the context of the other content we'll have in August, in particular the "something we can all agree on" videos, do any of these work better/worse as a complement to that part of the campaign? May not be relevant but just throwing it out as they will likely be in market around the same time.

[2017-07-12 21:02] beccaklam commented on #966
I vote for option A! I think it's the clearest option still.

[2017-07-12 22:08] lovegushwa commented on #966
@hannahkane @beccaklam looks like A. is the winner. We can move ahead with a new typeoutloud.org instance and start developing poster directions including the <s>strike through</s>

[2017-07-12 23:56] natalieworth commented on #946
@HPaulJohnson I have some different social options in here:https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0aW9GZFNuU0FsdlU/view?usp=sharing
There's 1 poster image, 1 teaser, and then I also threw in a 'meme-like' one of the Fry meme we feature in the video. I also created some Instagram specific ones based on some research (although we're not really selling a product other than free kno

[2017-07-12 23:58] natalieworth commented on #946
Oh! Does this make sense too? If you have something wittier I can make it. I was going off of this though: @HPaulJohnson @lovegushwa @beccaklam
![ransomware-screen](https://user-images.githubusercontent.com/14876567/28144905-3150f1c8-6723-11e7-8dbc-87e9ebabd0c6.jpg)

<img width="483" alt="screen shot 2017-07-12 at 4 58 11 pm" src="https://user-images.githubusercontent.com/14876567/28144935-59b615c

[2017-07-13 17:24] lovegushwa commented on #964
@beccaklam @ScottDowne the copy for the new instance is "Without net neutrality ..."

[2017-07-13 17:38] lovegushwa commented on #964
@HPaulJohnson a few notes for you:
- can we repurpose social content we already have for share progress? we will need social copy.
- @beccaklam is going to take a crack at the popup copy and then run it by you.

[2017-07-13 17:38] lovegushwa commented on #964
@hannahkane @HPaulJohnson for the url ... "/net-neutrality" ?

[2017-07-13 17:52] hannahkane commented on #959
Noting that this is scheduled for the week of the 24th, but is potentially moveable.

[2017-07-13 23:14] hannahkane commented on #962
Closing, since the Day of Action has passed

[2017-07-13 23:14] #962 closed, assigned to HPaulJohnson

[2017-07-13 23:22] hannahkane commented on #965
@HPaulJohnson @lovegushwa @WillatMozFdn - I started filling out the [email RASCI doc](https://docs.google.com/document/d/1hfQzc-y4QFq708G1HG6kqe63NSgBAcdzpAhXhIvkd8A/edit).

Who's the right person to draft the email?

[2017-07-13 23:29] hannahkane commented on #967
@vojtechmzl @HPaulJohnson or @lovegushwa and @caltrider - what thoughts do you all have about how to best promote the net neutrality posters once we have them? I believe for the Science March we hosted them on imgur and linked to them from a blog post on Medium. Did that work well?

[2017-07-14 14:13] beccaklam commented on #964
@lovegushwa Feedback on colour? Don't know if it's too similar to what we had for Internet Health but the choices were inspired by the Net Neutrality Comments page. Also the dark blue is more somber going along with the "without" theme:
<img width="1440" alt="screen shot 2017-07-14 at 10 05 46 am" src="https://user-images.githubusercontent.com/20977376/28215619-a2bc0096-687c-11e7-8ffd-aea95601a3cd

[2017-07-14 16:45] caltrider commented on #967
@vojtechmzl @hannahkane @HPaulJohnson @lovegushwa The problem with Imgur was that it made FB and Twitter shares harder/not as effective.  I think we could do imgur for the blog/reddit, but maybe upload directly to to FB and Twitter to also have links to share on those platforms.

[2017-07-14 16:57] hannahkane commented on #967
+1 to @caltrider's suggestion, though I can't remember if there was a reason we didn't do that with the Science posters.

As discussed on today's call - do we want to promote a specific hashtag along with the posters so we can potentially see photos of the posters in the wild?

[2017-07-14 20:50] beccaklam commented on #959
@caltrider Here is first draft of the header, let me know what you think:
https://redpen.io/qz9028ae606480c414 <-- redpen for comments
<img width="1300" alt="artboard 1 2x" src="https://user-images.githubusercontent.com/20977376/28230300-5574722c-68b4-11e7-989f-d3ce3f588819.png">
CC: @lovegushwa @hannahkane

[2017-07-14 21:08] HPaulJohnson commented on #972
Thanks, @natalieworth! these look great and I've selected 3 options for possible testing: safety cone static, animated privacy heart and animated lock.

These, along with the copy, have been sent to the snippet team: https://docs.google.com/document/d/1yxoYs-ksgRd-tRG3ZMqnNVN-U1_XnEivN9X88oTUmbU/edit

[2017-07-14 21:13] HPaulJohnson commented on #968
@lovegushwa is leading the charge here and can update but we have a concept settled and moving towards production.

[2017-07-14 21:16] HPaulJohnson commented on #965
@WillatMozFdn is this something you could write? I'm not sure we have the capacity or person to do that at the moment.

[2017-07-14 21:19] HPaulJohnson commented on #951
We can close. Phases 1 & 2 of Summer of Social are complete and we are wrapping up all the assets for next phase and can ticket additional work separately. To recap what's left to wrap and what will be available to use in Jul-Aug:

- Geo-targeted social (for paid)
- Typeoutloud Poster project
- Something we can all agree on video series

[2017-07-14 21:19] #951 closed, assigned to HPaulJohnson, lovegushwa

[2017-07-14 21:32] HPaulJohnson commented on #946
@natalieworth I think these are great. trying a meme and a carousel approach for instagram is a solid test to give us a directional sense of how different that content might need to be.

I'm going to put attach some copy to each of these assets and get them into the paid media mix early next week. I think we are good to go for video #3.

[2017-07-14 21:55] HPaulJohnson commented on #964
This is looking great @beccaklam. A few suggestions for the copy...

For the intro pop-up, some suggested edits

"What would the _be_ without Net Neutrality? Add your thoughts and we will turn some favorites into a set of Posters you can print out or share on social media. Follow us on Facebook, Twitter or Medium to see the final results!"

For the post-submit pop-up:

"Thank you for sharing your

[2017-07-15 00:26] hannahkane commented on #971
Hey @Melechuga - I added a couple questions to the content doc.

It looks like we're going to need not just engineering support (both front-end and back-end), but also design support.

Can you clarify the timeline?

[2017-07-17 13:45] WillatMozFdn commented on #965
@HPaulJohnson Sure.  Pretty busy this week with fundraising stuff and picking up Rose's tasks, but I'll fit it in.  Do we have any more detail -- maybe just a few bullet points -- on what we want the central message of the email to say?  (That would help a lot.)

[2017-07-17 14:04] TheoChevalier commented on #971
@Melechuga hey, do you mind sharing the content doc with me for a quick l10n sanity check?

[2017-07-17 15:33] beccaklam commented on #959
Update to header image based on feedback from @caltrider
https://redpen.io/qz9028ae606480c414 <-- redpen for comments
<img width="1300" alt="artboard 2 2x" src="https://user-images.githubusercontent.com/20977376/28275982-94b7d358-6ae3-11e7-92f6-ab0ee156c8b9.png">
CC: @lovegushwa @hannahkane

[2017-07-17 15:33] HPaulJohnson commented on #965
The message of this is part of the continued Net Neutrality campaign so you all on the campaign team know as well as I do what the best message might be. Tagging @Melechuga to see if she has anything specific in mind.

My understanding is that we are encouraging people to contribute sign ideas, we'll pick/design the best for posters and then people can come back and print/share them to take to the

[2017-07-17 16:37] hannahkane opened #973 "Add blurb explaining comment collection timeline to top of comment collection page"
Approved copy: "Keep commenting!  The FCC is continuing to take comments on net neutrality through August 16, though earlier comments were used in their first round of review."

cc @levjoy @HPaulJohnson

[2017-07-17 18:01] Melechuga commented on #971
@TheoChevalier [Here's the doc](https://docs.google.com/document/d/11R5oze6_1wl9CxpO25T6-N4NC8N2jdip-QU0TH8-A6Y/edit#bookmark=id.ed09qo3jhyi4)
Waiting for policy review.

[2017-07-17 18:32] beccaklam commented on #959
@caltrider @lovegushwa @hannahkane
Header with title:
https://redpen.io/qz9028ae606480c414 <-- redpen for comments
<img width="1300" alt="artboard 4 2x" src="https://user-images.githubusercontent.com/20977376/28283739-b55ddba2-6afc-11e7-8b5f-4e9b9acc65aa.png">

[2017-07-17 20:40] lovegushwa commented on #964
Happy with this, ship it!

[2017-07-17 20:41] lovegushwa commented on #959
@beccaklam thank you, let's ship this!

[2017-07-17 20:49] hannahkane opened #974 "QA (net neutrality typeoutloud): my comment disappears"
Testing on staging server.

STR:
Add a comment.
It shows up briefly, and then disappears

[2017-07-17 22:12] hannahkane commented on #964
Just updated the list in the first comment. I believe we're still waiting on Share Progress copy. Are we good on metrics for this? @vojtechmzl - do you know of anything we need to do on this front?

I did a little QA on the staging server, and filed [one ticket](#974) that's definitely a blocker.

[2017-07-17 23:22] hannahkane commented on #971
OK, looking at the doc, I think this is going to require quite a bit of design work. It's a lot of content, and I don't think it will be as simple as switching out the content in the existing design.

We don't currently have any designers who aren't already booked on other projects, so we'll need to sync up with various others to problem-solve. I'll send an email.

[2017-07-18 00:00] hannahkane commented on #973
@beccaklam @HPaulJohnson - added approved copy from Ashley to the original comment.

@beccaklam - are you able to come up with a design for this, implement it, and push the changes, or do we need add'l help?

[2017-07-18 14:25] beccaklam commented on #974
This should be fixed now - it was a google sheets issue.

[2017-07-18 14:41] beccaklam commented on #959
**Second option:** Played around with the header image again this morning and I actually think this image is stronger for the survey. I feel like the above image is too heavy handed with the devices whereas the image below can pique the user's interest with the question of "what am i connected to?" @caltrider @lovegushwa @hannahkane Thoughts? We could save the devices for snippet or for the other

[2017-07-18 15:19] vojtechsedlak commented on #959
@caltrider @lovegushwa @beccaklam Just added the second option to the survey. I also changed the background to match the header. Let me know if I should swap in v1 header or if you'd like to see any further changes made. Thanks!

Here is the link: https://www.surveygizmo.com/s3/3643927/Mozilla-IOT-Survey-06-2017

[2017-07-18 16:00] vojtechsedlak commented on #964
GA seems to be firing off correctly, so all good on that front.

[2017-07-18 16:17] HPaulJohnson commented on #973
thanks, @hannahkane - copy looks great to me.

[2017-07-18 16:35] beccaklam commented on #973
I should be able to handle this! @hannahkane

[2017-07-18 18:04] beccaklam commented on #974
Can this be closed @hannahkane ?

[2017-07-18 18:05] beccaklam commented on #973
@hannahkane just confirming, am I swapping out this current copy?

[2017-07-18 18:22] hannahkane commented on #973
Just checked with Ashely - she says the new sentence should go *after* the copy that's in that box now.

[2017-07-18 18:25] hannahkane commented on #974
Yes, fixed.

[2017-07-18 18:25] #974 closed, assigned to beccaklam

[2017-07-18 18:27] hannahkane opened #975 "QA (net neutrality typeoutloud): Is it weird that we mention social accounts, but don't link to them?"
In the pop-up, we mention following us on Facebook, Twitter, and Medium, but don't provide links. I think we should.

[2017-07-18 19:15] beccaklam commented on #975
OH we should definitely link them! Thanks for catching that @hannahkane!

[2017-07-18 19:53] beccaklam commented on #959
Survey Assets here, includes Survey wrapper, snippet, social, email callout, and blog header:
@caltrider @lovegushwa @hannahkane
https://redpen.io/p/hy7d91817ddaaa45bc <-- redpen for comments
**Survey header**
<img width="1300" alt="survey-wrapper-header" src="https://user-images.githubusercontent.com/20977376/28336672-ddf81814-6bd0-11e7-81f5-74e9dc85875a.png">
**Snippet Options**
<img width="41"

[2017-07-18 20:05] WillatMozFdn opened #976 "Add "subscribed=1" code to home page of safety videos, to turn off email ask if we sent you there from email"
Detailed description of work:  The individual safety videos have the code in there to turn off the "join our email list" popup ... but the home page of all the videos at https://advocacy.mozilla.org/en-US/safety/ unfortunately does not.  We should fix and standardize this, so that if we send someone to the videos page from an email (with the subscribed=1 querystring), the popup asking for their em

[2017-07-18 20:21] beccaklam commented on #973
@hannahkane Like this?
![screen shot 2017-07-18 at 4 20 05 pm](https://user-images.githubusercontent.com/20977376/28337901-119453b4-6bd5-11e7-913b-ab2a23f0c5d9.png)

[2017-07-18 20:41] ashleyboyd18 commented on #973
Looks great - thank you!

[2017-07-18 21:29] hannahkane commented on #959
Looks great to me! @caltrider - if you're happy with these, can you check off the appropriate checkboxes above?

[2017-07-18 22:04] hannahkane commented on #965
@HPaulJohnson @WillatMozFdn - Is there an update on this?

[2017-07-18 22:05] hannahkane commented on #946
@can we close this one?

[2017-07-18 22:06] hannahkane commented on #947
My understanding is we're holding off on this, as well as 5 and 6. Is that right, @HPaulJohnson? If so, I'll remove from the "pre work week" milestone.

[2017-07-18 22:07] hannahkane commented on #972
Can we close this?

[2017-07-18 22:09] hannahkane opened #977 "Consider revised user journey for Safety First"
As discussed during Monday's planning meeting, the email pop-up is not working very well, based on initial data.

Should we consider a different journey?

@vojtechmzl @HPaulJohnson

[2017-07-18 22:45] natalieworth commented on #972
Yep! Final files are here for reference https://drive.google.com/drive/folders/0B20-0lpP23c0NVlxOW9NWHIyTWc?usp=sharing

[2017-07-18 22:45] #972 closed, assigned to natalieworth

[2017-07-18 22:46] Melechuga commented on #965
@hannahkane @HPaulJohnson @WillatMozFdn
Josh and I are meeting about this tomorrow, and talking about this further with the larger team during our Thursday call. Will have more details on messaging for the posters and such then, which may help guide the email messaging. Thanks!

[2017-07-18 22:48] #946 closed, assigned to natalieworth

[2017-07-18 23:10] Melechuga commented on #971
@TheoChevalier
I see that we localized this site into 23 different languages the first time; wow! I was hoping we could have a chat about prioritizing the languages for this next iteration. Would be great to get a sense of what you think is possible, and to line it up with the communities with which we're working closely. Sound ok?

[2017-07-18 23:30] HPaulJohnson commented on #947
Yep. Let's finish with the assets we have in the can. Focus of this site in next phase will be:

- Test using it as an evergreen call to action in a rapid response social campaign around privacy or security.
- Evaluate optimizations to make to the UX to increase email capture conversion rate
- Evaluate how/where it can be integrated into the larger Safety campaign this Fall.

[2017-07-18 23:31] TheoChevalier commented on #971
@Melechuga Yup, we can totally make decisions based on the progress of a “Tier1” list of locales. We will need to communicate which locales are our Tier 1, then we can just expose the new content to all locales, and each team will catch up as they can, using this info to prioritize their work against other projects.
Once we have our tier1 locales completed, we can push the new content to productio

[2017-07-18 23:40] HPaulJohnson commented on #947
also should add that we will be pushing traffic to the site next week via snippet to get another big sample of performance data.

[2017-07-19 00:13] HPaulJohnson commented on #964
Share Progress copy is done.

NOTE: that when we figure the specific context we will be using this in - like "Go to a townhall in your community" - we may want to revisit the copy on both the popup and the share progress page to reinforce.

For now, and without additional context, we are ready to ship this as is I believe.

[2017-07-19 14:03] beccaklam commented on #975
@hannahkane Links have been added to staging: https://www-typeoutloud-org-staging.herokuapp.com/net-neutrality

[2017-07-19 15:37] caltrider commented on #959
Looks good to me. Checkboxes marked. @hannahkane @beccaklam

[2017-07-19 15:57] TheoChevalier commented on #959
Unfortunately, I don’t think we can switch the survey wrapper based on the locale in Surveyguizmo, so it would be better not to include the title in English in the image, but rather move it in the survey page, if possible. Or otherwise we can try to integrate the translated titles alongside English, but I can’t tell if it’s something we would be okay with

[2017-07-19 16:05] Melechuga commented on #971
@TheoChevalier
Good to know we can control it so well! For this iteration of the copyright site, I'd like to prioritize 5 languages: French, German, Italian, Polish, and Spanish. No surprise that FR, DE, PL, ES are there, as our largest groups; I'm adding IT as they're a key community we're working with on the ground, and potentially having the website in Italian would help grow that subset.

Does

[2017-07-19 16:14] HPaulJohnson commented on #975
@beccaklam for the Medium link, can we actually change it to this: https://medium.com/mozilla-internet-citizen (That's the blog where the actual content will appear)

[2017-07-19 16:46] TheoChevalier commented on #971
@Melechuga Yup, the list makes sense.

Before we can start localizing, this needs to happen:
- Design works
- Building the new template, and potentially new page(s)

Then I can extract strings and expose them in Pontoon

[2017-07-19 17:28] hannahkane commented on #964
QA passes, with the exception of the Medium link mentioned in #975. Once that's resolved, please push to production server.

[2017-07-19 17:30] hannahkane commented on #947
OK, removing from "Pre work week" milestone

[2017-07-19 18:07] beccaklam commented on #975
Changed the medium link to the internet citizen version.

[2017-07-19 18:07] #975 closed, assigned to beccaklam

[2017-07-19 18:09] beccaklam commented on #964
Fixed the Medium link and pushed to prod, it should be up now: https://www.typeoutloud.org/net-neutrality

[2017-07-19 18:13] hannahkane commented on #964
Awesome! I'm adding some content now, so it's not empty when we start directing traffic to it. Nice job, @beccaklam!

[2017-07-19 18:16] HPaulJohnson commented on #964
@beccaklam one question re: Share Progress page. The wrapper is pretty old and has old Mozilla branding. Is there a more updated wrapper we can use instead and/or can we create one with the new branding?

[2017-07-19 18:29] hannahkane commented on #971
@Melechuga - can you provide an overarching timeline for this? That will help with identifying design/dev staff for this.

[2017-07-19 18:42] beccaklam commented on #973
This has been pushed to prod! https://advocacy.mozilla.org/en-US/net-neutrality-comments/

[2017-07-19 18:42] #973 closed, assigned to beccaklam

[2017-07-19 18:54] hannahkane commented on #973
Woohoo! Thank you!

[2017-07-19 18:56] hannahkane commented on #894
I think this ticket is no longer needed. We've identified a tool, and I believe we're conducting a vendor review now.

[2017-07-19 18:56] #894 closed, assigned to nobody

[2017-07-19 18:59] hannahkane commented on #50
I think this is no longer a goal. Closing.

[2017-07-19 18:59] #50 closed, assigned to ScottDowne

[2017-07-19 18:59] hannahkane commented on #48
Closing as we're no longer working on this.

[2017-07-19 18:59] #48 closed, assigned to ScottDowne

[2017-07-19 19:01] #323 closed, assigned to nobody

[2017-07-19 19:01] hannahkane commented on #699
I think this system is in place now, so closing.

[2017-07-19 19:01] #699 closed, assigned to natalieworth

[2017-07-19 19:01] hannahkane commented on #700
@lovegushwa - does this ticket still feel useful?

[2017-07-19 19:02] #702 closed, assigned to nobody

[2017-07-19 19:03] hannahkane commented on #806
Closing, as this conversation is happening elsewhere.

[2017-07-19 19:03] #806 closed, assigned to nobody

[2017-07-19 19:11] beccaklam commented on #964
@HPaulJohnson I updated the wrapper to something really basic with the new logo. Let me know if you want more pizzaz or anything else on it? http://share.mozilla.org/352/181993

[2017-07-19 19:20] HPaulJohnson commented on #964
@beccaklam much better! The only thing we should add is a footer. That could either be the standard footer from our advocacy pages or something simpler that just has a single CTA back to the net neutrality page on advocacy.mozilla.org

[2017-07-19 20:04] beccaklam commented on #964
@HPaulJohnson I added a simple CTA to the net neutrality comments page on advocacy.mozilla.org is that ok? http://share.mozilla.org/352/181993

[2017-07-19 20:13] HPaulJohnson commented on #964
@beccaklam perfect. we can call this one done!

[2017-07-19 20:56] beccaklam commented on #964
@HPaulJohnson Sweet!

[2017-07-19 20:56] #964 closed, assigned to beccaklam

[2017-07-19 21:52] hannahkane commented on #976
@WillatMozFdn - are we sending an email pointing to this page soon?

[2017-07-20 00:03] Melechuga commented on #971
Hi @hannahkane -- not totally sure what you mean, but I can try. The goal is to push engagement during the month of September, as there is a vote happening in early October. With this in mind, the timeline would look something like:
- Aug. 15: Soft launch of website, if possible
- Aug. 30: hard launch
- September 1 - Oct. 10: network/community engagement (calling, visiting site)
- Post Oct: review

[2017-07-20 00:27] natalieworth commented on #968
@hannahkane  @HPaulJohnson @brettgaylor @beccaklam Here's the first super rough draft of vid 1 (hannah suggested changed the vs. to mullet instead of pigtails which I like!) Thinking we'll just get 3-4 rough ones done first and then can refine from there if they're working:
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0bzVWbGs4aUQ5QzA/view?usp=sharing

I'm just working on the other 2

[2017-07-20 00:29] natalieworth commented on #968
attribution reference (still need to add to video 1)
sound: http://freemusicarchive.org/music/Captive_Portal/Laughing_Turkeys_-_EP/01_Intro_For_A_Nonexisting_Video_Game)
artwork: http://piq.codeus.net/picture/23631/boxing_glove
Stat content: Findings from an Ipsos poll conducted May 24-25, 2017 on behalf of Mozilla

attribution reference (for vid 2)
dj scratch (cc zero) https://freesound.org/peopl

[2017-07-20 12:29] WillatMozFdn commented on #976
@hannahkane  -- yes, MIH team would like to link to that page in their August newsletter, which is scheduled for the first week of August -- thus the "due date" I put on there.

[2017-07-20 16:24] HPaulJohnson commented on #968
@natalieworth this is really fun! Nice work.

In some ways, I wish it could be faster to the punchline so I wonder what it looks like slightly sped up?

The "Tell the FCC" CTA will likely need to change but it's fine as a placeholder until we know more about what the next phase of mzl.la/savetheinternet will be.

In any case, when we have the other 2 for additional context, it's probably good to g

[2017-07-20 16:27] HPaulJohnson commented on #968
Actually, re: the CTA, what if we just cut out the FCC frame altogether and have the CTA be simply visit mzl.la/savetheinternet. It would make these more evergreen and we can put a more specific CTA in the actual copy of the post as needed.

[2017-07-20 17:26] caltrider commented on #959
Good point @TheoChevalier. Just talked it through with @vojtechmzl and @beccaklam and we're going to take the title of "How Connected Are You?" out of the design header and Vojtech is going to add that in as a changeable title at the top of the survey

[2017-07-20 17:26] beccaklam commented on #959
@vojtechmzl @caltrider @hannahkane Here is the updated header sans title:
<img width="1300" alt="survey-wrapper" src="https://user-images.githubusercontent.com/20977376/28430573-00887c64-6d4f-11e7-8919-169b5c81176d.png">

[2017-07-20 17:40] hannahkane commented on #968
That flying eagle! :eagle:
I'm digging this.

[2017-07-20 17:43] HPaulJohnson commented on #968
@natalieworth we should also add some attribution to the data frame. From the blog post:

"Findings from an Ipsos poll conducted May 24-25, 2017 on behalf of Mozilla."

[2017-07-20 17:44] brettgaylor commented on #968
Wonderful!  These are a great format, you can see how several of these would be created.

Agree with Paul in that these could be 15 seconds long, so I'd really push accelarating the intro and perhaps combining the text on to one screen.  I also find sentences which are split across several cards are hard to ensure messaging pullthrough, especially with non traditional fonts and layouts like you ha

[2017-07-20 18:35] natalieworth commented on #968
thanks @brettgaylor and @HPaulJohnson for feedback! going to make those changes now and will repost. I'm thinking it'll be easier for me to get the first draft down/ easy to read/ short enough and then use that as a template for 2 more today

[2017-07-20 20:40] natalieworth commented on #968
thanks @brettgaylor and @HPaulJohnson for feedback! going to make those changes now and will repost. I'm thinking it'll be easier for me to get the first draft down/ easy to read/ short enough and then use that as a template for 2 more today

[2017-07-20 20:44] natalieworth commented on #968
V2: https://drive.google.com/open?id=0B20-0lpP23c0bFRGMDlUYnBpX2c
cc @HPaulJohnson @hannahkane @brettgaylor @beccaklam

I adjust the timing and switched out to vs. content that is more relatable/ understanding (with the Star Trek vs. Star Wars). I also applied some texture affects over it since the resolution of all the gifs were fairly low. @brettgaylor do you still feel like it's difficult to re

[2017-07-20 21:09] brettgaylor commented on #968
You're a genius.  A GENIUS!

Easier to read now.  I'd suggest you just change the "Americans Support" card to be "American Support for" and then the "Net Neutrality" card should have a colon, so "Net Neutrality:"  That would I think be an ok shorthand for "American support for net neutrality by political party".  What do you think @HPaulJohnson ?

Nit picky, but also I'd move the jiggling picard a

[2017-07-20 22:15] hannahkane commented on #976
@ScottDowne is out this week, so we'll have to check in with him next week.

[2017-07-21 02:28] lovegushwa commented on #968
oh sh*t this is so good @natalieworth hahahaha.

[2017-07-21 04:17] lovegushwa commented on #968
@natalieworth could use a few more seconds on the first captain picard and yoda ... brilliant execution.

[2017-07-21 18:11] HPaulJohnson commented on #968
@brettgaylor @natalieworth i'm good with brett's suggested copy change above. looking amazing.

[2017-07-21 18:27] natalieworth commented on #968
Latest cut with changes https://drive.google.com/open?id=0B20-0lpP23c0anFKZk9CM2NSN0E
cc @brettgaylor @HPaulJohnson @hannahkane @lovegushwa  @beccaklam

[2017-07-21 18:34] brettgaylor commented on #968
Cool!!!  In the interest of getting stuff shipped I have no more notes :)

-----
Brett Gaylor
moz://a
brett@mozillafoundation.org

[2017-07-21 19:30] HPaulJohnson commented on #968
+1 ship it!

[2017-07-21 20:23] beccaklam opened #978 "Stick Figure Animation Sprint"
Creating a new ticket here to track comments about the sprint that @natalieworth and I did on animating stick figures to this script: https://docs.google.com/a/mozilla.com/document/d/1jJcDwdVs_onHeFGdgGzvaxDrtpETw30g5aQ9nja_4RQ/edit?usp=sharing

This video is where the animation ended up by EOD Friday (July 21) EST:
https://drive.google.com/open?id=0BzuBOR2VJQqUdDFJVnItSHlSOW8

Comments welcome an

[2017-07-21 21:11] natalieworth commented on #968
Vid 1:

[2017-07-21 21:12] natalieworth commented on #968
Vid 1 link (Star Wars vs. Star Trek): https://drive.google.com/open?id=0B20-0lpP23c0aFA2MFNSeWlnUGs
Vid 2 link (Metal vs. Sax): https://drive.google.com/open?id=0B20-0lpP23c0clNYa3BiUkNTWXc

[2017-07-21 21:14] natalieworth commented on #968
cc @brettgaylor @HPaulJohnson @beccaklam @hannahkane Got a draft of 2nd video above. I wasn't sure how best to show the vs. of kenny g's hair vs. slash's hair. Also, @brettgaylor we're using videos from Youtube (they're under 15 seconds though and used for humour/ I cited them—so are they okay to use?)

[2017-07-25 19:53] WillatMozFdn opened #979 "New test copy on donate.mozilla.org, triggered via querystring, for fundrsiaing snippet test"
Detailed description of work:

When someone lands on donate.mozilla.org, **with a querystring including "?test=nnsnippet1707"**, we need for them to see -- instead of the default copy that's currently there -- this copy:

Mozilla is a global nonprofit that stands up for an open and healthy Internet, where telecom companies are not allowed to censor or throttle your access to the web based on the c

[2017-07-26 16:13] hannahkane commented on #979
@WillatMozFdn - I've told @ScottDowne that I'll remind him about this at stand-up after the work week. :)

[2017-07-27 20:24] TheoChevalier commented on #959
Quick l10n update on the ongoing translations:

Survey localization: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=surveys/iot_survey.lang

Email localization: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=emails/2017/iot_survey.lang

Snippets localization: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=snippets/201

[2017-07-28 13:49] hannahkane opened #980 "Determine Press List"
The task here is to determine which members of the media/press will receive a physical kit as part of the Safety campaign.

- [ ] @HPaulJohnson @brettgaylor - are you able to determine the target number, based on the budget?
- [ ] Can we provide any guidance about the types of media we're targeting?
- [ ] My understanding is that we need physical addresses to ship to

Note: there is a separate tic

[2017-07-28 13:51] hannahkane commented on #980
@KevZawacki - I'm going to assign some tickets to you that were discussed at this week's Advocacy   work week. Perhaps @brettgaylor or @caltrider will set up a time to brief you on the decisions made?

@HPaulJohnson - does Temi have a github account?

[2017-07-28 13:52] hannahkane opened #981 "Determine Influencer list"
The task here is to determine which influencers will receive a physical kit as part of the Safety campaign.

- [x] @HPaulJohnson @brettgaylor - are you able to determine the target number, based on the budget?
- [x] Can we provide any guidance about the types of influencers we're targeting?

Note: there is a separate ticket to [create a media list](https://github.com/MozillaFoundation/Advocacy/iss

[2017-07-28 13:54] hannahkane opened #982 "Create press pack"
Contents TBD

[2017-07-28 13:54] hannahkane opened #983 "Create Influencer Pack"
Contents TBD

[2017-07-28 13:55] hannahkane opened #984 "Ship brief/deck for Safety Kit contractor"

[2017-07-28 13:55] KevZawacki commented on #980
@caltrider Can you book a time for us to discuss? I'd like to learn about kits' content, message, timing, etc.

[2017-07-28 13:58] hannahkane opened #985 "Project Manage contractor for Safety Kit"
This ticket represents the ongoing work of signing a contract, and then managing contractors who will deliver:
 - [ ] Design for the safety kit contents and packaging
 - [ ] Copy and design for written content (e.g. an instruction manual)
 - [ ] Prototype / build

[2017-07-28 14:01] hannahkane opened #986 "Fulfillment of Safety Kit"
This issue represents the work of production, packaging, and shipping Safety Kits to [media](https://github.com/MozillaFoundation/Advocacy/issues/980) and [influencers](https://github.com/MozillaFoundation/Advocacy/issues/981)

[2017-07-28 14:03] hannahkane opened #987 "Pitching Safety campaign"
As a follow up to sending physical safety kits to media and influencers, we'll need to pitch stories.

Working assumption is that Ashley will be a spokesperson for the campaign.

[2017-07-28 14:11] hannahkane opened #988 "Style Guide v1"
To kickstart the project, we need a style guide with suggested messaging and copy that can be used in other aspects of the campaign (website, physical kit, promotional plan).

The style guide will be revised after message testing.

Jen to work with Kevin Fann on this ticket

[2017-07-28 14:13] hannahkane opened #989 "Safety campaign: blog post"
In conjunction with the [style guide](https://github.com/MozillaFoundation/Advocacy/issues/988), we'll draft a blog post that captures the big story of the campaign

Jen to work with Kevin Fann on this.

[2017-07-28 14:17] hannahkane opened #990 "Plan and run a messaging test"
In parallel with v1 of the style guide, we'll run some messaging tests to hone in on our consumer-facing messages for the campaign. The results of the test will inform v2 of the styleguide, and ultimately the consumer-facing deliverables (website, promotional plan, buyer's guide).

This ticket represents the work of developing creative assets for each of the headlines we're testing, as well as pla

[2017-07-28 14:20] hannahkane opened #991 "Style Guide v2"
The results of the [messaging test](https://github.com/MozillaFoundation/Advocacy/issues/990) will inform a rewrite of the Style Guide

[2017-07-28 14:22] hannahkane opened #992 "Draft comms plan, including FAQ"
The [Influencer/Media Kit](https://github.com/MozillaFoundation/Advocacy/projects/17) seems particularly relevant.

I'm not the right person to write this ticket - what are the requirements for the comms plan?

[2017-07-28 14:24] hannahkane opened #993 "Internal deck"
The deck will be used to gain approvals within the org, and can also be adapted for the contractor brief.

[2017-07-28 14:36] hannahkane opened #994 "Wireframes / IA"
First pass at 3 variations on wireframes (IA can come later), to be discussed on Thursday, September 7th, and quickly iterated on.

[2017-07-28 14:39] hannahkane opened #995 "Lead design-driven ideation process to determine content needs"
Jordan to lead a process to explore ways to tell the big story via the website. The output here should be a working concept and a list of content and assets needed to finish designing and building the site.

Note: the [wireframes ticket](https://github.com/MozillaFoundation/Advocacy/issues/994) might be a part of this process

[2017-07-28 14:41] hannahkane opened #996 "Website: Artwork"
Specific needs TBD in #995

[2017-07-28 14:42] hannahkane opened #997 "Website: UI"
Specific needs TBD in #995

[2017-07-28 14:43] hannahkane opened #998 "Website: copy deck"
Specific needs TBD in #995

[2017-07-28 14:47] hannahkane opened #999 "Website: determine and capture metrics"
Working with @vojtechmzl to understand what meaningful actions we can measure, we'll ensure that we're capturing what we can about how members of the public are engaging with the campaign via the website

[2017-07-28 14:48] hannahkane commented on #999
@vojtechmzl - sorry to tag you in here without a lot of context. We'll be sharing a deck detailing the Safety campaign plans made during this past work week soon, and perhaps we can schedule a conversation to catch you up on those plans?

[2017-07-28 14:59] vojtechsedlak commented on #999
Thanks for the heads up @hannahkane. Sounds great!

[2017-07-28 16:25] HPaulJohnson commented on #980
We need to get Temi signed up on Github. I believe she created an account but may need to provide her with some brief training on how we use it on Monday.

[2017-07-28 16:27] HPaulJohnson commented on #981
Temi is going to start working on the one next week and will be able to speak to quantity. My guess is it's a few hundred at most.

[2017-07-28 17:04] caltrider commented on #980
Yes, @KevZawacki , I'll get a meeting on the calendar for next week.

[2017-07-28 17:37] tlasadea commented on #980
@hannahkane @HPaulJohnson I'm here, I'm here! I just saw that Mandy just invited me to Mozilla + Mozilla Foundation so now I am a real person.

[2017-07-28 17:57] hannahkane opened #1000 "Test and refine user journey"
There are a few aspects of the user journey we'll need to work out, including:
 - [ ] What are the CTAs during Beat 1 and Beat 2?
 - [ ] Where will the buyer's guide be hosted?
 - [ ] Whether to put some content behind an email sign-up form
   - [ ] Conduct A/B test
- [ ] If we do an email capture during Beat 1 (before the Buyer's Guide is released), how will we re-engage those folks during Beat 2

[2017-07-28 17:59] hannahkane opened #1001 "Build site"
# P1
- [ ] host at advocacy.mozilla.org/buyersguide
- [ ] localize into es
- [ ] mobile / tablet / desktop content and interactions should match mockups

# P2
- [ ] implement Coral Talk comments

# Outstanding questions
How are we handling Share workflow - share progress?

# QA checklist (OK to release only after all verified)
- [ ] Design: mobile / tablet / desktop views should match mockups
- [

[2017-07-28 18:05] beccaklam commented on #1000
I just have to say, it's pretty awesome that this is ticket #1000.

[2017-07-28 18:10] natalieworth commented on #968
gonna start on the 3rd one today. here's the 2nd one Vid 2 link (Metal vs. Sax): https://drive.google.com/open?id=0B20-0lpP23c0clNYa3BiUkNTWXc
let me know if you have any changes/ suggestions @hannahkane @HPaulJohnson @brettgaylor

[2017-07-28 19:46] caltrider commented on #993
Heya @brettgaylor, @lovegushwa, @hannahkane.  Just talked about the plan for revising the internal deck with Paul.  I'll take the existing deck v3 and update it based on our conversation.  Then he suggested I work with @beccaklam to make it pretty and add in the visuals so we can have this ready to roll next week.  @beccaklam, I'll follow up with you on Monday if that works OK for you.

[2017-07-28 20:15] beccaklam commented on #1000
Rough user journeys for Influencers and Consumers for Beat 1 & 2:
![beat 1 user journey](https://user-images.githubusercontent.com/20977376/28734646-fc0e87a2-73af-11e7-9c1f-749882d03f4f.png)
![beat 2 user journey](https://user-images.githubusercontent.com/20977376/28734647-fc14f128-73af-11e7-8361-d88a50b88bc8.png)

[2017-07-28 20:16] beccaklam commented on #994
Rough Wireframes for Microsite
![microsite wireframes-100](https://user-images.githubusercontent.com/20977376/28781507-4e2e52ae-75d8-11e7-9eb2-dfff7ee58b09.jpg)

[2017-07-28 20:17] beccaklam commented on #993
Works for me @caltrider !

[2017-07-28 20:33] hannahkane opened #1002 "Audience segment definition"
Make use of conscious chooser research

[2017-07-28 20:34] hannahkane opened #1003 "Editorial calendar"

[2017-07-28 20:35] hannahkane opened #1004 "Channel plan"
Including social, snippet, etc.

Please file additional tickets for assets needed

[2017-07-28 20:37] hannahkane opened #1005 "Rapid response"
I believe this issue is really just kind of a placeholder to indicate that @tlasadea and @caltrider will be looking for opportunities to capitalize on the news of the day and amplify successes

As opportunities arise, specific tickets should be filed.

[2017-07-28 20:38] hannahkane opened #1006 "Stunty content"
@lovegushwa and Liz (github handle?) to work together to develop some "stunty content"

[2017-07-28 20:40] hannahkane opened #1007 "Paid Media Plan"
Generating a list of websites, podcasts, etc where we can do some paid promotion

[2017-07-28 20:41] hannahkane opened #1008 "Distribution partner list"
This is for identifying potential content collaborators

[2017-07-28 20:41] hannahkane opened #1009 "Develop Mozfest presence"
How does the campaign show up at Mozfest?

[2017-07-28 20:41] hannahkane opened #1010 "Formalize budget"

[2017-07-29 03:58] ScottDowne commented on #960
@vojtechmzl this fell off my radar. Did everything end up happening? Can we close?

[2017-07-29 04:05] ScottDowne commented on #976
It's on staging: https://advocacy.mofostaging.net/en-US/safety/?subscribed=true

Should be on prod any moment now.

[2017-07-29 04:16] ScottDowne commented on #976
Done. Closing.

https://advocacy.mozilla.org/en-US/safety/?subscribed=true

[2017-07-29 04:16] #976 closed, assigned to ScottDowne, WillatMozFdn

[2017-07-29 04:27] #935 closed, assigned to ScottDowne

[2017-07-29 04:40] ScottDowne commented on #979
Should be on staging in a bit, link is here: https://donate.mofostaging.net/en-US/?test=nnsnippet1707

I'll double check in a bit, then push to prod, then close this once that's confirmed.

[2017-07-29 04:49] ScottDowne commented on #979
@vojtechmzl and @WillatMozFdn just a heads up, the copy in this test is not localized, and I didn't enable it to be localized, so for the test, we need to limit it to en-US only.

[2017-07-29 05:00] ScottDowne commented on #979
I'll push this to prod tomorrow.

[2017-07-29 18:32] ScottDowne commented on #979
Done, closing, test url is https://donate.mozilla.org/en-US/?test=nnsnippet1707

[2017-07-29 18:32] #979 closed, assigned to ScottDowne

[2017-07-30 20:57] hannahkane opened #1011 "Draft content strategy"
Should include a plan for:
 * product categories
 * a rating/review system
 * who will provide the reviews
 * guidelines for reviewers

- [ ] Get strategy approved by stakeholders, including Legal

[2017-07-30 20:58] hannahkane opened #1012 "Recruit and manage reviewers staff/network"
Dependent upon [Content strategy](#1011)

[2017-07-30 20:59] hannahkane opened #1013 "Product research"
Find products to review!

[2017-07-30 21:01] hannahkane opened #1014 "Beat 2 of website"
This increment of the website includes the Buyer's Guide. Largely dependent on the content of the Guide, but parts of this can likely be started in advance of the final guide.

- [ ] UX (including wishlist feature, if we decide it's valuable)
- [ ] UI
- [ ] Build
- [ ] QA

[2017-07-30 21:02] hannahkane opened #1015 "Guide partners"
This is a placeholder ticket for the work of building business partnerships around the Buyer's Guide

[2017-07-31 01:12] HPaulJohnson commented on #1004
Took a quick pass at this here: https://docs.google.com/document/d/1KbtqKdftHftYmq8x3nmHymOvLgmRRnCAIEFSeeHK_Q4/edit

@tlasadea and I will discuss how to add necessary details to this over the coming month. I suspect most of the building of assets (at least for the big consumer part of the push) to happen upon my return in early Sept.

[2017-07-31 11:09] tlasadea commented on #981
Hey @brettgaylor, re above - is there any guidance/previous work on influencer stuff for MoFo? Or are we starting from scratch.

[2017-07-31 11:20] tlasadea commented on #1002
@hannahkane @caltrider the above mentioned research is here: https://drive.google.com/file/d/0B2wvfBjG7Mb1S1VKblFBVUlzRk0/view

[2017-07-31 12:33] WillatMozFdn opened #1016 "Remove "in 2016" from thank-you video pages to make them evergreen"
Detailed description of work:
We need to remove the string "in 2016" from the headline of three pages listed below, so that as a fundraiser, I can re-use these videos in general fundraising thank-you messages this year as well.

https://donate.mozilla.org/en-US/jan-thank-you-superhero
https://donate.mozilla.org/en-US/jan-thank-you-sincere
https://donate.mozilla.org/en-US/jan-thank-you-cute

These

[2017-07-31 12:40] ScottDowne commented on #1016
There is no good way to target just FR, ES, DE and IT, so this change gets done in all languages, I believe.

[2017-07-31 12:41] TheoChevalier commented on #1016
We mostly used FR, ES, DE and IT, but yes in reality it’s localized in all languages. Let us know when you have the updated copy and we can get this localized :) Note that we can also keep the year in the new strings and use a variable, if we want to keep the same copy over years (but I believe we want to get a new thank you message every year).

[2017-07-31 14:56] hannahkane commented on #994
This looks great, @beccaklam, and captures the outstanding questions we have. Now we just need to figure out, in #1000, how to test the possible journeys. :)

[2017-07-31 15:00] hannahkane commented on #1000
This visual reminded me about the free gift drawing idea. @caltrider - do we want to pursue that? If so, I'll file additional tickets.

@beccaklam - do you have thoughts about which pieces of the journey we can test?

[2017-07-31 15:13] hannahkane commented on #1010
@brettgaylor - I saw that Paul proposed something. Should this be assigned to you to finalize and get approval on?

[2017-07-31 15:37] vojtechsedlak commented on #960
Thanks for checking in, Scott. We ran the test and implemented the popup across the board, so good to close this ticket.

[2017-07-31 15:37] #960 closed, assigned to ScottDowne

[2017-07-31 16:18] tlasadea commented on #1005
The deliverable for this will be to define the process of Rapid Response (overall) for the Advocacy Media team.

Including:

- How do we communicate specifically as a team for RR opportunities? How do we decide/execute the content to publish - e.g. Is there a "template" we use?
- What keywords/topics does Mozilla have authority to respond to, and what tool(s) do we use to listen?
- How do we measu

[2017-07-31 17:10] ScottDowne commented on #1016
@TheoChevalier when can we send this to production?

[2017-07-31 17:11] TheoChevalier commented on #1016
@ScottDowne we can, it’s not even linked anywhere in the website :)

[2017-07-31 17:12] ScottDowne commented on #1016
Perfect, shipping!

[2017-07-31 17:32] tlasadea commented on #1000
Hey @beccaklam or @caltrider or @brettgaylor, do we know what content the microsite will hold? Esp foe consumer? Just thinking about the engagement piece - I guess the assumption is that people will really want the buyers guide, but incase they don't/are distracted, is there an easy win to get people to interact and get the buyers guide as a "reward." Is there a type of 'what xmas shopper are you?

[2017-07-31 18:03] beccaklam commented on #1000
Rad idea @tlasadea ! I'll try to find some benchmarks (examples) for this kind of 'easy win'

[2017-07-31 18:26] hannahkane commented on #968
Metal v Sax looks dope. Should we swap Kenny G and Slash so that it matches the order we framed it (metal v sax)?

[2017-07-31 18:49] ScottDowne commented on #1016
Done! Closing.

[2017-07-31 20:28] natalieworth commented on #968
agree @hannahkane ! Updated Vid 2 and added Vid 3 in here:
https://drive.google.com/drive/folders/0B20-0lpP23c0NVh5MjdUbFJ0MUU?usp=sharing
cc @brettgaylor @lovegushwa @beccaklam @caltrider

[2017-07-31 20:31] brettgaylor commented on #968
u put sax on gif v jif?

![image](https://user-images.githubusercontent.com/345974/28796997-8bbadff4-75f4-11e7-805f-fd60e675a93a.png)

[2017-07-31 20:37] hannahkane commented on #968
That music on is amazeballs. I actually think the sax needs to come in earlier. Feels weird to fade out so quickly.

Is it supposed to say "jgif"?

[2017-07-31 20:37] natalieworth commented on #968
@hannahkane yeah I was wondering if it should be GIF vs. JIF

[2017-07-31 20:38] hannahkane commented on #968
@natalieworth - I would think so, but maybe I don't understand. Is "jgif" a thing?

[2017-07-31 21:00] brettgaylor commented on #993
Hi all - meeting time is confirmed for 1:00 Pacific on Wednesday, so we'll need deck ready EOD Tuesday.  All good?

[2017-07-31 21:06] caltrider commented on #993
@brettgaylor Yup, we're good.  I'm working on tweaking the deck now. @beccaklam and I have a meeting in the morning to go over it and find spots for visuals. Then she should have most of the day tomorrow to knock it out.

[2017-07-31 21:23] brettgaylor commented on #984
Will fork the deck once it's done and add specific items for contractors

[2017-07-31 22:21] natalieworth commented on #968
Updated the music and changed to JIF haha: https://drive.google.com/drive/folders/0B20-0lpP23c0NVh5MjdUbFJ0MUU?usp=sharing
cc @brettgaylor @hannahkane  @lovegushwa @beccaklam

[2017-07-31 22:23] hannahkane commented on #968
as an American, I'm liking this messaging more and more!

Nice job, @natalieworth.

[2017-07-31 23:15] hannahkane opened #1017 "Design for next iteration of copyright site"
See the [doc](https://docs.google.com/document/d/11R5oze6_1wl9CxpO25T6-N4NC8N2jdip-QU0TH8-A6Y/edit) for details

- [x] Wireframes - get approval from @Melechuga and @ScottDowne
- [x] Mockups

Aiming to complete the design by the end of this week, so let's work towards quick turnaround on feedback, and narrow the scope as needed. Use existing models for the call tool UX, as we can.

[2017-08-01 16:39] tlasadea commented on #1002
Hey @beccaklam here: https://docs.google.com/a/mozilla.com/presentation/d/1wh1j6GC2Eyv6aaT8SSq87cqBe_xujNPF5obXCebllU4/edit?usp=sharing

First 3 slides are really what you may find useful at this point; the rest are because found some other good research that I'll also add because it may be useful for messaging etc.

[2017-08-02 00:37] natalieworth commented on #1017
@hannahkane @Melechuga Have the first round of rough wireframes with some questions in the Red Pen doc here: https://redpen.io/p/oge34c752bef306b8c
I'm going to post/ share for the other designers to review too!

[2017-08-02 10:15] tlasadea opened #1018 "Social media execution for survey"
@tlasadea to write

- [x] social  copy for promotion of survey on Social

- [x] email to Social Champions team for sharing of IoT survey on French, German, Brazilian, and Spanish Mozilla Twitter accounts.

[2017-08-02 13:01] tlasadea commented on #1018
@caltrider social copy: https://docs.google.com/document/d/12pkTenYbi44PlIqB2UWKrAzgUW8um9iWHMzsVAH0SB4/edit

[2017-08-02 15:53] caltrider commented on #1018
Thanks Temi. Looks good to me @tlasadea and @TheoChevalier .  And Temi, just double checking you linked out to the social link (https://www.surveygizmo.com/s3/3643927/c53b179d9f5b)?

[2017-08-02 16:07] tlasadea commented on #1018
Oui I did! I just bit.ly’d it!
〰️
Temi Lasade-Anderson
Social Media Specialist
Mozilla Foundation

slack: temi | twitter: @temilasade