[2017-08-02 18:37] hannahkane commented on #990
@lovegushwa - did you come up with a plan or next step on this? Could you please drop in here so we can all know? Thanks!

[2017-08-02 23:09] natalieworth commented on #1017
I'll be on PTO the next 2 days, but I will leave all my assets in here EOD today https://drive.google.com/drive/folders/0B20-0lpP23c0eGdrN1JWZHpNMlk?usp=sharing

Benchmarks for reference:
https://www.battleforthenet.com/?call=1#bftn-action-form
https://5calls.org/

[2017-08-02 23:29] natalieworth commented on #1017
Outstanding questions/ issues:
- [x] For the landing page, do we want to call out the deadline to call on the 'Timeline' section?
- [x] Should we switch 'Draft proposal' and 'Opinions' on the timeline section so it's sequential?
- [x] On the 'learn more' page, should we provide a bit more context after the "What's being debated header?
- [x] Finalize the flow and CTA's/ buttons on the pop-up modal

[2017-08-02 23:50] hannahkane commented on #1004
I'm moving this to In Progress. @tlasadea - are there any specific action items to work on this week?

[2017-08-02 23:50] hannahkane commented on #992
@caltrider - at stand today, did you say this is in progress?

[2017-08-02 23:51] hannahkane commented on #993
@caltrider - think we can close this ticket?

[2017-08-03 00:26] Melechuga commented on #1017
Thanks for this, @natalieworth!
The timeline isn't really clear as to if the progress is going up or down, when in fact we are closer to the end of the process than the beginning. Is it possible to make this horizontal at all, like the example? Either way, the "Draft Proposal" and "Opinions" cannot be switched, as the opinions are about the draft proposal 😄
Agree with Tais' comment that the headin

[2017-08-03 08:28] tlasadea commented on #1004
Hey @hannahkane I would leave this in To Do for now - there's a few more bits of the puzzle that need to be completed before I can really start this.

[2017-08-03 08:31] tlasadea commented on #1005
@hannahkane think this actually needs to sit in a separate project as it's not just for the safety campaign, but for advocacy media content overall?

[2017-08-03 11:07] tlasadea commented on #1018
@caltrider I had ideas re targeting for this incase there was any budget for paid promotion, but wasn't sure?

Think the promotion of the results is probably more exciting/worthwhile, though.

[2017-08-03 13:21] KevZawacki commented on #992
@hannahkane @caltrider

Hi, current comms plan draft here:

https://docs.google.com/document/d/1suA9a5Vuk0Z_-LD4TKrsioRWP-WPutK8Eq5CWEOUUAc/edit

The IoT survey section will be the first to be built out.

[2017-08-03 13:45] tlasadea commented on #1018
Brief to social champions is written, just waiting to send it on August 8th once I have @TheoChevalier's go ahead!

[2017-08-03 13:51] tlasadea commented on #981
Update: MoCo social + @brettgaylor and I meeting scheduled for August 7th.

[2017-08-03 14:12] tlasadea opened #1019 "Social Listening Plan"
General listening" plan for Privacy/Security and Internet Health issues.

Deliverable is to determine keywords/tools for for identifying relevant current news/trends in order to create/re-use content and amplify via rapid response.

[2017-08-03 15:22] caltrider commented on #1018
@tlasadea Agreed that paid promotion of the results is more exciting.  I'll ask Brett if we have any money for a little paid on the survey.  Could be an interesting test of some small, targeted audiences that we're looking at for the Holiday Buyer's Guide.

[2017-08-03 15:33] hannahkane commented on #1005
Thanks for creating the new project, @tlasadea. I think this ticket can live in both projects!

[2017-08-03 16:40] tlasadea commented on #1005
- [ ] Identify process for content creation with design team @lovegushwa @natalieworth @caltrider
- [x] Create RR slack channel
- [ ] Develop social listening plan

[2017-08-07 19:37] lovegushwa commented on #990
@hannahkane ... currently working with @beccaklam on message testing [deck.](https://docs.google.com/a/mozilla.com/presentation/d/1NMM_sOxrJIDfeDbNtHmJh_4EZjHk9oQrcuQ54k5BDqY/edit?usp=sharing)

I think we could start running some tests with Alex (or via email with Will) the week of the 21st.
Will post updates here this week once @beccaklam gets back from PTO.

[2017-08-07 21:36] hannahkane commented on #1017
Thanks for the very good start on this, @natalieworth. My two cents on your questions, though @Melechuga is the decider on most of this:

-  For the landing page, do we want to call out the deadline to call on the 'Timeline' section? **I'd suggest we remove the timeline and replace with a deadline to call. I think that's the most important part of the timeline to convey.**

-  Should we switch 'Dr

[2017-08-07 22:31] hannahkane commented on #1017
@natalieworth - @Melechuga and I just discussed. I think we're clear on just about all of the decision points. Can you and I find time to talk through everything tomorrow? Probably easier than resolving all of the redpen comments.

[2017-08-07 22:33] hannahkane commented on #990
@lovegushwa - sounds perfect. As discussed, would be great if you could add a few slides to the deck detailing possible testing plans (e.g. FB w/ landing pages, Twitter, email, focus groups) and the relative advantages/disadvantages of each, so we can discuss. The final testing plan will likely be informed by @tlasadea's work around [audience definition](https://github.com/MozillaFoundation/Advoca

[2017-08-09 16:45] tlasadea commented on #1002
It's here! https://docs.google.com/presentation/d/12WbLBZmOAtgDWBCdP7E6mspszYKHRPJaZf72Daqhh3g/edit#slide=id.g1fb36e97f3_0_176

[2017-08-09 16:45] #1002 closed, assigned to caltrider, tlasadea

[2017-08-09 17:01] tlasadea commented on #1005
Quick update - there's been progress on the tiers of rapid response, but i'll share the deck once it's all done and dusted 🙂

[2017-08-09 17:15] tlasadea commented on #981
Further update - meeting with myself, @brettgaylor @caltrider @KevZawacki scheduled for 11/08.

Deliverable: have an agreed approach for using influencers, so that the discovery/listing of them can begin! (Ideally).

[2017-08-09 19:53] natalieworth commented on #1017
Updated wireframes based on the feedback from yesterday are in here https://redpen.io/p/qxf1a097aa18134c73
cc @hannahkane @ScottDowne @Melechuga

[2017-08-09 22:14] hannahkane commented on #1017
@natalieworth - looks fantastic! I think we can move to UI now.

[2017-08-09 22:45] natalieworth commented on #1017
Not to confuse things @hannahkane but I also have a quick alternate version based on the feedback in the redpen here https://redpen.io/p/jm78b588f0cbc7dd15

It gets rid of the issue I was having with the amount of content/ asks on the modul and would allow the script text to be larger and scrollable (which would more beneficial for desktop and mobile users). It would add another page though.

cc @

[2017-08-09 22:55] hannahkane commented on #1017
Thanks, @natalieworth. I like the alternate version a lot better. @ScottDowne - do we need to ask Josh the question about whether we'll know when the person has finished the call?

[2017-08-09 22:59] natalieworth commented on #1017
I like this version best too!

[2017-08-10 10:58] tlasadea commented on #1006
@lovegushwa do you mind if I get involved in this one too!? 😁

[2017-08-10 15:20] hannahkane opened #1020 "Build next iteration of copyright site"
Per [mockups](https://redpen.io/p/tjd37e069720f9308a)

QA for the build will include:
- [ ] Design matches mockup, OK'ed by @natalieworth
- [x] Works on various devices
- [x] Nav items updated
- [x] All links/buttons work
- [x] Call tool workflow as expected, inc:
  - [x] Country code defaults to browser locale, but user can overwrite
  - [x] Error message on phone number field
  - [x] User is mat

[2017-08-10 15:21] hannahkane commented on #971
Closing this ticket in lieu of separate implementation tickets

[2017-08-10 15:21] #971 closed, assigned to nobody

[2017-08-10 15:25] hannahkane opened #1021 "Provide localized audio files for Call Power prompt"
The next phase of the copyright campaign includes a "Call your MEP" component. The tool we're using allows us to use a customizable audio prompt at the beginning of the call, before the constituent is connected to the MEP.

For each language, we'll need to provide an audio file (either mp3 or ogg format) of this message:

"You are now being connected to a Member of the European Parliament that is

[2017-08-10 15:25] hannahkane commented on #1021
@Melechuga - would you like to be the voice for the EN version?

[2017-08-10 15:27] hannahkane commented on #993
I believe this is done. Please re-open if we have further revisions to make.

[2017-08-10 15:27] #993 closed, assigned to brettgaylor, lovegushwa, caltrider

[2017-08-10 15:28] hannahkane commented on #988
@caltrider - given changes to the campaign scope, are you still planning to develop a style guide?

[2017-08-10 15:29] hannahkane opened #1022 "Confirm editorial and reach partners"
Partners will help us develop content for the Holiday Buyer's Guide, including a ratings system. Partners will provide promotional content as well.

[2017-08-10 15:31] hannahkane commented on #985
No longer in scope.

[2017-08-10 15:31] #985 closed, assigned to brettgaylor

[2017-08-10 15:31] hannahkane commented on #986
No longer in scope

[2017-08-10 15:31] #986 closed, assigned to brettgaylor

[2017-08-10 15:32] hannahkane commented on #1015
I just duped this with #1022, so closing

[2017-08-10 15:32] #1015 closed, assigned to brettgaylor

[2017-08-10 15:33] hannahkane commented on #1012
@brettgaylor @caltrider - given our focus on editorial partners, do you think we'll still tap staff/network members for the guide, or can we close this?

[2017-08-10 15:33] hannahkane commented on #1014
No longer necessary. Website will be launched with the full guide.

[2017-08-10 15:33] #1014 closed, assigned to ScottDowne, beccaklam

[2017-08-10 15:36] hannahkane opened #1023 "Campaignable moments"
Identify and play for "campaignable moments" - e.g. Black Friday, Cyber Monday, the "schlep"

[2017-08-10 15:40] hannahkane commented on #968
These are shipped I believe. Closing.

[2017-08-10 15:40] #968 closed, assigned to natalieworth, beccaklam, caltrider

[2017-08-10 15:41] #978 closed, assigned to natalieworth, beccaklam

[2017-08-10 19:56] caltrider commented on #988
@hannahkane This is something that's pushed to 2018

[2017-08-10 20:01] hannahkane commented on #988
K. I'm going to close this for now then.

[2017-08-10 20:01] #988 closed, assigned to caltrider

[2017-08-10 20:02] #989 closed, assigned to caltrider

[2017-08-10 20:02] #991 closed, assigned to caltrider

[2017-08-10 20:06] hannahkane opened #1024 "Copyright: Share copy"
We need EN copy variations for the Share feature:
 - [x] Twitter
 - [ ] Facebook
 - [x] email

Per @TheoChevalier's comment below, we will ask team members and localizers to choose a variant to localize.

[2017-08-10 20:08] hannahkane commented on #1024
And a question for @ScottDowne - do you know if the script will be pulled from the Call Power API? Asking to better understand what the l10n workflow will be for the script. Will it be done in Pontoon like the rest of the front-end, or will we need to provide localized versions of the script to Call Power?

cc @TheoChevalier

[2017-08-10 23:47] hannahkane opened #1025 "Redirect net neutrality pages to blog post"
We want to re-direct our NN actions to a blog post, once it's ready ( @levjoy to provide the url). This applies to a.m.o/net-neutrality, a.m.o/net-neutrality-comments, and advocacy.mozilla.org/net-neutrality-comments-simple/ (assuming it's no longer needed for the SHIELD experiment).

[2017-08-10 23:48] hannahkane commented on #887
@cadecairos @alanmoo - the FCC will stop accepting comments after August 17th, so we should plan to submit any we haven't already by then.

I'll be on PTO starting tomorrow through Wednesday, so please direct any questions to @brettgaylor or @levjoy. Thanks!

[2017-08-10 23:49] hannahkane commented on #895
Amanda is coordinating the transcription of all of the voicemails.

[2017-08-10 23:53] hannahkane commented on #895
Once we have the document with all of the transcribed voicemails, perhaps @levjoy could be responsible for submitting it to the FCC?

[2017-08-11 14:51] tlasadea commented on #1004
Alright @caltrider @brettgaylor @hannahkane @lovegushwa @natalieworth @beccaklam it's here: https://docs.google.com/spreadsheets/d/1u21AWY4nhtNg1zJIquzrR6raDilpV-lcp1RpaoGpFhQ/edit#gid=759926306

Still things missing - like need to sync with @KevZawacki re pitching dates for press/press packs due date @brettgaylor when Fusion stuff is likely to go live given suggested launch date.

[2017-08-11 14:53] tlasadea commented on #1013
@caltrider this was in the webinar I shared

<img width="561" alt="screen shot 2017-08-10 at 12 58 59" src="https://user-images.githubusercontent.com/30296602/29218596-31054a1a-7ead-11e7-9a2f-d662a6a68618.png">
<img width="561" alt="screen shot 2017-08-10 at 13 01 29" src="https://user-images.githubusercontent.com/30296602/29218595-3102cfce-7ead-11e7-94f2-77cc30d3dd49.png">
<img width="560" alt="s

[2017-08-11 14:56] tlasadea opened #1026 "Review first round of wireframes"
A session to brainstorm the actual format for the guide/campaign site and interactive elements.

Deliverables - 3 concepts/ideas that the creative team can work with?

[2017-08-11 15:43] tlasadea commented on #959
@beccaklam @caltrider just bringing this back in 'To Do' because I think there's a few tiny creative additions?

Re Slack group chat, was just double checking on social assets sizes:

Facebook - optimum image size is: 1024 x 512px.

[2017-08-11 16:04] caltrider commented on #959
Also @tlasadea , did you want Rebecca to add the How Connected are You? text to any of the versions for social?

[2017-08-11 16:22] tlasadea commented on #959
LOL talk about completely missing the point, Temi.

Yes can we have the text added to the social versions? I'm correct in
thinking that then there'll be different language ones?

[2017-08-11 16:27] TheoChevalier commented on #959
Yes! For Twitter & Facebook: French, German, Spanish (International), Portuguese (Brazil)

“How Connected are You?” can be reused from here: https://l10n.mozilla-community.org/langchecker/?website=6&file=surveys/iot_survey.lang&action=translate&show#string2

[2017-08-11 17:40] tlasadea commented on #981
Update!

Influencers will be asked to create promotional content for the Buyer's Guide (video, written content). We want them to speak to their audience about connected toys/health/home and drive people to the buyer's guide site by learning more (finding out which products are 💯).

[2017-08-11 17:44] beccaklam commented on #959
@tlasadea & @caltrider Was working on this but then remembered something about social posts and words in the graphics. I did a quick survey of Facebook and Twitter and noticed that a lot of graphics are sans text as you can add titles in the text section of the post. Do we know if with text or without text images perform better in social? Did we still want to go ahead and add text to the images?

[2017-08-11 18:03] tlasadea commented on #959
I don't know if we have any Mozilla insights from Alex on that. I know that
getting people to stop aka "pause the thumb" (while scrolling) means that
content on FB specifically has shifted to being easy to scan - so copy on
images would support that. Also - these posts won't be supported with any
paid spend, only the results will be...so for organic posts I'd hazard a
guess that any boost would be

[2017-08-11 18:40] brettgaylor commented on #1025
Looping in @levjoy - we can co-ordinate here!

Looks like the FCC has extended the comment deadline till August 30th.  So need to change until then - plan of record at the moment will be to redirect to a blog which will be published August 29th.

[2017-08-11 18:51] KevZawacki commented on #987
Yep, Ashley and Mark as spokespeople.

I've update @tlasadea's [Marketing and Channel Plan](https://docs.google.com/spreadsheets/d/1u21AWY4nhtNg1zJIquzrR6raDilpV-lcp1RpaoGpFhQ/edit#gid=759926306) to indicate when pitching will likely take place.

[2017-08-11 18:53] KevZawacki commented on #992
Based on recent conversations, we're going to use two comms plan: one for the [IoT Survey](https://docs.google.com/document/d/1suA9a5Vuk0Z_-LD4TKrsioRWP-WPutK8Eq5CWEOUUAc/edit#), and one for the [Holiday Buyers' Guide](https://docs.google.com/document/d/1N2_onI9kU8oMP-jCf1btT5I8nqG8UaoaAPvZjcgvMZs/edit#).

[2017-08-11 19:47] Melechuga commented on #1021
Hi Hannah,

No, I'd like a British or Irish person to record -- would Sarah Allen be
free??! That would be awesome.

Thanks,
Melissa

On Thu, Aug 10, 2017 at 11:25 AM hannahkane <notifications@github.com>
wrote:

--
--- Melissa Romaine Network Manager, Advocacy Mozilla Foundation PGP:
0x20DF524B Sent on the go.

[2017-08-11 20:04] TheoChevalier commented on #1021
+1 For British/Irish accent!

If @Saallen is not free, maybe we can ask Mandy Chan?

[2017-08-11 20:40] Melechuga commented on #1021
YES. She'd be perfect too.

M

On Fri, Aug 11, 2017 at 4:05 PM Théo Chevalier <notifications@github.com>
wrote:

--
--- Melissa Romaine Network Manager, Advocacy Mozilla Foundation PGP:
0x20DF524B Sent on the go.

[2017-08-11 21:50] Melechuga commented on #1024
Hey @hannahkane, I put in comments in the redpen for the call script. I don't know anything about copy for share...do you have insight?

[2017-08-11 22:03] ScottDowne commented on #1024
Script itself can and should be on our site thus fully localizable using
our normal methods.

[2017-08-14 10:04] Saallen commented on #1021
Hello- I am happy to help with my Irish accent 🇮🇪

[2017-08-14 16:13] ScottDowne commented on #1025
@hannahkane do we care about this link, or want to coordinate with the people that requested it to see what they want to do with it? advocacy.mozilla.org/net-neutrality-comments-simple/

[2017-08-14 18:07] alanmoo commented on #887
The comment period has been extended to August 30.

[2017-08-14 19:00] natalieworth commented on #1017
I've started the UI here: https://redpen.io/p/gdc9521eded436818e

The current wireframes are here: https://redpen.io/p/jm78b588f0cbc7dd15

I'm going to suggest pausing the remainder of the UI/ wireframes until we hear back from Scott and the other dev on the functionality of the call tool—as this will ultimately affect the final wireframes and how the site functions. Once we get back if it's possi

[2017-08-14 20:34] ScottDowne commented on #1017
Currently the tool does not send back any call status to the front end, so no, we are not able to know when the user disconnects or finishes the call.

I'm not sure what the current status around displaying the person you're calling info to the user is.

[2017-08-14 21:18] TheoChevalier commented on #1021
@Melechuga  For other languages, do we have any preference wether the voice is masculine/feminine?

[2017-08-14 21:29] Melechuga commented on #1021
@TheoChevalier No preference; I leave it up to you!

[2017-08-14 21:31] TheoChevalier commented on #1021
Sounds good, thanks

[2017-08-15 00:02] Melechuga commented on #1021
Actually, can we ask our new Advocacy Engagement Contractor in Germany,
Toni to do the German one?? He joins us Tuesday, the 15th.

Thanks!

On Mon, Aug 14, 2017 at 2:31 PM Théo Chevalier <notifications@github.com>
wrote:

--
--- Melissa Romaine Network Manager, Advocacy Mozilla Foundation PGP:
0x20DF524B Sent on the go.

[2017-08-15 00:32] Melechuga commented on #1021
Sorry for the multiple posts-- could we ask Federica (our Spain/Italy
contractor) to do it in Italian??

Thanks,
Melissa

On Mon, Aug 14, 2017 at 5:02 PM Melissa Romaine <
melissa@mozillafoundation.org> wrote:

--
--- Melissa Romaine Network Manager, Advocacy Mozilla Foundation PGP:
0x20DF524B Sent on the go.

[2017-08-15 17:50] natalieworth commented on #1017
@hannahkane when you're back, are you able to confirm if we are using share progress for this?

[2017-08-15 18:59] natalieworth commented on #1017
@lovegushwa @beccaklam @hannahkane @ScottDowne @Melechuga
Since we're not able to know when the user disconnects their phone, I've added 2 alternative options for the flow of the call tool here https://redpen.io/p/jm78b588f0cbc7dd15
Option 1: Share icons would be static on all the pages
Option 2: If we have an instructional format on the call tool page, the share could be last on the page.

Also,

[2017-08-15 19:17] Melechuga commented on #1017
@natalieworth
Thanks! I like Option 1, as it's more streamlined. But if it makes sense to have the clear instructions in Option 2, I'm not opposed. I'll leave it to the UX folks to make a call.

[2017-08-17 15:41] TheoChevalier commented on #1021
Great input, I’ve asked Federica if she’s okay.
@Melechuga would you have Toni’s email?

For FR, ES, PL, it would cost $1,250 to get it done professionally through our agency. It’s expensive because it includes casting, voice talent fees, demos, project management, recording, editing, mixing, and fulfillment to the spec. And we probably don’t need all that.

I’m asking how much it would cost if th

[2017-08-17 16:40] hannahkane commented on #1017
@natalieworth - to your question about Share Progress - question for @ScottDowne - do we have an alternative to Share Progress?

[2017-08-17 16:41] hannahkane commented on #1025
@ScottDowne - I'm not aware of that page. Was that coordinated through @caltrider?

[2017-08-17 16:48] hannahkane commented on #1024
@Melechuga - the copy we need for Share are short post for Twitter, Facebook, and email. So, it's what the user actually shares. e.g. "I just called my MEP to support copyright laws that protect innovation and creativity" or "I just stood up for copyright in the digital age." Each should include a link to the campaign site. [Here's an example](https://docs.google.com/document/d/1qSiHHO3talrhdr2HKI

[2017-08-17 16:54] hannahkane commented on #992
@KevZawacki - These look awesome. Are there additional steps to finalize these plans, or should we go ahead and close this ticket?

[2017-08-17 16:55] hannahkane commented on #987
Thanks, @KevZawacki.

I'm going to close this ticket, as it doesn't seem useful at this point. Feel free to reopen if it's useful to you.

[2017-08-17 16:55] #987 closed, assigned to KevZawacki, caltrider

[2017-08-17 17:13] hannahkane commented on #1026
Thanks for filing, @tlasadea! Anything I can do to help? Has this been scheduled?

[2017-08-17 17:36] caltrider commented on #1025
Is that the link for the SHIELD experiment @ScottDowne ?  If so, we have a meeting with them tomorrow and I should have a better idea when that experiment will wrap and that simple comment page is no longer needed.

[2017-08-17 18:23] hannahkane commented on #1004
Awesome work, @tlasadea. Feel free to close this ticket, if you're confident in the plan. Would it be useful to file individual tickets for the milestones indicated in the spreadsheet?

[2017-08-18 09:43] tlasadea commented on #1004
Hmm think tickets need to be created for:

1. assets for the BG (fb cover page, twitter header, email headers - if necessary)
2. social content for the BG/campaignable moments (IG template posts, gifs, FB creative, Twitter creative for ads)
3. social content for the IoT survey/snippet creative

And for the milestone dates, maybe create calendar invites and add people to them so they're in our cale

[2017-08-18 09:43] #1004 closed, assigned to HPaulJohnson, tlasadea

[2017-08-18 09:57] tlasadea commented on #1026
@hannahkane it hasn't been scheduled, no. Think it should happen asap though, but there should ideally be some work that is done beforehand so we can use meeting time effectively (like looking for benchmarks & examples of interactive sites that blend content. I'm happy to do this.

[2017-08-18 09:58] tlasadea commented on #1019
@hannahkane removing this as it's a duplicate from Rapid Response ticket as they're essentially part of the same.

[2017-08-18 09:59] tlasadea opened #1027 "Social Content Queue for MoFo"
Create spreadsheet for easy addition of content that needs to be published for the MoFo team.

[2017-08-18 10:36] tlasadea commented on #1010
@hannahkane - I have the budget confirmed from Paul for paid media, direct buy & influencers on this spreadsheet: https://docs.google.com/spreadsheets/d/1tVhGr5VOHF6m__fvY0oDrZYJA0kdLwJtH1Lk_73SyEg/edit#gid=541124153 @brettgaylor not sure if makes sense to add the Fusion budget to this so it's all in one place?

[2017-08-18 10:52] TheoChevalier opened #1028 "Expose website strings to localizers"
Checklist of all the content we need to expose to localizers. Checked items are exposed and localization is ongoing.

Website
- [x] Landing page
- [x] Impact page
- [x] Call Power prompt
- [x] Call script page
- [x] Sharing page

[2017-08-18 10:57] TheoChevalier commented on #1017
@natalieworth could you share with me the latest redpen URL? Looks like this one has been deleted, and that’s what I gave to localizers https://redpen.io/p/gdc9521eded436818e

[2017-08-18 14:03] tlasadea commented on #981
Hey @caltrider here is the list: https://docs.google.com/spreadsheets/d/1qtdbUTWoi5pAQo3oWTUD4mQFfDcoEayeTodOcRZ9prE/edit#gid=0 this isn't final, this is who I'm contacting. Please have a look before our meeting today (Friday)!

Would be super helpful to get a campaign overview blurb from you that I can included in emails!

[2017-08-18 16:23] natalieworth commented on #1017
Hi @TheoChevalier ! https://redpen.io/p/xwcac539ecebd42e66
A few things have changed from the last one, including there is some additional instructions on this page https://redpen.io/hpfc7e88cf158b1227 and we shortened the button text to "Call now" since you suggested the localized languages get quite long for those.
Let me know if there's any questions/ issues!

[2017-08-18 16:29] natalieworth commented on #1017
@TheoChevalier The sentence structure changed slightly on this page too (https://redpen.io/aqd0c3134fcf294dc6)
<img width="788" alt="screen shot 2017-08-18 at 9 29 17 am" src="https://user-images.githubusercontent.com/14876567/29468111-c2c3d166-83f7-11e7-87e9-8cf576e2c42d.png">

[2017-08-18 17:35] TheoChevalier commented on #1017
@natalieworth Thanks! Updated the strings locally, I guess I can now expose the call script strings + sharing strings too? Or are there changes ongoing?
Just left a comment on the sharing page, but otherwise everything looks great :)

Will put the new redpen link in Pontoon resources, just ping me if the link changes 🔗

[2017-08-18 20:59] hannahkane commented on #1028
@Melechuga - good questions about comms assets needed raised above. Do you have a comms plan you can share?

[2017-08-18 21:03] hannahkane commented on #1026
@tlasadea - Would mid-next week be good? Or late next week?

Is this dependent on a final content strategy?

[2017-08-18 21:15] WillatMozFdn opened #1029 "Callout box graphic for net neutrality fundraising email"
Detailed description of work: We need a standard callout-box-size graphic for a Net-Neutrality-themed email we'll be putting together on August 23rd.

Copy for that email is here: https://docs.google.com/document/d/1Z3kQ919WtMbMNYrZQqCgHDnMqjbq4xAMNZH3-RtqmUo/edit

I'm thinking the graphic should say "Donate to help save net neutrality" -- but am open to better suggestions.

I looked over our past

[2017-08-18 22:18] hannahkane commented on #1029
Will add this to Monday's planning meeting agenda

[2017-08-18 23:58] hannahkane commented on #1012
ping @caltrider ^

[2017-08-19 03:22] brettgaylor commented on #1010
Thanks, Temi - yes let's add it there. You can find it in the email I forwarded you from Fusion.

[2017-08-21 13:07] KevZawacki commented on #981
Press list is coming together [here](https://docs.google.com/spreadsheets/d/1Ae2uYDP_n1UqiTXLbSPUbbdeyuDZIjmgWP6hA_CwSho/edit#gid=0). These people are technically influencers, but can live in a separate, comms-managed spreadsheet.

[2017-08-21 13:26] KevZawacki commented on #992
@hannahkane The plans will continue to evolve, but I'll go ahead and close this ticket.

[2017-08-21 13:26] #992 closed, assigned to KevZawacki, caltrider

[2017-08-21 15:33] tlasadea commented on #1026
Hm maybe a tiny bit chicken & egg situation....would be beneficial to have an idea of what's needed for the site, though esp to suss out build times for an end of Oct launch.
This week a meeting would be ideal to start the conversation based on Jen's draft of the content strategy she finished last week @hannahkane

[2017-08-21 15:35] tlasadea commented on #1005
@HPaulJohnson the deck we talked about today is [here](https://docs.google.com/presentation/d/10CNVQIPhz9EDPz9kHokJ-P_-kzON1PEd_5-hGNJj6ec/edit#slide=id.g2421d1ef9c_0_108)

[2017-08-21 15:36] tlasadea commented on #1003
Hey @hannahkane what is this? Is there anything I can help with this? Is it based on Fusion partnership?

[2017-08-21 15:44] tlasadea commented on #1010
Sweet! This is now completed @hannahkane so feel free to close!

[2017-08-21 17:46] #1010 closed, assigned to HPaulJohnson

[2017-08-21 18:04] hannahkane commented on #959
Can this ticket be closed?

[2017-08-21 18:05] hannahkane commented on #887
Closing this since it's being tracked in the dev-ops repo

[2017-08-21 18:05] #887 closed, assigned to nobody

[2017-08-21 18:07] hannahkane commented on #1003
I don't recall what this was a placeholder for, but I do think it has to do with the partnership. @caltrider - any insight into what the deliverable might be here?

We could close this for now, and open new tickets as the partnerships and content strategy demand.

[2017-08-21 18:09] TheoChevalier commented on #959
Yes!

[2017-08-21 18:09] #959 closed, assigned to beccaklam

[2017-08-21 18:33] caltrider commented on #1003
@hannahkane I think it's good to close this for now, your plan sounds good.

[2017-08-21 18:36] #1003 closed, assigned to brettgaylor, caltrider

[2017-08-21 22:01] hannahkane commented on #1026
Who needs to be there?

[2017-08-21 23:25] natalieworth commented on #1029
Hey @WillatMozFdn I did a couple of different options that I will throw in Redpen here: https://redpen.io/p/wh15c43bf62ae68d36
The first 2 are a bit more conservative, and then the 3rd and 4th (gif) option are based off of some previous NN art direction that Jordan started.

[2017-08-21 23:26] natalieworth commented on #1029
Here's the gif if it doesn't load in redpen:
![net-neutrality-callout-v1](https://user-images.githubusercontent.com/14876567/29542067-6df11ab6-868d-11e7-8344-5ec4712b4417.gif)

[2017-08-22 08:38] tlasadea commented on #1026
Jen, Jordan and I probably.

*Temi Lasade-Anderson*
Social Media Specialist
Mozilla Foundation
Slack: tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 21 August 2017 at 23:01, hannahkane <notifications@github.com> wrote:

[2017-08-22 16:31] Melechuga commented on #1024
Tagging @tlasadea @jonmozilla

**Links:**

 - [Redpen Design of the Site](https://redpen.io/gc9df697886f255dec)
-  [Site design ticket](https://github.com/MozillaFoundation/Advocacy/issues/1017)
- [Site copy ticket](https://github.com/MozillaFoundation/Advocacy/issues/1024)
- [Localisation Ticket](https://github.com/MozillaFoundation/Advocacy/issues/1028)
- [Current Copyright Site](https://changec

[2017-08-22 16:39] WillatMozFdn commented on #1029
Thanks @natalieworth !! I think these are awesome and am still vacillating between conservative and really flashy.  :-)  I also want to loop in @caltrider here as she's working on an different-text version that we're planning to test, and want to get her thoughts on which she thinks will work better with her version of the copy....

[2017-08-22 17:42] caltrider commented on #1029
Hey @natalieworth and @WillatMozFdn .  These are great.  I'm thinking maybe the non-flashing versions might work better for my version of the email.  Also, I noticed on the static image with the dollar amounts it's $5, $15, $27.  Are those the correct dollar amounts or are we doing $3, $9, $27?  I'll change the copy in my email draft accordingly.

[2017-08-22 18:02] hannahkane opened #1030 "Marketing Assets for the Buyer's Guide"
TBD at a later date, but likely includes:

- fb cover page
- twitter header
- email headers

[2017-08-22 18:03] hannahkane opened #1031 "Social content for the Buyer's Guide/campaignable moments"
Specifics TBD (IG template posts, gifs, FB creative, Twitter creative for ads)

[2017-08-22 18:04] hannahkane opened #1032 "Social content for the IoT survey/snippet creative"
- [ ] Copy
- [ ] Localized copy
- [ ] Design assets

Share survey results via:
 - [ ] blog
 - [ ] social
 - [ ] email
 - [ ] hopefully snippet

[2017-08-22 23:26] hannahkane commented on #966
This is no longer part of the plan, so closing.

[2017-08-22 23:26] #966 closed, assigned to natalieworth

[2017-08-22 23:26] hannahkane commented on #967
No longer part of the plan, so closing.

[2017-08-22 23:26] #967 closed, assigned to nobody

[2017-08-22 23:26] hannahkane commented on #965
No longer part of plan.

[2017-08-22 23:26] #965 closed, assigned to HPaulJohnson, lovegushwa

[2017-08-22 23:31] hannahkane commented on #1025
Per discussion with @levjoy today, we're going back to an earlier version of the plan where we will redirect these pages to a blog post as an interim step between when the comment period ends and when we have a revised version of the sign-on site up and running.

@levjoy - can you please confirm the date you want the redirect to go into effect?

@caltrider - can you please report back about the SH

[2017-08-22 23:36] hannahkane opened #1033 "Social/Comms assets: NN comment period is ending"
- [x] Social: @tlasadea - will you need any assets for social around the end of the comment period?
- [ ] Email: @WillatMozFdn @levjoy - has the RASCI doc for this email been filed? Is a callout graphic needed?
- [ ] Blog: @levjoy - are any images/graphics needed?

[2017-08-22 23:38] hannahkane commented on #1033
Note: I'm pulling these items from the Aug-Sept NN action plan, for those who are curious.

[2017-08-22 23:40] hannahkane opened #1034 "Revise copy on advocacy.m.o/net-neutrality"
Copy [here](https://docs.google.com/document/d/17uTW9infb5b0UUPHQfztvXKq7LS6sa0mR-Xo_CRdBFs/edit#)

- [x] copy changes, per @levjoy
- [x] design and layout should match what's currently at /net-neutrality-comments, but form should match what's currently on /net-neutrality
- [x] url should be advocacy.m.o/net-neutrality
- [x] advocacy.m.o/net-neutrality-comments and advocacy.mozilla.org/net-neutral

[2017-08-23 01:50] hannahkane opened #1035 "Copyright: Metrics"
cc @vojtechmzl @Melechuga @ScottDowne

Just want to make sure we're clear on the metrics we need to capture for the next phase of the copyright campaign, which aims to get people to call their MEP to tell them to support copyright laws that promote innovation (I assume this is considered a meaningful action?)

Check out the [Redpen](https://redpen.io/p/tjd37e069720f9308a).

We're using [CallPower]

[2017-08-23 01:51] hannahkane commented on #1021
@TheoChevalier @Melechuga - what are the next steps here? How can I help?

[2017-08-23 01:52] hannahkane commented on #1024
@Melechuga - if you don't mind, I'm going to pull some of these things into separate tickets, so this ticket can be specifically about site copy. New tickets coming shortly.

[2017-08-23 01:53] hannahkane opened #1036 "Copyright: social needs"
- [x] Copy for assets for social
- [x] Copy for snippet
- [ ] Localization of assets
- [x] Design / deliver assets

[2017-08-23 01:54] hannahkane commented on #1036
cc @Melechuga who listed the above in another ticket, and asked about design resources. Would love to know what @tlasadea wants for social assets, and we'll see if we can accommodate. Ideally, the requests will be fairly limited, since the design team is juggling Safety and NN campaigns as well.

Note: I'm unclear on what copy for the user journey refers to. @Melechuga or @tlasadea - could you cla

[2017-08-23 01:55] hannahkane opened #1037 "Copyright: Comms needs"
- [x] Media outreach ( @KevZawacki )
- [ ] Email journey ( @jonmozilla )

[2017-08-23 01:56] hannahkane commented on #1037
@Melechuga or @KevZawacki - can you clarify the deliverables here (pulling this from Melissa's related email and ticket)? Is what's needed a media outreach and email journey plan, or is it specific materials/content?

[2017-08-23 01:57] Melechuga commented on #1035
Thanks for getting this started @hannahkane
Per our vendor agreement, CallPower will provide:
- Number of calls placed;
- Number of calls placed from each language version of the Mozilla Site;
- Number of individuals who placed calls (or, number of unique phone numbers);
- Duration of calls (this one will tell us how many connected and spoke).

[2017-08-23 01:57] hannahkane opened #1038 "Copyright: Localisation needs"
Content fully exposed to localizers:

- [x] Strings on site (100% complete ✅)
- [x] Share content: variants picked by Toni/Federica are live ✅
- [x] [Audio files](https://github.com/MozillaFoundation/Advocacy/issues/1021) for recorded message to introduce phone call ✅
- [x] Social assets [Tracking progress](https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=social/2017/copyr

[2017-08-23 02:00] hannahkane commented on #1038
@TheoChevalier - would it be useful to make this a comprehensive ticket for all l10n needs related to the copyright campaign? Here are the things I can think of:

- [ ] Strings on site (in progress)
- [ ] Share content (waiting on EN content)
- [ ] [Audio files](https://github.com/MozillaFoundation/Advocacy/issues/1021) for recorded message to introduce phone call
- [ ] Social assets (inc. snippet

[2017-08-23 02:02] hannahkane commented on #1017
@natalieworth - I think we can call this done, right?

@TheoChevalier - latest redpen is [here](https://redpen.io/gc9df697886f255dec)

[2017-08-23 02:03] Melechuga commented on #1036
@hannahkane: these are deliverables that @tlasadea is working on for the campaign, including the user journey, which is the user's journey to taking action via social. Temi is wondering what design resources might be available.

[2017-08-23 02:05] Melechuga commented on #1037
@hannahkane This refers to the plan. Kevin and I connected today, and we've decided a blog post about 1-2 weeks from the vote (10 Oct) including a quote from Raegan would be fine.

The email journey is the plan + content that Jon will be creating to send out to our EU-based email community. Neither of these require design/dev resources.

[2017-08-23 02:16] hannahkane commented on #1024
@tlasadea - changed the scope of this ticket to be about the Share copy specifically (and opened separate tickets for other copy/content-related items), and assigned to you! Let me know if I can help.

[2017-08-23 02:20] hannahkane commented on #1024
hey @TheoChevalier - I believe our plan is to test a few Share variations in EN using ShareProgress. What do you think is the best path forward for localizing these strings? Should we have all variations localized and ready to go, and then use whichever wins in EN for each of the other languages?

[2017-08-23 09:46] tlasadea commented on #1024
Hey Hannah - think it's also best to add Jon Lloyd also for ShareProgress tweets. I've never used the
tool before and he's a pro - so would v helpful to have him involved @jonmozilla

[2017-08-23 09:54] tlasadea commented on #1036
Hi @hannahkane @melechuga

There's no user journey or user journey copy  for social - that action will
just be content -> driving people to site where they'll decide if they want
to call or not.

The social campaign (ideally) will be split into 3 phases:

Awareness
Consideration (aka Learn More about the 3 audiences - Technologists etc etc)
Conversion - strong messaging asking people to call now.

[2017-08-23 10:02] tlasadea commented on #1032
Oui oui mon ami

It does! @caltrider and Vojtech will inform this, as it depends what the
results are/what's exciting & meaty to share.

On 22 August 2017 at 19:04, hannahkane <notifications@github.com> wrote:

[2017-08-23 10:41] tlasadea commented on #1027
This is here: https://drive.google.com/open?id=16w-VMCF0sBJbtZIIilhJJiVlTRBAjaKB9FWELnKWe0o

Just need to inform the team.

[2017-08-23 10:41] #1027 closed, assigned to nobody

[2017-08-23 10:42] #1018 closed, assigned to caltrider, tlasadea

[2017-08-23 10:42] #1019 closed, assigned to tlasadea

[2017-08-23 11:02] tlasadea opened #1039 "Copyright: email copy"
Write the email to be sent out announcing the campaign.

[2017-08-23 11:05] #1039 closed, assigned to jonmozilla

[2017-08-23 11:15] tlasadea commented on #1033
Hey @hannahkane.

Ok so @lovegushwa said we have [these creative assets](https://drive.google.com/drive/folders/0B20-0lpP23c0NVh5MjdUbFJ0MUU) for NN, so we can use this for organic social posts I think. @lovegushwa please let me know if that's not the case!

Alex has already started/ is working on paid ads for the extended comment period, incl targeting the 55 congressional districts that Josh sai

[2017-08-23 11:39] TheoChevalier commented on #1024
@hannahkane Let’s say we have a few variants in English, the plan is to get them all localized, then:
- For Italian/German: Federica/Toni would pick the one they think would work best
- For French, I would pick it (or maybe Reagan)
- For Spanish/Polish, if localizers don’t have strong opinions, let’s go with what worked best in English

[2017-08-23 13:06] caltrider commented on #1032
Hey @hannahkane and @tlasadea .  The survey is out now and will run though Labor Day (Sept 5th here in NA).  After that @vojtechmzl and I will work to pull together the best information we will create for the share out that will happen on blog, social, email (and hopefully snippet).  The goal is to have that share out content ready to go the week of Sept 19th (it might take longer for the localiza

[2017-08-23 13:39] tlasadea commented on #1036
Hi @hannahkane [here's the brief](https://docs.google.com/document/d/17-zFfLaLWfkHf8AG2Q6BuiL4uI1N18NDU3Xz4yJZZ4c/edit) for creative @natalieworth have a read through but I'll talk through it on the call!

[2017-08-23 15:50] hannahkane opened #1040 "Safety: Evaluate off-the-shelf tools for user reviews/ratings"
Let's research and evaluate off-the-shelf tools we can integrate into the Buyer's Guide to allow users to add their subjective comments via reviews and/or ratings.

Perhaps we could consider a few options, and weigh the pros and cons as they relate to:
 - Product design (e.g. features, usability, mobile-friendliness)
 - Tech specs (e.g. ease of integration, security and vendor review)
 - Cost
 - V

[2017-08-23 15:52] hannahkane commented on #1040
@caltrider @tlasadea @lovegushwa @beccaklam @natalieworth @ScottDowne - do these seem like the right things to be evaluating? What would you add?

[2017-08-23 15:55] hannahkane commented on #1040
Some tools to look at:
 - [Yotpo](https://www.yotpo.com/lp/better-results/)
- Coral Project's [Ask](https://coralproject.net/products/ask.html)
- [Get Satisfaction](https://getsatisfaction.com/corp/)
- [Typeform](https://www.typeform.com/)

Please add others

[2017-08-23 15:57] natalieworth commented on #1017
@hannahkane Yep! Done!

[2017-08-23 15:59] #1017 closed, assigned to natalieworth

[2017-08-23 16:49] hannahkane commented on #1036
Assigning @natalieworth to create the six images needed (two per phase) and deliver assets meeting specs for FB, Twitter, and email, per locale.

(Noting there's mention of a snippet above. Is that a thing we need to address, @tlasadea @Melechuga?)

cc @lovegushwa

[2017-08-23 16:51] hannahkane commented on #1036
Assigning @TheoChevalier to manage translation of copy for social assets, which @tlasadea will provide on Thursday, 24 August.

[2017-08-23 16:55] hannahkane commented on #1024
@TheoChevalier - sounds like a good plan. @Melechuga mentioned that Federica might be able to choose copy for Spanish as well as Italian. Otherwise, this sounds perfect.

@tlasadea will provide copy on Thursday, 24 August.

[2017-08-23 17:02] hannahkane commented on #1032
Thanks! Updated the first comment, the milestone on this ticket, and the [roadmap](https://mzl.la/advocacy-roadmap) to reflect the deadline.

[2017-08-23 17:03] TheoChevalier commented on #1024
@hannahkane Roger!
In wait mode for the copy.
@tlasadea just a note that we should prefer Members of European Parliament over MEPs, not sure how it will look in tweets :/

[2017-08-23 17:12] Melechuga commented on #1036
@hannahkane Who usually handles Snippet requests? Wouldn't be a bad idea to put it in for our various EU locales...

[2017-08-23 17:13] hannahkane commented on #1036
@caltrider, please advise! ^

[2017-08-23 17:18] TheoChevalier commented on #1036
Someone has to get a copy deck ready with snippet copy + icons and pass it to Wes for approval by the Snippet team. Once it’s approved, I can go ahead with localization.
I think they review requests once a week, with the time to get them translated (and the other pieces that are piling up) we won’t have them ready by the 31st. But it shouldn’t be a problem to delay a little bit, I assume

[2017-08-23 17:23] Melechuga commented on #1036
@TheoChevalier Yea, no problem to delay. If we can line them up now, and get them out in mid-September, we can drive it home with urgency on our side.
@tlasadea Do you have time/space to also draft snippet copy? Let's assume we'll only have 2-3 wks for people to call at that time -- if that fits into the message. If not, don't hesitate to say so; we can get other hands on deck.

Thanks all!!

[2017-08-23 17:31] caltrider commented on #1036
Hey all, I'm happy to help get things through the snippet approval process with Wes.  @tlasadea , if you want to draft the copy, I can then introduce you to Wes and walk you through this process so you'll understand it. It's not that complicated.  We'll also need to find or create suggested icons for them to use in the snippet.
cc: @Melechuga @TheoChevalier @hannahkane

[2017-08-23 17:41] TheoChevalier commented on #1037
@Melechuga We will localize the email, but what about the blog post? If it’s only targeting press are we good with English only? I assume it won’t be linked from the email

[2017-08-23 17:44] caltrider commented on #1040
Thank you for leading this @hannahkane.  It would be amazing to be able to use the Coral Project's tools, wouldn't it.  Would save on security reviews and things like that.  Could we set up a time next week to meet and work through these and pick the best solution to start moving forward?

[2017-08-23 17:46] KevZawacki commented on #1037
@TheoChevalier @Melechuga

I'd really like to localize the blog post if possible, ideally into DE, FR and ES. Having localization versions greatly increases our chances of press pick-up.

[2017-08-23 17:53] TheoChevalier commented on #1037
@KevZawacki Sounds good, Kevin. Do you know if we can get this through Mozilla Press Center, like we did for Paperstorm? https://blog.mozilla.org/press-fr/2017/05/09/paperstorm-des-flyers-pour-venir-en-aide-a-la-legislation-europeenne-sur-le-droit-dauteur/
I’m not sure what’s the process

[2017-08-23 17:56] KevZawacki commented on #1037
@TheoChevalier Yep, I can ensure it's published on all relevant press centers.

[2017-08-23 18:00] hannahkane commented on #1040
Send an invite.

[2017-08-23 18:01] hannahkane commented on #1040
Sorry, I meant that I just sent an invite. It wasn't an imperative. :)

[2017-08-23 19:45] TheoChevalier commented on #1037
Awesome, thanks Kevin! That will greatly help getting the other pieces localized on time.
@jonmozilla You can copy this template for the email, should help getting all the pieces together https://docs.google.com/document/d/1aEzfTaqUPbzA4kwnIIcfGNT2FOTf9msp0c1JNk8pw3g/edit
For the locales, I would go with DE, FR, ES, IT, PL

IT is ~500 people, but I think this is a typical case where reaching few b

[2017-08-23 20:11] Melechuga commented on #1037
@TheoChevalier Yea, IT would be great. I think we should try to do everything in the 6 languages (DE, FR, ES, IT, PL and of course EN). Thanks!

[2017-08-23 20:28] TheoChevalier commented on #1028
All the strings have been exposed and are being localized, we can call it done.
Tracking progress here https://pontoon.mozilla.org/projects/copyright-campaign/

[2017-08-23 20:28] #1028 closed, assigned to TheoChevalier

[2017-08-24 02:13] hannahkane commented on #1026
Per conversation at stand this morning, we likely won't be ready to have this brainstorming session until early next week.

[2017-08-24 08:15] tlasadea commented on #1040
Hmm - I hope this is the right place to voice these, but I have concerns about this approach, largely:

- Asking people to review products on sites where they don't purchase them isn't user behaviour. This occurs usually where people buy the products

- Previous experiences tells me it will be difficult to get cut through with this approach during the holiday period (it's really just too big of an

[2017-08-24 08:40] tlasadea commented on #1024
Oh :/ we  v limited character space @theochevalier we're gonna have to use
MEPs otherwise there'll be no space for anything else!

[2017-08-24 09:46] tlasadea commented on #1036
@hannahkane
This will likely be 2 days work, so Friday EOD and Monday for @natalieworth. Totally forgot I was also drafting copy for the designs themselves & adding in amends time & snippet.

@caltrider re Snippet - sure! Are there any specs (i.e character limits) to know of?

[2017-08-24 09:56] TheoChevalier commented on #1036
Hey @tlasadea, here some docs from the snippets team that I think will help

Snippet copy/tone guidelines https://docs.google.com/presentation/d/1-rR32aMK60u6EvHvRCyINI0J_KH0_shbD_jbPqF_VUI/edit#slide=id.g163b911a67_2_5 re: length “ the ideal snippet is between 80 and 130 characters. Think of a tweet. Omit needless words.”

General guidelines for snippets https://docs.google.com/document/d/1IwyfIn

[2017-08-24 11:31] TheoChevalier commented on #1021
Discussed w/ Melissa, but updating here too :)

French, Spanish and Polish have been requested yesterday to our vendor, I don’t know yet when it will be ready.

German should be done by Toni, hopefully.
Italian will be done by Federica, maybe today

[2017-08-24 15:30] hannahkane commented on #1020
@Melechuga @ScottDowne @natalieworth @TheoChevalier - can you please review the checklist above? Feel free to add items.

[2017-08-24 15:38] TheoChevalier commented on #1020
Looks good on the l10n side, just added Polish as it’s a requested locale

[2017-08-24 15:41] hannahkane commented on #1020
@Melechuga - what would you consider NOT essential to launch? These are the things that I think we could launch without:
- [ ] Design matches mockup - we don't necessarily need it to be pixel perfect
- [ ] User hears pre-recorded intro message - could skip this if we aren't able to get the audio files in time
- [ ] "Try calling again" flow works - could just remove this if the flow is complicated

[2017-08-24 17:14] tlasadea commented on #1036
@TheoChevalier @hannahkane [all copy for localisation](https://docs.google.com/a/mozilla.com/document/d/12m4sc3mfxVHL-lM8_aQlBDhfek6q4WBdcsxAIiximMM/edit?usp=sharing) (snippet, social, shareprogress)

NOTE no icons yet re snippet

[2017-08-24 18:23] KevZawacki commented on #1037
@hannahkane Communications plan is **[here](https://docs.google.com/document/d/1tqxTbQisinH4gp2y5z3PkQ5QED82v3Deznh3g_zyVsY/edit#)**; I've asked @Melechuga and Raegan to weigh in.

[2017-08-24 19:31] TheoChevalier commented on #1021
Alright, received Italian and should record English tomorrow.

I’m adding files in this folder as I get them: https://drive.google.com/drive/folders/0B8po55rC8WGXNmYxM1k5eUpHU2s?usp=sharing

[2017-08-24 22:00] Melechuga commented on #1020
Thanks for pulling this together, @hannahkane!
I was thinking about it all, and if it's only a few days' delay in launching due to QA, I doubt it'll be a huge issue. I've slated the email to go out on Sept. 7th; do you think the site could be ready by then? If not, here are my notes on features we could launch without:

- About "try calling again" - I'm ok with nixing that if, simply by refreshing

[2017-08-25 13:20] tlasadea commented on #1024
This is done, @hannahkane, can be closed.

[Here](https://docs.google.com/a/mozilla.com/document/d/12m4sc3mfxVHL-lM8_aQlBDhfek6q4WBdcsxAIiximMM/edit?usp=sharing).

[2017-08-25 13:23] tlasadea commented on #1038
Just sharing this here too @hannahkane @TheoChevalier. The copy for snippets & social is [here](https://docs.google.com/a/mozilla.com/document/d/12m4sc3mfxVHL-lM8_aQlBDhfek6q4WBdcsxAIiximMM/edit?usp=sharing)

[2017-08-25 13:51] TheoChevalier commented on #1038
To clarify, I’m exposing social content now, but am waiting for snippets to be approved to get them localized

[2017-08-25 15:44] Melechuga commented on #1024
@tlasadea This is awesome! Thanks. One suggestion: can we change where it says "copyright is under threat" to "the internet" or "memes" or "your blog" is under threat? Copyright itself is what we're debating; the outcome of the copyright law will determine the state of the internet. Appreciate it!

[2017-08-25 15:48] TheoChevalier commented on #1024
If we have more changes, I suggest we group them, German is already done with the current copy…

[2017-08-25 15:49] tlasadea commented on #1024
I did think that Melissa - but that's pretty much the exact message that
was used for NN, so I think it's too confusing.
Realise we're not debating copyright itself, but that's how much of the
message is being framed on social to separate the two. I also think "memes"
and "your blog" is too vague.

On 25 August 2017 at 16:44, Melissa Romaine <notifications@github.com>
wrote:

[2017-08-25 15:54] Melechuga commented on #1024
I'm confused about the parallel with NN; that's a US-based campaign, and this is EU so the audiences are different (though I understand that everyone following our social will see both). I'm fine with not using "memes" or "your blog"; those were just examples. However, in this case, copyright is actually not under threat; the current copyright laws are threatening the internet. Copyright itself is

[2017-08-25 16:07] tlasadea commented on #1024
Oui! This is resolved :)

*Temi Lasade-Anderson*
Social Media Specialist
Mozilla Foundation
Slack: tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 25 August 2017 at 16:54, Melissa Romaine <notifications@github.com>
wrote:

[2017-08-25 16:23] hannahkane commented on #1024
Thanks, all! Closing this, and moving to an implementation ticket.

[2017-08-25 16:23] #1024 closed, assigned to Melechuga, tlasadea, jonmozilla

[2017-08-25 16:24] hannahkane opened #1041 "Copyright: implement Share flow"
Copy is [here](https://docs.google.com/document/d/12m4sc3mfxVHL-lM8_aQlBDhfek6q4WBdcsxAIiximMM/edit)

Will use Share Progress for EN to test variations, and will use custom Share pages for each other locale.

[2017-08-25 16:26] TheoChevalier commented on #1024
Just for the record:

Updated actual strings: https://github.com/mozilla/copyright/commit/f75ef476d18c71041d9c707b2c380c4d4c070089

Warned localizers: https://groups.google.com/d/msg/mozilla.dev.l10n.web/pvEGvI-3wxY/U2fx4Ri_AQAJ

Thanks everyone!

[2017-08-25 20:40] hannahkane commented on #1020
Thanks, @Melechuga. Perhaps we can get an updated estimate from @Pomax and @ScottDowne on Monday.

(The audio recording is on our side in that we have to make the recordings, but it sounds like that's [moving along](https://github.com/MozillaFoundation/Advocacy/issues/1021#issuecomment-324734101).)

[2017-08-25 20:43] hannahkane commented on #1036
Reminder: @tlasadea and @natalieworth to tackle this stuff together on Tuesday.

[2017-08-25 22:00] vojtechsedlak commented on #1035
Just to update the ticket, we decided to not implement GA on this campaign, in order to honor a request from our EU partners. We will still be able to evaluate the metrics mentioned above.

[2017-08-28 23:35] hannahkane opened #1042 "QA: phone number field default text gets cut off"
Happens in a few languages:
![screen shot 2017-08-28 at 4 34 28 pm](https://user-images.githubusercontent.com/8389648/29797941-dc72166c-8c0e-11e7-8b7f-f012e6234e74.png)

[2017-08-28 23:35] hannahkane commented on #1042
@ScottDowne - should I assign these to you?

[2017-08-28 23:37] hannahkane opened #1043 "QA: remove "Share this page" from the footer"
Per conversation with @Melechuga @natalieworth and @ScottDowne

[2017-08-28 23:38] hannahkane opened #1044 "QA: link "We’ll provide you with what to say before calling.""
I believe this sentence is meant to link to the Call Now page. @natalieworth to confirm.

[2017-08-28 23:40] hannahkane opened #1045 "QA: broken "Learn more" links missing on homepage"
Each of the three sections under "How will this impact me?" have a "Learn more" link that should go to the appropriate anchor link on the Impact page

[2017-08-29 00:01] hannahkane commented on #1021
@TheoChevalier - looks like we have everything but German, yes? Do we have an ETA on that one?

[2017-08-29 09:23] TheoChevalier commented on #1021
@hannahkane Correct! I have a first German version, checking with Toni if he needs to do another take to clarify a small detail. If we’re running out of time, we can use this version, just let me know

[2017-08-29 10:17] TheoChevalier commented on #1021
Got the final version by Toni, @hannahkane the files can be uploaded

[2017-08-29 10:17] #1021 closed, assigned to TheoChevalier

[2017-08-29 12:24] TheoChevalier opened #1046 "Copyright: country list"
Let’s make sure where we’re sending comms in each language. This would be for emailing, paid social and snippets.

Here’s what I’m assuming:
en: UK
fr: France
de: Germany
it: Italy
pl: Poland
es: Spain

So, only targeting MEPs’ countries.

For emails we don’t always have the country info, so we may want to do as usual? @WillatMozFdn

CC: @tlasadea

[2017-08-29 12:39] WillatMozFdn commented on #1046
Are we targeting only the countries with a representative on the JURI Committee?  That seems to be the most logical.

Someone (like @jonmozilla who I think is Jon Lloyd?) should double-check me on this to see if it's still current, but a few months ago I did a list of those countries -- that's here: https://docs.google.com/spreadsheets/d/1MUssSqnuh3uMj7dIga8MDF2Qgq0XfVg5gZ1C-jXD8QE/edit#gid=0 (the

[2017-08-29 12:43] TheoChevalier commented on #1036
Snippet copy in the approval queue https://bugzilla.mozilla.org/show_bug.cgi?id=1394759

[2017-08-29 12:52] jonmozilla commented on #1046
Checked and added substitute member countries as well.

[2017-08-29 13:46] KevZawacki commented on #1037
Hi @TheoChevalier,

Our copyright blog has been approved by Melissa and Raegan. You can find the final version [here](https://docs.google.com/document/d/14-3s2zjtBB42vpzcjdB-_R0T3e1Cx__548Ata8xQitQ/edit).

Are we able localize into French, German, Spanish, Italian and Polish this week?

[2017-08-29 13:51] TheoChevalier commented on #1037
@KevZawacki Hm, I think there’s been a misunderstanding, I was asking above if we could use the Mozilla Press Center agency to localize the blog post, like we did for Paperstorm, but I don’t know what’s the process

[2017-08-29 14:27] KevZawacki commented on #1037
@TheoChevalier Oh, I see. It is unlikely MoCo's agencies will be able to localize the blog for us, unfortunately. Perhaps we can prioritize 2 languages for our volunteers?

[2017-08-29 15:07] ScottDowne commented on #1043
Done

[2017-08-29 15:07] #1043 closed, assigned to ScottDowne

[2017-08-29 15:08] ScottDowne commented on #1035
@vojtechmzl so is it safe to say either in this ticket, or another, we should be removing all usage of GA from the front end site?

[2017-08-29 16:15] Melechuga commented on #1046
@WillatMozFdn @jonmozilla
No, we are not doing this by member country -- it doesn't matter which MEP the citizens speak to, as this committee is meant to balance out the representation of the political parties of the EU, not the countries. Users will decide who they speak to dependent on language that the MEPs speak -- we chose these 6 languages, as they are spoken in the most influential countrie

[2017-08-29 22:32] hannahkane commented on #1041
@ScottDowne - is this done, or in progress? Seems to be working correctly on staging.

[2017-08-29 22:35] hannahkane commented on #1020
@Melechuga @TheoChevalier @natalieworth - do you have time to help QA the [staging site](https://changecopyright-org-staging.herokuapp.com), per the items in the first comment above?

[2017-08-29 22:35] #1041 closed, assigned to ScottDowne

[2017-08-29 22:36] hannahkane commented on #1036
@natalieworth and @tlasadea - did you two have time to discuss this today? If not...tomorrow?

[2017-08-29 23:05] Melechuga commented on #1020
@hannahkane yes! I can def help. What's the staging site url? Where should comments/bugs be filed?

[2017-08-29 23:12] natalieworth commented on #1036
@hannahkane We did! Trying to get a start on these this afternoon

[2017-08-29 23:15] hannahkane commented on #1020
https://changecopyright-org-staging.herokuapp.com/en-US/

Please file bugs in this repo.

[2017-08-29 23:45] TheoChevalier opened #1047 "Copyright: when switching languages, the new language is not kept when opening some links"
Let’s say I’m using an English browser but feel more confident to speak in French.
- I use the language switcher to get the homepage in French.
- I click on Call Now from the nav menu

Actual: I’m redirected to https://changecopyright-org-staging.herokuapp.com/en-US/call-now

Expected: I’m accessing to https://changecopyright-org-staging.herokuapp.com/fr/call-now

This is because some internal lin

[2017-08-29 23:50] Melechuga commented on #1020
QA, page 1 (links)
- "We’ll provide you with what to say before calling." link goes nowhere; should link to the "call now" page.
- "technologist" "creator/innovator" and "scientist/librarian" sections don't link to the respective sections on the "Impact" page; each category should link.
- Also, "(Learn More)" links at the end of each paragraph are unlinked (and should be underlined when hyperlinke

[2017-08-29 23:52] Melechuga commented on #1020
QA, EN Fix Copyright page (newsletter sign-up):
- "Join our newsletter" section:
   - accepts an incomplete email address
   - upon clicking "subscribe", it takes you to http://share.mozilla.org/352/179362 which is just one massive image  -- this should probably link to an existing "thank you" site that has to do with the newsletter sign-up, maybe like https://www.mozilla.org/en-US/newsletter/mozi

[2017-08-29 23:54] Melechuga commented on #1020
QA, EN Fix Copyright page, copy:
Creator/Innovator section, the copy is "all the forms of expression that makes the internet wonderful." One grammar change -- "makes" should be "**make**"

[2017-08-29 23:59] TheoChevalier commented on #1020
Creator/Innovator section, the copy is "all the forms of expression that makes the internet wonderful." One grammar change -- "makes" should be "make"

Thanks, fixed it

[2017-08-30 00:13] Melechuga commented on #1020
QA, Impact page, links:
- Assuming the top design (super cute!) is just a placeholder (screenshot below), but each one should link to the respective section on the page below.
![screen shot 2017-08-29 at 4 52 30 pm](https://user-images.githubusercontent.com/5815317/29849674-305c1e7a-8cdd-11e7-9435-e687e854a91d.png)
- None of the "For more detail..." links go to the appropriate site.

[2017-08-30 00:17] Melechuga commented on #1020
QA, Impact page, copy:
- In one of the design mockups, there was a comment about making the questions "What does this mean?" and "What are we fighting for?" bold or in someway more visibly catchy; is this still the case? At the very least, if we could bold them that would be helpful.
- Under the Creator/Innovator section, the "For more detail..." link says "For more details..." -- should not have

[2017-08-30 00:19] Melechuga commented on #1020
QA, Call Now page:
"Enter Phone Number" example text doesn't fit in box (number box isn't dependent on window width":
![screen shot 2017-08-29 at 5 17 32 pm](https://user-images.githubusercontent.com/5815317/29849821-2df92046-8cde-11e7-851a-7f4de0019f30.png)

[2017-08-30 00:28] Melechuga commented on #1020
QA, ES Reforma de... page, links:
- "Antes de llamar te indicaremos qué puedes decir." (below the "Llamar Ahora" button) isn't linked; should go to the "Llamar Ahora" page.
- Same as on the EN pages, none of the links for the various personas go to the "Impacto" page to their respective section -- **I'm assuming this is now the same for all localized pages as well**.
- Footer: the "Legal" and "Pri

[2017-08-30 00:30] Melechuga commented on #1020
QA, ES Reforma de... page, newsletter sign-up:
Screenshot shows the example in the email field ("Dirección de correo electrónico) doesn't fit in the box:
![screen shot 2017-08-29 at 5 28 29 pm](https://user-images.githubusercontent.com/5815317/29850053-a2b8228c-8cdf-11e7-8882-7afebc323e73.png)

Also, it accepts an incomplete email address.
The thank you/share page, though, is fantastic!
![screen s

[2017-08-30 00:34] Melechuga commented on #1020
QA, ES Impacto page, copy (localization issues):
- Same design issue as EN page -- the "¿Eso qué significa?" and "¿Por qué estamos luchando?" on all section could be in bold or otherwise more visible.
- 3 out of the 4 "For more detail, read C4C’s facstheet (PDF, in English)." are in English. @TheoChevalier can you please add in the ES versions?
- Sections "Creador/innovador" and "Cientifico/biblio

[2017-08-30 00:37] Melechuga commented on #1020
QA, ES site links:
When on the landing page in ES ("Reforma de..."), clicking on either "Impacto" or "Llamar Ahora" at the top takes user to the EN page, instead of to the ES versions. Same when moving between pages -- everything takes you to the EN pages. Not sure if this is because of my IP, but this shouldn't be the case if someone has chosen their localized site.

[2017-08-30 00:39] Melechuga commented on #1035
@ScottDowne @vojtechmzl Yes. Thanks!

[2017-08-30 00:43] TheoChevalier commented on #1020
Legal: https://www.mozilla.org/es-ES/about/legal/terms/mozilla/
Privacided: https://www.mozilla.org/es-ES/privacy/websites/

Footer: "Donar" also goes to the EN page; not sure if there is a localized version.

Those are okay, people will be properly redirected to the appropriate language. You’re being redirected to English because en-US is set as your preferred language in Preferences > Content >

[2017-08-30 12:37] TheoChevalier commented on #1037
Alright, I’ve sent the copy to everyone, and suggested to get it localized if they have time. I will jump in to get at lest French this weekend if no one starts in French team

[2017-08-30 12:55] KevZawacki commented on #1037
Thank you, @TheoChevalier.

[2017-08-30 13:14] TheoChevalier commented on #1038
Share content: shipping variants picked by Toni, Federica and myself for all locales but English: https://github.com/mozilla/copyright/pull/111

[2017-08-30 13:51] tlasadea commented on #1033
Hi @levjoy

Is there a campaign update? Re social - we focused on FB paid social targeting to congressional districts rather than a generalised blanket push on Twitter. Alex (not on git) will have reporting in a week or so. Is there anything else happening this week/next that we need to be abreast of?

[2017-08-30 15:33] TheoChevalier opened #1048 "Copyright: soft reload does not reset country code"
On https://changecopyright-org-staging.herokuapp.com/fr/call-now:

1- switching to +44 (UK)
2 - refreshing the page

Get this state where +33 is set, but +44 is the one selected:

<img width="102" alt="capture d ecran 2017-08-30 a 16 32 03" src="https://user-images.githubusercontent.com/1294206/29880857-cf33f3ba-8da0-11e7-800b-308bb6567aae.png">

[2017-08-30 15:53] hannahkane commented on #1038
@TheoChevalier - do you have what you need for the paid social strings?

[2017-08-30 15:53] ScottDowne commented on #1042
Should be good now.

[2017-08-30 15:53] #1042 closed, assigned to ScottDowne

[2017-08-30 15:56] TheoChevalier commented on #1038
@hannahkane Not yet, but I think @tlasadea is on it

[2017-08-30 16:04] tlasadea commented on #1038
Oui!

Also - paid social for other countries/locales other than UK/EN will go
live earliest Tuesday due to Alex capacity/labour day holiday.

I need to see the creative for the paid social stuff, so hoping
@natalieworth will finish today so I can pop those over.

[2017-08-30 16:10] tlasadea commented on #1026
Hi @jonmozilla @caltrider @natalieworth @beccaklam

The purpose of this meeting is to get us one step closer to being able to wireframe (or at least a content matrix) for the site 😅.

So there's some pre-meeting work! For Friday's meeting, please can you come with FOUR benchmarks (you don't have to do this @ScottDowne) and add them [here](https://docs.google.com/spreadsheets/d/1ofPYPfvTnNDf8p0HDbP

[2017-08-30 16:45] ScottDowne commented on #1048
I'm working on this, a bug somewhere.

I have a nonsense workaround that I shouldn't have to do.

[2017-08-30 16:55] hannahkane opened #1049 "QA: Impact page"
- [x] "technologist" "creator/innovator" and "scientist/librarian" sections should link to the respective sections
- [x] None of the "For more detail..." links go to the appropriate site
- [x] Under the Creator/Innovator section, the "For more detail..." link says "For more details..." -- should not have the s.
- [ ] In one of the design mockups, there was a comment about making the questions "Wha

[2017-08-30 18:10] ScottDowne commented on #1048
OK, after a bit of investigation, I have an understanding of the bug and an adequate fix.

https://github.com/mozilla/copyright/pull/112

Should be building now, so we can close this.

The explanation of this is as follows.

The browser auto fills inputs based on previous values stored in cache.

React also diffs the page to see if it needs to update or not.

In the case of no server side renderin

[2017-08-30 18:10] #1048 closed, assigned to nobody

[2017-08-30 18:23] hannahkane commented on #1020
Thanks for the awesome QA, @Melechuga. I deleted a couple of your comments only because they'd been filed separately.

[2017-08-30 18:40] ScottDowne commented on #1044
Fixed and building on staging.

If this was wrong, we can open a new issue.

[2017-08-30 18:40] #1044 closed, assigned to ScottDowne

[2017-08-30 18:42] ScottDowne commented on #1045
You mean the "For more detail, read LIBER’s explanation (in English)." like links?

I'm not sure where they are supposed to go, actually.

[2017-08-30 18:44] ScottDowne commented on #1045
If this is covered in https://github.com/MozillaFoundation/Advocacy/issues/1049, I'm happy to close this one.

[2017-08-30 18:44] ScottDowne commented on #1045
Oh, these are the links in the home page, not the impact page.

I got it! (and missed that bit in the issue title)

[2017-08-30 18:56] ScottDowne commented on #1045
Building on staging now. Closing.

[2017-08-30 18:56] #1045 closed, assigned to ScottDowne

[2017-08-30 18:58] ScottDowne commented on #1049
@hannahkane do we know where the "for more details" on the impact page are supposed to link to?

[2017-08-30 19:07] hannahkane commented on #1049
Article 11: http://copyright4creativity.eu/wp-content/uploads/2017/01/DCDSM-Article11-C4CFactsheet.pdf

Article 13: http://copyright4creativity.eu/wp-content/uploads/2016/12/DCDSM-Article13-C4CFactsheet.pdf

Communia's analysis on UGC: http://www.communia-association.org/2017/06/15/keeping-eye-fine-print-ugc-exception-juri-committee/

Liber's explanation: http://libereurope.eu/text-data-mining/

[2017-08-30 19:16] ScottDowne commented on #1047
Fixed in https://github.com/mozilla/copyright/pull/116

[2017-08-30 19:16] #1047 closed, assigned to ScottDowne

[2017-08-30 19:24] ScottDowne commented on #1020
A bunch of these got fixed.

I see the largest issues left, after reading through this, to be:

- [x] SIgnup in english doesn't have a correct thank you page, still using the share progress page we had for the previous campaign.
- [x] Singnup input placeholder gets cut off in some languages.
- [x] Sticky buttons.

Let me know if I missed anything and we can walk through it.

[2017-08-30 21:17] TheoChevalier commented on #1038
Updated the first post, but making it more clear here — the website is now fully translated

[2017-08-30 21:22] natalieworth commented on #1020
Sorry @ScottDowne I'm not seeing sticky button updates? Or is it coming? These aren't sticky for me yet:
<img width="1434" alt="screen shot 2017-08-30 at 2 20 00 pm" src="https://user-images.githubusercontent.com/14876567/29895623-ac4f07de-8d8e-11e7-9b09-421a54d98c0a.png">
<img width="1434" alt="screen shot 2017-08-30 at 2 20 07 pm" src="https://user-images.githubusercontent.com/14876567/29895622-

[2017-08-30 22:27] ScottDowne commented on #1020
I only put sticky on impact.

[2017-08-30 22:31] hannahkane commented on #1046
I'm a bit confused by this ticket. Do we need any more information? Can we close?

[2017-08-30 22:32] hannahkane commented on #1035
@vojtechmzl @ScottDowne - can I close this ticket, since GA has been removed? Are there any other TODOs before we launch the site?

[2017-08-30 22:33] TheoChevalier commented on #1046
We can close! Thanks for the clarification on countries

[2017-08-30 22:33] #1046 closed, assigned to Melechuga

[2017-08-30 22:43] hannahkane commented on #1020
I've updated the checklist in the first comment of this ticket. @natalieworth @TheoChevalier and @Melechuga - if you feel the design, localization, and copy—respectively—are good for launch (we can continue to make small changes afterwards), please check the corresponding boxes in the checklist.

I don't know how to test the two remaining pieces in the call tool—checking to see that the user gets

[2017-08-30 22:59] TheoChevalier commented on #1020
Also what I can’t test:
- Share buttons are properly displayed after the call
- if `(+33) 0611223344` is accepted as well as `(+33) 611223344`

Otherwise, everything looks good to me on the localization side

[2017-08-30 23:04] hannahkane commented on #1011
Per Tuesday media team meeting, our tentative (needs final approval from higher-ups) plan is to produce a holiday guide featuring product reviews (of toys, game systems, fitness trackers, home assistants, smart TVs, and more) written by experts in our network. We will provide guidance to ensure reviews are standardized in terms of what privacy/security-related features they cover.

Additionally, w

[2017-08-30 23:05] hannahkane commented on #1040
Closing, per earlier discussion with @caltrider and @tlasadea. In lieu of this, will open a ticket about allowing users to leave comments/questions on product pages.

[2017-08-30 23:05] #1040 closed, assigned to nobody

[2017-08-30 23:10] hannahkane opened #1050 "Holiday Buyers Guide website: allow people to ask/answer questions"
Goals: provide a forum for people who may be new to the issue of privacy/security to ask questions of others; allow community members to share their knowledge/insights about products and the issue of privacy/security overall

Requirements:
- if we use a third-party tool, must pass our security and vendor reviews
- must be available in EN/ES
- must allow for threaded conversations
- must have basic

[2017-08-30 23:10] hannahkane commented on #1050
@caltrider @tlasadea  - does this capture what we discussed? Any goals/requirements to add?

[2017-08-30 23:14] caltrider commented on #1050
Yes @hannahkane, those requirements look good to me.  Thanks!

[2017-08-30 23:15] hannahkane commented on #1022
I believe we've done this. Closing.

[2017-08-30 23:15] #1022 closed, assigned to brettgaylor, caltrider

[2017-08-30 23:16] hannahkane commented on #995
Closing this as a dupe of #1026

[2017-08-30 23:16] #995 closed, assigned to lovegushwa

[2017-08-30 23:18] hannahkane commented on #1012
@caltrider - given the direction we've chosen, this feels like it's going to be important again. Is there a deliverable (or deliverables) we can articulate here? I know you have a vision in mind for how we might tap different folks to play different roles in this project. Can you link to some documentation around how you see us engaging people?

[2017-08-30 23:22] caltrider commented on #1011
Hey @hannahkane, yes this captures the gist of it.  We'll put some more flesh on this plan--finalized criteria, fleshed out product list to start with, user journey and UX ideas on the website, advocacy bits--by the end of the week so next week we will have something solid to run by the higher ups (and, gulp, legal) so we can hit the ground running.

[2017-08-30 23:28] caltrider commented on #1012
Hey @hannahkane, my vision on this is still a bit blurry. I've got a couple conversations lined up tomorrow to talk to folks about how best to reach into the Network/Fellows for this sort of help.  I should have a better idea after those conversations and then I can get a doc going to make this happen.

[2017-08-30 23:40] hannahkane commented on #1034
@ScottDowne - copy changes are good to go. Can we please aim to get this up as soon as we can tomorrow (Thursday)?

[2017-08-30 23:54] natalieworth commented on #1036
https://redpen.io/p/sf77bce0a6de9f4a2d

cc @hannahkane @tlasadea @TheoChevalier Hey! Got some options for social shares in the redpen link above. @tlasadea if there are any that are working/ you like, then we could translate those?

[2017-08-31 12:00] TheoChevalier commented on #1036
Thanks @natalieworth! I don’t have much more feedback than what Temi left on Redpen, in particular making the EU flag slightly more visible. But they look great!
Regarding the Paid Social campaign, Tuesday is a hard deadline so we don’t have much time left to translate assets, hand off the translations to you and have a QA check, especially considering Monday is Labor Day. I suggest we use assets

[2017-08-31 12:18] tlasadea commented on #1036
@theochevalier totally on the same page :)

I'm writing paid social copy right now, so you'll be able to send that to
the localisers today.

Thank you!

*Temi Lasade-Anderson*
Social Media Specialist
Mozilla Foundation
Slack: tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 31 August 2017 at 13:00, Théo Chevalier <notifications@github.com> wrote:

[2017-08-31 14:39] KevZawacki commented on #1037
Hi @TheoChevalier, checking in briefly: Do you know what localized blog versions we'll have ready by Tuesday, Sept. 5?

[2017-08-31 14:42] TheoChevalier commented on #1037
@KevZawacki German is ready, French will be for sure.
We should get Polish too, but nothing sure.
Italian: probably yes
Spanish: probably no
I will update this ticket as I get translations

[2017-08-31 14:47] KevZawacki commented on #1037
@TheoChevalier Excellent! Thank you, Theo.

If it's possible to share the final localized versions on Monday evening, that works best. Then MoCo's agencies can publish them first-thing Tuesday morning.

[2017-08-31 14:52] ScottDowne commented on #1034
It's live on staging: https://advocacy-mozilla-org-staging.herokuapp.com/en-US/net-neutrality/

And both of these should redirect:

https://advocacy-mozilla-org-staging.herokuapp.com/en-US/net-neutrality-comments/
https://advocacy-mozilla-org-staging.herokuapp.com/en-US/net-neutrality-comments-simple/

[2017-08-31 15:09] TheoChevalier commented on #1037
Sounds good, anyone in particular I should send those to, or just you?

[2017-08-31 15:20] tlasadea commented on #1026
Hey @hannahkane @natalieworth @beccaklam @jonmozilla @caltrider

I discussed this with Paul and he reminded me that I need to get a brief done for this. Also, he mentioned that we really ought to have everyone in this meeting as it's quite integral, and Rebecca & Natalie will need time after the meeting to come up with some options for design etc. SO-  I propose we move to Tuesday...(or Wednesday

[2017-08-31 15:33] KevZawacki commented on #1037
@TheoChevalier Just me is fine.

[2017-08-31 15:39] Melechuga commented on #1020
Copy ok'd by me! The newsletter text is still a bit wonky tho (if that's by design, ignore me!):
![screen shot 2017-08-29 at 4 44 39 pm](https://user-images.githubusercontent.com/5815317/29932008-e13f032e-8e27-11e7-87cc-d688e7fab770.png)

[2017-08-31 16:22] hannahkane commented on #1034
Thank you, @ScottDowne! Super awesome. A few things:

- [x] Please adjust ShareProgress copy, per @levjoy
- [x] We can remove this field: "I’m okay with Mozilla using my comments for its net neutrality campaign, in accordance with the Mozilla Terms of Service" since we're not accepting comments
- [x] but we should have this field: "I'm okay with Mozilla handling my info as explained in this Privac

[2017-08-31 16:42] ScottDowne commented on #1020
Wonky signup css should be fixed in a bit.

[2017-08-31 20:02] ScottDowne commented on #1034
🚀 🚢

[2017-08-31 20:02] #1034 closed, assigned to ScottDowne

[2017-08-31 21:23] natalieworth commented on #1036
Updated social for tomorrow is in here https://redpen.io/p/sf77bce0a6de9f4a2d
Original working files are here (photoshop and illustrator) if needed while I'm on PTO: https://drive.google.com/drive/folders/0B20-0lpP23c0dm1FUzFoY1R5QU0?usp=sharing

cc @beccaklam @lovegushwa @tlasadea @hannahkane

[2017-09-01 10:16] TheoChevalier commented on #1038
@tlasadea Hey Temi, any update on the copy? I’m tempted to say we’re too late

[2017-09-01 10:21] tlasadea commented on #1038
Hey @theochevalier - we may be.

I'm having a call with Alex this arvo UK time to discuss - he thinks
there's too many splits/audiences so I'm tempted to just run UK.

I'll let you know later, working through an email of his rn.

*Temi Lasade-Anderson*
Social Media Specialist
Mozilla Foundation
Slack: tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 1 September 2017 at 11:16,

[2017-09-01 14:07] TheoChevalier opened #1051 "Copyright: share icons are black on Safari iOS"
Safari, iOS 10.3.3 (Works fine in Firefox for iOS)

![img_1418](https://user-images.githubusercontent.com/1294206/29973327-1913981e-8f27-11e7-9949-3303df2860b6.PNG)

[2017-09-01 17:37] hannahkane commented on #1051
Good eye. Thanks! Assigning to @ScottDowne

[2017-09-01 17:38] #1035 closed, assigned to ScottDowne

[2017-09-01 17:39] hannahkane commented on #1036
@tlasadea - are we good on these? Can we close?

[2017-09-01 17:40] hannahkane commented on #1020
Closing this ticket. Any additional changes should be filed as separate tickets.

[2017-09-01 17:40] #1020 closed, assigned to Pomax, ScottDowne

[2017-09-01 17:42] hannahkane commented on #1049
Closing this. Will file non-blocking remaining issue as a separate ticket.

[2017-09-01 17:42] #1049 closed, assigned to ScottDowne

[2017-09-01 17:42] hannahkane opened #1052 "Adjust styles on Impact page"
Impact page: In one of the design mockups, there was a comment about making the questions "What does this mean?" and "What are we fighting for?" bold or in someway more visibly catchy; is this still the case? At the very least, if we could bold them that would be helpful.

[2017-09-01 18:06] ScottDowne commented on #1051
Having a hard time reproducing.

[2017-09-01 18:21] hannahkane commented on #1051
I can't reproduce either.

[2017-09-01 18:22] ScottDowne commented on #1051
@TheoChevalier mind trying again? I suspect maybe it was a cache issue around the stylesheet or maybe the font itself?

Also, does this work for you? https://changecopyright.org/en-US/share It's basically the same thing.

[2017-09-01 18:23] TheoChevalier commented on #1051
Hm, doesn’t work here either :/

[2017-09-01 18:24] TheoChevalier commented on #1051
Not sure how I can help debugging

[2017-09-01 18:26] TheoChevalier commented on #1051
LOL ok, I’ve found what that was… I’ve enabled Focus blocking for Safari…

[2017-09-01 18:27] ScottDowne commented on #1051
focus blocking? *googles*

[2017-09-01 18:27] TheoChevalier commented on #1051
I mean, tracking protection from Firefox Focus

[2017-09-01 18:31] TheoChevalier commented on #1051
And I had “Block web fonts” enabled, that was the offender. Didn’t actually realize that was on, because I just played with it to QA French translations. Ok, we should be safe to close this issue! Sorry about that

[2017-09-01 18:31] #1051 closed, assigned to ScottDowne

[2017-09-01 22:08] hannahkane opened #1053 "Test videos on donate page"
To consider:

Could we test the effect of having videos on the Donate page? As discussed with @WillatMozFdn, we might have a control video featuring Mark Surman as a talking head, drawing on existing footage we have of him speaking about the Foundation's work and/or internet health, as well as another, less traditional video (perhaps similar in style to the pop culture-y Safety First videos)? The

[2017-09-01 22:34] hannahkane commented on #1050
Background for @cadecairos @alanmoo and @ScottDowne:

The Advocacy team is working on an online Holiday Buyer's Guide which will feature product reviews written through the lens of privacy and security. We don't have a mockup of what the Guide will look like yet, but we imagine that there will be separate pages for each product. We're wanting to include some kind of threaded comments forum on each

[2017-09-04 09:15] tlasadea commented on #1036
@hannahkane um almost - but I didn't see any snippet designs in these. @natalieworth did you design these, or did you think the ones from the previous campaign were suitable to be re-used?

Other than that - I need the final design (black telephone on aqua) re-sized to
1200x628. @natalieworth can you do this?

[2017-09-04 09:16] tlasadea commented on #1036
And also I need the final design (black telephone on aqua) re-sized to
1200x628

*Temi Lasade-Anderson*
Social Media Specialist
Mozilla Foundation
Slack: tlasade | Twitter: @temilasade <http://www.twitter.com/temilasade>

On 4 September 2017 at 10:14, Temi Lasade-Anderson <
temi@mozillafoundation.org> wrote:

[2017-09-04 15:00] tlasadea commented on #1038
@hannahkane @TheoChevalier just reiterating that localisation for paid social is not needed. We're just waiting on snippet approval now.

[2017-09-04 15:01] tlasadea commented on #1033
@hannahkane this can be closed, if another ticket should be opened for 'NN slow down messaging creative?'

[2017-09-04 15:03] tlasadea commented on #1006
@hannahkane not sure how this ticket differs from the 'campaign-able moments' ticket, and/or what the outcomes are for both?

[2017-09-04 19:03] hannahkane commented on #1006
Let's close this one, as I'm not sure there is a meaningful difference. Thanks, @tlasadea!

[2017-09-04 19:03] #1006 closed, assigned to lovegushwa, tlasadea

[2017-09-04 19:18] hannahkane commented on #1033
Thanks, @tlasadea. Good suggestion. Closing this, and let's discuss the slow down creative tomorrow (or feel free to file a ticket if you have specifics).

[2017-09-04 19:18] #1033 closed, assigned to nobody

[2017-09-04 19:19] hannahkane commented on #895
@levjoy - assuming we can close this, since the deadline passed.

[2017-09-04 19:19] #895 closed, assigned to levjoy

[2017-09-04 19:19] #1025 closed, assigned to ScottDowne

[2017-09-05 10:13] tlasadea commented on #1026
@hannahkane so this will now be a workshop/review of the designs/wireframes that @beccaklam and @natalieworth come up with after the briefing session today (Tuesday).

[2017-09-05 12:56] WillatMozFdn commented on #1053
Update ... I chatted with Lotta on Friday and she's open to having Mark do something custom for us for the "control" version.  I'll develop a script outline this week and then let her & Mark polish up to something that sounds natural for him.

[2017-09-05 15:53] hannahkane commented on #1053
Thanks for the update. Did you discuss who would produce the videoshoot?

[2017-09-05 15:54] hannahkane commented on #1026
Thanks, @tlasadea. Makes sense to me. I updated the issue title.

[2017-09-05 15:54] hannahkane commented on #1026
@tlasadea - this isn't scheduled yet, right?

[2017-09-05 16:00] tlasadea commented on #1026
@hannahkane nope! will do after meeting.

[2017-09-05 19:06] brettgaylor opened #1054 "Add Mozilla copyright video"
Lets add a link to this video on youtube:
https://www.youtube.com/watch?v=Exc9PAXhOd0

Title: A Meme is born
Learn how outdate copyright laws threaten online creativity
by: Mozilla

It looks like these "learn more" pages aren't localized, so not sure if translation required cc @TheoChevalier

Lets make this the first entry in "watch"

[2017-09-05 19:12] TheoChevalier commented on #1054
Hey @brettgaylor which website/pages are we talking about?

[2017-09-05 19:14] brettgaylor commented on #1054
Oops!

Copyright website. The "more resources" section.

On Sep 5, 2017 12:12 PM, "Théo Chevalier" <notifications@github.com> wrote:

[2017-09-05 19:16] TheoChevalier commented on #1054
Oh, ok :) Yeah this page https://www.changecopyright.org/en-US/resources is hidden in other languages than English

[2017-09-05 19:39] ScottDowne commented on #1054
Fix should be on prod soon.

[2017-09-05 20:02] ScottDowne commented on #1054
Fixed: https://changecopyright.org/en-US/resources closing.

[2017-09-05 20:02] #1054 closed, assigned to ScottDowne

[2017-09-05 20:23] hannahkane commented on #994
hey @beccaklam and @natalieworth—I just moved this to "In Progress" and assigned both of you, as per our discussion earlier. As we said, let's aim to have rough versions for discussion on Thursday, so we can quickly move forward.

[2017-09-05 21:37] alanmoo commented on #1050
@LeoMcA are these things Discourse can do for us?

@hannahkane:
It sounds a lot like Disqus does what we need, but I have no idea what the implications of using that are and frankly I'm afraid to ask unless we already happen to have it approved. If Discourse can come close enough, I think that'd be the best solution simply so we don't have to get stuck in approval limbo.
As for decision-making: I'

[2017-09-06 08:08] LeoMcA commented on #1050
✔️

✔️

Discourse uses a flat format, with posts shown chronologically. A single level of threading is, in effect, possible: [see "Simple, but with context"](https://www.discourse.org/features).

@hannahkane as you already mentioned, Discourse doesn't have upvote/downvote, but does have likes. As a downvote equivalent, uses can flag a post which is spam/offensive/etc. which is then hidden once a f

[2017-09-06 10:06] tlasadea commented on #1026
@hannahkane I've scheduled this on Thursday now.

[2017-09-06 14:09] alanmoo commented on #1050
Thanks, Leo.

@hannahkane, I think that even with these small shortcomings it's incredibly valuable to have everything in one spot- it's a good way for curious visitors to be able to discover what else Mozilla is doing, instead of being a silo'ed advocacy campaign.

[2017-09-06 15:33] ScottDowne commented on #1050
Who would be best to supply the same sort of info for Coral tools? Is this something we think can come close to Discourse? And what about Disqus? Could it come close? @alanmoo do you have any experience with Disqus?

I'm leaning towards Discourse. It's very much the bar to beat at the moment. Vendor review being done is HUGE.

[2017-09-06 16:00] alanmoo commented on #1050
I have no dev experience with Disqus, which is why I hesitate to suggest it as a real possibility; It merely feels from a user standpoint like it'd fit our needs. Having slept on it, I'm feeling rather strongly about Discourse.

@losowsky Would you be able to chime in with thoughts on if Coral's tools might be able to meet the needs laid out by Hannah in her first and third post of this thread?

[2017-09-06 16:39] ScottDowne commented on #1050
I think my experience tells me the important questions to ask for each potential product is.
1. Does it have the features we need?
2. Has it gone through vendor review?
3. Has anyone we know used it, and would they use it again?

It looks like Coral might have 2 and 3 covered, given it's a mozilla project. Does it have the features we need?

It looks like Discourse has 1 and 2, but my guess given

[2017-09-06 17:35] losowsky commented on #1050
Hi all!

Coral's Talk platform might have what you need.

1. Our features:

- We don't have downvote, as there is indicatory evidence that downvotes can increase poor behavior and mobbing (there's a new study being conducted on this using Reddit right now, but I digress). However, you can build any reaction plugin you want. We currently have plugins for Like, Love, and Respect. We also allow users

[2017-09-06 18:25] natalieworth commented on #1036
@tlasadea Got a start on some snippets here https://redpen.io/p/xf129c5c75e2e599b3 Let me know what you think. I've got them in EU colours right now..

[2017-09-06 19:23] caltrider commented on #1050
Thank you @losowsky @alanmoo @ScottDowne @hannahkane for the great information.  I'd love to dig into Coral's Talk platform more as it sounds great and would love to jump on the bandwagon.  @ScottDowne, if you have time to dig into it more, I'd love your thoughts on using it for this project.

[2017-09-06 19:25] losowsky commented on #1050
Sure thing! Let me know when you'd like a demo. Ping me on Slack!

[2017-09-08 16:18] natalieworth commented on #1036
@tlasadea Final snippet icons are here https://drive.google.com/drive/folders/0B20-0lpP23c0RlZhemJ3OGQ5TkE?usp=sharing
cc @hannahkane

[2017-09-08 16:23] tlasadea commented on #1036
@natalieworth legend. thanks!

[2017-09-08 16:24] TheoChevalier commented on #1036
The animated gif is a great idea

[2017-09-08 21:43] hannahkane commented on #1036
Closing, but please re-open if this isn't complete.

[2017-09-08 21:43] #1036 closed, assigned to TheoChevalier, natalieworth, tlasadea

[2017-09-08 21:48] hannahkane commented on #1026
Closing, as we did this!

[2017-09-08 21:48] #1026 closed, assigned to ScottDowne, natalieworth, beccaklam, caltrider, tlasadea, jonmozilla

[2017-09-11 18:36] hannahkane opened #1055 "Provide useful error messages"
UPDATED Sept 12:

We need to serve up a couple of specific, useful error messages.
429 message: "Thanks for your calls! You've reached the hourly limit. Please try again in an hour."
400 message: "We can't call that number. Please choose a country code from the list."

[2017-09-11 18:40] ScottDowne commented on #1055
@Pomax You think just limiting this on the client is enough?

Would be easy to just limit it to number with area codes, but I don't know if that's the right approach.

A safer way, if possible, might be to get a usable error back from callpower telling us if and why the number was rejected.

[2017-09-11 19:55] Pomax commented on #1055
We can quite easily say "hey you need to pick a country code from that country picker, you haven't done that or you're using a non-EU number which isn't supported", which automatically gives us a whitelisted number.

[2017-09-11 20:05] ScottDowne commented on #1055
So yeah, I take that as doing this client side is probably acceptable.

[2017-09-11 21:37] Pomax commented on #1055
I would say so.

[2017-09-11 21:44] hannahkane commented on #1055
From Josh in Slack:

at the moment CallPower will return an error like this:
[code]

it would be up to the frontend site to detect that and display a friendlier message

if a number tries to call that’s been specifically blocked (not just the entire country code) a different error will be returned:
[code]

My (Hannah) original error message copy was wrong. It's not that the user can't call from ou

[2017-09-11 23:49] Pomax commented on #1055
ah, in that case the server will need to deal with the 400 and 429 errors, hand something sensible back to the client, and have the client show that to the user. This will probably require new strings. That said, "too many people in your region called your MEP already" seems... unacceptable? That's the whole point of the campaign >_>

Is this rate limiting for "from a single number" or "to a singl

[2017-09-12 00:02] hannahkane commented on #1055
My understanding of the rate limit is that it's per user. So, a single user cannot call more than twice in an hour, but an MEP can receive many calls in an hour.

So, I think the 429 message is something like, "Thanks for your calls! You've reached the hourly limit. Please try again in an hour."

[2017-09-12 16:56] hannahkane commented on #1055
Updated original comment to reflect what I think is the correct ask.

[2017-09-12 18:59] Pomax commented on #1055
@TheoChevalier would you be able to recommend keys for these two new messages?

[2017-09-12 20:14] Pomax commented on #1055
@TheoChevalier I've written code atm that uses the keys `hourly_limit_reached` and `we_cannot_call`, let me know if those feel off to you.

https://github.com/mozilla/copyright/pull/139/files#diff-7e4736ba3d554e4ab112aae52fcde494

[2017-09-12 22:02] Pomax commented on #1055
The PR has landed, but it won't "look good" until the locale strings have been committed too =)

[2017-09-14 00:09] HPaulJohnson opened #1056 "Create Social Assets for Net Neutrality/Paperstorm Launch"
Detailed description of work: For Paperstorm launch, create ~5 images/.gif/screengrabs for promotion on social

*Start date: September 13, 2016*
*Due date: September 18, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:
@beccaklam @tlasadea

[2017-09-14 00:10] HPaulJohnson commented on #1056
Draft copy here:
https://docs.google.com/spreadsheets/d/122mcF0eIGzdutrGY8Y9v9ZcEL-In1QUfdCGQNvIxNxQ/edit#gid=265127269

[2017-09-14 00:12] HPaulJohnson opened #1057 "Create Social Assets for Initial Fundraising Tests"
Detailed description of work: Create a set of 5 social posts (Facebook and Twitter) to allow us to begin testing our fundraising ask on social and to start to build a audience segment of potential donors on these platforms

*Start date: September 18, 2016*
*Due date: October 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-09-14 15:59] natalieworth commented on #997
First UI direction for Buyers Guide here https://redpen.io/p/fn40d57f5c9bbcf379
cc @beccaklam @hannahkane @HPaulJohnson @caltrider @brettgaylor @tlasadea  if you want to take a look + leave feedback

[2017-09-14 17:37] hannahkane opened #1058 "Add business hours logic to copyright call tool"
Two problems to solve:
- Users who call outside of normal business hours will not be connected to MEP—not a great user experience
- We get charged for the call, even if the caller doesn't get to speak with anyone

Proposed solution:
- [ ] Add a new first step to the "Here's how to make the call" description on the call page: "Step 1: Please note, the call tool is only available between the hours o

[2017-09-14 17:37] hannahkane commented on #1058
@melechuga - you ok with the copy and suggestions above? Do we need to specify Monday through Friday?

cc @TheoChevalier

[2017-09-14 18:00] hannahkane commented on #997
also cc'ing @ScottDowne as there are implications for the build suggested in the UI

[2017-09-14 18:01] Melechuga commented on #1058
@hannahkane
I like the idea of putting it as step 1. I was also thinking we could put "Please note, calling is only available during business hours (Monday-Friday, 9:00-18:00 CEST.)" it right in the call box, and gray-out the "call now" button.

If we just want to add text (i.e. no logic), then adding that line right below the "Enter your phone number and get a call back immediately" could work.

[2017-09-14 18:01] hannahkane commented on #990
My understanding is we've decided to simply choose a direction for the look and feel, so I'm closing this. Can add a new ticket for audience test work, if needed.

cc @HPaulJohnson to correct me if I'm wrong

[2017-09-14 18:01] #990 closed, assigned to lovegushwa

[2017-09-14 18:02] hannahkane commented on #1013
Moving this to In Progress, as we're partnering with the Emerging Tech team to build on research they've already started.

[2017-09-14 18:03] hannahkane commented on #998
@caltrider @HPaulJohnson - have we decided who is providing copy for the buyer's guide? I think considering how far along we are on the UX and UI, this person could start work ASAP.

[2017-09-14 18:06] hannahkane commented on #1012
@caltrider - would you say we've resolved this with our decision to work with the ET team?

[2017-09-14 18:08] hannahkane commented on #1000
All of the questions in the first comment feel either resolved or no longer relevant. @beccaklam - would you agree? Do you feel like we should do some kind of user testing on the UX before we begin the build? Are there any assumptions you want to test?

[2017-09-14 19:02] caltrider commented on #1012
@hannahkane Yes, I think you can call this resolved.  I'm still talking to people about content they could help us create to help promote the guide.

[2017-09-14 19:11] ScottDowne commented on #1058
@TheoChevalier mind taking a look at this pull request? https://github.com/mozilla/copyright/compare/master...ScottDowne:date-stuff?expand=1

[2017-09-14 19:46] TheoChevalier commented on #1058
@ScottDowne Looks good to me :) I’ve moved the string here https://github.com/mozilla/copyright/pull/140/files

[2017-09-14 21:27] hannahkane commented on #1058
I'm a bit confused about the UX around this now. @ScottDowne - maybe it would be helpful if you posted a screenshot of what you have so @Melechuga and I can respond?

[2017-09-14 21:29] hannahkane commented on #1057
@HPaulJohnson @tlasadea - can we provide guidance about messaging or look&feel?

[2017-09-14 21:35] HPaulJohnson commented on #1057
@hannahkane yes!

I'd suggest we pull from two things: what worked best last year (I can dig that up) and what has worked in other channels so far this year, i.e. what snippet message has performed best in early testing.

[2017-09-14 21:46] hannahkane commented on #1012
OK, closing this then, as it was specifically about the reviews themselves.

@caltrider - Feel free to file tickets representing the work you're doing around promotional content. (and file in the [Buyer's Guide Promotion project](https://github.com/MozillaFoundation/Advocacy/projects/20))

[2017-09-14 22:09] hannahkane commented on #1001
Maybe important to start thinking about hosting/domains now - @HPaulJohnson - any guidance on this?

[2017-09-15 14:08] ScottDowne commented on #1058
@hannahkane @Melechuga Instead of the form, display this:

![form](https://user-images.githubusercontent.com/197334/30486244-ea084a6a-99fd-11e7-8225-a6f6ea15497a.png)

It's easier for me to just remove the form.

[2017-09-15 14:14] ScottDowne commented on #1058
@hannahkane I'm now a bit confused about the string(s).

Initially I thought it was just "Please note, calling is only available during business hours (Monday-Friday, 9:00-18:00 CEST.)" as defined in @Melechuga 's comment.

Now I'm seeing your initial comment with a slightly different string, and a new string, and not sure which one was first as the initial comment has an edit.

[2017-09-15 15:47] Melechuga commented on #1058
@ScottDowne Hoping this is helpful -- string should be what you have in there ("Please note, calling is only available during business hours (Monday- Friday, 9:00-18:00 CEST)").

- Is it possible to move the (Monday-Friday, 9:00-18:00 CEST) to the next line?

Also, keep in mind that on Oct. 29, 2017 we'll have to change this to "9:00-18:00 CET" which coincides with UTC +1.

[2017-09-15 16:00] ScottDowne commented on #1058
@Melechuga do you want the additional step in the call instructions saying "Step 1: Please note, the call tool is only available between the hours of 9:00-18:00 CEST."

[2017-09-15 16:05] hannahkane commented on #1058
I think the suggestion in the first comment is the most clear. It's adding the "Step 1" to the instructions AND replacing the form/button with a note that clarifies that during business hours a call tool will appear. My concern with replacing the form with "Please note, calling is only available during business hours" is that it's not as clear as "Please visit this page between 9:00-18:00 CEST to

[2017-09-15 16:23] ScottDowne commented on #1058
I'm cool with the new step 1, and replacing the call tool with more copy.

So if I got all this, and to be clear, we want:

1. A new step 1 in the instructions that says "1. Please note, the call tool is only available between the hours of 9:00-18:00 CEST." Which I want to point out does not mention Mon-Fri. It probably should include "Monday- Friday" Like this "1. Please note, the call tool is on

[2017-09-15 16:26] Melechuga commented on #1058
@hannahkane @ScottDowne
Yes to all the steps. Let's figure out the copy, which should be the same in the instruction and in the replacement copy outside of 9-1800 CEST.

I think saying that it's only available during business hours makes it clear that it's because the MEPs only work then, and not some arbitrary decision Mozilla has made. Sure, let's work on clarity; I prefer not to call it a "call

[2017-09-15 16:29] hannahkane commented on #1058
To clarify further (!), does the first bullet point in your last comment refer to the copy in the box, and the second bullet point refer to the new instruction to add to the list?

[2017-09-15 16:34] Melechuga commented on #1058
@hannahkane
Haha no, sorry. Those are options I'm suggesting. I think the copy we choose for the instructions and the copy to replace the tool should be the same. Thoughts?

[2017-09-15 17:08] hannahkane commented on #1058
In that case, I'd vote for the first. "Please visit this page during business hours to connect your call (Monday - Friday, 9:00 - 18:00 CEST)"

[2017-09-19 15:20] tlasadea opened #1059 "Bugs: Paperstorm Net Neutrality"
To compile bugs found on staging

[2017-09-19 15:25] tlasadea commented on #1059
I couldn't get the flashing bug to happen again but two today:

1) Mid storming, one of the notifications popped up without me clicking anything
![screen shot 2017-09-19 at 18 21 49](https://user-images.githubusercontent.com/30296602/30600297-bee75548-9d67-11e7-9c8a-f291f5f9caf8.png)
2) I had just hit about 800 flyers when the whole site crashed.

Software: Safari vs 10.1.1, on a Macbook Air, (13i

[2017-09-19 15:26] levjoy opened #1060 "Callout graphic for NN Paperstorm email"
We'd like to test an animated gif (of leaflets dropping on the FCC) in Friday's email. Brett should have assets we can use.

[2017-09-19 16:45] hannahkane commented on #1060
Assigning to @beccaklam

[2017-09-19 17:15] beccaklam commented on #1060
![fcc-paperstorm-emailcallout](https://user-images.githubusercontent.com/20977376/30605570-94f075f6-9d3c-11e7-8720-bd65709ce6c0.gif)
Will this work, @levjoy?

[2017-09-19 19:27] hannahkane commented on #1056
@beccaklam - are we done with this? Can we close?

[2017-09-19 19:28] hannahkane commented on #994
@beccaklam - I'm going to close this, but add follow-up tickets for desktop and any add'l changes that come out of the content conversations.

[2017-09-19 19:28] #994 closed, assigned to natalieworth, beccaklam

[2017-09-19 19:29] hannahkane opened #1061 "Wireframes for Desktop"
Provide desktop treatment, based on mobile wireframes

[2017-09-19 20:41] beccaklam commented on #1061
Wireframes are here: https://redpen.io/p/aw8488cb9ac1ccc0c7

[2017-09-19 20:41] beccaklam commented on #1056
@hannahkane Should be done!

[2017-09-19 21:24] HPaulJohnson commented on #1057
Here's some background on last year + snippet:

Social Plan & Assets from last year:
https://docs.google.com/document/d/1Pg-4PWXu8z5y0T5Il6VYxZU__T5QwucoqiBX9jV5xPc/edit

I'm having trouble finding the report from our test but I do remember that the Photo version was the winner by a significant margin.

Here's the ticket where we tracked the various designs for EOY social: https://github.com/Mozil

[2017-09-19 21:51] #1056 closed, assigned to beccaklam

[2017-09-19 21:51] hannahkane commented on #1060
cc @WillatMozFdn

[2017-09-20 10:33] WillatMozFdn commented on #1060
I think it will, yes! Copying @stephaniemcv so she knows where this file is (in prep for building the email).

[2017-09-20 14:15] stephaniemcv commented on #1060
wow! that looks amazing!

[2017-09-20 16:33] tlasadea opened #1062 "Social Strategy"
Write the social strategy for MozFest

[2017-09-20 17:06] tlasadea commented on #1062
Social strategy lives [here](https://docs.google.com/presentation/d/19VHRoFMKEtlvAya2YQ5PkJY5Au0hbV2Tcuw6vCBgGM0/edit?pli=1#slide=id.g20012d5435_0_45)

[2017-09-20 18:02] tlasadea opened #1063 "Design: Assets for MozFest"
This ticket is for the design of assets for MozFest. As it gets clearer what the specifics are, I'll update this.

[2017-09-20 20:35] beccaklam opened #1064 "Research SEO Methods For Buyer's Guide"
Research basic guidelines for search engine optimization for driving traffic to the Buyer's Guide.
CC: @hannahkane @HPaulJohnson

[2017-09-20 23:57] natalieworth commented on #997
Newest UI versions are up here: https://redpen.io/p/rec0d73ec28aa94e6c
cc @ScottDowne @hannahkane @tlasadea @beccaklam

I am going to hold off on doing the actual detailed product page until we get more refined copy as it takes a while to design (and I've got the social P1 for Paul to work on for now).

[2017-09-21 16:42] tlasadea commented on #981
Influencer list: [here](https://docs.google.com/presentation/d/14j3Tr549uhwab-lr6WmRjyq743qdlpQqR5LQxLTw4sg/edit#slide=id.g26ac73da4c_1_26)

Influencer brief: [here](https://docs.google.com/a/mozilla.com/presentation/d/1Z0Z_kxbBd-JoCksd5h_-EVfpa_BTjHxRNv2s5bk0iRQ/edit?usp=sharing)

[2017-09-21 17:06] hannahkane commented on #1057
@HPaulJohnson @natalieworth - were you guys able to discuss? Can you summarize what you agreed in terms of deliverables/deadlines?

[2017-09-21 17:28] natalieworth commented on #1057
@hannahkane Paul's working on getting me copy for this, but in the meantime I'm starting some directions. Paul suggested starting 3 directions now (based on the testing from last year from what was successful) using internet health, and possibly the net neutrality asset style that Jordan created or the internet video that we made and tweaking the copy at the end. Things to consider were keeping a

[2017-09-21 18:41] hannahkane commented on #996
@natalieworth - should we start a checklist here? Something like:

- [ ] homepage illustration
- [ ] category 1 illustration
- [ ] category 2 illustration
- [ ] category 3 illustration
- [ ] category 4 illustration
- [ ] category 5 illustration
- [ ] photos (?) for each item
- [ ] drop caps for category intro?

Anything else?

[2017-09-21 18:42] hannahkane commented on #1000
Closing this, but @beccaklam, feel free to re-open if you want to discuss testing further.

[2017-09-21 18:42] #1000 closed, assigned to ScottDowne, beccaklam

[2017-09-21 18:42] #1012 closed, assigned to nobody

[2017-09-21 18:46] hannahkane commented on #1050
@caltrider - @natalieworth @beccaklam @ScottDowne and I got a great demo from Andrew yesterday. I think Talk will meet all of our requirements, so if you'd like to go forward, we likely can. (I think it will be a p2 in that we wouldn't start this part until we've built out the rest of the functionality.)

We need some clarity from you on how the comments should be framed. For example, should it be

[2017-09-21 18:47] hannahkane commented on #998
@caltrider @HPaulJohnson - What would be useful in advancing this? Maybe this can be done through redpen annotations on the mockups?

[2017-09-21 18:56] hannahkane commented on #1001
@ScottDowne @natalieworth @beccaklam - updated original comment to be more of a checklist. Please edit if useful.

[2017-09-21 19:12] hannahkane commented on #981
Nice, @tlasadea. Should we consider this ticket done?

[2017-09-21 19:49] natalieworth commented on #996
I think that's good for now @hannahkane

[2017-09-21 21:32] natalieworth commented on #997
Revised and uploaded the most recent UI versions (V4) on redpen here:
https://redpen.io/p/qja38b769ebd5c0208

Let me know if you have any questions for the build @ScottDowne I need to get an icon for methodology still in the footer and mockup the individual product page on desktop and mobile once more clear content is completed for it.

cc @hannahkane @beccaklam @HPaulJohnson

[2017-09-25 11:14] tlasadea commented on #981
Oui!

[2017-09-25 15:09] #981 closed, assigned to HPaulJohnson, tlasadea

[2017-09-25 20:39] caltrider opened #1065 "IoT Survey Report Out"
**To Dos for the IoT Survey Report Out:**
(aiming to have the survey read to share back out by November 1st)
- [x] Draft Blog (Jen)
- [x] Draft Email (Jen)
- [x] Draft Snippet Copy (Jen)
- [x] Get final approvals on all (Jen)
- [x] Prepare raw data to be linked out from blog (remove personal info & open comments) (Vojtech)
- [x] Start localization in the same 5 languages we did the survey in (Theo

[2017-09-25 21:14] hannahkane commented on #1065
Greatest. Ticket. Of. All. Time.

[2017-09-25 22:20] natalieworth commented on #1029
I'm gonna close this, but re-open if needed.

[2017-09-25 22:20] #1029 closed, assigned to natalieworth

[2017-09-25 22:22] natalieworth commented on #1057
Have rough thoughts + drafts for social here: https://redpen.io/p/gmcf01c9fa3d98de75
cc @HPaulJohnson @tlasadea @beccaklam @hannahkane
Went with the themes from the snippet copy above (focusing on internet health, women + web literacy, and our advocacy/ net neutrality work) with additional options.

[2017-09-25 22:58] hannahkane commented on #1032
Duped by #1065

[2017-09-25 22:58] #1032 closed, assigned to nobody

[2017-09-26 15:02] tlasadea commented on #1063
[Here](https://drive.google.com/open?id=1iU1KLFgWHFBWWZCzd3KIU5cr09PCtD80kHgDhJ23goM) is the brief for this work. I'm accounting for 2 rounds of amends on the social assets @HPaulJohnson @beccaklam. CC @hannahkane.

- [x] Brief Rebecca
- [ ] Review first round of assets
- [ ] Review second round of assets & have Erika D oversee to check for any branding inconsistencies
- [ ] Choose which assets to

[2017-09-26 18:41] HPaulJohnson commented on #1057
Thanks, @natalieworth - lots of great stuff to work with. In an effort to refine the list here's what I'm suggesting we test/itereate on in a 2nd round.

**Test 1: Photography**
This is essentially the winner from testing in 2016 so let's start with this. I'd like to see two options, 1 with type/CTA and one without (last year, without any type or treatment was the winner).

I think designs 9 & 10

[2017-09-26 18:42] HPaulJohnson commented on #1057
Next steps for me: put this into a test matrix and start a copy deck.

@natalieworth let me know if you want to discuss any of the above and/or if you have enough to be unblocked for now.

[2017-09-26 21:21] hannahkane commented on #1063
Moving to "In progress" as it sounds like this work has begun

[2017-09-26 21:24] hannahkane opened #1066 "Buyer's Guide localization"
This is essentially a placeholder ticket. I believe @caltrider, @TheoChevalier, and @ScottDowne are going to meet this week to discuss localizing the Buyer's Guide into Spanish.

Perhaps an output of that meeting could include updating this ticket with a checklist of ToDos?

[2017-09-26 21:25] hannahkane commented on #998
Just noting this is on @caltrider's ToDo list for this week

[2017-09-26 21:26] hannahkane commented on #1011
@caltrider - I'm going to close this ticket, as I think we can consider the content plan complete.

Please feel free to file another ticket to track the progress of actually collecting and editing the reviews.

[2017-09-26 21:26] #1011 closed, assigned to brettgaylor, caltrider

[2017-09-26 21:27] hannahkane commented on #1061
@beccaklam - do you expect you'll need to do add'l work on the desktop wireframes? Or will final changes in the mobile version suffice?

[2017-09-26 21:29] hannahkane commented on #1053
Next step here (I believe) was for @HPaulJohnson or @brettgaylor to schedule a briefing with @natalieworth and potentially @caltrider

[2017-09-26 21:29] hannahkane commented on #1060
This happened. Closing.

[2017-09-26 21:29] #1060 closed, assigned to beccaklam

[2017-09-26 21:30] hannahkane commented on #1059
@brettgaylor - can you pass this along to the Paperstorm team?

[2017-09-26 21:32] hannahkane commented on #984
No longer applicable

[2017-09-26 21:32] #984 closed, assigned to brettgaylor, lovegushwa, caltrider

[2017-09-26 21:33] hannahkane commented on #983
@tlasadea - is this still a thing we're going to need to create? Will there be design assets needed?

[2017-09-26 21:50] WillatMozFdn commented on #1053
Thanks @hannahkane !  Also just wanted to throw this doc into the mix to give a general sense of the "control" version of the video ... I wrote it as a script just to give a general sense of the flow, but there is absolutely no need to stick to "the script" -- it's really just a braindump.  https://docs.google.com/document/d/1tVD7y2u9WHKVJ2c76aL0qpbaAWQ68gIJEPQFqpix5wk/edit

[2017-09-26 22:49] natalieworth commented on #1057
Thanks @HPaulJohnson @tlasadea @beccaklam for the feedback! I've updated the social redpen here https://redpen.io/p/gmcf01c9fa3d98de75 with the second round of iterations! Thanks

[2017-09-27 11:01] tlasadea commented on #983
@hannahkane probably nothing additional/different than assets that'll need
to be created. Myself Paul and Jen are going over what's required for each
channel today. Will update this ticket later?

[2017-09-27 13:49] beccaklam commented on #1061
@hannahkane I'll probably need to make changes to the desktop wireframes too.

[2017-09-27 19:18] HPaulJohnson opened #1067 "Marketing Plan for Privacy Not Included Campaign"
Detailed description of work: Overall campaign plan for how we will market and promote the Privacy Not Included buyer's guide. This will provide an overall framework and begin to define specific deliverables needed for various channels being utilized.

*Start date: September 26, 2016*
*Due date: October 31, 2016*

CC: @tlasadea @caltrider @beccaklam @natalieworth @hannahkane

[2017-09-27 19:19] HPaulJohnson commented on #1067
First draft of this reviewed with @tlasadea @caltrider and includes their input. Queuing up specific deliverables so design work can begin week of 10/2

https://docs.google.com/document/d/1KbtqKdftHftYmq8x3nmHymOvLgmRRnCAIEFSeeHK_Q4/edit

[2017-09-27 20:42] HPaulJohnson commented on #1057
These are looking great and I think really close to being done.

I wrote some copy for each and included what I think would be the final designs we'd want to test with here: https://docs.google.com/document/d/1lNeyBFUijTKqEjzIQIPFcqwpvtJA1QRQUHVBuicZvjE/edit

I'd love if @tlasadea and @WillatMozFdn could look at the copy in particular and provide any feedback or edits.

RE: final design tweaks the

[2017-09-28 14:34] tlasadea commented on #1057
@hpauljohnson added comments. can discuss on our call shortly if you like.

[2017-09-28 14:48] WillatMozFdn commented on #1057
Overall, I love these!  Thanks!  Added a few suggestions.  talk to you guys in a bit here.

[2017-09-28 15:06] WillatMozFdn opened #1068 "Hero graphic for some Firefox emails"
Detailed description of work: Add some verbage to an existing graphic, and optimize it for hero image use in an email (600 px wide on screen but 1200 for retina).

1. Mockup of what the final should (basically -- but artistic discretion welcomed!) look like is here:
https://image.e.mozilla.org/lib/fe9915707361037e75/m/3/mozimageresizedFPO.jpg (but, that's just a crappy screen grab, and will look b

[2017-09-28 16:11] hannahkane commented on #1058
This is done, so closing.

[2017-09-28 16:11] #1058 closed, assigned to ScottDowne

[2017-09-28 16:12] hannahkane commented on #1055
@TheoChevalier - did the locale strings get committed? Can we close this ticket?

[2017-09-28 16:15] hannahkane commented on #1068
@natalieworth - do you think you'd have time to do this?

[2017-09-28 16:21] TheoChevalier commented on #1055
Yup, all good!

[2017-09-28 16:21] #1055 closed, assigned to nobody

[2017-09-28 16:27] hannahkane commented on #1038
Now that we're about to start promoting the copyright site, I'm wondering if this ticket is still valid. Are we still working towards snippet approval and localization?

[2017-09-28 22:40] natalieworth commented on #997
Updated the UI to include the 'Edwin the duck' example product page overview: https://redpen.io/ncbea1ceace44f2489

cc @hannahkane @beccaklam @HPaulJohnson @caltrider

[2017-09-29 10:40] tlasadea commented on #1038
Hm let me check in with Wes on Snippet. I don't think we have a date for that yet. @TheoChevalier not sure what the update is on localization?

[2017-09-29 11:47] TheoChevalier commented on #1038
@tlasadea IIRC, we said we didn’t need to update the copy?
Translations are here https://l10n.mozilla-community.org/langchecker/?website=6&file=snippets/2017/copyright_sept.lang&action=translate&show

[2017-09-29 16:07] caltrider commented on #1065
9/29/2017 Update:
Blog, Email, and Snippet copy are all drafted and in the pipe for approvals. I will update the doc and here when I get final approvals on things.
You can find everything in this doc: [IoT Survey Report Out](https://docs.google.com/document/d/1h9g3XnBfZPXYZjww0ZwstKMF8j21N6Qc7BWTg-n6iQw/edit)

While I'm out next week, I've asked if @vojtechmzl could help out as the resource workin

[2017-09-29 16:15] caltrider commented on #1066
9/29/2017 Update:
@TheoChevalier, @ScottDowne and I meet this morning to get the ball rolling on localization to Spanish for the guide. Theo is updated on things and will work to get a vendor quote back to us early to mid next week. @HPaulJohnson, Theo knows I'll be out so will copy you in on things while i'm away.  Theo has the best idea of word volume we could give him today and knows we're work

[2017-09-29 18:09] natalieworth commented on #1057
Added the social folder here (with the exception of the bold type option, just waiting on finalized copy for those): https://drive.google.com/drive/folders/0B20-0lpP23c0RUJKODl3ekN2MWs?usp=sharing
cc @HPaulJohnson @tlasadea @WillatMozFdn

[2017-09-29 18:49] natalieworth commented on #1068
@WillatMozFdn Should the text be the same as the original example? ("Internet for people, not profit")

[2017-09-29 19:15] WillatMozFdn commented on #1068
Yes please!

[2017-09-29 19:21] natalieworth commented on #1068
Hey Will,
Have 3 colour options here: https://redpen.io/p/wxad7914871a74ee16

[2017-09-29 19:39] WillatMozFdn commented on #1068
Hey Natalie, seems to me like the color overlay is too heavy and makes very hard to decipher what's going on.  Can you do one like option 4 there ... no color overlay ... but with a lighter shade over the photo?

[2017-09-29 19:41] natalieworth commented on #1068
Hey @WillatMozFdn Let me know if this works? https://redpen.io/az89d95ee371a184a5

[2017-09-29 19:51] WillatMozFdn commented on #1068
yep, that works great -- thanks Natalie!!!

[2017-09-29 19:54] natalieworth commented on #1068
![firefox-email-callout- 2x-v4](https://user-images.githubusercontent.com/14876567/31033522-42db2ffa-a515-11e7-9f23-d20f38ce0662.jpg)
@WillatMozFdn Original jpg file is here ^
I can upload to google drive too if that's easier for you

[2017-09-29 19:59] WillatMozFdn commented on #1068
I already uploaded it to SFMC so we are locked and loaded.  :-)  Many thanks!

[2017-09-29 19:59] #1068 closed, assigned to natalieworth

[2017-09-29 21:20] HPaulJohnson commented on #1023
We have included 3 main phases in the marketing [plan](https://docs.google.com/document/d/1KbtqKdftHftYmq8x3nmHymOvLgmRRnCAIEFSeeHK_Q4/edit). We will be supplementing this plan with a week-by-week marketing calendar shortly. That work will show up in other tickets so closing this.

[2017-09-29 21:20] #1023 closed, assigned to caltrider, tlasadea

[2017-09-29 21:21] HPaulJohnson commented on #1007
@tlasadea - doing some ticket cleanup/organization. let's use this one to document all of our paid media activity on this campaign.

[2017-09-29 21:23] HPaulJohnson commented on #1008
I think we can call this complete. @brettgaylor is working with Univision, Gizmodo and Riseup on various content pieces. We should create a separate ticket going forward to define deliverables needed to support those partnerships.

[2017-09-29 21:23] #1008 closed, assigned to brettgaylor

[2017-09-29 21:24] HPaulJohnson commented on #1030
updating tix associated with this campaign. let's use this one to track overall progress on deliverables needed to support the [marketing plan](https://docs.google.com/document/d/1KbtqKdftHftYmq8x3nmHymOvLgmRRnCAIEFSeeHK_Q4/edit).

[2017-09-29 21:25] HPaulJohnson commented on #1031
Let's track everything in #1030 and close this one.

[2017-09-29 21:25] #1031 closed, assigned to nobody

[2017-09-29 21:26] HPaulJohnson commented on #1009
@brettgaylor any ideas here and/or is it worth spending cycles doing anything mozfest specific to promote this campaign?

if not you can close this ticket. if so, let's define what the deliverables might be.

[2017-10-02 23:25] natalieworth commented on #997
V1 of the product page overview for desktop is here cc @hannahkane @beccaklam @ScottDowne @HPaulJohnson @caltrider

[2017-10-02 23:48] hannahkane commented on #997
@natalieworth - [here](https://redpen.io/pt78ffc07ee675e391)?

[2017-10-02 23:53] hannahkane commented on #998
@natalieworth and @HPaulJohnson - I see Jen left some copy comments in the redpen.

@caltrider - when you're back, let's figure out if there's another round on copy, or if we're good to close.

[2017-10-03 03:47] ScottDowne opened #1069 "Buyer's guide website gift guide experience"
Build the gift guide from these: https://redpen.io/rt09fd60063b4f4bee

It has a scroll effect and scroll interaction like this page: http://werkstatt.fuelthemes.net/werkstatt-fullscreen-split/

When you scroll to the bottom it should show a footer.

Share button is the same as the header, and the donate button is dismiss able.

[2017-10-03 03:47] ScottDowne opened #1070 "Header nav for buyer's guide website"
Build the top menu here and on all pages: https://redpen.io/uo569ff92c66b877b8

That should be a component with buttons that use share progress. The share buttons would be generic for the whole site.

It should be sticky.

Desktop isn't much different.

And when the menu is open, it should look like this: https://redpen.io/or47e6ef0676b199e5

[2017-10-03 03:47] ScottDowne opened #1071 "Buyer's guide homepage"
This is to build the page here: https://redpen.io/uo569ff92c66b877b8

Scroll down or swipe would start the gift guide experience.

The menu at the top is going to be a share component so not included in this ticket necessarily.

[2017-10-03 03:48] ScottDowne opened #1072 "Buyer's guide website footer"
This is a component similar to https://github.com/MozillaFoundation/Advocacy/issues/1070

cept for the footer.

It'll use the existing footer template we use for pratically every site, cept maybe a few changes.

[2017-10-03 03:50] ScottDowne opened #1073 "Buyer's guide website category page"
This page here: https://redpen.io/uo471796b96581bd02

This is a category page, there is one for each category.

It's built from a template, and the data should live in json.

The url should be similar to this: "/en-US/buyers-guide/category/toys/"

[2017-10-03 03:51] ScottDowne opened #1074 "buyers guide website product page"
Build this page: https://redpen.io/ncbea1ceace44f2489

Similar to the category page.

Url would be similar to "/en-US/buyers-guide/category/toys/product"

[2017-10-03 03:54] ScottDowne opened #1075 "buyer's guide popup pages"
A component for popups, would just use the one we used for safety.

It should be used for multiple page, including:

Signup: https://redpen.io/nmbc50087c88bad0e4
Thankyou/share: https://redpen.io/hcb2f3546df762b109
Thankyou/share: https://redpen.io/xv72ca4d9f8f77792a

[2017-10-03 14:57] TheoChevalier commented on #1066
@caltrider Confirmed a first cost estimate with the vendor:
With the currently expected volume and deadlines, the Spanish translation would cost around 650 / 700 USD.
Adding L10N QA is 59 USD per hour. I think an hour or two would be enough for the website.

Regarding Pontoon, still looking into our options.

[2017-10-03 14:58] caltrider commented on #1066
Thanks for the quote @TheoChevalier .  CC @hannahkane @HPaulJohnson

[2017-10-03 15:14] hannahkane opened #1076 "QA Site"
# QA checklist (OK to release only after all verified)
- [ ] Design: mobile / tablet / desktop views should match mockups
- [ ] User interactions
  - [ ] All links work as expected
  - [ ] Navigation, including breadcrumbs, work as expected
  - [ ] "Copy url" (on product pages) works as expected
  - [ ] photo carousel works as expected
  - [ ] "Subscribe" modal is triggered after looking at a prod

[2017-10-03 15:15] hannahkane commented on #1001
closing this ticket since @ScottDowne created many awesome tickets that make this one unnecessary

[2017-10-03 15:15] #1001 closed, assigned to ScottDowne

[2017-10-03 15:17] hannahkane commented on #1074
@ScottDowne - would you consider the Coral integration part of this ticket?

[2017-10-03 15:43] ScottDowne commented on #1074
I considered it, but I decided to keep that work here: https://github.com/MozillaFoundation/Advocacy/issues/1050

They are different enough in problem space that it's easy to split up the work.

This ticket is pretty much just front end work. Which is considerably different than a service integration (although there might be CSS work in Coral, it'll likely be dependent on the coral system).

[2017-10-03 16:12] tlasadea commented on #1063
Hey @hannahkane not sure if this should be closed as there are other tickets in the [MozFest 2017 Design Repo](https://github.com/MozillaFoundation/mozfest-design-2017/issues/8) ?

[2017-10-03 16:52] HPaulJohnson commented on #1066
thanks, @TheoChevalier. this cost is totally reasonable so let's move forward with this approach.

[2017-10-03 17:55] hannahkane commented on #1063
Let's close it, if the work is being tracked elsewhere!

[2017-10-03 17:55] #1063 closed, assigned to HPaulJohnson, beccaklam, tlasadea

[2017-10-03 20:28] WillatMozFdn opened #1077 "Automatic monthly donation ask after a one-time donation"
Detailed description of work: Based on https://cstage-zz.trilogyinteractive.com:10444/test-upsell.html?show_amount=true ... ("give" $50 there with the pre-loaded dummy data, and see what happens) ... we need an automatic ask for a monthly donation to pop up right after a one-time donation.

General parameters:
 - the one-time donation is processed first, so we know we have that transaction process

[2017-10-05 17:43] WillatMozFdn opened #1078 "Enable SEPA direct debit donations through Stripe"
Detailed description of work: Based on direct experience of one of our staff members while working for another organization, enabling SEPA transfers directly in Stripe is known to provide a significant lift in donations from Europeans (a prime target market for us, especially Germany.)  Donors do not have to leave the donation page, and are presented with a very familiar way of making payments.

S

[2017-10-05 17:59] WillatMozFdn opened #1079 "Build a donations pop-up modal for EOY fundraising"
Detailed description of work: Similar to our current modal that asks site visitors for an email subscription, we need to build one to ask site visitors to donate to Mozilla.

Initial placement will be on landing pages (such as copyright campaign at www.changecopyright.org or net neutrality "slow it down" page at https://advocacy.mozilla.org/en-US/net-neutrality/ ) ... then, in December, moving to

[2017-10-05 18:00] ScottDowne commented on #1078
I think the worry of a rebuild is less about time to implement, and more about moving away from something stable to something new. So the risk here is we ship a bug just before our heaviest period.

[2017-10-05 18:30] WillatMozFdn commented on #1078
Right, I hear you there Scott.  Let's build it and see how we feel about the risks.  Perhaps with an easy rollback option to the previous state, so if we see problems, we can flip back to our previous setup.  We may decide it's not ready for prime time, and we want to hold off shipping it to production until January.  But we'll never be able to evaluate those risks until we actually build it out,

[2017-10-05 18:41] ScottDowne commented on #1078
I think our best bet is another page, and we can sent a percentage of de traffic to it.

[2017-10-05 18:44] WillatMozFdn commented on #1078
Parallel systems -- that works for me.  Send 5% over there for a day and see what happens.  We just gotta keep a close eye on it.

[2017-10-05 18:53] hannahkane commented on #1038
I'm thinking we can close this ticket, based on the above. Please re-open if that's not true.

[2017-10-05 18:53] #1038 closed, assigned to TheoChevalier

[2017-10-05 18:54] hannahkane commented on #1037
@KevZawacki - is this work all done? Should we close?

[2017-10-05 18:55] hannahkane commented on #1052
Closing as I don't think we're going to prioritize this

[2017-10-05 18:55] #1052 closed, assigned to ScottDowne

[2017-10-05 19:15] KevZawacki commented on #1037
Yep! [Here's the media coverage](https://docs.google.com/spreadsheets/d/18lV3jXKh9fv-ZWNrcjwZKt0IDLgh3wOlDkj_S2z7uzM/edit#gid=0).

[2017-10-05 19:15] #1037 closed, assigned to KevZawacki

[2017-10-05 19:22] hannahkane commented on #970
Closing as this seems indefinitely paused

[2017-10-05 19:22] #970 closed, assigned to nobody

[2017-10-05 19:26] hannahkane commented on #1062
Closing, as this is done!

[2017-10-05 19:26] #1062 closed, assigned to HPaulJohnson, tlasadea

[2017-10-05 19:27] hannahkane commented on #1059
Closing, as I assume this has been addressed

[2017-10-05 19:27] #1059 closed, assigned to nobody

[2017-10-05 19:28] hannahkane commented on #900
Closing as not a priority right now

[2017-10-05 19:28] #900 closed, assigned to beccaklam

[2017-10-05 19:29] hannahkane commented on #1061
@beccaklam - what's your plan for closing this out?

[2017-10-05 19:29] hannahkane commented on #1057
Are we good to close this ticket, @HPaulJohnson @WillatMozFdn @natalieworth ?

[2017-10-05 23:03] natalieworth commented on #947
Wondering if we can close these @hannahkane ? Are we still promoting this?

[2017-10-05 23:31] hannahkane commented on #947
Good call. :)

[2017-10-05 23:31] #947 closed, assigned to natalieworth

[2017-10-06 01:07] cadecairos commented on #1078
Yeah, so after a conversation with Scott earlier today, I realized we should keep the tried and true Stripe Checkout / Paypal form and build a new page specifically for SEPA donations (might be a good time to try out [Stripe Elements](https://stripe.com/docs/elements) when building the form components - but also might not be.)

Rebuilding the whole form from scratch to support all three donation s

[2017-10-06 12:43] tlasadea commented on #1007
Sure @HPaulJohnson. [Here's](https://drive.google.com/open?id=0B7E0hJQDRYkbV29XN19idU5TQ0E) the assets specs for Future Media (T3, Lifehacker, TechRadar). Will update + share the finalised media plan once it comes through.

[2017-10-06 12:49] tlasadea opened #1080 "Get contracts for Influencers approved by legal."
Opening this to outline the work required to actually begin working with an influencer, and list the buyer's guide assets that will be required to share with them for their sponsored content creation.

We have 8 influencers in total. The influencers have confirmed through their agents/themselves they are happy to work on this campaign is [here](https://drive.google.com/open?id=14j3Tr549uhwab-lr6Wm

[2017-10-06 12:50] tlasadea commented on #1080
@HPaulJohnson the Bug that legal is using to draw up contracts for the influencers is [here](http://bugzilla.mozilla.org/show_bug.cgi?id=1403119). Also noting @hannahkane @HPaulJohnson if we don't get contracts created and sent by **EOD October 12th** we're likely to not be able to use one influencer from Standard Broadcast, as we have a video that is due to be published from one influencer on Nov

[2017-10-06 12:57] tlasadea commented on #983
@hannahkane @HPaulJohnson I think this is just going to be:

- [ ] Ideally, access to staging or preview link for influencers
- [ ] Branding/logo/style guide for the guide (I guess the illustrations being used + some kind of signage for the title "Privacy Not Included?")
- [ ] Themes, talking points, main messages to be used when speaking about the guide.

[2017-10-06 12:58] tlasadea commented on #982
@hannahkane I think this is likely going to be the same as #983, so could probably close this as it may be a duplication? @KevZawacki perhaps have a look at the issue ^ and see if there is anything else you may need?

[2017-10-06 12:59] beccaklam commented on #1061
@hannahkane Oops, forgot to say that Natalie said she didn't need the desktop wireframes so we can close this ticket!

[2017-10-06 12:59] #1061 closed, assigned to beccaklam

[2017-10-06 13:20] tlasadea commented on #1030
Outlining list of assets required (TBC):

Update:  this will now be going out in phases, **so for phase 1, we need:**
cc @HPaulJohnson @beccaklam @natalieworth

- [x] paid social assets across Facebook + Twitter formats - round 1 versions (1)
- [x] display media assets for T3, Lifehacker, TechRadar (2)
- [x] snippet icons (3)
- [x] email/blog toppers (3)
- [x] assets for influencer/media pack - bu

[2017-10-06 13:22] KevZawacki commented on #982
@hannahkane @tlasadea OK by me to close! We'll develop a press list for pitching, but that task is wrapped up in other comms tickets.

[2017-10-06 13:48] tlasadea opened #1081 "Paid Social for Buyer's Guide"
This is for everything that needs to be done for all paid social + snippet for the guide, including:

- [x] audience segments for Facebook + Twitter
- [x] matrix for Facebook + Twitter
- [x] copy deck for paid ads
- [x] copy deck for social content that will be localised into Spanish

[2017-10-06 13:53] tlasadea commented on #1081
@HPaulJohnson the updated audience segments for Facebook & Twitter are [here](url). You'll notice that I also included a 'Conscious Chooser' audience, this I think will be v interesting to test with strong advocacy copy than with the general shopper/parent audience. We can also use this stronger advocacy copy with the frequently used - 'Mozilla Supporters' audience too.

Will replicate for Twitter

[2017-10-06 13:57] tlasadea commented on #1081
@TheoChevalier - when would it be ideal to have social copy for Spanish localisation for? Launch date is Nov 6th, so working backwards would Oct 23rd be the latest date?

[2017-10-06 14:28] TheoChevalier commented on #1081
@tlasadea, @caltrider plans to have most of the content ready for the vendor by October 13th, and hopefully everything by the 18th. So the 18th would be ideal, but we can probably try to accommodate for the 23rd. Note that social was not part of the initial request I submitted to the vendor, but I don’t expect this to drastically increase the price

[2017-10-06 15:41] #982 closed, assigned to KevZawacki

[2017-10-06 23:08] alanmoo commented on #1078
This wasn’t in the conversation we had the other day, was it? I’m going to need to line these all up next week and get a better sense of priority for each of them.

[2017-10-07 12:50] WillatMozFdn commented on #1078
Correct, @alanmoo -- this project (and the potential benefit) came to the surface for us on Wednesday, after we met.

[2017-10-10 12:33] TheoChevalier commented on #1066
@ScottDowne Would you be able to store both the `en-US` and `es` properties files *outside* the `locales` folder? https://github.com/mozilla/advocacy.mozilla.org/tree/master/locales

I.e. Would it be easy to tell `properties2json` to pick an alternate path just for the Buyer’s Guide when building the JSON files?

This would allow me to store the .properties in an external repo, hook up Pontoon to

[2017-10-10 14:09] tlasadea commented on #1030
Round 1 iterations for social content here, from @natalieworth + @beccaklam

Paid:https://redpen.io/p/eh2ea97cb47fa31b57
Share: https://redpen.io/p/hqaf796629b6697055

[2017-10-10 14:10] tlasadea commented on #1065
Hey @natalieworth do you have versions of the data visualisations that I can see?

[2017-10-10 14:19] ScottDowne commented on #1066
I think so. I should also try to get this out of the way asap. One
question. While I suspect it's easy to store the properties outside the
locales dir. Is it necessary that it builds this new json only for buyers
guide? Ie we would still build one json blob that's the same for all sites?
Pontoon doesn't have a concept of the json blob it builds, right?

[2017-10-10 14:22] TheoChevalier commented on #1066
Yeah, no need to build the JSON only for Buyer’s Guide, totally fine to include the strings for all the pages. Pontoon doesn’t even look what’s in /public, it only cares about .properties in /locales

[2017-10-10 15:10] TheoChevalier commented on #1066
Ok, setting things up here: https://github.com/mozilla-l10n/buyers-guide

My plan is to just copy the en-US folder from advocacy.m.o repo into the buyers-guide repo to expos new strings.
And copy the es folder from buyers-guide into advocacy.m.o repo to import back translations.

[2017-10-10 17:12] tlasadea commented on #1080
Update: Rachel from legal said contracts for Channel Mum + Standard Broadcast should be done by Thursday 🙏🏾

[2017-10-10 23:10] natalieworth commented on #1065
Have a rought draft of these here https://redpen.io/p/oj074db279cd03c2b4 @tlasadea
cc @beccaklam for design review
cc @HPaulJohnson @caltrider @vojtechmzl If y'all want to weigh in too

[2017-10-10 23:27] caltrider commented on #1065
Thanks @natalieworth! These are looking great. I left some quick, initial end of day thoughts. @vojtechmzl I grabbed 30 minutes on your calendar tomorrow for us to chat through them and get final feedback to Natalie.  cc: @beccaklam @HPaulJohnson

[2017-10-12 14:56] tlasadea commented on #1030
[Briefs ](https://docs.google.com/document/d/1rBSnmm6ilL6Bb7V2HpwjoRnza7hyN7lGEu6fGk3unbw/edit)for items 3 + 4 (from above).

[2017-10-12 17:01] tlasadea commented on #1030
Update from today's briefings:

P1 is buyers guide website + styling/branding + illustrations & (MozFest (this week only -ideally @beccaklam will finish on Friday))

Then: P2 is the rest of creative/promo content -
@natalieworth the priority for you is the video idea, then the creepy santa images
@beccaklam the priority for you is the awkward IOT snapshots, then flat lays.

And then assets for the

[2017-10-12 20:01] alanmoo commented on #1077
Presumably we'll edit the [thank you page](https://donate.mozilla.org/en-US/thank-you) to tell it how much the user donated so it can present recurring options as appropriate?

[2017-10-12 20:21] ScottDowne commented on #1077
It currently passes in, via query string:

payment type, amount, currency, frequency, email, and country. It also passes in anything needed by stripe or paypal like temporary transaction ids.

I think we're good on that front.

[2017-10-12 20:29] alanmoo commented on #1077
Ah, great. I was just looking at the page but not the whole flow.

[2017-10-12 20:42] alanmoo opened #1082 "Add support for videos on donate homepage"
Detailed description of work: We want to test the performance of the donate page when using videos in the left hand column instead of text to convey our CTA.

From https://github.com/MozillaFoundation/Advocacy/issues/1053

### Technical notes
We'll have to A/B/C test the heck out of this, but also make sure performance doesn't take a hit.

### Design requirements
Possibly some light design require

[2017-10-13 14:43] tlasadea commented on #1065
@TheoChevalier [social copy](https://docs.google.com/document/d/1R4pO2GQ2UAHVcD7kViwaj8CLLGi0nZQsgyObdupkXRE/edit) for localisation.

Only 2 strings - kept it super simple. Not sure if this has been flagged but are the survey visuals being localised too, or are we just gonna do a generic graphic to accompany? (as mentioned in Slack already) @caltrider

[2017-10-13 14:50] caltrider commented on #1065
The survey visuals will be localized too and we'll do the blog in all 6 languages @tlasadea

[2017-10-13 16:22] TheoChevalier commented on #1065
As discussed, Temi will get a few more variants early next week, and I will send the social strings + visualization text to localization next Wednesday.

[2017-10-13 17:36] alanmoo commented on #1077
@ScottDowne Does the fact that the person could have paid with Stripe or Paypal mean we have to do this work twice? If so, should we prioritize one over the other?

[2017-10-13 20:01] ScottDowne commented on #1050
I set this up locally to see what kinds of issues I'll hit.

This is roughly what the default looks like

![coral-talk](https://user-images.githubusercontent.com/197334/31564029-6e0bfa22-b02f-11e7-911d-6079836c1cfc.png)

Next step is likely to get this setup: https://github.com/MozillaFoundation/mofo-devops/issues/551

Once that's setup I can go through the steps I did today to integrate with the

[2017-10-13 20:06] cadecairos commented on #1050
Lucie and I will prepare a deployment plan next week, and get it running.

[2017-10-13 20:15] caltrider opened #1083 "Privacy Not Included Stickers for Mozfest/Glassroom"
As of Friday the 13th (October), this is a P3 but wanted to get it filed so it's not forgotten.

Would love to have something to hand out at Mozfest and at some of the upcoming Glassrooms that promotes the buyer's guide.  Thinking is a sticker.

Here's what I'm thinking for the sticker, feel free to tweak or add in to the idea:

Sticker is a simple " *Privacy Not Included" in the buyers guide styl

[2017-10-14 00:30] natalieworth commented on #1065
@caltrider @vojtechmzl updated redpen here based on your feedback: https://redpen.io/p/oj074db279cd03c2b4

[2017-10-16 11:14] tlasadea commented on #1083
@caltrider by 'something you'll have to do' you just mean bit.ly it right?
Or is there something else..

Re stickers - you should speak to Erika Drushka/Sabrina Ng to see what the
due date is for things being printed for MozFest, as this will impact
design deadlines.

[2017-10-16 15:15] tlasadea commented on #983
@caltrider @HPaulJohnson we're going to need at least the 'Themes, talking points, main messages' document for this sooner rather than later - as contracts have been signed by channel mum & standard broadcast and will need to brief Influencers.

[2017-10-16 15:16] tlasadea commented on #1080
This. Is. DONE! @HPaulJohnson

[2017-10-16 15:16] #1080 closed, assigned to tlasadea

[2017-10-16 16:11] tlasadea commented on #1007
This is done. Just wrangling the contract with Future + legal now. @hannahkane

[2017-10-16 20:44] natalieworth commented on #1065
@TheoChevalier I have the English version for these finished and up on Redpen here: https://redpen.io/p/fk577a8639ece03c40

[2017-10-16 20:45] natalieworth commented on #1065
For my reference, design and exported files are here https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0bGt1akRsUjJFZHM

[2017-10-16 21:41] #948 closed, assigned to natalieworth

[2017-10-16 21:42] #949 closed, assigned to natalieworth

[2017-10-16 21:44] natalieworth commented on #1065
cc @hannahkane Should we make a new ticket for design of the localized content from Theo or tack it onto this one?

[2017-10-16 21:49] hannahkane commented on #1065
@TheoChevalier - what would you prefer? (See Natalie's question above)

[2017-10-16 21:50] hannahkane commented on #1065
Oh sorry, re-reading question. @natalieworth - whatever *you'd* prefer if the ticket would be for you!

[2017-10-16 22:54] brettgaylor opened #1084 "Create text to describe relationship w/ sponsored/granted content"
Hello - @caltrider and I spoke with Legal today regarding language we should use to describe nature of our relationship with Univision, and the sponsored/influencer content came up as well.

A solution discussed was the creation of a paragraph on an about page that described the nature of our relationship with Univision (we granted them but they have editorial independence) and the influencer cont

[2017-10-16 23:05] caltrider commented on #1084
Oh god, not another github ticket! ;-)

I've got it on my to-do list to draft this "Why We Made This Guide" language.  Natalie has a spot for it already in the UI.  After talking with Abigail and Jishnu, the goal of that language is to explain our approach to the guide and provide transparency on the project and our partnerships. I have some tidbits from them to include in this from our discussion

[2017-10-16 23:31] brettgaylor commented on #1084
To make sure no one has a heart attack, i just changed this so that the requirement is only that we describe the relationship.  Seems like there's places to do this in the landing page of the buyer's guide, and in the "discover more" portion of the individual reviews.

@caltrider sign off might be too strong, but I'll want them to understand how we're describing the relationship.  They might have

[2017-10-16 23:36] brettgaylor opened #1085 "Create a graphic for use in Gizmodo/Univision articles"
The articles they write will need to have some callout around the partnership, and a link to either the buyer's guide or to a landing page they create that holds all of their partnership content.

We need to design a banner with our/their logo that links to this page.

[2017-10-17 00:25] caltrider commented on #1084
@brettgaylor Whoo...sounds good.  The fewer people who have to officially sign off now, the better. I'm hoping to get final sign-off from Abigail and Marshall on the reviews tomorrow and some of copy tomorrow so I can move on and focus on blurb writing which doesn't require sign offs. I'll prioritize writing all the website copy and our "why we made this guide" tomorrow so you'll have to run by th

[2017-10-17 13:45] tlasadea commented on #1065
@TheoChevalier social copy for localisation is finished, [here](https://docs.google.com/document/d/1R4pO2GQ2UAHVcD7kViwaj8CLLGi0nZQsgyObdupkXRE/edit).

[2017-10-17 17:11] brettgaylor opened #1086 "Create graphic + text for Univision articles"
The articles + content produced by Univision will have a text and graphic that describes our partnership, and links back to the buyer's guide.  We need to create text and a graphic - similar to an ad format.

[2017-10-17 17:11] brettgaylor commented on #1086
Duh I already filed this ticket

[2017-10-17 17:11] #1086 closed, assigned to nobody

[2017-10-17 20:36] hannahkane commented on #1085
What's the deadline for this, @brettgaylor?

[2017-10-18 04:02] brettgaylor commented on #1085
Will find out Thursday and update here

[2017-10-18 17:33] natalieworth commented on #1065
@tlasadea Social version w/ text is here https://redpen.io/fz4be2939df3ce44fd

[2017-10-18 17:44] hannahkane opened #1087 "Gather all images for Buyer's Guide product pages"
- [ ] Choose images
- [ ] Size appropriately

Anything else, @beccaklam @natalieworth @HPaulJohnson?

[2017-10-18 18:55] ScottDowne commented on #1070
This is just waiting for share progress. Everything else is done.

[2017-10-18 18:55] ScottDowne commented on #1071
This is done.

[2017-10-18 18:55] #1071 closed, assigned to ScottDowne

[2017-10-18 18:55] ScottDowne commented on #1069
This is done.

[2017-10-18 18:55] #1069 closed, assigned to ScottDowne

[2017-10-18 18:56] ScottDowne commented on #1073
This is done.

[2017-10-18 18:56] #1073 closed, assigned to ScottDowne

[2017-10-18 18:57] ScottDowne commented on #1072
The basics for this are done, but I'm guessing the links need updating as I'm using pretty generic footer links.

[2017-10-18 18:58] ScottDowne commented on #1075
This is done.

[2017-10-18 18:58] #1075 closed, assigned to ScottDowne

[2017-10-18 19:04] ScottDowne opened #1088 "QA the site as it currently is"
I'm mostly just looking for people to find things I have missed.

I'll be doing my own rotation of QA, but any help is appreciated.

Staging is here: https://advocacy-mozilla-org-st-pr-395.herokuapp.com/en-US/privacynotincluded

Comps are here: https://redpen.io/p/jbf0c36c8838f136ad

The product page isn't complete. Neither are images and copy, but still feel free to take a look at it.

Comment in

[2017-10-18 20:37] natalieworth commented on #1030
Hey @tlasadea , I haven't had time to do anything visual on this yet. I've drafted a super rough outline of possible videos we could create here: https://docs.google.com/a/mozilla.com/spreadsheets/d/1uMXM0NvaYscAzHnFKRYXedN9ShNccWHcvzE2ZCXHWO4/edit?usp=sharing

I also added some links to the Santa style photos in here (that are CC-zero/ attribution) so we could use them on social:
https://docs.goo

[2017-10-18 21:54] TheoChevalier commented on #1065
Thanks everyone, strings are being translated! (Social + graphics in RedPen)

Should be fine to use this ticket for l10n tracking, but @natalieworth may want a separate one for graphics QA?

If we could avoid updating the images in the current RedPen, that’d be rad, as I’m linking to them in Pontoon https://pontoon.mozilla.org/fr/engagement/other/2017/iot_results_assets.lang/?string=172862
But if

[2017-10-18 23:12] natalieworth commented on #997
Updated the UI in redpen (V6) based off of the revised copy from Jen https://redpen.io/p/ur92903e15f884cf2d
cc @HPaulJohnson @beccaklam @caltrider @hannahkane @ScottDowne

[2017-10-19 16:20] hannahkane commented on #997
@ScottDowne - do you have what you need to finish the UI?

[2017-10-19 16:55] hannahkane commented on #1088
Email modal shouldn't appear more than once in a session

[2017-10-19 17:02] ScottDowne commented on #1088
Right, I think we talked about a hard refresh makes it appear again?

[2017-10-19 17:06] hannahkane commented on #1088
I think that's probably fine, yeah.

[2017-10-19 17:16] hannahkane commented on #1088
Email field on modal doesn't validate email address format.

[2017-10-19 17:18] hannahkane commented on #1088
Should "m" in nav bar go somewhere? cc @beccaklam @natalieworth?

[2017-10-19 17:20] hannahkane commented on #1088
Legal links seem good to me. We might want to add a cc license. @caltrider - in your discussions with Legal, did they review the footer?

[2017-10-19 17:50] hannahkane commented on #1088
- [x] Not sure if possible to fix, but there's a bunch of extra whitespace between the Coral section and the Related Items section

[2017-10-19 21:21] ScottDowne commented on #1088
@hannahkane Fixed the signup box showing up too often.

[2017-10-20 16:39] beccaklam commented on #1088
@ScottDowne Should I be QA-ing CSS right now?

[2017-10-20 17:29] HPaulJohnson commented on #1057
After pausing for a brief while to get the overall messaging brief for EOY approved, let's restart this ticket for an initial social test we are aiming to run between 11/6-11/15 (pre-Quantam launch).

We will use the above assets created by @natalieworth as a control against a new set of tests being developed by myself, @tlasadea and @kristinashu.

This new test will include 6 new social assets th

[2017-10-20 17:30] HPaulJohnson commented on #1057
@kristinashu moodboards to help inform design direction for tests: https://docs.google.com/presentation/d/11BPDSJPX2denC9vzPjCuRw1wcWNLZKdonopa2IFd11c/edit#slide=id.g2812d1188b_0_29

[2017-10-20 19:49] HPaulJohnson commented on #1057
also, here's @tlasadea's brief for the test messages:

https://docs.google.com/document/d/1SrEAlwmCLG4c3zk15uyb2MW2gMA9pK5CNg0PAa_oXbk/edit

[2017-10-20 23:15] brettgaylor commented on #1085
We need this by 10/27.  Is that possible @beccaklam ?

Will add dimensions here as I have them

[2017-10-20 23:24] brettgaylor commented on #1085
3 items:
- [ ] end card for video 1920x1080. Privacy Not Included campaign logo, included logos of Mozilla and Riseup
Item 2
- [ ] graphic for bottom of articles. Spanish translation of text to come
- [ ] graphic for shared landing page header. dimensions and wording to come.

@TheoChevalier do we have a spanish translation yet for "Privacy Not Included"?

[2017-10-20 23:39] TheoChevalier commented on #1085
@brettgaylor Not yet, but this is part of the first batch of content that we are sending on Monday. I should know more next week about when this will be ready, but will mention the UI strings are a priority.

[2017-10-21 15:39] WillatMozFdn opened #1089 "Remove old GA tags from links on "Ways to give" donate page"
Detailed description of work:
Just noticed that on our ways to give page, https://donate.mozilla.org/ways-to-give , there are a lot of links there with outdated Google Analytics tags.  Can we please remove these so our reporting is more accurate?

1. Specifically, the first link at the very top -- "Go to this link to make a secure ..." ... links to:
https://donate.mozilla.org/&ref=EOYFR2015&utm_ca

[2017-10-23 12:16] TheoChevalier commented on #1066
Extracted for localization, and sending to vendor:

- “Why we made this” page
- Reviewed blurbs as of this morning
- UI strings from RedPen (a few are still missing like the footer), including category names and product page strings (review script)

[2017-10-23 15:58] TheoChevalier commented on #1066
First batch now fully exposed: https://github.com/mozilla-l10n/buyers-guide/tree/master/locales/en-US
Waiting for a formal quote (probably tomorrow morning)

[2017-10-23 16:41] caltrider commented on #1066
Thank you so much @TheoChevalier. Here's the list of remaining things I can think of that will need to be localized:

- [x] Remaining product blurbs
- [x] Janice's product reviews (mostly yes/no so the biggest thing for l10n will be the one sentence "what could happen"
- [x] Social copy
- [x] Snippet copy
- [x] Email #1 Copy
- [x] Email Call Out Box copy
~~- [ ] Email #2 (a short kicker) Copy~~
-

[2017-10-23 16:58] hannahkane opened #1090 "Buyer's Guide domain"
Will be advocacy.m.o/privacynotincluded

@HPaulJohnson to confirm, please!

[2017-10-23 17:16] hannahkane commented on #1087
@beccaklam - are we done with this task?

[2017-10-23 17:27] TheoChevalier opened #1091 "IoT survey: Produce localized graphics"
Hey @natalieworth,

Italian is not yet ready, but you can go ahead with all the other languages. In case there are translations that are way too long for the design, please flag me and we can check with localizers if a shorter version is doable.

Translations are here: https://l10n.mozilla-community.org/langchecker/?website=6&file=other/2017/iot_results_assets.lang&action=translate&show

Also, thi

[2017-10-23 18:36] beccaklam commented on #1088
@ScottDowne

@ScottDowne
Landing Page - Desktop

- [x] h1 should be Playfair Display Black, not Regular
- [x] point size is 70px (didn't see your rems so not sure what you're using as your base)
- [x] p under h1 should be Playfair Display Bold, point size 37px
- [x] drop cap should be Playfair Display Black
- [ ] line-height bump up to 1.5rem
- [x] 'HE HOLIDAYS' should be Playfair Display Bold, wi

[2017-10-23 22:53] ScottDowne commented on #1090
Should be on staging in a few mins: https://advocacy-mozilla-org-st-pr-395.herokuapp.com/en-US/privacynotincluded

Taking my name off assignees, leaving on Paul to confirm this change then we can close.

[2017-10-23 22:56] ScottDowne commented on #999
@vojtechmzl this is the staging link for the site: https://advocacy-mozilla-org-st-pr-395.herokuapp.com/en-US/privacynotincluded

So far it's tracking basic bounce rate and hits, and also has the normal signup component metrics.

Is there anything else you think we might want? I can think of a few if you want to punt this to me.

[2017-10-24 10:20] HPaulJohnson commented on #1090
works for me.

[2017-10-24 14:07] TheoChevalier commented on #1065
To give everyone an idea about where we are with the translation of the different parts:

Special Spanish email (with buyer’s guide mention) ✅ https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=emails/2017/iot_results_a.lang

Other emails in French, German, Portuguese ✅ https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=emails/2017/iot_results_b.lang

[2017-10-24 14:33] caltrider commented on #1065
Thanks for the update @TheoChevalier.  Looks like we're on track to have everything for @beccaklam and I to set up the blogs next Wednesday. @natalieworth, in yesterday's staff meeting we forgot to talk about time on your schedule to make the localized graphics and it seems we should have.  What are you thoughts on what's needed to get those done by next Wednesday?
cc: @hannahkane

[2017-10-24 15:08] #1090 closed, assigned to HPaulJohnson

[2017-10-24 15:09] hannahkane commented on #1050
@ScottDowne @cadecairos  - can we close this, or is there more work to do?

[2017-10-24 15:29] beccaklam commented on #1087
@hannahkane Hey Hannah, not yet. We are still waiting on two images, one from Osmo and one from Parrot Pot though I do have some not so nice looking photos of those if we can't get better ones.

[2017-10-24 15:41] hannahkane commented on #1084
@caltrider - is this ticket done?

[2017-10-24 15:42] hannahkane commented on #997
@natalieworth - can we close this ticket now?

[2017-10-24 15:42] hannahkane commented on #1009
Thinking we should close this.

[2017-10-24 15:42] #1009 closed, assigned to brettgaylor

[2017-10-24 15:43] hannahkane commented on #1064
Are we still planning to do this?

[2017-10-24 15:55] caltrider commented on #1084
@hannahkane Yes, it's done.  It's here under ["Why we made this"](https://docs.google.com/document/d/1FOvs7w0HLpMcYSXXCdX3uNilKDx8Zd-3Sj1EMj2ikEQ/edit)

[2017-10-24 16:03] hannahkane commented on #1084
Awesome. Closing!

[2017-10-24 16:03] #1084 closed, assigned to caltrider

[2017-10-24 16:23] kristinashu commented on #1057
@HPaulJohnson @tlasadea here is a very rough wip https://redpen.io/p/zj3a03844f39d2841c I haven't touched any of the copy but will update when we have something. I'll continue to add more directions but please add any thoughts/comments/ideas you have.

[2017-10-24 17:04] cadecairos commented on #1050
I've set up a talk instance, but we need to tweak some of the configuration settings for our needs.

[2017-10-24 17:44] beccaklam commented on #1064
@hannahkane I think we should! Not sure if we have time though :(

[2017-10-24 20:36] tlasadea commented on #1030
Hey @beccaklam the brief for this is [here](https://docs.google.com/document/d/1TnYh-W-1Nc8RhrzjLQEyh9g_DyvBGHHfuh6l0J_4F2Q/edit?ts=59ef685e) and the specific assets/specs we need is also included, but [here](https://drive.google.com/open?id=0B7E0hJQDRYkbV29XN19idU5TQ0E) is the spec sheet from the publisher.

[2017-10-25 10:41] HPaulJohnson commented on #1085
@brettgaylor any specific size for the two footer/header graphics.

we are working on some general brand assets that will say

*privacy not included
a holiday buyer's guide from moz://a

We can easily export in any size/format you prefer. just let us know.

[2017-10-25 10:51] TheoChevalier commented on #1089
Fixed in https://github.com/mozilla/donate.mozilla.org/commit/a5e7e74978424731b7c9a00bc933a837b1d632db also made sure to reject any pending suggestions in Pontoon that have the old tracking link.

Noticed in the process that we also have this one:
https://donate.mozilla.org/give-bitcoin/?ref=EOYFR2016&utm_campaign=EOYFR2016&utm_source=Wiki_WaysToGive&utm_medium=referral
(very last link of the ways

[2017-10-25 12:15] TheoChevalier commented on #1065
Spanish blog post is now final, graphic strings are in review for Italian.
Should get the pt-BR blog post tomorrow.

And with that, we should be done! The last task will be QAing the localized assets

[2017-10-25 13:46] beccaklam commented on #1085
@brettgaylor Sorry for the late reply! Yeah that should be possible. I'm still a little fuzzy on what exactly you're looking for, just a graphic with logos?

[2017-10-25 15:52] brettgaylor commented on #1085
So the only exact size requirements are the one for the video, which is above.  Basically, we want a "Logo" for the project - is there a wordmark or graphic that we are using that includes "Privacy Not Included?"  It should also have the mozilla wordmark.

They let me know that they can just use the video asset for the other needs they have, and adapt it themselves.  So we should give them a .PSD

[2017-10-25 15:59] beccaklam commented on #1085
@brettgaylor I'm developing the logo here: https://redpen.io/p/uz6c7f8b5519ab96a6 When it's gotten approval from (Paul? Temi? Jen?) I can give you the psd file and jpgs? i outlined the typeface so it's not really a font anymore if that makes sense.

[2017-10-25 16:04] TheoChevalier commented on #1085
“*Privacy Not Included” should be localized in Spanish by tomorrow.

Once the logo are approved, I will include “a holiday buyer's guide from moz://a” in the next batch to the vendor (hopefully sent by the end of the week)

[2017-10-25 18:33] alanmoo opened #1092 "Build logic to redirect after successful one-time donation"

[2017-10-25 21:11] alanmoo commented on #1079
What sites are we considering putting this on? I'm still skeptical of this being a valuable use of our time given the work MoCo is doing for the mozilla.org homepage. I just checked the analytics, and in the month of October, advocacy.mozilla.org/net-neutrality has had <1200 hits, and changecopyright.org has had a single visitor.

[2017-10-25 21:17] cadecairos commented on #1082
If we're going to add a video to the main donation form page, we should ensure it's click-to-load so that overal page load times are minimally impacted.

[2017-10-26 07:23] vojtechsedlak commented on #999
Hey @ScottDowne, sorry for the delay, was out on PTO. I chatted with Alex around what we would like to see tracked on the site and here is the list we came up with:

Use UA-49796218-9 as the tracking ID
Implement the following custom events:
- Email popup
    - Popup shown
    - Email field focus
    - Checkbox clicked
    - Form submit
    - Maybe later click
    - Thank you page share click
- Cl

[2017-10-26 11:05] tlasadea commented on #1057
@kristinashu @HPaulJohnson copy for these ads are here: https://docs.google.com/spreadsheets/d/18_9IPhiB8SC9mtViBvkLCI1kV8LTJbdJzfLHFpITEPk/edit#gid=962456791

[2017-10-26 14:20] ScottDowne commented on #999
I'll probably call out QA next week. Also, that tracking ID, is that the same one used on advocacy.mozilla.org? because that's where this site lives.

[2017-10-26 22:18] TheoChevalier commented on #1091
Italian is now ready!

[2017-10-27 06:31] vojtechsedlak commented on #999
Yup the tracking ID is the same as advocacy.mozilla.org. Thanks Scott!

[2017-10-27 10:48] HPaulJohnson commented on #1088
Some feedback from my initial pass at QA:
**Home Page**
- [x] The *Privacy Not Included Headline feels really undersized to me, which is contributing to a pretty underwhelming first impression when I land on this page. I'm anxious about high bounce rates with all of the content being below the fold. At the very least we need some sort of CTA visible on landing (eg. "browse products".
- [x] In a si

[2017-10-27 11:03] natalieworth commented on #1088
Can we update the images for the header and the footer too (header takes a while for me to load cause it's not the down-sized version):
- [x] Header: https://drive.google.com/file/d/0B20-0lpP23c0U0xNNUpUMWRvM3M/view
- [x] Footer: https://drive.google.com/file/d/0B20-0lpP23c0cVdfdncwNDhaYkE/view

cc @ScottDowne

[2017-10-27 11:05] HPaulJohnson commented on #1088
A few more things on main nav:

- [x] "M" logo is clickable but doesn't go anywhere
- [x] Once I'm off the home page, should we maintain some "*Privacy Not Inlcuded" branding in the header somewhere. There's not much context when I'm on one of the more detailed pages and it's possible that we'd send some traffic directly there.

[2017-10-27 14:30] HPaulJohnson commented on #1088
@ScottDowne Thinking about prioritization of the technical tasks still to be addressed, here's where I'd start:

- [x] CSS changes
- [x] Investigating scrolling issues to see if configurations can be changed to improve performance.
- [x] Change where/when the email popup triggers on the product detail pages
- [x] Update the "Does the company share data with a third party for unexpected reasons?" s

[2017-10-27 20:16] ScottDowne commented on #1088
@HPaulJohnson The first item, "CSS changes" is too much for one task and needs to be broken down a bit. I remember a lot of requested changes.

[2017-10-28 09:47] WillatMozFdn commented on #1079
Hey Alan,

Can you check your numbers on the changecopyright.org visitors?  That just can't be right; on October 12 we sent an email to most of our European subscribers that linked to changecopyright.org ... I see more than 7,100 unique clicks on those messages.  So I gotta think a few of them actually landed on the site, yeah?

[2017-10-28 09:51] natalieworth commented on #1030
Rough/ quick round 1 of social is here: https://redpen.io/p/dnce4b1863e965fe73
cc @tlasadea @HPaulJohnson @beccaklam

[2017-10-30 12:05] TheoChevalier commented on #1065
@beccaklam Here are the final versions of the blog posts in all languages:

French: https://docs.google.com/document/d/12uRaz8NjW-2Y888JdwEEd7dCB3RP6vKA0rjrtDvJM9Y/edit?usp=sharing
Italian: https://docs.google.com/a/mozilla.com/document/d/16ud9l-rV7O97wG_hPFPjpYXd1pKU2RCy1PFTQzRNtZ4/edit?usp=sharing
German: https://docs.google.com/document/d/1doV2HZpxfDYLX19Q_bQ_ItQ_kcvVnftY3wyZ7Kt83Ws/edit?usp=sh

[2017-10-30 15:39] TheoChevalier commented on #1065
@beccaklam Forgot to mention, but for French only you will need to either:
- Copy the document from Chrome
- Download the document as .docx and copy from Word

Otherwise you will loose all the non-breaking spaces and the text layout might become chaotic

[2017-10-30 15:46] beccaklam commented on #1030
Round 1 Display Ads:

Billboards and Leaderboards: https://redpen.io/p/av7dc6cf725f97edd1
MPUs and DPMUs: https://redpen.io/p/mg42feba60537f1720
Skins: https://redpen.io/p/dt09a812715b68598f

CC: @tlasadea @HPaulJohnson @natalieworth

[2017-10-30 17:30] beccaklam commented on #1088
@ScottDowne based on QA ask to add the 'privacy not included' logo to subsequent pages. Designs for this: https://redpen.io/p/gr44a4589bde3fdc12 Basically when the user scrolls pass the large landing page with the title "privacy not included" could the logo transition to sit in the header?

@natalieworth Need to figure out mobile direction for this which is trickier given less real estate: https:/

[2017-10-30 18:19] beccaklam commented on #1088
@ScottDowne Re: QA on making the landing page more conducive to scrolling/more action to get the user to scroll, could we animate the arrow like this: https://codepen.io/rightblog/pen/EagNMN?q=animated+arrow&limit=all&type=type-pens or like this: https://codepen.io/mfritsch/pen/VYdeEE?q=animated+arrow&limit=all&type=type-pens

[2017-10-30 18:38] ScottDowne commented on #1050
Talk instance has been integration, but I havn't figured out any of the plugins or configs we may want. Keeping open in case we decide to do that.

[2017-10-30 22:22] alanmoo commented on #1079
Ah, it looks like analytics was turned off at some point for changecopyright. We can take a look at the logging to get actual numbers from it, but my real concern here is this: Building a single plugin that can be dropped on a bunch of sites is incredibly time-consuming. If there are specific sites on which we want to turn on something simple, let's get a list of them and sort for impact, then see

[2017-10-31 15:10] beccaklam commented on #1087
@hannahkane This is done.

[2017-10-31 15:10] #1087 closed, assigned to beccaklam

[2017-10-31 15:41] ScottDowne commented on #1087
Is there an open ticket for resizing them? Images are on the site, but the load time is significant, also don't open staging on a data plan if you have a limit for now.

[2017-10-31 15:43] ScottDowne commented on #1074
I think I can close this.

There are some css QA changes happening, but I think we're starting to track that in the QA ticket, and were out of scope of the comps anyway.

[2017-10-31 15:43] #1074 closed, assigned to ScottDowne

[2017-10-31 15:45] beccaklam commented on #1087
@ScottDowne I don't think there's a ticket yet, not sure if Paul worked on them? I think we'll talk about it during stand today. If it hasn't been done I can do it this afternoon.

[2017-10-31 16:19] ScottDowne commented on #999
@vojtechmzl do you want to provide any tracking query params to the donate link?

[2017-10-31 16:43] caltrider commented on #1088
@ScottDowne On the tile category page it reads "Why we made the guide' and on the actual page with that story it reads "Why we made this guide."  Let's standardize to "Why we made this guide"

- [x] Change tile page box to read "Why we made this guide"

[2017-10-31 16:46] TheoChevalier commented on #1088
@caltrider On Friday I remember we wanted to update the categories on the homepage to use a verb, should we go with “Browse Game Consoles”, “Browse Home Hubs”, etc?

[2017-10-31 16:51] caltrider commented on #1088
Couple on things on the "Why we made this guide" page @ScottDowne @HPaulJohnson @beccaklam

- [x] The font looks different on the list in the middle.
- [x] Add Links: 1. Link to our survey in the in the first graph where we say "then we did a survey".  I'll put that link in here tomorrow when we get that blog posted.  2. Link out to the Digital Standard when we talk about it in the Consumer Report

[2017-10-31 16:57] ScottDowne commented on #1088
We still have a dead link I need a link target for, which I was told is something @brettgaylor has?

@brettgaylor The site has a link for "Read more from our partners at Gizmodo and Univision" which I'm not sure where it should go, and I think people mentioned you had it? If not, sorry for the distraction.

- [x] Add link target to the "Read more from our partners at Gizmodo and Univision" link.

[2017-10-31 16:58] caltrider commented on #1088
@TheoChevalier Yes!  That works great for the categories. Please do that and let @ScottDowne and @beccaklam when they are ready to update.  Thank you!

[2017-10-31 17:12] tlasadea commented on #1088
@TheoChevalier @caltrider @HPaulJohnson here's the copy QA sheet I was talking about on the call: https://docs.google.com/spreadsheets/d/1Au0W0lMzUevwW8HDoGDMjx1gXshTA2Js77MDqUnMT0I/edit#gid=992855100

[2017-10-31 17:31] TheoChevalier commented on #1088
@tlasadea @caltrider @HPaulJohnson Copy has been updated with the latest changes in this ticket + the QA sheet, if there’s more just ping me

[2017-10-31 17:39] HPaulJohnson commented on #1088
Recap of outstanding items from our call this morning:

**Site-wide**

- [x] provide OG meta tags copy (copy added in #1093)

- [x] update OG mata tags into the site (Scott)

- [x] provide share images (design) note for @natalieworth: we can take the designs you've created for social marketing and add the "A holiday buyer's guide from Moz://a" tagline to them for these; 1 for Twitter and 1 for Fac

[2017-10-31 17:40] hannahkane commented on #998
Are we done with all copy? Can we close this ticket?

[2017-10-31 17:40] hannahkane commented on #1013
@caltrider - do we have all of the product review content now? Can we close this ticket?

[2017-10-31 17:41] hannahkane commented on #997
@ScottDowne @natalieworth - I think we can close this, right?

[2017-10-31 17:43] hannahkane commented on #996
@natalieworth @beccaklam - do we have all the artwork now (for the site itself)? Can we close?

[2017-10-31 17:46] caltrider commented on #1013
@hannahkane Yes, you can close this

[2017-10-31 17:46] caltrider commented on #998
@hannahkane Yes, you can close this

[2017-10-31 17:52] #1013 closed, assigned to caltrider

[2017-10-31 17:52] #998 closed, assigned to caltrider

[2017-10-31 17:53] hannahkane commented on #1076
Closing this since we're using the other QA ticket

[2017-10-31 17:53] #1076 closed, assigned to nobody

[2017-10-31 17:54] ScottDowne commented on #999
@vojtechmzl so far I added these: https://github.com/mozilla/advocacy.mozilla.org/commit/ded81bc797f00ff28ecb1a323e6424d8e8afd8a9

No staging link yet.

[2017-10-31 18:36] ScottDowne commented on #997
Yeah probably. It's just QA stuff now anyway, so no need to track anything else here.

[2017-10-31 18:36] #997 closed, assigned to natalieworth

[2017-10-31 20:45] HPaulJohnson opened #1093 "update OG tags on Privacy Not Included site"
Update the existing OG tags to display more descriptive information. Copy for @ScottDowne here:

`<title>Privacy Not Included: a holiday buyer’s guide from Mozilla</title>`

`<meta property="og:title" content=“Privacy Not Included: a holiday buyer’s guide from Mozilla”/>`

`<meta property="og:site_name" content=“Privacy Not Included”/>`

`<meta property="og:url" content="http://advocacy.mozilla.or

[2017-11-01 05:43] natalieworth commented on #1091
Have the localized versions here: https://drive.google.com/drive/folders/0B20-0lpP23c0bGt1akRsUjJFZHM?usp=sharing
Data Viz, Email, and Social files contain the localized content.
Please proofread if you are able to/ have time.
cc @TheoChevalier @caltrider @beccaklam

[2017-11-01 05:53] natalieworth commented on #1030
@tlasadea Updated the redpen here (V8 onward are latest changes) https://redpen.io/p/dnce4b1863e965fe73
cc @HPaulJohnson @beccaklam

[2017-11-01 11:36] tlasadea commented on #1088
On Safari (version 11.0) the CSS looks off and there is some weird stuff happening with the initial copy on the homepage. @ScottDowne @beccaklam @natalieworth

![screen shot 2017-11-01 at 11 28 06](https://user-images.githubusercontent.com/30296602/32272867-ed423a32-bef7-11e7-876b-6951cf56dc65.png)

[2017-11-01 11:41] TheoChevalier commented on #1091
Thanks @natalieworth ! The only issue I can spot is that in Data Viz, we’re missing images 06 and 08 in the FR folder (those are in Spanish)

[2017-11-01 14:23] beccaklam commented on #1065
Got it. Thanks @TheoChevalier!

[2017-11-01 16:06] caltrider commented on #1091
Thank you @natalieworth for cranking those out yesterday!!!!  @beccaklam and I have all the blogs created.  Natalie, if you can send the #6 and #8 graphics in French, we'll update those and then be close to good. Thank you too @TheoChevalier and @beccaklam !

[2017-11-01 16:36] ScottDowne commented on #1088
@tlasadea thanks for pointing this out. I can look into it.

[2017-11-01 16:42] caltrider commented on #1088
On the category page with all the tiles, exercise is spelled wrong on "health & exercise".
Also, on the product pages, should we capitalize Camera, Microphone, and Track Location?
cc: @ScottDowne @beccaklam @natalieworth @HPaulJohnson

- [x] Fix spelling of "exercise" on health & exercise tile on category page
- [x] Capitalize Camera, Microphone, Track Location on product pages

[2017-11-01 17:21] caltrider commented on #1091
Hey @TheoChevalier @WillatMozFdn @tlasadea @KevZawacki @beccaklam @natalieworth
Here are all the links to all the IoT survey blogs and the link to the drive folder with all the localized graphics including email and social.

**Graphics Folder:** https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0bGt1akRsUjJFZHM

**Blogs:**
EN: https://medium.com/mozilla-internet-citizen/10-fascinating-things-

[2017-11-01 17:25] caltrider commented on #1088
@ScottDowne Here are the links for the "Why We Made This Guide" post:

Link to our IoT survey blog post (in the first graph):
https://medium.com/mozilla-internet-citizen/10-fascinating-things-we-learned-when-we-asked-the-world-how-connected-are-you-2c9601c36ef0

Link to the Consumer Reports Digital Standard (in the Consumer Reports graph):
https://www.thedigitalstandard.org/

[2017-11-01 18:35] beccaklam commented on #1088
@ScottDowne Here's the redpen: https://redpen.io/p/gr44a4589bde3fdc12 for adding the "privacy not included" logo to the header for both desktop and mobile. You will also find the design for the updated review page in there. We decided to go with a "yes and no" system and using a red/green system to denote whether a yes or no is good or bad. Does that make sense? It may take some inferring on your

[2017-11-01 18:55] HPaulJohnson commented on #1088
@beccaklam - these all look good to me. let's move forward with this direction.

[2017-11-01 18:57] HPaulJohnson commented on #1088
@ScottDowne i'm getting the scrambled text on scroll (per Temi's comment above) in mobile chrome as well.

[2017-11-01 19:06] ScottDowne commented on #1088
Safari stuff should be fixed.

[2017-11-01 19:25] alanmoo commented on #1077
From @Pomax in Slack:

@WillatMozFdn, do we want to do that or simply ask for a monthly donation that starts immediately? My instinct is to go monthly immediately because it'll be simpler to implement, and then if we want to pursue it later on, we can A/B the "upgrade" behavior. Does that sound good?

[2017-11-01 19:45] WillatMozFdn commented on #1077
Thanks Alan, yep, agree with you.  Monthly immediately is the right way to
go, let's do that.

 - Will

On Wed, Nov 1, 2017 at 3:25 PM, Alan Mooiman <notifications@github.com>
wrote:

[2017-11-01 20:29] HPaulJohnson commented on #1088
@ScottDowne that fixed it in mobile/chrome too.

[2017-11-01 20:40] HPaulJohnson commented on #1088
@ScottDowne note that I added a new, small change to the breadcrumb nav in the master list of outstanding updates above.

[2017-11-01 20:42] brettgaylor commented on #1085
@beccaklam I saw the google drive of logos - these are great.

However I'm wondering if we could also create a version of the logo without the tagline that also includes the Mozilla wordmark?

Let me know!
Brett

[2017-11-01 21:03] beccaklam commented on #1085
Hey @brettgaylor I made these yesterday they should be in the same folder:
https://drive.google.com/drive/folders/0BzuBOR2VJQqURWd0OEdiMng0elE?usp=sharing
The images are looking a bit funky on my screen, can you download them and let me know what you see?

[2017-11-01 22:19] HPaulJohnson opened #1094 "Landing Page Variations for Fundraising Test w/ Paid Ads"
Detailed description of work: We are launching a series of paid ads on Facebook to test messages and general donation behavior within that platform. Work on those ads is happening in #1057.

Since many of the people we reach with this channel will have less context about Mozilla, we'd like to do custom copy versions on the donate.moz.org landing page for each ad set.

We will need a total of 3 lan

[2017-11-01 22:20] HPaulJohnson commented on #1094
@tlasadea when you have final copy for the landing page versions can you please drop it in here?

[2017-11-02 00:08] ScottDowne commented on #1088
@HPaulJohnson That might be tricky. The hamburger menu isn't a link, it's some js functionality. (which is how we get the transition) that you can toggle on and off. I cannot make a link work like it and still work like a link.

[2017-11-02 00:20] TheoChevalier commented on #1085
After some delays on the vendor side, finally have some Spanish translations for the logo:
`*Privacidad no incluida`
`GUÍA PARA EL COMPRADOR EN DÍAS FESTIVOS DE mozilla`

Exposed the initial version with all caps, but here it should be safe to just use the same capitalization as English.

[2017-11-02 04:10] natalieworth commented on #1057
Round 1 social updates here: https://redpen.io/p/bseb9ca7649f8f90f4
cc @HPaulJohnson @tlasadea @beccaklam

[2017-11-02 04:11] natalieworth commented on #1088
Images are here: https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0NXJXMTRUSGRTV3M

[2017-11-02 04:12] natalieworth commented on #1057
Round 1 social updates here: https://redpen.io/p/bseb9ca7649f8f90f4
cc @HPaulJohnson @tlasadea @bec

[2017-11-02 10:01] tlasadea commented on #1057
Whoops @natalieworth this is the wrong ticket for the above red pen, this is for the EOY Fundraising, not buyer's guide social. Will move to correct ticket.

[2017-11-02 10:03] tlasadea commented on #1030
Hey @HPaulJohnson @beccaklam and @natalieworth (just moving over this comment from the incorrect ticket it was in) here's the round 1 social assets update to final https://redpen.io/p/bseb9ca7649f8f90f4

and cc @ScottDowne as @natalieworth will be making one of these for share progress

[2017-11-02 12:12] #1007 closed, assigned to tlasadea

[2017-11-02 12:13] #1083 closed, assigned to nobody

[2017-11-02 12:13] #1067 closed, assigned to HPaulJohnson

[2017-11-02 12:13] tlasadea commented on #983
@HPaulJohnson @hannahkane this is done, so closing.

[2017-11-02 12:13] #983 closed, assigned to nobody

[2017-11-02 12:14] tlasadea commented on #1057
Hey @kristinashu - copy for creative (misinformation headlines + decentralization posters) are [here](https://docs.google.com/spreadsheets/d/18_9IPhiB8SC9mtViBvkLCI1kV8LTJbdJzfLHFpITEPk/edit#gid=1643780827), tab number 4!

[2017-11-02 14:06] tlasadea commented on #1094
[Here's the spreadsheet with the copy.](https://docs.google.com/spreadsheets/d/18_9IPhiB8SC9mtViBvkLCI1kV8LTJbdJzfLHFpITEPk/edit#gid=538597580)

The copy is in the tab labelled "Copy for Landing Pages" and the three varients are labelled at the top.

CC @ScottDowne @HPaulJohnson

[2017-11-02 16:42] tlasadea commented on #1081
@TheoChevalier where are we with the paid social translations? Did you see the copy deck ([here](https://docs.google.com/spreadsheets/d/1nXLPHQt_z8Bp5gbLWVWgo_z7SQCKEyHU0NbvnYxuY8U/edit#gid=1021378335))?

[2017-11-02 17:02] TheoChevalier commented on #1081
@tlasadea Sorry, didn’t see any ping about this, looking now

[2017-11-02 17:22] TheoChevalier commented on #1081
Just left a couple questions in the doc, but I should be able to send those to the vendor today

[2017-11-02 17:39] HPaulJohnson commented on #1088
Per our call this a.m., here's the final list of things that will carry us to the homestretch:

**P1**
- [x] Implement @ScottDowne's change to improve scrolling behavior on homepage

- [x] Update images in Share Progress for social sharing buttons. Need @natalieworth to export final FB & TW versions and for @ScottDownewne to host somewhere we can link to via URL.

- [x] Update OG tags with new cop

[2017-11-02 17:40] alanmoo opened #1095 "Localize new strings for monthly ask"

[2017-11-02 17:41] HPaulJohnson opened #1096 "Move Privacy Not Included website to staging > production"
Ticket to track progress towards go live of Privacy Not Included holiday buyer's guide.

Target date for going live at advocacy.mozilla.org/privacynotinlcluded is Friday, 11/3 ahead of full marketing launch on Tuesday, 11/7.

cc: @ScottDowne

[2017-11-02 17:42] HPaulJohnson commented on #1088
@ScottDowne created ticket #1096 to track progress moving this site to staging, then production.

[2017-11-02 18:48] TheoChevalier commented on #1095
@alanmoo anything I need to know?

[2017-11-02 19:35] gideonthomas commented on #1095
@TheoChevalier, I'm not sure if a ticket is needed for this (unless we use it to track a deadline for localizing the strings), but this is currently blocked on copy and implementation. This should be going into Pontoon once that's done. Feel free to suggest the right approach to track the work that will be done for this.

@alanmoo correct me if I misunderstood the purpose of this ticket.

[2017-11-02 19:50] alanmoo commented on #1095
This probably should have gone in the Donate repo (in fact, I'm going to move it there now), where we're tracking the rest of the fundraising work at a more detailed level. This was pretty much meant to be a placeholder of the work that needs to be done, so it's visible to us as we review our progress.

[2017-11-02 20:03] alanmoo commented on #1095
Moved to https://github.com/mozilla/donate.mozilla.org/issues/1843

[2017-11-02 20:03] #1095 closed, assigned to nobody

[2017-11-02 21:57] HPaulJohnson commented on #1088
- [x] @ScottDowne link target for "Read more from our partners at Gizmodo and Univision" on our product review pages should be: http://www.univision.com/seguridad-online

[2017-11-02 23:00] brettgaylor commented on #1088
- [x] Hi - seeing another odd CSS error, this time in chrome. Here's a screencast
https://www.dropbox.com/s/7a4b20zjkfputc6/css%20bug.m4v?dl=0

[2017-11-02 23:26] beccaklam commented on #1088
- [x] @thecount When navigating to a category page from the landing page cateogry 'sections' the category page loads in the middle of the page instead of the top:
![bg-wa-category-page-load](https://user-images.githubusercontent.com/20977376/32355185-a6ee82b8-c003-11e7-876a-9adb8b918c30.gif)

[2017-11-02 23:34] natalieworth commented on #1088
- [x] @ScottDowne Uploaded the 2 thumbnail images for 'Home' and 'Why We Made This Guide' in here https://drive.google.com/open?id=0B20-0lpP23c0bHdkR19CekZKVnM

[2017-11-02 23:37] HPaulJohnson commented on #1088
- [x] Added to master list above, but "Share this Page" link in footer should point to a Share Progress landing page. Created one here for now: http://share.mozilla.org/352/184264
- [x] Need a Spanish one too.

[2017-11-02 23:51] natalieworth commented on #1088
Share progress images are here https://drive.google.com/drive/folders/0B20-0lpP23c0SGZGYTA2Ul9abFk?usp=sharing

[2017-11-02 23:55] HPaulJohnson commented on #1088
thanks, @natalieworth already updated share progress buttons with these.

- [x] @ScottDowne can you also include these in the OG tag updates in #1093

[2017-11-03 02:23] TheoChevalier commented on #1088
- [x] On Spanish pages, the share buttons should be using those strings, but they are using English strings
https://github.com/mozilla/advocacy.mozilla.org/blob/master/buyers-guide-locales/es/share.properties

[2017-11-03 02:44] HPaulJohnson commented on #1088
- [x] On mobile, "browse [category]" links on homepage are no longer clickable on staging.

[2017-11-03 03:28] HPaulJohnson commented on #1088
- [x] Missing product blurb for Nest Cam Indoor Security Cam: https://advocacy.mofostaging.net/en-US/privacynotincluded/category/smarthomeaccessories/nestcamindoorsecuritycamera
**Théo:** typo of mine, good catch! Fixed here https://github.com/mozilla/advocacy.mozilla.org/commit/99d7143293f323d62d923b4c0e277c810a8318ad

[2017-11-03 03:57] HPaulJohnson commented on #1088
- [x] Update link to manufacturer website on Automatic Pro product review (currently links to Google Home).

https://advocacy.mofostaging.net/en-US/privacynotincluded/category/gadgetsgizmos/automaticpro

[2017-11-03 04:23] ScottDowne commented on #1088
- [x] post signup share buttons are not responding to clicks.

[2017-11-03 04:28] HPaulJohnson commented on #1088
- [x] Facebook share is still showing old (Safety First) content

[2017-11-03 04:32] ScottDowne commented on #1088
Yeah, I dunno what's up with that. I know facebook is a cache monster, but this is a little much.

[2017-11-03 04:47] natalieworth commented on #1088
There's design QA I'm putting in the redpen here. The site's looking good, but I feel like it's pretty important to have a good landing page. It'd be ideal if we still have a bit of time in the morning for me and @beccaklam  to do a final design pass with @ScottDowne  to fix all outstanding design issues. Essentially it's just landing page, category page, and individual product page. I'm not antic

[2017-11-03 05:09] HPaulJohnson commented on #1088
i'm assuming we can still go live _and_ continue to make these final refinements in the a.m. there's a bit of early marketing happening tomorrow (hence needing the URL live) but the real volume won't come until next Tuesday. i'd assume that we have between now and e.o.d. Monday to get everything perfect.

overall, it's looking really great. kudos to you all.

[2017-11-03 05:12] natalieworth commented on #1088
I think we've got an hour in the morning before it goes live, so should be okay! Yeah, then would be awesome if we could refine for the official Tuesday launch.

[2017-11-03 11:54] caltrider commented on #1088
@ScottDowne  @TheoChevalier Just shared the site with legal on slack and noticed the pull graphic for the spanish site is in english. Not sure if that's only on Slack or not.

- [x] Check that the pull graphic for the spanish site is in spanish

[2017-11-03 12:16] caltrider commented on #1088
@ScottDowne @TheoChevalier I see Janice updated the evaluations of two products:
The Sphero SPRK+ and the Sphero BB8 (in the product review doc, they are on Janice1, columns P and Q. She updated the camera/microphone/tracks locations bits (just those, nothing else in the review changed).

Here's the product review doc: https://docs.google.com/spreadsheets/d/1szZeBKAib8n3QOKZ6Th5ao3XrJr8CDdD9VDL6t6

[2017-11-03 14:00] caltrider commented on #1088
The good news, I've reviewed over half the products and everything is looking great. The bad news, I finally found a typo @TheoChevalier @ScottDowne. On the Meural Canvas under the _What could happen if something went wrong?_ it currently reads:  It could use the ambient light sensors the comings & goings in your household.
It should read: It could use the ambient light sensors to know the comings

[2017-11-03 14:03] ScottDowne commented on #1070
Done

[2017-11-03 14:03] #1070 closed, assigned to ScottDowne

[2017-11-03 14:03] ScottDowne commented on #1072
Done

[2017-11-03 14:03] #1072 closed, assigned to ScottDowne

[2017-11-03 14:04] ScottDowne commented on #999
@vojtechmzl Should be live now and results from us clicking on this should be coming through.

[2017-11-03 14:12] ScottDowne commented on #1088
- [x] The post signup page "No thanks" link is missing a translation, and is displayed as "no_thanks"
- [x] update the evaluations of two products The Sphero SPRK+ and the Sphero BB8
- [x] Fix the typo in " It could use the ambient light sensors the comings & goings in your household"

[2017-11-03 14:32] caltrider commented on #1088
On the gadgets product page the Hiku image looks stretched and funny.  https://advocacy.mozilla.org/en-US/privacynotincluded/category/gadgetsgizmos

- [x] Fix the sizing of the Hiku image on the gadgets product page
- [x] Fix sizing of the pet cube too (it's in same category)
- [x] Fix sizing of Nest Cam Outdoor Security on the Smart Home Accessories page
- [x] Fix sizing of the Spire on the Healt

[2017-11-03 14:35] HPaulJohnson opened #1097 "Create a new Share Progress wrapper for "share this page" page"
In the footer of the buyer's guide we have a "share this page" option which links to this page:

https://share.mozilla.org/352/184264

We need to create a new page wrapper for it, to better match the style of the buyer's guide. Can be as simple as updating the logo and changing the background color. If it's simple we could also include a link back to the sit in the footer via a text link or by emb

[2017-11-03 15:00] HPaulJohnson opened #1098 "Add additional link(s) to "Why We Made This Guide" to Privacy Not Included site"
The "Why We Made This Guide" page is helpful content and a good way of bringing forward the *big* story of this project. Currently, it's pretty buried in the hamburger menu. How can we bring this forwardin other places. A few options:

- Add it as a text link next to the "Read more from our partners at Gizmodo and Unvision" at the bottom of each product review.
- Add it as an additional option in

[2017-11-03 15:16] natalieworth commented on #1088
The Tile Sport is displaying off center. I updated the image here https://drive.google.com/file/d/0B20-0lpP23c0X2FwM1FNSEJYbkU/view
- [x] Update the Tile Sport image

[2017-11-03 15:35] caltrider opened #1099 "Set Up Coral Talk Moderation"
Mostly for @ScottDowne @HPaulJohnson

- [x] Add Paul and Jen as admins
- [x] Set up Janice as a STAFF EXPERT (Jen will talk to Janice)
- [ ] Add other members of the team as STAFF
- [ ] As a P2 when there is time, set up the Slack plug-in to allow moderation in Slack

[2017-11-03 15:55] HPaulJohnson commented on #1096
This happened. Shout out to @ScottDowne for doing this late night, and for squeezing in a viewing of the Thor to boot!

[2017-11-03 15:55] #1096 closed, assigned to nobody

[2017-11-03 15:57] HPaulJohnson commented on #1093
done

[2017-11-03 15:57] #1093 closed, assigned to ScottDowne

[2017-11-03 16:01] HPaulJohnson opened #1100 "QA / Feedback for Privacy Not Included buyer's guide website"
This is a general ticket for bugs, comments and suggested enhancements (for future consideration) on https://advocacy.mozilla.org/en-US/privacynotincluded/

For items deemed to be bugs, please note if you feel like an item is urgent and tag me (@hpauljohnson) in the ticket to be triaged.

Happy testing!

[2017-11-03 16:05] hannahkane commented on #996
Closing as I believe this is done

[2017-11-03 16:05] #996 closed, assigned to natalieworth, beccaklam

[2017-11-03 16:06] hannahkane commented on #1050
Does #1099 cover the above, @ScottDowne?

[2017-11-03 16:11] caltrider commented on #1088
The image on the MocaCuff is a MocaHeart, not the MocaCuff:  You can find the MocaCuff below the MocaHeart here on this page:  https://www.mocacare.com/media.html
@natalieworth @ScottDowne @beccaklam

- [x] Change the MocaCuff image to the right one

[2017-11-03 16:20] alanmoo commented on #1100
- [ ] The "Return to top" text at the bottom of [the main page](https://advocacy.mozilla.org/en-US/privacynotincluded/) doesn't do anything
- [ ] Product images are way too big and slow down page loading

[2017-11-03 16:29] caltrider commented on #1088
This popped up for Abigail the lawyer when she did her review of the site.  I could replicate it. Anyone else getting this?
QA: When I click on “Why we made this guide,” I’m automatically directed to the bottom of the page.

- [x] Check to make sure when you click on "Why we made this guide" it take you to the top of the page, not the bottom

[2017-11-03 16:30] WillatMozFdn commented on #1100
Home page, typo in this sentence: "Because Santa should be the only on watching you this holiday season."

[2017-11-03 16:39] ScottDowne commented on #1099
I made Paul an admin so he can do add people as mods and staff too.

[2017-11-03 16:42] caltrider commented on #1088
Janice is updating some of her product reviews in the review doc. What's the best way to highlight those?

[2017-11-03 17:10] caltrider opened #1101 "Email and Blog Graphic for Buyer's Guide"
We need an email call out graphic for the email that will go first thing on Tuesday.
It can be our branded/social stuff with the "See the guide" on it and "see the guide" should already be localized.

We also need a Medium blog header for the Medium blogs we'll post about this. I'm fine with the simple *privacy not included banner graphic.

@natalieworth @beccaklam @WillatMozFdn

[2017-11-03 17:25] HPaulJohnson commented on #1100
@WillatMozFdn are you sure that's a typo? i think that's the idea - Santa does watch you but your products shouldn't. Can you clarify?

cc: @caltrider

[2017-11-03 17:28] WillatMozFdn commented on #1100
There's an "e" missing ... "the only on" is incorrect; "the only one" is what we need to say.

[2017-11-03 17:28] HPaulJohnson commented on #1100
ah, got it! thx- we'll fix

[2017-11-03 17:29] TheoChevalier commented on #1100
Fixed, thanks guys :)

[2017-11-03 18:10] caltrider commented on #1088
@ScottDowne @TheoChevalier
Janice has marked the products in the product review doc in orange that she has updated. Looks like there is about 11 of them so far. I'm marking the products I've QAed in purple.  Once you update these, could you switch the orange highlight so something else (blue or green) so I know which ones have been done and can go back in and QA those?

- [x] Update product review

[2017-11-03 18:36] caltrider commented on #1088
@ScottDowne On the Weber iGrill2 product, we link out to the wrong website (we like to the iGrill3, not the 2).
Here's the correct link: https://www.weber.com/US/en/accessories/igrill-thermometers-timers/igrill-2

- [x] Swap the website link on the Weber iGrill to the correct one