[2016-09-29 19:21] ScottDowne commented on #540
np :)

[2016-09-29 20:12] KGorr commented on #534
Would love your input here, @Saallen @edrushka @KevZawacki

[2016-09-29 20:13] gholme4 commented on #540
@ScottDowne @valianttry This works now. What is the share image for FB?

[2016-09-29 20:15] gholme4 commented on #460
@ldecoursy @valianttry @HPaulJohnson This will continue to be a problem for control panels users (all of us that can access the back-end or users who have created an event). General site visitors will not have the problem. Here is NationBuilder's response:

After some additional testing, it appears that this problem only occurs for control panel users. While we recognize that this is not ideal, co

[2016-09-29 20:23] lovegushwa commented on #487
@stephaniemcv some general makerparty email graphics here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvOVlyTkRDTXE2cVE?usp=sharing

I'd like to make these more specific to the copy, will borrow from the social assets @beccaklam is making and post something tomorrow.

[2016-09-29 20:25] gholme4 commented on #516
@valianttry The link in that email is correct. The event page is where a person cancels an RSVP. In the usual flow the user will see a checkbox to cancel the RSVP instead of the default RSVP form, because the user's session will be active.

[2016-09-29 20:26] valianttry opened #542 "Temporary Bablic account for Petition V2.5 (new form)"
Detailed description of work:
[9/29/16, 1:24:09 PM] Jennifer OReilly Mott: Is Chris able to create a new paid account in Bablic for v2.5?
[9/29/16, 1:24:35 PM] Jennifer OReilly Mott: We will only need the account for today and then we can delete it

_Start date: September 28, 2016_
_Due date: September 29, 2016_

CC:

[2016-09-29 20:30] cadecairos commented on #542
a few q's:
- What URL am I setting it up with
- what languages
- who needs access

[2016-09-29 20:36] valianttry commented on #524
Thanks @imagerwalt !

[2016-09-29 20:36] valianttry commented on #475
This is resolved, closing. Thanks!

[2016-09-29 20:36] #475 closed, assigned to nobody

[2016-09-29 20:40] jendc123 commented on #477
@drewmoto @valianttry - we have removed the text SMS from the front-end.  In order to move forward with the rest of the ticket, @imagerwalt needs access to SF to track the nationbuilder ID.

[2016-09-29 20:41] #518 closed, assigned to stephaniemcv

[2016-09-29 20:42] jendc123 commented on #518
@valianttry can we close this?

[2016-09-29 20:42] drewmoto commented on #477
I created the field in both Dev and Prod. Walter should be able to test in
Dev at this time. I didn't revoke access to that.

On Sep 29, 2016 1:40 PM, "Jennifer" notifications@github.com wrote:

[2016-09-29 20:43] ScottDowne commented on #540
@valianttry Yup, works, we just need an image. I'm clearing myself as assignee, though.

[2016-09-29 20:53] valianttry commented on #540
@HPaulJohnson or @lovegushwa can you drop a link to the maker party Facebook share image here? TY!

[2016-09-29 20:58] imagerwalt commented on #477
Hey @drewmoto I think my access "walter7@fissionstrategy.com" to the whole SF is disabled, as I can't even log in via na.48.salesforce.com right now.

[2016-09-29 21:02] lovegushwa commented on #540
We should have a makerparty share ready tomorrow. Coming from @beccaklam.
@HPaulJohnson do you know if a square image will work?

[2016-09-29 21:03] lovegushwa commented on #540
@beccaklam I think the fist in the air should work well as the default.

[2016-09-29 21:06] shaghdoosti commented on #471
Hey -

270 is in charge of working on the survey - it's going to take a few days to get it. We should move ahead and drop the link later.

[2016-09-29 21:12] valianttry opened #543 "Finish last localizations in Bablic for event interface"
Detailed description of work:
Adding in the last few translations, such as:
_No events found nearby. Try widening your search.
Find an event
Do you have a great idea for a maker party event?_

_Start date: September 29, 2016_
_Due date: October 5, 2016_

CC:

[2016-09-29 21:18] lovegushwa commented on #471
@shaghdoosti I recommend we make a page at the start of the deck that includes links to gdocs or PDF files of the other languages. So the deck acts as a hub, and links out to the translated text docs.

[2016-09-29 21:21] brettgaylor opened #544 "QA Fail: Translations of Nyan Cat dissapeared"
Oddly, the Nyan cat translations of "meme land" are now back to English.  Here is the Italian locale:

![image](https://cloud.githubusercontent.com/assets/345974/18972916/e0c7cb28-864f-11e6-8c76-2189d1aa2407.png)

This was working last night and early this morning.

[2016-09-29 21:22] brettgaylor commented on #544
cc @jendc123 @gholme4

[2016-09-29 21:38] drewmoto commented on #477
Looking into now

On Thu, Sep 29, 2016 at 1:58 PM, Walter Lau notifications@github.com
wrote:

[2016-09-29 21:47] drewmoto commented on #477
- The BSD Sandbox server is cs26 (see below)
  - https://cs26.salesforce.com/home/home.jsp
- Direct login access is test.salesforce.com
  - Your username should still be walter7@fissionstrategy.com

Screen shot attached of your (active) Sandbox account. If that doesnt work
let me know.

On Thu, Sep 29, 2016 at 2:38 PM, Drew Mora drewmoto@gmail.com wrote:

[2016-09-29 21:49] drewmoto commented on #477
na48 is the Production location.

And you had a decimal in your server na.48 as opposed to na48. Was that
intentional?

On Thu, Sep 29, 2016 at 2:47 PM, Drew Mora drewmoto@gmail.com wrote:

[2016-09-29 22:01] imagerwalt commented on #477
Oh it was an typo. oh okay, sorry I misunderstood your message. Yeah I'll update it from cs26 sandbox now.

[2016-09-29 22:23] valianttry commented on #525
Answer from Nationbuilder support:

_From: help@nationbuilder.com
Subject: Re: Prompt to share problem
Date: September 29, 2016 at 1:44:37 PM CDT

Hi George,

After some additional testing, it appears that this problem only occurs for control panel users. While we recognize that this is not ideal, control panel users can share their pages directly from the control panel. All other users should be

[2016-09-29 22:26] valianttry commented on #525
#Wontfix

[2016-09-29 22:26] #525 closed, assigned to nobody

[2016-09-29 22:27] edrushka commented on #534
Can you clarify what you mean by "promote MozFest"?

By 10/24 Tickets will have sold out (fingers crossed). If the Advocacy list was to promote MozFest, I would suggest highlighting the content of our Dialogue and Debate speakers series, which will be streamed live and then archived on the MozFest website. Some of the talks will have serious appeal/relevance to that list.

[2016-09-29 22:35] jendc123 commented on #542
Hi @cadecairos - the languages are the same as v2 and the same people need access.  The url is [https://petitionv25-mozillafoundation.nationbuilder.com/](url)

cc @valianttry

[2016-09-29 22:36] natalieworth commented on #526
Maker party snippet icon drafts are up on redpen: https://redpen.io/p/qj4d60f2ac98a50591 and waiting for the Firefox team to check them.

The stunt launch has been pushed back until Oct 12—so we have a little bit of leeway to get these done. I'll be one PTO until Oct 4, so here is the illustrator file with the different snippet versions in case something comes up before I am back: https://drive.go

[2016-09-29 22:50] jendc123 commented on #544
@brettgaylor -  I'm pretty sure we caused this when we updated the images to a smaller file size.  I've updated. This is ready for review.

[2016-09-29 22:58] vojtechsedlak commented on #528
Here are a few ways of capturing the changing nature of email volume in the last few years.

**1. Number of emails sent per quarter (Advocacy+Fundraising vs. All MoFo)**
The graph shows that in the last few quarters, the overall volume of emails sent has been increasing. In the past the biggest bumps were associated with EOY fundraising.

![image 2](https://cloud.githubusercontent.com/assets/20688

[2016-09-29 23:05] brettgaylor commented on #544
Yay!  Thanks for that :)  Worked for me. Will close.

[2016-09-29 23:05] #544 closed, assigned to nobody

[2016-09-29 23:11] stephaniemcv commented on #528
@vojtechmzl your amazing graphs just made my day, sir!

[2016-09-30 00:35] cadecairos commented on #542
Bablic isn't letting me add the site: ![bablic](https://pageshot.net/images/b29cbf41-cf25-4833-80fe-5afd4cbaffff)

[2016-09-30 00:40] #541 closed, assigned to nobody

[2016-09-30 00:49] jendc123 commented on #542
@cadecairos @valianttry we removed the snippet.

[2016-09-30 02:21] cadecairos commented on #542
Completed!

[2016-09-30 02:21] #542 closed, assigned to cadecairos

[2016-09-30 11:37] KevZawacki commented on #511
@brettgaylor @natalieworth

All approvals are in! Ready to start creating.

@natalieworth You'll notice the EN version has some extra language that isn't localized. Specifically, scenes 4 and 5. That's intentional.

[2016-09-30 12:26] KevZawacki commented on #534
Agree with @edrushka -- the D+D speaker series is most relevant for the advocacy list

[2016-09-30 15:51] valianttry opened #545 "Add 'cookies' URL to the bottom footer nav of petition and maker party pages."
Detailed description of work:
Abigail and Mika from legal recommend that we add a link about cookies to our Copyright campaign websites. This is the same link we now have on all mozilla.org pages. This would be a universal change for both Maker Party pages and petition pages.

The URL is:
https://www.mozilla.org/privacy/websites/#cookies

_Start date: September 30, 2016_
_Due date: October 13, 201

[2016-09-30 17:16] #420 closed, assigned to vojtechsedlak

[2016-09-30 17:18] HPaulJohnson commented on #357
makerparty@mozillafoundation.org and press@mozilla.org should be implemented everywhere.

[2016-09-30 17:18] #357 closed, assigned to HPaulJohnson

[2016-09-30 17:32] natalieworth commented on #511
Awesome! Thanks @KevZawacki

[2016-09-30 18:45] valianttry commented on #352
Localized activities were just delivered by Kontextor. Here is the zipped file @ScottDowne --

[delivery_translation_activities.zip](https://github.com/MozillaFoundation/Advocacy/files/503607/delivery_translation_activities.zip)

[2016-09-30 18:55] ScottDowne commented on #352
If no one objects, I'll be moving these, and the host packs, into google docs.

[2016-09-30 19:07] ldecoursy commented on #352
@KGorr is helping move the host packs into the Google slide template. So far she has:
- ES https://docs.google.com/a/mozillafoundation.org/presentation/d/12hDy1vnd73GBRXUxiFIN_sr7lJ8e_5k3vtQfYW5SfdI/edit?usp=xpa_n&ts=57ee91f2
- DE https://docs.google.com/a/mozillafoundation.org/presentation/d/1Or0fja5tUXGONvVEI9IiH772t2Rss1EoRDeCX32syzI/edit?usp=xpa_n&ts=57ee85a0

Others will be done by tomorrow.

[2016-09-30 19:09] ScottDowne commented on #352
@ldecoursy Amazing, this is perfect! :rocket:

[2016-09-30 19:10] ScottDowne commented on #352
@ldecoursy Possible to get the same treatment to the host pack pages/localizations?

[2016-09-30 19:15] ldecoursy commented on #352
@ScottDowne Not sure what you mean. Those are the host packs. She's out next week though, so I think she'll only have time to get through the remaining few languages for this doc.

[2016-09-30 19:17] ScottDowne commented on #352
@ldecoursy Ah, I see. This issue is for the activities, not the host packs. And moving them to google docs too, as they are currently in a zip file which isn't great.

[2016-09-30 19:17] ScottDowne commented on #352
To be clear, both the localized host packs AND activities are in zip files, and I need to move them to google docs.

@ldecoursy So these are localized host packs?
- ES https://docs.google.com/a/mozillafoundation.org/presentation/d/12hDy1vnd73GBRXUxiFIN_sr7lJ8e_5k3vtQfYW5SfdI/edit?usp=xpa_n&ts=57ee91f2
- DE https://docs.google.com/a/mozillafoundation.org/presentation/d/1Or0fja5tUXGONvVEI9IiH772t2Rs

[2016-09-30 19:22] ldecoursy commented on #352
@ScottDowne Yes, that's the host pack. @kgorr is also working on moving the FR, IT, and PL versions of the host pack into Google Slides, but I don't think she'll have time to help with the activities.

[2016-09-30 19:25] ScottDowne commented on #352
That's fine. I'm just glad one of them is being done. :)

I'll do the activities, likely.

[2016-09-30 19:29] ScottDowne commented on #499
Just updating this, based on conversations from #352, to make sure we're all on the same page.

@ldecoursy mentioned that the host pack localizations from the zip files, are being moved into  google slides:
- ES https://docs.google.com/a/mozillafoundation.org/presentation/d/12hDy1vnd73GBRXUxiFIN_sr7lJ8e_5k3vtQfYW5SfdI/edit?usp=xpa_n&ts=57ee91f2
- DE https://docs.google.com/a/mozillafoundation.org/

[2016-09-30 19:29] shaghdoosti commented on #352
Yep - and with the activities we want to get those up asap - but move them into the nicer html format as soon as possible. @ScottDowne does that make sense?

[2016-09-30 19:30] vojtechsedlak opened #546 "Test Idea: Optimize Petition Form Title (currently "Sign the petition")"
Detailed description of work: As per brainstorming conversation in August, let's test different variations of the petition title that appears at the top of the form.

Tested Variants:
- Sign the petition
- Take Action
- Show your support

_Start date: September 20, 2016_
_Due date: October 14, 2016_

CC:

[2016-09-30 19:30] ScottDowne commented on #499
@ldecoursy and what about partner packs?

[2016-09-30 19:30] ldecoursy commented on #499
@ScottDowne that's correct. Is this the best place to link to the other localized host packs (in Google Slides format) when they're completed?

[2016-09-30 19:32] ScottDowne commented on #352
@shaghdoosti Yup, I'm getting close to the html versions up and localized. Maybe 75% done?

One question I have is, the localizations in the zip, should map to the html pages? Thus the nicer html format content is already localized, and doesn't need to be on pontoon at all?

[2016-09-30 19:33] ldecoursy commented on #499
@ScottDowne I haven't seen the localized versions of that. The ENG is here https://docs.google.com/presentation/d/1Ibb0WgTwdXBON1UxYjQMu3DftK2PcwNiiCCKgkuibZs/edit#slide=id.g165eabf55d_2_173

[2016-09-30 19:35] ScottDowne commented on #499
Yeah, any content being finished around host/partner packs and localization should be in here.

[2016-09-30 19:36] vojtechsedlak commented on #546
The results on this test are in @valianttry @HPaulJohnson. As you can see in the graph below, **Show your support** won the test, with 98% statistical significance. It improved the petition conversion rate from 5.66% to 9.07%, which is a fairly substantial increase. The tested audience here was only English and the test ran on the v2 design (without the multi-step form). My recommendation would be

[2016-09-30 19:59] HPaulJohnson commented on #546
whoa, that's awesome @vojtech. with the paid media stuff running, the more we can do quickly to optimize our conversion petition, the better off we are going to be with getting our CPA's down.

@valianttry I'm happy to get this loaded up for localization. assuming the process is the same, i.e. put it into github and it gets sucked into pontoon for translation?

[2016-09-30 20:35] KevZawacki commented on #459
I've selected two tweets from each category, tightened them up, and placed them in an approval doc [here](https://docs.google.com/document/d/1AqwFLAogCRQxmjiAA6_DFmgfD4OqtHztpYR-UaGisU8/edit). @HPaulJohnson, let me know if I can help further.

@beccaklam, you can drop links to your completed graphics into [the top of the document](https://docs.google.com/document/d/1AqwFLAogCRQxmjiAA6_DFmgfD4OqtHz

[2016-09-30 22:20] lovegushwa commented on #540
We're going to with a maker party brand for the share, the link is here:
https://drive.google.com/file/d/0B2qu3ExKWIlvbTJVOFhGN2MxRE0/view?usp=sharing

![maker-party-600x300](https://cloud.githubusercontent.com/assets/12228435/19008651/7b08f686-8721-11e6-99d1-a45479276328.jpg)

[2016-09-30 22:22] lovegushwa commented on #540
@gholme4 see the link above for the marker party share.
CC @HPaulJohnson @jendc123

[2016-09-30 22:34] lovegushwa commented on #487
@stephaniemcv let's go with these options:
https://drive.google.com/file/d/0B2qu3ExKWIlvOVJ3T1NncUNGb3c/view?usp=sharing
https://drive.google.com/file/d/0B2qu3ExKWIlvX1NtSXoyMUEzaE0/view?usp=sharing

![maker-party-party-400x400](https://cloud.githubusercontent.com/assets/12228435/19008864/43738798-8723-11e6-80b7-311eacd0b24a.jpg)

![maker-party-600x300](https://cloud.githubusercontent.com/assets/1

[2016-10-03 03:59] lovegushwa commented on #483
CC @lovegushwa

[2016-10-03 04:48] valianttry commented on #528
@vojtechmzl can you drop a link to the spreadsheet where these charts live? I can't see where Q1 -3 2016 lives on that last chart and I want to make sure I get the totals correct. Thanks! This is truly awesome, and it's so good to see we're following through with our plans. :medal_sports:

[2016-10-03 15:39] valianttry commented on #498
@ScottDowne any update on progress?

[2016-10-03 15:47] vojtechsedlak commented on #528
[Here](https://docs.google.com/spreadsheets/d/1wsaGg1QUAl-9hTKzjTH6y-oSPYlOXr1PcnlRB1DcidE/edit#gid=1741832897) is the raw spreadsheet @valianttry. In Q1 2016, the advocacy team has produced the total of 29 emails. Let me know if there is anything else I can drill deeper into.

[2016-10-03 15:51] ScottDowne commented on #498
@valianttry yeah, when I move it over to google docs, it messes up a bunch of formatting, so I've started to sort that out.

I also need each of the 4 activities to be linked to separately, and not in one big doc. So I need to split them up, ending up with a total of 20 links. 5 languages and 4 activities. 5 \* 4 = 20.

[2016-10-03 15:54] #230 closed, assigned to vojtechsedlak

[2016-10-03 16:00] ScottDowne commented on #498
It might be fine, but what about this?

https://docs.google.com/document/d/1G1xiIV783vvPUrX_YrzFWi5mg_qz3whLVky7xK_FVxU/edit
That's postcrimes in de. If that works, I can do that for the rest.

[2016-10-03 16:20] #358 closed, assigned to ScottDowne

[2016-10-03 16:22] ScottDowne commented on #138
Yeah, happy to close until we have an issue with more details. I wasn't sure who was pushing for this, but it wasn't me.

[2016-10-03 16:22] #138 closed, assigned to simonwex, ScottDowne

[2016-10-03 16:26] ScottDowne commented on #352
Keeping this open for now, for the act of adding in the nicer HTML format or spinning that task into a new ticket, but for the simple localized content, it'll be done in this ticket: #498.

With that, I'm making #498 a P1 and this a P2.

[2016-10-03 16:27] ScottDowne commented on #498
Here are the localized activities that need to be moved to a gdoc: https://github.com/MozillaFoundation/Advocacy/files/503607/delivery_translation_activities.zip

[2016-10-03 16:33] ldecoursy commented on #499
All localized host packs in the Google Slides template are here: https://drive.google.com/drive/folders/0B9eLa2Nihrhgcno3bm14NGpoX0E

Thanks @KGorr!

cc @ScottDowne

[2016-10-03 16:41] ScottDowne commented on #529
I think it's fair to say we won't be able to actually do what they are requesting, but yeah, maybe we can respond somehow in a somewhat positive way?

[2016-10-03 16:43] ScottDowne commented on #355
Yeah, we can close. Things don't seem to be blowing up without basket right now anyway, so we might not even need this anymore.

[2016-10-03 16:43] #355 closed, assigned to ScottDowne

[2016-10-03 16:43] HPaulJohnson commented on #193
This is running and will be optimized this week. I'm going to close and create a new ticket for reporting.

[2016-10-03 16:43] #193 closed, assigned to HPaulJohnson

[2016-10-03 16:44] HPaulJohnson commented on #346
Snippet launched on Thurs 9/27.

[2016-10-03 16:44] #346 closed, assigned to HPaulJohnson

[2016-10-03 16:45] HPaulJohnson commented on #430
fixed

[2016-10-03 16:45] #430 closed, assigned to HPaulJohnson

[2016-10-03 16:46] HPaulJohnson commented on #459
These have been shipped for policy approval. Once approved, I will close this ticket and create a new one for localization.

[2016-10-03 16:47] valianttry commented on #543
I've added this to Kontextor's to do list.

[2016-10-03 16:49] #192 closed, assigned to HPaulJohnson, lovegushwa, natalieworth, beccaklam

[2016-10-03 16:49] HPaulJohnson opened #547 "EU Copyright Campaign: Initial reporting and optimization recommendations"
Detailed description of work: With Paid Media campaign now running, we'll do an initial flash report this week and make some initial recommendations for optimizations for remainder of campaign

_Start date: October 1, 2016_
_Due date: October 7, 2016_

CC: @vojtechmzl

[2016-10-03 16:49] ScottDowne commented on #490
@valianttry Nope, I didn't but I was kinda hoping @cadecairos was in a better position for this, with knowledge and experience around this and the history.

@cadecairos any chance you already request this? Is it somehow different this time around than for changecopyright.org? I'm actually confused as too why this is even a thing given we already solved this once.

[2016-10-03 16:50] #429 closed, assigned to nobody

[2016-10-03 16:50] #483 closed, assigned to beccaklam

[2016-10-03 16:51] cadecairos commented on #323
this is still an issue: ![](https://pageshot.net/images/94aee8f0-2158-4170-aebe-bfd4d2ef4d7c)

@valianttry should we ask fission to investigate this?

[2016-10-03 16:51] HPaulJohnson opened #548 "Maker Party: Localize Social Promos"
Detailed description of work: When social promos for Maker Party are approved in #459 we will submit for localization and track progress in this ticket.

_Start date: September 30, 2016_
_Due date: October 7, 2016_

CC:

[2016-10-03 16:52] brettgaylor opened #549 "Update Tier 2 language videos"
Detailed description of work:
Localizations are happening in Amara for Tier 2 languages.

bulgarian
dutch
czech
italian
polish

http://www.amara.org/en/videos/7BbfRhxN6N0V/info/we-love-the-internet/?tab=video

It will require a youtube embed.

_Start date: September 1, 2016_
_Due date: October 14, 2016_

CC:

[2016-10-03 16:53] lovegushwa commented on #369
@valianttry I need to have another conversation with Tim, he already said something like you should have a new brand to work with and won't need dapper fox. I wont be convinced until I see it.

We need to pin down some dates, ideally when we would need to start seeing something like dapper (not until december? ... Social, spectacular snippet, email, and mozilla.org is where dapper starts showing u

[2016-10-03 16:54] #522 closed, assigned to valianttry

[2016-10-03 16:54] cadecairos commented on #490
Last I heard of this ticket was that Damian was going to ask Fission/Nation Builder

Who is our contact at NB that I can ask about technical things like this?

[2016-10-03 16:54] cadecairos commented on #490
oh, totally didn't see this until now.

[2016-10-03 16:54] HPaulJohnson commented on #461
@valianttry email address for contact us in the footer still needs updating. It should be:

makerparty@mozillafoundation.org

[2016-10-03 16:59] lovegushwa commented on #471
Here are the translated decks, as noted by Kristina these all a bit of translation of the title page.

"Join Maker Party. Make a difference."
and "Sept-Nov 2016"

is needed in all languages

EN
https://docs.google.com/presentation/d/1OpV62j95tN-CuRy2RGWuKXw1P1OS9Vs-94DzkjXS8Po/edit?usp=sharing

PL
https://docs.google.com/presentation/d/1bUkd1zWFJdzitS2i7ykWsF5xteFcrXAy6W2IhOJlXH0/edit?usp=sharing

[2016-10-03 16:59] cadecairos commented on #490
Support request filed.

[2016-10-03 17:02] brettgaylor commented on #354
@cristina-moon @stephaniemcv I'm wondering if we should update this to have some urgency when we send - we'll be pretty close to our target and this email will likely push us over the edge, which could also give us a mini "victory" which might be nice to celebrate somehow.

cc @valianttry

[2016-10-03 17:03] lovegushwa commented on #348
@valianttry any design work needed here?

[2016-10-03 17:03] ScottDowne commented on #145
This fell off my radar, once I was under the impression we were not building a survey.

For l10n on this, we'll be creating multiple surveys, and updating the links in the live pages based on the locale.

The raw strings can be put into pontoon out of context, if we so desire, but we won't be getting in context translations with this. From there, it becomes a manual process.

[2016-10-03 17:10] ScottDowne commented on #499
@ldecoursy I don't have access to view those, I requested it though.

[2016-10-03 17:10] ScottDowne commented on #499
I need individual links, and they need to be viewable by the public.

[2016-10-03 17:14] #516 closed, assigned to nobody

[2016-10-03 17:16] valianttry commented on #499
See #471

[2016-10-03 17:18] valianttry commented on #498
@lovegushwa

[2016-10-03 17:18] ldecoursy commented on #499
- Maker Party Host Pack - PL https://docs.google.com/presentation/d/1bUkd1zWFJdzitS2i7ykWsF5xteFcrXAy6W2IhOJlXH0/edit?usp=sharing
- Maker Party Host Pack - DE https://docs.google.com/presentation/d/1Or0fja5tUXGONvVEI9IiH772t2Rss1EoRDeCX32syzI/edit?usp=sharing
- Maker Party Host Pack - EN https://docs.google.com/presentation/d/1OpV62j95tN-CuRy2RGWuKXw1P1OS9Vs-94DzkjXS8Po/edit?usp=sharing
- Maker Pa

[2016-10-03 17:19] brettgaylor commented on #349
We've decided not to take this approach.

[2016-10-03 17:19] #349 closed, assigned to nobody

[2016-10-03 17:21] kpars270 commented on #145
adding @valianttry

[2016-10-03 17:30] lovegushwa opened #550 "v2 Petition Site QA: Remove rounded corners on bablic menu"
@gholme4 please remove the rounded corners from the bablic menu.

![screen shot 2016-10-03 at 10 14 32 am](https://cloud.githubusercontent.com/assets/12228435/19046846/131f2790-8954-11e6-854f-44e8d40bb4be.png)

[2016-10-03 17:32] gholme4 commented on #550
@lovegushwa I cannot do that. This request must be sent to Bablic support.

[2016-10-03 17:34] lovegushwa commented on #550
@valianttry can we ask Bablic for this? ... Some versions of the site this was fixed, others not.

[2016-10-03 18:06] vojtechsedlak commented on #447
Hey @beccaklam, would you be able to send me an updated img file (ideally png or jpg) with 78,126 as the achieved number of signatures and with the progress bar adjusted accordingly? Thanks!

[2016-10-03 18:17] gholme4 commented on #540
@lovegushwa I added the new share image.

[2016-10-03 19:10] lovegushwa commented on #498
hey so I was talking with @ScottDowne about this template: https://chadsansing.github.io/eu-maker-party-sample-activites/updated-eu-maker-party-content/activity01-postcrimes.html#overview
he thinks  localized versoins can all be done by EOD wednesday with @beccaklam's  help

... we could have 270 do a very light reformatting of google docs if your worried. but I think if we can ship real pages ver

[2016-10-03 19:16] ScottDowne commented on #498
Yeah, with Becca's help, we can realistically get this for eod Wednesday eastern time, but I'm hoping Tuesday eod eastern time can have something ready for QA.

[2016-10-03 19:48] valianttry commented on #498
@lucyeoh and @brianking FYI ^^ updates live on Wednesday.

[2016-10-03 19:49] cadecairos commented on #490
So, NationBuilder isn't able to redirect the apex domain using https.

Here's my plan to solve this.
- [x] 1. Get an ssl cert for makerparty.community
- [x] 2. set up a cloudfront CDN to handle http and https connections to `makerparty.community`, use an s3 bucket redirect rule to redirect connections to `www.makerparty.community`
- [x] 3. Create a new hosted zone in AWS, alias the apex to the cdn

[2016-10-03 19:53] HPaulJohnson commented on #490
thanks for flagging me @cadecairos - i defer to @valianttry and @shaghdoosti on the question about timing.

[2016-10-03 20:09] valianttry commented on #490
Just talked with @shaghdoosti -- we will set launch to Thursday 12 noon PST to provide enough room / time to make certain this is fixed.

[2016-10-03 20:10] cadecairos commented on #490
Thanks, I'll kick off 1, 2 and 3 very shortly

[2016-10-03 20:46] #471 closed, assigned to ScottDowne, lovegushwa

[2016-10-03 21:29] ScottDowne commented on #352
@valianttry @lovegushwa So, English is done. We can start QA on English. Here are the links.

https://advocacy-mozilla-org-staging.herokuapp.com/en-US/maker-party/activities/post-crimes
https://advocacy-mozilla-org-staging.herokuapp.com/en-US/maker-party/activities/meme-around
https://advocacy-mozilla-org-staging.herokuapp.com/en-US/maker-party/activities/contribute-to-the-commons
https://advocacy

[2016-10-03 21:29] cadecairos commented on #490
I've got an SSL cert, A Cloudfront domain, an s3 website to redirect, and a new hosted zone ready to be enabled. Seeing as how I've got 10 minutes left in my day, I'm going to pick this up tomorrow morning. If I didn't mess anything up, we'll be ready to launch (Domain/SSL-wise) Wednesday morning (to allow for DNS changes to propagate worldwide)

[2016-10-03 21:46] beccaklam opened #551 "v2.5 Form QA: Mobile Issues"
Detailed description of work: Issues for v2.5 form on mobile (iOS and Android)
1. On iOS Firefox, Safari and Chrome, when the user taps into the form field it scrolls the user all the way down to the bottom of the page. This doesn't seem to happen on Android Firefox and Chrome.
   ![bug](https://cloud.githubusercontent.com/assets/20977376/19056153/6d059b04-8995-11e6-8861-b9b8d7fe41b3.gif)
2. 'Requ

[2016-10-03 21:52] TheoChevalier opened #552 "Links in Maker Party strings seem wrong"
Not sure where is the Maker Party copy issue, so opening a new one ;)

I just noticed the new strings in Pontoon, and this seem wrong: https://pontoon.mozilla.org/fr/mozilla-advocacy/all-resources/?filter=untranslated&string=158727
a href="/maker=party/ -> should be /maker-party/ I presume

I think at this point we should update the string ID to make sure no locale will pick up the typo in their t

[2016-10-03 21:53] beccaklam opened #553 "v2.5 Form QA: Mysterious 'Address Required' Validation"
Detailed description of work:
I've tested this on a Mac running OS X El Capitan using Firefox, Chrome and Safari as well as iOS 10 using the same three browsers and a mysterious 'address is required' validation occurs after the user presses sign. This goes away if I refresh the page but occurs when the page is first loaded:

![form_v2 5](https://cloud.githubusercontent.com/assets/20977376/19055458

[2016-10-03 22:02] vojtechsedlak commented on #523
Here are the metrics you inquired about @brettgaylor:

**Websites**
- Encryption campaign
  - 1,060,561 unique pageviews
- Codemoji
  - 2,363,834 unique pageviews
- Change Copyright
  - 1,003,595 unique pageviews
- Postcrimes
  - 11,761 unique pageviews
- **TOTAL = 4,439,751**

**Video**
- Encryption
  - YouTube
    - 19,337
  - Website
    - 487,569
  - Snippet
    - 1,147,300
  - Organic Social

[2016-10-03 22:18] ScottDowne commented on #552
Yup that's def a typo. I'm not at a computer atm so I cannot update it now.

[2016-10-03 22:24] gholme4 commented on #551
@beccaklam Which iOS device are you using? Which version of IOS is it running?

[2016-10-03 23:27] beccaklam commented on #551
@gholme4 iOS 10
CC @lovegushwa

[2016-10-03 23:31] lovegushwa commented on #551
@beccaklam are you on a iphone 5?

[2016-10-03 23:36] brettgaylor commented on #523
Awesome!  Thank you @KevZawacki @vojtechmzl !

[2016-10-03 23:37] lovegushwa opened #554 "v2.5 Petition Site QA: back arrow easy to accidentally hit"
@gholme4 It's really easy to accidentally hit the back button when trying to check the check boxes. We could move the boxes a little more to the right? Or make a change to the back arrow target area on the check box pages.

![check-box-back](https://cloud.githubusercontent.com/assets/12228435/19057742/e7ec3fd0-8986-11e6-910e-026a4ca8bd75.gif)

[2016-10-03 23:38] brettgaylor commented on #553
Crud!

[2016-10-03 23:38] beccaklam commented on #551
@lovegushwa Yes

[2016-10-03 23:40] lovegushwa opened #555 "v2.5 Petition Site QA: check box difficult to click."
@gholme4 not sure whats going on here, but the check box can be unresponsive at times. If the giff I need to click it three times before it responds.

![check-box](https://cloud.githubusercontent.com/assets/12228435/19057854/dbc2e302-8987-11e6-89f3-cce14bb493df.gif)

[2016-10-03 23:47] #550 closed, assigned to nobody

[2016-10-04 00:39] gholme4 commented on #553
@beccaklam @valianttry #readyforreview

[2016-10-04 00:56] gholme4 commented on #551
@beccaklam @lovegushwa  I made the hero section smaller in height, since the problem is caused by the form not being in view on page load.

The second problem is corrected.

A fix is not apparent for the third issue since "Sign the Petition" will vary in length based on language and won't wrap to the next line. Any suggestions?

[2016-10-04 01:05] HPaulJohnson opened #556 "EU Copyright Campaign: v2.5 Petition Form not localized"
The copy on the petition form itself is not localized on the new v2.5 version of the form. This looks to be the case for all languages, replicated in both FF and Chrome.

cc @valianttry @brettgaylor @lovegushwa

[2016-10-04 01:07] HPaulJohnson opened #557 "EU Copyright Campaign: Nyan cat not localized on v2.5 petition site"
Looks like when we launched the v 2.5 today, we went back the English versions of Nyan cat. First cat should have localized copy, 2nd cat should have no thought bubble.

cc: @valianttry @brettgaylor @lovegushwa

[2016-10-04 01:10] lovegushwa commented on #556
^ @gholme4 @jendc123

[2016-10-04 01:32] HPaulJohnson commented on #557
^ @gholme4 @jendc123

[2016-10-04 02:17] gholme4 commented on #554
@lovegushwa @valianttry #readyforreview

[2016-10-04 02:21] gholme4 commented on #555
@lovegushwa @valianttry #readyforreview

[2016-10-04 02:34] ScottDowne commented on #552
Fixed. Thanks for catching this. :rocket:

[2016-10-04 02:34] #552 closed, assigned to nobody

[2016-10-04 13:20] beccaklam commented on #551
@gholme4 Could we do a media query where when the width of the screen is less than say, 350px (iPhone 5 is 320px) we change the font size from 24px to 20px? 20px seems to accommodate  the smaller screen width:
![screen shot 2016-10-04 at 9 22 13 am](https://cloud.githubusercontent.com/assets/20977376/19075614/b577f4da-8a13-11e6-8866-4ac74e87aa8b.png)
CC: @lovegushwa

[2016-10-04 13:24] cadecairos commented on #490
Filed the bug to take back management of DNS on makerparty.community: https://bugzilla.mozilla.org/show_bug.cgi?id=1307410

I'll update the domain in NationBuilder when that bug is closed.

[2016-10-04 13:38] beccaklam commented on #556
@gholme4 @jendc123 @lovegushwa @valianttry @brettgaylor
The localization is spotty, it comes in and out of places but seems to be consistent in its inconsistency. The specific spots not localized are:
- 'required field' and the 'information' hover
- 'first name, last name, e-mail, country, updates, privacy' in the progress bar
- 'Sign The Petition'
- 'Yes, I want to receive e-mail updates about Mo

[2016-10-04 13:42] beccaklam opened #558 "v2.5 Form QA: Trying to drag to highlight drags entire form"
Detailed description of work: When I try to drag my mouse over to highlight something I end up dragging the entire form. The only workaround is to double click to highlight. Is there a way we can fix this?
![highlight drag](https://cloud.githubusercontent.com/assets/20977376/19076431/bf25d2a6-8a16-11e6-8644-d4f0a6851bf6.gif)

_Start date: Oct 4, 2016_
_Due date: Oct 5, 2016_
.
Tested on OS X El Ca

[2016-10-04 13:43] beccaklam opened #559 "v2.5 Form QA: Weird red line on edge of form (Safari)"
Detailed description of work: There's a weird red line on the left edge of the form in Safari:
![screen shot 2016-10-04 at 9 38 09 am](https://cloud.githubusercontent.com/assets/20977376/19076483/f3956a88-8a16-11e6-996f-f09c38dd4d98.png)
Looks like a CSS fix.

_Start date: Oct 4, 2016_
_Due date: Oct 5 2016_

CC: @lovegushwa

[2016-10-04 13:44] ScottDowne commented on #352
Closing this, it's too confusing with #498. I'll just do all the work in #498 instead.

[2016-10-04 13:44] #352 closed, assigned to ScottDowne

[2016-10-04 13:46] ScottDowne commented on #498
@lucyeoh and @brianking English is done on staging. We can start QA on English. Here are the links.

https://advocacy-mozilla-org-staging.herokuapp.com/en-US/maker-party/activities/post-crimes
https://advocacy-mozilla-org-staging.herokuapp.com/en-US/maker-party/activities/meme-around
https://advocacy-mozilla-org-staging.herokuapp.com/en-US/maker-party/activities/contribute-to-the-commons
https://a

[2016-10-04 13:58] beccaklam opened #560 "v2.5 Form QA: Make Thank You Bar Smaller on Mobile"
Detailed description of work: @gholme4 @jendc123
The form and thank you bar is obtrusively large on small screens at the moment. I think this is okay for the form as it could be incentive for the user to fill in the form to make it shrink so they can read better. Can we make the thank you bar smaller by removing the 25px of padding-bottom and make all the text 16px? ONLY for mobile though, so this

[2016-10-04 15:04] KevZawacki commented on #523
@brettgaylor @HPaulJohnson Earned media metrics complete -- see comment above.

[2016-10-04 15:35] ScottDowne commented on #499
@ldecoursy so the host packs are about to land, I'm still not sure what's happening with the partner packs. Although now that I look at the partner pack, I think there was a mixup.

Thoughts? This is the partner pack: https://drive.google.com/file/d/0B3P4kAmkrxtCXzVMZG5qUDVhX3c/view

But that looks like the new host packs.

[2016-10-04 15:36] ScottDowne commented on #499
@ldecoursy If this isn't as you expected, I think we should sort this out on vidyo. As I think you're actually giving me partner packs, and Andrea was giving me host packs in a comment way at the start.

[2016-10-04 15:52] ScottDowne commented on #499
OK, I confirmed, these are in fact host packs, they just share the partner pack designs.

Still waiting on localized partner packs.

[2016-10-04 16:03] gholme4 commented on #560
@beccaklam @valianttry #readyforreview

[2016-10-04 16:34] vojtechsedlak opened #561 "v2.5 QA: Country not being recorded properly with submissions"
Since the launch of v2.5 petition, there is a spike in records that have (blank) as a country. In the table below you can see that almost all records on Oct 4th have (blank) as Country.

<img width="403" alt="screen shot 2016-10-04 at 9 32 12 am" src="https://cloud.githubusercontent.com/assets/20688240/19083084/a5d2ebdc-8a15-11e6-8587-761d0d7342b9.png">

cc @valianttry @gholme4 @jendc123

[2016-10-04 17:06] gholme4 commented on #551
@beccaklam I updated with your suggestion.

[2016-10-04 17:13] jendc123 commented on #561
hi @vojtechmzl are you seeing this info from Analytics?

[2016-10-04 17:16] vojtechsedlak commented on #561
I exported the data directly from Nation Builder.

[2016-10-04 17:19] HPaulJohnson opened #562 "EU Copyright Campaign: Page load speeds have gotten worse in v2.5"
Looking at page load speeds in GA this a.m., we've gotten significantly worse over the last two days, correlating with launch of v 2.5 of petition.

The desktop score is now 47/100 and our mobile score is now 39/100. For our top trafficked page our average page load time is 12.19 seconds!

Details: https://developers.google.com/speed/pagespeed/insights/?utm_source=analytics&tab=mobile&url=https%3A

[2016-10-04 17:26] gholme4 commented on #561
@vojtechmzl #readyforreview

[2016-10-04 17:33] vojtechsedlak commented on #561
Things appear to be coming through now, though we will see in a couple of hours, if the (blank) value continues to appear. Marking this as QA Pass for now, but leaving the ticket open.

[2016-10-04 17:48] ScottDowne commented on #498
@beccaklam Here is the checklist we can use for what's translated. I'm doing this per file, not per page, because some pages are shared.

de
- [x] de post-crimes.properties
- [x] de meme_around.properties
- [x] de contribute-to-the-commons.properties
- [x] de combined-maker-party-activities.properties
- [x] de maker-party-activities.properties

it
- [x] it post-crimes.properties
- [x] it meme_arou

[2016-10-04 18:38] gholme4 commented on #558
@beccaklam Disabling swiping on non-touch devices is the only thing I could do.

[2016-10-04 18:53] gholme4 commented on #559
@beccaklam Which version of Safari and OS do you see this on?

[2016-10-04 20:35] #543 closed, assigned to valianttry

[2016-10-04 20:50] valianttry commented on #556
This is the result of an error in Bablic. @jendc123 has filed a ticket with Bablic support but due to timezones this may not get fixed until tomorrow PST.

[2016-10-04 21:16] valianttry commented on #460
Closing WONTFIX

[2016-10-04 21:16] #460 closed, assigned to ldecoursy

[2016-10-04 21:23] brianking commented on #498
Do you think it makes sense to distribute the EN versions on staging to our core mobilisers (currently ~27 ppl) to get some eyes and review on them?

[2016-10-04 21:25] ScottDowne commented on #498
@brianking I do believe that would be helpful, seeing how they were ported, and a few things could be out of place.

[2016-10-04 21:26] cadecairos commented on #490
All looks good, DNS seems to have updated in most if not all places, and the apex domain now redirects using SSL.

[2016-10-04 21:26] #490 closed, assigned to cadecairos

[2016-10-04 22:33] ScottDowne commented on #498
I believe we can start doing QA on a few languages now too.

DE
https://advocacy-mozilla-org-staging.herokuapp.com/de/maker-party/activities/post-crimes
https://advocacy-mozilla-org-staging.herokuapp.com/de/maker-party/activities/meme-around
https://advocacy-mozilla-org-staging.herokuapp.com/de/maker-party/activities/contribute-to-the-commons
https://advocacy-mozilla-org-staging.herokuapp.com/de/m

[2016-10-04 22:36] brettgaylor commented on #562
@jendc123 and @gholme4, did the optimizations that we completed get reverted here?

[2016-10-04 23:25] valianttry commented on #461
@gholme4 and @jendc123 this is a pretty easy one, can you fix?

[2016-10-04 23:36] valianttry opened #563 "Maker Party Event Pages: Social share localizations are messed up (again)"
Detailed description of work:
There are mixed localizations -- some locales have English titles and localized text for Facebook share; some have localized titles but English text, some are mixed English and translated text.

The correct translations are here:
https://docs.google.com/document/d/1YBoLZ5f7KL4yVgzPI9HMES-SX3yAZ7N9p4vSTYVAedo/edit

(no Polish)

_Start date: October 3, 2016_
_Due date:

[2016-10-04 23:37] valianttry commented on #563
cc: @HPaulJohnson @jendc123 @gholme4

[2016-10-05 00:00] natalieworth commented on #511
@brettgaylor @KevZawacki Really rough placement cut is here:
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0ZEtKRThMYlhBUGs

I've also added a vimeo link since my wifi takes forever on the Island to upload to the drive:
https://vimeo.com/185571577

[2016-10-05 00:15] brettgaylor commented on #511
Like it.  feel you could cut the "show policymakers how outdated laws are" section and cut straight to "send selfie to parliament"

also, we can change "join hundreds" to "join more than a thousand"

[2016-10-05 00:37] gholme4 commented on #562
@brettgaylor For a brief time it was necessary to unminify  a script. Now the page speed is back to what I saw before then.

[2016-10-05 00:48] gholme4 commented on #461
@valianttry @HPaulJohnson I changed the contact link. What of the Cod of Conduction link and icon?

[2016-10-05 12:21] KevZawacki commented on #511
@natalieworth I really dig the mourning emoji and Eiffel Tower gifs

[2016-10-05 14:09] ScottDowne commented on #498
I believe we're done this, and all languages are on staging.

I updated the comment above with all the links, to all the activities in all languages.

[2016-10-05 14:12] ScottDowne commented on #498
There are still a few strings we're missing. Links to missing strings:
- [ ] https://github.com/mozilla/advocacy.mozilla.org/blob/master/locales/en-US/maker-party-activities.properties#L1-L4
- [ ] https://github.com/mozilla/advocacy.mozilla.org/blob/master/locales/en-US/maker-party-activities.properties#L13-L14
- [ ] https://github.com/mozilla/advocacy.mozilla.org/blob/master/locales/en-US/combine

[2016-10-05 14:19] beccaklam commented on #498
## *Across the board missing: (except German, I think)
- "Make Some Memes!"

Note: All of the meme examples are in English. Will that be a problem?

[2016-10-05 14:43] beccaklam commented on #498
ES
**Meme-around**
"Think about how many people are attending, and how long you’ll have them for to decide whether to do this as a standalone or as part of a longer event!"
"Make Some Memes!"

[2016-10-05 14:46] jendc123 commented on #563
@valianttry - I just requested access to the doc.

[2016-10-05 14:48] jendc123 commented on #557
@HPaulJohnson @valianttry - cats are localized. #readyforreview. Please be sure to clear cache.

[2016-10-05 14:54] valianttry commented on #563
@jendc123 I don't own it so pasting here:

Maker Party Social Share Copy

English
FACEBOOK
Join Maker Party. Make a difference. Maker Party is part of Mozilla’s effort to promote creativity, opportunity and innovation in the EU.  Learn more at https://mzl.la/makerparty

EMAIL
Subject: Mozilla Maker Party: Reform Copyright

Body:
Join Maker Party. Make a difference. Maker Party is part of Mozilla’s

[2016-10-05 15:08] ScottDowne commented on #499
The host pack localized links are live on learning staging.

I was going to do both host packs and partner packs in this ticket, but I suspect a separate ticket for each would have probably been easier?

Either way, keeping this open until we have partner packs.

[2016-10-05 15:35] ldecoursy commented on #499
@ScottDowne Does that mean the current link to the Host Pack at https://learning.mozilla.org/en-US/events/resources will be updated (currently it's linking to a google doc with some comments, not the google slide version). Or should I file a separate ticket for that?

[2016-10-05 15:36] LucyeoH-zz opened #564 "Adding Sticker Order Link to Website"
- Does it need to be localized?
  - Yes
- Does it require a developer?
  - Yes
- Who is the real audience?
  - Hosts

Detailed description of work:
@kelimuttu @couci have created a process for ordering stickers for Maker Party. https://github.com/mozilla/reps-regional/issues/64

The link is ready to go [here](https://docs.google.com/a/mozilla.com/forms/d/14zPnrNun7TUmMySx7t7ugbNCSbNl9dhK7O5oYqUL8Y

[2016-10-05 15:38] ScottDowne commented on #499
Yes, it'll work once it's live. Right now it's only on staging: https://learning.mofostaging.net/en-US/events/resources

[2016-10-05 15:46] valianttry commented on #499
Confirmed that Partner Packs do not need to be localized. Please go ahead and post the EN for Partner Pack.

For future yes please separate these kinds of tasks into separate tickets; 🚀 💯

[2016-10-05 16:02] ScottDowne commented on #499
Cool, so I think then if en-US partner pack is sufficient, we should close this, as the rest is on staging and that should be enough to resolve this.

[2016-10-05 16:04] valianttry commented on #499
@ScottDowne when will it be pushed to prod?

[2016-10-05 16:07] ScottDowne commented on #499
@valianttry When we're ready to ship all of maker party is probably best. Today, for sure.

[2016-10-05 16:26] valianttry commented on #498
I've submitted these missing strings to Kontextor. When they're available @ScottDowne can update them on the site.

[2016-10-05 16:27] lovegushwa commented on #498
@ScottDowne @beccaklam you did an amazing job knocking these out! Thank you :)

[2016-10-05 16:42] valianttry commented on #348
Closing, next steps are in #545

[2016-10-05 16:42] #348 closed, assigned to lovegushwa

[2016-10-05 16:45] valianttry commented on #524
This work is paused until Andrew comes back up for air after Dreamforce. Data is being held and stored in Nationbuilder for now.

from Andrew:
_Since we couldn't rely on Fission's code not to use up our API data, we deactivated their Production account until we felt confident that it was fixed. Walter requested a test Heroku instance to test his code, he's had access to Sandbox the entire time, an

[2016-10-05 16:48] #128 closed, assigned to nobody

[2016-10-05 16:48] ScottDowne commented on #499
OK, this is done and live. :rocket: :roller_coaster: :robot:

[2016-10-05 16:48] #499 closed, assigned to ScottDowne

[2016-10-05 16:49] ScottDowne commented on #498
OK, this is all done and shipped for realzez.

I'm creating a new issue for the new strings coming from Kontextor. I'll link it here when it's filed.

Feels good to close this one. :rocket:

[2016-10-05 16:49] #498 closed, assigned to ScottDowne

[2016-10-05 16:50] valianttry opened #565 "Maker Party: Submit event participant survey for L10N"
Detailed description of work:
We need to put the survey EN text into localization queue asap.

Original EN text is here:
https://docs.google.com/document/d/1VM4Rt9X6y8TG1qgXAr6G6CQdyiI0fvBwyho40Csf244/edit#heading=h.drmkm5rhp9kd

_Start date: October 4, 2016_
_Due date: October 11, 2016_

CC: @ldecoursy

[2016-10-05 16:53] ScottDowne opened #566 "Localize last few activities strings"
A few strings for the activities are still being localized.

From #498

Strings are:
- "Make Some Memes!"
- "CC-BY-SA by Mozilla
- "{num} of {total}"
- "Overview"
- "Combined Maker Party Activities"
- "2-3 hours"
- "Maker Party | {title}"

[2016-10-05 16:54] beccaklam commented on #559
@gholme4 Safari 10.0

[2016-10-05 16:56] valianttry opened #567 "Update triggered emails: Upgrade from default email copy"
Detailed description of work:
The default emails that are sent after the following events:
- hosts (event creation)
- account signup (new login)
- registration confirmation (RSVPs)

Are all default and not very friendly. We have much better copy ready here:
https://docs.google.com/document/d/1JyVPrEnTaZa7uQJPNb1XpXviTGvm5Bz4GP0D_I33Z-U/edit#

We should also review feedback from early users so far,

[2016-10-05 17:02] #561 closed, assigned to nobody

[2016-10-05 17:03] jendc123 commented on #563
@valianttry @HPaulJohnson - this is #readyforreview.

[2016-10-05 17:06] valianttry commented on #545
@lovegushwa is making an icon

[2016-10-05 17:07] #540 closed, assigned to beccaklam

[2016-10-05 17:07] #526 closed, assigned to natalieworth

[2016-10-05 17:09] valianttry commented on #461
@lovegushwa ANOTHER ICON PLZ

[2016-10-05 17:11] #244 closed, assigned to shaghdoosti

[2016-10-05 17:18] valianttry commented on #556
Looks like this is done @jendc123 -- looks like this is slowly updating -- we'll be QAing throughout today.

[2016-10-05 17:19] #555 closed, assigned to nobody

[2016-10-05 17:22] valianttry commented on #508
@jendc123 can you add an "X" in the upper corner and get rid of the button alltogether?
@gholme4

If "yes" we can review and close

[2016-10-05 17:23] #468 closed, assigned to nobody

[2016-10-05 17:30] #562 closed, assigned to nobody

[2016-10-05 17:50] brettgaylor commented on #556
getting there!  Just went through to see if there were any outliers. I found:

*_German *_
“required fields”
Email
Updates
Privacy

**Spanish**
First name
Last lame
emai
Country
Updates

**French**
Updates
privacy

**Polish**
Required fields
Email
Updates

**Italian**
Email
Updates
Privacy

**Dutch**
Email
Updates
Privacy

**Czech**
Updates

**Bulgarian**
Updates
Last names

CC @jendc123

[2016-10-05 17:57] jendc123 commented on #556
@brettgaylor - can you point me to the word "updates" in Pontoon?  I haven't had much success finding it as a single string.

[2016-10-05 17:58] #553 closed, assigned to nobody

[2016-10-05 18:01] gholme4 commented on #508
@valianttry #readyforreview

[2016-10-05 18:03] #560 closed, assigned to nobody

[2016-10-05 18:03] gholme4 commented on #559
@beccaklam @valianttry #readyforreview

[2016-10-05 18:03] #559 closed, assigned to nobody

[2016-10-05 18:04] beccaklam commented on #558
@gholme4 Perfect!

[2016-10-05 18:04] #558 closed, assigned to nobody

[2016-10-05 18:10] beccaklam commented on #551
@gholme4 I think 'Sign The Petition' has been fixed but the other form fields are still showing at font-size:24px when the screen width is less than 350px. Can we change it so that the form fields for 'First Name, Last Name, E-mail, and Country' are also font-size:20px when the screen width is less than 350px?

Fixed 'Sign The Petition' at 20px
<img width="729" alt="screen shot 2016-10-05 at 2 10

[2016-10-05 18:13] HPaulJohnson commented on #563
These are all localized. Looks good.

One additional thing is that somewhere along the line of actually translating the copy, the mzl.la/makerparty link got dropped from the localized tweets. It's a p2 but if we could add it back to the twitter shares at the end of the copy/string that would be super helpful. Not a blocker.

[2016-10-05 18:26] #557 closed, assigned to nobody

[2016-10-05 18:36] brettgaylor commented on #556
Looks like we missed it.  @valianttry will send to Kontextor to translate.

Are there other we're missing?

[2016-10-05 18:41] gholme4 commented on #551
@beccaklam #readyforreview

[2016-10-05 18:42] #554 closed, assigned to nobody

[2016-10-05 18:43] #508 closed, assigned to nobody

[2016-10-05 18:52] beccaklam commented on #551
@gholme4 Awesome, looks great!

I found another issue when I was reviewing though: When I tap the 'i' icon:
<img width="24" alt="screen shot 2016-10-05 at 2 53 28 pm" src="https://cloud.githubusercontent.com/assets/20977376/19126976/17bae57e-8b0b-11e6-9abd-8ff8b3b17f42.png"> on my phone, the yellow box doesn't show up. I'm wondering if it's because currently the box appears on hover but one can't

[2016-10-05 19:03] beccaklam opened #568 "v2.5 Form QA: Weird Polish Sign Button only on Mobile"
@gholme4 @jendc123 Detailed description of work: Polish 'sign' button has what seems to be repeating text at the bottom of the button. This happens on iOS across Chrome, Safari and Firefox.
![img_6494](https://cloud.githubusercontent.com/assets/20977376/19127398/c3b2c0c6-8b0c-11e6-9180-a4a7f122dc2d.PNG)

_Start date: Oct 5, 2016_
_Due date: Oct 6, 2016_
Note: The dates need to be exactly in the fo

[2016-10-05 19:16] beccaklam commented on #551
@gholme4 Also, issue 1 of this thread is happening again in Firefox and Safari in all languages except English on iOS. As in, if I load a fresh page in say, Polish the bug occurs. If I load it in English, it's fine.

CC: @lovegushwa @valianttry

[2016-10-05 19:53] jendc123 commented on #556
@brettgaylor -  I'm not sure every country has a word for "privacy"?  There seems to be some missing i.e. Italian? Again not 100% sure since I sadly only speak English and very basic Spanish and a dash of high school French.

[2016-10-05 20:19] beccaklam opened #569 "v2.5 Form QA: Information Icon not working on Mobile"
@gholme4 @jendc123

I found another issue when I was reviewing though: When I tap the 'i' icon:
<img width="24" alt="screen shot 2016-10-05 at 2 53 28 pm" src="https://cloud.githubusercontent.com/assets/20977376/19126976/17bae57e-8b0b-11e6-9abd-8ff8b3b17f42.png"> on my phone, the yellow box doesn't show up. I'm wondering if it's because currently the box appears on hover but one can't hover on pho

[2016-10-05 22:11] gholme4 commented on #568
@beccaklam I made the font size smaller so the button text would not wrap.

[2016-10-05 22:28] valianttry commented on #556
EN: Updates
PL: Aktualizacje
ES: Actualizaciones
CS: Updaty
NL: Updates
BG: Aктуализации
IT: Aggiornamenti

FR: To be done
DE: To be done

[2016-10-05 22:30] valianttry commented on #556
I found "Privacy" as a standalone word at this URL in Pontoon:

https://pontoon.mozilla.org/en-GB/mozilla-learning-network/all-resources/?search=privacy&string=154211

[2016-10-05 22:34] brettgaylor commented on #556
Should we file a bug to get it in all of our locales?  Seems to be missing BG, IT, PL

[2016-10-05 23:36] valianttry commented on #556
I added it to the queue of strings Kontextor is working on, but it may not be ready until early next week.

[2016-10-05 23:45] natalieworth commented on #511
@brettgaylor @KevZawacki 2nd cut for this is up on vimeo here: https://vimeo.com/185728065

[2016-10-05 23:58] gholme4 commented on #569
@beccaklam @valianttry #readyforreview

[2016-10-06 00:00] gholme4 commented on #551
@beccaklam I decreased the height of the hero section to prevent this from happening.

[2016-10-06 00:58] lovegushwa commented on #369
@valianttry so the word from Tim is "no foxes." ... A bit of a shame, cute stuff works well, but cute foxes also tie into the brand bank nicely.

Let's talk about this, I have an idea about how we might do a bit of character design without dapper but will need to develop a reason why folks are seeing characters that are not foxes.

[2016-10-06 13:56] beccaklam commented on #568
@gholme4 thanks!

[2016-10-06 13:56] #568 closed, assigned to nobody

[2016-10-06 13:59] #569 closed, assigned to nobody

[2016-10-06 14:02] beccaklam commented on #551
@gholme4 Awesome, thank you!

[2016-10-06 14:02] #551 closed, assigned to nobody

[2016-10-06 14:27] beccaklam opened #570 "v2.5 Form QA: Adding 'close' icon to Privacy Information Pop-Up on Mobile/Pop-Up Form not localizing"
Detailed description of work: @gholme4 @jendc123 Can we add a 'close' icon to the information pop-up like this?
![privacy notice](https://cloud.githubusercontent.com/assets/20977376/19155892/12385afc-8bae-11e6-887b-9b50deec0db4.png)
Right now it's not clear that you need to tap the form again on mobile to close it. Here is an icon if you need it: https://drive.google.com/file/d/0BzuBOR2VJQqUUGRLOU

[2016-10-06 15:16] vojtechsedlak commented on #447
The results for this test are in and, drum roll, adding the counter does increase conversion rates! As you can see in the chart below, the presence of the counter resulted in 16.7% increase in conversion rates. That means that for every 100,000 visitors we could get 1,000 additional signatures. The results are statistically significant, so I would suggest implementing it on the production site. I

[2016-10-06 15:23] vojtechsedlak opened #571 "v2.5 petition: Add counter/progress bar to the petition"
Detailed description of work: We ran a test that indicated that adding a petition counter to the page increases conversions. You can find full details here: #447. You can see the design treatment of the counter below. We tested a fixed image, but the progress bar would ideally be dynamic and update with the latest numbers from NB.

![3732b014-818b-11e6-8fa6-30f69a729884](https://cloud.githubuserco

[2016-10-06 15:44] valianttry opened #572 "Warsaw, Poland event not showing on the map"
Detailed description of work:

A new event isn't showing up as a pin on the world map on the maker party site.

![mozilla_maker_party__reform_copyright](https://cloud.githubusercontent.com/assets/9830371/19159334/e44c9624-8ba0-11e6-9f94-39211e0d5212.png)

_Start date: October 6, 2016_
_Due date: October 6, 2016_

CC: @gholme4 @jendc123

[2016-10-06 15:47] valianttry commented on #572
@ldecoursy try adding a full address (right now there's no street)

[2016-10-06 15:49] beccaklam commented on #386
@lovegushwa @valianttry @stephaniemcv
https://redpen.io/p/udd5f886b8ac992340 <-- link to some donate button ideas

[2016-10-06 16:06] ldecoursy commented on #572
Street address has been added however still not seeing the pin on the map in Poland.

[2016-10-06 17:09] gholme4 commented on #570
@beccaklam I added the close icon.

[2016-10-06 17:16] #521 closed, assigned to nobody

[2016-10-06 17:26] ScottDowne commented on #454
FIxed this, and found a few other little nits in the copy that I fixed.

[2016-10-06 17:26] #454 closed, assigned to ScottDowne

[2016-10-06 17:40] beccaklam commented on #570
Thank you @gholme4 Just waiting on @valianttry to see what the issue is with the pop-up not localizing before closing the ticket.

CC: @lovegushwa

[2016-10-06 17:47] brettgaylor commented on #566
Hey @valianttry if these come in while you are dreaming the force let us know!

[2016-10-06 17:47] ScottDowne commented on #145
@valianttry I thought this was being reassigned?

[2016-10-06 17:49] lovegushwa commented on #563
@jendc123 ^

[2016-10-06 18:05] jendc123 commented on #563
@HPaulJohnson and @lovegushwa - I'm seeing the url in all tweets?
<img width="942" alt="capture" src="https://cloud.githubusercontent.com/assets/6034476/19164286/5647baca-8bcd-11e6-89d9-92259dfeb4d1.PNG">

[2016-10-06 18:23] lovegushwa commented on #563
@jendc123 thank you, we can close this.

[2016-10-06 18:32] brettgaylor commented on #459
Hey all - just playing wrangler here - Raegan has approved this, @shaghdoosti has indicated she doesn't need to approve.

So @HPaulJohnson , @lovegushwa , @KevZawacki looks like this is OK to submit to L10N as per #548

[2016-10-06 19:04] HPaulJohnson commented on #459
Everything but the stunt tweets are ready to localize. I'm chasing down Maura to see how she wants to update this language.

@brettgaylor Are we doing this via l10n or Kontextor?

[2016-10-06 19:15] beccaklam commented on #386
@lovegushwa @valianttry @stephaniemcv
https://redpen.io/p/udd5f886b8ac992340 <-- added new designs based on feedback

[2016-10-06 19:21] HPaulJohnson commented on #563
@lovegushwa @jendc123 I think you were QA'ing wrong site. This is an issue on makerparty.community. The screenshot above is from changecopyright.org.

Reopening.

[2016-10-06 19:52] jendc123 commented on #563
sorry about that @HPaulJohnson and @lovegushwa. I'll make the update shortly.

[2016-10-06 20:12] jendc123 commented on #563
@HPaulJohnson @lovegushwa this is #readyforreview.

[2016-10-06 20:14] jendc123 commented on #556
@valianttry and @brettgaylor - I've translated the word "updates" #readyforreview.

[2016-10-06 20:19] HPaulJohnson commented on #563
Looks good, @jendc123. Thank you. Closing.

[2016-10-06 20:19] #563 closed, assigned to nobody

[2016-10-06 21:15] valianttry commented on #485
For all of them: Including clicking on the URL in the emal -- it takes 3 clicks to actually get the video to play, which isn't ideal UX. You 1) click the link to open the petition page; 2) Click the red circle "play" button in the center; and 3) have to click the ">" arrow on the video box. Is there any way to simplify and set one of these to just "auto play"?

DE: Is "Hallo" correct German for "H

[2016-10-06 21:26] lovegushwa commented on #511
@natalieworth Hey Natalie just a few simple type tweaks:

use "fi" ligature
![screen shot 2016-10-06 at 9 34 49 am](https://cloud.githubusercontent.com/assets/12228435/19171138/209ea426-8bd0-11e6-8910-ab2abf7a59fe.png)

Use real apostrophe, not foot mark in "Commission's"
Seems like a word break after "the commissions" might push "needs" down a line, and look better.

![screen shot 2016-10-06 at 9

[2016-10-06 21:45] Melechuga opened #573 "[MozFest] Hi-res/Vector files of PostCrimes Images"
**Detailed description of work:**
One activity proposed for Maker Party @ MozFest is to have participants take photos of themselves with IRL cutouts of the images from PostCrimes. I will ask professional printers to make life-size cardboard cutouts of the images. Can you please share hi-res or vector files of the PostCrimes images?
- [Eiffel Tower](http://core0.staticworld.net/images/article/2016/

[2016-10-06 21:58] Melechuga opened #574 "[MozFest] Meme designs for buttons"
**Detailed description of work:**
We are providing a space for participants to make buttons/pins at MozFest. Since our copyright campaign incorporates memes, we'd like to provide meme-based designs for our participants to create their own buttons. Example ideas:
- Black/white outlines of popular memes like doge, philosraptor, etc so that people can color them
- Full color memes with phrases like "

[2016-10-06 23:31] stephaniemcv commented on #485
UX: Mine is playing in two clicks, I can't replicate the ">" in the video box. And I don't think this can be fixed in email.

Greetings: All updated to correct language.

Putting the kibosh on the PL email, currently we don't have a PL version video.

[2016-10-06 23:32] valianttry commented on #485
all good! No new tests needed. Approved.

[2016-10-06 23:32] #485 closed, assigned to stephaniemcv

[2016-10-06 23:32] valianttry commented on #485
all good! No new tests needed. Approved.

[2016-10-06 23:45] brettgaylor commented on #573
I've asked these from the agency that built the site

[2016-10-06 23:46] brettgaylor commented on #574
I feel like we've bought a button maker before...I think it was left somewhere cuz its heavy and expensive to ship?

[2016-10-07 03:42] chrislarry33 commented on #574
We have one in Brooklyn Office, should we ship/bring to MozFest?

[2016-10-07 06:05] valianttry commented on #406
Duplicate of #247 so closing this one.

[2016-10-07 06:05] #406 closed, assigned to stephaniemcv

[2016-10-07 06:28] valianttry opened #575 "Create metrics dashboard for fundraising"
Detailed description of work:
The team will need a metrics dashboard for tracking key performance KPIs during the campaign. This can be similar to the Copyright Campaign dashboard:
https://datastudio.google.com/#/org/Ra9O2QIYT8We-1pOmnS_6w/reporting/0B5UMbl9u1_wQRnZOU0pYc1FPSWs/page/b9e

Is it possible for this dashboard's charts to be embedded in blog posts, or shared publicly outside of Google S

[2016-10-07 06:30] valianttry commented on #575
Here's a starter list of KPIs for the campaign:
- Raise a total of $4 million USD total by December 31, 2016
- Increase conversion rates in priority locales
- Increase the overall proportion of donations from outside the United States
- Increase email list optin rate
- Improve welcome email experience
- Increase giving by email by leveraging dynamic content and donor history data

Improve donor nu

[2016-10-07 15:15] vojtechsedlak commented on #575
I have been already working on a basic MoFo fundraising dashboard [here](https://datastudio.google.com/#/org/Ra9O2QIYT8We-1pOmnS_6w/reporting/0B5UMbl9u1_wQNF9TWUFPWm1EWUU/page/Aao). I will expand it to include the metrics and objectives you highlighted above.

As for embedding the charts elsewhere, we can always insert them as images, which is easy. If we want them to be interactive, we can recrea

[2016-10-07 15:54] vojtechsedlak opened #576 "v2.5 petition QA: Country records seem to be getting overwritten overnight"
I'm seeing very odd behavior in NB that seems to be affecting data integrity. I have been exporting data every morning for the previous day to get a sense of new signatures and for the last two days breaking the new signatures by country shows that all signatures came from Spain or United States, with US as the country for over 90% of signatures. That does not make sense given the traffic patterns

[2016-10-07 16:18] jendc123 commented on #576
Hi @vojtechmzl we are reaching out to Nationbuilder to try and figure this out.

[2016-10-07 16:32] brettgaylor commented on #549
@jendc123 @gholme4 we have most of these translations completed, and would like to be able to feature the main header video in Dutch, Czech, Italian and Polish

It would require a JS file and some custom HTML per language - is that possible with the lightbox plugin?

Details of embedding are here:
https://github.com/pculture/unisubs/wiki/Embed-Code-Usage-Guide

[2016-10-07 16:36] stephaniemcv commented on #534
Per @shaghdoosti "I think they're very different emails to very diferent list segments". I'm making to call to remove this email from Advocacy's calendar. Thank you everyone for your discussion and input!

[2016-10-07 16:50] Melechuga commented on #574
@chrislarry33 Oh nice! Yea, if it's not too much of a hassle. What size is it (the diameter of the button)? The one I was going to get is a hand-push button maker and is pretty small/light. Button diameter is 2.25"

[2016-10-07 16:56] #534 closed, assigned to stephaniemcv

[2016-10-07 17:07] valianttry commented on #548
@HPaulJohnson I'll help you submit this to Kontextor as soon as you're ready. They can turnaround in 24 - 48 hrs with heads up.

[2016-10-07 17:10] valianttry commented on #459
I can help you submit this to Kontextor Paul!

[2016-10-07 19:59] HPaulJohnson commented on #459
These are approved and ready for localization. Final copy here:

https://docs.google.com/document/d/1AqwFLAogCRQxmjiAA6_DFmgfD4OqtHztpYR-UaGisU8/edit?ts=57eecf41

[2016-10-07 19:59] #459 closed, assigned to HPaulJohnson

[2016-10-07 19:59] HPaulJohnson commented on #548
@valianttry these are ready for Kontextor. Final copy here:

https://docs.google.com/document/d/1AqwFLAogCRQxmjiAA6_DFmgfD4OqtHztpYR-UaGisU8/edit?ts=57eecf41

[2016-10-07 21:02] valianttry commented on #576
Flagged for Dana. She replied:

Hi Andrea,

Happy to help escalate. I'm looping in the Frontline Support team and alerting the Frontline Supervisors, Abe and Lindsey, of the issue so that they can investigate asap.

More soon,
Dana

[2016-10-07 21:06] valianttry commented on #546
I submitted the phrase to Kontextor for localization. Will update this ticket when she gets back with the translations!

[2016-10-08 23:01] valianttry commented on #576
The error is on our end. Now that it's the weekend unclear how to fix it. Response from NB Help:

Hey Jennifer,

I think we found the problem. In running tests on your petition form, we're noticing that all signatures have a postal code of 10001. Postal code 10001 aligns to New York, NY on a geocode. However, in order for that postal code to be appended, it has to have come from somewhere. Therefo

[2016-10-09 14:34] jendc123 commented on #576
Can we strip out NY, NY and still not require folks to enter a zipcode when
they sign a petition?

On Sat, Oct 8, 2016 at 7:01 PM, Andrea Wood <notifications@github.com>
wrote:

--
Jennifer OReilly Mott
VP, Account Management | Fission Strategy

skype: jenoreillymott

twitter: @ <http://www.twitter.com/fissionstrategy>jenoreilly

jennifer*@fissionstrategy.com <http://fissionstrategy.com>*

[2016-10-10 04:56] natalieworth commented on #511
@KevZawacki @brettgaylor Final files for these have been exported and added to the drive document (at the bottom of the page under 'Rapid Response Video 2':
https://docs.google.com/spreadsheets/d/1rmqeIJq1vMDFsI0sicu7XdVwkLDur-rerTPb3rjFyko/edit#gid=0

[2016-10-10 05:37] lovegushwa commented on #545
@gholme4 legal asked us to add this cookie icon:
https://drive.google.com/file/d/0B2qu3ExKWIlvOTZMRVpwMUpfeWc/view?usp=sharing

You can link it to this page: https://www.mozilla.org/privacy/websites/#cookies

<img width="794" alt="screen shot 2016-10-09 at 10 30 04 pm" src="https://cloud.githubusercontent.com/assets/12228435/19227578/b3decf20-8e70-11e6-8852-ed792743f549.png">

[2016-10-10 05:45] lovegushwa commented on #461
@gholme4 please replace the "Medium" icon with "code of conduct:"
https://drive.google.com/file/d/0B2qu3ExKWIlvSHhMTElscGlnY0k/view?usp=sharing

Should like to here:
https://www.mozilla.org/about/governance/policies/participation/

<img width="794" alt="screen shot 2016-10-09 at 10 42 32 pm" src="https://cloud.githubusercontent.com/assets/12228435/19227681/c645a28c-8e71-11e6-8bbc-2fd454a59e4e.png"

[2016-10-10 14:49] KevZawacki commented on #511
Thanks, @natalieworth.

@brettgaylor @HPaulJohnson, getting these up on social now.

[2016-10-10 17:26] lovegushwa commented on #573
@beccaklam once the illustrations come in from Young Astronauts, We're looking to have something like this made, @Melechuga is arranging a printer and I can help you figure out how to set up the files for print.

![1](https://cloud.githubusercontent.com/assets/12228435/19245030/ed1acff6-8ed3-11e6-87cf-ddee2ccb25c1.png)

[2016-10-10 18:22] geroter opened #577 "Social share insn't working on Maker Party events site"
https://www.makerparty.community/mtuohy45/be_a_cczero_hero

Nothing happens when I click the social share button with only Twitter selected after I confirm my attendance.

@valianttry and @shaghdoosti

[2016-10-10 19:05] valianttry commented on #577
This worked fine for me in Chrome:

![andrea_wood___valiant____twitter](https://cloud.githubusercontent.com/assets/9830371/19247838/d12b81ce-8ee1-11e6-811c-11903dc635f1.png)

[2016-10-10 19:11] shaghdoosti commented on #577
I tried this too in Chrome when I got to here I pressed post. First time it went to an error page, second time it didn't do anything:

<img width="1091" alt="screen shot 2016-10-10 at 12 09 57 pm" src="https://cloud.githubusercontent.com/assets/13626384/19248046/a5025d7e-8ee2-11e6-9060-7ce8808b34f3.png">

[2016-10-10 19:14] valianttry commented on #577
It's possible this is related to:
https://github.com/MozillaFoundation/Advocacy/issues/460#issuecomment-250578401

And only impacts control panel users. @gholme4 can you help confirm?

[2016-10-10 19:31] Melechuga commented on #574
@beccaklam Thank you! I found an example with the Jean Luc Picard facepalm:
![](https://img1.etsystatic.com/111/0/12086792/il_214x170.1057660261_o4us.jpg)

Can we do this with doge and other memes?

[2016-10-10 21:43] valianttry commented on #489
PL:
all links (images and text) work correctly.
Looks like we're using a regular dash but we normally use em dash that's a big longer... not a huge blocker if it takes a lot of work to fix across all emails, but just pointing this out:
![_test_pl_html_75_000_zwolennikow_ _czas_na_impreze__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/19252115/d05

[2016-10-10 21:51] valianttry commented on #489
EN:
- I noticed when I click the header image the link sends me to the makerparty.community URL and the tracking seems to get lost. The link location when i copy is: https://click.e.mozilla.org/?qs=02fa2b4ceef354ec65b8c9007cefea01b94957ebaeb5acdb88fca672ba031aad0d0b06432107bd89
- The tracking seems to be correct for text link no 1: https://www.makerparty.community/?locale=en&utm_campaign=makerpart

[2016-10-10 22:05] valianttry commented on #489
FR:
- The header image URL seems to be missing tracking parameters: https://www.makerparty.community/?locale=fr
- The tracking parames seem correct on the 2 text links in the email: https://www.makerparty.community/?locale=fr&utm_campaign=makerparty&utm_source=newsletter-mofo&utm_medium=email&utm_content=text2&utm_term=398658

This is APPROVED and I don't need to see a new test for the URL fixes.

[2016-10-10 22:12] valianttry commented on #489
ES:
- Header image URL is missing tracking parameters
- Text link 1 has tracking: https://www.makerparty.community/?locale=es&utm_campaign=makerparty&utm_source=newsletter-mofo&utm_medium=email&utm_content=text1&utm_term=398662
- Text link 2 also has tracking: https://www.makerparty.community/?locale=es&utm_campaign=makerparty&utm_source=newsletter-mofo&utm_medium=email&utm_content=text2&utm_term=

[2016-10-10 22:16] valianttry commented on #489
DE:
- No tracking on header image URL
- Text link 1 looks correct: https://www.makerparty.community/?locale=de&utm_campaign=makerparty&utm_source=newsletter-mofo&utm_medium=email&utm_content=text1&utm_term=398655
- Text link 2 looks correct: https://www.makerparty.community/?locale=de&utm_campaign=makerparty&utm_source=newsletter-mofo&utm_medium=email&utm_content=text2&utm_term=398655

This is APP

[2016-10-10 22:54] cristina-moon commented on #530
[Email draft is here!](https://docs.google.com/document/d/141_asVQYWU6F2-Zj3hhbhO9UmOWoP3hKbCzM2ubXuj4/edit?usp=sharing) Ready for feedback and edits from @valianttry and @shaghdoosti.

@stephaniemcv question for you: Are we able to use standard or custom fields in callouts or subject lines?

[2016-10-11 02:19] gholme4 commented on #577
@valianttry I don't believe these errors are related because the same thing doesn't happen to all users with control panel access. We have little or no control over what happens after a user clicks that "Post" button. I have sent NB support an email about these problems.

[2016-10-11 03:44] gholme4 commented on #461
@lovegushwa @valianttry #readyforreview

[2016-10-11 03:44] gholme4 commented on #545
@lovegushwa @valianttry #readyforreview

[2016-10-11 04:37] valianttry commented on #545
I reviewed on Maker Party -- it's approved and looks great there.

@gholme4 one edit to the footer on the petition pages:

"Contact Us" should point to makerparty@mozillafoundation.org

[2016-10-11 04:40] valianttry commented on #545
I also sent an email to makerparty@mozillafoundation.org . @stephaniemcv can you check to see if it comes through to Desk.com?

[2016-10-11 04:43] valianttry commented on #545
@stephaniemcv I got the autoreply so it looks as though the email is working correctly:

![hey__read_me_stephanie_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/19259028/8ea1d30c-8f32-11e6-84e3-f766acab0a17.png)

[2016-10-11 04:50] valianttry commented on #565
The survey was set up in SurveyGizmo here:
http://www.surveygizmo.com/s3/3095377/e30b0c675d33

This can provide context for localization.

[2016-10-11 05:04] valianttry commented on #546
Kontextor provided translations:

DE: Machen Sie mit
ES: Muestra tu apoyo
FR: Affichez votre soutien
PL: Pokaż Twoje wsparcie (if too long use: Wesprzyj nas)
IT:  Mostra il tuo sostegno
BG: Покажи подкрепата си
NL: Toon je support
CS: Podpořte nás
EN-GB: Show your support

CC: @vojtechmzl and @gholme4  and @HPaulJohnson

[2016-10-11 05:09] valianttry commented on #566
@ScottDowne these are completed. They're in the tab "Resources MISSING" in this spreadsheet:
https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=797834410

Can you close this when you update them @ScottDowne ?

[2016-10-11 05:12] valianttry commented on #524
QA for data passthrough is tracked in this spreadsheet:
https://docs.google.com/spreadsheets/d/106zfqsmCKmovmSDHvoqvHFCZuE8zG-BKbWZNewZM3xY/edit#gid=1915745399

[2016-10-11 05:13] valianttry commented on #572
@gholme4 any ideas?

[2016-10-11 05:16] valianttry commented on #145
Closing this ticket. L10N work is being tracked now in #565

[2016-10-11 05:16] #145 closed, assigned to ScottDowne

[2016-10-11 05:33] valianttry opened #578 "Maker Party: Triggered RSVP email says "Events event""
Detailed description of work:

After I RSVP, the email I receive in my inbox has some odd copy. A sentence makes no sense. See below. Perhaps "Events" is supposed to say "Maker Party" so that it would say "Thank you for your RSVP for a Maker Party event."

![rsvp_confirmation_for_test_mctest_test_event_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/19259763/5232f4

[2016-10-11 05:37] valianttry commented on #578
Here's the host email:

![thank_you_for_hosting_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/19259857/1df559c8-8f3a-11e6-8724-e113319c6569.png)

[2016-10-11 13:45] KevZawacki commented on #247
Hi @valianttry, checking in -- anything I can do to help move this forward?

[2016-10-11 14:09] beccaklam commented on #574
@Melechuga Yup!

[2016-10-11 15:42] stephaniemcv opened #579 "Maker Party Create Event/Log in Page only partially localizing"
Detailed description of work: Chrome incognito, ES, none of the fields on the form localized.

_Start date: October 11, 2016_
_Due date: October 11, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.
![10_10_es-not-localized](https://cloud.githubusercontent.com/assets/11812272/19277453/9d53ea1e-8f8e-11e6-928a-bc8d339e446e.jpg)

CC:

[2016-10-11 15:52] valianttry commented on #567
Instructions from Dana at NB:

I apologize for causing confusion. You can in fact customize the template email autoresponses at scale by changing it on the theme level.

You can see all the email autoresponses that you can customize here: https://mozillafoundation.nationbuilder.com/admin/sites/3/themes/57d060d575dd2f9c1e000001/attachments/autoresponse_templates?browser_id=default

It sounds like t

[2016-10-11 15:55] valianttry commented on #577
@shaghdoosti and @geroter can you please report what browser / OS you were using? (Please include these details anytime you report a bug, thanks!)

NB support answer:

[2016-10-11 16:38] gholme4 commented on #545
@valianttry I updated the petition contact us link.

[2016-10-11 16:43] TheoChevalier commented on #545
Here are the translations for “Cookies”, pulled from the footer of mozilla.org pages:
https://transvision.mozfr.org/string/?entity=mozilla_org/main.lang:3d8e1b5f&repo=mozilla_org
We can safely reuse those translations as the context is the same.

If it’s more convenient, a JSON file is available here https://transvision.mozfr.org/api/v1/entity/mozilla_org/?id=mozilla_org/main.lang:3d8e1b5f

Feel f

[2016-10-11 17:29] jendc123 commented on #576
@vojtechmzl @valianttry - We have removed the zip code (from a test site) but the country is not saving when processing the petition.  We created a test user, John William [(
![john william country](https://cloud.githubusercontent.com/assets/6034476/19281040/414aa97e-8fb6-11e6-99d3-9ac8c159cdf2.png) and when you look for him in Nationbuilder no country is saved -
https://mozillafoundationstaging-m

[2016-10-11 18:42] jendc123 commented on #576
@vojtechmzl and @valianttry - We have added a postal code field to our test site [https://petitionv25-mozillafoundation.nationbuilder.com/] and now the country is saving.  Do we have translations for postal code?

Test submissions:

[https://mozillafoundationstaging-mozillafoundation.nationbuilder.com/admin/signups/95647/addresses/user_submitted]

[https://mozillafoundationstaging-mozillafoundatio

[2016-10-11 19:15] TheoChevalier commented on #576
So, I couldn’t find the _exact_ copy in our existing translations, but here are the translations of “ZIP/Postal code:” (which in many locales, translates as Postal code anyway):

https://transvision.mozfr.org/string/?entity=mail/chrome/messenger/addressbook/abCardOverlay.dtd:HomeZipCode.label&repo=release

All of our locales should be covered. You may want to manually remove the extra “:“ on each

[2016-10-11 19:30] beccaklam commented on #574
Hi @Melechuga  Before these get started can you okay this list of memes? Just want to make sure these are the kinds of memes you were hoping for. Most of them are pulled from the meme-jail video: https://docs.google.com/a/mozilla.com/document/d/1H5HK7af8XxatmSsHW-aYWCFqPpEGoWGTRl8XCxjETTM/edit?usp=sharing

CC: @lovegushwa @natalieworth

[2016-10-11 19:58] TheoChevalier commented on #565
Deadline for translations is October 31.
Required locales are: bg, cs, de, es, fr, it, nl, pl

I’ll start extracting the strings and expose them on Pontoon

[2016-10-11 20:12] Melechuga commented on #574
Hey @beccaklam Thanks for making a list! We're going to have grumpy cat masks, so maybe we don't need the pins. I know the Arthur (fist) meme, but is there a way we can do something more positive/less aggressive? How about 2 of the 3 below:
[Success kid](http://static2.businessinsider.com/image/56e3189152bcd0320c8b5cf7-480/sammy-griner-success-kid-meme.jpg)
[Queen of England](http://cdn.images.exp

[2016-10-11 20:35] ScottDowne commented on #566
Done.

[2016-10-11 20:35] #566 closed, assigned to ScottDowne

[2016-10-11 20:58] TheoChevalier commented on #565
We actually need the data extracted from SurveyGizmo (with the exact key names used internally) before we can expose the strings.

[2016-10-11 22:25] valianttry opened #580 "Map is disappearing --- eeek"
Detailed description of work:
In Chrome Incognito tab i open Maker Party, changed the language from EN > IT, and the map showed up but then disappeared. It looks like this:

![cursor_and_mozilla_maker_party__riformiamo_la_legge_sul_copyright](https://cloud.githubusercontent.com/assets/9830371/19290880/a0d4fb8c-8fc6-11e6-83f1-a9c1a77a58a3.png)

_Start date: October 11, 2016_
_Due date: October 12,

[2016-10-11 22:49] stephaniemcv opened #581 "Checkbox Alert not localized or appearing correctly"
Detailed description of work: Windows, Chrome incognito, ES
Tried to RSVP for an event and did not check the box. Could not see the alert asking me to check the box to continue until I zoomed way out. Also, alert is not localized into ES

![10-11-16-checkbox-alert-es-wrong](https://cloud.githubusercontent.com/assets/11812272/19291495/6a1a0b06-8fca-11e6-84e7-b6792f54fd12.jpg)

_Start date: October

[2016-10-12 03:37] geroter commented on #577
Windows 10
Firefox Developer Edition 32bit - 51.0a2

[2016-10-12 05:04] valianttry commented on #580
related to #128 ?

[2016-10-12 05:18] valianttry commented on #545
hi @gholme4 apologies for some confusion.

I believe the footer should not have a "join the conversation" link. It should be replaced by a "code of conduct" link. It should match what you see in this comment:
https://github.com/MozillaFoundation/Advocacy/issues/461#issuecomment-252541087

[2016-10-12 05:20] valianttry commented on #545
@TheoChevalier if you get your bablic login, this is a great first edit to start to get to know it as a user. If you get your bablic login, let me know I can give you a quick tutorial. It's pretty straightforward.

[2016-10-12 13:04] jendc123 commented on #572
Hi @valianttry and @ldecoursy when I  add in the address I copied from the Poland Foundation website

Fundacja Nowoczesna Polska
ul. Marszałkowska 84/92 lok. 125
00-514 Warszawa

We are able to get an exact match in Nationbuilder.  Can you confirm this is the correct address?
<img width="736" alt="poland" src="https://cloud.githubusercontent.com/assets/6034476/19311073/d5f5c8ca-905a-11e6-8bd0-8a77

[2016-10-12 13:05] jendc123 commented on #580
@valianttry and @gholme4 - I've sent a note to help to ask about API calls.

[2016-10-12 13:24] #360 closed, assigned to ScottDowne

[2016-10-12 13:34] ldecoursy commented on #572
Hi @jendc123 That's the address for the organization that is hosting the event, but that's not where the event will be. It's at Kinoteka Multiplex: Palace of Culture and Science, plac Defilad 1, 00-901 Warszawa I can't seem to find another address for it though...

[2016-10-12 13:37] jendc123 commented on #572
@ldecoursy - I believe the issue is having "Kinoteka Multiplex:" before Palace of Culture and Science.
<img width="736" alt="poland 2" src="https://cloud.githubusercontent.com/assets/6034476/19312220/7a58fe06-905f-11e6-9cba-545f62e8b63b.PNG">

[2016-10-12 13:42] ldecoursy commented on #572
OK I think that should work. Thanks for your help!

[2016-10-12 14:09] ScottDowne commented on #363
@vojtechmzl how likely is it that we could run this test soon?

[2016-10-12 14:29] TheoChevalier commented on #545
@valianttry Sure, I’d like to give it a look, but I still have not received my account atm.

[2016-10-12 14:34] valianttry commented on #524
From @drewmoto the final outcome from QA:

Hi Andrea et al.,

We finished the majority of the test cases yesterday which I think gave us a good representation of where we are at with the functionality of the tool currently. Unfortunately, most of the test cases failed in some form or another. Some of them were localization issues and languages not being captured correctly in Salesforce. They were

[2016-10-12 15:01] valianttry commented on #580
I also escalated this with Dana, it's serious since we are going to start to send more traffic today.

[2016-10-12 15:24] stephaniemcv commented on #545
@valianttry
Tis working. I see it under the Maker Party Inbox in Desk.com

[2016-10-12 15:42] zhelding commented on #565
Dropping translation export here for convenience.

[Attendee Survey Translation Export.xlsx](https://github.com/MozillaFoundation/Advocacy/files/524978/Attendee.Survey.Translation.Export.xlsx)

[2016-10-12 15:51] gholme4 commented on #579
@stephaniemcv @valianttry There is no bug here. These strings need to be translated in Bablic.

[2016-10-12 16:16] gholme4 commented on #545
@valianttry I replaced the Join the conversation link with Code of Conduct.

[2016-10-12 16:18] valianttry commented on #579
@TheoChevalier can you help? I believe the spreadsheet we have for kontextor has the translations here in the "Maker Party MISSING" tab:
https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=1686088055

[2016-10-12 16:46] lovegushwa commented on #70
@ScottDowne @vojtechmzl
Here is the heart icon for the test:
https://drive.google.com/file/d/0B2qu3ExKWIlvWFJNR3hScWFRamM/view?usp=sharing

[2016-10-12 16:52] Melechuga opened #582 "[MozFest] Space Design"
Detailed description of work:
MozFest is happening in 16 days! All of the sessions are chosen, and we know we'll be in the 4th floor library. I need help with designing the actual space, though I have some ideas. This space represents our Policy and Advocacy work both around copyright and mobilization. Whoever takes this on has plenty of creative license, but know that there's a time crunch. We wi

[2016-10-12 17:12] ScottDowne commented on #564
@lovegushwa or @beccaklam thoughts around design?

Regarding localization, it's possible having a single english form for all languages isn't that bad, but if it is, we can enable it for just English, or localize the form.

@LucyeoH Thoughts?

[2016-10-12 17:13] LucyeoH-zz commented on #564
I think that the vast majority of our EU hosts are going to be okay submitting the form in English but if for consistency it needs to be translated we're okay with the related delay.

[2016-10-12 17:31] TheoChevalier commented on #579
Looks like we also need to push a lot of strings from here https://github.com/mozilla/advocacy.mozilla.org/blob/master/locales/en-US/copyright-petition.properties#L52-L97
 I’m not sure what’s the most reliable way of catching all the strings that need to be updated (for instance, error messages). I’m afraid it means digging the code

[2016-10-12 17:55] TheoChevalier commented on #565
Thanks, that’s exactly what I needed. I extracted the strings and their key, but I first need to fix a bug in our extraction script (nothing related to this request, just a technical issue)

[2016-10-12 19:21] peiying2 commented on #579
There are two pieces from what I understand: one got mixed up with the petition text like you mentioned here. This should have been split into two separate components.

Another is under "Learning Network"  https://pontoon.mozilla.org/de/mozilla-learning-network/Event%20Resources/

[2016-10-12 20:44] beccaklam commented on #564
@ScottDowne @LucyeoH What feedback do you need around design? Do you mean design of the form or how we would add the sticker order link? Also, what do the stickers look like? Are they like the buttons?
<img width="213" alt="screen shot 2016-10-12 at 4 47 32 pm" src="https://cloud.githubusercontent.com/assets/20977376/19327043/2717cf06-909b-11e6-97d3-030de6f7cf87.png">
cc: @lovegushwa

[2016-10-12 20:56] ScottDowne commented on #564
Yeah, I need to know where to add the button and what it should look like. If it should even be a button? Looks like the form itself is done.

This sounds really open ended, actually. It sounds like the real issue is "we have this form, and we need to put it somewhere. The events page seems pretty good?" So one thing I think we should challenge is if the events page actually the best place for thi

[2016-10-12 20:59] ScottDowne commented on #564
I'm thinking a separate section for sticker order on https://learning.mozilla.org/en-US/events/resources a link or button, that takes you to the order form makes the most sense. For now it would only be visible in en-US. We can then see how many people use it, and how many request it to be localized.

As I get localized forms, I can enable it for more languages.

[2016-10-12 22:56] valianttry commented on #580
This appears to be fixed. Closing.

[2016-10-12 22:56] #580 closed, assigned to gholme4

[2016-10-12 23:02] stephaniemcv opened #583 "Maker Party: Phone Number appears to be required"
Detailed description of work: Event creation form, phone number field has an \* next to it. You don't have to actually fill in the field to progress, but it LOOKS like it is requred.

_Start date: October 10, 2016_
_Due date: October 11
![phone-number-not-required](https://cloud.githubusercontent.com/assets/11812272/19330767/34b6ee2c-9095-11e6-9a45-58ff411747ba.jpg)
, 2016_
Note: The dates need to

[2016-10-12 23:06] stephaniemcv opened #584 "Maker Party: Venue Zip has * to be required, but not actually required"
Detailed description of work: I was able to make an event with no venue Postal code

![venue-zip-required-but-not-enforced](https://cloud.githubusercontent.com/assets/11812272/19330868/d9844a1c-9095-11e6-9309-efd9fd5641b0.png)

![zip-not-required](https://cloud.githubusercontent.com/assets/11812272/19330875/e3615232-9095-11e6-9a3c-4cdd19344475.jpg)

_Start date: October 12, 2016_
*Due date: Octobe

[2016-10-13 15:06] vojtechsedlak commented on #576
Do we have any update on this @jendc123? The issue seems to still persist on the production site and we now have six days worth of records with skewed country fields. Thanks!

[2016-10-13 16:26] TheoChevalier commented on #579
https://makerevents-mozillafoundation.nationbuilder.com/forms/user_sessions/new?locale=fr -> After checking with Zuzanna, Peiying and Andrea, it seems we don’t have the translations, and that the strings in the screenshots below are missing from Bablic (searching from the Text editor returns nothing).
I’m pinging Jennifer to see if something can be done in NB

![capture d ecran 2016-10-13 a 17 15

[2016-10-13 16:33] beccaklam commented on #574
Hi @Melechuga here is the redpen with the buttons so far. I'm also hoping to make some more typography-driven ones :) https://redpen.io/p/hea17c8fb9339419fe
I also printed the buttons out and the size seems good enough (the queen and success kid are a bit small but still colour-able):
![img_6526](https://cloud.githubusercontent.com/assets/20977376/19357774/0a200e58-9141-11e6-80dd-c617f7908c80.JPG)

[2016-10-13 16:39] Melechuga commented on #574
Hahaha AWESOME!! No worries about Grumpy Cat; it's perfect. You totally have creative license with this; feel free to do whatever you think is best and fun. Thanks!

[2016-10-13 17:13] jendc123 commented on #576
@vojtechmzl we have removed the suppressed zip code and have added a zip code field to the petition.   This should eliminate any issues with the data.

[2016-10-13 17:51] jendc123 commented on #579
Hi @TheoChevalier - we have added all these fields so you can now edit via Bablic.  To access the fields you will need to use the text editor vs. the visual editor.  Go to the MakerParty visual editor > options (it's the gear next to the publish button) > text editor and then you can find the strings.

[2016-10-13 17:55] valianttry opened #585 "Discussion: Should we test cloning a single petition page for each locale to improve page load time?"
Detailed description of work:
Page load times are killing conversion and costing us $$. Bablic seems to be the primary culprit. Can we clone a separate petition for each language to speed up load time?

I suggest we test this theory with German, and gauge the work / reward.

CC: @jendc123 @gholme4 @HPaulJohnson

[2016-10-13 18:00] TheoChevalier commented on #579
@jendc123  Awesome, thanks! I can see new strings. I’ll let Kontextor know that they can translate and push the strings :)

[2016-10-13 18:36] jendc123 commented on #585
Hi @valianttry - We can get a working site up in 3-4 hours so it would not be a heavy lift on our end.  Would we hold data in Nationbuilder or would it need to be passed through to Salesforce?

[2016-10-13 18:40] valianttry commented on #585
@jendc123 for the test I think it's fine to hold the data in NB as long as we can push it through eventually. But yes I think ultimately we would want the data to pass through to SF if we decide to move forward and build individual page per locale. The test probably doesn't need to run that long depending on traffic. (cc: @vojtechmzl so he can weigh in on any other implications for this test).

Al

[2016-10-13 18:43] #572 closed, assigned to nobody

[2016-10-13 18:45] jendc123 commented on #585
@valianttry - the mock-up was in German [https://redpen.io/bh9e2c7a6d82f9f458] so for this one we wouldn't have to worry about translations. If we were to convert other languages we will have to brainstorm on the best way forward.

[2016-10-13 18:50] valianttry commented on #585
ok -- just note that we may have made minor updates in Bablic to the German since that mockup was made. We should definitely QA to make certain it's all correct before launching.

[2016-10-13 18:50] brettgaylor commented on #585
Hello!

German may not actually be the best market for this test, as we've been running there already and are starting to see content fatigue.  We'd probably want to use a market that we haven't run in yet, such as Spanish - @HPaulJohnson could say for sure.

Even within that mockup there are lots of subtle places where english is used - with all of the shuffle, do we have a master source of truth

[2016-10-13 18:51] valianttry commented on #585
cc @TheoChevalier

[2016-10-13 19:11] vojtechsedlak commented on #585
From testing perspective, all we would need is two URLs to split the target traffic in between, which can be set up through Optimizely. Would the domain of the test version change from changecopyright.org or would it live on its subdomain?

[2016-10-13 19:17] brettgaylor commented on #585
Do we need to actually test this?  Wouldn't we immediately know the page load time?

[2016-10-13 19:32] HPaulJohnson commented on #585
+1 one to the idea of testing this which shouldn't be hard with 2 URL's. We'd be able to quantify impact of speed on conversion which should help inform future tech discussions/decisions.

[2016-10-13 19:58] brettgaylor commented on #585
Got it!  I stand corrected.  @HPaulJohnson which locale do you think we should perform this test with?

[2016-10-13 20:14] HPaulJohnson commented on #585
@brettgaylor I like the idea of doing it with a fresh audience too, so Spanish would be great given we already content localized for that.

[2016-10-13 20:32] LucyeoH-zz commented on #564
Copy for this:

Planning a Maker Party in the EU? Order stickers for your event here.

[2016-10-13 20:35] TheoChevalier commented on #565
Translation has started, progress can be tracked here:
https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=surveys/survey_maker_party_2016.lang

Announcement to localizers: https://groups.google.com/d/msg/mozilla.dev.l10n.web/Qpp9NXd4BZs/_nCPEPhxEQAJ

[2016-10-13 21:06] TheoChevalier commented on #565
@zhelding Hey Zoe, one of our localizer is asking a question that I think you can answer:
“I see some open questions there, who will read the answers in all those languages? Are they going to be machine translated or is it meant as a feedback for the hosts? ”

[2016-10-14 04:59] valianttry opened #586 "Review and update the donor FAQ and Ways to Give content"
Detailed description of work:

**Refresh the text of the current FAQ to reflect:**
- any changes in systems, processes, or offerings that we need donors to know. We will need Alexei, Pamela, and Angela to help with this review.
- New questions or requests from the past year that appear frequently enough in Desk.com cases to add here

**Localize the updated FAQ into priority locales, this means we

[2016-10-14 05:04] valianttry commented on #394
Working on updating the text here:
#586

[2016-10-14 05:14] valianttry commented on #407
@stephaniemcv this might be a dupe of #247

[2016-10-14 05:44] valianttry commented on #247
hi @KevZawacki ! Wow the 2.0 is really a leap forward. Thank you for that great work! I added a few comments and such in the doc. Overall I would just say that we should make a donor the hero of our story (not the person who funds Mozilla, the hero). Does that make sense? I did a little "active voice" and tightening, but mostly left it. It's great.

@caltrider was asking how she might be able to h

[2016-10-14 11:32] TheoChevalier opened #587 "Meme Around activity is called Meme School on MLN"
Detailed description of work:

“Meme School“ on this page https://learning.mozilla.org/en-US/events/resources links to the “Meme Around” activity here https://advocacy.mozilla.org/en-US/maker-party/activities/meme-around
We need a single name for localization, and I suppose “Meme Around” is the final name.
I think “Meme School“ is only used here and in the survey. Not sure who owns MLN copy.

@Sco

[2016-10-14 14:36] ScottDowne commented on #564
@LucyeoH test branch here: https://learning-mozilla-org-s-pr-2341.herokuapp.com/en-US/events/resources

Waiting on review.

[2016-10-14 14:57] ScottDowne commented on #587
For en-US strings, we update it directly in the .properties file, here is the string in question: https://github.com/mozilla/learning.mozilla.org/blob/master/locales/en-US/event-resources.properties#L4

I suspect the name changed late in the game, from a copy point of view, and it wasn't pushed out to any of the old usages of the name. "Meme Around" is the newest and probably the correct one.

I d

[2016-10-14 15:25] TheoChevalier commented on #587
Thanks @ScottDowne, for one second I thought we had to add the string to locale files, but of course we don’t, Pontoon will do it.
I will take care of the survey, no worries. It was mostly to check if we were okay with the change.

[2016-10-14 16:19] vojtechsedlak commented on #576
Thanks for the fix @jendc123! I just checked yesterday's data and things are back to normal.

[2016-10-14 16:19] #576 closed, assigned to nobody

[2016-10-14 19:12] ScottDowne opened #588 "What's the current status of signup snippet?"
I was just kicking the tires, and this is what I found, and what I still need to test.
It looks roughly like this without a `video_url` set
![test-no-vid](https://cloud.githubusercontent.com/assets/197334/19399417/6b3cdcaa-921f-11e6-982f-6ecff9f66441.png)
This is it with a `video_url` set
![with-video](https://cloud.githubusercontent.com/assets/197334/19399431/7766fcc2-921f-11e6-8708-6568c17e2b6b.

[2016-10-14 19:13] ScottDowne commented on #588
cc @valianttry or @stephaniemcv

I'll let you cc any more needed people from here.

[2016-10-14 19:16] beccaklam commented on #573
Hi @Melechuga here are the high res files we discussed. They are made to be four feet tall.
https://drive.google.com/drive/folders/0BzuBOR2VJQqUeFQ4aEpVUU5YWEk?usp=sharing Let me know if you need a different file format. Also, you might need to let the printers know the die cut is on its own layer.

CC: @lovegushwa

[2016-10-14 19:57] jkt230 commented on #588
Here are my notes with my conversation with the Product UX team:
- The video piece needs to be removed (keep the Firefox logo)
  Scott, looks like we have that already
- Per Stephen and his guidelines, the form should not disrupt the page layout
- Doesn’t move up or down static elements of the page (as it currently does)
- Is it possible that the email form stays within the orange area as seen her

[2016-10-14 20:04] #564 closed, assigned to ScottDowne

[2016-10-14 20:10] ScottDowne commented on #588
We can not currently change the button colour within the template, I would need to change the code. No biggie, I can do that. I think green or blue or make it configurable is best.

I can rip the video right out, so it's not even an option. This might make the most sense.

Yeah, making it smaller might require quite a bit more design work, and essentially a new build, as I don't see making it smal

[2016-10-14 20:28] valianttry commented on #588
@jkt230 do you all have any design resources or .... do we need to talk about adding this to our creative team's queue? Things are getting a bit tight with fundraising coming up, but as I said we might be able to spare some time given this has implications for fundraising for us (the ROI case for list growth is easy to make).

cc @lovegushwa (<<Jordan, our lead designer)

[2016-10-14 20:29] ScottDowne commented on #588
@jkt230 do you happen to know the dimensions in that image as pixel values?

@valianttry So Becca wonders if the multi step form we used in copyright is a possible solution to cut down on snippet height?

[2016-10-14 20:34] valianttry commented on #588
OOOOOH i love @beccaklam  idea!! We were looking for an excuse to use this form for optin testing.... shazaam.

For the uninitiated here is a screengrab of the "slider" form (below) and you can test it yourself on the https://www.changecopyright.org/ petition:

![mozilla_advocacy__reform_copyright](https://cloud.githubusercontent.com/assets/9830371/19401899/b859f3f4-9212-11e6-9605-d8f6a7aab262.png

[2016-10-14 21:04] jkt230 commented on #588
@ScottDowne I believe it's the same as above the search bar, as long as it sits within 470 x 192 it should be good.

Sounds like there are 3 versions we can test:
1) The slider form
2) Maybe a simple snippet and if you click on it or hover over, the opt-in form drops down below - Scott / Andrea - would we need a designer for this?
3) Making the original form smaller to fit within 470 x 192 - Scott

[2016-10-14 21:15] ScottDowne commented on #588
I don't need a designer for 1 and 3. 2, I would need a designer if the form isn't the same, but if it's just hover and then expand the current form, then I don't think I need designers for that either.

[2016-10-14 21:29] jkt230 commented on #588
@ScottDowne Per your question on #2, I would imagine the form to be the same (maybe different button color).

[2016-10-14 21:29] valianttry commented on #588
@jkt230 button color can be a useful data point from our current fundraising form test. WE'll know if color makes any difference. :)

[2016-10-14 21:47] HPaulJohnson commented on #585
what's the next step here? are we good to proceed with building out a single page to test this approach?

cc: @brettgaylor @valianttry

[2016-10-14 22:01] Melechuga commented on #582
Ideas:
- Grafitti background
- "Keep the Internet Weird" banner
- Signs for Sessions
- [Tree for women's event](https://upload.wikimedia.org/wikipedia/commons/6/64/Meuble_h%C3%A9raldique_aulne.svg)
- Quilt
- Creative Commonspace

[2016-10-14 23:39] brettgaylor commented on #549
cc @TheoChevalier

[2016-10-15 02:14] stephaniemcv commented on #407
I updated the title. As it didn't match the description of the work.

[2016-10-17 00:14] valianttry opened #589 "Finalize specific metric targets for fundraising campaign"
Detailed description of work:
We need detailed and specific targets for our Impact KPIs. For instance, we need to know the current / benchmark numbers, and our number goals for each. These will form the basis for the campaign dashboard.

**Primary Impact KPIs (some specific target #s still needed):**
- Raise a total of $4 million USD total by December 31, 2016
- Increase conversion rates in priori

[2016-10-17 05:31] #191 closed, assigned to nobody

[2016-10-17 05:31] #135 closed, assigned to shaghdoosti

[2016-10-17 05:32] #489 closed, assigned to stephaniemcv

[2016-10-17 05:33] valianttry commented on #354
@brettgaylor or @stephaniemcv can you close this if this email drafting is completed?

[2016-10-17 05:33] valianttry commented on #353
Triggered emails are beingi sent using Nationbuilder. Closing.

[2016-10-17 05:33] #353 closed, assigned to stephaniemcv

[2016-10-17 05:34] valianttry commented on #104
@stephaniemcv can you update the milestone on this one?

[2016-10-17 05:35] #484 closed, assigned to stephaniemcv

[2016-10-17 05:36] valianttry commented on #401
cc @TheoChevalier

[2016-10-17 05:45] valianttry commented on #396
Duplicate of #394

[2016-10-17 05:45] #396 closed, assigned to stephaniemcv

[2016-10-17 05:52] #326 closed, assigned to ScottDowne

[2016-10-17 05:56] valianttry commented on #397
Related to #411

[2016-10-17 06:19] valianttry opened #590 "Add existing localized copy to new snippet designs and launch"
See #326
Once the test of the #326 snippet designs are complete, assuming results are positive, we should launch those snippets in our high priority locales as soon as possible.

We can plug in existing 2015 localized copy. That copy is here:

DE:
Mozilla, die Entwickler von Firefox, sind auf Ihre Spende angewiesen. <em>Wenn jeder nur 3€ spenden würde, hätten wir genug für das ganze nächste Jahr.

[2016-10-17 06:39] valianttry opened #591 "Create social media plan for EOY fundraising"
Detailed description of work:
Review the Project Brief here:
https://docs.google.com/document/d/1vCqtXP-anfi-50W0C2j_zrhNIZncXRBFX9xt9ujRRpk/edit#

review draft timeline here:
https://docs.google.com/spreadsheets/d/1huVMZb2FlKgILOM3q9Ky1Spf4qLpzdqkWH3Ka3WhvsQ/edit#gid=0

Craft a social media plan that helps prime audiences ahead of calls for donations. This work will require help from design and c

[2016-10-17 06:46] valianttry commented on #400
@TheoChevalier we must decide if we want to localize this spectacular snippet design. It will only be live the last few days of the year in each locale. I think we should!

[2016-10-17 06:48] valianttry opened #592 "Does Stripe have new features we should try to implement for EOY 2016?"
Detailed description of work:
Are there new locales, currencies, or features Stripe is offering that we should implement?

_Start date: October 17, 2016_
_Due date: October 25, 2016_

[2016-10-17 06:49] valianttry commented on #592
cc @cadecairos

[2016-10-17 10:08] TheoChevalier commented on #400
@valianttry  Yes, I think we should — we localized it last year.
- If we can/want to test different variants _per locale_, we should localize each variant (variants have been localized last year, but I have no idea if they were tested or if localization started before the final snippet was picked)
- If we are going to test different variants only in en-US, let’s start localization once the winning

[2016-10-17 10:24] TheoChevalier commented on #565
@zhelding  Also, how is the survey going to be sent to attendees? Through the website? Email? Sent by hosts?
Some localizers would like to translate the survey even if they did not localize the website, because they are hosting Maker Parties, do you think it would make sense to add more locales like that (Slovenian, in this case)?

[2016-10-17 10:44] TheoChevalier commented on #548
@HPaulJohnson Hey Paul, anything else needed here, or we can close this ticket?

[2016-10-17 13:49] ScottDowne commented on #367
I need to get historic transactional data, and our current account fees. Once I have those, I can figure out our breakpoint, which is where we determine which account, regular or micro, to send the payment.

I'm also going to need the micro payment account ids. Once I have micro payment account ids, and the breakpoint, I can plug them into some logic I need to write, that handles this. This is goi

[2016-10-17 14:43] zhelding commented on #565
@TheoChevalier My understanding is that hosts will not have access to the survey responses, so I presume they will have to be machine translated. Also, we intended for a link to the survey to be distributed by hosts at the end of Maker Parties as well as available on the event page afterwards, so I agree that it makes sense to add more / whatever locales might be relevant.

[2016-10-17 15:41] HPaulJohnson commented on #548
@TheoChevalier these are complete and available here:

https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=452822882

Closing.

[2016-10-17 15:41] #548 closed, assigned to HPaulJohnson

[2016-10-17 17:25] TheoChevalier commented on #565
@zhelding thanks! I’ve added sl. Could you try pushing the French translations (attached here) to SurvezGuizmo please? Just to make sure everything is imported as expected

[fr.xls.zip](https://github.com/MozillaFoundation/Advocacy/files/534229/fr.xls.zip)

[2016-10-17 18:19] brettgaylor commented on #585
@TheoChevalier and I will discuss with Fission and report back

[2016-10-17 18:43] KevZawacki commented on #523
Hi @brettgaylor,

I've spent a bit more time assessing how we classify press hits (tiers 1-3). As a result, I've updated the "Press Quality" sections in my analysis above. Nothing major, just more discerning between what's tier 1 and what's tier 2.

If you've ported that information into any decks, let me know -- I can update there, as well.

@vojtechmzl, can we updated the copyright earned media

[2016-10-17 18:53] brettgaylor commented on #523
Thanks, Kevin!  Really useful.

What's the criteria for the different tiers? Is it circulation, subjective importance, etc?

[2016-10-17 19:00] KevZawacki commented on #247
I've updated the copy based on @valianttry's recommendations.

@caltrider, want to have a look?

https://docs.google.com/document/d/1YXEooaZfMO3jQoBTzgoLqWmVXQYKNnNkoUXjhiFJqtM/edit#

[2016-10-17 19:04] KevZawacki commented on #523
@brettgaylor A mix of reach (daily/monthly readership) and prestige. The ranking process is inherently subjective, but I'm trying to create a single framework that can be applied to multiple campaigns.

So NYT would always be tier 1, The Next Web would always be tier 2, etc.

Perhaps we need to revisit this down the line, but it works well for 2016.

[2016-10-17 19:15] jkt230 commented on #588
@ScottDowne Can you give me a timeline in terms of having these to test so I can let Giorgos know when to expect them? Thank you!!!!

[2016-10-17 19:36] vojtechsedlak commented on #523
Dashboard updated @KevZawacki

Speaking of media reach I've also been toying around with the idea of using social shares as a proxy for media reach. Essentially, we can see how many times an article has been shared on Facebook and extrapolate the possible readership from that value. If we for instance say that on average 1% of readers share an article on social media, then an article with 100 Face

[2016-10-17 19:40] TheoChevalier commented on #394
After discussing with @ScottDowne:
- Scott will build a static webpage and extract the strings in a .properties file, which will be then exposed on Pontoon & GitHub
- We will expose the page to all locales enabled on donate.mozilla.org. I will let localizers know that  this page is targeting our top 10 locales (those on the brief), and is good to have for other locales.

Also, this is content that

[2016-10-17 19:50] ScottDowne commented on #588
@jkt230 I don't have a timeline yet, it sounds like we're scoping what would be involved, but if there is a timeline, I'm not aware of it.

Either way, I'll let you know when I know of a timeline so we can give Giorgos a heads up :)

[2016-10-17 21:03] vojtechsedlak commented on #523
So it's actually ~4,900 shares that the articles generated so here are the breakdowns based on different sharing rates:
- 1% of readers shared -> 490,000 readers
- 2%  of readers shared -> 245,000 readers
- 3% of readers shared -> 163,300 readers

[2016-10-17 21:08] beccaklam commented on #574
Link to printable pdf on A4 paper: https://drive.google.com/open?id=0BzuBOR2VJQqUcFNTcWZzNG5ueVE (Grumpy Cat and Doge are repeated... we can fit 12 buttons on an A4 sized sheet of paper and since there are 5 buttons only 2 can repeat 3 times, I guessed that those may be our two most popular but @Melechuga if you have another hunch let me know!)

[2016-10-17 21:59] jkt230 commented on #588
@ScottDowne Ah I see, is there anyway it can be completed by next Wed.? Consider it an early birthday present to Andrea? :) We get this rolling and we can get more subscribers to the Moz Foundation list! Anyways, let me know when you know your timeline.

Thanks!

[2016-10-18 14:22] geroter opened #593 "Changes to the front page of MakerParty events site"
On this site: https://www.makerparty.community/

As a user I would expect:

1) A link back to the resources at this site on the front page (https://learning.mozilla.org/en-US/events) ... the button Learn More should possibly link to that page.

2) The link Learn More should say something like "Host Event" or "Sign up as a Host"

3) The units of distance to be presented as 'kilometers' instead of '

[2016-10-18 14:26] geroter opened #594 "Changes to Learning site for Maker Party"
Right now Maker Party is very non-discoverable within the Learning site.

I would expect the [Maker Party page](https://learning.mozilla.org/en-US/events) to be linked from the front page of the Learning site:
https://learning.mozilla.org/en-US/

I would also expect that page to be linked from the landing page of the Leadership section:
https://learning.mozilla.org/en-US/opportunities

[2016-10-18 15:52] stephaniemcv commented on #354
It looks like it never made it through review. Since we're doing the postcard mailing at MozFest, we've probably run out of time to finish review, get through localization and send by MozFest.

Based off our email convo @brettgaylor, I'm ok with removing this email completely from our calendar, and not pushing back to an alternate send date as we're running into Maker Party and EOY.

@brettgaylor,

[2016-10-18 17:03] brettgaylor commented on #354
Yes, we have passed target and are having challenges with delivering what we have.  Lets cancel this send.

[2016-10-18 18:25] ScottDowne commented on #392
@lovegushwa I wonder if running our normal snippet in dev edition as a test first, to see if it's viable, would make sense before building the fancy version? I mention this because I worry building a new snippet without a pretty good idea is a bit risky.

[2016-10-18 19:03] TheoChevalier commented on #549
Ok, I thought we were using Amara, but we ended up using YouTube quite early. So if it doesn’t work with Amara on NB, we could alternatively use YouTube, I think. It’s been done for Firefox 10 years for instance [1] but here are things to know about doing so: https://www.yetanothertechblog.com/2015/01/15/video-subtitles-and-localization/ With our set of locales, it should be okay, though.

[1] Emb

[2016-10-18 19:34] brettgaylor commented on #549
@TheoChevalier so how would that work?  We would export subs from amara, and bring them into youtube? Is it possible to force a locale on a youtube embed?

[2016-10-18 19:35] brettgaylor commented on #549
also - we do already have the video on youtube that we want to subtitle, if it helps.

[2016-10-18 20:40] TheoChevalier commented on #549
If we’re going down that road, here’s how I see it (basically what you said):
- Keep hardcoded direct links to videos with encoded subtitles (French, German, Spanish…)
- Import other locales into YouTube from Amara.

You can force YouTube to display subtitles, but you can’t force it to display a specific locale. That’s part of why it’s bad to use it, but the locales we target should be detected co

[2016-10-18 21:24] #354 closed, assigned to stephaniemcv

[2016-10-18 21:46] jkt230 commented on #392
@valianttry Listing your questions here:
1. What are average daily impressions for dev edition snippet? (EN US only) This will help us come up with some projections.
   Wes will pull this for you.
2. Who would be the key person(s) who would participate in approving the dev edition fundraising snippet design? Is that also Stephen Horlander? Or someone from MDN? Your advice on this process would be

[2016-10-18 22:08] vojtechsedlak opened #595 "Localize copy for Heartbeat fundraising test"
Detailed description of work:
We are planning to run a fundraising test in Firefox Heartbeat, as part of our EOY fundraising campaign. While we were initially hoping to reuse existing strings for EN and DE, the two target locales, technical limitations around the snippet require a localization of new strings. There is also a need to translate a feedback survey into German.

The new strings that ne

[2016-10-18 23:12] TheoChevalier commented on #587
Fixed in https://github.com/mozilla/learning.mozilla.org/pull/2343

[2016-10-18 23:12] #587 closed, assigned to TheoChevalier

[2016-10-18 23:25] TheoChevalier commented on #595
Hey @vojtechmzl,

Once the survey is ready, and assuming you’re using SurveyGizmo, could you please extract strings like here? https://github.com/MozillaFoundation/Advocacy/issues/565#issuecomment-253251477 (Instructions are here if needed https://help.surveygizmo.com/help/export-fields-for-translation#export-fields-for-translation )

In the mean time, could you help clarifying where and how the s

[2016-10-18 23:37] TheoChevalier commented on #595
Also, just to make it clear, I will expose all the strings (survey + heartbeat) at the same time, to avoid annoying localizers with multiple requests.

[2016-10-19 00:11] WesWinton commented on #392
Hey All,

Ballpark 320K impressions a day.

[2016-10-19 03:22] cristina-moon commented on #354
Did I drop the ball on updating the email copy?

www.cristinamoon.com
917.488.0302

On Oct 18, 2016 2:24 PM, "Stephanie McVicker" notifications@github.com
wrote:

[2016-10-19 05:04] irvin commented on #549
@TheoChevalier I don't understand what "NB" is.

There is a massive advantage to direct embedded Amara - if anyone want to add new locale or improve current subtitles, they can do it on Amara and it will just show up on our site, without the need of our monitoring or download-upload hesitate.

[2016-10-19 12:51] stephaniemcv commented on #354
No. No one was explicitly named to walk the email through policy/advocacy
review. I assumed it was Brett since he's the signor, and that's what Sara
does when she's the signor. I should have confirmed that.

Also, Brett's having trouble with the postcard site and didn't to direct a
lot of traffic there.

On Tue, Oct 18, 2016 at 9:22 PM, Cristina Moon notifications@github.com
wrote:

[2016-10-19 13:45] TheoChevalier commented on #549
Sorry, NB stands for NationBuilder, the underneath software of the petition website.

I agree, and that’s definitely something worth mentioning. For this specific project however, we can’t translate the website into additional languages, so localizing the video in new locales would have little value. We’re considering YouTube in case Amara could not be implemented on the petition website.

[2016-10-19 16:33] vojtechsedlak commented on #595
Thanks for fleshing out the process @TheoChevalier, much appreciated! Here is a preview of the test that I got from the heartbeat team. It is indeed the toolbar-like notification that appears at the top of the browser window:

<img width="637" alt="screen shot 2016-10-19 at 9 31 14 am" src="https://cloud.githubusercontent.com/assets/20688240/19527930/de5a5150-95de-11e6-8d58-570fd330a4e0.png">

I a

[2016-10-19 16:51] ScottDowne commented on #392
Cool, thanks @WesWinton

So that helps my concern a bit, that I mentioned in my last comment, about testing this with our regular snippet before building a fancy template. Maybe we still do that, though?

Based on @lovegushwa 's initial designs, it looks fairly static, which would make the build quite easy. That said, I'm willing to add a bit of interaction if @lovegushwa wants to scope something

[2016-10-19 20:28] KevZawacki opened #596 "Develop first batch of EOY fundraising social content"
Hi, @HPaulJohnson @lovegushwa @natalieworth @beccaklam

Thanks for the brainstorm today.

I’ve arranged our ideas into four buckets: Traditional, Animated, Serious, and Experimental. View them **[here](https://docs.google.com/document/d/1Pg-4PWXu8z5y0T5Il6VYxZU__T5QwucoqiBX9jV5xPc/edit)**.

Next steps: **Let’s each cast 6 votes** for the ideas we feel most strongly about. Hopefully there will be s

[2016-10-19 21:08] #511 closed, assigned to KevZawacki, natalieworth

[2016-10-19 21:16] vojtechsedlak opened #597 "EOY Test: Preselecting an amount for non-snippet traffic"
Detailed description of work: Traffic from sources other than the snippet does not get a preselected amount. Test whether this would improve conversions.

_Start date: October 19, 2016_
_Due date: December 1, 2016_

CC:

[2016-10-19 21:17] vojtechsedlak opened #598 "EOY Test: Snippet Icon Images"
Detailed description of work: Test multiple variants of images with the fundraising snippet.

_Start date: October 19, 2016_
_Due date: December 1, 2016_

CC:

[2016-10-19 21:18] vojtechsedlak opened #599 "EOY Test: Direct PayPal link in emails to past PP donors"
Detailed description of work: Test whether sending people directly to PayPal would increase conversion rate.

_Start date: October 19, 2016_
_Due date: December 1, 2016_

CC: @stephaniemcv

[2016-10-19 21:22] vojtechsedlak opened #600 "EOY: Length and position of privacy/vendor copy above payment buttons"
Detailed description of work: As per #402, test shortening the copy and possibly moving it below payment method buttons. This will require approval from legal.

_Start date: October 19, 2016_
_Due date: December 1, 2016_

CC: @valianttry

[2016-10-19 21:24] vojtechsedlak opened #601 "EOY Test: Thank you page design (adding thank you image/gif/video)"
Detailed description of work: Test different thank you messages to see if they improve opt-in rates.

_Start date: October 19, 2016_
_Due date: December 1, 2016_

CC:

[2016-10-19 21:25] vojtechsedlak opened #602 "EOY Test: Personalizing thank you page"
Detailed description of work: The First Name string is being passed to the thank you page, let's see whether including it in the thank you message will improve opt-in and sharing rates.

_Start date: October 19, 2016_
_Due date: December 1, 2016_

CC:

[2016-10-19 22:22] WesWinton commented on #392
I am fine with testing our current fundraising snippet within the Dev edition, as long as its cool with the Dev edition key holders. What kind of number are we looking for with the test? Is there a number of donations we have to hit in order to justifying building out the unique snippet templates?

I love the idea if making the templates interactive, @ScottDowne. So fun!

[2016-10-20 15:33] vojtechsedlak opened #603 "Improving Maker Party UI - Options"
Detailed description of work:
We have seen less than anticipated conversion rates on the makerparty.community site so we could see if there are changes that we can make to the platform to optimize user flow. We've looked at the traffic sources to the site and aside from the snippet, which drove vast majority of traffic to the CCZero event, the composition of sources shows that learning.mozilla.org

[2016-10-20 16:21] jendc123 commented on #571
Hi @brettgaylor - we updated the template test template with the thermometer [https://www.changecopyright.org/copyright_with_thermometer].  It looks like we still need to reduce it's length, center the word "required" and then the dots are red.  What should it look like on desktop?
![compare](https://cloud.githubusercontent.com/assets/6034476/19568407/6877af82-96bf-11e6-9176-59f664e12c5c.jpg)

[2016-10-20 17:55] beccaklam commented on #582
Hey Melissa, here is the link to where you can find our PDFs of our Keep The Internet Weird banners: https://drive.google.com/drive/folders/0BzuBOR2VJQqUdHdpa1RHWUpWT2c?usp=sharing
CC: @lovegushwa @natalieworth

[2016-10-20 18:04] ScottDowne commented on #585
Just flagging something here that might not be addressed, or simply making sure we're aware of the issue around maintaining multiple copies of a page per locale. It's reasonable for 1/2 locales in a test, but that just allows us to run a test to confirm our theory as to what the issue is.

It however does not validate a reasonable solution. The more the page becomes forked, the more work we need t

[2016-10-20 18:28] lovegushwa commented on #70
@vojtechmzl @ScottDowne based on the test results winner were going to see if we can optimize this years design to perform as well or better than the control:

<img width="1093" alt="screen shot 2016-10-20 at 11 25 18 am" src="https://cloud.githubusercontent.com/assets/12228435/19572643/ffb358f4-96b7-11e6-8289-3e8032c0e3c0.png">

Variants to build:
Larger donate numbers
Exlpore how we highlight th

[2016-10-20 18:35] brettgaylor opened #604 "QA for Spanish-only petition"

[2016-10-20 18:36] beccaklam commented on #571
@jendc123  @brettgaylor  Desktop version:
![screen shot 2016-10-20 at 2 39 00 pm](https://cloud.githubusercontent.com/assets/20977376/19573055/9fb200b6-96d2-11e6-9260-010f7676e682.png)

[2016-10-20 18:41] brettgaylor commented on #585
Yes, totally makes sense - though keep in mind that we are only considering this for certain markets where we will roll out paid media.  We won't do all 8 locales this way.

We will also keep the same functionality for users on changecopyright.org that allows them to use bablic to change their locale.

To answer your question: yes, we feel that the real cost to do this is worth it given the cost p

[2016-10-20 18:45] TheoChevalier commented on #585
@jendc123 Hey Jennifer, we just found those issues with the static page. Fixing them should be pretty straightforward, but we should really fix them before launch.

In the form, some strings are French translations:
Confidentialité > Privacidad
Affichez votre soutien > Muestra tu apoyo

In the footer:
Galletas > Cookies
(It should should be kept as-is in Spanish)
It would be interesting to underst

[2016-10-20 18:50] TheoChevalier commented on #604
(Reposting here as it’s more appropriate)
@jendc123 Hey Jennifer, we just found those issues with the static page. Fixing them should be pretty straightforward, but we should really fix them before launch.

In the form, some strings are French translations:
Confidentialité > Privacidad
Affichez votre soutien > Muestra tu apoyo

In the footer:
Galletas > Cookies
(It should should be kept as-is in S

[2016-10-20 18:52] brettgaylor commented on #604
Disregard earlier comment about footer links - Théo tells me they are as they should be, and allow the browser to set the appropriate locale.

[2016-10-20 19:08] ScottDowne commented on #585
@brettgaylor great response. Pretty much exactly what I wanted to hear :D :rocket: :guitar:

[2016-10-20 19:33] #545 closed, assigned to valianttry, lovegushwa

[2016-10-20 19:37] lovegushwa commented on #461
@gholme4 I'm not seeing the code of conduct in the footer. This should replace "Medium" ... see above.

![screen shot 2016-10-20 at 12 36 37 pm](https://cloud.githubusercontent.com/assets/12228435/19575128/f16a4fe6-96c1-11e6-8be5-c1183839faa9.png)

[2016-10-20 19:38] lovegushwa commented on #386
@vojtechmzl can we close this ticket?

[2016-10-20 19:38] #369 closed, assigned to lovegushwa

[2016-10-20 20:18] lovegushwa opened #605 "Design: EOY 2016 Identity Directions"
Design multiple EOY identity directions that build on our visual system from last year, but without Dapper Fox. Start with the heart, explore other directions that incorporate non-fox digital native content like cats etc. Create design variants with and without copy. Ideally we will test performance of directions on social October 26-29.

_Start date: October 19, 2016_
_Due date: October 25, 2016_

[2016-10-20 20:20] lovegushwa commented on #605
Last years creative for reference:

![screen shot 2016-10-20 at 1 19 50 pm](https://cloud.githubusercontent.com/assets/12228435/19576461/f207097a-96c7-11e6-9f7e-7479ee53103a.png)

[2016-10-20 20:23] lovegushwa commented on #605
@HPaulJohnson do you think we can swing a test next week?

[2016-10-20 20:31] HPaulJohnson commented on #605
Yes, we could do simple quick test on Facebook targeting Moz supporters and even people who donate money to charities/causes. We'd need some budget though not a lot for a quick test.

[2016-10-20 20:40] lovegushwa commented on #605
@brettgaylor we would like to spend 2k testing different creative directions next week. Can you approve this?

[2016-10-20 20:42] ScottDowne commented on #70
My guess is the monthly checkbox in the 2015 being removed from the 2016 is the primary factor as to why the new snippet has better closure rate, but still got out performed by the 2015.

@vojtechmzl @lovegushwa

[2016-10-20 20:44] brettgaylor commented on #605
Yes 👍

[2016-10-20 20:59] vojtechsedlak commented on #386
We haven't run these tests yet, so let's leave this ticket open @lovegushwa

[2016-10-20 22:11] stephaniemcv commented on #586
Just rabbit holed in Desk.com and this might be a great place for the FAQ and all sorts of things to live. We can set up a [Support Center](https://support.desk.com/customer/portal/articles/8393-understanding-your-support-center) with [Multilingual Support](https://support.desk.com/customer/portal/articles/566428-getting-started-multilingual-support) (built in?!)
- [Here's a sample ofwhat other or

[2016-10-20 22:31] lovegushwa opened #606 "Finalize: EOY 2016 Identity"
Choose a final identity direction based on the test results of work happening in ticket #605

_Start date: November 1, 2016_
_Due date: November 4, 2016_

CC: @natalieworth @beccaklam @HPaulJohnson @vojtechmzl @KevZawacki @stephaniemcv @valianttry

[2016-10-20 22:31] TheoChevalier commented on #586
From what I can see in this doc, this would be a huge step forward compared to the setup detailed here https://github.com/MozillaFoundation/Advocacy/issues/394#issuecomment-254311191 But maybe I’m failing to see what would be the advantages of having the FAQ in Desk.com, would love to understand them if I missed that.

Here are some of the pros of creating a static webpage:
- Existing translations

[2016-10-20 22:38] lovegushwa commented on #606
@KevZawacki is working on copy in #596

[2016-10-20 22:44] lovegushwa opened #607 "Design: Mozilla.org homepage banner"
Design a banner / takeover for mozilla.org. The design of the site has changed so we will need to work with MOCO to create specifications for and understand the limitations of the new mozilla.org site.

Here is a screen cap of last years design:

![screen shot 2016-10-20 at 3 39 57 pm](https://cloud.githubusercontent.com/assets/12228435/19580582/168827ac-96dc-11e6-8c43-7544e5f0e25c.png)

_Start da

[2016-10-20 22:48] lovegushwa commented on #607
We need to contact Jen Bertsch to get this moving. @valianttry whats a good go live date for this?

[2016-10-20 23:46] TheoChevalier commented on #595
Localization has started, progress can be tracked here: https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=surveys/survey_eoy_heartbeat.lang
Once it’s complete, I will export the translations into a .xls file that can be imported back into SurvezGizmo.

[2016-10-21 13:21] TheoChevalier commented on #595
Hey @vojtechmzl here are the German translations: https://github.com/mozilla-l10n/engagement-l10n/blob/master/surveygizmo/eoy_heartbeat/de.xls
Let me know if you have any issue uploading them into SurveyGizmo.

If the UI strings need to be copy/pasted, this view should be more appropriate https://l10n.mozilla-community.org/langchecker/?website=6&file=surveys/survey_eoy_heartbeat.lang&action=transl

[2016-10-21 13:21] #595 closed, assigned to TheoChevalier

[2016-10-21 13:41] ScottDowne commented on #586
I think I agree with @TheoChevalier that the actual content should be in a static page enabled in Pontoon. However, maybe we could setup something in desk.com that links out to or somehow displays the localized faq page, or something along those lines?

[2016-10-21 13:46] TheoChevalier commented on #586
Gha, I meant “this would be a huge step **backwards**”

[2016-10-21 13:54] ScottDowne opened #608 "changecopyright.org meme gifs are now busted links"
Not sure what's changed, if it's Fission's end, or the hosting end. Are we hosting those images? Links seem to be busted.

Examples:

https://d3n8a8pro7vhmx.cloudfront.net/themes/57d9d5fd78b8e21a19000001/attachments/original/1475103681/memelandCTA_1.gif?1475103681
https://d3n8a8pro7vhmx.cloudfront.net/themes/57d9d5fd78b8e21a19000001/attachments/original/1475107420/memelandCTA_2.gif?1475107420

The

[2016-10-21 14:05] TheoChevalier commented on #608
Note that they are missing only for the English version. The link on the French version for instance is https://uploads.bablic.com/uploads/57e2ad4b7b8060016003f60b/57ed989118f45f6d37ca8d17.gif and it’s still up.

[2016-10-21 14:08] jendc123 commented on #608
@ScottDowne - We will check it out, but we have done nothing that would impact the cats. We may need to contact NB support.

[2016-10-21 14:26] cadecairos commented on #608
Yeah, that's not a Mozilla Cloudfront domain, best to contact NB to see whats up.

[2016-10-21 14:30] zhelding commented on #565
@TheoChevalier, sorry I wasn't keeping an eye on this. Did you manage to check if the import worked correctly?

[2016-10-21 14:45] TheoChevalier commented on #565
@zhelding Sorry if I think my instructions were confusing, let me try to clarify :)
I need you to upload the French translations back into SurveyGizmo, to make sure the survey is fully translated (then you would need to do the same for other locales on October 30)

You should use the “Import translated fields” option in this screen https://dyzz9obi78pm5.cloudfront.net/app/image/id/556f5e2d7cb829f3

[2016-10-21 14:53] ScottDowne commented on #592
### ACH

Seems ACH payments is still the top of the "new" payment processors. We've known about this one for a while now, but it's worth mentioning again. It doesn't solve our German needs, as it's US only. https://stripe.com/docs/ach

### Bitcoin

They have a way to process bitcoin. I doubt it's worth us migrating what we have as it already works and is simple enough from what I can see, but migh

[2016-10-21 14:54] stephaniemcv commented on #586
@ScottDowne I'll poke around to see if there's anything like that. And if I find anything, we'll just tag it as a "nice to have" and focus on a static webpage.

Thank you both for taking a look at it!

[2016-10-21 14:59] zhelding commented on #565
All good! Everything working as expected.

[2016-10-21 15:06] stephaniemcv commented on #510
Updated version of copy: https://docs.google.com/a/mozilla.com/document/d/1UUmPz2Lu8fIyYF_Owfewm8qrsE2LYjHdUvU97vbREpk/edit?usp=sharing

Has been routed by policy and legal.

@TheoChevalier can you move this forward for localization in DE, FR, ES PL? We're aiming for a send next week Friday.

[2016-10-21 15:20] ScottDowne commented on #374
There are LOTS of stripe only currencies we're not currently supporting that PayPal does not. Supporting them would mean a stripe only form, which is what we're currently doing for https://donate.mozilla.org/en-US/?currency=inr, https://donate.mozilla.org/en-US/?currency=cny, and https://donate.mozilla.org/en-US/?currency=idr.

I suggest we go through Stripes group 1 and 2, and find any currencies

[2016-10-21 15:24] ScottDowne commented on #367
Updates:

I have a pull request here: https://github.com/mozilla/donate.mozilla.org/pull/1624 that adds this, it needs review. My guess is early next week.

Me and @cadecairos ran the history through this logic, and the numbers are solid.

[2016-10-21 15:39] vojtechsedlak commented on #595
Thank you very much @TheoChevalier. I really appreciate your help with this!

[2016-10-21 16:26] lovegushwa commented on #605
@KevZawacki is working on social copy here: https://docs.google.com/document/d/1Pg-4PWXu8z5y0T5Il6VYxZU__T5QwucoqiBX9jV5xPc/edit

Also Kevin's case to give document should be helpful: https://docs.google.com/document/d/1YXEooaZfMO3jQoBTzgoLqWmVXQYKNnNkoUXjhiFJqtM/edit#

[2016-10-21 16:42] stephaniemcv commented on #408
@cristinamoon @roseregina

Can you please review this copy and add edits/opinions/thoughts?

https://docs.google.com/document/d/1OGWZNO7jkJ3sDtLU70Fygef0ckrrXSHptGxp_ScHOC0/edit?usp=sharing

[2016-10-21 16:58] ScottDowne commented on #392
I think it depends on what value we see in this, but we can certainly add in something fun.

Easiest is something static, that has classic terminal look and some ascii art.

With a bit more work we can scale up, and add some interaction or animations.

For animations, we can do some load in stuff like this: https://youtu.be/JDWvGgot11o?t=59s

Can also add a blinking effect like this: https://youtu

[2016-10-21 17:25] vojtechsedlak commented on #595
Hey @TheoChevalier, here is a [link](http://qsurvey.mozilla.com/collab/Foundation-Heartbeat-Test?sglocale=de) to the German survey with inserted translations. I'm not sure if the usual workflow includes QA/validation at this point, but just wanted to pass this along. Thanks!

[2016-10-21 19:19] jendc123 commented on #571
Hi @brettgaylor, @vojtechmzl , @beccaklam - we updated the Spanish template and the thermometer
[https://petitionv25spanish-mozillafoundation.nationbuilder.com/]

[2016-10-21 19:27] TheoChevalier commented on #604
@jendc123 Changes to the form look good, but there is still an issue in the footer, it needs to be “Cookies”, not “Galletas”. Once this is fixed, we can close this ticket.
Thanks!

[2016-10-21 19:38] jendc123 commented on #608
Hi @ScottDowne @cadecairos and @TheoChevalier - the English cat is up and working.

[2016-10-21 19:46] ScottDowne commented on #608
Awsome, thanks! :rocket:

[2016-10-21 19:46] #608 closed, assigned to nobody

[2016-10-21 19:47] ScottDowne commented on #586
Just a little inspiration for what this could look like really easily: https://advocacy.mozilla.org/en-US/open-web-fellows/info

[2016-10-21 20:10] jendc123 commented on #604
Hi @TheoChevalier - sorry about that it's been updated.

[2016-10-21 20:12] TheoChevalier commented on #604
Looks good, thanks!

[2016-10-21 20:12] #604 closed, assigned to TheoChevalier, jendc123

[2016-10-21 20:27] TheoChevalier commented on #595
Yeah, always better to check the final result :) Everything looks good to me!

[2016-10-21 21:01] lovegushwa commented on #571
@jendc123 looks good.

[2016-10-21 21:09] brettgaylor commented on #571
Looks good to deploy!

[2016-10-21 21:10] lovegushwa commented on #605
@beccaklam @natalieworth from todays creative discussion:

HEARTS - “share some love with us"
This direction build off of last years heart theme, but with a focus on formal graphic beauty, very nice vector shapes, warm color and texture. Eye candy. Some options include numbers related to giving goals or a deadline countdown. All about asking our users to share some love and give back.

<img width=

[2016-10-21 21:37] lovegushwa commented on #605
@HPaulJohnson @KevZawacki checkout these directions above. I'd like to finalize a post for copy for each direction EOD Monday and decide if we should go ahead with our test next week.

[2016-10-22 17:06] brettgaylor commented on #605
FWIW - cat in space FTW

[2016-10-24 16:09] vojtechsedlak commented on #70
Hey @lovegushwa, did you have a chance to spin out any new variants for the fundraising snippet? Just want to see if we can land them before Mozfest. I know things are busy, so this can be picked up after Mozfest too. Thanks!

[2016-10-24 17:40] lovegushwa commented on #605
@beccaklam @natalieworth
So lets test: HEARTS, PHOTO, CHARACTERS

[2016-10-24 18:19] ScottDowne commented on #70
@vojtechmzl at the very least, blue selected amount button test can be enabled now.

[2016-10-24 19:49] lovegushwa commented on #605
@HPaulJohnson @natalieworth @beccaklam

PIZZA CAT, no copy
PHOTO, no copy
HEARTS, no copy + Donate
CHARACTERS, no copy + Donate

@natalieworth see what copy works best in your character design:

"Your support makes Mozilla's work possible."
"Support Mozilla, Donate now."
"Help protect freedom online."

[2016-10-24 20:01] vojtechsedlak commented on #590
The tests are currently being set up by Wes, with the following variants tested
- winner from 2015 EOY campaign
- optimized variant of new design with grey highlight of amount
- optimized variant of new design with blue highlight of amount

[2016-10-24 20:03] vojtechsedlak commented on #333
See results for this test [here.](https://docs.google.com/document/d/1ubkwri1d8WEwySIooxXSfY2y61GHKVRR1FWFcOR8_jY/edit#) The next step is to run a test in new target locales to further optimize the new design (see #590 for further info)

[2016-10-25 04:04] lovegushwa commented on #605
@natalieworth @beccaklam drop your creative and copy into this doc:
https://docs.google.com/document/d/1Pg-4PWXu8z5y0T5Il6VYxZU__T5QwucoqiBX9jV5xPc/edit

[2016-10-25 13:17] HPaulJohnson commented on #605
Added some initial copy for the four design directions at the bottom of the doc above.

[2016-10-25 15:35] vojtechsedlak commented on #605
Below are URLs we can use for tracking respective variants in GA. If there are multiple versions for each variant, we can distinguish them with the use of utm_term. Let me know if there is anything else I can help with!

Pizza Cat
https://donate.mozilla.org/?utm_source=facebookAd&utm_medium=cpc&utm_content=pizzacat

Photo
https://donate.mozilla.org/?utm_source=facebookAd&utm_medium=cpc&utm_content

[2016-10-25 15:43] HPaulJohnson commented on #605
thanks, @vojtechmzl. I added shortened versions of each in the gdoc for use in social.

[2016-10-25 15:53] TheoChevalier opened #609 "L10N cleanup on donate.mozilla.org"
While discussing with Scott, I realized we had to fix a few things on donate.mozilla.org before landing new strings.
1. Some locales have not been enabled on Pontoon while we seem to target them.
   Those are the locales I plan to enable on Pontoon: da, bn-IN, gu, hi-IN, ml, nb-NO, nn-NO, te, th. To understand where this list comes from: we have a folder in the repo for those locales, but they are

[2016-10-25 16:55] brettgaylor opened #610 "[urgent] Re-upload encryption videos"
The encryption campaign videos were accidentally deleted.

We need to deliver a set of URLS and give to @cadecairos so he can re-upload to amazon.

[2016-10-25 17:47] lovegushwa commented on #70
@vojtechmzl here are the new variants, missing anything?

<img width="1236" alt="test variant-snippet_02-01" src="https://cloud.githubusercontent.com/assets/12228435/19697448/38d06e4c-9aa0-11e6-82c1-8913c6793e41.png">

<img width="1236" alt="test variant-snippet_02-06" src="https://cloud.githubusercontent.com/assets/12228435/19697456/459a9ba2-9aa0-11e6-8ac5-99acf54057bd.png">

<img width="1236" al

[2016-10-25 17:48] jendc123 commented on #571
Hi @brettgaylor - the thermometer is now live on the site [https://www.changecopyright.org/]

[2016-10-25 17:51] brettgaylor commented on #571
:+1:

[2016-10-25 17:51] #571 closed, assigned to nobody

[2016-10-25 17:51] jendc123 commented on #604
Hi @brettgaylor and @TheoChevalier - this is now live [https://es-mozillafoundation.nationbuilder.com]

[2016-10-25 17:52] brettgaylor commented on #604
🎉

[2016-10-25 17:57] lovegushwa commented on #70
@ScottDowne ^

[2016-10-25 18:00] vojtechsedlak commented on #70
These look great @lovegushwa! Let's also remember to test the size of the heart icon (small vs. large).

[2016-10-25 18:06] lovegushwa commented on #70
@ScottDowne re. the heart comment. We can use this test variant above as the larger heart.
<img width="461" alt="screen shot 2016-10-25 at 11 03 02 am" src="https://cloud.githubusercontent.com/assets/12228435/19698083/b7f5a988-9aa2-11e6-8793-ee41712af1e4.png">

against the smaller heart 30x25px

<img width="787" alt="screen shot 2016-10-25 at 11 05 17 am" src="https://cloud.githubusercontent.com/a

[2016-10-25 18:15] ScottDowne commented on #70
Great, most of this looks like it doesn't need to happen in the snippet template, which should save us some time.

We're running a test right now, so I don't see the rush of having this done before mozfest (it would be hard to do anyway)

@lovegushwa I notice the heart is vertically aligned to the top. Right now the snippet centers it vertically. Is it all the same to you if it's centered, or is m

[2016-10-25 18:27] vojtechsedlak commented on #70
good call on testing monthly checkbox @ScottDowne. I factored it in when evaluating the initial results, since having the checkbox indeed increases chance of a monthly donation, but running the test would help illuminate the impact on one-time donations specifically.

[2016-10-25 18:36] ScottDowne commented on #70
We can also disable it in the control and get the same idea as to it's effect vs the effect of the new snippet.

[2016-10-25 18:53] brettgaylor commented on #610
Done, thanks

[2016-10-25 18:53] #610 closed, assigned to lovegushwa, natalieworth

[2016-10-25 18:56] brettgaylor opened #611 "Verify data pipeline for spanish version of changecopyright.org"
We've stood up a spanish only version of the petition to help with page load times for paid media.

The URL is:
https://es-mozillafoundation.nationbuilder.com/

Can we confirm that the data will be collected properly here for petition, and that google analytics is tracking this page correctly?

cc @HPaulJohnson

[2016-10-25 19:18] ScottDowne commented on #609
I'll take on the brunt of this, and probably file some smaller tickets if needed.

Some thoughts:
1. I'm not actually sure where those folders came from either. I thought it was from pontoon. Guess not. I'm fine with enabling anything already there, and adding new ones. When it comes to currencies, we need to consider stripe and paypal. For stripe we can use anything here: https://support.stripe.c

[2016-10-25 19:32] TheoChevalier commented on #510
@stephaniemcv gosh I totally missed this notification, sorry about that :(
Sending it to Kontextor right away for DE, ES and PL. I’ll do FR myself tonight

[2016-10-25 20:39] vojtechsedlak commented on #611
Google Analytics is working correctly, but I can't seem to be able to submit the form, so I can't check that data is flowing into salesforce. Were you guys able to?

[2016-10-25 20:45] brettgaylor commented on #611
Mmm you're right.  I could not complete.  In Chrome after I submitted, I see the following glitch.

![image](https://cloud.githubusercontent.com/assets/345974/19703592/3b4f4fda-9ab9-11e6-85e3-5907c2f47996.png)

[2016-10-25 23:02] lovegushwa commented on #70
@ScottDowne my preference is the top, in the end the copy will be different lengths so aligning to the top line works best (it's a good way to catch a user eye and help them start reading the paragraph) ... however do what you need to do get this test up and running. We can optimize the UI later if it's a heavy lift.

[2016-10-25 23:33] TheoChevalier commented on #510
Here is the French version, I’ll update when I receive the other 3 translations. https://docs.google.com/a/mozilla.com/document/d/1UhXKcsO2LpfWvbyIxzo7RMk3sCDYpIZIIwIji_rq2aA/edit?usp=sharing

[2016-10-26 13:41] TheoChevalier commented on #609
1. Thanks for the pointers, I will check but I think we are covered.
   I also just noticed that we’re missing some associations in this file https://github.com/mozilla/donate.mozilla.org/blob/90a4683d5585b81dc88819041ba601fb0abdc7ff/src/data/locale-data.js
   Like ja locale is not associated to JPY, ru not associated to RUB… Should we go through the list and add what’s missing?
2. Perfect, thanks

[2016-10-26 13:55] TheoChevalier opened #612 "Status of current EOY Thank you email"
@stephaniemcv Do you know if the email localized here is automatically picking translations from the GitHub repo, or if it’s copy/pasted somewhere? https://github.com/mozilla/donate.mozilla.org/blob/master/locales/en-US/email.properties

With the current setup, we keep asking people to translate it in all the locales we support on the website, I’d like to understand if it makes sense to continue d

[2016-10-26 14:25] stephaniemcv commented on #612
I'm only vaguely familiar with the workings around this. @ScottDowne can you comment?

It looks like the Stripe donation receipt. And I have been looking for this, because it will be moved out of Sawmill and into SalesForce Marketing Cloud with the Stripe/Paypal integration to SalesForce.  In terms of time, we didn't have plans to update the language, and re-localize, just move the EN and all tran

[2016-10-26 14:49] TheoChevalier commented on #612
Thanks @stephaniemcv
We have this email translated in most of those locales: https://github.com/mozilla/donate.mozilla.org/tree/master/locales and are planning to add ~10 more soon. Does that scale with SalesForce, or we’re planning to move only a few locales?
I don’t know for which locales we’re actually sending this email

[2016-10-26 15:45] ScottDowne commented on #70
Tis all good and easy. I can do it, just making sure it was an explicit
change.

[2016-10-27 07:51] valianttry commented on #392
hey @ScottDowne -- A"standard" snippet is not going to appeal to this audience nearly as much as a snippet experience specifically designed for Developers. Is there something specific you're worried about that a test with the standard snippet will clarify? Are you worried about a low response from the users, or is there something about the code that you want to test to make sure things work the sa

[2016-10-27 07:54] valianttry commented on #374
adding @TheoChevalier as there will likely be additional L10N needed for new forms in new locales, even if they are Stripe only.

[2016-10-27 08:35] ScottDowne commented on #588
@jkt230 hey, just doing mozfest stuff until next week, then I'll start on this.

What it looks like I'll be doing, and if this is okay with everyone else, is the sliding form version here: https://github.com/MozillaFoundation/Advocacy/issues/588#issuecomment-253912275, so it easily fits into the space. I might also try a few simpler versions that still fit, and we can test.

@jkt230 should I or yo

[2016-10-27 09:18] ScottDowne commented on #392
@valianttry yeah, I was just worried about building a new snippet for an untested audience. If we wanted to see how willing they were to give before building this, we could run the standard snippet for a day to see if it's worth it.

The actual scope of the snippet still feels pretty experimental, and not very specific. Something about terminals, ascii art and animations. I have those two existing

[2016-10-27 09:29] TheoChevalier commented on #374
@valianttry We should be enabling new locales in #609 (more or less all the locales we can enable), I guess it should cover the need here? Or you’re talking about adding new strings?

[2016-10-27 10:13] ScottDowne commented on #404
@stephaniemcv yay, looks like these are the locales:

  'az',
  'ca',
  'cs',
  'de',
  'es',
  'es-ES',
  'es-MX',
  'fr',
  'fy-NL',
  'it',
  'ja',
  'ko',
  'nl',
  'pt-BR',
  'pt-PT',
  'ro',
  'sl',
  'sq',
  'sv-SE',
  'zh-CN',
'zh-TW'

from: https://github.com/mozilla/sawmill/blob/master/worker/stripe_charge_succeeded.js#L21-L41

[2016-10-27 10:19] ScottDowne commented on #404
@stephaniemcv Here is the text that we use for translated emails: https://github.com/mozilla/webmaker-mailroom/blob/master/locale/en_US/stripe_charge_succeeded_2014.json

[2016-10-27 10:23] ScottDowne commented on #404
English uses this template: https://github.com/mozilla/webmaker-mailroom/blob/master/templates/stripe_charge_succeeded_2015/index.html

Which is different than the localized one.

[2016-10-27 10:32] ScottDowne commented on #612
I'm not super familiar either.

I was poking around today, and it actually looks like the strings for this were at some point moved here: https://github.com/mozilla/webmaker-mailroom/blob/master/locale/en_US/stripe_charge_succeeded_2014.json

I really really want this on salesforce ;)

Also related: https://github.com/MozillaFoundation/Advocacy/issues/404

[2016-10-27 10:35] ScottDowne commented on #612
For what it's worth, adding more locales into the current email system, or updating the strings, looks trivial.

[2016-10-27 10:46] ScottDowne commented on #609
@TheoChevalier I think you're right that supporting all es variants is overkill, and we should stick to simple es.

The question I have is around what the user should see. So say I'm in Mexico and go to donate, I get the es form, with the MXN currency. So is my URL going to be donate.mozilla.org/es/ or donate.mozilla.org/es-MX/ or does it matter?

[2016-10-27 12:25] TheoChevalier commented on #612
OK, then here’s what I think we could do:

we can import existing translations into SalesForce (the up-to-date translations in donate repo, not the ones in webmaker-mailroom repo). If we really need json files, I assume a script has been used in the first place to export them

#404 suggests that marketing might want to update the email? If it’s the case we should wait for the new copy, if not we c

[2016-10-27 13:42] TheoChevalier commented on #609
I think either are okay, with a preference for /es/. When visiting AMO with es-MX set as accept-language, it displays /es/ for instance: https://addons.mozilla.org/es/firefox/

[2016-10-27 13:49] lovegushwa commented on #605
Ok, final creative is in the deck here:
https://docs.google.com/a/mozilla.com/document/d/1Pg-4PWXu8z5y0T5Il6VYxZU__T5QwucoqiBX9jV5xPc/edit?usp=sharing

[2016-10-27 13:58] ScottDowne commented on #612
@TheoChevalier I agree with your plan.

To convert properties to json, we use https://www.npmjs.com/package/pontoon-to-json

[2016-10-27 14:01] ScottDowne commented on #609
@TheoChevalier Sounds good. I'll shoot for /es/ in the url, but still stay true to the currency.

[2016-10-27 17:07] jkt230 commented on #588
@scottdowne Great, and Wes also pointed out a 4th test that we can use (no dev work required). You've built the fundraising button that we could potentially use for email.

![screen shot 2016-10-27 at 9 12 01 am](https://cloud.githubusercontent.com/assets/6807556/19777446/0e8d01ca-9c2d-11e6-9354-85403200c9b1.png)

As for heads up just ping both I and Giorgos, thanks!

[2016-10-27 18:29] TheoChevalier commented on #565
@zhelding you can import all the locales available here. We’re only missing Slovenian (opt in) and Polish https://github.com/mozilla-l10n/engagement-l10n/tree/master/surveygizmo/maker_party_2016

[2016-10-27 18:29] #565 closed, assigned to TheoChevalier

[2016-10-27 18:49] jendc123 commented on #556
Hi @brettgaylor and @valianttry - I think this can be resolved.

[2016-10-27 18:54] jendc123 commented on #579
Hi @TheoChevalier - wanted to check and see if we can close this.

[2016-10-27 19:01] TheoChevalier commented on #579
@jendc123 There are still strings here and there in the forms that can’t be localized, so technically, the issue is still valid… Now the question is is it still worth fixing them?

[2016-10-28 00:34] zhelding commented on #565
@TheoChevalier, all imported. Thanks!

[2016-10-28 08:25] TheoChevalier commented on #510
Hey @stephaniemcv here are the DE, ES and PL translations https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=125626957

[2016-10-28 08:25] #510 closed, assigned to stephaniemcv

[2016-10-28 11:20] valianttry commented on #612
@stephaniemcv this raises an interesting question -- we will have many more locales to associate with donor records than we actually service with outgoing email. E.g. Japanese. We can currently story locales with user records without needing to do any major infrastructure changes correct? (Thinking about what it took to set up the new locales for Maker Party). Is this a Q for Andrew?

[2016-10-28 11:32] valianttry commented on #392
@WesWinton who are the dev edition key stakeholders? We could set up a brainstorm meeting with them, you, and Jean along with our design / dev team and finalize approach / get on same page soon.

[2016-10-28 11:45] valianttry commented on #411
We may want to look at a service to help with this -- here are a few I found that integrate with Stripe:
https://www.chargify.com/stripe/
https://www.chargebee.com/subscriptions/

PayPal has its online knowledge base -- could we point people to it? Or could we create a simple FAQ with direct links to common questions, like "How do I end or change my recurring payment?" pointed at: https://www.payp

[2016-10-28 11:47] ScottDowne opened #613 "Hide American express icon in credit card button for some currencies"
Detailed description of work: Some Stripe currencies don't support American Express. We should hide the icon for these currencies.

<< Matt H. removed the due date since this is "To Be Prioritized" >>

[2016-10-28 12:12] valianttry commented on #333
@vojtechmzl can you calculate the total impact on EOY fundraising totals in the tables? We will have roughly 1 billion impressions. For instance, if I calculate the performance difference during the life of the campaign based on the control EOY 2015 vs. the winning new design I find that we will raise $1.5 million less. That is very significant. I know there are further tests underway to mitigate,

[2016-10-28 12:24] valianttry commented on #586
@TheoChevalier it might be helfpul for you to get a tour of Desk.com and how we use it. I think it will help us make a better decision here. Desk.com helps us triage incoming support emails, which are tracked at the user-level in a database which offers a number of advantages. For instance, storing FAQ answers on a static webpage would require @stephaniemcv and her team to copy/paste answers to qu

[2016-10-28 12:25] valianttry commented on #367
@cadecairos this will save us lots of monies. 😸

[2016-10-28 12:34] valianttry commented on #586
Just chatted with @ScottDowne and I proposed that we reveal a custom FAQ for a few high priority locales. For instance, the most common request from German donors is for bank transfer (we cannot offer bank transfer at this time). If the browser locale = DE, we should show an FAQ that has the most common Qs for that locale. We probably only need to do this for DE and French (two prominent locales w

[2016-10-28 13:12] roseregina opened #614 "PayPal down"
Detailed description of work:
Multiple reports of attempts to donate through PayPal bringing this error message:
{"statusCode":400,"error":"Bad Request","message":"donation failed"}

_Start date: October 27, 2016_
_Due date: October 28, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-10-28 13:20] cadecairos commented on #614
I see ~20 failed paypal donations in the last hour, and over 270 successful donations.

This could be related to that users card/account not being authorized to make the donation. I don't think there's anything wrong on our end right now, although if they're just seeing a bunch of JSON as an error message, that does suck.

[2016-10-28 13:23] roseregina commented on #614
Could this be location-related? I believe that all the reports came from Brazil (though there was a spike in messages from Brazil and Germany over the past couple days, so it could just be coincidence)

[2016-10-28 13:33] ScottDowne commented on #411
@valianttry I sent both of chargify and chargebee customer support questions about integration.

I also did a bit of a scoping with Cade on the feasibility of us building this out ourselves. We think the hardest part is the lack of a single place where our customer info is currently stored. So, I bet SalesForce would make building this much much easier.

[2016-10-28 13:39] ScottDowne commented on #614
I think we should keep our eyes on this, see if it gets worse, or we see a pattern.

Right now, I don't see anything we can act on, or indication that something is broken on our end.

I did a test donation, and it most definitely works, and paypal isn't reporting any downage of service.

Regarding the error message, I have seen that before while testing, and I'm pretty sure it's also on paypals en

[2016-10-28 13:47] roseregina commented on #614
here is an image that one of the error reporters sent us (in case it is more meaningful to you than me)
 ![image](https://cloud.githubusercontent.com/assets/15040203/19808521/40fee800-9cf3-11e6-8f0b-16e220e5b3c3.png)

[2016-10-28 13:51] ScottDowne commented on #586
@valianttry We can make the FAQ linkable, and have it so we can link to specific questions, and then have them expanded. Would this somehow make copy and pasting into desk.com easier? Example, paste them a link like https://donate.mozilla.org/de/faq/#reissue-receipt

Can also link to the FAQ in desk.com in general, if possible, to try to funnel people to the FAQ first?

@TheoChevalier With the pos

[2016-10-28 13:57] ScottDowne opened #615 "Display better error for paypal donation failures"
Detailed description of work: Right now if paypal fails or is down, for a number of reasons, our redirect chokes and displays a json blob like `{"statusCode":400,"error":"Bad Request","message":"donation failed"}` from paypal. We can probably detect this, and show them something a little more meaningful...

_Start date: November 7, 2016_
_Due date: November 20, 2016_
Note: The dates need to be exa

[2016-10-28 13:58] ScottDowne commented on #614
Yeah, we can display a better error for that, at the very least. Filed that here: https://github.com/MozillaFoundation/Advocacy/issues/615

[2016-10-28 13:59] roseregina commented on #614
thanks @ScottDowne, does this mean that I should close this issue?

[2016-10-28 14:06] ScottDowne commented on #614
@roseregina Yeah, let's close this, until we see a pattern or get more data, or otherwise something looks different.

We have systems in place that if enough things start to fail, we are notified, so I'm not super worried if this isn't independently tracked.

[2016-10-28 14:06] #614 closed, assigned to ScottDowne, cadecairos, stephaniemcv

[2016-10-28 14:26] TheoChevalier commented on #586
@ScottDowne it could work with multilingual files like .lang or .po, but not with monolingual files like .properties, because Pontoon will compare locale files against en-US file and drop everything that’s not in there. Using .PO, we should be able to edit .PO files for a few locales and manually add strings.

Otherwise we would have to move each custom locale to a dedicated project on Pontoon, wi

[2016-10-28 14:38] ScottDowne commented on #586
@TheoChevalier interesting! So, is .po something we can integrate with just a single page, or do we need to move the whole repo to .po files? In the meantime, I'll take a look at .po files.

[2016-10-28 15:23] TheoChevalier commented on #586
@ScottDowne We need to check with @mathjazz I think we never done that before. And actually talked with flod, he’s not even sure we can do that with .PO. @mathjazz, do you know if we can add strings on a .PO file only for a few locales and if we can have both .properties and .po in the same repo?

[2016-10-28 15:57] valianttry commented on #575
@vojtechmzl it would be handy if we can break out the % of revenue coming in through various payment methods. Check out Wikimedia's breakout in their testing of paypal, cc, and amazon: https://meta.wikimedia.org/wiki/Fundraising_2013. I think one chart would do it. It would be interesting if we can see which specific CC people used as well (AMEX vs. Mastercard; etc)

[2016-10-28 15:58] valianttry commented on #575
I don't see any real use for the "transaction ID" feed (e.g. every transaction with an amount at the bottom of page 1). Do you have a compelling reason to include it or can we remove?

[2016-10-28 16:58] gholme4 commented on #584
@stephaniemcv @valianttry Hi. I removed the \* because the template does not require the postal code.

[2016-10-28 16:58] gholme4 commented on #583
@stephaniemcv @valianttry Hi. I removed the \* because the template does not require the phone number.

[2016-10-28 16:59] gholme4 commented on #461
@HPaulJohnson @valianttry Hi. I replaced the Medium link with Code of Conduct.

[2016-10-28 17:01] TheoChevalier commented on #461
And this is not localized…

[2016-10-28 17:21] cristina-moon commented on #408
I popped a suggested rewrite into comments.

[2016-10-28 17:50] stephaniemcv commented on #583
Closing because phone number is not required.

[2016-10-28 17:50] #583 closed, assigned to nobody

[2016-10-28 17:51] stephaniemcv commented on #584
@gholme4 I'm confused. I thought zip was a required field to power the google map so people can find Maker Parties near them?

[2016-10-28 18:15] gholme4 commented on #584
@stephaniemcv Yes, but the postal code isn't required to submit an event. That's NationBuilder's logic.

[2016-10-28 18:37] WesWinton commented on #392
@valianttry I'll set up a meeting between all of us. Feel free to add anyone else to the invite when it comes your way

[2016-10-28 23:39] #487 closed, assigned to stephaniemcv

[2016-10-28 23:39] #488 closed, assigned to stephaniemcv

[2016-10-28 23:42] stephaniemcv opened #616 "QA: Host a Maker Party Kicker"
Detailed description of work: **Review Group, please check copy, rendering and link functionality and place edits/issues in this ticket.**

Potential issues:
- Google  form not localized (ES, DE, FR, PL)
- Learning pages not localized in PL (https://learning.mozilla.org/pl/events & https://learning.mozilla.org/pl/events/resources)

_Start date: October 28, 2016_
_Due date: October 31, 2016_
Note:

[2016-10-29 15:57] TheoChevalier opened #617 "GIFs are not localized anymore on changecopyright.org"
Locales used to have localized Nyan cat gifs, but are now showing the English version.

[2016-10-30 10:15] valianttry commented on #617
@jendc123 at Fission has helped rectify this issue before with assistance from @gholme4

[2016-10-30 10:16] valianttry commented on #615
@ScottDowne can you add assignee, milestone, and make sure start and end dates are correct in this ticket?

[2016-10-31 15:11] jendc123 commented on #617
Hi @TheoChevalier and @valianttry we will check this out this morning and circle back with an update.

[2016-10-31 18:44] jendc123 commented on #617
Hi @TheoChevalier and @valianttry - this has been updated and ready for review.

[2016-10-31 18:48] TheoChevalier commented on #617
Hi @jendc123 thank you, looks good

[2016-10-31 18:48] #617 closed, assigned to nobody

[2016-10-31 19:42] mathjazz commented on #586
We can have a mix of different file formats in the same repository. What you're asking for is something like this:
https://mozilla-pontoon-staging.herokuapp.com/projects/test/

So `for-de-only.lang` is only exposed to German and `for-sl-only.lang` is only exposed to Slovenian:
https://mozilla-pontoon-staging.herokuapp.com/de/test/
https://mozilla-pontoon-staging.herokuapp.com/sl/test/

Here's the

[2016-10-31 21:38] stephaniemcv commented on #411
@ScottDowne does it make a difference if we're scoping the SalesForce integration for reporting on specific data only from Stripe? Because we don't want to actually process money with SF, that would require storing CC# and such.

[2016-10-31 21:42] stephaniemcv commented on #612
That is correct. We can store an "Email Newsletter Language" field that only services languages supported by Basket infrastructure and a "Campaign Language" field can capture unsupported languages.

[2016-10-31 21:48] stephaniemcv commented on #408
Thanks!
@TheoChevalier
The section titled "Updated Auto-Responder Text" is ready for your localization magic!
https://docs.google.com/document/d/1OGWZNO7jkJ3sDtLU70Fygef0ckrrXSHptGxp_ScHOC0/edit

[2016-10-31 21:57] stephaniemcv commented on #586
@KevZawacki
The FAQ has been extensively commented on and I'm officially handing over to you.
https://docs.google.com/document/d/16ofBfNadmTOd_MwKmvpY7VcsQuBVU_l-dhAwsfhWRNw/edit#

Hit me up with any questions.

[2016-10-31 23:52] cristina-moon commented on #530
Welcome back from MozFest, @shaghdoosti and @valianttry -- Attend a Maker Party email draft is ready for your review!

[2016-11-01 01:25] cristina-moon commented on #535
[Draft copy for the Attend a Maker Party Last Chance email](https://docs.google.com/document/d/1-eNqq2m---6iY6m_Oj5YTS9oCksTFswATwK4wS196bE/edit) for review from @shaghdoosti and @valianttry :)

[2016-11-01 14:17] roseregina commented on #592
This comment (#14578) from a donor seems potentially relevant for the bitcoin discussion, though I suspect that stripe is still more complicated than the donor would like:

[2016-11-01 14:57] TheoChevalier commented on #461
Turned out we had the translation ready for the Maker Party website, so I reused that and pushed it on Bablic. But please, next time ping me before updating the copy on a prod website.

[2016-11-01 23:06] stephaniemcv commented on #611
Data does not appear to be syncing between NB and SF. I tried two different days to account for any delays in the sync.

[2016-11-02 12:36] jendc123 commented on #611
Hi @stephaniemcv - I'll have Walter look into this morning.

[2016-11-02 14:18] TheoChevalier commented on #408
I should ask for a “Localization started” label :) In the meantime, localization started!

[2016-11-02 15:18] stephaniemcv commented on #408
Wooo! Thanks!

[2016-11-02 22:45] imagerwalt commented on #611
Hey @stephaniemcv , it was not sent into the webhook and therefore not sync'ed into Salesforce. That's because the translation tool was removed. George added a field to mimmic the user_language option so it should be back working now. Will check again in about an hour to make sure it is sent to SF successfully. (the test user is fswl102322@mailinator.com)

[2016-11-03 01:35] valianttry commented on #530
Looks great! I made a few suggested edits and notes. Thanks!

[2016-11-03 02:06] valianttry commented on #616
EN version:
- There's a needed hyphen here: "The best way to show that is through in person events." Should be: "The best way to show that is through in-person events."

Typo: "MaRker Parties"

![_mp_kicker_test_best_party_in_the_eu__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/19953695/31f1d900-a12e-11e6-9d8d-50cf5765c4f9.png)

I didn't realize

[2016-11-03 02:16] valianttry commented on #616
The P.S. says: "PS - Not sure how to add in your event into nationbuilder? Check out this handy video."

The link opens a 22-minute video (the Webinar). It's not a short sweet tutorial on adding an event. It would be more truthful to say "We recorded a Webinar for hosts to teach you all you need to know to create your own event." This isn't a blocker for me, but I think we could do better to expla

[2016-11-03 02:31] TheoChevalier commented on #616
That’s a good practice we tend to follow as localizers when we have access to the content linked. For instance, we usually do it when we link blog posts in another language from a localized text. Example: https://transvision.mozfr.org/?sourcelocale=en-US&locale=fr&repo=mozilla_org&search_type=entities&recherche=mozilla_org/firefox/dnt.lang:2faa2173&perfect_match=perfect_match (we appended “(In Eng

[2016-11-03 03:57] michelewarther commented on #392
@WesWinton - ping me into the session too. what about the copy/creative for the takeover in the release channel?

[2016-11-03 14:59] ScottDowne commented on #411
@stephaniemcv yeah, it's def not going to be storing credit card info or processing money.

We just need a way to authenticate the customer, and in order to do that, we need a database of customers. I would rather not set that up when salesforce can be that list of customers.

If we don't have this sort of authentication, there is potential that someone can maliciously start canceling monthly subs

[2016-11-03 15:37] ScottDowne commented on #70
@lovegushwa I thought we removed the highlight text because it was disruptive? I noticed it's crept its way back.

We also removed the monthly checkbox because it was disruptive, right? If I have to pick, I would pick the monthly checkbox over highlight text.

[2016-11-03 15:37] stephaniemcv commented on #411
@ScottDowne Interesting about the authentication.

Agreed on a thing not to do during the campaign and we won't. I would love for research on options to continue, and then tackle this in 2017.

[2016-11-03 15:41] ScottDowne commented on #411
@stephaniemcv I would love that! You just made my day.

I do have it as a task today to parse and respond to the answers I got from chargebee and chargify, which I still think makes sense to start that part of the process now.

[2016-11-03 15:44] ScottDowne commented on #615
After going through my other tickets, comparatively, I don't think this is a priority.

[2016-11-03 15:46] ScottDowne commented on #592
I'm pretty sure anything bitcoin related can be tackled (if at all) in 2017.

[2016-11-03 16:37] stephaniemcv commented on #611
@imagerwalt, @brettgaylor
Confirming that data is syncing now. I found Walter's test and did another one and the correct info passed through to SalesForce.

[2016-11-03 17:46] stephaniemcv opened #618 "Get donation info into Salesforce"
Detailed description of work: For the Stripe/Paypal Integration to Basket, provide a Stripe and PayPal endpoint to Pmac in MoCo for testing posts.

*Start date: November 3, 2016*
*Due date: November 7, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-03 18:09] brettgaylor commented on #611
So @HPaulJohnson feels like final hurdle has been jumped.

[2016-11-03 19:17] ScottDowne commented on #618
@stephaniemcv Maybe a question for pmac, but why not have donate send the info to basket directly when someone makes a donation?

[2016-11-03 19:27] stephaniemcv commented on #618
@drewmoto Is this something we considered? I don't know if we thought this was an option.

[2016-11-03 19:33] ScottDowne commented on #618
I guess it depends on the data? But at the point we make the donation, we likely have all the info we need, and I'm happy to send it to basket after the donation is successful. Might be easier than mucking around in stripe and paypal apis, which are not super easy.

[2016-11-03 22:35] drewmoto commented on #618
Emailed PMac to get his thoughts. I dont see why this wouldnt work
considering you have the data already.

On Thu, Nov 3, 2016 at 12:33 PM, ScottDowne notifications@github.com
wrote:

[2016-11-03 23:09] jkt230 commented on #588
@ScottDowne A friendly follow up to see if we can test the templates you have created next week? We just ran the one above this comment for a few days and pulling results to see if it drove any higher conversions for sign-ups. The CTR was a bit lower than just sending them directly to the landing page.

[2016-11-04 02:09] pmac commented on #618
@ScottDowne I'm very open to this idea. We're already integrating with FxA like this. The best/easiest thing would actually be if you were to put the donation event data in a queue at Amazon SQS which basket could consume. We're planning on moving the FxA integration this way, and going that way for this could help get that ball rolling, as well as being more reliable and efficient than HTTP POSTs

[2016-11-04 13:21] KevZawacki commented on #586
@stephaniemcv OK -- [document](https://docs.google.com/document/d/16ofBfNadmTOd_MwKmvpY7VcsQuBVU_l-dhAwsfhWRNw/edit#) has been fully reviewed and copyedited.

[2016-11-04 15:41] stephaniemcv commented on #612
@ScottDowne Would the conversation in #618 change the data flow to SawMill? I know we want to work on moving all donor acknowledgements away from that and into SalesForce, however the scoping for that is looking to be bigger and take longer than initially thought.

[2016-11-04 15:58] ScottDowne commented on #612
@stephaniemcv Should be separate. We're already using basket on donate, so this should come together nicely.

I also don't see any issues in the current usage of sawmill (sending thank yous) and #618 blocking each other.

[2016-11-04 16:15] ScottDowne commented on #618
For reference, these are the lines of code where we could be adding this:

Paypal: https://github.com/mozilla/donate.mozilla.org/blob/master/routes/index.js#L290-L291
Stripe one time: https://github.com/mozilla/donate.mozilla.org/blob/master/routes/index.js#L169-L170
Stripe monthly: https://github.com/mozilla/donate.mozilla.org/blob/master/routes/index.js#L234-L235

I suspect with a tiny bit of wo

[2016-11-04 16:21] pmac commented on #618
Yeah, the hatchet thing looks perfect! The data we need is something @drewmoto can help us define. I believe he has it in a gdoc somewhere.

[2016-11-04 16:33] stephaniemcv commented on #586
@KevZawacki , thank you for busting that out!

Document has now been passed to Abigail in legal for a final review.

[2016-11-04 16:56] ScottDowne commented on #588
@jkt230 I think I can have it ready by next week. Depends how my day goes, but this is my second task on my list.

Also, I'm not sure what you meant by "The CTR was a bit lower than just sending them directly to the landing page"

Another thing I noticed, but unrelated to fundraising, the snippet icons seem to be subjectively too large for a lot of the content. Is this known/intended/acceptable?

[2016-11-04 18:12] drewmoto commented on #618
Here is the field mapping doc PMac referenced.
https://docs.google.com/spreadsheets/d/1Vqy_Ojg5i61ks4qm67_0rdiIvZlWu-kALMjr9KSd_iQ/edit#gid=239699807

Let me know if we should get a session on the calendar to talk through some
of this.

On Fri, Nov 4, 2016 at 9:21 AM, Paul McLanahan notifications@github.com
wrote:

[2016-11-04 18:30] #234 closed, assigned to KevZawacki

[2016-11-04 23:56] stephaniemcv commented on #616
Based on the issues with this email and the decision to extend the Maker Party campaign, @shaghdoosti and I are making the call not to send this email.

[2016-11-04 23:56] #616 closed, assigned to stephaniemcv

[2016-11-07 04:32] #524 closed, assigned to nobody

[2016-11-07 04:32] #461 closed, assigned to lovegushwa

[2016-11-07 04:33] valianttry commented on #462
WONTFIX

[2016-11-07 04:33] #462 closed, assigned to nobody

[2016-11-07 04:33] valianttry commented on #523
Closing this, please re-open if it's still being worked on.

[2016-11-07 04:33] #523 closed, assigned to KevZawacki, vojtechsedlak

[2016-11-07 04:37] #223 closed, assigned to ScottDowne

[2016-11-07 04:38] valianttry commented on #405
Please re open if this is closed in error. Just cleaning up tickets.

[2016-11-07 04:39] valianttry commented on #389
@stephaniemcv is this something Rose Regina can do? Can you update the ticket and milestone?

[2016-11-07 04:40] valianttry commented on #70
@vojtechmzl this ticket is getting a bit long / convoluted, can you create a new ticket for the remainder of the testing? I want to make certain we have a scope and an end in sight given we are running out of time.

[2016-11-07 04:41] valianttry commented on #413
@stephaniemcv can you update this ticket and move it to a new milestone? TY!

[2016-11-07 04:42] valianttry commented on #379
@ScottDowne can you update, close, or move this ticket and assign a new milestone? This may possibly not be a priority now that it's already November and there's a lot of work to be done.... your call.

[2016-11-07 04:49] valianttry commented on #609
I assigned a milestone as I'm trying to sort and order tickets for EOY. Please edit the milestone if necessary.

[2016-11-07 04:50] valianttry commented on #612
@ScottDowne based on the ^^ conversation, can you make sure the necessary tickets are created for this work? Please assign milestones; etc.

[2016-11-07 04:53] valianttry commented on #601
@vojtechmzl what's needed for this work? Given it's already November, let's pick perhaps 2-3 creative variants to test. We will need to ticket the design work as soon as possible.

[2016-11-07 04:54] valianttry commented on #590
I'm closing this ticket as the work seems to be finished. If that is incorrect please reopen. (just cleaning up github tickets)

[2016-11-07 04:54] #590 closed, assigned to vojtechsedlak

[2016-11-07 04:55] valianttry commented on #453
@ScottDowne can you please ticket task(s) related to this and assign milestones / assignees; etc? Or just edit this ticket to quantify a piece of work we can track. TY!

[2016-11-07 04:56] valianttry commented on #410
I'm moving this to milestone "Blue Sky" as I don't think it's in scope for the time remaining.

[2016-11-07 04:58] valianttry commented on #398
@ScottDowne can you set a milestone, describe the work, or Blue Sky this? I very much support you scoping what this would take -- it could be a big boost in conversion. cc @vojtechmzl

[2016-11-07 05:00] valianttry commented on #397
@stephaniemcv I suggest we Blue Sky this, I don't think we have capacity to build this at this stage.

[2016-11-07 05:01] valianttry commented on #395
@ScottDowne if this is related to #612 can we close this one?

[2016-11-07 05:03] valianttry commented on #394
@TheoChevalier that sounds OK, but possibly a bit expensive. It's a lot of words! Can you check in with Kontextor and scope the work with them?

[2016-11-07 05:05] valianttry commented on #393
I'm going to ask @vojtechmzl to lead / design this test. Please evaluate the relative gains possible with other work, given the crunch time. It's fine to P2 or Blue Sky this in favor of higher priority tasks.

[2016-11-07 05:07] valianttry commented on #392
Meeting is scheduled for Monday Nov 7

[2016-11-07 05:10] valianttry commented on #390
@ScottDowne can you ticket specific work for this, update, add milestone; etc? TY

[2016-11-07 05:14] valianttry commented on #378
@ScottDowne please scope and detail this work. Is this something we need to do this year?

[2016-11-07 05:15] valianttry commented on #376
@ScottDowne related to #612 ? I think this might have to wait until next year given that the Salesforce email functionality is more involved.

[2016-11-07 05:16] valianttry commented on #375
@ScottDowne please triage this and add detail / milestones or Blue Sky.

[2016-11-07 05:20] valianttry commented on #374
@ScottDowne can you add milestone here and next steps? I recommend prioritizing locales based on potential revenue, e.g. :

![donations_by_country_2013_v_2014_-_google_sheets](https://cloud.githubusercontent.com/assets/9830371/20047208/c5b8046c-a466-11e6-973b-dd42bb3e7cdb.png)

[2016-11-07 05:23] valianttry commented on #373
@ScottDowne since Italy is a priority locale, I'm cc @TheoChevalier and assigning this to @lovegushwa

[2016-11-07 05:24] valianttry commented on #371
@ScottDowne please triage this work -- will this speed up page load time? Just wondering what the advantage is to this work, and whether it's worth doing given all the other stuff.

[2016-11-07 05:24] valianttry commented on #370
@ScottDowne please triage this work -- will this speed up page load time? Just wondering what the advantage is to this work, and whether it's worth doing given all the other stuff.

[2016-11-07 05:25] valianttry commented on #368
@ScottDowne please triage this work -- will this speed up page load time? Just wondering what the advantage is to this work, and whether it's worth doing given all the other stuff.

[2016-11-07 05:27] valianttry commented on #363
Assigning to @vojtechmzl to triage against other tests we want to do.

[2016-11-07 05:28] valianttry commented on #362
@ScottDowne is this something design needs to help out with? This could also be a part of our improved "thank you page experience". #407

[2016-11-07 05:29] valianttry commented on #361
@ScottDowne I consider this a high priority. Can you detail the work required? If I recall, there was something on the back end that made this tricky. ??

[2016-11-07 05:31] valianttry commented on #367
@cadecairos and @ScottDowne can you finish and close this asap? Time is running out.

[2016-11-07 05:32] valianttry commented on #365
@ScottDowne please triage this and update with more details and milestone.

[2016-11-07 05:34] valianttry commented on #350
@ScottDowne can you update this? Add a milestone plz. Let me know if we need to chat with snippet team. Also cc @TheoChevalier

[2016-11-07 05:37] valianttry commented on #25
Moving to Blue Sky as this is an accounting issue and will not be resolved anytime soon.

[2016-11-07 05:38] valianttry commented on #24
Not in scope. Moving to Blue Sky.

[2016-11-07 06:02] valianttry opened #619 "Finalize Testing Plan for EOY fundraising"
Detailed description of work:
I just walked through lots of testing tickets! They are all great, but we can't do them all in the time we have.

We need a testing plan for the remainder of the year to optimize for our campaign KPIs. If you need help making decisions @vojtechmzl ping me!

*Start date: November 1, 2016*
*Due date: November 10, 2016*

[2016-11-07 06:05] valianttry opened #620 "Build Spectacular Snippet"
Detailed description of work:
Design work happening in #400

*Start date: December 12, 2016*
*Due date: December 23, 2016*

CC:

[2016-11-07 06:17] valianttry commented on #366
I believe this is done, the production schedule lives here: https://docs.google.com/spreadsheets/d/1lCpUiBe5B19SASA53CRpkzTK7hrBnxRANTT0kkRZDGo/edit#gid=4

Closing.

[2016-11-07 06:17] #366 closed, assigned to valianttry

[2016-11-07 06:24] valianttry opened #621 "Build web page for NEW localized FAQ"
Detailed description of work:

See #394
Build a static webpage and extract the strings in a .properties file, which will be then exposed on Pontoon & GitHub

*Start date: November 7, 2016*
*Due date: November 30, 2016*

CC: @TheoChevalier

[2016-11-07 06:38] valianttry commented on #586
@stephaniemcv please let me know if you need anything. I find it's helpful to give Abigail specific deadlines (in this case, Nov 10 would be ideal so we can start getting this in the L10N queue).

[2016-11-07 10:50] TheoChevalier commented on #350
The snippet team can confirm, but I know they can do this, and it’s probably what you want:
- Target en-US locale browsers
- Target India country with geolocation
- Display a snippet in English pointing to https://donate.mozilla.org/en-IN/

-> This targets Firefox users in India, with a en-US browser, which is something like 99% of our user base there.

[2016-11-07 12:05] ScottDowne commented on #350
donate and pontoon don't support an en-IN. so I think the idea is use
donate.mozilla.org/en-US/?currency=inr you shouldn't need to do anything
fancy in the snippet to get this. They just set locale as en-US and
currency as inr in the snippet props.

[2016-11-07 12:10] TheoChevalier commented on #350
Correct, we removed this unmaintained folder few days ago.

[2016-11-07 12:15] ScottDowne commented on #586
Don't forget it needs to be built after copy and before l10n can start ;)

[2016-11-07 12:23] ScottDowne commented on #361
It's blocked on needing a decision. It's not technical. I think the issue
is we ask for frequency after amount. Most every major donation form does
frequency above amount. (They also change the amounts like we do) I'm happy
to just do that (should take ten mins) but it's been blocked because we
wanted to test it. Seeing how we have little time. I'm happy to change now
and maybe test later?

[2016-11-07 12:27] ScottDowne commented on #362
It's probably pretty simple and I think design is not needed.

[2016-11-07 12:28] ScottDowne commented on #363
This test should help with our auto downgrading issue. I consider it high
priority.

[2016-11-07 12:30] ScottDowne commented on #368
It's low priority. Also probably easy to do if it becomes high priority for
whatever reason.

[2016-11-07 12:32] ScottDowne commented on #370
The goal would be to speed up page time. I would say it's low priority
given it's a ticket to "figure out if we can" and not "do something
specific" it's not something we should be doing this close to the end.

[2016-11-07 12:33] ScottDowne commented on #371
Also something we shouldn't be worrying about this close to the end.

[2016-11-07 14:36] ScottDowne commented on #609
@TheoChevalier a handful of this work has been done. I think we should either update it with a list of what's left, if anything, or file a couple tickets that separate the final bits into new tickets and close this one.

[2016-11-07 14:41] ScottDowne commented on #379
I'm going to bluesky this, unless @vojtechmzl has an easy implementation in mind.

@vojtechmzl if you want to jump on this soon, feel free to re milestone it.

[2016-11-07 14:47] ScottDowne commented on #612
@valianttry I think this might actually be closable. We don't have anything actionable until we have SalesForce sending thank you emails.

Once we do, we need to consider the decision made in this comment in this ticket: https://github.com/MozillaFoundation/Advocacy/issues/612#issuecomment-256626579

So closing, I think we have what we need. @TheoChevalier feel free to reopen or file something els

[2016-11-07 14:47] #612 closed, assigned to nobody

[2016-11-07 14:52] ScottDowne commented on #453
I was hoping it was something on paypal's end and would sort itself out, still busted though.

We should consider broken tests as a priority so we can continue to ship changes with confidence.

[2016-11-07 15:05] ScottDowne commented on #398
The reason I put this in bluesky is the amount of work would be significant. It's a lot of moving pieces, and coordination with mofo design and moco. My estimate is a week+ for just build and review. Add design onto that, and if we still think it's worth tackling, we can move it out of bluesky.

[2016-11-07 15:06] ScottDowne commented on #397
Agreed. It's also blocked on a few other things, like emails from Salesforce and the FAQ.

[2016-11-07 15:08] ScottDowne commented on #395
@valianttry nah,, #612 is far too meta, we can use this one as a single built ticket. It's blocked on Salesforce, though.

@stephaniemcv where should we plop this into as a milestone?

[2016-11-07 15:16] ScottDowne commented on #378
I suspect we'll need to bluesky this. I would rely heavily on @cadecairos for this, and I don't think we have capacity for that.

Going to blueky it for now, but if we can get some of @cadecairos time, or if he thinks it can be done easily, we can bring it back.

[2016-11-07 15:18] ScottDowne commented on #376
Yeah, we should do this in https://github.com/MozillaFoundation/Advocacy/issues/395

[2016-11-07 15:18] #376 closed, assigned to ScottDowne

[2016-11-07 15:19] ScottDowne commented on #375
Let's try to get this before our last few weeks. Some of the work is done already, so it's not too much work to get it finished.

[2016-11-07 15:24] ScottDowne commented on #361
Related: https://github.com/MozillaFoundation/Advocacy/issues/363

[2016-11-07 15:28] ScottDowne commented on #365
@cadecairos thoughts?

[2016-11-07 16:07] stephaniemcv commented on #405
Not completed yet.

[2016-11-07 16:10] stephaniemcv commented on #413
Closing. LCM team scoped and we would be unable to hit our 11/29 deadline. Will need to use SawMill for the time being.

[2016-11-07 16:10] #413 closed, assigned to stephaniemcv

[2016-11-07 16:10] lovegushwa commented on #605
@HPaulJohnson excited to learn about the testing results we will be pushing to finish up #606 in the next few days.

[2016-11-07 16:27] vojtechsedlak commented on #619
Hi @valianttry, thanks for flagging this. Steph, Scott and I met a while back to chat through the tests and we narrowed things down into the [following list](https://docs.google.com/spreadsheets/d/1Ihcus3J_25xLzw-bQeEBXuIY5X2Q3FD1MG0T1eRaQx4/edit#gid=0), which I ranked based on the methodology used by Adam last year. I will work on fleshing out a timeline and required effort for implementing these

[2016-11-07 16:29] vojtechsedlak commented on #363
Now that the snippet test is complete, I can set this up in Optimizely and we can run it asap. I will loop you in for QA @ScottDowne

[2016-11-07 16:33] ScottDowne commented on #453
Small update, seems it's just locally that the test is busted, still works on staging, which probably makes this less critical.

I'll poke around for  few more minutes, but likely going to p2 this I don't find anything.

[2016-11-07 16:41] valianttry commented on #619
Wonderful!! 🚀

[2016-11-07 16:51] stephaniemcv commented on #395
Mid q1?

[2016-11-07 17:10] ScottDowne commented on #453
Fixed: https://github.com/mozilla/donate.mozilla.org/pull/1643

Looks like PayPal changed their password requirements for sandbox accounts. Ours was previously testtest, which started to fail. It needs a cap, special character, and a number now. I updated it to TestTest1. with the period...

[2016-11-07 17:10] #453 closed, assigned to ScottDowne

[2016-11-07 18:18] #596 closed, assigned to KevZawacki

[2016-11-07 18:40] cadecairos commented on #618
Yeah this should be really easy to implement with hatchet and the "send_post_request" event type. I can do this if you have too much on youre plate @ScottDowne

[2016-11-07 18:43] cadecairos commented on #618
@drewmoto I've sent a request to access that doc using my ldap account, can you approve that when you've got a chance.

[2016-11-07 18:43] ScottDowne commented on #618
@cadecairos that would be amazing! 🚀 I'll assign to you, let me know if you need help, have questions or want review.

[2016-11-07 19:03] roseregina opened #622 "Share test accounts for donation testing"
Please share the test accounts for doing QA on the localized donation pages.

*Start date: November 7, 2016*
*Due date: November 10, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC: @stephaniemcv @ScottDowne

[2016-11-07 20:43] valianttry commented on #602
Oops I think i made a dupe -- #601

[2016-11-07 20:56] valianttry opened #623 "Design a joyful / delightful post-donation Thank You page? gif? experience?"
Detailed description of work:
We want to delight users with a Thank you (animation? Gif?).

We had a rich brainstorm back in October and the notes from that are here:
https://docs.google.com/document/d/1XlgGt1xUe-vwfzHirm7U6IoqumQmhVLuyfxdv-wpk4k/edit

There might be creative fodder here: #247

@vojtechmzl is also testing the post-donation flow to optimize for email opt-in (could be a separate ste

[2016-11-07 22:35] natalieworth commented on #605
@lovegushwa @beccaklam @vojtechmzl Exported these photographic options with different treatments here. I'm not 100% loving the overlay option yet, so I exported a couple of those. I also updated the polaroid images to include photos from our Maker Party repo of images on Flickr. If we end up going in that direction, we'll probably have to get some help to confirm the different events if needed.
Di

[2016-11-07 22:40] valianttry commented on #392
Notes from our meeting:
-- General enthusiasm for the idea! We will move forward.

UX ideas:
-- Make sure we mitigate confusion, and that users don't think their browser is "broken" or offline with the design
-- Ask developers to enter a line command to launch the design
-- Make sure the message gets across our <3 for developers
-- Create a "broken" experience and ask developers to "de-bug" which

[2016-11-07 22:43] ScottDowne commented on #622
@stephaniemcv @roseregina Here's our documentation on how to make a test donation: https://github.com/mozilla/donate.mozilla.org/blob/master/docs/QA_Checklist.md

It'll work on staging, which is here: https://donate.mofostaging.net/en-US/

[2016-11-07 22:44] ScottDowne commented on #622
Close this if that worked.

I'm pretty sure emails are not sent from staging, but might be wrong. So the only way to currently test that is an actual donation, which kinda sucks.

[2016-11-07 23:42] valianttry commented on #605
@natalieworth i'm a little worried these photos are ... not diverse enough? Meaning, our audience is not just this demographic. Possible to diversify? E.g. our biggest campaign this year was in the EU... which isn't really represented in these photos. I'd be glad to hop on a call to talk more if you'd like.

Also, if these are Laura's pics we're sure we have signed releases / permission to use the

[2016-11-08 02:16] ScottDowne commented on #367
Just an update. The first half landed today. It doesn't change anything, it's a refactor that reduces the complexity of this by a lot. The other half "pulls the switch" so to speak, and should land tomorrow if nothing blows up in the first half. Landing them sequentially like this is a bit easier if something goes wrong. I'll update this tomorrow and hopefully we can close this!