[2016-07-25 19:10] a-kilroy commented on #158
One thing not noted on my sitemap is any footer links. I _assume_ that we have a standard footer we use for most things and that those links can be included in design but not in the site since they _probably_ link to a central location. @damiankay can you confirm that this is the case? Otherwise we'll need to add pages for whatever footer links are needed.

[2016-07-25 19:29] damiankay commented on #115
Easy to see how delivering actual pledges can be powerful!

@ScottDowne can you begin looking into whether it's possible to target signatures based on location within Nationbuilder?

[2016-07-25 19:34] damiankay commented on #97
Fantastic - thanks @HPaulJohnson

[2016-07-25 19:34] damiankay commented on #80
That would be amazing if you could @a-kilroy - thanks!

[2016-07-25 19:36] damiankay commented on #158
Will do - thanks for flagging

[2016-07-25 20:01] valianttry commented on #92
@natalieworth and @ScottDowne already added some thoughts to this user story doc, any others to add? @shaghdoosti is on it....

[2016-07-25 20:55] damiankay commented on #95
Hey @brettgaylor - as per our conversation on the Heartbeat call today, can you link to the brief here? Thx!

[2016-07-25 21:06] damiankay commented on #100
Hey @brettgaylor - will this include timing for and a breakdown of what's required in V2 of the website? @ScottDowne and I are wondering about scope and bandwidth for integrating functionality discussed here #115 (I.e. customizing delivery of electronic signatures), among other features. If not, perhaps we should probably start documenting what's required for V2 soon. Thx!

[2016-07-25 23:29] damiankay opened #159 "test for smart sheet integration"

[2016-07-25 23:30] #159 closed, assigned to nobody

[2016-07-26 00:21] damiankay opened #160 "EU Copyright: Project information"
Project overview:
We’re running a “Fostering Innovation and Creativity” campaign in H2. This campaign will have multiple strategies and a collaborative project between various teams. The campaign will have two phases:

Phase 1: Before the draft reform is released
Phase 2: After the draft reform is released

Goal:
The project goal is to positively influence copyright reform in the EU and increase o

[2016-07-26 13:16] a-kilroy commented on #80
I checked with Pierros and he feels like the auth0 progress has been positive enough that we could start planning to pilot with it. He suggested that someone reach out to him and he can discuss next steps. @ScottDowne I suspect that's you but seems like a big enough thing that you'll want @simonwex involved as well. Once that's done, please make sure both @damiankay and I know clear steps and date

[2016-07-26 14:25] ScottDowne commented on #158
We don't really have a standard footer design for advocacy related or foundation stuff. There are common themes, but it changes a bit from site to site.

The links however are a bit more common, but still a few differences.

A simple fairly generic footer example: https://advocacy.mozilla.org/en-US
-  contact us link: https://www.mozilla.org/contact/
-  twitter link: https://twitter.com/Mozilla
-

[2016-07-26 14:41] ScottDowne commented on #153
I think based on the call we had, and some of the info in this ticket: https://github.com/MozillaFoundation/Advocacy/issues/115

I think I now have the answers I needed. In a pinch, for phase 1, we can use anything to store the signatures, just so long as we can export it, and it's the fields we need.

Phase 2 is more complex, because we need a digital solution, and real time submission, but let's

[2016-07-26 14:41] #153 closed, assigned to damiankay

[2016-07-26 14:44] ScottDowne commented on #115
@damiankay I think you might need to unpack that question a bit.

It sounds like you're saying we only want signatures based on certain locations, but you might be asking if we can store their locale(address?) in the signatures so we can filter them later and give them to the proper places?

[2016-07-26 14:58] ScottDowne commented on #132
Question, what do we need to integrate that's not part of https://github.com/MozillaFoundation/Advocacy/issues/80

[2016-07-26 15:21] ScottDowne commented on #150
@Struggling to get the custom field to be displayed, but that's because it doesn't tell me what's wrong, or do any proper error messages or line numbers for syntax errors.

If I had a syntax error, and it just chokes when trying to save the template with the word "error", and I need to find the line myself.

Once I found that out, it simply won't display my custom field and instead says "Liquid er

[2016-07-26 15:34] a-kilroy commented on #150
Not sure if you are doing this just to make progress but the agency we hire could/should totally set these fields up for us as part of their scope of work.

[2016-07-26 15:37] ScottDowne commented on #150
Yeah, I'm assuming the agency does this. I'm just getting familiar with it just in case.

[2016-07-26 16:26] damiankay commented on #80
Thanks for getting things moving RE auth0 @a-kilroy

Just wanted to flag that @simonwex will be on PTO for a week as of tomorrow. @ScottDowne - you might want to see if you can connect today if you have any questions.

[2016-07-26 16:32] damiankay commented on #115
Hi @ScottDowne - I would think that if there is no target selected for a particular locale, we would have a fallback solution (potentially just store the data).

@valianttry @shaghdoosti - in addition to sending signatures in real-time electronically in phase 2, I'm assuming that we'll also want to store them.

[2016-07-26 16:33] damiankay commented on #132
@ScottDowne I'm not sure yet! I think this will become more clear after discussions with the integration agency.

[2016-07-26 16:41] ScottDowne commented on #80
@damiankay not likely, it's pretty late for Pierros timezone.

Looks like we're dong it without Wex.

[2016-07-26 16:44] damiankay commented on #80
Sorry, I just meant if you want to connect with @simonwex you should do it today. I know it's not ideal, as you won't be able to speak to Pierros until tomorrow at the earliest. Thx!

[2016-07-26 16:48] ScottDowne commented on #80
Ah, I see. Yup, I already added him to the email I sent out. Should be enough, right?

[2016-07-26 16:53] ScottDowne commented on #132
Works for me. (I was mostly making sure I wasn't missing anything ;) )

[2016-07-26 17:15] ScottDowne commented on #106
Another thing we can ask them once we're setup.

How do we link a custom field to a petition. I tried, and I get this:

![screenshot from 2016-07-26 11-23-02](https://cloud.githubusercontent.com/assets/197334/17147934/f12efa90-5332-11e6-9312-b783122459d8.png)

Link example: https://mozillasandbox.nationbuilder.com/admin/sites/1/pages/40/preview

[2016-07-26 17:48] natalieworth commented on #93
@valianttry @HPaulJohnson I've added some suggestions/ wireframes to google slide deck here:
https://docs.google.com/presentation/d/1X31GHF9SclchaMY-K4Lo2XvUEAmmGrUjGHht-IHt0Q4/edit#slide=id.g15f801c431_0_0

For design/ refining the wireframes, we'll need to figure out:
- [x] CTA's to include on the landing page
- [ ] Estimate of content length that will go underneath the video
- [ ] Form fields r

[2016-07-26 17:55] natalieworth commented on #150
@valianttry Have a makeshift/ editable form field here for figuring these out: https://docs.google.com/presentation/d/1X31GHF9SclchaMY-K4Lo2XvUEAmmGrUjGHht-IHt0Q4/edit#slide=id.g15f801c431_0_58

[2016-07-26 19:49] HPaulJohnson opened #161 "Define Activities for Maker Party Events"
Develop a proposed plan for the activities to be featured during Maker Party. Discussion happening within the Maker Party Leads weekly check-ins with a goal of finalizing by next week.

Initial ideas can be found here:

https://docs.google.com/document/d/1kCV76zHYpldiEAtHgSZtZU599vmuhCjCZ-isSE4MOgo/edit

[2016-07-26 20:21] valianttry commented on #93
Process question: Are we moving away from Redpen @natalieworth ?

also cc @a-kilroy so she can see the work that's happening on petitions as she's evaluating firms to help us with Nationbuilder implementation. :)

[2016-07-26 20:23] damiankay opened #162 "Codemoji wrap report"
Can we create a report to summarize activity around Codemoji to-date?

I'm thinking this would consist of:
- [ ] Social @HPaulJohnson
- [ ] Email @stephaniemcv
- [x] PR/Comms @KevZawacki

Let me know if you have any concerns or think that other information should be included.

Is there a template / format that has worked in the past?

_Start date: September 1, 2016_
_Due date: October 31, 2016_

[2016-07-26 20:34] KevZawacki commented on #162
Hi @damiankay, our coverage report for media can be found [here](https://docs.google.com/spreadsheets/d/1seVzFajQEwRiGUb7eHbirCk2aPcDH87J5jJerjQI5ak/edit#gid=0).

There's also [this blog post](https://mofokz.wordpress.com/2016/07/07/codemoji-comms-dissected/) I wrote reflecting on the comms aspect of the campaign.

[2016-07-26 20:43] damiankay commented on #162
Awesome - thanks @KevZawacki

I'll link out to those docs.

[2016-07-26 20:45] natalieworth commented on #93
Hey @valianttry Sorry I've added to redpen here too if it's easier for commenting/ feedback :) :
https://redpen.io/p/fb792de4d217c4857f

[2016-07-26 20:54] valianttry commented on #93
oh no worries! I'm happy to give feedback wherever, this was just the first time I'd seen something in Google Presentation vs. Redpen. FWIW Redpen is a nicer environment for feedback IMHO, but I'm up to use whatever, just so we're consistent / it gets you what you need!

[2016-07-26 20:56] valianttry commented on #93
I'll leave feedback in the Google doc since that's where there's already feedback (dont' want to split up the feedback X platforms)

[2016-07-26 22:05] damiankay commented on #110
Closing this issue, as I don't think it's useful

[2016-07-26 22:05] #110 closed, assigned to damiankay

[2016-07-26 22:11] damiankay commented on #92
Does anyone have additional comments on the User Stories document that Andrea created, or can I close this?

We're into wireframing and design, so please add comments by July 27 if you have any.

CC @shaghdoosti @brettgaylor @lovegushwa

[2016-07-26 22:17] damiankay commented on #116
@natalieworth @lovegushwa do you have examples of location switchers?

[2016-07-26 22:22] ScottDowne commented on #116
It's not a huge issue for ui lang switcher. We target our users and already
know the locale for the significant amount of people. My 2 cents is a
locale switcher isn't worth it.

[2016-07-26 23:08] damiankay commented on #116
Ok cool. I'm going to close this one then.

[2016-07-26 23:08] #116 closed, assigned to valianttry

[2016-07-26 23:36] damiankay commented on #123
How are these going @valianttry ? Anything I can do?

[2016-07-26 23:36] stephaniemcv commented on #162
I don't know if there's been a unified report in the past. But it might be interesting to build a template of one.
I need to finish researching if I can add action data to my Email Performance reports. I'll have it finished by or before due date.

[2016-07-26 23:38] brettgaylor commented on #92
I only added one to see if we need coverage of watching video.  Really like the user story approach here.

[2016-07-26 23:38] damiankay commented on #162
Thanks @stephaniemcv - I can probably just link to the three reports to for now, so that's perfect.

[2016-07-27 00:09] stephaniemcv commented on #104
Good questions/thoughts @shaghdoosti

I was working off building a general process for all emails with specific details to be filled out based on individual campaigns.

And I agree, we should define and separate an approvals (policy/legal) round/group and a QA round/group.

[2016-07-27 08:58] a-kilroy commented on #92
Can someone give me access to this doc?

[2016-07-27 14:45] ScottDowne opened #163 "Figure out how to ship multiple localized sites via nationbuilder"
Related: https://github.com/MozillaFoundation/Advocacy/issues/116

Right now the solution I'm aware of is multiple pages with different urls, one for each locale, code copied and pasted in each, and the translated strings manually placed in there.

The issue here is this is not scalable. I'm going to be spending a lot of pasting in changes times the number of locales we have. If we have 3 locales,

[2016-07-27 15:44] ScottDowne commented on #80
@a-kilroy no response yet from Pierros.

[2016-07-27 16:28] damiankay commented on #92
You should have access now @a-kilroy

[2016-07-27 16:38] damiankay commented on #163
CC @valianttry @lovegushwa @natalieworth

[2016-07-27 17:58] ScottDowne commented on #163
I think the actionable solution to this is to simply ask nationbuilder what they think about a scalable way to ship multiple locales.

[2016-07-27 18:58] KevZawacki opened #164 "Update Medium link on encryption site footer"
Hi there,

We've changed the URL of the [Mozilla Advocacy Medium page](https://medium.com/mozilla-advocacy), from /encryption-matters to /mozilla-advocacy.

Currently, the old URL is redirecting -- but that's won't always be the case. As such, can we update the Medium icon in the footer of https://advocacy.mozilla.org/encrypt to link to https://medium.com/mozilla-advocacy?

![screen shot 2016-07-2

[2016-07-27 19:03] damiankay commented on #164
Thanks for catching that @KevZawacki

@ScottDowne - is this something we can do during the current sprint, or should we push it to the next one?

[2016-07-27 19:28] damiankay commented on #126
Here's a link to the initial straw dog that we created today:
https://docs.google.com/document/d/1driaq40M1b085sbyDoJSQAFkMsvEPvhnux3E-ZIkHN8/

[2016-07-27 19:53] ScottDowne commented on #164
This is super easy change, but I'm not actually following the request 100%. I'm still parsing though, just not super obvious yet.

[2016-07-27 19:57] ScottDowne commented on #164
OK, I get it now, fixing.

[2016-07-27 20:24] ScottDowne commented on #164
Done, and on prod.

You can test it here: https://advocacy-mozilla-org-prod.herokuapp.com/en-US/encrypt/codemoji/1

That's the prod link that doesn't have cache, actual production pulls it's content every few hours from the above link.

[2016-07-27 20:24] #164 closed, assigned to ScottDowne

[2016-07-27 20:27] KevZawacki commented on #164
Lightning fast -- thanks, @ScottDowne

[2016-07-28 14:00] ScottDowne commented on #163
I heard back from my general support query.

They provided this link: http://nationbuilder.com/how_i_create_multilingual_websites

Which I already had. What concerns me about this all can be pointed out in that link with this text:

"Do all of the customization that you want to the theme. Any changes you make after you clone this theme and start translating it will be twice as much work so I recom

[2016-07-28 16:55] lovegushwa commented on #99
@damiankay this is moving along, @natalieworth is wrapping up low fidelity wire frames this week.

[2016-07-28 16:56] lovegushwa commented on #70
@valianttry @damiankay will kick off some work on these next week.

[2016-07-28 16:58] brettgaylor opened #165 "Treatments for #copyfail micro-videos"
We'll aim to have at least 3 inserted into the treatment.

@KevZawacki can you assist in wrangling?

 Due July 29th.

[2016-07-28 18:29] KevZawacki commented on #165
Hi @brettgaylor. Can give a bit more clarity? Are we looking for a certain number of micro-treatments total? And where will they be inserted?

[2016-07-28 18:31] brettgaylor commented on #165
I think we will be at 6 total, so 3 ready for tomorrow.

They'll be inserted into this deck:

https://docs.google.com/presentation/d/1lbbCBRoUcCns5BdRyCTNKznh4p7h0kLY73qfjeM4Crk/edit#slide=id.gd58133b56_0_69

And given a page each.

So how about:
GIF CSI
Tourist fail
Meme Jail

[2016-07-28 18:54] damiankay commented on #163
Thanks for calling that out @ScottDowne. That's the definite downside to these types of integrations. We'll have to be very careful with our English / MVP quality assurance and also making sure that ALL stakeholders have signed off before we start to localize.

[2016-07-29 11:19] KevZawacki commented on #165
@brettgaylor We now have seven treatments total, [here](https://docs.google.com/document/d/1IAQcju2LFJa10s7OOL4AikvM49PZylaY_kRkcO0xDUs/edit#).

Here are the specific ones you mention above:

-- [CSI: GIF](https://docs.google.com/document/d/1IAQcju2LFJa10s7OOL4AikvM49PZylaY_kRkcO0xDUs/edit#bookmark=id.chfex3mkvnq8)

-- [Tourist Fail](https://docs.google.com/document/d/1IAQcju2LFJa10s7OOL4AikvM49PZ

[2016-07-29 22:55] damiankay opened #166 "Add members to Advocacy Google group"
Hi Brett,

Can you please add the following people to our Advocacyteam Google group:
- Vojtech
- Scott
- Chris De Cairos

CC'ing @valianttry as she asked about this

Thanks!

[2016-07-29 23:53] damiankay opened #167 "2017 Campaign planning"
Hi @shaghdoosti

Please see the link below for an initial attempt to break down the steps required for planning our 2017 Campaigns. Feel free to edit as you see fit!

https://docs.google.com/a/mozilla.com/spreadsheets/d/1vQZuGm44EMkboROMmlYtp6QVDWip2p7IXkxIlSzokW8/edit?usp=sharing

[2016-07-31 17:55] damiankay opened #168 "Review "Gutcheck" for helping to assess campaigns for EU"
@HPaulJohnson - The brand durable team mentioned this resource for assessing campaigns in Europe:
http://www.gutcheckit.com/

Let's see if it might be helpful assessing the effectiveness of our campaigns / messaging.

CC @brettgaylor @lovegushwa

[2016-07-31 18:09] damiankay opened #169 "Confirm data transfer requirements"
Just setting up a bug to ensure that we don't lose track of this question.

We need to confirm with the integration agency whether our data is going to move from Salesforce into Nationbuilder

CC @valianttry @cadecairos @ScottDowne

Due Aug 5

[2016-07-31 18:19] damiankay commented on #130
@a-kilroy will this fall under the integration agency's scope of work? If not we should get started right away.

CC @lovegushwa @simonwex @ScottDowne

[2016-07-31 18:22] damiankay commented on #129
See  #126 for past instances of Maker Party that we can reference when building new assets.

@a-kilroy can you please confirm whether design will fall under the integration agency's scope of work?

[2016-07-31 18:42] damiankay opened #170 "Nationbuilder integration agency: define scope of work"
As part of the contract negotiation process, we need to define the scope of work for the integration agency. In internal discussions we seem to have agreed that we'd like them to handle back-end set up as well as design and front-end development, but we should confirm this internally and with the agency.

Reference:
Functional scope (from project brief): https://docs.google.com/document/d/1g8wXqtj

[2016-07-31 18:55] damiankay commented on #145
@simonwex do you know where we might find a user feedback survey that we could re-use from another project?

[2016-07-31 20:21] damiankay opened #171 "Add template to Advocacy issues"
Hi @cadecairos & @ScottDowne

Can one of you please add the following items to new issues created in the Advocacy repo?

Instructions on setting this up are here: https://help.github.com/articles/creating-an-issue-template-for-your-repository/

This is what I'm hoping to include in the issue description for new issues:
"Detailed description of work:"
"Due date:"
"CC:"

Thanks!

Due: Aug 5

CC @val

[2016-08-01 01:17] #121 closed, assigned to damiankay

[2016-08-01 01:24] damiankay opened #172 "Collaborate with contractor on Copyright Explainer video script"
Please use this issue to track progress on the Copyright Explainer video for V1 of the petition website.

We should aim to have a first draft of the script by Aug 5th, as it will need approvals from Policy, and will need to be shared with Legal and Marketing (I think).

CC @brettgaylor @lovegushwa @KevZawacki @HPaulJohnson

[2016-08-01 01:40] damiankay opened #173 "Collaborate with contractor on video production"
The details for this issue should become clear as the script is locked down #172

Due: The video should be completed by Aug 19 to allow time for approvals and edits if necessary.

CC @brettgaylor @lovegushwa @HPaulJohnson

[2016-08-01 05:01] damiankay commented on #119
Project plan can be found here: https://docs.google.com/document/d/1qV58fefef_hNbqsvla7SZXK8H3WuCfnrdwTsqA1C--I/edit#

[2016-08-01 18:52] valianttry commented on #170
@a-kilroy is out of pocket this week so I'm picking this up. I'm hoping Fission sends over at least an outline to help us get going but I'll start outlining the essentials here:
https://docs.google.com/document/d/1iikRekTFuQRFuklUcuZnldTUYr6ckbuhiS1MGhBhb4Q/edit

[2016-08-02 15:00] shaghdoosti commented on #151
Hey everyone -

Just had a chat with Raegan, our recommendation is that we go for:

Tier 1: English, French, German, Spanish, Polish

Tier 2: Italian, Dutch, Czech, Bulgarian,

For the other languages, we'll have them translated based on the passion/energy of those localisation communities.

[2016-08-02 16:16] valianttry commented on #151
This is helpful @shaghdoosti -- questions:
- Are these for the petition only, or also maker party events?
- When you say "for the other languages" are you referring to unlisted languages (Teir 3+)? I just want to make certain

[2016-08-02 16:18] shaghdoosti commented on #151
These are for petitions, videos, social and maker party.

Yes - 'other languages' refers to unlisted languages which would be tier 3. (ie: most scandanavian speakers speak english so those languages are tier 3)

[2016-08-02 16:56] cadecairos opened #174 "Add Zenhub badge to README"
Zenhub is allowing us usage of their product under a non-profit license, and to show our thanks, we will add this badge to our README here:

[![](https://raw.githubusercontent.com/ZenHubIO/support/master/zenhub-badge.png)](https://zenhub.com)

[code]

[2016-08-02 17:10] #71 closed, assigned to valianttry

[2016-08-02 17:10] ScottDowne commented on #103
Closing this, as it's covered in #106

[2016-08-02 17:10] #103 closed, assigned to ScottDowne

[2016-08-02 17:11] ScottDowne commented on #106
With the agency taking on the bulk of this, I highly doubt it's a priority for me to have answers to this.

We should consider this tasks for our training. Punting to next milestone, and we'll figure out where that is then.

[2016-08-02 17:11] cadecairos commented on #91
@valianttry I think we can call this completed! agreed?

[2016-08-02 17:12] valianttry commented on #158
I'm assigning this to myself until we know who manages the relationship with Fission.

[2016-08-02 17:14] HPaulJohnson commented on #161
@chadsansing did an awesome job of taking these from idea stage to detail here:

https://docs.google.com/document/d/1Fg-iuFrNmm6tTbm917mlSdsZQTHI-8e--VmbY8aBygY/edit?ts=579f527d

We'll be looking for feedback from the larger MP Leads group on Thursday before finalizing this part.

On track for 8/5 deadline.

[2016-08-02 17:14] cadecairos commented on #74
I'd say we succeeded in not falling over 👍

[2016-08-02 17:14] #74 closed, assigned to cadecairos

[2016-08-02 17:16] ScottDowne commented on #115
I think I got what I needed out of this. Salseforce is ideal, but it could also be done in anything else.

@damiankay There should always be a locale set, so we can always depend on that. That's how l10n should work.

There are unanswered questions in here, though, that are not to me, and it's been opened for a few days now. I'm going to close this, questions around phase 2 should be asked in http

[2016-08-02 17:16] #115 closed, assigned to ScottDowne

[2016-08-02 17:20] KevZawacki opened #176 "Write copyright blog post 1 and op-ed // secure approvals"
May also manifest as Mark's op-ed.

Draft [here](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit), awaiting input from Mark and Raegan.

[2016-08-02 17:23] KevZawacki opened #177 "Complete EU media list"
In development [here](https://docs.google.com/spreadsheets/d/10AYEdxYuXDvwwE78yqFripBoptZ7BWdnodwDRqwPcFs/edit#gid=394686669).

[2016-08-02 17:24] KevZawacki opened #178 "Write copyright press pitches"
Boilerplate pitches being crafted [here](https://docs.google.com/document/d/1vRlLxhIz-PmjDaHMY_AXFq_0fSfdy6aHx4HaiSTIRuc/edit).

[2016-08-02 17:25] #174 closed, assigned to cadecairos

[2016-08-02 17:49] ScottDowne commented on #80
@a-kilroy Getting this started is my P1for the week. Should we send out another email to Pierros? I'm not a fan of being blocked, though, so I'm going to try to do my own research on this. Any info you have would be great.

[2016-08-02 17:55] valianttry commented on #170
Marking this done. Thanks everyone!

[2016-08-02 17:55] #170 closed, assigned to valianttry, a-kilroy

[2016-08-02 18:08] valianttry opened #179 "Build our Gantt chart for Advocacy Repo"
@vojtechmozilla found this: https://github.com/neyric/gh-issues-gantt

@cadecairos can you explore this option with him and if it's ❤️ 🚀  get it setup asap?

[2016-08-02 18:25] cadecairos commented on #179
The express version in this repo is terrifyingly out of date, but I might be able to bring it into the present.

[2016-08-02 19:01] cadecairos commented on #179
~~Things to do:~~
- [ ] ~~Update express and request~~
- [ ] ~~Update server for express 4.x~~
- [ ] ~~Environment based configuration~~
- [ ] ~~Use github-api npm module instead of custom code~~
- [ ] ~~environment based config for front-end~~
- [ ] ~~fix possible breakage on front-end~~
- [ ] ~~check for XSS issues on front end, since it displays content from github~~

[2016-08-02 21:01] valianttry commented on #123
Current hangup: Waiting for Nationbuilder to send back the contract with markups (edits). 🐢

[2016-08-02 21:25] valianttry commented on #92
I believe this is finished... but anyone can re-open if they believe that not to be true.

[2016-08-02 21:25] #92 closed, assigned to valianttry

[2016-08-02 23:53] valianttry opened #180 "Update our Github Estimation levels"
Can you change the current menu to our new estimation levels?

E.g. this:

![build_our_gantt_chart_for_advocacy_repo_ _issue__179_ _mozillafoundation_advocacy](https://cloud.githubusercontent.com/assets/9830371/17349316/81288e10-58d1-11e6-8065-95b1dd1dde34.png)

I've checked with @lovegushwa @HPaulJohnson @ScottDowne  and they think this is a good set of levels to try out. We can always change it

[2016-08-02 23:54] valianttry commented on #180
I put a description of these in our wiki:
https://github.com/MozillaFoundation/Advocacy/wiki/Estimation-Callibration-(what-does-XS,-S,-M,-L,-and-XL-mean%3F)

[2016-08-03 00:43] cadecairos commented on #180
I'd love to do this, but the Story Points must be numbers...

[2016-08-03 01:24] valianttry commented on #180
ah. OK, let's do 1, 2, 3, 4, 5 then?

[2016-08-03 03:57] damiankay commented on #179
This one looks amazing! I wish I could get a better view of what data it's displaying though - the screen shot is too small.

@cadecairos - what would be your estimate for that checklist of items? How long do you think it would take given your current load?

[2016-08-03 04:25] valianttry commented on #180
Updated the wiki for our numeric estimations: https://github.com/MozillaFoundation/Advocacy/wiki/Estimation-Callibration-(what-does-1,-2,-3,-4,-and-5-mean%3F)

[2016-08-03 16:23] valianttry commented on #180
@cadecairos ETA?

[2016-08-03 16:33] brettgaylor commented on #172
Script in progress here:
https://docs.google.com/document/d/1XwH-IJYKNBW2leiOc_kmtIlI4u4VM0sFoCAmjmst9dE/edit

[2016-08-03 16:37] brettgaylor commented on #166
Done, and added @shaghdoosti , @valianttry @damiankay as "owners" who can add members.

[2016-08-03 16:37] #166 closed, assigned to brettgaylor

[2016-08-03 16:38] brettgaylor commented on #100
Yes, it will include V2

[2016-08-03 17:07] cadecairos commented on #180
I've applied the requested story point values, and it appears they persist across issues. marking closed!

[2016-08-03 17:07] #180 closed, assigned to cadecairos

[2016-08-03 17:30] shaghdoosti opened #181 "Drafting petition text for copyright"
Update:

-Sara has done first draft
-Kevin has reviewed
-Raegan is currently reviewing and should have comments by tomorrow
-Current aim is to have the final copy ready by COB on Friday.

@brettgaylor @lovegushwa

[2016-08-03 17:31] shaghdoosti commented on #99
Also see petition copy: https://github.com/MozillaFoundation/Advocacy/issues/181

[2016-08-03 17:48] ScottDowne commented on #80
Blockers and questions.

So far I know I need to get the crm hooked up, and there is a mozilla auth0 that's being shipped that we need to integrate with.

Questions: how much of this falls on me, and how much falls on the agency?
Blockers: Chat with Pierros around auth0, chat with Stephanie around crm integration, some real life nationbuilder to work on.

The auth0 setup is a little vague to me, a

[2016-08-03 17:56] vojtechsedlak opened #182 "EU Fundraiser Analytics"
Description from Andrea:
We ran a short fundraiser on the snippet in the EU. Below is the link to the Tablaeu data (clicks and impressions). It needs to be married up with the google analytics data for donations.

Tableau data: https://dataviz.mozilla.org/views/SnippetCampaigns_1/EUNN2016#5

[2016-08-03 19:15] natalieworth commented on #93
@KevZawacki @HPaulJohnson Here are the V1 wireframes that we'll need copy for: https://redpen.io/p/ma1c495b43df7aecbd
1) V1 Landing page:
- [ ] Letter title
- [ ] Letter content (Sara/Kevin working on)
- [ ] Pledge title/caption
- [ ] Opt-in text
- [ ] Confirm privacy policy text
- [ ] Sign pledge button text
- [ ] TBD Campaign name/ title (this can be added later as needed)
- [ ] TBD Video title

[2016-08-03 20:33] KevZawacki commented on #156
Hi @brettgaylor, I've just read through the [script](https://docs.google.com/document/d/1XwH-IJYKNBW2leiOc_kmtIlI4u4VM0sFoCAmjmst9dE/edit) for video 1. My initial thoughts:
- I really like it. The storytelling is almost entirely visual, and the narration almost perfunctory. That's great, given the multilingual audience
- Even so, the narration copy is really powerful and accessible. We can riff on

[2016-08-03 20:34] cadecairos commented on #179
I'm evaluating the work we'd need to do to adapt https://github.com/auremoser/msl-gantt for this use case.

It's currently fetching data from a static spreadsheet (NOT GitHub data), so we'd need to think about how to map our issue and milestone data to the chart properly

Firstly, we'd be able to fetch data directly from GitHub, since it allows CORS requests, so no need for a proxy like in the cur

[2016-08-03 20:52] HPaulJohnson commented on #93
For share content, let's create 3 versions for email, facebook and twitter so that we can test via ShareProgress.

[2016-08-03 20:53] KevZawacki commented on #93
@natalieworth Thanks -- super helpful. I can get started on this copy now.

Also, I resent the accusation that I'm "just fooling around with astronomy." I happen to take stargazing very seriously.

[2016-08-03 20:55] a-kilroy commented on #179
Not sure if this helpful or relevent since this thread is a bit hard for me
to deciper from my phone...

https://github.com/smartsheet-platform

On Wednesday, August 3, 2016, Christopher DeCairos notifications@github.com
wrote:

[2016-08-03 20:57] damiankay commented on #179
As long as we're not recreating this data manually in spreadsheet format,
if be happy to give that a try. The more we can automate the better.

The big challenge for me so far is that Github only uses milestones, and
not start/end dates, but a big part of what I need to see is the duration
of a particular task. The other data point that we're not currently
collecting but that I hope to start to so

[2016-08-03 23:58] lovegushwa commented on #158
@valianttry worked with @HPaulJohnson to refine, you will find the site map on the 2nd page under "Maker Party IA" ... Paul and I will own the content and design learning.mozilla part of this.

https://docs.google.com/a/mozilla.com/document/d/1driaq40M1b085sbyDoJSQAFkMsvEPvhnux3E-ZIkHN8/edit?usp=sharing

[2016-08-04 01:19] lovegushwa commented on #130
@valianttry @shaghdoosti ... based on IA work in this ticket:
https://github.com/MozillaFoundation/Advocacy/issues/158

@HPaulJohnson and I developed learning.mozilla.org as a modification of these two pages:
https://learning.mozilla.org/en-US/events
https://learning.mozilla.org/en-US/events/resources/#event-guides

We still need to identify appropriate page for Maker Party activities, @chadsansin

[2016-08-04 01:53] chadsansing commented on #130
@lovegushwa - this page illustrates the current curriculum template:

http://chadsansing.github.io/curriculum-testing/color-picker-challenge/session01-color-picker-challenge.html#overview

Not sure the Maker Party activities need all of what we do here, so a different design might work, or we can try this template. I can put a sample together the week of 8/8/16.

[2016-08-04 05:26] damiankay commented on #80
Hey @ScottDowne - don't worry about CRM for now. I think Fission will be doing this. Maybe keep pinging Pierros. Have you tried IRC or other channels?

[2016-08-04 05:47] damiankay commented on #179
@cadecairos btw, I tried cloning Aurelia's project - you can find a copy here: https://github.com/MozillaFoundation/advocacy-plotr

The idea was to use it for our purposes, but I wanted to see if we could pull data directly from Github instead.

Would love to see if @a-kilroy's Smart Sheet solution would work.

[2016-08-04 05:49] valianttry commented on #180
whoohoo! thanks @cadecairos !! 🚀  💯

[2016-08-04 06:03] valianttry commented on #150
I think we're very close to having this final. We should bring this up with Fission asap to get their feedback. I think based on this chat it should be:
First Name*
Last Name*
Email*
Country\* (can we auto-fill this based on browser settings?)

*required

**Questions:**
- Postal Code <---does this translate to our target locales?
- Can we auto-fill country based on browser locale?
- Can we ask for

[2016-08-04 06:04] valianttry commented on #91
This is completed. Closing.

[2016-08-04 06:04] #91 closed, assigned to cadecairos, valianttry

[2016-08-04 13:40] KevZawacki commented on #93
@HPaulJohnson @brettgaylor

Proposed website copy [here](https://docs.google.com/document/d/1C49mUWIe5tPHdaLfr5-NkjeizWEh5NRXeP8C-57HgzA/edit). It's informed by @natalieworth's wireframes. I've included multiple options for each section.

[2016-08-04 14:41] ScottDowne commented on #80
@damiankay cool, that sounds great!

[2016-08-04 15:07] ScottDowne commented on #163
I'm hoping Fission can include this in any training they give us. Closing.

[2016-08-04 15:07] #163 closed, assigned to nobody

[2016-08-04 15:15] ScottDowne commented on #36
Closing this.

We still have not great integration with optimizely but it works. https://github.com/MozillaFoundation/Advocacy/issues/28

We're pushing for nationbuilder + Fission for the short term.

CMS seems to be on the back burner, not sure the status, but we can revisit if anyone has info that it's coming.

Our main sites, donate, advocacy, and learning are all roughly the same tech, and han

[2016-08-04 15:15] #36 closed, assigned to nobody

[2016-08-04 15:26] ScottDowne commented on #145
In the past, I have just created a form, and dumped results into google sheets.

I'm happy to put them into google sheets again, as it's pretty simple.

This is what it looked like, but we shouldn't reuse any of the code from this:

![report](https://cloud.githubusercontent.com/assets/197334/17407620/f0a55b46-5a35-11e6-8f7d-c3b5886747f9.png)

[2016-08-04 15:44] #124 closed, assigned to a-kilroy

[2016-08-04 16:20] lovegushwa commented on #130
@chadsansing excellent. I think this template will do nicely. Looking forward to the sample. Thank you!

[2016-08-04 16:44] vojtechsedlak commented on #182
Please see the [following spreadsheet](https://docs.google.com/spreadsheets/d/1yGvceZWA44cVPoj-PhRoyhg5pKZK92iZd-6jE8Zj4_k/edit#gid=650318230) for detailed results.

## Key Findings
- The total sum raised by the fundraising campaign between July 21st and August 1st is **$7,810.53.**
- In terms of the total amount of raised donations, **Germany takes the first spot with 37.6%** of the total amount,

[2016-08-04 16:56] damiankay opened #183 "Add Fission team to Github"
Hey @cadecairos - can you please add the following Fission team  members to our Github repo? We'll want to be able to CC them on issues throughout the Nationbuilder events / petition projects.

George Holmes: gholme4
Walter Lau: imagerwalt
Anna Hovland: annahov
Jennifer O'Reilly Mott: jendc123

Thx!

Due Aug 5

CC @valianttry

[2016-08-04 16:59] cadecairos commented on #183
I don't think we need to add them just to mention them in issues.

Will they need to manipulate the state of issues at all? I.E. Changing assignees, adding labels etc?

[2016-08-04 17:11] cadecairos commented on #179
Woah, are you reading my mind?

I think we're better off updating the gantt chart project that's already tailored for github issues and milestones, I anticipate it being less overall work

[2016-08-04 17:13] cadecairos commented on #179
Which makes this set of tasks valid again:

Things to do:
- [x] Update express and request
- [x] Update server for express 4.x
- [x] Environment based configuration
- [x] Use github-api npm module for getting GH data instead of custom code
- [x] environment based config for front-end OR hard-code our stuff in. optimize for speed.
- [ ] fix possible breakage on front-end (there may be none

[2016-08-04 20:19] vojtechsedlak commented on #182
Vojtech is doing a write up of this test.

[2016-08-04 20:49] cadecairos commented on #179
@valianttry @damiankay @vojtechmozilla @ScottDowne

OK. Backend re-write complete.

This is the repo we can work out of to tweak the front-end: https://github.com/mozilla/mozilla-advocacy-gantt

Merging to master deploys directly to https://advocacy-gantt.mofoprod.net

### Changes:
- Update to Express 4.14
- Use [github-api](https://www.npmjs.com/package/github-api) for fetching data
- Habitat for

[2016-08-04 20:51] cadecairos commented on #179
The issues I see with the front-end are:
- it's somewhat ugly
- milestones _might_ be displaying incorrectly?
- we need to customize username colours

[2016-08-04 20:51] valianttry commented on #183
Let's not add them for now and see how it goes just cc'ing them. They're tracking their own work in their own system.

[2016-08-04 20:52] cadecairos commented on #183
Sounds good to me. Closing as a wont-fix-yet!

[2016-08-04 20:52] #183 closed, assigned to cadecairos

[2016-08-04 23:32] valianttry commented on #179
![github_issues_gantt](https://cloud.githubusercontent.com/assets/9830371/17420116/c78942f2-5a55-11e6-8305-24c2319d6100.png)

![github_issues_gantt](https://cloud.githubusercontent.com/assets/9830371/17420171/107361e6-5a56-11e6-93bf-beb183444e08.png)

[2016-08-04 23:34] cadecairos commented on #179
In the second image, that's actually the milestone title, not the current date.

[2016-08-05 07:54] a-kilroy commented on #130
Not sure how you all usually do it, but I'd love to see mobile wireframes too. Do you do them after desktop is approved? Or in relative parallel?

[2016-08-05 08:16] a-kilroy commented on #129
seems like the SOW has been set with them so we should have an answer now?

[2016-08-05 13:53] chadsansing commented on #130
We use a template, @a-kilroy, that has a mobile stylesheet, as well. If the sample worked up next week doesn't fit the bill, happy to work w/ other designs.

[2016-08-05 20:55] ScottDowne commented on #80
So I think where we're going to head with this for next week.
1. CRM looks like it's happening with Fission, so I'll focus less on that.
2. Auth0 looks like we're going forward with it, and see what's involved. Questions I'm answering are. Does the data in Auth0 transfer or work with IAM once IAM is ready, if we integrate before IAM is ready. Has Auth0 gone through vendor review.

[2016-08-05 22:01] #113 closed, assigned to lovegushwa, natalieworth

[2016-08-05 22:09] shaghdoosti commented on #151
Target countries for maker party events are slightly different: Germany, France, Spain, Poland, Italy and the UK. (happy to dig into this more but it's worth noting the difference.)

[2016-08-05 22:12] shaghdoosti opened #184 "Finalize Maker Party Activites"
We have a great first draft of Maker Party activities. We're meeting next week to go through these and get them finalized by the end of the week.

Here is the drive: https://drive.google.com/open?id=0B0RBD2BW-srIdUV5d0NEVzNJY00

@HPaulJohnson @chadsansing

[2016-08-05 22:16] shaghdoosti opened #185 "Maker Party: Finalizing the partnership pack"
We have a draft of the partnership pack - the copy is still being finalized.

Here it is:

https://docs.google.com/presentation/d/1Ibb0WgTwdXBON1UxYjQMu3DftK2PcwNiiCCKgkuibZs/edit

Next steps:

@ldecoursy , lucy, @Melechuga and Sara jamming on this on Monday.
Has been sent to Raegan for review
Once locked will need some light design.

[2016-08-05 22:18] shaghdoosti opened #186 "Online recruitment plan locked"
We want to create a calendar and plan for recruitment online. This includes:

-Moco channels
-Social/Media
-Mofo emails

@HPaulJohnson is working with Maura on the first two and Myself and @valianttry are working on the mofo email calendar.

[2016-08-05 22:19] #147 closed, assigned to damiankay

[2016-08-05 22:24] shaghdoosti opened #187 "Maker Party: Network recruitment plan"
We have an intial list of organizations we want to reach out to. Next week Lucy, Lainie, Sara, Mel and Raegan will jam on how many groups we think we should aim to be involved in Maker Party.

[2016-08-05 23:54] HPaulJohnson commented on #151
@shaghdoosti I can put in request to snippet team for petition promo (assuming you haven't already talked to them about this). want to clarify which languages we'll want to start with for 8/24? tier 1, tier 1+2? Let me know.

[2016-08-05 23:56] shaghdoosti commented on #151
I think lets focus on tier 1 languages.

Sent from my iPhone

[2016-08-08 13:19] chadsansing commented on #130
@lovegushwa, @a-kilroy: sample activity built from the curriculum template here:

https://chadsansing.github.io/eu-maker-party-sample-activites/02-06-dont-break-the-net.html#overview

Also shared over on #184.

[2016-08-08 13:21] chadsansing commented on #184
As shared in #130, here's a sample activity built out in our curriculum template - open for discussion, etc.

https://chadsansing.github.io/eu-maker-party-sample-activites/02-06-dont-break-the-net.html#overview

cc @shaghdoosti, @HPaulJohnson

[2016-08-08 15:37] valianttry commented on #150
We want to be able to target people with specific Maker Party emails that will appeal to them, e.g. "parties near you" vs. "parties in your country". We may want to require postal code. Can we require either postal code OR country, or do we need to require both for our target EU locales? Postal code conventions vary by country but I don't know the specifics of postal codes in EU Tier 1 locales (or

[2016-08-08 16:06] brettgaylor commented on #173
We will be working with Darren Passemko.  The due date will be September 6th.

[2016-08-08 16:06] #173 closed, assigned to lovegushwa

[2016-08-08 16:07] brettgaylor commented on #165
Initial treatments approved!

[2016-08-08 16:07] #165 closed, assigned to brettgaylor, KevZawacki, lovegushwa

[2016-08-08 16:08] brettgaylor commented on #157
Initial treatment approved!

[2016-08-08 16:08] #157 closed, assigned to brettgaylor

[2016-08-08 16:09] brettgaylor commented on #100
Approved here
https://docs.google.com/a/mozillafoundation.org/presentation/d/1lbbCBRoUcCns5BdRyCTNKznh4p7h0kLY73qfjeM4Crk/edit?usp=drive_web&usp=slides_home&ths=true

[2016-08-08 16:09] #100 closed, assigned to brettgaylor, HPaulJohnson

[2016-08-08 16:12] HPaulJohnson opened #188 "EU Copyright Campaign: promotional assets for phase 1 marketing/comms"
For 8/24 petition launch what are the marketing/comms assets that require design and copy in this sprint.

@lovegushwa and I to meet today (8/8) to develop final list of deliverables and plan.

[2016-08-08 16:20] shaghdoosti commented on #150
I'll trust others here, my only flag is if we make postcode optional it might actually be hard to find country data there ie: what if two regions in two different countries have the same postcode? Even though it's suboptimal - I'd go with making country and postcode mandatory but having an explainer box that tells people why were asking for that data.

[2016-08-08 16:21] shaghdoosti commented on #150
Also @valianttry I think a tick box that makes the signature anyonymous works instead of a pseudonym

[2016-08-08 16:25] shaghdoosti commented on #184
@chrislarry33 @geroter

[2016-08-08 16:27] shaghdoosti commented on #187
@melechuga

[2016-08-08 16:27] HPaulJohnson commented on #188
cc @KevZawacki

[2016-08-08 16:28] vojtechsedlak commented on #150
Could we have a hidden field that captures the full URL of the given session (including URL parameters)? We will be using utm tags to better understand traffic patterns and the efficiency of different channels in Google Analytics, but having that information saved in SF would help us create cohorts of supporters (e.g. see how people who joined through Facebook in this campaign perform in EOY fundr

[2016-08-08 16:31] valianttry commented on #150
@vojtechmozilla can you double check with Gareth Cull to make sure this is in line with our privacy / user choice practices? I believe we can collect some of this data -- but perhaps not all.

[2016-08-08 16:36] shaghdoosti opened #189 "Maker Party: Finalize reporting expectations for partners"
We need to figure out what we want partners to report out after doing events.

@Melechuga

[2016-08-08 16:36] shaghdoosti opened #190 "Draft of Maker Party KPIS"
Key next steps from our meeting today:

Finalize activities - build in action that can be tracked ([see issue 184](https://github.com/MozillaFoundation/Advocacy/issues/184))
Finalize reporting expectations for partners ([see 189](https://github.com/MozillaFoundation/Advocacy/issues/189))
Finalize MP KPIs by next Wed 8/17

Key document: https://docs.google.com/presentation/d/1dD92Qa7SkFkP_mvw3G6MCu

[2016-08-08 16:38] shaghdoosti opened #191 "KPIs for the copyright campaign"
What are our KPIs for the Copyright campaign. @sarahaghdoosti @valianttry @brettgaylor to have initial conversation and then work with various stake holders to get a good draft done by next week.

[2016-08-08 16:42] damiankay commented on #145
Sounds good @ScottDowne - we can put this aside until we know what the survey questions will be.

[2016-08-08 16:59] vojtechsedlak commented on #150
I've reached out to Gareth and will keep you posted. Thanks!

[2016-08-08 17:02] lovegushwa commented on #130
Calling this one closed. Next step UI.

[2016-08-08 17:02] #130 closed, assigned to lovegushwa

[2016-08-08 17:02] natalieworth commented on #93
Most recent wireframes are here (mobile and desktop): https://redpen.io/p/ey4216930fbb478d46
Martha has currently looked over them and had a few questions.

[2016-08-08 17:02] ScottDowne commented on #83
Likely Fission does this, but for now, just pushing to next HB.

[2016-08-08 17:03] #129 closed, assigned to lovegushwa

[2016-08-08 17:03] shaghdoosti commented on #149
Working on this - Will touch base with Brett. Hoping to have this finalized by tomorrow COB.

[2016-08-08 17:03] ScottDowne commented on #85
Likely Fission does this, but for now, just pushing to next HB.

[2016-08-08 17:03] shaghdoosti commented on #152
Updated on ticket #149 - aiming for this to happen on Tuesday COB.

[2016-08-08 17:04] ScottDowne commented on #83
Actually, doesn't make much sense to push this...

Wow, we have very little time...

[2016-08-08 17:05] valianttry commented on #158
This appears to be done -- let's close this and make sure this get's shared with Fission @HPaulJohnson and @lovegushwa

[2016-08-08 17:05] #158 closed, assigned to valianttry

[2016-08-08 17:06] natalieworth commented on #93
I haven't added the content yet from Kevin, but will when the wireframes are approved. This content will be added in the UI ticket #99

[2016-08-08 17:06] shaghdoosti commented on #155
We have a first draft of this - waiting to confirm once we have more solid dates on website/makerparty.

[2016-08-08 17:06] HPaulJohnson commented on #161
Meeting this week with MP leads to finalize/approve these activities. On track but moving to next milestone

[2016-08-08 17:06] KevZawacki commented on #84
Awaiting further direction -- changing milestone.

[2016-08-08 17:07] shaghdoosti commented on #181
Raegan has commented - working through those, aiming for locked copy tomorrow COB.

[2016-08-08 17:07] brettgaylor commented on #172
This script is now in approval process

[2016-08-08 17:08] valianttry commented on #152
FYI I've given L10N a heads up, and we may be engaging with Kontextor as a backup vendor for this work as well.

[2016-08-08 17:08] shaghdoosti commented on #181
Closing this (duplicate tickets)

[2016-08-08 17:08] #181 closed, assigned to shaghdoosti

[2016-08-08 17:08] brettgaylor commented on #156
Treatment approved!

[2016-08-08 17:08] #156 closed, assigned to brettgaylor

[2016-08-08 17:09] HPaulJohnson commented on #154
This is complete. Moving to design/build phase for initial launch in #188.

Separate design/build ticket(s) to be filed for assets needed for phase 2/Maker Party and Paid Media portion.

[2016-08-08 17:09] #154 closed, assigned to HPaulJohnson

[2016-08-08 17:10] valianttry commented on #150
DUE: This task must be completed by **August 10.**

[2016-08-08 17:11] valianttry commented on #123
Currently waiting for Nationbuilder to send back a markup from their legal team.

[2016-08-08 17:11] HPaulJohnson opened #192 "Maker Party: promotional assets for MP launch"

[2016-08-08 17:12] HPaulJohnson opened #193 "EU Copyright Campaign: Paid Media plan and assets"
Design and copy to support the Paid Media portion of our phase 2 Copyright Campaign promotion beginning on 9/8. This channel will primarily support updated version of petition site and leverage media assets (video) and UGC experience (memeland).

cc @lovegushwa @KevZawacki

[2016-08-08 17:19] HPaulJohnson commented on #188
Confirmed snippet availability for 8/23 petition launch.

We should start working on copy for this (@KevZawacki) while we wait for feedback on deadlines and localization. We'll also need some icons to accompany the text (@lovegushwa / @natalieworth)

[2016-08-08 17:32] KevZawacki commented on #188
@HPaulJohnson Will do.

[2016-08-08 18:04] a-kilroy commented on #130
Cool. If we can put the left side menu on the 'items to test', I'd love that. If we ever want to expand into languages without left alignment, we'll want an alternative layout.

[2016-08-08 18:09] a-kilroy commented on #150
Agree with the postal code and the full url. Would be nice if it was source and sub source so it's easier to sort. Like source 'facebook' - subsource 'full url' or 'campaign identifiers'

[2016-08-08 18:17] valianttry opened #194 "Scope of work: Localization for Copyright education campaign content"
I'm building a scope of work to detail our localization needs. Please report content you believe we will need to localize for this campaign. I will be coordinating with L10N as well as a vendor (Kontextor) to translate and localize campaign content.

**Petition and Education Campaign languages:**
    Tier 1: English, French, German, Spanish, Polish
    Tier 2: Italian, Dutch, Czech Bulgarian

**We

[2016-08-08 18:20] HPaulJohnson commented on #194
Also, Snippet (@hpauljohnson)

[2016-08-08 18:42] natalieworth commented on #93
@shaghdoosti If privacy is an issue for some people too, we could have a disclaimer (instead of a checkbox) like this example from UK's petition site:
<img width="717" alt="screen shot 2016-08-08 at 11 40 11 am" src="https://cloud.githubusercontent.com/assets/14876567/17491614/372bdeda-5d5d-11e6-9a2d-1714403482fd.png">
I'm just worried that we already will have 2 checkboxes on the site (1 for opti

[2016-08-08 18:43] natalieworth commented on #150
@shaghdoosti If privacy is an issue for some people too, we could have a disclaimer (instead of a checkbox) like this example from UK's petition site:
<img width="717" alt="screen shot 2016-08-08 at 11 40 11 am" src="https://cloud.githubusercontent.com/assets/14876567/17491645/5452339c-5d5d-11e6-9661-75231194aef0.png">
I'm just worried that we already will have 2 checkboxes on the site (1 for opti

[2016-08-08 18:47] brettgaylor commented on #194
Estimates:
Explainer video: 200 words
Subsequent contet: approx 100 words, x 6
Total: 800 words

I'm not sure Polish should be considered a P1 for video localization, however.

[2016-08-08 19:29] valianttry commented on #194
@HPaulJohnson when you have a moment can you drop in estimates like @brettgaylor and I did? They can be guesses, but it'll help me estimate costs roughly for the Kontextor contract.

[2016-08-08 19:59] ScottDowne commented on #80
No luck with trying to integrate auth0 (I created a test account) with nationbuilder's sandbox.

Just, not able to figure out (yet) which values from each dashboard need to be plugged into the other dashboard.

I think finding docs or getting help from either nationbuilder or auth0, or someone else that would otherwise have experience with this would probably be the next best step.

[2016-08-08 20:21] lovegushwa opened #195 "Rapid response creative strategy"
Create a deck/plan that outlines a strategy for rapid response. Deck will be a work in progress, thing's to include:
- [ ] benchmarks
- [ ] what a rapid response brief looks like
- [ ] kinds of media, types of channels
- [ ] copy writing
- [ ] templates
- [ ] collaboration (how stuff gets built)
- [ ] rapid response approval
- [ ] pressure test

[2016-08-08 20:48] lovegushwa commented on #130
@a-kilroy great point, we are working within the existing learning.mozilla.org site constraints.  @HPaulJohnson do you know where we're at with MLN localization efforts?

[2016-08-08 20:59] HPaulJohnson commented on #130
According to @ScottDowne learning.mozilla.org is fully localizable at this point.

[2016-08-08 21:00] lovegushwa opened #196 "Campaign Identity"
Design the copyright campaign identity. Will show up on petition pages + possibly video bumpers, email and social. Start with #copyfail + straightforward tagline.

Audience: EU content creators / Conscious choosers
Constraint: Tagline will be localized, so language needs to be descriptive and direct.

Variant 1:
Lead with tagline, support with #copyfail

Variant 2:
Lead with #copyfail, support wit

[2016-08-08 21:09] lovegushwa commented on #196
@HPaulJohnson @KevZawacki let's connect and choose final tagline copy.

[2016-08-08 21:14] HPaulJohnson opened #197 "EU Copyright: Design email for 8/24 petition launch"

[2016-08-08 21:15] HPaulJohnson opened #198 "EU Copyright Campaign: Design snippet for 8/24 petition launch"
Design and copy for snippet promotion of Copyright petition on 8/24. Plan is to have 3 versions for testing.

[2016-08-08 21:16] HPaulJohnson opened #199 "EU Copyright Campaign: Design social promos for 8/24 petition launch"
Design and copy assets need for initial social posts on Mozilla Facebook and Twitter profiles. Should cover a bi-weekly cadence between 8/24 petition launch and phase 2 launch on 9/8.

[2016-08-08 21:17] HPaulJohnson commented on #188
Closing this in favor of channel specific tickets here:

Email: #197
Snippet: #198
Social: #199

[2016-08-08 21:17] #188 closed, assigned to HPaulJohnson, natalieworth

[2016-08-08 21:17] ScottDowne commented on #130
Yup,  :100: %

https://learning.mozilla.org/en-US/   :point_left: locale code   :+1:

[2016-08-08 22:39] vojtechsedlak commented on #182
Here is a [link](https://docs.google.com/document/d/1vBsiaCGHSAshCvSQHLyMlMUrIRZhGvAkiIqdJLXe_Gc/edit#heading=h.5cuapgak2lcv) to the write up for the EU fundraising test.

Let me know if you have any questions!

[2016-08-08 23:18] HPaulJohnson commented on #199
Discussed with @lovegushwa. We will come up with 3-5 posts for initial wave of petition promotion. Here some initial ideas:
- copy only: pretty straight-forward, sign the petition stuff.
- copy + static image: using wikimedia screenshot with copyrighted images censored/blacked-out.
- copy + gif: use some giphy content to build a post around
- copy + image/gif: if it still feels relevant on the hee

[2016-08-08 23:25] HPaulJohnson commented on #199
We can start working on copy in this doc:

https://docs.google.com/a/mozilla.com/document/d/1-CGBBcJL40LwGwT_5AhquXiK84W6Sz7biHsM-KGRm-I/edit?usp=sharing

cc @KevZawacki

[2016-08-08 23:29] HPaulJohnson commented on #198
Discussed with @lovegushwa. We'll likely keep the visuals/icon pretty basic, leveraging the (C) symbol. We can work on some copy ideas for up to 3 versions here:

https://docs.google.com/a/mozilla.com/document/d/1Ubbn_GTyMibSxRoQ4Kxul26fgdBOE1P6Q2JkCCYAI_I/edit?usp=sharing

cc @KevZawacki

[2016-08-08 23:38] HPaulJohnson commented on #193
Schedule:
- This week: finalize test plan.
- Next week: Define specific list of design and copy deliverables needed to support test plan.
- Week(s) of 8/22-9/2: Design assets and setup targeting/tests in platforms.

[2016-08-08 23:43] HPaulJohnson opened #200 "EU Copyright Campaign: Design social promos for phase 2 launch"
Design and copy assets need for 2nd wave of social posts on Mozilla Facebook and Twitter profiles, plus other platforms tbd (Youtube, Instagram, Snapchat, etc). Assets should cover a bi-weekly cadence between 9/8 media launch (videos + memeland), feature a variety of content/types and run through the end of September.

cc/ @lovegushwa @KevZawacki

[2016-08-08 23:44] HPaulJohnson commented on #200
We can get started on these after we complete work on phase 1 deliverables, in ticket #199

[2016-08-08 23:47] HPaulJohnson opened #201 "EU Copyright Campaign: Design snippet phase 2 launch"
Design and copy assets need for 2nd wave of promotion on snippet. Content to feature could include media (videos), experiences (memeland), petition (optimized from phase 1) or Maker Party.

cc/ @lovegushwa @KevZawacki

[2016-08-08 23:48] HPaulJohnson commented on #201
Work on this phase doesn't need to start until phase 1 tickets are complete (#199, #198).

[2016-08-09 03:14] lovegushwa opened #202 "Nationbuilder template components"
Wireframe template modules based on template research in #113 and additional advocacy website bench marking going on here: https://www.pinterest.com/lovegushwa/design-for-progress/

[2016-08-09 03:21] lovegushwa commented on #202
Starter list of modals we will need:
- Hero banner
- Hero slider
- Hero video
- Content (h1)
- Content (p)
- Content (side bar)
- Video (multiple)
- Donate
- Sign a petition
- Join our email list
- Share
- Promo

[2016-08-09 03:36] lovegushwa opened #203 "EU Copyright Campaign: v2 wireframes"
Design v2 wireframes. Use the v1 petition final UI as a starting point. Add one feature video, three "micro" videos and two meme generator promotions (click through to meme generator micro-site.)

Campaign treatment deck summary of content (pages 15 -17, 19-21):
https://docs.google.com/presentation/d/1lbbCBRoUcCns5BdRyCTNKznh4p7h0kLY73qfjeM4Crk/edit#slide=id.g15fbb3dc95_1_0

petition v1 redpens:
h

[2016-08-09 03:43] lovegushwa opened #204 "EU Copyright Campaign: v2 website UI"
Design petition v2 website UI based on #203

_Start date: August 29, 2016_
_Due date: September 6, 2016_

CC:
@natalieworth @damiankay @lovegushwa

[2016-08-09 14:13] KevZawacki commented on #196
I like Variant 1 (Lead with tagline, support with #copyfail .)

Initial brainstorm doc [here](https://docs.google.com/document/d/15tf0zJjPvIbpcDDVk3mWhXFP-W0qhp86Wv1OLMhKEX8/edit), + newer suggestions in the [website copy doc](https://docs.google.com/document/d/1C49mUWIe5tPHdaLfr5-NkjeizWEh5NRXeP8C-57HgzA/edit).

[2016-08-09 14:52] ScottDowne commented on #106
Slightly related: https://github.com/MozillaFoundation/Advocacy/issues/169

[2016-08-09 14:53] ScottDowne commented on #151
This looks like a decision was made, and that we should close this.

[2016-08-09 16:03] #151 closed, assigned to shaghdoosti

[2016-08-09 16:06] valianttry opened #205 "Secure backup localization vendor (Kontextor)"
I'm currently working on a contract with Kontextor (http://www.kontextor.org/en/). We have worked successfully with them before, as has MoCo. Given it is the summer holiday, Mozilla L10N availability is likely lessened.

Kickoff tentatively scheduled for this Friday morning.

[2016-08-09 16:19] valianttry commented on #123
Received markup. Mozilla legal team has markup and I'm hoping to schedule a quick call so our legal teams can just hammer out final details.

[2016-08-09 16:45] KevZawacki commented on #177
France done, Germany nearly there. Spain and Poland up next.

@HPaulJohnson

[2016-08-09 16:46] KevZawacki commented on #176
@HPaulJohnson @brettgaylor

If we land on Katarina as our spokesperson, we'll need her sign off, not Mark's.

[2016-08-09 16:47] KevZawacki commented on #97
Comms plan will continue to evolve as the campaign plays out, but we have a sound structure. Closing this ticket.

[2016-08-09 16:47] #97 closed, assigned to KevZawacki

[2016-08-09 17:50] #182 closed, assigned to vojtechsedlak

[2016-08-09 18:35] ScottDowne commented on #80
I found this before, but, it's actually starting to become clear to me what they are talking about http://nationbuilder.com/enterprise_sso

[2016-08-09 20:12] lovegushwa commented on #196
just to get this moving: Let’s bring EU copyright law into the 21st Century #copyfail

[2016-08-10 09:21] a-kilroy commented on #130
Well that's awesome! To be clear though, what I was referring to was the User Experience with those languages compared to the ability to present the content in those languages. For example, we'd never have a right aligned main menu for English because it would just feel wrong (or at least I'm assuming as such).

[2016-08-10 16:27] vojtechsedlak opened #206 "Complete an email audit & benchmarking"
The objective of this exercise is to go back through what has been done in BSD, divide all emails into relevant programs (maker, fundraising, advocacy etc.), compare yearly stats (how many emails, performance) and create avg benchmarks.

_Start date: September 26, 2016_
_Due date: October 7, 2016_

[2016-08-10 16:59] lovegushwa commented on #196
Here are a few copy directions / they don't express final visual design direction.

<img width="688" alt="screen shot 2016-08-10 at 9 45 28 am" src="https://cloud.githubusercontent.com/assets/12228435/17562346/54d8f520-5edf-11e6-84aa-5f6899e3cb43.png">
- Positive tone of voice overall.
- Strong economic argument tie in.
- Needs localization.
- Needs a hastag (#copyfail does not work well with this

[2016-08-10 17:22] KevZawacki commented on #196
@lovegushwa @HPaulJohnson

I like the first option ("Make, Create..."). The positive tone seems in-line with Mozilla's brand. Alternatively, the negative tone of the second option seems off-brand, and more like something FFTF or EFF would write. Further, Lucile of MoCo comms -- a European and copyright expert both -- advised we take a positive tone.

[2016-08-10 17:36] lovegushwa commented on #196
Thanks @KevZawacki any ideas about what hashtag we might use with "Make, Create, Innovate" ?

[2016-08-10 18:13] HPaulJohnson commented on #196
First, adding a few pros/cons to Jordan's list above:

"Make. Create. Innovate."
pros:
- positive
- "it's not ok to regulate imagination." has broad appeal
  cons:
- a bit generic
- don't speak to absurdity of current laws, which is the idea much of our content is built around.
- doesn’t spark any outrage or have much urgency

#copyfail
pros:
- has urgency and feels more action-oriented
- can be a

[2016-08-10 18:35] valianttry commented on #150
We'll need to confer with legal and also Lifecycle marketing on this language and the requirements. We do need to be explicit about how we'll use their data -- I'm not sure we can guarantee that their name will not be public. If we print out signatures and deliver boxes of printouts to a government office, sometimes that then becomes a public record.

[2016-08-10 18:56] lovegushwa commented on #196
@HPaulJohnson @KevZawacki @natalieworth
I think we should lead with #copyfail based on Paul's points around it being a bit harder call to action.
If we can swing it, would be great to test both when we launch.

@vojtechmozilla what's your thoughts about running this as a test?

[2016-08-10 18:59] HPaulJohnson commented on #196
I know timelines are a thing but I love the idea of testing if we can swing it. Can we use Optimizely with Nation Builder to make things a bit easier here?

[2016-08-10 19:38] vojtechsedlak opened #207 "Coordinate testing and analytics for the Copyright Campaign"
Write-up an analytics & testing plan that summarizes the following components of the Copyright Campaign:
- KPIs
- data collection
  - channel identification
  - GA implementation
  - NB/SF integration
- analytics plan
  - dashboard plan
- testing plan
  - priorities

As part of the process, identify any questions or items that need clarification and liaise with the broader team.

Once completed, c

[2016-08-10 19:39] vojtechsedlak commented on #196
We can use Optimizely in the NB platform and it would, I think, be fairly straightforward to set up a test that swaps the top image. Would there be any other implications for the page design for each test? Any copy changes?

[2016-08-10 23:54] HPaulJohnson commented on #196
@vojtechmozilla @lovegushwa I think we could run this test by just swapping the main/top image. I think either works with the rest of the copy which is centered around the petition copy itself.

[2016-08-11 16:16] jessilyndavis commented on #150
FWIW - we have a "Source URL" field in SFDC and it'd be awesome if we passed through the URL + all the parameters to it (I thought we were already doing this and there wasn't an issue - but maybe there needs to be a vetting by Gareth + Legal?).

[2016-08-11 19:46] natalieworth commented on #199
@beccaklam test :)

[2016-08-12 03:36] pmac commented on #150
But "Source URL" only gets added if it's not already populated for a user. So it might not be what they want. Or if this isn't going through basket then I think we shouldn't use "Source URL" since we don't want that overwritten.

[2016-08-12 15:45] valianttry commented on #205
contract was executed today.

[2016-08-12 15:45] #205 closed, assigned to nobody

[2016-08-12 15:48] beccaklam commented on #202
**Visuals/Content**
Hero banner
Hero slider
Carousels
- Quotes
- Images

Hero video
Hero Image
Pull quotes
Video embedding
Tags?
Article divs? Covers? (Like ‘make it work page’) Blog Posts?
Partnership Logo Display? (images within a table within a div?)
Photo Gallery
Column Layout? (One column, two, three?)
Footer with copyright and company information

**Styling**
Headers
Subhead
Paragraph
Button

[2016-08-12 15:56] beccaklam commented on #202
Image references: https://drive.google.com/a/mozilla.com/folderview?id=0BzuBOR2VJQqUZjY3bUZLYjFUTFk&usp=sharing

Notes are in the img names... Ask me if you have questions about what I was making note of!

[2016-08-12 16:39] vojtechsedlak commented on #207
Here is a draft of the analytics plan: https://docs.google.com/document/d/1hunFxU8jrAc744iUWsS68E9_8ASXsQ6lxIZBhbPKDPc/edit

[2016-08-12 16:43] valianttry opened #208 "Need a Method to Preview Nationbuilder Pages for localizers"
We will be using volunteer localizers and a vendor to support our Tier 1 and 2 localization. Ideally we should be able to share with them the localized text "in context" for them to review.

According to @ScottDowne, we can use Pontoon for "out of context" localization. However, we will need some way to preview the localized pages.

Is there a test server or some other arrangement that would allow

[2016-08-12 16:45] valianttry commented on #208
Update from Scott:

[2016-08-12 16:45] brettgaylor commented on #172
Script is now approved, contract signed!

[2016-08-12 16:45] #172 closed, assigned to brettgaylor

[2016-08-12 16:47] valianttry commented on #208
cc @ScottDowne

@gholme4
@imagerwalt
@annahov
@jendc123

[2016-08-12 16:54] HPaulJohnson commented on #161
Final set of activities finalized and available here:

 https://drive.google.com/drive/u/1/folders/0B0RBD2BW-srIdUV5d0NEVzNJY00

Meeting on Monday with @lovegushwa @chadsansing @flukeout to discuss design across landing page, activity templates and events platform.

[2016-08-12 16:55] HPaulJohnson commented on #198
Aim to have initial concepts/copy to snippet team for feedback/review by 8/17.

[2016-08-12 16:56] HPaulJohnson commented on #193
Working with a consultant and tentative plan and scope of work approved. Next week paperwork and campaign briefing to start building test plan and campaign.

@vojtechmozilla I will setup a meeting for us early next week to discuss.

[2016-08-12 17:29] valianttry commented on #155
@shaghdoosti @stephaniemcv and myself spent some quality time on this schedule:

https://docs.google.com/spreadsheets/d/13qqXEY-6Spbol0ZaKs41saikYoNOPwFDlJRa5lvZGJA/edit#gid=4

[2016-08-12 17:34] stephaniemcv commented on #155
One question I have is about auto responders - thanking them for signing the petition and if they sign up for the newsletter (confirm.welcome), currently in SalesForce we only have EN and DE.

[2016-08-12 17:40] valianttry commented on #155
@stephaniemcv can you fire up a ticket for localizing that content? And can you drop the current language we have for confirm.welcome into that ticket?

[2016-08-12 17:41] valianttry commented on #123
Contract is fully executed and on file.

[2016-08-12 17:41] #123 closed, assigned to valianttry

[2016-08-12 17:45] brettgaylor opened #210 "Benchmarks for CSI Gif"
Let's add some good benchmarks for:

-Procedural crime shows
-Show openers
-Cable TV advertisements for cheesy dramas

[2016-08-12 17:51] brettgaylor commented on #210
One of my favs:
Incredible Hulk opening:
https://www.youtube.com/watch?v=YOXpKUu6pUg

So awesome and ahead of its time!  A lot of backstory and exposition packed in there.

The trailers for the show are pretty dope, too
https://www.youtube.com/watch?v=oY5vxacjDgE

https://www.youtube.com/watch?v=JhlDaOW42FE

[2016-08-12 17:53] brettgaylor commented on #210
Looking at this opener:
https://www.youtube.com/watch?v=X-LZWMc-OEY

We could totally do a :30, and it might be fun to pull out a few key characters from the stock footage and give them names.

"Sheila Sharesalot:

"Reaction Richard"

[2016-08-12 17:58] natalieworth commented on #210
I think this is my favourite ticket yet.

[2016-08-12 18:23] lovegushwa commented on #93
@valianttry review form, share and donate copy here:
https://redpen.io/tya592c5aea90094d6

Much of this was pulled from Kevin's copy deck here: https://docs.google.com/document/d/1C49mUWIe5tPHdaLfr5-NkjeizWEh5NRXeP8C-57HgzA/edit

[2016-08-12 18:50] KevZawacki opened #211 "Square away 8/24 comms: Blog, op-ed, and EU pitching"
This ticket covers our first wave of copyright comms: blog 1, op-ed placement, and press.

What we need to do:
- [x] on or before 8/12: Confirm Katharina Borchert as our campaign spokesperson.
- [x] on or before 8/17: Confirm MoCo EU team and MoCo EU agencies ability to support. **_This is critical_**. Kevin to write up specific asks, and @brettgaylor will share with Alex S. In short, they are:

[2016-08-12 18:52] ScottDowne opened #212 "Localization strategy for videos"
Now that we are live on Pontoon, we're starting to see lots of locales translate the site and ask for it to be on production.

When we have videos on our site, it presents a bit of a problem: not all of our videos are localized either with audio (dubbing - as we did in spanish and german for encryption2), or with subtitles.

It would be great if we could somehow indicate to localizers that they ca

[2016-08-12 18:54] ScottDowne commented on #212
@mathjazz thoughts on this?

FYI, Amara is a tool for subtitling a video.

I'm thinking, we have a link in pontoon that's a link to a video. The localizer would then use a tool, like amara, and translate the video, and it creates a new link? (Brett, is that correct)

Then paste that link back into pontoon for the desired language?

[2016-08-12 18:55] vojtechsedlak commented on #193
+1 @HPaulJohnson

[2016-08-12 18:57] shaghdoosti commented on #149
We have the locked petition copy. It is below:

https://docs.google.com/document/d/1SirP8cG_33HqEsnN-xizFpQBZvjv5pG7r51TlwxW_V8/edit

[2016-08-12 18:57] #149 closed, assigned to shaghdoosti

[2016-08-12 20:15] shaghdoosti opened #213 "List of content that needs approval."
Have put together a spreadsheet - please fill out friends:

https://docs.google.com/spreadsheets/d/1wQt_Em7DkEWprx-bFHqV8CpHJub3T5Gf9YCKqbMA1XE/edit#gid=0

@brettgaylor @valianttry @HPaulJohnson @KevZawacki

[2016-08-12 20:45] KevZawacki commented on #213
@shaghdoosti Thanks! I've just added blog 1 and our op-ed

[2016-08-13 01:07] lovegushwa commented on #99
@valianttry see the final v1 petition page PSD files here:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvd3k1aVVJY0l4MXc&usp=sharing

Annotation and links are in the redpen here:
https://redpen.io/dg0021f35a8cb63609

[2016-08-13 17:54] mathjazz commented on #212
That sounds like an elegant solution to notify users about localizing video. A string which is a link to the English video should also have a detailed comment explaining how to translate the video and what to do with the link.

@flodolo @peiying2 Thoughts?

[2016-08-14 00:40] flodolo commented on #212
I'd need more details on how this would work (what's the string localizers would see? Link to Amara should be the same for all languages), but it seems confusing. A link in the video's description on YouTube seems more visible, we just need to let people know they can localize subtitles if they want.

[2016-08-15 14:24] KevZawacki commented on #210
@brettgaylor @natalieworth

Report-out from my favorite Mozilla homework assignment yet: **[CSI: GIF Benchmarks](https://docs.google.com/document/d/1ltBwtg33zQSjcMLhYluYUvLZwQyuC6C_aa8AreYRSjE/edit)**.

This Google Doc includes links to and notes on 9 procedural crime drama opening sequences and 4 procedural crime drama trailers.

[2016-08-15 14:36] KevZawacki commented on #210
My initial thoughts:

We should do a trailer -- the narration allows us to give the skit a bit more context, and also more tropes to play around with.

The best benchmarks, IMO, are the trailer for [CSI Cyber](https://www.youtube.com/watch?v=cWMcSiRcbC8) and the intros for [Criminal Minds](https://www.youtube.com/watch?v=BicBp_HyoOw) and [CSI Las Vegas](https://www.youtube.com/watch?v=3NzgPNpQkno)

[2016-08-15 16:09] #93 closed, assigned to lovegushwa, natalieworth

[2016-08-15 16:12] valianttry commented on #99
@lovegushwa closing this. re-open if that's not correct. :)

[2016-08-15 16:12] #99 closed, assigned to natalieworth

[2016-08-15 16:13] lovegushwa commented on #93
UI work happening here: #99

[2016-08-15 16:17] shaghdoosti opened #214 "Question: What do we mean by Launch Sep 15"
I realized I don't have complete clarity on this - when we say we want the technology to be ready on Sept 15. What do we mean? Does that mean that on Sept 15 - hosts have already populated the site with events and it's ready for RSVPs? Or do we mean that then it will be ready to share with hosts?

@a-kilroy @damiankay would love your thoughts on this.

[2016-08-15 17:27] valianttry commented on #152
DONE localization is happening in pontoon here:
https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright/?string=154356

[2016-08-15 17:27] #152 closed, assigned to valianttry

[2016-08-15 17:29] stephaniemcv commented on #162
Passing this on to @vojtechmozilla re: finding action data in Google Analytics to associate with emails

[2016-08-15 17:30] valianttry commented on #150
Finalized fields with Jordan, his designs were sent to Fission.

Final approval from legal and compliance is required, that bug is here:
(Locked down for security reasons)
https://bugzilla.mozilla.org/show_bug.cgi?id=1294881

![copyfail website](https://cloud.githubusercontent.com/assets/9830371/17672803/11e242f6-62d3-11e6-9878-20f9a8eded7e.png)

[2016-08-15 18:03] a-kilroy commented on #214
Well we can't have a public launch without at least some seed data (events in this case). With all the changes in the schedule I am unclear if this is the internal launch (allowing us to add data) or the external launch.

[2016-08-15 18:06] damiankay commented on #214
I'll have a look at the dates today and will clarify whether this date is internal launch of public. Thx!

[2016-08-15 18:21] ScottDowne commented on #212
We don't yet know how it would work, first trying to figure out what's possible.

[2016-08-15 18:25] ScottDowne commented on #212
I think the general idea is the string is a link to the translatable video in amara, and a comment to help with the confusion?

I think what we're trying to solve is an easy way to get a video to the l10n community so they can add subtitles.

[2016-08-15 18:27] damiankay opened #215 "Complete Fission discovery survey for Maker Party"
Hi Arielle,

I'm not 100% clear on whether this has been completed. If not, I'm hoping you and I can complete this discovery survey from Fission asap:
https://docs.google.com/a/mozillafoundation.org/forms/d/e/1FAIpQLSe_NCN5gVXyn7aytaDznkdsK4ekhfU2vF1Pz7xA68fPgaVAzQ/viewform?c=0&w=1

I'll see if I can set up a time for us to go through it together. Would be great to complete this tomorrow (Aug 16)

[2016-08-15 18:28] flodolo commented on #212
The problem is that a link to Amara is not a string, and it's not localizable, hence the confusion. If it's a comment to an existing string that would make more sense, but I'm not sure there always be a string for a video.

[2016-08-15 18:33] ScottDowne commented on #212
I'm not following.

Say we didn't want to put a link to amara with a comment in the string. Do you have anything else in mind? Just exploring options, not set on anything yet.

I hear you though, that putting it in the string is confusing, and we're not dead set on that.

[2016-08-15 18:41] flodolo commented on #212
I think there's a misunderstanding: I'm saying that having a string like `http://amara.org/en/videos/9uT23JBpJeQW/info/masterfirefoxoscom-marketplace/` doesn't make sense (that's how I interpreted Matjaz comment).

If instead is a normal string, like "Look this video about XYZ", and the link to Amara is in the related comment, it makes sense. But we might not always have such a string, e.g. if the

[2016-08-15 18:45] brettgaylor commented on #212
@mathjazz Is there a capacity for notes/instructions on Pontoon?

[2016-08-15 18:50] brettgaylor commented on #212
@flodolo could we not use "look at video xyz" as a 'string', and mark it complete when the task it references is complete?  We're trying to find a social hack like this that would make sense within a pontoon workflow.

[2016-08-15 18:58] flodolo commented on #212
No, that wouldn't work. It's a string, the "task" is complete when the string is translated, it can't be logically tied to an external resource.

[2016-08-15 18:59] natalieworth commented on #210
These are great @KevZawacki @brettgaylor. I've started a google sheet to keep track of mine here: https://docs.google.com/spreadsheets/d/1-3iFLs4ho9VBn86sCXTErmaIeiQTLCJdUk9yY5eU6i4/edit
Would be awesome to identify some favourites as our benchmarks and then pull out the traits (like Kevin's already done) to include in our video and develop the narration?

[2016-08-15 19:11] valianttry commented on #212
We should cc Peiying Mo on this ticket, so we don't have 2 separate conversations. @flodolo can you cc her? I'm not sure what her Github is.

[2016-08-15 19:15] flodolo commented on #212
She was already CCed above (@peiying2)

[2016-08-15 19:18] HPaulJohnson opened #216 "Maker Party Slide Template"
To support various content used within activities and with outreach, develop a simple slide template that includes Maker Party branding.

@lovegushwa @chadsansing

[2016-08-15 19:19] HPaulJohnson opened #217 "Maker Party Activity Template"
Updated style and branding on existing activity templates to match Maker Party landing page and other assets.

@flukeout @lovegushwa @chadsansing

[2016-08-15 19:31] brettgaylor commented on #212
Is there a chance this could just be covered by existing features that give instruction to localizers? ie we can give the instruction " this page is special - it has a video you need to localize here".

And as a follow up, could our process be to mail localizers from within the Pontoon platform if this task is missed?

[2016-08-15 20:07] damiankay opened #218 "Access / Create Advocacy YouTube channel"
Hi @cadecairos @ScottDowne

Do either of you know the status of the Advocacy YouTube channel? I believe this was an issue with the Encryption videos, and we ended up hosting them. Can you please provide some background and suggest a plan of action (I.e. should we continue trying to access the account)?

Please feel free to re-assign / CC anyone else who might have more information.

We'll need to

[2016-08-15 20:09] lovegushwa commented on #197
@HPaulJohnson @shaghdoosti @stephaniemcv
What email template are we using (so we know what size image to make.)
Any updates on the content here :) ?

[2016-08-15 20:11] valianttry opened #219 "Secure contract with DEG for email production backup"
When @stephaniemcv is on PTO or at capacity, we would like to have backup support. DEG is a firm that already does this work under contract with Mozilla Marketing.

I have launched a legal bug here for a new contract addendum with DEG:
https://bugzilla.mozilla.org/show_bug.cgi?id=1293574

I am hoping to have this contract secured this week, and have DEG help asap.

[2016-08-15 20:11] brettgaylor commented on #218
I believe this was created.  cc @HPaulJohnson @KevZawacki . Or maybe we just started using main Mozilla channel?

[2016-08-15 20:11] valianttry commented on #155
I'm going to close this ticket, we have a solid email plan!

[2016-08-15 20:11] #155 closed, assigned to valianttry, shaghdoosti

[2016-08-15 20:14] lovegushwa commented on #196
Will update the identity after v1 AB test runs, and will probably wait for v2 to push it out.
For now campaign assets should follow the color and type styles here: https://redpen.io/p/hre3576c177f54748c

[2016-08-15 20:16] valianttry opened #220 "Set up consuling contract with Cristina Moon for email writing + strategy support"
A former change.org colleague reached out about contractor gigs -- her name is Cristina Moon and she's got a few weeks before starting her next full time job. (She just got her MBA from Stanford.) I anticipate it'll be at least another 3 weeks before a new Email Strategist would start, so Cristina's availability comes at a good time. I met with her and described the campaign, she was jazzed.

Cris

[2016-08-15 20:31] KevZawacki commented on #218
Everyone -- MoFo and MoCo -- was locked out of the previous Mozilla YouTube channel.

During the encrpytion campaign, we created a Mozilla Advocacy channel to host our videos: https://www.youtube.com/channel/UCltqjpqVd-IowlC-iLp91eg

That channel is now simply "Mozilla," and will continue to house Advocacy videos.

[2016-08-15 20:32] damiankay commented on #218
Thanks for clarifying @KevZawacki - I'll close this issue.

[2016-08-15 20:32] #218 closed, assigned to cadecairos

[2016-08-15 20:37] damiankay commented on #128
Hi @a-kilroy - just checking to see if this was completed yet.

[2016-08-15 20:43] damiankay commented on #179
Hi @cadecairos - question for you: is there any way to display a start and end date for each task? This is really vital to make the visualization worthwhile. Otherwise we're only seeing due dates for everything, and can't get a full sense of duration or resource conflicts. Thanks!

[2016-08-15 20:59] damiankay commented on #150
@pmac @ScottDowne @a-kilroy - has a decision been made Re whether we're going to use Basket as middleware?

[2016-08-15 21:27] lovegushwa commented on #70
@valianttry @vojtechmozilla  just to confirm, we already tested option 1 and option 2 above, but we need a design for option 3? ... Will we run a test of all three options again? ...

[2016-08-15 21:31] vojtechsedlak commented on #70
We did run a test between options 1 and 2, with the buttons version (option 1) dramatically increasing the likelihood of donation. As far as I know we need a design for option 3 that we should test against both option 1 and 2. I would prefer for all three options to be tested again, so that we don't compare results across different campaigns. Is that possible @valianttry? Hope that makes sense @lo

[2016-08-15 21:53] brettgaylor opened #221 "Script for CSI GIF"
Based on the benchmarks, lets write a :30 script for CSI GIF.

We should have this EOD Wednesday so that we can move to editing on Thursday.

[2016-08-15 21:55] valianttry opened #222 "Sign up for Bablic for Nationbuilder localization"
I've asked Alexei to help sign up for Bablic, a new service that will help us integrate L10N localizations into Nationbuilder.

https://www.bablic.com/pricing

NOTE: This is a stop-gap solution until we can integrate Pontoon with Nationbuilder.

cc @damiankay @ScottDowne

[2016-08-15 21:59] valianttry opened #223 "Determine: Integration for Bablic (Pontoon or Github?)"
This software integrates with Nationbuilder:
https://www.bablic.com/pricing

L10N will continue to provide localization support for Advocacy. L10N is most comfortable with Pontoon, and asking them to learn yet another tool is prohibitive.

We need a way to move translated strings into Nationbuilder.

[2016-08-15 22:55] damiankay opened #224 "Copyright Petition: Design email template"
Hi @lovegushwa

Starting a ticket to track the email template for copyright petition.

@valianttry suggests reusing the template from the Encryption campaign. Are you OK with that approach?

I can set the milestone depending on whether a new template is required (we can also create an estimate).

Thanks!

[2016-08-15 22:58] valianttry commented on #224
We could consider just using the existing email template. Here's a screengrab for reference (@lovegushwa this isn't a critical task IMHO, but I defer to you re: your team's capacity / prioritization here):

![_test__celebrate__worldemojiday__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/17682546/25e24b42-6301-11e6-829a-ce2c58c0a6bb.png)

[2016-08-15 23:01] brettgaylor opened #225 "Create internal FAQ document for copyright campaign"
We will be fielding many questions in this campaign, it might make sense to have an internal document that we can use when speaking with media or other folks about the campaign.  Example questions:

-If taking pictures of the eiffel tower at night is illegal, but people do it anyway, what is the harm?
-As above with GIFs/memes
-So are you saying that people should be allowed to do whatever they wa

[2016-08-15 23:14] lovegushwa commented on #207
@vojtechmozilla @HPaulJohnson @valianttry regarding the V1 petition AB test:

I think we should test three headlines:
1. something super direct like "reform copyright"
2. our more aggressive but not necessarily descriptive like "# copyfail"
3. friendly and hopeful "make, create, innovate"

<img width="1397" alt="screen shot 2016-08-15 at 3 51 29 pm" src="https://cloud.githubusercontent.com/assets/

[2016-08-15 23:22] brettgaylor opened #226 "Create title sequences for CSI GIF"
Based on our benchmarks, create a title sequence that has the show title, cast, etc

[2016-08-15 23:22] brettgaylor opened #227 "Create first edit for CSI GIF"
Build a first edit

[2016-08-15 23:23] brettgaylor opened #228 "Select stock footage"
Find the first set of images/video we'll use

[2016-08-15 23:24] brettgaylor opened #229 "Select stock music"
The beating heart of our masterpiece

[2016-08-15 23:42] damiankay commented on #215
@a-kilroy - it looks like there has been some discussion in the following docs:
Responses: https://docs.google.com/document/d/1MSxvSLngHl1_9yyxjsajE4zTFZ5zvb6iJbFm9mqxImk/edit
Reference (user stories): https://docs.google.com/document/d/1driaq40M1b085sbyDoJSQAFkMsvEPvhnux3E-ZIkHN8/edit#heading=h.fx6wqxf7zyya

Let's refine our responses and send to Fission.

[2016-08-15 23:49] damiankay commented on #80
Hey @ScottDowne - did you have any luck with this? Is it something we should talk to Fission about?

[2016-08-15 23:51] damiankay commented on #81
@lovegushwa what do you need to get started on this (other than a deadline)? :-)

[2016-08-15 23:55] damiankay commented on #131
closing - duplicate of #84

[2016-08-15 23:55] #131 closed, assigned to KevZawacki

[2016-08-16 00:04] damiankay commented on #134
@stephaniemcv - I believe we're clear to send emails through Salesforce. Perhaps the only blocker is proper list segmentation. Can you confirm?

[2016-08-16 00:07] damiankay commented on #161
Going to close this as it looks like the 6 activities have been finalized. Thx!

[2016-08-16 00:07] #161 closed, assigned to HPaulJohnson

[2016-08-16 00:07] damiankay commented on #168
@HPaulJohnson do you think it's worthwhile looking into this service? Or should we be using our community for this?

[2016-08-16 00:11] damiankay commented on #171
@cadecairos is this done? Looks like it might not be on production?

[2016-08-16 00:14] damiankay commented on #184
Closing this as it seems to have been completed. Also logged here: #161

[2016-08-16 00:14] #184 closed, assigned to nobody

[2016-08-16 00:17] HPaulJohnson commented on #168
@damiankay I think in certain cases Gutcheck can be a great solution for quantitative and qualitative feedback. That said, it's pretty costly (~$15K per project) and I'd only recommend we do when we've built in sufficient time to iterate and incorporate feedback. I'm not sure that's the case this time around with our media schedule.

We have setup an informal panel of some EU-based colleagues how

[2016-08-16 00:37] brettgaylor commented on #168
Agreed.  I don't think we can realistically incorporate this for this round.

[2016-08-16 00:41] HPaulJohnson commented on #81
Started a shell doc to start working on copy based on low-fidelity wireframes. Let us know the copy deadline and we'll make sure to have this completed in time.

https://docs.google.com/document/d/16ObBANwvduy59NjYC3aOF9cIPsDG3RdGszmHwqXHPv4/edit

cc/ @KevZawacki

[2016-08-16 00:44] ScottDowne commented on #150
We want to use Basket, it's very helpful.

However, it depends on the fields we plan on saving, if we can use Basket or not, and if we can, we most def should.

[2016-08-16 00:46] ScottDowne commented on #179
@damiankay if I remember correctly, we are hitting a snag where the gantt chart thingy we setup doesn't work with zenhub tags.

@cadecairos is this correct? Is this the blocker?

[2016-08-16 00:46] HPaulJohnson commented on #207
@vojtechmozilla I started to braindump some possible things we'd want to test in this doc:

https://docs.google.com/document/d/1aKJPFx8Ef7teBfmEZ3BWBWJIRmbHcI_obC7WNn7PAos/edit

I'll continue to add to that list but hopefully we can meet to hack and prioritize.

[2016-08-16 00:49] ScottDowne commented on #80
Yeah, so CRM is happening with Basket if the fields allow that.

Techno jargon warning: We're going to setup a Python and Heroku app that uses the webhooks in NationBuilder, then sends the info to either Basket or directly to SalesForce.

For signup, we're going to use Auth0 if it gets through vendor review in time, if not, we'll just use default nationbuilder auth.

[2016-08-16 00:50] ScottDowne commented on #171
I missed this. Chris put a pull request and I just need to look at it. Thanks for the ping :)

[2016-08-16 00:51] ScottDowne commented on #171
Oh, never mind, three days ago + weekend, makes it a fairly recent addition :)

Either way, looking now :)

[2016-08-16 00:51] #171 closed, assigned to cadecairos

[2016-08-16 01:00] ScottDowne commented on #223
The issue, as I understand it is we need to get translation data from github, created via Pontoon, into nationbuilder, via bablic.

I think doing this manually is the short term.

This ticket is about long term use, and to automate it? So it doesn't need to be manual, correct?

If so, I'm first going to figure out what's involved, how much work is involved.

Then, if it's a significant amount of w

[2016-08-16 03:51] stephaniemcv opened #230 "Email Performance Action Data"
Detailed description of work: @vojtechmozilla  to assist with pulling any historical action data out of Google Analytics to complete Email Performance reports
- [Q1 Email Performance](https://docs.google.com/spreadsheets/d/17QiSIDWzs0WG9BqBYOfAacG59J2fuj_sSId2fNyO7QM/edit#gid=478614526)
- [Q2 Email Performance](https://docs.google.com/spreadsheets/d/1lC--r1dm-TwosxIjiFWarTwsR_xkC-6VFKWfjysIbbQ/edi

[2016-08-16 04:24] valianttry commented on #150
@ScottDowne that's the final decision? I have to say I'm a little surprised, I thought we were working toward relying more on direct integrations and less on middleware for long term.

[2016-08-16 05:47] damiankay commented on #168
$15K! Yikes. That certainly does not sound worthwhile.

Great to hear that there are some EU contacts to help with this.

[2016-08-16 05:47] #168 closed, assigned to HPaulJohnson

[2016-08-16 05:54] damiankay commented on #171
Very cool - thanks @ScottDowne & @cadecairos !

[2016-08-16 06:21] lovegushwa opened #231 "EU Copyright Campaign: template wireframes"
Wireframe a template based on components in #202

Due date:
August 26th

CC:
@natalieworth @damiankay

[2016-08-16 06:29] lovegushwa opened #232 "EU Copyright Campaign: template UI"
Design template UI based on wireframes in #231

Due date:
August 19th

CC:
@natalieworth @damiankay

[2016-08-16 07:02] a-kilroy commented on #150
Would be awesome to see the short version write up for the reason for this approach. I suspect that could help us in future integration decisions.

[2016-08-16 07:08] a-kilroy commented on #215
Sure but I think we need at least one of the advocacy team to join us. There is a lot of campaign strategic language asks in there and I'm not deep enough in this to feel comfortable making that call.

[2016-08-16 07:20] a-kilroy commented on #128
Tentative yes. Reviewing with Andrew later before I can say it's 'done'. Also done here just means my very rough first version is done so that we have something to start with in time for this campaign.

[2016-08-16 07:20] lovegushwa commented on #203
@beccaklam this should help you get started. We have some older low fidelity wireframes but they don't get across idea of integrating the petition text and additional v2 videos + meme generator promos.

Articles on https://medium.com/ could be a benchmark. Also http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/

You can grab updated form fields from the final v1 UI here:
https://drive.

[2016-08-16 07:29] mathjazz commented on #212
Yes.

You can add a comment in the file above the string it belongs to like this:
http://hg.mozilla.org/releases/mozilla-aurora/file/c16b845d2080/browser/locales/en-US/chrome/browser/accounts.properties#l9

And Pontoon will display this as a comment:
https://pontoon.mozilla.org/sl/firefox-aurora/browser/chrome/browser/accounts.properties/?string=135741

##

I talked about this issue with @flodolo

[2016-08-16 12:21] KevZawacki commented on #221
@brettgaylor Sounds good! I'm on it.

[2016-08-16 13:20] KevZawacki commented on #176
Update: Blog and op-ed now coming from Katharina. Both drafts [here](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit#).

Raegan and Alex S. have both reviewed. Who else do we require approvals from? cc @shaghdoosti @brettgaylor

Aiming to ship to our EU agencies for localization by EOD 8/17.

(Housekeeping: This ticket is part of #211.)

[2016-08-16 13:23] KevZawacki opened #233 "Write copyright blogs 2 & 3 // secure approvals"
**Detailed description of work**:

Blog 2 will announce our public education videos + Post Crimes, and publish to blog.mozilla.org on 9/20. It will be authored by Katharina

Blog 3 will be Mozilla's reaction to the proposal, and publish to blog.mozilla.org on 9/21. It will be authored by Denelle.

_Due date: September 16, 2016_

**CC**: @HPaulJohnson

[2016-08-16 13:24] KevZawacki opened #234 "Write copyright blog post 4 // secure approvals"
Detailed description of work: Blog 4 will announce Maker Party and publish to blog.mozilla.org in early October.

Due date: tbd

CC: @HPaulJohnson

[2016-08-16 14:23] stephaniemcv commented on #197
Couple of Qs:
- Is the image compelling enough to warrant a 600px width? (template full size images tend to scale better for mobile. Call outs are tricky because they are not truly 2 columns and it can shift text weirdly).
- Is the copy long? My concern would be the image pushing too much copy below the fold if we don't have a CTA in the image.
- What about a nice, eye catching button? (I would ju

[2016-08-16 14:29] damiankay commented on #128
Right - totally makes sense.

Can you please link to the rough version here when it's ready?

Thanks!

[2016-08-16 14:32] damiankay commented on #215
Ok - let's tackle what we can due to the time difference, and I'll complete with @shaghdoosti.

Thanks

[2016-08-16 15:02] ScottDowne commented on #150
@valianttry hm, I'm not familiar with that as an explicit decision, or was it just more of a guideline and not a general rule? We can chat more about this, because I would rather weigh pros and cons of each situation and solution, instead of having a generic rule.

@a-kilroy nothing fancy, just me, @cadecairos and Walter from Fission got on a call and they weighed the pros and cons, and in the end

[2016-08-16 15:41] a-kilroy commented on #150
@ScottDowne  Gotcha. Would love to know what it doesn't do since where we are now is definitely not where we'll be in a year. Would be awesome to know we can grow into where we are going with whatever we set up. My biggest question I guess is about custom field support and any integration with Google Analytics.

[2016-08-16 15:45] ScottDowne commented on #150
Can you expand a bit on integration with Google Analytics, primarily vs direct integration and Google Analytics.

For custom fields, I would rather create a pull request in Basket to add that support, than basically hacking out basket functionality ourselves from the ground up.

[2016-08-16 16:33] damiankay commented on #81
Thanks Paul - hoping to talk to Nationbuilder today and will update the deadline then.

[2016-08-16 16:59] KevZawacki commented on #221
@brettgaylor [CSI: GIF script, take 1](https://docs.google.com/document/d/1ltBwtg33zQSjcMLhYluYUvLZwQyuC6C_aa8AreYRSjE/edit)

[2016-08-16 17:02] lovegushwa commented on #224
@valianttry I think this is the one we want right? (but with updated colors) ... 600x300px image
![screen shot 2016-08-16 at 10 01 41 am](https://cloud.githubusercontent.com/assets/12228435/17708136/8308def2-6398-11e6-97ff-2aff87ca10b6.png)

[2016-08-16 17:05] lovegushwa commented on #224
Oh I think we should close this ticket in favor of #197 , don't think we are going to design a new template.

[2016-08-16 17:06] stephaniemcv commented on #134
Currently in SF we have a MakerParty list of approx ~16,000

[2016-08-16 17:06] lovegushwa commented on #195
Will sprint on this Thursday / Friday, we need to do a little prep work beforehand, will post here.

[2016-08-16 17:07] lovegushwa commented on #198
@HPaulJohnson on this today. Will post UI this afternoon.

[2016-08-16 17:09] damiankay commented on #202
Damian to follow up: Do we need to build these into V1? Are they V2 features?

[2016-08-16 17:15] damiankay commented on #196
Just confirming this is for after V1 launches

[2016-08-16 17:16] #194 closed, assigned to nobody

[2016-08-16 17:19] damiankay commented on #191
@shaghdoosti - can you link documents / update when you have a second?

[2016-08-16 17:20] lovegushwa commented on #197
@valianttry @stephaniemcv I think this is the template we need (but with updated colors) ... 600x300px image

We can do with a smaller centered image (could be an emoji, we are using them in the v1 petition)
https://redpen.io/yd7e08c52343b4c0d3

What do you think?

![screen shot 2016-08-16 at 10 01 41 am](https://cloud.githubusercontent.com/assets/12228435/17708630/ae4e962c-639a-11e6-9dec-b6749531

[2016-08-16 17:21] damiankay commented on #189
@shaghdoosti will connect @vojtechmozilla with 270 strategies.

[2016-08-16 17:44] valianttry commented on #179
@cadecairos I thought you set it up so the created date was the start date?

[2016-08-16 17:56] cadecairos commented on #179
I didn't make any changes to the front-end code that calculates start/end times. I haven't yet been able to figure out the way they are calculated, beyond the numerical tagging that the chart logic requires for duration.

[2016-08-16 18:06] damiankay commented on #150
CC @drewmoto please see above for discussion

[2016-08-16 18:34] #220 closed, assigned to valianttry

[2016-08-16 18:34] valianttry commented on #220
done.

[2016-08-16 18:34] valianttry commented on #219
DEG should send over draft language and markup today on SOW and MSA amendments. (Bugzilla bug has details.)

[2016-08-16 18:47] stephaniemcv commented on #197
@lovegushwa Just to clarify, when you say "smaller centered image" do you mean the emoji **and** text?

Overall, I like this design. In terms of email coding this is a simple alternate image blocks with copy blocks. The image alt text can be css styled to look like bold font so the header "text" is not lost if images are turned on in a recipient's email box.

![issue197](https://cloud.githubuserco

[2016-08-16 19:02] damiankay opened #235 "Maker Party website: Create visual design of website UI and brand assets in Nationbuilder"
Design for pages on Nationbuilder will be handled by Fission.

Detailed description of work:
Design should be based on:
Required functionality #75
Site map #126

Fission will provide designs in InVision for direct feedback by Mozilla.

Due date: August 22

CC: @ScottDowne @geroter @lovegushwa @HPaulJohnson

[2016-08-16 20:28] damiankay commented on #179
@ScottDowne I think it's ok if we don't display Zenhub tags.

@cadecairos a few features (that probably should have been stated earlier in this process) are:
1. Sorting tasks by milestone OR assignee
2. Setting start and end dates for tasks

Any idea if either of these are possible via this solution?

[2016-08-16 20:34] vojtechsedlak commented on #207
Hey @HPaulJohnson, I fleshed out some of the ideas you listed in the following spreadsheet: https://docs.google.com/spreadsheets/d/1jGE88R9wJBVqwawOObWNS8mB2OmecWGUAKk-cFzgN5M/edit#gid=0

I adapted a template that Adam Lofting put together for EOY test sprint. It should help us prioritize the testing ideas.

Looking forward to chatting in a bit.

[2016-08-16 20:43] beccaklam commented on #203
https://drive.google.com/open?id=0BzuBOR2VJQqUZ1I5RjhjYWFMU0k
^ First iteration of V2 wireframes (1 mobile, 3 desktop versions)

[2016-08-16 20:47] damiankay opened #236 "Confirm approvals for localized petition"
Detailed description of work:
Hi @shaghdoosti - can you please update when you have an idea of whether we need a trusted policy resource to approve each localized version of the petition?

Due date:
August 19

CC: @valianttry

[2016-08-16 20:54] damiankay commented on #214
Still waiting to meet with Fission, but I think it's safe to say that Sep 15 is our "soft launch". After this date we'll need hosts to seed their events. Would be great to work out exactly what is required and timing for onboarding hosts, promotion, and signing up attendees.

[2016-08-17 13:24] KevZawacki opened #237 "Create truncated comms plan for agencies"
Detailed description of work: Create a straightforward comms plan to guide EU PR agencies.

Due date: Completed and shared by Friday, August 19.

CC: @HPaulJohnson @brettgaylor

[2016-08-17 13:25] KevZawacki commented on #237
Drafted [here](https://docs.google.com/document/d/1y5m1CZBd0YeD580xKgcIBIXg8HHzkh8raWWd0CuGWqs/edit#).

Next steps:
- Add Katharina's first blog post (nudged her for approval today)
- Determine which agencies will see this, and who will liaise with them (asking in today's comms stand-up)

[2016-08-17 14:00] shaghdoosti commented on #185
Hey @lovegushwa

We have a close to final partnership pack here:
https://docs.google.com/presentation/d/1Ibb0WgTwdXBON1UxYjQMu3DftK2PcwNiiCCKgkuibZs/edit#slide=id.p

Any chance this could have some design love before Friday COB? A few things - it would be awesome if it's a template we can use for other decks - and also, we're going to need to edit the document for various partners so it would be g

[2016-08-17 16:12] HPaulJohnson commented on #198
Sent to snippet team for creative review:

 https://redpen.io/p/dn5a9dd25dd4e29f19

Feedback to be posted here this afternoon before moving these through approval/localization processes.

[2016-08-17 16:56] #224 closed, assigned to lovegushwa

[2016-08-17 16:59] valianttry commented on #236
Sara confirmed: She spoke to Raegan and she would like for there to be a policy review of the tier 1 languages for the petition.

I'm setting them in Pontoon and documenting process.

[2016-08-17 16:59] #236 closed, assigned to shaghdoosti

[2016-08-17 17:00] valianttry commented on #222
@cadecairos is setting this up now.

[2016-08-17 17:03] valianttry opened #238 "Document localization processes"
Detailed description of work:
We need to document how localization will happen for Copyright Campaign content. I'm going to work on this page in the wiki so we can keep track of all the steps:
https://github.com/MozillaFoundation/Advocacy/wiki/Localization:-How-it-happens-during-Copyright

Due date: TODAY 8/17

CC:

[2016-08-17 17:10] brettgaylor opened #239 "Vendor reviews for UGC microsites"
Evaluate the 3rd parties that will be needed to create the microsite experiences.

We should aim to have this completed August 24th.

[2016-08-17 17:23] brettgaylor commented on #213
I think we can close this, as it was meant to describe just the creation of the sheet, right?

[2016-08-17 18:16] #237 closed, assigned to KevZawacki

[2016-08-17 18:18] damiankay commented on #215
This has been completed and shared with Fission. The revised discovery document can be found here: https://drive.google.com/open?id=1jQqTBKRQebVz7DV0dbDsmsknTPMXnPCQyHsUA154ycE

[2016-08-17 18:18] #215 closed, assigned to a-kilroy

[2016-08-17 18:18] damiankay opened #240 "Finalize URLs for Copyright campaign petition page"
Detailed description of work:
We need to make a decision about the URLs for the Copyright campaign / Petition page.
suggestion: advocacy.mozillafoundation.org/copyright
question: does this work for Nationbuilder?

Due date: August 19

CC: @valianttry @brettgaylor @shaghdoosti @HPaulJohnson @KevZawacki @natalieworth @beccaklam

[2016-08-17 18:22] damiankay commented on #84
@HPaulJohnson @KevZawacki Fission has requested that we have copy to them by August 24.

What can I do to support? Is there anything that you need?

Straw dog for content can be found here: https://docs.google.com/document/d/1driaq40M1b085sbyDoJSQAFkMsvEPvhnux3E-ZIkHN8/edit#heading=h.fx6wqxf7zyya

[2016-08-17 18:24] damiankay commented on #214
Confirming that Sept. 15 is our soft launch date. I'll start a separate issue to create a roll out plan.

[2016-08-17 18:24] #214 closed, assigned to damiankay

[2016-08-17 18:25] HPaulJohnson commented on #84
@damiankay We have wireframes for the 2 main landing pages ( #130) but do we have any for the events pages themselves? We'd likely need those to do the necessary copy for those pages.

We'll start with the 2 pages we have wireframes of for now.

[2016-08-17 18:26] KevZawacki opened #241 "Determine site launch time on 8/24"
Detailed description of work: We need to determine the precise hour the petition site will be fully accessible, so we can coordinate blog posting, press pitching, and social media accordingly.

We should optimize for GMT+2, since those are our target markets.

Proposal: Flip the switch at 10 p.m. PT on 8/23. Kevin can then begin comms at 11:30 a.m. GMT+2 on 8/24.

Due date: Friday, August 19

CC:

[2016-08-17 18:32] damiankay opened #242 "Maker Party: Create roll out plan for hosts / participants"
Detailed description of work:
Let's create a detailed plan for rolling out Maker Party to hosts and participants. Here are the general steps that I'm aware of at the moment:
1. Create onboarding documentation for Maker Party site
2. Soft launch of Maker Party site
3. Invite small group of trusted / NDA reps to test the system by adding some initial events
4. Make QA fixes as required
5. Send email

[2016-08-17 18:37] damiankay commented on #240
Just got confirmation from Fission that we can indeed use a sub-directory if that's desired.

FYI, they need to know our desired URL by Aug 19.

Who outside of Advocacy (if anyone) needs to be consulted before we finalize this decision?

CC @simonwex

[2016-08-17 19:14] damiankay opened #243 "Maker Party: URL required"
Detailed description of work:
Fission needs to know what the URL will be for the Maker Party site.
FYI, we can use a subdomain or subdirectory if desired.

Due date: August 19

CC: @geroter @shaghdoosti @chrislarry33 @a-kilroy @simonwex

[2016-08-17 19:32] damiankay commented on #80
Update from Fission RE: User Data
They're assumption is that they're not using Basket, but will rather use force API to send user data directly to SalesForce.

CC @ScottDowne @cadecairos @drewmoto @valianttry

[2016-08-17 19:42] damiankay commented on #106
@ScottDowne I'm following up with Fission shortly with some detailed questions. Do you need me to include any of these questions?

[2016-08-17 19:53] damiankay commented on #84
Requesting these now. Thanks!

[2016-08-17 20:01] ScottDowne commented on #169
Nothing is going to live in nationbuilder that needs to go to Salesforce. The current plan is to put data coming through nationbuilder into salesforce.

There is no functional reason to have salesforce data in nationbuilder.

[2016-08-17 20:01] #169 closed, assigned to a-kilroy

[2016-08-17 20:08] ScottDowne commented on #240
The petition should definitely live on nationbulder, as a sub directory..

I think the technical hurdle of having it live anywhere else is actually out of scope. Petition has to live on nationbuilder in order for it to function, so advocacy.m.o is not an option.

My suggestion is https://mozillafoundation.nationbuilder.com/petition or variants like https://mozillafoundation.nationbuilder.com/copyr

[2016-08-17 20:11] ScottDowne commented on #106
I don't think there is anything pressing here that hasn't already been answered.

l10n was my biggest concern, and that's done via bablic, and there are other issues to deal with that at a finer level.

I couldn't get the custom fields to work on the sandbox, and I also couldn't figure out how to modify my rsvp without creating an account, but I suspect that's not a specific question, but likely c

[2016-08-17 20:11] #106 closed, assigned to ScottDowne

[2016-08-17 20:13] damiankay commented on #240
We can't point to another URL? Does nationbuilder not support that?

[2016-08-17 20:20] valianttry commented on #240
George at fission shared this, might be useful:
http://nationbuilder.com/how_to_connect_a_custom_domain

Many sites use Nationbuilder and also have custom domains, like http://www.dci-palestine.org/.

[2016-08-17 20:22] ScottDowne commented on #240
I'm not sure though if that works in a subdirectory, though. We obviously need to keep the main page of advocacy.mozilla.org the same, and just have advocacy.mozilla.org/petition point to another page.

@cadecairos ^^ you know if that's possible in AWS?

[2016-08-17 20:24] ScottDowne commented on #240
@valianttry I'll dig into those docs and see if it'll work with a subdirectory...

[2016-08-17 20:26] ScottDowne commented on #240
Example, a usual way to accomplish this is with CNAME, but that happens for the whole domain, so we would lose everything existing on advocacy.mozilla.org, which would now be what's on nationbuilder.

[2016-08-17 20:30] ScottDowne commented on #240
The method in that link would be a whole site "redirect" as well, not a subdirectory.

I just noticed the above proposal was advocacy.mozillafoundation.org. Is that different than advocacy.mozilla.org on purpose? Or just a typo?

[2016-08-17 21:04] cadecairos commented on #240
If we wanted to use `advocacy.mozilla.org/copyright` the petition would need to live on `mozillafoundation.nationbuilder.com/copyright`

This is beacuse I'd have to set up a custom behaviour on our CDN to forward requests for  "/copyright" to the nationbuilder hostname, which preserves the path of the original request.

[2016-08-17 21:09] ScottDowne commented on #80
I was chatting with Walter today, and he was still thinking Basket.

[2016-08-17 21:17] damiankay commented on #80
Weird - Jennifer said otherwise. I'll include that in my follow up questions this afternoon.

[2016-08-17 22:04] drewmoto commented on #150
Hi All,
If I am following the thread correctly, it seems that we are leaning towards Basket as the middleware/integration point but it has not been confirmed. Who on the Fission side will be making the final recommendation that we can sign off on?

And as far as the Salesforce side goes, and what objects we will be using for this Petition activity, we will be using the Campaign and Contact Objects

[2016-08-17 22:13] natalieworth commented on #199
@brettgaylor @HPaulJohnson @lovegushwa @KevZawacki Started illustrative styles here of collage images gathered from Creative Commons: https://redpen.io/p/gq3de9ff962d05c391
I'm currently looking at gifs that could accompany the other social content written in the doc above. :D

[2016-08-17 22:40] KevZawacki commented on #199
@natalieworth These are awesome! 🎆

[2016-08-17 22:51] brettgaylor commented on #199
These are very great!

@natalieworth don't forget to provide CC attribution when you use these ;)

[2016-08-17 22:58] natalieworth commented on #199
@brettgaylor Ah yes! I was going to ask you about that. Should I still provide CC if it's under a public domain/ CC 0 license (which doesn't require accreditation to the author). Or would we be able to provide credits within the facebook/ twitter post instead of on the image itself.

[2016-08-17 23:11] damiankay opened #244 "Maker Party: Develop global activity"
Detailed description of work:
We need to develop an activity that will tie all of the elements of the copyright campaign together. This would be something that people do at every event, and that we could potentially share widely for maximum impact.

Questions:
- Is this possible?
- If so, what’s the budget?

Due date:
Need to finalize quickly. Does anyone have an idea of the dependencies to help f

[2016-08-18 00:06] HPaulJohnson commented on #198
Feedback from snippet team: everything is awesome! They are going to do a quick pass at the copy tonight to tighten/shorten where possible. We gave them 5 ideas and they have requested we pick 3 for testing.

Here are my picks: 1 (simple/straightforward), 2 (button test) and 4 or 5 (creativity/imagination/pop).

To test the button (2 or 3 versions in redpen above), we will need to build a new temp

[2016-08-18 00:17] damiankay commented on #75
I think it's safe to close this now

[2016-08-18 00:17] #75 closed, assigned to damiankay

[2016-08-18 00:18] damiankay commented on #83
Closing this - I'm assuming Fission will take care of this

[2016-08-18 00:18] #83 closed, assigned to nobody

[2016-08-18 00:20] damiankay commented on #142
This will be achieved via trusted reps manually adding their events

[2016-08-18 00:20] #142 closed, assigned to valianttry

[2016-08-18 13:53] KevZawacki commented on #177
[Media list complete](https://goo.gl/aZ3IPv)

~350 reporters across France, Germany, Spain, Poland and the UK.

Plus scores of U.S.-based reporters we'll pitch, as well.

cc @HPaulJohnson

[2016-08-18 13:53] #177 closed, assigned to KevZawacki

[2016-08-18 15:34] KevZawacki commented on #225
@brettgaylor FAQ taking shape [here](https://docs.google.com/document/d/1Rma9qCpPWQPSKPvMhmYbNnsVAobV7TKvwRBlWs_drjI/edit). Feel free to poke holes / add additional questions.

cc @HPaulJohnson

[2016-08-18 16:42] brettgaylor commented on #221
cc @natalieworth

[2016-08-18 17:40] lovegushwa commented on #203
@damiankay we are getting closer on the v2 wireframes, can we set up a meeting with Fission to review options late Friday or early Monday? We can also do so asynchronously. We just need to confirm our wireframes options are going to be possible to build in Nation Builder so we can move ahead with UI next week.

[2016-08-18 17:42] damiankay commented on #203
Yes - I'll set that up. Perhaps we can share on Friday and set up a call on Monday to discuss?

[2016-08-18 17:49] lovegushwa commented on #203
@damiankay that's perfect. We should have @valianttry @HPaulJohnson @brettgaylor @shaghdoosti take a look. We can present internally on Friday if helps clarify our intent. CC @beccaklam

[2016-08-18 18:35] cadecairos commented on #179
Correct me if I'm wrong, but the site gives three charts, one for issues by dev and milestone, one for issues by dev, and one for issued by milestone - do these satisfy the sorting requirements?

I'm struggling to understand how the start date is calculated, but I do know that end date can only be calculated by parsing a special label for an issue that describes the issue's expected duration in da

[2016-08-18 18:48] lovegushwa commented on #198
@HPaulJohnson I'm good with that, can we close this ticket?

[2016-08-18 18:50] damiankay commented on #179
@cadecairos Sorry, you're right about the various views.

Is there any way to manually add start and end dates?

What are your thoughts on the Smart Sheet integration mentioned above? How difficult would that be to put in place?

[2016-08-18 19:35] damiankay commented on #84
Confirming that Fission needs the copy deck by August 24th. I've requested the wireframes and will add asap. Thanks!

[2016-08-18 19:40] lovegushwa commented on #202
@damiankay this is a wish list of features. Or you can think of it as a lego set to build future campaigns. So we don't need all these things for v2 (v2 will include some of them.) ... We should talk through this and get clear on how much Fission can do (what our budget is) and when we need it delivered (after v2 would be fine.)

[2016-08-18 19:43] lovegushwa commented on #197
@stephaniemcv @valianttry do we have a draft of the email copy?

[2016-08-18 19:44] valianttry commented on #197
Cristina Moon is due to send first draft email copy today.

[2016-08-18 20:26] damiankay commented on #202
Sounds good @lovegushwa. I flagged this for Fission, and they'll be ready to review this with us after the Petition site V1 launch (right now they're all hands on deck to meet our deadlines).

I'll set up a meeting to discuss in the meantime. Thx!

[2016-08-18 23:05] damiankay commented on #242
A couple of things to keep in mind:
1. We should identify some campus reps / trusted hosts for QA testing. Will ask George and Lucy to recommend.
2. Define what kinds of reporting we’ll want to request from trusted hosts / leaders (what’s MVP?
What are nice to haves?)

[2016-08-18 23:25] valianttry commented on #197
@cristina-moon is in the house!

[2016-08-19 00:10] cristina-moon commented on #197
I have a _first_ draft but as it's my first email ever for Mozilla, I assume it needs to go through the ringer. I'm not sure by whom, though? https://docs.google.com/document/d/1wJ3spmPItKW5HjthHhWuPEO3hqAd5G9eNy45LhsL80s/edit

[2016-08-19 01:25] HPaulJohnson opened #245 "EU Copyright Campaign: Snippet approval and localization"
Detailed description of work: We have approved snippets/designs from Firefox team. Final copy sent for approval and will then be submitted to l10n.

Due date: 8/22

CC: @KevZawacki

[2016-08-19 01:26] HPaulJohnson commented on #198
Yep, design complete. Closing.

(approval and localization being tracked in #245)

[2016-08-19 01:26] #198 closed, assigned to lovegushwa

[2016-08-19 01:27] HPaulJohnson commented on #245
final copy submitted for approval: https://docs.google.com/document/d/1usPAb3S0kE7nn88kOH2YEs4rGVHvVzbHc7hRo9lhSdA/edit

[2016-08-19 01:28] HPaulJohnson opened #246 "EU Copyright Campaign: Build snippet template for button test"
Detailed description of work: Proposed test for upcoming snippet campaign includes use of embedded buttons which require custom template to be developed

Due date: 8/22

CC:

[2016-08-19 12:40] KevZawacki opened #247 "Finalize 'Case to Give' webpage copy"
Detailed description of work: Rework [current draft copy](https://docs.google.com/document/d/1YXEooaZfMO3jQoBTzgoLqWmVXQYKNnNkoUXjhiFJqtM/edit) into final form so we can move forward with design and implementation. (Aiming to launch on Oct. 1.)

Design scope happening in #248

Due date: Sept. 2.

CC: @valianttry @HPaulJohnson

[2016-08-19 12:44] KevZawacki opened #248 "Design 'Case to Give' page"
Detailed description of work: @valianttry is seeking to build a 'Case to Give' page for 2016 fundraising -- a page that describes how donors' dollars are spent, and what they're enabling.

Overview and rough copy can be found [here](https://docs.google.com/document/d/1YXEooaZfMO3jQoBTzgoLqWmVXQYKNnNkoUXjhiFJqtM/edit). (Being tracked in ticket #247.)

In this ticket, we're hoping to determine desig

[2016-08-19 13:26] KevZawacki opened #249 "Create Sprinklr dashboard for copyright campaign"
Detailed description of work: A dashboard to track mentions of our campaign. We can parse by sentiment, language, geography, influence, etc. -- all the usual categories.

Dashboard up and running [here](https://mozilla.sprinklr.com/ui/v3/listening#sets/57b708a3e4b0cb135e2b8039).

Due date: 8/19

CC: @HPaulJohnson @brettgaylor @vojtechmozilla

[2016-08-19 13:27] #249 closed, assigned to KevZawacki

[2016-08-19 13:29] KevZawacki opened #250 "Choose image for copyright blog post 1"
Detailed description of work: Need a simple image to accompany Katharina's blog post.

We don't need to make anything new. @natalieworth @lovegushwa Do we have a simple jpeg of the copyfail header?

Due date: 9/23

CC: @lovegushwa @natalieworth @HPaulJohnson

[2016-08-19 13:31] KevZawacki commented on #221
I believe we're all set here. Re-open if I'm wrong!

[2016-08-19 13:31] #221 closed, assigned to KevZawacki

[2016-08-19 13:32] KevZawacki commented on #211
Making good progress here.

[2016-08-19 13:32] KevZawacki commented on #210
Benchmark'd

[2016-08-19 13:32] #210 closed, assigned to brettgaylor, KevZawacki, natalieworth

[2016-08-19 13:33] KevZawacki commented on #178
First pitch done. Closing this ticket, since the remaining two should be simple enough. Will re-open if I encounter obstacles.

[2016-08-19 13:33] #178 closed, assigned to KevZawacki

[2016-08-19 13:33] KevZawacki commented on #176
Written, approved!

[2016-08-19 13:33] #176 closed, assigned to KevZawacki

[2016-08-19 15:13] damiankay commented on #215
Thanks @a-kilroy - FYI, I talked through this with Jennifer from Fission and asked her to flag if it will be out of scope. She thought that they would be able to fit it in as the functionality should be built into Nationbuilder already. Thx!

[2016-08-19 15:48] brettgaylor commented on #228
done

[2016-08-19 15:48] #228 closed, assigned to brettgaylor, natalieworth

[2016-08-19 15:48] brettgaylor commented on #229
done

[2016-08-19 15:48] #229 closed, assigned to brettgaylor, natalieworth

[2016-08-19 17:15] cadecairos commented on #222
This is set up. @valianttry and @ScottDowne are Admins.

Teir 1 and 2 languages are enabled for localization (but none are published, and none are using machine translation)

[2016-08-19 17:15] #222 closed, assigned to valianttry

[2016-08-19 17:27] cadecairos commented on #239
@brettgaylor does this just cover the Cloudinary RRA?

[2016-08-19 17:31] HPaulJohnson commented on #245
Approved by policy.

Submitted for localization through regular process. @valianttry, can you confirm this is right and there's not a separate process for snippet localization?

[2016-08-19 17:42] lovegushwa commented on #185
Updated the Maker Party identity this week (added the Mozilla wordmark), I need a little time Monday morning to get this into the partnership deck.

<img width="774" alt="screen shot 2016-08-17 at 3 27 49 pm" src="https://cloud.githubusercontent.com/assets/12228435/17818694/86b07b38-65f9-11e6-96c0-51fc89035dd1.png">
<img width="514" alt="screen shot 2016-08-17 at 3 26 20 pm" src="https://cloud.git

[2016-08-19 17:50] damiankay commented on #150
Here's the latest update RE integration of Nationbuilder and Salesforce from Fission:

So, unless we can give Walter direct access Basket is our only option. It doesn't appear that using Basket will affect the overall timeline. Please see below:
- Aug 17  Understanding Basket
- Aug 18-19 Nationbuilder webhook set up using Python on Heroku
- Aug 19-21 Basket integration (basket.mozilla.org) with th

[2016-08-19 18:14] damiankay opened #251 "Maker Party: Map behaviors for actions in Nationbuilder"
Detailed description of work:
What is the desired behavior after a user completes an action? We need to map behaviors to actions in Nationbuilder.

I.e. When a host is finished setting up an event, should they be sent to a page with event resources? After a participant signs up for an event, should they be prompted to share?

Actions are listed under "User Stories" in the Fission discovery doc:
ht

[2016-08-19 18:33] damiankay commented on #251
I've created a spreadsheet listing user actions for which we may need to map a post-action behaviour. Please have a look and comment / fill in!
https://docs.google.com/spreadsheets/d/1cyZOpYl97mzWQDTQs-up6HE_-oPEr3wrSYai766bKlA/edit#gid=0

[2016-08-19 18:41] beccaklam commented on #202
Some research notes. I looked at past campaigns and other organizations broke down what they had on their campaign pages:

Nationbuilder Components

**Encryption Campaign**
(https://advocacy.mozilla.org/en-US/encrypt/codemoji/1)
Home Page/Landing Page:
- header
- video
- video gallery, video thumbnails
- form (fields: country, name, e-mail, privacy disclaimer, sign up button)
- footer with applica

[2016-08-19 18:42] beccaklam commented on #203
Just updating with a link to the redpen with all the wireframe iterations for documentation: https://redpen.io/p/og6892caada79f518d

[2016-08-19 18:47] beccaklam commented on #202
Thoughts after research:
The strength of working with a cms like Nationbuilder is that our design wouldn't change too much but have customizable aspects. This could be limiting if we want to be super creative. The key will be to design a system we can use over and over again but allow for creative innovation.

[2016-08-19 18:48] beccaklam commented on #202
Question: Do we want all of our campaigns to live on one website (that way it becomes a sort of resource?)

[2016-08-19 18:58] beccaklam commented on #202
**Recommendations**

Campaign Page Essentials
- Customizable Header (We would need to design this. [Kickstarter](https://www.kickstarter.com/projects/xercyn/slow-dance-a-frame-that-slows-down-time?ref=home_potd) does a good job of having customizable aspects like a video and project stats. What would we need for our header?)
- Campaign Thermometer (I think these are good for tracking progress and

[2016-08-19 19:44] vojtechsedlak commented on #179
Hey @cadecairos, I came across the following link yesterday, which pulls all issues from a public repo in a JSON format: https://api.github.com/repos/MozillaFoundation/Advocacy/issues

Turns out it's actually fairly straightforward to adapt the gantt visualization that Aurelia Moser did using D3, since instead of calling d3.csv to load the external file, we can just call d3.json directly on the UR

[2016-08-19 19:44] damiankay commented on #202
@beccaklam - yes, I believe the goal is that most of our sites will live on Nationbuilder, thus benefiting from shared modules and functionality.

[2016-08-19 19:50] cadecairos commented on #179
sounds cool!

We could do a feature branch that replaces the front-end in the app I deployed a few weeks back. (https://github.com/mozilla/mozilla-advocacy-gantt)

Note that using the GitHub javascript API helps a lot because it deals with pagination of the issues, so it might be worth using that  too.

[2016-08-19 19:52] beccaklam commented on #203
Most updated redpen: https://redpen.io/p/on1ab9b0775c2e772b

[2016-08-19 21:04] vojtechsedlak commented on #179
Thanks for the suggestions Chris!

@damiankay @valianttry You can see a proof-of-concept for the updated front-end visualization here: https://mozilla-advocacy-gantt-pr-1.herokuapp.com/

Utilizing d3 gives us a lot more granular control over how things are displayed. Let's maybe touch base next week around how best to optimize this for our needs!

Thanks @cadecairos for your help.

[2016-08-19 22:06] damiankay commented on #84
FYI - Fission expects to send additional wireframes on Monday.

[2016-08-19 22:25] damiankay commented on #150
Update: @drewmoto was able to get direct access for Walter Fission, so we're going to move forward with direct integration between Nationbuilder and Salesforce rather than using Basket.

I'm closing this issue now, as it's morphed from the original purpose. Please re-open if we haven't finalized fields.

[2016-08-19 22:25] #150 closed, assigned to valianttry

[2016-08-19 22:54] vojtechsedlak opened #252 "TEST ISSUE"
Detailed description of work: TEST ISSUE VOJTECH

_Start date: September 1, 2016_
_Due date: S 2, 2016_

CC:

[2016-08-19 23:12] damiankay commented on #179
Love it! So much easier to read. Is this with the custom start date functionality @vojtechmozilla ? If so, is there specific syntax that I can add to our template?

[2016-08-20 20:27] ScottDowne opened #253 "Restructure copyright campaign localization files"
Restructuring the files where we store localization strings related to the copyright campaign.

https://pontoon.mozilla.org/bg/mozilla-advocacy/copyright-petition (can you add "-petition" to the current main folder to serve this purpose?)
https://pontoon.mozilla.org/bg/mozilla-advocacy/copyright-snippets
https://pontoon.mozilla.org/bg/mozilla-advocacy/copyright-email1
https://pontoon.mozilla.org/b

[2016-08-20 20:34] ScottDowne commented on #253
I also need to remember to move any already localized files in non English files to match the new structure.

[2016-08-20 21:36] ScottDowne commented on #246
Here is the pull request for the snippet template, it's in review, https://github.com/mozmar/snippets/pull/82

I'll update here when that pull request is gone through review, and when it is merged into the snippet repo.

@damiankay @HPaulJohnson

[2016-08-22 05:14] valianttry opened #254 "Q&A for Petition: Feedback for Fission"
Detailed description of work: Provide detailed edits or changes needed to the petition page and translated versions.

Due date: August 23, 2016

CC: @jendc123 @damiankay

The petition is looking great! As we start thinking about Q&A I wanted to start a ticket and a list of some tweaks needed.

[2016-08-22 15:48] damiankay opened #255 "Maker Party: Wireframes review"
Detailed description of work:
Here's the link to the Maker Party wireframes: https://invis.io/G78C7AR2E

There are two options:
1. The first follows the mock-ups that were shared
2. The second takes a slightly different approach with a full size header image of a map

Please capture feedback here initially so that we can provide Fission with a unified response. Once we have aligned on our feedback

[2016-08-22 15:59] beccaklam commented on #202
Added recommendations (slides with blue background) with benchmark images to the deck Natalie started in #113. Here's the link to the google doc: https://docs.google.com/presentation/d/1X31GHF9SclchaMY-K4Lo2XvUEAmmGrUjGHht-IHt0Q4/edit#slide=id.g15c71e0009_0_0
@valianttry @lovegushwa Can you let me know if you think we are missing any essential template components?

[2016-08-22 16:26] natalieworth commented on #226
Brett and I were able to work on this during our 2 day sprint last week. Created some benchmarks here:
https://docs.google.com/presentation/d/1prB8NGsEz0aNOgDXSg7aLUcp0oaPFw9CWhOQJw91-dA/edit#slide=id.g1647c9113b_0_12

And started exploring title design here:
<img width="637" alt="screen shot 2016-08-22 at 9 25 02 am" src="https://cloud.githubusercontent.com/assets/14876567/17862510/7d52f126-684a-

[2016-08-22 16:30] natalieworth commented on #199
Brainstormed additional copy ideas/ visual variants here during our sprint last week:
https://docs.google.com/document/d/1asqVyUSKBhclMJ1y0WSQyltJb-bB16tv11eYEHwWN10/edit
Will update this afternoon.

[2016-08-22 16:36] damiankay commented on #80
FYI - The Salesforce team was able to provide Walter with the permissions required to send data directly to SFDC via API, so they won't be using Basket for the integration.

@ScottDowne @valianttry @simonwex @a-kilroy

[2016-08-22 16:42] damiankay commented on #251
@HPaulJohnson @shaghdoosti @lovegushwa

Can you please have a look at the spreadsheet linked below and recommend where to send users when they complete the listed tasks? There are only 8 scenarios that require attention - should take no more than 5 minutes. Thanks!

[2016-08-22 16:43] HPaulJohnson commented on #199
@natalieworth we narrowed down the brainstormed list to these final 9 for this initial phase. A few on this list could still use some images/design. Otherwise, I'm sending the copy for approval shortly.

https://docs.google.com/document/d/1iRQEB1we2gDUX7vWi7eyYk9q7L930gz9tOOtCP6LiD0/edit

The other ideas from the brainstorm should continue to be worked on but we won't need those until early Septem

[2016-08-22 16:44] damiankay commented on #219
I believe this is done - please re-open if not!

[2016-08-22 16:44] #219 closed, assigned to valianttry

[2016-08-22 16:47] damiankay commented on #208
@ScottDowne @valianttry  - @jendc123 indicated that they can spin up temp staging sites for review of translations (not true staging sites though - they can't deploy directly to production).

[2016-08-22 16:50] brettgaylor commented on #227
First edit is here!

https://dl.dropboxusercontent.com/u/7968133/csi-gif-scratch.mp4

[2016-08-22 16:50] #227 closed, assigned to brettgaylor

[2016-08-22 16:50] LucyeoH-zz commented on #185
Hey @lovegushwa

Flagging that there's a slightly altered version for communities [here](https://docs.google.com/presentation/d/11HAMhPOHv4VKJ04nDvsdv2Dko7sFSwMwwsRARG6jpzc/edit#slide=id.g116deb4a8b_2_19) that could also use some design love!

Lucy

[2016-08-22 16:52] damiankay opened #256 "EU Petition: Create short URL"
Detailed description of work:
We need to set up a short URL for the EU Copyright Petition page

Due date: August 22

CC: @HPaulJohnson @brettgaylor @KevZawacki @valianttry

[2016-08-22 16:53] damiankay commented on #241
@KevZawacki Fission has indicated that the launch would need to be in the evening. I'll follow up for a specific time.

[2016-08-22 16:54] valianttry commented on #208
@damiankay THIS IS SO EXCELLENT! Kontextor is loading up the Tier 1 translations tomorrow, so if we can get those staged for L10N to review that would be outstanding.

[2016-08-22 16:55] brettgaylor opened #257 "Final edit of CSI GIF"
Detailed description of work: Final edit of CSI gif with English narration

Due date: Aug 26th

CC: @natalieworth

[2016-08-22 16:56] lovegushwa commented on #195
Had a sprint on this last Friday: https://docs.google.com/a/mozilla.com/presentation/d/1rmPqMlMOuteMe_15E82-qYKrI_HMOXpceaaVFzYZKnc/edit?usp=sharing

https://public.etherpad-mozilla.org/p/Rapid-response-creative-strategy

@damiankay took notes on next steps. Damian should we list steps, close this ticket and make any tickets we need for next steps?

[2016-08-22 16:56] HPaulJohnson commented on #193
Contract for Alex Geidt drafted and submitted for signature. Setting up a kickoff meeting for this week to begin this work.

[2016-08-22 16:59] lovegushwa commented on #185
@LucyeoH ok thank you!

[2016-08-22 17:02] brettgaylor opened #258 "Localized versions of CSI GIF"
Detailed description of work: Need top tier languages translated via Amara

Due date: September 6th

[2016-08-22 17:03] lovegushwa commented on #81
@damiankay it's my plan to get this done this week.

[2016-08-22 17:04] valianttry opened #259 "8/24 Email 1: Finalize EN copy in preparation for policy review"
Detailed description of work:  DRAFT is coming together here: https://docs.google.com/document/d/1wJ3spmPItKW5HjthHhWuPEO3hqAd5G9eNy45LhsL80s/edit

Due date: 8/22

CC: @shaghdoosti

[2016-08-22 17:04] vojtechsedlak commented on #207
Update as of August 22nd:
- Testing summary write-up will be completed today and all required tickets will be created and assigned.
- Conversations are taking place around specific analytics-related items.
- Google Analytics implementation will be fleshed out and executed this week

[2016-08-22 17:04] shaghdoosti commented on #259
Done! Locked copy.

[2016-08-22 17:04] #259 closed, assigned to valianttry

[2016-08-22 17:06] valianttry opened #260 "8/24 Email 1: Get policy team approval of EN text"
Detailed description of work: Get policy team approval of EN text

Due date: 8/23

CC: @shaghdoosti

[2016-08-22 17:09] shaghdoosti commented on #255
George, Sara and Chris to have an initial look and then come back to the team.

[2016-08-22 17:11] shaghdoosti commented on #260
@valianttry do you mind dropping the link to the email here?

[2016-08-22 17:13] shaghdoosti commented on #243
Can we do makerparty.org? What are our options here?

[2016-08-22 17:16] shaghdoosti commented on #245
Question: Are we aiming to launch on the snippet on the 25th as well?

[2016-08-22 17:21] brettgaylor commented on #239
This should cover privacy as well as RRA, for Cloudinary as well as Lob.com

We have privacy review completed for both platforms, and an RRA scheduled for 8/22

[2016-08-22 17:50] vojtechsedlak opened #261 "NB Petition: Implement Optimizely Tag"
Detailed description of work:
Implement the following tag immediately after the opening <head> tag in order to enable A/B testing on the site. The script should be included on all pages (i.e. landing and thank you pages):
`<script src="https://cdn.optimizely.com/js/206878104.js"></script>`

Due date: August 23rd

CC:
@damiankay  Do you know who I can follow up with on this? Should I add Walter or

[2016-08-22 18:00] damiankay commented on #240
@brettgaylor here are some options for the Copyright URL that have been floated to this point.

**1. Nationbuilder**
https://mozillafoundation.nationbuilder.com/petition
or variants like
https://mozillafoundation.nationbuilder.com/copyright-petition https://mozillafoundation.nationbuilder.com/petition-copyright

**2. Advocacy**
advocacy.mozilla.org/copyright (the petition would need to live on moz

[2016-08-22 18:13] brettgaylor commented on #240
I think we should go with advocacy.mozilla.org/copyright

[2016-08-22 18:15] ScottDowne commented on #240
OK, so for this url to work, the url structure needs to be the same.

https://mozillafoundation.nationbuilder.com/copyright
https://advocacy.mozilla.org/copyright

is what we can setup.

[2016-08-22 18:17] damiankay commented on #240
Great - thanks @brettgaylor

@ScottDowne I'll ping Fission and ask them to change the directory to "copyright"

Just to confirm, will language be defined via URL variable? I'm assuming we don't require separate directories for each language.

[2016-08-22 18:18] ScottDowne commented on #240
@damiankay correct, the language is defined in a query string, not a url directory.

[2016-08-22 18:34] damiankay commented on #195
@lovegushwa - yes, I'll add the tasks to GH today. Thx

[2016-08-22 18:34] #195 closed, assigned to lovegushwa

[2016-08-22 18:35] damiankay commented on #240
Perfect. Message sent to Fission RE URL. Thanks!

[2016-08-22 18:39] vojtechsedlak commented on #261
Ended up implementing this myself.

[2016-08-22 18:39] #261 closed, assigned to nobody

[2016-08-22 18:46] damiankay commented on #243
Just to clarify, this was discussed with the tech team last week, and here are some of the notes from that discussion.

We are recommending two locations for the Maker Party Events pages:
1. learning - https://learning.mozilla.org/events
The pages on learning.moz are the home page and resources that already existed in those locations last year.
2. Nationbuilder
The pages on Nationbuilder will be f

[2016-08-22 19:00] ScottDowne commented on #243
We have flexibility with anything living on learning.mozilla.org, as long as it's page we create, like the home pages.

Anything on nationbuilder can either be:
- the nationbuilder link (easiest)
- a separate domain under mozilla.org, so makerparty.mozilla.org or something (needs to go through moco, so bit harder, and we need some lead time to do it)
- anything not under nationbuilder, or mozilla.

[2016-08-22 19:06] shaghdoosti commented on #243
Hey -

So the nationbuilder default link isn't exactly a nice url as I remember -
so we need an alternative to that. Is something like: makerparty.events.org
- possible?

My question is - what's the shortest link that is easy for us to get to?

On Mon, Aug 22, 2016 at 12:00 PM, ScottDowne notifications@github.com
wrote:

##

Sara Haghdoosti
Director, Advocacy Campaigns and Networks
P: +16465494810

[2016-08-22 19:12] damiankay commented on #243
Hi @shaghdoosti - yes, the Nationbuilder URL would look something like this: https://mozillafoundation.nationbuilder.com/Maker-Party

I think that for the example that you noted above, the URL would be: events.makerparty.org

@ScottDowne - is it possible to apply one custom URL to the pages on learning and Nationbuilder?

[2016-08-22 19:26] ScottDowne commented on #243
So in response to `makerparty.events.org` we would need to own `events.org`, and that's not going to happen.

Any solution that isn't `something.mozilla.org` or on nationbulder requires us hunting down and purchasing a new url.

If it's on `mozilla.org` it requires us working with moco to set it up, and I've been told that's a bit of a process, but is possible.

Putting nationbuilder pages on `lea

[2016-08-22 19:31] ScottDowne commented on #243
**native nationbuilder link**
- cons:
  - not pretty
- pros:
  - quickest
  - most stable

**learning/advoacy.m.o**
- cons:
  - fragile
- pros:
  - fairly quick to setup
  - prettier than nationbuilder

**something-new.m.o**
- cons
  - moco review process
- pros
  - probably even prettier
  - fairly stable

**something-new.org**
- cons
  - need to hunt down and purchase the domain
- pros
  - proba

[2016-08-22 19:50] ScottDowne commented on #240
Might be good to go. https://advocacy.mozilla.org/copyright/ seems to work once cache is busted. Closing this.

Create a new issue for any more specific issues you find around the url.

[2016-08-22 19:50] #240 closed, assigned to brettgaylor

[2016-08-22 21:02] damiankay commented on #255
Here is a link to the updated screens in InVision:
https://invis.io/G78C7AR2E

They’ve separated the two approaches; you can see them separately by starting at the overview page listed above.

Flagging that we need consolidated feedback from the leadership group by the noon August 23 PT.

Thanks!

[2016-08-22 21:13] damiankay commented on #202
@lovegushwa @beccaklam @natalieworth did you guys get what you wanted from the meeting with Fission? Do you have a clear sense of what's possible for v2?

I sent them a link to the Redpen. Anything else I can do to help move things forward?

[2016-08-22 21:28] damiankay commented on #243
Please note that if you would like to suggest custom domain name ideas, please log them in the Google doc here so that we can verify availability before it's made public.
https://docs.google.com/document/d/1_0biNf4Y2VSACpw3bd4MvslYJydqn-norM50XTKkZ8g/edit#heading=h.x60oiprbnyoi

@shaghdoosti @geroter @chrislarry33

[2016-08-22 21:37] simonwex commented on #243
Pro move, @damiankay!

[2016-08-22 22:40] damiankay commented on #254
Link to QA is here: https://mozillafoundation.nationbuilder.com/copyright

Link for localizers to check copy: https://mozillafoundationstaging-mozillafoundation.nationbuilder.com/

[2016-08-22 22:47] brettgaylor commented on #254
Is the form meant to be flush right?  On the nation builder sandbox, I saw that it was flush right in both FF and Chrome.  In link above, it is it the bottom in FF and Chrome.  Screenshot attached

<img width="1280" alt="chrome petition" src="https://cloud.githubusercontent.com/assets/345974/17874309/a659e1ee-687f-11e6-9324-a233452c14ef.png">

[2016-08-22 22:48] valianttry commented on #254
Form fields and checkbox updates:

![mozilla_foundation_-_staging](https://cloud.githubusercontent.com/assets/9830371/17874341/e014d2e0-687f-11e6-809d-1611cea7bd4e.png)

[2016-08-22 22:48] brettgaylor commented on #254
Also, the Bablic interface for me covers part of the CTA at the bottom of the page, and is generally distracting, on my setup.

Could it be moved?

[2016-08-22 22:54] valianttry commented on #254
Tried to fill out form, got this error, but there's no last name field (though we should have one) -- is last name truly required?
![mozilla_foundation_-_staging](https://cloud.githubusercontent.com/assets/9830371/17874468/a60d94e6-6880-11e6-84b9-27fead3f9dc0.png)

[2016-08-22 22:56] valianttry commented on #254
The little progress animation that starts below the button after you click sign says "Saving ...." in black text, which is hard to see (perhaps change it to white or light blue? Or just the animation without the word "Saving"?

[2016-08-22 22:56] vojtechsedlak commented on #254
Here are my two cents, in addition to the items mentioned above:
- there is no thank you page modal that shows up for me, upon submitting the page simply reloads
- there is no hidden field on the form to capture source URL. I've checked with Gareth and Jessilyn and it is a standard practice to capture the URL so that we know where people come from and save that data in SFDC (using window.location.

[2016-08-22 22:57] valianttry commented on #254
oh.... German..... sigh. Does not resize to fit the button width.

![mozilla_foundation_-_staging](https://cloud.githubusercontent.com/assets/9830371/17874521/05b05b18-6881-11e6-8883-4f33d132dbc8.png)

[2016-08-22 23:00] shaghdoosti commented on #254
I'm looking at it in Chrome - and the petition link is all the way down the bottom - it should be on the right hand side?

<img width="813" alt="screen shot 2016-08-22 at 3 59 12 pm" src="https://cloud.githubusercontent.com/assets/13626384/17874588/7e1cc29e-6881-11e6-8dee-2b8c4a6e5f23.png">

[2016-08-22 23:04] natalieworth commented on #254
Q+A from me:
1) Could we remove one of the arrows? There seems to be the white one and the one embedded in the form in Firefox:
<img width="329" alt="screen shot 2016-08-22 at 3 41 06 pm" src="https://cloud.githubusercontent.com/assets/14876567/17874564/576c2608-6881-11e6-8eee-95b6fc61950c.png">
2) Update this to the giphy .gif file, pull the image from giphys server on page load (liability reason

[2016-08-22 23:16] HPaulJohnson commented on #254
we should drop the "share this page" from the footer. we don't have a dedicated sharing page setup for this (encryption used share progress for this).

copy for the "please share this buttons" is being localized now but @natalieworth it would be great to design a new general graphic that we can include for FB/Twitter sharing. We can also use this in the OG tags on the page as the default.

[2016-08-22 23:17] HPaulJohnson commented on #254
Also, the placement of the language selector is problematic/distracting for me. Especially if the petition is (eventually) pinned to the right hand side this interferes visually.

[2016-08-22 23:24] valianttry commented on #254
Also re: footer, can we have the horizontal row of nav links open in a new tab / page?

[2016-08-22 23:51] HPaulJohnson commented on #245
Sorry for not seeing this earlier @shaghdoosti - we originally requested 8/24 so easy to push this out a day until 8/25 if that's the target date for pushing everything live.

We have German and Spanish translated and we're still waiting on French and Polish.

[2016-08-23 00:01] shaghdoosti commented on #245
Ignore the 25th - that's a typo from my end. Plan is to go live on the 24th. :)

[2016-08-23 00:23] valianttry commented on #245
Just remember the EU is ~8-9 hours ahead of us, so it'll likely actually be the 25th for Firefox users 🕐

[2016-08-23 02:21] lovegushwa commented on #254
Update to share and footer we discussed today (I'm not sure why squares wont work here? The square icon on blue if my preference. We can use images if needed.)

<img width="1253" alt="screen shot 2016-08-22 at 6 48 41 pm" src="https://cloud.githubusercontent.com/assets/12228435/17878031/b65f3c7a-689c-11e6-8782-616e7cc2fe2f.png">
<img width="1279" alt="screen shot 2016-08-22 at 7 15 45 pm" src="htt

[2016-08-23 04:01] lovegushwa commented on #245
@HPaulJohnson see v1 snippet icons here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvbkM4ckt1N2tKM1E?usp=sharing

[2016-08-23 04:30] HPaulJohnson commented on #199
Feedback received from policy. Pushed initial set of social/copy to localization. We still have a few graphics to add but we have enough to get us started at launch (pending localization) and have a bit more time for additional graphics.

[2016-08-23 06:56] damiankay commented on #254
Adding earlier feedback from @valianttry:
- On the country selection drop down, can we limit the countries to ONLY EU countries and "other"? Hopefully 99 - 100% of people signing will be in those ~27 countries, so we don't need to list every country on earth and make it harder to select. Please add "other" to capture any signatures from outside the EU.
- Is it possible to make last name field opti

[2016-08-23 08:55] geroter commented on #255
Hey team ... I'll drop thoughts in here directly.

1) On the landing page feels like the CTA might be below the fold, especially on mobile. I know that we want great imagery upfront, but perhaps we also want CTA buttons on that top image.

2) Host landing page -- same comment re: CTA ... having this below the activities I think will be a confusing user experience as browsing those might actually f

[2016-08-23 09:02] geroter commented on #243
Major question:
Is this about advertising the landing page/site, primarily? And then it can live on whatever longer URL? (i.e. it's just a redirect)

Or do we think that having consistent URLs throughout the various pages, events, etc is important? And why?

I think knowing what we need the URL for from a user perspective will help with this decision.

[2016-08-23 11:12] a-kilroy commented on #255
Agree with George's comments, esp about the CTA.

I'll also say that we might want to avoid RSVP numbers since displaying low
numbers can actually hurt recruitment. Maybe using ranges that trigger
something as an indicator. For example:
1) Just Added! (under a week old)
2) Taking off (1-10 rsvps)
3) Heating up (10-20 or 50% of limit or another indicator)
4) Almost full

On Tue, Aug 23, 2016 at 10:

[2016-08-23 13:14] KevZawacki commented on #250
@lovegushwa Checking in -- do we have a standalone image of the #copyfail header we can embed in our blog posts?

[2016-08-23 14:21] beccaklam commented on #254
Hi team! I agree with all these messages. The design happening between 640px-900px is not working (the form is too skinny and it also covers text and the text is way too close to the margins). But I think Fission is already aware and working on a fix (Re: 13" screens).

Oh one more thing. The form at large screen sizes is really far away from the rest of the content. Wonder if there is a way to fi

[2016-08-23 15:17] ScottDowne commented on #253
I figure I should update this...

We have everything but email1, as we don't yet have any email1 strings yet.

What we have is listed as:
https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright Petition/
https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright Snippet/
https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright Social/
https://pontoon.mozilla.org/en-GB/mozilla-advocacy/C

[2016-08-23 15:25] damiankay opened #262 "Nationbuilder > SFDC: Create language field"
Detailed description of work:
We need to create a field on either the Campaign object or the Contact object to capture language data.

Due date: Aug 23

CC:

[2016-08-23 15:26] damiankay commented on #262
Hi @valianttry & @drewmoto - I thought a ticket might be a good way to start this discussion. I'm assuming we'll need an answer early today for Fission.

[2016-08-23 16:02] beccaklam commented on #203
@lovegushwa Hi Jordan, I've made some changes to the V2 wireframes. Added a new wireframe here with the step-by-step form, and change the landing page to have the sticky horizontal form. https://redpen.io/yj45e578bc1ba1b4dc I'll also tackle a tablet version this afternoon. Are there any other changes we need?

[2016-08-23 16:09] damiankay commented on #207
Hi @vojtechmozilla - do we have GA code yet? I'm going to send an email to you and the Fission devs now - you can work with them directly to get it set up today.

Thanks!

[2016-08-23 16:26] KevZawacki commented on #243
@damiankay (Wrong ticket, ignore previous comment)

[2016-08-23 16:26] natalieworth commented on #199
@HPaulJohnson Linked the final image exports in this file: https://docs.google.com/document/d/1iRQEB1we2gDUX7vWi7eyYk9q7L930gz9tOOtCP6LiD0/edit
Just working on adding/ updating Raegan's Nokia phone comment for the 1st one with the altered copy—and then still have to add images for 8-10 copy ideas if needed.

[2016-08-23 16:33] damiankay commented on #243
No problem @KevZawacki !

[2016-08-23 16:34] damiankay commented on #203
@beccaklam @lovegushwa Can you guys please ping me when this is ready for Fission to review? They're hoping to see the revisions today. Thx!

[2016-08-23 16:47] vojtechsedlak commented on #207
Hi @damiankay, we can actually implement GA tracking through the Nation Builder control panel, so no dev work should be needed on that piece. I will be putting together an additional event-tracking script, which will need to be inserted into the page, but I should be able to do that through the UI as well. If you can give me emails for relevant stakeholders on Fission's side, I can follow up with

[2016-08-23 16:58] damiankay commented on #207
That all sounds perfect @vojtechmozilla - thanks!

I'll send you contact emails via chat.

[2016-08-23 17:09] KevZawacki commented on #256
All set: [mzl.la/copyright](https://mzl.la/copyright)

[2016-08-23 17:09] #256 closed, assigned to damiankay

[2016-08-23 17:13] lovegushwa commented on #254
We need to include a sticky sign the petition button for 13" and tablet screens (similar to what we are doing on mobile).

PSD file here:
https://drive.google.com/file/d/0B2qu3ExKWIlvT2FYc3BOUzdTcTg/view?usp=sharing
![screen shot 2016-08-23 at 10 06 14 am](https://cloud.githubusercontent.com/assets/12228435/17901702/6d0b3826-6919-11e6-9fa2-8426e2d39f24.png)

[2016-08-23 17:14] #208 closed, assigned to valianttry

[2016-08-23 17:17] shaghdoosti commented on #189
We have a meeting about this on Friday.

[2016-08-23 17:17] natalieworth commented on #197
Image for email is here (exported at 600x300 with 144dpi):
https://drive.google.com/drive/folders/0B20-0lpP23c0NmVock13NlNGZWM
![copyright_email 2x](https://cloud.githubusercontent.com/assets/14876567/17902084/ae1bb25e-691a-11e6-9b2e-b7c08c7429fc.jpg)
cc @lovegushwa if you want to review before going in the email

[2016-08-23 17:18] natalieworth commented on #197
We'll have to add the copyright information/ attribution within the email if that works? @cristina-moon . I'm just sourcing that right now and will post asap.
cc @valianttry

[2016-08-23 17:22] HPaulJohnson commented on #245
Polish complete (available here: https://github.com/mozilla/advocacy.mozilla.org/tree/master/locales/pl)

Just waiting for FR localization to come through and Tier 1 will be complete.

Also, communicated site launch timing and we'll adjust snippet go-live timing accordingly (tentatively, Thurs a.m. 8/25)

[2016-08-23 17:47] valianttry commented on #262
This discussion is happening in an email thread. We should just update this ticket with the notes and outcome once that conversation concludes.

[2016-08-23 17:48] damiankay commented on #255
@geroter is there any preference between the two approaches? One is closer to the learning.moz layout, with the sidebar, but this is more difficult to achieve in Nationbuilder. I believe Fission's preference is to go with option 2, with a more standard header / footer treatment.

BTW, if you click on the 9-square icon at the bottom left of InVision, you can see the separation between the two versi

[2016-08-23 17:59] damiankay commented on #241
Confirmed with Fission that the site launch time will be 9pm-12am Central, Wednesday August 24.

[2016-08-23 17:59] #241 closed, assigned to KevZawacki

[2016-08-23 18:00] damiankay commented on #80
@a-kilroy - do you know where we're at with Auth0 for Maker Party?

[2016-08-23 18:06] damiankay commented on #70
When are we hoping to complete this?

[2016-08-23 18:07] #232 closed, assigned to beccaklam

[2016-08-23 18:14] damiankay commented on #132
Closing this as the discussion is taking place here:  #80

[2016-08-23 18:14] #132 closed, assigned to ScottDowne

[2016-08-23 18:15] damiankay commented on #128
Hey @a-kilroy - any progress on this? Any blockers?

[2016-08-23 18:16] damiankay commented on #86
Closing as I believe Fission will be taking care of this.

[2016-08-23 18:16] #86 closed, assigned to nobody

[2016-08-23 18:16] #85 closed, assigned to nobody

[2016-08-23 18:23] lovegushwa commented on #197
@natalieworth yes this is great! ship it!

[2016-08-23 18:24] damiankay commented on #253
@ScottDowne don't forget to add labels please! :-)

[2016-08-23 18:26] damiankay commented on #258
@brettgaylor please remember to add labels. Also, who is this assigned to? Thx!

[2016-08-23 18:32] lovegushwa commented on #254
Change how the h4 text breaks so we don't get a weird wrap / large line spacing.
![screen-shot-2016-08-23-at-9 27 16-am](https://cloud.githubusercontent.com/assets/12228435/17904659/0be9e04a-6925-11e6-8a16-16026f16e177.png)

[2016-08-23 18:33] HPaulJohnson commented on #245
French localization complete. This done. Closing.

(Snippet will be set to go live tomorrow at midnight PST, and will be live Thursday morning for EU users).

[2016-08-23 18:33] #245 closed, assigned to HPaulJohnson

[2016-08-23 18:33] damiankay commented on #254
Hi team,

Fission has a few questions RE our feedback above:
1. Where would the design team like the Bablic button to reside?
2. For the German button we have two options - A) Wrap text. B) Shrink font size of all button text.
3. Based on Jordan's last item in GitHub it's not clear what he's suggesting for the footer
4. It's also not clear whether we need to remove or keep the social share option

[2016-08-23 19:00] valianttry commented on #254
Update from Fission: Last Name is a required field.

[2016-08-23 19:24] damiankay commented on #243
@geroter I'd like to have @lovegushwa chime in from a UX point of view, but he likely won't be able to respond until tomorrow at the earliest.

[2016-08-23 19:26] valianttry commented on #197
hey @natalieworth ! Any way to turn this into a callout box like we used during EOY? There's already Callout copy in the email text document. I am super worried this design at the top will bump down the link to the petition and hurt conversion. 💓

[2016-08-23 19:32] HPaulJohnson commented on #199
Thanks, @natalieworth. Left a note in the doc too but if possible can we remove the brand on the phones so it's more generic "old phone."

[2016-08-23 20:01] beccaklam commented on #203
https://redpen.io/fnf0c1163d66ff1fd1 @lovegushwa @damiankay Here are the updated copyright website v2 wireframes for Fission. I made notes through out the red pen. Let me know if it needs any changes.

[2016-08-23 20:09] lovegushwa commented on #254
preferred Bablic placement

![screen shot 2016-08-23 at 1 05 13 pm](https://cloud.githubusercontent.com/assets/12228435/17907803/56a307ee-6932-11e6-8ebb-3716084bd999.png)

![screen shot 2016-08-23 at 1 03 42 pm](https://cloud.githubusercontent.com/assets/12228435/17907840/7ff9b642-6932-11e6-872f-9c133fea3806.png)

[2016-08-23 20:09] geroter commented on #255
@damiankay  Totally missed the second set!

I actually prefer Option 2 for this because I do believe this campaign, while connected with learning.moz activities, is quite distinct.

No idea how Option 2 would be implemented, but I'm not a major fan of the solid horizontal header line (personal preference).

[2016-08-23 20:11] damiankay opened #263 "Petition thank you email: QA"
Detailed description of work: Please see screen shots below for the confirmation email sent via Nationbuilder and add comments where required.

Due date: Aug 23

CC: @valianttry @natalieworth @beccaklam

[2016-08-23 20:14] damiankay commented on #263
Sorry, the screen shots don't line up perfectly!

[2016-08-23 20:17] natalieworth commented on #197
Updated the email image to a more discreet call-out:
<img width="398" alt="screen shot 2016-08-23 at 12 54 33 pm" src="https://cloud.githubusercontent.com/assets/14876567/17907912/de118660-6932-11e6-953b-73c665b34a06.png">
Exported files are here (one is 144/ @ 2x and the option is just 72dpi):
https://drive.google.com/drive/folders/0B20-0lpP23c0NmVock13NlNGZWM
Ping/ @ me if there are any addition

[2016-08-23 20:26] beccaklam commented on #263
<img width="632" alt="screen shot 2016-08-23 at 4 27 25 pm" src="https://cloud.githubusercontent.com/assets/20977376/17908381/41404c92-694e-11e6-80d5-1c5734384be1.png">
^ Can we make it so that the text sits under the picture instead of being inline with it?

[2016-08-23 20:33] damiankay commented on #263
Sorry @beccaklam - I don't have any image editing software to stitch these properly. that's just a screen shot issue!

[2016-08-23 20:50] brettgaylor opened #264 "Choose a URL for postcard site"
Detailed description of work:
So far the site has been described as (redacted by cade) Settle on a name

Due date: Aug 26

CC:

[2016-08-23 21:00] damiankay commented on #203
Thanks @beccaklam - are we still undecided about which direction we want for the form? I.e. step by step or side by side?

[2016-08-23 21:21] lovegushwa commented on #254
Mozilla logo .svg https://drive.google.com/file/d/0B2qu3ExKWIlvb01JaW5TM2x5T0E/view?usp=sharing

[2016-08-23 21:32] lovegushwa commented on #254
Please add this Twitter Emoji attribution to the HTML (does not need to be visible on the page).

"The small images on this site are Twitter Emoji [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], you can find them here [ https://github.com/twitter/twemoji ] "

[2016-08-23 21:35] HPaulJohnson commented on #254
Comments re: post petition signing, the share overlay:
- Copy and image still look to be the default from the meta data on the page, not prepopulated copy that we've provided.
- For the "link" share option, it pops a blank window when clicked. I think the desired behavior here is a short notification to appear that says "link copied" (and for the link to be copied to your clipboard, or whatever th

[2016-08-23 22:10] lovegushwa commented on #70
@damiankay @valianttry @vojtechmozilla

Here are a few options. If these are good to go we lets select a few and have @ScottDowne build for a test.

1 blue
<img width="1236" alt="test variant-snippet-blue-01" src="https://cloud.githubusercontent.com/assets/12228435/17917806/8d7435e4-6974-11e6-89c4-99b3ac76e9c8.png">

2 blue
<img width="1236" alt="test variant-snippet-blue-02" src="https://cloud.gi

[2016-08-23 22:19] valianttry commented on #70
@lovegushwa may we have a variant with a red "donate" button for comparison? It will help us know whether it matters at all, and how much conversion we lose (if any) without using red.

[2016-08-23 22:34] valianttry commented on #70
also, @lovegushwa -- has Stephen on the Firefox UX team seen these at all? These are the fruit of your conversations with him? Just wondering if you should share them with him first or if you did already?

[2016-08-23 22:52] valianttry commented on #262
This is the path as @drewmoto recommended in the email thread:
![nationbuilder___salesforce_integration_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/17912653/b4b32410-6949-11e6-90b1-be3bda0ee433.png)

[2016-08-23 22:52] #262 closed, assigned to valianttry, drewmoto

[2016-08-23 23:03] damiankay commented on #264
Do you want to start an etherpad for name suggestions, or keep it to a tighter group meeting?

[2016-08-23 23:04] damiankay commented on #260
Hi @valianttry - can we close this one?

[2016-08-23 23:07] valianttry commented on #260
Yes! Here is the final approved language:
https://docs.google.com/document/d/1wJ3spmPItKW5HjthHhWuPEO3hqAd5G9eNy45LhsL80s/edit

[2016-08-23 23:07] #260 closed, assigned to nobody

[2016-08-23 23:19] lovegushwa commented on #70
@valianttry we should share them with Steven, probably the best way to show him is in the context of the overall test. I'll flag him once I update with more colors.

[2016-08-23 23:34] damiankay commented on #243
@simonwex and/or @a-kilroy

We've landed on using the existing page on learning as the landing page, from which most users will access the functional pages on Nationbuilder.

@geroter asked:
Is this about advertising the landing page/site, primarily? And then it can live on whatever longer URL? (i.e. it's just a redirect)

Or do we think that having consistent URLs throughout the various pages, ev

[2016-08-23 23:37] damiankay commented on #255
Thanks @geroter - passing the feedback on to Fission for wireframe revisions.

[2016-08-23 23:43] damiankay commented on #255
@simonwex - can you please see @geroter's comment Re sign-in?

[2016-08-24 00:31] natalieworth commented on #199
@HPaulJohnson Final facebook/twitter files for these are here: https://docs.google.com/document/d/1iRQEB1we2gDUX7vWi7eyYk9q7L930gz9tOOtCP6LiD0/edit
Closing, but reopen if any changes are needed. Can also reopen in future if more images are needed for initial push..

[2016-08-24 00:33] natalieworth commented on #197
Closing for now—but reopen or create a new ticket when localized files come in. Final EN versions are in link above ^

[2016-08-24 00:33] #197 closed, assigned to lovegushwa, natalieworth

[2016-08-24 04:40] cadecairos commented on #264
⚠️ Please don't mention potential domains on public channels ⚠️

[2016-08-24 07:57] a-kilroy commented on #207
Can you all make sure I have access to your GA?

On Tue, Aug 23, 2016 at 6:58 PM, Damian Kuehn notifications@github.com
wrote:

[2016-08-24 07:59] a-kilroy commented on #80
I don't have a good update for you at the moment but am hoping to have
something before the end of the week.

On Tue, Aug 23, 2016 at 8:00 PM, Damian Kuehn notifications@github.com
wrote:

[2016-08-24 08:04] a-kilroy commented on #128
v0.5 has gotten a pass of comments. Needs to be reconciled and set next steps. My biggest blocker is getting time from Marketing. I'll be working with Vojtech and Andrew to map the relevant field asap. @vojtechmozilla  has already done an amazing first pass that handle our immediate needs if needed. Though I think him and I both agree we'd love to have a bit more done by event launch.

[2016-08-24 13:06] beccaklam commented on #203
@damiankay @lovegushwa  We've decided to go with the step-by-step. The side-by-side wireframe is there if we have enough time/resources to build and do an A/B test.

[2016-08-24 14:43] KevZawacki commented on #250
We'll be using Natalie's excellent social images in the blog -- all set.

[2016-08-24 14:43] #250 closed, assigned to KevZawacki

[2016-08-24 15:20] damiankay commented on #264
Shoot! Yes, of course. For Maker Party I started a Google doc with limited access.

[2016-08-24 15:21] damiankay commented on #80
Thanks Arielle

[2016-08-24 15:22] damiankay commented on #128
@a-kilroy Let me know if I can help wrangle a meeting with Marketing. I imagine it's hard from your time zone. Thx!

[2016-08-24 15:23] brettgaylor commented on #264
chosen!

[2016-08-24 15:23] #264 closed, assigned to brettgaylor

[2016-08-24 15:24] damiankay commented on #203
Thanks @beccaklam - that totally makes sense.

@lovegushwa @brettgaylor any final comments before I send these off to Fission?

[2016-08-24 17:10] lovegushwa commented on #254
We need to update the share image, please use the image here:
 https://drive.google.com/file/d/0B20-0lpP23c0ZXh1TTZvSjMtSlE/view?usp=sharing

Share copy is here (we will add polish when it's avalable @valianttry ):
https://docs.google.com/document/d/1itsvIJ3KLvBXhKYDa0EAyyeAa0vA6_jCM_6yDIPaviY/edit

![screen shot 2016-08-24 at 9 28 11 am](https://cloud.githubusercontent.com/assets/12228435/1793996

[2016-08-24 17:54] natalieworth commented on #199
Image for the social link on the nationbuilder site is here:
https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0ZXh1TTZvSjMtSlE/view
To replace this:
<img width="613" alt="screen shot 2016-08-24 at 10 51 42 am" src="https://cloud.githubusercontent.com/assets/14876567/17941636/0b8916d8-69e9-11e6-8320-81377a5b6034.png">

[2016-08-24 17:54] #199 closed, assigned to natalieworth

[2016-08-24 18:24] HPaulJohnson commented on #254
Note/to clarify, copy/image above to be embedded in the share buttons in the "Please Share This" section at the bottom so that our messaging prepopulates and avoids default messaging like you see in Jordan's screenshot.

We can also use this copy for the OG tags in the metadata for the page, if possible. Not sure how OG tags work by locale? Also, if there are other OG tags/metadata needed (og:titl

[2016-08-24 19:15] lovegushwa commented on #254
Currently the mobile version, particularly german is not working well. I adjusted the type sizes of the header and the stick button to fix this. We can also reduce the heigh of the light red area behind the header type if needed.

The goals of this fix should be:
1. read the german headline
2. make sure the sign the petition sticky button does not cover up the down arrow under "it's time our laws

[2016-08-24 21:22] cadecairos opened #265 "Copyright campaign page loads a gif over http"
This causes a mixed content warning and should be fixed.

[code]

[2016-08-24 21:33] damiankay commented on #265
@gholme4 can you please look into this?

@cadecairos any suggestions for a fix?

[2016-08-24 21:34] damiankay commented on #265
CC @ScottDowne @jendc123

[2016-08-24 21:38] cadecairos commented on #265
add an 's' to the giphy URL :)

[2016-08-24 21:57] damiankay commented on #254
Should "User Language" in the form be changed to "Preferred language"? "User" feels like jargon.
![screen shot 2016-08-24 at 2 53 28 pm](https://cloud.githubusercontent.com/assets/19785709/17949558/d1fe276a-6a0a-11e6-98b2-a012fee87203.png)

@lovegushwa @valianttry @HPaulJohnson

[2016-08-24 22:06] gholme4 commented on #254
@damiankay Please ignore the language field. It's only there temporarily for testing.

[2016-08-24 22:08] gholme4 commented on #265
Hi. Christopher is correct. The URL has been changed to the secure version.

[2016-08-24 22:11] damiankay commented on #265
Thanks @gholme4 !

[2016-08-24 22:11] #265 closed, assigned to damiankay

[2016-08-24 22:21] vojtechsedlak commented on #179
Hey @damiankay, I've just pushed an update to the Gantt dashboard at https://mozilla-advocacy-gantt-pr-1.herokuapp.com/. Here are the latest changes:
- The dates for each ticket can be adjusted in the ticket description, as long as they follow the proper format (see [ticket 252](https://github.com/MozillaFoundation/Advocacy/issues/252) for an example). I've updated the template issue accordingly.

[2016-08-24 22:27] damiankay commented on #179
@vojtechmozilla - this is absolutely amazing, and perfect, and wonderful. Thanks so much for getting it all working! We may have some tweaks as we begin to use it, but this is just what we need for the moment.

Closing this ticket (finally!)

[2016-08-24 22:50] damiankay opened #266 "Maker party: Create onboarding webinar and supporting materials"
Detailed description of work:
Scope, plan and deliver a webinar explaining how to add events to Nation Builder, plus other tips and tricks to get the most from the platform.

Nation Builder offers some support guides on their site:
http://nationbuilder.com/getting_started

It may just be a case of pulling out what is most relevant for Maker Party hosts into a 30 minute run-through. This can be bas

[2016-08-25 00:35] damiankay opened #267 "Copyright Petition: QA Feedback (pre-launch)"
Detailed description of work:
Please add detailed QA feedback with screenshots and browser specified below.
https://changecopyright.org/

CC: @lovegushwa @valianttry @brettgaylor @HPaulJohnson

[2016-08-25 00:37] Melechuga commented on #267
![screen shot 2016-08-24 at 5 33 57 pm](https://cloud.githubusercontent.com/assets/5815317/17952654/72b5b1da-6a21-11e6-842d-bde8d62f109b.png)

The English bit is missing an "in" -- "as explained IN this..."

[2016-08-25 00:41] Melechuga commented on #267
![screen shot 2016-08-24 at 5 39 11 pm](https://cloud.githubusercontent.com/assets/5815317/17952681/cba89154-6a21-11e6-8fd7-f58f39f006b4.png)

The countries aren't in alphabetical order in Spanish, so "España" shows up at the bottom. Is it possible to resort the countries once they're localized?

[2016-08-25 00:43] valianttry commented on #267
@Melechuga +1 after translating the country lists, they should be resorted to alpha order.

[2016-08-25 00:43] HPaulJohnson commented on #267
Hopefully not jumping the gun, but gotta catch a boat in a few minutes.

The share buttons, or more specifically the share messages that are pre-populated when you click those buttons, is still not functioning properly.
- Facebook looks better, but it's still pulling from the og tags in the meta data, not from messages embedded in the button code.
- Twitter and email are both not working because t

[2016-08-25 00:44] Melechuga commented on #267
![screen shot 2016-08-24 at 5 42 42 pm](https://cloud.githubusercontent.com/assets/5815317/17952735/36fe3490-6a22-11e6-9475-0b5b8b00884c.png)

Privacy notice needs a space: "se indica en esta declaración..."
Also, privacy notice link is localized to us-en; change link to https://www.mozilla.org/es-ES/privacy/websites/

[2016-08-25 00:46] Melechuga commented on #267
(Spanish version)
In the petition, error notices aren't localized.

[2016-08-25 00:47] valianttry commented on #267
Privacy notice link next to the checkbox has an "en-US" locale assigned, it should match the URL in the footer so it is localized by IP:

![mozilla_foundation](https://cloud.githubusercontent.com/assets/9830371/17952801/a689bef6-6a22-11e6-8d18-e77b0f81e868.png)

[2016-08-25 00:49] brettgaylor commented on #267
French version - two asterix in the privacy notice link
![image](https://cloud.githubusercontent.com/assets/345974/17952848/134b4b04-6a23-11e6-92ec-f792d80dcd16.png)

[2016-08-25 00:51] brettgaylor commented on #267
French and German "why do we ask for this info" isn't localized
![image](https://cloud.githubusercontent.com/assets/345974/17952902/4b69baca-6a23-11e6-8fd4-6a22864cf18a.png)

[2016-08-25 00:51] brettgaylor commented on #267
German needs a space in privacy policy link
![image](https://cloud.githubusercontent.com/assets/345974/17952923/6fc82488-6a23-11e6-8a0c-34cbbdf75803.png)

[2016-08-25 00:53] brettgaylor commented on #267
Polish as well
![image](https://cloud.githubusercontent.com/assets/345974/17952943/999a705e-6a23-11e6-932d-6045e52c6e90.png)

[2016-08-25 00:53] lovegushwa commented on #267
The first three fields are darker than "country" in firefox (also in chrome but less noticeable.)
Match the look of "country."

<img width="293" alt="screen shot 2016-08-24 at 5 46 40 pm" src="https://cloud.githubusercontent.com/assets/12228435/17952921/6a51f0ba-6a23-11e6-90fb-70cadd8d6992.png">

[2016-08-25 00:53] Melechuga commented on #267
![screen shot 2016-08-24 at 5 53 21 pm](https://cloud.githubusercontent.com/assets/5815317/17952948/afd4ea20-6a23-11e6-9d37-53aa04dbb19d.png)

On the Polish site, the last "Please share this " isn't translated.

[2016-08-25 00:55] brettgaylor commented on #267
French countries are in all caps
![image](https://cloud.githubusercontent.com/assets/345974/17952978/fcc0f4fa-6a23-11e6-8fda-6542d1bc31c0.png)

[2016-08-25 01:03] damiankay commented on #267
There should be an option for "other" at the bottom of the country drop down list (for signers outside of the EU)

![screen shot 2016-08-24 at 6 02 46 pm](https://cloud.githubusercontent.com/assets/19785709/17953075/09d300a6-6a25-11e6-97fa-3df4638b8e14.png)

[2016-08-25 01:17] vojtechsedlak commented on #267
The GA tracking code needs to be updated with a new ID:  UA-49796218-44
I've emailed George directly, but just putting it here for tracking purposes.

[2016-08-25 01:49] jendc123 commented on #267
@HPaulJohnson can you share the Twitter language you would like to use. Also, can you provide more detail on the Facebook issue. I'm not sure what you mean by embedded in the button.

cc @gholmes4

[2016-08-25 01:59] lovegushwa commented on #267
@jendc123 the share copy is here (end of the doc):
https://docs.google.com/document/d/1itsvIJ3KLvBXhKYDa0EAyyeAa0vA6_jCM_6yDIPaviY/edit

[2016-08-25 02:05] valianttry commented on #267
If I refresh the URL, it drops me back to the Thank You state -- with the popup.

![mozilla_foundation](https://cloud.githubusercontent.com/assets/9830371/17954137/a7bb69c2-6a2d-11e6-8ead-0150f09c65d0.png)

[2016-08-25 02:46] HPaulJohnson commented on #267
@jendc123 copy is in the doc @lovegushwa provided above.

By embed code, I meant controlling the share messaging within the href of the button itself. I think we can address the FB share message by updating the og:title tag. But for Twitter and Email, I think we will need to embed copy in buttons as follows:

For email:
`<a` href="mailto:?Subject=LOCALIZEDSUBJECTCOPY&Body=LOCALIZEDBODYCOPYhttps://

[2016-08-25 02:49] valianttry commented on #267
@jendc123 noticed the email error message is not the same design as the others, and it says "Email and phone is required". Should say "Email is required"

![banners_and_alerts_and_mozilla_foundation](https://cloud.githubusercontent.com/assets/9830371/17955010/cf2bce9c-6a33-11e6-9438-14a328eea8b5.png)

[2016-08-25 02:59] valianttry commented on #267
There is no error shown if I submit without entering anything into the first name field. That should be required.

ADDITION: I also don't get an error if i don't enter last name.

[2016-08-25 03:27] HPaulJohnson commented on #267
can we also change the title tag for the site to "Mozilla Advocacy: Reform Copyright"

(og:site_name should also be "Mozilla Advocacy: Reform Copyright" / currently it's "Mozilla Foundation: Reform Copyright")

[2016-08-25 04:14] lovegushwa commented on #185
@shaghdoosti making some progress here, I will need some time in the morning to wrap this up.

[2016-08-25 05:57] valianttry commented on #267
NOTE: @jendc123 confirmed most / all of the above bugs have been fixed.

[2016-08-25 05:57] #267 closed, assigned to damiankay

[2016-08-25 09:19] a-kilroy commented on #179
I am jealous. I need this!

On Thu, Aug 25, 2016 at 12:27 AM, Damian Kuehn notifications@github.com
wrote:

[2016-08-25 09:21] a-kilroy commented on #266
Lets talk through this. I have loads of tips from doing lots of onboarding
materials and could probably save us some time.

On Thu, Aug 25, 2016 at 12:50 AM, Damian Kuehn notifications@github.com
wrote:

[2016-08-25 11:37] KevZawacki opened #268 "Update Medium footer link on changecopyright.org"
**Detailed description of work**:
The Medium link at the bottom of https://changecopyright.org/ currently directs to https://medium.com/mozilla-advocacy.

![screen shot 2016-08-25 at 7 38 27 am](https://cloud.githubusercontent.com/assets/11045250/17967708/e765f1b4-6a96-11e6-9f28-849dd2040f47.png)

Let's instead direct to https://medium.com/mozilla-advocacy/tagged/copyright

**CC**:
@HPaulJohnson @

[2016-08-25 11:43] KevZawacki commented on #211
[Op-ed placed](https://euobserver.com/opinion/134752). Currently pitching in tandem with our EU agencies. [3 stories so far, all positive.](https://docs.google.com/spreadsheets/d/1AUmq2rekAi0BmZBWOIuwsCtkzDyD9ZSFKBiy6tffajA/edit#gid=0)

Will continue pitching today and tomorrow, but closing this ticket.

cc @HPaulJohnson @brettgaylor

[2016-08-25 11:43] #211 closed, assigned to KevZawacki

[2016-08-25 12:12] ScottDowne commented on #268
Done

[2016-08-25 13:05] damiankay commented on #266
I'd love that - thanks @a-kilroy!

[2016-08-25 13:07] damiankay commented on #179
Have to admit I've been looking for something like this for years @a-kilroy !

[2016-08-25 14:29] valianttry commented on #179
Am i missing a way to sort by label @vojtechmozilla ?

That would be helpful.

[2016-08-25 14:59] a-kilroy commented on #80
OK update. Tristan in IT is managing this and is aware of our timeline now. He's going to prioritize getting the vendor review done as well as work on getting the needed contract in time so we can use it. We'll be ahead of the curve here so it might make some manual account matching for them later but it's a small enough number that he doesn't think it's a big deal. I'm going to follow up with him

[2016-08-25 15:14] damiankay commented on #80
This is great news. Thanks @a-kilroy

[2016-08-25 15:30] damiankay opened #269 "Create website QA process"
Detailed description of work:
Create a pre-launch checklist of
Reference Scott's form QA checklist: #515

_Start date: August 25, 2016_
_Due date: September 16, 2016_

CC: @valianttry

[2016-08-25 15:59] damiankay commented on #179
Good catch @valianttry

[2016-08-25 16:01] #263 closed, assigned to lovegushwa

[2016-08-25 16:03] damiankay opened #270 "Copyright Petition: QA Feedback (post-launch)"
Detailed description of work:
Please add detailed QA feedback with screenshots and browser specified below.
https://mozillafoundation.nationbuilder.com/

[2016-08-25 16:14] natalieworth commented on #270
@damiankay Not sure if this is intentional but the language tab is display strangely at the top:
<img width="673" alt="screen shot 2016-08-25 at 9 13 13 am" src="https://cloud.githubusercontent.com/assets/14876567/17976902/4aa7e428-6aa4-11e6-9490-78e3045f7f3d.png">

Is it possible to just switch the rounded corners to the bottom so it looks like the tab is attached to the top of the page?

[2016-08-25 16:15] Melechuga commented on #270
![screen shot 2016-08-25 at 9 14 07 am](https://cloud.githubusercontent.com/assets/5815317/17976915/5bf677da-6aa4-11e6-983f-f9883a5014e4.png)

In all the localized languages the text here is in English except for the link to the privacy statement.

[2016-08-25 16:16] Melechuga commented on #270
Also, all the localized privacy statements still link to English; can we localize that link?

[2016-08-25 16:17] Melechuga commented on #270
On the Polish site, the description of Mozilla in the footer is in English:
![screen shot 2016-08-25 at 9 16 59 am](https://cloud.githubusercontent.com/assets/5815317/17976989/ba2e6a2e-6aa4-11e6-8c87-b36b418d06eb.png)

[2016-08-25 16:18] ScottDowne commented on #270
Yeah, we should switch the privacy link to https://www.mozilla.org/privacy/websites/

It'll fix the locale to be whatever the browser is set to.

[2016-08-25 16:19] Melechuga commented on #270
Not sure if this is intentional, but the share buttons link to tweets/fb/emails written in English. Is that content also localized?

![screen shot 2016-08-25 at 9 18 23 am](https://cloud.githubusercontent.com/assets/5815317/17977055/f8d1b9e8-6aa4-11e6-9788-4b5cc5aeaec4.png)

[2016-08-25 16:22] Melechuga commented on #270
Can't remember if I mentioned this yesterday, but error messages on localized sites are in English:

![screen shot 2016-08-25 at 9 21 20 am](https://cloud.githubusercontent.com/assets/5815317/17977141/5e5ed656-6aa5-11e6-886c-2d04fb7b6e44.png)

[2016-08-25 16:25] Melechuga commented on #270
Possible to re-alphabetize country list on localized pages?

[2016-08-25 17:58] HPaulJohnson commented on #270
Polish translations for social share CTA and social share messages now available in this doc:
https://docs.google.com/document/d/1itsvIJ3KLvBXhKYDa0EAyyeAa0vA6_jCM_6yDIPaviY/edit

Also, all of the share messages are still all in English and should be in locale-specific language.

[2016-08-25 18:31] beccaklam commented on #202
Hello @valianttry @brettgaylor @shaghdoosti @damiankay @lovegushwa! I made a deck that outlines components for a Nationbuilder Template. Would you be able to take a look and see if you think there are any important components missing? Also, if you see something you would like in the Copyright Campaign v2 Website please let me know as well. Here is the link to the google slides: https://docs.google

[2016-08-25 18:42] brettgaylor commented on #202
This looks great, @beccaklam !  Particularly like the idea of having a place for us to update supporters.  +1 to the general idea of templating, with a method of allowing us to customize for microsites and additional creative content outside of the petition page.

[2016-08-25 20:17] lovegushwa commented on #255
Re. option 2. It's important that the Maker Party events site feel more like a general Mozilla web app and less like it's the Maker Party website. I think we could do this by simplifying the header and possibly the footer. This gives us the flexibility to adapt it for other non maker party events in the future, and keeps the look and feel generic enough to work with a stand alone Maker Party site

[2016-08-25 20:48] HPaulJohnson commented on #193
Contract signed and kick off held yesterday. Final test plan to be ready next week.

[2016-08-25 21:12] damiankay commented on #179
@vojtechmozilla - tiny thing, but can you please remove the parentheses from the dates in the template? I don't think they're necessary and they're not part of the correct format. Thx!

[2016-08-25 21:15] vojtechsedlak commented on #179
Just updated the template @damiankay.

[2016-08-25 23:40] lovegushwa commented on #185
@shaghdoosti the Maker Party deck is ready!
https://docs.google.com/a/mozilla.com/presentation/d/1Ibb0WgTwdXBON1UxYjQMu3DftK2PcwNiiCCKgkuibZs/edit?usp=sharing

[2016-08-26 00:27] lovegushwa commented on #185
@LucyeoH your deck it ready!
I realize there are small changes to wording for a slightly different audience, I tried to catch it all but double check before deleting the old slides!

https://docs.google.com/presentation/d/11HAMhPOHv4VKJ04nDvsdv2Dko7sFSwMwwsRARG6jpzc/edit#slide=id.g1177f349bb_4_92

[2016-08-26 00:27] #185 closed, assigned to lovegushwa

[2016-08-26 16:48] ScottDowne commented on #253
https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright Email 1/

Closing this, as it happened days ago, and I just forgot.

If there are other structures we want setup, we should file a new ticket :)

[2016-08-26 16:48] #253 closed, assigned to ScottDowne

[2016-08-26 17:01] #254 closed, assigned to lovegushwa, beccaklam

[2016-08-26 17:09] KevZawacki commented on #225
We'll continue to add to this throughout the campaign, but we're in good shape. It was valuable during Katharina's interview with TechCrunch today.

[2016-08-26 17:09] #225 closed, assigned to KevZawacki

[2016-08-26 17:33] ScottDowne commented on #70
Just taking a look at these now, but I wonder if it's too soon consider the design implications (if any) when the snippet is localized.

We don't have in context translations, so making translation decisions based on the designs can be tricky, and have slow turnaround.

Strings can become larger than the button space we have, that's more than enough for English. Can be solved by fixing the transla

[2016-08-26 17:38] ScottDowne commented on #70
I hope I am not adding too much noise to what's probably already a complex situation :(

I wonder also if we should test a 3 or 2 button snippet? Maybe a snippet that's dynamic in the number of buttons it can display for amounts?

[2016-08-26 19:07] damiankay commented on #269
WIP is here: https://docs.google.com/spreadsheets/d/15Sc9FpiYTapeEq77-eDNah6Up-lfAC9z89gzIcBBqT8/edit#gid=464036536

[2016-08-26 19:26] valianttry commented on #70
@ScottDowne maybe in the future. We're just testing slight design variations on the snippet we have used successfully first.

[2016-08-26 22:24] lovegushwa opened #271 ""Thank you" string in share modal not localized"
@valianttry

The "Thank you" string in share modal is not localized. I think it's all languages, but ran out of browsers to test (even in private mode, the petition still knows you signed and wont let you sign again.)

![screen shot 2016-08-26 at 3 16 13 pm](https://cloud.githubusercontent.com/assets/12228435/18022115/16727134-6ba1-11e6-8d6e-3d03bb6efbc5.png)
<img width="1081" alt="screen shot 201

[2016-08-26 22:34] lovegushwa opened #272 "Icons in share modal are tiny"
Icons in share modal are tiny. Not the end of the world but would be nice to fix:

![screenshot_20160826-150941](https://cloud.githubusercontent.com/assets/12228435/18022306/8c8e0134-6ba2-11e6-8c80-ec4061956df3.png)

[2016-08-26 22:48] valianttry commented on #271
Fixed in all locales

![fundacion_mozilla](https://cloud.githubusercontent.com/assets/9830371/18022530/709cabb8-6ba4-11e6-8085-aeff0ce116d3.png)

[2016-08-26 22:48] #271 closed, assigned to nobody

[2016-08-26 22:52] HPaulJohnson opened #273 "Can't submit form when selecting "other" in country drop down"
Mac/Desktop/Firefox 48

I'm getting an error message to select a country after I've selected "other" from the list. It won't submit form as result.

![mozilla_foundation](https://cloud.githubusercontent.com/assets/10078715/18022593/0421a5d2-6ba5-11e6-8ca8-ca12dcf6ef79.jpg)

[2016-08-26 22:56] HPaulJohnson opened #274 "Share by Email post-petition signature isn't working"
Mac/Desktop/Chrome 52

After submitting petition signature, on the share modal/pop-up, the email share link doesn't function (nothing happens).

NOTE: Same use case on Firefox works fine.

[2016-08-26 23:03] HPaulJohnson commented on #274
Also worth nothing that the share by email functionality works fine on chrome in the "Share This" footer bottom at the bottom of the page. It's just the pop-up that's broken

[2016-08-26 23:05] damiankay commented on #223
Hi @ScottDowne - as we're committed to shipping Maker Party via Nationbuilder, can you please scope the work required to integrate Pontoon with Nationbuilder? We're having so many problems with Bablic on the Petition site, it makes me shudder to think what will happen if we're dependent on it for Maker Party which has many more moving pieces.

Can you prioritize this for early next week please? Le

[2016-08-26 23:17] HPaulJohnson opened #275 ""Thank you for signing" message isn't localized"
Mac/Desktop and Mobile/Firefox/Chrome

After submitting petition signature, the persistent "Thank you for signing!" message is in English.

![fullscreen_8_26_16__4_14_pm](https://cloud.githubusercontent.com/assets/10078715/18022948/876f7e20-6ba8-11e6-8fd4-dae4666b5d42.jpg)

[2016-08-26 23:38] HPaulJohnson opened #276 "Problem submitting form on Chrome on iPhone"
This is a weird one but finally able to recreate on iOS / Chrome.

Mobile chrome suggests content for standard form fields. For example, when I click into the last name box, it suggest "Johnson" and if I click on that it auto-populates that field. Everytime I used this feature to complete the form, it got stuck with a rotating "saving" message upon submit and never completed. It just got hung.

If

[2016-08-26 23:42] HPaulJohnson opened #277 "On mobile, share buttons open up in browser window not in native apps."
iOS/Chrome and Firefox. Might not be a bug but definitely will detract from sharing on mobile.

When clicking Facebook or Twitter share options on mobile it opens those applications within the browser, instead of launching the app. Because I (and most people) only use the app for social, it asks me to login and I just abandon. I'd assume most users would do the same.

Desired behavior is for the s

[2016-08-27 01:02] brettgaylor opened #278 "Replace with high resolution versions of movie files"
Detailed description of work:
All of the movie files are at an offline resolution.  I have downloaded these files and shared them with you via google drive.

You'll need to replace all of the files on the timeline with these clips, and make the sequence match the resolution of the new clips (852 X 480)

[2016-08-27 01:03] brettgaylor opened #279 "Create transitions and CGI effects"
-Replace the split screens/zooms with something better/jazzier.
-Saturate the hell out of everything
-Do a non shitty version of the green screening
-make everything amazing.

[2016-08-27 01:05] brettgaylor opened #280 "Replace titles"
I temped in the titles for the "Coming soon to your television" and the placement of "CSI:GIF"

Replace these.

[2016-08-27 01:07] brettgaylor opened #281 "Add CTA text at end"
Use the CTA from the script to add a text CTA at the end of the video

This might be a good opportunity to create an ident/bumper we would use for all of the videos, too.

We could use #fixcopyright if it tests well in the intial paid media run.  cc @HPaulJohnson and @lovegushwa

[2016-08-27 05:29] brettgaylor commented on #273
Confirmed on Chrome 52

[2016-08-28 05:13] natalieworth opened #282 "'Other' selection option (under 'Country' form category) displays as error in Firefox desktop/mobile"
Browser: Firefox
Description: Desktop/ mobile versions on Firefox displays 'other' selection under 'Country' as an error state. Only seems to be an issue within Firefox browser.

CC: @damiankay @valianttry @jendc123

[2016-08-28 05:15] natalieworth commented on #282
<img width="320" alt="screen shot 2016-08-27 at 10 19 13 pm" src="https://cloud.githubusercontent.com/assets/14876567/18031768/ceb519b0-6ca3-11e6-81f9-d162179c0b80.png">

[2016-08-28 05:24] natalieworth opened #283 "Bablic bounding box has defaulted back to version with rounded corners"
Browsers: Firefox, Safari, and Chrome.
Description: Bablic needs to have rounded corner styling removed or flipped so the tab appears to be from the top.

CC: @damiankay @valianttry @jendc123

<img width="243" alt="screen shot 2016-08-27 at 10 23 06 pm" src="https://cloud.githubusercontent.com/assets/14876567/18031810/faf1b820-6ca4-11e6-9dd3-1d8ea91a4611.png">

[2016-08-28 05:27] natalieworth opened #284 "Email icon link does not function in Chrome (on share modal)"
Browser: Chrome
Description: Email icon on share modal does not work.
Screen Shot 2016-08-27 at 10.29.22 PM

CC: @damiankay @valianttry @jendc123

[2016-08-28 05:35] natalieworth opened #285 "Spanish/Polish translation of 'make, create, innovate' does not stack"
Browser: Firefox, Chrome, and Safari (desktop and mobile)
Description: 3 descriptive words of Spanish translation are not stacking like in all other translations:
<img width="523" alt="screen shot 2016-08-27 at 10 35 41 pm" src="https://cloud.githubusercontent.com/assets/14876567/18031839/4a0576a8-6ca6-11e6-99b1-97b8711263ba.png">

CC: @damiankay @valianttry @jendc123

[2016-08-28 05:39] natalieworth opened #286 "Email input error copy displays twice"
Browser: Firefox, Chrome, and Safari
Description: There are 2 similar error messages if an incorrect email address is submitted on the form:
<img width="317" alt="screen shot 2016-08-27 at 10 40 28 pm" src="https://cloud.githubusercontent.com/assets/14876567/18031849/ed2e8fe0-6ca6-11e6-89f4-193ac95f1514.png">

CC: @damiankay @valianttry @jendc123

[2016-08-28 05:43] natalieworth opened #287 "Translation text goes out of screen viewing area on 'share' page for mobile"
Browser: Firefox, Chrome, and Safari
Description: Text goes outside of readable area on the 'share'/ thank-you page:
![img_4302](https://cloud.githubusercontent.com/assets/14876567/18031862/ad0e1ff6-6ca7-11e6-89b2-c57924ea908e.PNG)
CC: @damiankay @valianttry @jendc123

[2016-08-29 05:45] damiankay commented on #273
CC: @damiankay @valianttry @jendc123

[2016-08-29 05:48] damiankay commented on #277
@ScottDowne - is there a way to open in the app instead of in the browser on mobile?

CC: @damiankay @valianttry @jendc123

[2016-08-29 05:48] damiankay commented on #272
CC: @damiankay @valianttry @jendc123

[2016-08-29 05:51] damiankay commented on #274
CC: @damiankay @valianttry @jendc123

[2016-08-29 05:51] damiankay commented on #275
CC: @damiankay @valianttry @jendc123

[2016-08-29 05:52] damiankay commented on #276
CC: @damiankay @valianttry @jendc123

[2016-08-29 05:57] damiankay opened #288 "Titles covered by form"
Detailed description of work:
iPad mini / Chrome
The header and footer title text is covered by the form in portrait mode.

CC: @damiankay @valianttry @jendc123

![img_0010](https://cloud.githubusercontent.com/assets/19785709/18042011/d48d3140-6d72-11e6-874a-35ac25015d93.jpg)
![img_0011](https://cloud.githubusercontent.com/assets/19785709/18042010/d44541a0-6d72-11e6-907d-d2226ea1ff55.jpg)

[2016-08-29 05:59] damiankay commented on #273
Also confirmed on Firefox for Windows, and for French "autres"

[2016-08-29 12:26] ScottDowne commented on #277
I did a bit if research on this this morning and have yet to find any info
on someone doing this successfully. It seems to be fairly requested feature
though. My guess is it's not possible or the Twitter login page would
already have this functionally.

[2016-08-29 15:03] damiankay commented on #277
Yeah that's what I thought. I've been annoyed by this in the past on many sites... I figured I couldn't be the only one. I'll leave this open for a bit in case anyone from Fission has an insight.

[2016-08-29 15:41] ScottDowne commented on #277
I'm having some luck with `twitter://mentions` in the url under my browser. Not sure exactly yet how far this can get us.

[2016-08-29 16:10] damiankay opened #289 "Copyright Petition: Add Heroku scheduler"
Detailed description of work:
From Fission: Would it be possible for one of you to add a scheduler to Heroku? (https://elements.heroku.com/addons/scheduler)?  We are going to use it to try and stop duplicates in Salesforce. We are going to send data to SF in batches every ten minutes with the scheduler (10 minutes is the minimum that we can set). This will make sure info isn't sent instantaneously

[2016-08-29 17:01] damiankay opened #290 "Copyright Petition: Security Review"
https://github.com/MozillaFoundation/mofo-devops-private/issues/25

[2016-08-29 17:01] gholme4 commented on #276
@HPaulJohnson did you confirm this behavior is not present in iOS Safari?

[2016-08-29 17:11] lovegushwa commented on #70
@valianttry just asking Stephen to take a look before we move ahead with a test.

[2016-08-29 17:22] vojtechsedlak opened #291 "Traffic with JS disabled sees nothing on the action page"
Detailed description of work:
Users who have JavaScript disabled don't see anything on the action page. There is no straightforward way for us to track how prevalent this issue. The suggestion is to include a <noscript> message on the site, indicating that to display the content, JS needs to be enabled.

CC:
@damiankay @valianttry