[2017-02-27 21:42] ScottDowne commented on #722
@Melechuga I would also add @TheoChevalier to the above discussion.

[2017-02-27 21:43] beccaklam commented on #728
@hannahkane @ScottDowne Tablet and Mobile:
https://redpen.io/p/ma1f0579fd364383ec <-- redpen for comments

Also, @hannahkane I'm flagging the fact that the copy is a bit wierd near the bottom where the last paragraph has the title 'Agree' followed by 'Then add your name' and then the form 'Do you agree' followed by 'If so, add your name'. The language is very similiar and because in the tablet por

[2017-02-27 21:55] beccaklam commented on #742
Hey @ScottDowne cc @hannahkane here are the PNGs for the contact, share and join the conversation icons:
[missing-footer-icons.zip](https://github.com/MozillaFoundation/Advocacy/files/805110/missing-footer-icons.zip)

[2017-02-27 21:58] TheoChevalier commented on #722
I’m a bit concerned by the length and the expansion rate in the header for the locales, but we could do that if we want them to check the resources, yes. It’s better if we can make a decision soon, though, since it requires a new string and we have pending changes.
@Melechuga What about “More Resources (in English)”? Does that look good to you as well @beccaklam from a design standpoint?

[2017-02-27 22:16] beccaklam commented on #732
Copy variants sent to Wes:
Variant A: Did you know you’re one of the biggest funders of public scientific research? Find out more here.
Variant C: Happy Open Data Day - show how much you heart open data by taking action in support of research being more easily available.

Snippet (64x64)
![open-data-64px](https://cloud.githubusercontent.com/assets/20977376/23382506/6a481c36-fd10-11e6-863f-50cf04ee

[2017-02-27 22:49] ScottDowne commented on #742
Links updated on staging: https://changecopyright-org-staging.herokuapp.com/en-US/#get-involved

[2017-02-27 22:49] #742 closed, assigned to nobody

[2017-02-27 23:18] Melechuga commented on #722
@TheoChevalier That looks good! Thanks.

[2017-02-28 00:32] natalieworth commented on #739
@lovegushwa @beccaklam Header drafts and image explorations are in here:
https://redpen.io/p/syd651d32158458060

They're still quite rough. If you have any preference let me know and I can possibly refine 1-2 options?

[2017-02-28 05:42] ScottDowne commented on #725
It's pretty much built, and the error messages for email is functional.

https://changecopyright-org-staging.herokuapp.com/en-US/#get-involved

I think we should close this, and keep #737 open.

[2017-02-28 05:44] ScottDowne commented on #737
If there is more to do for validation work to do, we can add, but for the most part, I see the only thing left is the error message translations, so once that's done, and there is no more QA feedback on the UX of it, we can close.

[2017-02-28 05:44] ScottDowne commented on #723
We have this footer as it was in the comps: https://changecopyright-org-staging.herokuapp.com/en-US/#get-involved

We also have almost all links, just waiting on share progress. We can close this once we have share progress, or file another issue just for that and close this?

Anything else we want done?

[2017-02-28 05:46] ScottDowne commented on #720
I think the only possible thing left, that we can do here is add in a drop down for changing the language.

[2017-02-28 05:47] ScottDowne commented on #719
For signups, we're just going with basket + the server's node back end + hatchet. Right?

@cadecairos Can we close this?

[2017-02-28 05:50] ScottDowne commented on #718
I suspect we can close this.

We chatted today with LCM team at moco, and it was pretty clear they wanted basket + middleware, which we're using our node server for. This is how donate does this.

@cadecairos Can we close?

[2017-02-28 07:12] hannahkane commented on #725
Sweet. Closing.

[2017-02-28 07:12] #725 closed, assigned to ScottDowne

[2017-02-28 14:23] beccaklam commented on #722
Hey @Melechuga I'm just wondering what's the goal of having the 'More resources (in English)' on the non-EN locales? The reason we decided to hide the resources on non-EN locales is because we thought it would be disrespectful to offer resources not in that person's language. I think sometimes it's better not to do something at all if you can't do it well. Also, this is only a stop gap solution so

[2017-02-28 14:30] beccaklam commented on #737
@TheoChevalier @ScottDowne @hannahkane The strings look good to me. @ScottDowne One note on the UX, it would be good to have the error message not in arvo. Makes it feel more error-like.

[2017-02-28 16:00] hannahkane commented on #720
@TheoChevalier - is there a separate QA process for localization, or would you consider that completed?

[2017-02-28 16:02] hannahkane commented on #723
Per comment above, I think we should change "Join the Conversation" to "Follow" and replace the icon with the Twitter bird. As is, I'd think it was a forum or something.

[2017-02-28 16:05] hannahkane commented on #732
Nice work! Closing.

[2017-02-28 16:05] #732 closed, assigned to HPaulJohnson, lovegushwa, shaghdoosti, stephwright

[2017-02-28 16:11] hannahkane commented on #728
@beccaklam - comps look great. I do see what you're saying about the repetition in the language. I'd suggest we cut the "Agree?" paragraph entirely. I don't think it's adding anything that isn't also covered in the "Do you agree?" paragraph. (Well, it has the "Share with your friends and family" line, but I honestly think that's going to get lost here anyway.)

What do you think of that idea?

[2017-02-28 16:20] shaghdoosti commented on #740
Hey -

Twitter and FB copy are here. I'll work on the email SL and body today and it'll be in the same doc.

https://docs.google.com/document/d/1pqJN23mj3jeNJmdiQr97Q8vqrXQ_0kAPgfo0lqgMaHo/edit

[2017-02-28 16:27] beccaklam commented on #728
@hannahkane That sounds good to me. We'd have to check with @shaghdoosti  first though

[2017-02-28 16:29] shaghdoosti commented on #728
Hey - yes, let's cut the agree paragraph.

[2017-02-28 16:31] beccaklam commented on #722
@Melechuga @hannahkane @ScottDowne @lovegushwa Resources Page UI:
All highlighted texts are links. If we could style the hover interaction like the internet health report that would be great @ScottDowne https://internethealthreport.org/v01/
https://redpen.io/pw36aad51a77ac7360 <-- redpen for comments
Still working on tablet and mobile, will get those done by EOD.
![resources desktop ui](https://cl

[2017-02-28 16:39] TheoChevalier commented on #720
@hannahkane Spelling errors and typos are covered by the community (each team has its own process), they will also report other kind of l10n related issues as they see them. So that should be covered, but nothing prevents us from checking layout issues/unlocalized strings too (I will check anyway)

[2017-02-28 16:53] TheoChevalier commented on #723
I will update the string as per https://github.com/MozillaFoundation/Advocacy/issues/723#issuecomment-283081247, if anyone has any objection to that, please speak up before it’s exposed to localizers :)

[2017-02-28 17:16] hannahkane commented on #720
@TheoChevalier - sounds good. Thanks for explaining the process to me!

[2017-02-28 17:21] hannahkane commented on #722
Thanks, @beccaklam. I think the page looks great. I just left one question on the redpen.

[2017-02-28 17:26] beccaklam commented on #722
Re:@hannahkane your question in the redpen: do you think it would be a good idea to take away the language drop down menu on the resources page? CC: @TheoChevalier @ScottDowne @Melechuga

[2017-02-28 17:42] hannahkane commented on #728
@ScottDowne will cut the para in the implementation ticket. Closing design.

[2017-02-28 17:42] #728 closed, assigned to beccaklam

[2017-02-28 17:46] lovegushwa commented on #723
Let's update with "Follow" and the twitter icon @ScottDowne ... can you implement this and close this ticket?

[2017-02-28 17:48] hannahkane commented on #722
Per discussion we're having right this minute in stand, we're going to hold off on any messaging to non-EN users for now. Can reconsider post-MVP.

[2017-02-28 17:51] hannahkane commented on #722
Decision re: language selector—we'll hide it on the Resources page. cc @ScottDowne

Design = final.

[2017-02-28 17:51] #722 closed, assigned to beccaklam

[2017-02-28 18:19] hannahkane commented on #731
Removing this from milestone, b/c we're not doing it as part of MVP.

[2017-02-28 18:28] hannahkane opened #743 "Social share for Copyright Campaign"
I'm assuming we need this...

@shaghdoosti @lovegushwa to verify and provide more details.

[2017-02-28 18:29] hannahkane opened #744 "Favicon for Open Data and Copyright Campaign"
@lovegushwa - do we just use the mozilla "m"?

[2017-02-28 20:32] hannahkane commented on #744
@ScottDowne - assigning this to you as an implementation ticket. Assuming we're going with the mozilla m unless @lovegushwa says otherwise.

[2017-02-28 20:34] ScottDowne commented on #744
It's easy to swap out, already implementing the m.

[2017-02-28 21:23] ScottDowne commented on #744
Done. Closing.

[2017-02-28 21:23] #744 closed, assigned to ScottDowne

[2017-02-28 21:46] TheoChevalier commented on #737
Thanks, strings have landed

[2017-02-28 21:47] TheoChevalier commented on #735
Fixed https://github.com/mozilla/copyright/commit/c74083b0277bf70ca9d4302c4c87737e22a1f208

[2017-02-28 21:47] #735 closed, assigned to TheoChevalier

[2017-02-28 21:48] TheoChevalier commented on #723
String changed to "Follow" https://github.com/mozilla/copyright/commit/c74083b0277bf70ca9d4302c4c87737e22a1f208#diff-77164019e2bf354a14041bd43ccb5d40L45

[2017-02-28 21:49] ScottDowne commented on #723
Also updated the footer icon for both open data and copyright repos.

[2017-02-28 21:50] ScottDowne commented on #723
Given that we have this issue https://github.com/MozillaFoundation/Advocacy/issues/743 for just the share link bits, I say we close this.

Feel free to reopen if you disagree or I missed something.

[2017-02-28 21:50] #723 closed, assigned to ScottDowne, shaghdoosti

[2017-03-01 02:01] natalieworth opened #745 "Mozilla Ident"
Detailed description of work: Using this GitHub ticket as a place to catalogue bumper inspiration for our upcoming video work.

*Start date: February 28, 2017
*Due date: On-going

[2017-03-01 02:02] #745 closed, assigned to abbycabs, zee-moz, natalieworth

[2017-03-01 02:04] #698 closed, assigned to natalieworth

[2017-03-01 02:14] natalieworth commented on #743
@hannahkane I can take this on in addition to the header image on the open data site. We'll also need a social share for the open data page (not sure if you want to make a separate ticket for that)? Feel free to assign me if you do! :)

[2017-03-01 02:32] natalieworth opened #746 "Visualizations for Privacy Survey"
Detailed description of work: Creating data visuals for the Medium blog post article and social shares. (Designs will also need to be localized)

Content:
https://docs.google.com/document/d/1qn1J3PviebZTBozXEs305BNvXfnrHM2EXz8zgstsK6U/edit?ts=58b5ad99

cc @lovegushwa @beccaklam @hannahkane if this is a duplicate ticket, just close. I'm not 100% which one's you're watching over for us (is it just c

[2017-03-01 02:40] natalieworth opened #747 "Natalie's Comix"
Detailed description of work: Developing recurring a comic for Advocacy.

*Start date: January 2017
*Due date: TBD

[2017-03-01 02:43] natalieworth opened #748 "Internet Health Video"
Detailed description of work: Based on an idea brought about in our rapid response/ writing room, we're creating a short video for social (and possibly a separate site) that explains the concept of the internet in an artistic/ throwback/ nostalgic way and how it has developed—then asks, "What is a healthy internet?"

*Start date: February, 2017*
*Due date: asap

CC: @lovegushwa (I made a ticket fo

[2017-03-01 17:35] hannahkane commented on #743
Thanks, @natalieworth! I was thinking the social share for open data was covered by #739. Let me know if you'd rather have that ticket divided into two. Whatever is best for you!

[2017-03-01 18:29] shaghdoosti commented on #740
Email share is now in the google doc too.

https://docs.google.com/document/d/1pqJN23mj3jeNJmdiQr97Q8vqrXQ_0kAPgfo0lqgMaHo/edit

[2017-03-01 19:31] hannahkane commented on #720
@TheoChevalier - okay to close this ticket, or do you want to keep open until the language chooser component is done?

[2017-03-01 19:31] hannahkane opened #749 "QA: remove two nav items"
EDIT: Per conversation below, please remove both navigation items. Should look like the first design in https://github.com/MozillaFoundation/Advocacy/issues/749#issuecomment-283475417

----

Open Data Day site shouldn't have "Copyright Campaign" in the navigation.

Not sure how we didn't notice this in the design phase. :) @shaghdoosti - what should the navigation item be?

[2017-03-01 19:39] hannahkane opened #750 "QA: Should we reference the date?"
The main copy includes this phrase: "Given today is Open Data Day..."

Nowhere on the site do we reference March 4. I'm assuming we'll keep the site up past Saturday (or....is the expectation that we don't?). Wondering if we should say "Given that March 4th is Open Data Day..." instead, to provide context.

Also, is there something we can link to to give more context to Open Data Day?

[2017-03-01 19:52] hannahkane opened #751 "QA: Remove Country field, since this campaign is US only"
Assuming the country list should for the Open Data Day campaign should not be the same as Copyright Campaign.

What should the country list be, though? Is this just for U.S.'ians? cc @shaghdoosti

[2017-03-01 19:54] hannahkane commented on #737
Adding Open Data Day label to this, because fixes should apply there as well

[2017-03-01 19:55] hannahkane commented on #738
Adding Open Data Day label to this, because fixes should apply there as well

[2017-03-01 19:57] hannahkane opened #752 "QA: replace header image"
This is obviously known, but just want to ticket it so we don't forget.

Design happening in #739

[2017-03-01 19:59] hannahkane opened #753 "QA: we don't prevent people from signing multiple times"
Not sure if this is an issue we care about. I know we'll de-duplicate when we migrate to SF, but wondering if there's any concern about this - either from a usability angle or a tech angle (bots?)

cc @lovegushwa @ScottDowne @beccaklam

[2017-03-01 20:01] shaghdoosti commented on #749
Hannah - can you ping me the staging link so I can look and make a suggestion?

[2017-03-01 20:04] hannahkane commented on #749
https://iheartopendata.mofostaging.net/en-US

[2017-03-01 20:07] shaghdoosti commented on #751
Hey - this campaign is US only.

[2017-03-01 20:09] shaghdoosti commented on #749
Ha! let's change copyright campaign to Open Data Day.

Having the two buttons (Copyright and get involved) up top that don't link anywhere feels odd in general. Can we just remove them?

[2017-03-01 20:10] hannahkane commented on #751
Should we just not have a Country field then?

[2017-03-01 20:10] shaghdoosti commented on #749
Also the button under the form should say 'add my name' not 'sign me up'.

[2017-03-01 20:11] shaghdoosti commented on #751
I'd say yes. We don't need a country field for the open data campaign. But it's okay to leave if it's too hard to remove.

[2017-03-01 20:11] hannahkane opened #754 "QA: change copy on button"
the button under the form should say 'add my name' not 'sign me up'

[2017-03-01 20:13] hannahkane commented on #749
@shaghdoosti - moving your button copy comment to a new issue, so we don't lose it. (#754)

Re: the two buttons. The links should work, though the Get Involved link should just scroll you down to the form. Did it not work for you? Or did it work, but you just don't like that use of a navigation element?

If it's the latter, let's discuss with @beccaklam. That nav bar at the top would look might sp

[2017-03-01 20:14] hannahkane commented on #751
@ScottDowne - let's remove. I don't think having a country list with only one option makes sense. Changing the title of this bug to reflect this.

[2017-03-01 20:16] hannahkane opened #755 "QA: mobile/safari field is selected even after I've moved to another field"
Using an iPhone 7 to view the site in Safari. The First Name field is yellow, even after I've moved to another field. Not sure if this is a bug, or just something I've not noticed before. Assuming this applies to both sites, so adding both labels.

![49b348bf-4e4a-4d6d-b4cd-26361dd011a6](https://cloud.githubusercontent.com/assets/8389648/23479011/ecf27542-fe77-11e6-9ef6-b5f1058000c2.PNG)

[2017-03-01 20:16] shaghdoosti commented on #749
I don't love the navigation feature - can we redirect the get involved button to the Mozilla Science page?

[2017-03-01 20:19] hannahkane commented on #749
I think it would be jarring to send the user to the Science site without any context. Maybe we could change the link copy to "Learn more about Mozilla and Open Science" or something?

[2017-03-01 20:35] hannahkane commented on #730
@beccaklam - I'm tempted to check the box for "Production matches comps" in the list above (except I do think the stuff in #738 needs to be resolved), but I feel like you're the right person to be checking that box.

Can you be the person to officially OK the design of the site before we push to production?

[2017-03-01 20:37] shaghdoosti commented on #749
Or 'Want more? Check out Mozilla Science.'

[2017-03-01 20:44] hannahkane commented on #749
I think that works.

@beccaklam and @lovegushwa - how do you feel about two of the three nav links taking the user off the site?

[2017-03-01 21:16] beccaklam commented on #730
@hannahkane Sounds good!

[2017-03-01 21:26] beccaklam commented on #749
@hannahkane @shaghdoosti @lovegushwa I think getting rid of the links entirely works, we can also do the 'Open Data Day' + 'Mozilla Science' option (I think 'Want more? Check out Mozilla Science.' may be too long of a name for a button/link) Here are two mock ups:
![open-data-no-links](https://cloud.githubusercontent.com/assets/20977376/23482001/87a0931c-fe9b-11e6-9fa5-3aaf698031e8.png)
![open-dat

[2017-03-01 21:29] beccaklam commented on #753
I'll leave this up to Scott but I don't think people would sign multiple times/don't think hackers would target our site? @hannahkane cc: @ScottDowne @lovegushwa

[2017-03-01 21:59] hannahkane commented on #749
I think I'd prefer the first option, bc I don't think the connection to Mozilla Science is clear. (If we want to promote MozSci, I think we could do that a different way, but probably not within the time frame.)

@shaghdoosti - this is your call, though.

[2017-03-01 22:01] ScottDowne commented on #753
So I do need to make sure the button isn't clickable if it's currently submitting.

However, if people come back here and try submitting multiple times, basket takes care of it (in our case basket takes care of it when we do the import). It'll not send out a double opt in if that email already exists within the system and is double opt in'ed already, if it's not, they get another email. On top of

[2017-03-01 22:07] hannahkane commented on #729
closing since ShareThis covered elsewhere

[2017-03-01 22:07] #729 closed, assigned to ScottDowne

[2017-03-01 22:14] hannahkane commented on #753
k. Feel free to close this ticket, @ScottDowne.

[2017-03-01 22:19] TheoChevalier commented on #720
let’s close

[2017-03-01 22:19] #720 closed, assigned to nobody

[2017-03-01 23:07] hannahkane opened #756 "Deployment checklist and Emergency Response plan"
Since we're launching this campaign on a weekend, it seems like we should have both a deployment checklist and an emergency response plan in place. Here are some initial thoughts.

## Deployment Checklist:

### Wednesday
 - [X] Staging site deployed
 - [X] update the DNS settings, but disable the CloudFront CDN from serving the site (@cade - this is already done, right?)
 - [X] begin QA

### Thurs

[2017-03-02 01:13] cade commented on #756
Try as you may to fix the @ mentions, you still won't be rid of me...

Also, weekend rollouts? I hope Mozilla's dropping that time-and-a-half pay on y'all.

![weekend-deployments](https://cloud.githubusercontent.com/assets/3403/23488577/330d80d6-feb3-11e6-849b-496500279d52.gif)

[2017-03-02 01:20] ScottDowne commented on #756
lol, @cade strikes again.

[2017-03-02 01:23] ScottDowne commented on #756
@hannahkane Yeah, I won't be too far from my email/computer this weekend.

[2017-03-02 01:39] hannahkane commented on #756
sorry, @cade. :) Are you keeping track? I hope I'm not the worst offender.

[2017-03-02 01:47] cade commented on #756
The 🍺 list grows...

[2017-03-02 05:12] ScottDowne commented on #749
I'm changing the "copyright" label to "open data day" because that's just a plain oversight.

We can keep this open to figure out how to optimize the nav.

[2017-03-02 05:17] ScottDowne commented on #737
Strings have also been updated in open data day petition site. I think we can close.

[2017-03-02 05:17] #737 closed, assigned to beccaklam

[2017-03-02 05:17] ScottDowne commented on #737
@beccaklam I missed your arvo comment. I think we should probably but that in a new ticket just to drop the history in this ticket.

[2017-03-02 05:18] ScottDowne commented on #751
Removed.

[2017-03-02 05:18] #751 closed, assigned to ScottDowne

[2017-03-02 05:18] ScottDowne commented on #754
Updated.

[2017-03-02 05:18] #754 closed, assigned to ScottDowne

[2017-03-02 05:31] ScottDowne commented on #755
I couldn't reproduce. Does it happen each time you try to fill out the form, or only sometimes?

[2017-03-02 05:38] ScottDowne commented on #753
I added a little bit of logic just to make sure the button can only be clicked once, and submit once, until it succeeds or fails.

I think we can call this closed.

[2017-03-02 05:38] #753 closed, assigned to ScottDowne

[2017-03-02 11:53] WillatMozFdn opened #757 "Hide disclosure for people coming to the Open Data Day form direct from email"
EDIT:

Per stand-up discussion: we're going with [option two](https://github.com/MozillaFoundation/Advocacy/issues/757#issuecomment-283716562) from the comment below, since all of our petitions should be treated as email collections.

Scott's TODO:
 - [x] add query string to url that will go out in the email; give users a view of the site that doesn't have the email sign-up language
 - [x] add che

[2017-03-02 16:13] vojtechsedlak opened #758 "Implement GA on Open Data Petition Site"
Detailed description of work: Implement GA tracking script + add events for form submit.

*Start date: March 2, 2017*
*Due date: March 2, 2017*

CC: @ScottDowne @hannahkane

[2017-03-02 16:15] vojtechsedlak opened #759 "QA: Implement GA events on ChangeCopyright.org site"
Detailed description of work: Ensure proper tracking ID and form submit events are added.

*Start date: March 2, 2017*
*Due date: March 2, 2017*

CC: @ScottDowne @hannahkane

[2017-03-02 16:22] stephaniemcv commented on #756
@hannahkane I'm flying that day, so it'll be spotty. @drewmoto, would it be possible to back me up?

[2017-03-02 16:35] hannahkane commented on #758
thanks, @vojtechmzl. OK to assign this ticket to you?

[2017-03-02 16:36] hannahkane commented on #755
Sorry, realized this is related to the auto-form fill feature. Not specific to the app. Closing.

[2017-03-02 16:36] #755 closed, assigned to ScottDowne

[2017-03-02 16:36] hannahkane commented on #750
@shaghdoosti - do you have thoughts on this? If you're not concerned, feel free to close this ticket.

[2017-03-02 16:38] hannahkane commented on #749
@shaghdoosti - do you want to make a final call on this? Should we remove the two navigation items entirely, or provide a link to Mozilla Science?

[2017-03-02 16:38] ScottDowne commented on #759
I've used existing code for this, so just need to plug the ga account creds into Heroku.

[2017-03-02 16:41] vojtechsedlak commented on #759
I was actually just going to file a PR on both repos with changes to the index.js file, which currently has the UA ID for our donate site, and with custom GA event added to the signup-form.js component. Can I go ahead and do that?

[2017-03-02 16:42] hannahkane commented on #740
Thanks, @shaghdoosti. Closing this ticket now.

[2017-03-02 16:42] #740 closed, assigned to shaghdoosti

[2017-03-02 16:44] hannahkane commented on #741
@shaghdoosti - can you provide copy for the copyright campaign shares, please?

[2017-03-02 16:46] hannahkane commented on #739
Hey @natalieworth - do you have an estimate for when these will be finalized? Do we need to schedule a time to talk through the options?

[2017-03-02 16:48] hannahkane opened #760 "Implement ShareProgress"
I don't *think* this is a duplicate, and just want to track.

[2017-03-02 16:48] hannahkane commented on #760
Copy is here: https://docs.google.com/document/d/1pqJN23mj3jeNJmdiQr97Q8vqrXQ_0kAPgfo0lqgMaHo/edit

[2017-03-02 16:49] shaghdoosti commented on #750
I think we should leave as is. Thanks!

[2017-03-02 16:49] #750 closed, assigned to shaghdoosti

[2017-03-02 16:50] shaghdoosti commented on #757
This is a really good point. @ScottDowne is this possible?

[2017-03-02 16:51] shaghdoosti commented on #749
Let's keep things simple and take it out.

[2017-03-02 16:51] ScottDowne commented on #759
Yup.

The events are started and here:

https://github.com/mozilla/iheartopendata.org/blob/master/src/mixins/signup.js#L13-L16
https://github.com/mozilla/iheartopendata.org/blob/master/src/mixins/petition.js#L13-L16
https://github.com/mozilla/copyright/blob/master/src/mixins/signup.js#L13-L16

Feel free to make changes to the values sent to the event. I took a guess.

[2017-03-02 16:56] hannahkane commented on #749
Cool. Updated title and original comment to reflect decision.

[2017-03-02 16:58] vojtechsedlak commented on #759
Oh cool. Yeah those look great. For the property ID, the copyright site should have UA-49796218-44. Open Data site petition ID is UA-87658599-5.

Let me know if there is anything else I can help with. Once it's implemented, I will do a quick QA.

Thanks @ScottDowne!

[2017-03-02 17:00] ScottDowne commented on #757
There is no technical reason why we couldn't do this.

[2017-03-02 17:02] cadecairos commented on #756
Yes!

https://github.com/mozillafoundation/mofo-devops/#on-call-emergencies

I'll be available to respond to any incidents, all weekend.

[2017-03-02 17:07] ScottDowne commented on #759
@vojtechmzl did an issue for this get tagged open data day too?

[2017-03-02 17:09] vojtechsedlak commented on #759
I filed a separate ticket #758 for the Open Data site.

[2017-03-02 17:13] hannahkane commented on #757
Thanks for raising this. It's related to another issue that came up today about how to handle forms where we're doing two distinct actions (petition + email collection).

It sounds like we need to do one of two things:

1) Treat this as purely a petition site—that is, not use it to collect new emails. In this case, I believe we'd remove the language related to email signups, and wouldn't add any n

[2017-03-02 17:24] ScottDowne commented on #749
This update is building on staging now.

[2017-03-02 17:24] #749 closed, assigned to ScottDowne

[2017-03-02 17:31] shaghdoosti commented on #757
Hey -

Let's discuss at the stand. But the first option isn't tenable - there are very few campaign moments when a petition isn't also a sign-on. We should figure out how to avoid taking people already on our list through signing up again - but generally with a petition we want anyone who isn't on the list to be able to join the movement.

[2017-03-02 17:48] natalieworth commented on #739
@hannahkane Final image file for this is here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0Q0h4UzRGTFVyM0k
Background grey hex code is #F1F1F2 if needed for dev

[2017-03-02 18:52] hannahkane commented on #757
Updated original comment to reflect discussion at stand.

[2017-03-02 18:55] hannahkane commented on #752
Live in staging, so closing

[2017-03-02 18:55] #752 closed, assigned to ScottDowne

[2017-03-02 18:55] hannahkane commented on #738
Live in staging, so closing (please reopen if that's wrong)

[2017-03-02 18:55] #738 closed, assigned to ScottDowne

[2017-03-02 18:59] hannahkane commented on #739
thanks, @natalieworth. Will there be a separate asset for the social share? I added a checklist to the original comment of this ticket to clarify.

[2017-03-02 19:06] natalieworth commented on #739
@hannahkane yah! Just working on that now and will add here asap for Share progress/ social.

[2017-03-02 19:07] ScottDowne commented on #757
removing the checkbox should be on staging very soon: https://iheartopendata.mofostaging.net/en-US/?subscribed=1#get-involved

I'll close this once I confirm it's working on staging.

[2017-03-02 19:11] ScottDowne commented on #757
Done and done.

[2017-03-02 19:11] #757 closed, assigned to ScottDowne, hannahkane, shaghdoosti

[2017-03-02 19:38] beccaklam commented on #730
Some design QA:

- [ ]

[2017-03-02 20:11] WillatMozFdn commented on #730
@ScottDowne -- can you let me and @stephaniemcv know the two versions of the URL (one for people we're driving there via email, vs. one for everyone else) as soon as they're ready?  We'll need the former tomorrow, of course, to build the email itself...)

[2017-03-02 20:15] shaghdoosti opened #761 "Checkboxes"
@hannahkane @ScottDowne

Here are the two check boxes we should have on both petition pages (copyright and open data)

![screen shot 2017-03-02 at 12 14 19 pm](https://cloud.githubusercontent.com/assets/13626384/23525034/e89d1c66-ff41-11e6-8ad7-5867823f8d21.png)
![screen shot 2017-03-02 at 12 14 11 pm](https://cloud.githubusercontent.com/assets/13626384/23525035/e8a2f6d6-ff41-11e6-97d7-1154960cc56

[2017-03-02 20:15] shaghdoosti commented on #761
Just a clarifying point - both checkboxes should be unchecked.

[2017-03-02 20:33] natalieworth commented on #739
@lovegushwa @beccaklam @hannahkane @HPaulJohnson  I have 2 options that we can A/B test:

1. Copy: You paid for it, you should be able to see it. Show your support for public research data here.
![open-data-social-shares-v1-03](https://cloud.githubusercontent.com/assets/14876567/23525665/16b6921a-ff44-11e6-8cfc-6827ca2f4432.jpg)

2. Copy: TBD/ Did you know you’re one of the biggest funders of publ

[2017-03-02 20:35] beccaklam commented on #730
@hannahkane @ScottDowne @lovegushwa
Some design QA post-launch:

**Priority 1**

- [x] view port content overflows, needs to max out opposed to overflow
<img width="1280" alt="screen shot 2017-03-02 at 2 52 05 pm" src="https://cloud.githubusercontent.com/assets/20977376/23525840/d9539da4-ff5d-11e6-8cf1-40f5ff5074ec.png">

- [x] Widen the container for the sign up form, it's getting a bit too narro

[2017-03-02 20:47] HPaulJohnson commented on #739
Love these, and a great test. I don't think Share Progress supports .gif format, so we should use static version for that, but we can/should test .gif version in our organic social posts to promote open data day.

[2017-03-02 21:01] ScottDowne commented on #761
It's on staging now: https://iheartopendata.mofostaging.net/en-US/#get-involved

Feel free to close if this works as expected.

[2017-03-02 21:05] shaghdoosti commented on #761
Thank you this is perfect.

[2017-03-02 21:05] #761 closed, assigned to nobody

[2017-03-02 21:05] hannahkane commented on #761
@ScottDowne Scott - should the user preference re: mailing be showing up in the google sheet? If this gets to SF some other way, then this is +1 from me.

[2017-03-02 21:09] beccaklam commented on #746
@caltrider
Designs are here:
https://redpen.io/p/qnef5874057dc5d52e <-- redpen for comments
![artboard 7](https://cloud.githubusercontent.com/assets/20977376/23527073/75d187fa-ff62-11e6-822c-c4df441cf8c8.png)
![artboard 4](https://cloud.githubusercontent.com/assets/20977376/23527074/75dc1260-ff62-11e6-889e-429894087987.png)
![artboard 3](https://cloud.githubusercontent.com/assets/20977376/23527078

[2017-03-02 21:53] ScottDowne commented on #761
@hannahkane Yeah, the signatures go into the sheets, and signups go directly into salesforce, then when we migrate, any signatures would merge with the mailing list signup, and any signatures no already in salesforce, get added in as just signatures, and not signups.

[2017-03-02 21:55] hannahkane commented on #761
Cool. thanks!

[2017-03-02 22:08] shaghdoosti commented on #761
One last thing - @ScottDowne can you update where the privacy policy links to? It should link to here: https://www.mozilla.org/en-US/privacy/websites/

[2017-03-02 22:22] beccaklam commented on #730
@hannahkane @ScottDowne  I'm checking off my Design QA check box. The ONLY thing that I feel is important to get done before launch or soon after is fixing the view port content overflow issue (the first item outlined above). Otherwise, I feel like how the site looks right now is good enough to ship to production. There's still work to do as I've outlined above, but these things can be tackled aft

[2017-03-02 22:48] ScottDowne commented on #760
We have a placeholder link: http://share.mozilla.org/352/179206

I fudged some of it because I couldn't figure out all of share progress too quickly, but we have a link we can QA and implement now.

I also implemented the link. So should be on staging very soon.

[2017-03-02 22:57] ScottDowne commented on #761
Cool, that's building now too.

[2017-03-02 23:02] natalieworth commented on #739
@ScottDowne Have 2 options for the Share progress here (1200 x 628px):
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0TE1BUEVTTl94Vms

[2017-03-02 23:19] hannahkane commented on #760
- [X] Twitter and FB worked as expected.
 - [ ] Email was confusing. It says to "copy and paste the text below" and the text below is "Subject: https://iheartopendata.org?sp_ref=278335100.352.179206.e.0.2&source=email"
 - [ ] Not sure there's anything we can do about this, but the Han Solo graphic has no context. Is that okay?
![screen shot 2017-03-02 at 3 16 31 pm](https://cloud.githubusercontent

[2017-03-02 23:20] hannahkane commented on #760
It's kind of like we're saying "You're almost done!" And Han is like, "Me? I'm almost done?" :)

[2017-03-02 23:21] ScottDowne commented on #760
One your second point with email, I couldn't actually find the email text in the doc when I last looked, so it's actually currently blank.

[2017-03-02 23:22] hannahkane commented on #760
Copy is at the top of this doc: https://docs.google.com/document/d/1pqJN23mj3jeNJmdiQr97Q8vqrXQ_0kAPgfo0lqgMaHo/edit

[2017-03-03 16:59] hannahkane commented on #739
Closing this. Nice work, @natalieworth!

[2017-03-03 16:59] #739 closed, assigned to natalieworth

[2017-03-03 16:59] hannahkane commented on #758
This is done, right? Can we close?

[2017-03-03 17:01] hannahkane commented on #736
Done for Open Data, so moving to next milestone to complete for Copyright.

[2017-03-03 17:14] shaghdoosti opened #762 "Privacy on the footer -"
In the footer of the page - can we change the text 'privacy policy' to 'privacy'. As per legal's request.

@hannahkane @ScottDowne

Thanks!

[2017-03-03 17:26] HPaulJohnson commented on #760
RE: the main image (hans solo in the split above), the subhead text ("Your action has been submitted. Now multiply your impact by telling your friends.") is editable to add context. Note, that whatever text we use will need to work with both versions of the share image we are testing.

[2017-03-03 17:35] shaghdoosti commented on #743
Here's the copy for the copyright share. @HPaulJohnson will you have a look?

https://docs.google.com/document/d/1qSiHHO3talrhdr2HKI2LSnhazkcqE-1B94O7WA_MHmo/edit

@hannahkane I'm not sure how we tackle localisation on this.

S.

[2017-03-03 17:42] ScottDowne commented on #758
Yup, I have confirmed with @vojtechmzl and he said it's working.

[2017-03-03 17:42] #758 closed, assigned to vojtechsedlak

[2017-03-03 18:04] ScottDowne commented on #730
Here is the link to test turning off signup https://iheartopendata.org/en-US/?subscribed=1#get-involved

[2017-03-03 18:06] TheoChevalier commented on #730
Shouldn’t we rewrite the URL once it’s loaded? People could share this one on social media, right?

[2017-03-03 18:15] WillatMozFdn commented on #730
In theory, someone *could* manually copy the URL from their address bar
before they actually sign on the right hand side ... but I think that will
be pretty rare/edge case behavior.  The share link down at the bottom, and
the post-signing share functions (both of which are ShareProgress) do not
include that querystring ... so I'm not very worried about it.

That being said, if it's an easy thing t

[2017-03-03 18:18] ScottDowne commented on #760
Updated twitter. I think we can close.

If you find anything else share progress related, might as well open a new ticket.

🚀

[2017-03-03 18:18] #760 closed, assigned to ScottDowne

[2017-03-03 18:27] ScottDowne commented on #762
Update is building.

Another thing I noticed, copyright also has this as "Privacy Policy" and that was translated.

We should fix that in copyright too, so I'll switch the labels because it's done for open data day.

@TheoChevalier ^^

[2017-03-03 18:28] TheoChevalier commented on #762
@ScottDowne hold on, I’m talking with @shaghdoosti about it, it migh change again

[2017-03-03 18:28] hannahkane commented on #730
Ok, I've tested the following:
 - [x] if you check the email updates checkbox, you get the double opt-in email
 - [x] if you don't check the email updates checkbox, you don't get the double opt-in email (at least not within 10 minutes)
 - [x] if you use the qs version, you *don't* get the email updates checkbox

I can't check what's happening in SF, but I'm going to call this ticket good. Will mov

[2017-03-03 18:28] #730 closed, assigned to hannahkane, stephaniemcv, beccaklam, WillatMozFdn

[2017-03-03 18:29] hannahkane opened #763 "Open Data / Copyright Design QA"
From @beccaklam

Some design QA post-launch:

**Priority 1**

- [x] Mobile needs a sticky button that sits at the bottom of the page like copyright v2. Button will direct user to form at the bottom of the page

**Priority 2**
- [x] Change footer links to Fira to be consistent with mozilla.org

- [x] Add in functionality (media query for view port?) so that tablet also has a fixed 'cover-page' wher

[2017-03-03 18:31] ScottDowne commented on #762
@TheoChevalier That's cool, it's already pushed out. However, the cost to changing this is low because it's not translated, so I'm happy to change it up again when you need it.

[2017-03-03 18:32] shaghdoosti commented on #762
Yep - just for context - everything on the open data site is final.

Abigail wants to double check the language (checkboxes and privacy policy) on the copyright page with EU council. There's a chance that will change.

@hannahkane (for reference.)

[2017-03-03 18:35] hannahkane commented on #756
Updated original comment to reflect the latest plan.

[2017-03-03 18:36] TheoChevalier commented on #743
Unless @ScottDowne has more knowledge than me on this, things in ShareProgress can’t be localized :/ It looks hosted on our side, but I don’t really know how it works

[2017-03-03 18:38] drewmoto commented on #756
@stephaniemcv I can back you up. What days specifically and what are the 'worst case scenarios' I am keeping an eye out for (and hopefully have a fix ready)?

[2017-03-03 18:38] shaghdoosti commented on #743
I think this merits a conversation on Monday.

[2017-03-03 18:42] hannahkane commented on #743
I believe we're creating different ShareProgress versions for each locale. @ScottDowne can say more.

[2017-03-03 18:53] ScottDowne commented on #743
@TheoChevalier yeah, so it's pretty low tech solution, and not great at all. We setup a share progress test using their UI for each locale. That gives a url, and we need to key each locale to a url, and store and swap that in the repo. These tools really don't like l10n.

I figure this solution wouldn't work at all if we had a donate level number of locales. In that situation, I think we'll see th

[2017-03-03 19:06] ScottDowne commented on #730
I'm hesitant to change the url once it's loaded, because what if someone who opened it from an email hits refresh after page load, for whatever reason? I think the question is which is less of a fringe case, and consider one of these options requires no action ;)

[2017-03-03 19:13] ScottDowne commented on #730
For future campaigns, and with how urls work, I think we should consider another strategy for targeting certain audiences.

Some long-winded, half-baked, brain-stormy ideas:

One idea I had was we don't hide or remove certain CTAs on certain versions, but just change how prominent they are in the UI. Let's use this campaign as the example. If instead of turning off the sign up checkbox, we add ano

[2017-03-03 19:20] TheoChevalier commented on #743
@ScottDowne alright, let’s do that. When you have a minute, could you show me where I will need to paste translations? Just as an example

[2017-03-03 20:24] ScottDowne commented on #743
Update, me and @TheoChevalier  walked through making multiple pages in share progress. We hit a potential snag.

Share progress' UI is not localized, just the content, from our tests. @HPaulJohnson does that sound right to you?

If that's the case, what we'll probably end up doing is using share progress for just English, and the other languages are going to use a static share page which won't be

[2017-03-03 23:26] HPaulJohnson commented on #743
@ScottDowne I just forwarded you an email thread I had from last Summer with Share Progress support about how to localize the UI too. Check it out and see if this solves this issue and/or let me know if you want me to help work through this with them.

[2017-03-06 12:06] TheoChevalier opened #764 "Create localized graphics for DPD survey results"
Hey @beccaklam here are the French and German translations for the DPD survey result graphics:

https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/results_graphics.lang&action=translate&show

Let me know if you have issues with any of the strings

[2017-03-06 16:39] beccaklam commented on #764
Designs are here:

German:
![artboard 1](https://cloud.githubusercontent.com/assets/20977376/23619392/810e4570-0261-11e7-99b9-a49d265e2f65.png)
![artboard 2](https://cloud.githubusercontent.com/assets/20977376/23619394/8110988e-0261-11e7-8832-462aafc839a4.png)
![artboard 3 copy](https://cloud.githubusercontent.com/assets/20977376/23619395/811505b8-0261-11e7-8b59-f041a9f458fd.png)
![artboard 3](htt

[2017-03-06 16:49] TheoChevalier commented on #764
Thank you @beccaklam! Swapped graphics in the localized blog posts

[2017-03-06 16:49] #764 closed, assigned to beccaklam

[2017-03-06 19:01] lovegushwa opened #765 "Privacy Survey Email Callout"
Create a callout for the privacy survey email.
290x290

@WillatMozFdn @caltrider can you suggest copy for this callout?

Example of prior callout in action:
![screen shot 2017-01-27 at 12 36 06 pm](https://cloud.githubusercontent.com/assets/12228435/23624148/938f4526-0259-11e7-98cb-5d418dd7dd40.jpg)

[2017-03-06 19:03] lovegushwa opened #766 "Copyright Campaign Email Callout"
Create a callout for the privacy survey email.
290x290

@WillatMozFdn @caltrider can you suggest copy for this callout?

Example of prior callout in action:

![screen shot 2017-01-27 at 12 36 06 pm](https://cloud.githubusercontent.com/assets/12228435/23624978/71c44ed4-025c-11e7-8c2c-288e43b8a154.jpg)

[2017-03-06 20:13] beccaklam commented on #765
@WillatMozFdn @caltrider @lovegushwa Here's a take on the call out:
![email-call-out](https://cloud.githubusercontent.com/assets/20977376/23627607/667be91a-027f-11e7-964c-5bc2b3c0da52.png)

[2017-03-06 20:23] caltrider commented on #765
@lovegushwa @beccaklam @WillatMozFdn

We could tweak this image:
![1c489764-026e-11e7-9373-19dddb0a9b3c](https://cloud.githubusercontent.com/assets/22063437/23627503/40cb1f9e-026e-11e7-91e5-8d2b6fb4a33a.png)

With this text:
Survey Says! (big headline)
We crunched the numbers and found some surprising results
Check them out

[2017-03-06 20:53] hannahkane commented on #756
We totally did this.

[2017-03-06 20:53] #756 closed, assigned to ScottDowne, cadecairos, stephaniemcv, shaghdoosti

[2017-03-06 21:22] beccaklam commented on #765
hey @caltrider we can work with the above idea ^ but we're also working with a small square box, something like 200x200px. Would you be able to make the copy shorter?

[2017-03-06 21:33] caltrider commented on #765
@beccaklam How about this:

Survey Says! (big headline)
See the surprising results.

[2017-03-06 21:51] beccaklam commented on #765
@caltrider Love it 👍

[2017-03-07 03:30] ScottDowne commented on #759
I think this got done today.

[2017-03-07 03:30] #759 closed, assigned to ScottDowne

[2017-03-07 03:31] ScottDowne commented on #719
We're likely doing this how we did the open data day signups.

[2017-03-07 03:31] #719 closed, assigned to ScottDowne

[2017-03-07 03:33] ScottDowne commented on #718
Moving this to cade.

@cadecairos You just need to make sure you hook this up on production like you did open data. Here is the line of code where we use hatchet. https://github.com/mozilla/copyright/blob/master/routes/signup.js#L15

Let me know if you need anything from me.

[2017-03-07 03:46] ScottDowne opened #767 "Implement share progress / Build Share page"
I didn't see an issue for the actual implementation.

We have a significant l10n worry here. The share progress UI is in English. We can provide translations for content, but not the UI. We have two options.

1. We can do what Paul got back from the share progress peeps: "Thanks for reaching out. We don't have an automatic feature to support localization currently. However, we can help with provid

[2017-03-07 03:55] TheoChevalier commented on #767
I share @ScottDowne’s concerns with 1, this will probably won’t scale with 25 locales (while prop 2. will), and even if we downscale the number of supported locales for share progress, maintenance won’t be easy. What if strings don’t fit in the UI? At first glance, using Firefox Devtools, I broke their UI with French translations. It’s been built with English in mind, sadly. There could be all kin

[2017-03-07 04:07] hannahkane commented on #767
Any downsides to option 2, aside from the obvious extra effort?

[2017-03-07 04:09] ScottDowne opened #768 "Implement privacy and signup checkboxes"
Right now the site has:

<img src="https://cloud.githubusercontent.com/assets/197334/23640995/f12e406e-02be-11e7-90b5-33ea35c765bf.png" width="300">

There was talks today in chat about changes needing to be made here. I think we should have this request tracked. We likely need two checkboxes. Looking similar to (but with different button copy):

<img src="https://cloud.githubusercontent.com/asset

[2017-03-07 04:19] ScottDowne commented on #767
Option 2 probably feels like more work, but my bet is option 1 is riddled with hidden costs.

[2017-03-07 15:20] beccaklam commented on #765
@caltrider @lovegushwa @WillatMozFdn Here is the e-mail graphic:
<img width="600" alt="email-call-out 2x" src="https://cloud.githubusercontent.com/assets/20977376/23662884/eeae35e6-031e-11e7-9a40-0e4c77062414.png">

[2017-03-07 15:26] beccaklam commented on #765
@caltrider @lovegushwa @WillatMozFdn Here is the e-mail graphic:
<img width="600" alt="email-call-out 2x" src="https://cloud.githubusercontent.com/assets/20977376/23663410/7e2a1c34-0320-11e7-8a69-fb91f6f7031f.png">

[2017-03-07 16:12] hannahkane commented on #767
We don't get the ShareProgress features for A/B testing, right? Or are you suggesting we build that in, with something like Optimizely?

[2017-03-07 16:16] TheoChevalier commented on #767
ShareProgress would be used for en-US only, so A/B testing can still be done in English (but not for the other locales). Once we know which version is the winning one in English, we will swap it out for all locales.

[2017-03-07 16:18] ScottDowne commented on #767
What Theo said.

I was also going to add we could do all this in optimizely too.

We could also use share progress to setup just buttons, and not pages, which can be implemented into our page, which can support AB testing though share progress. The issue with this is we still have the scale issue that theo mentioned.

[2017-03-07 16:25] #746 closed, assigned to natalieworth, beccaklam

[2017-03-07 17:28] hannahkane commented on #767
Got it; this all makes sense. I'd also vote for Option 2, with a localized Share page, and using EN ShareProgress test results to inform the other locales.

[2017-03-07 17:34] hannahkane commented on #768
Sorry if this isn't the right place to note this, but it seems that we'll likely need some special treatment of folks coming via the promotional email, as we did with the Open Data campaign. That might be more than hiding the email checkbox; it might be actually offering a different CTA (e.g. Share).

I believe that decision will be made during an email-focused meeting today at 10:30am PT.

[2017-03-07 17:55] ScottDowne commented on #762
@TheoChevalier Looks like we're going to go ahead with the change to make the footer link in copyright the same as open data.

I believe this is all inside the properties file. So should be simple, just needs to be translated, right?

[2017-03-07 18:13] hannahkane opened #769 "Deployment / Promotion schedule"
Hey @shaghdoosti @ScottDowne @lovegushwa @beccaklam @WillatMozFdn - does this reflect what we just talked about?

@TheoChevalier - does this localization schedule seem reasonable to you?

Design:
 - [x] Tuesday: Share page #770

Build
 - [x] Tues/Wed/Thurs: Share page #767
 - [x] Tues/Wed/Thurs: Checkboxes #768

Localize:
 - [x] Wed/Thurs (March 8, 9): Share page (#767) and Checkboxes (#768)

QA (

[2017-03-07 18:21] hannahkane opened #770 "DUE ASAP: Design for Share page"
As discussed in Stand, we'll need a design for a custom Share page or modal.

Copy for the shareable content will come from #741, but not sure we have copy for the page itself. @shaghdoosti?

[2017-03-07 18:24] hannahkane commented on #767
@ScottDowne - I updated the ticket title to reflect the two tasks this ticket morphed into, as per discussion in stand today. Would you rather have two different tickets?

[2017-03-07 18:26] shaghdoosti commented on #770
Here's the copy: https://docs.google.com/document/d/1qSiHHO3talrhdr2HKI2LSnhazkcqE-1B94O7WA_MHmo/edit

[2017-03-07 18:27] shaghdoosti commented on #770
If there's any other copy you need @ScottDowne @lovegushwa let me know.

[2017-03-07 18:28] hannahkane commented on #741
Copy in #770. Closing!

[2017-03-07 18:28] #741 closed, assigned to shaghdoosti

[2017-03-07 18:30] hannahkane commented on #731
Closing this.

[2017-03-07 18:30] #731 closed, assigned to ScottDowne, beccaklam

[2017-03-07 18:50] TheoChevalier commented on #770
I think we will at least need the main message in the page, something like “Thanks for signing up! Will you use one of the buttons below to spread the word about copyright reform?”

[2017-03-07 18:59] TheoChevalier commented on #762
@ScottDowne Roger that.  Just need to update the string and change the string ID, but I would like to push that at the same time as #768 (which should be coming today as well, right?)

[2017-03-07 19:17] shaghdoosti commented on #770
Great - I updated the google doc with a title for the page.

[2017-03-07 19:24] beccaklam commented on #765
@WillatMozFdn @lovegushwa @caltrider Hello, has it been decided which wording we're going with? @TheoChevalier needs the string so he can get it localized.

[2017-03-07 19:26] caltrider commented on #765
@lovegushwa @caltrider @TheoChevalier
I say go with the "Survey Says! See the surprising results" unless @WillatMozFdn has any objections to that.

[2017-03-07 19:31] WillatMozFdn commented on #765
yeah, I'm good with that!

One thing to raise, though ... that works really well in English b/c it's a
common term thanks to the TV show Family Feud.  (Will they get to 200
points and get the fat prize?)

But maybe we should stick with the straighter version, "See our Privacy
Survey results," for the DE and FR versions?  I'm just not sure how well
"Survey Says" will translate ....

 - Will

On Tue

[2017-03-07 19:31] hannahkane commented on #769
As per meeting with email team: we've decided this campaign doesn't require an email promotion, since the purpose is to collect new emails. Removing references to the "alternate version" in the checklist above.

[2017-03-07 19:32] TheoChevalier commented on #769
@hannahkane What’s the alternate version? Hard to answer without visibility of what’s coming :) Is it a complete copy change, just the CTA for people coming from email, or something else?

Otherwise, the rest look good to me. Note that as of now, we have 80% completion on the EU locales https://pontoon.mozilla.org/projects/copyright-campaign/

[2017-03-07 19:33] hannahkane commented on #768
Confirming that the "you can email me" checkbox is required to be checked. If user doesn't check it, we should display an error and not submit the form.

[2017-03-07 19:35] TheoChevalier commented on #768
@shaghdoosti Any update from legal on the copy?

[2017-03-07 19:36] ScottDowne commented on #767
We can keep them as one for now.

[2017-03-07 19:39] caltrider commented on #765
@WillatMozFdn TIL, there are French and German versions of Family Feud.  I wonder if they are as trashy and awesome as our American version?  Also, I wonder if what they say instead of "Survey Says!".  But yes, good point. If that's not something that translates, we should go with the simpler "See our privacy survey results". @TheoChevalier @beccaklam

[2017-03-07 19:42] hannahkane commented on #769
@TheoChevalier - Was going to be a version of the site that we'd make visible to people coming from the email campaign, with potentially a different CTA (other than "sign up"). But in a very recent discussion, we decided to simply not do an email campaign around this, and instead focus our outreach on attracting new email sign-ups. So...no alternate version needed after all.

[2017-03-07 19:47] TheoChevalier commented on #769
@hannahkane Ok, thanks for the update. So, if we’re not rewriting the entire copy, everything looks good to me.

[2017-03-07 19:51] TheoChevalier commented on #765
I know the French version of the show, but I’m not sure there’s such a thing in it… Or if there is, it’s not known by everyone. So yeah, I’ll probably just use the simpler version for localization, but feel free to keep this one for English. Does that sound good?

[2017-03-07 19:53] caltrider commented on #765
@TheoChevalier that works for me. thanks.

[2017-03-07 20:13] ScottDowne commented on #726
This landed today, and is live here: https://changecopyright-org-staging.herokuapp.com/en-US/resources

Issues or feedback can be filed in new issues.

[2017-03-07 20:13] #726 closed, assigned to ScottDowne

[2017-03-07 20:25] hannahkane opened #771 "Open Data Day impact report and follow-up actions"
@vojtechmzl and I will work on a deck to summarize the impact as compared to goals and objectives.

Should include:
 - [x] Goals and objectives of campaign; analysis of whether they were met
 - [x] Impact, including:
   - [x] Signatures
   - [x] New emails
   - [x] Shares
   - [x] Analysis of traffic patterns

Other potential follow-up actions:
 - [x] Schedule retrospective
 - [ ] What are the eng

[2017-03-07 20:49] natalieworth commented on #766
@WillatMozFdn @caltrider is there copy for this?

[2017-03-07 21:20] WillatMozFdn commented on #766
Hey @natalieworth  -- sorry, I'm confused ... do you mean for the Copyright **story collection** email, where we're asking people for their stories about copyright on a surveygizmo form?  (I'll have to look into that.)  However, if you're talking about the copyright petition-ish campaign -- we're actually not going to send email on that one, all the traffic to the site will be snippet- and social-

[2017-03-07 21:24] TheoChevalier commented on #766
If there is something else to localize for the copyright story collection email, I need to know too. Next time we should include those strings in the initial copy doc, it’s getting late for l10n.

[2017-03-07 21:35] natalieworth commented on #766
Hey @WillatMozFdn , oh I meant copy for the email callout? Do we need an email callout design for this campaign? Here's an example from the last one I made:
<img width="399" alt="screen shot 2017-03-07 at 1 33 48 pm" src="https://cloud.githubusercontent.com/assets/14876567/23678931/deefe93a-033a-11e7-9c79-2b8d48b7eff2.png">
Sorry, didn't mean to confuse you :)

[2017-03-07 21:42] WillatMozFdn commented on #766
yeah, basically, have we created any graphics to go along with this copy ... https://docs.google.com/document/d/1L6A3PGZaXykyCyEg05oP3x9UG-cAvD8p0qU27RGFK9o/edit ... does anyone remember making callout boxes that say "share your story" -- ??

[2017-03-07 21:57] natalieworth commented on #766
@WillatMozFdn Is it good to start on a graphic for this or does copy for teh call-out still have to be approved?

[2017-03-07 22:18] beccaklam commented on #770
@TheoChevalier @shaghdoosti @hannahkane @lovegushwa @ScottDowne here are some mockups for the thank you page:
https://redpen.io/p/jgf786c9179496b8b4 <-- redpen for comments
@HPaulJohnson Can you look over the copy for this share page?
Desktop:
![desktop](https://cloud.githubusercontent.com/assets/20977376/23680137/29727a82-0358-11e7-9c08-fafe5ef30442.png)

Tablet:
![tablet portrait copy](https://c

[2017-03-07 22:21] beccaklam opened #772 "Brainstorming for Healthy/Unhealthy Website"
Detailed description of work:
Continue thinking of ideas for healthy/unhealthy internet website.

*Start date: March 8 2017*
*Due date: March 9, 2017*

CC: @lovegushwa

[2017-03-07 22:27] hannahkane commented on #770
WFM! Thanks, @beccaklam.

[2017-03-07 22:36] WillatMozFdn commented on #766
Let's get started and no, we don't need any special approvals for this.
Firmly in the domain of stuff that Jen, Steph or I can create.

How about ... "Share your copyright story" -- ??

Plain, but will do the job, I think?

 - W

On Tue, Mar 7, 2017 at 4:58 PM, Natalie Worth <notifications@github.com>
wrote:

[2017-03-07 22:39] WillatMozFdn opened #773 "Replace logo on donate page"
Detailed description of work: Get our new logo/wordmark onto https://donate.mozilla.org/ .  This will take some careful design; Scott and I looked at it and cannot figure a way to do this easily and still stay in brand guidelines.

*Start date: March 8, 2017*
*Due date: March 22, 2016*

(due date not firm)

CC: @beccaklam @lovegushwa

[2017-03-07 23:12] hannahkane opened #774 "QA: broken link on Resources page"
The link to "Mozilla position on the Commission proposal for a directive on copyright in the digital single market" goes to a folder on Google drive. Should it go to a particular file?

[2017-03-07 23:37] TheoChevalier commented on #766
/me grabs his French localizer hat:

French: "Racontez votre anecdote sur le droit d’auteur"
Shorter version if it’s too long "Votre anecdote sur le droit d’auteur" (Your copyright story)

[2017-03-08 00:42] HPaulJohnson commented on #770
Looks good @beccaklam.

What do you think about dropping the "share by," "post to," and "share on" copy and just using the icons or "email," "facebook," "twitter". I think it is clear enough to people what we are asking them to do here and the fewer words the better.

[2017-03-08 01:46] natalieworth commented on #743
@lovegushwa @beccaklam Have 2 options based on feedback from Yuliya when we were discussing brand stuff today. My preference is the V2. If it's good to go, we can implement on the site.
V1:
![copyright-header-v1](https://cloud.githubusercontent.com/assets/14876567/23686362/07ca9468-035e-11e7-8e94-9fd5817f8320.jpg)

V2:
![copyright-header-v2](https://cloud.githubusercontent.com/assets/14876567/2368

[2017-03-08 01:48] natalieworth commented on #743
Files for these are in here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0cFI5bGhVcXlDY3M

[2017-03-08 01:50] natalieworth commented on #743
@lovegushwa @beccaklam Social share options:
V1:
![copyright-social-02](https://cloud.githubusercontent.com/assets/14876567/23686449/86879d64-035e-11e7-84db-a8a967f039a6.jpg)

V2:
![copyright-social-03](https://cloud.githubusercontent.com/assets/14876567/23686450/8688e278-035e-11e7-87d6-00a3adbc1b4d.jpg)

[2017-03-08 04:58] ScottDowne commented on #768
Dual checkboxes, without copy are on staging.

[2017-03-08 05:07] shaghdoosti commented on #768
It should be the same copy as open data.

[2017-03-08 05:11] ScottDowne commented on #768
Yup. Just waiting for it to go through l10n then should be good to go.

[2017-03-08 14:18] beccaklam commented on #770
That work, I'm assuming we're just taking the buttons from share progress?

[2017-03-08 14:29] TheoChevalier commented on #770
I’ve exposed the strings for localization

[2017-03-08 14:29] TheoChevalier commented on #768
Done, I’ve exposed the strings for localization

[2017-03-08 14:29] #768 closed, assigned to ScottDowne

[2017-03-08 14:30] TheoChevalier commented on #762
I’ve exposed the string for localization

[2017-03-08 14:30] #762 closed, assigned to ScottDowne

[2017-03-08 14:43] beccaklam commented on #770
@ScottDowne @hannahkane @HPaulJohnson @TheoChevalier Small icon version:
The buttons will be generated using share progress using their create new share buttons feature.
![desktop](https://cloud.githubusercontent.com/assets/20977376/23708305/811e6b3e-03e3-11e7-9170-f64adbdcb144.png)
![tablet portrait copy](https://cloud.githubusercontent.com/assets/20977376/23708307/812176c6-03e3-11e7-98fc-4d45256

[2017-03-08 15:05] ScottDowne commented on #774
I can confirm that's the correct link that was in the google doc. Who should we cc to get an updated link?

[2017-03-08 15:38] hannahkane commented on #774
cc @Melechuga ^

[2017-03-08 17:38] hannahkane commented on #770
Nice. Closing this ticket.

[2017-03-08 17:38] #770 closed, assigned to beccaklam

[2017-03-08 17:38] hannahkane commented on #767
See #770 for design.

[2017-03-08 17:39] natalieworth commented on #766
@lovegushwa @beccaklam Copyright callout is here https://redpen.io/gme2505b258497553d
If it's good to go I'll drop the google drive link in here.
@WillatMozFdn What languages do we need localized for this one?

[2017-03-08 17:41] WillatMozFdn commented on #766
French and German ... those are the only 2 languages into which we
localized the original survey.

Thanks for asking!

 - W

On Wed, Mar 8, 2017 at 12:39 PM, Natalie Worth <notifications@github.com>
wrote:

[2017-03-08 17:42] natalieworth commented on #743
@lovegushwa @beccaklam Share image is in here: https://redpen.io/p/ynac0cec7127db9ae7
If there's no changes I can drop the link in here

[2017-03-08 17:51] ScottDowne commented on #724
There is something I want to make sure I don't forget.

The site has a couple places that need to use the page url (metrics, signup) for tracking reasons. So:

- [x] Ensure urls for tracking and signup are correct and match the production url.

[2017-03-08 18:37] natalieworth commented on #743
@ScottDowne have the header image here https://drive.google.com/file/d/0B20-0lpP23c0cnk2ZUIyelZ0WjA/view

[2017-03-08 19:59] TheoChevalier commented on #766
@natalieworth And here is German "Erzählen Sie Ihre Geschichte zum Urheberrecht"

[2017-03-08 20:01] TheoChevalier commented on #765
@beccaklam Here are the translations:
German: "Lesen Sie die Ergebnisse unserer Datenschutzumfrage"
French: "Découvrez les résultats surprenants de notre sondage"

[2017-03-08 21:17] ScottDowne commented on #767
Just a small update. We have a stubbed share page, and we also have share progress in English.

i just need to add buttons for native share. Then we can close.

[2017-03-08 21:23] ScottDowne commented on #771
- [ ] Deliver the sheet data to life cycle marketing team to get it migrated into Salesforce.

[2017-03-08 21:52] hannahkane commented on #736
@shaghdoosti - do you think we can close this ticket? Has the Copyright site passed legal review?

[2017-03-08 22:05] hannahkane commented on #724
Updated the first comment in this ticket to reflect what I know of the current state of QA. Added @stephaniemcv @beccaklam @ScottDowne and @TheoChevalier as responsible for certain aspects of QA. Let's not give Chris the OK to push the button on the url switch until everyone here has signed off.

[2017-03-08 23:51] natalieworth commented on #766
Thanks for the translations @TheoChevalier
@WillatMozFdn I've got the versions exported at 1x and 2x here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0bldacFNGWllGTm8
cc @stephaniemcv

Let me know if you need anything else for these! THanks :)

[2017-03-08 23:56] #748 closed, assigned to lovegushwa, natalieworth

[2017-03-08 23:57] natalieworth commented on #743
Final social file here:
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0Vzk2Wlg2aVh0YTQ

[2017-03-08 23:57] #743 closed, assigned to natalieworth

[2017-03-09 14:53] beccaklam commented on #765
@TheoChevalier @WillatMozFdn @caltrider @lovegushwa
Here are the localized e-mail call outs:
<img width="600" alt="privacy-blog-callout-de" src="https://cloud.githubusercontent.com/assets/20977376/23755419/489a081a-04ae-11e7-9fa3-47de49db679f.png">
<img width="600" alt="privacy-blog-callout-fr" src="https://cloud.githubusercontent.com/assets/20977376/23755418/486a776c-04ae-11e7-8520-0e893117400e.p

[2017-03-09 16:11] mathjazz opened #775 "Replace font on the EU Copyright Campaign site"
The [Arvo font](https://www.fontsquirrel.com/fonts/arvo) used on the EU Copyright Campaign site does not support many (most?) of the European languages.

The following 5 localizations appear broken:
https://changecopyright-org-staging.herokuapp.com/sl/
https://changecopyright-org-staging.herokuapp.com/sk/
https://changecopyright-org-staging.herokuapp.com/lt/
https://changecopyright-org-staging.her

[2017-03-09 16:16] Melechuga commented on #774
Hey @hannahkane, I mentioned this in the google doc and it was suggested that we could host this?
The[ 1-pgr is here](https://drive.google.com/a/mozilla.com/file/d/0BybHRPPm37TJS0R6cFRpa0x5SmdGWk82YjN2M1Bla19hN3hZ/view?usp=sharing
) (not sure what happened with the link); also updated in the [Google Resources page](https://docs.google.com/a/mozilla.com/document/d/1oH0AHjP_SpCtatrmPxkOEJDzz8sUWQ_P5

[2017-03-09 16:24] hannahkane commented on #774
I think we just need to change the link. I remember suggesting we could host it, but is there anything wrong with linking to a google hosted file?

[2017-03-09 16:39] shaghdoosti commented on #736
I would say yes. Closing now.

[2017-03-09 16:39] #736 closed, assigned to nobody

[2017-03-09 17:06] TheoChevalier commented on #775
Thanks again for filing that, @mathjazz, definitely something to fix.

https://changecopyright-org-staging.herokuapp.com/bg
https://changecopyright-org-staging.herokuapp.com/ro
Have issues, too.

Both Fira Sans Condensed and Arvo are broken, and it seems the fix we have for Fira Sans Condensed for `cs` locale does not even work? https://github.com/mozilla/copyright/blob/master/src/pages/index.js#L

[2017-03-09 17:11] shaghdoosti commented on #771
Who is responsible for this?

[2017-03-09 17:21] hannahkane commented on #771
@shaghdoosti - are you asking about the migration to Salesforce in particular or the whole thing? I filed this ticket, but wasn't really sure who was responsible for the various pieces of follow-up.

@ScottDowne - are you responsible for getting the sheet data to marketing? I think we need to answer the question about what we're doing with the site / ongoing data collection first. @shaghdoosti - a

[2017-03-09 19:56] ScottDowne commented on #767
Should be done now: https://changecopyright-org-staging.herokuapp.com/de/share

Closing.

Any issues found should be filed in new tickets.

🚀 🎉 🎈

[2017-03-09 19:56] #767 closed, assigned to ScottDowne

[2017-03-09 20:45] stephaniemcv commented on #771
Just FYI, migrating the signatures into Salesforce is going to happen Q2 Sprint 1, (21 Mar 2017-04 Apr 2017) along with the work on Basket so we can flow in petition data directly without putting it in a sheet. This will be our interim solution until we get a platform setup (Soapbox or other?).

Looking forward to the retrospective.

[2017-03-09 22:51] WillatMozFdn opened #776 "Small typos in one of the German blog graphics for DPD"
https://cdn-images-1.medium.com/max/1000/1*Vjv68KFWe3JfnI37pTqR2g.png

(last image on https://medium.com/@mozilla/hacker-verfolger-und-spione-die-ergebnisse-unserer-datenschutzumfrage-70459f25ea60#.wvclsbaae)

Germans say there are two issues:
"It looks mostly fine, but the
final image (about which sources to trust) contains a grammar error
(again, sorry), which is now fixed in the strings (Der Re

[2017-03-09 22:52] ScottDowne commented on #775
Should be fixed now (or in a moment once staging finishes its build)

Thanks for finding this.

[2017-03-10 14:13] beccaklam commented on #776
@WillatMozFdn I'll fix that.

[2017-03-10 14:22] beccaklam commented on #776
Changes have been made with this graphic:
![artboard 3 copy](https://cloud.githubusercontent.com/assets/20977376/23798527/13179c8c-0573-11e7-9941-4bf607176fa9.png)

[2017-03-10 14:27] ScottDowne commented on #724
- [x] Make sure all share progress links are updated with prod values once we're ready to ship.

[2017-03-10 14:35] ScottDowne commented on #775
Should be good. Feel free to reopen if it doesn't work, or if you see something slightly different feel free to open a new issue! Thanks again for finding this.

[2017-03-10 14:50] ScottDowne commented on #774
Thanks, should be fixed now.

[2017-03-10 14:50] #774 closed, assigned to nobody

[2017-03-10 15:08] mathjazz commented on #775
I'm looking at https://changecopyright-org-staging.herokuapp.com/sl/ and I see a different font, but with the same problem.

https://cl.ly/1l0K3f0v453b

[2017-03-10 15:24] caltrider opened #777 "DUE MARCH 13: Pi Day Fundraising Email Graphics"
Hey @lovegushwa , here's my first attempt at a ticket for the two Pi Day email graphics.
Hopefully I got it right. If not, feel free to tell me what I got wrong.

Due date on this would hopefully be no later than mid-day Monday to give Will and Steph time to get the email ready to go first thing Tuesday. The email has been approved by everyone but Marshall and Mark, so hopefully it is close to fin

[2017-03-10 15:46] hannahkane commented on #777
This is a great ticket, @caltrider!

Some totally meta things having nothing to do with the actual work described in the ticket:

- I'm adding a label to describe a functional area, in this case "design" and to associate it with a project, in this case "Pi Day" (a label I just created).
- Also adding it to the "March 17 milestone" since, per request, we use milestones to differentiate each week. I

[2017-03-10 16:36] ScottDowne commented on #775
Hm, this is what I see:
![what-see](https://cloud.githubusercontent.com/assets/197334/23803818/bcc101a8-0585-11e7-8a4a-ba38f4e2fc4f.png)

Is that what you see, and is there still something weird about this?

I know fira sans + linux can have issues. Might be that. I should probably fix that anyway.

[2017-03-10 16:40] mathjazz commented on #775
Yup, it looks different on my screen (OS X 10.11), Aurora. Check s and š for example.

![my screen](https://cloud.githubusercontent.com/assets/626716/23803945/867bab60-05b8-11e7-8f62-6b18ca62ef1b.png)

[2017-03-10 16:41] ScottDowne commented on #775
Ah, yeah, I see it. Trying a fix. Shouldn't be long.

[2017-03-10 16:43] ScottDowne commented on #775
The fira font on google fonts for whatever reason is pretty weird. I'm moving to "https://code.cdn.mozilla.net/fonts/fira.css" and seeing if that fixes it.

[2017-03-10 16:45] WillatMozFdn commented on #777
@stephaniemcv needs to be on on this one ... she's taking point on this email (I'll be working on a french event email for about the same time/maybe a day later.)

[2017-03-10 16:45] ScottDowne commented on #775
OK, try now. https://changecopyright-org-staging.herokuapp.com/sl/

[2017-03-10 16:48] mathjazz commented on #775
Helvetica FTW! Love it! Thanks!

[2017-03-10 16:51] ScottDowne commented on #775
blah, ok, backing out.

[2017-03-10 16:51] ScottDowne commented on #775
Must be reverting to a system font?

[2017-03-10 16:52] mathjazz commented on #775
Oh I thought you intentionally went for Helvetica! :D

[2017-03-10 16:52] ScottDowne commented on #775
I wish life was that simple :P

[2017-03-10 17:29] ScottDowne commented on #775
OK, building another solution.

1. Loading it off the mozilla cdn failed because I failed to add rules to the csp.
2. Fira Sans Condensed didn't have a cdn that I can find (yet) which we use for inputs, buttons, labels, and errors. So we're still loading that from google fonts. Hopefully it doesn't have the same issues for you as regular fira sans from google fonts. Hopefully the mozilla cdn als d

[2017-03-10 17:30] ScottDowne commented on #775
OK, built and on staging. Hopefully we got this now: https://changecopyright-org-staging.herokuapp.com/sl/

[2017-03-10 17:34] mathjazz commented on #775
Well done! Checked sl and other locales and they all LGTM. Thanks!

[2017-03-10 17:34] ScottDowne commented on #775
Thanks for finding and for your patience helping us debug.

🚀

[2017-03-10 17:42] #775 closed, assigned to TheoChevalier

[2017-03-10 17:54] ScottDowne commented on #718
Think this is done. Closing. There is a note in QA ticket to make sure this works, so no need to keep the implementation ticket open for QA.

[2017-03-10 17:54] #718 closed, assigned to cadecairos

[2017-03-10 17:58] shaghdoosti opened #778 "Copyright snippet"
Hey -

Wes sent around snippets that we used for copyright last year - these have already been localised. I think these two would work just as well this time around and would save us having to design a new icon and localizing text again.

Let me know if this sounds good and I'll put it in motion:

![screen shot 2017-03-10 at 9 56 53 am](https://cloud.githubusercontent.com/assets/13626384/23806835/

[2017-03-10 18:01] TheoChevalier commented on #778
Thanks Sara, this sounds like a good idea. Which locales are targeted with those snippets? Just checking we support them all on the new website

[2017-03-10 18:06] shaghdoosti commented on #778
Well - which languages do we support on the website? Then I'll ask the snippet team for those locales?

[2017-03-10 18:09] TheoChevalier commented on #778
Locales that are 100% complete:
ast, bg, cs, de, el, es, et, fr, fy-NL, ga-IE, hu, it, nl, pl, pt-PT, sk, sl, sv-SE

[2017-03-10 18:41] TheoChevalier commented on #778
Correction, Polish is now done

[2017-03-10 19:16] ScottDowne commented on #724
Just two more checkboxes, but I think we're good on my end.

[2017-03-10 19:20] hannahkane commented on #724
We can do it! @beccaklam and @TheoChevalier - is anything blocking you from checking your respective boxes in the original comment?

[2017-03-10 19:22] TheoChevalier commented on #724
Checked mine a few minutes ago, but I’ll do some more checking after latest PR from @beccaklam is merged :)

(Found one small issue with Spanish, the Get Involved button is in English. Not a technical issue, reached out to the localizer so that she can have a look)

[2017-03-10 19:39] lovegushwa commented on #777
@caltrider so the small callout (graphic 2).  What about "Donate some dough for our pie" ?

[2017-03-10 19:40] lovegushwa commented on #777
@caltrider love the pie snippet icon. Can you use it?

[2017-03-10 19:40] caltrider commented on #777
@lovegushwa @natalieworth Oh, I LOVE it!  Yes! It's brilliant.

[2017-03-10 19:50] caltrider commented on #777
@lovegushwa Use the pie snippet icon for what?

[2017-03-10 20:10] ScottDowne commented on #724
@TheoChevalier Becca's changes have landed.

[2017-03-10 20:24] TheoChevalier commented on #724
Everything looks good :) 🚀

[2017-03-10 21:18] #724 closed, assigned to nobody

[2017-03-10 21:20] hannahkane commented on #769
Closing because only outstanding item is snippet which is tracked elsewhere.

[2017-03-10 21:20] #769 closed, assigned to nobody

[2017-03-10 21:25] lovegushwa commented on #777
@caltrider can we use the pie icon as is for this years snippet?

[2017-03-10 21:39] caltrider commented on #777
@lovegushwa Oh yeah, I'm totally cool with that.

[2017-03-10 22:09] TheoChevalier opened #779 "Locale negociation doesn’t work on https://www.changecopyright.org/"
Locale negociation — being redirected to `https://www.changecopyright.org/fr` for instance if you’re using a browser in French — doesn’t work with the prod domain. Everyone is redirected to en-US (so, `https://www.changecopyright.org/en-US`)

It works here: https://changecopyright-org-production.herokuapp.com/
And on staging too: https://changecopyright-org-staging.herokuapp.com/

@ScottDowne and

[2017-03-10 22:11] TheoChevalier commented on #779
To test, just set a supported locale (French for instance) as default language for content in Preferences > Content > Language, then load https://www.changecopyright.org/

[2017-03-10 23:07] ScottDowne commented on #779
Was chatting with giddy and it looks like the domain wasn't set to properly
send lang headers. We fixed. If that was actually the prob it might work in
20 mins or so.

[2017-03-10 23:18] ScottDowne commented on #779
Worked for me!

[2017-03-10 23:19] TheoChevalier commented on #779
Same here! Thanks guys :)

[2017-03-10 23:19] #779 closed, assigned to nobody

[2017-03-11 03:01] #765 closed, assigned to beccaklam

[2017-03-14 02:52] hannahkane commented on #763
@ScottDowne - did the last checkbox here ever land? Do you want to keep this ticket open?

[2017-03-14 02:53] hannahkane commented on #771
Thanks, @stephaniemcv.

Should we just keep the petition open until Q2 then?

[2017-03-14 02:58] hannahkane opened #780 "News Matrix sample content"
To kickstart the News Matrix, let's collect a set of content to play around with for the initial design. We can use this to test the axes (just checked, that is in fact the plural of axis), and have real data to use for design. Can also get a sense of how much effort is involved in collecting, curating, and editing content for a typical matrix.

[2017-03-14 02:59] hannahkane opened #781 "Design: News Matrix template"
Use content from #780 to come up with a design that's flexible enough to support future editions of the matrix.

[2017-03-14 03:01] hannahkane opened #782 "Finalize Protest Sign Remix concept"
Brief is [here](https://docs.google.com/document/d/15omlkFBMtQupXvcREQ1ShNuGhigukkwAyLFFhvx8jds/edit)

We need to finalize the concept so we can assign appropriate design and development resources, and file the appropriate implementation tickets.

[2017-03-14 05:12] lovegushwa commented on #777
@stephaniemcv here is the callout: https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvMWJTRF9jUE9MSlE/view?usp=sharing

and the pie chart:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvRTY2S0JYSjJRdXM/view?usp=sharing

[2017-03-14 18:53] ScottDowne commented on #763
@hannahkane I'm working on that last checkbox now, might as well land it before copyright goes to snippet tomorrow.

[2017-03-14 20:39] #777 closed, assigned to lovegushwa, natalieworth

[2017-03-15 16:40] lovegushwa commented on #782
@hannahkane seeing if @flukeout is interested

[2017-03-15 17:05] stephaniemcv commented on #771
Yup!

[2017-03-15 17:20] hannahkane commented on #778
This is live, right? Can we close this issue?

[2017-03-15 17:23] hannahkane commented on #773
Just out of curiosity, what's the deadline related to?

[2017-03-15 17:25] hannahkane commented on #776
@WillatMozFdn - are we good to close this issue?

[2017-03-15 18:03] WillatMozFdn commented on #776
yes, please close.  Thanks!

On Wed, Mar 15, 2017 at 1:25 PM, hannahkane <notifications@github.com>
wrote:

[2017-03-15 18:04] WillatMozFdn commented on #773
Nothing in particular.  Not a firm due date.

[2017-03-15 18:40] #776 closed, assigned to nobody

[2017-03-15 23:43] hannahkane opened #783 "Design: Iterate on News Matrix landing page"
Dropping some notes in here from a conversation I just had with @HPaulJohnson. Hoping interested people can have a discussion around this while I'm out tomorrow and Friday.

@beccaklam's [wireframes](https://redpen.io/p/sb0e5aa8bd56c0ba5e) are a kickass exploration of what an in-depth hub could look like, with some nice ideas about tailored subscriptions, increasing the shareability of content, an

[2017-03-15 23:44] hannahkane commented on #783
cc @lovegushwa

[2017-03-21 19:46] roseregina opened #784 "Add Captcha to Donation"
Investigate feasibility (and desirability) of addition a captcha to the donation process, possibly through Google's invisible recaptcha

*Start date: March 17 2017*
*Due date: June 1, 20167*

CC: @stephaniemcv @vojtechmzl

[2017-03-21 19:54] roseregina opened #785 "Add rejection notice for Stripe.com failed donations"
Add message to appear to donor after a Stripe donation attempt is rejected that they should email donate@ for assistance

--> This will allow us to switch to having stripe automatically reject all "elevated risk" transactions, since the vast majority are definitely or probably fraud.

*Start date: March 17, 2017*
*Due date: May 1, 2017*

CC: @stephaniemcv @vojtechmzl

[2017-03-22 21:02] hannahkane opened #786 "Build News Matrix promo/archive page"
Design from #783

Functional requirements:
 - Should be build in a modular way so that it can easily be reproduced with different content (e.g. the upcoming Safety Tips content)
 - Should include Optimizely and Analytics
 - Should be localizable, using preferred l10n workflows. [Question for @HPaulJohnson and @caltrider - even though we'd like the infrastructure for future variations of this page

[2017-03-22 21:03] hannahkane commented on #783
[Latest iteration](https://redpen.io/cn6f36ef68c1d5e99f) looks great, but likely needs another round based on feedback from @HPaulJohnson in the redpen as well as a team discussion around the requirements listed in #786

[2017-03-22 21:24] hannahkane opened #787 "Content and engagement: draft plan for News Matrix and SafetyFirst tips"
These questions came up in conversation with @HPaulJohnson:
 * Should users be able to choose to get Safety Tips OR News Matrices OR [future content vehicles]? Or should it just be a single opt-in to get everything?
 * If the latter, what's the best way to present this on the landing page, since they're pretty different content types, and users' motivations for wanting to receive them might be dif

[2017-03-22 21:32] hannahkane opened #788 "Determine where the Privacy landing page "lives""
Discussed with @HPaulJohnson:
 * Though eventually the Privacy landing page (as well as any future variations) might end up on mozilla.org or on the Network site, for now, we're recommending it live on advocacy.mozilla.org
 * The advocacy.mozilla.org homepage could be updated to reflect the latest output from the team, with the Privacy landing page occupying the hero block, and moving the Encrypt

[2017-03-22 21:34] hannahkane commented on #788
cc @Melechuga - are you the owner of the Advocacy site?

[2017-03-22 21:35] hannahkane commented on #773
Did this get done? If not, should we push to next week when designers are back in the office?

[2017-03-22 21:36] hannahkane commented on #763
@ScottDowne - you've made the form sticky, right? Can we close this?

[2017-03-22 21:45] ScottDowne commented on #763
Yup

[2017-03-22 22:02] #763 closed, assigned to ScottDowne

[2017-03-23 00:17] stephaniemcv commented on #787
- My vote is single opt-in as that is what our current infrastructure can support. What is the timeline for launch of this landing page?

- It would be an intriguing test to see what content type encourages more email signups. Ongoing engagement would depend on the desired frequency of content published, that would determine if we could reasonably support a unique engagement plan for each content

[2017-03-23 15:59] hannahkane opened #789 "Remove apostrophe from resource on ChangeCopyright"
The first resource on [this page](https://www.changecopyright.org/en-US/resources) shouldn't have an apostrophe.

[2017-03-23 16:25] caltrider commented on #787
My thoughts:

_What's the frequency with which people will receive this content? Should they expect to receive it on a given day of the week?_

The plan for the News Matrix is to have it come out every Friday once we get it up and running.
The plans for the Tips are still being worked out.  I would like it to be a tip of the day where we can get a bulk bunch of tips (say a month or two worth at a

[2017-03-23 19:24] ScottDowne commented on #789
Almost missed this :(

Building on staging now.

[2017-03-23 20:22] ScottDowne commented on #789
On staging, building prod now: https://changecopyright-org-staging.herokuapp.com/en-US/resources

[2017-03-24 14:35] WillatMozFdn opened #790 "Need Callout box graphics for Copyright Campaign "Call your MEP" email"
Let's use the same background & design we did for the copyright share your story email, that is,
https://image.e.mozilla.org/lib/fe9915707361037e75/m/3/copyright-shareyourstory_callout_EN.jpg

But for this new round of emails, the wording in the box for EN should be "Be a hero for copyright reform".  We'll also need to do DE, FR, ES and PL versions ... that string is going out for localization tod

[2017-03-27 07:55] TheoChevalier commented on #790
Here are the German, French and Spanish translations for the call out:

https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/copyright_call.lang&action=translate&show#string6

[2017-03-27 13:06] ScottDowne commented on #789
This landed and I forgot to close the issue after confirming on prod: https://changecopyright.org/en-US/resources

[2017-03-27 13:06] #789 closed, assigned to ScottDowne

[2017-03-27 13:07] ScottDowne commented on #785
I'm pretty sure we can close this now.

[2017-03-27 13:07] #785 closed, assigned to ScottDowne

[2017-03-27 14:18] ScottDowne commented on #705
Not saying this is currently a huge issue or even needs to be fixed, and we can give zeplin a shot either way. This is just where I see the most friction if any. I see two areas where design is needed during or after the handoff, that we can possibly fix.

1. Feedback, confusion, communication, and missing information during dev/handoff. Also when the dev tries to figure it out, it's usually not a

[2017-03-27 16:02] Melechuga commented on #788
@hannahkane I'm not sure what you mean; do you mean for this project specifically?

[2017-03-27 17:06] beccaklam commented on #781
latest iteration:
![news matrix 3](https://cloud.githubusercontent.com/assets/20977376/24368364/287b99e2-12ee-11e7-98f2-31dea9ea4444.png)

[2017-03-27 18:24] #766 closed, assigned to natalieworth

[2017-03-27 19:22] caltrider commented on #780
The sample content can be found in the [News Matrix brief doc](https://docs.google.com/document/d/1KSd7rdKclHlsJCYoZLZGg7sYuBfZ5t5-Zf6rhppuNuI/edit#) down at the bottom:

https://docs.google.com/document/d/1KSd7rdKclHlsJCYoZLZGg7sYuBfZ5t5-Zf6rhppuNuI/edit#

I created this [story drop doc](https://docs.google.com/document/d/1BZwGKe6iOPdn_YGkzJ-eilEEDmHVgiw50CYNT88F2u4/edit) and shared with everyone

[2017-03-27 20:02] beccaklam commented on #790
Hey @WillatMozFdn @TheoChevalier I've finished the EN, DE, FR, and ES versions. Just waiting for PL.

[2017-03-27 20:04] beccaklam commented on #790
![artboard 22 copy 3- 1x](https://cloud.githubusercontent.com/assets/20977376/24375607/f4b85b86-1306-11e7-8f67-a945d0e590cc.png)
![artboard 22 copy 4](https://cloud.githubusercontent.com/assets/20977376/24375609/f4ba3cd0-1306-11e7-967f-aaed8b2ff114.png)
![artboard 22 copy 5](https://cloud.githubusercontent.com/assets/20977376/24375610/f4bcdd28-1306-11e7-8340-aadebe2db919.png)
![artboard 22 copy 6]

[2017-03-27 20:07] lovegushwa commented on #790
@beccaklam thank you.

[2017-03-27 20:52] WillatMozFdn commented on #790
Beautiful -- thank you SO much!

 - Will

On Mon, Mar 27, 2017 at 4:07 PM, lovegushwa <notifications@github.com>
wrote:

[2017-03-27 21:09] lovegushwa commented on #787
Questions for tomorrows privacy tips/news matrix content meeting:
- how much archive do we show / what's our carrot / incentive ?
- can users subscribe to one list (privacy) and not the other (news matrix)?
- how does the subscription work, is content delivered through email OR email and social?
- how is our email audience different than social? Age, demographics etc?
- what's our per- channel str

[2017-03-27 21:34] hannahkane commented on #788
@Melechuga - sorry I wasn't clear. Maybe a better question is, would you like to be kept in the loop about any decisions we make about advocacy.mozilla.org? I'm not sure who "cares" about that site? Maybe Vanessa?

[2017-03-27 23:35] stephaniemcv commented on #787
More info based off of @lovegushwa's questions:
- **can users subscribe to one list (privacy) and not the other (news matrix)?** In our current architecture, no. To support this we would need to schedule new work on Basket and Salesforce with MoCo to build out. This does not look viable for the upcoming sprint (04 Apr 2017-20 Apr 2017) Then there's the issue of list vs interest; if we create new l

[2017-03-28 16:45] caltrider commented on #781
@lovegushwa @beccaklam
Here's that info for the design:

Title:  This Week in the Web
2nd Line:  The TL;DR of All Things Internet
Footer: Thin underneath the matrix that says “Love these? Get them in your inbox each week. Sign up at XXX”
Y (vertical) Axis:   (our version of high brow/low brow)
Top: Nerd
Bottom : Noob
X (horizontal) Axis:  (our version of awesome/awful)
Left: Downvote
Right: Upvote

[2017-03-28 17:28] lovegushwa commented on #781
@beccaklam added some comments to redpen:
https://redpen.io/qu170751bd9a16f608

[2017-03-28 21:17] hannahkane opened #791 "Standard checklist for Advocacy media and website/campaign projects"
There's a draft at the bottom of this pad: https://public.etherpad-mozilla.org/p/advocacy-sites-retro

[2017-03-28 21:22] hannahkane commented on #780
@caltrider - awesome! Should we close this ticket now since the sample content is done?

[2017-03-28 22:07] caltrider commented on #780
@hannahkane Yeah, I think that's OK.  I'll be doing each week's content in this [Story Drop doc ](https://docs.google.com/document/d/1BZwGKe6iOPdn_YGkzJ-eilEEDmHVgiw50CYNT88F2u4/edit)from here on out.

[2017-03-28 22:13] #780 closed, assigned to caltrider

[2017-03-28 22:14] hannahkane commented on #787
Taking this conversation to [the doc](https://docs.google.com/document/d/1-s7aNACXlOv8GpHk5zLSfxLolFwLSGy9P_t-wJT6uUM/edit?ts=58daac59), which is probably a better place for it.

[2017-03-28 22:28] hannahkane opened #792 "Design and Build: Madlib"
Just realizing we don't have a ticket for this, and I think we should!

As discussed at stand, I believe we decided to focus on the primary use case first (user adds awesome content), and then focus on the need for any moderation tools.

[2017-03-29 15:55] TheoChevalier commented on #790
Polish is now ready! https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/copyright_call.lang&action=translate&show#string6

[2017-03-29 20:30] beccaklam commented on #781
@caltrider @hannahkane @lovegushwa
Latest iteration based on feedback:
https://redpen.io/nc32dbebb666432912<-- redpen for comments
![news matrix 5a](https://cloud.githubusercontent.com/assets/20977376/24475163/fefc1e42-149c-11e7-8311-b7052a6c8bf5.png)

[2017-03-29 20:31] beccaklam commented on #783
@hannahkane @lovegushwa
Latest iteration:
https://redpen.io/xadede11a8016b38f3<-- redpen for comments
![news matrix landing page](https://cloud.githubusercontent.com/assets/20977376/24475196/1fec782c-149d-11e7-9664-f741563391c9.png)

[2017-03-29 20:45] beccaklam commented on #790
Thanks @TheoChevalier
Here you go @WillatMozFdn
![pl](https://cloud.githubusercontent.com/assets/20977376/24475782/09da41fc-149f-11e7-89c5-8d0a0f1e2c5e.png)

[2017-03-30 14:14] beccaklam commented on #781
With date:
![news matrix 5b](https://cloud.githubusercontent.com/assets/20977376/24508496/96b7794a-1531-11e7-9958-a7431e2bf49c.png)

[2017-03-30 14:34] beccaklam commented on #781
Date Option #2:
![news matrix 5c](https://cloud.githubusercontent.com/assets/20977376/24509457/6b639668-1534-11e7-92d4-cd9e562de934.png)

[2017-03-30 14:45] beccaklam commented on #783
Archive UI: Still need to work on footer
https://redpen.io/ym854ba2d8dd56f6ee<-- redpen for comments
![news matrix landing page](https://cloud.githubusercontent.com/assets/20977376/24509998/efcf2178-1535-11e7-9c53-65b02b643c55.png)

![news matrix landing page copy 2](https://cloud.githubusercontent.com/assets/20977376/24510009/f66b6082-1535-11e7-8eaa-1134f50b340a.png)

[2017-03-30 22:09] lovegushwa commented on #792
The original concept sketch
<img width="927" alt="screen shot 2017-03-30 at 3 03 50 pm" src="https://cloud.githubusercontent.com/assets/12228435/24528174/3dea67e0-155a-11e7-9a62-797de0041825.png">

Where the madlib sits in the user journey
<img width="1411" alt="screen shot 2017-03-30 at 12 36 22 pm" src="https://cloud.githubusercontent.com/assets/12228435/24528190/50e86fcc-155a-11e7-821a-2b1b1ab0

[2017-03-30 22:15] lovegushwa commented on #792
@hannahkane @ScottDowne @beccaklam

In addition to contributing to the madlib a user should be prompted to:
- share the video (through share progress?)
- sign up to email  (we should promise some sort of followup content based on the ideas users contributed, similar to how we wrote a medium post after users filled out the privacy survey.)

[2017-03-30 22:17] lovegushwa commented on #792
@hannahkane any thoughts on us prioritizing share vs signup?

[2017-03-30 22:23] lovegushwa commented on #783
Worked with Rebecca on some tweaks to the news matrix and blog template this morning. Should see updates tomorrow.

[2017-03-30 22:42] hannahkane commented on #792
I think it depends on the final functionality. Sharing might be more fun if you can share what you added vs. just sharing the tool.

[2017-03-30 22:53] hannahkane commented on #792
@lovegushwa, can you clarify the step between the video and the survey/madlib? Is it that at the end of the video they can click on a link to go to one of those as an optional next step? Or does the video itself set up the survey/madlib for the user?

(Apologies, because I think you probably explained this on a call, but I just realized I missed a piece.)

[2017-03-30 22:54] hannahkane commented on #791
Tested this out with the News Matrix archive/landing page: https://docs.google.com/document/d/1-s7aNACXlOv8GpHk5zLSfxLolFwLSGy9P_t-wJT6uUM/edit?ts=58daac59

[2017-03-30 23:01] hannahkane commented on #788
I'm going to close this for now. We still need to figure out where the "News matrix promo and archive page" lives, but I'll list that as a requirement on the [build ticket](https://github.com/MozillaFoundation/Advocacy/issues/786).

I think we need to have a larger conversation about infrastructure for advocacy content moving forward, with an eye towards understanding the connection/journey betwee

[2017-03-30 23:01] #788 closed, assigned to nobody

[2017-03-30 23:02] #791 closed, assigned to hannahkane

[2017-03-30 23:02] hannahkane commented on #790
Are we good to close this?

[2017-03-30 23:06] hannahkane commented on #786
@lovegushwa @ScottDowne @beccaklam @caltrider - any thoughts on where this page should live? Should it have a unique url? Or something like advocacy.mozilla.org/matrix?

[2017-03-30 23:07] hannahkane commented on #782
Closing this as the plan has changed. @lovegushwa and @caltrider - feel free to file new tickets for the Science March work.

[2017-03-30 23:07] #782 closed, assigned to HPaulJohnson, lovegushwa

[2017-03-30 23:10] hannahkane commented on #787
This ticket is crazy. Closing and opening a newer one reflecting the current state of things.

[2017-03-30 23:10] #787 closed, assigned to nobody

[2017-03-30 23:21] hannahkane opened #793 "Content and Email: Finalize content and engagement strategy for News Matrix"
- [x] @WillatMozFdn to document process for creating/sending emails, including workflows for appointment content such as the weekly News Matrix email.
 - [x] Confirm locales for email: US, CA, UK, AU (I'm assuming we won't support these locale distinctions for the promo/archive page)

Decisions to be made:
 - [x] Will we send the News Matrix email weekly OR bi-weekly / alternating with SafetyTips

[2017-03-30 23:23] hannahkane commented on #793
@caltrider and @WillatMozFdn - we're getting close to done on the News Matrix design, and will start the build for the landing page very soon. I want to make sure we're also 💯  on our content strategy and email engagement plan. I believe the items above are the only things outstanding.

[2017-03-31 03:49] lovegushwa commented on #792
@hannahkane no problem. You would click a link below the video in a users facebook feed for example. That link would take you to the survey or the madlib (it's an AB test so one or the other.)

[2017-03-31 15:02] WillatMozFdn commented on #790
Yes, please go ahead and close -- I have all five versions (EN, DE, FR, ES,
PL) I need.

On Thu, Mar 30, 2017 at 7:02 PM, hannahkane <notifications@github.com>
wrote:

[2017-03-31 15:02] #790 closed, assigned to lovegushwa, beccaklam

[2017-03-31 16:17] beccaklam commented on #781
Newest iterations:
https://redpen.io/wk196ad4118bf9eae3 <-- redpen for comments
![news matrix 6](https://cloud.githubusercontent.com/assets/20977376/24559229/eddf9c4a-160b-11e7-8d9d-b575ea561c71.png)
![news matrix 6a](https://cloud.githubusercontent.com/assets/20977376/24559232/ef5533be-160b-11e7-8a0e-39faa168c554.png)

[2017-03-31 16:18] beccaklam commented on #783
Newest iterations:
https://redpen.io/mq02462ef5d9a169bd <-- redpen for comments
![news matrix landing page tron](https://cloud.githubusercontent.com/assets/20977376/24559258/117f8d18-160c-11e7-8ffc-92a2fdbefb20.png)
![news matrix landing page wired](https://cloud.githubusercontent.com/assets/20977376/24559260/1180e3c0-160c-11e7-998f-9b4932ff8e90.png)
![news matrix landing page wired - archive func

[2017-03-31 22:17] lovegushwa commented on #786
@hannahkane @caltrider I'm ok with advocacy.mozilla.org/matrix ... however we are collaborating with the internet health MoCo team on this, could impact our decision?

[2017-03-31 22:21] lovegushwa commented on #786
@hannahkane @beccaklam @ScottDowne so this requirement may have been lost in the mix but @caltrider 's idea was incorporate live links to content just like: http://nymag.com/arts/all/approvalmatrix/approval-matrix-2016-09-05/

They use the service https://www.thinglink.com/ to do this.
@ScottDowne whats needed to move this forward?

[2017-04-03 16:53] hannahkane opened #794 "Design: email template for news matrix email"
@lovegushwa - can you add details?

[2017-04-03 17:28] TheoChevalier commented on #778
Yup, this can be closed

[2017-04-03 17:28] #778 closed, assigned to nobody

[2017-04-03 18:29] hannahkane commented on #794
@lovegushwa - and can you assign it to someone?

[2017-04-03 19:16] hannahkane commented on #792
Was playing around with the Madlib earlier. It's nice and snappy! My feedback is largely around context. Specifically:
 * Not clear to a user coming to the page for the first time that they are being invited to add to the list
 * Not clear to a user if what they type will be seen by others, or what it will be used for
 * When you first arrive, the user doesn't know where the existing items came fr

[2017-04-03 20:41] ScottDowne commented on #792
delete/edit would be a significant amount of work.

[2017-04-03 21:42] hannahkane commented on #793
@caltrider and @WillatMozFdn - just pinging on this. Do we have final decisions on the items in this ticket?

[2017-04-03 21:46] hannahkane commented on #783
woohoo! These look great. What do we need to do to get to Done?
 - [ ] OK on design elements ( @lovegushwa? )
 - [ ] Final copy for page, including form ( @caltrider? )

@beccaklam - what else do you need to be considered Done?

[2017-04-03 21:48] ScottDowne commented on #786
So, thinglink is paid, but it's cheap, and it's pretty handy. We can probably use it.

It looks like we can use them as an iframe. I'm prototyping a system where after creating the thinglink using thinglink, click their iframe embed, and paste that code into a file called `new-matrix-1.html` where the dash number goes up. The highest number gets displayed first. This way we can pretty easily just

[2017-04-03 21:51] caltrider commented on #793
@WillatMozFdn @hannahkane
@lovegushwa is working on a design template for the news matrix that will hopefully make it a rocking email send.  That being said, I'm good to send either weekly or bi-weekly.  The content will be done weekly regardless, so which ever works best.  And hopefully, down the road, we'll have a system set-up where people can opt-into getting this sort of content as they choos

[2017-04-03 22:26] hannahkane commented on #786
👍  solid plan!

just confirming - the archive will essentially be a list view of past matrices, right? will there be a way to link to a particular matrix? (not sure that's a real use case, just curious)

[2017-04-03 22:34] hannahkane commented on #773
@lovegushwa - how do you want to prioritize this? It doesn't seem urgent, but is it something you want to try to get done this week?

[2017-04-03 22:34] hannahkane commented on #771
@stephaniemcv - have the signatures been migrated?

[2017-04-03 23:50] stephaniemcv commented on #771
Unfortunately, no. This is still on my plate.

[2017-04-03 23:51] stephwright commented on #771
@hannahkane there is some further action happening on this petition.  It's being referenced in an announcement coming out this week as well as part of events working w/ Advocacy team leading up to March.

[2017-04-03 23:52] stephaniemcv commented on #771
Just curious, how long do you think we'll be collecting signatures?

[2017-04-03 23:54] stephwright commented on #771
That's a good question... I need to talk to a few folks about that.  At a conf this week so pretty blocked up re: trying to schedule convos.  I can try to get an (better) answer for you by EOW.

[2017-04-03 23:56] stephaniemcv commented on #771
Sounds good, thank you!

[2017-04-04 17:22] hannahkane commented on #793
Decisions made at stand, with @WillatMozFdn, and based on @caltrider's comment above:
 * We'll start with emails to en-US, en-CA, en-UK, and en-AU audiences. This decision is based on the perception that content will be most relevant to these audiences.
 * We'll start with an every-other-week cadence for sending out the news matrix emails. This decision was based partly on workload concerns, and p

[2017-04-04 17:43] beccaklam commented on #792
@lovegushwa @hannahkane
https://redpen.io/p/rbe1bb7099797d2e3b <-- redpen for comments
Share proposals (using share progress buttons) for the Internet Health Mad Lib Landing Page:
![desktop copy 3](https://cloud.githubusercontent.com/assets/20977376/24670543/782bc60c-193c-11e7-9cc3-bf7dc553f789.png)
![iphone se](https://cloud.githubusercontent.com/assets/20977376/24670544/78303b4c-193c-11e7-8d8c-5

[2017-04-04 17:46] vojtechsedlak commented on #786
Not sure if this is already the case, but just wanted to flag that it would be great to track each matrix as a separate pageview in Google Analytics. For the signup form and share buttons, we should also have our standard custom events in place.

In order to know how people engage with the matrices, I was wondering if we could also include custom events indicating when people click on a link withi

[2017-04-04 17:49] hannahkane commented on #792
Looks good, @beccaklam.

@lovegushwa - will you provide copy for the Shares?

[2017-04-04 17:52] beccaklam commented on #792
@hannahkane My thoughts on your questions:

_**-     Not clear to a user coming to the page for the first time that they are being invited to add to the list**_

I think the convention of a flashing cursor indicates they can add to the list. Also if a user starts typing they will automatically be typing into the input

_**-     Not clear to a user if what they type will be seen by others, or what

[2017-04-04 18:20] caltrider commented on #793
@hannahkane @vojtechmzl @lovegushwa
I'd really like to track email sign-ups driven from this as well as social shares.
@vojtechmzl any other ideas for things we can/should track?  Blog views?  Reddit views/comments?
Social engagement?

[2017-04-04 18:25] ScottDowne commented on #786
@vojtechmzl Not sure how we would track thinglinks inside our page itself, as it's just an iframe.

We would need to rely on the metrics built into the thinglink platform.

[2017-04-04 18:53] hannahkane commented on #792
Thanks, @beccaklam. Everything above makes sense, especially now that I've seen the video and how the "What does it mean to you?" question is asked at the end (thanks, @natalieworth!).

Note: There wasn't a flashing cursor when I viewed the site yesterday, in Chrome. Is that a bug? (can't verify now, bc tunnel is gone)

[2017-04-04 19:04] lovegushwa commented on #792
left three comments in the redpen (one new one since you last looked @beccaklam )

[2017-04-04 19:33] lovegushwa commented on #794
Ok folks, here is a draft of the template. We might want a little more context in our first send but for now I have added the word "introducing" before "this week in the web."  ... It can be removed after we introduce this to our list.

@WillatMozFdn @stephaniemcv @hannahkane @caltrider @beccaklam let me know your thoughts before I knock out a final version.

![matrix-email-v1- 2x](https://cloud.g

[2017-04-04 19:43] vojtechsedlak commented on #786
Oh right, it seems that thinglinks has some built-in analytics capabilities, so we should get some metrics from that.

[2017-04-04 20:02] vojtechsedlak commented on #793
Based on the project brief, the key objectives of the News Matrix are to grow our following on one hand, and engaging our existing community on the other. As such there are two sets of metrics that we can keep an eye on.

Overall, it seems like the underlying questions are:
-  How will existing community members respond to the matrix?
    - What is an acceptable churn? What is an expected OR/CTR &

[2017-04-04 20:40] stephaniemcv commented on #794
I feel like the salmon is detracting from the "Tron"-ness of the image. Minus the links in the footer, I'd advocate for a different color.

I think we should add to the button text. "Interactive Version" is descriptive and doesn't really express the action that we want them to take by clicking the button. Read, investigate, examine, reveal, tour, explore, delve into... as a few suggestions. Check

[2017-04-04 21:01] beccaklam commented on #792
@hannahkane the flashing cursor was implemented maybe yesterday. Your link is gone because it's a temporary one to the site scott was running locally.

@hannahkane @lovegushwa wireframes for modal box that pops up after a user hits enter on the input: https://redpen.io/tm7a2a1b43559269d1<-- redpen for comments
![desktop_1](https://cloud.githubusercontent.com/assets/20977376/24678363/3d682102-1958-

[2017-04-04 21:24] lovegushwa commented on #794
@willeaston i'd rather not use bullets for a list of links. The greater than symbol > is a old-school link convention. We do need something in case the link wraps unless we want to use line spacing to indicate where a link stops and starts. Line spacing could add more hight to the email.

[2017-04-04 21:31] lovegushwa commented on #794
@stephaniemcv re "Interactive Version" ... This might not be the best language but we also don't need to drive traffic to the landing page since everything a user needs is already in the email ... ie. "interactive version" is not a hard CTA. Users do need to know the landing page version includes more features if they are interested. @caltrider @hannahkane any suggestions?

[2017-04-04 21:39] hannahkane commented on #794
What's the reason for someone to go to the landing page? Is it to view the archives? If so, maybe leave the button off entirely for this first email, and then add it back with "View Past Matrices" as the CTA in the  future.

[2017-04-04 22:09] caltrider commented on #794
I agree the salmon color is kinda salmon-y. I'll let @lovegushwa decide what looks best.

Here's an idea for the button text.  Could we test "Interactive Version" versus "Share This".
The idea being that the people who land on that page from the email will see the share function.

Given that people can get all they need on this from the email (even though the Thinglink version on the website will

[2017-04-04 22:16] lovegushwa commented on #794
@hannahkane the landing page version will work something http://nymag.com/arts/all/approvalmatrix/approval-matrix-2016-09-05/

So the landing page has some additional interaction when a user mouses over links which is a better experience hence the interactive "interactive version" button.

[2017-04-04 22:41] hannahkane commented on #794
Thanks, @lovegushwa. I don't have a strong opinion on the button text. Will defer to others.

[2017-04-04 22:54] caltrider commented on #783
Hey @lovegushwa @hannahkane @beccaklam

Here's the copy for the sign-up side bar:

Like What You See? (headline)
There's more what that came from.
Sign up to get great stuff in your inbox.
Button Text: Sign Me Up (this works good for me)

[2017-04-04 23:53] lovegushwa commented on #794
@caltrider I think thats an interesting test. We might need to tweak the landing page to emphasize share. Perhaps they are directed to the landing page with a some kind of share modal fired.

[2017-04-05 00:33] lovegushwa commented on #792
@beccaklam this is cool. Some notes:
- Could we use an X rather than a close link? Whats your thinking here?
- the mozilla logo needs to be in it's box, so here it would be the white box with black text.
- we should drive to www.mozilla.org/internet-health rather than internthealthreport.org
- great first draft of the copy. It needs to do two things 1. address how a individual contribution shapes

[2017-04-05 16:08] caltrider commented on #792
Hey @lovegushwa @beccaklam. Great job on the copy. I don't have too many tweaks.  My thoughts:

How about we swap the word contribute (which brings to mind $$$ donations) for sharing.

Thanks for sharing! We *heart* the internet. Help keep it healthy.
Share this with your friends.
Learn more at https://www.mozilla.org/internet-health

[2017-04-05 16:35] beccaklam commented on #792
update:
![desktop_3a](https://cloud.githubusercontent.com/assets/20977376/24716237/57f53dda-19fc-11e7-9ce0-7090fc73793c.png)

[2017-04-05 17:04] hannahkane commented on #793
@vojtechmzl - thanks for this; this is great.

One clarifying question - Does "click-through rate to landing page" refer to clicks from non-email sources? Or would it also include people who click through from the email? I wonder if there's a reason to distinguish between those two, since people clicking through from the email are *already* subscribers, so our ask of them is different.

[2017-04-05 17:07] hannahkane opened #795 "Choose and purchase a thinglink account"
@ScottDowne and @caltrider - can you coordinate with Ashley (to approve budget) and Cade (to purchase/manage)?

[2017-04-05 17:09] hannahkane opened #796 "Create the first matrix!"
This one won't go out in an email, but it can be shared internally and socially.

Dependent on #781 and #795

[2017-04-05 17:09] vojtechsedlak commented on #793
great question @hannahkane. The idea here is indeed to focus on non-email sources, which would be contributing to the first objective of community growth. We will definitely be looking at email performance, but as part of the second, engagement-focused bucket of metrics.

[2017-04-05 17:11] hannahkane commented on #783
I'm going to close this, since we've moved to the build phase.

[2017-04-05 17:11] #783 closed, assigned to beccaklam

[2017-04-05 17:12] hannahkane commented on #786
Tiny copy edits based on the demo we saw during stand today:

I believe the copy on the form read: "There's more from where that came from." The first "from" should be removed.

Also, I believe the form field said "e-mail" instead of "email."

[2017-04-05 17:15] hannahkane opened #797 "Create the second matrix!"
This will be the first one to go out via email

[2017-04-05 17:17] hannahkane commented on #797
@WillatMozFdn - I'm putting this in the April 14 milestone, because we're using a weekly convention for milestones, always ending on Friday. But this ticket needs a specific deadline before Friday - for the matrix to go out via email at the end of next week, by what day does the matrix need to actually be built/populated?

[2017-04-05 17:20] hannahkane opened #798 "News Matrix Release Plan"
@caltrider @lovegushwa @beccaklam @ScottDowne @WillatMozFdn @vojtechmzl - please add to this ordered list if there are other items.

### Week ending April 7:
 - [x] News Matrix design finalized (#781 - @lovegushwa)
 - [x] Choose a thinglink account (#795 - @ScottDowne, @caltrider)
 - [x] Content for News Matrix 1 finalized, first matrix created, shared on Reddit, etc (#796 - @caltrider)
 - [ ] <s>

[2017-04-05 17:23] hannahkane commented on #793
Thanks, @vojtechmzl.

OK, I think we've checked off all the boxes for this ticket and have a solid strategy and plan for the news matrix. Hooray!

Closing this ticket, though if anyone still has outstanding questions or concerns, please feel free to re-open it.

[2017-04-05 17:23] #793 closed, assigned to caltrider, WillatMozFdn

[2017-04-05 18:44] ScottDowne commented on #795
These are our options if we want to go with a stock plan: https://www.thinglink.com/signup?buttonSource=fpPricing

I'm heavily leaning towards the 20/month.

[2017-04-05 18:48] caltrider commented on #795
@ScottDowne Agreed.  The $20 a month seems right for us.

Did you see the email I shot you and Chris and Ashely?

I think we should be good to go on getting this set up.

[2017-04-05 20:22] lovegushwa commented on #794
@WillatMozFdn the test email looks great! Two small tweaks:
(these issues may need to be fixed across all our templates)

Current brand style from MoCo is square buttons can you remove the round corners?
<img width="406" alt="screen shot 2017-04-05 at 10 53 37 am" src="https://cloud.githubusercontent.com/assets/12228435/24719367/54f97a6e-19ee-11e7-9c6b-f02e339f05a0.png">

The text in the Mozilla a

[2017-04-05 21:31] caltrider commented on #798
@hannahkane couple things.  I'm currently talking to legal about the news matrix. Maybe let's not confuse them too much with multiple asks on this just yet.

Second, I'm in Toronto next week for the OKR #3 Summit!  I plan to curate and write the matrix, any help I can get posting and such will be appreciated as I'll be traveling most of the day Thursday.

[2017-04-05 23:05] hannahkane commented on #798
@caltrider - cool. I put your name as responsible for the legal review (would be great to get their eyes on the site itself before we launch, to make sure we have their OK on the form/checkboxes).

I'm sure we can handle the posting of the matrix while you're in Toronto. Thanks for the heads up!

[2017-04-05 23:09] stephaniemcv commented on #794
@lovegushwa when you say light blue, do you mean the cyan (Hex# 82D1F5) from here:
https://mozilla.ninja/color-palette/?

My opinion, I think the logo looks weird in the footer, especially since the other two Mozilla's are in text.

We're working on standardizing all email templates and footers across the org to be brand compliant. Not sure when that rolls out.

[2017-04-05 23:27] lovegushwa commented on #794
@WillatMozFdn two small type tweaks i'd like to make.

Make the header type a little smaller, something like 20px - 24px and that pink box height ~80px. The header text is really large and the text in the image very small and making the contrast between the two a little less should make the difference less jarring.
![screen shot 2017-04-05 at 4 14 54 pm](https://cloud.githubusercontent.com/assets/

[2017-04-05 23:28] lovegushwa commented on #794
@WillatMozFdn lets keep the salmon color and keep the button text "interactive version"
I think the only missing bit is a link to the landing page. @beccaklam also approves of this color ;)

[2017-04-05 23:35] lovegushwa commented on #794
@stephaniemcv re the footer logo, I'm asking if we can implement the logo just like the MIH news letter.
![screen shot 2017-04-05 at 4 31 37 pm](https://cloud.githubusercontent.com/assets/12228435/24731278/cd2ce1a4-1a1d-11e7-87a0-e3475fac7777.png)

[2017-04-05 23:54] lovegushwa commented on #794
@stephaniemcv @WillatMozFdn if you want to run a test around color Salmon vs (something else) I would be into it.

[2017-04-06 00:01] lovegushwa commented on #786
@hannahkane @ScottDowne @beccaklam

If we decide we want to eventually link our product pages together,  using the advocacy.mozilla domain seems like a better choice than weekintheweb.mozilla.org ... unless we are ok with domains changing as a user navigates between pages.

![screen shot 2017-04-05 at 4 57 48 pm](https://cloud.githubusercontent.com/assets/12228435/24731769/08d072a4-1a21-11e7-9332-

[2017-04-06 04:15] lovegushwa opened #799 "Design: Privacy tips landing page"
Design a landing page for privacy tips to be built next week. Below is a wireframe to kick off the process. A few notes:
- I think we should keep the top bar + nav because we will probably want to localize this content, we may want to create a "safety 101" page eventually which is basically a curation of our most essential tips.

- We need to develop a privacy tips content plan. I'm started a tick

[2017-04-06 04:21] lovegushwa opened #800 "Content: privacy tips content plan"
Whats the cadence and plan for privacy tips? The landing page includes 2 kinds of content: short 1 paragraph tips that possibly link out to other resources, and explainer / expert interview videos.

NYTs is putting out great privacy content right now:
https://www.nytimes.com/2014/11/21/technology/personaltech/using-a-vpn.html?action=click&contentCollection=Personal%20Tech&module=RelatedCoverage&re

[2017-04-06 04:30] lovegushwa commented on #799
@beccaklam I started a project folder, please edit my hacked sketch file and take a stab at UI so we can keep this rolling.

https://drive.google.com/drive/folders/0B2qu3ExKWIlvU3FqUnBhMnp3TTA?usp=sharing

[2017-04-06 04:37] lovegushwa opened #801 "Finalize: Internet health videos / testing plan"
Let's use this ticket to track the final tweaks to the internet health videos. We can loop in Alex and add a revised testing plan tomorrow.

[2017-04-06 15:48] beccaklam commented on #781
@lovegushwa @caltrider Newest Iteration:
https://redpen.io/hfa422ad52394748c2 <-- redpen for comments
![news matrix 7a](https://cloud.githubusercontent.com/assets/20977376/24763217/ba30f5a8-1abe-11e7-963e-232287eca5be.png)

[2017-04-06 16:14] caltrider commented on #781
@beccaklam @lovegushwa
I love it!  Looks great.  Great work!

Just realized, in the footer, we should probably take out "each week". So it should read:
"Love these? Get them in your inbox. Sign up here."

Also, should there be a Mozilla logo on it some where?

I have this week's content just about read to send to build this week's first matrix. Look for it shortly.

[2017-04-06 17:25] hannahkane commented on #801
@lovegushwa - should we put this in the April 14th milestone? Do we need a deadline sooner than that?

[2017-04-06 17:27] hannahkane commented on #800
We could have distinct cadences for social and email, as we do with the news matrix (which will be produced and shared weekly, but emailed only every other week).

Email schedule for this should respect the rest of the email content calendar.

[2017-04-06 17:29] hannahkane commented on #800
Another thing to discuss is localization of this content

[2017-04-06 17:30] hannahkane commented on #800
And another thing is the branding of this. I'd thought we were leaning towards "safety" as our frame for this (e.g. Safety First). Can we clarify?

[2017-04-06 17:43] lovegushwa opened #802 "Multiple instances of the mablib site"
@hannahkane @ScottDowne we should be able to spin up multiple versions of the madlib site:

- a version for folks from our email list
- a version or two for social testing (Alex could weigh in here on the exact number)
- a version for snippet traffic (we will launch this after we run the initial social test.)

I'm curious if these 'threads' develop different tones based on the origin of the traffi

[2017-04-06 17:57] ScottDowne commented on #802
So I'm thinking we can do this in a query string. examples: madlib.org/?channel=social madlib.org/?channel=email madlib.org/?channel=snippet.

This would then use 1 of 3 different data sources.

We should probably default to social if they manage to go to a link without the query.

[2017-04-06 18:03] vojtechsedlak commented on #802
Will we be recording the threads in any machine-readable way? If we for instance had a csv file that gathered the entries, with associated timestamps and maybe full URL paths, we could so some sentiment analysis afterwards.

[2017-04-06 18:32] lovegushwa opened #803 "Copy change: open data day site"
CC @hannahkane @ScottDowne @caltrider

We need to make a small copy change to the open data days site so we can promote it via snippet on US tax day (April 17th).

https://iheartopendata.org/en-US/#about

Change this copy in the 2nd paragraph:

Given today is Open Data Day we thought that it would be a great moment for us as taxpayers (the funders of large amounts of scientific research!) to advan

[2017-04-06 18:50] hannahkane commented on #803
@ScottDowne - ok if I put this in the current milestone?

[2017-04-06 18:53] hannahkane opened #804 "Build: Privacy Tips Landing Page"
Design will happen in #799

Should be similar to News Matrix landing page in that it needs to be easily updateable by staff (new Tips every week).

Unlike the News Matrix, this site will be localized.

url will be advocacy.m.o/safety

[2017-04-06 19:01] hannahkane opened #805 "QA for News Matrix landing page"
@beccaklam and @ScottDowne - let me know when the page is in a place where it can be QA'd. I can do a round of QA tomorrow or Monday.

[2017-04-06 21:17] beccaklam commented on #781
@lovegushwa @caltrider April 1 News Matrix first draft, the images need some work I can clean/brighten them up in the morning:
![news matrix april 1](https://cloud.githubusercontent.com/assets/20977376/24775926/d2a63f0c-1aec-11e7-97fe-054abafb8973.png)

[2017-04-06 23:49] lovegushwa commented on #801
@hannahkane I'd like to wrap this up tomorrow, let's see where we are EOD, we can move it if needed.

[2017-04-06 23:59] lovegushwa commented on #781
@beccaklam Looking great overall!

- the inside of the B on NOOB is missing!
- we should connect on editing images
- some of the dots are not centered or constantly spaced from the block of copy, I think we can solve this with how the temple file is setup
- @caltrider I think we should could cut down on the amount of copy for the next one.

[2017-04-07 00:29] lovegushwa commented on #801
@natalieworth @brettgaylor darn nearly final videos are here:
(original with custom subtitles coming tomorrow)

Original (will use facebook auto subtitles)
https://drive.google.com/file/d/0B20-0lpP23c0VjlBc3dEcmNGQ0E/view?usp=sharing

Rapid response version
https://drive.google.com/file/d/0B20-0lpP23c0cDlubUxYcGhMdVE/view?usp=sharing

[2017-04-07 18:25] agiedt commented on #801
Comments on the videos and CTAs

I like "Tell Us" as a CTA.

One overall comment is that these videos are long (50 - 60 seconds).  Not too long as in "not engaging", I think they are great, but that is long to get to the CTA.  Is there a way to put the "what do we want the audience to do?" message earlier in the videos.

I'm totally happy to take them and test them to see what kind of engagement w

[2017-04-07 21:54] stephwright commented on #771
Talked to Chris & Ashley and we'd like to keep it open as long as we're still promoting and obtaining signatures.  The current plan around that is a promotion leading up to Tax Day and around the March for Science.  If we could keep this open until a few days after the March, that'd be ideal.

How does that sound?

[2017-04-07 21:54] stephwright commented on #771
Oh... btw... can anyone tell me how many signatures we have so far?  Sara used to be my goto to find that out.

[2017-04-07 21:56] hannahkane commented on #771
I see 15,653 responses as of right now.

[2017-04-07 21:57] stephwright commented on #771
Thx @hannahkane !  Will pass that info along.

[2017-04-08 00:06] hannahkane opened #806 "Research and choose call tool for Copyright Campaign targeting European Parliament"
The immediate impetus for this work is the possibility of adding a call tool to the [Copyright Campaign site](https://www.changecopyright.org/en-US/) in time for a June vote in the European Parliament. Even if we can't meet the deadline for this vote, we'll certainly need this for future campaigns, so we'll need to identify a tool regardless.

For that project, we need to identify a tool that meet

[2017-04-08 00:09] hannahkane commented on #806
cc @Melechuga @Matt-Holland @ScottDowne - please add details about add'l requirements or questions you have that would inform our evaluation of potential tools.

Note: I'm not assigning this ticket to anyone or putting it in a specific milestone yet, but we can capture ideas/questions here in the meantime, while we sort out competing priorities.

[2017-04-10 16:18] natalieworth commented on #801
@lovegushwa @hannahkane @brettgaylor @beccaklam Can you all take a look at these final exports before I add in the credits. I want to make sure the timing/ frames are all good before finishing the captions since it's a pain to adjust them after if anything changes. Looking for feedback to make sure sound, spelling, etc. is all good for these. Thanks!
Videos are here:
https://drive.google.com/drive

[2017-04-10 16:23] brettgaylor commented on #801
Oops! Sorry I missed this Friday and I'm just on a phone now, so can't look
at finals.

2 things I remember:

The sound mix needs to be adjusted so that when you have quotes/people
talking, the music goes down, and then back up when they are done. Rubber
bands and keyframes are your friend!

I would adjust the quote from Hawking so the text is on screen a little
longer. It's jarring that it leaves

[2017-04-10 16:38] natalieworth commented on #801
@brettgaylor Yes! Thanks! Agree, it's hard to not get into the weeds with the rapid response vids. Should maybe to a mini-debrief or something after? So they don't have to be perfect. Or if there's a way to make them perfect quicker?

[2017-04-10 17:14] hannahkane commented on #801
Suuuuuuper tiny thing: at :44 of the long version, the caption of the firefighter image ends with the word "and", and then it's repeated at the beginning of the next frame over the smokestacks.

[2017-04-10 17:19] natalieworth commented on #801
@hannahkane thanks! good catch!

[2017-04-10 17:57] ScottDowne commented on #803
It's updated on staging now: https://iheartopendata.mofostaging.net/en-US/#get-involved

[2017-04-10 17:57] ScottDowne commented on #803
I'll close this once it's on prod

[2017-04-10 18:13] ScottDowne commented on #803
Fixed.

[2017-04-10 18:13] #803 closed, assigned to ScottDowne

[2017-04-10 21:12] lovegushwa opened #807 "Design: Science march poster & social post template"
Design templates so we can knock out 12 unique protest posters and social graphics Wednesday the 19th. Related ticket #808

[2017-04-10 21:21] lovegushwa opened #808 "Distribution plan for Science March posters"
Meta ticket for Science March poster distribution:

- [x] decide on the number of posters (let's make 12??)
- [ ] build a medium post to share the posters
- [ ] create a email to share the posters
- [ ] <s>create a share progress page for each poster instance</s>

Related tickets:
email ticket #809
medium copy / build ticket #810
share progress ticket #813

CC: @caltrider @hannahkane @natalieworth

[2017-04-10 21:31] hannahkane commented on #804
@lovegushwa - I feel like this is unlikely to happen this week, so I'm going to remove from the milestone. Lets see how far we get with content and design before we bring this back into the fold.

[2017-04-10 21:34] hannahkane commented on #802
@ScottDowne - aside from answering @vojtechmzl's question above, is this ticket done?

[2017-04-10 21:35] lovegushwa opened #809 "Email: Share science march posters with list"
- [ ] write email copy
- [x] create callout graphic

[2017-04-10 21:37] hannahkane commented on #795
@caltrider - can we close this ticket? Are we good?

[2017-04-10 21:40] hannahkane commented on #794
@WillatMozFdn - Has this landed? Assuming the matrix itself is ready to go, will we be able to send the first email this week?

[2017-04-10 21:43] lovegushwa opened #810 "Science March: medium copy / build ticket"
Write and design a Medium post that shares the Science March posters. The post will function as a hub for traffic from:

- email list
- social shares / posts
- redit

Content should include:
- A introduction / overview of why Mozilla is doing this, possibly promote https://iheartopendata.org
- 12 unique social graphics with links to share on social (via share progress) and download the as a poster

[2017-04-10 21:45] lovegushwa opened #811 "#810"

[2017-04-10 21:46] hannahkane opened #812 "Ask email audience for Science March poster ideas"
The plan, as I understand it, is to collect clever/smart/insightful/funny Science March poster ideas from our Mofo email audience, and design posters for about 12 of the best ideas.

We'll need:
 - [x] Email copy. The email will link to a science version of the madlib (which is cool, because then people will be able to see and be inspired by other people's ideas).

I believe this will be US-only,

[2017-04-10 21:50] lovegushwa opened #813 "Build: separate share progress pages for each Science March social poster"
Create a share progress page for each Science March social poster. Pages will be linked from a Medium post containing 12 different poster graphics with links to share under each graphic. #810

CC: @hannahkane @ScottDowne @natalieworth @beccaklam @vojtechmzl

[2017-04-10 21:51] #811 closed, assigned to nobody

[2017-04-10 21:53] hannahkane opened #814 "Create science version of madlib"
Should be hosted on the same domain as the other madlib (ticket filed in private devops repo), but with "science" as the subdomain.

Instead of "A healthy internet is...", it should read....something else.

Ideas:
 * "An awesome March for Science poster would be..."
 * "I march for science because..."
 * "I Love Science" and then the prompt in the text field would be "Share your best March for Sci

[2017-04-10 21:55] hannahkane opened #815 "Tax Day snippet"
https://iheartopendata.org has been updated to reflect tax day messaging.

Needed:
- [ ] copy
- [ ] icon

[2017-04-10 22:00] lovegushwa commented on #801
Additional feedback here:
https://docs.google.com/document/d/1WGIJj8VyPjgRuXdKKivBR3Of9RjTukKjlZtJrOYxvcA/edit

[2017-04-10 22:19] stephaniemcv commented on #812
Confirm that audience will be EN-US and @caltrider will be drafting copy.

[2017-04-10 23:24] lovegushwa commented on #801
@agiedt here is the revised testing plan:

<img width="1299" alt="screen shot 2017-04-10 at 4 22 55 pm" src="https://cloud.githubusercontent.com/assets/12228435/24886538/1e0454d2-1e0a-11e7-9475-59cca0decc58.png">

[2017-04-10 23:28] lovegushwa commented on #801
Final checklist:
- [x] final videos
- [ ] links to multiple versions madlib site for audience testing
- [ ] confirm analytics are all hooked up on mablib site
- [x] transcript for auto subtitles for A. mashup version @natalieworth

anything missing?

[2017-04-10 23:46] agiedt commented on #801
Thanks, I'll be looking at it soon!

A

On Mon, Apr 10, 2017 at 1:24 PM, lovegushwa <notifications@github.com>
wrote:

[2017-04-10 23:48] lovegushwa commented on #801
@agiedt no sweat, you can run this test next week. Just making sure you have everything.

[2017-04-10 23:49] agiedt commented on #801
I appreciate it.  I'm looking forward to getting into it.  Thanks for
keeping me in the loop.

A

On Mon, Apr 10, 2017 at 1:48 PM, lovegushwa <notifications@github.com>
wrote:

[2017-04-11 11:20] caltrider commented on #795
@hannahkane Yes, @cadecairos got this up and running like a boss last week.

[2017-04-11 16:18] hannahkane commented on #795
Thanks. I'll close this now, but you should also be able to close tickets in the future.

[2017-04-11 16:18] #795 closed, assigned to ScottDowne, caltrider

[2017-04-11 16:39] lovegushwa commented on #802
@ScottDowne we will also be making a science version. Hold tight for the sub domain and the copy. #814 has the details.

[2017-04-11 16:49] hannahkane commented on #781
Donezo!

[2017-04-11 16:49] #781 closed, assigned to lovegushwa, beccaklam

[2017-04-11 17:12] stephwright commented on #814
Just discovered this site thx to Kaitlin: https://www.signsforscience.com/
Maybe there is some sort of collaboration that can happen there?
Reached out to find out who is behind it.  No mention on the website and WHOIS indicates domain is registered through a proxy.  Sent an email to "contact" address to see if I can find out more.

[2017-04-11 17:13] hannahkane commented on #792
@lovegushwa @beccaklam - I'm going to close this ticket. If we have add'l tweaks (i.e. for color), please open a new ticket.

The ticket for the [science version of the madlib](https://github.com/MozillaFoundation/Advocacy/issues/814) is still open.

[2017-04-11 17:13] #792 closed, assigned to lovegushwa, beccaklam

[2017-04-11 17:14] lovegushwa commented on #814
@beccaklam add your take on the copy

"March for science posters ... "
"your cleaver idea here"

+ modal fires on visiting the landing page provides context

[2017-04-11 17:14] hannahkane commented on #796
Re-assigning to @beccaklam to make the final tweaks on the first matrix, which will live on the landing page.

[2017-04-11 17:17] hannahkane commented on #794
Reassigning to @WillatMozFdn to finish final tweaks and then close this ticket.

[2017-04-11 17:17] hannahkane commented on #772
Can we close this?

[2017-04-11 17:18] hannahkane commented on #772
Or...maybe I don't know what this is. Nevermind. :)

[2017-04-11 17:19] hannahkane commented on #812
@stephaniemcv @WillatMozFdn - When do we need this copy by to have the email go out on Friday?

[2017-04-11 17:24] hannahkane commented on #786
I'm going to close this ticket, and we can open new tickets for any remaining work, such as mobile optimization.

[2017-04-11 17:24] #786 closed, assigned to ScottDowne, beccaklam

[2017-04-11 17:26] hannahkane opened #816 "Resolve mobile usability issues on News Matrix landing page"
As discussed on stand, we need to find a solution for the mobile usability challenges.

Could be adding a list of links to the mobile view.

[2017-04-11 17:27] WillatMozFdn commented on #812
Copy would need to be finalized and submitted for approvals three full
business days before intended launch.

Who is project managing this email?  We need that person to fill out a planning
document
<https://docs.google.com/document/d/1aEzfTaqUPbzA4kwnIIcfGNT2FOTf9msp0c1JNk8pw3g/edit>
.

 - Will

On Tue, Apr 11, 2017 at 1:19 PM, hannahkane <notifications@github.com>
wrote:

[2017-04-11 17:28] hannahkane opened #817 "Third matrix"
For the week ending April 21
 - [ ] Provide content (links + blurbs)
 - [ ] Build matrix
 - [ ] Add to landing page
 - [x] [since we're alternating weeks, we won't need an email this week]

[I don't think we'll need tickets for every matrix moving forward, but let's track our work for a few beats, until we get the hang of it.]

[2017-04-11 17:45] beccaklam commented on #772
Yes we can close! The madlib is basically this.

[2017-04-11 17:45] #772 closed, assigned to beccaklam

[2017-04-11 18:04] beccaklam commented on #816
@hannahkane @caltrider
Waiting to see what options are available when we get the proper thinglink account. Any word on that? @ScottDowne and I are thinking there may be some solutions once we have more agency over the thinglink styling (the free account has just very basic styling).

[2017-04-11 18:19] hannahkane opened #818 "QA: News Matrix country list is Europe"
This Week in the Web targets US, CA, UK, and AU. I think those should be the countries listed, if we need the country field at all (@caltrider?)

[2017-04-11 18:20] hannahkane opened #819 "QA: News Matrix page needs a title"
Probably "This Week in the Web"

[2017-04-11 18:23] hannahkane opened #820 "QA: form error treatment"
Error message currently reads "please_complete", and isn't visually related to the relevant field.

@beccaklam to determine appropriate treatment

[2017-04-11 18:36] ScottDowne commented on #818
Good call, forgot this. (it was built off of copyright)

[2017-04-11 18:42] ScottDowne commented on #819
Changing it to "This Week in the Web" until we decide on something else

[2017-04-11 19:00] ScottDowne commented on #818
Adding these countries, however, it might be worth pointing out that country input is optional.

[2017-04-11 19:14] beccaklam commented on #814
A look at copy for the Science Madlib:
Also are we going to provide a link to where people can find the posters when they're released?
![science madlib](https://cloud.githubusercontent.com/assets/20977376/24926410/7229323e-1ec9-11e7-87b8-27d59b9be587.png)

[2017-04-11 20:04] hannahkane commented on #820
Looks good now. Thanks!

[2017-04-11 20:04] #820 closed, assigned to ScottDowne, beccaklam

[2017-04-11 20:05] hannahkane commented on #819
Thanks. Verified.

[2017-04-11 20:05] #819 closed, assigned to ScottDowne

[2017-04-11 20:14] hannahkane commented on #818
Looks close to good now, but UK isn't there, and "undefined" is.

[2017-04-11 20:18] hannahkane commented on #805
Is anyone else able to do QA on the site, or are we comfortable with just me?

cc @lovegushwa

[2017-04-11 20:29] lovegushwa commented on #815
Looks like snippet copy is developing here:
https://docs.google.com/document/d/11LhLsxSaesi0hHnhP9Iyu7fUzjPFExQjUpZVgFJccaY/edit

[2017-04-11 20:34] ScottDowne commented on #818
Fixed. I got hung up on country codes. UK country code is actually GB and not UK. Weirdos.

[2017-04-11 20:50] lovegushwa commented on #814
@beccaklam @hannahkane

- can we create a placeholder medium post that says something about the 12 signs will be posted here and then link to on the madlib page?

- The copy seems close, @hannahkane  what do you think about "Making a cleaver sign is hard. Help Mozilla make it not"

Alt could be something like:

"Support the March for Science by sharing a clever protest sign slogan. Mozilla will de

[2017-04-11 21:45] hannahkane commented on #818
K. Works. Thanks!

[2017-04-11 21:45] #818 closed, assigned to ScottDowne

[2017-04-11 21:46] hannahkane commented on #805
I'm going to say this is QA'd, save the mobile stuff (ticketed elsewhere) and design tweaks that are pending.

[2017-04-11 21:46] #805 closed, assigned to hannahkane

[2017-04-11 21:47] hannahkane commented on #798
This ticket no longer feels useful, so I'm going to close.

Remaining work is ticketed.

[2017-04-11 21:47] #798 closed, assigned to hannahkane

[2017-04-11 21:49] hannahkane commented on #812
I believe @caltrider is point on this. Jen - do you have time to fill out the planning document and write the copy tomorrow?

[2017-04-11 22:57] hannahkane commented on #814
@lovegushwa - I like your alt copy. I don't think the march is being billed as a protest, though, so maybe this slight edit: "Support the March for Science by sharing a clever science-themed slogan. Mozilla will design posters from 12 of our favorites and post them here (link) to print or share online."

Drawing on language from the official March website, I'm wondering if the prompt ("Clever scie

[2017-04-11 22:57] natalieworth commented on #801
@lovegushwa @hannahkane @agiedt
Final videos are up on the google drive here:
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0SGZtZldDSk9ad1U

1) Mashup (original version): https://drive.google.com/file/d/0B20-0lpP23c0bzZmWmRWWjR5SzA/view
2) Mashup + large captions (rapid response-long version): https://drive.google.com/file/d/0B20-0lpP23c0OU1OTGg3ZXJYaWc/view
3) Text + Stock (rapid respon

[2017-04-11 23:05] hannahkane commented on #801
yaaaaaaay!!!! nice work, @natalieworth. :)

[2017-04-11 23:20] natalieworth commented on #801
Also for my/ future reference. The working Premiere file is here https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0OGpHalhXTlJZcTA

[2017-04-12 11:00] caltrider commented on #816
@beccaklam Talk to @cadecairos about getting access to the Thinklink account. He can get you set-up in it to play around and answer your questions

[2017-04-12 12:20] caltrider commented on #812
Here's the draft copy:  https://docs.google.com/document/d/1K79FO013rF5-zidNeGALWNNmND41pm5yDlJluXRv_q0/edit

[2017-04-12 14:33] WillatMozFdn commented on #818
We really do want to have the country field -- that's super-helpful in
targeting emails (i.e., Copyright campaign to UK people, net neutrality
activism to US people, etc. etc.)

Unresolved question, though, is what to do with the edge cases of people in
other countries who want to sign up for this email ... let's say for
example Ireland ... ??

I don't have a good answer to that right now.

 - W

[2017-04-12 15:33] ScottDowne commented on #816
Becca showed me this. It seems to have some acceptable options, and it's all solved within the act of making the thinglink, which is good.

[2017-04-12 15:36] ScottDowne commented on #802
I think we can close this. There are multiple links for email social and snippet. Social is the default.

We can tweak this further in new issues.

@vojtechmzl Issues around metrics can be filed in a new issue. I have time to tackle this now, so please ping me if you want to chat.

@lovegushwa Issues around science site and domains are also better served as new issues. You can ping me with any que

[2017-04-12 15:36] #802 closed, assigned to ScottDowne

[2017-04-12 15:39] ScottDowne commented on #816
@beccaklam There is no action from us, we just need to make sure when a thinglink is made, it's made in the proper mobile friendly way.

I think we can close this because investigation is done, a solution is found, and no dev or design is required. At this point all I see left is making sure every thinglink is made in the proper way, which is probably not something we need to keep as an open ticke

[2017-04-12 15:39] #816 closed, assigned to ScottDowne, beccaklam

[2017-04-12 15:40] ScottDowne commented on #816
Feel free to reopen if you think closing this  was too soon. :)

[2017-04-12 16:03] hannahkane commented on #818
@WillatMozFdn - We do have the country field; it's just optional. We can add more countries to the list, like Ireland. Should we do that?

[2017-04-12 16:13] hannahkane commented on #808
@lovegushwa - given the specific tickets for each item, now I'm thinking maybe we can close this ticket, since there's nothing actionable on it. What do you think?

[2017-04-12 16:20] lovegushwa opened #821 "QA: Week in the web"
<img width="1540" alt="screen shot 2017-04-11 at 2 46 45 pm" src="https://cloud.githubusercontent.com/assets/12228435/24967969/9412acf8-1f60-11e7-92c5-a9120e0edb71.png">

@hannahkane and I discussed the lack of context on this page. Not clear to a first time visitor what it's about. A few things we can do to fix this:

- move the email signup back to the right side
- pull the "this week in the web

[2017-04-12 16:29] lovegushwa opened #822 "QA: madlib site"
Overall this page looks beautiful.

<img width="1538" alt="screen shot 2017-04-11 at 10 49 44 am" src="https://cloud.githubusercontent.com/assets/12228435/24968289/a947a870-1f61-11e7-8238-99811d700949.png">
@beccaklam lets sit and look at how the brand pallet is applied, look into a gradient background color or tiled background image.

<img width="1544" alt="screen shot 2017-04-11 at 10 50 09 am"

[2017-04-12 16:45] hannahkane opened #823 "Medium post preview"
- [ ] Copy
- [ ] Design
- [ ] Figure out where to post it
- [ ] Post it

[2017-04-12 16:53] hannahkane commented on #815
@lovegushwa to email Wes about whether icons are needed and if we're good on copy

[2017-04-12 18:46] lovegushwa commented on #821
![screen shot 2017-04-12 at 11 44 30 am](https://cloud.githubusercontent.com/assets/12228435/24973946/7b68f8f0-1f75-11e7-8fb7-76781faf66e4.png)

The date can be added to the graphic (maybe top left corner?)
Or HTML if it's not a crazy lift. Will leave that up to you @beccaklam

[2017-04-12 20:18] natalieworth commented on #801
@agiedt Are you familiar with uploading guidelines around 'closed caption' files for facebook and twitter? If you are, what kind of file would be best to provide you with for the 1st version of the video (as I exported it without captions inherently in it like the others)? I can put the text into a google document, but just wanted to check if you need anything on your end for the closed caption fi

[2017-04-12 21:26] hannahkane opened #824 "Choose and treat photo for Science poster ask email"
The email will go out Saturday, and we need to choose from a selection of photos of Steph's rad daughter making a sign.

(Steph shared these in a dropbox, which I just shared with @lovegushwa)

[2017-04-12 21:35] hannahkane commented on #824
@natalieworth - would you have some time to work on this? I can share the dropbox with you.

[2017-04-12 21:43] Melechuga commented on #806
Hey @hannahkane @ScottDowne
I'm going to speak with the developer from Bits of Freedom on Friday morning (PT). If there are general security questions I can ask on your behalf so you can decide whether to dig in further or not, please let me know. If you'd like to join the call, that would be great too! Otherwise I will have a general meet-and-greet convo about the tool and hope he'll be amenable

[2017-04-12 22:19] natalieworth commented on #824
@hannahkane yeah! for sure! do we have the resolution requirements?

[2017-04-12 22:24] hannahkane opened #825 "Design: Produce a Privacy and Security Toolkit"
@chadsansing has put together a collection of [privacy and security related activities](https://docs.google.com/document/d/1q9St-xDJyG8mhs11ntvu4hYWowgY0uLRGE08OLbG9EE/edit#heading=h.i60cp99euem4) to be shared more broadly. It's currently in a google doc, and needs to be prettified, and potentially webified (though it could be a pdf).

@chadsansing - can you please include some details below about

[2017-04-12 22:26] lovegushwa commented on #824
@natalieworth lets use our square callout. 250x250px
I passed the email with the photos in it along you to.

... The image callout is small so you may need to crop in on the hand and the brush to make it work visually.

[2017-04-12 22:38] hannahkane commented on #806
Chris's concerns were about the expired SSL certificate and the fact that the code hadn't been updated in 2 years. Do we know that the tool is still maintained?

What time is the meeting?

[2017-04-12 23:02] vojtechsedlak opened #826 "Ensure GA tracking & event implementation on Madlib and News Matrix site"
Hey @ScottDowne, just wanted to check in on the analytics setup for the two new sites. Is there anything I can help with on that?

As for requirements, each site should have its own GA property (I just filed a devops ticket [here](https://github.com/MozillaFoundation/mofo-devops-private/issues/52). The following custom events should be in place, utilizing the standard [syntax](https://docs.google.

[2017-04-12 23:44] chadsansing commented on #825
This is meant to be a widely distributed and on-the-web, but printable, resource for educators and activists who want to have workshop activities like ours in addition to other external resources for themselves, their organizations, and their learners. It's primarily a way to suggest to educators and activists that they use our curriculum in trainings and point participants to allied orgs' work af

[2017-04-13 06:30] lovegushwa commented on #822
@beccaklam @ScottDowne these two color options are approved via brand. Focus on getting the science version ready to ship, we can review at standup. Excited to see this go live!

I emailed you the sketch file (didn't see a folder for this project on the drive.)

![screen shot 2017-04-12 at 6 27 10 pm](https://cloud.githubusercontent.com/assets/12228435/24992439/48cd6abe-1fd6-11e7-90a9-591a56a2ea81

[2017-04-13 06:34] lovegushwa commented on #821
@beccaklam @ScottDowne Let's hold off on any more work here until after standup.

[2017-04-13 06:38] lovegushwa commented on #821
@beccaklam this still has not gone through brand review. I'd like to spend more time on the design tomorrow before submitting so let's hold any dev work other than moving the signup back to the left side.

[2017-04-13 17:23] natalieworth commented on #809
Hey Will, I have the ticket here at 250 x 250 @ 144dpi. I feel like it looks a little low res on my Macbook display? So let me know if you need a higher resolution?
![science-graphic-v1](https://cloud.githubusercontent.com/assets/14876567/25016015/3133a76c-2033-11e7-83d4-915f66104613.jpg)

[2017-04-13 17:29] natalieworth commented on #809
@WillatMozFdn

[2017-04-13 17:38] hannahkane commented on #814
- [ ]  for handling shutdown (if needed): build a static page that doesn't have the input and says we're no longer accepting submissions

[2017-04-13 17:39] hannahkane commented on #814
- [ ] add link to Medium post, when we have it

[2017-04-13 17:40] hannahkane commented on #823
Just kidding.

[2017-04-13 17:40] #823 closed, assigned to lovegushwa, natalieworth

[2017-04-13 17:48] beccaklam commented on #814
**New copy for modal (tentative, needs work):**
Support the March for Science by sharing a clever science-themed slogan. mozilla will design posters from 12 of our favorites to print or share online. Follow us on Facebook and Twitter to see the final products.

[2017-04-13 18:07] beccaklam commented on #814
**Modal suggestion two:**
Support the March for Science by sharing a clever science-themed slogan. mozilla will design posters from 12 of our favorites. Follow us on Facebook and Twitter to print or share the final products.

[2017-04-13 18:47] beccaklam commented on #814
@hannahkane @lovegushwa  would something like this work?
<img width="1440" alt="screen shot 2017-04-13 at 2 46 43 pm" src="https://cloud.githubusercontent.com/assets/20977376/25019274/0c540ab6-2058-11e7-96bc-b7e14717009a.png">

[2017-04-13 18:47] natalieworth commented on #824
![science-graphic-v3 300dpi](https://cloud.githubusercontent.com/assets/14876567/25019259/dcc9b2a0-203e-11e7-9020-6ff85a6521dc.jpg)
@lovegushwa I made it 250 x 250 @ 300dpi? It was originally 144dpi but the resolution and image size looked really small on my Mac Retina display? It's only 29KB at 300dpi so it should be fine for email.

[2017-04-13 18:51] hannahkane commented on #814
👍

[2017-04-13 18:59] beccaklam commented on #814
@hannahkane
**Shutdown site copy in modal:**
Thank you for sharing your March for Science slogan ideas! Our designers are excited to transform our favorites into 12 awesome posters. Follow us on facebook and twitter to print or share the final products.

[2017-04-13 19:19] hannahkane commented on #814
@beccaklam - So very perfect.

[2017-04-13 19:34] lovegushwa commented on #814
@beccaklam Liz suggested this edit:

Support the March for Science by sharing a clever science-teamed slogan. Mozilla will design poster from 12 of our favorites. Follow us on Twitter to see the final results (and then print them and share them)!

[2017-04-13 19:39] beccaklam commented on #814
@hannahkane @lovegushwa
**latest iteration:**
Support the March for Science by sharing a clever science-teamed slogan. Mozilla will design a set of posters from our favorites. Follow us on Twitter to see the final results (and then print them and share them)!

[2017-04-13 19:46] hannahkane commented on #814
"science-themed" not "teamed"

Otherwise, ok with me. (Just out of curiosity, why are we removing FB?)

[2017-04-13 20:49] beccaklam commented on #814
@hannahkane Liz suggested we use one channel to simplify!

[2017-04-13 21:08] WillatMozFdn commented on #814
The downside of simplifying onto one channel is that we're going to exclude
a lot of people who are on FB but not Twitter.  Could I suggest that we
flip that back and ask for follows & announce in both channels?

(At least in terms of generating new subscribers, at both CREDO and Bernie
we found that FB produced about 90% of the action, versus Twitter, only
about 10%.)

 - W

On Thu, Apr 13, 2017

[2017-04-13 22:29] natalieworth commented on #807
@lovegushwa @hannahkane @beccaklam process here so far for the science posters:
I'll also add these to redpen here so they're easier to comment on: https://redpen.io/p/fq8f87a8b168e0c122

@lovegushwa The working photoshop files are also here if you want to explore anything/ need it tomorrow. Kind of fun to try different things: https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0U3pYaWdmS2s0Q1

[2017-04-13 22:31] natalieworth commented on #807
Pinterest inspiration was here too @lovegushwa @beccaklam https://www.pinterest.com/nataliejworth/protest-signs/?eq=protest&etslf=7211

[2017-04-13 23:50] lovegushwa opened #827 "Bug: twitter link broken"
The twitter link is broken on https://science.typeoutloud.org/, can you link to https://twitter.com/mozilla ? (or the equivalent to follow that feed, whatever you think is appropriate)

@ScottDowne @hannahkane

[2017-04-13 23:53] lovegushwa opened #828 "Bug: change logo to 'We' on science.typeoutloud.org"
So much fear of trolls means please replace Mozilla logo with the word 'We'

@hannahkane @ScottDowne

[2017-04-14 03:34] ScottDowne commented on #828
Should be done now and live in a bit.

[2017-04-14 03:34] #828 closed, assigned to ScottDowne

[2017-04-14 03:34] ScottDowne commented on #827
Should be done now and live in a bit.

[2017-04-14 03:34] #827 closed, assigned to ScottDowne

[2017-04-14 17:25] hannahkane opened #829 "Favicon on the madlib"

[2017-04-14 17:26] hannahkane commented on #814
Closing this ticket. Let's file new issues for things that come up.

[2017-04-14 17:26] #814 closed, assigned to beccaklam

[2017-04-14 17:27] hannahkane commented on #814
Closing this issue. Let's file new issues for anything that comes up.

[2017-04-14 17:28] #808 closed, assigned to hannahkane

[2017-04-14 18:59] lovegushwa opened #830 "Create page for madlib takedown"
@ScottDowne @hannahkane

Lets build this in the same style as the modal, but just center the type on a black page.

Thank you for sharing your March for Science slogan ideas! We will design a set of posters from our favorites. Follow us on Twitter to see the final products (and then print and share them)!

[2017-04-14 20:01] lovegushwa commented on #824
@WillatMozFdn updated with the new callout image
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvVTNTaVRuSEhUaGM/view?usp=sharing

[2017-04-14 20:54] WillatMozFdn commented on #824
got it, all good, afaik we can close this ticket

[2017-04-14 23:47] #824 closed, assigned to lovegushwa

[2017-04-15 03:11] lovegushwa commented on #829
Favicon file: https://mozilla.ninja/s/Moz_Favicon_Logos.zip

[2017-04-15 05:18] ScottDowne commented on #829
Done.

[2017-04-15 05:18] #829 closed, assigned to ScottDowne

[2017-04-17 17:12] ScottDowne commented on #830
This is fixed, and documentation is here: https://github.com/mozilla/typeoutloud.org#for-when-something-goes-bad-and-we-need-to-turn-off-input

[2017-04-17 17:12] #830 closed, assigned to ScottDowne

[2017-04-17 17:14] ScottDowne opened #831 "typeoutloud.org link to a single line."
For the next iteration, something we can add is the ability to link to one specific line, as a way to share a line you like.

[2017-04-17 17:15] ScottDowne opened #832 "typeoutloud.org mobile input"
For the next iteration, I found the mobile input element was hard to use. Once your input got beyond the length of the screen, it became kinda hard to scroll in your input.

[2017-04-17 17:18] ScottDowne opened #833 "typeoutlout.org ability to whitelist a certain input"
For the next iteration, something we can add is the ability to whitelist a certain line, because the word filter is flagging more false positives than actual bad words.

[2017-04-17 17:45] hannahkane commented on #831
Yes, and maybe even a prompt to do so.

[2017-04-17 17:54] hannahkane commented on #812
Done!

[2017-04-17 17:54] #812 closed, assigned to caltrider

[2017-04-17 17:55] hannahkane opened #834 "add "mozilla" back to madlib modal"
We removed it just before we announced the Science madlib, due to nerves, but now we can bring it back!

[2017-04-17 17:57] hannahkane commented on #796
Can we close this? Is the first matrix done?

[2017-04-17 17:57] hannahkane commented on #797
Can we close this? Is the second matrix done?

[2017-04-17 17:58] hannahkane commented on #794
@WillatMozFdn - can we close this ticket? Is the news matrix email template finalized?

[2017-04-17 18:00] WillatMozFdn commented on #794
Yes, close 'er up!  We have a working template ... just need the fresh
content to put in there.

On Mon, Apr 17, 2017 at 1:58 PM, hannahkane <notifications@github.com>
wrote:

[2017-04-17 18:21] #794 closed, assigned to WillatMozFdn

[2017-04-17 18:21] WillatMozFdn commented on #797
*Wednesday EOD* (Pacific time) should be our deadline to have the graphic
(and accompanying list of links) approved and finalized.  That gives us one
business day to build, test and proof so we can get it launched Friday
morning.

 - W

On Mon, Apr 17, 2017 at 1:57 PM, hannahkane <notifications@github.com>
wrote:

[2017-04-17 18:26] hannahkane opened #835 "When do we turn the science madlib off?"
What's our plan for turning off the madlib?
 - [ ] When do we stop accepting new submissions?
 - [ ] Do we keep the page live?
 - [ ] If yes, what changes do we make to the page to let people know what it was, why it's no longer active, and where they can see the results (in this case, the posters)?

[2017-04-17 18:43] natalieworth commented on #801
Hey @agiedt , I've exported some poster images for each of the different videos. Let me know if you think these would be good for social? I liked the ominous look of the computer screen, but the 3rd video I included some different options. Thanks :)
Video 1:
![01-internet-health-long-version-no-cc](https://cloud.githubusercontent.com/assets/14876567/25099862/d26edfde-2362-11e7-8d67-5233d4fb974b.jp

[2017-04-17 20:53] caltrider commented on #797
The plan is to have the content ready on my end and to the designer and simultaneously to the folks for approval (they've been briefed on the process and so know the turn around schedule) no later than 10:30am MT on Thursdays. I'd rather not have this done the day before because that cuts out a whole day of news for us to include and makes the content less relevant.

[2017-04-17 23:36] hannahkane opened #836 "Modal for Internet Health Madlib"
Fixes needed:
 - [x] mozilla logo needs highlight
 - [x] heart should be an image of a heart
 - [x] links should work, excluding a Share flow, which is happening in https://github.com/MozillaFoundation/Advocacy/issues/838

[2017-04-18 15:38] Melechuga commented on #806
Chat w/Bits of Freedom re: PiPhone:

- On SaveTheMeme.net, phone is actually hosted on LQDN's server and only the frontend is supported by Bits of Freedom (frontend code is at https://code.bof.nl)
- Maintenance of the Python code done by LQDN (yes it is maintained, but it is ugly).
- Rejo (engineer) has a list of improvements he will share with us.
- BoF says the code works right now, but they kno

[2017-04-18 17:31] hannahkane opened #837 "Update colors for Internet Health madlib"
Just want to make sure we don't forget this. @beccaklam - can you please drop in whatever the final palette is?

[2017-04-18 17:32] hannahkane commented on #822
Closing this in lieu of #837

[2017-04-18 17:32] #822 closed, assigned to beccaklam

[2017-04-18 17:39] beccaklam commented on #837
@hannahkane @ScottDowne
Green: #159D9B
Yellow: #FFF587
Pink: #FEC6C7
Purple: #B0B3E7
Blue: #C2E8F9
![internet health madlib hex codes](https://cloud.githubusercontent.com/assets/20977376/25144609/7269531e-243c-11e7-88a9-a5879398f3fa.png)

[2017-04-18 17:42] hannahkane commented on #836
Forgot that we already wrote this:

"Thanks for sharing. mozilla made this because we <3 the internet. Help keep it healthy by sharing with your friends. Learn more about internet health here."

[2017-04-18 17:58] hannahkane commented on #797
We should discuss this more. It sounds like design needs up to 4 hours to build the matrix once the content is in hand. This means it will be ready end-of-day ET on Thursday (assuming there are no changes from the content approval folks), which doesn't allow for build, test, and proof before the Friday morning send.

How can we resolve this?

[2017-04-18 18:00] WillatMozFdn commented on #797
Most likely, by planning to send Saturday morning (queued up and set on
timer by EOD Friday).  Nothing wrong with that from an engagement point of
view ... and it's definitely WAY better than Friday afternoon or
evening.... (although, we could in fact test that)....

On Tue, Apr 18, 2017 at 1:58 PM, hannahkane <notifications@github.com>
wrote:

[2017-04-18 18:39] HPaulJohnson commented on #836
^ this copy works for me

[2017-04-18 19:34] hannahkane commented on #836
Cool.

Just to clarify - the "here" at the end should link to https://internethealthreport.org

[2017-04-18 20:29] hannahkane commented on #797
That makes sense to me. @caltrider - does a Saturday send work for you?

[2017-04-18 20:32] caltrider commented on #797
@hannahkane @WillatMozFdn works for me

[2017-04-18 20:32] hannahkane commented on #806
Thanks, @Melechuga.

It seems like there's an opportunity here, but I think we need clarity about where this fits in with other priorities.

Can we set up a time to discuss, perhaps with Ashley, @Matt-Holland, and @simonwex?

[2017-04-18 20:36] #837 closed, assigned to nobody

[2017-04-18 20:40] hannahkane commented on #836
@ScottDowne - updated original comment with remaining work

[2017-04-18 20:41] hannahkane opened #838 "Add Share flow to madlib"
@beccaklam's design has a share icon in the top right corner. Let's add it.

[2017-04-18 20:42] hannahkane commented on #834
Closing as this is now duped by the #836 (and we don't need to focus on the Science madlib right now)

[2017-04-18 20:42] #834 closed, assigned to ScottDowne

[2017-04-18 20:48] hannahkane commented on #813
Team wants to go with imgur for hosting these, so I'm closing this.

Please reopen if imgur doesn't meet our needs.

[2017-04-18 20:50] beccaklam commented on #838
@ScottDowne I have a pull request for this from the science repo. Let me know if you need help finding it?

[2017-04-18 21:13] hannahkane commented on #813
Reviving so we can use this for social shares (which imgur doesn't track)

[2017-04-18 22:45] hannahkane commented on #813
As per Slack conversation....gonna go with just linking directly from Medium to imgur, and will use downloads/clicks as our meaningful metric.

[2017-04-18 22:45] #813 closed, assigned to ScottDowne

[2017-04-18 22:46] hannahkane commented on #808
Noting here that, as per conversation in Slack, we'll skip creating ShareProgress pages for each poster, and instead will point directly from Medium to imgur, where we'll host the posters.

[2017-04-19 00:05] natalieworth commented on #807
Updates/ progress on Science posters from today @lovegushwa @beccaklam @caltrider @hannahkane if you want to check them out. https://redpen.io/p/fq8f87a8b168e0c122
<img width="824" alt="screen shot 2017-04-18 at 5 02 00 pm" src="https://cloud.githubusercontent.com/assets/14876567/25157896/17b9ca58-2459-11e7-83ad-93818e183673.png">
<img width="423" alt="screen shot 2017-04-18 at 5 02 10 pm" src="ht

[2017-04-19 00:16] natalieworth commented on #807
Original copy for these are here https://docs.google.com/spreadsheets/d/1seK0ySZrJA3Qo-U0_UwMimmwWJ_slKr0mVeIbCPxuq8/edit#gid=1255626302

And I made a google doc with the final chose copy (for us to split up/ claim):
https://docs.google.com/document/d/1zEZh34NM_KLsJjfO6x9w0Bco9lldrVGpmxp9aXGtGNo/edit

[2017-04-19 15:56] Melechuga commented on #806
Hey @hannahkane, re: PiPhone, Rejo also added: "I also just verified all the requests a browser does: a single request make a number of TLS-secured calls to the savethememe.net and a number of non-TLS-secured calls to www.europarl.europa.eu. The second group of calls is inherent to the code of PiPhone. It should be different, but changing is not something I can fix with the code I am hosting mysel

[2017-04-19 16:00] ScottDowne commented on #836
Do we have links for the share yet?

[2017-04-19 16:46] beccaklam commented on #807
@natalieworth @lovegushwa @hannahkane @caltrider
Super rough posters from me can be found here: https://redpen.io/p/upee8d67e125e92153
Still need to add colour/imagery and general polishing.

[2017-04-19 17:17] ScottDowne commented on #832
Got this fix for free while doing my modal fixes in https://github.com/MozillaFoundation/Advocacy/issues/836 by removing some stuff.

[2017-04-19 17:17] #832 closed, assigned to nobody

[2017-04-19 17:23] hannahkane commented on #836
I think @beccaklam commented on this [here](https://github.com/MozillaFoundation/Advocacy/issues/838#issuecomment-294977991)

[2017-04-19 17:25] ScottDowne commented on #836
I just need the link in the modal, not the link in the top right? And it's in imgur now and not share progress, iirc, and becca's previous patch was for share progress link stying (although it also didn't have links)

[2017-04-19 17:27] hannahkane commented on #836
The imgur links are for the Science Posters, not the Internet Health madlib.

I believe the link in the modal will go to ShareProgress, but perhaps we should discuss at stand?

[2017-04-19 18:05] #836 closed, assigned to ScottDowne, HPaulJohnson, lovegushwa

[2017-04-19 19:36] ScottDowne commented on #838
Live on staging: https://share.mozilla.org/352/180435

Just needs:

- [ ] links to be updated to prod.
- [ ] images and text.

[2017-04-19 19:37] hannahkane commented on #838
@HPaulJohnson and @lovegushwa - can one of you please provide the images / copy to be used in the ShareProgress workflow?

[2017-04-19 20:26] hannahkane commented on #806
Thanks, @Melechuga.

@Matt-Holland - when you have a moment, could you share a bit about the options you're researching? Is there anything you need help with?

[2017-04-19 23:39] hannahkane opened #839 "Add Upvoting to typeoutloud.org"
Putting this here for discussion purposes.

Would need to think about purpose / strategy questions, including:
 - [ ] how does upvoting fit into our meaningful actions or TEI definitions?
 - [ ] what value does upvoting add?
 - [ ] how might the addition of upvoting change our engagement strategy for future madlibs?

And various aspects of UX, including:
 - [ ] how to upvote
 - [ ] how to undo
 -

[2017-04-20 04:35] lovegushwa commented on #809
@WillatMozFdn email callouts
(these are supposed to look a little tattered and distressed, I upped the image size to 500x500px but lowered the overall compression quality so the file size is still small but will look better on retina displays.)

Callout 1:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvZHVuQzNvbzA2TDQ/view?usp=sharing

Callout 2:
https://drive.google.com/a/mozilla.com/

[2017-04-20 14:57] beccaklam commented on #825
Hi @chadsansing! Just messaged you on slack but thought I would put this here also:
I'm laying out the Privacy Toolkit and it's looking like a bit too much text on the page. Any chance you could pare down the first few paragraphs? Specifically this part:

Please and thanks!

[2017-04-20 15:01] chadsansing commented on #825
Will do, @beccaklam!

[2017-04-20 15:14] chadsansing commented on #825
Check now - any better, @beccaklam?

[2017-04-20 16:38] beccaklam commented on #825
@chadsansing looks better! I'll put it in the design and let you know! Thanks again!

[2017-04-20 18:15] ScottDowne commented on #826
This is done for madlib. Keeping open for news-matrix.

[2017-04-20 20:53] beccaklam commented on #825
@chadsansing @hannahkane redpens for the work in progress of this toolkit is here: https://redpen.io/p/xh919b734c9d43b7b8 Let me know if you see any glaring errors/need anything changed.

[2017-04-20 21:31] hannahkane opened #840 "DUE MAY 5: Paperstorm RR video"
Screenshots and “completed” tweets (20 locations w/ MEP)

@lovegushwa and @brettgaylor - could you provide some more details here, please?

[2017-04-20 21:33] hannahkane opened #841 "Paperstorm snippet"
- [x] copy
- [x] icon
--
- [x] French
- [x] Spanish
- [x] Italian
- [x] German
- [x] UK

[2017-04-20 21:38] hannahkane opened #842 "Paperstorm email"
@brettgaylor - I think I understood that Paperstorm will need an email send at some point. Could you please fill out one of @WillatMozFdn's [email request templates](https://docs.google.com/document/d/1aEzfTaqUPbzA4kwnIIcfGNT2FOTf9msp0c1JNk8pw3g/edit) so we can get it on the calendar, and get the process going?

[2017-04-20 21:40] hannahkane opened #843 "Design: Create Soapbox Engage petition template design"
@HPaulJohnson - could you please add details about what's needed here?

[2017-04-20 22:28] natalieworth commented on #807
Final posters are here:
https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0RGhCeFNxUERGR1E

Final photoshop files (split into portrait and landscape version are here):
https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0and2WXNuMXRURG8

[2017-04-20 22:29] natalieworth commented on #807
Imgur link is here too http://imgur.com/a/ZuLoU

[2017-04-20 22:29] #807 closed, assigned to natalieworth

[2017-04-20 23:05] TheoChevalier commented on #841
@brettgaylor just checking, do we need a Dutch snippet if the website is not localized in Dutch?

[2017-04-20 23:17] chadsansing commented on #825
@beccaklam, I like the cleanness of the design very much.

I have some compare and contrast questions based on how much horizontal space you've freed up in this design.

If we have enough space, can we change "Privacy and Safety from CSM" to "Common Sense Media Privacy Initiative" with the new short link http://bit.ly/2n9VHBV. A contact there sent me that site today.

Similarly, if we have enough

[2017-04-21 00:05] brettgaylor commented on #841
I seem to remember we were going to make a Dutch localization - but maybe Moniker has abandoned? I will ask.

[2017-04-21 00:20] lovegushwa commented on #835
@hannahkane best case would be converting these into a kind of archive mode where you can scroll and see all the results (not just the first 200), you can no longer input new text, and we change the modal copy to point to the posters (like you said above.)

... If this is too much work right now we can just turn it off / or move it to a link that's not indexed so we can still access for demos etc.

[2017-04-21 00:20] brettgaylor commented on #842
I made a start to the template here:
https://docs.google.com/document/d/1VfZkOzsIEZM5cQzFXakTzmA12pBOHfjEz2HvBWr3hmo/edit

I'm not clear from this template whether I'm supposed to write the email myself?  I'm also not clear on how many days to leave, since I'm not that knowledgeable about the email production process.

[2017-04-21 00:21] lovegushwa commented on #835
@HPaulJohnson what do you think?

[2017-04-21 00:21] #810 closed, assigned to natalieworth, beccaklam, caltrider

[2017-04-21 00:22] #809 closed, assigned to natalieworth, caltrider

[2017-04-21 00:25] brettgaylor commented on #840
Yes!

For the video, it would be great to have something similar to what we did with CodeMoji - ie just some screenshots of the app in action, with some fun explanatory text around this.

I seem to remember @natalieworth that in fact you made GIFs, not videos.  Should we try that approach?  I think a video might perform better, particularly on Facebook, where I think we'll be driving some paid tra

[2017-04-21 00:32] lovegushwa commented on #831
I was thinking something similar but dynamically create social share out of a specific line ... similar to the new messaging feature for android.

<img width="501" alt="screen shot 2017-04-20 at 5 26 55 pm" src="https://cloud.githubusercontent.com/assets/12228435/25257715/bb20e348-25ee-11e7-9c83-1800229017f7.png">

[2017-04-21 00:33] brettgaylor opened #844 "DUE MAY 5: Paperstorm social"
We'll need some images to drive traffic to the site, and in particular I was thinking these should celebrate when a milestone within Paperstorm is reached, ie when users succeed in covering the EU parliament, or the Bundestag in Berlin, etc.

There are 20 locations within the app, each of who also have a corresponding MEP that users will be prompted to tweet at while they're paperstorming.

We don

[2017-04-21 00:34] lovegushwa commented on #839
@hannahkane would love to add this. Also could sharing be a form of voting? Like 'vote by sharing your favorite lines.'

[2017-04-21 00:37] lovegushwa opened #845 "More emoji on typeoutloud.org"
More emoij somehow! It makes typeoutloud really fun
- maybe we have a hint that tells people how for a particular OS (control+command+space for mac)
- can we trigger keyboard with emoji for android and ios?

[2017-04-21 00:40] brettgaylor commented on #840
For reference, I'm also attaching what the actual leaflets look like.  They are randomly different for each user, and also worth having the text of the actual leaflet for inspiration.
[2017_03_15_leaflet_different_memes_backgournds (1).pdf](https://github.com/MozillaFoundation/Advocacy/files/945787/2017_03_15_leaflet_different_memes_backgournds.1.pdf)

[2017-04-21 00:40] hannahkane commented on #839
@lovegushwa - that's a great idea.

Thinking on the question of "what's the value of upvoting?" - it could allow us to crowdsource topics for appointment content. For example, we could ask "What privacy-related topics would you like to see short videos on?" The addition of voting would make that much more meaningful for us as we decide what topics to invest production time in.

[2017-04-21 00:41] hannahkane commented on #845
And/Or maybe upvoting is done in the form of choosing an emoji?

[2017-04-21 00:41] lovegushwa commented on #801
It seems like it would be better if we tested thevideos with the same poster so it's more of a test of the format and less about the poster ... @agiedt what do you think?

CC @natalieworth

[2017-04-21 00:48] brettgaylor commented on #844
I just updated this ticket to reflect that we'll need both copy and images for this, and also to put this on the radars of @TheoChevalier and @agiedt  Do we want to engage localizers for this kind of social, or should we use vendors for this?  Or should we just use English for all locales?

 @agiedt perhaps we'd just want to put paid behind the video post discussed in #840 ?

[2017-04-21 00:49] brettgaylor commented on #844
- [ ] Twitter copy

- [ ] Twitter image

- [ ] Facebook copy

- [ ] Facebook image

- [ ] localized copy

[2017-04-21 00:49] lovegushwa commented on #838
@hannahkane @ScottDowne
- We are going to share videos not static graphics
- We might need a different share progress instance for each of the three videos being tested
@agiedt any thoughts here?
- I'm not sure if we can also add a poster (image) and a video we will need to test this.

Three videos
https://drive.google.com/file/d/0B20-0lpP23c0bzZmWmRWWjR5SzA/view
https://drive.google.com/file/d/0B

[2017-04-21 01:04] lovegushwa opened #846 "Bug: typeoutloud.org modal"
- modal should fire after user inputs text

CC @ScottDowne @hannahkane

[2017-04-21 01:09] lovegushwa opened #847 "Bug: typeoutloud.org replace non-retina images"
X to close modal and share icon are non retina. Replace with @2x or SVGs.

<img width="786" alt="screen shot 2017-04-20 at 6 06 36 pm" src="https://cloud.githubusercontent.com/assets/12228435/25258418/22b4f756-25f4-11e7-89e9-c26a9eabd731.png">

[2017-04-21 01:15] agiedt commented on #801
If we make st desire a read on the videos then Yes, one poster/image and
copy, but if the poster and copy don't generate sufficient response we
should be ready to traffic a second image and copy.

Thu, Apr 20, 2017 at 5:41 PM lovegushwa <notifications@github.com> wrote:

[2017-04-21 01:18] lovegushwa opened #848 "Bug: typeoutloud.org modal not optimized for mobile"
@beccaklam
The modal is not great on mobile, it should be close to the middle of the screen and the text should be larger (looks perfect on desktop, please don't change that!) Can you make it better!?

CC@ScottDowne

<img width="498" alt="screen shot 2017-04-20 at 6 15 42 pm" src="https://cloud.githubusercontent.com/assets/12228435/25258595/6b3a994e-25f5-11e7-87b3-e95a63d4d553.png">

[2017-04-21 01:32] TheoChevalier commented on #844
@brettgaylor Yes, I think localizing the social message is important, and that we should make it part of the global request (website, snippet, email, social). I’ll ask teams if they have cycles between next week and May 8th to work on each aspect, and if they don’t or are not responsive, we can hire our vendor for the most critical locales (TBD).

Do you think we can get the social copy with the s

[2017-04-21 02:26] ScottDowne commented on #848
Yeah I can def make the text bigger. Not sure what you want with it
centered.

[2017-04-21 04:04] ScottDowne commented on #831
I just pushed up a first pass at this. Not sure how we would integrate with a social share. I can look into it.

I also want to get some feedback on the UI and UX for it tomorrow, so we can make some updates there.

[2017-04-21 04:04] ScottDowne commented on #846
Done.

[2017-04-21 04:04] #846 closed, assigned to ScottDowne

[2017-04-21 04:11] ScottDowne commented on #848
I made text bigger, line height bigger, and margin top and bottom bigger.

Let me know if that's enough.

[2017-04-21 04:12] brettgaylor commented on #844
I think we'd likely need till the end of next week to develop the social text, since we haven't yet started.  Sound right @HPaulJohnson ?

[2017-04-21 04:17] ScottDowne commented on #831
- [ ] Ensure the keyboard on mobile isn't used while in line viewing mode.

[2017-04-21 10:58] WillatMozFdn commented on #842
Yay for Brett!  Thanks for starting the process.

I'll be your writer here so don't worry about that.  But we should chat
since I want to find out the best ways to describe Paperstorm in a way that
will really make a splash.

 - W

On Thu, Apr 20, 2017 at 8:20 PM, Brett Gaylor <notifications@github.com>
wrote:

[2017-04-21 13:25] beccaklam commented on #847
@ScottDowne Here are the @2x icons!
[@2x icons.zip](https://github.com/MozillaFoundation/Advocacy/files/947152/2x.icons.zip)
If you want me to implement them I can, just thought it might be easier for you to do it since you probably have everything set up already.

[2017-04-21 13:27] ScottDowne commented on #847
I can do it.

[2017-04-21 13:31] beccaklam commented on #847
@ScottDowne Thanks!

[2017-04-21 14:54] beccaklam commented on #825
@chadsansing @hannahkane updated the design with the feedback: https://redpen.io/quf30ffa87783a2d40
Chad, I was able to include all of your changes listed above ^ with no problem. Hannah, I also moved up 'use this toolkit'. I also changed 'You can read more about **Mozilla’s** work to safeguard users’ privacy...' to 'You can read more about **our** work to...' because with the new typeface it auto

[2017-04-21 15:08] hannahkane commented on #825
Thanks, @beccaklam. I like the changes.

@chadsansing - since you built a [github page with these six activities](https://mozilla.github.io/curriculum-final/privacy-basics/session01-ip-tracer.html#overview), I'm wondering if we should just point to that a single time, instead of pointing to each individual activity. Thoughts?

[2017-04-21 16:43] chadsansing commented on #825
@hannahkane, I worry that minimizes our offerings and does away with the suggested progression/connections here. I'd like our material to be featured, illustrated, emphasized, etc.

[2017-04-21 16:45] chadsansing commented on #825
@beccaklam, that all sounds good. Is there a way to use some of the white-space next to blocks of texts for privacy iconography in-line with the new branding?

[2017-04-21 17:01] beccaklam commented on #825
@chadsansing Yeah I can look into that, which blocks of text were you hoping to add some iconography to?

[2017-04-21 17:17] lovegushwa commented on #843
@beccaklam did some exploratory wireframe work for a template in December.
https://redpen.io/p/rh3ca19956fb0a83c8

notable features:
- campaign updates
- comments from supporters
- a thermometer

Additional features campaigners asked for:
- Ability to link to other content / campaign pages (links)

[2017-04-21 19:01] ScottDowne commented on #848
Did a bunch of changes again. Should be vastly different now.

[2017-04-21 19:04] ScottDowne commented on #838
@hannahkane We are blocked on Paul getting back to us, right?

My suggestion is to get a simple share progress page done, with just posters, links, and copy.

Then we can add enhancements with videos somehow.

[2017-04-21 19:07] chadsansing commented on #825
@beccaklam, maybe...

- Discover Your Data Trail Timeline
- Your Organization
- Your Learners

[2017-04-21 19:09] HPaulJohnson commented on #838
Hi all. I'm working on this right now and making edits directly in Share Progress.

However, it's not looking like videos is a supported media type that can be shared. I have a question to their support team to confirm. If not, we'll need some static images to share and the sharing action will be driving directly to the madlib without any embedded video.

Let me know if this doesn't make sense. Ba

[2017-04-21 19:14] beccaklam commented on #825
Hi @chadsansing I noticed that the three topics you picked each have a section of white space beside them. Are you worried there's too much blank space? I actually purposely let there be white space to give the page room to breathe and not make the page too busy.

[2017-04-21 19:31] ScottDowne commented on #833
You can do this now by filling out the "whitelist" column with the value "allow" on a case by case basis in the sheet.

[2017-04-21 19:31] #833 closed, assigned to nobody

[2017-04-21 19:32] ScottDowne commented on #847
@beccaklam just a reminder we wanted to go with svg for these, likely.

[2017-04-21 19:35] beccaklam commented on #847
@ScottDowne svg files:
[svg icons.zip](https://github.com/MozillaFoundation/Advocacy/files/948137/svg.icons.zip)

[2017-04-21 19:46] agiedt commented on #838
In regards to the followiing:

   - We might need a different share progress instance for each of the
   three videos being tested
   @agiedt <https://github.com/agiedt> any thoughts here?

Ideally, I think you would want an distinct share progress instance for the
different videos.  However, it is possible that one would work.  Depending
on resource constraints you could work to build one and the

[2017-04-21 20:52] beccaklam commented on #825
@chadsansing @hannahkane I'm going to try adding some web texture/illustration to the page to see if it helps with adding some visual interest to the white space. Hopefully that will help and also make it not too busy! I can probably get this done by Monday (april 24) afternoon.

[2017-04-21 20:58] hannahkane commented on #825
I'm going to suggest we timebox this to Monday afternoon, since we'll be starting a new sprint on Monday. @beccaklam - when we plan the sprint during the Writer's Room meeting, please factor in any time you expect to spend on this, but let's try to keep it pretty small (though perhaps it will be completed before the meeting?)

[2017-04-21 21:03] ScottDowne commented on #847
Landing now.

[2017-04-21 21:03] #847 closed, assigned to ScottDowne, beccaklam

[2017-04-21 21:09] ScottDowne commented on #845
This one is particularly challenging because the emojis seem to be built into some sort of standards?

Seems to be whatever is searchable in here: http://emojipedia.org/

Is built into the font and the browser, meaning we get all of this for free because of the web.

If we want custom emojjis we need a custom thing to load these.

[2017-04-21 22:17] natalieworth commented on #801
@lovegushwa @agiedt @beccaklam @hannahkane Uploaded 2 poster options here for the video (kept them the same for testing sake):
![01-internet-health-long-version-no-cc](https://cloud.githubusercontent.com/assets/14876567/25297876/805a13a8-26a5-11e7-906f-f2d6ff72c829.jpg)
![01-internet-health-long-version-no-cc](https://cloud.githubusercontent.com/assets/14876567/25297881/837e5a80-26a5-11e7-8374-3f8

[2017-04-21 23:02] agiedt commented on #801
Thanks for the CC stuff
On Fri, Apr 21, 2017 at 3:17 PM Natalie Worth <notifications@github.com>
wrote:

[2017-04-22 06:18] ScottDowne opened #849 "Abort message for internethealth"
Not as huge a deal, I'm not super worried, and it's pretty easy to plug in some copy now if things go bad.

But I just wanted a record of this, so people are aware, and know if things go bad, we do still need this.

@hannahkane

[2017-04-22 19:17] hannahkane commented on #849
How about: "Thank you for sharing your thoughts about a healthy internet! To learn more, please visit https://internethealthreport.org."

?

[2017-04-24 10:03] chadsansing commented on #825
@beccaklam, many thanks.

[2017-04-24 17:10] ScottDowne opened #850 "typeoutloud remove share progress link if no link is provided"
For making these quickly again and again, I can see cases where share progress isn't used (science)

I also  remade the science one in the new platform, but the new one assumes share progress exists.

We should make it optional and simply not have a link.

[2017-04-24 17:11] ScottDowne opened #851 "update component prop name from abort to abortCopy"
Right now we use the prop name abort for the copy for when the project is aborted.

The prop abort sounds more like a boolean for if it has been aborted or not. Kinda confusing.

[2017-04-24 17:12] ScottDowne opened #852 "Component prop name page to be renamed to project"
Right now every project has a name, which is passed into the component as page.

It's kinda confusing, so should change that to project and not page.

[2017-04-24 17:14] ScottDowne opened #853 "abort env is a csv and should be a variable for every project"
Right now we use a csv of project names for each project to abort.

This is probably safer as a env for each project to abort.

[2017-04-24 17:14] ScottDowne opened #854 "Component context/modal copy is passed into as children, should be a prop called modalCopy"
Detailed description of work:

*Start date: September 1, 2016*
*Due date: September 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-04-24 17:15] ScottDowne opened #855 "move query string parsing out into either the component or react router"
Detailed description of work:

*Start date: September 1, 2016*
*Due date: September 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-04-24 17:16] ScottDowne opened #856 "server side cachhing of sheets data could be improved to reduce network usage on both the client and the google sheet"
Detailed description of work:

*Start date: September 1, 2016*
*Due date: September 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-04-24 17:17] ScottDowne opened #857 "science madlib on the new platform has a share progress tracking function that it is not using"
Detailed description of work:

*Start date: September 1, 2016*
*Due date: September 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-04-24 17:18] ScottDowne commented on #831
- [ ] Ensure censored shared lines are still censored.

I turned off this feature and moved it back to in progress because of the checkboxes in this ticket.

[2017-04-24 17:19] ScottDowne commented on #831
- [ ] ensure link navigation doesn't refretch the data or reload the page.

[2017-04-24 17:20] ScottDowne opened #858 "Scroll percentages are a mutable array, should be immutable to reduce future bugs."
Detailed description of work:

*Start date: September 1, 2016*
*Due date: September 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-04-24 17:21] ScottDowne opened #859 "React can optimize the code better and differently for local, staging and prod if we want it to"
Detailed description of work:

*Start date: September 1, 2016*
*Due date: September 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-04-24 17:22] ScottDowne opened #860 "Right now because of the way sheets are used, we have a different id for write to sheets and read form sheets, would be easier if it was only 1 id for both write and read"
Detailed description of work:

*Start date: September 1, 2016*
*Due date: September 2, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2017-04-24 17:42] lovegushwa commented on #848
@ScottDowne new version looks great!

[2017-04-24 17:42] #848 closed, assigned to ScottDowne, beccaklam

[2017-04-24 17:56] HPaulJohnson opened #861 "Updated wrapper for Share Progress pages"
We need to update the existing "wrapper" template we use to build Share Progress pages. Currently, the available wrappers have old version of logo and out of date footer.

We should keep this simple, just updating the logo in the header and making the footer consistent with other active websites (opendata, copyright, etc)

CC: @ScottDowne @beccaklam

[2017-04-24 18:09] lovegushwa commented on #844
@brettgaylor @HPaulJohnson we have some questions / blockers.
- we need develop copy / a concept in tandem ... we should probably sprint on this with @HPaulJohnson to develop some initial copy ideas.
- I'm assuming we are not doing paid promotion, the 20% text rule would make that impossible.
- How is localization of these social shares going to work? A post to @mozilla and https://www.facebook.co

[2017-04-24 18:18] TheoChevalier commented on #844
Actually, why not for Facebook? People would only see posts in their language.
If that was your concern (flooding people with text in language they don’t speak)
Not sure what we’ve been doing on Twitter in the past, I assume we still can’t target a locale nor a country…

[2017-04-24 18:45] agiedt commented on #844
Facebook/Instagram will not serve content to users unless it is in their
selected language.

On Mon, Apr 24, 2017 at 11:18 AM, Théo Chevalier <notifications@github.com>
wrote:

[2017-04-24 21:29] beccaklam commented on #825
@chadsansing @hannahkane Final Privacy & Security Interactive PDF here:
[privacy-toolkit-v10.pdf](https://github.com/MozillaFoundation/Advocacy/files/953225/privacy-toolkit-v10.pdf)
![privacy-toolkit-v10](https://cloud.githubusercontent.com/assets/20977376/25359493/7e769b2c-2913-11e7-9f3a-ec2d155adce4.png)
![privacy-toolkit-v102](https://cloud.githubusercontent.com/assets/20977376/25359494/7e7d378

[2017-04-24 21:46] chadsansing commented on #825
Roghteous, thank you so much @beccaklam! Thanks for wrangling, @hannahkane!

[2017-04-24 22:10] lovegushwa commented on #801
@agiedt let's start with "is the internet sick?" as the poster.
https://drive.google.com/file/d/0B20-0lpP23c0LWpSNzhBMTZFNE0/view?usp=sharing

If its cropped weird for [video 2](https://drive.google.com/file/d/0B20-0lpP23c0OU1OTGg3ZXJYaWc/view) then you can use this alternate version: https://drive.google.com/file/d/0B2qu3ExKWIlvUXpLVWtIamdvZkU/view?usp=sharing

[2017-04-24 22:38] agiedt commented on #801
Thanks!

On Mon, Apr 24, 2017 at 3:10 PM, lovegushwa <notifications@github.com>
wrote:

[2017-04-24 22:42] HPaulJohnson commented on #801
To help keep track of all the different components of this test, a matrix to rule them all:

https://docs.google.com/spreadsheets/d/1X0YjIOSrziJXJa5beBCrsWeFm9clUc0JflJ12YrVu3A/edit?ts=58f93f33#gid=233054778

[2017-04-25 00:56] lovegushwa commented on #844
@beccaklam @natalieworth I cleared up above questions with @brettgaylor this morning
- this is paid promotion, so we will not use any text in the posts
- facebook and twitter let you localize a post so ...  if you speak FR you only see the the FR post, and if you speak DE you only see the DE post
- we are going to select 6  [locations](https://docs.google.com/spreadsheets/d/14a0tNwyT7aghh_jyxpdCAC

[2017-04-25 01:15] lovegushwa commented on #844
@beccaklam @natalieworth
We also need 2 generic posts that are about meeting our paper drop goals but are not identifiable locations. Something like this would work:

![img_20170424_180620](https://cloud.githubusercontent.com/assets/12228435/25364819/e8a6d0b0-2919-11e7-9386-d5f988ae311b.jpg)

[2017-04-25 01:20] lovegushwa commented on #844
@beccaklam @natalieworth explore some styles (illustration, photo+3d etc.) could be a combination of a google maps street view photo and 3d rendered paper for example. Think click bait, these should make folks do a double take then scanning a social feed.

[2017-04-25 03:28] lovegushwa commented on #861
@beccaklam we need to modify the share progress wrapper. p1 is to replace the footer with a CTA that sits below the video (this is totally a hack.)

@HPaulJohnson when do you need this by?

<img width="998" alt="screen shot 2017-04-24 at 8 13 34 pm" src="https://cloud.githubusercontent.com/assets/12228435/25367676/105c83a4-292c-11e7-8774-9e5728edddb6.png">

[2017-04-25 03:29] ScottDowne commented on #861
I started a wrapper and it's saved in share progress.

[2017-04-25 06:07] hannahkane commented on #825
Looks great!

Closing this issue.

[2017-04-25 09:42] chadsansing commented on #825
@hannhkane - is there a place we can host this?

[2017-04-25 12:19] hannahkane commented on #825
What makes more sense - the Learning site? The curriculum github? The
advocacy site?

On Tue, Apr 25, 2017 at 12:42 PM Chad Sansing <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-04-25 12:22] chadsansing commented on #825
@hannahkane - decided to put it in to curriculum repo for now & will share/link from there.

[2017-04-25 15:45] ScottDowne commented on #861
I have added the logo, in white text, black highlight, and white page background, and added the cta under the main content.

The cta is mostly un styled. I added line height, font size, black on white, and centered it.

I kept everything simple and black and white for now, I'll let Becca decide where to take it..

One thing I noticed is we can and probably want to move the cta with the link above

[2017-04-25 16:34] chadsansing commented on #825
I goofed on a piece of content. From a Common Sense insider:

[2017-04-25 17:11] beccaklam commented on #825
@chadsansing here is the interactive PDF with the above change:
[privacy-toolkit-v11.pdf](https://github.com/MozillaFoundation/Advocacy/files/955896/privacy-toolkit-v11.pdf)
Let me know if you need any other changes!

[2017-04-25 17:28] chadsansing commented on #825
Apologies & gratitude, @beccaklam!

[2017-04-25 17:28] #825 closed, assigned to beccaklam

[2017-04-25 20:31] hannahkane opened #862 "DUE MAY 1: Spin up an iteration of the petition"
Base this on OpenDataDay petition, please.

- [x] Copy to be provided by Ashley (#863)
- [X] No localization needed
- [x] Need to identify a net neutrality-related image, or perhaps use Open Data image (?) or no image
- [x] host at advocacy.m.o/netneutrality (@hannahkane to check with Ashley to see if we want a new domain, and, if so, file a devops-private ticket)

[2017-04-25 20:33] hannahkane commented on #862
@HPaulJohnson @lovegushwa - ^ responding to rapid response request from Ashley. Asking @ScottDowne to prioritize this for a Wednesday ship, and will aim to do this with little or no designer involvement (hoping a designer can provide an existing net neutrality-themed image, but if not, we could potentially ship without an image?)

[2017-04-25 20:37] hannahkane opened #863 "DUE APRIL 27: Copy for Net Neutrality petition"
The petition will be based on [this one](https://iheartopendata.org/en-US/).

We'll need:

- [x] Headline (replaces "Did you know you’re a major funder of scientific research?")
- [x] Subhead (replaces "Open access to publicly-funded research accelerates discovery and progress.")
- [x] CTA (replaces "Get Involved" on button)
- [x] Body text
- [x] Form headline and instructions (replaces "Do you ag

[2017-04-25 20:59] beccaklam commented on #799
@lovegushwa
https://drive.google.com/open?id=0BzuBOR2VJQqUZ2o3OXp6bklZUmc <-- exported PNGs
https://drive.google.com/open?id=0BzuBOR2VJQqUUEVhY2hmT0Q4ZDA <-- sketch file

[2017-04-26 14:55] chadsansing opened #864 "We should share an editable version of the Privacy & Security Toolkit with localizers"
Let's make #825 editable for a community member in Brazil who wants to localize the Privacy & Security Toolkit.

cc @beccaklam, @hannahkane

[2017-04-26 16:37] lovegushwa commented on #863
@HPaulJohnson is this still happening? @WillatMozFdn said it's the call email, do we still want this for later?

[2017-04-26 17:31] hannahkane commented on #863
Ashley told me yesterday she still wants to do this, in conjunction with Moco, and that Josh will wrangle copy tomorrow. @ScottDowne is working on the build now (to be launched on Monday).

[2017-04-26 18:57] ScottDowne commented on #863
I also need copy for the share bits that we'll be using. We can use share progress or the html share tags, either is fine with me. Just having the copy is probably the hard bit.

[2017-04-27 20:39] hannahkane opened #865 "DUE APRIL 28: NN petition image"
Similar palette/concept to the Pai/phone image used in today's email, but without the phone focus.

[2017-04-27 20:41] hannahkane commented on #865
@lovegushwa - can you assign this, please? thank you!

[2017-04-27 20:50] hannahkane opened #866 "EMAIL SHIPPING MAY 1: NN petition email #1"
This is rapid response, so I don't know that we'll be able to follow the timeline outlined in the Email Planning Template. It sounds like we're going to need an email as soon as Monday to drive people to the [NN petition](#862) we're spinning up.

Ashley has said we'll likely do more than one email push, and will discuss the strategy with @WillatMozFdn later today.

- [ ] Josh will provide the cop

[2017-04-28 15:37] WillatMozFdn commented on #866
So, brief update after our campaign meeting yesterday.  We need to harmonize our verbage for the petition with a number of other groups; we're not going to participate in their joint email-to-petition project (NEVER ever participate in one of those btw!) but we WILL go in with them on delivering petition signatures.  So our language needs to be pretty close to theirs ... which means we can't write