[2017-11-03 18:37] HPaulJohnson commented on #1088
- [x] @ScottDowne Spanish versions of Share Progress buttons and "Share this Page" page are here:

FB Button: `<div class='sp_184294 sp_fb_small' ></div>`
Twitter Button: `<div class='sp_184295 sp_tw_small' ></div>`
Email Button: `<div class='sp_184296 sp_em_small' ></div>`
Share This Page: http://share.mozilla.org/352/184298

@TheoChevalier one issue with the "Share This Page" page (which is link

[2017-11-03 19:35] beccaklam commented on #1088
- [ ] I don't know if this is just a browser thing but having trouble clicking the hamburger button in mobile view on the category pages and the item pages. As in 90% it doesn't work. @ScottDowne

[2017-11-03 19:59] caltrider commented on #1088
Typo Alert @TheoChevalier
_On the Philips Hue White & Color Ambiance Starter Kit. The first line of the blurb reads:_
Lights that dance with your music, jump with your movies, or pound with your videos games —

It should read:

Lights that dance with your music, jump with your movies, or pound with your video games —

_And this typo too on B&O Play Speaker:_
Right now under What Could Happen if So

[2017-11-03 20:25] caltrider commented on #1088
@ScottDowne I think we're missing a product.  I don't see the Hatch Baby Rest in the guide (it should be under Smart Home Accessories)

- [x] Add the Hatch Baby Rest product to the guide

[2017-11-03 22:18] kristinashu commented on #1057
Thanks for the copy and feedback. Here are the updated images https://redpen.io/p/zj3a03844f39d2841c

Let me know if you have any more feedback or have anymore ideas.

[2017-11-03 22:21] HPaulJohnson commented on #1057
thanks, @kristinashu

@tlasadea is on PTO today but i'll let her have the final say on Monday a.m. If she doesn't have any additional feedback we can export them and get the campaign up and running.

[2017-11-04 12:51] TheoChevalier commented on #1088
Yeah, not ideal but I think it’s okay. Even if they don’t speak English at all, it should be easy enough to guess what they can do on the page, especially with the icons

[2017-11-04 13:54] caltrider commented on #1088
Heya, just noticed this typo reading your comment @HPaulJohnson and @TheoChevalier .  It should be "You're Almost Done".

[2017-11-04 14:07] TheoChevalier commented on #1088
That’s only on GitHub, the real string does not have the typo https://share.mozilla.org/352/184264

[2017-11-06 16:00] ScottDowne commented on #1066
Is there stuff that still needs to happen here?

I figure a lot of those checkboxes can probably be checked off?

[2017-11-06 16:09] TheoChevalier commented on #1066
Updated the items with what is localized/being localized

[2017-11-06 17:17] vojtechsedlak commented on #999
Sorry for the delay on getting back to you @ScottDowne, was out on PTO. Just checked the site and GA reports and everything looks great. Thanks for setting all this up!

[2017-11-06 17:45] gideonthomas commented on #1092
@alanmoo, what is this?

[2017-11-06 18:25] #1091 closed, assigned to natalieworth

[2017-11-06 18:30] gideonthomas commented on #1079
@vojtechmzl, would you be able to advise us here? Any suggestions on which sites we should target to add the modal?

[2017-11-06 18:37] alanmoo commented on #1092
Wrong repo.

[2017-11-06 18:37] #1092 closed, assigned to nobody

[2017-11-06 18:52] beccaklam commented on #1088
<img width="387" alt="screen shot 2017-11-06 at 1 50 38 pm" src="https://user-images.githubusercontent.com/20977376/32458187-95e3345c-c2f9-11e7-9d2e-4ffd1dd689c8.png">

- [ ] @ScottDowne In browserstack (iPhone 6, chrome) and on an iPhone 5 ('chrome') the mobile browser rendered the header cut off.

[2017-11-06 19:21] caltrider commented on #1088
@ScottDowne @TheoChevalier @HPaulJohnson The spelling of exercise got fixed on the category page but it's still spelled wrong on Health & Exercise when you scroll through the product categories.

- [x] Fix the spelling of exercise on the category scroll

[2017-11-06 19:25] TheoChevalier commented on #1088
This one’s on me, forgot we had two strings. Now fixed!

[2017-11-06 22:42] vojtechsedlak commented on #1079
I think advocacy.mozilla.org, changecopyright.org and internethealthreport.org are the most relevant sites, where the modal could appear. Particularly advo will receive substantial traffic in the next bit for the Privacy Not Included campaign (~100k a month).

[2017-11-06 22:45] WillatMozFdn commented on #1079
That seems correct to me, as well, thanks Vojtech!

 - Will

On Mon, Nov 6, 2017 at 5:43 PM, vojtech <notifications@github.com> wrote:

[2017-11-06 22:59] HPaulJohnson commented on #1088
thanks again to herculean efforts by all, nearly all of these bugs and enhancements have been squashed and none of the open issues are blockers for launch.

Given how unwieldy this issue has become and because we have now launched to production, I'm closing this ticket.

If you identify new bugs that need fixing please put them in the newer issue, #1100

If you have suggested enhancements for futu

[2017-11-06 22:59] #1088 closed, assigned to hannahkane, HPaulJohnson, natalieworth, beccaklam, caltrider

[2017-11-06 23:01] HPaulJohnson commented on #1100
Carried over from old QA ticket, fix the hamburger menu on mobile version of site. Works only intermittently. cc @ScottDowne

[2017-11-06 23:08] caltrider opened #1102 "Suggested Enhancements for Buyer's Guide"
Some things for the site, after we've gotten it launched and caught our breath. Everyone feel free to add to this list. @HPaulJohnson @natalieworth @ScottDowne @TheoChevalier

- [ ] Add "How we made this guide" in more visible places throughout the guide
- [ ] Add link out to the Methodology blog post from Janice (EN and ES)
- [ ] Add Slack integration for Coral Talk
- [x] Change the footer/donate

[2017-11-07 00:21] brettgaylor commented on #1100
Hello - the Univision content should link to different pages depending on language.

Spanish:
http://www.univision.com/seguridad-online

English:
http://www.univision.com/onlinesafety

cc @ScottDowne

[2017-11-07 02:08] natalieworth commented on #1101
Blog graphic is here https://drive.google.com/drive/folders/13hE5ng5hcoEEnYFj5eXvcwWpYCiAmz0t

[2017-11-07 02:12] natalieworth commented on #1101
Email callout is here https://drive.google.com/drive/folders/1EaORt_lJ5tEOyVJ-gJ8swVRH7uLpilKo (we went with option 3)

[2017-11-07 02:12] #1101 closed, assigned to natalieworth, beccaklam, caltrider, WillatMozFdn

[2017-11-07 02:13] #1065 closed, assigned to TheoChevalier, natalieworth, vojtechsedlak, beccaklam, caltrider, tlasadea

[2017-11-07 10:16] WillatMozFdn opened #1103 "Change default amounts on donate.mozilla.org for EN-US, DE, and FR"
Detailed description of work:  Based on some testing in the snippet channel, we've realized that a set of default donation buttons with HIGHER amounts will actually raise us more in donations in the US, Germany and France.  The current default buttons (for both Euros and US dollars) are 3, 5 (selected), 10, and 20.  We need to change those to 3, 10 (selected), 25 and 50 ....in the locales/language

[2017-11-07 13:24] TheoChevalier commented on #1100
- [x] Share progress is empty in Spanish. (I think I’ve seen it working earlier, but right now sharing by email or Twitter from the Spanish page shares an empty string)
cc @ScottDowne

[2017-11-07 13:38] TheoChevalier commented on #1103
At first glance, this will require some engineering efforts, as we can’t simply update the presets here: https://github.com/mozilla/donate.mozilla.org/blob/master/src/data/currencies.js#L188-L200

Those are shared with all locales having EUR set as default currency, so all EU countries.
But it would be possible with the data structure used on bedrock, here I can update values for French only, for

[2017-11-07 13:52] TheoChevalier commented on #1100
- [x] On https://share.mozilla.org/352/184298 , Back to the guide redirects to the English guide, the link should be https://advocacy.mozilla.org/es/privacynotincluded/ or just https://advocacy.mozilla.org/privacynotincluded/ for both locales if it can’t be a custom link.
cc @HPaulJohnson

[2017-11-07 14:11] ScottDowne commented on #1103
Theo is right. Currently we can only change this for each currency not
based on the locale. So without a bit of engineering it would be updated
for all euros. If that's acceptable for all euros to have the increased
amount this is an easy deal. Otherwise to keep other EU locales at the
current amount we would need something like bedrock has. Which isn't
unreasonable if valuable to us.

[2017-11-07 14:47] WillatMozFdn commented on #1103
OK, let's do it for US dollars and Euros then, I'm good with that. (Same amounts in both.) We didn't specifically test in let's say, Finland ... but, I'm pretty confident that a French + German result will hold up well in other EU countries too.

[2017-11-07 14:49] ScottDowne commented on #1103
Great

[2017-11-07 14:55] TheoChevalier commented on #1103
Updated in https://github.com/mozilla/donate.mozilla.org/commit/02e3e84e1dba1c276526bded929283eeb94b5c10

[2017-11-07 14:55] #1103 closed, assigned to ScottDowne, cadecairos, WillatMozFdn

[2017-11-07 16:18] ScottDowne commented on #1100
@brettgaylor the english link seems to redirect to spanish anyway.

[2017-11-07 18:36] kristinashu commented on #1057
All the images and working files are here:
https://drive.google.com/open?id=1DaZmbqY0_dwNhDPItTWdDIC4nHxf9hz-

[2017-11-07 19:55] alanmoo commented on #1079
What parts of the advocacy site do you anticipate receiving high traffic? The PNI campaign already has a modal on it, so we can't realistically add a second one.

[2017-11-07 20:03] WillatMozFdn commented on #1079
Plan is to turn off the PNI email subscription ask module on or about Giving Tuesday Nov. 28th; the fundraising one would replace it.  The other area would be https://advocacy.mozilla.org/en-US/net-neutrality ... FCC may take a vote on that in December so we'll likely have decent traffic there too.

[2017-11-08 18:18] caltrider opened #1104 "Add Device & App clarifying language to product pages"
Problem:  There is some confusion from people that things like the Fitbit Surge device doesn't have a camera but we say it has a camera because the app uses the camera on the device it is install in.

Solution: Let's a this short line of text (below) right under the "Can it spy on me?" question on each product review.  The text should be smaller than the "Can it spy on me" so it's not too intrusiv

[2017-11-08 18:23] TheoChevalier commented on #1104
@caltrider Should be okay to go with English first and catch up with Spanish. The Spanish team might be able to have a look as early as tonight

[2017-11-08 18:23] TheoChevalier commented on #1104
@caltrider Should be okay to go with English first and catch up with Spanish. The Spanish team might be able to have a look as early as tonight

[2017-11-08 18:31] TheoChevalier commented on #1104
@ScottDowne Added the string here https://github.com/mozilla/advocacy.mozilla.org/blob/master/buyers-guide-locales/en-US/review.properties#L13

[2017-11-09 00:37] natalieworth commented on #1102
@ScottDowne @alanmoo I have a couple design changes left for the landing page if anyone gets time. 🙏 I posted them specifically in the redpen here:https://redpen.io/p/dk65305577d065880f
- [ ] reduce spacing between the '*privacy not included' and the subheading text on the landing page
- [x] change landing page background image to this https://drive.google.com/file/d/0B20-0lpP23c0TnFBdUlXWFFuVkE/v

[2017-11-09 21:07] HPaulJohnson opened #1105 "Round 2 creative for promoting buyer's guide"
Let's use this new ticket to develop ideas for the next wave of creative assets to be used, primarily in social.

We currently have 6 concepts we are developing in this doc: https://docs.google.com/document/d/1CM9bbIgvf6Z0DGqav6AMMogkbaERlRbejzbVvw03-cQ/edit

cc: @caltrider @natalieworth @tlasadea

[2017-11-09 21:27] TheoChevalier commented on #1081
@tlasadea Took a bit more time than expected, but those are ready to go https://docs.google.com/spreadsheets/d/1B2JYfVc-t6qhgcZXrbUpcoE7OadPJP4UesABwhbJBmI/edit?usp=sharing

[2017-11-10 03:17] HPaulJohnson commented on #1104
this looks done.

[2017-11-10 03:17] #1104 closed, assigned to ScottDowne, TheoChevalier, natalieworth, caltrider

[2017-11-10 03:18] HPaulJohnson commented on #1097
this is complete

[2017-11-10 03:18] #1097 closed, assigned to beccaklam

[2017-11-10 03:18] HPaulJohnson commented on #1094
this is done.

[2017-11-10 03:18] #1094 closed, assigned to nobody

[2017-11-10 03:19] HPaulJohnson commented on #1085
@brettgaylor can we close this one?

[2017-11-10 03:20] HPaulJohnson commented on #1057
This is done/live. Will create a new ticket for phase 2 once we look at the results.

[2017-11-10 03:20] #1057 closed, assigned to kristinashu, natalieworth

[2017-11-10 03:23] HPaulJohnson opened #1106 "Buyer's Guide Snippet"
Copy and icons for promoting the buyer's guide in the snippet.

Scheduled to go-live week of 11/13.

cc: @caltrider

[2017-11-10 03:24] HPaulJohnson commented on #1106
Copy here: https://docs.google.com/document/d/1rOCmuJ9mF9y_e1OochGNEZgJWYituoztv3WUTbYeryk/edit

@natalieworth looks like we still need icons for these. can we prioritize this work tomorrow (11/9)

[2017-11-10 03:26] HPaulJohnson commented on #1064
closing this one and will not do.

[2017-11-10 03:26] #1064 closed, assigned to nobody

[2017-11-10 03:27] HPaulJohnson commented on #980
plans changed and this is no longer relevant

[2017-11-10 03:27] #980 closed, assigned to KevZawacki

[2017-11-10 03:28] HPaulJohnson commented on #999
i think we are good to go on this one!

[2017-11-10 03:28] #999 closed, assigned to ScottDowne, vojtechsedlak

[2017-11-10 03:28] HPaulJohnson commented on #1050
we did this- yay!

[2017-11-10 03:28] #1050 closed, assigned to ScottDowne

[2017-11-10 04:39] brettgaylor commented on #1085
yes!

[2017-11-10 04:39] #1085 closed, assigned to beccaklam

[2017-11-13 17:59] alanmoo commented on #1077
There was a thread, possibly in Slack, that we should solidify for future reference:

This monthly ask should only happen in a few locales to start: US, UK, Germany and France.

[2017-11-13 18:31] ScottDowne commented on #1077
Working implementation up on review apps now: https://donate-mozilla-org-us--pr-1864.herokuapp.com/en-US/thank-you/?payment=Stripe&str_amount=300&str_currency=usd&str_id=ch_1BNmhOG8Mmx3htnxcnENnlqH&str_frequency=one-time&customer_id=cus_BlJK8zST6kp9GX&email=fsegs@gg.com&country=United%20States

It's lacking lots of little things, but you can test the actual flow end to end now.

Main page link her

[2017-11-13 18:36] ScottDowne commented on #1077
Things I'm still doing in the above demo:

- [ ] Delay the first donation by a month.
- [ ] Some styling on the error validation messages.
- [ ] Proper upsell amounts.
- [ ] Proper upsell targets. (en-US, eur, etc)
- [ ] Refactor some reusable functions for amount validation.
- [ ]  Some sort of tests.

[2017-11-13 19:40] #1099 closed, assigned to nobody

[2017-11-13 20:34] natalieworth commented on #1106
Rough snippet icon options are here: https://redpen.io/p/xd1975f1fc5fad313c
cc @HPaulJohnson @tlasadea @caltrider

[2017-11-13 21:44] gideonthomas commented on #1053
do we have any progress updates on this?

[2017-11-14 19:05] caltrider commented on #1106
Update on snippet after a quick chat with Wes.  He says he'll run snippet this week Thursday-Friday and then next week Wednesday through the following Tuesday (all day on Cyber Monday).  Asked him about doing some snippet targeted at Black Friday or Cyber Monday. He says that those day targeted snippets don't always increase engagement that much but always worth a try.  I think I'll draft a couple

[2017-11-14 19:13] HPaulJohnson commented on #1105
Updated list and timing per conversation this a.m. with @natalieworth, @caltrider, @tlasadea & Kfann.

**This week (11/17):**

1. _Old-timey xmas memes creative_

- [x] Purchase photos
- [x] Add type treatment
- [x] Export as static images for use on FB, TW and IG

2.  _Creepy Teddy Bear & Spying Santa creative_

- [x] Reformat creative from display ad campaign for use in social.
- [x] Export as .

[2017-11-14 19:14] alanmoo commented on #1102
What's the Slack integration piece? Do you want notifications in #advocacy when people post comments or something like that?

[2017-11-14 19:18] caltrider commented on #1102
@alanmoo Right now @HPaulJohnson and I are the two moderators on Talk comments in the buyer's guide. We have to remember to login and keep an eye on the moderation panel in Talk. If we could set up a Slack channel (like #talkmod or something like that) where we would get slack notifications as the comments come in and can moderate from there, that would be super helpful.
cc: @ScottDowne

[2017-11-15 15:43] alanmoo commented on #1102
Thanks. We'll investigate what's possible with Talk and the way we have it installed.

[2017-11-15 16:44] ScottDowne commented on #1100
This we can close this now.

We have a post launch enhancement ticket here: https://github.com/MozillaFoundation/Advocacy/issues/1102

[2017-11-15 16:44] #1100 closed, assigned to HPaulJohnson

[2017-11-20 10:17] tlasadea commented on #1081
Think this ticket is finished, as there's another ticket with phase 2 social. Will close this.

[2017-11-20 10:17] #1081 closed, assigned to TheoChevalier, HPaulJohnson, tlasadea

[2017-11-20 10:18] tlasadea commented on #1066
Can this be closed @TheoChevalier?

[2017-11-20 11:07] TheoChevalier commented on #1066
Depends if we’re still doing a Methodology blog post, do you know @caltrider ?

[2017-11-20 11:13] tlasadea commented on #1030
Think this is closed @HPaulJohnson as we have them all bar phase 2, which has it's own ticket
#1105

[2017-11-20 11:22] #1030 closed, assigned to HPaulJohnson, natalieworth, beccaklam, caltrider, tlasadea

[2017-11-20 11:30] tlasadea commented on #1105
Red pen for numbers 1, 2, & 4 are [here](https://redpen.io/p/xrbfbfd99f07cf51e0)

[2017-11-20 17:18] tlasadea opened #1107 "EOY Social Creative: Round 2"
This ticket is for the creation of additional creative to support the upcoming EOY fundraising campaign.

As mentioned in the kick-off call, we need:

_Two sets_ of creative for _two audiences_ (Mozilla Supporters & Conscious Choosers) _**across three mozilla-issues: Misinformation, Digital Inclusion and Net Neutrality/Decentralization.**_

In execution, this looks like:
**6 total creative executi

[2017-11-20 18:08] tlasadea commented on #1107
@caltrider @jonmozilla lets have a meeting on Weds about copy for this? I'll schedule it.

[2017-11-20 18:11] caltrider commented on #1107
Hey @tlasadea, can we meet tomorrow?  I'm out on Wednesday.

[2017-11-20 18:13] tlasadea commented on #1107
​@caltrider yes!

[2017-11-20 18:33] gideonthomas commented on #1078
This project has been deemed out-of-scope for this years campaign due to us not being able to acquire a creditor ID (see https://github.com/mozilla/donate.mozilla.org/issues/1869).

For future reference all the pending work for the SEPA integration is ticketed under the SEPA label in the donate.mozilla.org repository (see https://github.com/mozilla/donate.mozilla.org/labels/SEPA)

[2017-11-20 20:03] HPaulJohnson commented on #1107
As background, here are the winning snippets from the last month with the "future of the Internet" messaging:

_Will the future of the internet be a set of walled, private compounds with locked gates and restricted entry? Or an open, productive commons, where creativity and innovation flourish? As a not-for-profit, Mozilla’s core mission is to fight every day for a better and healthier internet, f

[2017-11-20 20:32] HPaulJohnson commented on #1107
@tlasadea @kristinashu per our conversation this a.m., here's a more detailed roundup of the creative results from the messaging test:

https://docs.google.com/spreadsheets/d/12dP5_jZiBKQOc6MUUIdkNQXXnq2wSD5imv1YBnqwJL4/edit#gid=0

TL;DR Inclusion and Misinformation performed pretty consistently better than the control, while the Decentralization creative performed worse than the control in each p

[2017-11-20 21:46] caltrider commented on #1102
@natalieworth @ScottDowne @HPaulJohnson
Thinking about how we make the "Why We Made This Guide" more prominent in the guide.
I'm open to suggestions.  Here's a couple of ideas:

1.  Would it be possible to put a floating link to on the landing page that stays up through the scroll?
2. Could we put it some how on the landing page so people would see a link to it before they started their scroll?

W

[2017-11-20 22:31] natalieworth commented on #1105
1 (old Santa) and 2 (Display Ads) are uploaded in here and have been added to the Redpen https://drive.google.com/drive/folders/1PF14d4tPwOF1errRm05lizSv8eE8mCeA?usp=sharing

cc @tlasadea @HPaulJohnson

[2017-11-21 07:54] jonmozilla commented on #1107
My 2 cents: let's drop decentralization now so we can focus our resources
on what's working (I don't think we have the time).

On Mon, Nov 20, 2017 at 8:32 PM, Paul Johnson <notifications@github.com>
wrote:

[2017-11-21 12:18] tlasadea commented on #1107
Thanks, so @kristinashu I have updated the brief, you should have enough info to get started now.

@caltrider @jonmozilla I have put a meeting in to brief re copy.

[2017-11-21 12:25] tlasadea commented on #1105
@natalieworth @HPaulJohnson Number 3 (Black Friday) has also been added to the above and here: https://drive.google.com/drive/folders/1x2uKdyigW6swXCBEjlEucGMQKWUKMTw6 can you @natalieworth please look lol I just did what was simple/easiest.

[2017-11-21 18:00] nataliejworth commented on #1102
I would +1 having a bar possibly at the bottom that floats as people read. I prefer that over a link in the copy at the top as I don’t want people to click on a link right away and be taken to a different page without getting a chance to scroll down?
I’m thinking though we could have a small bar along the bottom (that is possible to dimiss) and maybe reads “find out why we made this guide” as a li

[2017-11-21 18:02] caltrider commented on #1102
@nataliejworth @ScottDowne I like that idea a lot! Scott, can we do that?

[2017-11-21 18:58] kristinashu commented on #1107
Thanks for the brief. Here's a summary of the deliverables I'll be working on:
- 3 Misinformation executions for Mozilla Supporters (bold but slightly reduced controversy)
- 3 Misinformation executions for Conscious Choosers (bold & similar to the testing creative)
- 3 Digital Inclusion executions for Mozilla Supporters (bold but slightly reduced controversy)
- 3 Digital Inclusion executions for C

[2017-11-21 18:59] ScottDowne commented on #1102
Dunno about my priorities, or who manages cross project priorities like this, so I don't know when I can get to this, or if I'll be able to even keep it on my radar for very long.

But yes, this is possible, but feels a bit like overkill with it being dismiss able and floating stuff.

If we want with something more static, I would be more willing and able to do this outside of my normal prioritiza

[2017-11-21 20:01] natalieworth commented on #1105
@tlasadea Sweet! Yah those are cool. Only thing is maybe the little yellow toy looks stretched. Not sure if it's a google folder view issue or in the original file?
<img width="1222" alt="screen shot 2017-11-21 at 11 59 58 am" src="https://user-images.githubusercontent.com/14876567/33094064-a8f7df28-ceb3-11e7-81fd-ca752a734a64.png">

[2017-11-22 11:48] tlasadea commented on #1105
@natalieworth updated.

I saw in Slack that you said you were gonna finish the jingle video, but think no. 4 - have all the images I sourced been edited as you were gonna do? Would be good to have that done so KFann can finish when he's back...actually not sure what he needs to do? We already have the headlines so could you just apply the type treatment - we need it for probably Cyber Monday at th

[2017-11-23 17:03] cadecairos commented on #1102
There's a plugin for Talk that can integrate comments into a Slack channel via a WebHook. There is not a plugin for enabling Moderation from Slack. If we want a feature like that, we'll need to make it a project and assign a couple engineers to build it - But I'm not sure that's it's worth the investment.

[2017-11-24 20:47] kristinashu commented on #1107
@tlasadea @HPaulJohnson here are some iterations https://redpen.io/p/zj3a03844f39d2841c

I think we should have few different headlines and text messages to cycle through/text. Temi, if you write them I can quickly update the images.

For the generic social share images, does the campaign have a tagline or theme I should use?

[2017-11-28 15:05] alanmoo commented on #1102
If the comments to slack channel integration is easy, that sounds like it would achieve the goal of making it easier to stay on top of comments. Is that right @caltrider?

[2017-11-28 16:27] tlasadea commented on #1107
@ScottDowne @alanmoo hey you two, @kristinashu is working on updating the share images for the donate LP - will pop them here when they're done.

[2017-11-28 16:29] caltrider commented on #1102
Yes @alanmoo, it would make it easier if we got a slack notification. Although, right now the comment volume isn't so big this is a huge problem. However, if it is easy, it would be a help to get notifications in slack instead of having to login and remember to check the admin page for Talk.

[2017-11-28 17:43] alanmoo commented on #1107
Sorry, I don't understand @tlasadea - What will need to be done with these? (And what's "LP" stand for here?)

[2017-11-28 17:56] tlasadea commented on #1107
@alanmoo oh sorry. the donate landing page/site - you can share via social on FB and Twitter when you've donated. Kristina is updating the image that is shared when that happens. A la: https://twitter.com/jedidiahpark/status/935564682684923905

[2017-11-28 17:59] alanmoo commented on #1107
Ah, the OpenGraph images. Good, that needs an update 👍

[2017-11-28 18:40] beccaklam commented on #1105
@tlasadea @HPaulJohnson @natalieworth Here are the mockups for the onion-esque social, i've only done the IG format so far, not sure if we wanted to do a landscape option for facebook and twitter? The first three photos Nat has already bought, the latter three (the ones tagged with 'option') are images i'm suggesting once i get the ok (from temi?) i can buy them. let me know if you think they work

[2017-11-28 19:41] alanmoo commented on #1053
Work is being tracked in #1082

[2017-11-28 19:41] #1053 closed, assigned to nobody

[2017-11-29 00:40] HPaulJohnson commented on #1105
Left some comments in the redpen but these are very close. With a few tweaks I think we can call them done.

In terms of buying the pics, go ahead and do that at your discretion assuming any one image is not ridiculously expensive. If you have questions ping me but don't let it be a blocker.

[2017-11-29 17:44] tlasadea commented on #1107
@kristinashu @HPaulJohnson

Reiterating our call this morning:

1) Update the Misinformation mobile phone creative to the "President Says Canada Should Never Had Independence" image
2) Export Misinformation (no author with 'Fake' stamp version) for Facebook image size
3) Develop another execution for Misinformation
4) Update digital inclusion blue highlighter image with new copy in RedPen
5) Expor

[2017-11-29 19:10] kristinashu commented on #1107
I've updated [redpen](https://redpen.io/p/zj3a03844f39d2841c) with the selected images and put placeholders for the new directions I will be working on.

Here are the generic share images for FB (1200 x 630 px) and Twitter (1200 x 601 px): https://drive.google.com/open?id=166r2cB5jzmdLd1qB1ikDJ4vCX3CWpGnd

@HPaulJohnson @tlasadea let me know if I've missed anything. @natalieworth let me know if yo

[2017-11-29 21:21] HPaulJohnson opened #1108 "Update share images/copy in OG tags on donate.mozilla.org"
Detailed description of work: Update OG tags on donate.mozilla.org with updated copy and graphics.

FB image: https://drive.google.com/a/mozilla.com/file/d/1xlUEsjyw6RQDPgcKq2Jt_lQWNFOY0XXn/view?usp=sharing
TW image: https://drive.google.com/a/mozilla.com/file/d/1VvswfOHMoBn7Qi6Wn9Z2VcoGR9IgckmC/view?usp=sharing

All share OG tag info (above images need to be hosted and links below updated):

`<me

[2017-11-29 21:22] HPaulJohnson commented on #1108
Also, we are still using Share Progress for the post donate CTA. We'd like to test some new images there and to do so will need all of the images in this folder hosted somewhere we can link to via URL.

https://drive.google.com/drive/folders/166r2cB5jzmdLd1qB1ikDJ4vCX3CWpGnd

NOTE: if an alternate image from this testing emerges as a winner we would want to update the OG image tag as well. TBD bas

[2017-11-29 22:24] alanmoo commented on #1108
@gvn Scott's got some other stuff he's working on, this seems like the kind of thing I think you might have some time for. Feel free to ask if you've got any questions.

[2017-11-30 00:36] TheoChevalier commented on #1108
@HPaulJohnson I’ve been thinking about what we could do for other languages, and got some ideas.

- Once we know which image performs best in English, localize it in, say, French and German
- Create a generic image for other locales (without text)
- Tweets/FB desc can be localized in all languages (just need to expose the new copy)

How does this sound to you? Doable?

[2017-11-30 18:05] caltrider commented on #1102
Quick update here: @alanmoo @ScottDowne @HPaulJohnson
With the guide being mentioned in the NY Times Op-Ed this Saturday, it would be great to get the "Why we made this guide" made more prominent before then if we can.  There are a couple ideas above. I'm open to which ever we can do before the weekend.
Also, Janice's Methodology post is in legal review and then will get posted. That would also be

[2017-11-30 18:31] TheoChevalier opened #1109 "Produce fundraising video in German"
The script is being localized in German, it will be probably ready by the end of the week.

@natalieworth @brettgaylor Since German will be quite longer than English, do you think it would be possible to display the text screens slightly longer? That may be too much work, so maybe on a case by case once we have the translations?

For audio parts, we can go with simple built-in subtitles, unless yo

[2017-11-30 19:14] TheoChevalier commented on #1109
@natalieworth Translations are ready, earlier than expected https://docs.google.com/document/d/1_rut5iS7zxArU4NlNToGCtuneszXIF5KzINYsqAkKio/edit
Let me know if you see issues

[2017-11-30 21:23] HPaulJohnson commented on #1108
Good call, @TheoChevalier. I'll have the a version of these initial images stripped of text with just a Moz logo.

We've used this copy previously (last year I think) so we might already have it localized?

[2017-11-30 21:33] HPaulJohnson commented on #1108
Here are some generic share images we can use for non-English locales:

FB: https://drive.google.com/a/mozilla.com/file/d/1q0iLRZzljyx_FTjGUeRaxIsSxKT-vyJL/view?usp=sharing
TW: https://drive.google.com/a/mozilla.com/file/d/1AVWs8pdUWY62Z6iwiVkuZZroHiBM-Zt9/view?usp=sharing

[2017-11-30 21:46] natalieworth commented on #1102
@caltrider @alanmoo What about either of these? Do you have copy suggestions too Jen?
<img width="1140" alt="screen shot 2017-11-30 at 1 37 20 pm" src="https://user-images.githubusercontent.com/14876567/33456645-d830a478-d5d4-11e7-862d-626f54eac962.png">
<img width="1150" alt="screen shot 2017-11-30 at 1 43 03 pm" src="https://user-images.githubusercontent.com/14876567/33456646-d84659f8-d5d4-11e7-

[2017-11-30 21:47] natalieworth commented on #1102
added them on redpen here too https://redpen.io/fjac2703ae9bab4ad2

[2017-11-30 21:53] alanmoo commented on #1102
Is the first one a fixed white box when you scroll? If so, I'd prefer the second, if only because it doesn't complicate things and would be painless to add in.

[2017-11-30 22:00] caltrider commented on #1102
@alanmoo @natalieworth While I do like the the idea of it being sticky, I'm down for whatever doesn't complicate things. I think the second one could be the least confusing. In the first option the arrow points to it and could lead folks to believe scrolling will take them to that.

As for copy, let's just keep it simple and have it read: "Why We Made This Guide"

[2017-11-30 22:03] natalieworth commented on #1102
Sweet I'm good with second option too! Less invasive than following people down the page too as they scroll.

[2017-12-01 09:36] tlasadea commented on #1107
@alanmoo [here](https://drive.google.com/drive/folders/166r2cB5jzmdLd1qB1ikDJ4vCX3CWpGnd) are the images for OpenGraph.

[2017-12-01 11:52] TheoChevalier commented on #1108
Hm, I don’t remember this copy, maybe you used it only in ads?

It looks like we are still using this one on the website for social sharing, for all locales
![eoy_facebook_v1 a152496406bad899d1a920f6d6b9f507](https://user-images.githubusercontent.com/1294206/33481337-f4cb4b12-d68b-11e7-903b-86ad16f2f6da.png)

[2017-12-01 15:05] alanmoo commented on #1107
Great. Can you file a new ticket with that link and the actual request for where to put them? This ticket's become very hard to follow and I don't want anyone jumping in to have to try and parse it all.

Update: #1108 (though #1110 was filed too)

[2017-12-01 15:11] tlasadea opened #1110 "Update Facebook & Twitter Social Share Creative"
The OpenGraph images for sharing post-donation need to be updated.

The copy can stay the same for consistence of the use of the hashtag. The images are [here](https://drive.google.com/open?id=166r2cB5jzmdLd1qB1ikDJ4vCX3CWpGnd).

CC @alanmoo @HPaulJohnson

[2017-12-01 16:49] beccaklam commented on #1105
@HPaulJohnson @tlasadea Onion social here: https://drive.google.com/drive/folders/17RU-vPYmTuC1EBfM-s-vSi6MH5Y850ky?usp=sharing

[2017-12-04 18:06] alanmoo commented on #1110
There's a bunch of images in there. Can you clarify what use case they individually have?

[2017-12-04 18:12] tlasadea commented on #1110
@alanmoo well the ones there are for FB & for Twitter — there are four different versions for share progress... @HPaulJohnson is share progress not used for the donate LP or does there only need to be one image for FB or Twitter?

[2017-12-04 19:04] HPaulJohnson commented on #1110
I think we have duplicate tickets on this. Details about what specific images we should use for donate site are in #1108

[2017-12-04 20:37] caltrider opened #1111 "Add Methodology Blog Post Link to the Buyer's Guide"
Janice has her research methodology blog post for the buyer's guide up on Medium. Legal folks wanted us to include this in the guide.

Couple ways we could add this to the guide. I'm happy to do whatever is easiest.
1. Add it to the footer using the copy "Research Methodology" and link out to the blog post
2. Add it to the product pages at the bottom using the copy "Research Methodology".

@natali

[2017-12-04 21:48] gvn commented on #1110
If this is a dupe can we please close it?

[2017-12-05 02:29] natalieworth commented on #1109
@TheoChevalier Thanks! I'll do this tomorrow morning

[2017-12-05 11:39] TheoChevalier opened #1112 "Localized share images on donate.mozilla.org"
Hey @kristinashu could you please create two localized versions of this graphic in French and German? https://raw.githubusercontent.com/mozilla/donate.mozilla.org/e5b927dd23af5bfef1ad8c282659e7df1b686e78/assets/images/twitter-card.png

I’m including the copy below

English: `Fight for a Healthy Internet`
German: `Kämpfe für ein gesundes Internet`
French: `Défendez un Internet sain`

English: `Dona

[2017-12-05 13:33] TheoChevalier commented on #1112
(Just made a slight change in French)

[2017-12-05 19:50] alanmoo commented on #1110
Yup, didn't realize #1108 existed when I asked for this ticket in #1107

[2017-12-05 19:50] #1110 closed, assigned to gvn

[2017-12-05 22:02] WillatMozFdn opened #1113 "Add Discover card logo (along with Amex/Visa/MC) on Stripe donate button for EN-US"
Detailed description of work: We have a handful of cases in the donate@ queue of people confused and wanting to donate using their Discover cards, but our blue donate button on https://donate.mozilla.org/en-US/ does not show the Discover logo.  However, in the US, we do in fact take Discover cards through Stripe!

So this project will add the Discover logo underneath (?) the Amex/MC/Visa logos (wh

[2017-12-05 22:08] cadecairos commented on #1113
@WillatMozFdn I'm not the developer to take on this task - we should loop in @alanmoo to find someone to make the changes to the front end.

[2017-12-05 22:11] WillatMozFdn commented on #1113
OK thanks Chris.  @alanmoo can we get this quickie project in the pipeline soon-ish?  (Sorry, meant to mention this today during our meeting, but just plain forgot.)

[2017-12-05 22:12] HPaulJohnson commented on #1113
@beccaklam has offered to update button design tomorrow a.m.

[2017-12-05 22:39] HPaulJohnson opened #1114 "Create shorter cuts of EOY Fundraising Video"
We have a great EOY video, compliments of @natalieworth and @brettgaylor.

The video clocks in at just under 2 mins and since we've consistently seen shorter perform better on social (and early results from our testing with this video indicate the same), we'd like to make some quick cuts of :15-:20 secs for use in FB and TW paid ad campaigns.

I have 3 cuts that should work which I'll detail below

[2017-12-05 22:42] HPaulJohnson commented on #1114
Version 1: Sydette

Opening Frame:
<img width="929" alt="screen shot 2017-11-29 at 1 50 26 pm" src="https://user-images.githubusercontent.com/10078715/33634764-3ad64ba2-d9ca-11e7-90d5-551a39a6663b.png">

Middle Frame(s):
Sydette's talking on camera from :31-:41

Outro Frame:
<img width="921" alt="screen shot 2017-11-29 at 1 52 05 pm" src="https://user-images.githubusercontent.com/10078715/33634842

[2017-12-05 22:44] HPaulJohnson commented on #1114
Version 2: Jennifer

Intro Frame:
<img width="919" alt="screen shot 2017-12-05 at 2 25 57 pm" src="https://user-images.githubusercontent.com/10078715/33634890-a063af0a-d9ca-11e7-90fb-7cf5a144277c.png">

Middle Frame(s):
Jennifer Helsby talking on camera from :42-:53

Outro Frame:
<img width="921" alt="screen shot 2017-11-29 at 1 52 05 pm" src="https://user-images.githubusercontent.com/10078715/336

[2017-12-05 22:45] HPaulJohnson commented on #1114
Version 3: Gigi

Intro Frame:
<img width="920" alt="screen shot 2017-12-05 at 2 28 05 pm" src="https://user-images.githubusercontent.com/10078715/33634936-d3c97f78-d9ca-11e7-89bd-c87e729dc638.png">

Middle Frame(s):
Gigi Sohn talking on camera from 1:05-1:11

Outro Frame:
<img width="921" alt="screen shot 2017-11-29 at 1 52 05 pm" src="https://user-images.githubusercontent.com/10078715/33634957-ec

[2017-12-06 00:12] HPaulJohnson commented on #1108
sorry for the delayed response, @TheoChevalier

The image you referenced is the one we are aiming to update with this ticket. Not complete yet as far as I know.

For copy- did we have any localized social share copy we used last year that might still work? Otherwise, we could send these strings through for translation now. I'm fine either way.

[2017-12-06 00:18] kristinashu commented on #1107
@tlasadea updated creative is here! https://redpen.io/p/gm4e1ce11dc9e45341

[2017-12-06 15:31] alanmoo commented on #1113
There's potentially some additional logic around this. Are Amex and Discover mutually bound together in acceptance, or are there some countries where we accept Amex/Discover but not the other one? What about countries where we don't accept Amex, do we accept Discover there? (Choose BRL from the dropdown on donate.mozilla.org to see an example of why I'm asking).

[2017-12-06 15:55] beccaklam commented on #1113
@WillatMozFdn @HPaulJohnson @alanmoo Here is the updated design, let me know if you think the logos are too small?
![cc selected copy](https://user-images.githubusercontent.com/20977376/33670793-e3057d94-da73-11e7-9897-3b04e264ff1b.jpg)
![donate-mockup](https://user-images.githubusercontent.com/20977376/33670796-e737a3c4-da73-11e7-94e6-02ae63919183.jpg)

[2017-12-06 16:57] WillatMozFdn commented on #1113
@beccaklam I think that looks great!

@alanmoo -- yep, I chatted with @cade about this yesterday.  (Amex and Discover are two totally different systems, btw.)  He checked Stripe documentation; we can only accept Discover in USD, and he believes it's do-able to show this new graphic only when USD is selected.

[2017-12-06 17:26] cade commented on #1113
If you put all the images in separate `iframe`s, you can swap out the `src` attribute with Javascript when the dropdown value changes... You might need React for that though. Not sure.

[2017-12-06 18:56] HPaulJohnson commented on #1106
I think we are good to go on this ticket, so going to close.

We've been in snippet at various point during campaign and will continue to show up there sporadically over the next few weeks.

All the design/copy versions needed to support are complete.

[2017-12-06 18:56] #1106 closed, assigned to natalieworth

[2017-12-06 18:59] HPaulJohnson commented on #1102
checking in on the status of implementing this change? @alanmoo do you know when we might fit this in?

[2017-12-06 19:02] HPaulJohnson commented on #1108
@ScottDowne do you have the images on a mozilla URL yet so that I can update Share Progress images?

[2017-12-06 19:03] HPaulJohnson commented on #1098
closing this ticket as progress is being tracked in #1102

[2017-12-06 19:03] #1098 closed, assigned to nobody

[2017-12-06 19:08] HPaulJohnson commented on #1066
I think we have all this covered for this campaign so closing this ticket in an effort to clean up before end of year. Feel to reopen if needed.

[2017-12-06 19:08] #1066 closed, assigned to ScottDowne, TheoChevalier, caltrider

[2017-12-06 19:10] HPaulJohnson commented on #1005
Let's revisit (and create a fresh ticket) in the new year, in the context of our new OKR's.

[2017-12-06 19:10] #1005 closed, assigned to caltrider, tlasadea

[2017-12-06 19:10] #977 closed, assigned to nobody

[2017-12-06 19:11] #969 closed, assigned to nobody

[2017-12-06 19:12] HPaulJohnson commented on #931
closing / won't fix

[2017-12-06 19:12] #931 closed, assigned to ScottDowne

[2017-12-06 19:12] HPaulJohnson commented on #920
closing. we will revisit safety first as a whole when we consider 2018 plans / roadmap

[2017-12-06 19:12] #920 closed, assigned to nobody

[2017-12-06 19:13] HPaulJohnson commented on #903
would be cool but i don't think this is going to happen. closing.

[2017-12-06 19:13] #903 closed, assigned to beccaklam

[2017-12-06 19:13] HPaulJohnson commented on #918
will revisit pending plans to continue using safety tips in 2017. closing for now.

[2017-12-06 19:13] #918 closed, assigned to beccaklam

[2017-12-06 19:14] #889 closed, assigned to nobody

[2017-12-06 19:17] HPaulJohnson commented on #879
Been keeping this deck up to date with both creative and results summaries:

https://docs.google.com/presentation/d/10Q9PqQsz7CMRNdmsXV8Wpdi8pltRKtXrtTsH-wI7-qE/edit

May want something on a campaign by campaign basis that is a deeper dive but will re-evaluate when shoring up our 2018 processes.

[2017-12-06 19:17] #879 closed, assigned to HPaulJohnson, vojtechsedlak

[2017-12-06 19:18] HPaulJohnson commented on #864
@chadsansing doing a ticket cleanup. what are your thoughts on this? can we close or is it still an opportunity we should consider resourcing in 2018?

[2017-12-06 19:19] HPaulJohnson commented on #845
closing / won't fix.

[2017-12-06 19:19] #845 closed, assigned to nobody

[2017-12-06 19:19] HPaulJohnson commented on #839
closing for now. can re-evaluate as we think about how we might re-use typeoutloud in our 2018 engagement plans.

[2017-12-06 19:19] #839 closed, assigned to nobody

[2017-12-06 19:21] #706 closed, assigned to nobody

[2017-12-06 19:27] chadsansing commented on #864
Let's close, @HPaulJohnson -

[2017-12-06 19:27] #864 closed, assigned to nobody

[2017-12-06 19:38] #700 closed, assigned to nobody

[2017-12-06 19:38] #703 closed, assigned to nobody

[2017-12-06 19:38] #704 closed, assigned to nobody

[2017-12-06 19:38] #705 closed, assigned to ScottDowne, hannahkane, beccaklam

[2017-12-06 19:38] #708 closed, assigned to natalieworth, beccaklam

[2017-12-06 19:39] #696 closed, assigned to roseregina

[2017-12-06 19:39] #402 closed, assigned to valianttry

[2017-12-06 19:40] #212 closed, assigned to ScottDowne

[2017-12-06 19:40] #25 closed, assigned to nobody

[2017-12-06 19:40] #24 closed, assigned to nobody

[2017-12-06 19:57] alanmoo commented on #1113
👏 Nice. (@WillatMozFdn the person you're looking for is @cadecairos. This gentleman here is simply the best of sports)

@ScottDowne Can you point @beccaklam to the right files that need graphic updates so they're easier for someone to drop in the logic? I can't tell if at a quick glance how the sprites are generated.

[2017-12-06 21:20] ScottDowne commented on #1113
@beccaklam this is the payment logo file: https://github.com/mozilla/donate.mozilla.org/blob/master/assets/images/payment_logos_updated.4ca531c0b90d3635aef0c1fc78d5967e.png

Right now it's in a sprite sheet and not sure if we should separate them now, or land the Discover patch, then fix the sprite sheet issue.

[2017-12-06 21:36] beccaklam commented on #1113
@ScottDowne @alanmoo @WillatMozFdn @HPaulJohnson Sorry, did I miss something here? Am I making this change? Or am I suppose to direct these to someone?

[2017-12-06 22:50] alanmoo commented on #1113
Someone on my team will make the actual change in the code, but for getting the design into the code we need an update version of the graphic that Scott linked to above. (Note the colored and white versions with transparent background.) It can be posted here and we’ll put it in the repo. If that’s not something that you can do, please correct me, I thought that’s what Paul meant in his comment tho

[2017-12-07 14:11] beccaklam commented on #1113
@alanmoo Ah yes I get it now. I'll post in this ticket soon. Thanks!

[2017-12-07 15:21] alanmoo commented on #1102
It was on staging, I just deployed and it should be live momentarily. (Assuming you're talking about the "Why we made this guide" change. It's hard to track multiple tasks like this in one ticket)

[2017-12-07 15:45] #1108 closed, assigned to ScottDowne

[2017-12-07 17:01] ScottDowne commented on #1108
@HPaulJohnson I'm working on getting them on a cdn for once.

[2017-12-07 19:02] ScottDowne commented on #1108
@HPaulJohnson images should be here https://assets.mofoprod.net/fundraising/2017/ example https://assets.mofoprod.net/fundraising/2017/EOY-FB-Share-fist.png

[2017-12-07 19:20] beccaklam commented on #1113
@alanmoo @ScottDowne @WillatMozFdn @HPaulJohnson Updated payment logo file here:
![payment-logos](https://user-images.githubusercontent.com/20977376/33734331-13a1c098-db5a-11e7-9026-3396f3fa7c9a.png)

[2017-12-08 01:04] natalieworth commented on #1109
@TheoChevalier German version of the video is here [Fundraising-video-DE.mp4](https://drive.google.com/file/d/15rkzzJ2nnzWcgPt5NusWjqSoFQCKD8Kp/view)

[2017-12-08 01:07] natalieworth commented on #1105
@HPaulJohnson @tlasadea 12 Days of IoT video here here https://drive.google.com/drive/u/0/folders/17aoQotGWYEdLiGPPRoZ-PfnmG5RV62e8

[2017-12-08 02:12] natalieworth commented on #1114
@HPaulJohnson Got these done today! Let me know if you have any changes: https://drive.google.com/drive/folders/1u-NVXkvDKmghzHF9vCQ0qHQFsaiAzoZq

[2017-12-08 11:36] tlasadea commented on #1114
​Do we have cover images for these @natalieworth?

[2017-12-08 12:50] TheoChevalier commented on #1109
@natalieworth Thanks!
It looks like the subtitles for the voices and the newspaper headlines are missing, any chance you can add that?
When there are headlines + voices at the same time, let’s add subtitles for the voice only

[2017-12-08 15:03] tlasadea commented on #1105
I think, with the Then & Now video & 12 Days of IoT video - this is the last of the work done.

Truly terrific werk, team. Closing this - but feel free to re-open if I've missed something @HPaulJohnson @natalieworth @beccaklam

[2017-12-08 15:48] alanmoo commented on #1111
I think the footer is easiest, though we'd probably want an icon next to it. This will be a quick add, just let us know what you think is best @natalieworth or @beccaklam.

[2017-12-08 16:03] beccaklam commented on #1105
@tlasadea @HPaulJohnson Just adding in the advent calendar creative! https://drive.google.com/drive/folders/1hIfNPSUNFzzQFT2o7GTJ5HHQCz8-WDq-?usp=sharing
Temi, yesterday Paul and I talked about changing the it from the "12 days of Christmas" song to just products from the gift guide. The copy can just be what Jen wrote in the gift guide. We don't have to use this just wanted to give us another opt

[2017-12-08 16:03] #1105 closed, assigned to HPaulJohnson, natalieworth, beccaklam, tlasadea

[2017-12-08 16:15] tlasadea commented on #1107
Final creative for this is [here](https://drive.google.com/open?id=1h05GkySoOe9sICUy-MDMLHN5I4N2dQIV), and this has been trafficked for Alex, so closing this CC @HPaulJohnson.

[2017-12-08 16:15] #1107 closed, assigned to kristinashu, HPaulJohnson, tlasadea

[2017-12-08 16:18] tlasadea commented on #1114
Once we have cover images for Facebook @natalieworth, this ticket can be closed CC @HPaulJohnson

[2017-12-08 17:15] HPaulJohnson commented on #1114
@natalieworth is on PTO today so let's just use FB tool to choose defaults for this.

[2017-12-08 17:22] WillatMozFdn opened #1115 "Next round of donate page tests - Copy on the left"
Detailed description of work:

Can we do a three-way test, with these two new copy variants introduced to compete against the current control?

Test copy 1:
If  you believe an inclusive, diverse Web is better for the future of the  internet, then it's time to join Mozilla and do your part as digital  citizens. Donate today and you'll be supporting programs that keep the  internet healthy, free, an

[2017-12-08 17:39] ScottDowne commented on #1077
I think we can close this now.

[2017-12-08 17:39] #1077 closed, assigned to ScottDowne, alanmoo, shaghdoosti, WillatMozFdn

[2017-12-08 17:41] ScottDowne commented on #859
I totally failed the class on filing useful tickets. I'm not even sure it made sense at the time.

Anyway, closing this.

[2017-12-08 17:41] #859 closed, assigned to nobody

[2017-12-08 17:46] ScottDowne commented on #1089
This got done, thanks @TheoChevalier you're the best.

[2017-12-08 17:46] #1089 closed, assigned to ScottDowne, TheoChevalier, WillatMozFdn

[2017-12-15 19:09] #1113 closed, assigned to ScottDowne, alanmoo, WillatMozFdn

[2017-12-19 21:16] kristinashu commented on #1112
@TheoChevalier thanks for the translations! Here are the images:

![eoy-share-french](https://user-images.githubusercontent.com/1068783/34179179-c942e87e-e4be-11e7-9db4-7acd8a022f3b.png)
![eoy-share-german](https://user-images.githubusercontent.com/1068783/34179180-c9572334-e4be-11e7-9f02-46e463a6d254.png)

[2017-12-20 12:54] TheoChevalier commented on #1109
@natalieworth Does it look doable this week? I would like to avoid seeking approvals during holidays

[2017-12-21 10:02] TheoChevalier commented on #1112
Thanks @kristinashu ! Working on the implementation, we can close this one

[2017-12-21 10:02] #1112 closed, assigned to kristinashu

[2017-12-22 20:34] natalieworth commented on #1109
@TheoChevalier Sorry! Just saw this message! I've updated the file to include the subtitles here: https://drive.google.com/file/d/1zW03tHre_2TlYV2lKzEFeKXdCvvxJ3N2/view

Thanks!

[2017-12-26 15:24] TheoChevalier commented on #1109
Thanks, video approved, we’re good to close this one :)

[2017-12-26 15:24] #1109 closed, assigned to TheoChevalier, natalieworth

[2018-01-05 18:06] natalieworth commented on #1111
@alanmoo we gotta icon! :) File for it is here:
https://drive.google.com/file/d/1hIx9VxKQn9ALJK0xD0BEXKo-G75EUie1/view

[2018-01-16 23:39] #1114 closed, assigned to natalieworth

[2018-01-16 23:41] natalieworth commented on #1102
@alanmoo @ScottDowne I have the 2018 updated illustrations for the Buyer's Guide landing page here: https://drive.google.com/drive/folders/1zfwGqBfS6n3y-z6UTQSvSuQ3f5GWycNU?usp=sharing

(is there a better ticket to put this in?)

[2018-01-18 00:23] natalieworth commented on #1102
added some share progress updates here too: https://redpen.io/p/cu46f0e5a29060a93c
cc @HPaulJohnson @tlasadea @beccaklam @caltrider

[2018-01-18 16:26] beccaklam commented on #1102
@alanmoo @ScottDowne @nataliejworth @HPaulJohnson @tlasadea @caltrider Here are the UI mockups for desktop and mobile. There's a couple options for desktop and a couple for mobile: https://redpen.io/p/ajf2da463e476f3864

[2018-01-18 22:20] alanmoo commented on #1102
Tracking v2 engineering updates at https://github.com/mozilla/advocacy.mozilla.org/projects/1

This ticket seems to be growing well beyond the scope of the original item- how do come to resolution on these types of things?

[2018-01-22 14:23] tlasadea opened #1116 "Call Your Reps (Importance of civic engagement) Promo Video"
This is for the work to do be done to develop a script + video that compells people to call their reps, to be used to drive people to call using our call tool.

[2018-01-22 16:18] tlasadea commented on #1116
@natalieworth [I've added example videos](https://docs.google.com/document/d/16kKXlwk7MMIiQEXL7z8Nu-Mf4eeG6c6UpjIQ4izLN7k/edit?ts=5a614773) for us to pull inspiration from in terms of the tone.

[This is the calling tool](https://advocacy.mozilla.org/en-US/net-neutrality/), we can also use this for copy @natalieworth

CC @HPaulJohnson

[2018-01-25 22:25] natalieworth commented on #1116
Copy document is here: https://docs.google.com/document/d/16kKXlwk7MMIiQEXL7z8Nu-Mf4eeG6c6UpjIQ4izLN7k/edit?ts=5a6a0812

[2018-01-26 22:36] natalieworth commented on #1116
Revised copy document (sent to Ashley/ policy) is here https://docs.google.com/document/d/1M8t09fbcnJpyN1t7h3F0GlPkPvI4gKgHBsF634rFgEc/edit

[2018-02-15 18:16] WillatMozFdn opened #1117 "Clone of donate page for campaign-specific fundraising"
Detailed description of work:  We need to create a clone of the donate.mozilla.org donations page, so that fundraising efforts specific to our Data privacy and security efforts can be better tracked (thus helping us meet OKR 3.3).  The best model here is probably the "Glass Room" donations page that was created last year (?).  All functionalities of the primary donate page should be the same on th

[2018-02-15 19:30] alanmoo commented on #1117
@WillatMozFdn Can you file a project brief to get this on our roadmap? https://mzl.la/project-brief

[2018-02-15 19:31] jessevondoom commented on #1117
I have a few questions and need to point out a few things:

1. Does this need to have a custom data/privacy/security design or should it look the same?
2. If the design can look largely the same, is there any reason we can't accomplish tracking using a querystring instead of a clone? I kind of hate the idea of making multiple clones of the site — it could lead to bugs being fixed in one location a

[2018-02-15 20:08] ScottDowne commented on #1117
@jessevondoom I can answer #2.

They way we do this is by creating a new route, and just applying some of the same components to it. So it's not really a clone on our end of this, just a similar looking page on a new route, using a lot of the same components. In this case, it'll probably be all the same components, with one flag to pass in a tag to go on the donation as it's submitted. The functio

[2018-02-15 20:46] WillatMozFdn commented on #1117
Thanks fellas!  Some answers ...

@jessevondoom ... your questions part A:
1. Will look exactly the same design and layout-wise but likely have different copy over on the left side.
2. I need to loop in @vojtechmzl to answer the question of why this is better done with a separate page and not just using good & consistent tagging practices.
3. Sure, totally happy to do so, I respect process!  (But

[2018-02-15 23:08] vojtechsedlak commented on #1117
The reason we were thinking of cloning the donate page, similarly to what we are doing with thunderbird and what we did with glassroom, is the ability to find and track the campaign donations in Stripe and Paypal. While query parameters would be sufficient in marking things in GA, since we are not currently passing full URL + parameter data along to the payment processors, there would be no way of

[2018-02-19 10:15] tlasadea commented on #1116
[Final videos are here.](https://drive.google.com/drive/folders/1TMal1fmIct6gmOVmJc_pNpcxfgTp2c9i)

[2018-02-19 10:16] #1116 closed, assigned to natalieworth, tlasadea

[2018-02-20 21:36] vojtechsedlak opened #1118 "Create dashboards for advocacy, list growth and fundraising"
Detailed description of work: In alignment with 2018 KRs create a set of Data Studio dashboards that track the following:

- **Advocacy**
  - Email Performance
  - Website Engagement
  - Social Amplification

- **Fundraising**
  - One-time donations
  - Recurring donors

- **List Growth**
  - Monthly progress against targets
  - Split between MoFo properties and others

CC:

[2018-05-03 13:07] WillatMozFdn commented on #784
I think we can close this one now?  @ScottDowne & @cadecairos

[2018-05-03 13:08] #773 closed, assigned to nobody

[2018-05-03 13:11] WillatMozFdn commented on #682
Ha ha, look, progress on this one! Blueprint doc: https://docs.google.com/document/d/1bLqQ8roK7KDgd9KtcdwX-pR8UUjjxvVy5yvxMfPOPiA/edit#heading=h.zgkrvh6313ma
@stephaniemcv

[2018-05-03 13:16] WillatMozFdn commented on #382
Closing this one, we solved this Q3 of 2017.  Checks received via mail are scanned by MTV MoCo accounting staff, data is then input from those scans by Donor Care Coordinator Stephanie Lowry, acknowledgment letters merged and transmitted electronically to SFO WPR/Mailroom staff, and sent from there.  Entire process takes about a week.

[2018-05-03 13:16] #382 closed, assigned to nobody

[2018-05-03 13:44] cadecairos commented on #784
Yup, and looks like we did it before 20167, which is nice.

[2018-05-03 13:44] #784 closed, assigned to ScottDowne, cadecairos

[2018-05-03 14:03] WillatMozFdn commented on #1115
@vojtechsedlak  ... we did this one last year, iirc?  My recollection is that we saw no clear results with one of the variants, and the other one was a negative effect.  Looking for those results now, but I'm pretty sure we can close this one out ....

[2018-05-03 23:11] stephaniemcv commented on #682
Onward to launching this puppy!

[2018-05-07 18:36] #1102 closed, assigned to ScottDowne, TheoChevalier, HPaulJohnson, natalieworth, caltrider

[2018-06-04 12:50] WillatMozFdn commented on #1016
Hey @ScottDowne -- the links to these videos are now (as of this past weekend afaict) all broken?   Received a donor complaint that we're tricking them by sending them back to the donate page ... which is in fact what happens when no content is found that these urls, it resolves back to the root of the subdomain and shows the donate page again.  That's definitely sub-optimal.... (cc @TheoChevalier

[2018-06-04 13:18] TheoChevalier commented on #1016
Ugh, looks like we jumped the gun here… https://github.com/mozilla/donate.mozilla.org/pull/1996#issuecomment-392759351
Looks like Scott and I didn’t realize the pages were still in use, and now the translations are gone… But can still be manually recovered from GitHub history.

As a stop gap solution, maybe we can redirect them to https://donate.mozilla.org/en-US/share ?

[2018-06-04 13:51] ScottDowne commented on #1016
I see, yeah those pretty much got removed because they had "jan thank you" and I forgot we wanted them to be evergreen. With a title like that, they don't sound very evergreen.

We should probably come up with an ever green url so it's clear these are in use. @WillatMozFdn if you come up with a few evergreen names, I can set them up, and redirect the old links to the new ones.

@TheoChevalier and

[2018-06-04 13:51] WillatMozFdn commented on #1016
Well, the strings are not really important ... but having the videos available at those URLs certainly is.  Every time a Stripe donation is made, we are sending those video links out, so this is a live/active/ongoing problem....

[2018-06-04 13:53] ScottDowne commented on #1016
@WillatMozFdn yeah, we'll probably land these bits as they are done, so as to not have one block the other.

[2018-06-04 13:57] WillatMozFdn commented on #1016
a more evergreen folder structure would be donate.mozilla.org/thankyou/superhero, donate.mozilla.org/thankyou/sincere , and donate.mozilla.org/thankyou/funny -- if you still need that info.

[2018-06-04 14:08] ScottDowne commented on #1016
@WillatMozFdn @TheoChevalier this puts the links back the way they were. https://github.com/mozilla/donate.mozilla.org/pull/2004

[2018-06-04 14:20] ScottDowne commented on #1016
@WillatMozFdn going with http://donate.mozilla.org/en-US/thank-you-superhero/ etc if it's all the same to you.

[2018-06-04 14:28] WillatMozFdn commented on #1016
Totally fine, Scott -- thanks!!

[2018-06-04 15:04] ScottDowne commented on #1016
Should be live in a bit, I just deployed.

[2018-06-04 15:23] ScottDowne commented on #1016
Now live: https://donate.mozilla.org/en-US/thank-you-superhero/

[2018-06-25 20:18] WillatMozFdn commented on #1117
Closing -- we're not moving forward with this.

[2018-06-25 20:18] #1117 closed, assigned to alanmoo, vojtechsedlak

[2018-06-25 20:21] WillatMozFdn commented on #682
Closing, this one's done for USD donors, and in the next LCM sprint for localization

[2018-06-25 20:21] #682 closed, assigned to WillatMozFdn

[2018-06-25 20:24] WillatMozFdn commented on #395
how about early Q3 2018?  Better late than never.  It's on our list for the upcoming LCM sprint.

[2018-06-25 20:36] WillatMozFdn commented on #1115
Results -- all three variants performed pretty much the same.  ![image](https://user-images.githubusercontent.com/23637882/41874388-cedb7164-7895-11e8-8c18-1a1790a64918.png)

[2018-06-25 20:40] WillatMozFdn commented on #902
Closing this one -- after reading too many horror stories about these guys, such as here: https://www.paypal-community.com/t5/About-Payments/PayPal-Giving-Fund-problem/td-p/954817 ... not a path I think we should go down anytime soon.

[2018-06-25 20:40] #902 closed, assigned to roseregina, WillatMozFdn

[2018-09-21 15:41] alanmoo commented on #1078
Seems like this isn't happening this year either. Let's re-open when it is.

[2018-09-21 15:41] #1078 closed, assigned to Pomax, cadecairos, alanmoo, WillatMozFdn

[2018-09-21 15:41] alanmoo commented on #1079
We ended up doing something for this last year. If more needs to happen, let's open new tickets.

[2018-09-21 15:41] #1079 closed, assigned to ScottDowne, alanmoo, shaghdoosti, WillatMozFdn

[2018-09-21 15:42] alanmoo commented on #1111
This happened.

[2018-09-21 15:42] #1111 closed, assigned to ScottDowne, alanmoo, caltrider

[2018-10-03 19:48] #1115 closed, assigned to ScottDowne, alanmoo, WillatMozFdn

[2019-11-13 09:50] Startouf commented on #174
This badge no longer works