[2016-08-29 17:25] ScottDowne opened #292 "redirect from advocacy.mozilla.org/copyright/ cannot change language"
Detailed description of work: If someone goes directly to http://advocacy.mozilla.org/copyright/ language dropdown doesn't function.

CC: @damiankay @gideonthomas @valianttry

This is likely an issue with the redirect, more so than the form.

The redirect is dropping us here: https://mozillafoundation.nationbuilder.com// which has those two trailing slashes? Which is messing with the language chan

[2016-08-29 17:32] ScottDowne commented on #291
Bablic relies on JavaScript to do all the translations. This isn't something we can support with our current setup.

[2016-08-29 17:33] vojtechsedlak commented on #291
Yeah makes sense. Let's just add a `<noscript>` with some kind of message so that people without JS don't just see a blank page.

[2016-08-29 17:34] ScottDowne commented on #291
Sorry, didn't initially read the comment, just the title :(

Yeah, `<noscript>` is a reasonable solution.

[2016-08-29 17:35] damiankay commented on #290
@ScottDowne - can you proved some context around which are known issues that are on hold for 6 months?

CC @gideonthomas

[2016-08-29 17:35] valianttry commented on #291
Seems like an easy solution, made this a P1

[2016-08-29 17:36] valianttry commented on #275
Support at Bablic has indicated this issue was resolved. This does need to go through one additional round of QA to make certain. @Melechuga can you help out?

[2016-08-29 17:37] HPaulJohnson commented on #217
@flukeout @lovegushwa

Just wanted to bump this one back up. Sounds like @chadsansing has some cycles to migrate all the final activities, clean up formatting, etc this week if we can finalize the template design.

[2016-08-29 17:41] damiankay commented on #291
CC @a-kilroy who logged the issue

[2016-08-29 17:42] valianttry opened #293 "Duplicate records created from Nationbuilder > Salesforce"
**Detailed description of work:** A few new optin records are being duplicated. Traffic will dramatically increase today, so this needs to be resolved asap.

**URGENCY:** We expect many more thousands of page views starting this evening PST -- promotion in Firefox is due to start then. We ideally need to resolve this asap today.

Email thread:
Hi All,

Did a sanity check again this morning.

Out o

[2016-08-29 17:43] Melechuga commented on #275
@valianttry "thanks you" on the pop-up message immediately after you sign is localized, but the persistent msg that @HPaulJohnson screen-shot is still in English.

[2016-08-29 17:44] valianttry commented on #293
@damiankay @ScottDowne

[2016-08-29 17:52] damiankay commented on #293
Update from email: @cadecairos has added the Heroku scheduler as per Fission's request. Waiting to hear back that the delay has been set up, at which time we can retest to see if we're still generating duplicates.

[2016-08-29 17:57] Melechuga opened #294 "Check box for Privacy Statement in English on localized sites"
![screen shot 2016-08-29 at 10 48 05 am](https://cloud.githubusercontent.com/assets/5815317/18061359/50f27920-6dd7-11e6-8576-a224e064e577.png)

Currently, I see that this is an issue on French and Spanish sites.

[2016-08-29 18:01] cadecairos commented on #292
This can be fixed pretty easily by changing the S3 bucket redirect policy that's handing the redirect.

[2016-08-29 18:04] HPaulJohnson opened #295 "Facebook and Email share messages not localized"
Creating a separate/new ticket for this to bump it to top. It appears that the localization for Twitter share messages has been fixed, but the problem still persists for the Facebook and Email share options. In both cases, those share messages appear in English no matter what language is selected. Given these are our two mostly commonly used options for sharing we need to fix!

[2016-08-29 18:06] Melechuga opened #296 "Privacy Statement on all localized sites go to English site."
![screen shot 2016-08-29 at 11 03 05 am](https://cloud.githubusercontent.com/assets/5815317/18061681/7b90c97e-6dd8-11e6-92ec-b7423ea5cc4e.png)

The link to the privacy statement goes to https://www.mozilla.org/en-US/privacy/websites/ for all localized sites; I think @ScottDowne fixed that last week, but it's reverting back now.

[2016-08-29 18:07] Melechuga commented on #296
Also, the localized ones (French, German, and Polish at the moment) need a space in the text before the link.

[2016-08-29 18:07] HPaulJohnson opened #297 "Change site title in metadata"
Currently, the site title is showing up as "Mozilla Foundation." We don't use "Foundation" in our public facing branding/campaigns so this should be "Mozilla Advocacy: Reform Copyright"

[2016-08-29 18:10] #290 closed, assigned to nobody

[2016-08-29 18:11] Melechuga opened #298 "Email and FB share links goes to English text in all localized sites"
![screen shot 2016-08-29 at 11 07 46 am](https://cloud.githubusercontent.com/assets/5815317/18061778/e06ec2d8-6dd8-11e6-80b0-83b8a6ef6752.png)

When you click on the Facebook and email share links, it goes to English text (localized for Twitter though).

[2016-08-29 18:21] valianttry commented on #275
ah i see -- I think Fission has to help with that.

[2016-08-29 18:23] Melechuga opened #299 "Errors on localized sites in English"
![screen shot 2016-08-29 at 10 51 40 am](https://cloud.githubusercontent.com/assets/5815317/18062099/37ea353c-6dda-11e6-9b53-b3eb0c97d367.png)

Error messages for individual fields still showing up in English on localized sites.

[2016-08-29 18:26] Melechuga opened #300 "Country list on Spanish site incorrect"
![screen shot 2016-08-29 at 11 24 57 am](https://cloud.githubusercontent.com/assets/5815317/18062335/448ac710-6ddb-11e6-82ce-7b04f768baed.png)

Some of these countries are not in Spanish; can we confirm that this is pulling from the Spanish translation list? The translations were correct last week, but simply not alphabetized. It seems like the list got mixed with other languages. I can't confirm

[2016-08-29 18:27] valianttry commented on #294
I just QAd French and it is correctly localized:

![fondation_mozilla](https://cloud.githubusercontent.com/assets/9830371/18062389/87f7674c-6ddb-11e6-8d16-10df29504703.png)

[2016-08-29 18:28] valianttry commented on #294
I corrected the translation for Spanish. That should update in Bablic shortly.

[2016-08-29 18:28] #294 closed, assigned to nobody

[2016-08-29 18:30] valianttry commented on #294
Spanish has now updated:

![fundacion_mozilla](https://cloud.githubusercontent.com/assets/9830371/18062490/ea87bdd0-6ddb-11e6-9821-b5b539da617f.png)

[2016-08-29 18:30] Melechuga opened #301 "Cached sites go to "thanks for signing" site"
![screen shot 2016-08-29 at 11 28 20 am](https://cloud.githubusercontent.com/assets/5815317/18062448/c41a71ba-6ddb-11e6-9cae-b064ef490abe.png)

I'm not sure if this is something we can control, but when I got back to the site after I've signed, I get the "Thanks for signing" site that's cached (I assume). Is there a way to go back to a "fresh" petition site? Even if I change languages, it goes to

[2016-08-29 18:31] damiankay commented on #295
CC @valianttry @jendc123

[2016-08-29 18:32] damiankay commented on #297
CC @valianttry @jendc123

[2016-08-29 18:32] Melechuga commented on #299
This is for Spanish, French, German, and Polish.

[2016-08-29 18:37] Melechuga opened #302 "In Opera, Spanish "Make Create Innovate" doesn't stack (desktop)"
![screen shot 2016-08-29 at 11 35 31 am](https://cloud.githubusercontent.com/assets/5815317/18062727/e84e2eb8-6ddc-11e6-832e-b0ee1cb3b3c5.png)

Not sure if this is an Opera or a Chromium thing, but the Title in Spanish doesn't stack correctly.

[2016-08-29 18:38] ScottDowne commented on #291
@damiankay I suspect this is something I think we should ask Fission for, if possible.

[2016-08-29 18:38] Melechuga commented on #302
Also, you can see that the url doesn't indicate locale (Spanish), but the languages do change when clicked.

[2016-08-29 18:40] valianttry commented on #298
Bablic said they fixed this issue:

On Sat, Aug 27, 2016 at 02:51 AM, "Ishai Jaffe" ishai.jaffe@bablic-05becdd13f84.mail.intercom.io wrote:

[code]

The problem is fixed for both. But I couldn't confirm that because the email share didn't work in my browser (chrome) even in English.

##

Ishai   Ishai from Bablic
On Sat, Aug 27, 2016 at 10:19 AM, "Andrea Wood" andrea@mozillafoundation.org wrote:

[2016-08-29 18:43] valianttry commented on #296
I am concerned because:
1. @ScottDowne already fixed the URLs once (can you confirm Scott?); and
2. I already fixed the space issue once in all locales.

I'm getting a bit frustrated that edits are reverting in Bablic. I'm not sure how to fix this problem, but i'm a bit tired of fixing the same things over and over again.

[2016-08-29 18:44] Melechuga commented on #298
@valianttry Maybe it's just taking some time to switch over...?
You said the email share doesn't work for you; I found that hovering over the buttons will show the text at the bottom of the page; you can see if it's been translated or not. For me, Twitter has, but the email and FB are still in English.

[2016-08-29 18:44] HPaulJohnson commented on #268
Looks like this reverted back to old link. A P2, but should be fixed.

@damiankay

[2016-08-29 18:45] Melechuga commented on #302
Oh, suddenly this is happening in Chrome too...must be a Chrome/Chromium thing:

![screen shot 2016-08-29 at 11 39 23 am](https://cloud.githubusercontent.com/assets/5815317/18062815/444363a0-6ddd-11e6-8d0c-31f1fd88c5cd.png)

[2016-08-29 18:46] valianttry commented on #296
I went through and fixed all the spaces in the privacy notice check box sentence, again.

[2016-08-29 18:48] Melechuga commented on #300
This seems to have been fixed. @valianttry Feel free to close.

[2016-08-29 18:50] Melechuga opened #303 "Country list in French is a hodge-podge of ALL CAPS and Normal"
![screen shot 2016-08-29 at 11 45 40 am](https://cloud.githubusercontent.com/assets/5815317/18063152/bc92bc24-6dde-11e6-867a-264b4f32d410.png)

[2016-08-29 18:50] valianttry commented on #295
I believe this is a duplicate of https://github.com/MozillaFoundation/Advocacy/issues/298 -- there is more detail in 298.

[2016-08-29 18:50] #295 closed, assigned to nobody

[2016-08-29 18:56] damiankay commented on #268
Thanks for catching. CC @valianttry @jendc123

[2016-08-29 18:57] valianttry commented on #273
I believe #282 is a duplicate ticket.

[2016-08-29 18:57] ScottDowne commented on #296
I didn't fix it, but I did mention in the bug that we just need to remove the en-US (I think it was a generic QA bug). That url should figure out the locale itself, so we have no reason to be specific.

It needs to be updated to https://www.mozilla.org/privacy/websites/

[2016-08-29 18:58] Melechuga opened #304 "In French, the Thank You Notice is repeated"
![screen shot 2016-08-29 at 11 53 01 am](https://cloud.githubusercontent.com/assets/5815317/18063375/8c3c13e4-6ddf-11e6-82c6-a5c67126db0c.png)

Not sure if this is intentional, but in English is says "Thank you! Please share this." but in French is says "Thank you! Thank you for sharing."

[2016-08-29 18:58] ScottDowne commented on #296
I did have a change I made reverted as well. https://github.com/MozillaFoundation/Advocacy/issues/268

Maybe Fission has some sort of version control and updating/sync with NationBuilder?

So changes we make outside of their source might be reverted whenever they make a push?

[2016-08-29 19:19] ScottDowne commented on #292
This is fixed now. Thanks @gideonthomas and @cadecairos

[2016-08-29 19:19] #292 closed, assigned to nobody

[2016-08-29 20:00] jendc123 commented on #299
@Melechuga The error messages are set via the browser so in the US we see English.  Here's a screenshot from our colleague in Argentina and he gets the errors in Spanish. This will be replicated for all languages.
<img width="512" alt="spanish" src="https://cloud.githubusercontent.com/assets/6034476/18065378/a5b00458-6e01-11e6-83be-3020a41665f5.PNG">

cc @valianttry, @damiankay

[2016-08-29 20:01] Melechuga opened #305 "In English + Spanish, "Czech Republic" is incorrect"
![screen shot 2016-08-29 at 12 56 42 pm](https://cloud.githubusercontent.com/assets/5815317/18065313/3d342e68-6de8-11e6-8a70-e62a48d97482.png)

Czech Republic is written as "Tschechien" -- seems to be the German translation -- in English and Spanish. In Spanish, it should be Repúblic Checa.

[2016-08-29 20:03] Melechuga opened #306 "[Mobile] Country list in localized sites in English"
![img_9343](https://cloud.githubusercontent.com/assets/5815317/18065484/de11db32-6de8-11e6-9bd7-dd0120865c51.PNG)

In Spanish, French, German, and Polish the country lists are in English. This is Firefox on iOS and Safari on iOS.

[2016-08-29 20:03] Melechuga commented on #306
FYI the actual lists are in English too.

[2016-08-29 20:04] Melechuga commented on #305
Nm, this was fixed! Woot!

[2016-08-29 20:04] #305 closed, assigned to nobody

[2016-08-29 20:06] Melechuga commented on #285
Same issue as https://github.com/MozillaFoundation/Advocacy/issues/302 for Opera; closing that ticket now.

[2016-08-29 20:07] Melechuga commented on #302
Duplicate of https://github.com/MozillaFoundation/Advocacy/issues/285.

[2016-08-29 20:07] #302 closed, assigned to nobody

[2016-08-29 20:09] Melechuga opened #307 "[Mobile] Page under "thank you" comes and goes"
Weird one for Firefox for iOS:

![img_9347](https://cloud.githubusercontent.com/assets/5815317/18065667/bc264714-6de9-11e6-8bcf-2eb7ab18438e.PNG)

After signing, the page shows through the bottom when you're scrolling for a hot second, then disappears.

[2016-08-29 20:13] Melechuga commented on #285
Same for Polish on FF for iOS btw:

![img_9348](https://cloud.githubusercontent.com/assets/5815317/18065809/5fd8ca58-6dea-11e6-9c2f-74018d0f7e7e.PNG)

[2016-08-29 20:20] Melechuga commented on #299
@jendc123 Awesome; thanks for following up!

[2016-08-29 20:30] HPaulJohnson opened #308 "Localized copy for twitter share exceeds character limits."
Now that localized versions of share are working for Twitter we are seeing that they exceed Twitter's character length. Fixed with copy below:

German:
Parodie und Remix im Internet sollten nicht rechtswidrig sein. Befreien wir unsere Fantasie in der EU. mzl.la/copyright

Spanish:
La parodia y la remezcla no pueden ser ilegales en Internet. Es el momento de liberar nuestra imaginación en la UE. mz

[2016-08-29 20:59] jendc123 commented on #275
Hi @HPaulJohnson @Melechuga @valianttry ,

The "Thanks for signing" field is ready to translate in Bablic.

<img width="701" alt="thanks for signing up" src="https://cloud.githubusercontent.com/assets/6034476/18067224/d102b17a-6e09-11e6-8106-0732a7a13bf5.PNG">

[2016-08-29 21:07] valianttry commented on #275
Updated this phrase in all Tier 1 languages + Czech, Italian, and Bulgarian in Bablic.

[2016-08-29 21:07] #275 closed, assigned to nobody

[2016-08-29 21:09] jendc123 commented on #273
Hi @damiankay @valianttry @HPaulJohnson @brettgaylor ,

This has been resolved.

[2016-08-29 21:12] jendc123 commented on #282
@valianttry @damiankay This has been resolved. It's a duplicate of #273 https://github.com/MozillaFoundation/Advocacy/issues/273

[2016-08-29 21:13] #273 closed, assigned to nobody

[2016-08-29 21:19] #299 closed, assigned to valianttry

[2016-08-29 21:22] #282 closed, assigned to nobody

[2016-08-29 21:27] vojtechsedlak opened #309 "Test Idea: Alternative GIF for the v1 petition page"
Detailed description of work: The gif has a fairly prominent role on the page, so let's see if it has an impact on how people engage with the petition.

CC: @lovegushwa @HPaulJohnson Let's gather some ideas in this ticket!

[2016-08-29 21:27] damiankay opened #310 "Maker Party: editing events / bulk uploads / RSVPs"
Detailed description of work:
1. Fission needs a response on the question below immediately:
Editing events: Nationbuilder does not by default have a user with the access that we would like for our hosts; specifically, there is no way to add the ability to edit events without proper access to the control panel, which is currently only granted to admins.

Fission is looking into workarounds/hacks,

[2016-08-29 21:30] damiankay commented on #310
CC @shaghdoosti @valianttry

[2016-08-29 21:32] valianttry commented on #296
I fixed the URL in all locales in Bablic.

[2016-08-29 21:32] #296 closed, assigned to nobody

[2016-08-29 21:44] lovegushwa commented on #310
@damiankay solving issue 1 seems critical if we want Makerparty to be self service. Do we have examples of how the email work around would work (what's the user flow here?)

I'm not clear on the implications of issue 2 and 3.

[2016-08-29 21:47] natalieworth commented on #309
@HPaulJohnson Do you have any suggestions about possible themes I could look for that would relate to the content on the first petition?

[2016-08-29 22:05] damiankay commented on #310
@lovegushwa I believe that for other Nationbuilder events, hosts have simply emailed RSVPs with any changes or updates.

If we need to add this functionality Fission thinks that it is possible, but will require significant custom code and will delay launch.

[2016-08-29 23:04] damiankay commented on #310
@geroter can you please indicate whether you feel it's preferable to:
1. Eliminate the ability for hosts to edit an event after it's created (requiring them to instead email RSVPs of any changes and/or updates).
or
2. Extend the timeline to allow Fission to find a solution (I.e. create a custom user type that can edit events without accessing the entire control panel).

This is a blocker for Fissi

[2016-08-29 23:36] damiankay commented on #270
Closing in favour of individual tickets

[2016-08-29 23:36] #270 closed, assigned to damiankay

[2016-08-29 23:37] damiankay commented on #203
Sent to Fission Aug 24

[2016-08-29 23:37] #203 closed, assigned to natalieworth, beccaklam

[2016-08-29 23:41] damiankay commented on #204
Hi @beccaklam - we need to provide internally approved designs to Fission by September 6. Please let me know if you think this is overly aggressive.

They've requested them in PSD format, and asked that you use German or Polish in comps if possible.

[2016-08-29 23:46] damiankay opened #311 "EU Copyright Petition V2: Copy deck"
Detailed description of work:
Fission requires the copy deck for Petition V2 by September 6 in EN and German. Please let me know how close we are with EN. I can help with localizing into German.

Please let me know if you anticipate any trouble hitting these deadlines.

_Start date: August 29, 2016_
_Due date: September 6, 2016_

CC: @HPaulJohnson @KevZawacki @valianttry

[2016-08-29 23:52] jendc123 commented on #274
Hi @valianttry @damiankay  @HPaulJohnson ,

This has been resolved.

[2016-08-29 23:55] damiankay commented on #84
@KevZawacki @HPaulJohnson - Wireframes are here: https://projects.invisionapp.com/share/G78C7AR2E#/screens/182608017

Please note there are two sets. We're going with the "Nationbuilder-y) wireframes. There might be a small tweak or two, but we really need to get moving on the copy deck. You can see the different options by clicking on the 9-box icon at the bottom of the page.

Note, we'll need to

[2016-08-30 00:03] HPaulJohnson commented on #84
thanks, @damiankay. no problem, we are already making good progress on copy. i should have something to send through the approval process by thursday with the hopes that we could have sign-off by 9/6.

[2016-08-30 00:14] damiankay commented on #84
You guys rock - thank you!

[2016-08-30 00:17] lovegushwa commented on #217
We can use this template:
http://chadsansing.github.io/curriculum-testing/color-picker-challenge/session01-color-picker-challenge.html#overview

@chadsansing if I remember correctly you can build these curriculum pages and put them on staging, I think the content is done so green light to start building them!

@flukeout Do you have cycles to design some kind of interesting graphic for the 5 differ

[2016-08-30 00:29] HPaulJohnson commented on #217
If we could also add a CTA to the bottom of each activity that links to Events Platform for event hosts. Can say something like "Manage Your Event"

[2016-08-30 01:01] HPaulJohnson opened #312 "Copy for dynamic CTA's on v2 of copyright website"
Detailed description of work: Based on [wireframes](https://redpen.io/fnf0c1163d66ff1fd1) for v2 of Copyright Petition site, create a set of of dynamic CTA's based on where user is on petition page

*Start date: 8/29
*Due date: 9/1

CC: @lovegushwa

[2016-08-30 01:05] HPaulJohnson commented on #309
I think something with the Eiffel Tower at night might be worth trying.

Also, something with bold copy, like the idea of stamping "illegal in some parts of Europe" or "#copyfail" on top of a landmark or other well known meme.

Might be worth trying something from your social media assets as well, like the brain graphic.

Lastly, I wonder if there's something more earnest, with an education theme

[2016-08-30 01:37] jendc123 commented on #272
@damiankay @valianttry @lovegushwa - this has been updated. However, @lovegushwa let me know if you would like a specific size.

[2016-08-30 05:09] gholme4 commented on #291
@vojtechmozilla I did what you suggested and added a notice in a <noscript>tag.

[2016-08-30 05:17] gholme4 commented on #284
Duplicate of #274

[2016-08-30 06:09] valianttry opened #313 "Design localized versions of Email 1 callout image"
Detailed description of work:

@natalieworth already created an English version of the callout graphic for the Copyright email 1. (See: https://github.com/MozillaFoundation/Advocacy/issues/197) I now have localized copy for the image so that @natalieworth can create a localized callout for the other audiences.

In this spreadsheet:
https://docs.google.com/spreadsheets/d/1xLBTGrTMYZh-cDEdWwSugRbt1A

[2016-08-30 09:57] chadsansing commented on #217
@HPaulJohnson - preferred CTA link?

[2016-08-30 11:58] chadsansing commented on #217
@HPaulJohnson et al. - I think at one point we discussed dropping the 21st C and Web Lit skills from the template for Maker Party; is that right, or is it better to keep those from a #onemozilla perspective and for discoverability in whatever curriculum database we build?

[2016-08-30 12:23] chadsansing commented on #217
@HPaulJohnson, @lovegushwa - how would you like Meme-Land to show up in [this activity](https://docs.google.com/document/d/1bA_w9iFnZBHkXReadQ6mBqHwitn-czD2_YmfVpbJ484/edit#heading=h.f7ep9jqhayw0)?

[2016-08-30 13:02] beccaklam commented on #204
@damiankay Hi Damian, is there any way they can work with a sketch file? Just wondering, it would be much less work on my end and given the tight timeline that would be wondreful. Maybe ask if there's any work arounds? Also, would I be able to get a file (e.g. a google doc) with the German and Polish version of the petition? That would be preferable instead of just copying and pasting off the site

[2016-08-30 15:29] vojtechsedlak commented on #291
Great, thanks @gholme4!

[2016-08-30 15:29] #291 closed, assigned to valianttry

[2016-08-30 16:09] damiankay commented on #204
@valianttry do we have a Google or Word doc with the translated petition copy for @beccaklam?

[2016-08-30 16:12] damiankay commented on #204
@beccaklam - they don't use Sketch, unfortunately. Is there a tool to convert sketch files to PSDs?

[2016-08-30 16:14] damiankay commented on #293
This appears to have been resolved via implementation of the Heroku scheduler / delaying submission of new records by 10 minutes. @drewmoto is continuing to monitor for another 24 hours to confirm.

[2016-08-30 16:15] ScottDowne commented on #293
This is good news! :rocket: :rocket: :rocket:

[2016-08-30 16:21] HPaulJohnson commented on #217
@chadsansing I think the 21c/Web lit skill section might be confusing without any context. I'd suggest we drop.

RE: link, we'll have to use a placeholder for now as we don't have the site (or know the URL's) ready yet.

I will let @lovegushwa answer the meme-land question as he know more about it's current status.

[2016-08-30 16:49] damiankay commented on #255
Hi @geroter @shaghdoosti @lovegushwa @a-kilroy

Reminder that we need your wireframes feedback. The deadline for comments is tomorrow EOD PST. After that, any changes will result in delayed launch.

Please see wireframes here: https://invis.io/G78C7AR2E

Also, please see some specific questions RE functionality here: #310

Thanks,

Damian

[2016-08-30 16:52] valianttry commented on #204
@damiankay we used Pontoon for localization, so no there is no clean Google doc with the localized copy for Tier 1 locales. Polish is in Github (it's an outlier).

Does @beccaklam  just need it to check the design / fit / layout? She can probably find strings in Pontoon for that purpose, but we should purge all dummy copy before we go live: https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyri

[2016-08-30 17:13] damiankay commented on #298
@jendc123 these translations are in Bablic, but are not appearing in the Petition site. This is a very high priority. Please have George look into this with @ScottDowne asap.

[2016-08-30 17:16] chadsansing commented on #217
Alright, but you owe me a web lit campaign ;)

[2016-08-30 17:16] damiankay commented on #306
CC @jendc123

[2016-08-30 17:17] natalieworth commented on #313
@stephaniemcv working on these this morning and will post asap

[2016-08-30 17:18] #300 closed, assigned to valianttry

[2016-08-30 17:19] damiankay commented on #276
Not confirmed @gholme4 - we don't have autofill set up.

[2016-08-30 17:20] HPaulJohnson commented on #276
I do not have auto-fill options on my iOS Safari so I cannot confirm.

[2016-08-30 17:21] #274 closed, assigned to nobody

[2016-08-30 17:44] ScottDowne commented on #298
I took a look and did some googling, no help yet.

This is a test: https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fmozillafoundation.nationbuilder.com%2F%3Flocale%3Dfr

We need the og:description to changed based on the query string, but it strongly suggests that the data is purely url based, and I definitely don't see the facebook crawler handling picking up any client side c

[2016-08-30 17:52] damiankay commented on #293
@drewmoto Would you be able to give us your assessment of whether or not this has been fixed by noon PST today? We need to leave time to try another fix if necessary.

Please let me know what you need to assess whether the duplicate records issue has been resolved. I.e. Let me know if you need more records to come through to provide your stamp of approval. I can muster the troops.

[2016-08-30 18:01] lovegushwa commented on #272
@jendc123 the desktop view is a good reference for the proportion of the icon to the square (they look good here) ... but as long as the icons are not tiny in the squares I'm happy !

[2016-08-30 18:04] stephaniemcv opened #314 "Email Confirmation Triggers firing EN for all Languages"
Detailed description of work: When signing up for email on the petition page, in any language the English version of the confirmation is sent, rather than the preferred language.

Per email thread from Jessilyn Davis:  "It's a issue for Walter then to figure out order of operations and if language isn't passing through the same time as the contact record is created. If there's not language being p

[2016-08-30 18:07] natalieworth commented on #313
@stephaniemcv Here are the final localized images for email:
@ 1 x: https://drive.google.com/drive/folders/0B20-0lpP23c0QVpwTzY3UXVkdHM
@ 2 x: https://drive.google.com/drive/folders/0B20-0lpP23c0aThGYjVxZEVOS1E
Let me know if you need anything else for these!

[2016-08-30 18:09] damiankay commented on #204
Thanks @valianttry - who's the best person to purge the dummy copy? Rebecca is trying to get moving on this as we have a deadline to hit for V2 if we want to stay on schedule (despite having to focus on V1 launch).

[2016-08-30 18:09] natalieworth commented on #309
@HPaulJohnson Are there any restrictions on the gif size? (Not sure if we're using optimizely and if this affects the sizes I should crop the gif to?)

[2016-08-30 18:19] valianttry commented on #204
I'm confused. All the localizations are already loaded up in Bablic for the petition and all associate content. Will we have to a) do that all again for V2 or b) can we just re-use what's in Bablic? I'm SO hoping the answer is B.

[2016-08-30 18:34] natalieworth commented on #309
Eiffel Tower Giphy options:
V1
![1](https://cloud.githubusercontent.com/assets/14876567/18101275/e35f3ca0-6ea2-11e6-87a2-d46739acf9c8.gif)
V2
![2](https://cloud.githubusercontent.com/assets/14876567/18101278/e51b2f7c-6ea2-11e6-96bc-84abf6d4fd7c.gif)
V3
![3](https://cloud.githubusercontent.com/assets/14876567/18101280/e7009a0c-6ea2-11e6-9a0c-e41a8a6d42ab.gif)
V4
![4](https://cloud.githubusercontent

[2016-08-30 18:36] HPaulJohnson commented on #309
Whoa- these look awesome.

RE: size question, I don't think there's a size limit but @vojtechmozilla can answer better as he is managing the Optimizely setup for LP testing.

Also, we should test a non-gif image, given our existing "control" is already a .gif. We can/should be able to test more than 1 thing so another .gif (like the ideas above) vs. non-.gif would be great.

[2016-08-30 18:37] HPaulJohnson commented on #309
BTW, I love the last one that goes from check mark to nope. Makes the absurdity really clear. "Nope" would need to be localized so wonder if we could achieve the same effect with "X"

[2016-08-30 18:41] ScottDowne commented on #298
It looks like you can manage the content outside of our page, and inside the Facebook dashboard for the app.

https://developers.facebook.com/docs/internationalization#manage

This would swap out the text or any tags, based on the facebook users language, and not the page language, which is fine. We would need to go in and manage the language in the dashboard for the app inside FB, and if we don't

[2016-08-30 18:42] drewmoto commented on #293
Hi All,

I am seeing the issue pop up again in the last hour. I looked this AM and the records that came through looked fine. But the last 100 records or so have some dupes again although it appears to be happening at a much lower rate.

Out of the 139 Contacts captured on 08/30/2016 - 6 Duplicates were created. So the issue is not completely resolved but it appears to be happening less frequently

[2016-08-30 18:43] vojtechsedlak commented on #309
There are amazing! It would be great if we could categorize the options, so as to formulate a hypothesis. For instance, the current gif is animate, humorous, abstract, thematically-unrelated. We could try that against say the eiffel tower with checkmark, which is not animated, straight to the msg of the campaign. The still image option could be some combo of both.

As for the size, ideally we woul

[2016-08-30 19:21] natalieworth commented on #309
@HPaulJohnson @vojtechmozilla Great, thanks! This is helpful. I'll refine 2 options and post this afternoon.

[2016-08-30 20:22] natalieworth commented on #204
@beccaklam Here are some screen shot examples from the CSI gif too! They still have shutterstock over them and may change in terms of tone, but I'll update when we have a more refined draft:
<img width="1003" alt="screen shot 2016-08-30 at 1 20 19 pm" src="https://cloud.githubusercontent.com/assets/14876567/18105592/d4dcef76-6eb4-11e6-8cee-7f646c6a731c.png">
<img width="1012" alt="screen shot 2016

[2016-08-30 20:26] lovegushwa commented on #81
@HPaulJohnson high-fidelity wireframes. https://redpen.io/ara44235f28a055e41
Add any copy tweaks. Also look at the language in the nav.

I'm going to start converting this to full color UI / add images. Goal to ship to @ScottDowne early tomorrow.

[2016-08-30 20:45] natalieworth commented on #309
@HPaulJohnson I made these options:
V1- Eiffel Tower
![9](https://cloud.githubusercontent.com/assets/14876567/18106113/0aede758-6eb7-11e6-868f-2a069d39dc0d.gif)
Testing description: static, sarcastic, informative, iconographic, before/after, immediate, strong visual messaging related to the content (possibly applicable to more audiences through iconic imagery and easily understood icons), also doe

[2016-08-30 20:47] natalieworth commented on #309
We could test some of the above to @vojtechmozilla 's point of having more descriptive imagery. We can test against the original which felt more positive, niche(?), nostalgic, fun, cute, learning, animated, ambiguous (maybe on relative to certain generations)

[2016-08-30 20:55] natalieworth commented on #309
cc @lovegushwa @beccaklam

[2016-08-30 21:25] jendc123 commented on #306
@damiankay and @Melechuga we sent an email to Bablic last night and heard back this morning. We updated the code, but it's still a bit wonky. We've reached out again.

[2016-08-30 21:38] damiankay opened #315 "Add Fission dev to Github"
Detailed description of work: Please add Fission Dev Julien to our Github repo. He'll be covering on Thurs/Fri while George and Walter are OOO.
Github handle is: julienburns

*Start date: \* August 30, 2016
*Due date: \* August 31, 2016

CC: @valianttry @simonwex @jendc123

[2016-08-30 21:39] damiankay commented on #315
@simonwex can you please do this or reassign if Chris isn't back tomorrow?

[2016-08-30 22:02] beccaklam commented on #204
@lovegushwa @valianttry @HPaulJohnson  cc: @natalieworth Hi Andrea and Paul, here is a link to the red pen containing the Copyright Campaign's V2 microsite: https://redpen.io/p/jt5d4848f80e902f79 We need to ship the finals to Fission by Thursday in order to give them enough time to build. Jordan is on PTO after Wed (tomorrow) so he'd like to sign off on a design by then. Would you be able to take

[2016-08-30 22:11] lovegushwa commented on #217
@chadsansing has evolved into "postcrimes" which is really not about making memes, so I'm not sure how it will (or if it needs to) fit into the activity.

<img width="901" alt="screen shot 2016-08-30 at 3 08 32 pm" src="https://cloud.githubusercontent.com/assets/12228435/18108964/c0259196-6ec3-11e6-803d-267dfe30ad57.png">

Current UI here:
https://redpen.io/p/nh27685702875c9bf8

[2016-08-30 22:50] damiankay commented on #217
Hi @chadsansing - have you rolled out localized versions of activities in the past? We're wondering how we might handle localization for this year's Maker Party activities.

CC @lovegushwa @HPaulJohnson @valianttry

[2016-08-31 00:05] jendc123 commented on #298
Hi @Melechuga @ScottDowne @valianttry @damiankay ,

We are still testing but looks like Facebook is localized. This is from our colleague in Argentina.
<img width="733" alt="skitch" src="https://cloud.githubusercontent.com/assets/6034476/18111356/f442eb6c-6eec-11e6-8f8b-163790289edb.png">

[2016-08-31 00:22] lovegushwa commented on #309
@natalieworth great work here!

[2016-08-31 00:24] lovegushwa commented on #281
@natalieworth @HPaulJohnson this is a good place place to loop in the end title work k-fann asked for.

[2016-08-31 02:11] brettgaylor commented on #309
Sorry to check in from vacay, but just need to say: these are great!!!!

On Aug 30, 2016 5:22 PM, "lovegushwa" notifications@github.com wrote:

[2016-08-31 10:18] chadsansing commented on #217
@lovegushwa - okay; got it.

@damiankay, when we've rolled out activities localized by language in the past, we did so after a campaign to recruit volunteer contributors to translate content for their communities (and sent them swag, such as t-shirts, I believe). We identified languages for localization by looking at traffic on the original pages we localized.

![screen shot 2016-08-31 at 6 16 20

[2016-08-31 12:14] jendc123 commented on #306
@damiankay @Melechuga  - we have implemented a fix for this and it's working.

[2016-08-31 12:17] jendc123 commented on #293
@drewmoto @valianttry @damiankay please let me know if you are still seeing duplicates after last nights updates.

[2016-08-31 12:21] jendc123 commented on #303
@Melechuga and @valianttry , This can be edited in Bablic under the text editor.  The list in Bablic is the same one showing on the front-end.

[2016-08-31 12:22] jendc123 commented on #283
@natalieworth @damiankay - this has been updated.

[2016-08-31 12:24] jendc123 commented on #286
@natalieworth @damiankay - This has been resolved.

[2016-08-31 12:26] jendc123 commented on #277
@ScottDowne @damiankay - I believe this has been resolved with the localization of share.

[2016-08-31 12:30] jendc123 commented on #304
@Melechuga @Melechuga - This can be updated in the Bablic text editor.

[2016-08-31 12:30] jendc123 commented on #288
Hi @damiankay - this has been resolved.

[2016-08-31 12:56] jendc123 commented on #255
Hi @damiankay - wanted to confirm we have all feedback.  We are going to move into v1 design today.

[2016-08-31 13:29] beccaklam commented on #204
@valianttry @damiankay Sorry for the fuss! I do just need to check layout and design so I'll just copy and paste from the current microsite, seems easiest for everyone. Also, @damiankay I'll just build out the file in Photoshop, hopefully tomorrow.

[2016-08-31 13:45] jendc123 commented on #287
@natalieworth @damiankay - this issue has been resolved

[2016-08-31 14:03] ScottDowne commented on #277
That would be a nice bonus.

I just tried on an android with firefox, and it didn't work. I suspect maybe it's an ios only thing?

[2016-08-31 14:17] cadecairos commented on #315
Julien has been sent an invite to collaborate on this repo

[2016-08-31 14:22] ScottDowne commented on #298
Yup, working for me too.

I had to clear cache, as there may be a case where get the new and old popups, one in English, and one in the desired language. I wouldn't worry about it, just an fyi if you see both, it's known, and should go away in time.

Closing! Any further quirks around this, if not the exact same issue, should be filed in a new ticket.

Thanks all! :rocket: :rocket: :rocket:

[2016-08-31 14:49] KevZawacki commented on #247
@valianttry @HPaulJohnson

Round 2 of our Case To Give page is ready for review. It includes:
- [Fresh copy](https://docs.google.com/document/d/1YXEooaZfMO3jQoBTzgoLqWmVXQYKNnNkoUXjhiFJqtM/edit#bookmark=id.yjf15k1o4ixe)
- [A handful more benchmarks](https://docs.google.com/document/d/1YXEooaZfMO3jQoBTzgoLqWmVXQYKNnNkoUXjhiFJqtM/edit#bookmark=id.ny4xl4xhufjs)
- [URL and localization considerations]

[2016-08-31 15:38] damiankay commented on #217
Hi @chadsansing - thanks for the detailed response.

Your suggestion to provide copies of activities in Thimble for hosts to remix with their own language / local cultural references sounds like a great one to me.

I'm adding @chrislarry33 @shaghdoosti @geroter > would love to hear your thoughts on this recommendation. It seems like a great alternative to front-loading localization while we're als

[2016-08-31 15:41] damiankay commented on #315
Great - thanks Chris

[2016-08-31 15:55] damiankay commented on #255
Hi @jendc123 - yes, please proceed. Note: Jordan left a few comments above RE simplifying the header. Can you please make sure that these are addressed in the designs? Thanks

[2016-08-31 15:55] #255 closed, assigned to chrislarry33, shaghdoosti

[2016-08-31 15:57] damiankay commented on #310
As we haven't received any feedback, we're moving ahead with Fission's recommendations:
1. Hosts will not be able to edit events (this is not supported by Nationbuilder)
2. Hosts will not be able to bulk upload contacts (also not supported by Nationbuilder)
3. Only 1 threshold level for RSVPs will be displayed (another Nationbuilder limitation)

CC @geroter @jendc123

[2016-08-31 16:14] damiankay commented on #293
Update: Walter from Fission has added another fix

@drewmoto will continue to monitor for duplicates today.

[2016-08-31 16:29] damiankay commented on #306
Hi @jendc123 - I'm still seeing this error on Chrome / iPhone 5s. Both the "country" field name and the list of countries are in English.
![img_9936](https://cloud.githubusercontent.com/assets/19785709/18137492/5c5674c4-6f5d-11e6-8186-372e171bf19f.PNG)

[2016-08-31 16:31] damiankay commented on #283
Fix confirmed

[2016-08-31 16:31] #283 closed, assigned to nobody

[2016-08-31 16:34] damiankay commented on #286
Confirmed

[2016-08-31 16:34] #286 closed, assigned to nobody

[2016-08-31 16:36] #288 closed, assigned to nobody

[2016-08-31 16:38] damiankay commented on #204
Thanks @beccaklam - appreciate it. Let's keep these issues in mind and try to resolve for the next project so that we can make things run a bit smoother for our team.

[2016-08-31 16:39] valianttry commented on #293
Can the "Saving" progress animation be more prominent? I'm wondering if users are clicking a 2nd time because "saving" and the animation are dark / subtle.

Obviously this can be lowish priority, but i'm suggesting this could be a UX issues vs. technical.

[2016-08-31 16:43] ldecoursy commented on #266
Hi - Checking back on this. Think it's feasible to plan a 10-15 minute webinar sometime between Sept 15 and 21? Defer to you on what you think will be most useful for people to run-through and get started.

[2016-08-31 16:44] jendc123 commented on #306
Hi @damiankay - It looks like the Spanish translation isn't in Bablic? Is it happening with other languages?

[2016-08-31 16:47] damiankay commented on #287
Confirmed

[2016-08-31 16:47] #287 closed, assigned to nobody

[2016-08-31 16:48] HPaulJohnson commented on #84
Draft of copy for all pages complete. I'm having @KevZawacki do a final pass to tighten and clean up and then these should be ready to ship.

https://docs.google.com/document/d/16ObBANwvduy59NjYC3aOF9cIPsDG3RdGszmHwqXHPv4/edit

[2016-08-31 16:54] damiankay commented on #277
@jendc123 when clicking the social share buttons in the footer, the links still open the web pages, not the app. Tested in iOS Chrome / iPhone 5s.

[2016-08-31 16:55] damiankay commented on #298
Huge win - thanks @jendc123!

[2016-08-31 17:01] damiankay commented on #306
@jendc123 was just going to say that I successfully filled out the form in Polish.

@valianttry can we re-enter the Spanish translations for country field and country list?

[2016-08-31 17:02] ScottDowne commented on #306
Worked for me on Android and FF. Looks like all the countries are not in English, cept for English.

Although most of them are in all caps in French.

[2016-08-31 17:11] damiankay commented on #308
@HPaulJohnson  can you update the Share Message Google doc? Thx! @valianttry

[2016-08-31 17:11] jendc123 commented on #255
Hi @damiankay and @lovegushwa we will use the header suggested above in designs

[2016-08-31 17:12] damiankay commented on #314
@jendc123 - can you please make this a top priority?

[2016-08-31 17:13] damiankay commented on #314
CC @cadecairos

[2016-08-31 17:15] damiankay commented on #304
Do you mind updating @valianttry ?

[2016-08-31 17:18] ScottDowne commented on #301
This is NationBuilder, and is intended. Can we leave this?

If for debugging purposes, you want to see a fresh page, just clear cache or load a private tab.

[2016-08-31 17:18] #301 closed, assigned to nobody

[2016-08-31 17:18] HPaulJohnson commented on #308
Updated here: https://docs.google.com/document/d/1itsvIJ3KLvBXhKYDa0EAyyeAa0vA6_jCM_6yDIPaviY/edit

[2016-08-31 17:48] vojtechsedlak commented on #309
Thanks @natalieworth, these are perfect! I've created a test in Optimizely with all of the variants above and will run it once there is traffic heading to the page. Will keep you all posted on the results.

[2016-08-31 17:55] jendc123 commented on #276
@HPaulJohnson and @damiankay we are not sure how to tackle and test this one - it may not get closed today.

[2016-08-31 18:22] damiankay opened #316 "Identify why Bablic translation are being lost"
Detailed description of work:
We've now had to re-enter translations in Bablic numerous times. This is obviously very innefficient. @jendc123, can you shed some light on why this is happening? Could it be because multiple people are in Bablic at the same time? Perhaps code is being deployed while translations are being entered? Maybe it's just a matter of improving our workflow to support multiple

[2016-08-31 18:54] HPaulJohnson commented on #200
Kicked this off today. Initial ideas here:
https://docs.google.com/document/d/1Ozel0ogJS9ow-nok9B2T_5-x3rv_vpnvmRMN4hLDy3M/edit

We'll reconvene next week to start developing ~5 of these concepts for phase 2 social to support both organic and paid promotion.

[2016-08-31 18:55] HPaulJohnson commented on #312
Will make these updates in #311.

Closing this as a dupe.

[2016-08-31 18:55] #312 closed, assigned to HPaulJohnson

[2016-08-31 19:09] jendc123 commented on #255
Hi @lovegushwa do you have a logo file for the Mozilla Maker Party event logo show in the mock-up above?

[2016-08-31 19:28] jendc123 commented on #316
@damiankay we can work on a better work flow. Any time the theme is updated  i.e. the typo fix to get the email share to work it ends up overwriting that piece in Bablic.  We can discuss more next week.

[2016-08-31 19:38] natalieworth opened #317 "Meme Video Title Cards/ Bumpers"
Detailed description of work: Create end bumpers for meme video/ video 2. Final copy is:
CARD 1
Memes of all things
should not be illegal.

CARD 2
Let’s bring E.U. copyright law
into the 21st century.

CARD 3/END
mzl.la/copyfail
Mozilla logo

Proposing to use impact font to match the meme content.

CC:

[2016-08-31 20:08] damiankay commented on #276
Hi @jendc123 - we thought that might be the case. I think it's ok to de-prioritize this one. Let's leave it open for now, however, in case we're able to find a solution.

[2016-08-31 20:12] damiankay commented on #316
Thanks @jendc123. I'm working on the localization plan for Maker Party which I'm hoping to have a draft of on Tuesday. If it's possible to chat sometime on the 6th that would be great.

[2016-08-31 20:45] damiankay commented on #314
@stephaniemcv - Fission believes this has been fixed. Would you be able to run some tests please?

[2016-08-31 20:47] damiankay commented on #315
@cadecairos - Julien says that he hasn't received the invite yet. Are you able to re-send?

[2016-08-31 21:02] stephaniemcv commented on #314
DE, FR, ES, and PL - Confirms are now working!

[2016-08-31 21:03] damiankay commented on #314
Fantastic! Thanks @stephaniemcv

CC @jendc123

[2016-08-31 21:03] #314 closed, assigned to stephaniemcv

[2016-08-31 21:12] cadecairos commented on #315
@damiankay might have gone to spam?

Ask them to visit this: https://github.com/MozillaFoundation/Advocacy/invitations

[2016-08-31 21:17] damiankay commented on #298
I might have closed this too soon. @HPaulJohnson could you please test to ensure that email share messages are localized?

[2016-08-31 21:25] HPaulJohnson commented on #298
Tested and it works in Firefox but not Chrome (even in incognito to solve any caching issues). Someone else should test in Chrome and see if they can replicate.

Also, I'm seeing the headers and subhead all in English (and not translating when selecting non-English language) across both Firefox and Chrome.

[2016-08-31 21:28] HPaulJohnson commented on #298
The headline translation issue only appears to be happening on the "Reform Copyright" version of the header so might be an Optimizely issue.

@vojtechmozilla @damiankay

[2016-08-31 21:30] ScottDowne commented on #298
Yeah, wow, email translation not working in Chrome. That's pretty weird, tbh. This shouldn't be a browser thing. I would be interested in knowing what's up when it's fixed :)

[2016-08-31 21:32] vojtechsedlak commented on #298
@HPaulJohnson  If you're seeing the Reform Copyright headline then it must be related to Optimizely, since that's one of tested variants. Switching between languages sadly interferes with the Optimizely script. Luckily it appears that less than 5% of people switch between languages after landing on the site.

[2016-08-31 21:45] damiankay commented on #298
@jendc123 @julienburns - we're still seeing English auto-fill for the Spanish email share. Can someone look into this asap please?

[2016-08-31 21:45] valianttry commented on #298
I just tested the email share from Spanish site (ES) and it still auto-fills a new email message with English text:

![don t_make_memes_illegal](https://cloud.githubusercontent.com/assets/9830371/18147465/8efe33e0-6f89-11e6-84ab-0c3bfbcb2c75.png)

I double checked in Bablic, and it is correctly pasted there in Espanol:

![visual_editor](https://cloud.githubusercontent.com/assets/9830371/18147433/7

[2016-08-31 21:45] brettgaylor commented on #317
@natalieworth we may need to also create the opening shot of this video with text in the same style, too

[2016-08-31 21:46] brettgaylor commented on #317
Also - the first card should read
Memes
of all things
should not be illegal

Or
Memes, of all things, should not be illegal

Right now it feels like "memes of all the things"

[2016-08-31 22:19] damiankay commented on #315
He's in - thanks @cadecairos

[2016-08-31 22:19] #315 closed, assigned to cadecairos

[2016-08-31 22:20] lovegushwa commented on #70
@valianttry @vojtechmozilla

No word from MOCO UX yet, but this is just a test so I think we are safe to move forward (snippet team should be able to review the designs we choose.)

@ScottDowne we should consider using this nifty opt-out UX Stephen Horlander shared:
http://people.mozilla.org/~shorlander/about-home-snippet-opt-out/about-home-test-02.html

(hint: mouse over the snippet)

[2016-08-31 22:53] ScottDowne commented on #70
@lovegushwa that isn't a currently built snippet, it seems. (it's not in the repo of snippets)

[2016-08-31 22:57] natalieworth commented on #317
Impact (still need to work out colours):
<img width="1058" alt="screen shot 2016-08-31 at 3 40 42 pm" src="https://cloud.githubusercontent.com/assets/14876567/18149173/957c9b12-6f93-11e6-9451-a921b2b9f916.png">

Other options (my preference):
<img width="1298" alt="screen shot 2016-08-31 at 3 28 10 pm" src="https://cloud.githubusercontent.com/assets/14876567/18149182/9e2e0a52-6f93-11e6-9d3a-029c4f

[2016-08-31 22:58] natalieworth commented on #317
Thanks @brettgaylor will update language too in new/ revised versions

[2016-08-31 23:03] natalieworth commented on #317
I'm leaning more toward something typographic that visually could relate to the website and identity/ brand of the campaign vs. using 'Impact':
- I think it would be good to visually differentiate between the ridiculousness of the parody video and the actual informed content we’re presenting?
- systemic ident/ bumper text and staying that could be placed across all videos and still relate back to

[2016-08-31 23:07] brettgaylor commented on #317
Loving this treatment, especially if we could animate it - reminscent of
70s Sesame Street!

https://www.youtube.com/watch?v=__48P1Fbjm8

https://cloud.githubusercontent.com/assets/14876567/18149186/a5f4688a-6f93-11e6-9fe8-1d0c3dda63ec.png

On Wed, Aug 31, 2016 at 4:03 PM, Natalie Worth notifications@github.com
wrote:

[2016-08-31 23:44] HPaulJohnson commented on #311
Draft here: https://docs.google.com/document/d/1M0ptw1CWD2040IlxNRqZiA_fiVvv5MMjkfp96bI7Rg0/edit

I've asked @KevZawacki to take a quick pass and work his magic so hopefully we can finalize/close this one out tomorrow once he has had a chance to edit.

[2016-08-31 23:57] damiankay commented on #204
Hi @beccaklam - just wanted to confirm which formats you're setting up for Fission. Will they have tablet and mobile as well?

CC @lovegushwa

[2016-08-31 23:59] HPaulJohnson commented on #84
@KevZawacki has completed his edits so this should be ready to go for approvals. @damiankay to track down exactly who needs to review/sign-off on this before it goes to Fission.

[2016-09-01 00:29] damiankay opened #318 "Facebook share error"
Detailed description of work:
The FB share app is bringing up an error (see screen shot).
This seems to be related to the updated domain SSL.

Not sure if this is an issue for Fission or Mozilla to fix.

*Start date: \* August 31, 2016
*Due date: \* September 1, 2016

CC: @ScottDowne @jendc123 @julienburns @simonwex

![fb-share-error](https://cloud.githubusercontent.com/assets/19785709/18151020/5c

[2016-09-01 00:29] damiankay commented on #318
CC @valianttry @HPaulJohnson

[2016-09-01 00:43] damiankay commented on #81
Hey @lovegushwa - were you able to ship this to @ScottDowne as planned?

[2016-09-01 00:51] ScottDowne commented on #318
The error is cache, try in a private tab, although it's english.

This is due to the url change.

[2016-09-01 00:59] #289 closed, assigned to cadecairos

[2016-09-01 01:01] damiankay commented on #318
The new problem is that the FB shares are back to being EN only.

@julienburns @jendc123 can you have your team look into this asap please? Thank you!

[2016-09-01 04:27] ScottDowne commented on #318
Bit of context. We finally got changecopyright.org up. I think the change
in URL is messing up the bits George setup yesterday.

[2016-09-01 06:30] lovegushwa commented on #81
@damiankay @ScottDowne @HPaulJohnson
The Makerparty pages on learning.mozilla.org are ready to build, comps and images here:

https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvZTk5dUdZRGRSNTQ&usp=sharing

I used standard learning.mozilla.org styles / buttons etc so it should be a snap. Some copy will probably change in QA, notes on copy and links in this redpen: https://redpen.io/p

[2016-09-01 06:31] lovegushwa commented on #81
@ScottDowne if you have questions tomorrow when you start on this, @HPaulJohnson should be able to help.

[2016-09-01 06:35] #272 closed, assigned to nobody

[2016-09-01 06:43] lovegushwa commented on #81
@ScottDowne the website copydeck is here:
https://docs.google.com/document/d/16ObBANwvduy59NjYC3aOF9cIPsDG3RdGszmHwqXHPv4/edit

The pages you are replacing on learning.mozilla are these:
https://learning.mozilla.org/en-US/events
https://learning.mozilla.org/en-US/events/resources/#event-guides

[2016-09-01 07:59] a-kilroy commented on #310
Hey everyone,

This was a know and planned for. In the scope of work we asked for custom
permissions for trusted event hosts to be able to use the control panel to
edit their events.
External partners or outside/new event hosts will not.

This is big priority for our people so let me know if we need to talk it
through.

On Wed, Aug 31, 2016 at 5:57 PM, Damian Kuehn notifications@github.com
wrote:

[2016-09-01 08:03] a-kilroy commented on #266
I'm back next week and think we should have a short kickoff to talk through
items and timing so we can put together a mini project plan for it.

On Wed, Aug 31, 2016 at 6:43 PM, Lainie DeCoursy notifications@github.com
wrote:

[2016-09-01 13:16] KevZawacki commented on #311
@HPaulJohnson Just dropped in my edits!

[2016-09-01 14:43] damiankay commented on #266
@a-kilroy sure that sounds great. I haven't not been able to touch this yet with our Copyright campaign requiring much more time and attention than expected.

@ldecoursy I think that's reasonable. I would plan for Sep 21 - launch has been pushed to Sep 20th.

[2016-09-01 14:53] ScottDowne commented on #81
@HPaulJohnson do you know if there are any links in these updates that link to a page already in l.m.o?

Or otherwise link to something that's not in the desired locales?

[2016-09-01 14:56] damiankay commented on #310
Hi @a-kilroy - Fission's problem is that they attempted to create this functionality, and were unsuccessful. They think that they could find a work around, but it would not be within our timeline. So our options are:
A) Launch with this functionality, but delay launch until they've found a solution
B) Launch withouth this functionality, and expect hosts to either email their RSVPs with updates, or

[2016-09-01 14:59] damiankay commented on #84
Thanks @HPaulJohnson & @KevZawacki
I'm using this document as my guide for approvals:
https://docs.google.com/spreadsheets/d/1wQt_Em7DkEWprx-bFHqV8CpHJub3T5Gf9YCKqbMA1XE/edit#gid=0

I'll update and close this issue as soon as it's made the rounds.

[2016-09-01 15:41] julienburns commented on #318
Hi Mozilla Team,

We're investigating this now. This sort of error will appear when you change domains if the Facebook app being used to share doesn't have a record of the new domain (in this case changecopyright.org). I will revert shortly with next steps to address this.

[2016-09-01 16:01] ScottDowne commented on #318
I did add "https://www.changecopyright.org/" to the facebook app.

I poked around a bit more.
1. Seems cache needs to be cleared. No biggie.
2. Looks like chrome is blocking the popup, and isn't fully trusting the new url.
3. After cache is cleared, and the popup is allowed, the text isn't translated.

I think 2 and 3 are symptoms of the same problem, and that's somewhere we need to tell facebook

[2016-09-01 16:08] julienburns commented on #318
Thanks Scott,

I see that you added the URL to the app--thanks for doing that.

When you say cache needs to be cleared, what problem is that resolving? Clearing my cache does not appear to have had an impact.

I've tried using the Facebook Debugger to scrape new data for the site and language-specific URLs, but it does not seem to be changing the security issue and the scraper is still pulling Eng

[2016-09-01 16:12] HPaulJohnson commented on #311
@damiankay this is good to go. re: approvals, not sure how that's been handled for website copy thus far.

@beccaklam final copy for v2 above. includes some ideas for the dynamic messages on petition form, ideas for pullquotes and a blurb for the postcrimes promo.

[2016-09-01 16:34] HPaulJohnson commented on #84
I've tagged @shaghdoosti @chrislarry33 @geroter in the doc to review, if possible, by EOD 9/6.

[2016-09-01 16:48] KevZawacki commented on #233
[First draft](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit#bookmark=id.pr0mwbpd9r1g)

[2016-09-01 16:50] KevZawacki opened #319 "Pitch copyright campaign, phase 2"
Detailed description of work: Pitch EU press our public education videos + Post Crimes app

_Start date: September 20, 2016_
_Due date: September 20, 2016_

CC: @HPaulJohnson
- [x] Revise media list
- [x] [Writes pitches](https://docs.google.com/document/d/1vRlLxhIz-PmjDaHMY_AXFq_0fSfdy6aHx4HaiSTIRuc/edit)
- [x] Brief agencies
- [ ] Pitch! (Katharina's blog before Sept. 21, Denelle's blog after)

[2016-09-01 17:00] julienburns commented on #318
Just a further update: We've identified the script that's triggering the double share dialogues and the NationBuilder Facebook app that's generating the error. NationBuilder is digging into what's happening on their end and we're looking into modifying the script to shift to a single share and re-enable multilingual content.

I'll continue sending regular updates as we work on it.

[2016-09-01 17:11] KevZawacki commented on #200
Dropped some comments / research into the doc

[2016-09-01 17:50] damiankay commented on #318
Fantastic - thanks @julienburns . I'll keep an eye on this issue for updates.

[2016-09-01 18:36] julienburns commented on #318
Hi all,

We're working on implementing a new Facebook app that will replace the current sharing tools. The name of this app will be shown to users who are logging in. Can you please advise on what you would like it to be called?

Thanks!

[2016-09-01 18:56] damiankay commented on #318
@HPaulJohnson - can you please provide direction on the name of the app (it will be visible to users if they try to share and are not logged in to Facebook).

CC @valianttry

[2016-09-01 19:33] HPaulJohnson commented on #318
I'm not totally clear what this actually looks like but hopefully: "Mozilla: Reform Copyright" will work?

[2016-09-01 19:35] damiankay commented on #318
@julienburns - could you send us a screen shot when this is in place please?

[2016-09-01 19:36] HPaulJohnson commented on #308
fixed. closing

[2016-09-01 19:36] #308 closed, assigned to nobody

[2016-09-01 19:43] a-kilroy commented on #310
Can we set up a call with NB on Tuesday when I am back? This was part of
the functionailty we were told exists in our assessment and I believe it is
documented in their support. This one was supposed to be easy because it
was native functionaily. If their are issues with it I'd like to push them
to resolve.

On Thursday, September 1, 2016, Damian Kuehn notifications@github.com
wrote:

[2016-09-01 19:48] damiankay commented on #318
@julienburns Also, let us know if there are specific copy specs that we need to work within.

[2016-09-01 20:00] julienburns commented on #318
Here you go @damiankay : https://www.evernote.com/l/AlG51JKkUHtKrpAH6SRSc4Ts-zK6ebRUzQs

[2016-09-01 20:05] natalieworth commented on #278
This is complete, but high res file for 4060174.mp4 is missing:
<img width="609" alt="screen shot 2016-09-01 at 1 04 42 pm" src="https://cloud.githubusercontent.com/assets/14876567/18182410/c63da7c6-7044-11e6-8566-5b2e915255a5.png">

[2016-09-01 20:07] natalieworth commented on #278
I also updated the green screen (desktop and tablet) to high res/ tweaked the lighting and green screen issues:
<img width="582" alt="screen shot 2016-09-01 at 1 06 06 pm" src="https://cloud.githubusercontent.com/assets/14876567/18182466/f46e0938-7044-11e6-850a-413ec2018d71.png">
<img width="584" alt="screen shot 2016-09-01 at 1 06 13 pm" src="https://cloud.githubusercontent.com/assets/14876567/18

[2016-09-01 20:25] damiankay commented on #318
Fixed by the fantastic Fission team

[2016-09-01 20:25] #298 closed, assigned to valianttry

[2016-09-01 21:15] damiankay commented on #310
@a-kilroy yes - sounds good. I'll set that up for Tuesday. Thx!

[2016-09-01 21:37] HPaulJohnson commented on #284
this is fixed.

[2016-09-01 21:37] #284 closed, assigned to nobody

[2016-09-01 21:40] HPaulJohnson commented on #201
Phase 2 now scheduled for 9/20, so we'll work back from that timeline.

[2016-09-01 21:40] HPaulJohnson commented on #200
Phase 2 now scheduled for 9/20 so we will build back from that schedule.

[2016-09-02 00:10] damiankay commented on #310
@a-kilroy - do you remember who you spoke with about hosts being able to edit events? Probably best to have them on the call.

CC @valianttry (as you signed the deal)

[2016-09-02 00:46] beccaklam commented on #204
Redpen V2 UI Finals: https://redpen.io/p/wb0c491a132dbd6c24
Google drive: https://drive.google.com/open?id=0BzuBOR2VJQqUc29FMjk4VnM3UTQ

[2016-09-02 05:42] ScottDowne commented on #81
Bulk of the work done here. https://github.com/mozilla/learning.mozilla.org/pull/2165

Main goal, get through review and on Pontoon asap. We need to give l10n plenty of time. We can do further QA once it's on staging.

[2016-09-02 16:46] stephaniemcv opened #320 "Copyright Email 1 QA"
Detailed description of work: Please review copy, links, images and rendering in emails. GB,DE,ES,FR,PL and put comments/edits in this ticket.

*Start date: \* 9-2-16
*Due date: \* 9-2-16

CC: @valianttry

[2016-09-02 16:49] valianttry commented on #320
Image wrapping leaves too much white space underneath:

![_test-de_das_ist__im_prinzip__illegal_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/18211469/971f0652-70f2-11e6-8f81-ad8aa69a22b8.png)

[2016-09-02 17:00] valianttry commented on #320
The spacing issue in my earlier comment is my only edit @stephaniemcv in both the en-GB and DE versions. I checked the copy, clicked all URLs.

If you fix that I don't need a 2nd set of tests for review. Really great work! 👍 💯

[2016-09-02 17:18] stephaniemcv commented on #320
And it's an issue that can't be fixed really. The text and image are in two separate table cells, side by side. The gap is because the left cell with the text is longer than the image. It's coded this way to mobile responsive, the cell with the image stacks itself under the cell with the text when the screen is less than a certain size. Any time we just drop an image in the same cell with text, ye

[2016-09-02 23:17] valianttry commented on #320
@stephaniemcv Polish is 👍 no edits. Nicely done!

[2016-09-02 23:22] valianttry commented on #320
@stephaniemcv Spanish is 👍 no edits. 💃

[2016-09-02 23:27] valianttry commented on #320
@stephaniemcv French is 👍 no edits. 🍷

[2016-09-03 17:29] brettgaylor opened #321 "Review postcrimes copy"
Detailed description of work: Review copy on postcrimes to make sure it is as engaging and clear as possible

https://docs.google.com/spreadsheets/d/1gj-izvaiouvc7MPHESgtFlHXZE5Kx8eLOrsfKKc7iv0/edit

_Start date: September 6, 2016_
_Due date: September 7, 2016_

CC: @KevZawacki @HPaulJohnson

[2016-09-06 01:49] damiankay commented on #81
Thanks @ScottDowne - waiting for final ok on copy tomorrow (Tuesday), then we'll get it in for L10n.

[2016-09-06 03:33] brettgaylor opened #322 "Typekit error"
I saw someone tweeting that the page isn't rendering due to a TypeKit error:
https://twitter.com/aeris22/status/772908800646971392/photo/1

[2016-09-06 07:45] damiankay commented on #235
Here is the first round of UI designs for the Maker Party events pages from Fission:
- Desktop: https://invis.io/G78C7AR2E
- Mobile: https://invis.io/J98HLYNB6

Please review and leave comments below (I.e. in this GH issue)
@lovegushwa @HPaulJohnson @shaghdoosti @geroter @a-kilroy

[2016-09-06 07:52] a-kilroy commented on #310
Nathan so not much help. That said I think we should be talking about them in two different groups: First time new hosts, trusted Mozilla hosts, since we'll be handling the two groups differently.

[2016-09-06 09:21] ScottDowne commented on #322
Looks like the service Typekit is being used, and it isn't aware or the new domain, and needs to be.

We should see if Fission knows what this is.

[2016-09-06 13:03] a-kilroy commented on #80
And I have lost faith that we will be able to do this on our deadline. I think we should go to plan B.

[2016-09-06 13:07] KevZawacki commented on #321
@brettgaylor Just reviewed -- mostly small tweaks.

[2016-09-06 13:31] jendc123 commented on #310
Hi @a-kilroy, @damiankay, @valianttry ,

For some reason I don't see my earlier comment, but we connected with NationBuilder and found a light weight option for hosts to edit events.  We can include the functionality within our current timeline.

Bulk uploading still doesn't seem to be an option.

[2016-09-06 13:55] ScottDowne commented on #80
I think that makes this ticket resolved. I'll take any resolved ticket as good news! :rocket:

[2016-09-06 13:55] #80 closed, assigned to ScottDowne

[2016-09-06 14:07] a-kilroy commented on #310
That's great! I still think we need to address the two different host
groups: Trusted Mozillian hosts, New User Hosts. I believe the permissions
needed for them are different (the first being control panel users, the
second not being) and should be planned for as such.

On Tue, Sep 6, 2016 at 3:31 PM, Jennifer notifications@github.com wrote:

[2016-09-06 14:11] ScottDowne commented on #322
That error is unrelated to the font not rendering.

Not sure what the typekit error is. Seems to be related to an adobe service, and not sure what if any symptom it's causing.

The page not rendering is an issue with fira font and Linux. There is a parsing error in the font  hosted on google fonts, and Linux refuses to render a potentially broken font. There may also be other systems that react to

[2016-09-06 14:13] ScottDowne commented on #322
Here is the bug on fira not loading: https://bugzilla.mozilla.org/show_bug.cgi?id=1100658

[2016-09-06 14:15] damiankay commented on #310
That's amazing @jendc123! Thanks very much! We'll confirm the details for the two host types and I'll follow up later today.

[2016-09-06 14:18] geroter commented on #235
Looks really excellent.

My only comment at this point is to see how in the event sign-up flow we can:
1) Help people be really intentional about thinking about the goals they have for the event.
2) Drive people toward the packaged activities, and having that as part of the event host process.

Some ideas:
- have the host kit or some link to activities in the flow of setting up an event
- have a d

[2016-09-06 14:45] ScottDowne commented on #322
If we moved what's built on nation builder from google fonts to a Mozilla hosted font `<link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css"/>` the font the renders correctly in Linux.

[2016-09-06 16:10] ScottDowne commented on #81
@damiankay So there is a small decision that needs to be made regarding what to do with the old pages while we translate the new pages.

The issue is, in order to have the pages on Pontoon, they need to be on staging, which also means they need to be good enough to be on production. But, we shouldn't have these pages on production until we're translated. So we have a small chicken and egg problem.

[2016-09-06 16:20] #313 closed, assigned to natalieworth

[2016-09-06 16:36] #320 closed, assigned to stephaniemcv

[2016-09-06 16:41] valianttry commented on #293
*\* see email thread for resolution *\*

[2016-09-06 16:41] #293 closed, assigned to valianttry

[2016-09-06 16:42] valianttry commented on #148
All tasks completed. Metrics dashboard is here:

https://docs.google.com/spreadsheets/d/1jGE88R9wJBVqwawOObWNS8mB2OmecWGUAKk-cFzgN5M/edit#gid=496676929

[2016-09-06 16:42] #148 closed, assigned to valianttry, HPaulJohnson

[2016-09-06 16:45] valianttry commented on #179
@vojtechmozilla I suggest closing this ticket and perhaps opening a separate ticket for "enhancements"? I had only 1 request, the ability to sort by lable.

[2016-09-06 16:51] damiankay commented on #306
Closing. All caps issues are also captured here: #303

[2016-09-06 16:51] #306 closed, assigned to nobody

[2016-09-06 16:58] damiankay commented on #81
@ScottDowne - let's talk about this today. We'll also likely need to make a few edits in response to George's copy deck feedback in #235

[2016-09-06 16:58] cadecairos opened #323 "High number of 503 response codes on moz-nationbuilder-salesforce app"
Detailed description of work:
This app handles nationbuilder hooks and syncs that data to salesforce. It seems like when it syncs with nationbuilder (every ten minutes) it may take >30 seconds, depending on the amount of traffic. Heroku does not allow requests to hang for longer than that, so we should consider returing a response immediately upon receiving the sync request, and process the sync i

[2016-09-06 17:02] vojtechsedlak commented on #179
Great idea. Will do @valianttry.

[2016-09-06 17:02] #179 closed, assigned to vojtechsedlak

[2016-09-06 17:06] vojtechsedlak opened #324 "Git Issues Gantt Chart Enhancements"
Detailed description of work:
Let's keep track of changes and improvements needed for the Gantt chart visualization (see [here](https://mozilla-advocacy-gantt-pr-1.herokuapp.com/)). There are some issues at the moment, which I am looking into.

_Start date: September 6, 2016_
_Due date: September 16, 2016_

CC: @valianttry @damiankay @cadecairos

[2016-09-06 17:34] ScottDowne commented on #323
I'm fine with the solution @cadecairos suggested, I think we just need to figure out who should do this work.

[2016-09-06 17:43] damiankay commented on #81
@hannahkane - after a bit of discussion, the recommendation is to load up our edits on production so that the L10n community can start translations. Not much traffic is expected to these pages as they haven't been promoted since last year's Maker Party. Can you let us know what you think of this approach and whether we should jump on a call to discuss?

CC @ScottDowne @HPaulJohnson

[2016-09-06 17:44] damiankay commented on #324
@valianttry had requested the ability to sort by label.

CC @vojtechmozilla

[2016-09-06 17:45] damiankay commented on #324
I think it's worth re-inserting the example dates that you had previously. I only meant to remove the parentheses, not the enclosed content.

@vojtechmozilla

[2016-09-06 17:45] natalieworth commented on #317
Final export for these are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0RTI4cnVmQ0JSM3M
Closing but reopen if any adjustments

[2016-09-06 17:49] damiankay commented on #323
It sounds like Heroku time outs were causing quite a few issues with additional API calls. Based on that info, I'd say it's worth doing this work.

How much time do you think is require @cadecairos ?

Who needs to approve this?

CC @ScottDowne @valianttry

[2016-09-06 17:52] ScottDowne commented on #81
I'm chatting with @hannahkane about this now, and it looks acceptable to update the links, and hit it from the nav until we're ready.

[2016-09-06 18:06] valianttry commented on #207
@vojtechmozilla here are a few suggestions for the metrics spreadsheet:

**Summary Tab:**
- Does "community growth" = new opt-ins in Salesforce? We should track that conversion % at each step of opting in: Sign petition > check the box to join the list > click "confirm" in the confirmation email. Understanding the success at each step of this funnel for each locale would be very helpful.
- At the

[2016-09-06 18:08] hannahkane commented on #81
WFM. Appreciate the heads up. I've let stakeholders know; we'll see if anyone raises any concerns.

[2016-09-06 18:26] damiankay commented on #81
Fantastic - thanks @hannahkane !

[2016-09-06 19:18] cadecairos opened #325 "Moved"
MOVED HERE https://github.com/MozillaFoundation/Advocacy/issues/325

CC: @ScottDowne @valianttry @damiankay

[2016-09-06 19:20] #325 closed, assigned to nobody

[2016-09-06 19:42] lovegushwa commented on #70
@ScottDowne @valianttry feedback from Stephen:

Those all look really nice.

For color choices I prefer the green/teal button because it has a contrast with the blue search button. I think we talked about the red button being usually reserved for error states? But that github issue seems to suggest using it just for testing purposes?

Looking forward to results :)

[2016-09-06 19:43] lovegushwa commented on #70
@ScottDowne @valianttry I responded and said colors are for a test, and Stephen seems cool with that. We should be ready to choose which we want to test and start building!

[2016-09-06 19:45] valianttry opened #326 "Build new fundraising snippet UX for testing"
Detailed description of work:
We are working with the Firefox UX team to conform the fundraising snippet design with the snippet design guidelines. We want to test new designs by @lovegushwa #70 . The Firefox UX team has approved the test designs. The designs need to be built and prepared for snippet service by @ScottDowne

Then, @vojtechmozilla will design tests.

_Start date: September 6, 2016_

[2016-09-06 19:47] valianttry commented on #70
@lovegushwa one concern I have is that we have tested and know that long text yields statistically significant increases in conversion. The button to the right of a long block of text might look weird? Did you and Stephen talk about text length at all?

[2016-09-06 20:14] vojtechsedlak commented on #324
@valianttry I've added filtering by labels. Please let me know if you run into any issues. Thanks!

[2016-09-06 22:21] damiankay commented on #80
Confirming that we will use Nationbuilder's default persona management.

For event attendees: we will only collect name & email, option for email opt-in, no option for editing user profiles
For hosts: ?

We will need to figure out how we will we migrate identities and users to our new system.

This has been discussed and approved by @geroter @simonwex @a-kilroy

[2016-09-06 22:40] brettgaylor opened #327 "Video 1 [explainer] - versioning"
- [ ] English voiceover
- [ ] English subtitles
- [ ] English CTA text
- [ ] French voiceover
- [ ] French subtitles
- [ ] French CTA text
- [ ] Spanish voiceover
- [ ] Spanish subtitles
- [ ] Spanish CTA text
- [ ] German voiceover
- [ ] German subtitles
- [ ] German subtitles

[2016-09-06 22:45] brettgaylor opened #328 "Video 2 [meme jail] - versioning"
- [x] English pre/post cards
- [x] English subtitles
- [x] Spanish pre/post cards
- [x] Spanish subtitles
- [x] French pre/post cards
- [x] French subtitles
- [x] German pre/post cards
- [x] German subtitles

[2016-09-06 22:46] damiankay commented on #266
@a-kilroy I started a skeleton for this document here: https://docs.google.com/a/mozilla.com/document/d/185kqVSpu21DB8RVzJ3METBa9cSjosUrtXLXITMN4XN0/edit?usp=sharing

Please have a look and rearrange as you see fit.

The resources on the Nationbuilder site don't seem to align with what we have in mind (they focus on users with admin access), so I'll likely have to go through the motions myself and

[2016-09-06 22:52] brettgaylor opened #329 "Video 3 [CSI GIF] - versioning"
- [x] on screen text English
- [x] pre/post text English
- [x] Subtitling English
- [x] on screen text French
- [x] pre/post text French
- [x] Subtitling French
- [x] on screen text German
- [x] pre/post text German
- [x] Subtitling German
- [x] on screen text Spanish
- [x] pre/post text Spanish
- [x] Subtitling Spanish

[2016-09-06 23:02] brettgaylor opened #330 "Meta video delivery ticket"
Video 1 (explainer):
- [x] Edit complete
- [x] Edit approved
- [x] Versioning complete
- [x] Output and delivery complete

Video 2 (meme jail):
- [x] Edit complete
- [x] Edit approved
- [x] Versioning complete
- [x] Output and delivery complete

Video 3 (CSI GIF)
- [x] Edit complete
- [x] Edit approved
- [x] Versioning complete
- [x] Output and delivery complete

[2016-09-07 02:04] lovegushwa commented on #81
@damiankay changes regarding George's copy deck feedback in #235 ... actual copy changes will happen once they are approved. Some content changes on the resources page (2nd page in the redpen link.)
https://redpen.io/p/ta8378af24bdb1627e

[2016-09-07 02:11] lovegushwa commented on #70
@valianttry no we did not discuss text length. We designed for really long text last year (a paragraph) and ended up using text that was two sentences if I remember right (the example above). We could do some variants of option 1 or 2 with a second sentence. I'm sure those design could also accommodate a paragraph.

[2016-09-07 02:25] lovegushwa commented on #235
@damiankay looks good overall. The colors are all slightly off (blue, teal) ... Teal should be: 00afb5 and blue: 2D4A8C
<img width="897" alt="screen shot 2016-09-06 at 7 06 28 pm" src="https://cloud.githubusercontent.com/assets/12228435/18297684/57af4d24-7467-11e6-8c09-ec3327ce5b06.png">

https://learning.mozilla.org/en-US/events

[2016-09-07 03:33] damiankay commented on #235
Thanks @geroter & @lovegushwa - I've shared this feedback with Fission.

[2016-09-07 13:09] KevZawacki commented on #233
[Second draft](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit#bookmark=id.pr0mwbpd9r1g) sent to Raegan for approval.

[2016-09-07 13:16] KevZawacki commented on #321
@brettgaylor Per yesterday's discussion, I've toned down the Post Crimes language. So:

"In some European Union countries, photographing public buildings and posting the pictures on social media is illegal. It's just one example of how copyright law in the EU is out of touch with modern life.

**This is an absurb law. We're going to help you prove it -- with a rebellious selfie! Create a photo of

[2016-09-07 17:08] #196 closed, assigned to lovegushwa, natalieworth

[2016-09-07 18:02] vojtechsedlak commented on #207
Thanks for these great suggestions @valianttry! I have added the category definitions as comments and will work on expanding the scope of the document. I've modified the 'Community Growth' category to only include people who confirmed their subscription. I agree the full funnel picture is important, so will try to prioritize that.

Let me know if you have any further suggestions! Thanks.

[2016-09-07 18:54] damiankay commented on #243
@geroter - the domain name is only required for the pages that live on Nationbuilder. Due to technical constraints, they can't all share the same domain.

There are in essence three page types:
1. learning.moz pages: in our external comms we'll link to these pages via mzl.la short link
2. Nationbuider pages: we recommend using a custom domain for these pages
2. Activity pages: these pages are not

[2016-09-07 19:46] gholme4 commented on #268
@damiankay @ScottDowne @KevZawacki I updated the link again.

[2016-09-07 19:58] gholme4 commented on #322
@ScottDowne @brettgaylor @damiankay I updated according to Scott's suggestion.

[2016-09-07 21:15] lovegushwa commented on #216
@HPaulJohnson I think we can adapt this template: https://docs.google.com/presentation/d/1Ibb0WgTwdXBON1UxYjQMu3DftK2PcwNiiCCKgkuibZs/edit#slide=id.g165eabf55d_2_173

Can we connect on the exact kinds of pages and styles needed?

[2016-09-07 21:18] lovegushwa commented on #70
@ScottDowne do you need anything to implement the opt out button?
http://people.mozilla.org/~shorlander/about-home-snippet-opt-out/about-home-test-02.html

[2016-09-07 21:21] HPaulJohnson commented on #216
I think the main intent was to build a template for host and partner packs,  which you've already done. Might be nice to create a blank deck that we can supply to hosts if they want to create any of their own, event-specific slides. For that we could use this same template/style. I wouldn't put too much work into it however, given the big applications have already been designed for.

[2016-09-07 21:26] ScottDowne commented on #322
So that should fix the font not rendering for some. Dunno what the typekit thing is about.

[2016-09-07 21:32] ScottDowne commented on #70
@lovegushwa there is already a snippet opt out button built in to the simple snippet, and it's not as polished as the example you provided.

I'm happy to polish it, so it's like the example, if that's something the snippet UX people are fine with me doing :) Looks like a fun little interaction, and it looks mostly done in that example. Make me wonder why it wasn't already done like that.

But ther

[2016-09-07 21:46] jendc123 commented on #277
@damiankay - this is not something we can control because that behavior is for apps and not browsers.

[2016-09-07 21:52] jendc123 commented on #316
Hi @damiankay any time we make a change on the Nationbuilder theme i.e. text edits it causes Bablic to re-crawl the site and takes the new string.

[2016-09-07 21:57] gholme4 commented on #322
@ScottDowne Typekit authorizes by domain and the domain name recently changed. Typekit is packaged with NationBuilder.

[2016-09-07 22:00] ScottDowne commented on #322
Is this something we can fix in NationBuilder? or how bad is it if we don't fix it? Looks to be just a random error, and doesn't seem to have any visible side effects.

I think maybe we can just close this issue now.

[2016-09-07 22:14] damiankay opened #331 "Estimate data requirements for Salesforce"
Detailed description of work:
Before we launch Maker Party and Petitions Petition V2, the Salesforce team needs a data usage estimation. This would include:
1. A combination of the estimated numbers from the Foundation on Signers/Attendees etc.
2. Fission's estimation of daily API traffic to Salesforce.

_Start date: September 7, 2016_
_Due date: September 16, 2016_

CC: @shaghdoosti @valianttry @

[2016-09-07 22:22] damiankay commented on #331
@shaghdoosti do you know our how many signers we're projecting for the Petition, and how many event participants for Maker Party?

[2016-09-07 22:26] damiankay commented on #235
@geroter please see Fission's response to your requests below:
For Goals & Activities:
1.  Yes, we can add a link to the Host Kit in the sidebar
2.  Is this only displayed in the back-end or are you looking to display the output on the front-end as well? (I.e. the activity drop down selection)
3. Yes, we can pre-populate text - what do you have in mind?
4. This can't be done (second text box to en

[2016-09-07 22:42] ScottDowne commented on #70
Chatted with Jordan.

Looks like it shouldn't be an issue to polish the opt out button.

Looks like we'll need 1 new template for most of these tests, and we'll use the simple snippet with button for the other tests, which is already built.

I'll work on this Friday.

[2016-09-07 22:43] damiankay opened #332 "Maker Party: Set launch time"
Detailed description of work:
We'll need to coordinate the launch of the Maker Party pages in various locations (learning, Nationbuilder, Github).

@ScottDowne what is the ideal time to launch these pages to production?

Launch date is set for Sep 20.

_Start date: September 7, 2016_
_Due date: September 9, 2016_

CC: @geroter @simonwex @cadecairos

[2016-09-07 22:47] HPaulJohnson commented on #311
updated postcrimes promo copy per some feedback from design. i'm calling this one complete.

[2016-09-07 22:49] HPaulJohnson commented on #268
fix confirmed. closing.

[2016-09-07 22:49] #268 closed, assigned to nobody

[2016-09-07 22:51] damiankay commented on #316
Thanks @jendc123. So, how can we improve our workflow to avoid this in the future?

[2016-09-07 22:52] damiankay commented on #277
Thanks @jendc123. We wondered if that might be the case. I'll close this one.

[2016-09-07 22:52] #277 closed, assigned to nobody

[2016-09-07 22:57] HPaulJohnson commented on #193
Adwords portion of this to begin by Friday, 9/9.

Facebook and other ads to begin in conjunction with media asset/v2 website launch on 9/20 (adjusting milestone as a result).

[2016-09-07 23:05] gholme4 commented on #322
@ScottDowne To resolve the error, we need to create a custom kit and enter a new Typekit key in the NationBuilder site settings.

[2016-09-08 00:22] valianttry commented on #70
@ScottDowne yes please incorporate the improved UX for the opt out. I think they have just been iterating on improving that design. You know, things can always be more awesomer. 🏆

@lovegushwa we used very long text late in the campaign. It's just a design consideration, but probably not for this immediate test scenario. We should use the same copy for each variant i think (I leave that thinking t

[2016-09-08 12:47] KevZawacki commented on #233
Where we're at:

[Blog 2](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit#bookmark=id.pr0mwbpd9r1g) draft complete; sent to Raegan for approval

[Blog 3](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit#bookmark=id.ycnzau3kyct2) draft complete (along with shorter statement and tweet); sent to Raegan for approval

[2016-09-08 15:11] ScottDowne commented on #81
@lovegushwa this is on staging now. Being added to pontoon in the hour.

I just wanted to double check that copy in the redpen is up to date? I was seeing changes in the redpen, and I didn't see string changes in the google doc. Is this correct? I was confused cause usually I would trust the doc over the redpen, but redpen seemed more correct.

[2016-09-08 16:41] damiankay commented on #81
Hi @ScottDowne - the text in the copy deck is the latest; the redpen copy has not all be updated yet.

[2016-09-08 18:24] shaghdoosti commented on #331
We're aiming for 100,000 petition signatures, and 300 events with about
40/50 attendees each.

On Wed, Sep 7, 2016 at 3:22 PM, Damian Kuehn notifications@github.com
wrote:

##

Sara Haghdoosti
Director, Advocacy Campaigns and Networks
P: +16465494810
S: sara.haghdoosti

[2016-09-08 18:54] damiankay commented on #331
Thanks @shaghdoosti

[2016-09-08 18:55] vojtechsedlak opened #333 "Test: Fundraising Snippet Format - September 2016"
Detailed description of work: Execute a test of multiple design variants of the fundraising snippet to arrive at an optimal solution that combines high CTR with UX principles. This ticket will be used to track progress of the test set up and evaluation.

_Start date: September 8, 2016_
_Due date: October 14, 2016_
Note: The dates need to be exactly in the format indicated above for proper integrat

[2016-09-08 19:17] damiankay commented on #235
@geroter @lovegushwa @a-kilroy

The Maker party events page designs have been updated. Please have a look at the comps at the links below. You can leave comments directly in InVision by clicking the "comments" slider in the lower left corner.

Desktop: https://invis.io/G78C7AR2E
Mobile: https://invis.io/J98HLYNB6

We should send feedback by 10am Friday Sep 9 (PST).

Thanks!

[2016-09-08 22:14] damiankay commented on #311
Hey @HPaulJohnson - can you please highlight the copy that is new / edited so that we can flag it for L10n in Pontoon? Otherwise, @ScottDowne needs to go through line by line and compare with the V1 website.
[V2 Copy deck](https://docs.google.com/document/d/1M0ptw1CWD2040IlxNRqZiA_fiVvv5MMjkfp96bI7Rg0/edit)

Scott is hoping to tackle this tomorrow morning EST.

[2016-09-08 23:03] valianttry opened #334 "Design Vote.org icons for snippet promotion"
**Detailed description of work:**
We will be promoting voter registration in the Firefox snippet via simple text + icon combination. Users will see something like this:

![firefox](https://cloud.githubusercontent.com/assets/9830371/18369136/ad15a3d6-75d8-11e6-9249-32d7d423dc68.png)

We need a few icon variations, say, 5 that somehow scream AMERICA!!!! And symbolize the flag, voting, democracy, bal

[2016-09-08 23:14] brettgaylor commented on #334
![image](https://cloud.githubusercontent.com/assets/345974/18370106/52cfd05c-75df-11e6-8f5c-34db8bcdd16b.png)

[2016-09-09 02:32] valianttry opened #335 "Write vote.org snippet promotion text"
Detailed description of work:

We will be promoting vote.org in the Firefox snippet to help people register to vote or check their registration status ahead of the November 8 election. The snippet promotions will run intermittently from Sept 15 - October 15 as the schedule allows. We need some simple, creative snippet copy that screams AMERICA!!!!

Here is the icon and text arrangement on the snip

[2016-09-09 02:34] valianttry commented on #334
![Image of the most awesome patriot ever](https://pbs.twimg.com/media/Brj1cV1CIAAriD2.png)

[2016-09-09 02:37] valianttry commented on #334
![fuck yeah](https://www.princecharlescinema.com/wp-content/uploads/2016/04/Team-America-LARGE-1280x480.jpg)

[2016-09-09 06:02] valianttry commented on #334
![I voted sticker](http://www.politicspa.com/wp-content/uploads/2013/11/I-Voted-Sticker.png)

[2016-09-09 06:04] valianttry commented on #334
![Uncle Sam](http://www.prescott.va.gov/images/uncle-sam-600.jpg)

[2016-09-09 06:06] valianttry commented on #334
![star](http://www.clipartbest.com/cliparts/Rcd/gEe/RcdgEe89i.gif)

[2016-09-09 06:10] valianttry commented on #334
![Lady Liberty](http://www.rownyc.com/wp-content/uploads/2014/02/Statue_liberty_1100x530.jpg)

[2016-09-09 06:46] valianttry commented on #335
Draft copy is in this document:
https://docs.google.com/document/d/1nQACMOf1jquvePx7_O2nMVJbfHzKZM1jF-QiVGmvWG0/edit?usp=sharing

[2016-09-09 14:32] ScottDowne commented on #326
For context and reference (and so I don't need to have two issues on my radar) I'm putting the comps in here too.

1 blue
<img width="1236" alt="test variant-snippet-blue-01" src="https://cloud.githubusercontent.com/assets/12228435/17917806/8d7435e4-6974-11e6-89c4-99b3ac76e9c8.png">

2 blue
<img width="1236" alt="test variant-snippet-blue-02" src="https://cloud.githubusercontent.com/assets/1222843

[2016-09-09 14:34] ScottDowne commented on #326
Here is the reference to the updated opt out http://people.mozilla.org/%7Eshorlander/about-home-snippet-opt-out/about-home-test-02.html

[2016-09-09 15:21] ScottDowne commented on #326
I'm going to number the tests off with the template variables in a table, so it's easy for me to reference them.

### Simple Template:

| number | button color | icon | preview |
| :-- | :-- | :-- | :-- |
| 1 | blue | heart | <img width="100" alt="test variant-snippet_01-05" src="https://cloud.githubusercontent.com/assets/12228435/18059902/15c580f6-6dd0-11e6-9a89-5f8aa285e83c.png"> |
| 2 | green |

[2016-09-09 15:25] vojtechmzl commented on #326
Hey @ScottDowne , sorry for the late notice, but I put together the[ following spreadsheet](https://docs.google.com/spreadsheets/d/1q-ZpNzeds_090hzyLPxY_PQPWwRxFcTRcWjpo-TlKys/edit#gid=0) with the different variants late yesterday. Was hoping to pass it along today, but you beat me to it. Could we combine both into a single list? There is also a testing plan [here](https://docs.google.com/document

[2016-09-09 15:39] ScottDowne commented on #326
I'm happy to hope on a call, and explain my goal. The above table is the variables I'm building into the templates, and not a master list of the tests. It's totally build related. I can remove it if it's confusing the situation.

[2016-09-09 15:40] ScottDowne commented on #326
A lot of times I'm asked to build multiple templates for things that are just variables. I'm trying to clear that up.

[2016-09-09 17:06] damiankay commented on #311
@ScottDowne - sorry, all of the copy in the V2 deck is net new. It's not combined with the V1 copy, so it should be fairly clear. Please ping @HPaulJohnson with any questions.

[2016-09-09 17:06] #311 closed, assigned to HPaulJohnson

[2016-09-09 17:28] valianttry commented on #135
Approved landing page and event detail copy is in this document:
https://docs.google.com/document/d/16ObBANwvduy59NjYC3aOF9cIPsDG3RdGszmHwqXHPv4/edit

[2016-09-09 17:33] shaghdoosti commented on #135
George has approved for the buisness unit so I don't need to review this.

On Fri, Sep 9, 2016 at 10:29 AM, Andrea Wood notifications@github.com
wrote:

##

Sara Haghdoosti
Director, Advocacy Campaigns and Networks
P: +16465494810
S: sara.haghdoosti

[2016-09-09 18:30] valianttry commented on #135
@cristina-moon this is probably enough to get you started with drafting! 🚀

[2016-09-09 18:53] KevZawacki commented on #335
Hi @valianttry. Thanks for sharing. The draft copy is clever! I proposed just a few small tweaks. (If we need more variants, just let me know -- happy to write some.)

Would we be comfortable sharing this news on Twitter, too? I can adapt snippet copy for twitter.com/mozilla. twitter.com/firefox may be interested, too.

[2016-09-09 22:26] damiankay commented on #207
Hey @vojtechmzl - can we close this or move it to another milestone (perhaps "bluesky" if there's no particular due date?)

[2016-09-09 22:27] damiankay commented on #246
Hey @HPaulJohnson & @ScottDowne - can we move this to another milestone please?

[2016-09-09 22:29] damiankay commented on #243
Closing - the custom domain name for Maker Party pages on Nationbuilder is being selected in a private Google doc. A request to purchase the domain will be sent via bugzilla on Monday Sep 12.

[2016-09-09 22:29] #243 closed, assigned to damiankay

[2016-09-09 22:30] damiankay commented on #251
Closing - seems that this work was not required.

[2016-09-09 22:34] valianttry opened #336 "Complete localization for Tier 2 languages (BG, CS, IT, dutch)"
Detailed description of work:
We are working on localizing V1 petition for Tier 2 languages including bulgarian, dutch, czech, and italian.

Localized country lists can be found here (For Fission):
(Obviously need to limit to EU only, like for Tier 1):

bg: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/bg/territories.json
cs: https://github.com/unicode-cldr/cldr-localename

[2016-09-09 22:34] HPaulJohnson commented on #246
This is done on our end (closing).  We didn't get it in time to test during this last run but the plan is to incorporate it into the 9/20 snippet flight.

[2016-09-09 22:34] #246 closed, assigned to ScottDowne

[2016-09-09 22:38] damiankay commented on #235
Hi @geroter @a-kilroy @lovegushwa @shaghdoosti

Please see updated UI designs here:
- [Desktop](https://invis.io/G78C7AR2E)
- [Mobile](https://invis.io/J98HLYNB6)

Fission has made the following changes:
1. on event list, changed sidebar call out button copy to: Sign Up to Host an Event
2. created additional screen to show activate account form
3. on host an event form, removed ticket price sectio

[2016-09-09 22:38] damiankay commented on #84
This has been approved. Closing

[2016-09-09 22:38] #84 closed, assigned to KevZawacki

[2016-09-09 22:39] damiankay commented on #137
We don't need a GH bug for this

[2016-09-09 22:39] #137 closed, assigned to ScottDowne

[2016-09-09 22:40] damiankay commented on #133
Closing (duplicate)

[2016-09-09 22:40] #133 closed, assigned to ScottDowne

[2016-09-09 22:40] damiankay commented on #88
Closing (covered in other issues)

[2016-09-09 22:40] #88 closed, assigned to nobody

[2016-09-09 22:42] damiankay commented on #98
This is done and saved here: https://docs.google.com/spreadsheets/d/14p03IYDT03mLyQxkaGW2KJms84ONcPQ3n8jDnkyDcbw/edit#gid=574781289

Note, this is an ongoing effort. We can still improve this document and should continue to add agencies OR move to Salesforce.

[2016-09-09 22:42] #98 closed, assigned to damiankay

[2016-09-09 22:44] damiankay commented on #269
Updating this document for Maker Party / Petition V2 QA

[2016-09-09 22:45] damiankay commented on #128
Hey @a-kilroy - any chance we'll have this in place before we begin QA on the Maker Party site?

[2016-09-09 22:48] damiankay commented on #134
@stephaniemcv @drewmoto are we in a position to use Salesforce to email Maker Party hosts / attendees?

I believe there are two types of emails we would like to send:
1. An invite to our list to participate in this year's Maker Party
2. A confirmation email to users who have signed up as hosts, with links to resources

CC @valianttry @shaghdoosti

[2016-09-09 22:51] damiankay commented on #223
Let's revisit this after we launch Maker Party and discuss work required with Matjaz.

[2016-09-09 22:53] damiankay commented on #242
@shaghdoosti is there anything that needs to be added to the steps listed above? Do you know if our initial trusted reps that we'll use for testing have been identified?

[2016-09-09 22:55] damiankay commented on #187
This is related to issue #242

Is this work done already? @shaghdoosti @Melechuga

[2016-09-09 22:56] damiankay commented on #247
Hi @KevZawacki - what's the status of this? Can we update the milestone? Thx!

[2016-09-09 22:57] damiankay commented on #239
What's the status of this? Can we close? @brettgaylor

[2016-09-09 22:58] damiankay commented on #231
This is completed - thanks @beccaklam

[2016-09-09 22:58] #231 closed, assigned to beccaklam

[2016-09-09 22:59] damiankay commented on #217
@chadsansing - what work needs to be done to create Thimble versions of these activities? I think that's the solution that we're going to go with. Thanks

CC @geroter @ScottDowne

[2016-09-09 23:01] damiankay commented on #192
Hey @HPaulJohnson @lovegushwa - what's required here?

[2016-09-09 23:02] brettgaylor commented on #239
Yes!

[2016-09-09 23:02] damiankay commented on #145
@shaghdoosti @geroter can you please review the survey that @ScottDowne posted above and let us know if this type of form would be acceptable?

Who should be responsible for drafting the questions?

[2016-09-09 23:04] damiankay commented on #190
Hi @shaghdoosti - can we update or close?

[2016-09-09 23:04] damiankay commented on #191
Hi @shaghdoosti - can we update or close?

[2016-09-09 23:04] damiankay commented on #186
Hi @shaghdoosti @HPaulJohnson @valianttry - can we update or close?

[2016-09-09 23:21] damiankay commented on #204
Closing this - great work!

[2016-09-09 23:21] #204 closed, assigned to beccaklam

[2016-09-09 23:22] brettgaylor commented on #257
-start immediately at shot of lab - remove shot of arc de triomphe
-remove “ a new drama about cops…” text
-replace with “coming to television” text
-think you could do something more exciting with the timelapse split screens of europe - make some bigger than others etc  - make this a more interesting composition
-cut immediately after “the people who do”
-immediately after this, start the transit

[2016-09-09 23:30] #239 closed, assigned to cadecairos

[2016-09-09 23:33] valianttry commented on #336
Mozilla L10N working here:
https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright%20Email%201/?string=154562

[2016-09-09 23:47] damiankay commented on #143
Duplicate of #266

[2016-09-09 23:47] #143 closed, assigned to damiankay

[2016-09-09 23:49] #87 closed, assigned to nobody

[2016-09-09 23:50] #122 closed, assigned to damiankay

[2016-09-09 23:57] damiankay commented on #125
Here's what I came up with (with input from @a-kilroy): https://docs.google.com/spreadsheets/d/1v6hU6ggrAlTCABRc67Fcg3CExI9x3v1lL1BL7gbtk5M/edit#gid=0

We can use this document for testing purposes.

CC @geroter @shaghdoosti

[2016-09-09 23:57] #125 closed, assigned to damiankay

[2016-09-09 23:58] #126 closed, assigned to damiankay

[2016-09-09 23:58] damiankay commented on #127
@shaghdoosti - who should take the lead on this?

[2016-09-09 23:59] damiankay commented on #310
This is resolved. Following up with @jendc123 Re user permissions.

[2016-09-09 23:59] #310 closed, assigned to damiankay

[2016-09-10 00:00] damiankay commented on #216
@HPaulJohnson Can we close this?

[2016-09-10 00:02] damiankay commented on #136
Duplicate

[2016-09-10 00:02] #136 closed, assigned to damiankay

[2016-09-10 00:19] HPaulJohnson commented on #216
yes. closing.

[2016-09-10 00:19] #216 closed, assigned to lovegushwa

[2016-09-10 05:01] Melechuga commented on #187
Hey @damiankay,
Yea, we have a list of partners we're reaching out [to here](https://docs.google.com/spreadsheets/d/1D5n0VXQwrMpB2aqCqGtkw1U7eUq_lwhrG_ZFSlz2524/edit#gid=0).

[2016-09-10 07:03] geroter commented on #217
Great idea.

[2016-09-10 13:38] chadsansing commented on #217
@damiankay - copy and paste the code into one Thimble project or several and then publish for the URLs. If you put all of the activities into one project as separate pages, the URL for each will be the stem + /nameofthefile. If you put each activity into its own project, the URL for the overview will be the stem + /#overview.

[2016-09-10 20:49] damiankay commented on #187
Fantastic - closing this down then. Thx!

[2016-09-10 20:49] #187 closed, assigned to shaghdoosti

[2016-09-10 20:51] damiankay commented on #217
Super - thanks @chadsansing !

@ScottDowne - is this something you could take on this week?

[2016-09-10 20:56] damiankay opened #337 "Maker Party: Find web portal screencaster"
Detailed description of work:
Hi @a-kilroy - can you suggest a few people we could reach out to on the participation team to create the screencasts for the events portal onboarding video? I think you said that you might have some potential leads.

Thanks

_Start date: September 12, 2016_
_Due date: September 12, 2016_

CC: @geroter @ldecoursy

[2016-09-10 21:05] damiankay commented on #332
Ping - any suggestions on a launch time?

Adding @jendc123

[2016-09-11 06:44] TheoChevalier commented on #84
Hi, just a couple notes on potential mistakes I found while translating

“Facilitation: Making people feel welcome and excited to angage.” -> should be engage, I suppose :)

Also, wondering if this string was just a comment on the Gdoc and should not have been added to the copy https://pontoon.mozilla.org/fr/mozilla-advocacy/Copyright%20Petition/?string=154863

[2016-09-11 07:44] TheoChevalier commented on #84
 + There might be an unwanted repetition of together here “Together we can amplify our organizations’ work together on copyright reform, reach and engage new audiences and create events that are relevant to your region, country or city.”

[2016-09-11 16:05] ScottDowne commented on #84
Angage is a typo. I can fix in a bit. It's also very possible there are
strings in there that were not clear from the Google doc. I can double
check in a bit too.

[2016-09-11 18:12] ScottDowne commented on #84
Updated the first two issues (The typo needs to go through review, so expect that done Monday), I'll let someone else comment on the double usage of together, as the fix feels a little less objective. @damiankay

[2016-09-12 12:25] KevZawacki commented on #319
This work now includes an embargo (videos, Post Crimes) with TechCrunch. We need to:
- [x] Share videos with reporter
- [ ] Provide reporter with Post Crimes walkthrough
- [x] Pin down precise launch/promotion date of assets, as to honor embargo

This all needs to be done before EOD 9/16, so I'm temporarily bumping up the milestone on this ticket.

[2016-09-12 12:37] KevZawacki commented on #247
Hi @damiankay, now awaiting review from Andrea. Not urgent, so we can definitely push the milestone -- will do so now.

[2016-09-12 14:08] TheoChevalier opened #338 "Some people don’t understand what a meme is"
Hi,

We’ve got feedback from French-speaking Firefox users who’ve seen the snippet on about:home and did not understand what a meme (mème in French) is and thought we made a typo. I figured you might be interested in knowing that or would have ideas on how we can improve the situation.
Or maybe we’re okay if those people don’t get it? I don’t know.

mème is an anglicism, and the only translation p

[2016-09-12 16:13] natalieworth commented on #257
hey @brettgaylor —when you download the final music file, can you post/ link to it here and I'll add it to the next final/draft update for export :)

[2016-09-12 16:47] brettgaylor commented on #257
@natalieworth voila https://drive.google.com/open?id=0B0bF99sa1fRJSDNSRHl3dWJJSGc

[2016-09-12 16:48] brettgaylor commented on #338
I like "Internet meme", which we actually use in the "meme jail" video.  This also helps from a legal perspective as it covers both the uses of creation and distribution of those images.

[2016-09-12 16:48] ldecoursy commented on #145
If this is a survey for all Maker Party attendees, 270 has planning doc here: https://docs.google.com/document/d/1p1BVUXIZnUgByyAUxceVLMSOyGj5NtNjtY6V8R_yQuY/edit#heading=h.hridd9hf41l4

Here's a version specifically for Maker Party hosts: https://docs.google.com/document/d/14U0nbfeoXuDWl9hpMbv_v0GUIwGJYf3vx17bchhNiyk/edit#

[2016-09-12 17:09] brettgaylor commented on #321
This is approved

[2016-09-12 17:09] #321 closed, assigned to KevZawacki

[2016-09-12 17:17] ScottDowne commented on #145
Is this expected to have the pages done on the 16th, and I guess localized too? Or just a decision made as to what we're going to build.

It's a serious tight timeline to have this done by the 16th, given decisions need to still be made, and then built and localized, along with everything else we're doing.

[2016-09-12 17:31] damiankay commented on #146
Planning for afternoon EST Sep 20th

[2016-09-12 17:32] ScottDowne commented on #217
@damiankay I think so, yes. Which would you consider a higher priority, this or https://github.com/MozillaFoundation/Advocacy/issues/145

[2016-09-12 18:24] KevZawacki opened #339 "Arrange press embargo"
This ticket will help us get everything in order for the TC / Phase 2 embargo opportunity.

Current plan of action + dates below. @brettgaylor, let me know if something seems amiss.
- [x] EOD Tuesday, Sept. 13: Send links + pws for all three videos to reporter.
- [ ] EOD Wednesday, Sept. 14: Settle on time (before end of week) for Brett and Kevin to screenshare Post Crimes with reporter
- [x] Clea

[2016-09-12 18:28] ScottDowne commented on #146
@damiankay dunno if we need a ticket for this, and also don't know if there is anything actionable on my end. I have issues that I need resolved before we can launch on the 20th, but those are tracked separately. So can we either close or reassign this to someone if there is something actionable on for example @cadecairos 's end?

[2016-09-12 18:33] cadecairos commented on #146
I've got an open Bugzilla bug to purchase the domain BZ link here: MozillaFoundation/mofo-devops-private#28

[2016-09-12 18:47] damiankay commented on #146
Sounds good. Let's close this one.

[2016-09-12 18:47] #146 closed, assigned to ScottDowne

[2016-09-12 18:50] damiankay commented on #217
@scottdowne I think your assessment of priorities is bang on:
#81
#217
#326
#145

[2016-09-12 19:44] damiankay commented on #145
Hi @ScottDowne  - those are great questions. I would say that the survey doesn't need to be complete until we launch. We're also finalizing the best format for the surveys (in terms of technology) so sit tight on this for now.

In the meantime, we should really figure out whether these need to be localized. @ldecoursy do you know?

[2016-09-12 19:49] ldecoursy commented on #145
I'd assume so, but going to loop 270 in too (not sure github usernames so will email them). Do you know what our resources are to translate responses by chance? ;)

[2016-09-12 19:56] damiankay commented on #145
@ldecoursy great question. I think that having the surveys localized in time for the Maker Party launch will be a big challenge, to be honest.

[2016-09-12 20:00] damiankay commented on #84
@HPaulJohnson would you mind looking at the comment on repetition above from @TheoChevalier ?

[2016-09-12 20:18] smartinez270 commented on #145
I think we will want to have standardization in questions asked across maker parties, so I'm not sure we need a lot of localization (if i'm understanding this correctly).  If it is possible to add a drop down field to the survey that indicates which Maker Party an individual attended would be great for analyzing results by party.

[2016-09-12 20:21] ldecoursy commented on #145
@smartinez270 This is also a question about whether or not we need the survey translated into the priority languages aside from English.

[2016-09-12 20:28] smartinez270 commented on #145
@ldecoursy Ah gotcha.  Yes, we'd want this translated into the priority languages.

[2016-09-12 20:32] damiankay commented on #145
@ldecoursy @smartinez270 if that's the case we should finalize the copy for the post-sign-up survey asap. We might need to look into using our external contractor vs. L10n as time will be very tight, but I can check in with them once we have copy finalized.

[2016-09-12 20:45] smartinez270 commented on #145
Given we want to move as fast as possible to finalize, what is the rough timeline for translation?

[2016-09-12 20:56] damiankay commented on #81
Hi @lovegushwa @natalieworth @beccaklam

The Maker Party pages on learning are ready for an initial look by the creative team. Can you please review the pages and flag any issues for @ScottDowne below before EOD today?

Please note that the links are not in place, and Scott still needs some images in 1x and 2x (you'll see which ones are missing).

Pages to review are here:
- https://learning.mofos

[2016-09-12 20:58] HPaulJohnson commented on #84
Good catch @TheoChevalier, let's remove the second instance of together. So, this should be the final string:

"Together we can amplify our organizations’ work on copyright reform, reach and engage new audiences and create events that are relevant to your region, country or city."

[2016-09-12 21:04] damiankay commented on #145
@smartinez270 there's no set timeline for a given localization. We prefer to involve our localization community whenever possible, but they work on a large range of projects within MoFo and MoCo, so there's the base time required for translation, plus the issue of prioritization. There is also a process that includes an initial translation, peer review, and final adjustments, so I'd say that it's

[2016-09-12 21:19] damiankay commented on #84
Thanks @HPaulJohnson

@ScottDowne can you please edit the string as per Paul's suggestion above?

[2016-09-12 21:27] damiankay opened #340 "Maker Party: Set up SSL for Nationbuilder pages"
Detailed description of work:
@cadecairos - Nationbuilder has requested that we follow the steps on the following pages to set up our SSL for the Maker Party pages on NB. Can you please have a look and confirm that these are the correct steps when using a custom domain?
- https://3dna.nationbuilder.com/saml_with_nationbuilder_sso
- http://nationbuilder.com/integrate_single_sign_on_with_your_nation

[2016-09-12 21:29] stephaniemcv opened #341 "Copyright Email 1 KICKER QA"
Detailed description of work: Please review copy, links, images and rendering in emails. GB,DE,ES,FR,PL and put comments/edits in this ticket.

_Start date: September 12, 2016_
_Due date: September 13, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-12 21:35] cadecairos commented on #340
I got in contact with NationBuilder last Friday and had them enable SSO for our nation.

I've gotta file a servicenow request to continue setting it to work with OKTA. My understanding is that once it's set up, all mozillafoundation and mozilla emails in the system will require SSO for login. other accounts will use regular nationbuilder account logins.

[2016-09-12 21:36] cadecairos commented on #340
... But I don't see what that has to do with SSL on maker party? did you mean SSO?

[2016-09-12 21:37] damiankay commented on #340
You're amazing - thank you @cadecairos !

I imagine we'll need an SSL cert for our custom domain that will point to the Maker Party pages living on Nationbuilder. Please ping me if I'm confused (wouldn't be surprised).

Thanks

[2016-09-12 23:35] brettgaylor commented on #257
get high rez images for the texture elements

FOR NATALIE
:01 fade sound in
:07 - timelapse images are too static / too square of a composition- jazz this up!
:15 - zoom (scale) the laptop and ipad shots
keep CTA on screen till :36 and change to mozilla with the note

FOR BRETT
:19 “gif”
:25 sound goes down

[2016-09-13 00:04] brettgaylor commented on #257
Also - his "track down the people who do" should occur over his face - so don't cut to the next shot till :25.

[2016-09-13 00:39] brettgaylor commented on #257
Jordan suggested we needed a little bit more punch to proceed the "ridiculous" line, so we should add the shot of the woman being arrested.

Start that clip at the :02 mark so you see the cop arriving, and have it last till at least :05.  Then start the CSI: GIF animation over top of that.  Just cut the scene of the scientists in the lab.

[2016-09-13 01:02] TheoChevalier commented on #338
Thanks, Brett 👍  I’ve updated a few strings on Pontoon. That should be enough to close this

[2016-09-13 01:02] #338 closed, assigned to nobody

[2016-09-13 01:06] lovegushwa commented on #81
@ScottDowne @damiankay

Looking great overall.

To much space above "what is maker party" Can you make the spacing similar to the mozilla clubs page? (same issue on host resources page.)
![screen shot 2016-09-12 at 5 41 25 pm](https://cloud.githubusercontent.com/assets/12228435/18458050/9e53d42a-7912-11e6-9f36-6b866f9f0e1f.png)

Can you use the same heading style for makerparty activites as whats

[2016-09-13 01:39] cristina-moon commented on #135
Hi @valianttry and anyone else -- is there a specific date we want people to host parties? Or a date range? How about ideal # of attendees? And finally, can we name some of the partners (I'd need a list of them, if so)?

[2016-09-13 02:23] ldecoursy commented on #135
Events between launch and end of November.
Ideally 30-50 attendees
@shaghdoosti Have you heard of any confirmed, committed partners? I know we're close!

[2016-09-13 04:44] valianttry commented on #335
awesome @KevZawacki I accepted your edits. I've confirmed with legal that we won't be promoting vote.org in any channels other than snippet.

[2016-09-13 04:56] valianttry commented on #341
@stephaniemcv I noticed a couple of issues:
- We didn't update the number of signatures in the English version to be translation, so it has been literally translated from "X amount of people signed on" in our target locales.
- The sentence "Please click here to sign the petition." and the correspondending translations should be linked to the petition.

I'll ask Kontextor to fix the "X amount of pe

[2016-09-13 10:54] a-kilroy commented on #340
Can we change the name of this ticket to SSO?

[2016-09-13 12:01] KevZawacki commented on #339
Hi @brettgaylor, I believe we have all our videos ready to share? :-)

[Explainer](https://vimeo.com/181158635)
[CSI: GIF](https://vimeo.com/182474169)
[Meme Jail](https://vimeo.com/181569229)

If the above linked versions are the latest, I'll go ahead and share with our reporter this morning / afternoon.

[2016-09-13 12:03] KevZawacki commented on #319
Pitching update: Raegan notes the proposal will likely be released this week, not next. In which case we'll lead with Denelle's blog (this week) and publish Katharina's as planned (next week).

cc @HPaulJohnson

[2016-09-13 12:03] KevZawacki commented on #233
Publishing update: Raegan notes the proposal will likely be released this week, not next. In which case we'll lead with Denelle's blog (this week) and publish Katharina's as planned (next week).

[2016-09-13 13:32] geroter commented on #145
Jumping in to say that we could also pay for translation and then have
community reviewers. This is not expensive.

On Mon, Sep 12, 2016 at 11:04 PM, Damian Kuehn notifications@github.com
wrote:

##

George Roter
Head of Core Contributors, Participation

irc: geroter  |  skype: geroter
Cell - Germany: +49 172 714 2439
Cell - USA: +1 650.210.6953
<650%20308%208443>

[2016-09-13 14:31] ScottDowne opened #342 "Copy activities to Thimble so they can be easily forked and localized"
Detailed description of work: Filed from https://github.com/MozillaFoundation/Advocacy/issues/217

I believe I need to copy the code from a bunch of maker party activities and put it into thimble.

_Start date: September 13, 2016_
_Due date: September 14, 2016_

CC: @HPaulJohnson @chadsansing @damiankay

I also don't have a list of the activities in one spot. Could that be clearly defined in one r

[2016-09-13 14:32] ScottDowne commented on #217
I created a new issue with something a bit more actionable, as I felt this was more of a meta ticket to discuss what we should do, a lot of which isn't going to be done. So to reduce confusion, we've dumped this history and now moving us to https://github.com/MozillaFoundation/Advocacy/issues/342

[2016-09-13 14:32] #217 closed, assigned to flukeout

[2016-09-13 14:33] chadsansing commented on #342
@ScottDowne - how's this?
- https://chadsansing.github.io/eu-maker-party-sample-activites/activity01-meme-around.html
- https://chadsansing.github.io/eu-maker-party-sample-activites/activity02-contribute-to-the-commons.html
- https://chadsansing.github.io/eu-maker-party-sample-activites/activity03-startup-salon.html
- https://chadsansing.github.io/eu-maker-party-sample-activites/activity04-dont-br

[2016-09-13 14:34] ScottDowne commented on #342
@chadsansing amazing! thank you.

[2016-09-13 14:34] cadecairos commented on #340
So this ticket doesn't have anything to do with the SSO stuff I'm trying to set up. As for SSL for makerparty, once I have the domain I'm waiting on I  will point it at NationBuilder, then we need to ask them to set it up with SSL.

[2016-09-13 14:35] chadsansing commented on #342
@ScottDowne - cool. Conversely: https://github.com/chadsansing/eu-maker-party-sample-activites

[2016-09-13 15:04] brettgaylor commented on #339
CSI: GIF still has more work to do.  We'll try and get you a cut by this
aft.

On Tue, Sep 13, 2016 at 5:01 AM, Kevin Zawacki notifications@github.com
wrote:

[2016-09-13 15:12] ScottDowne commented on #342
@chadsansing @HPaulJohnson @damiankay Done.

The source lives here:
https://thimble.mozilla.org/en-US/user/scott/499655

Links to the actual projects are here:
https://thimbleprojects.org/scott/99495/activity01-meme-around.html
https://thimbleprojects.org/scott/99495/activity02-contribute-to-the-commons.html
https://thimbleprojects.org/scott/99495/activity03-startup-salon.html
https://thimbleproje

[2016-09-13 15:12] #342 closed, assigned to ScottDowne

[2016-09-13 16:00] valianttry opened #343 "Complete approval process for vote.org snippet text"
Detailed description of work:
Text for approvals is here: https://docs.google.com/document/d/1nQACMOf1jquvePx7_O2nMVJbfHzKZM1jF-QiVGmvWG0/edit

andrea is wrangling approvers. Copy drafting bug was #335

_Start date: September 13, 2016_
_Due date: September 19, 2016_

CC:

[2016-09-13 16:01] valianttry commented on #335
closing this. approval bug is #343

[2016-09-13 16:01] #335 closed, assigned to valianttry

[2016-09-13 16:05] damiankay commented on #145
Thanks @geroter - we're working with Kontextor for some other localizations. I'm CC'ing @valianttry as she's the main point of contact.

@smartinez270 @ldecoursy when do you anticipate we'll have approval on the survey copy?

[2016-09-13 16:08] damiankay commented on #340
Awesome - thanks @cadecairos

Any updates on the domain purchase? Would you mind checking in on progress?

[2016-09-13 16:12] valianttry commented on #145
@geroter we've already used a company called Kontextor for a lot of copy -- either as drafters, reviewers, or both depending on the need. We have been having weekly join meetings about localization for Copyright work with L10N leadership (Flod and / or Peiying), and Kontextor project managers assigned to our account. So far we've been paying for Kontextor out of the Foundation's budget on a standa

[2016-09-13 16:18] damiankay commented on #342
Awesome! Thanks @ScottDowne (& @chadsansing )

[2016-09-13 16:23] damiankay commented on #342
@ldecoursy I'm guessing you'll need these links to the Thimble-based activities for the Maker Party host pack.

CC @HPaulJohnson

[2016-09-13 16:29] damiankay commented on #251
@geroter I'd started this ticket, but closed it recently as there was no movement and so I assumed it wasn't necessary.

Who would be the best person to own this?

CC @a-kilroy

[2016-09-13 16:30] ldecoursy commented on #342
@damiankay I think we'll just link to the Maker Party landing page - the activities will live there, right?

[2016-09-13 16:35] damiankay commented on #342
Yes they will @ldecoursy - sounds good

[2016-09-13 16:50] valianttry commented on #334
@lovegushwa these were due today, but we have a little whiggle room. Do you know when you might be able to share some designs?

[2016-09-13 17:08] lovegushwa commented on #334
@valianttry ... @natalieworth has some time tomorrow. We have 7 other v2 petition snippets were knocking out today so glad Natalie can provide some assistance.

[2016-09-13 17:16] #316 closed, assigned to nobody

[2016-09-13 17:17] lovegushwa opened #344 "Poster Images for v2 petition site"
Detailed description of work:
Create larger hero poster image for explainer video.
Create poster images for CSI gif and meme jail. All images should be @ 1x and @ 2x.

_Start date: September 13, 2016_
_Due date: September 14, 2016_

CC: @brettgaylor @beccaklam @natalieworth  @damiankay

[2016-09-13 17:19] lovegushwa commented on #344
@beccaklam can you add the 1x and 2x dimensions for the hero poster and inline content poster images here:

[2016-09-13 17:22] lovegushwa commented on #344
@natalieworth you are the poster master. Can you create posters OR if you don't have time provide links to high res videos and @beccaklam can make them?

[2016-09-13 17:25] stephaniemcv commented on #134
@ldecoursy has provided a spreadsheet of contacts to me. There were 76 unique emails in the file.
Of those, there are 54 emails already in SalesForce but only 8 emails are in SalesForce AND marked as subscribed to the Maker Party list.

Because the 54 are in SF we should have their opt-in/opt-out preferences and because they have a history of Maker Party I can subscribe them to the current list. F

[2016-09-13 17:26] lovegushwa commented on #201
@working on this today. Will post some designs this afternoon.

[2016-09-13 17:36] valianttry commented on #134
Let's set up a different bug for "transactional" emails (automated emails for registrants and hosts). Let's keep this bug for "invitations and calls for hosts and registration".

@stephaniemcv are you saying you can target an existing list in SFMC of ~1600 Maker Party people? We shouldn't go through the pain to add 22 individuals to Salesforce, it's really too much work for limited gain. @ldecours

[2016-09-13 17:45] damiankay opened #345 "Maker Party: Launch plan"
Detailed description of work:
Align on launch plan and make sure resources are in place across teams to ensure synchronized launch of the following:
1. Maker Party pages on learning.mozilla.org
2. Maker Party pages on Nationbuilder
3. Activities in Thimble pages
4. On-boarding materials & Host pack

The common understanding is that we will deploy all of these to production / public-facing pages on

[2016-09-13 17:46] damiankay commented on #332
Closing this in favour of : #345

[2016-09-13 17:46] #332 closed, assigned to damiankay

[2016-09-13 17:53] hannahkane commented on #345
cc @alanmoo

[2016-09-13 18:02] valianttry commented on #318
This is happening again, screenshot below: (Chrome on Mac)

![error_and_mozilla_foundation](https://cloud.githubusercontent.com/assets/9830371/18485400/7def9202-79a1-11e6-836f-f52bef823e4f.png)

[2016-09-13 18:02] damiankay commented on #345
CC @KevZawacki

[2016-09-13 18:04] damiankay commented on #318
Thanks @valianttry

@jendc123 @gholme4 can you please look into this right away?

[2016-09-13 18:10] damiankay commented on #139
Closing this. I'll circulate updated QA process for team review later today.

[2016-09-13 18:10] #139 closed, assigned to damiankay

[2016-09-13 18:29] valianttry commented on #341
@stephaniemcv is it hard to make the header images clickable to the petition? If we can let's do that. No need for a resend because all messages are approved!

PL is 👍
FR is 👍
ES is 👍
EN is 👍

[2016-09-13 18:34] damiankay commented on #235
Confirming that the social login is being removed.

Unfortunately, they are not able to change miles to KMs. It's a limitation of the embedded map technology that is built into Nationbuilder.

[2016-09-13 18:34] #235 closed, assigned to damiankay

[2016-09-13 18:44] jendc123 commented on #318
Hi @valianttry @damiankay ,

We made an update and share is working again.

Cheers,
Jennifer

[2016-09-13 18:46] valianttry commented on #318
@jendc123 do you have any idea why it reverted? I worry we need to be doing ongoing QA if things are breaking on an ongoing basis and we're not sure why. Did something happen on the back end that we can use as a trigger for QA in case something broke? Thanks!

[2016-09-13 18:58] kpars270 commented on #145
@damiankay We're planning to have final recommendations/draft by Friday EOD. @ldecoursy can you advise on approval timing? It might make sense to loop Sara for her approvals wizardry.

[2016-09-13 18:59] valianttry commented on #341
DE is 👍

[2016-09-13 19:00] ldecoursy commented on #145
I think we'll need @geroter on approvals since @shaghdoosti is at a Fellows offsite this week :)

[2016-09-13 19:09] jendc123 commented on #318
The URL in NationBuilder didn't match what was in the Facebook app setting.
Did anyone on your end change the Facebook app setting?

On Tue, Sep 13, 2016 at 2:46 PM, Andrea Wood notifications@github.com
wrote:

##

Jennifer OReilly Mott
VP, Account Management | Fission Strategy

skype: jenoreillymott

twitter: @ http://www.twitter.com/fissionstrategyjenoreilly

jennifer_@fissionstrategy.com http:/

[2016-09-13 19:24] damiankay commented on #145
@valianttry noted that we've used SurveyGizmo in the past for surveys

@ldecoursy @geroter

[2016-09-13 19:26] damiankay commented on #318
@cadecairos @ScottDowne do you know if the Facebook app for sharing the Copyright Petition was edited at all on our end?

[2016-09-13 19:53] ScottDowne commented on #145
Any thoughts on user google forms for this? Make one fore each language?

[2016-09-13 20:00] valianttry commented on #145
@ScottDowne we should just use SurveyGizmo, and ask Flod at L10N the best way to localize (they usually set process depending on the type of content and amount of text). We have used Google forms but I would consult with them.

I have not used SurveyGizmo for non-EN surveys so it is worth inquiring how SurveyGizmo works with localization.

[2016-09-13 20:09] geroter commented on #145
I can do final approval on content next week as Lainie suggested.

For tool/implementation, let's go with lowest friction :)

[2016-09-13 20:14] stephaniemcv commented on #341
Excellent! I will schedule this to send tonight, at midnight PST

[2016-09-13 20:50] cristina-moon commented on #135
First draft of the email here: https://docs.google.com/document/d/1TiwEl_pmwSSf5YUt2GjGfj9BfPebJBLgGbHQ2GYM-aw/edit?usp=sharing

Next steps: Feedback from @shaghdoosti and @valianttry  :)

[2016-09-13 23:51] damiankay opened #346 "Petition V2: Confirm snippet launch date"
Detailed description of work:
Fission is behind schedule, and needs some additional time to integrate all of our V2 designs. I've discussed this with @brettgaylor and @lovegushwa and they are OK with the following staged rollout plan:
- Sep 20: We launch with new styling and content, including media
- Sep 22: We launch the updated form and complex animations

Snippet launch date is not confirmed y

[2016-09-14 01:34] cadecairos commented on #340
@damiankay It's been purchased!

[2016-09-14 01:56] cadecairos commented on #340
@damiankay just an FYI, we can share out `makerparty.community` as the url, but because of the limitations of NationBuilders custom domain capabilities, the site will ultimately need to live at `www.makerparty.community`

[2016-09-14 02:09] cadecairos commented on #340
Also, I'm ready to get in touch with NationBuilder to set up the URL for makerparty with SSL, I'll do that tomorrow.

[2016-09-14 03:04] natalieworth commented on #334
@valianttry @lovegushwa Was able to get a start on these with rough ideas mocked up in the redpen here: https://redpen.io/p/ohb3c000d278d82b8a

[2016-09-14 03:06] natalieworth commented on #344
@lovegushwa @beccaklam  I can do this while I'm working on exporting the videos! 👍

[2016-09-14 06:22] damiankay commented on #340
That's great! Thanks @cadecairos

So, I'm guessing that we'll just redirect `makerparty.community` to `www.makerparty.community`

Seems so strange that NB doesn't support the URL without a subdomain.

[2016-09-14 11:03] KevZawacki commented on #346
Comms isn't dependent on snippet, so OK by me if they launch separately.

@damiankay, to clarify: The videos + Post Crimes would be live on changecopyright.org late PT on Tuesday, Sept. 20, and we could pitch Wednesday, Sept. 21? Thanks!

[2016-09-14 13:53] beccaklam commented on #344
@lovegushwa @natalieworth
The Desktop/Tablet inline video dimensions:
1X - 240 x 150
2X - 480 x 300
The Mobile inline video dimensions:
1X - 290 x 200
2X - 580 x 400

Hero Poster Dimensions:
1X -
Mobile: 320 x 439
Tablet: 768 x 896
Desktop: 1200 x 612

2X:
Mobile: 640 x 878
Tablet: 1536 x 1792
Desktop: 2400 x 1224

I'll work on the hero posters this morning :)

[2016-09-14 14:08] cadecairos commented on #340
I've emailed Dana asking her to kickoff the setup process for SSL on the custom domain.

[2016-09-14 14:27] damiankay commented on #346
@KevZawacki yes, that's correct RE videos and Post Crimes live on the 20th. I'm going to have another conversation with Fission today and will provide a more detailed update / explanation & solid assurance, but that's what they communicated to me.

[2016-09-14 14:30] beccaklam commented on #344
@lovegushwa @natalieworth I put the files and exports on the drive in this folder: https://drive.google.com/drive/folders/0BzuBOR2VJQqUaWFmM1JzeVZuakE?usp=sharing. I did the hero image posters and the inline posters for _A Meme Is Born_ (not sure if the crop is what we're looking for though maybe @natalieworth should take a look and see if it can be improved).

[2016-09-14 15:28] KevZawacki commented on #319
Denelle's blog posted [here](https://blog.mozilla.org/blog/2016/09/14/commission-proposal-to-reform-copyright-is-inadequate/).
Katharina's on track for Sept. 21.

[2016-09-14 15:29] KevZawacki commented on #233
Blog 2 approved and [published](https://blog.mozilla.org/blog/2016/09/14/commission-proposal-to-reform-copyright-is-inadequate/).

Revising Blog 3 this week based on new developments.

[2016-09-14 16:56] damiankay commented on #346
@KevZawacki Fission has confirmed that we'll be able to start our QA on the morning of Sep 19. It's much tighter than I'd hoped (QA was supposed to start tomorrow), but all of the new content and media should be live on Sep 20.

[2016-09-14 17:02] ScottDowne commented on #326
@lovegushwa no monthly checkbox?

[2016-09-14 17:06] natalieworth commented on #329
Final Files for the subtitled versions are here in MOV and MP4 format (852x480/ 16:9 aspect ratio):
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0eHNLMGFCSVh6NUE

[2016-09-14 17:09] natalieworth commented on #317
Updated file (containing the end card designs) for this is here:
After Effects: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0ZWhkTlpvTnBVX2s
Illustrator: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0U3pUeGlnQTg1NVE

[2016-09-14 17:09] #317 closed, assigned to natalieworth

[2016-09-14 17:13] lovegushwa commented on #201
v2 snippet designs: https://redpen.io/p/rz561278e5fb3ca36f
updating a few details as per @HPaulJohnson feedback.

[2016-09-14 17:19] damiankay opened #347 "Petition V2: Add videos to Amazon"
Detailed description of work:
Our Petition V2 videos need to be hosted on Amazon.

_Start date: September 14, 2016_
_Due date: September 15, 2016_

CC: @brettgaylor @simonwex

[2016-09-14 17:20] brettgaylor commented on #347
We should have google drive links to share with you tomorrow, Chris.

[2016-09-14 17:28] KevZawacki commented on #346
@damiankay Sounds good! Thanks for the updates.

[2016-09-14 17:31] natalieworth commented on #344
poster options for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dkN0ZG56QWpZMzQ

[2016-09-14 17:42] damiankay commented on #331
From Fission: Based on the KPIs (100,000 petition signatures, and 300 events with about 40/50 attendees each) we can anticipate up to 300,000 API requests.

CC @drewmoto

[2016-09-14 17:42] damiankay commented on #337
Lucy has connected us with an interested volunteer from the UK

[2016-09-14 17:42] #337 closed, assigned to a-kilroy

[2016-09-14 17:43] natalieworth commented on #279
All final exported files for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-14 17:43] #279 closed, assigned to natalieworth

[2016-09-14 17:43] damiankay commented on #318
This has been fixed again.

[2016-09-14 17:43] #318 closed, assigned to ScottDowne

[2016-09-14 17:43] natalieworth commented on #257
All final exported files for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-14 17:43] #257 closed, assigned to brettgaylor, natalieworth

[2016-09-14 17:43] natalieworth commented on #226
All final exported files for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-14 17:43] natalieworth commented on #226
All final exported files for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-14 17:43] #226 closed, assigned to natalieworth

[2016-09-14 17:44] natalieworth commented on #278
All final exported files for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-14 17:44] #278 closed, assigned to natalieworth

[2016-09-14 17:44] damiankay commented on #346
@HPaulJohnson can you update and close this ticket when we've settled on a snippet launch date with the snippet team? Thx

[2016-09-14 17:44] natalieworth commented on #280
All final exported files for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-14 17:44] #280 closed, assigned to natalieworth

[2016-09-14 17:45] natalieworth commented on #309
Pokemon won! Closing, but feel free to reopen if any needs to be added/ changed.

[2016-09-14 17:45] #309 closed, assigned to natalieworth, vojtechsedlak

[2016-09-14 17:45] natalieworth commented on #281
All final exported files for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-14 17:45] #281 closed, assigned to natalieworth

[2016-09-14 17:47] damiankay commented on #207
Hey @vojtechmzl - as per #346 we are launching Petition V2 in two stages.

Sep 20 we launch initially with new content, but the existing form design
Sep 22 we add the new form and additional complex animations

Is it possible to add testing around the two forms to compare how they perform?

[2016-09-14 17:48] damiankay commented on #344
Great! Can I share this link with Fission @natalieworth ?

[2016-09-14 17:55] brettgaylor commented on #258
Closing - no longer using amara

[2016-09-14 17:55] #258 closed, assigned to nobody

[2016-09-14 18:05] stephaniemcv commented on #134
Yes, there is an existing list of ~1600. These are emails that came from
BSD and were assigned MakerParty as their subscription based on probably
even associated as decided by Adam and Jess.

MLN has a seperate list of ~129,000. This audience has gotten used to the
monthly newsletter, I would be interesting to see how they react to a
one-off email. In terms of communication we should also put the

[2016-09-14 18:09] ldecoursy commented on #134
@stephaniemcv If you can share the 22 emails I can reach out :)

[2016-09-14 18:25] damiankay opened #348 "EU Websites: EU Cookie law compliance"
Detailed description of work:
EU websites are required to gain permission from users to set cookies in their browser. This can be 'implied consent' which may be covered by our privacy policy, but we should at least mention "cookies" in our privacy link. With our public stance on privacy and tracking, we should probably be more explicit about it.

[Read more here](http://ec.europa.eu/ipg/basics/leg

[2016-09-14 18:51] valianttry commented on #348
@damiankay can you link to the ticket where we are documenting the cookies and changes we plan to make? Related work i suspect.

[2016-09-14 18:53] damiankay commented on #348
@valianttry it's here: https://github.com/MozillaFoundation/mofo-devops-private/issues/30#issuecomment-247099205

It's a private repo, so not sure that everyone has access

[2016-09-14 19:57] lovegushwa commented on #201
updated designs here: https://redpen.io/p/vj5adf39fbc68618a4

[2016-09-14 20:08] HPaulJohnson commented on #201
Submitted to snippet team for feedback. I'll let you know what they think! Thanks, all.

[2016-09-14 20:15] KevZawacki commented on #339
Latest: All videos sent to Natasha. We've asked her to confirm whether or not she's interested in the embargo by COB.

[2016-09-14 21:25] beccaklam commented on #334
@valianttry @lovegushwa @natalieworth Here are some more ideas! https://redpen.io/p/wa90946297a316bcae I also put my files up on the drive here: https://drive.google.com/drive/folders/0B20-0lpP23c0ODlsUk15d3g0LVE?usp=sharing

[2016-09-14 21:53] natalieworth commented on #344
@damiankay hey sorry just saw this, yes! @lovegushwa should we confirm the one your using?

[2016-09-14 21:55] damiankay commented on #344
It's ok @natalieworth - I think I should wait until all of the assets are ready

[2016-09-14 22:00] natalieworth commented on #344
poster options for MEME:JAIL are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0WGhiYTNuZlhDd3c

[2016-09-14 22:06] brettgaylor opened #349 "iFrame embed of form only"
Detailed description of work:
We are building a microsite for this campaign that needs to embed the form for our petition.

It feels like it will be burdensome and bad UX to embed the entire site at changecopyright.org - is it possible to embed only the petition via a URL?

Or, within the CMS, is it easy for us to spin up a page that _just_ has the petition?

Any help appreciated here!

[2016-09-14 22:13] natalieworth commented on #344
And final poster options for the 1st video are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0c2hUaVNMQTNOaWs

[2016-09-14 22:13] natalieworth commented on #344
https://redpen.io/p/urf0c9384cfd0967dc

[2016-09-14 22:17] damiankay commented on #349
Flagging this for @jendc123 and @gholme4

[2016-09-14 22:20] gholme4 commented on #349
@damiankay @brettgaylor Hi. We could accomplish this using the same page with some creative JavaScript and CSS.

[2016-09-14 22:21] damiankay commented on #269
QA Process:
https://docs.google.com/document/d/17YLBbksS2-tCJKssZ7Yc3Bw2tYf9DyUtbb6n9perFtY/edit#
Once I've received and worked in the team's feedback, I'll add this to the wiki

Pre-launch spreadsheet:
https://docs.google.com/spreadsheets/d/1FZ9r_zsjBJzQNqkaqxmIGfcBtgruSxmdirKF5a_4pFM/edit#gid=806708194

Draft Test Plan:
https://docs.google.com/document/d/148N6AOzR-52Gm93yYdzpXUdQf3i-7jpakmIdeZHp

[2016-09-14 22:22] brettgaylor commented on #349
Thanks for the fast response, @gholme4 !

Could you help me co-ordinate tomorrow w/ the developers building that site?  Would we use a standard `<iframe>`embed?

[2016-09-14 23:35] gholme4 commented on #349
@brettgaylor Of course. I can talk to those developers. What I have in mind involves JavaScript inserting an iframe dynamically.

[2016-09-14 23:40] natalieworth commented on #328
Final MOV and MP4 files for the meme jail video are here (with subtitles: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0UUJteGlkRUlpUVE

English/ Version with no subtitles: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0QVVleDItT1V2ckU

[2016-09-14 23:42] natalieworth commented on #330
Final Assets for Meme Jail video are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0RVd2V2RWbzI2QjA

Final Assets for CSI:GIF are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0dEJSM3A5U0VNUjg

[2016-09-15 04:33] lovegushwa commented on #344
@damiankay https://drive.google.com/drive/folders/0B2qu3ExKWIlveERLaXdDM1RULWc?usp=sharing
Not super happy with how these work under the large play button so we may need to tweak in QA (probably give the play button some transparency or change the scale.) ... Should be good enough to get Fission building.

[2016-09-15 04:54] damiankay commented on #344
Thanks @lovegushwa - sorry you're not happy with them! We'll figure it out.

[2016-09-15 14:00] beccaklam commented on #334
@valianttry @lovegushwa @natalieworth I've added the Natalie's designs to the redpen: https://redpen.io/p/wa90946297a316bcae for you to share with the snippet team Andrea!

[2016-09-15 15:15] KevZawacki commented on #319
@HPaulJohnson @brettgaylor

I've updated Katharina's upcoming blog to reflect yesterday's developments.

Might you be able to take a look and offer thoughts before the end of the day? Then: off to Lucile and Raegan, then Katharina. And published Sept. 21.

[Latest draft](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit#bookmark=id.pr0mwbpd9r1g).

[2016-09-15 18:41] ScottDowne opened #350 "Figure out how to get a snippet for en-IN in English but using INR currency"
Spinoff from https://github.com/mozilla/donate.mozilla.org/issues/959

Background: India has a large number of English speakers, and en-IN is the locale code for English in India. Key here is it's in English, but INR currency. We have a form for this: https://donate.mozilla.org/en-IN/ with the correct currency and everything.

Issue: we just need to figure out how to get the snippet too know that

[2016-09-15 19:25] KevZawacki opened #351 "Write rapid response video script"
Draft script [here](https://docs.google.com/document/d/1pXMKnwTUkoOtmMSIYtBJrHR2sOqZf0sxtMrYmjZPh3s/edit).

Includes copy, possible graphics, suggested music. Currently localized into EN, DE, FR, and ES. (Polish agency only translated select portions of the blog, so we don't have PL source material.)

If we need to shorten, we can drop scene 6.

@brettgaylor @natalieworth

[2016-09-15 20:37] #251 closed, assigned to damiankay

[2016-09-15 20:38] damiankay commented on #269
Will re-open or create a new ticket if/when we need to revise

[2016-09-15 20:38] #269 closed, assigned to damiankay

[2016-09-15 20:38] damiankay commented on #160
Moved to wiki

[2016-09-15 20:38] #160 closed, assigned to damiankay

[2016-09-15 20:39] damiankay commented on #135
Just flagging that 270 Strategies has requested a chance to review the email copy @shaghdoosti @valianttry

[2016-09-15 20:41] damiankay commented on #244
@shaghdoosti is this still something that we hope to do? If so, would @caltrider be a good person to lead the discussion?

[2016-09-15 20:44] damiankay commented on #128
@drewmoto is this a requirement for Copyright campaign > SFDC integrations? If not, I'd like to close this issue, as it seems like it's more of a general user data document.

CC @a-kilroy @vojtechmzl

[2016-09-15 20:45] damiankay commented on #127
Hi @vojtechmzl - assigning this one over to you. If you've covered this in other tickets please feel free to close.

[2016-09-15 21:29] #344 closed, assigned to natalieworth

[2016-09-15 21:33] lovegushwa opened #352 "Updates to Makerparty event resources and activities"
Detailed description of work:
Small updates to https://learning.mozilla.org/en-US/events/resources before launch on the 20th.

_Start date: September 16, 2016_
_Due date: September 19, 2016_

CC: @damiankay @HPaulJohnson

[2016-09-15 21:33] damiankay commented on #331
Lifecyle Marketing / Salesforce team actually needs estimated **daily** volume at launch **and** ongoing for **campaigns and events**. This means that we need to factor in not only Maker Party, but the Petition and any other integrations.

Our KPI for the Petition is 100K signatures. Are there any other integrations that I'm not aware of?
@shaghdoosti @valianttry @vojtechmzl

CC @drewmoto @jendc12

[2016-09-15 21:38] damiankay opened #353 "Maker Party: Engage DEG to set up email triggers"
Detailed description of work:
Hi @stephaniemcv - could you please contact DEG to see if they can set up the email triggers for Maker Party as per our meeting today?

[Email triggers reference](https://docs.google.com/spreadsheets/d/1GWc5r4ughhsnlw_YVuZeo-CPMl9m2xaXUVCkPYeLEEA/edit#gid=543547330)

_Start date: September 15, 2016_
_Due date: September 22, 2016_

CC: @valianttry @shaghdoosti

[2016-09-15 21:45] damiankay commented on #352
Reminder that we'll need to localize these in Tier 1 languages. Thx

[2016-09-15 21:58] chrislarry33 commented on #352
@damiankay what will be the process and deadline for getting them localized?

[2016-09-15 21:58] HPaulJohnson commented on #352
Updates to Activities Section:
- Remove the following activities:  Hack a business plan, Don't break the Internet, Startup Salon and Copyright Forum.
- Add two new activities: Post Crimes and Super Party

Final copy for final (4 activities):
1. "Post Crimes: Highlight the absurdity of outdated copyright laws through this fun activity that let’s you create slightly rebellious selfies and send them

[2016-09-15 22:00] damiankay commented on #352
@chrislarry33 - we can either leverage the L10n community or use our external agency. Given the fact that we have a week of testing, I'd suggest L10n, depending on when the activities are ready.

I would think our deadline is Sep 23

[2016-09-15 22:31] damiankay commented on #353
CC @a-kilroy @geroter

[2016-09-16 01:43] #341 closed, assigned to stephaniemcv

[2016-09-16 01:50] stephaniemcv opened #354 "Copyright: create copy for postcard emails"
Detailed description of work: @cristina-moon
Will create email based around collateral provided by @brettgaylor with CTA to watch video
**Send Date: 10/13**
_Start date: September 16, 2016_
_Due date: September 30, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-16 02:00] stephaniemcv commented on #353
Need some specifics to kick off the project with DEG. Are these expected to be text or html emails? If html, has there been a template designed that we can create code around? ETA when text would be finalized?

[2016-09-16 02:17] damiankay commented on #353
I think @shaghdoosti might know the answers to those questions...

[2016-09-16 02:21] damiankay commented on #179
Adding the URL for the Gantt chart for reference: https://advocacy-gantt.mofoprod.net/

[2016-09-16 02:24] damiankay commented on #324
Hey @valianttry & @cadecairos

I've tried the staging and prod links for the Gantt chart, and neither works. Can you investigate please?

New Gantt chart: https://mozilla-advocacy-gantt-pr-1.herokuapp.com/
We’ll ship it to https://advocacy-gantt.mofoprod.net/

[2016-09-16 02:32] chrislarry33 commented on #244
Any reason why we dont just use existing activities?

[2016-09-16 07:49] geroter commented on #353
1) HTML

2) We don't have a design for these -- @damiankay  ... should be super-simple. Could you get a designer to spend a bit of time on this?

[2016-09-16 13:36] ldecoursy commented on #352
Thanks @HPaulJohnson - just updated the activity slide in the partner deck to reflect the language above.

[2016-09-16 14:08] valianttry commented on #247
@beccaklam

[2016-09-16 15:00] beccaklam commented on #334
@valianttry @lovegushwa @natalieworth Hi Andrea, I've exported the icons of the redpens above ^. You can find them in a folder here: https://drive.google.com/drive/folders/0BzuBOR2VJQqUeElxWWVueGRpMnc?usp=sharing

[2016-09-16 15:56] damiankay commented on #353
@stephaniemcv - does DEG also usually create the designs? Or do we give them a basic template and they take it from there?

[2016-09-16 16:02] stephaniemcv commented on #353
We usually give them a PSD file. Then they build the code around that. If it's just some logo or color change to something we already have, I can do that.

[2016-09-16 16:04] stephaniemcv commented on #353
Here is some documentation DEG recently put together: https://docs.google.com/presentation/d/1CVrg7W7p_PLStQnlM8uLi-AN2ogZgzXedl5Ez2fCbCY/edit#slide=id.p

[2016-09-16 16:13] damiankay commented on #353
Thanks very much @stephaniemcv .

@lovegushwa - do any of our designers have bandwidth for this today / early next week?

[2016-09-16 16:23] damiankay opened #355 "Scope work required to move SF integrations to Basket"
Detailed description of work:
Investigate whether it makes sense to move to Basket by first scoping work required.

Damian to set up a scoping meeting with the following stakeholders:
@pmclanahan has been identified as the most knowledgeable Re Basket
@ScottDowne to represent Advocacy
@drewmoto to represent Lifecycle Marketing

See #80 for background reading

_Start date: September 19, 2016_
_Due

[2016-09-16 16:43] cristina-moon commented on #353
@shaghdoosti assigned me to write the first drafts of the triggered email copy and I'm to deliver them by COB on Monday 9/19. Does that work for you @stephaniemcv @damiankay ?

[2016-09-16 16:50] damiankay commented on #353
Yes, thanks @cristina-moon . We can start working on the templates independent of the copy.

[2016-09-16 16:53] damiankay opened #356 "Maker Party: Build basic HTML email template"
Detailed description of work:
We need to build an HTML email template for the triggered emails that will be sent to Maker Party hosts and attendees. We can just use placeholder copy as it's still being developed.

Here is some documentation DEG recently put together: https://docs.google.com/presentation/d/1CVrg7W7p_PLStQnlM8uLi-AN2ogZgzXedl5Ez2fCbCY/edit#slide=id.p

See #353 for reference

_Start

[2016-09-16 16:58] vojtechsedlak commented on #324
I am happy to look into this today @damiankay, I am working out of the SF office.

[2016-09-16 16:59] damiankay commented on #81
Closing as we're now in QA

[2016-09-16 16:59] #81 closed, assigned to ScottDowne, lovegushwa

[2016-09-16 16:59] #266 closed, assigned to damiankay

[2016-09-16 17:08] brettgaylor commented on #330
Final assets for A Meme Is Born!!!
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0NkJBd00wVkNUYmc

[2016-09-16 17:18] stephaniemcv commented on #353
👍

[2016-09-16 17:19] HPaulJohnson opened #357 "Maker Party: Setup email for press and support inquiries"
Detailed description of work:
The "Press" and "Contact Us" links on the new Maker Party pages need somewhere to point to. In each case, we'll point to email addresses.

In the case of support/contact us, we have an existing email makerparty@mozilla.org. Just need to hunt down credentials and hook it into Desk.com. @shaghdoosti & @chrislarry33 to figure out who will be managing this support queue d

[2016-09-16 17:40] damiankay opened #358 "Copyright Petition: Optimize for faster load times"
Detailed description of work:
Our Petition page on Nationbuilder is currently rating very poorly in terms of load times. Some of this is no doubt due to Bablic, but we should take any measures possible to reduce load times, as it affects the effectiveness of our paid social and organic search

@cadecairos @ScottDowne - can you identify what measures can be taken to optimize the page load?

_Start

[2016-09-16 18:24] damiankay commented on #266
The script for the onboarding webinar can be found here: https://docs.google.com/document/d/1L75MdBQrUzJenD72CB1SBUXzn1T4zrFv4S9-8N05oTs/edit#heading=h.hv0xjutl7osi

[2016-09-16 18:40] brettgaylor commented on #330
@HPaulJohnson This spreadsheet is being updated with appropriate formats for each platform
https://docs.google.com/spreadsheets/d/1rmqeIJq1vMDFsI0sicu7XdVwkLDur-rerTPb3rjFyko/edit#gid=0

[2016-09-16 18:48] #327 closed, assigned to brettgaylor, natalieworth

[2016-09-16 18:48] #328 closed, assigned to brettgaylor, natalieworth

[2016-09-16 18:52] ldecoursy commented on #357
cc @lucyeoh

@HPaulJohnson can you confirm if it's @mozilla.org or @mozillafoundation.org? We'll list that email in the host pack.

[2016-09-16 19:19] natalieworth commented on #334
@beccaklam Thanks so much for taking this over! Going to close this issue—but feel free to reopen if you need to make any changes :D 👍 💯

[2016-09-16 19:21] #329 closed, assigned to brettgaylor, natalieworth

[2016-09-16 19:21] natalieworth commented on #330
@HPaulJohnson Spreadsheet is complete! Label mov-format/ mp4-format and posted facebook, youtube, and instagram (after scrolling down the page): https://docs.google.com/spreadsheets/d/1rmqeIJq1vMDFsI0sicu7XdVwkLDur-rerTPb3rjFyko/edit#gid=0

[2016-09-16 19:39] ScottDowne commented on #358
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.changecopyright.org%2F&tab=desktop

So, based on that, we're getting an 80/100 for desktop and 59/100 on mobile. It's also a list of things that can speed up our page.

So we should consider fixing red for desktop and/or our mobile, depending on our metrics.

Figuring out which red tasks are reasonable in NationBuilder i

[2016-09-16 19:45] ScottDowne commented on #358
For Desktop:

Below the fold page blocking resources. This may be huge. A thing I notice almost right away is this page's above the fold is nothing but CSS to make the whole page grey, while it translates. So all css and js can be loaded in async (or at the bottom of the page), which should shave off quite a bit of time. It means we'll get to the act of loading the translations much sooner.

We sh

[2016-09-16 20:35] ScottDowne opened #359 "Impact of L10N on the fundraising campaign"
Find our data around currency, l10n, and revenue impact.

Then figure out how we can celebrate that.

Move from https://github.com/mozilla/donate.mozilla.org/issues/1334

_Start date: September 16, 2016_
_Due date: Jan 1, 2017_

CC: @vojtechmzl

[2016-09-16 20:40] ScottDowne opened #360 "Implement winning privacy policy variant"
Looks like there is more work to the privacy policy from legal and a test can still be done.
- [ ] We have a small tweak to make to the language from legal:

^ Note the slightly different text and the addition of a link to the Mozilla Privacy Policy.
- [ ] We can now also the footer text "We use Stripe for credit card processing. For more information see their Privacy Policy."

Migrated from https

[2016-09-16 20:41] HPaulJohnson commented on #357
@ldecoursy unless you know, i'm trying to track down confirmation from Amira. In blog posts from 2015, it is listed as makerparty@mozilla.org so that's what i'm assuming it is.

For press inquiries we are going to use the main press@ for all of Mozilla, which is press@mozilla.com

[2016-09-16 20:42] ScottDowne opened #361 "We are downgrading monthly donors auto-magically :("
Detailed description of work:

Migrated from https://github.com/mozilla/donate.mozilla.org/issues/1090

My amount and the highlighted button location changes when I select an amount, then click monthly. Like this:
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11728937/9c92b1ac-9f5a-11e5-987f-67e2325faa53.png)

Then I click "monthly" and I see this

[2016-09-16 20:44] ScottDowne opened #362 "Add user's name to thank you page"
Detailed description of work: Migrated from https://github.com/mozilla/donate.mozilla.org/issues/1052

When we submit a donation, we have the user's name, and we can easily enough display it in the thank you page: "thank you Scott for your donation"

_Start date: September 16, 2016_
_Due date: Jan 1, 2016_

[2016-09-16 20:46] ScottDowne opened #363 "A/B Test: move frequency radio buttons above amount buttons"
Detailed description of work:

Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/1033

Possibly related: https://github.com/mozilla/donate.mozilla.org/issues/1090

We should run a test for this: https://donate.mozilla.org/en-US/?test=frequency-move-test

_Start date: September 16, 2016_
_Due date: Jan 1, 2016_

[2016-09-16 20:47] ScottDowne opened #364 "Add "check your email for confirmation" language after signing up for email"
Detailed description of work: Migrated from https://github.com/mozilla/donate.mozilla.org/issues/1008

We've been getting some emails from some people confused by our ET double opt-in email. We should add language that tells people to expect a confirmation email in their inbox!

_Start date: September 16, 2016_
_Due date: Jan 1, 2016_
Note: The dates need to be exactly in the format indicated abov

[2016-09-16 20:48] ScottDowne opened #365 "Make it easy to turn off stripe or paypal in an emergency"
Detailed description of work:

Migrated from https://github.com/mozilla/donate.mozilla.org/issues/961

This might be an automatic thing, or maybe not, whatever works.

If paypal or stripe go down, let's not lose money.

_Start date: September 16, 2016_
_Due date: Jan 1, 2016_

[2016-09-16 20:51] valianttry opened #366 "Finalize EOY Email Production Schedule"
Detailed description of work:
We need to develop a detailed EOY fundraising email schedule including production timelines, Locales, and approvals; etc.

Copy of Last Year's schedule ready to edit:
https://docs.google.com/spreadsheets/d/1lCpUiBe5B19SASA53CRpkzTK7hrBnxRANTT0kkRZDGo/edit#gid=4

_Start date: September 19, 2016_
_Due date: September 23, 2016_

CC: @stephaniemcv

[2016-09-16 20:55] ScottDowne opened #367 "Setup Paypal micropayments account"
Detailed description of work:

Migrated from https://github.com/mozilla/donate.mozilla.org/issues/870

Status, we should have the account good to go, but it never got setup in time.

We have a breakpoint, where the charge on a donation is higher or lower, depending on which account to go to.

So figure out that breakpoint, by looking at historical data.

Then implement the breakpoint in our donati

[2016-09-16 20:57] ScottDowne opened #368 "update CSP directive frame-src to child-src"
Detailed description of work:

Migrated from https://github.com/mozilla/donate.mozilla.org/issues/860

`Content Security Policy: Directive 'frame-src' has been deprecated. Please use directive 'child-src' instead.`

https://github.com/mozilla/donate.mozilla.org/blob/39faade3fcacc8371b766dd25bc1906ee7914579/server.js#L232

_Start date: September 16, 2016_
_Due date: Jan 1, 2016_

[2016-09-16 20:57] valianttry opened #369 "Decision: Re-use Dapper Fox for EOY branding, or send him to an island paradise far far away?"
Detailed description of work:
I already started this conversation with @lovegushwa but we need to make decisions soon about EOY branding and design aesthetic.

_Start date: September 1, 2016_
_Due date: October 14, 2016_

![pino_berrocal_on_twitter___i_just_donated_to__mozilla__because__ilovetheweb__how_about_you__https___t_co_8eloy3qnwe_https___t_co_lnwxrtqp6u_](https://cloud.githubusercontent.co

[2016-09-16 20:58] ScottDowne opened #370 "Shrink donate.mozilla.org main.js"
Currently main.js is 121KB gzipped over the wire, and 522KB once decompressed on the client. Is it possible to shrink main.js by removing dependencies, splitting code, different minification, or anything else that might help?

Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/827

_Start date: September 16, 2016_
_Due date: January 1, 2017_

[2016-09-16 20:59] ScottDowne opened #371 "Could we include the Font Awesome CSS and/or google fonts on our own CDN?"
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/824
Same the Open Sans font, could we do it locally? Maybe even strip out icons we're not using?

_Start date: September 16, 2016_
_Due date: January 1, 2017_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-16 21:04] valianttry opened #372 "Snippet test idea: Letter from Mozilla to you, the donor"
Detailed description of work:
The longer the text, the more people donate. Testing has proven this time and again. What if we literally wrote a "note to Firefox users" from Mozilla that was more "letter like"? Below is an example of the longest snippet text we've used, which is already "letter like". This snippet is our highest performing snippet evar.

_Start date: September 1, 2016_
_Due date: N

[2016-09-16 21:04] ScottDowne commented on #371
I'm going to consider this ticket: https://github.com/mozilla/donate.mozilla.org/issues/823

As part of the goal to this one.

[2016-09-16 21:05] valianttry commented on #372
Some of the copy @KevZawacki  is working in the #247 could be useful.

[2016-09-16 21:07] ScottDowne opened #373 "Improve the IT donation form"
Migrated from https://github.com/mozilla/donate.mozilla.org/issues/816

In order to do this, we have some UI or l10n issues.

![snippet17](https://cloud.githubusercontent.com/assets/197334/11225221/05367e94-8d47-11e5-867d-1a8802fe1ff1.png)

The currency dropdown falls to the next line, and the text is pretty long.
![snippet18](https://cloud.githubusercontent.com/assets/197334/11225252/2c4657f2-8d4

[2016-09-16 21:09] ScottDowne opened #374 "compare supported stripe currencies and paypal currencies"
If there is anywhere they don't match, consider disabling the paypal or stripe button, depending.

PayPal: https://developer.paypal.com/docs/classic/api/currency_codes/

PayPal supported currencies, we already accept most of these.

We are already pretty much using this list.

Stripe: https://support.stripe.com/questions/which-currencies-does-stripe-support

From there, US can accept Group 1 and G

[2016-09-16 21:10] ScottDowne opened #375 "Implement transaction fallback in donation form"
Migrated from https://github.com/mozilla/donate.mozilla.org/issues/393

Follow on from #302

We have a collection of simple HTML pages that don't require server side functionality to process transactions.

These are in the existing repo, and have the url slug `paypayl-donate`:
- e.g. https://donate.mofostaging.net/en-US/paypal-donate/

As part of our build/deploy process, we want to publish a dupl

[2016-09-16 21:11] ScottDowne opened #376 "Custom thank you email for Paypal donors"
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/359

On our old system we send a thank you email for Credit Card donors via BSD, and the majority of donors using PayPal only receive the PayPal default transaction email.

We should use Salesforce for this, ideally.

_Start date: September 1, 2016_
_Due date: September 2, 2016_

[2016-09-16 21:12] valianttry opened #377 "DRAFT EOY Fundraising email series for EU audience"
Detailed description of work:
Given all the outgoing communications about the Copyright Campaign in the EU, we should at least mention Copyright in our EOY fundraising appeals to that audience.

_Start date: November 1, 2016_
_Due date: November 10, 2016_

[2016-09-16 21:14] ScottDowne opened #378 "Stripe as a fallback without server side"
Came up in https://github.com/mozilla/donate.mozilla.org/issues/302

Can we accept Stripe donations without a server in a fallback situation. Maybe backlog and process the backlog later.

_Start date: November 1, 2016_
_Due date: December 20, 2016_

[2016-09-16 21:15] ScottDowne opened #379 "Do we have dashboards for the engineering metrics we care about?"
Migrating from https://github.com/mozilla/donate.mozilla.org/issues/296

... what are those? (page load time from X regions? total page size?)

This question is from the tech review.

We have bits of this data in various places.
- [ ] Team decide which metrics we care about and list in this bug
- [ ] Maybe a dashboard, or a central doc with links to the necessary places (depending on effort vs val

[2016-09-16 21:22] ScottDowne opened #380 "Test donations and receipts for tax purposes"
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/89

_Start date: September 1, 2016_
_Due date: September 2, 2016_

[2016-09-16 21:24] valianttry commented on #377
**Examples of past fundraising appeals**

Encryption Campaign Fundraising email 1 of 1:
https://docs.google.com/document/d/1n7PkKT75hLcNzfwkb1ljaWESXSKI96Utn2vqgVOj-Ms/edit

EOY 2015 Fundraising Email Appeals Series:
https://docs.google.com/document/d/18eaF4c0eFR-5kyMGNIAQXRhCTIzprDWooWuoXYfRQO0/edit

[2016-09-16 21:26] ScottDowne opened #381 "An Indian donor can't use PayPal, suggests Payza or Neteller"
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/904

I believe he is in India.

https://www.payza.com/
https://www.neteller.com/

Worth researching for the future.
![donation_to_mozilla_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11316740/42678302-8fc8-11e5-9296-72f972e53d3f.png)

_Start date: September 1, 2016_
_Due date: S

[2016-09-16 21:32] ScottDowne opened #382 "Secure a vendor for tax receipting for every check donation"
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/1204

See complaint here:

![welcome____firefox_input](https://cloud.githubusercontent.com/assets/9830371/12062403/d5cf8df4-af50-11e5-9ba1-c1f1cd5a0692.png)

_Start date: September 1, 2016_
_Due date: September 2, 2016_

[2016-09-16 21:34] ScottDowne opened #383 "Possible to offer yearly donation option?"
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/1044

I'm seeing a few requests to donate "yearly" -- is this possible with Stripe? How hard would this be to do for dev?

![yearly_donation_possible_or_in_euros__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11581888/570c76b2-99fc-11e5-803a-ad7ca6146f91.png)

Sort of like this:

[2016-09-16 21:37] valianttry opened #384 "Test Idea: Try 2 amounts + "donate" button vs. 3 amounts on the snippet"
Detailed description of work:
We floated the idea to reduce the options for amount on the snippet donation UX. Could be awesome 🚀

_Start date: September 19, 2016_
_Due date: November 10, 2016_

CC: @ScottDowne

[2016-09-16 21:39] stephaniemcv opened #385 "Review UX for EN"
Detailed description of work:
Go through donor support UX from FAQ (https://wiki.mozilla.org/Donate ) to emailing for assistance

_Start date: September 19, 2016_
_Due date: September 30, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC: @valianttry

[2016-09-16 21:42] valianttry opened #386 "Test idea: Add the word "Donate" to the payment method buttons"
Detailed description of work:
@stephaniemcv gets some emails from people who say "Where's the donate button?" on our form because they don't intuitively know to click on the "Credit Card" or "PayPal" button.

﻿﻿
![cursor_and_donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/18602079/b9bea508-7c34-11e6-8e8e-e92501491f2e.png)

_Start date: September 25, 2

[2016-09-16 21:44] ScottDowne opened #387 "Mail completed Thank You cards to donors e.g. "Ship It""
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/553

Not sure where this was left, but from the legacy ticket we have:

Let's mail these 250 - 300 handwritten thank you cards to donors! To do:
- [ ] Order correct sized envelopes (cards are a standard size, not hard)
- [x] Identify a vendor to hand-address and stamp the cards (Andrea suggests TaskRabbit and has asked Michael to

[2016-09-16 21:46] valianttry opened #388 "Test idea: Surface "donate by check" on the form more"
Detailed description of work:
We received over 2000 checks during EOY 2015. We still get Qs in Desk.com about it. If it doesn't hurt conversion we should test to see if it's helpful / reduces this inbox question frequency.

![cursor_and_donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/18602188/6b34ef68-7c35-11e6-9a40-655432e71aed.png)

_Start date: Sep

[2016-09-16 21:46] stephaniemcv opened #389 "Review UX for L10N"
Detailed description of work:
Go through donor support UX from FAQ (https://wiki.mozilla.org/Donate ) to emailing for assistance for Tier One languages

Start date: September 19, 2016
Due date: September 30, 2016
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC: @valianttry

[2016-09-16 21:47] ScottDowne opened #390 "Could we reduce the number of fonts we use?"
Because load time. Migrated from https://github.com/mozilla/donate.mozilla.org/issues/829

[2016-09-16 21:48] ScottDowne opened #391 "Example of encouraging monthly giving"
Check out what happens when you select 'monthly' on Khan Academy's donation form:

<img width="1262" alt="screenshot 2015-12-03 13 51 16" src="https://cloud.githubusercontent.com/assets/1901816/11562290/015b1d40-99c5-11e5-9c2f-10a29113d49a.png">

<img width="1333" alt="screenshot 2015-12-03 13 50 59" src="https://cloud.githubusercontent.com/assets/1901816/11562293/0571bf06-99c5-11e5-9fef-d8a4e1efb

[2016-09-16 21:48] valianttry commented on #388
We also talked about making the wording more friendly, e.g. "Want to know about other ways to give?" vs. "Problems donating?"

[2016-09-16 21:49] ScottDowne opened #392 "Design a dev edition snippet"
As part of the Spectacular Snippet https://github.com/mozilla/donate.mozilla.org/issues/560 design work, we came up with a couple fun options for a dev edition snippet. This is out of scope for EOY 2015, but parking it here in Bluesky in case a future opportunity arises.

*\* Note that everything in the 2 designs below is conceptual only. We did not polish the copy or design.**
![screenshot 2015-1

[2016-09-16 21:51] ScottDowne opened #393 "Write copy for thank you before donation variant"
Migrated from: https://github.com/mozilla/donate.mozilla.org/issues/974

Need a short line of copy for this variant:
<img width="671" alt="753bcef0-7e43-11e5-9565-271d0fc74ec9" src="https://cloud.githubusercontent.com/assets/4515662/11449010/c7f186e6-951b-11e5-9968-5a0c03e42a24.png">

Please add to the copy doc here: https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/e

[2016-09-16 21:52] ScottDowne opened #394 "Localize updated FAQ text"
From https://github.com/mozilla/donate.mozilla.org/issues/437

We link to https://wiki.mozilla.org/Donate which is in all English in the German form.

[2016-09-16 21:54] ScottDowne opened #395 "Use salesforce to send receipt emails"
Migrated from https://github.com/mozilla/donate.mozilla.org/issues/935

Right now it's sawmill.

[2016-09-16 21:55] stephaniemcv opened #396 "Localizations of FAQ"
Detailed description of work: Once tickets #385 and #389 are complete, then hand off collateral to L10N for translation.

_Start date: October 1, 2016_
_Due date: October 17, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-16 21:55] ScottDowne opened #397 "Setup a simple self-service way a donor can request a duplicate receipt"
One request we get in the donate@ inbox is "I can't find my receipt. Can you send me a new one for my tax preparation?"

User story:
"As a donor, I want to request a duplicate receipt be sent to me by email."
1) We should provide instructions on how to do this in PayPal; and
2) We should provide a "click here for duplicate receipt" simple interface or even just a URL we put in our FAQ and provide

[2016-09-16 21:58] ScottDowne opened #398 "Snippet Test : input CC right on snippet"
Migrated from https://github.com/mozilla/donate.mozilla.org/issues/369

Look into what needs to be done to get a stripe/paypal button on the snippet.

[2016-09-16 21:59] valianttry opened #399 "Test idea: Re-order donate form elements based on channel"
Detailed description of work:
Given the snippet audience already selects "amount" on the snippet, can we create a donate form for that audience especially that has the payment method buttons at the top of the form instead of amount?

![cursor_and_donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/18602451/3b498136-7c37-11e6-87cf-22b0b7bf9691.png)

_Start

[2016-09-16 22:07] valianttry opened #400 "Build Spectacular Snippet"
Detailed description of work:
For the last few days of the year we normally "interrupt" Firefox users with a more robust donation ask in the snippet. It's more like a "takeover". We've done quite a bit of testing and optimization work on this and have a pretty good idea of what works. We do need to come up with early concepts, and then involve the Firefox UX team to make sure we are all happy.

We

[2016-09-16 22:18] HPaulJohnson commented on #200
Update: Final Testing plan reviewed with @vojtechmzl and @lovegushwa @beccaklam @natalieworth  today. Details are here:

https://docs.google.com/document/d/11FnCZ1gkWNRuLCIxMMk-AsABbgSTxWUnEC0uO8Dr7Dk/edit

NOTE: anything in red still has outstanding deliverables.

We are have everything we need for YouTube tests and Facebook tests A-G so we are going to ship those off for localization today and s

[2016-09-16 22:20] HPaulJohnson commented on #346
Still waiting for final feedback from snippet team on these:

https://redpen.io/p/rz561278e5fb3ca36f

Pressing to have this in by Monday (9/19) and shipped to localizers. May need to adjust the launch by a day or so to accommodate these delays.

[2016-09-16 22:24] stephaniemcv opened #401 "Localizations of Macros in Desk.com"
Detailed description of work: Submit current macro text to L10N to be localized in Desk.com

_Start date: October 1, 2016_
_Due date: October 17, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-16 22:39] natalieworth commented on #351
Thanks @KevZawacki . I'm just working on putting together a really rough (rapid? :D) cut with images this afternoon.

[2016-09-16 22:49] vojtechsedlak commented on #324
Accidentally closed this issue. @damiankay the gantt chart should be working now, I have added error reporting for git tickets that are improperly formatted (which was the cause of the gantt chart breaking).

[2016-09-16 22:57] damiankay commented on #324
Great - thanks @vojtechmzl

[2016-09-16 22:59] damiankay commented on #324
Will we be moving to the production URL, or not until you're satisfied that there won't be more changes?

[2016-09-17 04:31] valianttry opened #402 "Can we reduce the donate form copy about vendors?"
Detailed description of work:
We should revisit the copy on the donation form with legal and compliance to see if we can edit or move it, it likely reduces conversion.

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/18605942/084f5850-7c6e-11e6-85b6-c0300c8d037b.png)

_Start date: October 1, 2016_
_Due date: November 2, 2016_

CC:

[2016-09-17 04:34] valianttry opened #403 "Create a detailed QA process for donate form front-end"
Detailed description of work:
We don't have a rigorous process for QA for the donate.mozilla.org form. We need one!

@damiankay made one for websites that we might rif on.

_Start date: September 19, 2016_
_Due date: October 7, 2016_

[2016-09-17 04:51] valianttry commented on #324
When you select either "all, P1, or P2" the button doesn't maintain a new state after it is selected so you can''t discern what's selected. I sorted by "Start Date" and selected "P1" and this is what the buttons look like:

![github_issues_gantt](https://cloud.githubusercontent.com/assets/9830371/18606065/0ae99554-7c72-11e6-9524-9dc7ddd91295.png)

You should be able to see what you selected until

[2016-09-17 04:55] valianttry commented on #324
@vojtechmzl your label color is transparent. It's a color in the actual chart, but the key has a blank color for you (Firefox on  Mac):

![screen_shot_2016-09-17_at_12_53_35_am](https://cloud.githubusercontent.com/assets/9830371/18606046/65251d8c-7c71-11e6-9a89-8940b8a32fe4.png)

[2016-09-17 04:57] valianttry commented on #324
The scroll bar is doing whacky things. It's not usable (I now have tickets in Nov-Dec but can't scroll right past Nov 20. Firefox on  Mac.

![github_issues_gantt_and_desktop](https://cloud.githubusercontent.com/assets/9830371/18606054/c2b5f5e8-7c71-11e6-8e94-a71a156b4cbf.png)

[2016-09-17 12:59] stephaniemcv opened #404 "Get list of languages Saw Mill is currently creating receipts for"
Detailed description of work: @ScottDowne Can you pull a list for me of all the languges Saw Mill is supporting. And if possible what the EN text is that has been localized? Lifecycle Marketing team has requested this

_Start date: September 19, 2016_
_Due date: September 23, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-17 18:38] stephaniemcv commented on #134
FYI - There are currently ~14,600 email address who are subscribed to both MLN list and MakerParty list.

[2016-09-17 19:34] stephaniemcv commented on #134
@ldecoursy Just shared a sheet with the emails. 2nd tab

[2016-09-17 19:40] stephaniemcv opened #405 "Localize optin pop up for Tier 1 languages"
Detailed description of work: Submit standard optin pop up  to L10n for Tier 1 languages (DE, ES, FR, PL) localization

_Start date: September 19, 2016_
_Due date: September 30, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-17 19:44] stephaniemcv opened #406 "Case to Give/Impact - Infographic/online "brochure""
Detailed description of work: Create a piece with copy and design to explain to potential donors where their dollars are put to work. Would also be a good showcase to current donors to show their support has impact

_Start date: October 3, 2016_
_Due date: October 28, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC: @KevZawack

[2016-09-17 20:24] stephaniemcv opened #407 "A Thank you to delight donors in January after conclusion of the EOY campaign"
Detailed description of work: At Mozfest, create a video of staff saying thank you to our donors.
-ideas: Large group, shot from above. A selected line of people flip placards over their head that read "We _heart_ our donors!" (Something along those lines), that we can turn into an animated gif

_Start date: October 17, 2016_
_Due date: November 18, 2016_
Note: The dates need to be exactly in the

[2016-09-17 20:30] stephaniemcv opened #408 "Update Desk.com Auto Responders (all languages)"
Detailed description of work: Update copy on auto responders and have localized to include links to localized faqs. Also update trigger logic as needed.

_Start date: October 1, 2016_
_Due date: October 13, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-17 20:34] stephaniemcv opened #409 "Create Annual Summary for Monthly Donors"
Detailed description of work: Create an annual summary of of the year as a "tax" document to send to all monthly donors in January. Could be coupled with a special thank you. EN-only this first year, possible SFMC journey

_Start date: November 14, 2016_
_Due date: November 30, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-17 20:37] stephaniemcv opened #410 "Coordinate with Accounting on new process for check receipts"
Detailed description of work: Review with accounting, current process for acknowledgement communication for offline/check donations. Review receipts documents and issue triage.

_Start date: October 17, 2016_
_Due date: October 31, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-17 21:58] damiankay commented on #352
@HPaulJohnson - are the updates that you identified for the Maker Party pages on learning.moz? If so, I'd better create a ticket to add those strings for translation.

@valianttry what's the process for asking L10n to translate copy updates after a page has been 100% translated and approved?

[2016-09-17 22:02] damiankay commented on #352
@HPaulJohnson @chrislarry33 @ldecoursy can someone also point me to the actual activities?

The original decision was to not translate these, but as per our group meeting the decision was made to translate them. The L10n community is having trouble keeping up with all of the translation requests, so I'm not sure if we can expect them to handle this additional work in time for public launch.

CC @v

[2016-09-18 01:20] stephaniemcv opened #411 "Infrastructure: Self Service Donor change interface"
Detailed description of work: Research if building this kind of portal is possible in association with Stripe. We often receive requests from donors who would like to make standard changes to their recurring/monthly donations (i.e. update credit card numbers, change email addresses, change amount of donation.)

_Start date: September 19, 2016_
_Due date: October 1, 2016_
Note: The dates need to be

[2016-09-18 01:23] stephaniemcv opened #412 "Create monthly donor suppression report/segment"
Detailed description of work: Upon completion of Stripe/Paypal integration with SalesForce, create a recurring report of monthly donors to use as an excluded segment from fundraising email appeals

_Start date: November 1, 2016_
_Due date: November 15, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-18 01:27] stephaniemcv opened #413 "Infrastructure: Create localized, triggered donation confirmations"
Detailed description of work: In association with ticket #404, and Stripe/Paypal integration with SalesForce - build corresponding donations confirmations that automatically trigger once a donation is complete.

_Start date: October 1, 2016_
_Due date: October 30, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-18 01:31] stephaniemcv opened #414 "Infrastructure: Donor experience flow testing"
Detailed description of work: Review donor experience flow based on different audiences and develop testing plan.
Give - Optin- Share

_Start date: December 6, 2016_
_Due date: December 8, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC: @vojtechmzl @valianttry

[2016-09-18 01:33] stephaniemcv opened #415 "Infrastructure: EU Bank Transfer"
Detailed description of work: Work with Accounting team to find a solution for this popular donor request.

_Start date: September 1, 2016_
_Due date: October 15, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC: @valianttry

[2016-09-18 01:38] stephaniemcv opened #416 "Infrastructure: Create process to handle major donors"
Detailed description of work: In order to cultivate relationships with the donors of larger gifts we need to standardized an alert and escalation process for quick turn around on thank yous as well as identify other times of years to re-connect (not necessarily to solicit).

_Start date: October 15 , 2016_
_Due date: November 15, 2016_
Note: The dates need to be exactly in the format indicated abo

[2016-09-18 01:42] stephaniemcv opened #417 "Infrastructure: Create process to handle employee match donors"
Detailed description of work: Work with Accounting and future Support Specialist to create process, escalation and continued identification procedure for those donors who engage with employer match.

_Start date: October 1, 2016_
_Due date: November 2, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-18 21:16] lovegushwa commented on #352
@ScottDowne all the updated event resources assets are here, including new thumbs:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvczM1REhkYVV4UU0?usp=sharing

Please update everything shown in the panel below:

<img width="1043" alt="screen shot 2016-09-18 at 2 14 16 pm" src="https://cloud.githubusercontent.com/assets/12228435/18619156/367e450a-7daa-11e6-8702-27f6bbbb86c9.png">

[2016-09-18 21:26] lovegushwa commented on #352
@ScottDowne please update the "maker-party-logo.svg" file with this new file here:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvcUE1UENIcVNQOEk/view?usp=sharing

<img width="1127" alt="screen shot 2016-09-18 at 2 17 13 pm" src="https://cloud.githubusercontent.com/assets/12228435/18619179/b894192a-7daa-11e6-83bd-6be0c3250768.png">

[2016-09-19 04:11] lovegushwa commented on #356
I recommend we use one of these templates. We can add some maker party branding to the images OR add the maker party logo to the header. I'll mock something up.
<img width="796" alt="screen shot 2016-09-18 at 8 58 56 pm" src="https://cloud.githubusercontent.com/assets/12228435/18622374/1f4d000e-7de3-11e6-8bcf-d5c9766ba840.png">
<img width="797" alt="screen shot 2016-09-18 at 8 57 42 pm" src="https

[2016-09-19 12:23] KevZawacki commented on #406
@stephaniemcv I am! See #247. Very similar -- perhaps the same thing.

[2016-09-19 12:33] KevZawacki commented on #351
Next steps:  Approval.
- [x] Sign off from Chris & Raegan
- [x] Sign off from Mika (Kevin has sent)

cc @brettgaylor

[2016-09-19 12:58] KevZawacki commented on #233
Blog 3 revised and approved by Raegan and Chris. Sent to Katharina and Mika for final approval. Will publish Sept. 21, early CET.

[2016-09-19 12:59] KevZawacki commented on #339
No word from TechCrunch -- we're free to do as we like.

[2016-09-19 12:59] #339 closed, assigned to brettgaylor, KevZawacki

[2016-09-19 13:29] ldecoursy commented on #357
@HPaulJohnson I don't - I sent a test email to it on Friday but haven't heard back that anyone has received it.

[2016-09-19 13:40] LucyeoH-zz commented on #357
So at some point I believe that address went to my foundation email which
is no longer active.

Lucy

On Mon, Sep 19, 2016 at 9:29 AM, Lainie DeCoursy notifications@github.com
wrote:

[2016-09-19 13:45] ldecoursy commented on #357
@shaghdoosti @chrislarry33 Any decisions about who should manage general support queue per @HPaulJohnson's comment above? We should get the email setup ASAP.

[2016-09-19 13:59] ScottDowne commented on #352
@HPaulJohnson or @lovegushwa where are the new thumbs for the new activities? Specifically, I need 1x and 2x thumbs for post crimes and super party. If these already exist, mind pointing me at them?

[2016-09-19 14:05] ScottDowne commented on #352
@lovegushwa new maker party logo image is in eps format, which won't display in the browser. Mind converting it to an svg?

[2016-09-19 14:10] ScottDowne commented on #352
@lovegushwa I'm not at all sure what you want me to do with the logos & assets part.

You're screenshot is the current one, and the google drive links seems to be random assets and not sure where or what you want done with them.

@damiankay I updated what I ccould, which is adding new copy for l10n (it's in a review, so first it needs to be merged into the repo, then it'll be on pontoon), but bloc

[2016-09-19 14:28] brettgaylor opened #418 "Need share copy for postcrimes"
Detailed description of work: Postcrimes has twitter and facebook share buttons - but we don't yet have copy for these modals.

I don't have a final character count, but here is an example of an image that will be shared:
https://postcrimes.mofoprod.net/#!/crime/57dff5f1cc0cd200033433cd - we may be able to get away with twitter automatically shortening this?

_Start date: September 19, 2016_
_Due

[2016-09-19 15:38] #252 closed, assigned to vojtechsedlak

[2016-09-19 15:40] vojtechsedlak commented on #326
hey @ScottDowne, I am just coordinating with Wes the timeline for launching this test, so I wanted to check in on how things are looking with the building of the snippet variables. When do you think you will be able to complete the build? Thanks!

[2016-09-19 15:47] damiankay commented on #356
I think these will be great for the Maker Party emails @lovegushwa

Are you able to Maker Party-ify these today (Monday)?

CC @shaghdoosti

[2016-09-19 15:54] damiankay commented on #352
@ScottDowne are you able to merge the copy into the repo, or does it require action from someone else?

[2016-09-19 16:32] lovegushwa commented on #356
@damiankay yes, I can sort these out today.

[2016-09-19 16:50] imagerwalt commented on #331
Hey @damiankay, not sure if I'm answering the questions, but the reason we have 300,000 API requests is due to the 100,000 petition signatures and each person has three api calls, 1) check if the user exists in order to prevent double entries, 2) insert or update user 3) add user to campaign.

The only other one that I'm aware of is the Maker Events. That will trigger three api calls per person, 1

[2016-09-19 16:56] damiankay commented on #331
Thanks @imagerwalt . I think the issues is they need a daily estimate. It sounds like @vojtechmzl is probably the one to provide that. We'll multiply his number by 3 to get your estimated API calls.

Vojtech, can you please give us a daily estimate of Petition signers? And if possible, Maker Party hosts / RSVPs?

[2016-09-19 17:01] ScottDowne commented on #352
@damiankay it's waiting on review from Alan.

[2016-09-19 17:02] KevZawacki commented on #418
Hey, how about:

**Twitter** (This character count assumes a link + image are shared, too):

I sent a selfie to European Parliament to #fixcopyright. You can, too. Join me & @Mozilla: [LINK] [IMAGE]

**Facebook**:

I sent a rebellious selfie to European Parliament to fix copyright. You can, too. Join me and Mozilla. Stand up for copyright reform: [LINK] [IMAGE]

[2016-09-19 17:08] vojtechsedlak opened #419 "Figure out GA setup for V2 Petition"
Detailed description of work: Ensure that GA is properly implemented on the V2 petition site, including custom events.

_Start date: September 19, 2016_
_Due date: September 20, 2016_

[2016-09-19 17:09] vojtechsedlak opened #420 "Figure out GA set up for Maker Party"
Detailed description of work: Make sure that GA is properly implemented on both NB and on learning.mozilla.org to ensure proper traffic metadata handoff. Add custom events.

_Start date: September 19, 2016_
_Due date: September 30, 2016_

CC: @damiankay

[2016-09-19 17:11] damiankay commented on #340
Done - thanks @cadecairos

[2016-09-19 17:11] #340 closed, assigned to cadecairos

[2016-09-19 17:11] HPaulJohnson commented on #418
wfm, @KevZawacki

cc:// @damiankay for localization, etc.

[2016-09-19 17:18] damiankay commented on #352
@shaghdoosti are these through review yet?

@chadsansing - do you have links to the new activities?

[2016-09-19 17:27] ScottDowne commented on #326
@vojtechmzl I don't have a time for you, I'm just doing it asap, but secondary to maker party and petition work.

If things go the way they are, probably by the end of the week.

If you need it by a certain time, let me know, and we can talk.

For how things are looking, I have a good stab at it, but it's not done yet, needs QA, and needs to go through review still.

[2016-09-19 17:33] chadsansing commented on #352
No - got a hold from @chrislarry33 who didn't seem sure these would be in the same format (in the curriculum template) given their new formatting. They only exist as docs at present.

[2016-09-19 17:34] natalieworth commented on #330
Here's the documented changes filed in the 2 bugzilla tickets from our localizers:
https://bugzilla.mozilla.org/show_bug.cgi?id=1302491
Video 2
At 0:01 "Según laley de derechos de autorde la UE" should be "Según la ley de derechos de autor de la UE" ( "laley" and "autorde" should be two separate words).
<img width="425" alt="screen shot 2016-09-19 at 9 27 03 am" src="https://cloud.githubuserconten

[2016-09-19 17:36] natalieworth commented on #330
Languages and subtitles have been updated based on the localizer's feedback:
Final files in .mov, .mp4, and Webm are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0QjBOaklOOWdkMnM
cc @damiankay @brettgaylor @cadecairos

[2016-09-19 17:39] vojtechsedlak commented on #326
Thanks for the update @ScottDowne, this is naturally less of a priority than the campaign stuff. End of the week would be great, but if this gets pushed to next week, that's fine as well.

Thanks!

[2016-09-19 17:44] damiankay commented on #135
@shaghdoosti can you confirm whether the triggered emails fall under this ticket and are in progress? And the timing? I don't see them listed in the production timeline above.

Reference: https://docs.google.com/spreadsheets/d/1GWc5r4ughhsnlw_YVuZeo-CPMl9m2xaXUVCkPYeLEEA/edit#gid=543547330

[2016-09-19 17:50] cristina-moon commented on #135
@damiankay Are you referring to the same triggered emails that DEG is setting up in https://github.com/MozillaFoundation/Advocacy/issues/353? If so, I am delivering drafts of copy by COB today.

[2016-09-19 17:51] damiankay commented on #352
Ok, thanks for the update @chadsansing

[2016-09-19 17:52] damiankay commented on #135
Yes, that's correct @cristina-moon - thanks for the update!

[2016-09-19 18:58] HPaulJohnson opened #421 "Design graphics for Maker Party Social Stunt"
Detailed description of work:
MoCo Social Team is working on a "stunt" to kickoff Maker Party promotion on 10/6. Details of this activity are here: https://docs.google.com/document/d/1w2w_F6Y2dWEIVZibVOol7zx0pRE84-EvhZScT7hf4YY/edit

Copy is being worked on at the bottom of this doc: https://docs.google.com/document/d/1Ozel0ogJS9ow-nok9B2T_5-x3rv_vpnvmRMN4hLDy3M/edit and this ticket is for 1-2 gra

[2016-09-19 19:14] HPaulJohnson commented on #357
@amirad was able to help locate access to email distro for makerparty@mozilla.org

@damiankay we should update the links on the site for both this and press using:

Press: press@mozilla.com
Contact Us: makerparty@mozilla.org

In both cases, these links should be a mailto: link and open up email window with these addresses prepopulated.

@ldecoursy we still need to identify who will monitor contact

[2016-09-19 19:17] KevZawacki commented on #351
@brettgaylor @natalieworth

All approvals in order! Let me know if I can help with anything further.

[2016-09-19 19:18] brettgaylor commented on #418
Also looks good to me.

Let me check in with young astros re: character count

[2016-09-19 19:43] damiankay commented on #357
CC @jendc123 gholme4

Please see the updated email addresses for the Maker Party site:
- Press: press@mozilla.com
- Contact Us: makerparty@mozilla.org

[2016-09-19 19:57] ScottDowne commented on #352
@damiankay I think then, we should figure out what we expect to do with the docs. I havn't seen them, but I'm guessing turning them into HTML like the rest would be ideal, but not sure if we have time at this point. I guess it depends on the complexity of the docs.

[2016-09-19 20:12] damiankay commented on #352
@chadsansing could you please send us a link to do the docs so that we can review how to deploy them to the public?

[2016-09-19 20:24] chadsansing commented on #352
Surely, though I believe 1.1.2. and 1.1.1. still need legal review, and 1.1.3. needs to be revised w/ legal's input.
- [1.1.1. Postcrimes](https://docs.google.com/document/d/1SYlvAUgnFXvcyyFiRxjkKv9w2d24FURbRM8oyQ03uhE/edit#heading=h.ucg424vhi68z)
- [1.1.2. Meme Around](https://docs.google.com/document/d/19KryggXsgF93vvmCYkNoFe7-OA60zMIOtKe4H47C7f8/edit#heading=h.fbejmkn7nsoj)
- [1.1.3. Share Your

[2016-09-19 20:50] HPaulJohnson commented on #357
We should also update the "Partner with Us" link on https://learning.mozilla.org/en-US/events to point to this:

https://drive.google.com/file/d/0B3P4kAmkrxtCXzVMZG5qUDVhX3c/view

[2016-09-19 20:53] damiankay commented on #357
@hpauljohnson would you mind adding those to the UAT spreadsheet if you're logging other comments there? Thanks!

[2016-09-19 20:57] ldecoursy commented on #357
Instead of makerparty@mozilla.org another option is pointing people to the Maker Party thread on the Mozilla Learning forum - see https://forum.learning.mozilla.org/t/maker-party-2016/1116

Thoughts @chrislarry33 @shaghdoosti @LucyeoH ?

[2016-09-19 21:09] jendc123 commented on #357
@damiankay we have updated Contact Us with makerparty@mozilla.org.  Currently we don't have a "Press" or "Partner with Us" footer item.

<img width="881" alt="footer" src="https://cloud.githubusercontent.com/assets/6034476/18649118/c7017606-7e8b-11e6-971e-6c64431e1b28.PNG">

[2016-09-19 21:09] ldecoursy commented on #134
Got it! I'll send to those folks directly when we have the final invite copy. I'll just add a note referencing their past involvement ;)

[2016-09-19 21:18] HPaulJohnson commented on #357
@jendc123 "Press" and "Contact Us" are in the footer/bottom section on these pages:

https://learning.mozilla.org/en-US/events

and

https://learning.mozilla.org/en-US/events/resources

These pages don't have the same footer but need those links updated.

[2016-09-19 21:37] natalieworth opened #422 "Rapid Response Video Production"
Detailed description of work:
Video production for the rapid response copyright video. Content from @KevZawacki  in ticket #351.

_Start date: September 16, 2016_
_Due date: September 22, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC: @brettgaylor @lovegushwa @beccaklam @KevZawacki

[2016-09-19 21:37] natalieworth commented on #422
First cut/ draft is here https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0NVYwMlBUaUJ6VVE

[2016-09-19 22:03] lovegushwa commented on #356
@stephaniemcv here are my recommended templates:

<img width="921" alt="screen shot 2016-09-19 at 2 58 54 pm" src="https://cloud.githubusercontent.com/assets/12228435/18650470/0f262b50-7e7a-11e6-9582-acafce3d159d.png">

<img width="689" alt="screen shot 2016-09-19 at 3 02 57 pm" src="https://cloud.githubusercontent.com/assets/12228435/18650485/2be3f75e-7e7a-11e6-8664-59e101e58315.png">