[2016-09-19 22:19] vojtechsedlak commented on #207
Hey @damiankay, would it be possible for both versions of the v2 action page to exist concurrently after the 22nd, so we can split the traffic in between them and thus evaluate the difference in their performance? Otherwise we will have to compare the results asynchronously, which is not ideal, but should be fine, as long as we have enough of a sample for each variant.

[2016-09-19 22:27] vojtechsedlak commented on #331
Just a quick update, Andrew is aware of the expected traffic patterns in the next bit. Vojtech will keep him posted once dates are settled for forthcoming social, snippet and email launches.

[2016-09-19 22:39] lovegushwa commented on #356
@stephaniemcv ok here are the assets you need to build the template, I'm including a general maker party branded banner image for both templates:

https://drive.google.com/drive/folders/0B2qu3ExKWIlvOVlyTkRDTXE2cVE?usp=sharing

CC @damiankay @shaghdoosti

[2016-09-19 23:43] HPaulJohnson opened #423 "v2 Petition Site QA: Behavior after playing video"
After playing video on changecopyright, the full screen takeover remains and in the case of the "A Meme Is Born" video you are left with a page full of video credits. Two options for fixing:
1. After video completes, close video player and return to petition. This is ideal.
2. Replace final frame of video with a call to action or something more branded.

Screenshot:
![postvidplay](https://cloud.gi

[2016-09-19 23:47] HPaulJohnson opened #424 "v2 Petition Site QA: Footer links need updating"
Footer links on v2 of site should be the same as existing v1 site. In particular, "Share this Site" should be removed (this goes to an old share progress page) and the privacy policy link should be updated to be consistent with existing site.

[2016-09-19 23:49] HPaulJohnson opened #425 "v2 Petition Site QA: Poster Images for videos are wrong"
The poster images for each of the 3 videos is wrong.

CSI:GIF show a "meme is born" poster image
Meme Jails shows CSI:Gif poster image
We <3 the Internet shows Meme Jail poster image.

[2016-09-19 23:51] HPaulJohnson opened #426 "v2 Petition Site QA: Volunteer check box is back on petition"
"I want to volunteer" check box is back on petition form. It should be removed as we are not asking for this option to be selected by signers.

Screenshot:
![formfields](https://cloud.githubusercontent.com/assets/10078715/18652684/3dd0e666-7e89-11e6-9733-cb58fad12d3c.jpg)

[2016-09-19 23:53] HPaulJohnson opened #427 "v2 Petition Site QA: Poptart cat takes me back to top when clicked"
Poptart/meme cat that appears when scrolling to section 2 of petition, says "Like this, check out memeland below." When I click on it I'm taken to very top of page, instead of down to Memeland section.

[2016-09-19 23:56] HPaulJohnson opened #428 "v2 Petition Site QA: Postcrimes link is broken"
When clicking on the "Let's Go" button in Memeland, for PostCrimes site, it takes me to the top of the page and not postcrimes app.

NOTE: This is likely due to Postcrimes not being live yet. Just flagging so we remember to update in final round of QA.

[2016-09-20 00:02] HPaulJohnson opened #429 "v2 Petition Site QA: Post petition signing behavior"
When I submit the petition I do not get a "a prompt to share as exists on the current changecopyright.org petition. Is this desired behavior? IMO, we should  ask for a share after the form submits.

Also, once I have submitted the form, it is pulling in my name as part of the thank-you message along with a login/out message. Is this desired behavior? I'd just say thank you without personalization

[2016-09-20 00:08] HPaulJohnson opened #430 "v2 Petition Site QA: Facebook share image"
The Facebook share on the v2 petition looks to be pulling in the image of the poptart cat with the caption "Like this? Checkout memeland below." The image gets cutoff in the FB share and the copy doesn't make sense in this context.

Can we make sure we define an alt image for FB sharing either in the button code or in the OG tags in the metadata? For now, we can use the same image as we did on v1

[2016-09-20 00:15] HPaulJohnson opened #431 "v2 Petition Site QA: Change state in petition button prevents me from signing (Chrome only)"
When filling out the petition form in Chrome, the "sign" button is below the fold.

Screenshot 1:
![step1](https://cloud.githubusercontent.com/assets/10078715/18653082/569f8050-7e8c-11e6-9af9-9a5e5e27214d.jpg)

So, when I scroll down to complete the form and hit "sign" the button changes state to the persistent horizontal "Sign the Petition" bar that when clicked takes me back to the form from ste

[2016-09-20 00:24] cristina-moon commented on #135
Links to all of the Triggered email copy drafts for Maker Parties has been dropped into the [Maker Party To Do List doc](https://docs.google.com/spreadsheets/d/1GWc5r4ughhsnlw_YVuZeo-CPMl9m2xaXUVCkPYeLEEA/edit#gid=543547330), in column H. Waiting for edits and approvals from @shaghdoosti and @valianttry

[2016-09-20 01:11] damiankay commented on #207
Hi @vojtechmzl - I'm don't think that's possible, but I'll check with Fission.

With a service like Nationbuilder, they only give us one instance to work with (not even a staging version), so I'd be surprised if we can run two instances of the site, but I'll see if this is possible.

[2016-09-20 01:51] lovegushwa opened #432 "v2 Petition Site QA: Quotes in wrong position on page"
All quotes should be between the 1st and 2nd paragraph of each section, not after the 2nd paragraph.

See redpen for correct placement:
https://redpen.io/bh9e2c7a6d82f9f458

<img width="828" alt="screen shot 2016-09-19 at 6 49 48 pm" src="https://cloud.githubusercontent.com/assets/12228435/18654979/0594f7a4-7e9a-11e6-91e9-4303bc07ed97.png">

[2016-09-20 01:55] brettgaylor opened #433 "V2 petition site QA - jerky scrolling behaviour"
Chrome, OSX 10.11.2

When scrolling, the page immediately jumps to below the "CSI: GIF" thumbnail.

A recorded screencast:
https://dl.dropboxusercontent.com/u/7968133/weirdscroll.m4v

[2016-09-20 02:57] lovegushwa opened #434 "v2 Petition Site QA: Localize Nyan Cat"
@damiankay @HPaulJohnson
We need to localize the Nyan Cat copy ...
Brett was also suggesting a copy change something like

1st cat: "Keep the internet weird"
2nd cat: "That's what I'm talking about"
@KevZawacki any thoughts here?

... so Nyan cat always always promotes what ever cool project we have going like post crimes.
For @beccaklam let's pull out the speech bubble until we have localized ver

[2016-09-20 03:01] lovegushwa opened #435 "v2 Petition Site QA: change video thumbs."
The small video thumbs are not in the correct order, starting from the 1st small thumb on the page, the order should be:

CSI Gif
![video2](https://cloud.githubusercontent.com/assets/12228435/18656144/9b45e9da-7ea3-11e6-9f8e-8a491ce274f9.jpg)

MEME JAIL
![video3](https://cloud.githubusercontent.com/assets/12228435/18656145/9df6ba9c-7ea3-11e6-81a2-fd34dc41c884.jpg)

WE <3 THE INTERNET
![video4- sam

[2016-09-20 03:03] HPaulJohnson commented on #434
@lovegushwa the existing copy was in the v2 copy deck so I assume it got submitted for localization? @damiankay handled that part so he can confirm.

If memeland makes less sense in the context of postcrimes we can/should update. But, we should have something translated and something that can be used for launch at least.

[2016-09-20 03:04] HPaulJohnson commented on #425
dupe with #435 and that one is more accurately named (thumbnails, not posters!) so closing this one.

[2016-09-20 03:04] #425 closed, assigned to nobody

[2016-09-20 03:05] lovegushwa opened #436 "v2 Petition Site QA: align created in nationbuilder to left"
Move the "created in nationbuilder" text to the left so it's alights to the Mozilla logo as shown in this image:

![nationbuilder](https://cloud.githubusercontent.com/assets/12228435/18656212/3a353708-7ea4-11e6-8990-3f7a487e2090.gif)

[2016-09-20 03:16] lovegushwa opened #437 "v2 Petition Site QA: Fix overlap of share icons on mobile"
@beccaklam we should consider turning share icons off on mobile. Copy is still readable, but I'm not sure the disruption of the icons over the text is worth it. @HPaulJohnson @brettgaylor what do you think?

![screenshot_20160919-201234](https://cloud.githubusercontent.com/assets/12228435/18656417/c4a2adca-7ea5-11e6-95ac-cf12a202dc02.png)

[2016-09-20 03:23] lovegushwa opened #438 "v2 Petition Site QA: Nyan cat overlaps quote and number 2 graphic on mobile"
Nyan cat overlaps quote and number 2 graphic. A little bit of overlap on the color circle is nice but the cat should not obstruct the "2." Probably 5 or 10 px to the left will do.

![screenshot_20160919-201234 1](https://cloud.githubusercontent.com/assets/12228435/18656519/979e5bca-7ea6-11e6-8e8e-02881b517fc5.png)

[2016-09-20 03:55] damiankay commented on #434
Hi @lovegushwa - you can find the cat copy here:
https://pontoon.mozilla.org/bg/mozilla-advocacy/Copyright%20Petition/?search=memeland&string=154853

That said, there only appears to be the first string: "Like this, check out memeland below"

[2016-09-20 04:06] HPaulJohnson commented on #437
Hmm, what's the other option besides removing :)

I think we will see more mobile traffic on v2 (paid media, channels other than snippet, etc) and, since we don't have a share CTA after you sign the petition in v2 (see issue #429), we'd basically be killing sharing for mobile visitors.

[2016-09-20 05:02] damiankay commented on #200
These have been sent out for localization @HPaulJohnson

[2016-09-20 12:18] KevZawacki commented on #422
@natalieworth This is **fantastic**!

Re: The discussion in the Media channel about a new lede. Maybe "Don't break the internet"?

[2016-09-20 12:58] KevZawacki commented on #434
@lovegushwa I like that copy!

[2016-09-20 13:41] beccaklam commented on #429
@HPaulJohnson Hey Paul, we actually discussed this with Fission as an issue about multiple users sharing the same computer. This is so multiple people can sign the petition should that be the case. In the original design of the form there is a share page... not sure why it's missing...

[2016-09-20 14:55] KevZawacki opened #439 "Upload videos to Mozilla YouTube channel"
Detailed description of work: Get all versions of videos up on YouTube, so press / regular folk can embed.
- [x] Upload all versions to [Mozilla YouTube channel](https://www.youtube.com/channel/UCltqjpqVd-IowlC-iLp91eg)
- [x] Mark as "unlisted" until 9/21
- [x] Localize video description (I pulled copy from the website)
- [x] Localize titles ("A Meme Is Born" / "Meme Jail" / "CSI: GIF") <-- @HPaul

[2016-09-20 14:58] beccaklam opened #440 "v2 Petition Site QA: Lead In Text Too Long or Missing & Body Text is wrong size and colour"
Detailed description of work:
Lead in text should on be two words.
# **No:**

![screen shot 2016-09-20 at 10 49 50 am](https://cloud.githubusercontent.com/assets/20977376/18675196/a64aa984-7f1f-11e6-85f3-6821f7eeddd5.png)
# **Yes:**

![screen shot 2016-09-20 at 10 52 35 am](https://cloud.githubusercontent.com/assets/20977376/18675318/fc33df0a-7f1f-11e6-9c13-1336ed002641.png)

Lead in text is also

[2016-09-20 15:07] beccaklam opened #441 "v2 Petition Site QA: Article Titles (H3) Design Issues (Wrong colour, weight, padding and leading)"
Article Titles (Points 1-3) have incorrect colour, font weight, padding and leading:
# **No:**

![screen shot 2016-09-20 at 10 54 03 am](https://cloud.githubusercontent.com/assets/20977376/18675900/d780b1c2-7f21-11e6-9b2b-04661491c3fa.png)
# **Yes:**

![screen shot 2016-09-20 at 10 55 28 am](https://cloud.githubusercontent.com/assets/20977376/18675956/ffa9b91e-7f21-11e6-85d4-e4ea32c6a756.png)

Col

[2016-09-20 15:11] beccaklam opened #442 "v2 Petition Site QA: Blockquotes need more leading and padding"
Increase leading and padding of blockquotes for better readability and contrast from the body text:
# **No:**

![screen shot 2016-09-20 at 11 10 40 am](https://cloud.githubusercontent.com/assets/20977376/18676155/a803433c-7f22-11e6-888c-73303e22dae6.png)
# **Yes:**

![screen shot 2016-09-20 at 11 12 38 am](https://cloud.githubusercontent.com/assets/20977376/18676191/c7d77804-7f22-11e6-9687-0783d37

[2016-09-20 15:13] beccaklam commented on #433
@brettgaylor @lovegushwa I wonder if this behavior could be corrected by always having the form/button sticky to the bottom instead of having it change midway. I don't think it would negatively affect the landing page. Thoughts?

[2016-09-20 15:17] beccaklam commented on #429
I do find this signed out modal' weird though, can we nix it? I don't think the user needs the feedback, they just need access to the form again if they are a new user:
![screen shot 2016-09-20 at 11 18 42 am](https://cloud.githubusercontent.com/assets/20977376/18676488/c4e74826-7f23-11e6-9084-64996cf7a8c7.png)

[2016-09-20 15:19] beccaklam commented on #429
I also think it looks really awkward with the thank you bar in the middle of the screen. Like I suggested in ticket #433 we should ask Fission to change all forms/bars to always be sticky to the bottom of the screen:
![screen shot 2016-09-20 at 11 18 26 am](https://cloud.githubusercontent.com/assets/20977376/18676543/f2e2b648-7f23-11e6-9e2f-89a325f3622c.png)

[2016-09-20 15:32] beccaklam commented on #434
@lovegushwa I've put the nyan cat gifs without the speech bubbles in the google drive:
https://drive.google.com/file/d/0BzuBOR2VJQqUX1lHTmRlN3ZlSnc/view?usp=sharing
https://drive.google.com/file/d/0BzuBOR2VJQqUaF9nV29jaE1TS1E/view?usp=sharing

[2016-09-20 15:35] vojtechsedlak opened #443 "v2 Petition Site QA: GA event for sidebar share buttons needs to be updated"
When user clicks the sidebar share on the action page, a GA event should be triggered. The class of the parent element has changed in V2, so the script.js file just needs to be updated to reflect the new class. Where it says `$(".share-bar a").on("click", function() {` it should now say `$(".socials-bar a").on("click", function() {`

[2016-09-20 15:42] vojtechsedlak opened #444 "v2 Petition Site QA: Add ScrollDepth Google Analytics Event"
Implement http://scrolldepth.parsnip.io/ on the petition site to get a better understanding of how people engage with the page. The src file can be downloaded from the site and the following is the implementation script:

`<script src="jquery.scrolldepth.min.js"></script>
<script>
jQuery(function() {
  jQuery.scrollDepth();
});
</script>`

[2016-09-20 15:57] beccaklam commented on #437
@lovegushwa @HPaulJohnson Yeah I agree something needs to be done, it's way too busy. My mobile is showing a thank you page after the user signs. But there should be a way for the user to share even if they don't sign or are done signing... what if we just put social at the beginning and end of the article? It would also pop up after user signs the form.
![screen shot 2016-09-20 at 11 58 51 am](ht

[2016-09-20 16:40] HPaulJohnson opened #445 "v2 Petition Site QA: Confirmation email content"
The confirmation email received after signing the petition seems broken. It reads "Here's the full petition:" and then only includes the headline. See screenshot attached.

![emailconfirm](https://cloud.githubusercontent.com/assets/10078715/18679839/2fea7520-7f16-11e6-8661-e0294f173bba.jpg)

[2016-09-20 16:54] damiankay commented on #423
@brettgaylor @lovegushwa - what do you prefer?

CC @jendc123 @gholme4

[2016-09-20 16:55] damiankay commented on #424
CC @jendc123 @gholme4

[2016-09-20 16:55] damiankay commented on #426
CC @jendc123 @gholme4

[2016-09-20 16:55] damiankay commented on #427
CC @jendc123 @gholme4

[2016-09-20 16:56] damiankay commented on #430
@natalieworth @lovegushwa can you confirm which image you want to use pls?

[2016-09-20 16:57] damiankay commented on #431
CC @jendc123 @gholme4

[2016-09-20 16:57] damiankay commented on #432
CC @jendc123 @gholme4

[2016-09-20 16:58] damiankay commented on #435
CC @jendc123 @gholme4

[2016-09-20 16:58] damiankay commented on #436
CC @jendc123 @gholme4

[2016-09-20 16:58] damiankay commented on #437
CC @jendc123 @gholme4

[2016-09-20 16:58] damiankay commented on #438
CC @jendc123 @gholme4

[2016-09-20 16:58] brettgaylor commented on #423
Ideally this would close and send users to petition sign, or failing that just close as Paul suggests

[2016-09-20 16:59] damiankay commented on #440
CC @jendc123 @gholme4

[2016-09-20 17:00] damiankay commented on #441
CC @jendc123 @gholme4

[2016-09-20 17:00] damiankay commented on #442
CC @jendc123 @gholme4

[2016-09-20 17:00] damiankay commented on #443
CC @jendc123 @gholme4

[2016-09-20 17:01] damiankay commented on #444
CC @jendc123 @gholme4

[2016-09-20 17:01] damiankay commented on #445
CC @jendc123 @gholme4

[2016-09-20 17:14] damiankay commented on #433
Related to #431

CC @jendc123 @gholme4

[2016-09-20 17:15] vojtechsedlak opened #446 "Test Idea: Donate Ask on the thank you page"
Detailed description of work: Let's test including a donate ask on the thank you page of the v2 petition. Ideally we would create a mockup of what having a donate CTA added below share buttons would look like on both desktop and mobile. The implementation would be done either via Optimizely or in collaboration with Fission.

_Start date: September 20, 2016_
_Due date: October 7, 2016_

CC: @lovegu

[2016-09-20 17:17] damiankay commented on #423
@gholme4 can you close and sent users to the Petition to sign?

[2016-09-20 17:19] gholme4 commented on #431
@HPaulJohnson What's the screen size of the computer you're working on? The problem is the form layout is too large and needs be smaller.

[2016-09-20 17:20] vojtechsedlak opened #447 "Test Idea: Adding counter to the V2 petition form"
Detailed description of work: Let's test including some type of a signature counter to the V2 petition form. At this point the idea is to figure whether the mention of existing number of signatures makes an impact on conversions. Once we get answer to that question we can play with different types of counters. Ideally we would mock up what a simple counter could look like on the v2 petition form.

[2016-09-20 17:20] HPaulJohnson opened #448 "v2 Petition Site QA: Localized video versions not showing"
English versions of videos are being served regardless of the language selected. The locale-appropriate video versions should be populated based on selected language.

[2016-09-20 17:20] damiankay commented on #297
@gholme4 this still needs to be fixed from V1

[2016-09-20 17:24] HPaulJohnson commented on #431
13 inch Mac

[2016-09-20 17:30] damiankay commented on #352
@geroter @shaghdoosti we need to resolve these asap.

Pls note that we need to allow time for localization as well. Thanks!

[2016-09-20 17:31] #347 closed, assigned to cadecairos

[2016-09-20 17:31] #330 closed, assigned to brettgaylor, natalieworth

[2016-09-20 17:35] lovegushwa commented on #433
... there is a problem with the position of the sticky button effecting users filling out forms on smaller screens (13in). The sticky button and the petition form create a loop, when you scroll to the "sign" button which is below the fold, the sticky "sign the petition" button pops up, the effect is you can't actually click the  "sign" button.

My recommendations:
1. move the point "sign the petit

[2016-09-20 17:41] gholme4 commented on #433
@lovegushwa Activating the sticky button immediately when the form moves out of view is best for UX. The clear solution is to make the form layout smaller in height, so it fits on smaller screens.

[2016-09-20 17:42] damiankay commented on #307
Closing as the design as been updated

[2016-09-20 17:42] #307 closed, assigned to nobody

[2016-09-20 17:42] damiankay commented on #304
This was resolved

[2016-09-20 17:42] #304 closed, assigned to nobody

[2016-09-20 17:50] stephaniemcv commented on #445
Can confirm that @cristina-moon was not tapped for this. Did V1 have a confirm email. My vague memory is that the thank you for signing was just going to be on the next page.

[2016-09-20 17:56] lovegushwa commented on #433
@gholme4  ok, if you can get the hight smaller that makes sense.
Can you address the jerky page jump issue?

[2016-09-20 18:04] damiankay commented on #352
@geroter just confirmed that he's meeting with Mika shortly to hopefully resolve! 🚀

[2016-09-20 18:18] damiankay commented on #445
@stephaniemcv - you're right. There was no confirmation email from V1.

@HPaulJohnson - can we stick with the V1 functionality and simply show the thank you on-screen, with share buttons?

[2016-09-20 18:25] KevZawacki commented on #439
Done!

[2016-09-20 18:25] #439 closed, assigned to KevZawacki

[2016-09-20 18:26] #351 closed, assigned to KevZawacki, natalieworth

[2016-09-20 18:27] beccaklam commented on #434
@lovegushwa @HPaulJohnson @damiankay Localized cat gifs: https://drive.google.com/drive/folders/0BzuBOR2VJQqUSmJBYjZOdjkzZzA?usp=sharing

We are missing localizations for the second nyan cat gif though for the string: 'Now it's time to go to Memeland!'

[2016-09-20 18:27] ScottDowne commented on #350
@valianttry An update. I'm trying to get the locale en-IN supported in the browser, so English speakers in India can set their browsers to the proper locale code for their region, and thus the snippet can serve up the correct form.

I'm not sure yet why en-IN isn't in Firefox, but maybe en-IN isn't super common yet.

[2016-09-20 18:27] KevZawacki commented on #319
UPDATE @brettgaylor @HPaulJohnson @damiankay

Going to push comms around v2 assets to Thursday, Sept. 22.

This gives us extra time to QA and fix bugs. Also gives us more EU agency manpower (agencies are pitching Firefox 49 on Sept. 21).

[2016-09-20 18:38] damiankay commented on #434
Yeah, I mentioned that above, but I wasn't sure if it was necessary. I should have brought it up on our call today. I'll see if I can pull off a translation now.

[2016-09-20 18:56] HPaulJohnson commented on #445
@damiankay thank-you on screen + share is great.

re: email, not really my call. i defer to @valianttry and @stephaniemcv on that one.

[2016-09-20 19:10] ScottDowne commented on #350
So most definitely not getting an en-IN locale setting for the browser, but the snippet team might have a solution for this, so I'll send them an email and see what they say.

[2016-09-20 19:22] ScottDowne commented on #350
I reached out, to confirm that we can do this. Might be zero work on our end, and just a note that we ask for this from the snippet team when it's time.

[2016-09-20 19:25] lovegushwa commented on #430
@damiankay working on this.

[2016-09-20 19:27] stephaniemcv commented on #445
I recommend/prefer the same setup we have with V1.

[2016-09-20 20:05] damiankay commented on #434
@ScottDowne - can you please add this string to Pontoon?: 'Now it's time to go to Memeland!'

[2016-09-20 20:12] ScottDowne commented on #434
@damiankay Added that string, should be on pontoon soon. Should be here: https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright%20Petition/?string=154336

I'll take a look in a bit, and make a note in this ticket that it's live on pontoon.

[2016-09-20 20:15] damiankay commented on #434
Great - thanks @ScottDowne

[2016-09-20 20:25] ScottDowne commented on #434
@damiankay ok, here it is https://pontoon.mozilla.org/en-GB/mozilla-advocacy/Copyright%20Petition/?string=158652

:rocket: :guitar:

[2016-09-20 20:35] lovegushwa commented on #434
@damiankay so to wrap this up we will use this Localized cat gifs for the first cat: https://drive.google.com/drive/folders/0BzuBOR2VJQqUSmJBYjZOdjkzZzA?usp=sharing

for the second cat please use this .gif without text:
https://drive.google.com/file/d/0BzuBOR2VJQqUaF9nV29jaE1TS1E/view?usp=sharing

[2016-09-20 20:48] damiankay commented on #448
CC @jendc123 @gholme4

[2016-09-20 20:57] damiankay commented on #434
@gholme4 please let me know if you have any questions about this. Thanks

[2016-09-20 21:12] damiankay commented on #352
@geroter has confirmed that the activities are approved by Mika and are ready to ship.

@chadsansing @ScottDowne
1. Where should these live and how long will it take to set them up in their final location?
2. How do we send these for localization? Will they go into Pontoon?

[2016-09-20 22:27] vojtechsedlak commented on #207
According to Fission it will be possible to have both versions of the v2 petition page running concurrently, which means we can set up an Optimizely test. This will need to happen on Thursday or as soon as the new form is launched.

[2016-09-20 23:03] jendc123 commented on #445
@damiankay - this has been unchecked on staging and can be controled on a page by page basis.  #readytocheck

[2016-09-20 23:18] damiankay commented on #207
Hi @jendc123 - FYI, we're going to want to set up a second instance of the website to A/B test the forms. Our thinking is that the production URL will use the new form when it's live, and the staging URL will have use the current form. Do you foresee any problems with this?

[2016-09-20 23:33] damiankay commented on #331
Thanks @vojtechmzl

[2016-09-20 23:33] #331 closed, assigned to damiankay

[2016-09-20 23:39] chadsansing commented on #352
@damiankay

1) I'm not sure where these should live. I think someone in more of a decider role should make the call; I would suggest a Mozilla repo. However, we also need to decide if these are also going to be in the curriculum template (like the last round), or if we are going to make them .pdfs (or something) with some campaign visual treatment since they have their own consistent format now.

[2016-09-20 23:47] damiankay commented on #352
Thanks @chadsansing

@geroter @ldecoursy (can someone CC Lucy): Do you know whether these will be PDFs, built in the curriculum template, or another format?

CC @HPaulJohnson @ScottDowne

[2016-09-20 23:48] damiankay commented on #445
@HPaulJohnson  can you retest please?

[2016-09-20 23:57] damiankay opened #449 "Maker Party: Map no longer displays"
Detailed description of bug:
The map no longer displays on the main landing / find an event page.

Tested on Macbook Air / Firefox & Chrome

CC: @gholme4 @jendc123
![screen shot 2016-09-20 at 4 42 52 pm](https://cloud.githubusercontent.com/assets/19785709/18693017/5f276f22-7f53-11e6-9bc3-427a79ba738f.png)

[2016-09-21 00:05] HPaulJohnson opened #450 "v2 Petition Site QA: After signing petition, still get a Sign the Petition CTA"
After successfully submitting a petition signature, I get a "Thank you for signing, Paul Johnson" message. But, I also get an additional CTA for me to "sign the petition" which takes me to the first section of the copy when clicked.

Screenshot attached:
![postpetitionsign](https://cloud.githubusercontent.com/assets/10078715/18693137/5079c0f0-7f54-11e6-81d0-346d887e94ff.jpg)

(Also, I thought we w

[2016-09-21 00:07] damiankay opened #451 "URGENT: Bablic admin updates"
Detailed description of work:
Hi @cadecairos - can you please add the following two pages to Bablic, and add Fission as a collaborator (see Petition V1 setup).

**Maker Party**
https://www.makerparty.community/

**Petition V2**
https://mozillafoundationstaging-mozillafoundation.nationbuilder.com/

Thanks

CC: @valianttry @jendc123

[2016-09-21 00:08] jendc123 commented on #437
@lovegushwa @beccaklam can you confirm the approach you would like to take.

cc @damiankay

[2016-09-21 00:09] jendc123 commented on #427
@damiankay can you drop in the links for both cats on the page.

[2016-09-21 00:13] HPaulJohnson commented on #445
@damiankay I just retested and did not receive a confirmation email. I'm assuming that's a pass.

[2016-09-21 00:16] damiankay commented on #427
@jendc123 do you want links to the images? If so you can find them at the links below.

We will use this Localized cat gifs for the first cat: https://drive.google.com/drive/folders/0BzuBOR2VJQqUSmJBYjZOdjkzZzA?usp=sharing

For the second cat please use this .gif without text:
https://drive.google.com/file/d/0BzuBOR2VJQqUaF9nV29jaE1TS1E/view?usp=sharing

From #434

[2016-09-21 00:18] jendc123 commented on #423
Hi @damiankay the options to have the videos redirect would be a new feature and will require extra time to implement and would be a fairly heavy lift.  The best option would be to have the video close, once finished playing. We will do a bit of discovery and circle back on additional time required.

[2016-09-21 00:22] jendc123 commented on #297
@damiankay this has been updated #readyforreview.

[2016-09-21 00:33] jendc123 commented on #449
@damiankay the map is back up. #readyforreview

[2016-09-21 00:33] ldecoursy commented on #352
cc @lucyeoh

@chrislarry33 any decision about what format you'd like for these?

[2016-09-21 00:34] HPaulJohnson commented on #450
cc @damiankay

[2016-09-21 01:25] HPaulJohnson commented on #201
snippet team has approved. waiting for policy approval in the a.m. and then shipping to localization.

final designs here: https://redpen.io/p/cu6dd2535dbbb1f1d8

[2016-09-21 01:27] HPaulJohnson commented on #200
Final testing plan for this phase is here: https://docs.google.com/spreadsheets/d/1Exj4Zi70DhFDBt6f9qEtCWgyFTFH50EsG-4M1gWb99g/edit#gid=0

Working to setup audience segments now. If localizations come back by Thursday, aiming to have the first of these tests launched by Friday.

[2016-09-21 01:47] gholme4 commented on #424
@damiankay #readyforreview

[2016-09-21 01:47] gholme4 commented on #426
@damiankay #readyforreview

[2016-09-21 01:50] gholme4 commented on #435
#readyforreview

[2016-09-21 01:53] HPaulJohnson commented on #435
looks good to me.

[2016-09-21 01:54] HPaulJohnson commented on #426
looks good to me.

[2016-09-21 01:56] gholme4 commented on #432
@lovegushwa Can you please explain how to adjust the elements with the current English copy? The Redpen design has more paragraph blocks so I'm not clear how it all fits together.

[2016-09-21 01:59] gholme4 commented on #436
@lovegushwa @damiankay  #readyforreview

[2016-09-21 02:04] gholme4 commented on #438
@lovegushwa @damiankay It's been moved over 10px #readyforreview

[2016-09-21 02:13] jendc123 commented on #427
@damiankay what is the link to Memeland? I didn't see it in the copy deck.

[2016-09-21 02:18] valianttry commented on #334
@beccaklam there are guidelines for the icons (pasted a deck slide below with specs). Can you resave them in this format in the same drive and let me know when you have them ready? I can then send to Wes on the snippet team.

cc @lovegushwa @natalieworth

![snippet_copy_tone_and_icon_guidelines_-_google_slides](https://cloud.githubusercontent.com/assets/9830371/18695484/3395122e-7f80-11e6-8a48-428

[2016-09-21 02:35] gholme4 commented on #443
@vojtechmzl @damiankay #readyforreview

[2016-09-21 02:35] gholme4 commented on #440
@damiankay @beccaklam Can you please specify the lead in text in each paragraph for the English copy?

[2016-09-21 02:44] gholme4 commented on #441
@damiankay @beccaklam #readyforreview

[2016-09-21 02:52] gholme4 commented on #444
@damiankay @vojtechmzl #readyforreview

[2016-09-21 02:56] damiankay commented on #450
CC @jendc123 @gholme4

[2016-09-21 02:57] gholme4 commented on #442
@damiankay @beccaklam #readyforreview

[2016-09-21 02:58] #435 closed, assigned to nobody

[2016-09-21 02:58] #426 closed, assigned to nobody

[2016-09-21 02:59] gholme4 commented on #431
@HPaulJohnson @damiankay I made the form shorter to prevent the problem. #readyforreview

[2016-09-21 03:01] HPaulJohnson commented on #424
this one is fixed. closing

[2016-09-21 03:01] #424 closed, assigned to HPaulJohnson

[2016-09-21 03:01] gholme4 commented on #433
@lovegushwa  @damiankay I made the form shorter and moved the sticky button to solve both problems. #readyforreview

[2016-09-21 03:02] damiankay commented on #427
@HPaulJohnson do you have the link to Memeland?

[2016-09-21 03:04] HPaulJohnson commented on #431
@gholme4 @damiankay this fixed the problem. good to go. closing.

[2016-09-21 03:04] #431 closed, assigned to nobody

[2016-09-21 03:05] HPaulJohnson commented on #427
@brettgaylor should confirm but i believe it's postcrimes.org. in fact, i just checked it and the site is already live at that URL.

[2016-09-21 03:09] gholme4 commented on #450
@damiankay @HPaulJohnson Sorry. I introduced this issue when I addressed another issue. #readyforreview

[2016-09-21 03:10] damiankay commented on #450
Happens sometimes! thanks @gholme4
@HPaulJohnson can you review when you have time?

[2016-09-21 03:20] damiankay commented on #445
Yes, for now that's correct. Once we have Salesforce set up you should get a confirmation email from there @HPaulJohnson

[2016-09-21 03:20] #445 closed, assigned to nobody

[2016-09-21 03:22] HPaulJohnson commented on #418
I verified that these will work with character limitations and the images postcrimes generates. We should get them implemented asap now that the site is live.

I also noticed that in the current twitter share setup, the images themselves aren't automatically being added, rather they are just including the link. They should be able to embed the image in the tweet just like they are doing with Faceb

[2016-09-21 03:23] damiankay commented on #423
@jendc123 that sounds good.
@brettgaylor are you ok with simply closing the video for now? We can revisit and potentially add the link out post-launch.
@lovegushwa, maybe we should add that to our list of features in our toolkit.

[2016-09-21 03:29] HPaulJohnson commented on #297
verified. fixed. closing.

[2016-09-21 03:29] #297 closed, assigned to HPaulJohnson

[2016-09-21 03:34] HPaulJohnson commented on #450
fixed! closing.

[2016-09-21 03:34] #450 closed, assigned to nobody

[2016-09-21 03:39] gholme4 commented on #434
@damiankay @lovegushwa Localizing images also needs to be done in the Bablic visual editor. First https://mozillafoundationstaging-mozillafoundation.nationbuilder.com/ needs to be added to the Mozilla account so the site can be crawled.

[2016-09-21 03:40] #449 closed, assigned to damiankay

[2016-09-21 03:41] damiankay commented on #448
To clarify, the localized videos should have been in list of links that were shared earlier. Thanks

[2016-09-21 03:45] damiankay opened #452 "Maker Party: Add links to Events portal"
Detailed description of work:
Hey @ScottDowne - can you please go through the Maker Party pages on [learning](https://learning.mozilla.org/en-US/events) and add links to the [Nationbuilder pages](http://www.makerparty.community/) where necessary? There are a lot of dead links as the domain wasn't ready when you built the pages. Thx

_Start date: September 21, 2016_
_Due date: September 21, 2016_

[2016-09-21 03:46] gholme4 commented on #448
@damiankay @HPaulJohnson If a new site (https://mozillafoundationstaging-mozillafoundation.nationbuilder.com) was created to pull in the video links please add me as a collaborator.

[2016-09-21 03:46] damiankay commented on #434
Ok thanks @gholme4 - I'll let you know as soon as the site is in Bablic. @cadecairos is in EST, so likely won't be tonight.

[2016-09-21 03:47] damiankay commented on #448
I'll follow up as soon as the site is in Bablic. Thanks!

[2016-09-21 03:50] gholme4 commented on #434
@damiankay Thanks. He needs to contact me when he's ready to add the new site so I can disconnect it from the main site translations.

[2016-09-21 03:59] damiankay commented on #434
Ok @gholme4 - would you mind adding some instructions for Chris here: #451

I may have given him incorrect information Re setting up Bablic and want to make sure we don't break anything!

[2016-09-21 04:00] lovegushwa commented on #447
@damiankay ... @vojtechmzl identified a few tests ( also see #446)
I want to get @beccaklam started designing these, but we need to make sure Fission has time / budget to implement the tests. Can you find out?

[2016-09-21 04:01] damiankay commented on #447
Hey @lovegushwa - yes, I'll check with Jennifer tomorrow.

[2016-09-21 04:05] lovegushwa commented on #430
@gholme4 @HPaulJohnson can you confirm the share copy?

Let's use the brain social share image here:
https://drive.google.com/file/d/0B20-0lpP23c0ZXh1TTZvSjMtSlE/view?usp=sharing

[2016-09-21 04:07] lovegushwa commented on #436
@gholme4 thanks. closing ticket.

[2016-09-21 04:07] #436 closed, assigned to lovegushwa

[2016-09-21 04:08] HPaulJohnson commented on #430
image looks good, @lovegushwa

for now, we should just use the share copy from the existing v1 site/FB share. it's already localized and works with this image.

(eventually this is something i'd love to test/optimize for, but let's go with the mvp to get v2 shipped).

[2016-09-21 04:13] lovegushwa commented on #433
@gholme4 thank you. much better.

[2016-09-21 04:13] #433 closed, assigned to lovegushwa

[2016-09-21 13:36] cadecairos commented on #434
@gholme4 Let me know when to enable bablic on the urls in #451

[2016-09-21 15:01] brettgaylor commented on #427
Correct, postcrimes.org

[2016-09-21 15:24] vojtechsedlak commented on #443
Thanks for the fix @gholme4. The event is now tracking correctly.

[2016-09-21 15:24] #443 closed, assigned to vojtechsedlak

[2016-09-21 16:11] damiankay commented on #358
Hey @ScottDowne - do you have time to work on this today? I'm not sure if you're able to make changes, or simply make a list of recommendations for Fission / NB, but either way, it would be great to get started on this work because our load times are much too long. Thx!

[2016-09-21 16:12] HPaulJohnson commented on #428
This is fixed, it now points to postcrimes.org

@vojtechmzl is there any GA tagging that you want on this path (v2 petition -> postcrimes)?

[2016-09-21 16:13] gholme4 commented on #427
@HPaulJohnson @damiankay #readyforreview

[2016-09-21 16:15] HPaulJohnson commented on #427
Verified. Fixed. Closing.

[2016-09-21 16:15] #427 closed, assigned to HPaulJohnson

[2016-09-21 16:22] gholme4 commented on #423
@HPaulJohnson @damiankay #readyforreview

[2016-09-21 16:26] ScottDowne opened #453 "PayPal test donation flow is broken"
Not sure when this happened, or what the cause is yet.

Production donations using the real paypal account are still working, but, using staging, with test donation credentials is broken.

[2016-09-21 16:29] HPaulJohnson commented on #423
The video window closes after playing is complete. Asssumming we are all okay with that as the solution, this passes.

[2016-09-21 16:36] damiankay opened #454 "Update copy in Pontoon"
Detailed description of work:
Hi @ScottDowne - there has been a request to update one of the base strings in Pontoon. Ton has asked that we change "login" to "log in" for EN-US and EN-GB.

This sounds like a change that would affect many projects; any idea who would need to be looped in before making the change?

[2016-09-21 16:43] damiankay commented on #423
@brettgaylor - can you confirm that you're ok with this approach for launch?

[2016-09-21 16:46] damiankay commented on #451
This is done - thanks @cadecairos

[2016-09-21 16:46] #451 closed, assigned to cadecairos

[2016-09-21 16:48] damiankay commented on #200
Hi @HPaulJohnson - localizations are complete and in the spreadsheet. I'll send you the link in chat.

[2016-09-21 16:54] vojtechsedlak commented on #444
Unfortunately the scrollDepth events are not being logged into GA. I can see the code in the script.js and it all seems correctly implemented, but there is nothing in GA.

[2016-09-21 16:58] vojtechsedlak opened #455 "v2 Petition Site QA: Add Video Events for GA tracking"
I've added a couple of GA events to the Lightcase function in script.js in order to help us track how people engage with the videos. @gholme4 could we try implementing the code below? Please let me know if you have any questions. Thanks!

`/**
        * Initialize all instances of lightcase for modal content
        *
        */
        this.initLightcase = function () {
            $("span.media

[2016-09-21 16:59] vojtechsedlak commented on #455
Ok, that code looks garbled, I will email you @gholme4 with the file. Sorry about that.

[2016-09-21 17:02] gholme4 commented on #444
@vojtechmzl Can you check again?  The debugger shows the events being logged. See screenshot:
![screen shot 2016-09-21 at 11 59 37 am](https://cloud.githubusercontent.com/assets/2045330/18720808/39f17608-7ff3-11e6-83b6-da3fca6de1fb.png)

[2016-09-21 17:08] gholme4 commented on #455
@vojtechmzl @damiankay #readyforreview

[2016-09-21 17:08] brettgaylor commented on #423
Yes, :+1:

On Wed, Sep 21, 2016 at 12:43 PM, Damian Kuehn notifications@github.com
wrote:

[2016-09-21 17:13] vojtechsedlak commented on #444
Oh cool, yeah I can see the events now. Must have been a lag on the GA side. Thanks!

[2016-09-21 17:14] #444 closed, assigned to vojtechsedlak

[2016-09-21 17:17] damiankay commented on #430
@gholme4 please re-use copy from V1. Image is above.

[2016-09-21 17:18] #428 closed, assigned to nobody

[2016-09-21 17:19] #455 closed, assigned to nobody

[2016-09-21 17:20] beccaklam commented on #440
@jendc123 @gholme4

It's the first two words of every starting paragraph for points 1, 2 and 3. So point 1:
Point 1: **Copyright can** be valuable...
Point 2: **Mashups, memes**, and GIFs...
Point 3: **A key** part of what...

[2016-09-21 17:28] damiankay commented on #418
Let me know if I need to add this to L10N queue @brettgaylor

[2016-09-21 17:35] gholme4 commented on #430
@HPaulJohnson @damiankay #readyforreview

[2016-09-21 17:41] gholme4 commented on #440
@beccaklam @damiankay #readyforreview

[2016-09-21 17:42] brettgaylor commented on #418
Would it feel appropriate to hand to Kontextor?

[2016-09-21 17:56] damiankay commented on #452
@ScottDowne - you can find the links here: https://docs.google.com/spreadsheets/d/1ETrREU8BHsvVWV4oZhfCiob_qUKEEW-E9Aal6S2pbsA/edit#gid=0

[2016-09-21 17:57] damiankay commented on #423
Great!

[2016-09-21 17:57] #423 closed, assigned to nobody

[2016-09-21 18:01] damiankay commented on #418
I think so. I'm not sure what our budget with them allows for, but they'll be able to turn it around much more quickly @brettgaylor . I can submit this to them today and I'm sure we'll have it by EOW.

[2016-09-21 18:05] brettgaylor commented on #418
Budget is ok - well within contingency.

On Wed, Sep 21, 2016 at 2:01 PM, Damian Kuehn notifications@github.com
wrote:

[2016-09-21 18:21] damiankay commented on #418
Ok great. I'll send over to Kontextor and ask them to translate into Tier 1 and 2 locales. To confirm, I'm sending this:

**Twitter** (This character count assumes a link + image are shared, too):

I sent a selfie to European Parliament to #fixcopyright. You can, too. Join me & @Mozilla: [LINK] [IMAGE]

**Facebook**:

I sent a rebellious selfie to European Parliament to fix copyright. You can, too

[2016-09-21 18:45] beccaklam commented on #334
Hi @valianttry you can find the updated PNGs and .AI file in this google drive folder: https://drive.google.com/drive/folders/0BzuBOR2VJQqUeElxWWVueGRpMnc?usp=sharing

[2016-09-21 18:47] beccaklam commented on #440
@gholme4 @damiankay Hi George, sorry, but for Point three can we change extend the 'lead-in' style to include all of 'A key part'? 'A key' just looks kind of awkward. Please and thank you!

[2016-09-21 18:52] damiankay opened #456 "Maker Party: Add CTAs"
Detailed description of work:
@HPaulJohnson I'm moving your comment about the copy for "Optional Link Menu" and "Host Kit" x 3 here.

It would be great to use this to link to the MP home page on learning, as well as directly to the Host Pack. I think you said that we should have this copy localized already. Would it be in the copy deck?

What copy should we use in place of "Optional link menu"? Wo

[2016-09-21 18:53] beccaklam opened #457 "v2 Petition QA: Change Body Text Colour"
@gholme4 @damiankay @lovegushwa After seeing the implementation of #4a4a4a for the Body copy we're finding it a bit too light after all. We're hoping to change it to #292929 which is just a touch darker. Again, please and thank you!
# **Old:**

<img width="1440" alt="4a4a4a jog" src="https://cloud.githubusercontent.com/assets/20977376/18724579/e71a426c-800a-11e6-9290-5f5729d35d73.png">
# **New:**

[2016-09-21 19:17] gholme4 commented on #440
@beccaklam @damiankay Yes. I made that change #readyforreview

[2016-09-21 19:20] gholme4 commented on #457
@beccaklam @damiankay I changed the text color. #readyforreview

[2016-09-21 19:21] lovegushwa commented on #438
@gholme4 I took some screen measurements. Let's move it to the left 10 more px.

TEST IMAGE:
![screenshot_20160921-115559](https://cloud.githubusercontent.com/assets/12228435/18725615/e20eb3b2-7ff5-11e6-99c2-dc4cdb68d122.png)

[2016-09-21 19:24] lovegushwa commented on #437
@jendc123 @gholme4

I agree with @beccaklam recommendation, can we implement exactly as seen in the images above?

[2016-09-21 19:32] gholme4 commented on #438
@lovegushwa @damiankay #readyforreview

[2016-09-21 19:33] lovegushwa commented on #438
@gholme4 perfect, thank you!

[2016-09-21 19:33] #438 closed, assigned to lovegushwa

[2016-09-21 19:43] lovegushwa commented on #432
@gholme4 the quote blocks should go between the paragraphs like this:

![screen shot 2016-09-21 at 12 38 55 pm](https://cloud.githubusercontent.com/assets/12228435/18726331/ceec5d5e-7ff8-11e6-9fc6-5677c05b983b.png)

![screen shot 2016-09-21 at 12 39 04 pm](https://cloud.githubusercontent.com/assets/12228435/18726340/d72f468e-7ff8-11e6-97df-dd73846039be.png)

![screen shot 2016-09-21 at 12 39 12 pm

[2016-09-21 19:55] lovegushwa commented on #432
@gholme4

<img width="736" alt="screen shot 2016-09-21 at 1 01 11 pm" src="https://cloud.githubusercontent.com/assets/12228435/18726955/8b9a588c-7ffb-11e6-9ed7-cbc71576138e.png">

<img width="730" alt="screen shot 2016-09-21 at 1 03 00 pm" src="https://cloud.githubusercontent.com/assets/12228435/18727017/c6ca9958-7ffb-11e6-9373-170f65916a9f.png">

<img width="722" alt="screen shot 2016-09-21 at 1

[2016-09-21 19:57] ScottDowne commented on #452
@damiankay I'm pretty sure that's not what I need. What I need to know is:

On these pages:

https://learning.mofostaging.net/en-US/events/
https://learning.mofostaging.net/en-US/events/resources/

I need link targets for these links:

## First
- [x] The first get started link. I'm guessing we drop them on the maker party home page? https://www.makerparty.community/
  ![get-started](https://cloud.

[2016-09-21 20:08] gholme4 commented on #437
@lovegushwa @damiankay #readyforreview

[2016-09-21 20:09] gholme4 commented on #432
@lovegushwa @damiankay #readyforreview

[2016-09-21 20:21] lovegushwa commented on #432
@gholme4 the position of quotes between paragraphs is correct. Can we reduce the padding above the quotes by 1/2 so they appear optically centered?

<img width="967" alt="screen shot 2016-09-21 at 1 17 42 pm" src="https://cloud.githubusercontent.com/assets/12228435/18727573/18a7a91c-7ffe-11e6-8059-717c89a31648.png">

[2016-09-21 20:26] lovegushwa commented on #437
@gholme4 this solution works well, is it possible to use it for mobile and tablet but keep the original left  aligned floating share for desktop?

[2016-09-21 20:37] chadsansing commented on #352
@ScottDowne: here are the updated activities; content should be cleared and locked as per @geroter's work with Mika & Raegan on the docs.

**Repo:** https://github.com/chadsansing/eu-maker-party-sample-activites

**Folder:** https://github.com/chadsansing/eu-maker-party-sample-activites/tree/master/updated-eu-maker-party-content

**Individual activities:**
- activity01-postcrimes.html - https://gi

[2016-09-21 20:50] damiankay commented on #135
@cristina-moon @geroter

Can you confirm the status of the 3 emails required for launch? I believe the "sign-up" email still requires some revisions. Are the other two approved and ready to move to translation?

CC @valianttry @shaghdoosti

[2016-09-21 21:04] gholme4 commented on #437
@lovegushwa @damiankay Yes, that is doable. #readyforreview

[2016-09-21 21:04] gholme4 commented on #432
@lovegushwa @damiankay #readyforreview

[2016-09-21 21:05] geroter commented on #135
2 others are approved.

On Wed, Sep 21, 2016 at 10:50 PM, Damian Kuehn notifications@github.com
wrote:

##

George Roter
Head of Core Contributors, Participation

irc: geroter  |  skype: geroter
Cell - Germany: +49 172 714 2439
Cell - USA: +1 650.210.6953
<650%20308%208443>

[2016-09-21 21:06] HPaulJohnson commented on #452
@ScottDowne Press should link to press@mozilla.com.

For contact us we are trying to get a new email created that we can hook into desk.com for support; in the mean time we can use makerparty@mozilla.org which is the old MP support email that at least still functions for the time being.

Login should go to the login page on main MP site on Nation Builder

@ldecoursy do you have final links for "Ho

[2016-09-21 21:08] lovegushwa commented on #437
@gholme4 nice! perfect thank you.

[2016-09-21 21:08] #437 closed, assigned to nobody

[2016-09-21 21:08] brettgaylor commented on #418
Correct. You can remove [LINK][IMAGE]

[2016-09-21 21:09] lovegushwa commented on #432
@gholme4 looks perfect. thank you.

[2016-09-21 21:10] #432 closed, assigned to lovegushwa

[2016-09-21 21:14] HPaulJohnson commented on #430
Tested in Chrome and looks good. In Firefox, I'm still getting the old issue but am assuming its a caching issue.

[2016-09-21 21:21] HPaulJohnson commented on #456
@damiankay we didn't actually plan for this "optional link menu" to be included so we didn't write copy for it. i'd suggest we just remove.

The two things we did write copy for were a Host CTA and a share CTA. Copy (from deck) for these is:

[Host CTA]
Become a Host
Mobilize and educate your community to take action through making by running your very own event using our tools and activities.
(le

[2016-09-21 21:35] damiankay commented on #456
Ok @HPaulJohnson - that makes sense. Unfortunately they didn't make it into the comps.

@jendc123 I know it's late to be adding content, but is it possible for Martha to create these CTAs? There were in the copy deck but we didn't catch that they didn't make it into the comps.

[2016-09-21 21:44] damiankay opened #458 "Maker Party: Sharing issues"
[From QA spreadsheet](https://docs.google.com/spreadsheets/d/1v6hU6ggrAlTCABRc67Fcg3CExI9x3v1lL1BL7gbtk5M/edit#gid=0)

@ldecoursy says:

CC: @gholme4 @jendc123

[2016-09-21 21:56] ldecoursy commented on #452
Partner pack is here: https://mzl.la/2016MakerPartyPartner

Host pack is here https://mzl.la/makerpartyhostpack2016 (although still awaiting some final links, and some design love from @lovegushwa

[2016-09-21 22:02] HPaulJohnson commented on #418
Looks like they updated this but in the Facebook version they added "Post Crimes" at the beginning of the sentence which makes it non-sensical; they should delete that copy.

Also, FB pulls text from the OG tags as a headline in the share and this also just says "Post Crimes." Would be great to get them to update the OG tag to "Post Crimes: Make a statement" or "Post Crimes: Make a Meme & Send a P

[2016-09-21 22:09] HPaulJohnson commented on #201
Submitted for localization. Go-live timing will depend on how quickly we get these back. Probably Friday at the earliest, more likely Monday (9/26)

[2016-09-21 22:11] HPaulJohnson commented on #200
thanks, @damiankay. we will start setting up the paid media ads with these versions now. Hopefully we'll launch the first of these Friday.

There are a few, small outstanding designs to accompany the final posts for phase 2 and we are aiming to have those by the end of the week. We'll finally close this ticket then. (But, we'll also be opening a new one for Maker Party promos).

[2016-09-21 22:12] natalieworth commented on #422
Final audio options for the video are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0TzN4ZzJveVd2Q1U

[2016-09-21 22:17] HPaulJohnson opened #459 "Maker Party Social Promos"
Detailed description of work:
With v2 social nearing completion in #200, the final copy/design sprint for social will be around promos for Maker Party. The objective of these promos will be to drive attendance to various events in the EU and as such targeted to our tier 1 locales. Events are being seeded over the next 2 weeks, so we expect that we'll put these into market around 10/10

_Start date

[2016-09-21 22:19] damiankay opened #460 "Maker Party: Event sharing error"
From [QA spreadsheet](https://docs.google.com/spreadsheets/d/1v6hU6ggrAlTCABRc67Fcg3CExI9x3v1lL1BL7gbtk5M/edit#gid=0)

Reported by @ldecoursy

After creating an event, clicking on the "share" button redirects to a broken link in Mac Chrome and Firefox. Screen shots attached.

CC: @jendc123 @gholme4

![screen shot 2016-09-21 at 2 57 10 pm](https://cloud.githubusercontent.com/assets/19785709/1873109

[2016-09-21 22:31] gholme4 commented on #460
@damiankay This has been reported to NationBuilder. The following is support's latest update:

---

Hi George,

I wanted to let you know that we're going to create a private test site on the nation so that we can isolate if the problems are stemming from SSL or site level customizations. We'll remove the site when we've completed the tests.

Best,
Lauren Rowse
NationBuilder Support

[2016-09-21 22:32] damiankay commented on #460
That's great - thanks for the quick action @gholme4

[2016-09-21 23:01] damiankay commented on #352
@ScottDowne can you please let me know as soon as these are in Pontoon?

[2016-09-21 23:18] damiankay commented on #418
@HPaulJohnson - can you specify the allowable character count? I'd like to let the localizers know. Not sure if other copy is being appended which will affect allowable max chars

[2016-09-21 23:20] cristina-moon commented on #135
@damiankay @geroter updated copy on the [account signup email here.](https://docs.google.com/document/d/1JyVPrEnTaZa7uQJPNb1XpXviTGvm5Bz4GP0D_I33Z-U/edit#bookmark=id.b05b8rkd7ovz) Please check my note on whether recipients are all in Europe or if it's possible non-EU members will also get it.

[2016-09-21 23:30] HPaulJohnson commented on #418
So, this is a bit of a moving target with images and dynamic links. Plus, Twitter just changed their rules and expanded the limit when tweeting an image but we haven't tested that. In any case, to be safe and given we've tested and verified with the messages above let's keep the max for twitter at 100 chars.

Facebook doesn't have the same char limits so they shouldn't worry about adding character

[2016-09-21 23:40] damiankay commented on #135
Thanks @cristina-moon - just responded in the doc

[2016-09-21 23:40] damiankay commented on #418
Perfect - thanks @HPaulJohnson

[2016-09-21 23:46] cristina-moon commented on #135
OK - [Account Signup Email](https://docs.google.com/document/d/1JyVPrEnTaZa7uQJPNb1XpXviTGvm5Bz4GP0D_I33Z-U/edit#bookmark=id.b05b8rkd7ovz) ready for your approval @geroter

[2016-09-21 23:47] HPaulJohnson opened #461 "Maker Party: Update Footer"
Footer used on makerparyt.community pages is wrong and should be updated to reflect the copy deck. Changes include:
- Remove "share this page" option
- Add "code of conduct" link
- Update destination URLs for legal and privacy links.

Details on page 5 of copy deck: https://docs.google.com/document/d/16ObBANwvduy59NjYC3aOF9cIPsDG3RdGszmHwqXHPv4/edit

[2016-09-22 00:07] damiankay opened #462 "Maker Party: Update confirmation email FROM (sender)"
Detailed description of work:
Currently our confirmation email sent to users after signing up to NB displays as sent from Andrea  / Mozilla Foundation. I'm assuming this is because Andrea is the main account contact for NB.

Who should be listed as the sender? @HPaulJohnson @KevZawacki @shaghdoosti

[2016-09-22 00:27] damiankay commented on #462
@jendcd123 I'll let you know when this is ready for you

[2016-09-22 00:27] damiankay commented on #461
@jendc123 @gholme4

[2016-09-22 00:28] damiankay commented on #458
@jendc123 @gholme4

[2016-09-22 00:28] damiankay commented on #448
This should be ready for you know @jendc123 @gholme4

[2016-09-22 00:29] damiankay commented on #434
This is ready for updating @jendc123 @gholme4

[2016-09-22 00:38] jendc123 commented on #448
Hi @damiankay and @HPaulJohnson - This is done via Bablic.

[2016-09-22 00:40] lovegushwa opened #463 "v2 Petition QA: illustration should be optically centered"
@gholme4 I added some transparency to the right side of this image so circle building illustration is optically centered when viewing in mobile, you should be able to replace the image with this one: https://drive.google.com/file/d/0B2qu3ExKWIlveGphYkVUcFZtdnM/view?usp=sharing

![screen shot 2016-09-21 at 5 37 10 pm](https://cloud.githubusercontent.com/assets/12228435/18733708/3ab31db0-8022-11e6-9

[2016-09-22 00:42] jendc123 commented on #434
@damiankay, Ola can translate this via Bablic.

[2016-09-22 00:44] lovegushwa opened #464 "v2 Petition QA: replace background texture with better image"
@gholme4 grabbed a higher res background image from our Postcrimes site, please replace the pixilated image with this one: https://drive.google.com/file/d/0B2qu3ExKWIlvZ0s3ZF8ydmJGVjQ/view?usp=sharing

![screen shot 2016-09-21 at 5 38 13 pm](https://cloud.githubusercontent.com/assets/12228435/18733760/9ba42736-8022-11e6-9077-ed74b91e1d79.png)

[2016-09-22 00:46] natalieworth commented on #422
Most recent cut here: https://drive.google.com/file/d/0B20-0lpP23c0TFhmOHBCdkdfQTg/view

[2016-09-22 00:52] lovegushwa opened #465 "v2 Petition QA: more heart"
@gholme4 the donate heart is much smaller than the other icons. Please bump the size up so it looks like this, thank you!

![screen shot 2016-09-21 at 5 49 43 pm](https://cloud.githubusercontent.com/assets/12228435/18733924/0fb138ac-8024-11e6-8d8a-215121666a9b.png)

[2016-09-22 00:56] lovegushwa opened #466 "v2 Petition QA: en dash is wrong font weight"
@gholme4 the en dash used in the quote attribution should be the same font as the italic "The Register," it looks like it's bold. The other 2 quotes also have the same issue.
![screen shot 2016-09-21 at 5 53 13 pm](https://cloud.githubusercontent.com/assets/12228435/18733983/a5386eae-8024-11e6-9edb-3668b3d217f2.png)

[2016-09-22 01:02] lovegushwa opened #467 "v2 Petition QA: section numbers are low resolution"
All the section numbers appear to be low resolution on retina. @beccaklam can you make sure @gholme4 has the assets he needs? It looks like the .svgs you made reference a font goole font, rather than being an image. If that's the case can you make them @2x OR or outline the type in the .svg

<img width="716" alt="screen shot 2016-09-21 at 5 57 23 pm" src="https://cloud.githubusercontent.com/assets

[2016-09-22 01:04] #442 closed, assigned to beccaklam

[2016-09-22 01:04] #441 closed, assigned to beccaklam

[2016-09-22 01:05] #440 closed, assigned to beccaklam

[2016-09-22 01:06] #457 closed, assigned to nobody

[2016-09-22 03:47] lovegushwa commented on #466
@gholme4 I refreshed the page and the weight looks right, but the dash now looks like a hyphen.
Lets replace it with an EN (or if that's what it currently is then an EM dash)
<img width="318" alt="screen shot 2016-09-21 at 8 45 03 pm" src="https://cloud.githubusercontent.com/assets/12228435/18736493/6a2ace5c-803c-11e6-826a-c60979a67c45.png">

[2016-09-22 13:43] KevZawacki commented on #319
UPDATE

Blog / pitching pushed to Monday, Sept. 26

[2016-09-22 14:33] damiankay opened #468 "Petition V2: Review form V2.5"
Detailed description of work:
Please review the v2.5 petition here: https://petitionv25-mozillafoundation.nationbuilder.com/.

Let's log any issues specific to the form in this issue.

CC: @beccaklam @lovegushwa @brettgaylor @valianttry @HPaulJohnson

[2016-09-22 14:35] damiankay commented on #447
@beccaklam @lovegushwa Fission might be able to do this for EOW, but they'd like to see a design to confirm. Can you provide this early today please?

[2016-09-22 16:15] gholme4 commented on #463
@lovegushwa @damiankay #readyforreview

[2016-09-22 16:28] gholme4 commented on #465
@lovegushwa @damiankay #readyforreview

[2016-09-22 16:29] gholme4 commented on #467
@lovegushwa @beccaklam Yes. Please provide new images for the section numbers.

[2016-09-22 16:30] stephaniemcv commented on #134
The 54 hosts from the file that were also in SalesForce, now have Maker Party associated with their email subscriptions.

[2016-09-22 16:34] HPaulJohnson commented on #462
@damiankay is this for hosts? attendees? both? I'm not sure who the audience is for this.

[2016-09-22 16:46] cristina-moon commented on #354
First draft of email copy is [here!](https://docs.google.com/document/d/1by3nYfSlPGQhbw_EsMZouO7itLjokYuGqB3aSy3WkiY/edit)

[2016-09-22 16:49] damiankay commented on #462
@HPaulJohnson this is for anyone who signs up for an account. Hosts **must** do this, so it's mostly hosts who will see this email, but it could also potentially be attendees.

[2016-09-22 16:51] gholme4 commented on #466
@lovegushwa @damiankay #readyforreview

[2016-09-22 16:51] damiankay commented on #462
There's a thread about the email copy here: #135

[2016-09-22 16:52] HPaulJohnson commented on #462
Ok, in that case, I'd suggest @shaghdoosti be listed as the sender on this email.

[2016-09-22 16:54] damiankay commented on #462
Ok, so Mozilla Advocacy / @shagdoosti?

(in one location Mozilla Foundation is listed, in another Andrea's name is listed)

[2016-09-22 16:56] beccaklam commented on #467
@gholme4 @lovegushwa @damiankay

Here are the updated images! I made the type outlines and saved them again as SVGs:

https://drive.google.com/file/d/0BzuBOR2VJQqUdkltR3h2X0JfVkU/view?usp=sharing
https://drive.google.com/file/d/0BzuBOR2VJQqUekI5c0k1cnlGMk0/view?usp=sharing
https://drive.google.com/file/d/0BzuBOR2VJQqUR04xVk5CcXo2cmc/view?usp=sharing

[2016-09-22 17:02] gholme4 commented on #461
@HPaulJohnson Please list the correct URLs for the footer links here.

[2016-09-22 17:10] gholme4 commented on #467
Thanks @beccaklam.
@lovegushwa @damiankay #readyforreview

[2016-09-22 17:19] damiankay opened #469 "Maker Party: Fix Bablic editing issue"
Detailed description of work:
Kontextor is still not able to edit Maker Party pages in Bablic. @cadecairos @jendc123 can you please coordinate to fix this asap?

CC: @valianttry @shaghdoosti

[2016-09-22 17:27] damiankay commented on #469
@cadecairos can you please make Fission admins on the Bablic account so that they can help troubleshoot?

[2016-09-22 17:33] cadecairos commented on #469
@damiankay George's Email is set as admin on all the bablic sites. are there others to add?

[2016-09-22 17:39] cadecairos commented on #469
I removed Ola as a translator in Bablic (for www.makerparty.community), and then added her back in.}

My confidence in this software is failing!

[2016-09-22 17:46] damiankay commented on #469
@valianttry - can you confirm which level of service we purchased?
@cadecairos it looks like maker.community is still on a trial account

[2016-09-22 18:01] jendc123 commented on #456
@damiankay  I will let you know the timing on this pieces.  I hope to get it in the designs today.

[2016-09-22 18:03] damiankay opened #470 "Petition V2: Localized copy not displaying on front end"
Detailed description of work:
Ola has add localized copy for German and published it, but it's not displaying here: https://mozillafoundationstaging-mozillafoundation.nationbuilder.com/

CC: @cadecairos @jendc123 @valianttry

[2016-09-22 18:08] shaghdoosti opened #471 "Finalizing Host pack design"
Detailed description of work: Design for Host Pack.

_Start date: September 22, 2016_
_Due date: October 03, 2016_

CC: @ldecoursy Can you drop in the link to the host pack - @lovegushwa the due date here is just a suggestion - if you could look at the pack, scope and say when you think it's possible that would be great. I'm hoping that we can reuse alot of the design elements from the partnership

[2016-09-22 18:17] brettgaylor commented on #470
Confirming for me across languages - Chrome, OSX 10.11.12

[2016-09-22 18:24] jendc123 commented on #470
Can you try again. It looks like German wasn't set to live.

On Thu, Sep 22, 2016 at 2:03 PM, Damian Kuehn notifications@github.com
wrote:

##

Jennifer OReilly Mott
VP, Account Management | Fission Strategy

skype: jenoreillymott

twitter: @ http://www.twitter.com/fissionstrategyjenoreilly

jennifer_@fissionstrategy.com http://fissionstrategy.com_

[2016-09-22 18:25] damiankay commented on #470
Ola said that she "clicked the Publish" button. Is there another action she needs to take?

I'll ask her to send a screen shot

[2016-09-22 18:26] brettgaylor commented on #470
Still seeing English in first several paragraphs and headers.  This is in
all languages.

On Thu, Sep 22, 2016 at 2:25 PM, Damian Kuehn notifications@github.com
wrote:

[2016-09-22 18:28] damiankay commented on #470
![1474485638](https://cloud.githubusercontent.com/assets/19785709/18760859/9bbe5e54-80b7-11e6-8bdb-29264b8812cc.png)
![1474568850](https://cloud.githubusercontent.com/assets/19785709/18760860/9be3e386-80b7-11e6-8ecc-0cebd0d948c4.png)

[2016-09-22 18:29] ldecoursy commented on #471
Link to the host pack is here: https://docs.google.com/document/d/10JRtPlrOQjOSXUnJlMOsipBrPBaTQ0X4Htc_K2mSm6I/edit#heading=h.uhwwokhzpscs

One thing to note is that the icons on the 2nd page are placeholders - we need to replace those.

Thanks @lovegushwa !

[2016-09-22 18:31] cadecairos commented on #469
@damiankay We can only buy subscriptions from bablic on a per-site basis - so on changecopyright.org we pay for the "ultimate" plan (279/month), and for maker party, we'll need to subscribe for it separately.

So, should I pay for another plan?

[2016-09-22 18:33] damiankay commented on #469
@valianttry can you confirm? I would think that we'll need a full subscriptions for Maker Party as well.

[2016-09-22 18:36] damiankay opened #472 "Copyright Petition: V2.5 form validation"
Detailed description of work:
@lovegushwa can you please sync with @jendc123 on how the new form will validate? Jennifer, can you add more detail for Jordan please?

CC: @brettgaylor @valianttry @beccaklam

[2016-09-22 18:37] jendc123 commented on #470
She needs to slide the button to the right for "Live"
<img width="954" alt="live" src="https://cloud.githubusercontent.com/assets/6034476/18761229/19e883b2-80d2-11e6-975f-f456daf3221d.PNG">

[2016-09-22 18:40] damiankay commented on #470
Thanks @jendc123 - I'll pass that on

[2016-09-22 18:41] damiankay commented on #470
@brettgaylor - I've asked Ola to do another pass of QA to make sure that she didn't miss any strings. I'll set up a separate ticket to QA each language when she confirms it's ready for testing.

[2016-09-22 18:42] damiankay commented on #470
@jendc123 - is there a specific action that Ola needs to take to pull in localized country names? She couldn't figure out where to add them.

[2016-09-22 18:46] HPaulJohnson commented on #470
also, the videos themselves aren't serving in the selected language. they are still all english version only.

[2016-09-22 18:47] damiankay commented on #470
@jendc123 @cadecairos - Ola doesn't have the "live" slider in her view. Is that because she's a collaborator and not an admin?

![1474569971](https://cloud.githubusercontent.com/assets/19785709/18761576/58e1c1d6-80ba-11e6-8aa0-352a25c01c2d.png)

[2016-09-22 18:48] damiankay commented on #470
@HPaulJohnson I'll ask Fission to add those. There are tickets open

[2016-09-22 18:50] damiankay commented on #448
@jendc123 does that mean that Kontextor needs to do this?

[2016-09-22 18:50] vojtechsedlak opened #473 "Maker Party QA: Changing Google Analytics Tracking ID"
The tracking on the Maker Party Events site currently uses the ChangeCopyright.org ID. It needs to be updated to UA-35433268-71.

[2016-09-22 18:52] jendc123 commented on #470
She goes to Options > Show in Text Editor and she should see all the page text in a single view.

[2016-09-22 18:55] damiankay commented on #456
Thanks @jendc123

[2016-09-22 18:58] jendc123 commented on #472
Hi @lovegushwa - we don't know how you anticipated this form to show validation error. We currently have it validating each form field which isn't great UX.  Can you provide us with quick walk through of what you had in mind. Also happy to hop on call.

[2016-09-22 19:00] jendc123 commented on #470
@damiankay - I have made all the languages "live"

[2016-09-22 19:12] beccaklam commented on #468
# **First off, the form looks great! So awesome to see the designs come to life 👍 Here are the issues I've found:**

## 1. Thank you text in black, please change to white. Can we also have the string sit on one line for desktop and tablet? This way the band is not as thick.

### No:

![screen shot 2016-09-22 at 2 25 44 pm](https://cloud.githubusercontent.com/assets/20977376/18760784/78c91056-80d0-

[2016-09-22 19:14] damiankay opened #474 "Copyright Petition: Add translations from V1"
Detailed description of work:
Hi @jendc123 - Ola has identified [these translations](https://docs.google.com/spreadsheets/d/1VIAfwfh8kA-83j6nq86-SpPVoixkOnHLMc2rRYaexgw/edit#gid=510562791) are missing from V2. I thought that they would be moved over from V1. Can you confirm? Hoping we don't need to have her re-enter them manually.

CC: @brettgaylor @valianttry

[2016-09-22 19:15] damiankay commented on #470
Thanks @jendc123

[2016-09-22 19:26] lovegushwa commented on #192
@damiankay we need some light social. Also working with the MOCO social team for a launch stunt around images in the commons. Should have something to show by end of day Friday.

[2016-09-22 19:42] damiankay commented on #460
Hi @gholme4 - any updates from Nationbuilder on this issue?

[2016-09-22 19:43] damiankay commented on #458
Closing - duplicate of  #460

[2016-09-22 19:43] #458 closed, assigned to ldecoursy

[2016-09-22 19:43] HPaulJohnson commented on #346
@damiankay @valianttry can i get a final lists of locales that we will be launching v2 petition in? i need this to do the asset handoff to the snippet team.

[2016-09-22 19:55] ScottDowne commented on #452
@ldecoursy @HPaulJohnson Question, should the partner pack and host pack links somehow handle l10n?

[2016-09-22 20:05] lovegushwa commented on #472
@jendc123 looking into this. Will speak with @beccaklam and get back to you asap.

[2016-09-22 20:13] ScottDowne commented on #452
@damiankay done https://learning.mofostaging.net/en-US/events/ and https://learning.mofostaging.net/en-US/events/resources/

[2016-09-22 20:21] valianttry commented on #469
Of course. seems like without it we have no localization for maker party, correct? $280/ month is pennies. Approved.

[2016-09-22 20:26] damiankay opened #475 "Maker Party: Opt-in copy"
Detailed description of work:
@HPaulJohnson @shaghdoosti - can you please confirm what we should use for opt-in copy for the Maker Party sign-up form in Nationbuilder?

This is the text from the Petition:

There is also a pop up over "information" (see screen shot)

This will need to appear on the [sign up page](https://makerevents-mozillafoundation.nationbuilder.com/forms/user_sessions/new)

CC:

[2016-09-22 20:30] vojtechsedlak opened #476 "v2.5 petition QA: Adding GA event to multiple step form"
I've sent an email to George with details on this. We need to add a custom event to each step of the form, so that we can track user attrition within the signing process. Just logging it here for tracking purposes.

[2016-09-22 21:15] damiankay commented on #346
@HPaulJohnson - I mis-spoke in our meeting today. DE, ES, FR, PL, BG & IT are complete. CS and NL communities have said they will be done by this evening, but Kontextor will still need to paste these into Bablic.

FYI, I've added the localization tracking spreadsheets to our Wiki page for easy access.

[2016-09-22 21:17] HPaulJohnson commented on #346
Great, thank you. We'll get all of these queued up then. Except, PL - doesn't look like they are working on the new versions of the snippet so we won't have anything for that locale this round.

[2016-09-22 21:20] HPaulJohnson commented on #462
I think that's right @damiankay. But I think @shaghdoosti should sign off before we close this one.

[2016-09-22 21:27] damiankay opened #477 "Maker Party: SF field mappings"
Moving this thread to Github from email.

@drewmoto suggested the field map in the image below.

@jendc123 flagged that this will take 5-7 hours to implement

Is there another option that is a lighter lift? I don't know enough about this to make a decision. Can @drewmoto weigh in please?

CC: @valianttry @stephaniemcv @imagerwalt

![sf-field-map](https://cloud.githubusercontent.com/assets/19785709

[2016-09-22 21:30] vojtechsedlak commented on #324
I fixed the issues mentioned above @valianttry. Please let me know if there are any other issues @damiankay. Otherwise we can move this to production, with the help of @cadecairos, and close this issue. Thanks!

[2016-09-22 21:39] HPaulJohnson opened #478 "v2.5 Petition Site QA: Confirmation email content"
As experienced in earlier testing on v2, the v2.5 form is generating a confirmation email that needs to be turned off.

Screenshot:
![email_confirm](https://cloud.githubusercontent.com/assets/10078715/18767145/6802b7ca-80d2-11e6-9115-0358cfc05031.jpg)

@damiankay

[2016-09-22 21:52] beccaklam commented on #472
Hi @jendc123 and @gholme4, we redesigned the form and this is what we would like the back button to look like:
![formwithbackbutton](https://cloud.githubusercontent.com/assets/20977376/18767384/d64a59b2-80ec-11e6-85c6-8da06e99f80c.png)
I've attached the arrow here:
https://drive.google.com/file/d/0BzuBOR2VJQqUZDdaRXByc3pxWEk/view?usp=sharing
CC: @lovegushwa @damiankay

[2016-09-22 22:02] vojtechsedlak commented on #230
Hey @stephaniemcv, sorry it took me a while to get to this. I've just reviewed the three docs and filled in the missing Codemoji action data. Please let me know if there is anything else that I missed. Otherwise we can close this ticket. Thanks!

[2016-09-22 22:02] damiankay commented on #478
@jendc123 @gholme4

[2016-09-22 22:17] gholme4 commented on #460
@damiankay Not yet. I'll let you all know when I do.

[2016-09-22 22:18] gholme4 commented on #476
@vojtechmzl #readyforreview

[2016-09-22 22:18] damiankay commented on #460
@gholme4 - could you please CC me on the email? I'll try to escalate it, as this is a pretty major blocker for us.

[2016-09-22 22:18] gholme4 commented on #478
@HPaulJohnson @damiankay   #readyforreview

[2016-09-22 22:20] gholme4 commented on #473
@vojtechmzl @damiankay  #readyforreview

[2016-09-22 22:20] gholme4 commented on #464
@lovegushwa @damiankay  #readyforreview

[2016-09-22 22:21] vojtechsedlak commented on #476
Perfect. Works great. Thanks for your help @gholme4!

[2016-09-22 22:21] #476 closed, assigned to nobody

[2016-09-22 22:21] gholme4 commented on #460
@damiankay Will do.

[2016-09-22 22:22] drewmoto commented on #477
We can assign these Campaigns to the Parent Campaign later next week if we need to if the code changes interfere with our schedule. I can utilize the data loader API tool we have. It is not a blocker to go live as long as we are able to create the individual campaigns and assign the hosts and attendees accordingly.

[2016-09-22 22:22] vojtechsedlak commented on #473
Thanks for the update @gholme4. Works great.

[2016-09-22 22:22] #473 closed, assigned to nobody

[2016-09-22 22:24] damiankay commented on #477
That's great @drewmoto ! Should we move to production then, so that we don't need to worry about that later? I'm assuming we're still in the sandbox.

[2016-09-22 22:30] HPaulJohnson commented on #478
looks good @gholme4 . no email received after submitting the form. closing.

[2016-09-22 22:30] #478 closed, assigned to nobody

[2016-09-22 22:32] drewmoto commented on #477
Yes. We can push as long as the above conditions are met. Thanks all!!

[2016-09-22 22:35] damiankay commented on #477
@imagerwalt any issues with pushing to production? Does this happen on Fission or Mozilla's end?

[2016-09-22 22:39] imagerwalt commented on #477
@damiankay The actual update should be much lower than 5-7 hours, but I think it's probably a good idea to allocate some hours for additional testing and potential debugging, just in case.

I can move that to production once we make the update and test it.

[2016-09-22 22:43] lovegushwa commented on #471
@shaghdoosti I think we can get this sorted by end of day Monday. Will see if I can get a solid start tomorrow if I can get some irons out of the fire.

[2016-09-22 22:46] damiankay commented on #477
@imagerwalt - I'd recommend that we move to production first, and add make the other changes later. @drewmoto is away tomorrow, so we'll have no way of confirming data pass-through on our end.

Again, not my area, so feel free correct me!

[2016-09-22 22:49] Barfaaa commented on #456
@damiankay Here are two mockups. Let me know what you think and/or if there are other elements I should use for these CTAs.
![event list - sidebar - ctas - v1a](https://cloud.githubusercontent.com/assets/8924671/18768733/289edee2-80dc-11e6-9771-2783dc294117.png)
![event list - sidebar - ctas - v1b](https://cloud.githubusercontent.com/assets/8924671/18768734/289f5b60-80dc-11e6-8f1c-1240230fbb21.png

[2016-09-22 22:55] imagerwalt commented on #477
@damiankay  I will be able to do both tomorrow, I don't think updating the new parent thing alone really is going to take much time, and doing that probably means we will use less time overall (from the 5-7 hours) as we don't have to go back and correct the data that has been imported.

This is a different process than the user petition sign up (that happened in real time), as this event sync is n

[2016-09-22 22:55] damiankay commented on #456
Thanks @Barfaaa !

@lovegushwa @HPaulJohnson @geroter can you review and provide feedback please?

[2016-09-22 22:57] damiankay commented on #469
@cadecairos - any luck setting up the subscription?

[2016-09-22 22:57] lovegushwa opened #479 "v2 Petition QA: share buttons jump right when scrolling"
@gholme4 the share buttons jump from a fixed position next to the copy, to the right edge of the browser. I prefer the sticky buttons stay next to the copy (1st location) while scrolling down the page if possible.

1st location
![screen shot 2016-09-22 at 3 47 19 pm](https://cloud.githubusercontent.com/assets/12228435/18768700/eacc5e6e-80db-11e6-9ad0-8d93d858685d.png)

sticky location
![screen sho

[2016-09-22 22:57] damiankay commented on #477
@drewmoto is there time to delete the test data today?

[2016-09-22 22:59] imagerwalt commented on #477
@damiankay Actually, it's those test data from Nationbuilder end that we have to remove. Those in sandbox we don't have to worry about them.

[2016-09-22 22:59] Barfaaa commented on #456
**Lol** my name on here is @barfaaa haha! Must have set that up ages ago. (for context, Martha > Marf > Barf > Barfa thanks to friends and family, partially with the help of the movie _Space Balls_ i think.)

[2016-09-22 23:00] damiankay commented on #477
Ok - great!

[2016-09-22 23:07] imagerwalt commented on #477
I can delete all those test events once I have them tested with the new parent. So we're good on moving it to prod tmr?

[2016-09-22 23:11] lovegushwa opened #480 "v2 Petition QA: smooth animation for v2.5 sticky petition transition"
@gholme4

v2 sticky bar animates in nice and smooth from the bottom of the page
Can we apply the same animation to the v2.5 petition sticky bar?

![form-animation](https://cloud.githubusercontent.com/assets/12228435/18769079/ce8656d0-80de-11e6-96ef-846db729b5fe.gif)

[2016-09-22 23:13] #467 closed, assigned to nobody

[2016-09-22 23:13] #466 closed, assigned to nobody

[2016-09-22 23:13] #465 closed, assigned to nobody

[2016-09-22 23:13] #464 closed, assigned to nobody

[2016-09-22 23:14] #463 closed, assigned to nobody

[2016-09-22 23:15] damiankay commented on #477
Yes please - thanks!

[2016-09-22 23:25] damiankay commented on #456
I had to say I was wondering Martha! :-)

[2016-09-22 23:27] damiankay commented on #452
Thanks @ScottDowne  - we'll add the Activities and update the host pack links when available.

Good question about the localized Host Packs though - any suggestions?

[2016-09-22 23:27] HPaulJohnson commented on #456
These are great. Personally, I like the "Become a Host" CTA from version 1 and the "Share" CTA from version 2.

[2016-09-22 23:28] damiankay commented on #475
@HPaulJohnson @shaghdoosti @valianttry @geroter can you please comment or let me know who can create final copy?

Should I just create a bug and ask legal to supply? I'm hoping to use existing copy if possible to avoid new translations.

[2016-09-22 23:29] damiankay commented on #460
@gholme4 I didn't see an email yet. Can you forward please? We really need to clear this issue. Thanks!

[2016-09-22 23:30] #470 closed, assigned to nobody

[2016-09-22 23:31] HPaulJohnson commented on #475
@damiankay my suggestion would be to reuse the copy from the petition. but i think @shaghdoosti or @geroter need to make the final call.

[2016-09-22 23:32] damiankay commented on #456
Thanks @HPaulJohnson - @geroter @shaghdoosti @lovegushwa please chime in if you disagree, otherwise we'll ask Fission to integrate the CTAs tomorrow.

[2016-09-22 23:33] jendc123 commented on #460
@damiankay I just forwarded you the thread.

[2016-09-23 00:07] HPaulJohnson commented on #201
v2 snippets all localized in tier 1 locales and submitted to snippet team. we'll track a launch date in #346. calling this one complete!

[2016-09-23 00:07] #201 closed, assigned to HPaulJohnson, lovegushwa

[2016-09-23 00:19] valianttry commented on #475
@damiankay i'm confused. Will there be an email optin here to join our list? Or you want some similar language, but for people completing the form to host a party? The language will be quite different from an email opt in. I can draft something and ask Marshall to approve if that's helpful.

[2016-09-23 00:21] gholme4 commented on #479
@lovegushwa That isn't possible with CSS because the fixed buttons are positioned relative to the window. When they aren't fixed they are positioned relative to the content container.

[2016-09-23 00:23] gholme4 commented on #480
@lovegushwa @damiankay #readyforreview

[2016-09-23 00:23] damiankay commented on #475
@valianttry as I understand it, when people sign up for an account they are also added to our list.

@imagerwalt can you verify please?

[2016-09-23 00:28] valianttry commented on #475
I need to know the exact UX to know what to ask legal.
- They do not need to "opt in" to triggered emails about Maker Party events.
- They DO need to opt in if they want to join the Foundation's email list. In that case, they are opting in for other emails we may send them, not all of which might be related to Maker Party.

[2016-09-23 00:30] damiankay commented on #475
Yes, I understand. I'm quite sure that they are currently added to the foundation's list, but I'll confirm asap. It could be that I misunderstood, and we're only adding them as records within Salesforce, but without the email opt-in.

[2016-09-23 00:41] HPaulJohnson commented on #461
Here is what I have for the footer:
- Contact Us: makerparty@mozillafoundation.org (note: this isn't live yet but working on getting it setup by Monday)
- Join the Conversation: https://medium.com/mozilla-advocacy
- Legal: https://beta.webmaker.org/#/legal?_k=gelv6e (i know this is weird - Webmaker and all, but it's what Abigail has requested)
- Privacy: https://www.mozilla.org/privacy/websites/
-

[2016-09-23 01:15] natalieworth commented on #422
@brettgaylor @KevZawacki @HPaulJohnson EN, DE, and FR versions of .mov and .mp4 files are exported here for the rapid response video: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0RUFwVVlFSDNfYXc

@brettgaylor Do we need to have a localizer or someone have a 2nd pair of eyes on the DE and FR versions? Copy for those are here: https://docs.google.com/document/d/1pXMKnwTUkoOtmMSIYtBJrHR2sO

[2016-09-23 01:32] damiankay commented on #469
Confirming that @cadecairos set up the account.

@jendc123 are you able to see the strings? Ola said that you were having the same problem.

[2016-09-23 01:36] damiankay commented on #475
@shaghdoosti @geroter can you confirm whether we want to add Maker Party users to our email list? If not, this messaging is not required.

My assumption is that we need to add them to Mozilla list so that we can continue to build our relationship with them after Maker Party is over.

[2016-09-23 01:45] damiankay commented on #468
@beccaklam - can you identify which of these are vital for launch and should be addressed first? There are a lot of issues that you've identified here. Thanks!

[2016-09-23 01:46] valianttry commented on #475
@damiankay -- this isn't a George or Sara call, it's mine / legal and compliance. The trouble is that it's against our user practices to force people to opt in to any email list without giving them a choice to opt out. (Triggered emails are an exception.) We can probably get away with a pre-checked box to opt in to our list for Hosts, but we would have to honor their opt-out choice if they uncheck

[2016-09-23 01:49] damiankay commented on #475
Ah I see. Thanks for clarifying.

If you don't mind launching the bug for Marshall I'd appreciate it!

[2016-09-23 01:49] damiankay commented on #418
@brettgaylor - the Post Crimes share copy can be found [here](https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=0) in the "Post Crimes" tab

[2016-09-23 01:52] valianttry commented on #475
Hm. This ends up being a really confusing UX -- see my mockup below. @imagerwalt have you any examples of other orgs' UX for opting into their email list in the events module? Could we use a popup or insert the ask somewhere else in the flow?

![sign_in](https://cloud.githubusercontent.com/assets/9830371/18771690/b1666d3a-80f5-11e6-971f-1230fac87afb.png)

[2016-09-23 02:15] cadecairos commented on #324
I'll add this to my list of things so I don't lose it - let me know when it's ready to go!

[2016-09-23 02:16] valianttry commented on #475
New legal bug is here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1304929 (limited access)

[2016-09-23 02:18] jendc123 commented on #469
@damiankay Things are looking good on my end.  If Ola has any issues early tomorrow, I'm happy to try and help her. She can connect with me on Skype.

[2016-09-23 04:19] lovegushwa commented on #472
@gholme4 I checked out the new form and realize the UI is now busted when looking at the check boxes. Sorry about the back and forth here. Also

<img width="808" alt="screen shot 2016-09-22 at 9 08 32 pm" src="https://cloud.githubusercontent.com/assets/12228435/18773996/68dac34a-8109-11e6-8665-249f5727adf9.png">

Here is a alternate solution, @beccaklam you want to weigh in here?

<img width="769"

[2016-09-23 04:20] lovegushwa commented on #472
@gholme4 still can move backwards without first filling in the field. Is this something we can solve?

<img width="787" alt="screen shot 2016-09-22 at 9 19 45 pm" src="https://cloud.githubusercontent.com/assets/12228435/18774078/57858548-810a-11e6-929c-51824be7de4e.png">

[2016-09-23 04:23] brettgaylor opened #481 "Poster videos for youtube"
Can we upload some custom images so that the youtube poster frame isn't randomly chosen?  Always makes a big diff.  We should do this for Facebook when we post there, too.

[2016-09-23 04:28] lovegushwa commented on #447
@damiankay spoke with Fission and said we would update them about this tomorrow

@vojtechmzl here are a couple options for a test, @beccaklam if you can solve what the mobile will look like and add the design before lunch that would be amazing.

<img width="790" alt="screen shot 2016-09-22 at 9 17 58 pm" src="https://cloud.githubusercontent.com/assets/12228435/18774174/43ff9dd2-810b-11e6-96ac-1980

[2016-09-23 04:42] lovegushwa commented on #446
@beccaklam we need a donation ask with this copy ( ignore this design of course!)

<img width="1114" alt="screen shot 2016-09-22 at 9 40 04 pm" src="https://cloud.githubusercontent.com/assets/12228435/18774367/2b8d1548-810d-11e6-93e4-a543b3493e49.png">

[2016-09-23 04:47] damiankay commented on #469
Oh good! I'll let Ola know. Thanks very much everyone.

On Thursday, 22 September 2016, Jennifer notifications@github.com wrote:

##

Damian Kuehn
Program Manager, Advocacy
Mozilla Foundation https://www.mozilla.org/en-US/foundation/

[2016-09-23 04:47] lovegushwa commented on #446
@beccaklam Currently I'm not seeing anything after signing on desktop, did you create a share ask for desktop? I see a design for mobile. If you did not make one we are going to need it! Could be the same design but triggered as a modal.

![mobile thank you and share](https://cloud.githubusercontent.com/assets/12228435/18774421/e1b90e44-810d-11e6-8cfc-7d9244c56551.png)

[2016-09-23 04:49] damiankay commented on #475
It's definitely not ideal, but this is the only page prior to the user
submitting their data. From here they simply click a verification link in
their email.

Thanks for doing this!

On Thursday, 22 September 2016, Andrea Wood notifications@github.com
wrote:

##

Damian Kuehn
Program Manager, Advocacy
Mozilla Foundation https://www.mozilla.org/en-US/foundation/

[2016-09-23 13:17] beccaklam commented on #446
@lovegushwa I did design  a thank you for desktop, it was included in the red pens and the photoshop file:
![screen shot 2016-09-23 at 9 18 58 am](https://cloud.githubusercontent.com/assets/20977376/18786923/6320b382-816e-11e6-8728-f6fea1599b30.png)

[2016-09-23 13:48] ldecoursy commented on #452
Some of the links go to other Maker Party sites/documents that are being localized, others don't (online forum, for example). I'm not sure about the social media toolkit, though - @HPaulJohnson do you know? @lucyeoh do you know if the sample planning meeting agenda is being localized? The last two links in the doc (for the open web stretch and Chad's blog post) are not localized.

[2016-09-23 13:53] damiankay commented on #434
Hi @beccaklam - can you please double check that we have all of the correct localized versions? Should be all Tier 1 & 2 language versions for cat 1.

You can find the supported languages in the [wiki](https://github.com/MozillaFoundation/Advocacy/wiki/EU-Copyright-Campaign:-Project-information)
- Tier 1: English, French, German, Spanish, Polish
- Tier 2: Italian, Dutch, Czech, Bulgarian

Thanks!

[2016-09-23 13:55] damiankay commented on #469
Ola is in - thanks guys

[2016-09-23 13:55] #469 closed, assigned to nobody

[2016-09-23 14:16] beccaklam commented on #434
Hi @damiankay we have all the above except Polish and Bulgarin (unless that's Hungarian, then we have that too). You can find them here: https://drive.google.com/drive/folders/0BzuBOR2VJQqUSmJBYjZOdjkzZzA?usp=sharing

[2016-09-23 14:31] stephaniemcv opened #482 "Copy creation: Explainer Video"
Detailed description of work: Create and route copy to create an email compelling our list to watch our new video, with pugs.
https://docs.google.com/document/d/1ip38M5aGZCMVrgZBxtmvkJC3k0Q8QXeOAV-7-b-YY74/edit
Send Date: 9/27/16
**Currently in routing**

_Start date: September 1, 2016_
_Due date: September 26, 2016_
Note: The dates need to be exactly in the format indicated above for proper integ

[2016-09-23 14:39] stephaniemcv opened #483 "Design: Explainer Video email"
Detailed description of work: Image request for hero image (600x300px). Using template on the left, need play button and text "Watch our new video, with pugs"
<img width="921" alt="0f262b50-7e7a-11e6-9582-acafce3d159d" src="https://cloud.githubusercontent.com/assets/11812272/18789669/088f5482-8169-11e6-9542-c8a90898f4b6.png">

_Start date: September 23, 2016_
_Due date: September 26, 2016_
Note: T

[2016-09-23 14:40] stephaniemcv commented on #482
Associated design ticket #483

[2016-09-23 14:42] stephaniemcv opened #484 "Build: Explainer Video Email"
Detailed description of work: Code and load copy & design

_Start date: September 26, 2016_
_Due date: September 26, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-23 14:42] stephaniemcv commented on #482
Associated build ticket #484

[2016-09-23 14:44] stephaniemcv opened #485 "QA: Explainer Video Email"
Detailed description of work: Review Group, please check copy, rendering and link functionality and place edits/issues in this ticket

_Start date: September 26, 2016_
_Due date: September 27, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-23 14:45] stephaniemcv commented on #482
Associated QA ticket #485

[2016-09-23 15:00] stephaniemcv opened #486 "Email: Host a Maker Party"
Detailed description of work: Create and route copy for invite email about a host.
Audience: Anyone on existing Maker Party lists; anyone who signs the petition. Localization: DE, FR, EN-UK, ES, PL
Draft: https://docs.google.com/document/d/1TiwEl_pmwSSf5YUt2GjGfj9BfPebJBLgGbHQ2GYM-aw/edit
Send date: 9/29/16

@shaghdoosti @valianttry can you please choose a variant and start the approval routing pr

[2016-09-23 15:04] stephaniemcv opened #487 "Build: Host a Maker Party email"
Detailed description of work: Image request for call out box image (200x200px). Using template on the right with text "Host a Maker Party for EU copyright reform"

<img width="921" alt="0f262b50-7e7a-11e6-9582-acafce3d159d" src="https://cloud.githubusercontent.com/assets/11812272/18790553/79cf1274-816c-11e6-9f6b-fe33078a04e3.png">

_Start date: September 23, 2016_
_Due date: September 27, 2016_
No

[2016-09-23 15:04] stephaniemcv commented on #486
Associated design ticket #487

[2016-09-23 15:07] stephaniemcv opened #488 "Build: Host a Maker Party email"
Detailed description of work: Code and load copy & design

_Start date: September 1, 2016_
_Due date: September 2, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-23 15:07] stephaniemcv commented on #486
Associated build ticket #488

[2016-09-23 15:09] stephaniemcv opened #489 "QA: Host a Maker Party email"
Detailed description of work: Review Group, please check copy, rendering and link functionality and place edits/issues in this ticket

_Start date: September 28, 2016_
_Due date: September 29, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-23 15:10] stephaniemcv commented on #486
Associated QA ticket: #489

[2016-09-23 15:13] ScottDowne opened #490 "https://makerparty.community is an untrusted connection"
Detailed description of work: We need to ask NationBuilder to redirect https://makerparty.community to https://www.makerparty.community

Let me know if this is incorrect @cadecairos

_Start date: September 23, 2016_
_Due date: October 5, 2016_

Guessing on these start dates, we can move it around.

CC: @damiankay

[2016-09-23 15:14] beccaklam commented on #472
Hi @lovegushwa @gholme4 here are all the steps with Jordan's new design implemented:
![form_v3](https://cloud.githubusercontent.com/assets/20977376/18790903/a37ebe78-817e-11e6-9ac7-06c676d881b1.png)
I also agree that we need to fix the inability to move backwards without first filling in the field. We were told that creating the back button would fix this problem? @jendc123 Also we are finding on

[2016-09-23 15:15] beccaklam commented on #447
@damiankay @vojtechmzl Here are the mobile versions of @lovegushwa 's designs:
![mobile-progressbar-1](https://cloud.githubusercontent.com/assets/20977376/18790990/f9d339ca-817e-11e6-8e35-b0e9d7c8b5fb.png)
![mobile-progressbar-2](https://cloud.githubusercontent.com/assets/20977376/18790992/fbaf6ae8-817e-11e6-9e87-1765b8a476c1.png)

[2016-09-23 15:15] cadecairos commented on #490
It is correct. Right now they're only redirecting on port 80 ( http://makerparty.community )

[2016-09-23 15:16] beccaklam commented on #446
@damiankay @vojtechmzl Here are designs that could be implemented for a donation ask. I have attached both desktop and mobile versions:
![desktoptabletdonate](https://cloud.githubusercontent.com/assets/20977376/18791025/1eae3f2e-817f-11e6-9af7-039bf3c66b30.png)
![mobiledonate](https://cloud.githubusercontent.com/assets/20977376/18791028/20c4e948-817f-11e6-8f5e-5036a9b89247.png)

[2016-09-23 15:22] vojtechsedlak commented on #446
These look great! Thanks @lovegushwa! Could we create a version that combines both donate and share asks? That would be ideal to run a fully comprehensive test. Thanks!

[2016-09-23 15:28] vojtechsedlak commented on #447
These are really great! Thanks @lovegushwa @beccaklam. Just wondering if, for the purposes of the test, we should perhaps lose the copy and only go with numbers (v1 would then be probably better). Adding the bablic complexity into the equation just to run a test may not be the best idea and I think the numbers are self-explanatory. It could also be a good follow up test to see the impact of the co

[2016-09-23 15:33] damiankay commented on #490
@cadecairos or @ScottDowne can you please submit a support ticket, and CC me on the initial email response? I'll escalate it right away, but Dana is traveling, so best to get it directly in to their support team.

Thanks!

CC @valianttry

[2016-09-23 15:37] jendc123 commented on #472
@lovegushwa @beccaklam @damiankay, please hold off on testing for full functionality.  We are making updates and will circle back.

[2016-09-23 15:54] cristina-moon commented on #486
Hey @stephaniemcv there is another ticket for this (#135). Do you want to consolidate? If not, I can respond in both.

[2016-09-23 15:56] cristina-moon commented on #486
I'm rewriting the email copy today 11am-1pm pt based on guidance from @shaghdoosti. 270 is also helping!

[2016-09-23 15:58] shaghdoosti commented on #475
Hey - sorry just seeing this. @valianttry It's crucial the hosts/attendees have the option to optin to our list (and preferably text that tells them why this is important) we'll need to be able send hosts and attendees emails through maker party (ie: for webinars/training calls) so this is pretty vital in that sense.

[2016-09-23 16:06] valianttry commented on #475
@shaghdoosti I would consider those the kinds of emails that do not require an opt in. They are directly related to the "service" the user signed up for (maker party). Right now we don't have a great way to parse audiences this way -- for instance, if we send future emails about internet of things they would not be opted in to receive that kind of email (unrelated to maker party).

cc @stephaniemc

[2016-09-23 16:13] stephaniemcv commented on #475
We have a dedicated Maker Party list that we could flag on a host's Contact Record rather than the larger Foundation list. Can instead we say "Yes, I'd like to receive emails/updates about Maker Party.". Then have a cultivation campaign at the end of Maker Party to get them into the larger list?

[2016-09-23 16:14] beccaklam commented on #446
@vojtechmzl @lovegushwa @damiankay Here are the designs that combine the share and donate ask. @lovegushwa thoughts on the design? It's a bit busy but not sure how to make it less so.
![desktopthankyoudonate](https://cloud.githubusercontent.com/assets/20977376/18793100/4f07ed48-8187-11e6-89d5-fc9ebfc69c5a.png)
![mobilethankyoudonate](https://cloud.githubusercontent.com/assets/20977376/18793105/525

[2016-09-23 16:18] beccaklam commented on #468
@damiankay I would say P1s would be 1, 4,5,7 and 10
The rest are really easy style changes though that should be quick.
CC: @lovegushwa

[2016-09-23 16:22] vojtechsedlak opened #491 "Maker Party QA: Fix title and description metatags"
The current title for the site is "Maker Events". @HPaulJohnson Is there a preferred version/syntax? There also is no description metatag (should be ~155 characters). From SEO perspective it should highlight Mozilla, copyright and maker party.

[2016-09-23 16:24] lovegushwa commented on #480
@gholme4 looks great! thank you.

[2016-09-23 16:24] #480 closed, assigned to nobody

[2016-09-23 16:24] vojtechsedlak opened #492 "Maker Party QA: Add Bing webmaster metatag"
Add the following metatag into the <head> section to validate ownership of domain for Bing.

`<meta name="msvalidate.01" content="13EF2A0EAD5D8998B3860BF4B7D1056C" />`

[2016-09-23 16:39] vojtechsedlak opened #493 "Maker Party QA: Fix Open Graph metatags"
The OG tags are present, but need to be udpated. @HPaulJohnson would you be able to identify what should be the title and description for the homepage. Specific events include the name of the event as title, but the description og tag seems to be the same across the site.

[2016-09-23 16:40] valianttry commented on #475
So @stephaniemcv they are already automatically added to the "Maker Party list"? I assume that also means they would get non-Maker Party emails (like EOY fundraising or future campaigns) unless they were excluded from them, correct? The problem is we don't have a way to flag that hosts or registrants can ONLY recieve Maker Party related email (triggered or otherwise) WITHOUT also adding them to th

[2016-09-23 16:41] vojtechsedlak opened #494 "Maker Party QA: Update alt tag for maker party logo"
The alt tag for the logo image is currently "Mozilla". Should be updated to "Mozilla Maker Party"

[2016-09-23 17:09] vojtechsedlak opened #495 "Test Idea: Different background image in the header"
Detailed description of work: Let's test different images that relate to different social content we are testing through paid ads.

_Start date: September 23, 2016_
_Due date: October 10, 2016_

CC: @lovegushwa let's upload the images here once they are ready. Thanks!

[2016-09-23 17:14] vojtechsedlak commented on #419
Analytics set up complete.

[2016-09-23 17:14] #419 closed, assigned to vojtechsedlak

[2016-09-23 17:40] KevZawacki commented on #481
@brettgaylor Definitely! What'd you have in mind?

To see the thumbnails that are currently being used, log in to our YouTube channel and view our unlisted videos. Ping me if you need credentials.

[2016-09-23 17:58] natalieworth commented on #481
@brettgaylor @KevZawacki do you know if I need to export a static image to upload for them? Or are we able to directly select a frame within the youtube/ social media platforms?

[2016-09-23 18:08] KevZawacki commented on #481
@natalieworth You can select from three frame options YouTube provides, or upload a custom one. See below:

![screen shot 2016-09-23 at 2 07 52 pm](https://cloud.githubusercontent.com/assets/11045250/18796411/20074d76-8197-11e6-90d1-66e54c00bcf9.png)

@brettgaylor Did you have specific ideas in mind? In a lot of cases, the options YouTube gives us are pretty good. For example, the CSI: GIF title s

[2016-09-23 18:09] imagerwalt commented on #475
@damiankay I think we probably need those opt-in checkbox(es), for "create an account" option. Currently I don't have the subscribed enabled with Salesforce, but let me know how you want to do it, whether subscribed in SF by default, or have a checkbox for that.

So if one is opted-in, they should have "subscriber" (under contact detail) checked, and "Maker Party Subscriber" checked under subscrib

[2016-09-23 18:09] stephaniemcv commented on #475
If they are added to the Maker Party list, they only get Foundation (EOY, campaigns) if they have **both** lists checkboxed. In theory, I think you can checkbox multiple lists with one subscription. But the default is one form funnels to one list.

Below is a snap of a subscriber who is on the MakerParty list but NOT on the Foundation list. So they get NO Campaigns or EOY emails.

![foundation-mp]

[2016-09-23 18:12] brettgaylor commented on #481
@KevZawacki  i believe @natalieworth  uploaded screen grabs I believe for each video - they are in a google drive folder together (right?). I feel they are better because they don't have subtitles (ie "its our job to track down" is kind of without context) and are chosen based on being compelling graphically.  Youtube sometimes has the right ones for sure, but the "custom thumbnail" option almost

[2016-09-23 18:23] natalieworth commented on #481
@KevZawacki I'll grab the one's I passed along to Jordan for the website

[2016-09-23 18:25] jendc123 commented on #472
Hi @lovegushwa @beccaklam @damiankay - a couple of things to raise on the form. In your version above with the back button on the right hand side, we wanted to flag that it may confuse users since it appears to be inside the field.  We suggest using a back button on the left hand side

<img width="613" alt="form buttons" src="https://cloud.githubusercontent.com/assets/6034476/18796951/9037eebe-819

[2016-09-23 18:26] valianttry opened #496 "NEW snippet design in Activity Stream. Foundation feedback and questions"
Detailed description of work:
The current snippet is going to eventually make way for an activity stream version. Here are detailed mockups of what they would look like, including a fundraising snippet:

https://mozilla.invisionapp.com/share/DX8O1JFMA#/screens/187604366

@vojtechmzl and @ScottDowne and @lovegushwa and @HPaulJohnson  let's use this ticket to record feedback and questions. I will th

[2016-09-23 18:27] natalieworth commented on #481
@KevZawacki Here's images exported directly (without subtitles):
Explainer Video: https://drive.google.com/file/d/0B20-0lpP23c0eXVkMjNZMk9DQWc/view
Meme Jail Video: https://drive.google.com/file/d/0B20-0lpP23c0S0NualotUjZjdHc/view
CSI Video: https://drive.google.com/file/d/0B20-0lpP23c0ZGUwQUh5cS0yaHM/view

[2016-09-23 18:29] valianttry commented on #496
For fundraising: How easy will it be to test design elements and text? For instance, 2 amount buttons vs. 4? Different sentences hotlinked?

![new_tab-snippets](https://cloud.githubusercontent.com/assets/9830371/18797062/e3e4e0ee-8180-11e6-88ec-629c9b010faa.png)

[2016-09-23 18:33] ScottDowne commented on #496
Just some of my thoughts.

Possibility of takeovers? Or are spectacular snippets pretty much off the table? We could have something that covers the whole page, and when you x or otherwise interact with it, it goes away? Similar to the mozilla.org takeover we do.

Is that fundraising snippet an example or a proposed template?

I like that the x button is being cleaned up a lot. It's much better in

[2016-09-23 18:33] brettgaylor commented on #481
exactly!

On Fri, Sep 23, 2016 at 2:27 PM, Natalie Worth notifications@github.com
wrote:

[2016-09-23 18:33] natalieworth commented on #481
:D @KevZawacki Let me know if those work or it you need help with them

[2016-09-23 18:35] KevZawacki commented on #481
@natalieworth These are perfect! I'll update :-)

[2016-09-23 18:35] #481 closed, assigned to KevZawacki, natalieworth

[2016-09-23 18:49] ScottDowne opened #497 "maker party login link is not using the primary domain and instead does a redirect"
Detailed description of work:

Not sure where this gets fixed. NationBuilder? Also not sure how significant of an issue this is, but the steps to reproduce are:
1. Go here: https://www.makerparty.community/login

Expected: Should see a login page, on the https://www.makerparty.community/login url.
Actual: You see a login page, but are now on: https://makerevents-mozillafoundation.nationbuilder.com

[2016-09-23 18:52] jendc123 commented on #456
Hi @damiankay are we good to go on implementing "Become a Host" CTA from v1 and "Share" CTA from v2. Thanks!

[2016-09-23 18:53] ScottDowne commented on #452
So, all that's left is the activities need links, then I can place them in.

Also, to deal with any localized assets not currently being linked to.

I think both of those can and should be refiled in specific tickets, so closing this, and spawning into two new tickets. :rocket: :monkey:

[2016-09-23 18:53] #452 closed, assigned to ScottDowne

[2016-09-23 18:54] jendc123 commented on #461
Hi @HPaulJohnson @damiankay which Font Awesome icon do we need to use for Code of Conduct?

[2016-09-23 18:55] ScottDowne opened #498 "Place activities links in MP site once we know where they are being hosted"
From https://github.com/MozillaFoundation/Advocacy/issues/452
- [ ] The activities are likely going to be on advocacy or a google doc?, but we still need to come up with links.
  ![activities](https://cloud.githubusercontent.com/assets/197334/18726505/c15a28d2-8012-11e6-8903-122db3f7364d.png)

CC @damiankay

[2016-09-23 18:56] damiankay commented on #497
@ScottDowne - could you please submit a support ticket for this as well. It seems to me like a P2 as well, but let's see if we can get Nationbuilder working on it. Thanks

[2016-09-23 18:58] ScottDowne opened #499 "Host Packs / Partner Packs: Get Localized versions LIVE on the MP site"
From: https://github.com/MozillaFoundation/Advocacy/issues/452

We have a few links that to me need to be updated with localized content, if possible.

Examples: the partner pack and host pack links.

cc @damiankay @ldecoursy @HPaulJohnson

[2016-09-23 19:00] damiankay commented on #452
Thanks @ScottDowne - we'll also need to update the link to the host pack I believe.

[2016-09-23 19:04] damiankay commented on #456
Hi @jendc123 - yes, please go ahead. Thanks!

[2016-09-23 19:04] valianttry commented on #475
OK, so this means we do NOT need to push our full Mozilla Foundation newsltter subscription, I think we can add them as a "Maker Party subscriber" in the database without a separate checkbox.

I would add a note that says "NOTE: Watch your inbox! We will send you important updates by email about Maker Party."

[2016-09-23 19:06] imagerwalt commented on #475
So does that mean we do NOT want the "subscriber" (under contact detail) checked?

[2016-09-23 19:10] lovegushwa commented on #447
@damiankay we are going to try and implement these tests via optimizely. Depending on the results we may ask Fission to add them to the petition template.

[2016-09-23 19:13] lovegushwa commented on #446
@damiankay we are going to try and implement these tests via optimizely. Depending on the results we may ask Fission to add them to the petition template.

[2016-09-23 19:14] valianttry commented on #475
No, we can't auto-optin people to the "Mozilla Foundation Subscriber" list just because they sign up to host or register an event. But we SHOULD add them to that Maker Party list as Stephanie described. I'm not sure what this means, exactly, for the integration setup with Salesforce so if there are questions perhaps Andrew Morales or @stephaniemcv can help.

[2016-09-23 19:24] damiankay commented on #446
Ok, thanks for the update @lovegushwa

[2016-09-23 19:30] cristina-moon commented on #486
[Updated email draft copy (2 variants) is here](https://docs.google.com/document/d/1TiwEl_pmwSSf5YUt2GjGfj9BfPebJBLgGbHQ2GYM-aw/edit) for feedback from @shaghdoosti and @valianttry

[2016-09-23 19:33] beccaklam commented on #472
Hi @jendc123 sure we can do the left side arrow but can we have it look like this:
![form_sept23](https://cloud.githubusercontent.com/assets/20977376/18798961/20e2b666-81a3-11e6-9406-a1d2565e39d2.png)
CC: @lovegushwa @damiankay

[2016-09-23 19:34] KevZawacki commented on #234
@HPaulJohnson First draft of Maker Party blog ready for review [here](https://docs.google.com/document/d/1u8RMSy8egqf5kz8ErJPpP_0QWgXJ1AzX34WtHipdQYk/edit#bookmark=id.1p0snuq2049x).

Who else should I loop in? Sara, Maura and Liz?

[2016-09-23 19:43] lovegushwa commented on #447
@vojtechmzl your talking about something like this? I assume we need to pull out the copy for localization reasons.
![petition](https://cloud.githubusercontent.com/assets/12228435/18799196/3732b014-818b-11e6-8fa6-30f69a729884.jpg)

[2016-09-23 19:45] vojtechsedlak commented on #447
Yup, I think this is good for testing. Thanks @lovegushwa

[2016-09-23 19:49] lovegushwa commented on #446
@beccaklam we need this image @2x
<img width="168" alt="screen shot 2016-09-23 at 12 49 07 pm" src="https://cloud.githubusercontent.com/assets/12228435/18799399/31f00646-818c-11e6-849b-e632a25dd879.png">

[2016-09-23 19:50] lovegushwa commented on #447
@beccaklam all we need is this image @2x
<img width="285" alt="screen shot 2016-09-23 at 12 50 03 pm" src="https://cloud.githubusercontent.com/assets/12228435/18799416/4a4155f6-818c-11e6-9c34-609aa1f65a08.png">

[2016-09-23 19:53] beccaklam commented on #446
@lovegushwa @vojtechmzl Here's the png of the donate button: https://drive.google.com/file/d/0BzuBOR2VJQqUemRoM0xZZ0s5NTg/view?usp=sharing

[2016-09-23 19:56] beccaklam commented on #447
@lovegushwa @vojtechmzl SVG work? Here is the fake progress bar: https://drive.google.com/file/d/0BzuBOR2VJQqUZjBRUTF0dmRTbWc/view?usp=sharing

[2016-09-23 20:08] vojtechsedlak commented on #430
If I am logged into NB, when I click the sidebar FB button in Firefox, I get a modal overlay with the correct image and localized copy, but I also get a new tab that opens with the poptart cat and old copy mentioned by Paul in the description of this ticket.

In an incognito window in Firefox I only get the poptart cat popup, no modal overlay.

[2016-09-23 20:09] damiankay commented on #418
Hi @brettgaylor - wanted to confirm that you saw this. Can we close this one?

[2016-09-23 20:10] brettgaylor commented on #418
Yes. Closing.

[2016-09-23 20:10] #418 closed, assigned to HPaulJohnson, KevZawacki

[2016-09-23 20:10] vojtechsedlak commented on #447
Thanks for passing this along @beccaklam! SVG is fine

[2016-09-23 20:10] damiankay commented on #418
thx!

[2016-09-23 20:25] damiankay opened #500 "Copyright Petition V2: Add localized versions of footer"
Detailed description of work:
@jendc123 can your team copy the localized footer strings from V1 of the Petition? The footer was updated after we turned Bablic on, and the translations seem to have been lost.

CC: @gholme4 @brettgaylor @HPaulJohnson

[2016-09-23 20:26] imagerwalt commented on #475
I mean this one:

<img width="1366" alt="contact__elisabetta_gislon___salesforce_-_enterprise_edition" src="https://cloud.githubusercontent.com/assets/283657/18800347/59c12f38-8191-11e6-909d-d60372983b3d.png">

[2016-09-23 20:28] ScottDowne commented on #452
https://github.com/MozillaFoundation/Advocacy/issues/498
and
https://github.com/MozillaFoundation/Advocacy/issues/499

Should be used for future issues around links.

[2016-09-23 20:36] damiankay opened #501 "Maker Party: UAT feedback"
We had a few community members go through the Maker Party pages on the learning and Nationbuilder sites to complete some tasks identified in our user stories. Overall, they did not have trouble creating an event or sending an RSVP, which is great.

There was one piece of feedback which was consistent, however: they weren't clear on where to find resources to help run their events. This seems quite

[2016-09-23 20:43] KevZawacki commented on #422
@natalieworth Just to confirm -- the above localized videos are ready for the world?

[2016-09-23 20:46] HPaulJohnson commented on #491
Here's localized copy for title and description tags on Maker Party sites.

https://docs.google.com/document/d/1W5JQJhCMr2hR9tLK2Xan8Fph_DkVFJ-BrbzPjFhAans/edit

NOTE: polish is not available at this time and czech is missing a description until those translations complete in pontoon.

[2016-09-23 20:47] HPaulJohnson commented on #493
see #491 for content

[2016-09-23 21:23] vojtechsedlak opened #502 "v2 Petition Site QA: Check localized metatags"
All title and metatags should be updated as per the [following document](https://docs.google.com/document/d/1tAc6T_8scqBiEL42-qzLMQ6X6IqWhkXgmfEkH17ju8s/edit) that @HPaulJohnson put together.

[2016-09-23 21:30] natalieworth commented on #422
@brettgaylor Are we able to get a localizer to proofread/ double check the DE and FR versions before being released? cc @KevZawacki

[2016-09-23 21:31] damiankay opened #503 "Copyright Petition: Outstanding issues meta ticket"
Detailed description of work:
Hoping to make a log of any outstanding issues to get a clear sense of whether we can launch the V2 Petition on Monday.

Can everyone please take a few minutes to review the site, and log any issues that aren't identified below before EOW today?

[Copyright V2 staging](http://mozillafoundationstaging-mozillafoundation.nationbuilder.com/)
- [x] Add localized footer lin

[2016-09-23 21:37] damiankay commented on #502
@jendc123 @gholme4 could you address this please?

[2016-09-23 21:45] gholme4 commented on #430
@HPaulJohnson @vojtechmzl @damiankay #readyforretest

[2016-09-23 21:49] vojtechmzl commented on #503
Labels in the first two fields of the form are not translating for me in Firefox (FIrst Name, Last Name)

![screen shot 2016-09-23 at 2 48 42 pm](https://cloud.githubusercontent.com/assets/20688240/18802302/dafd9554-819c-11e6-8b63-14c14f582594.png)

[2016-09-23 21:49] lovegushwa commented on #430
@gholme4 we just landed updated social share content and copy.

P2, but if you have a chance please swap the default share copy, for the copy in this deck:
https://docs.google.com/document/d/1PxnDB_f-zTMYi0zfTedz_jhBmhU6_qTTntSr_UiLpTs/edit

And update the share image:
https://drive.google.com/file/d/0BzuBOR2VJQqURWVBSE1CQ3prREU/view?usp=sharing

[2016-09-23 21:50] vojtechmzl commented on #503
The Czech disclaimer below the form has the word information twice in it, once as a plan text, once as a link.

![screen shot 2016-09-23 at 2 49 16 pm](https://cloud.githubusercontent.com/assets/20688240/18802352/0c67e4e6-819d-11e6-9f67-c86b6bfb9efb.png)

[2016-09-23 21:56] HPaulJohnson commented on #503
there is a paragraph of text in 3rd section that is not translated in French. As far as I can tell this is isolated to French and all other languages are translated as expected.

![untranslated](https://cloud.githubusercontent.com/assets/10078715/18802476/db89b4c0-819d-11e6-9e6b-2b95f8782ce5.jpg)

[2016-09-23 21:58] HPaulJohnson commented on #503
Nyan cat is still is english only. This issue is tracked in another QA ticket #434

[2016-09-23 22:06] gholme4 commented on #430
@lovegushwa I don't have access to that document. Please invite me.

[2016-09-23 22:25] lovegushwa commented on #496
I agree with @ScottDowne
- We should also push for adding color to the snippet background / as kind of a mini spectacular snippet.
- We should find out if we can leverage animation to help us compete for eyeballs, lots of other content we need to compete with.

[2016-09-23 22:25] vojtechsedlak opened #504 "v2 Petition Site QA: Czech disclaimer below the form has the word information duplicated"
The word information is duplicated below the form.

![screen shot 2016-09-23 at 2 48 42 pm](https://cloud.githubusercontent.com/assets/20688240/18802302/dafd9554-819c-11e6-8b63-14c14f582594.png)

[2016-09-23 22:27] vojtechsedlak opened #505 "v2 Petition Site QA: First two fields of the form not translating"
Labels in the first two fields of the form are not translating for me in Firefox (FIrst Name, Last Name)

![screen shot 2016-09-23 at 2 48 42 pm](https://cloud.githubusercontent.com/assets/20688240/18802302/dafd9554-819c-11e6-8b63-14c14f582594.png)

[2016-09-23 22:33] stephaniemcv commented on #475
@imagerwalt Yes, we need "subscriber" (under contact detail) checked to be able to send them email.

[2016-09-23 22:38] lovegushwa commented on #479
@gholme4 can fix the buttons to the left "sticky location" above (which is relative to the window.)

[2016-09-23 22:42] lovegushwa opened #506 "v2 Petition Site QA: localized content not displaying"
@gholme4 some of the localized content is not showing, effects all languages.

<img width="521" alt="screen shot 2016-09-23 at 3 39 32 pm" src="https://cloud.githubusercontent.com/assets/12228435/18803338/f5f87f20-81a3-11e6-9f9f-7fd77914b5cd.png">

<img width="960" alt="screen shot 2016-09-23 at 3 35 47 pm" src="https://cloud.githubusercontent.com/assets/12228435/18803276/713b3f52-81a3-11e6-8e02-c

[2016-09-23 22:52] gholme4 commented on #492
@vojtechmzl @damiankay #readyforreview

[2016-09-23 22:56] damiankay commented on #505
@gholme4 @jendc123 can you please identify how we fix this issue? Are these labels in Bablic?

[2016-09-23 23:01] jendc123 commented on #505
@damiankay we have connected with Bablic support.  We have imported all the strings but for some reason a few of them like "First Name*" are not being shown.  We will keep you updated.

[2016-09-23 23:06] damiankay commented on #505
Thank you @jendc123

[2016-09-23 23:09] HPaulJohnson opened #507 "v2.5 Petition Site QA: Videos not playing in Firefox"
Videos are not playing correctly in Firefox. Works fine in Chrome.

There is audio but just a spinning wheel in place of video. @lovegushwa and @brettgaylor also confirmed it was happening.

[2016-09-23 23:11] damiankay commented on #507
@gholme4 any idea why this is happening?

CC @jendc123

[2016-09-23 23:18] damiankay commented on #135
@stephaniemcv @shaghdoosti - localized copy for email 2 & 3 are available [here](https://drive.google.com/drive/folders/0B1Xx6G8Xjw7lWU80emFzMzRoX1k)

Emails are localized in Tier 1 + Italian

CC @valianttry

[2016-09-23 23:26] jendc123 commented on #434
@damiankay @lovegushwa @beccaklam the cats are now updated #readyforreview.

[2016-09-23 23:29] brettgaylor commented on #507
This could be because of firefox compatability with mp4 files. Although I thought Firefox was now supporting mp4s...

@gholme4 we did provide webm, so you could do
 `<video>
<source>foo.webm</source>
<source>foo.mp4</source>
</video>`

And it should work - i believe it gets best results when you use webm first for fallback order.

[2016-09-23 23:59] gholme4 commented on #494
@vojtechmzl @damiankay #readyforreview

[2016-09-24 00:01] damiankay commented on #434
thanks very much @jendc123

[2016-09-24 00:21] lovegushwa commented on #434
@damiankay @jendc123 @gholme4 the missing Dutch, Polish, and Bulgarian cats are now in this folder: https://drive.google.com/drive/folders/0BzuBOR2VJQqUSmJBYjZOdjkzZzA?usp=sharing

Use this gif without a speech bubble for the 2nd cat:
https://drive.google.com/file/d/0B2qu3ExKWIlveG9FdWM2ZC1FRkE/view?usp=sharing

[2016-09-24 00:25] imagerwalt commented on #477
Hey @damiankay I added the parent event to the code. Seems to be working. But I haven't move that to prod yet. Because I am waiting for the the email opt-in part at the moment. George is figuring out the front-end side on setting the email opt in checkbox. So I'm waiting for him on that.

Do you think we can wait till Monday for the push to production? The records will still be added retroactively

[2016-09-24 00:28] damiankay commented on #507
@brettgaylor @HPaulJohnson - I can't replicate this. The videos are a bit slow to load, but they work. Which version are you on? I'm still in Firefox 48.1

[2016-09-24 00:34] jendc123 commented on #475
Hi @damiankay @valianttry the opt-in boxes are not supported on the sign-up/log-in pages.  We will need to reach out to Nationbuilder support to see if this is possible.

[2016-09-24 00:36] HPaulJohnson commented on #507
FF 48.0.1

[2016-09-24 00:39] lovegushwa commented on #479
@gholme4 can you fix the buttons to the right side of the browser window as a compromise? (would look something like the "sticky location" show above?)

[2016-09-24 00:45] jendc123 commented on #502
@damiankay this has been updated and #readforreview.

[2016-09-24 00:57] lovegushwa opened #508 "v2 Petition QA: Thank you / share modal not loading after signing the petition"
@gholme4 (CC @beccaklam )
I'm not seeing the thank you / share modal after signing the petition. Any blockers to getting this working? (on both desktop and mobile)

![mobile thank you and share](https://cloud.githubusercontent.com/assets/12228435/18804917/d601698a-81b6-11e6-9676-345557b04342.png)

[2016-09-24 00:59] jendc123 commented on #493
@vojtechmzl @HPaulJohnson - #491 is #readyforreview.

[2016-09-24 01:00] lovegushwa opened #509 "v2 Petition QA: 2.5 form not advancing in Firefox"
@gholme4 the 2.5 form seems non functional in Fire Fox. I can't click into the field to input text or trigger anything with the red button.

<img width="951" alt="screen shot 2016-09-23 at 5 58 25 pm" src="https://cloud.githubusercontent.com/assets/12228435/18804947/6dd465fa-81b7-11e6-8146-1d4931ffe06a.png">

[2016-09-24 01:06] damiankay commented on #507
@cadecairos @ScottDowne please have a look at this issue when you can. 3 out of 6 can view the videos in FF.

[2016-09-24 01:09] jendc123 commented on #509
@lovegushwa we can't seem to replicate the issue.  Can you provide any more details.

[2016-09-24 01:13] jendc123 commented on #508
Hi @lovegushwa - both George and I are getting the thanks message.
<img width="305" alt="thank you note" src="https://cloud.githubusercontent.com/assets/6034476/18805058/9145083a-81d2-11e6-9e25-fbf23a95178e.PNG">

[2016-09-24 01:13] damiankay commented on #475
I think they're offline now until Monday morning. Can you please CC us on the email?

[2016-09-24 01:14] damiankay commented on #477
Yes, Monday is fine. Thanks @imagerwalt !

[2016-09-24 01:14] damiankay commented on #434
Thanks @lovegushwa - I'll add these over the weekend.

[2016-09-24 01:16] jendc123 commented on #500
@damiankay - the text in the v2 petition is translated.  The links need to be updated.

[2016-09-24 01:19] jendc123 commented on #456
@damiankay - we have made the update.  Is this the final text for both CTA's?

[2016-09-24 01:24] lovegushwa commented on #508
@jendc123 ... @HPaulJohnson tested it on mobile / all good.
But it's not working on desktop for either of us. Are you testing it on desktop?

[2016-09-24 01:31] jendc123 commented on #497
Hi @ScottDowne and @damiankay custom domain names are not supported on log-in pages. From the NationBuilder documentation: "All pages within your site will use your custom domain (so mysite.com will display in the address bar) except for login and donation pages. Since those pages require SSL certificates, they will display as https://nationslug.nationbuilder.com"

http://nationbuilder.com/hughrei

[2016-09-24 01:36] gholme4 commented on #508
@lovegushwa There isn't a thanks modal in the desktop design. If you want I can unhide the modal on desktop.

[2016-09-24 03:51] stephaniemcv commented on #135
@damiankay
I don't think the correct email has been localized. I don't see the "Event sign-up  Confirmation, details - share" for the attendee. It's ACTION: Less than 10 RSVPs, 5 days after event creation
ROUGH MESSAGE: Reminder and tips to promote event which is cell A7 on the Action-based communications tab of the Maker Party to do sheet.

My understanding was that we needed A18.

[2016-09-24 04:25] stephaniemcv opened #510 "Email: Host a Maker Party Kicker"
Detailed description of work: Create and route copy for follow up email to those invited to host a Maker Party to get them to complete the CTA.
Audience: Anyone who Opened Host a Maker Party #486 but did not complete Host action
Draft: @cristina-moon
Send date: 10/11/2016

_Start date: September 26, 2016_
_Due date: September 30, 2016_
Note: The dates need to be exactly in the format indicated abo

[2016-09-24 13:07] cadecairos commented on #497
We've got SSL enabled and forced on our site - do they still not support login on the custom domain

[2016-09-24 14:25] jendc123 commented on #434
@damiankay @lovegushwa made the final cat updates #readyforreview

[2016-09-24 14:30] jendc123 commented on #434
@damiankay - #readyforreview

[2016-09-24 14:50] brettgaylor commented on #422
Ok. We can file a bug to do that.

On Sep 23, 2016 2:30 PM, "Natalie Worth" notifications@github.com wrote:

[2016-09-25 01:56] lovegushwa commented on #508
@gholme4 yes please unhide it, that should work just fine.

[2016-09-25 21:56] cristina-moon commented on #354
Postcard email draft approved by Brett. @valianttry @shaghdoosti ready for your approvals/feedback, too!

[2016-09-26 03:00] lovegushwa commented on #509
@jendc123 @gholme4 here is a screen recording of my trying to click in the field and click the red button. You can see its not responsive.

![animationd](https://cloud.githubusercontent.com/assets/12228435/18821349/1bff8eb8-835a-11e6-874b-4f762ed4ccea.gif)

<img width="586" alt="screen shot 2016-09-25 at 7 47 25 pm" src="https://cloud.githubusercontent.com/assets/12228435/18821377/54edfc0a-835a-11

[2016-09-26 03:04] lovegushwa commented on #509
@jendc123 the same setup fails to play any videos:
![animatione](https://cloud.githubusercontent.com/assets/12228435/18821479/4154b4e4-835b-11e6-8b76-71d6e3bbb122.gif)

[2016-09-26 03:06] HPaulJohnson commented on #509
I have the same two issues. Form is unresponsive in Firefox (can't click/edit form field and can't click next button) and video player never shows up (just get sound and the spinning circle). Both of these work perfectly in Chrome.

I'm on FF 48.0.1 on Macbook Pro 13'' OS X Yosemite.

[2016-09-26 03:36] damiankay commented on #434
Thanks very much @jendc123

[2016-09-26 05:00] damiankay commented on #135
Hi @stephaniemcv - yes, you're right. I'm contacting them now to have them translate the correct email.

Thanks

[2016-09-26 05:18] drewmoto commented on #477
Hi All. Looks like the Parent Campaign logic is working so far. Screen shot attached. @imagerwalt @damiankay. Let me know when we can start to expect to do some testing on a few records in Prod and a link I can use to add a few records myself. Thx.

<img width="1328" alt="screen shot 2016-09-25 at 10 18 24 pm" src="https://cloud.githubusercontent.com/assets/16161696/18823347/ec92615a-836d-11e6-92e

[2016-09-26 05:21] damiankay commented on #506
@gholme4 - In trying to replace the current copy with translated text for "we <3 the internet", I get the following error message:

Can you advise how to update this copy to French, for instance? The French copy is "Nous aimons l’internet"

[2016-09-26 06:32] damiankay commented on #345
[Updated campaign milestones](https://docs.google.com/spreadsheets/d/1sHNiPi3Gzv3p55c_av9lW31Qp_r10TJmK9w8KXdP2_g/edit#gid=0)

Soft launch and pre-populating with trusted hosts: Sep 29
- dependent on localization being complete. [Localization schedule](https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=0)

Launch for general public: Oct 3

[2016-09-26 06:36] damiankay commented on #145
What's the desired launch date for this survey @ldecoursy @smartinez270 ?

[2016-09-26 13:06] KevZawacki commented on #422
@natalieworth @brettgaylor Just let me know when we've QA'd the localized versions, and I'll share publicly.

Also happy to help arrange QA. Let me know how I can help.

[2016-09-26 13:32] KevZawacki commented on #233
Blog approved!

[2016-09-26 13:32] #233 closed, assigned to KevZawacki

[2016-09-26 13:33] KevZawacki commented on #319
UPDATE

Blog / pitching scheduled for Tuesday, Sept. 27. Final blog post shipped to agencies for localization and staging.

[2016-09-26 13:45] beccaklam commented on #509
It seems to work for me... @lovegushwa @damiankay
<img width="642" alt="screen shot 2016-09-26 at 9 47 59 am" src="https://cloud.githubusercontent.com/assets/20977376/18836417/fb65cdce-83cd-11e6-9815-e79c5d3ef1d0.png">

[2016-09-26 13:47] beccaklam commented on #508
@gholme4 @jendc123 @lovegushwa There was a thanks modal designed for desktop and tablet:
![screen shot 2016-09-26 at 9 49 47 am](https://cloud.githubusercontent.com/assets/20977376/18836468/2f805f8e-83ce-11e6-8a66-fa58eba686c0.png) It was included in the PSD files and the redpens?

[2016-09-26 14:12] KevZawacki opened #511 "Create second rapid response video"
Detailed description of work: Create RR video based on 9/27 blog post

First-draft script [here](https://docs.google.com/document/d/1Y9AJolU0Xn7neXaKCJNellC9RUlsPZxYadLxrCGgUNg/edit).

Blog post [here](https://docs.google.com/document/d/10HnY9uMOlYD1W7HWnjWM_MxsJ37f3Viuhq4ayBApmLQ/edit), if you want to consider alternative copy. Should be localized into EN, ES, FR, DE and PL by tomorrow morning.

[2016-09-26 15:43] #494 closed, assigned to nobody

[2016-09-26 15:44] #492 closed, assigned to nobody

[2016-09-26 15:44] beccaklam commented on #495
@vojtechmzl @lovegushwa Here is one idea. The thought here is that there would be a still image of the social replacing the video still on the landing page. The explainer vid would then live in Section 1's video, see the first PNG for what I mean:
![antique-lp-test](https://cloud.githubusercontent.com/assets/20977376/18840849/f2ccfe84-83dd-11e6-83b1-6e1039dc7774.png)
How the idea would play out fo

[2016-09-26 15:47] HPaulJohnson commented on #508
I'm now seeing this upon page load every time I visit the site. I also see it after I sign the petition.

We should remove the instance on page load. Also, the "back to article" language is confusing in the context of the site/petition. Probably should just be a "X" to close this modal. Screenshot:
![share_modal](https://cloud.githubusercontent.com/assets/10078715/18841200/cb29d946-83c5-11e6-891b-

[2016-09-26 15:51] #502 closed, assigned to nobody

[2016-09-26 15:52] jendc123 commented on #508
@lovegushwa @beccaklam @HPaulJohnson @damiankay - Please hold off on the QAing the "Thanks" module while we make some updates to the page. I'll let folks know when it's ready for retesting.

[2016-09-26 15:56] vojtechsedlak commented on #324
Closing this ticket now that production has been updated. If you uncover new issues or have new feature requests @valianttry @damiankay, let me know or open a new ticket. Thanks!

[2016-09-26 15:56] #324 closed, assigned to vojtechsedlak

[2016-09-26 16:03] damiankay commented on #509
@gholme4 @ScottDowne @cadecairos - can you please look into this and see if you can replicate the problem that Brett, Paul and Jordan are having with video playback?

[2016-09-26 16:31] ScottDowne commented on #509
Worked for me, but, there is only one video source, an mp4, so that's likely the cause.

I'll try it on a bunch of browsers + OS combinations.

[2016-09-26 16:38] ScottDowne commented on #509
I tried on the browser + OS combinations both @lovegushwa and @HPaulJohnson used, and it worked.

I suspect it's unrelated to the browser + os combination.

The way mp4 works in FF is that it doesn't. When firefox gets an mp4, it just unloads it to the OS. In a lot of cases, it can then pass or fail if that OS has software installed to play the video. In these cases, the machines I used, probably

[2016-09-26 16:58] brettgaylor commented on #511
I like!  I wonder if we can discern the final length of one of these - the first one was just shy of a minute - i think we should aspire to shorter, which this seems to be.

Maybe we could just do by word count?

Also - I think we want to decide in this process what the poster image is.

[2016-09-26 17:00] vojtechsedlak commented on #420
Basic set up complete, waiting for updates to learning.mozilla.org to ensure proper cross-domain tracking

[2016-09-26 17:03] stephaniemcv commented on #135
Also, is there an ETA on links?

[2016-09-26 17:07] #356 closed, assigned to stephaniemcv

[2016-09-26 17:11] #334 closed, assigned to natalieworth

[2016-09-26 17:12] valianttry commented on #343
DONE

[2016-09-26 17:12] #343 closed, assigned to valianttry

[2016-09-26 17:12] ScottDowne commented on #352
Staging link: https://learning.mofostaging.net/en-US/events/

Please use this to test.

[2016-09-26 17:12] #134 closed, assigned to stephaniemcv

[2016-09-26 17:27] brettgaylor commented on #422
@KevZawacki Filed here https://bugzilla.mozilla.org/show_bug.cgi?id=1305472

[2016-09-26 17:36] damiankay commented on #509
I think the problem is that there's no clear way to link to two separate video formats via Bablic. Is that correct @gholme4 @jendc123 ? Ideally we should be using both the MP4 and the webm videos.

[2016-09-26 17:38] ScottDowne commented on #509
Oh, is this maybe a Bablic thing? (wouldn't be surprised if it only allows one video format)

This is technically possible without Bablic, but would be very unfortunate if Bablic's the cause, but likely, not much can be doing about it inside Bablic/NationBuilder land.

[2016-09-26 18:10] damiankay commented on #460
@gholme4 - here's an update that just came through from Nationbuilder related to this issue:

[2016-09-26 18:32] damiankay commented on #477
Hi @drewmoto - I'd love to start testing today. Does this just consist of creating some accounts and events through the front-end interface?

[2016-09-26 18:35] valianttry commented on #482
Copy was reviewed and approved. Final copy has been submitted to Kontextor for localization.

[2016-09-26 18:35] #482 closed, assigned to stephaniemcv

[2016-09-26 18:37] valianttry commented on #484
@stephaniemcv --  Kontextor's localizations will end up in the email tab here:
https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=683702336

You'll have to ask @brettgaylor for the final URLs. This is the first video we are hosting on YouTube, so the URL situation might be a bit different. Also ccing @vojtechmzl to make sure we get all our tracking set up

[2016-09-26 18:39] valianttry commented on #483
@stephaniemcv our text is going to be significantly longer than the legth showing in the template, left. Seems like that's probably OK but just wanted to flag. Final copy is being localized here: https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=683702336

[2016-09-26 18:40] valianttry commented on #483
@stephaniemcv our text is going to be significantly longer than the length showing in the template, left. Seems like that's probably OK but just wanted to flag. Final copy is being localized here: https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=683702336

[2016-09-26 18:43] brettgaylor commented on #484
@stephaniemcv just quickly discussed with some media folks - we have a strong preference for just linking right to the petition page, where the video will have a prominent cal to action with a play button.  So we would prefer _not_ linking to youtube.

That URL will simply be changecopyright.org.  A preview of what that will look like, with the play button as it will exist, is here:
https://petiti

[2016-09-26 18:44] cristina-moon commented on #510
[First draft of kicker email is here!](https://docs.google.com/document/d/1o7GveL-qW3q6NBmN5OiZ2tjTI3qQaI1uy7BAFMXf1w8/edit?usp=sharing) Ready for feedback and edits from @shaghdoosti and @valianttry :)

[2016-09-26 18:59] KevZawacki commented on #511
Word count for the first RR video: 91 words, which = 58 seconds
Word count for the second RR video: 90 words, which = ~the same

If we want to trim, we could drop the second scene all together.

Poster image... a Post Crimes creation?

[2016-09-26 19:02] stephaniemcv commented on #483
Not a problem. Text will also not be center justified as in the image. We used this template with the Encryption Campaign and some pretty lengthy copy there. Image with play button consistently got lots of clicks.

[2016-09-26 19:03] brettgaylor commented on #511
Yes, that was my suggestion, too.

@lovegushwa has some great social images for postcrimes that I've seen.

On Mon, Sep 26, 2016 at 2:59 PM, Kevin Zawacki notifications@github.com
wrote:

[2016-09-26 19:10] jendc123 commented on #505
@damiankay this is #readyforretesting

[2016-09-26 19:23] damiankay commented on #456
@jendc123 - yes. The copy is out for translation now.

[2016-09-26 19:24] jendc123 commented on #508
@lovegushwa @beccaklam @HPaulJohnson @damiankay - this is ready for review. #readyfortesting

[2016-09-26 19:30] stephaniemcv commented on #484
@brettgaylor
Image request with play button already submitted to our designers #483 ^_^

[2016-09-26 19:41] HPaulJohnson commented on #430
Testing again today.

It's still broken in Firefox with old content and nyan cat showing up on Firefox share and english copy for Twitter and email.

For chrome, which previously passed testing, Twitter and Email share options are no longer localized and show up in English for all languages. Facebook is working as expected in Chrome.

[2016-09-26 20:04] lovegushwa commented on #509
Looks like video is now working.

[2016-09-26 20:10] ScottDowne commented on #509
Sounds good. I say we close this. Either reopen or file a new ticket if something else comes up.

[2016-09-26 20:11] damiankay commented on #509
Thanks @gholme4 !

[2016-09-26 20:16] beccaklam commented on #483
@stephaniemcv @valianttry @lovegushwa Here is the hero image :https://drive.google.com/a/mozilla.com/file/d/0BzuBOR2VJQqUcjhOV3BNM2poN00/view?usp=sharing Let me know if you need any changes/save at a different resolution.

[2016-09-26 20:23] gholme4 commented on #506
@damiankay I changed the text to "We love the internet" since my attempt to prevent 3 from being read as a variable failed. The rest of the caption can be translated now.  Translations need to be provided for the other copy @lovegushwa  mentioned.

[2016-09-26 20:25] vojtechsedlak opened #512 "v2 Petition Site QA: Add test variants to thank you modal"
We are hoping to run a test on the thank you modal, where we want to combine a share ask with a possible fundraising CTA. I will email you with an updated _petition_thanks_modal.html file that includes two additional variants of the layout, with display:none set. When we launch, I will set up a test through Optimizely where I will unhide each variant. Would it be possible to update the file @gholm

[2016-09-26 20:32] stephaniemcv commented on #483
Woo! Thanks @beccaklam! I'll ping you when we have the localizations, so we can swap the text.

[2016-09-26 20:50] lovegushwa commented on #509
@ScottDowne this ticket is for 2.5 form not advancing in Firefox, which we will resolve in a day or two. (we're going to launch with the old form.)

[2016-09-26 20:53] ScottDowne commented on #509
@lovegushwa ah, fyi, that worked for me too.

[2016-09-26 21:21] damiankay opened #513 "Maker Party: Add link to Nationbuilder Privacy Policy"
Detailed description of work:
Hi @gholme4 @barfaaa - can you please add a link to the Nationbuilder privacy policy to the [sign in page](https://makerevents-mozillafoundation.nationbuilder.com/forms/user_sessions/new).

Above the "Activate Account" button, could you add: "By proceeding, you agree to Mozilla’s Terms of Use and Privacy Policy as well as NationBuilder’s 3dna Privacy Policy."

Above t

[2016-09-26 21:24] damiankay opened #514 "Maker Party: Update "legal" link"
Detailed description of work: @gholme4 can you please update the "legal" link in the Maker Party footer to point to: https://www.mozilla.org/en-US/about/legal/terms/mozilla/

_Start date: September 26, 2016_
_Due date: September 27, 2016_

CC: @jendc123 @valianttry

[2016-09-26 21:26] brettgaylor commented on #430
I'm also seeing the copy not being localized.

Here is facebook, in chrome, with locale set to polish

![image](https://cloud.githubusercontent.com/assets/345974/18852399/101dae72-83f5-11e6-88b0-ba44ce542a6e.png)

Similarly, email copy is not localized when i select the "email" link in the polish locale.

[2016-09-26 21:28] valianttry commented on #514
NOTE that the link should be:

https://www.mozilla.org/about/legal/terms/mozilla/

without "en-US" so that it will automatically render the locale set by the user.

[2016-09-26 21:35] damiankay opened #515 "Maker Party: Update CTA email copy"
Detailed description of work:
@shaghdoosti @HPaulJohnson When I click on the mail icon in the “Make a difference on copyright reform in Europe...” CTA box, the email copy says:

Is this the correct copy? If so, we should update the link.

Bigger question: can we serve up localized copy for this email @gholme4 ?

_Start date: September 26, 2016_
_Due date: September 27, 2016_

CC: @valianttry

[2016-09-26 21:37] damiankay opened #516 "Maker Party: Broken RSVP link"
Detailed description of work: The update/cancel link in the RSVP email doesn't work.

_Start date: September 26, 2016_
_Due date: September 27, 2016_

CC:

[2016-09-26 21:40] damiankay commented on #322
@ScottDowne is this still an issue? If so, who needs to action this?

[2016-09-26 21:41] damiankay commented on #303
Resolved in V2

[2016-09-26 21:41] #303 closed, assigned to nobody

[2016-09-26 21:41] damiankay commented on #285
Resolved in V2

[2016-09-26 21:41] #285 closed, assigned to nobody

[2016-09-26 21:59] HPaulJohnson commented on #459
Kicked this 1-week sprint off today. Broken into 3 parts:

1) Assets for Social Stunt on 10/5 (due eod Tues, 9/26)
- 2-3 visual assets (static or .gif). @natalieworth already making good progress on this.
- 1-2 snippet icons, also to be repurposed for email graphic. @lovegushwa is working on this one and may reuse some of Natalies work on social assets.

2) Attend a Party Promos (due eod. Fri, 9/3

[2016-09-26 22:08] ScottDowne commented on #322
Page is rendering now, but the typekit error persists. Means they are not connected. And the font fix worked.

I would say, close this as it doesn't look like typekit is causing any rendering issues. If we find any issues around the typekit, we should file a new issue.

[2016-09-26 22:08] #322 closed, assigned to ScottDowne

[2016-09-26 22:30] damiankay commented on #506
All have been updated except for "we <3 the internet". @gholme4 can you please change back to the format with the symbol? That's how all of our translations except for French are set up. Thx!

[2016-09-26 22:33] #474 closed, assigned to nobody

[2016-09-26 22:38] damiankay commented on #500
@jendc123 - the links are correct. They'll redirect to the user's locale automatically. Thanks

[2016-09-26 22:38] #500 closed, assigned to nobody

[2016-09-26 22:39] damiankay commented on #503
All resolved

[2016-09-26 22:40] damiankay commented on #430
@gholme4 @jendc123

[2016-09-26 22:40] #503 closed, assigned to damiankay

[2016-09-26 23:39] HPaulJohnson commented on #515
Please use this copy/doc for all social shares on Maker Party site:

https://docs.google.com/document/d/1YBoLZ5f7KL4yVgzPI9HMES-SX3yAZ7N9p4vSTYVAedo/edit

[2016-09-27 00:26] brettgaylor opened #517 "Deploy V2 petition to changecopyrightorg"
V2 petition should be hosted at changecopyright.org - do we coverage of all the steps necessary to deploy there?

cc @jendc123 @gholme4

[2016-09-27 00:43] cadecairos commented on #507
The videos are loading fine for me in Firefox 49 and 52

I think we're dealing with some folks' Firefox installations not being able to decode mp4 video. The simple solution, I believe, is what @brettgaylor suggested above:

[2016-09-27 00:43] valianttry commented on #517
FYI @jendc123 indicates the SSL cert should be fine:

[9/26/16, 5:40:35 PM] Jennifer OReilly Mott: We are all set - we are not making any changes in Nationbuilder
[9/26/16, 5:40:42 PM] Jennifer OReilly Mott: we are going to change the url in Bablic
[9/26/16, 5:41:12 PM] Jennifer OReilly Mott: and it will all be pointing to ChangeCopyright.org
[9/26/16, 5:41:20 PM] Jennifer OReilly Mott: which alre

[2016-09-27 00:45] damiankay commented on #507
This is actually resolved now. For some reason the video was hidden ( @gholme4 can explain I'm sure)

[2016-09-27 00:45] #507 closed, assigned to nobody

[2016-09-27 00:49] cadecairos commented on #517
Correct me if I'm wrong, but don't we still need to update the domain configuration in NationBuilder to tell it that the new v2.5 site should be served to changecopyright.org? Updating the Bablic site with the new URL won't update which site changecopyright.org shows.

[2016-09-27 00:50] jendc123 commented on #517
@cadecairos We are also going to update the theme on ChangeCopyright.org.

[2016-09-27 01:00] cadecairos commented on #517
@jendc123 So we're overwriting the existing markup and updating bablic to use the new strings on that site?

Will we have a backup copy of the theme currently on the site?

[2016-09-27 01:02] jendc123 commented on #517
@cadecairos, correct.  We will have a back-up.

[2016-09-27 01:05] cadecairos commented on #517
OK, Makes sense to me, thanks for the clarification

[2016-09-27 01:13] lovegushwa commented on #471
@shaghdoosti here is a draft for review:
https://docs.google.com/a/mozilla.com/presentation/d/1OpV62j95tN-CuRy2RGWuKXw1P1OS9Vs-94DzkjXS8Po/edit?usp=sharing

[2016-09-27 14:43] ScottDowne commented on #497
@cadecairos @damiankay seeing how unique our own SSL and process to get that setup was, I wonder if an exception can be made for us for the login page? Another thing we'll need to know is if anyone has an issue with the login page being off our URL. From a brand or security perspective, is there anything or anyone that has an issue with login being off our custom domain.

[2016-09-27 14:49] ScottDowne commented on #454
@damiankay sorry, must have missed this, and caught it with a regular triage of my own bugs.

I can make that change on en-US and en-GB quite easily, only question I have is, to confirm that it's the "login" button on the "Already have an event? Login" bit here: https://learning.mofostaging.net/en-US/events/

![login](https://cloud.githubusercontent.com/assets/197334/18878781/e822b2ea-849f-11e6-9d

[2016-09-27 15:25] #505 closed, assigned to nobody

[2016-09-27 15:26] #504 closed, assigned to nobody

[2016-09-27 16:25] brettgaylor commented on #422
@KevZawacki @natalieworth there are some corrections in the bugzilla ticket above for DE and FR.  Once those are updated, lets push the video to those markets.  There are a few comments regarding the speed of the text, which at this point we should disregard but consider for the next video - ie we may wish to make the on screen text length longer than we normally would considering the translations

[2016-09-27 16:36] natalieworth commented on #421
Updated graphics are here ( V6-V9): https://redpen.io/p/uz42fd5e82268019c6
@HPaulJohnson

[2016-09-27 16:46] valianttry commented on #430
Facebook works from the homepage (Chrome) but Twitter is not localized.

![screen shot 2016-09-27 at 9 43 51 am](https://cloud.githubusercontent.com/assets/9830371/18883180/19c166b0-8497-11e6-9fe8-0abedabb5b17.png)
![screen shot 2016-09-27 at 9 44 03 am](https://cloud.githubusercontent.com/assets/9830371/18883181/19c3b1cc-8497-11e6-91ba-4c017c9ac2d3.png)

[2016-09-27 16:47] HPaulJohnson commented on #430
email is also broken/not localized.

[2016-09-27 17:24] gholme4 commented on #479
@lovegushwa #readyforreview

[2016-09-27 17:45] lovegushwa commented on #511
@KevZawacki @brettgaylor

This is the postcrimes social share ... I do agree we should push into #theartoftheposter
Wondering if posters need to be a ticket and if we should devise a testing plan?

![social-postcard](https://cloud.githubusercontent.com/assets/12228435/18885136/3722d826-849f-11e6-8c14-5f9bfffe0bf7.png)

[2016-09-27 17:50] #479 closed, assigned to nobody

[2016-09-27 18:57] valianttry commented on #430
Email copy is here:
https://docs.google.com/document/d/1aQ3ujht3MGBlaHT6NG1lUFD0YoxnTD8zC-NlwTaSsRs/edit

Please let us know when this is updated

andrea

[2016-09-27 18:59] lovegushwa commented on #508
@jendc123 @gholme4 the modal is working "Please share this" and "Thank you" should be on the same baseline. Other than that it's a pass!

<img width="1247" alt="screen shot 2016-09-27 at 11 57 50 am" src="https://cloud.githubusercontent.com/assets/12228435/18887641/c66c3aea-84a9-11e6-9aaa-68aaf47c7614.png">

[2016-09-27 19:03] lovegushwa commented on #434
@jendc123 works thank you.

[2016-09-27 19:03] #434 closed, assigned to beccaklam

[2016-09-27 19:16] KevZawacki commented on #319
Lion's share of phase 2 pitching complete. Tracking results in coverage report.

[2016-09-27 19:16] #319 closed, assigned to KevZawacki

[2016-09-27 20:23] stephaniemcv opened #518 "SalesForce Backend Field Names"
Detailed description of work: In order to set up triggered messages, I need to know the collection of Campaign  field names mapped into SF as well as to be able to AMPscript dynamic content into the emails. (Example: Maker Party Venue Address = Location__c )

Child Campaign Name or Maker Party Event Name or ID
Host Name
Host?
Maker Party Time and Date
Attendee?

Associated ticket: #477

_Start dat

[2016-09-27 21:43] gholme4 commented on #513
@valianttry #readyforreview

[2016-09-27 21:46] gholme4 commented on #514
@valianttry #readyforreview

[2016-09-27 21:47] gholme4 commented on #506
@lovegushwa @valianttry #readyforreview

[2016-09-27 21:49] gholme4 commented on #497
@ScottDowne @valianttry Sorry, but NationBuilder says this is not possible.

---

I checked in with our product and engineering teams regarding this request, and unfortunately it is not currently possible to log in using a custom domain, given our current implementation of SSL.

Best,
Lindsey

---

Lindsey Needham
NationBuilder Support
help@nationbuilder.com
213.394.4623

[2016-09-27 21:55] gholme4 commented on #491
@vojtechmzl @HPaulJohnson @valianttry OG tags have been updated so translating can begin. #readyforreview

[2016-09-27 21:55] gholme4 commented on #493
@vojtechmzl @HPaulJohnson @valianttry OG tags have been updated so translating can begin. #readyforreview

[2016-09-27 22:01] valianttry commented on #514
This is fixed -- closing!

[2016-09-27 22:01] #514 closed, assigned to nobody

[2016-09-27 22:04] valianttry commented on #497
This is WONTFIX and also a very low priority. For the vast majority of users, a change in domain URL will go unnoticed. Closing this. (Edgecase not worth the ROI + technology wont allow us to do this easily)

[2016-09-27 22:04] #497 closed, assigned to ScottDowne

[2016-09-27 22:06] natalieworth commented on #422
Updated the DE and FR versions and videos with links are in here:
https://docs.google.com/spreadsheets/d/1rmqeIJq1vMDFsI0sicu7XdVwkLDur-rerTPb3rjFyko/edit#gid=0

<img width="426" alt="screen shot 2016-09-27 at 2 05 37 pm" src="https://cloud.githubusercontent.com/assets/14876567/18893640/a092cf0e-84c3-11e6-803c-0f585dfcd49c.png">
<img width="425" alt="screen shot 2016-09-27 at 2 05 47 pm" src="http

[2016-09-27 22:11] vojtechsedlak commented on #491
The English version is now correct, @valianttry I presume we need to insert the corresponding translations through Bablic ourselves? I don't have access, but am happy to help.

[2016-09-27 22:17] valianttry commented on #491
I'm working on these now. Shouldn't take long.

[2016-09-27 22:29] valianttry commented on #491
OK I updated all of them but could use help doing QA -- @vojtechmzl can you help with that? The URL is: https://www.makerparty.community/.

[2016-09-27 22:29] vojtechsedlak opened #519 "Petition QA: Sidebar share buttons lead to an error"
I get the following messages when trying to share from the sidebar on the v2 petition at changecopyright.org

![screen shot 2016-09-27 at 3 27 40 pm](https://cloud.githubusercontent.com/assets/20688240/18894324/294d3e6c-84c7-11e6-870f-edf24a9d3127.png)

CC @valianttry @gholme4

[2016-09-27 22:34] valianttry commented on #519
Repeat of https://github.com/MozillaFoundation/Advocacy/issues/318.

Working on this now. @ScottDowne or @cadecairos can you help?

[2016-09-27 22:34] vojtechsedlak commented on #491
The only one that's not translating is Polish, otherwise it looks great @valianttry

[2016-09-27 22:43] ScottDowne commented on #519
Worked for me with a private tab, didn't without. Cache is likely.

[2016-09-27 22:47] ScottDowne commented on #519
So cache made it work for me in FF, but chrome doesn't work.

This is all super familiar, and I suspect we hit this before, and there was a fix around the facebook app thingy.

[2016-09-27 22:51] valianttry commented on #491
All is done except Polish. I'll ask Kontextor to fill in Polish in this document.

[2016-09-27 22:55] valianttry commented on #519
[9/27/16, 3:53:57 PM] Jennifer OReilly Mott: e also wanted to flag that we should confirm that it's on a paid Bablic account.
[9/27/16, 3:54:14 PM] Jennifer OReilly Mott: We don't have access to those settings
[9/27/16, 3:54:25 PM] Jennifer OReilly Mott: We can probably just move it over

@ScottDowne or @cadecairos can you double check our account settings?

[2016-09-27 22:59] gholme4 commented on #519
@ScottDowne @vojtechmzl Is this the correct FB app? https://developers.facebook.com/apps/235412103527113/dashboard/

[2016-09-27 23:08] vojtechsedlak commented on #491
Oh I see, right, I now see Paul's comment above. Sorry for the confusion.

[2016-09-27 23:22] ScottDowne commented on #519
Yeah that's the only one I know of.

[2016-09-28 00:44] cadecairos commented on #519
The App ID in the share code on changecopyright.org has the wrong app ID:

![screenshot from 2016-09-27 20-43-32](https://cloud.githubusercontent.com/assets/438003/18896847/14f36a3c-84f3-11e6-97a5-c03474630169.png)

It should be "235412103527113"

[2016-09-28 00:45] cadecairos commented on #519
A small gotcha with Facebook apps is that various changes you make to them can result in the app ID being regenerated without much, if any, notification to you.

[2016-09-28 01:03] gholme4 commented on #519
@vojtechmzl @cadecairos @ScottDowne @valianttry The site was using NationBuilder's default FB app ID originally without a problem. After switching themes today the custom domain was no longer validated. I added the FB code after NB's code to make this work. #readyforreview

[2016-09-28 01:41] valianttry commented on #513
@gholme4 not sure this is the right ticket, but this looks correct except the URL for "Mozilla's Terms of Use" shouldn't have "en-US" locale. So instead of https://www.mozilla.org/en-US/about/legal/terms/mozilla/ It should be:

https://www.mozilla.org/about/legal/terms/mozilla/

![activate_your_account](https://cloud.githubusercontent.com/assets/9830371/18897743/b0e9617e-84e1-11e6-928a-d08660d3469

[2016-09-28 01:42] valianttry commented on #506
done, all corrected.

[2016-09-28 01:42] #506 closed, assigned to nobody

[2016-09-28 01:43] valianttry commented on #508
@gholme4 was this done? We can QA again if need be.

[2016-09-28 01:44] valianttry commented on #519
Closing resolved.

[2016-09-28 01:44] #519 closed, assigned to nobody

[2016-09-28 01:44] valianttry commented on #517
closed resolved it is LIVE!

[2016-09-28 01:44] #517 closed, assigned to nobody

[2016-09-28 01:46] valianttry commented on #493
I believe this was completed. Please re-open if that's incorrect per #491

[2016-09-28 01:46] #493 closed, assigned to nobody

[2016-09-28 05:07] valianttry commented on #461
@lovegushwa do you know the answer to this Q re: Font Awesome?

[2016-09-28 15:09] KevZawacki commented on #511
Hi, @brettgaylor @natalieworth

I tweaked[ the script](https://docs.google.com/document/d/1Y9AJolU0Xn7neXaKCJNellC9RUlsPZxYadLxrCGgUNg/edit) a bit. Pulling localized versions for the first version proved difficult (I would have had to remove certain words, which would have screwed up syntax).

I think this version is better. Let me know -- then I'll send to Mika and Raegan.

I also rewrote our nex

[2016-09-28 15:30] KevZawacki commented on #422
@natalieworth @brettgaylor 🎆 Will get them on FB right now. :-)

[2016-09-28 15:30] #422 closed, assigned to natalieworth

[2016-09-28 15:41] gholme4 commented on #508
@valianttry Yes, That has been updated. #readyforreview

[2016-09-28 16:15] gholme4 commented on #513
@valianttry I made that change to the terms links. #readyforreview

[2016-09-28 16:25] valianttry commented on #508
@vojtechmzl can you make sure this was fixed and then close this ticket? TY!

[2016-09-28 16:36] vojtechsedlak commented on #508
The modal is appearing correctly and the text alignment is fixed. As Paul flagged above the wording Back to article doesn't really make much sense. Also, that string does not appear to be translating (see below). Could it be replaced with a an X button in the corner?

cc @valianttry @gholme4 @jendc123

<img width="1088" alt="screen shot 2016-09-28 at 9 34 02 am" src="https://cloud.githubuserconten

[2016-09-28 17:09] drewmoto commented on #477
@imagerwalt @valianttry @stephaniemcv

Hi All - With Damian now out, I want to make sure we/I have eyes on the specific go-live date and time. (I believe it is tomorrow). We also need to send through a few test records to Prod prior to us releasing it out into the wild. Is there a live link I can enter a few records and test a few use cases? Do we want the larger audience to do testing as well? @i

[2016-09-28 17:37] jendc123 commented on #430
@valianttry they were updated and ready for retesting.

[2016-09-28 17:41] imagerwalt commented on #477
Hey @drewmoto , I'm currently deleting all the test events on Nationbuilder side, right after that I'm setting the credentials to Prod. should be done in two hours, will let you know when it is finished.

[2016-09-28 17:41] stephaniemcv commented on #483
@beccaklam I need four hero images localized for DE, FR, ES, PL. Translations are on row 4 here:
https://docs.google.com/spreadsheets/d/1dBARa2Pr9NB_Q5ZdPOV1Jx9NOLbATSPk3etSfCWHTkk/edit#gid=683702336

[2016-09-28 17:53] gholme4 commented on #509
@lovegushwa @valianttry #readyforreview

[2016-09-28 18:03] vojtechsedlak opened #520 "Heartbeat Fundraising Test"
Detailed description of work: Conduct a test of fundraising message in the Firefox Heartbeat. Coordinate with Matthew on possible testing ideas to facilitate best user experience.

[Meeting Notes](https://docs.google.com/document/d/1BcSoaUqxkaNUr6azXWlMg3ypPjb8KqT2Da3gXu-R40U/edit)
[Proposal](https://docs.google.com/document/d/1Otd_wPhwtNo5JjdK5-talkxo-Xi0RQ0kol5xehSvmys/edit#heading=h.dhws63t3mdi

[2016-09-28 18:05] natalieworth commented on #421
Final graphics for the Maker Party stunt are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0NXViV25HVUk3anc

Closing this issue but feel to reopen if you need anything else for this @HPaulJohnson

[2016-09-28 18:05] #421 closed, assigned to natalieworth

[2016-09-28 18:17] imagerwalt commented on #477
Hey @drewmoto I've deleted most of the test ones. There are still a few left, but just want to run by you just in case. (see the attached image)

There're a bunch with the emails like mp.trusted.host@gmail.com or mp.volunteer.manager@gmail.com those I believe are test events as well.

Anyway I'm moving the credential from sandbox to prod now, will let you know when it is tested and deployed
.
![sc

[2016-09-28 18:20] brettgaylor commented on #358
This score seems to now have gotten worse  - we are now 56/100 on desktop

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.changecopyright.org%2F&tab=mobile

@ScottDowne is the above the fold issue related to nation builder?  The template?

[2016-09-28 18:34] lovegushwa opened #521 "Deploy V2.5 petition to changecopyright.org"
@jendc123 @cadecairos @gholme4

Let's deploy v2.5 ( https://petitionv25-mozillafoundation.nationbuilder.com/ ) end of day (PST) tomorrow, Thursday the 29th.

This should give us enough time to get statistically significant traffic for v2, and still get solid Friday EU traffic for v2.5.

Any flags here? I know we had some issues with elements in the page breaking when we deployed v2. Should we anti

[2016-09-28 18:35] ScottDowne commented on #358
Optimize images has moved from consider fixing, to should fix. This is likely the cause of our new score.

v2 probably uses more images than v1, or more un optimized images, and is now considered a significant gain if optimized. Note, this has to be done for every image, and every new image. It's not something we can turn on and off. "Optimize the following images to reduce their size by 262.2KiB

[2016-09-28 18:35] gholme4 commented on #475
@valianttry #readyforreview

[2016-09-28 18:36] gholme4 commented on #460
@valianttry #readyforreview

[2016-09-28 18:39] KevZawacki commented on #234
UPDATE

Will publish 10/12

[2016-09-28 19:18] valianttry opened #522 "Draft copy for "check your email to complete signup process" and submit for localization"
Detailed description of work:
We need to warn hosts they MUST check their email to complete the login process.

Suggested copy:

Almost done! Please look for an important email with instructions to complete the sign up process.

_Start date: September 28, 2016_
_Due date: October 3, 2016_

CC: @jendc123

[2016-09-28 19:32] imagerwalt commented on #477
Hey @drewmoto I set the credential to prod now, you should see the events popping up in the prod one now.

There will be a bit of clean up after this (need to merge the files as now I keep two separate copies since we are using one single heroku repo for both sandbox and prod).

But before I do that, George just mentioned in the other issue thread here (https://github.com/MozillaFoundation/Advocac

[2016-09-28 19:41] valianttry commented on #475
@stephaniemcv can you help review this and close if it's gtg?

[2016-09-28 20:06] drewmoto commented on #477
One last one @imagerwalt. I dont think we are mapping to a field in SF for "Send Me Text Messages". Was this discussed on another thread? Do we need to map this, or is NB taking care of the texting part? cc @stephaniemcv @valianttry

<img width="1057" alt="screen shot 2016-09-28 at 1 03 45 pm" src="https://cloud.githubusercontent.com/assets/16161696/18930263/36d16940-857c-11e6-8577-13c47adb0a55.pn

[2016-09-28 20:11] stephaniemcv commented on #475
Tested  https://makerevents-mozillafoundation.nationbuilder.com/forms/user_sessions/new
Signed up and subscribed for email (see below)
- Should it be Mozilla instead of Mozilla Foundation?
- Under the impression this was part of the [action emails](https://docs.google.com/spreadsheets/d/1GWc5r4ughhsnlw_YVuZeo-CPMl9m2xaXUVCkPYeLEEA/edit#gid=543547330) doc (row 4)
- No email was passed into SalesFor

[2016-09-28 20:18] brettgaylor opened #523 "Create estimates of 2016 media reach"
Detailed description of work: To evaluate the 2016 media work and plan for 2017, we need to pull together some numbers.  Understood these will be imperfect.

Unique visitors to encrypt website
Unique visitors to codemoji.org
Unique visitors to changecopyright.org
Unique visitors to postcrimes.org
Total video views of encryption + copyright videos
Twitter mentions
Earned media Stories (encryption,

[2016-09-28 20:29] KevZawacki commented on #523
@brettgaylor @vojtechmzl Suggested tactics or tools for the "Estimated reach of stories (UMV x article)" metric?

Currently, my method would be checking the individual ad kits for each publication. This multiplied by ~300 publications = 5 or 6 hours for results that may not be entirely accurate.

Happy to do so if that's the only way. But would need to deprioritize Maker Party and MozFest for some

[2016-09-28 20:30] brettgaylor commented on #523
Just spoke to Angela and Matt - there's no rush to grab these numbers, but worth a discussion of how we want to express reach of media work.

[2016-09-28 20:30] brettgaylor commented on #523
Ugh - @KevZawacki no dont do that!  Do you already have pubs categorized as tier 1, 2, 3?

[2016-09-28 20:34] KevZawacki commented on #523
@brettgaylor No, but that's easy to do.

I could also research UMV for the 10 or 15 most-read publications. Then we could say something like, "Placements in POLITICO, TechCrunch, xx, yy, zz, etc., alone netted us 150M views."

[2016-09-28 20:36] KevZawacki commented on #523
I think we should quantify press metrics by:

-- Number of mentions
-- Sentiment (positive, neutral, negative)
-- Quality of mentions (tier 1, 2, 3)
-- High-level impact (see above comment)

@brettgaylor thoughts?

[2016-09-28 20:41] brettgaylor commented on #523
Yes, that feels appropriate.  No need to begin till next week however once the broader strokes of the board deck are settled.

@KevZawacki are we tracking sprinklr mentions still?  We could combine EU/codemoji with copyright with that

@vojtechmzl would you be able to help with totalling unique views for codemoji/encryption/copyright next week?

[2016-09-28 20:42] vojtechsedlak commented on #523
Yup, absolutely.

[2016-09-28 20:48] brettgaylor commented on #358
@lovegushwa @natalieworth @beccaklam do y'all thing we can optimize the images?

@ScottDowne @jendc123 @gholme4 - Still seeing some warnings from Google related to above the fold content here:

"Eliminate render-blocking JavaScript and CSS in above-the-fold content" - page requires all those resources to load before displaying content.  Any further optimization possible?  Those scripts and CSS see

[2016-09-28 21:10] valianttry commented on #498
The host packs will be localized and ready to place wherever we're hosting them tomorrow (THURS). Do we know format and URLs yet?

cc @stephaniemcv

[2016-09-28 21:18] HPaulJohnson commented on #461
contact us email address needs to be updated with a new alias that is hooked into desk.com. The updated email is:

makerparty@mozillafoundation.org

[2016-09-28 21:23] valianttry opened #524 "Build Maker Party > Nationbuilder > Salesforce integration QA checklist"
Detailed description of work:
We need to run a details QA to make certain that host and rsvp registration data is all flowing correctly through to Salesforce. This is critical to get right so that audience targeting for email works properly in the future, among other reasons.

_Start date: September 28, 2016_
_Due date: October 4, 2016_

CC: @jendc123 @stephaniemcv

[2016-09-28 21:34] brettgaylor commented on #511
Sorry for late response!  It looks great to me. My only question was around the word "doctored" - but I'm good to send this for approval!

[2016-09-28 21:38] valianttry commented on #522
Submitted to Kontextor.

[2016-09-28 21:43] drewmoto commented on #518
Hi @stephaniemcv @valianttry Here is my crack at the SF Field Mappings. Please pass along and/or tag FIssion in this for their confirmation. I could not tag them for some reason. Thx.

[NBSalesforceMakerPartyFieldLevelDetail.docx](https://github.com/MozillaFoundation/Advocacy/files/499331/NBSalesforceMakerPartyFieldLevelDetail.docx)

[2016-09-28 21:52] natalieworth commented on #511
@KevZawacki @brettgaylor This is great! Love the length of it too. It'll be awesome to see how a shorter response video compares to the 1 min one 👍 💯

[2016-09-28 21:54] HPaulJohnson opened #525 "Maker Party QA: Not allowing Twitter Auth for sharing locks me out of site"
After setting up an event or RSVP'ing for an event, I clicked share on Facebook and Twitter. I was then prompted to allow access to Twitter app. I said no and then an endless loop began.

Once I've said no to twitter app access once and I go to login into my account I get redirected to this page (step 1):

![mp_twt_auth](https://cloud.githubusercontent.com/assets/10078715/18933714/e8cda3b2-858a-11

[2016-09-28 21:58] HPaulJohnson commented on #525
This also happens on the post RSVP share flow (not just host/share) but only if I'm previously logged into Nation Builder.

[2016-09-28 22:00] imagerwalt commented on #477
Hey @drewmoto , I'm looking into it now. I also noticed the creator is not sync'ed correctly, as it should. (under CampaignMembers).

[2016-09-28 22:04] stephaniemcv commented on #518
Woo! Thanks @drewmoto! I can start moving forward with the triggered email content.

CC: @jendc123 @imagerwalt

[2016-09-28 22:13] jendc123 commented on #521
Hi @lovegushwa we need to implement [(https://github.com/MozillaFoundation/Advocacy/issues/512)] but we anticipate having everything ready to go for tomorrow.

[2016-09-28 22:32] gholme4 commented on #525
@HPaulJohnson @valianttry We've contacted NB support about this problem. The same thing happens for Facebook.

[2016-09-28 22:40] HPaulJohnson opened #526 "Maker Party: Design icons for snippet promo for MP Stunt"
Starting on 10/12 we'll be kicking off Maker Party it a "stunt" to get as many people as possible to upload photos to the commons in a single day. Part of that promotion is snippet.

Maura and Liz from MoCo social team are managing this part of the campaign and we are supporting on the design. They'll do copy but we can track icon design here.

cc @natalieworth @lovegushwa

[2016-09-28 22:41] lovegushwa commented on #509
Works!

[2016-09-28 22:41] #509 closed, assigned to nobody

[2016-09-28 22:44] natalieworth commented on #526
Snippet drafts are here @HPaulJohnson:https://redpen.io/p/qj4d60f2ac98a50591
 I also emailed the redpen to Maura and Liz to take a look
cc @lovegushwa @beccaklam

[2016-09-28 22:46] gholme4 commented on #512
@vojtechmzl I added a different version of what you provided to match the current design.

[2016-09-28 22:49] vojtechsedlak commented on #512
That's perfect! Thanks @gholme4.

[2016-09-28 22:50] #512 closed, assigned to nobody

[2016-09-28 22:50] lovegushwa opened #527 "Optimized images to speed up petition pageload"
@gholme4 @cadecairos

I optimized the v2 petition images, this should speed up the time it takes to load the petition. I think it's probably as easy as overwriting the old images but bablic may complicate this.

https://drive.google.com/drive/folders/0B2qu3ExKWIlvTDJUeThFaDA1QzQ?usp=sharing

CC @jendc123 @brettgaylor @valianttry @HPaulJohnson

[2016-09-28 23:12] stephaniemcv opened #528 "Email Volume KPI"
Detailed description of work:  What Andrea is looking for:
_Dramatically increased volume
Steph can we make a charge for volume increase over time? Like since we started using BSD (2011-2012)
Vojtech can help grab this “over time” view of volume and segmentation // modeling our strategy on behavioral data vs. general preference. Better personalization._

Utlizing the BSD History doc I shared with

[2016-09-29 00:19] imagerwalt commented on #477
Hey @drewmoto , fixed some bugs so creator is now synced, I'm misread your message earlier, I thought you wanted to add the SMS option to SF but I guess what you were saying is if SMS is needed? Is that correct?

If you want to remove that option, I'll let George know about it so he can remove that from the option.

[2016-09-29 00:28] stephaniemcv opened #529 "Doesn't have a contribute.json"
Detailed description of work: Received a bug report in my email regarding "CHANGECOPYRIGHT.ORG". It doesn't have a contribute.json (Not sure what this means, I was just the first person they found in Phonebook)
 @ScottDowne @cadecairos
![petition-js-error](https://cloud.githubusercontent.com/assets/11812272/18936949/2b3759c8-85a9-11e6-9f8e-a8fe031e9934.jpg)

_Start date: September 28, 2016_
_Due d

[2016-09-29 00:40] stephaniemcv opened #530 "Email: Attend a Maker Party!"
Detailed description of work: Create and route copy to encourage RSVPs to Maker Partys
Audience: Anyone on existing Maker Party lists; anyone who signs the petition.
Suppression: Unengaged, Maker Party Hosts, Maker Party Attendees
Localization: DE, FR, EN-UK, ES, PL
Draft: @cristina-moon
Send date: 10/19/2016

_Start date: September 29, 2016_
_Due date: October 7, 2016_
Note: The dates need to be

[2016-09-29 00:45] stephaniemcv opened #531 "Design: Attend a Maker Party!"
Detailed description of work: Image request for call out box image (600x300px). Using template on the left with text "TBD"

Localization: DE, FR, EN-UK, ES, PL

<img width="921" alt="0f262b50-7e7a-11e6-9582-acafce3d159d" src="https://cloud.githubusercontent.com/assets/11812272/18937218/6d7ef9f6-85ab-11e6-9596-cde7be9ae010.png">

_Start date: October 5, 2016_
_Due date: October 13, 2016_
Note: The

[2016-09-29 00:47] stephaniemcv opened #532 "Build: Attend a Maker Party!"
Detailed description of work: Code and load copy & design

_Start date: October 14, 2016_
_Due date: October 17, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-29 00:48] stephaniemcv opened #533 "QA: Attend a Maker Party email"
Detailed description of work: Review Group, please check copy, rendering and link functionality and place edits/issues in this ticket

_Start date: October 17, 2016_
_Due date: October 19, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-29 00:49] stephaniemcv commented on #530
Design: #531
Build: #532
QA: #533

[2016-09-29 00:56] stephaniemcv opened #534 "Multiple emails with the message "Come to MozFest""
Detailed description of work: **This is a discussion and clarification ticket.**
The MozFest team have a MozFest reminder email scheduled for 10/26. During Advocacy email calendaring we talked about also having a Come to MozFest email sent on 10/24.

I do not recommend that we have basically the same two emails going out the same week. Granted these would be to two different lists MozFest & MakerP

[2016-09-29 00:58] cadecairos commented on #529
They're referring to this Mozilla norm that we've yet to adopt across many MoFo projects: https://www.contributejson.org/

Essentially a standard format for describing a project, where it's hosted (source), who's responsible, where  to file bugs, etc.

[2016-09-29 01:00] cadecairos commented on #529
Thing is, this isn't really a project that people can contribute to, since it's built on a closed platform...

[2016-09-29 01:00] drewmoto commented on #477
Hi Andrea and Steph.

Do we need to track the SMS option in Salesforce/NB?

On Sep 28, 2016 5:19 PM, "Walter Lau" notifications@github.com wrote:

[2016-09-29 01:44] gholme4 commented on #527
@lovegushwa I replaced the images with the optimized versions.

[2016-09-29 02:00] gholme4 commented on #358
@brettgaylor @ScottDowne I spent time today and yesterday working on this. Now there is only one file I have control over that is render-blocking because it helps the ATF content appear quickly. I also replaced the images with the optimized versions @lovegushwa provided.

[2016-09-29 02:31] stephaniemcv commented on #529
Should I forward you the email and you can respond?

[2016-09-29 02:36] valianttry commented on #477
I need to check with @shaghdoosti . I would be surprised if we wanted to include SMS / phone fields anywhere on our sites. Hang tight I'll ask.

[2016-09-29 02:36] stephaniemcv opened #535 "Email: Last Chance Attend a Maker Party!"
Detailed description of work: Create and route copy to encourage RSVPs to Maker Parties
Audience: Anyone who received the first RSVP email and did NOT register.
Suppression: Unengaged, Maker Party Hosts, Maker Party Attendees
Localization: DE, FR, EN-UK, ES, PL
Draft: @cristina-moon
Send date: 10/26/2016

_Start date: September 29, 2016_
_Due date: October 14, 2016_
Note: The dates need to be exac

[2016-09-29 02:38] stephaniemcv opened #536 "Design: Last Chance Attend a Maker Party!"
Detailed description of work: Image request for call out box image (600x300px). Using template on the left with text "TBD"

Localization: DE, FR, EN-UK, ES, PL

<img width="921" alt="0f262b50-7e7a-11e6-9582-acafce3d159d" src="https://cloud.githubusercontent.com/assets/11812272/18939121/5f9f7850-85bb-11e6-87b9-d6ce240b1fbb.png">

_Start date: October 12, 2016_
_Due date: October 19, 2016_
Note: The

[2016-09-29 02:41] stephaniemcv opened #537 "Build: Last Chance Attend a Maker Party!"
Detailed description of work: Code and load copy & design

_Start date: October 19, 2016_
_Due date: October 24, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-29 02:42] stephaniemcv opened #538 "QA: Last Chance Attend a Maker Party email"
Detailed description of work:  Review Group, please check copy, rendering and link functionality and place edits/issues in this ticket

_Start date: October 24, 2016_
_Due date: October 26, 2016_
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-09-29 02:43] stephaniemcv commented on #535
Design: #536
Build: #537
QA: #538

[2016-09-29 02:44] valianttry commented on #477
We don't have an SMS program, correct? Why would we collect phone?

![maker_party_cluj](https://cloud.githubusercontent.com/assets/9830371/18939276/ebd0fda6-85b3-11e6-8496-5b1d8ed7874b.png)

[2016-09-29 02:47] stephaniemcv opened #539 "Emails on Hold: Petition"
Detailed description of work: Create draft copy around the CTAs of Rows 20-24. These emails are dependent on an external timeline and there is no guarantee we will send. However, we'd like to have a draft ready in case we decide to include them and need to have a quick turn around.

https://docs.google.com/spreadsheets/d/13qqXEY-6Spbol0ZaKs41saikYoNOPwFDlJRa5lvZGJA/edit#gid=4
Audience: Audience se

[2016-09-29 02:47] valianttry commented on #475
I am very confused by the optin boxes that are currently on the registration form. "Send me email updates" shouldn't be there. Is this just in process @jendc123 and @gholme4 ?

![maker_party_cluj](https://cloud.githubusercontent.com/assets/9830371/18939330/6273530a-85b4-11e6-9af1-d5014606066f.png)

[2016-09-29 02:48] stephaniemcv commented on #477
No SMS program that I'm aware of.

[2016-09-29 02:53] valianttry commented on #475
I actually think in the end, we want the event registration to look like this:

![maker_party_cluj](https://cloud.githubusercontent.com/assets/9830371/18939435/34ef564e-85b5-11e6-84b6-32ce09cd1ac4.png)

[2016-09-29 03:24] valianttry commented on #352
@ScottDowne when i click the activity links the main page just refreshes. What exactly are we testing?

[2016-09-29 03:29] #336 closed, assigned to valianttry

[2016-09-29 03:31] #456 closed, assigned to HPaulJohnson

[2016-09-29 03:35] ScottDowne commented on #352
Everything but activity links. I'm still waiting for those.

[2016-09-29 03:36] #515 closed, assigned to nobody

[2016-09-29 03:40] valianttry opened #540 "Maker Party: Facebook Share Not Working on https://www.makerparty.community/"
Detailed description of work:

When I click on the Facebook Share button in the right margin of https://www.makerparty.community/ I see the same error we've seen repeatedly with the petition Facebook share.

![error_and_post_to_facebook](https://cloud.githubusercontent.com/assets/9830371/18940258/7094417c-85bb-11e6-8f29-a4db6fbe1a9a.png)

See also #318

Correct copy for social shares for Maker Par

[2016-09-29 03:41] #238 closed, assigned to valianttry

[2016-09-29 03:48] #527 closed, assigned to nobody

[2016-09-29 03:50] valianttry commented on #499
@ScottDowne I have host pack localized, but I don't know 1) correct format (PDF or HTML) and 2) where will they be hosted / what will the link to each of them be?

Similar to:
#498

[2016-09-29 03:53] valianttry commented on #499
@ScottDowne I have the host pack localized. Localizations are here:

[Maker Party Host Pack_Translations.zip](https://github.com/MozillaFoundation/Advocacy/files/499742/Maker.Party.Host.Pack_Translations.zip)

[2016-09-29 03:58] valianttry commented on #496
I shared this ticket with Jean Collings -- she needed our feedback earlier this week. Closing this ticket.

[2016-09-29 03:58] #496 closed, assigned to valianttry

[2016-09-29 04:00] ScottDowne commented on #352
To be clear, I'm waiting for the activities in google doc form, not the actual translated webpages on say pontoon, those I'm still working on, which from my understanding would happen later.

[2016-09-29 04:03] valianttry commented on #491
Kontextor provided Polish, this has been updated in Bablic.

[2016-09-29 04:03] #491 closed, assigned to nobody

[2016-09-29 04:06] valianttry commented on #471
FYI zipped localized host packs are here, if helpful:

[Maker Party Host Pack_Translations.zip](https://github.com/MozillaFoundation/Advocacy/files/499754/Maker.Party.Host.Pack_Translations.zip)

[2016-09-29 04:08] valianttry commented on #462
This now seems to say "Mozilla Foundation". It should say from "Mozilla" but this isn't urgent. Moving to October 3 Milestone.

![thank_you_for_joining_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/18940725/c3f7e298-85bf-11e6-93e2-46f56a68dfeb.png)

[2016-09-29 04:13] valianttry commented on #461
@shaghdoosti can you confirm that we should link to the "Community Participation Guidelines" Which are here: https://www.mozilla.org/about/governance/policies/participation/?

[2016-09-29 04:15] valianttry commented on #468
@lovegushwa can you close this if these have been addressed? I think you said on a call today these were all gtg.

[2016-09-29 04:17] valianttry commented on #448
This appears to have been cleared (just QAed a couple of languages and the correct localized videos played).

[2016-09-29 04:17] #448 closed, assigned to nobody

[2016-09-29 04:19] valianttry commented on #429
@jendc123 and @gholme4 was this fixed?

[2016-09-29 04:21] valianttry commented on #490
@cadecairos or @ScottDowne did that support email yield any results?

[2016-09-29 04:22] valianttry commented on #141
Review was completed by Abigail -- details are in an email thread.

[2016-09-29 04:22] #141 closed, assigned to damiankay

[2016-09-29 04:22] #140 closed, assigned to damiankay

[2016-09-29 04:24] valianttry commented on #138
@ScottDowne do you recall what this was about? Please close this if it's no longer needed or fixed. If not, can you add some details on what this is?

[2016-09-29 04:25] valianttry commented on #127
@vojtechmzl just lifting this up -- you working on a dashboard or metrics? If yes, please update and close 👍

[2016-09-29 04:31] valianttry commented on #348
I have sent this question to our legal team. Will update with their response.

[2016-09-29 04:32] #213 closed, assigned to shaghdoosti

[2016-09-29 04:32] #144 closed, assigned to damiankay

[2016-09-29 04:33] valianttry commented on #537
@stephaniemcv I assigned a milestone but feel free to update it. :)

[2016-09-29 04:35] #242 closed, assigned to shaghdoosti

[2016-09-29 04:35] #513 closed, assigned to nobody

[2016-09-29 04:40] valianttry commented on #516
I'm not 100% certain this is the issue Damian pointed out originally. But when I click the "unfollow here to stop receiving updates" link, I go to a login page with a weird red box error that isn't very helpful.

![thank_you_for_joining_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/18941214/f43e4ede-85c3-11e6-8f8c-e36c73840471.png)

![join_-_maker_events](https:/

[2016-09-29 04:45] valianttry commented on #460
@ldecoursy can you test to make sure this problem was corrected?

[2016-09-29 04:52] valianttry opened #541 "Clear all TEST events in preparation for soft launch"
Detailed description of work:
We will be inviting a few early hosts to add REAL events starting Thursday 9/29 EOB PST. We would like to purge all test events and "Fake" data by that time.

_Start date: September 29, 2016_
_Due date: September 29, 2016_

CC: @jendc123  adn gholme4

[2016-09-29 05:01] valianttry commented on #516
When I click the "update or cancel" URL in my email RSVP confirmation, I am sent to the form to RSVP (unhelpful). I should be sent to a page that allows me to "click to cancel" or "login to cancel" with some hint.

![rsvp_confirmation_for_october_29_event_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/18941545/f39a0f60-85c6-11e6-863c-8d774a239539.png)

This is the

[2016-09-29 05:01] imagerwalt commented on #477
Okay, I mentioned that to George, he should be able to remove that option tomorrow. As far as the email opt in it is showing up in SF now. But I have one issue I still don't quite know what exactly happened, the "Open Innovation Bonanza" one keeps having duplicates (and not the others).

I do have a query to check if an event with the same name exists, but maybe it's not good enough for some reaso

[2016-09-29 05:02] #501 closed, assigned to nobody

[2016-09-29 05:21] valianttry commented on #486
Sara is now routing this through approvals.

[2016-09-29 05:21] #486 closed, assigned to stephaniemcv

[2016-09-29 05:33] drewmoto commented on #477
Hi Walter,

I added the field in Prod and Dev.

And to add a comment, if it is a better process and is more scalable to add
the ID in NB, lets do that. I know we are in a time crunch but I dont want
to have to go back and reconfig this at a later time if possible.
Conversely, if we are just doing this as a temporary solution, thats fine
as well, I just need to know the remediation plan.

Thanks,

[2016-09-29 05:43] imagerwalt commented on #477
Thanks Andrew!

Yeah agreed, adding the SF id to NB shouldn't be a problem. Also, as soon as the Maker Party stuff is done, I'd like to go back to the petition to test the new code I rewrote - the first version the code was kinda messy as we had to do patch a lot of stuff in less than 3-4 days, I reorganized the code a bit but I haven't tested it yet.

I also have to merge the two salesforce api b

[2016-09-29 05:43] #345 closed, assigned to damiankay

[2016-09-29 05:49] valianttry commented on #200
@HPaulJohnson cool to close this ticket yet?

[2016-09-29 05:50] valianttry commented on #355
@ScottDowne OK to close this?

[2016-09-29 05:54] valianttry commented on #202
I'm going to close this, but the research done here was super useful and we'll be able to reference it for future!

[2016-09-29 05:54] #202 closed, assigned to damiankay, beccaklam

[2016-09-29 05:56] valianttry commented on #189
@shaghdoosti can you please update this milestone? Maybe this is done and if so please close 👍

[2016-09-29 05:57] #186 closed, assigned to shaghdoosti

[2016-09-29 10:07] chadsansing commented on #352
@ScottDowne - the ones we have in hand (in my folder)? Those are all set, so far as I know, unless they need to be copied to another account. Here's the folder:

https://drive.google.com/drive/folders/0B0RBD2BW-srIdUV5d0NEVzNJY00?usp=sharing

Let me know when to change the sharing settings to whatever we need them to be.

[2016-09-29 11:44] KevZawacki commented on #523
@brettgaylor Yep, we have Sprinklr numbers for Encryption and Codemoji.

Copyright is tough -- our contract with Sprinklr expired, so we have limited data from the past month. Further, most copyright chatter is taking place on FB, which Sprinklr isn't great at fetching from.

BUT @vojtechmzl has some nifty scripts that also measure social. So that should do the trick :-)

[2016-09-29 11:46] ScottDowne commented on #352
It's a localization issue. I'm not up to date on the why. But we decided to
use a Google doc or something while I worked to get them into pontoon
somehow.

[2016-09-29 11:54] chadsansing commented on #352
Gotcha. Let me know if you need anything from me.

[2016-09-29 13:06] KGorr commented on #534
The email from the mozfest team will be going to only those register for the festival - ticket holders. It will include last minute prep items and reminders.

I'm not sure what your note at the bottom of the ticket means @stephaniemcv - can you clarify?

[2016-09-29 13:23] stephaniemcv commented on #534
@KGorr Does that mean your team will be using Tito to send the email? If so, I'll take it off the main launch calendar.

If you mean the start date/due date, it's for some Zenhub reporting.

[2016-09-29 13:24] ldecoursy commented on #460
Worked for me in Chrome 👍
In Firefox, I accidentally clicked "share on twitter" but I wanted to use Facebook instead. I'm having trouble getting back to the event page - it's stuck on the twitter api authentication page. Even if I open a new window and try to go directly to makerparty.community, it opens back to the same page, and when I click Cancel, Return to NationBuilder, it won't do - keeps r

[2016-09-29 13:27] KGorr commented on #534
How hard is it to import over all ticket holder contact info? TiTo doesn't have as much functionality as Exact Target (meaning, it will look way pretty if you send), but we can do in TiTo if that makes the most sense.

[2016-09-29 13:27] jendc123 commented on #460
Hi @ldecoursy - we are aware of this issue and have reached out to NationBuilder support. It's been escalated to their engineers.

---

Hi George,

I sincerely apologize for misreading your previous email. A member of our product team was able to replicate the issue, and it has been escalated to our engineers.

We will keep you up to date as we have more information.

Best,
Lauren Rowse
NationBuil

[2016-09-29 13:56] KevZawacki commented on #523
**COPYRIGHT** (as of 10/17/16)
- **Press mentions**: 114
- **Press sentiment**: 64% positive, 36% neutral, 0% negative
- **Press quality**: 20% tier 1, 32% tier 2, 48% tier 3
- **Press geo spread**: 19 countries (Australia, Austria, Belgium, China, Estonia, France, Germany, Hungary, Ireland, Italy, Mexico, the Netherlands, Norway, Poland, Portugal, Russia, Spain, UK, U.S.)
- **Press impact**: Caps

[2016-09-29 13:56] stephaniemcv commented on #534
TiTo would probably make the most sense.

Technically, an import itself into SalesForce is not difficult. There is however, no current data structure to designate that these are ticket holders. So we would end up doing a very messy external data extension and query setup that is probably not going to be worth the level of effort.

[2016-09-29 13:58] KGorr commented on #534
+1 you can take us off the list then! Thanks, @stephaniemcv

[2016-09-29 13:58] ScottDowne commented on #499
@valianttry how hard would it be to move these into google docs? So a google doc for each locale?

Updating the links in learning is pretty easy, I just need to figure out the best way to host them, and I'm thinking google doc has better support and is easier for us to maintain and update. (the current english one is on google docs too)

[2016-09-29 14:03] ScottDowne commented on #499
@valianttry and DE and FR look to have strike out lines in them. Example:

![strike](https://cloud.githubusercontent.com/assets/197334/18957109/d29909b4-862b-11e6-867a-95f2944a5535.png)

It looks like people are still working on them? Or was it just the strikeouts didn't get removed yet? I'm not super familiar with the process of localizing a doc, though.

[2016-09-29 14:19] #189 closed, assigned to shaghdoosti

[2016-09-29 14:19] shaghdoosti commented on #190
These are done.

[2016-09-29 14:19] #190 closed, assigned to shaghdoosti, vojtechsedlak

[2016-09-29 14:23] shaghdoosti commented on #471
Awesome! these look great. All we need is link to the survey @ldecoursy do you have that by any chance?

[2016-09-29 14:23] shaghdoosti commented on #461
Yes - that seems right to me.

[2016-09-29 14:28] ldecoursy commented on #471
@shaghdoosti I don't - 270s planning doc is here although I'm not sure it's final or who is creating the actual survey: https://docs.google.com/document/d/1VM4Rt9X6y8TG1qgXAr6G6CQdyiI0fvBwyho40Csf244/edit#heading=h.drmkm5rhp9kd

[2016-09-29 15:01] ScottDowne commented on #352
Because I keep needing to dig up the live references, I'm dropping them here:

https://chadsansing.github.io/eu-maker-party-sample-activites/updated-eu-maker-party-content/activity01-postcrimes.html
https://chadsansing.github.io/eu-maker-party-sample-activites/updated-eu-maker-party-content/activity02-meme-around.html
https://chadsansing.github.io/eu-maker-party-sample-activites/updated-eu-maker-p

[2016-09-29 15:25] valianttry commented on #499
@ScottDowne turn off track changes. I don't see any of those because I have track changes turned off. So, in Word, uncheck all these boxes:

![highlight_changes_and_emails_batch_2_de_docx__compatibility_mode_](https://cloud.githubusercontent.com/assets/9830371/18960358/4e07645a-861e-11e6-9b0e-6cdc5f68e21f.png)

[2016-09-29 15:28] ScottDowne commented on #499
Ah, makes sense. (I cannot use word in Linux, but I found the equivalent.)

Still hoping we can get these into google docs to simplify the hosting and maintenance. (So I don't need to be pinged to make updates)

[2016-09-29 15:29] HPaulJohnson commented on #200
yes

[2016-09-29 15:29] #200 closed, assigned to HPaulJohnson, natalieworth

[2016-09-29 15:44] vojtechsedlak commented on #127
Yup, tracking system is being put in place and we will use the Data Studio for visualization. Closing this issue.

[2016-09-29 15:44] #127 closed, assigned to vojtechsedlak

[2016-09-29 15:58] gholme4 commented on #429
@valianttry Yes, this was fixed.

[2016-09-29 16:33] gholme4 commented on #540
@valianttry A Facebook app needs to be created for makerparty.community. Please send me the app ID after it's created.

[2016-09-29 16:52] valianttry commented on #540
I asked @ScottDowne to help here.

[2016-09-29 16:55] ScottDowne commented on #540
Can do.

[2016-09-29 17:12] ScottDowne commented on #540
@gholme4 Done. The public id is 336654656680907

And you have been added as a developer on it.

[2016-09-29 18:19] beccaklam commented on #483
@stephaniemcv Here are all the images as PNGs. Let me know if you prefer them as JPEGs.
https://drive.google.com/drive/folders/0BzuBOR2VJQqUdGNWbThMSEVma28?usp=sharing The files are labeled by the language.

[2016-09-29 18:21] ScottDowne commented on #499
@HPaulJohnson @ldecoursy @valianttry Thoughts on putting these into google docs? (more info in the comments above.)

[2016-09-29 18:32] ldecoursy commented on #499
Works for me.  I know @lovegushwa also did a version of the English host pack in Google slides. @shaghdoosti do you have a preference?

[2016-09-29 18:41] gholme4 commented on #540
@ScottDowne I do not have access to the FB app. Did you copy my same information from copyright-petition? Can you please take it off development mode?

[2016-09-29 18:50] imagerwalt commented on #541
Ah I mentioned that on the other ticket #477 these are some test events just want to run by you before I deleted them, here's the original message:

Hey @drewmoto I've deleted most of the test ones. There are still a few left, but just want to run by you just in case. (see the attached image)

There're a bunch with the emails like mp.trusted.host@gmail.com or mp.volunteer.manager@gmail.com those I

[2016-09-29 18:57] imagerwalt commented on #524
Both of the hosts and rsvps are under "CampaignMembers" object, there's a dropdown inside the object for the type, hosts are as "host" and rsvps are as "attendee"

I think it's been tested, so it should be resolved, but I'll look again once I get the access to SF again.

[2016-09-29 18:58] drewmoto commented on #541
@imagerwalt @valianttry On the salesforce side I can only see that they were created by the Fission SF Account. But I think we can safely assume they are test records. I looked up the email mp.trusted.host@gmail.com and the Contacts name was 'Jamie Trusted Host'

[2016-09-29 19:01] stephaniemcv commented on #534
The only question then remains is if you still want Advocacy to promote MozFest on 10/24. Targeted audiences would be: Maker Party; geotargeted: UK only. I'll let you and @shaghdoosti discuss/decide that.

[2016-09-29 19:03] ScottDowne commented on #540
@gholme4 I sent an invite to gholme4, which is currently says (pending). not sure if that means it's waiting on you to confirm, of it it's still sending the invite.

I'm looking for the button to make it live now.

[2016-09-29 19:05] ScottDowne commented on #540
@gholme4 OK, should be live now.

[2016-09-29 19:06] jendc123 commented on #475
Hi @valianttry This has been updated and ready for retest.

[2016-09-29 19:07] valianttry commented on #541
There are currently zero real events in the system. Fine to delete all and associated records. If testers end up being real hosts, they can just sign up again. NBD.

[2016-09-29 19:19] gholme4 commented on #540
@ScottDowne Sorry. I keep forgetting about accepting the invitation. Thanks.

[2016-09-29 19:20] jendc123 commented on #541
@valianttry @drewmoto @imagerwalt  - mp.trusted.host@gmail.com is definitely a test account. We have a couple version of them.  We created them to test different permission levels.  They can be cleared.