[2016-11-08 10:56] TheoChevalier commented on #408
Hey @stephaniemcv here are the translations:

DE: https://raw.githubusercontent.com/mozilla/donate.mozilla.org/master/locales/de/autoresponder.lang
ES: https://raw.githubusercontent.com/mozilla/donate.mozilla.org/master/locales/es/autoresponder.lang
FR: https://raw.githubusercontent.com/mozilla/donate.mozilla.org/master/locales/fr/autoresponder.lang
IT: https://raw.githubusercontent.com/mozilla/do

[2016-11-08 18:00] TheoChevalier commented on #621
To sum up the l10n plan on the technical side:
- Expose common strings into a .properties file in the en-US folder
- Create an additional file (.po or .xliff) per locale where we need custom strings, put this file in locale folders only (not in en-US), then make the page pick those additional files

Alternative plan if what we customize is really one or two strings for German and French:
- Expose

[2016-11-08 18:10] cadecairos commented on #618
@pmac Can you share the basket endpoint I should be making a post request to with the donor emails/names?

[2016-11-08 18:36] pmac commented on #618
@cadecairos it'll be a new one I've not yet written. Let me know what you'll be sending and in what format and I can provide that for you.

Sending JSON encoded data would be great btw 😄

[2016-11-08 19:06] pmac commented on #618
Actually maybe I'm misunderstanding... I though we were talking about you putting the info onto an SQS queue which basket would consume. Is this POST for something else?

[2016-11-08 19:32] cadecairos commented on #618
Yeah it's a bit confusing.

We have a queue processor called sawmill that fetches messages from an SQS queue and processes the messages based on their contents. The important bit here for us is the "send_post_request" message that we use to post an arbitrary json payload to a URL. Ideally we'd like an endpoint on basket that our queue can use to post data to.

As for what the data looks like, I'm

[2016-11-08 19:41] pmac commented on #618
oh yes. there's much more info. I think you only looked at the first tab of that spreadsheet. Look especially at the "Opportunity" and "RecurringDonation" tabs. So are you saying that we can't just communicate via a queue? Basket can receive POSTs, but it would be better if these data never went through the HTTP server since that would leave more connections available for newsletter subscriptions

[2016-11-08 19:44] cadecairos commented on #618
There's no reason I can't drop the JSON data directly into a new SQS Queue and give basket read access!

[2016-11-08 19:55] pmac commented on #618
That would be my preference, but we can always go the easy POST way for now and upgrade later. That's my plan for our FxA integration as well. I think our time for this task may be short.

[2016-11-08 20:17] TheoChevalier opened #624 "Currency select layout could be improved for locales with a long title"
Example with Italian:
<img width="455" alt="capture d ecran 2016-11-08 a 20 03 21" src="https://cloud.githubusercontent.com/assets/1294206/20115023/960ca144-a5ee-11e6-9824-65a1ec5a471d.png">

Not a blocker, but we could give it some love by moving the currency select in a better way.

[2016-11-08 20:23] cadecairos commented on #618
It should be really simple to add in a queue for donor data, I can have a PR on the donate.mozilla.org repo ready in a couple hours.

[2016-11-08 20:23] flodolo commented on #624
Even something like this would look nicer (`padding.right: 115px` on the `<h3>`, `position: absolute; top: 0; right: 0;` for the `<span>`)

![screenshot 2016-11-08 21 22 50](https://cloud.githubusercontent.com/assets/3644868/20115704/9429d29c-a5f9-11e6-8e2e-88d7bba3743d.png)

[2016-11-08 20:28] KevZawacki opened #625 "Develop second batch of EOY fundraising social content"
Detailed description of work: Copy taking shape [here](https://docs.google.com/document/d/17aiH8h4frg9o7Id4pitYM6wKaUzD4U3i1uYw4IsQEKM/edit?ts=5820df22).

*Start date: November 8, 2016*
*Due date: November 11, 2016*

CC: @HPaulJohnson @lovegushwa @valianttry

[2016-11-08 20:31] KevZawacki commented on #606
New batch of social copy here: #625

[2016-11-08 22:22] cadecairos commented on #618
Update: I've got the code (still need to commit and get code review), SQS queues and IAM credentials ready to go. I just need a confirmation of the data I should include. right now, a queue message looks like this:

[code]

There are fields in the doc I really don't understand, if there's anything else that salesforce needs, let me know.

[2016-11-09 11:12] TheoChevalier commented on #609
Remaining work is basically:
- Merging https://github.com/mozilla/donate.mozilla.org/pull/1644
- Me enabling locales on Pontoon, but I need to announce the campaign on l10n.web mailing list first, which I should be able to do soon

[2016-11-09 15:33] KevZawacki commented on #625
@HPaulJohnson @lovegushwa  [Social copy updated](https://docs.google.com/document/d/17aiH8h4frg9o7Id4pitYM6wKaUzD4U3i1uYw4IsQEKM/edit?ts=5820df22) based on yesterday's brainstorm.

@natalieworth and @beccaklam had the brilliant idea of giving the internet a health bar/HP. I wrote some new copy around that idea.

Also wrote new copy using Internet Health Report data.

[2016-11-09 17:33] TheoChevalier commented on #248
@KevZawacki Have we decided where this page will be displayed? I’ve seen Medium mentioned, and unfortunately this is not an option for l10n. However mozilla.org or the donate website will work perfectly

[2016-11-09 17:56] KevZawacki commented on #248
@TheoChevalier Still being decided, but Medium seems unlikely.

Mozilla.org and the donate site are likely, so heartening to hear they'll work perfectly!

@valianttry, any updates from your end?

[2016-11-09 18:16] valianttry commented on #367
I will connect with Alexei and Pamela today. As a heads up.

[2016-11-09 18:27] stephaniemcv commented on #586
@ScottDowne @TheoChevalier Abigail has officially signed off. I toss it over to you guys. ^_^
https://docs.google.com/document/d/16ofBfNadmTOd_MwKmvpY7VcsQuBVU_l-dhAwsfhWRNw/edit#

[2016-11-09 18:31] beccaklam commented on #248
@TheoChevalier @valianttry @lovegushwa
Hoped for launch date is: Dec 1st
Allowing two weeks for l10n, web page UI needs to be done by: Nov 17
@TheoChevalier would we be able to get the [Case To Give language](https://docs.google.com/document/d/1YXEooaZfMO3jQoBTzgoLqWmVXQYKNnNkoUXjhiFJqtM/edit) in French by EOD Nov 14? If we need more time to add in Jen Caltrider's quotes and edits, EOD Nov 15 work

[2016-11-09 19:07] TheoChevalier commented on #248
@beccaklam Yes, I can do that.
What we will need to build by Nov 17 in addition to a mockup or draft UI, is the source strings file like https://github.com/mozilla/donate.mozilla.org/blob/master/locales/en-US/messages.properties
If you’re not familiar with that, Scott and I can help you. It’s important we get it right, because once it’s exposed to localizers, we can’t change anything without askin

[2016-11-09 19:27] ScottDowne commented on #622
Closing, ping me if you have any questions about this.

[2016-11-09 19:27] #622 closed, assigned to ScottDowne

[2016-11-09 19:30] beccaklam commented on #248
@TheoChevalier No they're not in the google doc yet. @valianttry mentioned them to @KevZawacki during the meeting today so I think the text is still not finalized yet.

[2016-11-09 19:34] ScottDowne commented on #367
This is now live and everything seems to be running smooth, I'm confident we can close
:rocket: :moneybag: :money_with_wings: :money_mouth_face:

[2016-11-09 19:34] #367 closed, assigned to ScottDowne

[2016-11-09 19:56] KevZawacki commented on #248
Correct -- sounds like Jen C. may be adding these quotes this week or next.

[2016-11-09 20:49] valianttry commented on #575
PayPal % is usually over 60% (I think?) so this seems low. Maybe the demographics are different given US only makes up 31%? So maybe non US donors don't use PP as much?

![mofo_fundraising_dashboard](https://cloud.githubusercontent.com/assets/9830371/20154130/d5fafe4a-a67a-11e6-9fa8-54bab4aa5686.png)

[2016-11-09 20:55] valianttry commented on #575
Can we see revenue year-over year by channel and add a goal line for this year's target? For instance, last year we raised $180,000 on mozilla.org, this year we'd like to hit $200,000. I have data from past years by channel. I'd include email (mofo), email (moco), mozilla.org, snippet, search, referral, social, other.

[2016-11-09 20:58] valianttry commented on #575
It would be great to breakout our target locales, not just country. We should watch both revenue AND conversion, and be able to see improvements / changes over last year.That way we can track progress on those key locales where we're working to improve the donor experience.

![mofo_fundraising_dashboard](https://cloud.githubusercontent.com/assets/9830371/20154445/28e5277e-a67c-11e6-8b29-c7db399290

[2016-11-09 21:00] valianttry commented on #575
We should add a subscriber funnel optimization page like you did with Copyright. We really want to improve how many people opt in to our list if we can.

[2016-11-09 21:19] pmac commented on #618
@cadecairos based on the Recurring tab of the doc it looks like they also want "installment period" which can be "Monthly, Quarterly, Yearly, Weekly, or 1st and 15th", and "installments" which seems to be a number. Do you have anything like that?

Also, any reason `donation_amount` is a string instead of an int?

Regarding SQS: An unfortunate thought just occurred to me... in which AWS region do y

[2016-11-09 23:16] valianttry opened #626 "Design email graphics based on the new EOY designs"
Detailed description of work:

Design work happening here: https://github.com/MozillaFoundation/Advocacy/issues/606

@stephaniemcv can provide direction (e.g. existing templates and dimensions for email graphics)

We want to send a test with different designs to a segment of our list (EN) to see if there's a winner for our email audience in terms of conversion and $$ raised.

We may just want to d

[2016-11-09 23:36] cadecairos commented on #618
@pmac no worries, I can easily set up the queue in us-west-2, and modify the iam policies.

As for recurring donation, we only have monthly donations, so we can hard code that value when we're looking at a recurring donation.

Not sure why donation_amount is a string, ill confirm whether or not I can pass it as a number type

[2016-11-10 13:39] TheoChevalier commented on #612
@ScottDowne sounds good, but can we update SawMill with latest translations until we move to SalesForce? (If it’s quick?) Current translations are really outdated.

[2016-11-10 13:45] ScottDowne commented on #612
Yeah should be easy and worth it.

[2016-11-10 16:04] TheoChevalier opened #627 "Update SawMill email translations"
Per https://github.com/MozillaFoundation/Advocacy/issues/612#issuecomment-259693342 we should update those translations https://github.com/mozilla/webmaker-mailroom/blob/master/locale/en_US/stripe_charge_succeeded_2014.json with https://github.com/mozilla/donate.mozilla.org/blob/master/locales/en-US/email.properties

Assigning to @ScottDowne , feel free to reassign if needed

[2016-11-10 16:36] vojtechsedlak commented on #619
Closing this ticket for now. Progress and testing timeline is tracked in [this sheet](https://docs.google.com/spreadsheets/d/1Ihcus3J_25xLzw-bQeEBXuIY5X2Q3FD1MG0T1eRaQx4/edit#gid=0).

[2016-11-10 16:36] #619 closed, assigned to vojtechsedlak

[2016-11-10 16:41] #605 closed, assigned to lovegushwa, natalieworth, beccaklam

[2016-11-10 16:44] #625 closed, assigned to KevZawacki

[2016-11-10 16:45] lovegushwa commented on #607
Just waiting for Tim Murray to confirm the direction today and we can ship.

Option 1.
<img width="1377" alt="screen shot 2016-11-09 at 8 24 00 pm" src="https://cloud.githubusercontent.com/assets/12228435/20185660/c34f5bea-a721-11e6-8936-bb0f183990df.png">

Option 2.
<img width="1384" alt="screen shot 2016-11-09 at 9 05 54 pm" src="https://cloud.githubusercontent.com/assets/12228435/20185691/d647e

[2016-11-10 16:46] lovegushwa commented on #606
Will update with designs and close by EOD.

[2016-11-10 16:47] cadecairos commented on #618
So it doesn't look like this will happen today, too much left to figure out and implement.

We still need to:
- Determine if we're enabling multi-currency on SF
- have donate submit donor infomation to a message queue
- have basket consume the data from donate (VIA the message queue above) and send it to salesforce.

Something we haven't considered: recurring charges for both paypal and stripe won

[2016-11-10 17:19] pmac commented on #618
Unless someone objects I think that can be a v2 thing. My understanding is that this integration is all about us avoiding sending donation solicitation email to existing donors. We should be able to accomplish that with this simple message queue. If we need to integrate with the payment processors, then we can just go with that fully and forget the pings from donate.m.o.

[2016-11-10 17:25] ScottDowne commented on #618
Hm, I think the only thing around recurring charges that we'll need to consider is if people cancel/update their amount. Would it make sense to have donate listen for that webhook then pass it to basket? Dunno if there would be advantages or disadvantages there.

[2016-11-10 18:03] pmac commented on #618
Hopefully we can hash this all out in a meeting soon. But I'm hoping that changes after the initial donation won't matter since the idea is to avoid bothering people who've donated. If they change the amount or cancel then I'd think we would still want to avoid bothering them, and the payment processors will always be the source of record for these data. I don't think we have much hope of keeping

[2016-11-10 18:13] ScottDowne commented on #618
@pmac that's a good point. I think that actually works and makes sense.

[2016-11-10 21:27] ScottDowne commented on #618
Just an update:

@pmac @cadecairos We decided a few things, don't need to be final, but it sounds like we're agreeing and worth pushing forward.

We're going to send frequency as a string, with "monthly", "yearly", etc. For now this is just going to be monthly. Another field for recurring, which is true or false.

example data: `{recurring: true, frequency: "monthly"} vs {recurring: false}`

We al

[2016-11-10 21:31] ScottDowne commented on #618
This _looks_ like we can get balance data from a transaction id. https://stripe.com/docs/api#balance_transaction_object

Not sure about paypal yet.

[2016-11-10 21:42] ScottDowne commented on #618
We also talked about storing what service (paypal vs stripe) and the transaction id so we can link it back.

[2016-11-10 21:48] ScottDowne commented on #618
Annnd, source url!

[2016-11-11 00:55] lovegushwa commented on #607
All approved by Tim and shipped, the final artwork is here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvTmp3VkdRRUtpREk?usp=sharing

[2016-11-11 00:56] #607 closed, assigned to lovegushwa, beccaklam

[2016-11-11 00:56] lovegushwa commented on #606
Need another day to button this up.

[2016-11-11 13:31] TheoChevalier commented on #373
Looks like flod found a potential solution for the title:

The secure bit seem fixed.

For the newsletter button, we can easily try allowing two lines + adding a horizontal padding?

For the snippet, if we can’t increase the width nor the height, that’s tricky.

[2016-11-11 13:31] TheoChevalier commented on #624
Actually, there’s already an open issue for that (#373)

[2016-11-11 13:31] #624 closed, assigned to nobody

[2016-11-11 17:11] jkt230 commented on #588
Thanks @ScottDowne - let us know if there's anything we can do to help.

As for CTR - it's our metric to measure clicks over impressions. So with a simple snippet that has just a link I think average ctr would be around .13% but with the form above (the button) the ctr was around .09%.

As for snippet icons - I believe they're now 64 x 64 instead of the old 40 x 50. Do they look strange to you?

[2016-11-11 18:19] ScottDowne commented on #588
I've only yesterday and today been able to carve out some time to start the dev on this. Had a cold for the first half of this week too.

Interesting, so in a test of button vs link, link out performed the button?

Yeah, I think 64x64 can look strange, depending on the text. I don't think one size is going to work in all cases. For snippets with two lines, I think this looks best:
![icon-size](htt

[2016-11-11 18:33] stephaniemcv commented on #626
Images work well in email when the reader understands that it is a "button". And we will need text on the image to help convey that. My recommendation is "donate" or "give".

In terms of templates we do have a mobile responsive 2 column. Image is 250x250.
![mofo-advo-template-2column-desktop-250x250px](https://cloud.githubusercontent.com/assets/11812272/20225600/7960579c-a801-11e6-934f-e8a26c21ecd

[2016-11-11 18:42] TheoChevalier commented on #626
Just keep in mind that if we localize it, we will need more space. For instance "Donate" in Italian will be something like "Fai una donazione"

[2016-11-11 19:18] ScottDowne commented on #373
Two lines of text for all three of the unsolved issues works for me.

[2016-11-11 19:30] TheoChevalier commented on #373
Alright, giving it a try

[2016-11-11 22:48] lovegushwa commented on #70
@ScottDowne the highlight boost performance significantly. This is all part of the testing plan @vojtechmzl worked out.

[2016-11-11 23:00] ScottDowne commented on #70
@lovegushwa yeah, don't worry, I've added the back the highlight Tuesday, Just needs to finish going through review.

[2016-11-11 23:35] lovegushwa commented on #606
Great work @natalieworth @beccaklam we have a solid foundation to build on here. Let's make a few tweaks early next week but overall a really solid visual direction and sets us up to do some email testing.
A note on the numbers, those are deadline or date specific email callouts IE only so many days left to donate ... numbers don't need to be localized. CC @valianttry @stephaniemcv

Mozilla.org ta

[2016-11-11 23:35] #606 closed, assigned to lovegushwa, natalieworth, beccaklam

[2016-11-12 00:28] stephaniemcv opened #628 "Kount Rules - define some variables"
Detailed description of work: Replicate some rules from Kount into Stripe's Radar to improve fraud detection.
@ScottDowne could you please go through and define what some of the rules are?
https://docs.google.com/document/d/1ks8Sh6lTGi_FpcxwPj6gzk1REXR6BG-zNmrjn5QpA48/edit

*Start date: November 14, 2016*
*Due date: November 18, 2016*
Note: The dates need to be exactly in the format indicated abov

[2016-11-13 22:24] TheoChevalier commented on #248
@beccaklam Here is the French translation of the current version https://docs.google.com/document/d/1TSiU93yaYFN9wj_l0Ozd9AcRh6LQ730k3hzs5QwkvbI/edit?usp=sharing
Please shoot if I can do anything else to help

[2016-11-14 16:24] vojtechsedlak commented on #333
Hi @valianttry, I've updated the [slides](https://docs.google.com/presentation/d/1oamWrdjZbO0w6ml_m8xSgscWVxtAvC8VhfFQfPFpnLQ/edit#slide=id.g16df6e186e_1_0) with actual projections of impressions, based on the snippet calendar. As you can see, we are projected to get around 1B impressions, which should get us to the target of 3M for snippet donations. Let me know if we can chat about in more detai

[2016-11-14 16:28] #546 closed, assigned to valianttry, vojtechsedlak

[2016-11-14 16:29] vojtechsedlak commented on #495
Closing the issue as technical challenges prevented us from running this test.

[2016-11-14 16:29] #495 closed, assigned to vojtechsedlak

[2016-11-14 16:29] vojtechsedlak commented on #447
Counter implemented, closing the issue.

[2016-11-14 16:29] #447 closed, assigned to vojtechsedlak, beccaklam

[2016-11-14 16:34] vojtechsedlak commented on #446
The results of the test were inconclusive. Closing this for now, with the hope of rerunning this test down the road.

[2016-11-14 16:34] #446 closed, assigned to vojtechsedlak, beccaklam

[2016-11-14 16:39] #207 closed, assigned to vojtechsedlak

[2016-11-14 16:40] #528 closed, assigned to vojtechsedlak

[2016-11-14 16:41] vojtechsedlak commented on #528
Closing this for now, let me know if there is anything else I can follow up on @stephaniemcv. Thanks!

[2016-11-14 17:30] vojtechsedlak opened #629 "EOY Test Idea: Culturally-specific Snippet Copy"
Detailed description of work: We haven't done much testing for snippet copy outside of en-US, so let's see if we can brainstorm ideas for culturally-specific snippets for the following locales:

en-gb
de
fr
es
pl

The hypothesis here is that tailoring the copy of the snippet to the target audience (e.g. by mentioning EU copyright in the EU snippet) will increase click-through rates over generic/un

[2016-11-14 17:35] roseregina opened #630 "Fix Mozilla logo on paypal page"
Detailed description of work:
The Mozilla logo is missing from the paypal checkout page. The logo appears to have lived here: https://learning.mozilla.org/blog/wp-content/uploads/2013/11/mozilla_wordmark_190_60px.png

This came in to donate@  (case 15609):

following the directions give me this through english:
![image](https://cloud.githubusercontent.com/assets/15040203/20275461/a57488d2-aa66-11e

[2016-11-14 17:38] cadecairos commented on #630
We should have hosted this on a CDN, not on a blog :/

if someone gets me an image, I can put it somewhere more appropriate.

[2016-11-14 17:45] vojtechsedlak commented on #601
Design of the new thank you page tracked [here](https://github.com/MozillaFoundation/Advocacy/issues/623)

[2016-11-14 17:45] #602 closed, assigned to vojtechsedlak

[2016-11-14 17:51] #574 closed, assigned to beccaklam

[2016-11-14 17:51] #573 closed, assigned to beccaklam

[2016-11-14 18:02] lovegushwa commented on #626
@stephaniemcv a few questions:

[2016-11-14 18:05] lovegushwa commented on #70
@ScottDowne please use the text highlight # ffe7ac (not the bright yellow color we used last year.)

[2016-11-14 18:38] lovegushwa commented on #626
Last years email callouts. @stephaniemcv do we have data for any tests we ran here?

1.
![eoytilesupdated_final_v1](https://cloud.githubusercontent.com/assets/12228435/20277622/2a1dae62-aa56-11e6-9516-56f5c3d45ac7.png)

2.
![eoytilesupdated_final_v2-2](https://cloud.githubusercontent.com/assets/12228435/20277625/2f3c6550-aa56-11e6-94db-e34c11701eec.png)

3.
![eoytilesupdated_final_v2-3](https://cl

[2016-11-14 18:42] lovegushwa commented on #626
Also last years tiles ... we have translation in DE, ES, FR, and IT for these titles:

Each Designs had a static and active state:
A.
![eoy_2015_v1-static_en](https://cloud.githubusercontent.com/assets/12228435/20277792/e242e8ea-aa56-11e6-93e1-f428f98c03a1.png)
![eoy_2015_v1-rollover_en](https://cloud.githubusercontent.com/assets/12228435/20277795/e768fc10-aa56-11e6-9375-1fc52e396e1f.png)

B.
![eo

[2016-11-14 18:48] TheoChevalier commented on #629
@vojtechmzl Yeah sure, anytime tomorrow would work for me

[2016-11-14 19:04] lovegushwa commented on #623
So to test the flow go to:
http://donate.mofostaging.net/

And use:
https://github.com/mozilla/donate.mozilla.org/blob/master/docs/QA_Checklist.md

[2016-11-14 19:20] lovegushwa commented on #623
@ScottDowne should we include the users name in the design (re. #362 )

[2016-11-14 20:33] lovegushwa commented on #623
@beccaklam you can see the current thank you page here: donate.mozilla.org/thank-you
Download the artwork here: https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlveW9zckJ0WFBla0k/view?usp=sharing

[2016-11-14 21:24] natalieworth opened #631 "Design social graphics for EOY"
Detailed description of work:
Finalize social share images for facebook and twitter. We will need native shares and post donation share imagery.

Copy is in #596

Identity variations happening in #591

*Start date: November 14, 2016
*Due date: November 16, 2016

CC: @lovegushwa @beccaklam @KevZawacki @HPaulJohnson

[2016-11-14 21:26] natalieworth commented on #631
Original draft directions from myself and @beccaklam are in #606

[2016-11-14 21:27] natalieworth commented on #631
https://drive.google.com/drive/u/1/folders/0BzuBOR2VJQqUU1FoVDc0UW9wTE0

[2016-11-14 21:41] ScottDowne commented on #623
@lovegushwa yes, we should add the user's name. Functionality for that is there.

[2016-11-14 22:00] lovegushwa commented on #626
Ok here is a baseline I think we should run with:

A.
<img width="600" alt="eoy_email_2016-05" src="https://cloud.githubusercontent.com/assets/12228435/20284546/71c8bfa6-aa72-11e6-800a-bc5a603130cb.png">

B.
<img width="600" alt="eoy_email_2016-01" src="https://cloud.githubusercontent.com/assets/12228435/20284549/777c26c2-aa72-11e6-9394-1f5da01c1709.png">

C.
<img width="600" alt="eoy_email_2016-0

[2016-11-14 22:07] beccaklam commented on #248
@TheoChevalier Thank you!

[2016-11-14 22:11] lovegushwa commented on #626
Ok, so @stephaniemcv needs two callouts for localized email.
Let's localize A. and B. in ES, IT, DE, FR ... oh and A is already localized from last year :)
B we will remove the "deadline december 31"

[2016-11-14 22:15] TheoChevalier commented on #626
I’m curious about who localized it, and where is it stored?

[2016-11-14 22:17] stephaniemcv commented on #626
@TheoChevalier I think it was Kontextor.

[2016-11-14 22:17] TheoChevalier commented on #626
@stephaniemcv Alright, then we definitely need a review by the community

[2016-11-14 22:19] stephaniemcv commented on #626
I'm confused. We had the text and used it last year in the campaign? The goal of reusing is so we can build the emails quickly since we're running out of time :-(

[2016-11-14 22:20] stephaniemcv commented on #626
btw here's production spreadsheet
https://docs.google.com/spreadsheets/d/1lCpUiBe5B19SASA53CRpkzTK7hrBnxRANTT0kkRZDGo/edit?ts=57e1f3b0#gid=4

[2016-11-14 22:33] jkt230 commented on #588
Got it. We went from 40 x 50 to 64 x 64 because the creative team has repeatedly given us feedback that's it's hard to create icons that small which limits what they can create. I would think it's best to stay with one size for consistency but I'll loop with the creative team to get their thoughts.

Any updates on the email form?

[2016-11-14 22:50] TheoChevalier commented on #626
@stephaniemcv We’re trying to heal our relation with our localizers. Sending Kontextor translations without any review nor warning won’t help us here. It’s not because we did this mistake once that it’s okay to do it again :/

I’m sorry if I haven’t been clear about that, but we should stop sending anything that has not been properly reviewed, including past translations. I understand we’re very l

[2016-11-14 23:01] stephaniemcv commented on #626
Ahah. Thanks, @TheoChevalier, that gives me better context about the situation. I would prefer to proceed in a way that heals, not harms.

And my apologies for not being clear, there's no email this week. But I'll push to try and package the content for the first email send next week (fingers crossed) that has copy and image w/ text to you for the DE, FR, ES localizers ASAP.

[2016-11-14 23:39] lovegushwa commented on #626
@TheoChevalier please review the translated email callouts for A here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvMGlPQ3NZcWRWOXc?usp=sharing

[2016-11-14 23:48] lovegushwa commented on #626
@valianttry can you review the copy / callouts above so I can wrap these up ... !? :)

[2016-11-15 00:09] stephaniemcv commented on #630
@lovegushwa Can you assist with a logo? We need to make it pretty before we start asking for donations.

[2016-11-15 00:46] TheoChevalier commented on #626
@lovegushwa Asked localizers for feedback, hopefully this should be okay (and moved the assets where they can have access https://drive.google.com/drive/folders/0B8po55rC8WGXd0tocEc5a0lPc2c )

[2016-11-15 00:57] lovegushwa commented on #626
@TheoChevalier thank you! ... This is the copy we need translated for the other localized email callout.
<img width="408" alt="screen shot 2016-11-14 at 4 51 24 pm" src="https://cloud.githubusercontent.com/assets/12228435/20288780/b215be52-aa8a-11e6-87c6-66cae2d026bd.png">

[2016-11-15 01:14] TheoChevalier commented on #626
@lovegushwa roger that, thanks! @stephaniemcv Is the second email callout already localized as well, or needs to? Actually, we might want to update the spreadsheet directly with what need to be localized, what need to be reviewed, and for which locales.
For instance, Italian is missing from the spreadsheet, so I’m a bit confused

[2016-11-15 01:19] HPaulJohnson commented on #611
@brettgaylor we turned the spanish ads on today. can we close this one?

[2016-11-15 01:28] lovegushwa commented on #626
@TheoChevalier so just for the sake of clarity, we need the graphic in this post localized, and the other version already localized reviewed  https://drive.google.com/drive/folders/0B8po55rC8WGXd0tocEc5a0lPc2c . Languages should be DE, FR, IT, ES, EN. Thats all we need for email callouts!
<img width="408" alt="screen shot 2016-11-14 at 4 51 24 pm" src="https://cloud.githubusercontent.com/assets/12

[2016-11-15 01:36] brettgaylor commented on #611
Thumbs up emoji!

On Nov 14, 2016 5:19 PM, "Paul Johnson" notifications@github.com wrote:

[2016-11-15 01:45] #611 closed, assigned to jendc123, stephaniemcv, vojtechsedlak

[2016-11-15 17:00] #373 closed, assigned to ScottDowne, TheoChevalier, lovegushwa

[2016-11-15 18:06] ScottDowne commented on #630
Why wouldn't we have a logo already around?

[2016-11-15 18:08] ScottDowne commented on #598
@vojtechmzl who should be cc'ed on this?  Do we need images made? Nov 16th worried me.

[2016-11-15 18:14] stephaniemcv commented on #389
Working on qa doc for this and #385 to hand off to @roseregina end of day

[2016-11-15 18:48] ScottDowne commented on #630
Why not just use https://donate.mozilla.org/assets/images/mozilla.5e83dba715a0469b92071758876f0373.svg

[2016-11-15 18:52] stephaniemcv commented on #630
works for me, I just didn't know where these assets lived.

[2016-11-15 19:00] ScottDowne commented on #630
Interesting, when I actually test this, I see:

![paypal_logo_moz](https://cloud.githubusercontent.com/assets/197334/20319367/c460e738-ab3b-11e6-9282-8f19e3ac2621.png)

I'll see if I can reproduce this.

[2016-11-15 19:03] ScottDowne commented on #630
I see, I'm seeing the micro payments account paypal, which shipped last week.

So this only seems to be broken when the donation amount is roughly above 10$

[2016-11-15 19:43] stephaniemcv commented on #377
EOY Production Schedule
https://docs.google.com/spreadsheets/d/1lCpUiBe5B19SASA53CRpkzTK7hrBnxRANTT0kkRZDGo/edit?ts=57e1f3b0#gid=4

[2016-11-15 21:32] vojtechsedlak commented on #629
Moving ahead with this. Theo is reaching out to localizers in the target communities to gather feedback and ideas for culturally-specific snippet copy and images. We hope to hear back by early next week, giving us time to set the test up before the end of next week.

[2016-11-15 22:03] TheoChevalier commented on #626
@lovegushwa feedback from German localizer:

Italian and French are ok, still waiting for Spanish

[2016-11-15 22:06] vojtechsedlak commented on #597
Test is now running.

[2016-11-15 22:12] stephaniemcv opened #632 "Desk.com Macro - Donor having technical problems during donation"
Detailed description of work: Need to refine a response that includes next actions to donors that email in and say they are having trouble donating. Things like "donation form is spinning but not progressing" "paypal gives me the 400 code", "Kapersky won't let me donate".

Here's what we have currently in response to Form Spinning:

Hello,
I'm sorry you are having trouble with the donation form. W

[2016-11-15 22:15] vojtechsedlak commented on #598
Hey @lovegushwa, could we put together 3 or 4 different ideas for the snippet icon that would align with the creative identity work done on social? The icons would ideally be all accompanied by the same copy below:

"Mozilla, the maker of Firefox, is a non-profit, and we rely on your donations for support. If everyone reading this chipped in $3, we would be supported for another year. Donate now."

[2016-11-15 22:20] vojtechsedlak commented on #363
The results of this test are inconclusive, although there is a UX preference for having the frequency selectors above amount buttons. A ticket is being filed on the donate.mozilla.org repo to make this happen.

[2016-11-15 22:20] #363 closed, assigned to vojtechsedlak

[2016-11-15 23:55] stephaniemcv opened #633 "Update Link(s) in Saw Mill Donor Confirmation"
Detailed description of work: In the Saw Mill donor confirmation, the link to Donor FAQ and "respond within 48 hours" text needs to be updated with new url #621 and "respond within 72 hours".
![saw-mill-donation-confirm-11152016](https://cloud.githubusercontent.com/assets/11812272/20329225/37b08848-ab54-11e6-99d7-d7d1d4e92cf2.jpg)

*Start date: November 15, 2016*
*Due date: December 1, 2016*
Note:

[2016-11-15 23:57] vojtechsedlak commented on #623
@beccaklam @lovegushwa I was just chatting with Paul about possibly running some tests around the share buttons on the thank you page and we were wondering if they could be featured more prominently than they are now? Currently, the share buttons only appear if someone signs up for email updates, which limits their exposure quite a bit. Having them maybe featured alongside the sign up ask would he

[2016-11-16 00:43] HPaulJohnson opened #634 "Localize EOY Social"
Detailed description of work: Localize social posts in all of the target locales for EOY fundraising

*Start date: November 15, 2016*
*Due date: November 28, 2016*

CC:

[2016-11-16 00:43] stephaniemcv commented on #414
@roseregina
I've reached out to accounting re: a credit card we can use, rather than our personal ones, since we're testing a live form and #622 can't assist us.
https://docs.google.com/spreadsheets/d/1GiI66l48Jt5MuQXhT2XG053qbiSndsoGf9Y4al4s-GI/edit#gid=0

[2016-11-16 00:44] HPaulJohnson commented on #634
@TheoChevalier here is the final copy to be localized. please let me know if you have any questions.

https://docs.google.com/a/mozilla.com/document/d/1VLghfZCPazJr_IEfj7dFweOO3zN7Hk5qip4XjfIdSXE/edit?usp=sharing

Also, going to assign this ticket to you.

[2016-11-16 00:46] roseregina commented on #414
thanks! I can start in on the other parts of QA-ing the form tomorrow if it works to do that with the #622 cards

[2016-11-16 00:47] HPaulJohnson commented on #591
copy complete and shipped to l10n for localization. Tracked in ticket #634

design to be complete by Thursday, 11/17. Tracked in ticket #631

closing this one!

[2016-11-16 00:47] #591 closed, assigned to KevZawacki

[2016-11-16 00:51] HPaulJohnson opened #635 "Implement Share Progress on post-donation Share page"
Detailed description of work: On the social share page - donate.mozilla.org/share - we want to do some testing/optimization using Share Progress tool.

If possible we should also include an Email share option on this page along with existing Facebook and Twitter share options, based on how well email has performed in previous testing.

*Start date: November 15, 2016*
*Due date: December 2, 2016*

[2016-11-16 00:53] HPaulJohnson commented on #635
@ScottDowne I will setup the tests in Share Progress and provide code snippet that can be embedded in the buttons on the existing page. Let me know if you have any questions or concerns based on our previous implementations of this functionality.

[2016-11-16 00:55] HPaulJohnson commented on #635
@lovegushwa @natalieworth we can probably accomodate 2-3 tests in the post-donate share CTA. this can include copy and images. @vojtechmzl and I discussed redoing some of our previous testing from paid to start with. This would include:
- Photo treatment
- Pizza cat
- Heart treatment

For photo and heart, can you drop in any final designs when you complete them for ticket #631 here?

[2016-11-16 00:57] TheoChevalier commented on #634
@HPaulJohnson Thanks! I have a few questions:
Are all the posts going to be used as tweets (as well as fb posts)? You’ve set the limit to 140 characters, but with a link, the limit is actually 116 characters for l10n, and some strings are already 139 characters long.
Also, when it’s a link + an image it’s even less I think (I don’t think this has changed with recent Twitter modifications around ch

[2016-11-16 01:28] HPaulJohnson commented on #634
Good, call @TheoChevalier. I've shortened or removed anything longer than 116 chars. The image no longer impacts max char length but the URL will; we'll be using a short link like mzl.la/donate. I've tested all of these with that link and image and they work.

Our general approach is to write posts that will work across both FB and twitter. Realizing that l10n will lengthen many/most, I'm hopeful

[2016-11-16 01:52] TheoChevalier commented on #634
@HPaulJohnson perfect, thank you!
Last thing to confirm is the list of locales. On the localization plan I see en-GB, de, es, fr, pt-BR. Is that correct? I.e. we don’t want nl & it?
https://docs.google.com/spreadsheets/d/1TGJWL6OgPqeQj9otd1GKfd9DWBlZpXp2uUC-zYs6VAc/edit#gid=0

[2016-11-16 02:00] HPaulJohnson commented on #634
@TheoChevalier I don't see why we wouldn't also do NL and IT as well. I'll update the spreadsheet to reflect that assuming it's not a big, additional effort for l10n. The more the merrier!

[2016-11-16 02:03] TheoChevalier commented on #634
Thanks again :) I think we’re all set \o/ I’ll expose the strings tomorrow (already quite late here)
And no, no additional effort on my side, as long as we’re using those translations, it’s fine

[2016-11-16 11:01] TheoChevalier commented on #626
Spanish looks good too, so only German need to be updated.

I will expose the other callout when we have the final copy for the localized emails

[2016-11-16 17:59] lovegushwa commented on #626
Excellent, thank you @TheoChevalier

[2016-11-16 19:54] beccaklam commented on #623
@vojtechmzl What would someone be sharing if they clicked the share buttons? CC:@lovegushwa

[2016-11-16 19:56] vojtechsedlak commented on #623
@beccaklam They would be sharing the donate.mozilla.org page. We are hoping to run some tests using ShareProgress, which allows to test different share images and share copy.

[2016-11-16 20:08] vojtechsedlak commented on #629
Hey @TheoChevalier, I found the [document with draft snippet copy](https://docs.google.com/document/d/1Wq6_iDGpd2XC426N96357QE_4N6P5F3W5p83Dql5UGQ/edit?ts=58236f11) for this year's EOY campaign. I am not sure if this is final and approved, but hopefully it can be useful for in coming up with locale-specific tweaks. Thanks!

[2016-11-16 20:10] roseregina commented on #586
feedback on the page redesign:
1. I thought that the ways to give page was also being made stable and localized. There is a link under question 1 to the wiki page. I may be totally wrong on the localization part.
2. Link to [PayPal](https://www.paypal.com/webapps/mpp/ua/privacy-full) and [Stripe](https://stripe.com/privacy)'s privacy policies in the second paragraph.
3. "Mail a check" links to the

[2016-11-16 21:39] cadecairos commented on #618
@pmac Here's the what the message payload looks like (recurring and single)

https://gist.github.com/cadecairos/e66ab0a4c0bd0e1fdab2ba352905ae2d

[2016-11-16 21:40] cadecairos commented on #618
Let me know if we should modify it in any way, otherwise I'll go ahead and merge mozilla/donate.mozilla.org#1646

[2016-11-17 02:52] pmac commented on #618
@cadecairos looks perfect to me. I'll let you know if I run into issues during the implementation.

[2016-11-17 15:05] TheoChevalier opened #636 "Broken chart on fundraising.mozilla.org"
looks like the chart is broken on https://fundraising.mozilla.org/ (Donors by source is empty, missing colors for countries)

 The web console is yelling:

[2016-11-17 16:59] beccaklam commented on #623
@vojtechmzl @lovegushwa Here are some options for the share as well as the new artwork for the donation page. Still WIP: https://redpen.io/p/muc5124775472158d5

[2016-11-17 21:12] #575 closed, assigned to vojtechsedlak

[2016-11-17 23:23] vojtechsedlak commented on #70
The latest round of designs is being tested next week. Closing this ticket. Results will be communicated through #333

[2016-11-17 23:23] #70 closed, assigned to lovegushwa

[2016-11-21 18:16] lovegushwa commented on #626
@stephaniemcv @HPaulJohnson here is a set of six final EN email callouts.
https://drive.google.com/drive/folders/0B2qu3ExKWIlvcnF4R2IybUpWQ0E?usp=sharing

[2016-11-21 18:25] lovegushwa commented on #626
@stephaniemcv @HPaulJohnson here is the first set of localized callouts in ES, IT, DE, FR. "Support Mozilla, Give before December 31"
https://drive.google.com/drive/folders/0B2qu3ExKWIlvZ19xd0NJU2FISUk?usp=sharing

[2016-11-21 19:24] natalieworth commented on #631
Hey! I have the refined versions for social on redpen here:
https://redpen.io/p/kx1eca386dff55cd06

There are 4 gif options at the bottom of the redpen (although the text based one will need some work still). If there are any flags just post it in the redpen doc and I can update. I'll then add the final file exports to the drive and link to the content google document for social.

cc @KevZawacki @

[2016-11-21 19:33] HPaulJohnson commented on #631
FYI re: localized social. To manage the # of requests we didn't send all of the versions to localization. To see which versions are being localized see ticket #634

cc: @KevZawacki

[2016-11-21 19:36] TheoChevalier commented on #634
Completion can be tracked here (updated every ~15 min) https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=social/2016/fundraising.lang (locales in white are complete)

[2016-11-21 19:46] natalieworth commented on #631
Thanks @HPaulJohnson , I'll update based on those

[2016-11-21 19:49] lovegushwa commented on #248
@ScottDowne

[2016-11-21 19:49] #248 closed, assigned to lovegushwa, natalieworth, beccaklam

[2016-11-22 15:12] cadecairos commented on #618
Donate.mozilla.org is now sending donation information into an SQS queue for consumption by basket.

[2016-11-22 16:22] ScottDowne commented on #636
@vojtechmzl are the charts on the wiki something you are familiar with?

[2016-11-22 16:30] vojtechsedlak commented on #636
Yup I am familiar with d3js. How can I get access to the site @ScottDowne ? I see it's in wordpress

[2016-11-22 16:31] ScottDowne commented on #636
@vojtechmzl haha, I was hoping you knew how to get access.

[2016-11-22 16:32] vojtechsedlak commented on #636
Ha, sadly I never got the keys to that one.

[2016-11-22 16:36] ScottDowne commented on #636
@cadecairos master of keys, I present to you this problem in which I could probably solve slower and badlier than thou. You know how to give @vojtechmzl access to fundraising.mozilla.org site?

🔑 🔑 🗝 🗝 🎹

Thanks :)

[2016-11-22 16:37] ScottDowne opened #637 "What do to with faq and ways to give wiki pages"
We have a bunch of links in email templates and desk.com macros to articles on wiki.mozilla.org

https://wiki.mozilla.org/Ways_to_Give and https://wiki.mozilla.org/Donate

We're looking to replace these with links on donate.mozilla.org

So either we update links in the templates and macros, or we setup a redirect on the wiki, which ever is easier.

@stephaniemcv

[2016-11-22 17:16] roseregina opened #638 "Adding Bpay payment option"
Donor request for adding Bpay (a payment system that seems to only be used in Australia).

CC: @ScottDowne

[2016-11-22 23:01] Matt-Holland opened #639 "test issue for the new contractor"
Detailed description of work:

*Start date: September 1, 2016*
*Due date: February 28, 2017*

Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-22 23:13] #589 closed, assigned to vojtechsedlak

[2016-11-22 23:18] #626 closed, assigned to lovegushwa

[2016-11-22 23:19] lovegushwa commented on #623
@beccaklam can we close this ticket?

[2016-11-22 23:21] lovegushwa commented on #362
@ScottDowne I believe @beccaklam addressed this in #623 ... can we close this?

[2016-11-22 23:45] jkt230 commented on #588
@ScottDowne Circling back around to this - I know you were building out a few of these but would it be possible to get one form by next week? Let me know!

[2016-11-22 23:49] lovegushwa opened #640 "Design: Snippet test creative"
Create the following icons for snippet tests running the week of 12/3:

- Localized icons for DE and FR likely heart + a cultural symbol or reference to the flag
- Pixel heart icon
- Pixel heart animated .gif

@vojtechmzl missing anything here?

*Start date: November 22, 2016*
*Due date: November  25, 2016*

CC: @HPaulJohnson @vojtechmzl @natalieworth @beccaklam

[2016-11-23 00:18] roseregina opened #641 "Hard to read text in form because of low contrast"
Do we have the control to make the text inside the fields on the stripe form darker? I have gotten a couple of emails about donors not being able to tell what to put there because of symbol confusion and being unable to read the text. Here is an example complaint and a screen shot of the german language version of what I am talking about.

![image](https://cloud.githubusercontent.com/assets/150402

[2016-11-23 00:35] ScottDowne commented on #588
@jkt230 I hope to have the email signup finished this week. It's close.

Just to double check that we're on the same page. I'm making it work like form in https://www.changecopyright.org/ that cool? It's pretty interactive, hence why it's taken a bit of time.

[2016-11-23 00:55] lovegushwa opened #642 "Design: Email callouts for EOY email #3 and #4"
Create two additional email callouts for:
Email 3 personal impact story and email 4 ...  Listical, fun and eye catching: Top XX things you'd have missed in 2016 on the internet without Mozilla.

Post content here: https://goo.gl/l5bwTR

*Start date: November 28, 2016*
*Due date: December 12, 2016*

CC: @HPaulJohnson @stephaniemcv

[2016-11-23 00:58] ScottDowne commented on #641
We do not have control.

We used to use our own form for this, but the Stripe one converted better, and reduced a significant complexity from an already small dev team.

It's worth pushing this feedback to Stripe.

[2016-11-23 01:03] cadecairos commented on #641
I've already passed on the high contrast mode idea to the stripe engineering team. They seemed excited about the idea.

[2016-11-23 01:04] cadecairos commented on #641
We could build a fallback form strictly for accessibility

[2016-11-23 02:13] jkt230 commented on #588
@scottdowne Yup, is there a place to put snippet copy?

[2016-11-23 16:04] beccaklam commented on #623
@lovegushwa Not yet? Though the design is done. I just have to clean up my code and commit again. The ticket will close when the pull request merges with the master repo though. Also!
@vojtechmzl What did you and Paul envision the share e-mail to say in terms of Subject: and Body: ? Would the share need to be localized?

[2016-11-23 17:38] #609 closed, assigned to ScottDowne

[2016-11-23 18:29] beccaklam commented on #640
@vojtechmzl What size should the snippets be? cc:@natalieworth

[2016-11-23 18:40] natalieworth commented on #640
@beccaklam I think the usual size we have done in the past for the icon sizes on snippet were between 64 x 64px @ 2x (sometimes a little larger/ or they could be a rectangle too...I don't think they always have to be square)

[2016-11-23 18:41] natalieworth commented on #640
@beccaklam also if you want to export your heart ones that you have already done, I could work on the DE/FR options for Friday

[2016-11-23 18:50] beccaklam commented on #640
@natalieworth Thanks! Was just wondering because @lovegushwa said they might be testing some new sizes? <--@vojtechmzl And yes, I'll work on polishing the heart ones :)

[2016-11-23 19:10] vojtechsedlak commented on #640
@beccaklam Good question. We're currently testing 32x32px vs 64x64px, so we may scale things down if the we see that the smaller one ends up performing better.

[2016-11-23 21:48] beccaklam commented on #640
@natalie @vojtechmzl @lovegushwa Put Pixel heart icon and Pixel heart animated .gif in this folder on the drive: https://drive.google.com/open?id=0BzuBOR2VJQqUX1N5Szh6T2IzNVE

[2016-11-23 22:34] ScottDowne commented on #588
@jkt230 Created a pull request and put into review just now: https://github.com/mozmar/snippets/pull/93

And yeah, there is a standard icon and text that's a pretty standard snippet, with the form under it.

Looks roughly like this:

![step1signup](https://cloud.githubusercontent.com/assets/197334/20580859/fde97bec-b1a2-11e6-9530-ecf6003a91fd.png)

and:

![signupstep2](https://cloud.githubusercont

[2016-11-23 22:34] ScottDowne commented on #588
The text I used in my screenshots is totally just testing text, and can be whatever you want in whatever language.

[2016-11-23 22:36] jkt230 commented on #588
Thanks Scott, couple Qs:
1) We can change up icon and text?
2) Are there more required fields besides Email, First Name? I'm assuming last name, privacy etc is included?

[2016-11-23 22:39] ScottDowne commented on #588
Yeah, any icon (or non) and any text.

I based it off the previous signup, with had first name, country, and email (no last name)

And yes, there is a privacy policy too, which can be whatever text we want in whatever language:

![step3signup](https://cloud.githubusercontent.com/assets/197334/20580955/ad38f776-b1a3-11e6-891a-6a83a5eb9859.png)
![signupstep4](https://cloud.githubusercontent.com/asse

[2016-11-23 22:40] ScottDowne commented on #588
Please excuse my "To agree of not to agree." test privacy policy too :)

[2016-11-24 01:18] natalieworth commented on #640
@beccaklam @vojtechmzl @lovegushwa put options for localized test icons here: https://redpen.io/p/en58751ffb0c169cd3

[2016-11-24 03:11] TheoChevalier opened #643 "Support longer translations for donate button on snippet"
We’re going to support Italian next week, and the button is probably going to be “Fai una donazione”, which does not fit great in the current button:

<img width="501" alt="capture d ecran 2016-11-23 a 23 49 14" src="https://cloud.githubusercontent.com/assets/1294206/20585272/c7a2d02a-b1f1-11e6-9d3e-f48c9d51b21e.png">

But it is a lot better with `padding: 7px 4px` instead of `padding: 7px 0`:
<im

[2016-11-24 04:04] ScottDowne commented on #643
Yeah that looks good to me.

[2016-11-24 14:02] TheoChevalier commented on #643
Thanks, opened https://github.com/mozmar/snippets/pull/94

[2016-11-24 20:35] ScottDowne commented on #641
@cadecairos building a form for this would be a significant amount of work.

I think this issue is also simply the colour on the placeholders is too light, and that's in an iframe so we have no control over it's css.

[2016-11-24 21:28] ScottDowne commented on #630
It wouldn't accept that image, something about only accepting archaic image formats and sizes.

I just went with the text "Mozilla Foundation" to match our micro account.

Previous links were:
https://blog.webmaker.org/wp-content/uploads/2013/11/mozilla_wordmark_190_60px.png
https://blog.webmaker.org/wp-content/uploads/2013/11/mozilla_wordmark_750_90px.png

If we want anything better, reopen and a

[2016-11-24 21:28] #630 closed, assigned to ScottDowne

[2016-11-25 16:01] roseregina opened #644 "Adding PaySafeCard payment option"
There have been several requests that ew be able to accept donations via PaySafeCard, I believe mostly coming from Europe. It is a pre-paid online payment card with a 16 digit pin.

Here is the website for paysafecard for more information: https://www.paysafecard.com

(NOTE: due date was previously set to Dec 31 '18, but I tried changing it to see if that would adjust the timescale on the gantt ch

[2016-11-25 19:40] #643 closed, assigned to ScottDowne, TheoChevalier

[2016-11-25 23:57] natalieworth commented on #640
Uploaded the snippet icon version files here: https://drive.google.com/drive/u/1/folders/0BzuBOR2VJQqUX1N5Szh6T2IzNVE

There are a FR and DE animated version for each flag. I also included an alternate version of an icon for FR of the Eiffel Tower as another option if we want to test it against the DE animated flag option.

@lovegushwa @beccaklam @vojtechmzl

[2016-11-28 14:12] TheoChevalier commented on #634
All locales (except en-GB) are complete and can be found here:

https://l10n.mozilla-community.org/langchecker/?website=6&file=social/2016/fundraising.lang&action=translate&show

[2016-11-28 14:12] #634 closed, assigned to TheoChevalier

[2016-11-28 17:23] TheoChevalier commented on #621
page is live, closing this one
 https://donate.mozilla.org/faq

[2016-11-28 17:23] #621 closed, assigned to ScottDowne

[2016-11-28 22:35] natalieworth commented on #640
@vojtechmzl Do you know if we shipped these to the snippet team yet? I was also hoping to add to this for testing (if it's not too late)

1. DE animated flag vs. FR animated flag icons:
https://drive.google.com/file/d/0B20-0lpP23c0ZVZ6SW56WEM1Z28/view
https://drive.google.com/file/d/0B20-0lpP23c0SHFPeTJ1QlBoWXc/view

2. DE flag vs. FR Eiffel Tower icons:
https://drive.google.com/file/d/0B20-0lpP23

[2016-11-28 23:31] vojtechsedlak commented on #629
Hey @TheoChevalier, did we end up hearing back from any other community members last week? We are going ahead with testing localized icons, so we can close this ticket, unless any new ideas emerged. Thanks!

[2016-11-28 23:34] TheoChevalier commented on #629
@vojtechmzl unfortunately no :/ I have this alternative copy for French, https://public.etherpad-mozilla.org/p/eoy-custom-snippets-fr but I’m not convinced it’s better than the current one. (I’ve added a literal translation at the bottom). If you want to test it, go ahead, but otherwise, let’s close the ticket.

[2016-11-28 23:38] HPaulJohnson commented on #623
@beccaklam here is the copy we can use for the email share option on the thank you page:

Subject: Join me in supporting Mozilla

Body: I donated to Mozilla today because I love the Internet! Mozilla, the maker of Firefox, is a non-profit and relies on donations for support. Join me and help protect the Internet as a global public resource: https://donate.mozilla.org

@TheoChevalier can you help g

[2016-11-28 23:41] vojtechsedlak commented on #629
This is great. There is a separate effort to get a bunch of copy variants into the approval pipeline this week, so let's add this there. I think it's worth testing. Thanks for your help!

[2016-11-29 00:05] TheoChevalier commented on #623
@beccaklam do you know if we can have HTML markup in the localized string, i.e. `<a href="https://donate.mozilla.org">https://donate.mozilla.org</a>` in the body string, or it has to be plain text? I assume plain text since not all email clients are sending HTML emails?

[2016-11-29 00:37] HPaulJohnson commented on #400
Discussed copy needs with @lovegushwa and we'll come up with two variations to get feedback on from Snippet team this week:

1) Longer copy using last year's spectacular copy
2) Shorter version using the existing copy as placeholder for now. I'll be working on some other short variations for testing in the coming weeks and we can swap in winners after we get feedback on overall design from snippet

[2016-11-29 00:39] HPaulJohnson commented on #392
Per our discussion this morning, let's decide in the next few days whether we have capacity to pull this off and, if so, share some designs with snippet team before Hawaii.

@lovegushwa @beccaklam

[2016-11-29 00:43] HPaulJohnson opened #645 "Design a mobile version of snippet"
Detailed description of work: We need modified copy and resized image to run snippet in the mobile version of FF.

*Start date: November 28, 2016*
*Due date: December 1, 2016*

[2016-11-29 00:46] HPaulJohnson commented on #645
Specs for mobile snippet are: Mobile snippet 100 character limit, icon size 96x96.

@lovegushwa can you create a version of heart icon that is 96x96?

For copy, we can use this modified version of existing snippet copy:
"Mozilla, the maker of Firefox, is a non-profit and we rely on donations for support. Donate now."

[2016-11-29 00:49] HPaulJohnson opened #646 "Snippet copy variations for testing week of 12/12"
Detailed description of work: To continue testing/optimization of snippet, and to fight fatigue with existing snippet versions, we'd like to introduce a set of additional copy tests to run the week of 12/12-12/26.

*Start date: November 28, 2016*
*Due date: December 1, 2016*

CC: @KevZawacki

[2016-11-29 00:50] HPaulJohnson commented on #646
Initial directions to be tested with copy from [last week's brainstorm](https://docs.google.com/document/d/1Wq6_iDGpd2XC426N96357QE_4N6P5F3W5p83Dql5UGQ/edit?ts=58236f11) include:

- Length
- Internet “Health Bar”
- Defend the Internet
- Fight for the Internet
- Quotes / Testimonials
- Stats

[2016-11-29 00:52] HPaulJohnson opened #647 "Additional icon testing for snippet"
Detailed description of work: To continue testing/optimization of snippet, and to fight fatigue with existing snippet versions, we'd like to test additional snippet icons the week of 12/12

*Start date: November 28, 2016*
*Due date: December 12, 2016*

[2016-11-29 00:54] HPaulJohnson commented on #647
Note to @lovegushwa @natalieworth @beccaklam this ticket is time permitting given all the other design deliverables due this week. But, if there is additional time, coming out of[ last week's brainstorm](https://docs.google.com/document/d/1Wq6_iDGpd2XC426N96357QE_4N6P5F3W5p83Dql5UGQ/edit?ts=58236f11) we discussed a few additional icon possibilities that would be worth trying, including:

- Thermos

[2016-11-29 01:15] HPaulJohnson commented on #646
I'll be working on copy for these here, hoping to have something by EOD tomorrow 11/29.

https://docs.google.com/a/mozilla.com/document/d/1DKmv0N_P3NdOD8DR9iy7CmJ_pM8Mn1Jxo1zfTfqUmCA/edit?usp=sharing

[2016-11-29 01:37] #394 closed, assigned to TheoChevalier

[2016-11-29 02:08] HPaulJohnson commented on #635
@ScottDowne I've setup the Share Progress buttons so we can do some testing on the thank-you page. For now, these are just in English so let me know if that's an issue. This is a P2 so let me know if you have capacity to implement or whether we should move this out to a later milestone.

First, we will need to enable Share Progress on the Thankyou page with this code:

`<script src="//c.shpg.org/3

[2016-11-29 02:10] HPaulJohnson commented on #635
one additional thing to support the testing of the images that get shared via Facebook. I need a URL where the images are hosted, preferably on the donate site. I have the default one we are currently using but have two additional ones that need to be hosted. They are

![eoypizzacat](https://cloud.githubusercontent.com/assets/10078715/20693835/ecaed4de-b595-11e6-9e2e-ebd303d33150.jpg)
![eoyheart](

[2016-11-29 02:26] HPaulJohnson commented on #629
@vojtechmzl @TheoChevalier I came across these in the brainstorm doc. They aren't culturally-specific but they are locale-specific and reference our work in the EU this Fall. They might also make good tests:

In 2016 Mozilla stood with the people of [COUNTRY] to reform outdated copyright laws and protect the Internet. Today we are asking for your help. Please donate to Mozilla so that we can conti

[2016-11-29 02:45] HPaulJohnson commented on #646
I put a bunch of options in the doc, mostly pulled/remixed from a bunch of existing content. Would love some feedback, edits, and input on what are the strongest tests.

https://docs.google.com/document/d/1DKmv0N_P3NdOD8DR9iy7CmJ_pM8Mn1Jxo1zfTfqUmCA/edit#

@vojtechmzl @TheoChevalier @KevZawacki @lovegushwa @natalieworth @beccaklam can you take a look and let me know what you think?

[2016-11-29 02:47] TheoChevalier commented on #629
@HPaulJohnson  yeah, they are more than locale-specific, they are country-specific. So that means we can reach out less people than with country-agnostic snippets.

In the French community, several people thought it was more impacting to mention Europe as it’s where Mozilla is taking action. So we get inspired by the copy you mentioned to create the snippet I posted in https://github.com/MozillaFo

[2016-11-29 13:27] TheoChevalier commented on #637
As a first step, once https://github.com/mozilla/donate.mozilla.org/pull/1675 is in prod, should we replace content of the wiki pages with something like a big link “Please check out our new FAQ page”?

[2016-11-29 13:45] TheoChevalier commented on #646
Hey Paul, I really like them, and in my opinion the 3 “length” and the 2 “stats” copy are the strongest, they resonate with me as there are very concrete examples of what we’re doing. The length[A] copy is even better as it mentions Firefox, and is clear about donations not directly supporting Firefox. The copy is already quite long, but maybe we can tweak it to mention non-profit as well? Or that

[2016-11-29 13:58] WillatMozFdn commented on #623
@TheoChevalier I think you're right, the body string will not accommodate HTML markup, since it uses the mailto: tag and the encoding for any HTML characters is likely to futz up that link.  So, I would assume plain text only on this one, based on my experience with ShareProgress.

[2016-11-29 14:05] TheoChevalier commented on #623
Thanks Will! Yeah, let’s play it safe 🚨

[2016-11-29 14:36] WillatMozFdn opened #648 "Design: Four callout boxes for testing in EOY fundraising email #2"
Detailed description of work:  Our primary test for EOY fundraising email #2 will be four different callout box designs.  (The body of the email is a kicker/lift note on top of whatever wins the content test in email #1.)  Ideally, these designs are rather distinct from one another so we can hopefully get clear test results.

*Start date: November 29, 2016*
*Due date: December 5, 2016*
Note: The d

[2016-11-29 15:04] Matt-Holland opened #649 "Email 1 (EN) - test versions"
Detailed description of work:
(hopefully Weds. Nov. 30, pending some SalesForce issues)
 test two different content versions (both in standard template, from Mark) -- "How are you" vs. "2017 may be challenging, help us meet those challenges."

*Start date: November 23, 2016*
*Due date: November 30, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with t

[2016-11-29 15:06] Matt-Holland opened #650 "Email 2 (EN)"
Detailed description of work:
scheduled for Dec. 7: "kicker" of the winner from message #1 (lift note on top of the winning message); testing 4 different callout box designs

*Start date: November 29, 2016*
*Due date: December 7, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:07] Matt-Holland opened #651 "Email 3 (EN)"
Detailed description of work:
personal story email, of someone Mozilla has helped.  Template design test, standard version with callout box, versus design with hero image across the top.

*Start date: November 29, 2016*
*Due date: December 15, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:08] Matt-Holland opened #652 "Email 4 (EN)"
Detailed description of work:
Listicle-style, lighter tone -- there's a lot of great stuff out there on the web, and Mozilla helps keep the internet free and open so you can keep getting it.  Test big contribute buttons in the body of the email, vs. text-based links.

*Start date: November 29, 2016*
*Due date: December 27, 2016*
Note: The dates need to be exactly in the format indicated above for

[2016-11-29 15:09] Matt-Holland opened #653 "Email 5 (EN)"
Detailed description of work:
roundup of the previous emails, only two more days to donate.  Test a regular contribute link, versus explicitly asking for recurring donations.

*Start date: November 29, 2016*
*Due date: December 29, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:10] Matt-Holland opened #654 "Email 6 (EN)"
Detailed description of work:
**Mitchell is sender**: Only testing subject lines here, so only one version of the message.  It's last day to contribute, so no real opportunity to roll out a winner.

*Start date: November 29, 2016*
*Due date: December 31, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:17] Matt-Holland opened #655 "Email 1 (EN) - final version"
Detailed description of work:
(hopefully Weds. Nov. 30, pending some SalesForce issues)
test two different content versions (both in standard template, from Mark) -- "How are you" vs. "2017 may be challenging, help us meet those challenges."

Start date: November 30, 2016
Due date: December 1, 2016
Note: The dates need to be exactly in the format indicated above for proper integration with the Gan

[2016-11-29 15:23] Matt-Holland opened #656 "Email 1 - EU (ENUK & ENEU)"
Detailed description of work:

Check out the impact we're having , Maker Party/Campaign report back

*Start date: November 29, 2016*
*Due date: December 7, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:29] Matt-Holland opened #657 "Email 1 - EU (DE)"
Detailed description of work:
Check out the impact we're having , Maker Party/Campaign report back,

*Start date: November 29, 2016*
*Due date: December 7, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:31] Matt-Holland opened #658 "Email 1 - EU (ESES)"
Detailed description of work:
Check out the impact we're having , Maker Party/Campaign report back,

*Start date: November 29, 2016*
*Due date: December 7, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:34] Matt-Holland opened #659 "Email 2 - EU (ENUK & ENEU)"
Detailed description of work:
Global Vision for 2017?

*Start date: November 29, 2016*
*Due date: December 15, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:35] Matt-Holland opened #660 "Email 2 - EU (DE)"
Detailed description of work:
Global Vision for 2017?

*Start date: November 29, 2016*
*Due date: December 15, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:37] Matt-Holland opened #661 "Email 2 - EU (FR)"
Detailed description of work:

Global Vision for 2017?

*Start date: November 29, 2016*
*Due date: December 15, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:38] stephaniemcv commented on #637
Yup. We'll use that as a stop gap until we can figure out a more permanent solution.

[2016-11-29 15:39] Matt-Holland opened #662 "Email 2 - EU (ESES)"
Detailed description of work:
Global Vision for 2017?

*Start date: November 29, 2016*
*Due date: December 15, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 15:46] Matt-Holland opened #663 "Email Thanks"
Detailed description of work:
All 2016 donor thank you
Thank you animated gif/video

*Start date: November 29, 2016*
*Due date: January 4, 2017*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 16:21] ScottDowne commented on #586
Pretty sure we can close this.

https://donate.mozilla.org/faq and https://donate.mozilla.org/ways-to-give

[2016-11-29 16:21] #586 closed, assigned to ScottDowne

[2016-11-29 16:26] ScottDowne commented on #628
@cadecairos reported our percentage is now below 1%.

I think I'm just going to close this. I don't think the Kount stuff was all that useful anyway.

[2016-11-29 16:26] #628 closed, assigned to ScottDowne

[2016-11-29 16:29] ScottDowne commented on #592
Radar and new currencies were done, the rest I think isn't happening this year.

We can file a specific ticket for ACH or coinbase things if we expect to use it this campaign.

[2016-11-29 16:29] #592 closed, assigned to ScottDowne

[2016-11-29 16:36] roseregina commented on #628
does this mean that our kount meeting for later today is cancelled? @stephaniemcv

[2016-11-29 16:42] ScottDowne commented on #628
We could probably cancel it, yeah, unless @cadecairos was pulling one over on me.

[2016-11-29 17:00] stephaniemcv commented on #628
I'm ok with canceling today. Yay we're under 1%!

[2016-11-29 17:51] TheoChevalier commented on #646
Just received formal/informal German variants: https://docs.google.com/a/mozilla.com/document/d/10GV0ectp7oegUXP7XsevRdpCIeT5K5ZWz3Ti0ITnzIA/edit?usp=sharing

[2016-11-29 17:57] TheoChevalier commented on #629
Just received formal/informal German variants: https://docs.google.com/a/mozilla.com/document/d/10GV0ectp7oegUXP7XsevRdpCIeT5K5ZWz3Ti0ITnzIA/edit?usp=sharing

[2016-11-29 18:17] vojtechsedlak commented on #629
Hey @TheoChevalier, could we translate the three variants that @HPaulJohnson outlined above into German, French and maybe Spanish and Polish? I think we could even test referencing a specific country vs referencing Europe. This test would tie in nicely with the icon test that's running this week, possibly equipping us to run highly targeted snippets towards the end of the campaign.

[2016-11-29 18:18] lovegushwa commented on #645
@beccaklam can you make a version of the pixel heart at 96x96

[2016-11-29 19:00] beccaklam commented on #645
@HPaulJohnson @lovegushwa Here are the icons, I've exported one at 1X and one at 2X: https://drive.google.com/open?id=0BzuBOR2VJQqUVnd4V1J3TC01ZGM

[2016-11-29 19:29] vojtechsedlak commented on #601
Hey @ScottDowne, what's the status of the new thank you page design? I was hoping we could set up a test before Hawaii, but not sure whether we can trigger it the same way as the frequency selector test with a URL parameter?

[2016-11-29 19:42] Matt-Holland commented on #392
Testing whether I can add a date in a comment

*Start date: November 29, 2016*
*Due date: December 2, 2016*

[2016-11-29 20:12] Matt-Holland opened #664 "Go / No Go decision on Dev Edition"
Detailed description of work:

#392

*Start date: December 12 2016*
*Due date: December 13, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-11-29 22:01] TheoChevalier commented on #637
Updated the wiki, and the new link is now live on prod https://donate.mozilla.org/

[2016-11-29 22:10] cadecairos commented on #633
The 72 hrs fix is live on production now.

[2016-11-29 22:17] vojtechsedlak commented on #646
These are great @HPaulJohnson!
I think the following versions best capture the given variant's attribute and could be evaluated in the big content framing showdown of EOY 2016.

Length - A
Health Bar - A
Defend - B
Fight - B
Stats - B

I am thinking whether we should only run this test only in EN and wait for the locale-specific test (#629) to conclude. @TheoChevalier, @HPaulJohnson what do you th

[2016-11-29 22:41] HPaulJohnson commented on #646
thanks, both. the only one i'm not totally "feeling" is the trolls version (health bar - A) so may swap it out. Otherwise, I'll submit this list (might throw in a few additional versions just to have some in our backpocket if we see fatigue) to snippet team for feedback.

I think it makes sense to run these outside of EN only after the current testing has concluded.

[2016-11-30 01:16] HPaulJohnson commented on #646
Here's what I sent to Wes tonight for review by the snippet team:

https://docs.google.com/document/d/1bJALd39V4f-9NiM_KnkMKILNhlp6n-C83-j4Wg1DKWY/edit

Note, I tweaked the health bar one a bit and included an additional "Internet Meme" variation that we could use in conjunction with nyan cat.

I'll let everyone know what feedback we get.

[2016-11-30 02:35] ScottDowne commented on #664
I suspect how the spectacular snippet works out is going to be the primary factor on if we have time to do this or not.

[2016-11-30 02:56] ScottDowne commented on #635
@HPaulJohnson Links are up, that's all for tonight though:

https://donate.mozilla.org/assets/images/share-progress-heart.jpg
https://donate.mozilla.org/assets/images/share-progress-pizza-cat.jpg

[2016-11-30 04:26] stephaniemcv opened #665 "Hawaii White Elephant Gift Exchange"
A White Elephant Gift Exchange is a popular holiday game where people vie to walk away with the best present.

**tldr: I'm asking that each person brings a wrapped gift to Hawaii. Your maximum budget for a gift is $20.**

Quick rundown of the rules:
1. Each player brings one wrapped gift to contribute to a common pool
2. The first player selects a gift from the pool and opens it
3. The following p

[2016-11-30 17:10] Melechuga commented on #665
+ @caltrider

[2016-11-30 17:26] HPaulJohnson commented on #645
@vojtechmzl can you provide me a tagged URL for use with the mobile snippet?

[2016-11-30 17:47] vojtechsedlak commented on #645
@HPaulJohnson https://donate.mozilla.org/?utm_source=mobile-snippet&utm_medium=snippet&utm_campaign=EOY2016

[2016-11-30 18:15] HPaulJohnson commented on #645
This is set to go-live today!

[2016-11-30 18:21] HPaulJohnson commented on #665
Yes! I'm in. This is awesome.

[2016-11-30 18:25] anmechung commented on #665
Great idea!

[2016-11-30 18:33] WillatMozFdn commented on #665
Is it allowable under the rules to NOT unwrap your gift once you've chosen it?  :-)

[2016-11-30 18:38] stephaniemcv commented on #665
Haha! That might be a fun rule to add!

[2016-11-30 19:10] HPaulJohnson commented on #635
@ScottDowne thanks for the images, plugged them into the tests.

Also, noticed that the existing default got changed to the heart. I thought we were keeping the existing image (person teaching from a laptop) as the control. Given we are testing heart and pizza cat would be great to have previous image - a photo - as the control if at all possible.

[2016-11-30 20:39] ScottDowne commented on #635
@HPaulJohnson I'm not following this bit:

Also, noticed that the existing default got changed to the heart. I thought we were keeping the existing image (person teaching from a laptop) as the control. Given we are testing heart and pizza cat would be great to have previous image - a photo - as the control if at all possible.

[2016-11-30 20:40] ScottDowne commented on #635
I'm not aware of any changes to the share image.

[2016-11-30 20:52] HPaulJohnson commented on #635
This is the URL I had for the default image:

https://donate.mozilla.org/assets/images/EOY_facebook_v1.a152496406bad899d1a920f6d6b9f507.png

When I looked earlier it had changed to the heart, and the Share Progress preview showed it as the heart.

Seeing your note, I just went back in to verify and it's back to the original image.

So, in the end, maybe I'm just crazy and it never changed. Everyth

[2016-12-01 21:29] WillatMozFdn opened #666 "Design: Hero image for EOY fundraising email #3"
Detailed description of work: EOY fundraising email #3, scheduled for Dec. 15, will be a template test ... our standard design with callout box on the right, versus the alternate design with a hero image on top.  Will get more info including dimensions/specs ASAP, but just wanted to get this one up on the board.

*Start date: December 5, 2016*
*Due date: December 12, 2016*
Note: The dates need to

[2016-12-01 22:08] roseregina commented on #632
With Kaspersky, I think that part of what is going on might be related to Safe Money. Here's a decent  explanation of what it is: http://support.kaspersky.com/11161

This means that I think we maybe need to tell people emailing about Kaspersky to add donate.mozilla.org to the approved list.

[2016-12-01 22:28] ScottDowne commented on #635
@HPaulJohnson I think this is going to do it: https://github.com/mozilla/donate.mozilla.org/pull/1685

I have not yet merged. I want to sync up with you when I merge it, because locally I cannot test it, and I may need your help to quickly get it on production and test it there.

[2016-12-02 02:26] roseregina opened #667 ""Remember me" button in stripe check out"
Is it possible to remove the "remember  me" button on the second page of the donation form? It confuses some people and then stripe sends a text message and a couple donors have flipped out a little bit because they didn't understand what stripe is.

example donor email:

*Start date: December 1, 2016*
*Due date: September 2, 2019*
Note: The dates need to be exactly in the format indicated above f

[2016-12-02 04:19] cadecairos commented on #667
Yes we can consider removing that option:

[code]

(from [Stripe checkout docs](https://stripe.com/docs/checkout#optional))

[2016-12-02 04:20] ScottDowne commented on #667
It's already on staging.

Should be on prod in a few minutes.

[2016-12-02 04:39] ScottDowne commented on #667
Closing, being deployed now.

[2016-12-02 04:39] #667 closed, assigned to roseregina

[2016-12-02 04:39] ScottDowne commented on #635
Done. Being deployed now.

[2016-12-02 04:39] #635 closed, assigned to HPaulJohnson

[2016-12-02 04:55] roseregina commented on #667
awesome sauce. thank you.

[2016-12-02 14:54] Matt-Holland commented on #247
The "Case to Give" page has been put on hold for this year.

[2016-12-02 15:00] TheoChevalier commented on #405
@stephaniemcv anything needed from me? I’m not sure what is the optin pop up

[2016-12-02 15:09] Matt-Holland commented on #633
@ScottDowne  @cadecairos  is the changed link to the FAQ live now also? Can we close this ticket?

[2016-12-02 15:18] Matt-Holland commented on #631
Just cleaning up some of our open tickets -- I can't tell from this discussion if this work is complete or still ongoing. Can someone enlighten me?

[2016-12-02 15:25] Matt-Holland commented on #400
Last update was @lovegushwa to have a meeting with MoCo marketing to review/approve his set of designs. Is that meeting set?

[2016-12-02 15:27] Matt-Holland commented on #620
@ScottDowne will start building on Dec. 12, might be done by 23rd to have it done-done. That’s xmas weekend and then 26th and 27th to get review (need to check with Yrgos, MoCo dependency for signoff)

[2016-12-02 15:39] Matt-Holland commented on #618
@cadecairos should this ticket be closed? From reading the comments it seems like there are multiple parts of what we want; maybe it's more correct to create separate issues for the non-P1 parts, and close this P1 ticket. What do you think?

[2016-12-02 15:46] Matt-Holland commented on #414
@stephaniemcv  and @roseregina can you say a sentence or two about where we are with this testing -- if it's blocked, if you've already done it, if we should plan to begin after Hawaii, etc?

[2016-12-02 15:49] Matt-Holland commented on #412
as per #618 , not clear that the *monthly* donors are yet integrated. Need to verify whether that will require additional integration work, and if so come up with a plan for how to exclude these people.

[2016-12-02 15:50] cadecairos commented on #618
Yes, this work is 100% completed

🎉 🌮 🎉

[2016-12-02 15:50] #618 closed, assigned to cadecairos

[2016-12-02 15:51] Matt-Holland commented on #404
@stephaniemcv it looks like this request has been completed. Can this ticket be closed?

[2016-12-02 15:53] cadecairos commented on #412
Recurring donations aren't being recorded right now. This should be simple enough to fix, since the transaction DB is already polling the Paypal accounts for txns and accepting stripe webhooks. We can add logic to send those transactions which are recurring into the queue that Basket syncs into Salesforce.

[2016-12-02 15:54] roseregina opened #668 "Stripe decline indicator for donor"
Is there any way for us to have stripe or sawmill send some kind of "your card has been declined" email or notification? I think it would clear up a certain amount of donor confusion about what is going on when that happens. A lot of people think they have donated and are confused and miffed when there is no acknowledgment. And if not, this is something that should get added to the next revision o

[2016-12-02 15:54] cadecairos commented on #412
That said, we know if a donor is creating a monthly subscription or not when they donate. We're just not capturing data about their future transactions.

[2016-12-02 15:54] Matt-Holland commented on #389
@roseregina has this been handed off to you?

[2016-12-02 15:57] cadecairos commented on #668
They should see a message like this if the card is declined:

![](https://i.imgur.com/BAVcuZA.png)

[2016-12-02 15:59] roseregina commented on #414
It is behind and really needs to happen. I'm going to continue working on it as I can while also trying not to get snowed under by responding to donate@ and askjoin@ for the first round of EOY emails.

I think we are maybe waiting on live cards to use (from accounting) by @stephaniemcv would have to say.

most pressing is making sure that currency passing to Stripe accurately and maybe that sawmil

[2016-12-02 16:00] cadecairos commented on #668
however, if we do block the charge on suspicion of fraud, they get no message it seems.

(try donating with the card # 4100000000000019 (all other data can be fake) on donate.mofostaging.net)

[2016-12-02 16:02] HPaulJohnson commented on #631
Done. Closing.

[2016-12-02 16:02] #631 closed, assigned to lovegushwa, natalieworth

[2016-12-02 16:05] cadecairos commented on #668
I'm checking if there's a webhook event for blocked charges

[2016-12-02 16:09] HPaulJohnson commented on #400
No meeting scheduled, snippet team decided to review asynchronously. I talked to Wes last night and the snippet team had signed off on the proposed designs. Wes is doing a final review with Tim Murray - the creative director - before giving the final feedback/greenlight.

@lovegushwa you should follow-up with Wes today if you have a chance to check-in on status.

[2016-12-02 16:13] roseregina commented on #668
ok, thank you. I'm on a bus for the next 9 or so hours, so I don't think that I'm going to be able to do it until this evening, but that is super helpful to know what should happen.

[2016-12-02 16:15] roseregina commented on #389
Not exactly/ kind of? I have some QA stuff, but I think there is more than one process that gets QA'd in terms of staging versus live.

[2016-12-02 16:18] cadecairos commented on #668
@roseregina if you're interested in seeing how the stripe form responds to various fail states, [this page is your friend](https://stripe.com/docs/testing#cards). Armed with that and https://donate.mofostaging.net, you can try to simulate the conditions that our donors might be reporting.

[2016-12-02 16:19] roseregina commented on #668
@cadecairos awesome sauce. thank you

[2016-12-02 16:23] Matt-Holland commented on #377
Closing this ticket since the Email campaign is well underway and there are separate tickets for various email blasts.
@WillatMozFdn

[2016-12-02 16:23] #377 closed, assigned to stephaniemcv

[2016-12-02 16:33] Matt-Holland commented on #649
marking this complete

[2016-12-02 16:33] #649 closed, assigned to Matt-Holland, HPaulJohnson, WillatMozFdn

[2016-12-02 16:51] Matt-Holland commented on #613
@roseregina can you check what is the user experience when someone tries to donate via Stripe, using American Express, in a currency which is not supported? What sort of error message do they get?

[2016-12-02 17:02] Matt-Holland commented on #412
@cadecairos thanks for that. So can you make a ticket for capturing the future data, and add it to the Milestone "To Be Prioritized", so we capture that idea for later?

@WillatMozFdn do you know if the Report to Suppress Monthly Donors exists now (I assume in Marketing Cloud?)

[2016-12-02 17:05] Matt-Holland commented on #597
@vojtechmzl did we get results from this test? Can we add the results to this ticket and close the ticket?

[2016-12-02 17:09] HPaulJohnson opened #669 "EOY Bug: Post donate share buttons don't work"
Detailed description of work: After completing a donation, opt-in and landing on the share page, the Facebook and Twitter share buttons are not functional.

To recreate donate.mozilla.org > make a donation > opt-in > try to share (broken in both Firefox and Chrome)

NOTE: If you go directly to donate.mozilla.org/share both buttons are functioning. The bug only exists when completing an actual dona

[2016-12-02 17:11] simonwex commented on #669
@HPaulJohnson can you reproduce this in staging without using a real payment method?

[2016-12-02 17:11] HPaulJohnson commented on #669
@simonwex haven't tried. how do i do that?

[2016-12-02 17:14] simonwex commented on #669
@HPaulJohnson this would be specifically be one type of payment method?

@cadecairos do you know the change associated with this bug? Can we just back it out?

[2016-12-02 17:15] HPaulJohnson commented on #669
I only tried it with stripe/credit card. I can try it with paypal if that's helpful

For now, I'd be fine with backing out last night's change to fix it. We can revisit next week when there's less travel/PTO happening.

[2016-12-02 17:40] simonwex commented on #669
@HPaulJohnson, for future ref, QA checklist is here:

https://github.com/mozilla/donate.mozilla.org/blob/master/docs/QA_Checklist.md

[2016-12-02 19:22] lovegushwa commented on #400
spectacular snippet designs are in creative review here: https://redpen.io/p/ab8e1558934aa8718b

[2016-12-02 19:41] lovegushwa commented on #392
@HPaulJohnson I'm waiting for a response on spectacular snippet. I think we should prioritize building and testing for general release since its likely to have more impact. If some options get cut and @ScottDowne builds less varients for general release he will have time to build a dev addition snippet.

![dev-edition](https://cloud.githubusercontent.com/assets/12228435/20847533/6868a826-b883-11e6

[2016-12-02 21:32] WillatMozFdn commented on #412
@Matt-Holland sorry, but I have no idea. Hopefully @stephaniemcv can answer at some point after she gets off the plane she's on now.

[2016-12-03 02:26] lovegushwa commented on #647
Here is a set from @natalieworth https://redpen.io/p/bt51488c0998c42666
These can be selected from and exported as final icons post Hawaii

[2016-12-03 02:46] lovegushwa commented on #648
We can choose from the selection here: https://drive.google.com/drive/folders/0B2qu3ExKWIlvb2FsbnNLU3RmQms?usp=sharing

Also we should consider testing this .giff
https://drive.google.com/a/mozilla.com/file/d/0BzuBOR2VJQqUa1F4bERvdnVZVFE/view?usp=sharing

[2016-12-03 03:43] HPaulJohnson commented on #646
Approved by snippet team!

@vojtechmzl when our next set of tests concludes we can put start getting these in the rotation.

[2016-12-03 03:45] HPaulJohnson commented on #647
These are great @natalieworth & @lovegushwa. The copy in ticket #646 was approved and will work well paired with some of these. Nyan cat, the raised fist and megaphone for example. Also would love to see us start testing with the Thermometer.

We can prob go ahead and share these with Wes for feedback so we can get them in rotation week of 12/12.

[2016-12-03 23:40] lovegushwa commented on #647
@natalieworth when you get a chance next week can you pull the icons Paul listed together to show Wes? (like we will send them to Wes with copy in a snippet mockup on redpen like this: https://redpen.io/p/qj4d60f2ac98a50591)

[2016-12-03 23:43] lovegushwa commented on #647
Also just noticed this cool fist @beccaklam made for Makerparty, we could re-use it.

<img width="731" alt="screen shot 2016-12-03 at 3 40 32 pm" src="https://cloud.githubusercontent.com/assets/12228435/20862966/19abe116-b96f-11e6-9e57-3aa757a36fcb.png">

[2016-12-05 20:21] stephaniemcv commented on #412
This is not created yet. This fine of distinction in our suppression list is no longer p1. We rescoped due to time constraints as we're simply going to suppress all donors. @drewmoto and I are working on it this week.

[2016-12-05 20:46] stephaniemcv commented on #389
Rose has only a part of the QA process. The FAQ and the integration wasn't completed, so we started on what we could. @Matt-Holland I'm fine with closing or moving to p2 since EOY is live.

[2016-12-05 20:49] stephaniemcv commented on #414
@roseregina re-forwarded you info from accounting.

[2016-12-05 20:49] #404 closed, assigned to stephaniemcv

[2016-12-05 20:55] stephaniemcv commented on #405
Hrm...I think it's referring to the opt in on the thank you page. So long ago, my memory is fuzzy.

![donation-step-4](https://cloud.githubusercontent.com/assets/11812272/20902007/49c7f0fe-bad9-11e6-92ae-ce11061984b6.jpg)

[2016-12-05 21:11] stephaniemcv commented on #641
I like the idea of fallback form for accessibility. @ScottDowne I assume that when you say "significant amount of work" this should be something we talk about for 2017 or bluesky it?

[2016-12-06 15:53] Matt-Holland commented on #405
I think it also includes this "pop up" box which appears if you try to sign up and do NOT check the box for "I'm ok":

![image](https://cloud.githubusercontent.com/assets/1071298/20932300/2a37bca0-bba2-11e6-84e3-6899802df530.png)

[2016-12-06 15:55] Matt-Holland commented on #405
@TheoChevalier or @roseregina can you verify whether those two strings (the "I'm ok with the privacy policy" string and the "please check this box" string) are already present in the Tier 1 languages (DE, ES, FR, PL), and if they are not, add them to the localization plan? And then reply back to this ticket.

[2016-12-06 16:05] Matt-Holland commented on #414
@roseregina please confirm that you have the credit card info you need, and give me an idea when you can do the testing.
- If you don't have the card info yet, I'll take care of that right away
- If you don't have time to do the testing, let's get on the phone with @HPaulJohnson  and figure out who can be re-tasked to help you.

[2016-12-06 16:18] Matt-Holland commented on #389
Closing, based on @stephaniemcv 's comment.

[2016-12-06 16:18] #389 closed, assigned to stephaniemcv

[2016-12-06 16:23] Matt-Holland commented on #412
Ok, I think I understand now. @stephaniemcv and @cadecairos please verify that I have this right:

- We already DO suppress people who have begun a recurring donation relationship with us. They are captured just like a donor who makes a one-time donation, as a "made a donation" person. We're already suppressing "made a donation" people from further email.

- This ticket is about creating a report

[2016-12-06 16:37] Matt-Holland commented on #646
@vojtechmzl  since the copy is approved, can I close this issue?

[2016-12-06 16:42] Matt-Holland commented on #669
this change was backed out by @ScottDowne , closing this ticket as resolved.

[2016-12-06 16:45] Matt-Holland commented on #665
Everyone's in Hawaii now, so I'm closing this ticket because a) I want to clean up the tickets and b) I'm a party pooper.

[2016-12-06 16:45] #665 closed, assigned to stephaniemcv

[2016-12-06 16:47] Matt-Holland commented on #633
Re-sending question: @ScottDowne @cadecairos is the changed link to the FAQ live now also? Can we close this ticket?

[2016-12-06 17:01] Matt-Holland commented on #642
@lovegushwa : this ticket has a due date of Dec. 2, although that seems pretty early for a "final push" item... When do you think we really need to have this item finished?

[2016-12-06 17:16] TheoChevalier commented on #405
Thanks everyone for the clarifications, here’s the status:

“Please check this box if you want to proceed.” is displayed by the browser and not by the website, so it’s definitely translated:
https://transvision.mozfr.org/?sourcelocale=en-US&locale=fr&repo=release&search_type=entities&recherche=dom/chrome/dom/dom.properties:FormValidationCheckboxMissing&perfect_match=perfect_match

For the e-mail o

[2016-12-06 17:19] ScottDowne commented on #405
I'll need to confirm when I'm at a computer in a bit, but I'm pretty sure
those errors are default html errors and contained and localized in the
browser itself. You might need to change your browser language to see those
strings change language maybe.

[2016-12-06 18:53] ScottDowne commented on #405
So yeah, once I got to my computer I could read this more closely.

I think Theo sums it up well, we need to enable signup for other languages, hence enable the signup page too. Historically, last year we made a decision we only had capacity to engage with English and German effectively. I do have to ask, we are confident we have the capacity to grow our mailing list and engage with them for all l

[2016-12-06 18:58] ScottDowne commented on #669
Just a heads up, me and @cadeecairos landed a fix to re enable share progress. We'll watch this as we push it to prod, and update here once it's said and done.

[2016-12-06 19:25] ScottDowne commented on #633
@Matt-Holland No, sorry not yet. I can do this ASAP, and I think get @cadecairos to ship it.

[2016-12-06 19:34] ScottDowne commented on #633
Fixing in https://github.com/mozilla/webmaker-mailroom/pull/56

[2016-12-06 19:37] ScottDowne commented on #669
On prod now, and share buttons are now working post signup. Sorry about this.

[2016-12-06 19:37] #669 closed, assigned to nobody

[2016-12-06 22:05] cadecairos commented on #633
@Matt-Holland @ScottDowne FAQ link update is live on production

[2016-12-06 22:37] roseregina commented on #405
When this happens, is there a way to pre set the sign ups to the correct language in the sales force database?

If not, let's make sure that there is adequate language/ visuals reminding people to chose a language so that we don't have a heap of people trying to engage with us who we turn right around and alienate with mail in english which they take as a proof that we we don't really care about t

[2016-12-06 22:51] ScottDowne commented on #405
It's auto detected from the URL already.

[2016-12-06 22:53] roseregina commented on #405
awesome. that is good to hear. thank you.

[2016-12-07 13:31] stephaniemcv commented on #642
We need images a few days before send date for routing through the review group. Here are send dates if that's helpful.

- Email 3 - Personal Story is scheduled to send 12/15. (This send has the most flexibility since it's the week after workweek)
- Email 4 - Listical is scheduled to send 12/27. No flex on this date.

[2016-12-07 13:35] stephaniemcv commented on #412
First bullet is correct.
Second bullet, is essentially also correct. This ticket was created when this project was initially scoped and included this monthly donor report. It is now currently out of scope and a report with this fine of detail will be created in the future.

[2016-12-07 18:12] natalieworth commented on #647
Hey @Matt-Holland , mocked up the above snippet icon recommendations from @HPaulJohnson here: https://redpen.io/p/mw03e76deeaa6689b1
cc @lovegushwa @beccaklam

[2016-12-07 18:37] vojtechsedlak commented on #646
Yup, we can close this issue. The new copy will go into circulation later today or tomorrow. Thanks!

[2016-12-07 18:37] #646 closed, assigned to HPaulJohnson

[2016-12-07 21:27] Matt-Holland opened #670 "Paypal donation FAILURE due to authentication fail"
Detailed description of work:
In testing, discovered cannot donate with PayPal because authentication never succeeds, although using correct username, password and captcha. Using the same credentials to log in to PayPal **directly** does work, and if already logged in to PayPal then the donation form donation flow works.

To reproduce:
1) Visit firefox start page, see the donation snippet
2) selec

[2016-12-07 21:47] ScottDowne commented on #670
Looking into this.

[2016-12-07 21:48] ScottDowne commented on #670
So far, step 5 for me doesn't result in an error.

[2016-12-07 21:56] ScottDowne commented on #670
Based on reading your steps, looks like you're not able to log into paypal from the paypal checkout signin page, but you can from the standalone paypal/signin page.

Once logged in via paypal/signin, it sounds like the donation then works as expected, skipping the checkout signin page and thus skipping whatever is broken.

[2016-12-07 21:57] Matt-Holland commented on #670
@ScottDowne that is correct

[2016-12-07 21:58] Matt-Holland commented on #670
Also, I cannot repro the bug using Chrome Version 54.0.2840.98

[2016-12-07 21:58] ScottDowne commented on #670
@Matt-Holland Questions for you to help diagnose:

1. what browser
2. what amount
3. monthly or one time?
4. OS?
5. currency?

[2016-12-07 22:00] ScottDowne commented on #670
@cadecairos help on this, Steph is hitting this too. Any thoughts?

[2016-12-07 22:06] ScottDowne commented on #670
@Matt-Holland Also, what version of Firefox is having this issue? The fact that Chrome works, makes me wonder if it's something in a specific version.

[2016-12-07 22:09] cadecairos commented on #670
Just saw this, moving to somewhere I can use my laptop

[2016-12-07 22:20] cadecairos commented on #670
@ScottDowne - Matt was using FX 50.0.1 on Mac OS El Capitan 10.11.6

The STRs did not trigger the problem for me using Firefox 50.0.1 on Windows 10

[2016-12-07 22:23] Matt-Holland commented on #670
Will, Chris and Scott have all not been able to repro this issue, and there is no surge in complaints about PayPal donations, so this seems to be limited to only my testing machine. Closing the issue.

[2016-12-07 22:23] #670 closed, assigned to ScottDowne, cadecairos

[2016-12-07 22:26] ScottDowne commented on #670
Other things we determined:

1. It wasn't an addon.
2. It still failed using staging and paypal sandbox.

[2016-12-07 22:33] ScottDowne commented on #670
related? https://www.paypal-community.com/t5/About-eBay-Archive/can-log-into-paypal-but-when-I-try-to-pay-for-something-I-bought/td-p/865169

[2016-12-08 01:10] Matt-Holland commented on #547
closing this ticket since the campaign is past

[2016-12-08 01:10] #547 closed, assigned to HPaulJohnson

[2016-12-08 01:11] #385 closed, assigned to stephaniemcv

[2016-12-08 01:19] vojtechsedlak commented on #597
Yup, the results were inconclusive, as per the chart below. Closing this issue.
<img width="1250" alt="screen shot 2016-12-07 at 5 17 19 pm" src="https://cloud.githubusercontent.com/assets/20688240/20993762/429d512e-bca1-11e6-98a1-2751f4c152d6.png">

[2016-12-08 01:19] #597 closed, assigned to vojtechsedlak

[2016-12-08 23:07] ScottDowne commented on #633
Closing.

[2016-12-08 23:07] #633 closed, assigned to ScottDowne, stephaniemcv

[2016-12-08 23:13] ScottDowne commented on #627
@TheoChevalier question about this, what's the difference between `{{ name }}` and `%%firstname%%`

[2016-12-08 23:14] ScottDowne commented on #588
This is finished. Any new issues around it should be filed as a new ticket.

[2016-12-08 23:14] #588 closed, assigned to ScottDowne

[2016-12-08 23:18] ScottDowne commented on #613
We can do test American Express donations using this card number 378282246310005 on donate.mofostaging.net

Right now, it's silently fails, and the user is left on the donate page wondering if it worked or not.

I think this is a great find, and we need to fix it.

[2016-12-08 23:19] ScottDowne commented on #613
More test cards can be found here: https://stripe.com/docs/testing#cards

[2016-12-08 23:25] ScottDowne commented on #613
Unfortunatly, Stripe looks to just give a "card_declined" error, and not anything more specific. We can display what we know, and this is simply that the card was declined.

We can also not display the amex logo for these currencies.

What we can not do is display an error along the lines of "Sorry American Express is not supported, try another currency or another card."

[2016-12-08 23:26] ScottDowne commented on #613
We can maybe display a guess at the error. And say something like "If you're using American Express with currency x, that won't work, or something."

[2016-12-08 23:53] TheoChevalier opened #671 "Localized email #2 callout"
Handing off to you guys the translations for the second callout: https://github.com/MozillaFoundation/Advocacy/issues/626#issuecomment-260519286

Here are the translations:
https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2016/fundraising_email_2.lang&action=translate&show#string2

Note that we don’t need the Italian callout, as email #2 has been cancelled for Italian

[2016-12-08 23:55] TheoChevalier opened #672 "Building localized email #2"
Here are the translations in for the second email, so that you can start building the localized emails:

https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2016/fundraising_email_2.lang&action=translate&show

[2016-12-08 23:56] stephaniemcv opened #673 "Design: Hero image for FF&Y fundraising email"
Detailed description of work: FF&& do not have design resources to support this. Their size specs are: 1280 X 420 (it's 640x210 at 2X for retina screens). I will also post location of copy in this ticket.

*Start date: September 8, 2016*
*Due date: September 13, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-12-09 00:19] Matt-Holland commented on #633
I see that this link is now included in the donation receipts I'm receiving. Closing this ticket.

[2016-12-09 00:20] Matt-Holland commented on #656
these have now been sent

[2016-12-09 00:20] #656 closed, assigned to Matt-Holland, TheoChevalier, HPaulJohnson, stephaniemcv

[2016-12-09 00:23] Matt-Holland commented on #520
We are having delays in hearing back on the results of the test. We will eventually get the results and learn from it, but this will not contribute to EOY 2016 fundraiser.

[2016-12-09 00:25] Matt-Holland commented on #598
these are now in the rotation, as per @vojtechmzl . Closing this ticket as completed.

[2016-12-09 00:25] #598 closed, assigned to vojtechsedlak

[2016-12-09 00:35] Matt-Holland commented on #414
I've started testing, using my personal credit card and PayPal account, and recording the results here:
https://docs.google.com/spreadsheets/d/1MnUrlyqCxu4J-ZyHrdcaqCQL9Jv9sCMJOQ7uwa1gGyo/edit#gid=1038589325
Reducing the priority on this ticket, and will close it if I do all the test versions.

[2016-12-09 00:36] Matt-Holland commented on #405
Ok, I'm going to close this ticket. Deciding whether/how to expand the mailing list into other languages is out of scope for EOY 2016 fundraising.

[2016-12-09 00:36] #405 closed, assigned to ScottDowne

[2016-12-09 00:37] Matt-Holland commented on #403
This list is sufficient for now:
https://github.com/mozilla/donate.mozilla.org/blob/master/docs/QA_Checklist.md
Closing.

[2016-12-09 00:37] #403 closed, assigned to valianttry

[2016-12-09 00:40] Matt-Holland commented on #657
Sent, closing.

[2016-12-09 00:40] #657 closed, assigned to Matt-Holland, TheoChevalier, HPaulJohnson, stephaniemcv

[2016-12-09 00:40] Matt-Holland commented on #658
Sent, closing.

[2016-12-09 00:40] #658 closed, assigned to Matt-Holland, TheoChevalier, HPaulJohnson, stephaniemcv

[2016-12-09 00:41] Matt-Holland commented on #655
Sent, closing.

[2016-12-09 00:41] #655 closed, assigned to Matt-Holland, HPaulJohnson, stephaniemcv

[2016-12-09 00:55] Matt-Holland commented on #374
I see that currently the donation page accepts:
$	usd
$	aud
$	ars
R$	brl
$	cad
CHF	chf
$	clp
¥	cny
Kč	czk
kr	dkk
€	eur
£	gbp
$	hkd
Ft	huf
Rp	idr
₪	ils
₹	inr
¥	jpy
$	mxn
kr	nok
$	nzd
₱	php
zł	pln
₽	rub
kr	sek
฿	thb
NT$	twd

... and in cases where the currency is not accepted by PayPal, the PayPal option disappears.

@ScottDowne : can this ticket be closed?

[2016-12-09 00:57] Matt-Holland commented on #375
@ScottDowne let's talk after Hawaii about the need / scope of this, and either schedule it or close it. (I'd prefer to have fallback pages before we hit our big jump in money for end of the month, but let's talk and decide)

[2016-12-09 01:04] Matt-Holland commented on #650
sent, closing.

[2016-12-09 01:04] #650 closed, assigned to Matt-Holland, HPaulJohnson, stephaniemcv

[2016-12-09 01:24] beccaklam commented on #671
@lovegushwa Can you send me the link to where the email call out graphics are so I can work on this next week?

[2016-12-09 01:43] natalieworth commented on #647
@vojtechmzl I have the icons exported @2x here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0QkRZTS0wU3hCc2s
Copy ticket from Paul is here (feel free to use whichever snippet team feels fits best): https://docs.google.com/document/d/1DKmv0N_P3NdOD8DR9iy7CmJ_pM8Mn1Jxo1zfTfqUmCA/edit
And my copy suggestion pairing can be found in the mock-ups on redpen here: https://redpen.io/p/mw03e76dee

[2016-12-09 01:43] roseregina commented on #613
Does discover work? it looks like it did when I very quickly checked this morning, that that is the only kind of card I have gotten emails out.

[2016-12-09 02:05] ScottDowne commented on #613
@roseregina Glad you pointed this out. Looks like Discover is ONLY supported by USD.

I created a pull request to better expose these error cases we're finding, so once it lands, we'll have a better idea who is hitting this, and who is hitting more unknown errors. To be clear, this error message isn't going to allow them to donate, and probably won't reduce frustration, it'll just help us debug to

[2016-12-09 02:08] ScottDowne commented on #613
It's also good info to know so we can better respond to complaints, or maybe add to our FAQ.

[2016-12-09 16:22] roseregina commented on #613
Is there any way of setting up an email alert for events that end silent fails? There may be far too many to do anything about, but I wonder about using desk to send out emails to people who would otherwise think that they had donated to us.

[2016-12-09 16:24] roseregina commented on #374
FYI, we've gotten several requests to support ZAR.

[2016-12-09 16:26] ScottDowne commented on #613
I think ideally we fix it so it doesn't silently fail. And they get an
error message on the form instead of later in an email.

[2016-12-09 16:32] ScottDowne commented on #374
We can add Zar via stripe.

[2016-12-09 16:47] roseregina commented on #613
I meant an email to one of us to figure out what is going on.

though, interestingly, there have been a few people who in spite of (I assume) getting some kind of error message from a bank decline, think they have donated and are wondering why they haven't gotten a thank you email. lesson from that might just be that people don't always pay much attention.

[2016-12-09 19:54] Matt-Holland commented on #401
@roseregina  and @stephaniemcv  Is this still needed?

[2016-12-09 20:02] Matt-Holland commented on #333
This test has been run, and the results reported. Although we will continue to test new variants of the snippet during the rest of the campaign, this ticket for the original test can be closed.

[2016-12-09 20:02] #333 closed, assigned to vojtechsedlak

[2016-12-09 20:11] Matt-Holland opened #674 "Add South African Rand (ZAR) to currency options in donation form"
Detailed description of work:
(related to closed issue #374)

Add ZAR to currency option on donation form. Note that PayPal does not accept ZAR, so hide the PayPal option when ZAR is selected.

*Start date: December 12, 2016*
*Due date: December 19, 2016*
Note: The dates need to be exactly in the format indicated above for proper integration with the Gantt chart.

CC:

[2016-12-09 20:12] Matt-Holland commented on #674
@roseregina note that I've created this ticket for the ZAR issue.

[2016-12-09 20:13] Matt-Holland commented on #374
I've opened ticket #674 for adding the ZAR currency, it seems like the original work for this ticket #374 is complete. Closing.

[2016-12-09 20:13] #374 closed, assigned to ScottDowne

[2016-12-09 20:26] Matt-Holland commented on #414
I'll continue doing the testing, as @roseregina does not have available time. Closing.

[2016-12-09 20:26] #414 closed, assigned to stephaniemcv

[2016-12-09 20:27] Matt-Holland commented on #623
@TheoChevalier is this ticket complete now? Do you know?

[2016-12-09 20:33] ScottDowne commented on #623
Not sure what this is waiting on, but the page is done and the test can be run. @vojtechmzl anything  missing on your end?

[2016-12-09 21:08] roseregina commented on #668
possible more information on this:
 Donor using Ubuntu Linux 16.04, browser is Firefox 50.0.2 reports:

![image](https://cloud.githubusercontent.com/assets/15040203/21064608/b9e54eba-be29-11e6-807a-76e4e2d4cf57.png)

stripe says: Payment declined by customer's bank. The bank did not return any further details with this decline.

(from CASE #17686)

[2016-12-09 21:38] vojtechsedlak commented on #623
The test is currently running, so good to close this ticket. The results will be tracked #601.

[2016-12-09 21:38] #623 closed, assigned to beccaklam

[2016-12-09 21:58] stephaniemcv commented on #401
Yup. I believe  @WillatMozFdn is still refining some text before we hand over to @TheoChevalier.

[2016-12-09 22:02] TheoChevalier commented on #401
Can you please share with me the working documents *before* handing off the strings to me?

[2016-12-09 22:05] stephaniemcv commented on #401
Sorry Theo, we only do mind to mind communication here. ;-)

Shared the file with you.

[2016-12-10 00:39] roseregina opened #675 "Increase the font size on the text below the form on donate.mozilla.org"
Donors are having a hard time finding the links down there because it seems like it is probably legalese small print. I have gotten specific complaints for the links for Bitcoin and the FAQ.

*Start date: December 8, 2016*
*Due date: December 15, 2016*

CC: @stephaniemcv

[2016-12-10 01:01] #648 closed, assigned to Matt-Holland, HPaulJohnson, lovegushwa

[2016-12-10 01:07] lovegushwa commented on #673
@beccaklam please resize this image to the above size provide a 1x 2x to be safe.
@WillatMozFdn if you need anything more specific once you know the email content just ask @beccaklam

<img width="1411" alt="screen shot 2016-12-09 at 5 04 47 pm" src="https://cloud.githubusercontent.com/assets/12228435/21069755/a6224880-be31-11e6-9cb7-f18410d45024.png">

[2016-12-10 02:34] lovegushwa opened #676 "Change the snippet donate button from red to blue"
@ScottDowne firefox UX asked if we can change the snippet button from red to blue. @vojtechmzl said it will not impact conversion. It important to show we are responsive so land this quickly next week if possible.

[2016-12-10 16:23] roseregina opened #677 "Add BPay to payment options"
Add the option to contribute using BPay, an Australian automatic payment service.
[http://www.bpay.com.au](http://www.bpay.com.au)
several requests, plus "Wikipedia lets you"
example (case 18288):

Matt H. removed start/end dates since this is not prioritized yet.

CC: @stephaniemcv @ScottDowne @cadecairos

[2016-12-12 03:54] HPaulJohnson commented on #645
@TheoChevalier Here is the copy we used for EN version of mobile snippet:

"Mozilla, the maker of Firefox, is a non-profit and we rely on donations for support. Donate now."

It would be great to localize. The max char length is 100 so we may need to shorten the EN version to accommodate longer translations. Here are some options:

"Mozilla, the maker of Firefox, is a non-profit and we rely on don

[2016-12-12 11:23] TheoChevalier commented on #645
Thanks, Paul. I will expose the en-US version and suggest the variants in a comment.
Assuming we want the same locales, i.e. de, fr, es, it, pt-BR, pl, ru (they are also the top locales on mobile)

[2016-12-12 16:12] Matt-Holland commented on #677
changing label to "Fundraising ON HOLD" so that this doesn't clutter up the EOY list

[2016-12-12 16:15] Matt-Holland commented on #104
We now do have an approval process for EOY emails, and the new digital director will no doubt want to make her own. Closing this ticket.

[2016-12-12 16:15] #104 closed, assigned to stephaniemcv

[2016-12-12 17:07] beccaklam commented on #675
@ScottDowne Can we increase the font-size of .disclaimers and .donation-notice to 13px? I think that should do the trick.
<img width="1379" alt="screen shot 2016-12-09 at 12 21 54 pm" src="https://cloud.githubusercontent.com/assets/20977376/21108533/4daf36f2-c04a-11e6-86b9-a38c791fdb65.png">

[2016-12-12 17:53] HPaulJohnson commented on #645
yes, let's go with the same locales.

[2016-12-12 17:57] beccaklam commented on #673
Here is the link to the resized image on the drive: https://drive.google.com/open?id=0BzuBOR2VJQqUQTZYZ1lNZUVRN2M Please let me know if you need anything else @stephaniemcv!

[2016-12-12 18:40] beccaklam commented on #671
@TheoChevalier @WillatMozFdn Here is the link to the localized call outs for e-mail #2 "Your support makes Mozilla's work possible" https://drive.google.com/open?id=0BzuBOR2VJQqUNkx4ODh1X1htUEE

[2016-12-12 18:43] #570 closed, assigned to nobody

[2016-12-12 19:39] TheoChevalier commented on #672
Hey @WillatMozFdn we actually did not cancel the Italian email?

[2016-12-12 19:42] WillatMozFdn commented on #672
That's correct.  It's translated, so coding it and sending it actually do not take all that much work.

[2016-12-12 19:56] TheoChevalier commented on #671
@beccaklam thank you, they look great! Sorry for the last minute change, but it looks like in the end the Italian email will be sent, could you add the IT one, please?

[2016-12-12 20:09] TheoChevalier commented on #627
@ScottDowne I guess the question should be more “Why preferring `%%firstname%%` over  `{{ name }}`?” and the answer should be related to the underneath i18n framework used. Unless my memory fails me, that’s the first time I see variables like `%%firstname%%` in l10n files. Maybe initially it was a custom search and replace?

[2016-12-12 20:13] beccaklam commented on #666
Hey @WillatMozFdn here is the link to the hero image for email #3. I worked with action shot #2 since it was the strongest. Let me know if you need anything else! https://drive.google.com/open?id=0BzuBOR2VJQqUd1ZDR2ZSZi1FVUU

[2016-12-12 22:31] beccaklam commented on #671
@TheoChevalier @WillatMozFdn I've updated the folder with links to the call outs at smaller sizes (~60MB each) and included Italian: https://drive.google.com/open?id=0BzuBOR2VJQqUNkx4ODh1X1htUEE Let me know if they load clear enough?

[2016-12-12 22:39] WillatMozFdn commented on #671
yep @beccaklam they uploaded just fine!  Dropping them in the emails now, I think we can consider this one closed....

[2016-12-12 22:44] ScottDowne opened #678 "Add QA doc info around Amex errors"
Filed from https://github.com/mozilla/donate.mozilla.org/pull/1694

I need to add QA docs on some fringe card errors.

@cadecairos

[2016-12-12 23:40] stephaniemcv commented on #666
We need a line of text @caltrider @WillatMozFdn and a donate "button" on the image. It can't just be an image or at that height we drive the CTA to far down.

[2016-12-12 23:42] stephaniemcv commented on #672
@TheoChevalier also the Italian segment had a much stronger OR and CR than we were expecting.

[2016-12-13 00:11] stephaniemcv commented on #666
@caltrider @WillatMozFdn What about:
"Help support the next generation of makers and builders."

[2016-12-13 01:13] beccaklam commented on #666
Hey @WillatMozFdn so I redesigned the header and put the image choices here: https://drive.google.com/open?id=0BzuBOR2VJQqUQmNrRUc5UC03cUk I wasn't sure how you were working around retina screens so I put some choices in there for you. The 1200x600 ones should work fine for retina but not sure how they look for average screens. Perhaps try both versions out (600x300 and 1200x600) for both regular

[2016-12-13 01:23] beccaklam commented on #666
@WillatMozFdn @stephaniemcv @caltrider Just saw @stephaniemcv 's comments now. Let me know what text you decide on and I'll add it in bright and early tomorrow.

[2016-12-13 02:06] WillatMozFdn commented on #666
@stephaniemcv  -- "Help support the next generation of makers and builders." -- great by me!!
@caltrider  -- you good w/that?

[2016-12-13 02:36] caltrider commented on #666
@stephaniemcv @beccaklam @WillatMozFdn Works for me.

[2016-12-13 14:16] TheoChevalier commented on #645
Completion status can be tracked here https://l10n.mozilla-community.org/langchecker/?locale=all&website=6&file=snippets/2016/dec2016_eoy_mob.lang

[2016-12-13 15:23] TheoChevalier commented on #645
@vojtechmzl @HPaulJohnson Let’s ship de, fr, pl today https://l10n.mozilla-community.org/langchecker/?website=6&file=snippets/2016/dec2016_eoy_mob.lang&action=translate&show#string1

[2016-12-13 18:02] beccaklam commented on #666
@WillatMozFdn @stephaniemcv @caltrider @lovegushwa Here is the new hero image for email 3: https://drive.google.com/open?id=0BzuBOR2VJQqUZlM3anRQaWRoLUE Let me know if you need any changes!

[2016-12-13 18:24] ScottDowne commented on #400
@beccaklam or @natalieworth few quick questions about the designs.

1. The animated bits, are they gifs?
2. The picture version does not have any animations, right?
3. The picture versions, is that one large background image, or are each image a separate image? Would be easier with one large background image. Just keep in mind some screen sizes are larger than the comps, so the photos need to be c

[2016-12-13 18:31] beccaklam commented on #400
@ScottDowne
1. Yes, they're gifs.
4. The decision was made that none of the hearts animate on page load, only when the user hovers or clicks (we can decide which) the donate button do *all* the hearts animate. For a demo the way I built it was on page load the hearts load a static PNG but on mouseover/click on the donate button I changed the src to the animated gif. I'll upload the static and the

[2016-12-13 18:40] beccaklam commented on #400
@ScottDowne
Here is the link to the assets you'll need to build the heart version: https://drive.google.com/open?id=0BzuBOR2VJQqUTTJpd08yX2VGaFk I've included my old code from the demo in the 'hearts-svg' folder if you wanted to reference it. You'll probably need hearts in different colours... I'll get those to you soon.

[2016-12-13 18:51] brettgaylor opened #679 "Finalize two creative tests"
Detailed description of work: We have two pieces of creative we started in our message testing session.  Let's finish these and get them in shape for facebook tests.

Link to creative 1:
https://drive.google.com/drive/folders/0BzuBOR2VJQqUUGR5dHp4cUNhczQ

Link to creative 2:
https://drive.google.com/file/d/0B0bF99sa1fRJT2lPTEN4WXdvb0U/view?usp=sharing

*Start date: December 15th, 2016*
*Due date:

[2016-12-13 18:53] roseregina opened #680 "Donate in honor/ in memory of"
It would be great to have some kind of mechanism that would let people give in honor or memory of someone. This would mean a place to put in a name and a second "gift recipient" email address, ideally.

--> This is a really good idea because it facilitates people being able to say thinks like "don't buy a birthday present/ wedding gift/ flowers for a funeral, instead donate to Mozilla because that

[2016-12-13 18:54] brettgaylor opened #681 "Launch Facebook message tests ads"
Detailed description of work:
After #679 is complete, lets run some tests!

Test matrix
https://docs.google.com/spreadsheets/d/1ip-MDUA_RMtIJGorYiE1ayG-TNUgSF_VmY3G6IOlzE4/edit#gid=0

Copy deck
https://docs.google.com/document/d/1E8sYYvsw87JgS1hvlkRmihmcVS_VO5P_fiTjTLMHQjk/edit

[2016-12-13 19:28] roseregina opened #682 "Customized email acknowledgements for donations via PayPal"
Now that we are integrating PayPal donation information with SalesForce, can we make SalesForce send nice acknowledgments to those donors like Sawmill does for Stripe?

*Start date: December 13, 2016*
*Due date: September 2, 2018*

CC: @stephaniemcv @cadecairos @ScottDowne @TheoChevalier (tagged b/c it would require localization)

[2016-12-13 19:47] roseregina opened #683 "Add direct link to Bank Transfer info on donate.mozilla.org"
It would be great to have a link to "Bank Transfer" down at the bottom of donate.mozilla.org next to bitcoin and check that would link to the Bank Transfer section of the Ways to Give page, the same that the "Check" option does.

Messages about this that start with "I couldn't find anything about donating by bank transfers..." still account for a large proportion of donate@ emails.

(MattH removed

[2016-12-13 19:51] roseregina opened #684 "Broken link between German donate page and German donor FAQ"
The link from the German donate page (https://donate.mozilla.org/de ) to the FAQ is incorrect. The link (https://donate.mozilla.org/faq ) redirects to the English language page (https://donate.mozilla.org/en-US/faq ) instead of the German language page (https://donate.mozilla.org/de/faq )

Start date: December 13, 2016
Due date: December 21, 2016
Note: The dates need to be exactly in the format in

[2016-12-13 19:59] TheoChevalier commented on #684
It redirects to en-US because you’re using a en-US browser, but if you’re using a German browser, redirect will be ok

[2016-12-13 20:40] roseregina commented on #684
Thank you! I'll go ahead and close this issue then

[2016-12-13 20:40] #684 closed, assigned to nobody

[2016-12-13 21:13] beccaklam commented on #400
@ScottDowne Okay, the red and blue hearts are in this folder now in their own respective folders labeled 'red hearts' and 'blue hearts': https://drive.google.com/open?id=0BzuBOR2VJQqUTTJpd08yX2VGaFk

[2016-12-13 21:26] WillatMozFdn commented on #682
This is actually under discussion with MoCo LCM email team, as we look towards bringing all email functions into ExactTarget/SFMC (i.e., hopefully no more little pools of data out there in places like Sawmill & google sheets.)  Don't expect any movement on it this year but it is on the radar for early next year.

[2016-12-13 22:07] Matt-Holland commented on #683
moving this to "on hold" since we won't do it for EOY 2016

[2016-12-14 17:48] beccaklam commented on #679
Hey @brettgaylor can you give a bit more vision/clarity about what you're hoping for these two pieces of creative? And are we waiting for @lovegushwa to come back before finishing?

[2016-12-14 21:44] brettgaylor commented on #679
@HPaulJohnson can you clarify - do we need two creatives for each concept, or just two creatives with different text?  I'm looking at the [spreadsheet of splits](https://docs.google.com/spreadsheets/d/1ip-MDUA_RMtIJGorYiE1ayG-TNUgSF_VmY3G6IOlzE4/edit#gid=0) and not clear to me.  We have two pieces of creative that we can use this ticket to advance, but lmk if you need more.

[2016-12-15 00:25] beccaklam commented on #679
@brettgaylor @HPaulJohnson The creative (rough, WIP) that we have so far: https://redpen.io/p/bc23d9f2d0dec4f109

[2016-12-15 00:39] brettgaylor commented on #679
@beccaklam as discussed, here's the 2nd text for the embarrassing texts creative
https://docs.google.com/document/d/1Fu85oel_pgvHxCfbR1ZjVhZ19ONL0taz7u48lEwKktU/edit

[2016-12-15 15:57] TheoChevalier commented on #675
Change is live

[2016-12-15 15:57] #675 closed, assigned to ScottDowne, natalieworth, beccaklam

[2016-12-15 15:59] TheoChevalier commented on #674
ZAR currency is live

[2016-12-15 15:59] #674 closed, assigned to ScottDowne

[2016-12-15 16:00] #671 closed, assigned to lovegushwa, natalieworth, beccaklam

[2016-12-15 16:00] #672 closed, assigned to stephaniemcv, WillatMozFdn

[2016-12-15 16:00] #662 closed, assigned to Matt-Holland, TheoChevalier, HPaulJohnson, stephaniemcv, WillatMozFdn

[2016-12-15 16:00] #661 closed, assigned to Matt-Holland, TheoChevalier, HPaulJohnson, stephaniemcv, WillatMozFdn

[2016-12-15 16:00] #660 closed, assigned to Matt-Holland, TheoChevalier, HPaulJohnson, stephaniemcv

[2016-12-15 16:00] #659 closed, assigned to Matt-Holland, TheoChevalier, HPaulJohnson, stephaniemcv

[2016-12-15 16:02] TheoChevalier commented on #676
Looks like this has been done on all current snippets, closing

[2016-12-15 16:02] #676 closed, assigned to ScottDowne

[2016-12-15 19:45] ScottDowne commented on #676
Yup this was done without me quite a while ago as it's a non code change.
Thanks all for taking care of this so quickly while I'm on pto.

[2016-12-15 19:55] natalieworth commented on #647
@vojtechmzl @Matt-Holland I'm going to close this, but feel free to reopen if there are any issues from Wes with the snippet icons.

[2016-12-15 19:55] #647 closed, assigned to lovegushwa, natalieworth, beccaklam

[2016-12-15 23:05] beccaklam commented on #679
@brettgaylor @lovegushwa @HPaulJohnson New creative added as we discussed yesterday. I did the in-situ with the hand but then the text is quite small? https://redpen.io/p/bc23d9f2d0dec4f109

[2016-12-15 23:07] brettgaylor commented on #679
Sweet!  Yeah it does look hard to read doesn't it?  Should we just go with
the two autocorrect fails minus the hand?

Thanks becca! :100:

On Thu, Dec 15, 2016 at 3:05 PM, beccaklam <notifications@github.com> wrote:

[2016-12-15 23:13] beccaklam commented on #679
@brettgaylor I think so. Having it be just the screen shot allows it to be more easily read and focuses the viewer on the text.

[2016-12-15 23:14] brettgaylor commented on #679
🕶

[2016-12-15 23:34] HPaulJohnson commented on #679
Works for me.

@beccaklam can you send me the files for the 2 eye versions and the 2 text fail versions and i can get these fired up on Facebook.

[2016-12-15 23:43] beccaklam commented on #679
@HPaulJohnson Here are the files! https://drive.google.com/open?id=0BzuBOR2VJQqUUGR5dHp4cUNhczQ

[2016-12-15 23:59] beccaklam commented on #400
@ScottDowne Some annotation for the designs:
Purple background: #624964 (use baseline/pink heart)
Blue background: #706ee0 (use blue heart)
Orange background: #ffb626 <-- includes emoji background (use red heart)
Red background: #e63e2f (use baseline/pink heart)

[2016-12-16 00:30] natalieworth commented on #400
Hey @ScottDowne I exported the emoji icons as svg's too based on this design:
https://redpen.io/ks320a39e4a296b36b
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0T1RHLWJjOEE1QWc

[2016-12-16 01:09] lovegushwa commented on #679
@beccaklam these looks great. Excited about this test :)

[2016-12-16 01:10] lovegushwa commented on #642
@stephaniemcv looks like we are good to go on email 3? ... Let's chat about email 4 tomorrow if possible.

[2016-12-16 01:42] lovegushwa opened #685 "Test: pixel heart on donate.mozilla.org"
replace default white heart with pixel heart on donate.mozilla.org

Artwork here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvWm1PTFgtNjRuWEk?usp=sharing

<img width="628" alt="screen shot 2016-12-15 at 3 19 14 pm" src="https://cloud.githubusercontent.com/assets/12228435/21248401/b899b142-c2eb-11e6-9ada-4728f69cd490.png">

[2016-12-16 02:22] HPaulJohnson commented on #679
These tests have officially been launched on Facebook. Final matrix here:

https://docs.google.com/spreadsheets/d/1ip-MDUA_RMtIJGorYiE1ayG-TNUgSF_VmY3G6IOlzE4/edit#gid=0

We ended up doing two designs for each campaignable concept, using the same copy across designs. I also added in Pizza Cat, which performed well in earlier social fundraising test, as a control against these new creatives.

I'll

[2016-12-19 05:52] lovegushwa commented on #400
@ScottDowne so start by building the three color variants of the heart pixel heart spectacular snippet. We are going to AB test these three variants. I'll post more details on the emoji design tomorrow, we are not going to build the polaroid version. You can get download jpgs of the designs here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvQzJibzF1OHZCTDA?usp=sharing

CC @Matt-Holland @HPa

[2016-12-19 08:25] TheoChevalier commented on #645
Forgot to close this, but localized versions are live https://snippets.mozilla.com/json-snippets/

[2016-12-19 08:25] #645 closed, assigned to HPaulJohnson, beccaklam

[2016-12-19 08:29] TheoChevalier commented on #636
Thanks to whoever fixed this! I’m not sure the data is updated live nor this is this year’s data, but I’m not sure what it’s supposed to show either :)

[2016-12-19 08:29] #636 closed, assigned to nobody

[2016-12-19 08:43] TheoChevalier commented on #408
@roseregina @stephaniemcv looks like we never pushed those translations on desk.com, anything I can help with?

[2016-12-19 15:55] ScottDowne commented on #620
Looks like https://github.com/MozillaFoundation/Advocacy/issues/400 has become the build ticket.

Going to close this one, and do my work in #400.

[2016-12-19 15:55] #620 closed, assigned to ScottDowne

[2016-12-19 23:58] natalieworth opened #686 "Share icon buttons broken in Firefox"
Detailed description of work:
The share links are broken in Firefox browser on the facebook/ twitter share icons: https://donate.mozilla.org/en-US/share/

CC: @ScottDowne @HPaulJohnson

[2016-12-20 00:08] natalieworth commented on #686
<img width="374" alt="screen shot 2016-12-19 at 4 04 11 pm" src="https://cloud.githubusercontent.com/assets/14876567/21333541/50377a22-c605-11e6-898f-7b680800af7c.png">

[2016-12-20 01:00] stephaniemcv commented on #408
Oh, for the love of monkey spit and all things I cannot say in public.
Thank you @TheoChevalier!!!! I spaced this completely and am working on it now.

[2016-12-20 01:12] stephaniemcv commented on #642
We done did it. Your team does good work @lovegushwa!

[2016-12-20 01:12] #642 closed, assigned to lovegushwa

[2016-12-20 01:33] lovegushwa commented on #400
And finally @ScottDowne for emoji:
@beccaklam added yellow hearts to the hearts folder above.

![emoji-town-05](https://cloud.githubusercontent.com/assets/12228435/21335112/2b11a072-c611-11e6-96a3-24716b3e2ee8.jpg)

![emoji-town-06](https://cloud.githubusercontent.com/assets/12228435/21335115/34fabe8e-c611-11e6-8025-728c6ebc440e.jpg)

[2016-12-20 03:50] ScottDowne commented on #686
How are they broken?

[2016-12-20 17:10] natalieworth commented on #686
@ScottDowne There should be the social windows that pop-up when clicked, but nothing happens in Firefox. They're working in Chrome for us, but me, Jordan, and Rebecca couldn't get them to work in Firefox.

[2016-12-20 17:11] natalieworth commented on #686
<img width="954" alt="screen shot 2016-12-20 at 9 11 14 am" src="https://cloud.githubusercontent.com/assets/14876567/21360334/54d769ae-c694-11e6-99b3-2f9d4dff858f.png">

[2016-12-20 17:38] Matt-Holland commented on #673
assuming this is done since the FF&You email is ready to go. Closing.

[2016-12-20 17:38] #673 closed, assigned to lovegushwa, beccaklam

[2016-12-20 18:50] lovegushwa opened #687 "Add 25px between copy and donate buttons on snippet"
@ScottDowne can you add 25px between the copy and donate buttons on snippet? Current version looks broken without it and I think it could negatively impact UX.

CC @Matt-Holland @HPaulJohnson

![fix-the-snippet](https://cloud.githubusercontent.com/assets/12228435/21363497/aff992fa-c6a1-11e6-9279-2396d6f4b5d3.jpg)

[2016-12-20 18:53] #687 closed, assigned to ScottDowne

[2016-12-21 17:09] vojtechsedlak commented on #685
Hey @lovegushwa, here are the results from this test. As you can see, the pixel heart (the orange line) did not improve conversion rate:
<img width="1322" alt="image" src="https://cloud.githubusercontent.com/assets/20688240/21398713/2a0f0ce4-c75d-11e6-8c3f-e103e98c012d.png">

Let me know if you have any questions.

[2016-12-21 18:51] beccaklam commented on #400
@ScottDowne Ok, I updated the gifs:
blue-sparkle.gif: https://drive.google.com/open?id=0BzuBOR2VJQqUVVV4NjU2V3Vjdjg
pink-sparkle.gif: https://drive.google.com/open?id=0BzuBOR2VJQqUcExfbG45RVNNRkE
Let me know if they work!

[2016-12-21 19:50] roseregina opened #688 "Test lowered minimum donation"
We could try out different minimum donation amounts and see it's effect on conversion and fraud.
Currently, minimum is $2, which has the benefit of meaning that any email that is talking about $1 is about a specific stripe test charge. We also need to consider the effect that it may have on fraud rates.

*Start date: December 21, 2016*
*Due date: September 2, 2018*

CC: @stephaniemcv @ScottDowne @

[2016-12-21 19:52] roseregina opened #689 "Add "legacy gift" information to out Donor FAQ"
Add information about how to include Mozilla in your will to our Donor FAQ

*Start date: December 21, 2016*
*Due date: September 2, 2018*

CC: @stephaniemcv @TheoChevalier

[2016-12-21 22:51] stephaniemcv commented on #408
Completed adding languages and reorganizing rules. This should be firing correctly now. Thanks all!

[2016-12-21 22:51] #408 closed, assigned to stephaniemcv

[2016-12-22 01:54] roseregina commented on #680
example request from donor (case 19796) :

[2016-12-22 02:17] HPaulJohnson commented on #680
I love this. Wanting to do this myself, I recently came across Doctors Without Borders mechanism for giving these types of tribute gifts. It's a pretty great UX - including customizable ecards that you can schedule to be sent on future dates - that's worth looking at as a benchmark for 2017: https://donate.doctorswithoutborders.org/onetime.cfm?type=tribute

[2016-12-22 04:20] ScottDowne commented on #680
Sounds like mostly a UX thing and pretty low hanging fruit for early 2017.

I don't think it's campaign level work though.

[2016-12-22 04:23] ScottDowne commented on #688
Yeah, I agree with challenging the 2$ min amount if we are getting complaints. We have room to wiggle here when it comes to min amounts, so let's figure out what converts best.

Also just a reminder that we need numbers roughly equal to 2$ in each currency.

[2016-12-23 16:29] ScottDowne commented on #686
This was fixed, it was CSS of all things.

[2016-12-23 16:29] #686 closed, assigned to ScottDowne

[2016-12-23 16:29] ScottDowne commented on #685
Pretty sure we can close this now..

[2016-12-23 16:29] #685 closed, assigned to vojtechsedlak

[2016-12-23 16:34] ScottDowne commented on #668
We are now properly displaying errors for anything cept legit fraud.

Example, this case below should now get an error message.

![](https://cloud.githubusercontent.com/assets/15040203/21064608/b9e54eba-be29-11e6-807a-76e4e2d4cf57.png)

I think the combination of Stripe's internal errors, and our custom error for what Stripe is missing, we can close this.

We can open more tickets around this if w

[2016-12-23 16:34] #668 closed, assigned to roseregina

[2016-12-23 16:35] ScottDowne commented on #638
Closing this as a dupe of https://github.com/MozillaFoundation/Advocacy/issues/677

[2016-12-23 16:35] #638 closed, assigned to nobody

[2016-12-23 16:36] ScottDowne commented on #637
Think this is closable? @stephaniemcv @TheoChevalier

[2016-12-23 18:30] stephaniemcv commented on #637
I think it is.

[2016-12-23 18:30] #637 closed, assigned to nobody

[2016-12-24 19:48] ScottDowne opened #690 "next year solution to opt out when interact"
Doubtful we have time to do this for 2016. Wish I thought of it sooner.

Anyway, the idea is pretty simple. If they click donate in the snippet, we store a separate key in indexdb that's not the same as the opt out one.

Next time they see the snippet, we check for this key, and if it's there, we present a nice little thank you or something, along with a back button in case they want to give again

[2016-12-26 16:07] roseregina commented on #690
In theory I like this, but I think that if we go this route, we should figure out how to include a  "why am I seeing this?" explainer link on the "thank you" snippet to help reduce the number of people who are freaked out by it because they didn't give and think that this means that we took money from them because they clicked on the donate button even though they didn't put in any payment informa

[2016-12-26 17:34] roseregina opened #691 "Ukrainian Hryvna (UAH) for Stripe checkout"
Add Ukrainian Hryvna (UAH) currency option, which is currently supported by Stripe.

We should make sure to have this in place by next year. The reason that this currency is notable because of the political history between Ukraine and Russia, so the lack of UAH option/ feeling forced to donate in RUB feels like a bit of an insult.

*Start date: December 26, 2016*
*Due date: September 2, 2017*

CC:

[2016-12-26 17:57] ScottDowne commented on #690
Snippets already do a great deal using indexeddb and some of its usage is
baked directly into the browser. The snippet itself is loading into
indexeddb. Opt out uses indexeddb currently too. It's not sent to the
server like a cookie and about:home is a very different kind of webpage.
I'm not super worried about actual security or privacy concerns. But we
should have a ready made response for this.

[2016-12-26 17:59] ScottDowne commented on #691
We can do this in 2016. It's super easy.

[2016-12-26 18:51] roseregina opened #692 "Conversation about currencies and payment networks in a global context"
I think it would be good to have an intentional conversation about how we want to approach currencies and maybe also payment options (like IBAN, BPay, Rupay, Maestro, QIWI, e-carte bleue) in the context of Mozilla as an international community and how to meaningfully respect that to the best of our abilities given the limitations of our being a US-based NPO.

At a bare minimum I think it would be

[2016-12-26 18:54] roseregina commented on #690
Thanks for the clarification on indexeddb versus a cookie, @ScottDowne, and I do think you are right that this isn't a real issue for security or privacy, just that it may be perceived as such.

Wording will be tricky, but I do *really* like the idea of a second chance snippet.

[2016-12-26 18:55] roseregina commented on #692
related threads:
#691
#674
#374

[2016-12-26 18:56] roseregina commented on #691
Awesome sauce. I'll assume it's added as soon as I see this thread is closed.
I made a new issue for a larger conversation about this general sort of thing for next year; #692.

[2016-12-26 19:12] ScottDowne commented on #690
I like how you coined it a "second chance snippet" I think that's an
appropriate lense to view the problem.

[2016-12-27 16:57] roseregina commented on #690
case 20207

more information on the problem donor was having from a later message:

[2016-12-27 17:06] ScottDowne commented on #690
I suspect they saw this again when we turned on the spectacular snippet, which is considered a new snippet.

Or they donated before we added the feature to turn it off after a donation, which is only a few weeks old.

Or we have a legit bug.

But it's a good example that doing nothing here is probably bad.

For what it's worth, we are losing about 3% of donations because of this opt out on donate

[2016-12-27 17:22] roseregina commented on #690
I responded with a "thanks for the feedback, we've been talking about this part of the donor experience and it was good to get your input" kind of response.

my guess is that he probably emailed because he clicked it off after donating and then it came back up with the spectacular snippet.

I put the comment in more for the idea of an "already donated button" and to show donor support for the alre

[2016-12-27 17:25] ScottDowne commented on #690
Ah, makes perfect sense. Thanks! 🚀

[2016-12-27 21:49] ScottDowne commented on #400
This is done.

[2016-12-27 21:49] #400 closed, assigned to ScottDowne, lovegushwa, beccaklam

[2016-12-27 22:05] ScottDowne commented on #613
This got done during Hawaii.

[2016-12-27 22:05] #613 closed, assigned to ScottDowne

[2016-12-27 22:19] ScottDowne commented on #361
Status on this.

We ran the move frequency above buttons test, didn't improve or hurt anything, so we implemented that anyway.

So, I can think of few more things we can try for next year.

1. Just flatten the monthly and one time amounts to one time.
2. Test flattening the amounts.
3. Test flattening the amounts to something else other than the one time amounts.
4. Clear the selected amount after

[2016-12-28 00:41] TheoChevalier opened #693 "Clicking on stripe button triggers the spinning cog on PayPal button"
I guess it’s not critical, but it’s also probably a recent regression, so filing a ticket anyway.

<img width="305" alt="capture d ecran 2016-12-28 a 01 33 43" src="https://cloud.githubusercontent.com/assets/1294206/21511201/b83c6a6c-cc9d-11e6-8e9a-cb0c9913f28b.png">

Noticed that while working on something else, and realized that this was not due to my patch. Had a quick look, but couldn’t figure

[2016-12-28 00:52] ScottDowne commented on #693
This has actually always been there. For like three years. You're the first
to call it out :)

[2016-12-28 01:06] TheoChevalier commented on #693
Ah, my bad, I’m probably not clicking enough on those buttons (or probably clicked only on PayPal a few days ago).
Yeah, definitely not a big deal, then

[2016-12-28 17:52] ScottDowne commented on #693
Doesn't need to happen this year, but, https://github.com/mozilla/donate.mozilla.org/pull/1727

[2016-12-28 19:30] ScottDowne commented on #691
Done, and it's the default currency for UK, can see it in action here: https://donate.mozilla.org/uk

[2016-12-28 19:30] #691 closed, assigned to ScottDowne, roseregina

[2016-12-28 23:31] roseregina opened #694 "Add Amazon Pay option for donations"
Multiple donors have requested Amazon pay. I have assumed that all of them came from donors in the United States, but the following quotation came from a German donor (case 17816, part of a longer back and forth starting with bank transfer information request):

*Start date: December 28, 2016*
*Due date: September 2, 2017*

CC: @stephaniemcv @ScottDowne @cadecairos

[2016-12-29 00:17] roseregina commented on #688
We have gotten a number of under $2 donations in other currencies, which I now assume are due to currency fluctuations. Should I be noting them for updating anything under say $1.75 USD?

example:
![image](https://cloud.githubusercontent.com/assets/15040203/21534281/d019cc66-cd32-11e6-8d70-5d3696ba5491.png)

[2016-12-29 03:09] ScottDowne commented on #688
Yeah, conversion rates fluctuate more than we can keep up to date, and it's not super important that we're exact, so it's just close.

I'm pretty sure fees are based on the native currency anyway, and MXN lowest is 30 MXN, which is always going to result in a profit regardless of what it is in USD. (1.42 USD is still acceptable anyway)

[2016-12-29 16:14] ScottDowne commented on #615
I did a bunch of digging here, to see how hard it is to fix.

We have error handling, but what happens is paypal is in the middle of a redirect. So paypal is the one displaying the error, not us, which means it doesn't use our error handling, and instead just, does very little.

In order to fix this we need to add a custom redirect to our donation form on error, from our redirect to paypal logic,

[2016-12-29 20:29] roseregina commented on #615
@ScottDowne, I'm not really sure. My guess is that a handful of people email us about this each week, maybe more. I haven't noticed a real uptick, but it could just be that I haven't noticed.

[2016-12-30 20:41] roseregina opened #695 "Stripe/PayPal form saying "Something seems to have gone wrong.Please try again later.""
I have seen an uptick in this complaint yesterday and today.

![image](https://cloud.githubusercontent.com/assets/15040203/21572348/09e2d720-cea6-11e6-8ea1-c801fa6c446b.png)

any sort of additional information of what I should tell donors to do would be very helpful.

*Start date: September 1, 2016*
*Due date: September 2, 2016*

CC: @stephaniemcv @ScottDowne @cadecairos

[2016-12-30 20:58] cadecairos commented on #695
The only Stripe issues I see in the logs are "card_declined". This can happen at different stages of the donation process, These cases might have happened when the "customer" object in Stripe was created, but the charge to the card failed for some reason. My best guess is that the charge was suspected of fraud.

[2016-12-30 21:15] stephaniemcv commented on #695
Adding @HPaulJohnson, possibly related to what you're seeing?

And could this be from our rules to Radar?

[2016-12-30 21:20] ScottDowne commented on #695
From the other side of what Cade says, at least one error I know of that triggers the error outside of Stripe's widget is card declined for fraud. Looks like this:

![card_error](https://cloud.githubusercontent.com/assets/197334/21572736/b171ba2a-ceaa-11e6-9980-e7f60abed6dc.png)

Looks like the error code in the original screenshot is cut off. So not much I can do to confirm it.

However, a regula

[2016-12-30 21:23] stephaniemcv commented on #695
Interesting. I didn't realize Discover would fail in Eur.

[2016-12-30 21:24] ScottDowne commented on #695
It doesn't say anywhere that we support it, and Stripe doesn't inform the user the card won't work, even though it knows the currency and the card type.

This is kinda an issue on Stripe's end, imo.

[2016-12-30 21:27] stephaniemcv commented on #695
Stripe supports Discover

![image](https://cloud.githubusercontent.com/assets/11812272/21572910/f52a30b2-ce9b-11e6-94d7-1564329613e8.png)

[2016-12-30 21:27] stephaniemcv commented on #695
Unless we don't fall under "business"?

[2016-12-30 21:29] ScottDowne commented on #695
Stripe does support it, just with conditions.

Where they support it, we support it. I'm just saying we make no promises we support it in the cases where it won't work. It's stripe that's giving the false sense that it should work, when they know it won't.

Leaving it to us to handle the error with what little info they return.

[2016-12-30 21:30] ScottDowne commented on #695
It's very unlikely someone in Europe would even have a Discover card. I'm still leaning towards fraud ;)

[2016-12-30 21:31] stephaniemcv commented on #695
I'm sure you're correct. I'm just making sure I'm less confused.

[2016-12-30 22:12] roseregina commented on #695
Notably, RuPay cards (from India) apparently run over the discover network.

(not that stripe will process them, but they have been requested)

[2016-12-31 02:38] roseregina commented on #695
I just checked another donor who had this problem and there is nothing about them in Stripe, so at least for this person, it doesn't seem to be a card decline.  (desk case 18923)

[2016-12-31 15:07] roseregina opened #696 "Sign up Mozilla for Combined Federal Campaign"
From donor case 20972:

*Start date: December 31, 2016*
*Due date: September 1, 2016*

CC: @stephaniemcv @HPaulJohnson

[2016-12-31 17:18] HPaulJohnson opened #697 "[URGENT] Donate Form Bug: iOS + Chrome not working with Stripe"
When trying to place a donation via mobile form via iOS on Chrome, Stripe/Pay by credit card gets hung "submitting" and never completes.

Reproduced across 4-5 different iOS devices (phone and tablet)

cc: @ScottDowne @cadecairos @simonwex @Matt-Holland

[2016-12-31 17:21] ScottDowne commented on #697
Looking

[2016-12-31 17:47] cadecairos commented on #697
This appears to be Chrome blocking the new tab that Stripe checkout is trying to create. This is happening because we're not calling the Stripe Checkout open function directly in the click handler, but in a setTimeout callback.

I think this is the spot: https://github.com/mozilla/donate.mozilla.org/blob/master/src/components/payment-options.js#L74-L76

[2016-12-31 17:50] Matt-Holland commented on #697
1) Can fix and rollout now?

2) (for later: will be interested in how long has been going on)

On Saturday, December 31, 2016, Christopher DeCairos <
notifications@github.com> wrote:

--

Matt Holland
Email: matt@mattholland.com
Skype:  mattholland.com

PGP ID: 0xCCA9A4202F59D0F4
<http://pgp.mit.edu:11371/pks/lookup?op=get&search=0xCCA9A4202F59D0F4>
PGP Fingerprint: D774 9CBB C3DC CD5E 384E  D9BC

[2016-12-31 17:51] ScottDowne commented on #697
Based on commit history, my guess is since Dec 16, 2015

[2016-12-31 18:50] ScottDowne commented on #697
I have a pull request here: https://github.com/mozilla/donate.mozilla.org/pull/1732/files

Fixes it in all my testing.

It's on @cadecairos for review.

[2017-01-03 20:08] #247 closed, assigned to KevZawacki

[2017-01-03 20:41] vojtechsedlak commented on #629
The test we ended up running did not yield fully conclusive results. In some locales, such as France and Spain we found that mentioning a country name in the snippet copy can improve click-through rates, but that wasn't the case for Germany. In addition to locale-specific copy, we've also tested the following variants of the content theme:

- health of the internet
- statistics
- protect the net
-

[2017-01-03 20:41] #629 closed, assigned to TheoChevalier, vojtechsedlak

[2017-01-03 20:44] vojtechsedlak commented on #601
Changes to the thank you page design did not improve conversions on the email sign-up form nor the social buttons. The overall engagement on the page was also lower for the new design, as per the chart below:
<img width="1134" alt="image" src="https://cloud.githubusercontent.com/assets/20688240/21622448/512dc9be-d1b2-11e6-9381-5a144df5d38a.png">

Further brainstorm might uncover opportunities for

[2017-01-03 20:44] #601 closed, assigned to vojtechsedlak

[2017-01-03 20:49] vojtechsedlak commented on #600
Moving the payment buttons above the privacy policy improved the conversion rate on the page by 15%. The change was implemented Dec 19.
<img width="1137" alt="image" src="https://cloud.githubusercontent.com/assets/20688240/21622505/9fb6ce32-d1b2-11e6-817b-0c7345eca1d6.png">

We ended up implementing a shorter version of the privacy policy that was tested last year.

[2017-01-03 20:49] #600 closed, assigned to vojtechsedlak

[2017-01-03 20:49] vojtechsedlak commented on #599
Technical issues prevented us from running this test.

[2017-01-03 20:49] #599 closed, assigned to vojtechsedlak

[2017-01-03 20:51] #372 closed, assigned to vojtechsedlak

[2017-01-03 20:55] vojtechsedlak commented on #386
Adding the word donate by itself improved conversion rate by 3.5%. Further optimization was achieved by decluttering the buttons by removing the words paypal and credit/debit cards. Changing the color of the buttons to blue also improved conversion rate. Overall, all of the tested optimizations resulted in 8% improvement, from 10.48% to 11.32%.

[2017-01-03 20:55] #386 closed, assigned to vojtechsedlak, beccaklam

[2017-01-03 20:56] vojtechsedlak commented on #393
We didn't run this test during EOY 2016 due to low prioritization.

[2017-01-03 20:56] #393 closed, assigned to vojtechsedlak

[2017-01-03 21:01] vojtechsedlak commented on #520
The results of the heartbeat test were as follows:

EN
5.51% CTR
$9/1000 impressions

DE
1.94% CTR
$21/1000 impressions

Based on the results we believe that the heartbeat could potentially aid with fundraising. The heartbeat team however identified the following roadblocks:

- A proper design that doesn't use the heartbeat logo since it's somewhat confusing and may be interpreted in unexpected wa

[2017-01-03 21:02] #399 closed, assigned to vojtechsedlak

[2017-01-03 21:03] vojtechsedlak commented on #399
Not ran due to low prioritization during EOY 2016.

[2017-01-03 21:03] vojtechsedlak commented on #388
Not ran during EOY 2016 due to low prioritization.

[2017-01-03 21:03] #388 closed, assigned to vojtechsedlak

[2017-01-03 21:03] vojtechsedlak commented on #384
Not ran due to low prioritization.

[2017-01-03 21:03] #384 closed, assigned to vojtechsedlak

[2017-01-03 21:06] vojtechsedlak commented on #640
Just to recap the results here, animated icons won across the board, with beating heart winning in the EN locale and with waving flag gifs winning in DE and FR locales over static variants.

[2017-01-05 21:57] natalieworth commented on #392
Closing this for now—but could bring it up again for next years EOY campaign.

[2017-01-05 21:57] #392 closed, assigned to lovegushwa, natalieworth, beccaklam

[2017-01-05 22:01] natalieworth commented on #640
Thanks @vojtechmzl :) The animated ones were my preference so glad they won! Closing this ticket but feel free to reopen if anything else has to be included in this.

[2017-01-05 22:01] #640 closed, assigned to natalieworth, beccaklam

[2017-01-05 22:08] natalieworth opened #698 "Internet Health Report social graphics"
Detailed description of work:
Work with Carolyn (the new social designer) on the MoCo team to create social graphics for the release of a new internet health issue each Month from January to May, 2017.

Issues include:
1. Privacy and security
2. Digital Inclusion
3. Open Innovation
4. Decentralization
5. Web Literacy

Social strategy can be found here: https://docs.google.com/document/d/1sj5GQB9HP

[2017-01-06 18:47] lovegushwa commented on #679
you can see the results here: https://docs.google.com/presentation/d/13yP0YLoJFm2LXmvTAfLkhehUpjxpBxVzy2G81lNe6iU/edit#slide=id.g1ac85be3a7_0_0

[2017-01-06 18:48] #679 closed, assigned to lovegushwa, beccaklam

[2017-01-06 19:02] lovegushwa commented on #407
email copy draft:
https://docs.google.com/document/d/1xF7bEqzijxCFRTc5PHr83XkR2i1gZoZ2GQR4sVGyMFU/edit?ts=586da42f

[2017-01-06 19:06] ScottDowne commented on #664
Pretty sure we're not doing this, because it might be a little too late in the game ;)

[2017-01-06 19:06] #664 closed, assigned to Matt-Holland, HPaulJohnson

[2017-01-06 22:02] #666 closed, assigned to beccaklam

[2017-01-06 22:02] #362 closed, assigned to beccaklam

[2017-01-06 23:02] lovegushwa opened #699 "Content testing - categorizing and tracking creative"
Create a system for categorizing and tracking social the performance of social media content. A successful system would help us define creative attributes what are likely to work best for a particular audience.

Questions: how does this relate to the harmony institute work / the total engagement index?

*Start date: January 6, 2017*
*Due date: January 13, 2017*

CC: @HPaulJohnson @vojtechmzl @nata

[2017-01-06 23:10] lovegushwa opened #700 "Content testing - defining audiences"
Define a set of audiences when testing creative (see issue #699). Should we create and test audiences around privacy and security issues we are likely to campaign on in 2017?

*Start date: January 6, 2017*
*Due date: January 13, 2017*

CC: @HPaulJohnson @vojtechmzl @natalieworth @beccaklam

[2017-01-06 23:10] lovegushwa opened #701 "Define advocacy UX CTAs"
Related to #699 and #700 define a menu of CTAs we are driving our audiences towards. Possible CTAs are:

- letter to the editor template
- call congress tool
- find and participate in an event
- watch a video and share
- sign a petition
- donate
- join our email list
- join a live discussion on privacy
- download and install a privacy tool or app
...

Start date: January 6, 2017
Due date: January

[2017-01-06 23:10] lovegushwa opened #702 "Wireframe advocacy UX CTAs"
Wireframe a set of CTA driven pages we agree on in ticket #701

[2017-01-06 23:10] lovegushwa opened #703 "Build advocacy user personas"

[2017-01-06 23:10] lovegushwa opened #704 "Map our UX journey"

[2017-01-06 23:10] lovegushwa opened #705 "Fixing dev handoff / QA process"
- List all the things that go wrong. Went wrong in recent campaigns.
- Create a handoff and QA process / checklist.

[2017-01-06 23:10] lovegushwa opened #706 "Create a design process kick-off checklist"

[2017-01-06 23:10] lovegushwa opened #707 "Clean up our drive"
Clean up the drive folders (@beccaklam you can assign each of us folders to clean up once you make recommendations on structure).

[2017-01-06 23:10] lovegushwa opened #708 "Revise file naming conventions and folder structure"
Make a recommendation on how we name and label files and folders
... Current naming/structure conventions here:
https://docs.google.com/a/mozilla.com/document/d/1AZ_TrLkdWVnRT_fAxW-kFT3o2tDgMlg_f65AKKcrtJY/edit?usp=sharing

[2017-01-09 17:32] natalieworth commented on #705
@lovegushwa @beccaklam I talked to an interaction friend and she recommended this app: https://zeplin.io/
It essentially let's you upload designs from Sketch (I think possibly photoshop too) and then allows access to developers to get specs/ dimensions/ pixel spacing/ font information, etc. Looks awesome and like something we could try out! I think it's free with 1 project—so we could even test if

[2017-01-09 17:32] natalieworth commented on #705
Oh! It also let's you create a style sheet for developers.

[2017-01-09 17:36] natalieworth commented on #704
@lovegushwa @beccaklam Had this recommended to me too https://marvelapp.com/
Could help with the prototyping of our online platforms once we map a user(participant) journey? I think it also let's you send to people and can record where they click/ how they use it—which could be good if we wanted to test anything within our Advocacy team as a form of user research?

[2017-01-09 19:51] taisdesouzalessa commented on #705
Hey @natalieworth I used Zeplin in my previous job and I can say that it saved me 2-3 hours of doing redlines for specs and the engineer who worked with me loved it. The measurements are pretty reliable and there was way less back and forth between dev and design.

InVision has a new feature pretty similar to Zeplin: https://www.invisionapp.com/feature/inspect so I guess once we get InVision we ca

[2017-01-09 20:34] lovegushwa opened #709 "Fundraising thank you - videos"
Three "choose your own adventure" thank you videos.

Sincere - Hallmark card like, midi music
Funny - Hero's thank-you
Cute - Cute compilation -- puppies, kitties, pandas, etc

*Start date: January 5, 2017*
*Due date: January 10, 2017*

[2017-01-09 20:41] lovegushwa opened #710 "Fundraising thank you - videos & landing pages"
Three "choose your own adventure" videos landing pages:

- Sincere
- Funny
- Cute

*Start date: January 5, 2017*
*Due date: January 10, 2017*

[2017-01-09 20:44] lovegushwa commented on #710
Pages will say "thank you" above the video or possibly a full sentence related to content of the video. Will decide on final copy EOD.

<img width="1039" alt="screen shot 2017-01-09 at 12 42 08 pm" src="https://cloud.githubusercontent.com/assets/12228435/21782664/10f2f3a4-d669-11e6-9655-70cda787f3c7.png">

[2017-01-09 21:40] HPaulJohnson commented on #681
Complete. Results here:

https://docs.google.com/presentation/d/13yP0YLoJFm2LXmvTAfLkhehUpjxpBxVzy2G81lNe6iU/edit?ts=585d7358#slide=id.g18c2738e43_0_88

[2017-01-09 21:40] #681 closed, assigned to HPaulJohnson

[2017-01-09 21:40] HPaulJohnson commented on #654
complete

[2017-01-09 21:40] #654 closed, assigned to Matt-Holland, HPaulJohnson

[2017-01-09 21:40] HPaulJohnson commented on #653
complete

[2017-01-09 21:40] #653 closed, assigned to Matt-Holland, HPaulJohnson

[2017-01-09 21:41] HPaulJohnson commented on #652
complete

[2017-01-09 21:41] #652 closed, assigned to Matt-Holland, HPaulJohnson

[2017-01-09 21:41] HPaulJohnson commented on #651
complete

[2017-01-09 21:41] #651 closed, assigned to Matt-Holland, HPaulJohnson

[2017-01-09 21:49] HPaulJohnson commented on #697
@ScottDowne cleaning up tickets but this looks fixed. okay, to close?

[2017-01-09 21:50] HPaulJohnson commented on #556
cleaning up my github issues in the new year and this one looks to be resolved. closing.

[2017-01-09 21:50] #556 closed, assigned to nobody

[2017-01-09 21:54] HPaulJohnson commented on #276
closing this for now in the new year's purge. doesn't look to be an issue with the v2 of the petition form anyway.

[2017-01-09 21:54] #276 closed, assigned to nobody

[2017-01-09 21:59] ScottDowne commented on #697
Yeah, we pushed this up early Jan, can close.

[2017-01-09 21:59] #697 closed, assigned to nobody

[2017-01-09 22:22] #639 closed, assigned to nobody

[2017-01-09 22:23] HPaulJohnson commented on #632
@stephaniemcv can we close this one?

[2017-01-09 22:24] HPaulJohnson commented on #627
@TheoChevalier can we close this one?

[2017-01-09 22:27] HPaulJohnson commented on #520
Closing this "testing ticket" but will definitely add to the agenda for debrief and 2017 planning.

[2017-01-09 22:27] #520 closed, assigned to vojtechsedlak

[2017-01-09 22:34] stephaniemcv commented on #632
Sure.

[2017-01-09 22:34] #632 closed, assigned to stephaniemcv

[2017-01-09 22:56] TheoChevalier commented on #627
I would still like translations to be updated at some point, I don’t think we had the opportunity to make that happen during the last campaign

[2017-01-11 05:38] lovegushwa commented on #663
@WillatMozFdn @stephaniemcv forgive the wait on this. You can get the emoji images here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvZ2hrMDRPeEtxb3M?usp=sharing

Blue button color #1381d5

<img width="678" alt="screen shot 2017-01-10 at 9 08 23 pm" src="https://cloud.githubusercontent.com/assets/12228435/21836541/cfde85d2-d77a-11e6-8566-4d28f0667606.png">

[2017-01-11 05:43] lovegushwa commented on #710
Redpen's are here: https://redpen.io/p/qte76e824e411176d8

[2017-01-11 05:48] lovegushwa commented on #710
@HPaulJohnson we can you write a sentence for each of the videos? (see post below)
CC @natalieworth @beccaklam

[2017-01-11 05:57] lovegushwa commented on #710
Hi @cadecairos we need to get a few videos on Amazon cloud for a fundraising email going out on Thursday. Here are links to .webm and .mp4 videos:

Cute: https://drive.google.com/drive/folders/0B20-0lpP23c0anNPbG15bmdLVEU?usp=sharing

Hero (funny): https://drive.google.com/drive/folders/0B20-0lpP23c0TDQwT0xZaVlKV00?usp=sharing

Sincere: https://drive.google.com/drive/folders/0B20-0lpP23c0UzViZUo1Z

[2017-01-11 05:58] #709 closed, assigned to lovegushwa, natalieworth

[2017-01-11 15:08] cadecairos commented on #710
[Links to all the videos on the CDN are in this bug](https://github.com/MozillaFoundation/mofo-devops/issues/441#event-919198410)

edit: broken link

[2017-01-11 17:26] HPaulJohnson commented on #710
Here's some copy for the landing pages for each of these.

https://docs.google.com/document/d/1loG-7YM219kfawJAjr2zZhopgc6z1GqDHChfI4K26gY/edit

[2017-01-11 19:25] lovegushwa commented on #710
@cadecairos @HPaulJohnson thank you!

[2017-01-11 19:51] lovegushwa opened #711 "Fundraising thank you - localize content"
@TheoChevalier here is the content that needs localization in DE, ES, FR, IT. (Am I missing anything?)
Ashley is getting this all approved today so I'll flag any changes if they happen. Stay tuned.

Email content:
https://docs.google.com/document/d/1xF7bEqzijxCFRTc5PHr83XkR2i1gZoZ2GQR4sVGyMFU/edit

Landing page copy:
https://docs.google.com/document/d/1loG-7YM219kfawJAjr2zZhopgc6z1GqDHChfI4K26gY/e

[2017-01-11 20:03] TheoChevalier commented on #711
Thanks Jordan! From the doc, I take that the winning subject is just “Thanks”, correct? And that I can ignore the preheader text?

[2017-01-11 20:18] WillatMozFdn commented on #711
Actually, Theo, preheader text should also be localized please.  I just
narrowed it down to the one we'll use.  Does that work for you?

 - Will

On Wed, Jan 11, 2017 at 3:03 PM, Théo Chevalier <notifications@github.com>
wrote:

[2017-01-11 20:25] lovegushwa commented on #701
@beccaklam for winter 2017 we will likely focus on these interactions:

- Watch Videos/share great content
- Sign up/join the list
- Take this quiz/play this game
- Attend an event
- Do something - download a product. (ie: signal)

[2017-01-11 20:29] TheoChevalier commented on #711
Absolutely, thanks for correcting me :)
I’m not too familiar with those, but I assume it’s like here https://www.campaignmonitor.com/blog/email-marketing/2011/12/a-practical-guide-to-email-preheaders/ Something that won’t be displayed in the body, but only seen in notifications or before opening the email?

[2017-01-11 20:35] WillatMozFdn commented on #711
Yep, exactly.  Gmail, Android mail clients and Outlook (desktop) are the
biggest platforms that display preheader text, pretty sure some others do
as well.  Definitely wouldn't want that to be in English for a localized
email ...

(FYI, for the localized fundraising emails in December, I generally grabbed
a short line of text from the body of the email itself, that summarized the
main point of the

[2017-01-11 23:22] lovegushwa commented on #710
@cadecairos once you finish reviewing @beccaklam's code and push the pages live please post the links here.

CC @WillatMozFdn

[2017-01-12 00:43] cadecairos commented on #710
https://donate.mozilla.org/jan-thank-you-sincere
https://donate.mozilla.org/jan-thank-you-superhero
https://donate.mozilla.org/jan-thank-you-cute

@WillatMozFdn

[2017-01-12 01:09] lovegushwa commented on #710
Thanks @cadecairos !

[2017-01-12 01:29] lovegushwa commented on #710
@beccaklam awesome work!
A few issues to tweak / consider for next time depending on whats possible tomorrow.

Header type is inconsistent across pages
<img width="1237" alt="screen shot 2017-01-11 at 5 13 47 pm" src="https://cloud.githubusercontent.com/assets/12228435/21873161/88e4d0c6-d821-11e6-9eee-e660535e14fc.png">

<img width="1237" alt="screen shot 2017-01-11 at 5 13 45 pm" src="https://clo

[2017-01-13 19:37] #710 closed, assigned to ScottDowne, beccaklam

[2017-01-13 19:40] lovegushwa commented on #711
@WillatMozFdn @TheoChevalier when do you want to send the localized emails?

[2017-01-13 19:45] WillatMozFdn commented on #711
It'll be next week sometime ... I think we should get them out basically as
soon as the localizers come back with the translations?  (They don't need
to all go out at the same time.)

 - Will

On Fri, Jan 13, 2017 at 2:40 PM, lovegushwa <notifications@github.com>
wrote:

[2017-01-13 19:46] TheoChevalier commented on #711
What Will said.
So far, German is complete and you can proceed with it: https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/fundraising_thank_you.lang&action=translate&show

Italian is being reviewed, and French is ongoing.

[2017-01-13 22:41] lovegushwa commented on #701
@beccaklam ok I changed my mind. Like I said earlier let's pause this and keep working on the UX map.

[2017-01-16 14:12] TheoChevalier commented on #711
All locales are now complete: https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/fundraising_thank_you.lang&action=translate&show

[2017-01-17 14:24] WillatMozFdn commented on #711
Great, thanks Theo!

Will code those up today and run a proof by the localizers, hopefully get
them out tomorrow.

 - Will

On Mon, Jan 16, 2017 at 9:12 AM, Théo Chevalier <notifications@github.com>
wrote:

[2017-01-17 23:30] lovegushwa commented on #711
@beccaklam can you confirm the landing pages are localized properly? (the strings are all working...)

[2017-01-18 01:44] natalieworth commented on #698
Updated redpen for these here: https://redpen.io/p/um33aaebede2f34eed

Social planning sheet started here: https://docs.google.com/a/mozilla.com/spreadsheets/d/1wAl5-iNterjhFaMsh4HTmx_Dpwx28lWbfyie_ZZbFKg/edit?usp=sharing

Final exports for January are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0N3I1RVZTaFFBelk

[2017-01-18 01:47] natalieworth commented on #407
Closing this. Final files are here for future reference:
https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0ay1vaXdUdzRLNEE
:1st_place_medal:

[2017-01-18 01:47] #407 closed, assigned to lovegushwa, natalieworth, beccaklam

[2017-01-18 15:07] beccaklam commented on #711
Looks good to me @lovegushwa !

[2017-01-24 01:10] lovegushwa opened #712 "Privacy survey snippet"
Write copy and create an icon for a privacy snippet. Go team.
Please confirm the snippet team schedule and any localization needs.

**Due 1/24 Tuesday (End of day)**

[2017-01-24 01:16] lovegushwa opened #713 "Privacy survey email callout"
Create a email callout for the privacy survey. Something fun / without text so we don't need to localize.  You can read the email copy here: https://docs.google.com/document/d/1S0Isrc0pm6AibZEJJkW_b5NoRnvKS0-hQWIkvR352O8/edit

**Due 1/26 Thursday (End of day)**

@WillatMozFdn can you provide image specifications for @beccaklam?

[2017-01-24 01:24] lovegushwa opened #714 "Privacy survey social"
Create a social share for the privacy survey. Write social copy (twitter / facebook)
Could be funny, just like the clever survey copy which I recommend using as a source of inspiration. https://docs.google.com/document/d/1NEIoAulFwxCF-MpnlTomQxNAKMHDuRaxw7cia4x30Zo/edit

**Due 1/26 Wednesday (End of day)**

[2017-01-24 14:42] WillatMozFdn commented on #713
Sure.  Actually, I think we do want it to have some text ... "Take our three-minute survey."  Size & specs should probably be the same as for other callout boxes that we used in the fundraising emails at EOY ... i.e. https://image.e.mozilla.org/lib/fe9915707361037e75/m/3/MoFo_GLOBAL_AVO_2016_FUND_HTML_2016_EOY_ALL_EN_IMG_Msg4callout.jpg .  We specify 250 x 250 pixels in the email code, but I think

[2017-01-24 14:45] TheoChevalier commented on #713
Confirming that I’ve exposed “Take our 3 Minute Survey” to l10n, so you can use it if you want

[2017-01-24 14:50] #711 closed, assigned to TheoChevalier

[2017-01-25 16:54] lovegushwa commented on #712
We are teaming up with MoCo social, final creative here:
https://drive.google.com/drive/folders/0B2qu3ExKWIlvSHVmVzBzT3NacnM?usp=sharing

[2017-01-25 16:54] #712 closed, assigned to natalieworth

[2017-01-25 17:39] lovegushwa commented on #713
@beccaklam you need to make DE and FR as well. You will find the strings here (only DE is ready now):
https://l10n.mozilla-community.org/langchecker/?website=6&file=emails/2017/data_privacy_day.lang&action=translate&show

[2017-01-25 19:20] beccaklam commented on #713
@lovegushwa @WillatMozFdn Here are the callouts in EN and DE: https://redpen.io/p/kpc62bd9d5b03eb97a Let me know if you have any edits if not I'll upload them to the drive.

[2017-01-25 19:21] beccaklam commented on #714
Privacy Survey Social Illustration: https://redpen.io/p/ejde35ab06eb3f4723

[2017-01-25 19:24] TheoChevalier commented on #713
Just got a review for the French one so that it doesn’t block you, it’s “Répondez à notre bref sondage (3 min)” (it should appear in a few on the l10n dashboard)

[2017-01-25 19:38] beccaklam commented on #713
Thanks @TheoChevalier! @lovegushwa @WillatMozFdn Here are the call outs in all three locales: https://redpen.io/p/kpc62bd9d5b03eb97a Let me know if you need any changes if not I'll upload them and add the links here.

[2017-01-25 19:45] WillatMozFdn commented on #713
Thanks Becca!

Hmmm, wondering how we can +stephaniev@mozillafoundation.org to this thread?

On Wed, Jan 25, 2017 at 2:38 PM, beccaklam <notifications@github.com> wrote:

[2017-01-25 19:47] lovegushwa commented on #713
@stephaniemcv ^ see @beccaklam redpens.

[2017-01-25 21:15] beccaklam commented on #713
@lovegushwa @WillatMozFdn @stephaniemcv If there's no changes I've put the files on the drive: https://drive.google.com/drive/folders/0BzuBOR2VJQqUSXd2YUEwVTRnWWM?usp=sharing

[2017-01-25 21:16] beccaklam commented on #714
Link to artwork: https://drive.google.com/open?id=0BzuBOR2VJQqUZXNYNGRWUm1kTEk

[2017-01-25 21:26] stephaniemcv commented on #713
No changes from me. I think they look great!

[2017-02-15 02:49] ScottDowne opened #715 "weigh the value of changes in NB vs creating a stopgap page"
Is there any potential in keeping NB and making changes we need directly to it.

Or, is making a whole new site give us the impact we expect.

For what it's worth, I think building the stop gap is pretty easy, and I'm not super worried about it.

[2017-02-15 02:50] ScottDowne commented on #715
cc @simonwex

[2017-02-15 17:48] #714 closed, assigned to beccaklam

[2017-02-15 17:49] #713 closed, assigned to beccaklam

[2017-02-15 18:03] lovegushwa opened #716 "Design: Copyright Petition V3"
Redesign the copyright petition site.
Wireframes due 2/17
UI due 2/22

Draft content:
https://docs.google.com/document/d/10kCzOBpVzG3ueMqNIC100BBo33bDOdB31715YH41KWQ/edit

Legacy wireframes / UI:
https://redpen.io/p/rh3ca19956fb0a83c8
https://redpen.io/p/coa34e472107659406

Share progress:
https://share.mozilla.org/352/169283

Brand benchmarks:
https://projects.invisionapp.com/share/ZJ9YTAGEA#/scr

[2017-02-15 18:21] hannahkane opened #717 "Finalize content for Copyright site"
[Draft copy](https://docs.google.com/document/d/10kCzOBpVzG3ueMqNIC100BBo33bDOdB31715YH41KWQ/edit)

Is it possible to have final working copy by end of this week? (Where "final working copy" means any additional changes will be wordsmithing, but won't affect layout.)

[2017-02-15 20:16] ScottDowne commented on #715
Doing a new site in NB would be more work than creating a static page integrated with salesforce.

Copying over the existing NB pages and updating copy as a static page would be more work than just updating copy in NB.

I feel like that gives us two options. Updating copy in existing NB site or stopgap static site.

Updating copy in existing NB site.
Pros:
- Least amount of work. Possibly a day or

[2017-02-15 20:32] hannahkane commented on #715
Wouldn't even copy changes in NB be costly given difficulty of l10n?

[2017-02-15 20:47] ScottDowne commented on #715
@hannahkane Yeah, good call. It's likely significant but less than it was the first time we built it.

That also reminds me, we likely still have a contract with bablic that we should factor in to monthly costs of NB, right?

[2017-02-15 20:51] cadecairos commented on #715
Bablic costs about $700/month

[2017-02-15 20:59] ScottDowne opened #718 "Basket integration with stopgap copyright page. Should we use an endpoint, or SQS queue to integrate"
We need to follow through with the basket team on what they would prefer us do when we send signups from the stopgap site to basket.

A. Directly hit up Basket's API endpoints.
B. Use a middleware app to send signups to a queue for Basket to consume.

cc @cadecairos

[2017-02-15 21:03] ScottDowne opened #719 "Basket integration with stopgap copyright page. Sync app accept client-direct messages or build other server-side app"
Should we send be sending our calls to basket/SQS from client, or use a server-side app.

cc @cadecairos Is these more to this question?

Should we make a list of pros and cons?

If we have a SQS, is this question still valid?

related? https://github.com/MozillaFoundation/Advocacy/issues/718

[2017-02-15 21:21] ScottDowne opened #720 "localization for copyright petition site changes"
Do we understand the flow for doing this in on a static site.

From my understanding, this would work pretty much like donate/advocacy. This are the steps I have a lot of experience in and has be tested under a lot of locales and traffic. Can also roll out this pretty quickly. I have a template for this that we may or may not use.

It's done with a `.properties` file living in github. Pontoon is s

[2017-02-15 21:58] cadecairos commented on #719
a) Send signups directly to Basket
This is the easiest (for us), but I highly doubt the team running basket would be excited to add another custom endpoint, and we also might end up DDOSing them if we get lots of traffic :)

b) Send signups to the [mozilla_webhook_sync](https://github.com/mozilla/mozilla_webhook_sync) app
This is probably the second easiest - since we can piggy back on the existin

[2017-02-15 22:14] TheoChevalier commented on #720
Thumbs up from l10n on the static website, see my detailed reply below regarding Bablic

Quite a lot, actually. Several teams made it clear that they wouldn’t provide translations with a Bablic-based website, because of the terrible experience it was on the l10n side. First hidden cost is money, if we have to pay for all the translations. It can become quite costly if we forget some strings (and b

[2017-02-16 14:15] TheoChevalier commented on #720
Got confirmation by Mathjazz that we would need a diferent repo, or a different branch at the very least (but I don’t think a new branch would make things better in our case). One possible workaround is storing the translations in a new repo, while adding the code in the current one (in case code has to be added here for some reason).

[2017-02-17 20:47] hannahkane commented on #720
Timeline note: it seems comps will be worked on next week. My understanding is we can start localization after that, meaning the week of Feb 27. Does that work for you, @theochevalier?

[2017-02-18 03:32] TheoChevalier commented on #720
@hannahkane TL;DR, if we’re doing a static site, yes.

Usually, we have to wait for the initial template to be coded before starting localization, but since we’re in a rush, Advocacy has special needs, and we have a well established process with .properties, I expect to be able to extract most strings from the final copy and the comps to build the localization file and start exposing it before the

[2017-02-22 20:07] #717 closed, assigned to shaghdoosti, caltrider

[2017-02-22 20:27] caltrider opened #721 "Hannah ask about Githubbing us up"
Detailed description of work:

Make us better. Clean it up.

*Start date: February 22, 2017*
*Start date: February 29, 2017*

**bold**

CC:

[2017-02-22 20:29] #721 closed, assigned to hannahkane

[2017-02-22 21:26] hannahkane opened #722 "Design "Resources" page"
As per conversations today, the design will be kept simple, with no implied user functionality.

Meta data will be provided by @Melechuga:

- Title
- Author/Org {+ link?}
- Blurb
- Format (e.g. pdf, video, website)
- [Image ?]
- Links
- Languages available

All metadata should be displayed on the page, but without any user interactions other than linking (e.g. no sorting/filtering)

[2017-02-22 21:27] hannahkane commented on #722
Aiming to have this by Friday, to maintain overarching timeline. @beccaklam - feel free to separate this into a wireframe ticket and a UI ticket if you'd like.

[2017-02-22 21:29] #162 closed, assigned to vojtechsedlak

[2017-02-22 21:29] #530 closed, assigned to stephaniemcv

[2017-02-22 21:29] #531 closed, assigned to nobody

[2017-02-22 21:29] #532 closed, assigned to stephaniemcv

[2017-02-22 21:29] #533 closed, assigned to stephaniemcv

[2017-02-22 21:29] #536 closed, assigned to nobody

[2017-02-22 21:29] #477 closed, assigned to nobody

[2017-02-22 21:30] hannahkane commented on #663
Triaging all open tickets. Can this ticket be closed?

[2017-02-22 21:30] #535 closed, assigned to stephaniemcv

[2017-02-22 21:30] #538 closed, assigned to stephaniemcv

[2017-02-22 21:32] #529 closed, assigned to nobody

[2017-02-22 21:33] stephaniemcv commented on #663
Yes. Email was sent in January.

[2017-02-22 21:33] #663 closed, assigned to Matt-Holland, HPaulJohnson, stephaniemcv, WillatMozFdn

[2017-02-22 21:36] #537 closed, assigned to stephaniemcv

[2017-02-22 21:36] #567 closed, assigned to nobody

[2017-02-22 21:36] #578 closed, assigned to nobody

[2017-02-22 21:37] hannahkane commented on #549
Can we close this ticket, or is it still useful?

[2017-02-22 21:38] hannahkane commented on #409
Is this ticket still needed?

[2017-02-22 21:40] hannahkane commented on #715
I'm going to close this, as we've made a decision.

[2017-02-22 21:40] #715 closed, assigned to nobody

[2017-02-22 21:42] hannahkane commented on #323
Can I close this?

[2017-02-22 21:42] #472 closed, assigned to nobody

[2017-02-22 21:42] #539 closed, assigned to stephaniemcv

[2017-02-22 21:43] #585 closed, assigned to brettgaylor

[2017-02-22 21:49] #579 closed, assigned to TheoChevalier

[2017-02-22 21:49] #581 closed, assigned to gholme4

[2017-02-22 21:49] #584 closed, assigned to nobody

[2017-02-22 21:49] #603 closed, assigned to nobody

[2017-02-22 21:52] hannahkane commented on #693
Is this still valid or should we close?

[2017-02-22 21:53] #593 closed, assigned to nobody

[2017-02-22 21:53] #594 closed, assigned to nobody

[2017-02-22 21:53] #582 closed, assigned to nobody

[2017-02-22 21:53] #577 closed, assigned to gholme4

[2017-02-22 21:53] beccaklam commented on #720
Hi @TheoChevalier @hannahkane @lovegushwa @ScottDowne, here are the comps for the copyright v3 site. I have versions for desktop, tablet landscape, tablet portrait and mobile portrait.
@TheoChevalier I would hold off on the footer strings for now as we're not sure which exact links we want. @hannahkane Could we confirm which footer links are needed for this page? Thank you both!
![desktop](https:/

[2017-02-22 21:55] hannahkane commented on #359
Do we still want to do this or should we close?

[2017-02-22 21:55] #167 closed, assigned to shaghdoosti

[2017-02-22 22:06] hannahkane opened #723 "Finalize links for footer"
We need to finalize what links should appear in the footer of the copyright site. The mockup includes:

- Contact Us: https://www.mozilla.org/contact/
- Share This Page: ???
- Join the Conversation: https://twitter.com/Mozilla
- Legal: https://www.mozilla.org/about/legal.html
- Privacy Policy: https://www.mozilla.org/privacy/
- Donate: https://donate.mozilla.org

I think the legal department would

[2017-02-22 22:07] hannahkane commented on #720
Thanks, @beccaklam! Added a ticket for footer links here: #723

[2017-02-22 22:10] TheoChevalier commented on #720
Thanks, @beccaklam!
@ScottDowne @cadecairos looks like we will need the new repo sooner than expected, should I go ahead and create a "copyright" repo to store the strings and expose them in Pontoon?

@ScottDowne implementation question, do you think you’ll need markup to style the first letter in blue, or using ::first-letter pseudo element will be enough?

[2017-02-22 22:18] TheoChevalier commented on #693
All fixed :)

[2017-02-22 22:18] #693 closed, assigned to ScottDowne

[2017-02-22 23:23] hannahkane opened #724 "QA checklist for Copyright site"
Staging: https://changecopyright-org-staging.herokuapp.com/en-US/

## Devices
 - [x] Desktop
 - [x] Tablet
 - [x] Mobile

## Browsers (latest version of each)
 - [x] FF
 - [x] Chrome
 - [x] IE
 - [x] Safari

## Front end functionality to test
 - [x] All links work as expected (including Privacy and Terms in form, all footer links)
 - [x] Navigation works as expected (including "Get Involved" butto

[2017-02-22 23:27] hannahkane commented on #724
Starting a draft QA script in this ticket. More will be added after the Resources page is designed.

Once this script is agreed upon, we can figure out how to divide up the QA process (e.g. by designating individuals to run through the script in different combinations of device/browser/language, to ensure full coverage).

Note: not including any detail about design QA here, because I wasn't sure i

[2017-02-22 23:38] hannahkane commented on #387
@ScottDowne - do you know if this was done?

[2017-02-23 00:24] hannahkane opened #725 "Build campaign homepage and form"
Comps are being finalized in #716

[2017-02-23 00:25] hannahkane opened #726 "Build Resources page"
Comps will be in #722

[2017-02-23 00:45] shaghdoosti commented on #723
I think we should use the same footer for the old site - which I'm assuming have been localized already:

![screen shot 2017-02-22 at 4 44 53 pm](https://cloud.githubusercontent.com/assets/13626384/23239827/54f11928-f91e-11e6-8089-1cf83cf591f5.png)

[2017-02-23 00:52] TheoChevalier commented on #723
It’s fine to reuse the same, but just to clarify, we won’t reuse translations from the old website directly, so if you need to update the text, it’s totally fine too.

[2017-02-23 02:17] TheoChevalier commented on #549
We will probably have to set up a system for localized video subtitles at some point, but this work won’t happen in this ticket, let’s close it

[2017-02-23 02:17] #549 closed, assigned to nobody

[2017-02-23 14:54] beccaklam commented on #722
@Melechuga Is there where I can find the meta data? https://docs.google.com/document/d/1oH0AHjP_SpCtatrmPxkOEJDzz8sUWQ_P5PGBdqCjNgU/edit

[2017-02-23 15:30] beccaklam commented on #722
@Melechuga @lovegushwa @hannahkane Here is the rough wireframe of the Resources page. @Melechuga I'm assuming I'm waiting on the copy to be finalized (re: copy and paste-able?) It would be great if the copy could be as succinct as possible! Here is a link to a redpen for comments: https://redpen.io/rc76666a6333e8a644
![resources desktop wireframe](https://cloud.githubusercontent.com/assets/2097737

[2017-02-23 16:20] ScottDowne commented on #720
@TheoChevalier Yeah, the first letter bit is mostly styled with :first-letter

However, there is a trick to make sure it's always going to line up with x number of line heights. And if things change in the font font size, the letter grows or shrinks. The example is deep in here: https://vimeo.com/180144290 we're trying it out.

And yes, we can setup a repo with `locales/en-US/something.properties`

[2017-02-23 21:12] hannahkane commented on #722
Nice, speedy work, @beccaklam! I left a few comments on the redpen.

[2017-02-23 21:52] hannahkane commented on #716
@beccaklam - we have final designs for this, right? If so, could you drop in final assets here and close the ticket? Thanks!

[2017-02-23 21:53] hannahkane opened #727 "DUE FEB 24: Finalize copy"
Copy should align with existing design for [copyright site](https://github.com/MozillaFoundation/Advocacy/issues/716).

[2017-02-23 21:57] hannahkane opened #728 "DUE FEB 27: Create comp"
Dependent on final copy: #727

Comp should be based on copyright page design, but requires replacing copy, removing language selector, removing "Resources" page in nav, different header image

[2017-02-23 22:00] hannahkane opened #729 "DUE MARCH 1: Build page"
Based on comp in #728

 - [x] Add page content
 - [x] Build form; google sheets integration
 - [ ]  ShareThis workflow

Question for @shaghdoosti about how we expect to use the signatures afterwards. Will we need to deliver them to a target? This could affect how we do the SF integration.

[2017-02-23 22:02] hannahkane opened #730 "DUE MARCH 2: QA"
Staging is here: https://iheartopendata.mofostaging.net/en-US/#about

## Devices
 - [x] Desktop
 - [x] Tablet
 - [x] Mobile

## Browsers (latest version of each)
 - [x] FF
 - [x] Chrome
 - [x] IE (@hannahkane to QA this)
 - [x] Safari

## Front end functionality to test
 - [x] All links work as expected (including Privacy and Terms in form, all footer links)
 - [x] Navigation works as expected (in

[2017-02-23 22:13] hannahkane opened #731 "STRETCH GOAL: Add petition counter/thermometer"
Let's only do this if the copy/design/build processes go faster than expected.

[2017-02-24 01:22] Melechuga commented on #722
Thanks @beccaklam! I also added some comments on the redpen.
I've updated the resources meta page here: https://docs.google.com/document/d/1oH0AHjP_SpCtatrmPxkOEJDzz8sUWQ_P5PGBdqCjNgU/edit#bookmark=id.x8ob7xleazg6

Almost all of the resources are in English, as that's the main language being used in Brussels at the moment. I think it's fine for the title "resources" to be localized, and for the pa

[2017-02-24 02:08] hannahkane opened #732 "DUE FEB 27: Copy and icon for snippet"

[2017-02-24 02:09] TheoChevalier commented on #720
Project enabled in Pontoon https://pontoon.mozilla.org/projects/copyright-campaign/

[2017-02-24 04:39] hannahkane commented on #723
I think there's been an effort to unify footers across all Mofo properties. I know it's been requested by legal (at least the parts that concern legal), but I think it might also be desirable from a design perspective. @lovegushwa - do you have thoughts on that?

@ScottDowne - are you planning to use mofo-ui in this project? If not, maybe this isn't the right time to unify the footer. Given the ti

[2017-02-24 04:42] ScottDowne commented on #723
I'm mostly done the footer. I'm not directly using mofo-ui for this one because of the time, and because the design for this page is a bit different, I just pasted in the bits I needed, and then started to modify it.

[2017-02-24 14:55] beccaklam commented on #722
@hannahkane @Melechuga @lovegushwa @TheoChevalier @ScottDowne Updated wireframe based on Melissa's resource meta page and redpen feedback: https://redpen.io/waf214479b2004f6d1
![resources desktop wireframe](https://cloud.githubusercontent.com/assets/20977376/23308169/38b468cc-fa78-11e6-8644-d09a7a1ac3ba.png)

[2017-02-24 14:58] beccaklam commented on #716
Final assets:
![desktop](https://cloud.githubusercontent.com/assets/20977376/23308009/a3c42504-fa77-11e6-9a42-3a4cd1747324.png)
![tablet landscape](https://cloud.githubusercontent.com/assets/20977376/23308007/a3c15874-fa77-11e6-8316-5f9564591904.png)
![tablet portrait](https://cloud.githubusercontent.com/assets/20977376/23308008/a3c335fe-fa77-11e6-86c2-6c718f3b9c61.png)
![mobile portrait fullpage]

[2017-02-24 14:58] #716 closed, assigned to beccaklam

[2017-02-24 15:05] hannahkane commented on #722
Nice, @beccaklam! Comments in the redpen.

[2017-02-24 15:37] ScottDowne commented on #716
@beccaklam I'm looking for the header image.

[2017-02-24 16:17] hannahkane commented on #727
@shaghdoosti - can you link to the copy here, please?

[2017-02-24 16:20] shaghdoosti commented on #727
Here it is: https://docs.google.com/document/d/1juXdq413TCG-M2WV7qZvJe9IOxO-jsFVCexgSV40c8k/edit?ts=58addd12

[2017-02-24 16:21] shaghdoosti commented on #727
Note: I did my best to keep copy changes as minor as possible - but we had to shift a few things for strategic reasons.

[2017-02-24 16:24] hannahkane opened #733 "Automatic Email Response"
Do people who sign up for either the Open Data Day letter or Copyright campaign get an automatic email afterward?

cc @shaghdoosti

[2017-02-24 16:25] hannahkane commented on #727
Great. Thanks. Closing ticket now.

[2017-02-24 16:25] #727 closed, assigned to shaghdoosti

[2017-02-24 16:26] hannahkane commented on #728
@beccaklam - do you have everything you need for this now?

[2017-02-24 16:31] shaghdoosti commented on #733
I don't think so. @stephaniemcv  @HPaulJohnson is this something we've done before?

[2017-02-24 16:40] stephaniemcv commented on #733
NationBuilder was set up to send a triggered email after signing the Copyright Campaign. I'm not sure with the work of moving Copyright off of NationBuilder if this is still true.

I'm not looped in on the Open Data Day letter, so I'm no help there.

[2017-02-24 16:49] shaghdoosti commented on #733
Ahhh - good to know that was a nationbuilder feature. Given this is a MVP - I don't think we need a triggered email for either.

[2017-02-24 19:35] hannahkane commented on #733
OK, cool. Closing!

[2017-02-24 19:35] #733 closed, assigned to shaghdoosti

[2017-02-24 20:04] Melechuga commented on #722
Sign off complete! Resources meta page here: https://docs.google.com/document/d/1oH0AHjP_SpCtatrmPxkOEJDzz8sUWQ_P5PGBdqCjNgU/edit#bookmark=id.x8ob7xleazg6

Per comments, only documents that are PDFs should have their "format" listed. Only one resource is multilingual (English + German).  All links to organizations should be there; let me know if anything is missing. Not sure what you want to do fo

[2017-02-24 22:04] beccaklam commented on #720
@TheoChevalier Sorry to do this but we need to make some changes to some strings for localization. According to the new brand rules we are trying to stay away from all caps for navigation and headers and use sentence case instead.
Therefore:
1) We need to change 'Copyright Campaign', 'More Resources', 'Get Involved' in the nav to sentence case.
2) We need to change the header for the form 'Ready t

[2017-02-25 03:17] hannahkane commented on #725
Question that just occurred to me - do we need to validate the email address field? If so, do we need an error state mockup?

[2017-02-26 18:39] ScottDowne commented on #722
@TheoChevalier is there anything I should know about this page and l10n? Has the process for translating this begun?

[2017-02-26 20:03] hannahkane commented on #722
Hey @ScottDowne - I emailed on Feb 22 with some notes about this.

Since we don't have a lot of content in non-English languages, and because we identified that we're really targeting our partner orgs with this page, we could choose to make the Resources page available only to users in EN locales. We could still indicate visually the non-EN resources, but we wouldn't localize the page and we would

[2017-02-26 20:34] ScottDowne commented on #722
@hannahkane I think I remember talking about this now.

Yeah, hiding a nav link is no biggie. I'll do that now.

[2017-02-27 10:54] TheoChevalier commented on #720
Thanks, strings updated in https://github.com/mozilla/copyright/commit/6376b24c4223eac3e81567df29938fe07502fd30

[2017-02-27 12:08] TheoChevalier commented on #725
@ScottDowne and I were wondering the same. It seems we can’t just use the HTML “required” attribute, so we will need a custom error message

[2017-02-27 12:13] ScottDowne commented on #725
Yeah. I think we need two errors. Email is required and email is invalid.

[2017-02-27 12:32] WillatMozFdn commented on #725
@ScottDowne -- re: email is invalid, do we have a validation script already on the books somewhere that checks basic syntax of an email address, just to make sure it's in the proper format?  Unfortunately I don't think there's a ton we can do right now to make sure the address is in fact a deliverable one ... it's on my list to get a company like BriteVerify or DataValidation through the vendor ap

[2017-02-27 13:02] ScottDowne commented on #725
I was just going to use the browser email validator. It just checks for
format.

[2017-02-27 14:17] hannahkane commented on #725
cc @beccaklam for error message UI guidance

[2017-02-27 14:59] Melechuga commented on #722
@hannahkane Does this mean that anybody who signs in from a non-en ISP (france, germany, etc) wouldn't see the resources? Or would they have to choose "English" as their language in order to see them?

[2017-02-27 15:02] ScottDowne commented on #722
Yeah. It would mean they have to choose English to see them.

[2017-02-27 16:58] hannahkane commented on #723
If the screenshot Sara posted is from https://www.changecopyright.org/, I'm going to suggest we *don't* use the same info for the Contact Us link. It's a mailto for makerparty@, which doesn't seem right for this campaign. I suggest we use the [Mozilla Contact form](https://www.mozilla.org/contact/), as on the Advocacy site, unless there is an email address specifically for this campaign (or for th

[2017-02-27 17:17] hannahkane opened #734 "QA: "Get Involved" link fail"
If I click on "Get Involved" from the homepage, it correctly scrolls down to the form, but if I click on it from the Resources page, it just takes me to the top of the homepage.

[2017-02-27 17:28] TheoChevalier opened #735 "Potential typo in a string"
One of our localizers spotted a potential typo in this string:

Should it be by signing **up**, or is it okay as is? Note that the button below says “Sign me up”

[2017-02-27 17:58] hannahkane opened #736 "Legal review of sites"
- [x] Open Data Day
 - [ ] Copyright

@shaghdoosti - shall I coordinate with Abigail to conduct legal reviews of both the copyright site and the open data site, or is that something you'll do?

[2017-02-27 18:03] hannahkane opened #737 "QA: improve error state for form validation"
We need UX guidance for how to handle two error states: email field left blank, or email address is invalid.

@beccaklam - can you please advise on design, copy, and any other UX elements? Thanks!

[2017-02-27 18:03] hannahkane commented on #725
Filed a separate ticket for the error state, so we don't lose track of it. https://github.com/MozillaFoundation/Advocacy/issues/737

[2017-02-27 18:08] hannahkane commented on #723
Thinking about "Join the conversation" linking to the Mozilla twitter account—there's a disconnect between the CTA and the destination. I think it should be either:
 * Keep "Join the conversation" but link to a hashtag like #fixcopyright
 * Keep the Mozilla twitter handle, but change the CTA to "Follow"

Thoughts? @shaghdoosti @lovegushwa @beccaklam

[2017-02-27 18:14] hannahkane opened #738 "QA: font and spacing issues"
I'm not sure I can identify the specific problems (perhaps @beccaklam can provide more detail?), but there seem to be some issues with how the font appears on the staging site.

The text feels crowded, especially around the form. There also doesn't seem to be enough of a distinction between the three questions in the main body and the details beneath each.

[2017-02-27 18:19] beccaklam commented on #728
@hannahkane Yes, I'm aiming to have this done by EOD!

[2017-02-27 18:19] hannahkane commented on #728
rad. Thanks!!! 👍

[2017-02-27 18:27] shaghdoosti commented on #723
Hey -

I think changing the contact us link to the mozilla contact form makes sense.

On the second question - my preference would be to keep the twitter handle and change the CTA to follow. @HPaulJohnson does that sound right to you?

[2017-02-27 18:29] TheoChevalier commented on #737
@beccaklam Here are the messages Scott and I planned to use, let me know if this is good to merge or if you want to tweak them a little bit. But once it’s merge, let’s consider them final please :)
https://github.com/mozilla/copyright/pull/24/files

[2017-02-27 18:36] hannahkane commented on #734
This was Chrome-specific, and @ScottDowne, your fix seems to have worked. In Chrome, it still goes to the top of the homepage for a split second, but then jumps down to the form. I wouldn't consider this a blocker, so closing.

[2017-02-27 18:36] #734 closed, assigned to ScottDowne

[2017-02-27 18:41] ScottDowne commented on #734
The "split second, then jumps to the form" seems to be how chrome handles hash urls. I can see the same weirdness when I go here in chrome: https://github.com/MozillaFoundation/Advocacy/issues/734#issuecomment-282808857

[2017-02-27 18:48] shaghdoosti commented on #735
It should be signing up. Where is this typo? Let's get it fixed in the English version too.

[2017-02-27 18:56] TheoChevalier commented on #735
Thanks, will push the fix with the other string changes

[2017-02-27 18:57] lovegushwa opened #739 "Design: Header + Social share for open data day"
- [X] Header image
- [x] Social share for share progress

Design a social share for open data day, will be shared by users via share progress.
We can repurpose this snippet copy for a post. https://docs.google.com/a/mozilla.com/document/d/1pqJN23mj3jeNJmdiQr97Q8vqrXQ_0kAPgfo0lqgMaHo/edit?usp=sharing

CC @natalieworth  @hannahkane @HPaulJohnson @shaghdoosti

[2017-02-27 20:27] #206 closed, assigned to stephaniemcv, vojtechsedlak

[2017-02-27 20:47] hannahkane opened #740 "Share This copy for Open Data Day"
@shaghdoosti  - can you please provide copy for the Open Data Day "share this" feature on the site? Possible to get this by tomorrow?

 - [x] Email (subject line, body)
 - [x] Twitter (tweet)
 - [x] Facebook (title, description)

[2017-02-27 20:48] hannahkane opened #741 "Share Progress copy for Copyright Campaign"
@shaghdoosti   - can you please provide copy for the Copyright campaign "share this" feature on the site, by end of week?

 - [x] Email (subject line, body)
 - [x] Twitter (tweet)
 - [x] Facebook (title, description)

[2017-02-27 20:54] hannahkane opened #742 "QA: Contact and Share This icons missing on staging"
Is this a known issue? Do we have the icons?

cc @ScottDowne @beccaklam

[2017-02-27 21:01] beccaklam commented on #742
@hannahkane Yes I need to get Scott the icons by EOD, but we're aware of this issue.

[2017-02-27 21:05] beccaklam commented on #728
Hi @hannahkane here is the desktop comp for the Open Data Page. It looks a bit different because we need to use Arvo (typeface) instead of Tesla. It's not as great but it will have to do. This is the redpen for comments: https://redpen.io/p/ma1f0579fd364383ec Also, @ScottDowne you can reference this comp to fix the font/spacing issues for ticket #738. Working on getting tablet and mobile out for t

[2017-02-27 21:39] Melechuga commented on #722
Would it be possible to add a line that says "See more resources in English" that is both localized and links to the /en version of the resources page? That way people who are accessing the localized site know that there are more resources available in English.

cc @beccaklam @hannahkane