[2016-05-05 19:49] brettgaylor opened #1 "Create project brief for localization"
Including languages to be covered and scope of localization.

[2016-05-05 19:49] brettgaylor opened #2 "Upload videos to be subtitled to Amara"

[2016-05-05 19:50] brettgaylor opened #3 "Acquire voice talent for localized languages"

[2016-05-05 19:51] brettgaylor opened #4 "Investigate L10N solutions for landing pages"
cc @ScottDowne - are we currently using any frameworks for our react-based landing pages?  ie one that would work on the /encrypt page?

[2016-05-05 19:52] brettgaylor opened #5 "Design 1 video landing page"
Create designs that include one video and petition page for localized campaign

[2016-05-05 20:16] ScottDowne commented on #4
TLDR Yea, react-intl + pontoon is used heavily on donate, which is likely our most localized project, and only localized project written in react that I know of. This has been battle tested in donate for last year's end of year campaign.

[react-intl](https://github.com/yahoo/react-intl) is just a framework, nothing fancy.

This is [pontoon with donate](https://pontoon.mozilla.org/en-GB/fundraisin

[2016-05-05 20:17] shaghdoosti opened #6 "Timeline: 4 part email series."
May 18 --- Update software

May 25 --- File valut/bit locker

May 30 -- Signal? Codemoji?

June 6 -- Add on?

@lovegushwa @valianttry @stephaniemcv

[2016-05-05 20:23] HPaulJohnson opened #7 "Ship Codemoji"
**Launch Checklist:**
- [x] TODO delivers final changes to MoFo (5/20)
- [x] Optimize landing page version for Codemoji traffic #11 (5/20)
- [x] @ScottDowne / @cadecairos move Codemoji to advocacy.mozilla.org website #38 (5/23)
- [x] QA Codemoji and landing page (5/23)
- [ ] User testing via email #26 (~5/26)
- [ ] Evaluate feedback from email test & determine next steps (5/31)
- [ ] Begin broader

[2016-05-05 20:25] shaghdoosti opened #8 "Design landing page for software update email"
This email is scheduled for send on May 18.

There is already a landing page that needs to be updated for this campaign. Here is the link: https://petitions.mozilla.org/stay-secure/

Changes that it needs:

-Petition page needs to be simplified to a button that says 'I updated!'
-It would be great to get some design to point out/emphasize the instructions at the bottom of the page.
-The header sho

[2016-05-05 20:29] valianttry opened #9 "DRAFT copy for fundraising email follow-up to encryption campaign"
Andrea is working on a draft here:
https://docs.google.com/document/d/1n7PkKT75hLcNzfwkb1ljaWESXSKI96Utn2vqgVOj-Ms/edit

I'll update this ticket when it's ready for review and approvals! 💰
#262 is where a callout design is happening

[2016-05-05 20:29] shaghdoosti opened #10 "Finalizing email re updating software"
This email is schedule to go out on May 18, therefore needs to be finalized by May 11 and approved by May 15.

@mmika is in charge of drafting the email with Sara and @valianttry as support. Draft email is below. @stephaniemcv for reference.

https://docs.google.com/document/d/1j5E86fgAE3C3eM65s0S1ihGd3v79wnkeTxhzNRFSv9U/edit?ts=572ba5a5

[2016-05-05 20:31] HPaulJohnson opened #11 "Build: Landing Page Optimization for Codemoji Traffic"
Existing /encrypt landing page was originally optimized for "qualified" traffic, largely email. We'd like to see what tweaks we can make for site visitors who have far less context about the campaign or even encryption. This traffic will come from "learn more" links in Codemoji as well as other traffic sources the Durable Team is developing.

Main tweaks are:
- Some subhead/explainer text that sho

[2016-05-05 20:33] HPaulJohnson opened #12 "Promotional Plan for Codemoji"
The goal is to have Codemoji in-market by end of Q2. This includes a testing phase and a wider promotional phase which we will be working on in conjunction with MoCo social and durable teams.

Kevin has already drafted a Comms plan to support a public launch:

https://docs.google.com/document/d/1iY6OkuVDSJgUx0QSuvjbIQpeRrb0SjPr81Kwyyd4jOA/edit

We should revisit as the tool as developed and look t

[2016-05-05 20:34] shaghdoosti opened #13 "Design landing page for filevault/bitlocker email"
This email is scheduled to go out on May 25.

It would be good to have a button that says I did it. Aside from that this page is mostly instructional. Draft copy is below:

https://docs.google.com/document/d/1jJE28HGJWEXWo45rgy6dJBSq7jNcO_a2oVI8xu5YlEE/edit

@lovegushwa

[2016-05-05 20:36] shaghdoosti opened #14 "Build landing page for filevault/bitlocker email"
This email is scheduled to go out on May 25.

Drafts are here:

https://docs.google.com/document/d/1jJE28HGJWEXWo45rgy6dJBSq7jNcO_a2oVI8xu5YlEE/edit

Would be good to look at this with fresh eyes. @mmika @valianttry @stephaniemcv

[2016-05-06 19:16] brettgaylor commented on #1
A draft is here:
https://docs.google.com/document/d/1oP44RxsZ29GT0pIHCOZ8IYq46uP0BOMciPZ4riIEvjc/edit#

Looking for feedback (comments in google doc are fine): @valianttry @shaghdoosti @HPaulJohnson @lovegushwa

[2016-05-06 19:54] brettgaylor commented on #2
Uhm, the community has already done this!
https://amara.org/en/videos/HLvJ2dj0vg5U/es/1253548/

[2016-05-06 20:00] brettgaylor commented on #5
@lovegushwa @natalieworth do y'all want to take this design ticket in parallel with other landing page optimizations in https://github.com/MozillaFoundation/Advocacy/issues/11

[2016-05-06 21:18] brettgaylor commented on #4
Great, thanks for all that detail.

This will likely be just for one language (Spanish), and for just a few pages (a landing page and a pledge page).

So once we have the design from https://github.com/MozillaFoundation/Advocacy/issues/5 we can start to scope out a new build that includes translation.  Does that seem like the right steps?

[2016-05-06 21:34] brettgaylor commented on #3
Thinking of using this guy:

https://www.voices.com/people/jordi

Can't seem to find a spanish sam gregory sound on voices.com.  Will keep looking.

[2016-05-06 22:19] brettgaylor commented on #3
https://voicebunny.com/search/samples/DC3EP4/6819/
https://voicebunny.com/search/samples/17ADDC8/1239/
https://voicebunny.com/search/samples/17ADDC8/68265/

[2016-05-06 22:35] valianttry commented on #3
For reasons I can't articulate well, i like this one: https://voicebunny.com/search/samples/17ADDC8/1239/#
He's closest to "silly grandpa" which is how I think about the guy that did the EN version.

Also, my opinion should not matter much. ??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-05-09 18:47] ScottDowne commented on #4
@brettgaylor works for me.

[2016-05-10 16:32] HPaulJohnson commented on #7
Final set of changes outlined here:
https://docs.google.com/presentation/d/1J7L6JfLgSnoZtufbUnBjA7QmvyWTgIp_uMH2XuEDrO4/edit#slide=id.gd58133b56_0_69

These have have been reviewed with TODO and we are processing change order now. Aiming to have this live by 5/25.

[2016-05-10 21:14] valianttry commented on #8
@lovegushwa any update on this? I'm going to take over this bug while @shaghdoosti goes on PTO starting tomorrow 😄

[2016-05-11 16:45] mmika commented on #8
http://mzl.la/update goes to a page with this url https://petitions.mozilla.org/stay-secure/
We should perhaps adjust the url and take the word 'petitions' out? -- it is confusing.

[2016-05-11 17:42] brettgaylor opened #15 "Investigate DE/ES snippets"

[2016-05-11 19:21] brettgaylor commented on #5
As discussed in kickoff: closing because we have this with
https://advocacy.mozilla.org/encrypt/hybrid/4

[2016-05-11 19:21] #5 closed, assigned to brettgaylor

[2016-05-11 19:22] brettgaylor commented on #4
Closing and will file implementation ticket

[2016-05-11 19:22] #4 closed, assigned to brettgaylor

[2016-05-11 19:26] natalieworth opened #16 "Design landing page for software update email"
Design ticket for the 1st landing page of the software email with opt-in. Based off of this existing Mozilla page: https://petitions.mozilla.org/stay-secure/

[2016-05-11 19:26] brettgaylor opened #17 "Implement React-intl in advocacy.mozilla.org for localization page"
The page we'll need to localize is this one:
https://advocacy.mozilla.org/encrypt/hybrid/4

So that's the page we should set up L10N for

[2016-05-11 19:27] natalieworth opened #18 "Build landing page for software update email"
Build ticket for the 1st email landing page (softare update)

cc @ScottDowne

[2016-05-11 19:34] natalieworth opened #19 "DRAFT copy for software email for encryption campaign"
Email production and content for software email for encryption campaign:
Design is here: #16
Build is here: #18

cc @valianttry @shaghdoosti @mmika

[2016-05-11 19:37] natalieworth opened #20 "DRAFT copy for filevault/bitlocker email for encryption campaign"
Email production and content for software email for encryption campaign:
Design is here: #13
Build is here: #14

cc @valianttry @shaghdoosti @mmika

[2016-05-11 19:39] natalieworth commented on #16
Closing as it's a repeat of #8

[2016-05-11 19:39] #16 closed, assigned to natalieworth

[2016-05-11 19:40] natalieworth commented on #8
cc @lovegushwa

[2016-05-11 19:46] natalieworth commented on #14
cc @ScottDowne

[2016-05-11 19:47] natalieworth commented on #8
Drafts are here:
https://docs.google.com/document/d/1jJE28HGJWEXWo45rgy6dJBSq7jNcO_a2oVI8xu5YlEE/edit

[2016-05-11 19:48] ScottDowne opened #21 "Integrate Pontoon into advocacy.mozilla.org for localization page"

[2016-05-11 19:49] ScottDowne commented on #17
Splitting this into two sub tasks: https://github.com/MozillaFoundation/Advocacy/issues/21

[2016-05-11 19:49] natalieworth commented on #13
Moved content from this ticket: https://github.com/MozillaFoundation/encryption_campaign/issues/241
To follow up our discussion our first encryption tip is for people to use FileVault and the PC version. Right now -- we want to send them to a landing page that has instructions for a PC and Mac as well as a button that says 'I did it'.

If people press the button they will then land on a share page

[2016-05-11 21:14] natalieworth commented on #8
@valianttry do you have the power to change or add a permission for me to access the file above ^ I'm currently not able to view it

[2016-05-11 22:27] valianttry opened #22 "Survey results: Encryption"
Hi @adamlofting and @shaghdoosti  --- I was sharing the results of our before/after survey in our "New Hire Onboarding" presentation with Policy. I think it would be a great blog post to: 1) Share this, and put it in context that helps understand if these data are something to celebrate or if we have a lot more work to do; and 2) reinforce our thinking about KPIs and how important measurement is f

[2016-05-12 00:09] HPaulJohnson commented on #11
Held kick-off with @lovegushwa and @natalieworth today. We talked about the minimum requirements and various options for getting this done. Based on this conversation, it's likely we will make some tweaks to /hybrid/2 for this purpose. More meeting notes here:

https://docs.google.com/document/d/1lAFUZuHh8gofx9rTxVtNGbtkECdNmHLMcWyvUZfpHLM/edit

Next steps: Jordan and Natalie to discuss scope of w

[2016-05-12 05:25] valianttry commented on #19
Updated draft is here:
https://docs.google.com/document/d/1j5E86fgAE3C3eM65s0S1ihGd3v79wnkeTxhzNRFSv9U/edit?ts=572ba5a5

[2016-05-12 05:26] valianttry commented on #8
@natalieworth you should have access now, but that email will need some more work, FYI. That's in #20

[2016-05-12 05:29] valianttry commented on #8
OK I worked on the email copy ( #19 ) and made some notes on the page design, below

Notes:
-- This is going to our email list, so the email signup form is obsolete. It just needs a button "I Updated!"
-- The most important content on this page is the list of software sites, which is too far down on the page. Any way to lift those up or at least tighten white space so there's no scrolling needed?

[2016-05-12 05:36] valianttry opened #23 "Tweaks needed to social share for "update your software" email"
Minor updates needed to the social share stuff for this campaign:

@KevZawacki I suggest we tweak this copy so it says "Protect yourself and safeguard privacy+security on the Web - update your software. I just did with @mozilla’s help: http://mzl.la/update"

![share_a_link_on_twitter](https://cloud.githubusercontent.com/assets/9830371/15204985/9327e538-17c8-11e6-9802-79c22d1f24b4.png)

cc @HPaulJo

[2016-05-12 05:38] valianttry commented on #23
@KevZawacki For Facebook, I suggest we remove the Firefox logo, the rest of it seems OK. Thoughts?:

![post_to_facebook](https://cloud.githubusercontent.com/assets/9830371/15205045/f22282d2-17c8-11e6-9f43-8ee40d9f8b02.png)

cc @HPaulJohnson

[2016-05-12 05:38] valianttry commented on #23
@HPaulJohnson is it possible to setup ShareProgress for this?

[2016-05-12 06:32] valianttry commented on #9
@stephaniemcv I just worked on the draft more -- I shipped it off to @msurman for a quick look to make sure the tone/approach is on point, then we can push through review and approvals asap. Launch Friday morning would not be terrible. Call outs look so good!

[2016-05-12 06:58] valianttry commented on #9
OK Mark gave it a thumbs up, @KevZawacki and @brettgaylor can you please look over this draft by 11am PST / 2pm EST Thursday? ??
https://docs.google.com/document/d/1n7PkKT75hLcNzfwkb1ljaWESXSKI96Utn2vqgVOj-Ms/edit

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-05-12 07:17] valianttry opened #24 "Evaluate bill to mobile vendor"
@ScottDowne Looks like Bango is used by Firefox and other major companies:
http://bango.com/case-studies

Maybe worth checking out. For instance, could we trigger a mobile-optimized form that offers carrier billing as an option for people who access donate.mozilla.org on their phones?

[2016-05-12 07:30] valianttry opened #25 "Enable donation by Bank Transfer (P1: DE, FR)"
@stephaniemcv wrote an awesome case for making bank transfer happen, including estimated revenue loss without it:
https://docs.google.com/document/d/1TXQOQk7VsLctDWaRtq-nESoH5GS55X1MPmGKfbdv7Yc/edit

[2016-05-12 10:14] ScottDowne commented on #24
It looks very promising.

[2016-05-12 10:43] KevZawacki commented on #23
@valianttry 👍 to both updates

[2016-05-12 10:55] KevZawacki commented on #9
@valianttry Gladly -- just added my thoughts. Looks great!

[2016-05-12 16:12] natalieworth commented on #19
@valianttry Thanks, I'm also wondering which template you were wanting to use for the software update email?

[2016-05-12 16:46] natalieworth commented on #8
@HPaulJohnson After someone clicks 'I updated' could we have the option after for a social share? Currently people get redirected to a facebook or twitter social share option after hitting the sign-up on the original petition page:
<img width="1416" alt="screen shot 2016-05-12 at 9 24 37 am" src="https://cloud.githubusercontent.com/assets/14876567/15222668/b2f8d9f0-1825-11e6-8889-11213ce9a6e6.png"

[2016-05-12 16:52] HPaulJohnson commented on #23
I'd love to use Share Progress here. I'm talking to @ScottDowne later to bring him up to speed on the tool so I'll discuss this specific implementation.

Will this page live on advocacy.mozilla.org site?

[2016-05-12 16:52] HPaulJohnson commented on #8
@natalieworth we are going to see if we can implement Share Progress here. Work happening in #23 on that.

[2016-05-12 17:48] brettgaylor commented on #1
Updated and approved!

[2016-05-12 17:48] #1 closed, assigned to brettgaylor

[2016-05-12 17:51] brettgaylor commented on #2
Done!

[2016-05-12 17:51] #2 closed, assigned to brettgaylor

[2016-05-12 17:52] mmika commented on #19
software update email draft:
https://docs.google.com/document/d/1sWBgZZTj-9FrEzP3oX-pTCa48IqxkVNgQ776QqQ5Wc4/edit

@lovegushwa @natalieworth @stephaniemcv

[2016-05-12 18:10] mmika commented on #10
new software update email draft:
https://docs.google.com/document/d/1sWBgZZTj-9FrEzP3oX-pTCa48IqxkVNgQ776QqQ5Wc4/edit

@lovegushwa @natalieworth @stephaniemcv

[2016-05-12 20:27] natalieworth commented on #8
@valianttry I have a couple drafts for this page up on red pen: https://redpen.io/p/zh695f4ba062afbca7
The first 3 options are using the existing template style and design. The last 2 alternatively use the existing colours and consistent font with the encryption campaign work.

cc @lovegushwa

[2016-05-12 20:55] HPaulJohnson commented on #23
Talked to @ScottDowne and we can implement Share Progress for this. I will work with @KevZawacki to come up with a few copy variations for testing and then add the final Share Progress code in ticket #18

[2016-05-12 21:26] valianttry commented on #9
Chris Riley is looking at it right now

[2016-05-12 21:33] HPaulJohnson commented on #23
Good news: we'll be able to do some message optimization here with Share Progress. I drafted a few variations for FB and Twitter. @KevZawacki can you take a look, make edits and add additional ideas? I'll plan on creating the buttons for tomorrow.

https://docs.google.com/a/mozilla.com/document/d/14kZnFlcMb3mwaaJPgViNsYOKMrR9XWKyhfiIEmKOEn0/edit?usp=sharing

One question: we probably want a hashta

[2016-05-12 21:39] valianttry commented on #9
@stephaniemcv i know you're out of town... what's your best guess on test + ship schedule for this?

[2016-05-12 21:42] valianttry commented on #10
This work is being tracked in #19 (e.g. that ticket will simply be closed when final copy completes approvals)

[2016-05-12 21:42] #10 closed, assigned to nobody

[2016-05-12 21:43] valianttry commented on #19
@KevZawacki and @brettgaylor can you review this draft as soon as you can?
https://docs.google.com/document/d/1j5E86fgAE3C3eM65s0S1ihGd3v79wnkeTxhzNRFSv9U/edit?ts=572ba5a5

[2016-05-12 21:50] valianttry opened #26 "DRAFT Codemoji email: Initial test to advocacy list segment"
Audience Segmentation: 50% active advocates; 50% nonAA
Audience size = 100,000
Audience exclusions: "Inactives" on the list
Signor: Sara Haghdoosti
Launch Date: 6/2/2016
Final Copy Due: Monday 5/3
Base URL:
ExactTarget Template:
Approvers:  Andrea W /   Kevin Z  /   Chris R /  Brett G /  Mark S /  Stephanie M

**This ticket will be closed once the draft is approved**

[2016-05-12 21:51] valianttry opened #27 "DESIGN Codemoji email assets"
Draft email language ticket: #26

[2016-05-12 21:55] valianttry commented on #23
thoughts:
#iupdated
#besafeupdate
#updated

[2016-05-12 22:00] valianttry commented on #23
#dontwaitupdate << WINNER 😄 j/k

 but IT RHYMES

[2016-05-12 22:03] HPaulJohnson commented on #23
thanks, @valianttry

I really like #besafeupdate but doing a twitter search for all of these, it looks like #iupdated was used in the jan/feb campaign. Since there's quite a few tweets (related to mozilla/software updates) already out there using it, I say we just build off it.

So, my vote is #Iupdated unless someone comes up with a clever ryhme ;)

[2016-05-12 23:16] HPaulJohnson commented on #7
added launch checklist in project overview comment above ^

[2016-05-13 11:08] KevZawacki commented on #19
@valianttry Looking good! Made only a few minor changes, like ensuring dashes are consistent.

[2016-05-13 11:28] KevZawacki commented on #23
@HPaulJohnson Just added thoughts and edits to the doc.

[2016-05-13 13:26] ScottDowne commented on #25
Worth reading material:
1. https://support.stripe.com/questions/accepting-ach-payments-with-stripe
2. https://stripe.com/ach-payments/terms
3. https://stripe.com/blog/accept-ach-payments

The third one is just a blog, but it goes into some detail. I also included it because of the date, Jan 2016, which means ach payments might be a new thing for stripe.

[2016-05-13 13:28] ScottDowne commented on #25
This is the dev doc for ach payment processing: https://stripe.com/docs/ach

Doesn't `*look*` like it's integrated with stripe checkout, so maybe we'll need to do a bit of dev on this.

It's also probably worth asking a stripe rep for advice on this?

[2016-05-13 14:03] ScottDowne opened #28 "document optimizely and overall ab test setup, creation, and takedown process"
This is spawned from my finding in https://github.com/mozilla/advocacy.mozilla.org/issues/136

I need to put them somewhere.

I'm guessing this can live in advocacy.mozilla.org's  readme initially, and a similar one for donate.mozilla.org. Once the process for both sites (and other sites) we should move it to a more central documentation for all our advocacy work that's not specific to certain pro

[2016-05-13 14:28] ScottDowne commented on #13
Build ticket is here https://github.com/MozillaFoundation/Advocacy/issues/14

[2016-05-13 14:29] ScottDowne commented on #8
Build ticket is here: https://github.com/MozillaFoundation/Advocacy/issues/18

[2016-05-13 15:57] stephaniemcv commented on #9
Build and test today, ship Monday, that way we could still get the tip 1 out Thurs/Friday. I'm not seeing any other email sends this week. But will confirm

[2016-05-13 16:37] HPaulJohnson commented on #23
thanks, @KevZawacki - I think we are good to go here. @natalieworth we will need updated graphics for FB/Twitter cards and then we can create buttons.

[2016-05-13 16:38] HPaulJohnson commented on #23
also, @valianttry or @ScottDowne do we know the URL of the page we want shared? I'll need that to setup the Share Progress buttons too.

[2016-05-13 18:13] natalieworth commented on #8
@valianttry Went over this with @lovegushwa and we are proposing this option for development:
https://redpen.io/ptd29b247f9f0e8626
- we updated the orientation of the page so the update links are higher and on the left side, with the 'Tell us you updated' and 'I updated!' button on the right side.
- updated the footer to match the newer existing one on the site
- email is also currently using sand

[2016-05-13 19:15] KevZawacki opened #29 "Plan external comms for encryption add-on"
Early comms plan for encryption add-on, [here](https://docs.google.com/document/d/17mMsUOeaAA8SJfYVCcJRdO_FlcMMyuSmNtJKoAjUeNI/edit). Feedback and suggestions welcome.

cc @HPaulJohnson @lovegushwa

[2016-05-13 19:22] KevZawacki commented on #26
@valianttry @shaghdoosti

Happy to lend a hand here, if needed!

I can draw from the Codemoji [key messages](https://docs.google.com/document/d/1iY6OkuVDSJgUx0QSuvjbIQpeRrb0SjPr81Kwyyd4jOA/edit#bookmark=id.gkkwelfaa2ha) and [draft blog post](https://docs.google.com/document/d/1LR4cnKrMjRh8Ht2_t0AJQzjrXruFg3x-UHVPjOxqLN0/edit).

[2016-05-16 13:45] ScottDowne commented on #8
@natalieworth this looks good and is a quick build.

One question is have we thought about mobile yet? I can see a simple solution of stacking the left and right blocks being problematic in that the left panel would take up the whole screen pushing the button off the screen.

[2016-05-16 14:05] ScottDowne commented on #18
@shaghdoosti or @valianttry Who if not either of you would be the one to decide on the url for this?

Example: `http://advocacy.mozilla.org/update` or `http://advocacy.mozilla.org/campaign/update` or something less generic like `http://advocacy.mozilla.org/stay-secure`

[2016-05-16 17:14] natalieworth commented on #8
@valianttry Can you review this before build? https://redpen.io/ptd29b247f9f0e8626

[2016-05-16 17:21] HPaulJohnson commented on #18
@ScottDowne can you make sure this code snippet is included on the final landing page:

 `<script` `src="//c.shpg.org/352/sp.js"></script>`

This will allow for us to use Share Progress to be used on this page. Once the the final URL is settled upon, I can generate the button code (which will also need to be included).

[2016-05-16 17:57] ScottDowne commented on #18
@HPaulJohnson done, however, is it something I can include on the page globally even if it's not being used?

[2016-05-16 17:58] HPaulJohnson commented on #18
@ScottDowne yea- that code snippet can and should be used globally on all the advocacy pages.

[2016-05-16 17:59] ScottDowne commented on #18
perfect

[2016-05-16 20:58] lovegushwa opened #30 "Codemoji user journys for test"

[2016-05-16 22:18] HPaulJohnson commented on #30
next step: build out a few prototype journeys from promotion to codemoji to landing page. See slide 4 from this overview deck:

https://docs.google.com/presentation/d/1hEwLZNS_b-XnRGmtqyTGzB9zzZN-VX8neFO85mmRHMo/edit#slide=id.gd58133b56_0_69

[2016-05-16 23:09] lovegushwa commented on #30
@HPaulJohnson will dig into 2 journeys: snippet and social.

[2016-05-16 23:11] natalieworth opened #31 "Share graphic for encryption landing page social (Share progress)"
Create a graphic for the share image on social media (twitter and facebook).

[2016-05-17 00:21] natalieworth commented on #19
@stephaniemcv I'll post the 600 x 300 image tomorrow morning! Just working on it this afternoon and have a few adjustments.

[2016-05-17 14:03] ScottDowne commented on #18
Tracking a list of things I still need to do. I already started to get a head start.

P1 items:
- [x] hook up ga tracking. Super important and critical to this page.
- [x] thank you page and share...
- [x] design qa
- [ ] copy qa
- [ ] og tags

P2 items:
- [x] mobile, it's actually pretty good out of the box, but could be optimized if time permits.
- [x] finish and test share progress
- [x] get fi

[2016-05-17 14:04] ScottDowne commented on #18
@natalieworth @lovegushwa I put this together as a quick copy of the current designs so we can get a better sense what it's like when built: https://warm-harbor-75615.herokuapp.com/stay-secure/

[2016-05-17 14:14] stephaniemcv commented on #19
@natalieworth Sounds good!

[2016-05-17 14:56] stephaniemcv opened #32 "Fundraising email review"
We'll be comparing conversion across three segments -
- Active Advocates who opened at least one
- Opened at least one & joined prior to February 17
- Anyone who joined the list after February 17

Please review the email copy, test the link and survey and note any feedback in this ticket.

[2016-05-17 16:31] natalieworth commented on #23
@HPaulJohnson Are there any share progress design assets we need for this?

[2016-05-17 16:43] ScottDowne opened #33 "encrypt page isn't tracking react-router page views"

[2016-05-17 16:54] HPaulJohnson commented on #18
@ScottDowne i created buttons using the generic /encrypt URL. I'll need to go back and edit with the final URL before we go live. Also, we'll need a URL where we are hosting the Facebook share graphic so I can update Share Progress with that as well. Here's the FB/Twitter button snippets:

Twitter:
`<div` class='sp_167697 sp_tw_small' `></div>`

Facebook
`<div` class='sp_167698 sp_fb_small' `></di

[2016-05-17 17:01] ScottDowne commented on #18
@HPaulJohnson the url is going to be https://advocacy.mozilla.org/stay-secure/

[2016-05-17 17:43] natalieworth commented on #19
@stephaniemcv I have the email image here:
One is 600x300 at 72 dpi, and the other is 600x300 @2x for retina. Let me know if you need anything additional for the email. Thanks :)
72dpi: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0ZVpZR1draUUtN2c/view
144dpd (@2x): https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0RjdZNHlJczRadkE/view

[2016-05-17 17:59] natalieworth commented on #31
Facebook and Twitter share progress assets here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0bVlrZkcwODVNc1k&usp=drive_web&ddrp=1#

[2016-05-17 18:07] natalieworth commented on #23
@HPaulJohnson Have updated fb/ twitter card illustrations for this share here (based off the email illustration):
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0bVlrZkcwODVNc1k&usp=drive_web&ddrp=1#

cc @ScottDowne @lovegushwa

[2016-05-17 18:16] natalieworth commented on #20
@stephaniemcv I was going to start on this earlier if that works for you. Do you have an idea yet of the template we're going to be using?

[2016-05-17 19:15] natalieworth commented on #18
@ScottDowne A few design updates for the build site:
<img width="1168" alt="screen shot 2016-05-17 at 11 47 36 am" src="https://cloud.githubusercontent.com/assets/14876567/15335985/35bc5ed2-1c29-11e6-9639-f9dcd3f0406e.png">
- A: Increase pt/px size to 18 and increase weight to 400 for update titles
- B: Change +'s to #f16160 colour
- C: Is it possible to remove the extra white space at the bottom?

[2016-05-17 19:27] natalieworth commented on #18
@ScottDowne And just some changes for the drop down list too:
<img width="1169" alt="screen shot 2016-05-17 at 12 20 44 pm" src="https://cloud.githubusercontent.com/assets/14876567/15336118/cfa8ca1c-1c29-11e6-9036-f374f6b5ccb6.png">
- 1) Change font weight to 300, 2) If it's possible, could you also add a bit more spacing between the number list and where the text starts:
  <img width="696" alt="s

[2016-05-17 20:08] lovegushwa commented on #32
@stephaniemcv can you add a little more padding around the call-out image? (left and bottom)
Even just the bottom of the image might be enough. It's a little tight to the text.

<img width="1051" alt="screen shot 2016-05-17 at 12 02 58 pm" src="https://cloud.githubusercontent.com/assets/12228435/15337390/58a038a4-1c30-11e6-9001-961c41ccb8c4.png">

[2016-05-17 20:10] valianttry commented on #32
1. Update all URLs to:
   https://donate.mozilla.org/en-US/?presets=100,50,25,15&amount=25
   (These will be higher-average donors, and we should always try to have a present until we test it and find that's not a good thing :)
2. Add Mark's title (check old emails to see how we've treated his signature before. We should stay consistent.)
3. There's a lot of space between the salutation and line 1

[2016-05-17 20:11] valianttry commented on #32
Oh, why doesn't it say it's from Mark Surman, Mozilla? vs. just "Mozilla Foundation" in my inbox:

![_test_the_numbers_don t_lie_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/15337483/dffc2970-1c30-11e6-900e-5b528096f571.png)

[2016-05-17 20:16] HPaulJohnson commented on #18
@ScottDowne here's the metadata for this page (for FB/Twitter defaults):

`<meta` property="og:type" content="website"/>
`<meta` property="og:title" content=“Update Your Software“/>
`<meta` property="og:site_name" content=“Learn about encryption - Mozilla Advocacy"/>
`<meta` property="og:url" content="https://advocacy.mozilla.org/stay-secure/"/>
`<meta` property="og:description" content="Keep all

[2016-05-17 20:28] natalieworth commented on #18
Page 2 of the software email needs updated design and copy. Here is the original:
<img width="1439" alt="screen shot 2016-05-17 at 12 30 06 pm" src="https://cloud.githubusercontent.com/assets/14876567/15338090/344887ba-1c33-11e6-8b5a-baeb389c4b70.png">

This is the one I have updated so far:
<img width="890" alt="screen shot 2016-05-17 at 1 13 04 pm" src="https://cloud.githubusercontent.com/assets

[2016-05-17 20:36] natalieworth commented on #18
@ScottDowne Page 2 design here:
<img width="983" alt="screen shot 2016-05-17 at 1 35 27 pm" src="https://cloud.githubusercontent.com/assets/14876567/15338360/6bc51f68-1c34-11e6-87cd-541bc7b72814.png">

[2016-05-17 20:56] lovegushwa commented on #18
QA update your software:
- [ ] Windows
- [x] Mac
- [x] GNU/Linux
- [x] iPhone
- [x] Android
- [ ] Browsers

[2016-05-17 20:59] lovegushwa commented on #18
Android:

@shaghdoosti I would change the language for part 2 and 3 of the Android update instructions to the following:
1. Tap the Menu icon (three horizontal line icon in the top left) and go to My apps and games.
2. Tap Update all, or update apps individually. Apps with an update available are labeled "Update."

[2016-05-17 21:03] natalieworth commented on #18
Tested the Mac and iPhone updates on my own devices and both sets of instructions worked for me. I'm assuming since the browser links all open to independent instructions for each application, that we can't have that much control over it other than making sure the links are up to date.

[2016-05-17 21:03] lovegushwa commented on #18
@shaghdoosti about Browsers, not sure this IE link is about updating:
http://pcsupport.about.com/od/browsers/fl/internet-explorer-version.htm

[2016-05-17 21:04] KevZawacki commented on #18
Just reviewed. Copyedits and QA for [this page](https://warm-harbor-75615.herokuapp.com/stay-secure/) include:

**Right box**:
- First sentence: Change "makes" to "would make"
- Third sentence: Change "Letter" to "Letting"
- Third sentence: I suggest removing "in the end"
- Fourth sentence: I suggest breaking it into two sentence. So, it would read, "Mozilla cares about your privacy and security e

[2016-05-17 21:11] shaghdoosti commented on #18
@lovegushwa I'm happy with the copy edits you suggested.

[2016-05-17 21:13] stephaniemcv commented on #32
@lovegushwa - added padding
@valianttry  - 1-3 is done.
Actually none of our sender profiles have Mark's name. Do you want me to build one?

[2016-05-17 21:15] valianttry commented on #32
@stephaniemcv not critical... but i wonder if it would increase open rate. Let's send as is now, but let's look into it?

[2016-05-17 21:44] natalieworth commented on #20
@valianttry @shaghdoosti Do we have copy yet too for the landing page? If this is a bit shorter (with only filevault/ bitlocker) it could be interesting to explore instructional illustrations paired with the content if I get time?
Is it possible to get content by this Thursday or Friday? Was hoping to ship the final design a bit earlier so Scott has more time for the build if we're shipping next W

[2016-05-17 22:15] natalieworth commented on #18
@ScottDowne A few adjustments for page 2 here:
<img width="1358" alt="screen shot 2016-05-17 at 3 08 25 pm" src="https://cloud.githubusercontent.com/assets/14876567/15341061/4e074746-1c41-11e6-8e28-435dcd4fdb91.png">
- A: Increase the top padding (or margin?) to 90px. I think it feels a bit too heavy at the top right now
- B: 1) Is is possible to change so the facebook box is on the left side and

[2016-05-17 23:11] ScottDowne commented on #18
This is where I got by the end of the day: https://warm-harbor-75615.herokuapp.com/stay-secure/

I think I got everything found above, but if I missed something, let me know!

[2016-05-17 23:33] natalieworth commented on #18
@ScottDowne Thanks, this is looking great. Just one update would be the type underneath the title links:
<img width="373" alt="screen shot 2016-05-17 at 1 43 36 pm" src="https://cloud.githubusercontent.com/assets/14876567/15342787/ecb80258-1c4c-11e6-995f-5fb75dd35114.png">
Can we change the numbers and list to a lighter weight (300 would work). Like how it is here:
<img width="382" alt="screen sho

[2016-05-17 23:51] natalieworth commented on #18
@ScottDowne One additional thing if you have time would be to also have the +'s change colour to #e24949 on hover? It's a just a minimal UX, but I'm thinking would be good to have the pink +'s consistent with the button. :)

[2016-05-17 23:57] HPaulJohnson commented on #18
@ScottDowne I think there's something broken on one of the og tags. See this screenshot from Twitter where the headline is broken on the Twitter card.

https://www.evernote.com/shard/s46/sh/1e507a7c-de5d-41bd-ad1d-f2b104869fad/fcec6f61a7c0a921c96e65d58b9ad5b6

[2016-05-18 01:11] ScottDowne commented on #18
@HPaulJohnson good catch, I think it's fixed. Was just some busted quotes being pasted from another place.

@natalieworth I can do those tweaks tomorrow I think.

[2016-05-18 16:21] ScottDowne commented on #18
@natalieworth the bits of design feedback you had are done.

[2016-05-18 16:55] natalieworth commented on #18
@ScottDowne Awesome, thank-you! Just a couple last things that I noticed with the type:
<img width="629" alt="screen shot 2016-05-18 at 9 41 55 am" src="https://cloud.githubusercontent.com/assets/14876567/15367229/fb296814-1cdc-11e6-9ef9-644f4a6ee43a.png">
<img width="1289" alt="screen shot 2016-05-18 at 9 42 09 am" src="https://cloud.githubusercontent.com/assets/14876567/15367231/fe349542-1cdc-11

[2016-05-18 17:03] stephaniemcv commented on #32
@valianttry added a note to build and test a Sender profile with Mark's name. Closing case.

[2016-05-18 17:03] #32 closed, assigned to stephaniemcv

[2016-05-18 17:34] stephaniemcv opened #34 "Software Update Email Review"
Please review the email copy, test the link and note any feedback in this ticket.

Audience: Anyone who took action on the encryption campaign (ie: opened an encryption campaign email) - ~691,000

[2016-05-18 18:33] ScottDowne commented on #18
It's alive! https://advocacy.mozilla.org/stay-secure/

[2016-05-18 18:40] natalieworth commented on #18
👏 👏 👏 👏 👏  @ScottDowne

[2016-05-18 18:49] natalieworth commented on #13
@shaghdoosti Is it possible to get the draft content for this by Friday afternoon. I'm wanting to ship designs sooner for Scott so it's not too last minute for him to develop.

I thinking we will just need the step by step instructions for the filevault/ bitlocker installations? Even a draft by Friday would be great and then can update content on Monday.

[2016-05-18 20:17] HPaulJohnson commented on #34
@stephaniemcv I'm not really getting the subject line. I'm assuming it's a play off the "not one's cup of tea" idiom but it's unclear and not paid off in the body copy in any way.

[2016-05-18 20:36] stephaniemcv commented on #34
@valianttry @shaghdoosti @mmika

I agree with @HPaulJohnson about the subject line. I actually thought it was alluding to grabbing a cup of tea and enjoying the quiet time while everything updated. We need to clarify or connect it to the copy as it may come off as being click-baity.

[2016-05-18 20:58] natalieworth commented on #18
@ScottDowne A couple Q+A's for mobile:
<img width="508" alt="screen shot 2016-05-18 at 1 54 39 pm" src="https://cloud.githubusercontent.com/assets/14876567/15374669/353614a8-1d00-11e6-97d7-07a85643fe8e.png">
<img width="472" alt="screen shot 2016-05-18 at 1 54 43 pm" src="https://cloud.githubusercontent.com/assets/14876567/15374667/35353b14-1d00-11e6-9f01-434658e46bb3.png">
<img width="559" alt="s

[2016-05-18 21:01] natalieworth commented on #18
@ScottDowne So button could have a background like this:
<img width="350" alt="screen shot 2016-05-18 at 2 00 03 pm" src="https://cloud.githubusercontent.com/assets/14876567/15374813/f23f193c-1d00-11e6-90d3-5ec751c6556b.png">

[2016-05-18 21:19] lovegushwa commented on #34
@stephaniemcv just a few small type fixes:

**A missing em dash**
<img width="608" alt="screen shot 2016-05-18 at 2 12 13 pm" src="https://cloud.githubusercontent.com/assets/12228435/15375227/d616d25c-1d02-11e6-8417-1396400b41af.png">

**Another missing em dash**
<img width="615" alt="screen shot 2016-05-18 at 2 12 23 pm" src="https://cloud.githubusercontent.com/assets/12228435/15375234/d933c030-1

[2016-05-18 21:32] ScottDowne commented on #18
@natalieworth question about that button. Like, the red circle is still visible inside the red box?

[2016-05-18 21:41] natalieworth commented on #18
@ScottDowne Yeah, so the background would be the darker colour #e24949

[2016-05-18 21:42] ScottDowne commented on #18
@natalieworth cool, so hovering would blend them, making the circle hidden, right?

[2016-05-18 21:43] natalieworth commented on #18
@ScottDowne Yeah, but that would just be for mobile devices right?

[2016-05-18 21:48] ScottDowne commented on #18
@natalieworth yeah, true, which wouldn't care about hover.

[2016-05-18 23:49] valianttry commented on #34
+1 to @lovegushwa's things.

I left a comment to rework the subject line a while back -- it may have been lost in all the draft back and forth. The subject line does not work, agreed. Some suggestions:
A. One important tip for online security
B. Don't wait. Update! Here's how. (< I worry the exclamation mark might put us into spam filters.... @stephaniemcv I assume you can check if we score high?)

[2016-05-18 23:51] valianttry commented on #34
@stephaniemcv let's add a link a little higher up in the email. Here:
"Trust us: The risk for you is real, so please update your software. " >> link "so please update your software."

Also Steph can you confirm the audience filter and total # or recipients? This should be a test first before we go more widely.

[2016-05-19 00:33] mmika commented on #34
+1 C. "Are you undermining your own online security?"

or maybe
"Don't undermine your security online."

we could also go with something short and catchy:
"I updated. Did you?"
"Out of date."
"Expired."
"Ready to update?"

@stephaniemcv @valianttry

[2016-05-19 01:16] valianttry commented on #34
oooh i like the short and pithy @mmika ... mine were admittedly longer than I'd like. I think "out of date" and "expired" are too clickbait-ey.... Here are options for everyone to vote @HPaulJohnson @mmika @shaghdoosti @natalieworth @lovegushwa @brettgaylor @KevZawacki @stephaniemcv :
A. "Have you updated? It's important"
B. "[first name] -- have you updated?" (<< @stephaniemcv is this personaliza

[2016-05-19 10:54] KevZawacki commented on #34
My vote: E
Runner up: D

[2016-05-19 15:10] stephaniemcv commented on #34
@valianttry
Subject lines:
- Exclamation  point is not  throwing any SPAM alerts. As long as we keep it to one, we should be good.
- First name personalization is not a problem
- +1 on E

Image:
Agreed, I will remove the header and add the new higher link. Actually, I'd like to buttonize this link to break up the brick of text. They seem to be performing well for us.

"Trust us: the risk for you i

[2016-05-19 21:24] shaghdoosti commented on #13
Let me see what I can do!

[2016-05-19 22:16] valianttry commented on #34
OK let's go with "E"
+1 to "buttonize" - NEW JARGON ALERT! 😄
Let's focus the audience a bit -- people who clicked on an encryption email, since this is a new type of email ask for us.

[2016-05-19 22:25] mmika commented on #20
https://docs.google.com/document/d/16A0riwe6stAOPWCM5dYFqZt118Cn6WnDaAhhsnLhneU/edit?ts=56f978e4
@natalieworth

[2016-05-19 23:35] valianttry commented on #34
Since we make software (e.g. Firefox) i worry this layout is now really alarming:

![_test_2_ready_to_update__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/15412802/8cdf7732-1ddf-11e6-8bc1-e8f9c6bafc68.png)

Could we reduce the size of "The risk for you is real" and the button?

Also, the first source link should drop down a line.

[2016-05-20 00:14] stephaniemcv commented on #34
changed to blue to soften too

![button](https://cloud.githubusercontent.com/assets/11812272/15413429/6744345a-1ded-11e6-8aff-77e40ce59e9f.jpg)

[2016-05-20 01:32] valianttry commented on #34
Better! I'm R+ (e.g. approved with those changes)

[2016-05-20 11:33] KevZawacki commented on #34
@stephaniemcv Email looks really, really great!

One small change from me: Can we put a comma after "update master" in the P.S.? So:

_P.S. If you want to be a true "update master," go into your software settings..._

[2016-05-20 14:05] ScottDowne opened #35 "typo in one of the share progress tweets"
@HPaulJohnson This tweet "Don't procrastinate! When you update your software, you protecting online security. @mozilla can help: http://share.mozilla.org/198081010t #iupdated"

The "you protecting" should be changed to "you're protecting"

Also, is share progress something I or others could get access to so if something like this happens we have multiple people that could fix?

[2016-05-20 15:25] ScottDowne commented on #35
This was fixed.

[2016-05-20 15:25] #35 closed, assigned to nobody

[2016-05-20 17:47] ScottDowne opened #36 "advocacy tech needs"
This is a meta ticket. This ticket can be considered resolved when smaller tickets with more specific tasks gets filed. For now, I kinda want a place to let people jot down whatever comes to them.

I'll start by pasting the appropriate parts from my email

Some things to think about, or things we should document:
- technology we have tried and are no longer using
- technology we currently use
- te

[2016-05-20 18:58] shaghdoosti commented on #13
Friends -- Here is the email copy (Currently going through approval not locked -- but please don't comment in the docs)
https://docs.google.com/document/d/1jJE28HGJWEXWo45rgy6dJBSq7jNcO_a2oVI8xu5YlEE/edit

Here is the landing page copy  (Currently going through approval not locked -- but please don't comment in the docs)

https://docs.google.com/document/d/16A0riwe6stAOPWCM5dYFqZt118Cn6WnDaAhhsnLh

[2016-05-20 19:06] natalieworth commented on #13
@shaghdoosti @mmika We'll also need heading content and a question at the bottom for the 2nd page link to Shared Progress. This is the examples from the previous one:
<img width="590" alt="screen shot 2016-05-20 at 12 06 41 pm" src="https://cloud.githubusercontent.com/assets/14876567/15438924/565e3924-1e83-11e6-91bb-9f56d6598542.png">

[2016-05-20 19:38] KevZawacki opened #37 "Codemoji graphics for external comms"
When we put the [Codemoji comms plan](https://docs.google.com/document/d/1iY6OkuVDSJgUx0QSuvjbIQpeRrb0SjPr81Kwyyd4jOA/edit) into action, we'll need a few images that capture the tool's essence, for use in blogs / pitching media.

@lovegushwa @natalieworth Do we have any snazzy screenshots? Ones that are both colorful + explanatory?

[2016-05-20 20:09] natalieworth commented on #37
@KevZawacki @lovegushwa I was hoping too if we get time to experiment a bit with designs/ tools that we were hoping to improve on. This could be a good project to explore the DIY or short explanatory video style with simple type and music (w/o voice over), motion graphics, gifs, etc.?

[2016-05-20 20:14] shaghdoosti commented on #13
Friends -- Copy for landing page and email is approved. (Ping @stephaniemcv @natalieworth @lovegushwa )

[2016-05-20 22:15] HPaulJohnson commented on #31
This is live

[2016-05-20 22:15] #31 closed, assigned to natalieworth

[2016-05-20 22:39] HPaulJohnson opened #38 "Build codemoji web app on learning.mozilla.org/codemoji"
We expect delivery of final app from TODO early next week (week of 5/23) and we'll need to make it live on learning.mozilla.org/codemoji and do appropriate QA. We are aiming to send initial tests (via email) around 6/1.

cc/ @ScottDowne @lovegushwa

[2016-05-23 15:18] #34 closed, assigned to stephaniemcv

[2016-05-23 16:48] lovegushwa commented on #38
@cadecairos @ScottDowne this is the final codemoji hand off ticket

[2016-05-23 17:20] natalieworth commented on #20
@stephaniemcv What's the template or design assets we'll need for the 2nd upcoming email?

[2016-05-23 18:54] stephaniemcv commented on #20
Template will be the same as the last email. No design assets at this time.

[2016-05-23 19:30] shaghdoosti commented on #20
Friends -- landing page copy and email is approved.

Also -- here is a set of links thanks to @mimka for the landing page (for support resources)

FilveVault
Entire hard drive: https://support.apple.com/en-us/HT204837

Selected drives: https://support.apple.com/en-us/HT201599

BitLocker
http://windows.microsoft.com/en-us/windows/protect-files-bitlocker-drive-encryption#1TC=windows-8

[2016-05-23 19:39] KevZawacki commented on #26
Hopefully helpful: A [first-draft Codemoji email](https://docs.google.com/document/d/1r7g1u2YQitqbs3OE7FRxOhYzh5cv3mmPdFnuhqt4Qls/edit). @valianttry @lovegushwa

[2016-05-24 13:46] ScottDowne commented on #18
This launched.

[2016-05-24 13:46] #18 closed, assigned to ScottDowne

[2016-05-24 13:50] ScottDowne commented on #13
Is this still targeted to go out tomorrow? If so, is there anything I can get started on? I don't need a whole day to implement, so this is still doable.

[2016-05-24 14:17] stephaniemcv commented on #13
Tomorrow would be great, but we can flex to Thursday if needed.

[2016-05-24 16:43] natalieworth commented on #13
Final designs for this are here @ScottDowne https://redpen.io/qj0b362b649e3776b0
@shaghdoosti I still need the content for FAQ's section if we are still adding that? And any updates for the 2nd page (for sharing) if needed?

[2016-05-24 16:47] shaghdoosti commented on #13
Hey -- So it's not really an FAQ, more like links to the software troubleshooting sites:

FilveVault Entire hard drive: https://support.apple.com/en-us/HT204837

Selected drives: https://support.apple.com/en-us/HT201599

BitLocker
http://windows.microsoft.com/en-us/windows/protect-files-bitlocker-drive-encryption#1TC=windows-8

[2016-05-24 22:14] natalieworth commented on #13
<img width="1026" alt="screen shot 2016-05-24 at 3 11 44 pm" src="https://cloud.githubusercontent.com/assets/14876567/15521686/ebb0e1fc-21c1-11e6-85cb-a4312660fbcc.png">
A: I'd just match the type to the previous list style.
cc @ScottDowne
We'll have to do a Q + A with everyone tomorrow morning if you're out of time :)

[2016-05-24 22:43] ScottDowne commented on #13
@shaghdoosti @natalieworth @HPaulJohnson @stephaniemcv This is where I got at end of day Tuesday:

https://warm-harbor-75615.herokuapp.com/encrypt-hard-drive/

and https://warm-harbor-75615.herokuapp.com/encrypt-hard-drive/thank-you/

All we need, as far as I can tell, until we're good to go is:
- [x] copy for thank you page
- [x] share progress buttons
- [x] og/twitter tags for share description

[2016-05-24 22:44] HPaulJohnson commented on #14
@ScottDowne here's the info for updating the og tags on this page:

`<meta` property="og:type" content="website"/>
`<meta` property="og:title" content=“Encrypt Your Hard Drive“/>
`<meta` property="og:site_name" content=“Learn about encryption - Mozilla Advocacy"/>
`<meta` property="og:url" content="https://advocacy.mozilla.org/encrypt-hard-drive/“/>
`<meta` property="og:description" content="Keep

[2016-05-24 23:17] HPaulJohnson commented on #13
@ScottDowne OG tags in ticket #14

[2016-05-24 23:23] ScottDowne commented on #14
@HPaulJohnson thanks! I just noticed I was doing my work in the design ticket.

[2016-05-24 23:47] shaghdoosti commented on #13
@mimka wrote some copy for the share progress sharing -- @HPaulJohnson. Here:

https://docs.google.com/document/d/1jGFDEnpVJje3sOfkNOPyKy_flsx0LyeGWdtyI1jpeZg/edit?pli=1

@natalieworth Which thank you page copy do you need?

[2016-05-24 23:55] brettgaylor commented on #3
Andrea (fellow) shot my choices  down as being too old and boring :sob:

 She likes this one:
https://voicebunny.com/search/samples/3CH0UPK/66702/

[2016-05-25 00:00] HPaulJohnson commented on #14
Share Progress code for share buttons on thank you page:

Facebook:
`<div class='sp_168554 sp_fb_small' ></div>`

Twitter:
`<div class='sp_168555 sp_tw_small' ></div>`

I'll just need to go in an update with the advocacy.moz.org URL once that's live.

[2016-05-25 00:03] HPaulJohnson commented on #13
Thanks @mmika and @shaghdoosti. Buttons are setup (just need to switch to live URL when site goes live).

Also, we are re-using the FB/Twitter (image) cards from software update page. I think it's ok for this too but you should verify: https://advocacy.mozilla.org/assets/01_SoftwareUpdateImage-Facebook.png

[2016-05-25 14:22] ScottDowne commented on #14
@HPaulJohnson cool, updated with share progress buttons, seems to be working: https://warm-harbor-75615.herokuapp.com/encrypt-hard-drive/thank-you/

[2016-05-25 15:02] ScottDowne commented on #13
So I just took an initial stab at the copy for the thank you page: https://warm-harbor-75615.herokuapp.com/encrypt-hard-drive/thank-you/

I just switched it from the stay secure copy that was "Tell others why updating is important!" to "Tell others why encryption is important!"

We can update it, but I kinda wanted it to at least match the content topic.

[2016-05-25 15:53] cadecairos commented on #38
DevOps TODO:
- [x] ~~Add CNAME file to codemoji gh-pages branch - Value of `learning.mozilla.org`~~ Not needed.
- [x] Add a new Origin to the learning.mozilla.org cloudfront distibution, pointing at the github pages codemoji site
- [x] Add a behaviour to the learning.mozilla.org cloudfront distribution that serves the new origin as `/codemoji`
- [x] cheers

[2016-05-25 16:30] natalieworth commented on #13
@shaghdoosti No worries, we're keeping the 2nd copy for the thank-you page the same as the previous one. I believe all that is left is design and copy Q+A for the landing page

[2016-05-25 16:41] ScottDowne commented on #13
It's on staging now: https://advocacy-mozilla-org-staging.herokuapp.com/encrypt-hard-drive/

[2016-05-25 18:09] natalieworth commented on #13
<img width="1001" alt="screen shot 2016-05-25 at 11 08 17 am" src="https://cloud.githubusercontent.com/assets/14876567/15551055/016a7f10-2269-11e6-8ba6-e40b429138e4.png">
*A: Can you make the padding on each side equal (so the text on the right doesn't go as far to the edge)
*B: Add a bit more of a margin at the bottom (about 10px should be good so there's a little more separation between the link

[2016-05-25 18:20] ScottDowne commented on #13
@natalieworth ok, updated, and on staging.

[2016-05-25 19:42] natalieworth opened #39 "Social share graphic for filevault/bitlocker"
@ScottDowne I also have a new image for the filevault/bitlocker share on facebook:
https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0S0Y4akxUandoZlE/view

[2016-05-25 19:43] natalieworth commented on #39
![filevault_illustration](https://cloud.githubusercontent.com/assets/14876567/15553901/3735f3b0-2276-11e6-904a-24a669af5c20.png)

[2016-05-25 20:41] HPaulJohnson commented on #39
thanks, @natalieworth.

BTW, for future reference these graphics are something we can test within Share Progress platform. So if you have additional ideas in mind for the graphics we should test/optimize. cc/ @lovegushwa

[2016-05-25 21:28] KevZawacki commented on #13
@natalieworth @shaghdoosti

Hello! My QA:

Change subhead to "check out **these** step**-**by**-**step guides"

Mac instructions, step 5: Remove quotations around "Turn on FireVault" (we don't use quotes anywhere else in the copy)

PC instructions, step 3: Captilizate the "L" in the second instance of "BitLocker"

Change "FAQ Troubleshooting" to "FAQ and Troubleshooting"

Beneath, is there a reaso

[2016-05-25 22:23] lovegushwa commented on #39
@HPaulJohnson good point. Let's do that.

[2016-05-25 23:48] lovegushwa commented on #11
@HPaulJohnson here is a proof you can show to durable folks. Let me know if you have any changes, if not we can move this to a build ticket!
<img width="1200" alt="encryption-ui-024-01" src="https://cloud.githubusercontent.com/assets/12228435/15559590/5066a204-2298-11e6-9cb8-ceeaa06a7593.png">

[2016-05-26 00:24] ScottDowne commented on #39
It lives https://advocacy.mozilla.org/assets/filevault_illustration.png

[2016-05-26 00:24] #39 closed, assigned to nobody

[2016-05-26 14:20] ScottDowne commented on #13
@KevZawacki I made these copy changes, but if someone responds and doesn't agree with any of them, we can always make more changes.

[2016-05-26 18:12] stephaniemcv opened #40 "FileVault Email Review"
Please review the email copy, test the link and note any feedback in this ticket.
 Audience: Anyone who clicked in an Encryption email ~172,000

[2016-05-26 19:08] lovegushwa commented on #40
@stephaniemcv

one little bug:

<img width="333" alt="screen shot 2016-05-26 at 12 05 15 pm" src="https://cloud.githubusercontent.com/assets/12228435/15586691/8fce32a2-233a-11e6-907d-0fc05fc94363.png">

[2016-05-26 19:10] KevZawacki commented on #40
My QA below -- mostly language tweaks to improve the flow:

Change first paragraph, second sentence to: "But computers can get lost, stolen, or hacked — putting our sensitive information at risk."

Change second paragraph, first sentence to: "There's good news. One of the most effective ways to safeguard sensitive information is probably available right now on your machine — you may just have to t

[2016-05-26 19:24] mmika commented on #40
edited a few typos on the doc: https://docs.google.com/document/d/1jJE28HGJWEXWo45rgy6dJBSq7jNcO_a2oVI8xu5YlEE/edit

@stephaniemcv

[2016-05-26 20:00] natalieworth commented on #8
Closing this. Final design is here: https://docs.google.com/open?authuser=natalie%40mozillafoundation.org&id=0B20-0lpP23c0X25WUFpJWUM3am8

[2016-05-26 20:00] #8 closed, assigned to natalieworth

[2016-05-26 20:01] natalieworth commented on #23
Closing and final illustrations posted in the comment above for this.

[2016-05-26 20:01] #23 closed, assigned to natalieworth

[2016-05-26 20:11] abusedmedia commented on #38
Hi @cadecairos let me know when I can push the CNAME into gh-pages.

[2016-05-26 20:13] cadecairos commented on #38
@abusedmedia you should be able to add it any time, it won't break anything to have it there.

[2016-05-26 20:19] abusedmedia commented on #38
I've tried it few hours ago then removed since the app wasn't be reachable anymore replaced by the learning.mozilla.org website

[2016-05-26 20:30] cadecairos commented on #38
Oh, interesting... I guess gh-pages is pretty agressive on this front. okay then..

What's the final gh pages endpoint URL? `https://mozilla.github.io/codemoji`?

[2016-05-26 20:55] abusedmedia commented on #38
Actually is https://todotoit.github.io/codemoji/ because is under our github account... Do we need to transfer it?

[2016-05-26 21:01] cadecairos commented on #38
@abusedmedia I spoke with @HPaulJohnson and we think a transfer is the way to go forward here.

Can you initiate a transfer of the codemoji repo to the "mozilla" Github organization?

[2016-05-26 21:24] abusedmedia commented on #38
Sure, this account https://github.com/Mozilla right?
Btw I'd ask write access in case we should fixing something :)

[2016-05-26 21:29] cadecairos commented on #38
yup, that's the one.

If we do transfer the repo, we'd need to update the mozilla version via pull requests. If that's too much I can just fork the repo and pull from your upstream repo if/when things get updated.

[2016-05-26 21:32] mmika commented on #13
@natalieworth Would you please add this copy to the BitLocker part of the landing page? Thanks!

"Note: This is for Windows Vista or later. With earlier versions of Windows, BitLocker was not a built-in option. Don’t worry! You can still use BitLocker by downloading the software first."

[2016-05-26 21:33] natalieworth commented on #13
@ScottDowne The copy can be found from Maryam above. I'd just add in italics and a slightly smaller font the copy like this:
<img width="633" alt="screen shot 2016-05-26 at 2 29 17 pm" src="https://cloud.githubusercontent.com/assets/14876567/15590878/c043a35e-234e-11e6-9500-dcc75ba87682.png">

[2016-05-26 21:36] abusedmedia commented on #38
pull requests are ok.

On transfer I got an error. It looks like to transfer from org to org I need admin rights also on the receiving org.
This is their suggestion:

https://help.github.com/articles/transferring-a-repository/

[2016-05-26 21:43] simonwex commented on #38
Hey @abusedmedia and @cadecairos it might be easier to give @cadecairos admin access to the original repo since we're transferring it anyway.

[2016-05-26 22:18] HPaulJohnson opened #41 "Build landing page variations for MIA team lead gen test"
MJ Kelly to provide copy changes here to @ScottDowne by end of day today.

[2016-05-26 22:32] ScottDowne commented on #13
@natalieworth done and it's live.

[2016-05-26 22:35] ScottDowne commented on #13
https://advocacy-mozilla-org-prod.herokuapp.com/encrypt-hard-drive/ should show it if it's not showing up because of cache.

[2016-05-26 22:50] mmika commented on #13
thanks @natalieworth @ScottDowne

[2016-05-26 23:13] HPaulJohnson opened #42 "Social Media Assets for Codemoji"
We are set to soft launch Codemoji next week with an email test (#26) and some light-weight social promotion, mainly to get feedback from an external/broader audience.

Some basic ideas for social copy are in the attached:
https://docs.google.com/document/d/1f9ijJTLZfFNX56x4dGrLWSEi-AgwdxdWfdh39-hOqbk/edit

We only need 1-2 Facebook and Twitter posts for the purpose of this test. Once we get feedb

[2016-05-26 23:16] kellymj commented on #41
Hey there,

Here is a doc outlining the copy, layout and URL for the variations. The only potentially tricky one is the third experiment set, which is blank except for a headline and form.

https://docs.google.com/a/mozilla.com/document/d/1aw0Qo2rdbLnfYuO1BFQQlR29l6TdcEV2aVOSketIPjQ/edit?usp=sharing

I'll be at the airport between 6-7 PT, so ping me if you have any questions at all.

Thanks Scott!

[2016-05-26 23:18] HPaulJohnson commented on #37
@natalieworth I love the idea of creating a very short "onboarding" .gif or video that shows off the joys of using codemoji. Could be 15 secs or so.

Maybe not for the soft launch next week but would be good to have when we roll out more broadly. We can track this in #42 as it will likely be used in social media promos most heavily.

[2016-05-26 23:19] HPaulJohnson commented on #26
@natalieworth it's likely we'll also need some sort of graphic for this email. just flagging it so you can add to the design queue for all things codemoji.

[2016-05-26 23:42] HPaulJohnson commented on #12
Codemoji will be live soon! To begin promotion we are actually going to run a few small scale tests to get feedback from users before rolling out with wider promotion.

This "soft launch" will tentatively begin next week, 6/2. The following items are being worked on to support this launch:

Building Codemoji on learning. domain #38
Landing Page for Codemoji traffic #11
Email copy and design #26 an

[2016-05-27 01:03] ScottDowne commented on #41
Cool, I took a quick look just to plan my tomorrow better.

One question I have, is there a timeline for how long we expect these pages to be live?

[2016-05-27 01:39] stephaniemcv commented on #40
Edits made! Thanks for the feedback!

[2016-05-27 01:44] valianttry opened #43 ""Play" unavailable on video 4 in Firefox"
What happens now:
When I open https://advocacy.mozilla.org/encrypt/social/4 and click on the 4th video, it should start playing or offer a ">" play button. Instead it just sits here:

![screen_shot_2016-05-26_at_6_42_45_pm__2_](https://cloud.githubusercontent.com/assets/9830371/15595211/e24b5d98-2371-11e6-8a15-7b3b255dfdb2.png)

What should happen:
The video should play, or the ">" button should b

[2016-05-27 02:53] ScottDowne commented on #43
@valianttry Seems to play for me. Do any of the videos play for you and is it just this one that doesn't?

Also, does this play for you? https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/beat5_landingpage.webm

[2016-05-27 06:19] kellymj commented on #41
I don't know the answer to that. I do see us iterating on the page(s) into the second half of the year.

[2016-05-27 11:37] KevZawacki commented on #37
Onboarding .gif would be awesome!

In the short-term, are we still on track for a basic, static image for next week's soft launch?

[2016-05-27 11:39] KevZawacki commented on #12
@HPaulJohnson Laura Napoli raised the idea of sharing Codemoji with a few friendly consumer tech reporters next week. I believe she / Issues Durable would drive that outreach.

The pitch would be, "Mozilla is experimenting with educational advocacy games -- and we're inviting a small group of reporters to share their thoughts on this beta."

Your thoughts?

[2016-05-27 12:23] cadecairos commented on #38
I've transferred the repo to mozilla!

[2016-05-27 13:15] kellymj commented on #41
@HPaulJohnson How doe the GA parameters get set up?

[2016-05-27 13:29] ScottDowne commented on #41
@kellymj no worries, I was just curious. There probably isn't a restriction on our end for how long these pages can live.

[2016-05-27 14:44] ScottDowne commented on #41
Everything is on staging right now.

Example: https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/hybrida

Take a look at all of them, and if it looks good, I can move it to production.

[2016-05-27 15:16] KevZawacki commented on #37
@natalieworth Realizing we actually don't need this for soft launch -- only public launch. So, no rush!

[2016-05-27 15:34] HPaulJohnson commented on #12
@KevZawacki what's the upside/benefit of doing this?

[2016-05-27 15:39] HPaulJohnson commented on #41
@kellymj you can use this tool to setup the GA parameters:

http://mozilla.github.io/mofo-campaignurl/

The Referral ID/Campaign name is "2016_Encryption" and you'll want to choose 'Paid Ad' as the medium. Let me know if you have any questions.

[2016-05-27 15:40] #40 closed, assigned to stephaniemcv

[2016-05-27 16:27] KevZawacki commented on #12
@HPaulJohnson A few possible upsides: gauging press reaction; seeding a few early, positive stories; and deepening relationships with the select reporters.

Of course, we also risk kicking off a bigger news cycle (which we want to avoid right now), or simply getting bad reviews. Maybe we await email test feedback first.

[2016-05-27 17:01] kellymj commented on #41
Scott, these look good. One change:

/blanka is missing a headline.
Can you please add this copy above the form in the red headline font:
Sign up for Mozilla email

[2016-05-27 17:03] valianttry commented on #12
+1 on waiting for email feedback before sharing more publicly. Given this is such a new strategy, my gut says we should play it safe... and address any UX challenges / feedback before unleashing on the world. My .02.

But generally i think a press push is interesting! I also wonder if any "cultural" or art or education media would be interested, like Colossal or Mental Floss.

[2016-05-27 17:04] KevZawacki commented on #12
@valianttry Duly noted. When the time comes, there are a lot of neat educational resources (NYT Learning Network, for example) that would be interested.

[2016-05-27 17:07] valianttry commented on #12
??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-05-27 17:15] kellymj commented on #41
@HPaulJohnson The GA task says "Make sure the submit button is an event that is tracked in GA."

Sorry to beat this down, but I don't fully understand what actually needs to be done. Does this make sense?

[2016-05-27 17:23] natalieworth commented on #37
@KevZawacki @HPaulJohnson Just to confirm, are social assets only needed for the public launch? Or are we needing anything for the soft launch next week? I've definitely got time to create some assets if needed :)

[2016-05-27 17:38] ScottDowne commented on #41
@kellymj My bad, I missed that bit. https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/blanka

Should be good now.

[2016-05-27 17:55] KevZawacki commented on #37
@natalieworth We will need 1-2 social assets for the soft launch. The majority, though, can wait until the public launch.

[2016-05-27 18:16] kellymj commented on #41
Thanks. I took a look at it on my phone, since I read this message there,
and the /blank and /signup pages look wonky. Is that an easy fix?

/hybrid is rending fine.
On May 27, 2016 10:38 AM, "ScottDowne" notifications@github.com wrote:

[2016-05-27 18:17] kellymj commented on #41
(rendering)

[2016-05-27 18:26] cadecairos commented on #38
https://learning.mozilla.org/codemoji/ is up and running. \o/

Thanks for the help @abusedmedia :+1:

@HPaulJohnson shall we call this closed?

[2016-05-27 18:42] ScottDowne commented on #41
Yup, it seems to not be very well mobile optimized. Thanks for pointing this out. It's not caused by our new test urls, but just always was busted, it seems.

[2016-05-27 18:43] abusedmedia commented on #38
💯

[2016-05-27 19:14] HPaulJohnson commented on #41
@kellymj I'm not sure I understand your comment: what's the "GA task"?

@ScottDowne confirmed GA is setup on this page which should include tracking on the submit button.

[2016-05-27 19:17] HPaulJohnson commented on #38
So awesome, thanks all! @cadecairos you can close it up!

[2016-05-27 19:23] cadecairos commented on #38
:tada:

[2016-05-27 19:23] #38 closed, assigned to nobody

[2016-05-27 22:51] ScottDowne opened #44 "sign up page doesn't reallt work on mobile anymore"
Not sure if this is a regression or what, but it's pretty busted.

[2016-05-27 22:51] ScottDowne commented on #41
I filed the mobile signup page issue here: https://github.com/MozillaFoundation/Advocacy/issues/44

[2016-05-27 22:57] kellymj commented on #41
What do you think about pushing the /hybrid versions to live in the meantime?

[2016-05-27 23:00] ScottDowne commented on #41
@kellymj can we push them all, but just not share the signup variants?

[2016-05-27 23:02] kellymj commented on #41
I'll let the team know the situation, however, each variant is being tested. We wanted to see if there was performance difference when we showed them the video next to the form.

Do you think the mobile fix will happen?

[2016-05-27 23:03] ScottDowne commented on #41
@kellymj yeah, I'll try to get to the mobile issues, but might not be tonight.

[2016-05-27 23:04] kellymj commented on #41
Understood and thanks. We are OOO on Monday for a holiday, and I'll be back online on Tuesday morning.

[2016-05-27 23:19] ScottDowne commented on #41
@kellymj let me see what I can do about the mobile signup page tonighht, it needs to be fixed in general.

[2016-05-27 23:30] valianttry commented on #44
@ScottDowne what link?

cc @HPaulJohnson in case this is related to the landing page optimization work ....

[2016-05-27 23:43] ScottDowne commented on #41
Pushing a fix to staging, it fixes most of the mobile issues.

[2016-05-27 23:46] ScottDowne commented on #41
K, should be better now.

[2016-05-27 23:47] ScottDowne commented on #41
(on staging) https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/blanka

[2016-05-27 23:52] kellymj commented on #41
boom!

[2016-05-28 00:02] ScottDowne commented on #41
OK cool, so I'm good to ship this to production?

[2016-05-28 00:07] kellymj commented on #41
Yes, I just checked all of the versions on my mobile, and they're good to go.
Ship 'em.

[2016-05-28 00:08] ScottDowne commented on #44
@valianttry my bad, I should have added more info.

Busted here: https://advocacy.mozilla.org/encrypt/signup

[2016-05-28 00:14] ScottDowne commented on #41
Should be shipped now:

https://advocacy.mozilla.org/encrypt/blanka
https://advocacy.mozilla.org/encrypt/hybrida
https://advocacy.mozilla.org/encrypt/signupb

...etc

[2016-05-28 00:25] ScottDowne commented on #44
It's fixed now https://advocacy-mozilla-org-prod.herokuapp.com/encrypt/signup/

[2016-05-28 00:25] #44 closed

[2016-05-28 00:36] kellymj commented on #41
They're all showing up as a blank blue screen.

[2016-05-28 00:38] ScottDowne commented on #41
It's cache. Sec I'll get cache busted links.

[2016-05-28 00:40] ScottDowne commented on #41
Try https://advocacy-mozilla-org-prod.herokuapp.com/encrypt/hybrida

It's where advocacy.mozilla.org updates it's cache. Can be up to 24 hours.

[2016-05-28 00:51] kellymj commented on #41
All the herokuapp links look great. I'll check the live pages later this
weekend and reconfirm. Thanks!
On May 27, 2016 5:40 PM, "ScottDowne" notifications@github.com wrote:

[2016-05-29 01:07] lovegushwa commented on #11
Final Artwork. @ScottDowne please follow up with @natalieworth next week about the build.
@HPaulJohnson will follow up with share progress links any anything needed to hook up social.

Redpen UI:
https://redpen.io/p/kt1e79274321c7d2fd

.jpg UI @2x
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvSUlXN2JuSTBuUkk&usp=sharing

Ai source file:
https://drive.google.com/a/mozilla.com/fi

[2016-05-30 13:49] ScottDowne commented on #17
@brettgaylor I forget, did you put the links for encrypt we need to translate into a ticket? This is the primary ticket on my radar, so any info you have should be added here. (I'm making the whole site localizable anyway, I was just wondering which links are MVP)

Related to l10n and encrypt: https://github.com/MozillaFoundation/Advocacy/issues/15 https://github.com/MozillaFoundation/Advocacy/iss

[2016-05-30 13:55] ScottDowne opened #45 "put snippet strings for encrypt campaing into snippet.properties file"
We're going to be translating advocacy snippet strings using pontoon in similar way to how we did it on donate.

Example: https://pontoon.mozilla.org/es/fundraising/Snippets/?string=98321
and: https://github.com/mozilla/donate.mozilla.org/blob/master/locales/en-US/snippet.properties

[2016-05-30 14:03] ScottDowne commented on #17
@brettgaylor another question we need to consider/find some advice for. The big animated encrypt header, should we translate it? @alicoding says it's not a simple yes or no, and needs to consider branding more so than a direct translation. Example, there is usually no translation for the words "mozilla", "facebook", "coca-cola", etc. So, we need to figure out where the category that the word "encr

[2016-05-30 16:17] #13 closed, assigned to natalieworth

[2016-05-30 20:17] gideonthomas opened #46 "Update advocacy.mozilla.org README"
A bunch of new changes have been made to how the code is arranged and run and this isn't reflected in the repo's readme file. We should update it.

[2016-05-31 17:23] kellymj commented on #41
They all look good on mobile and desktop. I think this task is done now. Thanks @ScottDowne !

[2016-05-31 17:55] ScottDowne commented on #11
I can get to starting on this Wednesday, and it'll be my priority until it's done, hopefully before the week is done. I havn't had a chance to take a close look at the redpens yet.

[2016-05-31 18:22] shaghdoosti commented on #26
Hey friends --

I've looked over the draft and left a few comments -- a few things:
1. Once we're all happy with the copy we need to take it through approval (Marshall, policy, Abby) -- happy to help with that but also happy for someone else ie: @HPaulJohnson or @KevZawacki to own it.
2. This could be a great email to send under a new name (ie Brett or Andrea)

If possible -- would be great to pri

[2016-05-31 18:24] natalieworth commented on #26
@stephaniemcv Do we know which template we'll be using for this and I can adjust one of the codemoji designs to fit if we do need an image for this email?

[2016-05-31 18:57] KevZawacki commented on #26
Thanks for the review, @shaghdoosti. I'm happy to own approvals. What are the next steps? Share with remaining MoFo stakeholders and then ship to Policy + Legal at MoCo?

If you can let me know who we need a thumbs up from, I can move it forward.

[2016-05-31 19:40] KevZawacki commented on #37
Hey there -- checking in to see if we're on track to have 1-2 basic social assets for the Thr./Fri. soft launch. Let me know if I can help.

[2016-05-31 20:05] natalieworth commented on #37
@KevZawacki For sure! Just working on these today and will discuss with @lovegushwa when he's back tomorrow and then I'll post here :)

[2016-05-31 20:41] KevZawacki commented on #37
??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-06-01 17:10] natalieworth commented on #42
@stephaniemcv Could you post the design requirements here for the upcoming email :) I can finish them asap today.

[2016-06-01 18:30] shaghdoosti commented on #26
Next steps are: Andrea to sign off, then approval by: Abby, Marshall and Chris R -- they just need an email with a deadline about when to do the review (usually they need a day's notice -- ie: 9am email for approval by COB is fine) would be good to CC either me or Andrea so we can give you back up in case there are any dramas.

[2016-06-01 18:52] valianttry commented on #26
tiny comments -- looks great.

[2016-06-01 19:49] KevZawacki commented on #26
Thanks, all! Just sent an approval request email.

[2016-06-01 20:10] natalieworth commented on #27
@stephaniemcv @valianttry Here's the updated 'encryption power' header based on the email template:
There are 2 versions in here (one at 72dpi and one @2x or 144dpi) https://drive.google.com/open?id=0B20-0lpP23c0b3UzX253bHIydHM

[2016-06-01 20:40] natalieworth commented on #26
@stephaniemcv @valianttry Here's the updated 'encryption power' header based on the email template:
There are 2 versions in here (one at 72dpi and one @2x or 144dpi) https://drive.google.com/open?id=0B20-0lpP23c0b3UzX253bHIydHM

[2016-06-02 11:07] KevZawacki opened #47 "Publish History of Encryption blog"
We have final policy/legal approval [on the blog](https://docs.google.com/document/d/1lcZhH3HT8ut4EN-UX4q6jzFk3Azf3RoYgeY-FFIs9uQ/edit).

Plan: Publish on Medium Friday, June 3. Blog will provide fodder for social channels, pitches, and the Issues Durable Team.

[2016-06-02 14:27] ScottDowne commented on #41
Yay :rocket: :guitar: :cake:

Closing

[2016-06-02 14:27] #41 closed, assigned to ScottDowne

[2016-06-02 14:29] ScottDowne commented on #33
This got fixed shortly before the localization stuff as it was a blocker to have the site flattened a bit into only one index file and page routing, which, any fixes from the main page got rolled into encrypt, incluing the ga stuff.

[2016-06-02 14:29] #33 closed, assigned to ScottDowne

[2016-06-02 14:30] ScottDowne commented on #17
Prod is now using react-intl and proper locale codes in the url with redirects.

[2016-06-02 14:30] #17 closed, assigned to ScottDowne

[2016-06-02 14:31] ScottDowne commented on #21
Tracking this here: https://bugzilla.mozilla.org/show_bug.cgi?id=1276702

Main work is done, rest is probably served better as iterative tickets as we find a missing string or other bug. Closing.

[2016-06-02 14:31] #21 closed, assigned to ScottDowne

[2016-06-02 14:32] ScottDowne commented on #14
http://advocacy.mozilla.org/encrypt-hard-drive/

This was done, forgot to close this. Closing.

[2016-06-02 14:32] #14 closed, assigned to ScottDowne

[2016-06-02 14:46] ScottDowne commented on #11
@natalieworth @lovegushwa This is a new page under a new url, correct?

[2016-06-02 14:48] ScottDowne commented on #11
Actually, is it 4 new pages, one for each of the videos? or is it only going to be or the first episode as it is displayed in the redpen?

[2016-06-02 15:18] ScottDowne commented on #11
This isn't too much work, should have something ready for QA tomorrow.

Some things I need, I think, are:
- [x] share progress link, in this case, we're linking out to a share progress landing page, it seems? @HPaulJohnson http://share.mozilla.org/352/169283
- [ ] once we have live links, get them to paul for share progress. @scottdowne
- [x] @lovegushwa get new titles for each video.
  - Privacy

[2016-06-02 16:10] natalieworth commented on #11
@ScottDowne I have the .svg's in this folder: https://drive.google.com/drive/folders/0B20-0lpP23c0NVkwSkltYWx1aE0

[2016-06-02 18:11] KevZawacki commented on #37
@natalieworth Hey! A couple developments.

-- With the soft launch postponed to next week, we don't need to rush these
-- We're also postponing social promotion in general to correspond with the public launch. So, we have another couple weeks to work on these :-)

[2016-06-02 18:28] HPaulJohnson commented on #42
@natalieworth @lovegushwa we will need a different version of this Facebook card for new landing page (it's the default sharing image used in page meta data as well as on Share Progress page):

https://advocacy.mozilla.org/assets/img/share/Encryption-facebook-b5-06.png

^ This version is too "take action" focused (as a first CTA) and should be something more along the lines of earlier social graph

[2016-06-02 18:30] lovegushwa commented on #11
@ScottDowne comp for possible a/b test:
![encryption-ui-027-04](https://cloud.githubusercontent.com/assets/12228435/15756235/2d7bfdde-28b5-11e6-9b36-2527d0297f95.jpg)

[2016-06-02 18:31] HPaulJohnson commented on #11
@ScottDowne here is the URL for the Share Page: http://share.mozilla.org/352/169283

I'll just need to update with the final URL of the new landing page when that is ready. Also, needs an updated graphic from @lovegushwa and @natalieworth (ticket #42)

[2016-06-02 18:32] lovegushwa commented on #11
@ScottDowne Video titles:
1. Privacy Lets You Be You
2. Meet Encryption
3. Encryption and Free Expression
4. Stand Up For Strong Encryption

[2016-06-02 18:41] KevZawacki commented on #26
@stephaniemcv  [Email copy](https://docs.google.com/document/d/1r7g1u2YQitqbs3OE7FRxOhYzh5cv3mmPdFnuhqt4Qls/edit) approved and finalized.

Launch has been pushed to 6/6 or 6/7 due to pesky jury duty.

@stephaniemcv If you need anything else from my end, let me know!

[2016-06-02 22:57] kellymj commented on #41
@ScottDowne Something seems to have gone wrong with /hybridb

https://advocacy.mozilla.org/en-US/encrypt/hybridb

[2016-06-03 02:28] ScottDowne commented on #41
Good catch, I had a typo in one of the strings, it's fixed here: https://advocacy-mozilla-org-prod.herokuapp.com/en-US/encrypt/hybridb

Cache is probably going to cause an up to 24 hour delay to see the changes on https://advocacy.mozilla.org/en-US/encrypt/hybridb if you have recently viewed the busted page.

[2016-06-03 02:31] ScottDowne opened #48 "video in encrypt covers some text"
This is only really an issue because it's not selectable and thus not interactive for translating purposes.

If you hover over the text under the video on this page, you can see it's not allowing it to be easily translated in place.

https://mozilla-pontoon-staging.herokuapp.com/sl/mozilla-advocacy/Direct%201/

[2016-06-03 03:11] ScottDowne commented on #41
The cache wasn't bad at all this time. Looks to be fixed updated already.

[2016-06-03 11:41] KevZawacki commented on #47
[We're live](https://medium.com/encryption-matters/encryption-through-the-ages-a-history-c9bea239247a#.tkc494xv8)

[2016-06-03 11:41] #47 closed, assigned to KevZawacki

[2016-06-03 13:46] ScottDowne opened #49 "move localized strings from a single file into per page files"
Right now we have a single file that stores all the strings called `messages.properties`.

This is better if it's one file per page, example `encrypt-signup.properties` and `fellows-overview.properties` etc.

[2016-06-03 13:48] ScottDowne opened #50 "Localize the rest of advocacy"
Right now, in order to get the site started on pontoon, I prioritized localizing the encrypt campaign.

I want to go back and do the rest of the site. This just involves going through, finding all the strings, removing them, and putting them into a properties file per page.

[2016-06-03 13:55] ScottDowne opened #51 "consider unique content localized content on advocacy homepage"
The TLDR we should change up the content on advocacy.mozilla.org's homepage to be based on the locale, and have a way to update this easily.

This is more of a brainstorm idea, but I think it might have potential.

Right now on advocacy.mozilla.org's homepage, we showcase various campaigns and projects.

Examples, the encrypt campaign, Open Web Fellows, Tools for Activism, and USA FREEDOM Act.

Wh

[2016-06-03 16:57] kellymj commented on #41
Thanks, seems to be correct now. I wonder if it's possible to make the buttons say "Sign up" instead of "Update my information". I missed that on all the hybrid pages.

Our media partner also noted that the /hybrid versions aren't triggering a "thank you" page. I'm thinking this isn't a problem in terms of the technical sign up process, but if it's an easy fix to send users to https://advocacy.moz

[2016-06-03 20:21] natalieworth commented on #42
@ScottDowne Colours for codemoji area:
Background: #005189
Text: #5381b9
Link: #ffffff
Hover on link: #5381b9
<img width="1001" alt="screen shot 2016-06-03 at 1 18 29 pm" src="https://cloud.githubusercontent.com/assets/14876567/15791745/0b6a6d6e-298e-11e6-9859-5df0b6e77de3.png">

[2016-06-03 20:22] natalieworth commented on #11
@ScottDowne Colours for codemoji area:
Background: #005189
Text: #5381b9
Link: #ffffff
Hover on link: #5381b9

<img width="1001" alt="screen shot 2016-06-03 at 1 18 29 pm" src="https://cloud.githubusercontent.com/assets/14876567/15791772/378fb638-298e-11e6-93c8-d73567b7d93a.png">

[2016-06-03 20:28] natalieworth commented on #11
Is it possible to add a hover state over the entire banner area? So the background could change to look like this on hover (#1c325e):
<img width="1041" alt="screen shot 2016-06-03 at 1 28 11 pm" src="https://cloud.githubusercontent.com/assets/14876567/15791945/1689cd06-298f-11e6-8bd1-45ceef330e7a.png">

[2016-06-03 20:49] ScottDowne commented on #11
Yup sounds doable.

[2016-06-05 23:26] ScottDowne commented on #11
@natalieworth @lovegushwa

Mostly done. I didn't get the share link in the footer or share link in the video yet, but, if these are things we want in all the pages, we can probably split it into a separate task unrelated to this task.

http://warm-harbor-75615.herokuapp.com/encrypt/codemoji
http://warm-harbor-75615.herokuapp.com/encrypt/codemoji-b

[2016-06-06 03:31] ScottDowne commented on #11
Added the share links after all. Things left blocking shipping:
- [x] once we have live links, get them to paul for share progress. @scottdowne
- [x] add share progress links to page. @scottdowne
- [x] get svg icon for share footer @natalieworth
- [x] updage all og tags @HPaulJohnson

[2016-06-06 04:35] natalieworth commented on #42
@lovegushwa Have some rough .ai files and an After Effects file started here: https://drive.google.com/open?id=0B20-0lpP23c0SDZOZXpwT1c1bXM

[2016-06-06 17:46] HPaulJohnson commented on #11
Here are the OG tags:

`<meta` property="og:type" content="website"/>
`<meta` property="og:title" content="Encryption matters"/>
`<meta` property="og:site_name" content="Mozilla Advocacy - Encryption"/>
`<meta` property="og:url" content="https://advocacy.mozilla.org/encrypt/"/>
`<meta` property="og:description" content="I care about protecting #encryption and you should too. To learn more about ho

[2016-06-06 18:01] HPaulJohnson commented on #11
@ScottDowne the "share this page" icon in the footer is broken

[2016-06-06 18:53] ScottDowne commented on #11
@HPaulJohnson links are live, but un shared.

For share progress, we have 4 links with 2 variants, making 8 total.

https://advocacy.mozilla.org/en-US/encrypt/codemoji/[1-4]
https://advocacy.mozilla.org/en-US/encrypt/codemoji-b/[1-4]

[2016-06-06 19:40] lovegushwa commented on #11
@ScottDowne @HPaulJohnson updated social share card:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvaEtpUG5oQnRyVkU/view?usp=sharing

Scott can you give the image a URL on the site. and update the og image tag ... ? Paul can answer any questions about this.

[2016-06-06 20:52] stephaniemcv opened #52 "Codemoji Email Reivew"
Please review the email copy, test the link and note any feedback in this ticket.
Audience: Audience Segmentation: 50% active advocates; 50% nonAA
Audience size = 100,000

[2016-06-06 21:42] HPaulJohnson commented on #11
@ScottDowne was doing some testing and realized we need to update the share code on the post-signup popup. Here's the new SP codes for that modal:

`<div` class='sp_169721 sp_em_small' ></div>
`<div` class='sp_169722 sp_fb_small' ></div>
`<div` class='sp_169724 sp_tw_small' ></div>

[2016-06-06 21:46] brettgaylor commented on #52
I think its great!  I wonder if you want to add something like "Brett, from the Media team" or just some other way to indicate who the heck this Brett character is or the kind of things you might see from him.

[2016-06-06 21:49] HPaulJohnson commented on #52
@stephaniemcv looks good. Can we hyperlink "new Codemoji game" in the first paragraph to make something clickable above the fold?

[2016-06-06 21:53] HPaulJohnson commented on #11
@ScottDowne can we make sure the links are updated within Codemoji app itself to point to the new landing page: advocacy.mozilla.org/encrypt/codemoji

Also, can we make that URL (advocacy.mozilla.org/encrypt/codemoji) redirect to one of the two new pages: codemoji/2 or codemoji-b/2?

[2016-06-06 21:55] stephaniemcv commented on #52
@HPaulJohnson yes, good catch. There was supposed to be a link there and I missed it.

@brettgaylor Brett, I like it - I will add.

[2016-06-06 21:57] lovegushwa commented on #52
@stephaniemcv can we change the emoji image? I created a new one with a white background:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvLU9aN2J5a1JrZ3M/view?usp=sharing

[2016-06-06 22:20] ScottDowne commented on #11
advocacy.mozilla.org/encrypt/codemoji should already be redirecting to /2

Links inside codemoji seem to be fine to me.

[2016-06-06 22:36] HPaulJohnson commented on #11
yep- links are fine, i guess it's the redirect that needs fixing. Link destination is advocacy.mozilla.org/encrypt/codemoji but redirects to https://advocacy.mozilla.org/en-US/encrypt/social/4 for me?

[2016-06-06 22:51] ScottDowne commented on #11
It's working for me. Let's try again tomorrow. I hope it's cache.

[2016-06-06 23:29] valianttry commented on #52
Two things:
1. I suggest we hotlink every instance of "Codemoji" to codemoji.
2. Brett is not a normal email signer, we should add his full name and title after his signature, so it looks like:
   "
   Brett

Brett Gaylor, Director of Advocacy Media" << @brettgaylor is this your new correct title?

@stephaniemcv how are you defining Active Advocates for targeting purposes?

[2016-06-07 00:27] stephaniemcv commented on #52
@valianttry

I'm going to recommend against linking every "Codemoji", we may get flagged as spam for having too many of the same link

We can go two ways. I can randomly select 50,000 from our original AA group or a random 50,000 from those who clicked 2 or more emails from the encryption series.

[2016-06-07 00:51] valianttry commented on #52
@stephaniemcv I'm so glad to have you as our deliverability samarai 🏆

[2016-06-07 10:27] KevZawacki commented on #52
Email looks great! 👍

[2016-06-07 18:15] HPaulJohnson commented on #52
@stephaniemcv looks good to me too!

[2016-06-07 19:07] KevZawacki commented on #52
@stephaniemcv The second (12:48 p.m. ET) email looks good, too. 😄

[2016-06-07 22:18] valianttry opened #53 "Codemoji bug: Key emoji section doesn't auto-scroll in Firefox"
Steps to reproduce:
1. I receive a Codemoji URL from a friend and am asked to decipher.
2. I decipher it (FUN!) and then I go up into my address bar and refresh the codemoji URL to send my own codemoji.
3. I type a message, but then there's no scroll bar available in the middle section to pick my key.
4. I have to use "down arrow" in order for it to scroll in FF AND in Chrome.

![codemoji_ _a_fun_

[2016-06-07 22:31] ScottDowne commented on #53
I sometimes see a scrollbar and sometimes I do not.

Actually currently I cannot make it come back :(

I'll debug some more.

[2016-06-07 22:33] ScottDowne commented on #53
If you go there from https://learning.mozilla.org/codemoji/#/welcome scrollbar works, from https://learning.mozilla.org/codemoji/#/encrypt it does not.

[2016-06-08 15:35] KevZawacki commented on #26
Closing this ticket! Will open more Codemoji comms tickets as we approach the planned public launch in late June.

[2016-06-08 15:35] #26 closed, assigned to nobody

[2016-06-08 19:33] ScottDowne commented on #11
We're all good here.

[2016-06-08 19:33] #11 closed, assigned to ScottDowne, natalieworth

[2016-06-09 13:54] KevZawacki opened #54 "Quick copyedit to Codemoji banner on encryption site"
Small edit needed to the below banner, which appears [here](https://advocacy.mozilla.org/en-US/encrypt/codemoji-b/1):

![screen shot 2016-06-08 at 9 19 18 am](https://cloud.githubusercontent.com/assets/11045250/15932012/09629322-2e28-11e6-9836-cd6dacc313c2.png)

@ScottDowne Can we change to: "Introducing Codemoji, an educational game that teaches you about cipher**s**, the building block**s** of e

[2016-06-09 17:49] #52 closed, assigned to stephaniemcv

[2016-06-09 18:43] HPaulJohnson opened #55 "Evaluate data from Codemoji email test and determine next steps"

[2016-06-09 20:53] brettgaylor opened #56 "Add localized snippet text to pontoon"
Lets add the following text to pontoon:

"[Stand with us] as we fight to keep your Web life encrypted. And learn what encryption actually means while you’re at it."

The [stand with us] is a link to the localized versions of this:
https://advocacy.mozilla.org/en-US/encrypt/codemoji-b/2

[2016-06-09 22:24] valianttry commented on #51
I think the idea is good, but this seems like a very low priority. We don't send much traffic to this homepage at all. We send people to campaigns / specific tools -- which should be prioritized over the homepage based on traffic.

[2016-06-10 15:26] ScottDowne commented on #56
Do we want to translate some variants and maybe do some A/B testing?

[2016-06-10 16:37] valianttry opened #57 "EU net neutrality snippet copy reviews and approval"
The draft language is here, currently waiting for final approval from Marshal and Mika:
https://docs.google.com/document/d/1Eunqtau62RORzTu6IBc1HHugTGASrRtI9Ht4bGlJbAY/edit

[2016-06-10 16:38] valianttry commented on #57
cc @shaghdoosti

[2016-06-10 16:44] valianttry opened #58 "EU net neutrality savetheinternet.eu campaign planning overview"
**Tasks and Timeline:**
- [x] Thursday June 9 9:00pm PST GMT -8:00 (San Francisco): Draft EN-US snippet language ready for stakeholder review #57
- [x] Friday June 10 12noon PST GMT -8:00 (San Francisco): Final EN-US snippet language approved by all stakeholders (Marketing, Policy, Legal)
- [x] Friday June 10 5pm PST GMT -8:00 (San Francisco): Final EN-US snippet language shared with L10N (specifi

[2016-06-10 18:54] ScottDowne commented on #56
For now just the one string: https://pontoon.mozilla.org/sl/mozilla-advocacy/all-resources/?search=snippet&string=153243

Let me know if you want to add variants, I'm happy to.

[2016-06-10 18:54] #56 closed, assigned to ScottDowne

[2016-06-10 18:56] ScottDowne commented on #56
Also, the link you pasted in the initial comment was the redirect of an A/B test, and in en-US.

I'm guessing you meant "https://advocacy.mozilla.org/encrypt/codemoji/" (should redirect to /2)

We can change it to whatever though, even after it's translated.

[2016-06-10 19:01] ScottDowne commented on #51
I'm fine with closing this.

[2016-06-10 19:01] #51 closed, assigned to nobody

[2016-06-10 19:02] ScottDowne commented on #45
This was done in https://github.com/MozillaFoundation/Advocacy/issues/56

[2016-06-10 19:02] #45 closed, assigned to ScottDowne

[2016-06-20 13:46] KevZawacki commented on #58
@valianttry

Noting that we also did external comms around this -- I worked with Raegan [on a blog](https://blog.mozilla.org/netpolicy/2016/06/20/eu-users-can-stand-up-for-net-neutrality/) (posted this morning) and [promotion on social](https://twitter.com/mozilla/status/744873228313763840). I will also be reaching out to EU press today.

[2016-06-20 13:47] KevZawacki commented on #55
[Data](https://docs.google.com/spreadsheets/d/1VTKGKzgE5W1Ml5AF0bdrGZzmia3PZNTcPhT0mX11S0Q/edit#gid=1904433755) is positive and we're moving forward with external comms

[2016-06-20 13:47] #55 closed, assigned to HPaulJohnson

[2016-06-20 13:49] KevZawacki commented on #54
@ScottDowne With external comms around Codemoji happening next week, possible to update this before 6/28?

[2016-06-20 14:06] KevZawacki opened #59 "Prep comms for 6/28 Codemoji launch"
We're ready to move ahead with external comms, ideally on Tuesday, June 28. [Here's the comms plan](https://docs.google.com/document/d/1iY6OkuVDSJgUx0QSuvjbIQpeRrb0SjPr81Kwyyd4jOA/edit#).

Checklist and questions:
- [x] Complete comms plan (content, media list, etc.)
- [x] Confirm Codemoji doesn't need additional dev work before 6/28 cc @ScottDowne
- [x] Confirm Codemoji doesn't need additional de

[2016-06-20 16:40] ScottDowne commented on #54
It's on staging: https://advocacy-mozilla-org-staging.herokuapp.com/en-US/encrypt/codemoji/1

If it looks a ok, I can move it to prod anytime.

[2016-06-20 18:46] damiankay commented on #6
Can we close this issue?

[2016-06-20 18:58] damiankay opened #60 "Q2 Program Review - Email stats"
@stephaniemcv - Hoping to pull together some data for the Q2 Program Review. Specifically, looking for the following:
1. Click rates
2. Email rates
3. Opt-ins
Would you be able to help?

[2016-06-20 19:43] KevZawacki commented on #54
@ScottDowne Yep, looks a-ok. Ready to move! Thanks.

[2016-06-20 19:59] KevZawacki commented on #42
Hey @natalieworth @lovegushwa,

Looks like public launch will be Tuesday, June 28 -- think we're on track to have this ticket wrapped up before then?

[2016-06-20 19:59] KevZawacki commented on #37
Hey @natalieworth @lovegushwa,

Looks like public launch will be Tuesday, June 28 -- think we're on track to have this ticket wrapped up before then?

[2016-06-20 20:00] natalieworth commented on #42
@KevZawacki June 28 is great!

[2016-06-21 14:53] stephaniemcv commented on #60
I can get you this. Edit: But I won't be able to finish pulling numbers until the 23rd, earliest. Due to CRM integration work, I can't login to SalesForce or MarketingCloud (ExactTarget)

[2016-06-21 15:40] stephaniemcv commented on #6
I think we can.

[2016-06-21 15:40] #6 closed, assigned to nobody

[2016-06-21 15:50] stephaniemcv commented on #59
@KevZawacki @valianttry
Per the CRM integration calendar we are technically cleared to start sending emails on 6/28 to the Foundation list. There is the caveat that CRM team may need some extra time to finish setting things up so it may be best to plan in some flex.

[2016-06-21 16:43] #27 closed, assigned to natalieworth

[2016-06-21 16:52] damiankay commented on #60
Ah, gotcha. No problem, we'll hold tight until you have access. Thanks!

[2016-06-21 17:32] lovegushwa commented on #30
I'll done!

[2016-06-21 17:32] #30 closed, assigned to lovegushwa

[2016-06-21 17:50] KevZawacki commented on #59
@stephaniemcv @valianttry

Gotcha. Can/would we want to send a Codemoji email to the remainder of the Advocacy list in the meantime, on either 6/28 or 6/29? Any way to parse out people who received the beta test?

I can tweak the old email in a way that won't require additional policy review.

[2016-06-21 17:55] lovegushwa commented on #59
@natalieworth let's connect today on finishing up the social media launch assets for @KevZawacki

[2016-06-21 21:51] stephaniemcv commented on #59
@KevZawacki @valianttry
There was discussion of going to another 100,000 cohort before full deployment to the remaining list, but I'm not sure where that conversation landed. @shaghdoosti do you have any input regarding this?

And yes, I can suppress anyone who already received the test.

[2016-06-22 13:01] KevZawacki opened #61 "Write / send second Codemoji email"
Copy for the second email can be found [here](https://docs.google.com/document/d/1a5I_neWdI01JSm_C3lx3Hm8KZb58UQYcvCbrOBkZsr0/edit). It's nearly identical to the first -- I only changed the P.S.

@stephaniemcv, let me know how I can help further to get this prepped for a 6/28 send. ??

[2016-06-22 13:01] KevZawacki commented on #59
@stephaniemcv @shaghdoosti Gotcha. Either way, I've prepped copy for the second email and opened a new ticket, #61

[2016-06-22 13:44] ScottDowne commented on #54
Done

[2016-06-22 13:44] #54 closed, assigned to nobody

[2016-06-22 22:20] ScottDowne opened #62 "post signup page is removing any query params"
Example: signups from https://advocacy.mozilla.org/en-US/encrypt/signup?test=test

Are actually redirected to https://advocacy.mozilla.org/en-US/encrypt/signup-complete

This is because we're not passing the params along when we do the react router context swap on this line.

https://github.com/mozilla/advocacy.mozilla.org/blob/master/src/pages/encrypt/signup.js#L28

I suspect it just needs to be

[2016-06-23 11:05] #59 closed, assigned to KevZawacki

[2016-06-23 11:06] KevZawacki opened #63 "6/28 Codemoji launch checklist"
- [x] Brett and Jordan on project call (6/27)
- [x] Send all MoFo email (6/27)
- [x] Post announcement to blog.mozilla.org and Medium.com/encryption-matters
- [x] Create coverage report
- [x] Alert PR global and ML
- [x] Begin social promotion
- [x] Pitch media
- [x] Pitch influencers

[2016-06-23 23:38] damiankay opened #64 "Embed video into localized landing pages"
Hi Simon,

Hoping you can embed the Spanish and German versions of video 2 into the respective landing pages. I believe you and Brett have chatted about this already.

Here are links to the Spanish and German pages:
https://advocacy.mozilla.org/es/encrypt/codemoji/2
https://advocacy.mozilla.org/de/encrypt/codemoji/2

@brettgaylor will share the localized videos shortly.

Thanks!

CC @ScottDowne

[2016-06-24 00:00] damiankay opened #65 "Complete video localization"
Hi Brett,

Not sure about the details for this one! Just sending as a reminder.

I'm assuming that this needs to be done before @simonwex can add the videos to the snippet. Please update issues #64 and  #66 when you've exported the final videos.

[2016-06-24 00:06] damiankay opened #66 "Embed video into snippet"
Hi Simon,

Please embed the localized versions of Encryption video 2 into the snippet for the German and Spanish versions of Firefox.

@brettgaylor will supply the videos shortly. I'm waiting for confirmation on the correct format.

Thanks

CC @ScottDowne

[2016-06-24 00:17] simonwex commented on #65
@brettgaylor and I chatted about me uploading some new vids, but this is a bit more than that. I think @alanmoo is the best to help out with this.

I'm sending an email to both you and Brett for us to corral all the Scott-backfill work. I'd like to do this centrally to reduce the amount of PM work involved.

[2016-06-24 00:17] simonwex commented on #64
@brettgaylor and I chatted about me uploading some new vids, but this is a bit more than that. I think @alanmoo is the best to help out with this.

I'm sending an email to both you and Brett for us to corral all the Scott-backfill work. I'd like to do this centrally to reduce the amount of PM work involved.

[2016-06-24 00:28] damiankay commented on #64
Sounds good - thanks @simonwex
@alanmoo, can we jump on a quick vidyo chat tomorrow to discuss details?

[2016-06-24 07:22] ScottDowne commented on #64
Quick drive by for whoever does this, the key is these lines: https://github.com/mozilla/advocacy.mozilla.org/blob/master/src/components/encrypt-video.js#L76-L77

And checking the value of `this.context.intl.locale` and changing the video source as necessary.

Also consider cases where there isn't a video for that locale, we should always fallback to something we do have, probably English.

[2016-06-24 07:23] ScottDowne commented on #66
This is mostly a moco thing. You just give them the video files and translated copy for each locale, they set it up.

[2016-06-24 07:32] ScottDowne commented on #62
This is an issue if we want to be tracking specific campaign or snippet signups via UTM query params. Not sure how that's done.

In the case of signup-complete it removes the param, in the case of hybrid/etc it doesn't do a redirect and instead fires a signup event.

I think ideally we rely on the signup event, which is not fired from what I can tell when we do a redirect to signup-complete, then

[2016-06-24 13:50] alanmoo commented on #62
Is there a specific method you have to call to fire a tracking event using the params? I feel like UTM params generally work in conjunction with page loads, but I haven't really worked with them before.

What are we trying to track in this case?

[2016-06-24 15:42] ScottDowne commented on #62
I think it's this: https://github.com/mozilla/advocacy.mozilla.org/blob/master/src/components/encrypt-signup.js#L74

`ga.event({ category: "Signup", action: "Submitted the form" });`

In this case we want to track signups from other teams in Mozilla that are using our page to run campaigns. In general though, tracking signups based on a campaign would be nice.

I'm also not sure how much of a prio

[2016-06-24 16:04] damiankay commented on #65
Hey Brett - when will you actually have the final video files? Is there anything I can help with?

[2016-06-24 16:55] KevZawacki commented on #29
Closing this ticket until we revist

[2016-06-24 16:55] #29 closed, assigned to KevZawacki

[2016-06-24 17:15] damiankay commented on #65
Hi again - just chatted with @alanmoo about this and we're hoping to do the following:
1. If you could please upload to the same location as the other videos that would be ideal. We might need @simonwex to upload the videos to the CDN, in which case the earlier we get these to him the better.
2. When naming the video files, please use the same file name as the English videos, but append the locale

[2016-06-24 18:35] brettgaylor commented on #65
Got it.  Does anyone know what the final size needs to be for the snippet files though?  Compressing the ones for landing pages right now.

cc @ScottDowne @lovegushwa to see what those final snippet video dimensions where.

[2016-06-24 20:10] brettgaylor commented on #65
OK @alanmoo @simonwex videos are compressed and available here:
https://drive.google.com/a/mozilla.com/folderview?id=0B0bF99sa1fRJbm15bkwxNk1XU2M&usp=sharing

Please upload to the amazonsssss!

[2016-06-24 21:07] alanmoo commented on #64
Merged and on staging. @damiankay Can this go live on production any time?

[2016-06-24 22:36] damiankay commented on #64
Hey @alanmoo - we need to make a small change to the Spanish page HTML text before deploying to production.
The copy: "Descubre el cifrado"
Should say: "Descubre senorita ciphrado"

Would it be possible to do this on Monday morning so that we can deploy Monday afternoon?

Thanks!

https://advocacy.mozilla.org/es/encrypt/codemoji/2

[2016-06-24 22:36] #65 closed, assigned to brettgaylor

[2016-06-24 23:17] alanmoo commented on #64
Yup, I'll take care of that Monday.

[2016-06-24 23:46] brettgaylor commented on #66
Snippet videos are here
https://drive.google.com/a/mozilla.com/folderview?id=0B0bF99sa1fRJMmtXWmxsUEJHem8&usp=sharing

[2016-06-24 23:48] brettgaylor commented on #64
@alanmoo I don't know if this happens on Pontoon or is hard coded. Lets look into it on Monday but we shouldn't let it be a blocker.  Thanks for pinch hitting!

[2016-06-25 00:10] brettgaylor commented on #64
Also, the text should be:

Te presentamos a la Señorita Cifrado

[2016-06-25 05:39] ScottDowne commented on #64
If it's a correct translation it happens on pontoon. If it's a change to
the string it happens in the code but for English only.

[2016-06-27 14:57] alanmoo commented on #64
Since the translated site was already live, I pushed the changes to support translated video into production. I also suggested a change for the text via the Pontoon UI (though I'm not clear on why I can't just change it in the repo.)

[2016-06-27 15:33] ScottDowne commented on #64
I noticed a typo in my last post. I said incorrect when I meant correct.

Technically you can change strings right in the repo but we have no way of ensuring it's the correct translation. I also don't want to get into a habit where devs are pasting in strings from translators when we have a tool to do this.

[2016-06-27 18:47] natalieworth commented on #42
@KevZawacki Just adding the finished final social assets in this doc https://docs.google.com/document/d/1f9ijJTLZfFNX56x4dGrLWSEi-AgwdxdWfdh39-hOqbk/edit and attaching them with the links :)

[2016-06-27 19:23] KevZawacki commented on #42
@natalieworth These are so great -- thank you!

@lovegushwa Do you have a Google Drive link to the .gif we used on today's call?

[2016-06-27 20:43] natalieworth commented on #37
I think this is a repeat of #42 —so going to close, but reopen if anything different is needed for this ticket.

[2016-06-27 20:43] #37 closed, assigned to natalieworth

[2016-06-28 15:50] alanmoo commented on #64
@ScottDowne I get that and it totally makes sense, though given this is a slightly different case (it's a bit of a branding translation rather than just normal content), I merged it in manually. (I also wasn't sure how to get it approved via Pontoon, though I can get filled in on that another time).

[2016-06-28 15:50] #64 closed, assigned to alanmoo

[2016-06-28 15:56] damiankay commented on #64
Thanks guys!

[2016-06-28 17:07] damiankay commented on #66
Hi Natalie,

The MoCo snippet team require poster images from the Crypty video. If we've created poster images for the landing pages, I'd think that we can use the same ones.

The dimensions need to be 341x192. I'm not sure of format, so perhaps create a JPG and a PNG?

Would you be able to create these and send them to me early today?

You can find the videos here:
https://drive.google.com/a/mozi

[2016-06-28 17:27] damiankay commented on #66
Hi Natalie - don't worry about it. @brettgaylor did it already. Thanks!

[2016-06-28 17:38] ScottDowne commented on #64
@alanmoo @damiankay what is a branding translation?

[2016-06-28 17:39] ScottDowne commented on #64
I worry a localizer might come in and see this translation as off and not know the context, and possibly "correct" it and revert the translation.

[2016-06-28 17:40] damiankay commented on #64
Can we retroactively add the translation to Pontoon? Would that resolve the issue?

[2016-06-28 17:42] ScottDowne commented on #64
Ideally we change the English string too to represent the branding and context, but I'm not really sure what we're trying to do with this. My knee jerk reaction is we shouldn't be doing this kind of translation the way we are. Sounds more like a swapping of content for a new locale, than a translation.

[2016-06-28 17:45] ScottDowne commented on #64
Pontoon updates with the translation, once we manually merge it. So no need to retroactively add it.

[2016-06-28 17:48] damiankay commented on #64
Ok. Let's get a few of us together to chat through the optimal process when you're back. I'd like to have a better understanding of best practices anyway.

[2016-06-28 18:09] ScottDowne commented on #64
Generally a translated string is changed for two reasons.
1. The translation is incorrect from the English, and needs to be fixed.
2. The English string changed, and thus the translations also need to be changed.

So I worry we just changed this string to now trigger point number 1 there. Not sure though, as I'm still not confident I know what we're trying to do. When I look at the English string,

[2016-06-28 18:20] damiankay commented on #64
@brettgaylor would be best qualified to answer whether it was an incorrect translation from English. My guess is that it was not incorrect, but that the new translation is more fitting in this context.

[2016-06-28 18:23] natalieworth commented on #42
All images/ gifs are attached in the gdoc here: https://docs.google.com/document/d/1f9ijJTLZfFNX56x4dGrLWSEi-AgwdxdWfdh39-hOqbk/edit
Feel free to reopen this issue if we need anything more or changed :)

[2016-06-28 18:23] #42 closed, assigned to natalieworth

[2016-06-28 18:46] alanmoo commented on #64
I think both the original and the new translation were technically correct, but the new one clarifies that we're presenting "Encryption" as a character, not just a concept. The phrase "Meet Encryption" is kind of ambiguous in English, the new translation is more specific. (It's went from 'Discover encryption' to 'We present Miss Encryption').

Language subtleties are weird.

[2016-06-28 18:55] brettgaylor commented on #64
Correct!  It doesn't capture the idea that encryption is a character.

Scott - do you know if our process would be to insert our own translation
in Pontoon?  I wish i knew how Pontoon actually worked :)

On Tue, Jun 28, 2016 at 11:46 AM, Alan Mooiman notifications@github.com
wrote:

[2016-06-28 18:58] damiankay commented on #64
I'm going to organize a Pontoon training session when Scott is back (thanks in advance, @ScottDowne  ;-)

[2016-06-29 10:39] KevZawacki commented on #61
@stephaniemcv Just reviewed the test email -- looks great! No changes from me.

Codemoji is also back online, so we're ready to send. Let me know how I can help further. ??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-06-29 12:19] KevZawacki commented on #63
Pitching and social will continue this week and next, but preliminary launch activities are complete. Closing ticket.

Currently at 38 stories in 9 countries, and >2,300 conversations on Twitter.

cc @brettgaylor

[2016-06-29 12:19] #63 closed, assigned to KevZawacki

[2016-06-29 12:39] stephaniemcv commented on #61
Thanks for the heads up! Right now it's an issue of finishing re-building
the new audience queries and figuring out why my numbers aren't matching
up... >_<

On Wed, Jun 29, 2016 at 4:39 AM, Kevin Zawacki notifications@github.com
wrote:

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-01 16:16] HPaulJohnson opened #67 "Twitter share not working on Codemoji"
A new bug has recently surfaced (that didn't appear to exist in earlier testing) where the Twitter share button is unresponsive after you create a new scrambled message.

@simonwex @ScottDowne

[2016-07-01 16:23] valianttry commented on #67
My tests  (Mac OS 10.11.5)

Twitter button FAILED in  new Incognito tab in Chrome v 51
Twitter button FAILED in new "Private" tab in Firefox 48 Beta

Twitter button WORKED in new standard tab in Chrome v 51
Twitter button FAILED in new standard tab in Firefox 48 Beta

[2016-07-01 16:28] HPaulJohnson commented on #67
I've recreated bug in the following scenarios:
- FAILED via new standard tab Firefox desktop v 47.0
- FAILED via new standard tab Chrome desktop v 51.0.2704
- FAILED via private tab Firefox desktop v 47.0
- SUCCESS via incognito tab Chrome desktop v 51
- SUCCESS via Firefox mobile app
- SUCCESS via Chrome mobile app

[2016-07-01 17:45] abusedmedia commented on #67
I'm not able to reproduce the issue, I suspect it's related the the message content, can you share the message which cause the issue?

[2016-07-01 17:58] HPaulJohnson commented on #67
@abusedmedia I think you may be right about the message content.

In private browsing mode (Firefox desktop) I tried the message "hello world" and twitter worked
In private browsing mode (Firefox desktop) I tried the message "it's friday, ya'll" and twitter failed

Also, in my second failed attempt (with "it's friday, ya'll") if I close the share window (click "X") and return to create message, do

[2016-07-01 18:02] abusedmedia commented on #67
Confirmed, the second one cause the issue (no matter the browser)
It throws a URL malformed error.
For some reasons the twitter share widget doesn't like some chars

[2016-07-01 18:12] ScottDowne commented on #67
I think it's the space character.

[2016-07-01 18:45] ScottDowne commented on #67
Sometimes space character is fine, like in this case "drg ffd"

[2016-07-01 20:28] abusedmedia commented on #67
Found out the reason, trying to push a branch (to make a pr) with the fix but I don't have the right...

[2016-07-01 21:50] HPaulJohnson commented on #67
thanks, @abusedmedia. tagging @cadecairos on your question, though most of that crew is off on holiday today and not sure they are available.

[2016-07-01 22:05] cadecairos commented on #67
@abusedmedia you should be able to open prs now.

[2016-07-06 16:12] HPaulJohnson commented on #67
Hi @cadecairos @abusedmedia @ScottDowne, just wanted to check in and see if this one was resolved?

[2016-07-06 16:36] HPaulJohnson opened #68 "Change legal link in Codemoji"
Abigail on our legal team has requested we update the "legal" link in the footer of Codemoji to point to terms at this URL:

https://beta.webmaker.org/#/legal?_k=mqd1ed

[2016-07-06 16:44] cadecairos commented on #67
Looks resolved to me - the "it's friday y'all" string doesn't trigger the error anymore on my machine.

[2016-07-06 18:04] #67 closed, assigned to ScottDowne

[2016-07-07 19:30] valianttry commented on #61
quick process note on this:
The ticketing for an email send should be more nuanced. e.g. "draft + approvals" should be separate from "QA and launch" etc. @stephaniemcv can you work with @damiankay to finalize some protocol for email send ticketing?

[2016-07-07 19:44] damiankay commented on #61
Good call @valianttry - @stephaniemcv I'll set up a call to discuss! :-)

[2016-07-07 21:11] ScottDowne commented on #9
Closing this, looks like it was done, and is also quite old.

Feel free to reopen or refile something.

[2016-07-07 21:11] #9 closed, assigned to nobody

[2016-07-07 21:12] ScottDowne commented on #66
This is done.

[2016-07-07 21:12] #66 closed, assigned to damiankay

[2016-07-07 21:15] ScottDowne commented on #19
This is quite old and looks like it might have been done.

Closing, feel free to reopen or refile.

[2016-07-07 21:15] #19 closed, assigned to nobody

[2016-07-07 21:16] ScottDowne commented on #7
Closing this.

Given the state of codemoji, anything we didn't do would be better served in new tickets.

[2016-07-07 21:16] #7 closed, assigned to HPaulJohnson

[2016-07-07 21:17] ScottDowne commented on #3
@brettgaylor Is this an ongoing thing, or can we close?

[2016-07-07 21:35] brettgaylor commented on #3
closed!

[2016-07-07 21:35] #3 closed, assigned to brettgaylor

[2016-07-07 21:36] brettgaylor commented on #15
Done!

[2016-07-07 21:36] #15 closed, assigned to nobody

[2016-07-07 22:54] damiankay commented on #20
Can we close this issue?

[2016-07-07 22:55] stephaniemcv commented on #20
Yup.

[2016-07-07 22:55] #20 closed, assigned to nobody

[2016-07-07 23:15] damiankay commented on #20
Thanks!

[2016-07-08 04:30] valianttry opened #69 "DRAFT Fundraising Snippet Copy (EU Net Neutrality)"
Description:
Since mid June, we have been promoting savetheinternet.eu's petition supporting net neutrality to Firefox users in the EU. That campaign will conclude when the deadline for comments passes on July 18. We want to put a follow-on fundraising campaign in the same locales while Mozilla's message about net neutrality is still fresh in the mind of users. We need two fundraising blurbs for s

[2016-07-08 04:32] valianttry commented on #69
cc @KevZawacki who should be the assignee for this (can't assign anyone atm)

[2016-07-08 04:38] valianttry opened #70 "Design fundraising snippet variant for testing (EU NN)"
@lovegushwa and I met with Stephen Horlander who is on the Firefox desktop UX team about the donation snippet design. We agreed to test a few variants that are less disruptive for users, as recommended by Stephen. Variants we should test if possible when we launch an EU fundraiser in the snippet on July 21:
1. text-only snippet with blue linked donation ask (Simple)
2. default snippet design from

[2016-07-08 04:43] valianttry opened #71 "Localize EU Net Neutrality fundraising snippet: EN-GB, DE, FR, ES-ES, IT"
The actual localization will be done by L10N. This is a tracking ticket.

Once EN copy is final and approved, Andrea will email it to Peiying Mo who will manage the L10N localization process -- copywriting is happening in #69.

EN copy due: Monday July 11
Final Localized copy due: July 18
Snippets go live: July 21

[2016-07-08 16:26] KevZawacki commented on #69
Hi @valianttry

Four draft snippets [here](https://docs.google.com/document/d/1vOxxomPlm0wkRq3AcMRJ8xlYiDcEJ0ONbtO5nqBIeio/edit), and also pasted below.

If one sticks out, happy to continue riffing on that theme!

##

Mozilla is standing up for net neutrality in the EU — will you help support a free and open internet? When you donate to Mozilla, you help keep the internet exceptional.

Mozilla fi

[2016-07-08 16:43] HPaulJohnson opened #72 "Codemoji Snippet"
In conjunction with second wave of promotion for Codemoji to coincide with World Emoji Day on 7/17, we are planning on running Snippet promo.

Snippet team has indicated there is availability at the end of July and are currently confirming and considering creative approaches.

Potential deliverables pending Snippet Team's feedback include:
- 2-3 versions of copy (complete)
- Graphics to accompany

[2016-07-08 16:47] HPaulJohnson commented on #12
Wave 1 of promotion complete.
Wave 2 of promotion being planned around World Emoji Day. Those promos are being planned in individual tickets elsewhere so I'm closing his one for now.

[2016-07-08 16:47] #12 closed, assigned to HPaulJohnson

[2016-07-08 16:51] HPaulJohnson opened #73 "Codemoji Comms for World Emoji Day"
Wave 2 of promotion around Codemoji is being planned around World Emoji Day on 7/17. Plan includes email, social, snippet and comms.

This ticket is to track PR portion of plan and any other supporting Comms.

Deliverables (tbd)

cc: @KevZawacki @damiankay

[2016-07-08 17:06] KevZawacki commented on #73
Noting that I'm on PTO next week (July 11-15). Anticipating that, I've updated our comms plan accordingly, [here](https://docs.google.com/document/d/1d6SFYpC0XLg_ldyb_hdhIi76KBwmWjBBZJbDJvET8QM/edit#), complete with our pitch.

I've handed the plan over to MoCo Comms via Vidyo meetings / email threads this week. MoCo Comms will execute the pitching alongside their agency. That work is being tracke

[2016-07-08 17:21] KevZawacki commented on #72
@HPaulJohnson Pasting proposed snippet copy below, so it's easy to find:

##

Some people express themselves best through emoji. Are you one of them? Try Codemoji, Mozilla’s new game that’s all about emoji, ciphers, and encryption.

Morse code. Pig Latin. Invisible ink. And now, emoji code. Try Codemoji, Mozilla’s new game for encoding messages with emoji (and learning the basics of online ciphers

[2016-07-08 19:24] valianttry opened #74 "Infrastructure check: EU snippet donations July 21 - 26"
@ScottDowne and @cadecairos just want to make sure that our back-end (Stripe; etc) is good to go for this campaign: https://docs.google.com/document/d/1sVtIcqsvb713KhdRUMYVGdFzUoUNLWQDNi9Y7Cr8F08/edit

We'll need to give URLs to the snippet team for these as well.

[2016-07-08 19:57] cadecairos commented on #74
From a monitoring standpoint, we're better off than last year, since I've put a bunch of effort into that since March. From a scaling perspective, we're still set up to autoscale should load cause service times to increase.

There's also more monitoring on dependent services we didn't monitor last year, like sawmill, which sends our donation receipts.

[2016-07-08 22:08] ScottDowne opened #75 "Document and create a list of features expected from nationbuilder for makerparty"
A lot of good info came from here: https://docs.google.com/spreadsheets/d/1hs5ULg3671t7c7DS7mmjrg4jPvmSC6RjU12p5palI8Q/edit#gid=0

This is mostly to get the ball rolling. We should move this list into more specific tickets as we solidify it.
- Signup(crm/et)
- Signin(auth0)
- Event map
- Create an event
- Modify an event
- Delete an event?
- Communication (mass email sends)
- Attend an event
- Fin

[2016-07-08 22:42] natalieworth opened #76 "Trailer Production for World Emoji Day Video"
Creating a short (15 sec.) trailer video for World Emoji Day.

Script: https://docs.google.com/document/d/1dSADHJJnqyUKQ5Gqq9p_ex8U254CM3yqoGf57Re76-o/edit

Deck: https://docs.google.com/presentation/d/1L-X4BQ3yaEblb_iV2Bc0tlT0ZQ9BZIvEuaIz3XcaouQ/edit#slide=id.g153698739e_0_3

cc @lovegushwa @brettgaylor @KevZawacki

[2016-07-08 22:45] natalieworth opened #77 "Taco Balloon Video Production"
How many balloons to make a taco float?

@lovegushwa @KevZawacki

[2016-07-08 22:46] HPaulJohnson commented on #72
Update from snippet team:

@natalieworth can you create 1-2 icons to accompany copy above that can be used for Snippet. Would need to by Tuesday. Let me know if that's possible and/or if you need additional direction.

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-08 22:57] valianttry commented on #77
I don't know what this ticket is about, but I want in. ??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-08 22:59] valianttry commented on #74
I just looked at Google Analytics and can confirm there are successful donations through the forms for these locales.

[2016-07-08 23:03] #58 closed, assigned to valianttry

[2016-07-08 23:03] #57 closed, assigned to valianttry

[2016-07-11 13:51] ScottDowne opened #78 "Create a Makerparty/nationbuilder RACI metrix"
https://en.wikipedia.org/wiki/Responsibility_assignment_matrix

Requested in: https://docs.google.com/document/d/19Hlxw4ZABIbcYog8VJdAYfdhjniiqtcV1gwkD25MA1w/edit

Responsible:
Accountable:
Support:
Consulted:
Informed:

[2016-07-11 13:55] ScottDowne opened #79 "Setup Nationbuilder/Makerparty sandbox"
Use nationbuilder sandbox to start a makerparty example for what we need.

The idea here is not for experimenting features, but to build in actual working features and start to get a release candidate.

Doesn't need to be sandbox, maybe they have a version that we can make private and just click public when it's ready.

Start to setup features we define in: https://github.com/MozillaFoundation/Adv

[2016-07-11 13:57] ScottDowne commented on #79
- [x] setup sandbox env
- [x] moving all responsible and accountable people into one sandbox

-- [ ] Each feature implementation has it’s own ticket -- happening in https://github.com/MozillaFoundation/Advocacy/issues/75

start getting it setup the way we like it with our current feature list, isn’t really done, but something people can look at.

Goal is to solidify our list of features. Find hole

[2016-07-11 14:08] ScottDowne opened #80 "Start building signup(crm/et) and signin(auth0)"
Not sure yet the tasks involved here yet, but, it roughly looks like
- [ ] integrate auth0 with nationbuilder
- [ ] webhook setup for crm/et

Likely we want to spawn these into separate issues.

[2016-07-11 14:36] ScottDowne opened #81 "Build: Maker Party pages on learning.mozilla.org"
The agreed upon approach for the events website design is to re-use as many elements as possible from last year's Maker Party website.

We'll be using the WIP sandbox created in here: https://github.com/MozillaFoundation/Advocacy/issues/79 to get an idea as to what pages need to be designed.

Design should be based on:
Required functionality #75
Site map #126

Due August 12

CC @lovegushwa @ScottD

[2016-07-11 14:37] ScottDowne opened #82 "List pages needed for makerparty/nationbuilder"
We need a list of pages we'll need based on the feature set here: https://github.com/MozillaFoundation/Advocacy/issues/75

[2016-07-11 14:38] ScottDowne commented on #81
Also we'll have:

A list of pages defined here: https://github.com/MozillaFoundation/Advocacy/issues/82
A list of features defined here: https://github.com/MozillaFoundation/Advocacy/issues/75

[2016-07-11 14:40] ScottDowne opened #83 "Create stylesheet for makerparty/nationbuilder"
Turns comps into a stylesheet.

Comps created in: https://github.com/MozillaFoundation/Advocacy/issues/81

If possible, store the stylesheet in a repo we can use for any code assets.

[2016-07-11 14:43] ScottDowne opened #84 "Create Maker Party copy deck"
Copy deck for the Maker Party events site on Nationbuilder.

We'll also have:
A list of pages defined here: #82
A list of features defined here: #75

*Due date: \* September 6, 2016

[2016-07-11 14:47] ScottDowne commented on #80
Main goal here is to at least to requirements gathering and get it started. I would take a guess that actual completion (integrated into sandbox) happens next heartbeat, but maybe not.

If we integrate this work nextheartbeat, we should create a ticket to implement these.

[2016-07-11 14:53] ScottDowne opened #85 "Feature complete sandbox"
This is complete when the features and pages listed below is done:
- [ ] A list of pages defined here: #82
- [ ] A list of features defined here: #75
- [ ] Integrated with crm and signup: #80

It needs to look complete and works as expected from a user point of view. If back end bits are not hooked up and faked, that's fine.

[2016-07-11 14:56] ScottDowne opened #86 "Polish feature complete sandbox"
Take the feature complete sandbox created here: https://github.com/MozillaFoundation/Advocacy/issues/85

And implement:
- [ ] copy https://github.com/MozillaFoundation/Advocacy/issues/84
- [ ] styles https://github.com/MozillaFoundation/Advocacy/issues/83
- [ ] any missing backend work

[2016-07-11 14:59] ScottDowne opened #87 "QA makerparty/nationbuilder sandbox"
Take the finished sandbox created here: https://github.com/MozillaFoundation/Advocacy/issues/86

And do QA

Need to get feedback from consulted stakeholders, and show to informed people

Let's also figure out a list of things to qa.

We can start with going over:
- [ ] A list of pages defined here: #82
- [ ] A list of features defined here: #75
- [ ] Integrated with crm and signup: #80
- [ ] copy

[2016-07-11 15:00] ScottDowne commented on #87
We can file another QA ticket for next week and do another round of QA if needed.

[2016-07-11 15:03] ScottDowne opened #88 "Ship markerparty/nationbuilder sandbox"
Any QA would have been done in: https://github.com/MozillaFoundation/Advocacy/issues/87
- [ ] do any outstanding tasks
- [ ] ship it to something we can call production

[2016-07-11 18:12] valianttry commented on #69
Drafts are through all necessary approvals and have been sent to localizers. #71

[2016-07-11 18:12] #69 closed, assigned to KevZawacki

[2016-07-11 18:24] damiankay opened #89 "Change link to advocacy to be a more prominent call to action"
As we start to plan snippet access, it would be great to consider adding some list growth options - I'd like to consider sending one cohort of users to a share page (after they share the emoji with a friend) that includes an embedded signup form. Thoughts @valianttry @ScottDowne ?

![screen shot 2016-07-08 at 3 51 32 pm](https://cloud.githubusercontent.com/assets/19785709/16741828/e40f833c-4759-11

[2016-07-11 18:27] valianttry opened #90 "Choose: Nationbuilder or build an in-house campaign microsite featuring a petition sign up form"
An online petition is a key part of our public education and engagement strategy for Copyright reform.
We need to build a petition page that can accept signatures from people in the following locales:
p1: Germany, France, Italy, Spain, UK
p2: TBD

**Deadline to go live: August 31, 2016**

Key questions:
1. Can Nationbuilder send data to Salesforce?
2. Can Nationbuilder be stood up in time for the

[2016-07-11 18:28] ScottDowne commented on #89
I believe basket signups currently require a server, and I don't think codemoji has one. So that'll need to be created too, although maybe there is an existing shared one we can use.

@cadecairos ^^

[2016-07-11 18:43] cadecairos commented on #89
Codemoji does, in fact, have a server!

https://github.com/mozilla/codemoji/blob/d573d92500545024f8fb62874828a27dd2b7687a/web/server.js

[2016-07-11 19:34] damiankay commented on #89
@ScottDowne @cadecairos are there any other technical challenges that might make this a risky proposition to complete this week?

@valianttry @brettgaylor If you'd like to proceed I can ask Natalie to work on the UX.

[2016-07-11 19:37] ScottDowne commented on #89
Then yeah, this isn't too bad, can be done in a week. Not sure if I have the time to do it this week.

[2016-07-11 21:10] brettgaylor commented on #89
We'd need to do it this week if it were to be used, since goal is to have it for world emoji stuff which will launch friday

[2016-07-11 21:32] damiankay commented on #89
@brettgaylor do we need an entirely new page, or should we add a CTA to the top section (near "learn more about how encryption works")?

[2016-07-11 21:35] brettgaylor commented on #89
The idea here was actually whether we could embed a form in that page, rather than a link (which we already have)

[2016-07-11 21:40] damiankay commented on #89
Right - sorry. Do we have form elements that we can pass on to @natalieworth for UX design?

[2016-07-11 21:40] ScottDowne commented on #89
Both a link to a sign up form page or a form right in an existing page
should be pretty easy. I would talk to designers though about adding a form
to an existing page though. It might be too much going on and distract from
our primary focus goal on that page.

[2016-07-11 22:09] ScottDowne commented on #68
This is done.

[2016-07-11 22:09] #68 closed, assigned to ScottDowne

[2016-07-11 22:10] ScottDowne commented on #43
@valianttry I'm going to close this. We haven't had any reports so I'm hoping it was a one off thing.

Reopen this if it still happens to you.

[2016-07-11 22:10] #43 closed, assigned to ScottDowne

[2016-07-11 22:44] damiankay commented on #25
@valianttry any word from Stripe RE whether they have added support for bank transfers?

[2016-07-11 22:49] damiankay commented on #28
@ScottDowne should we move this to the Goals repo?
https://github.com/MozillaFoundation/Goals/issues

[2016-07-11 22:50] ScottDowne commented on #25
I forgot to follow through with this. They have bank transfer but only for
USA... not super helpful.

[2016-07-11 22:51] damiankay commented on #46
Hey @gideonthomas - who would be responsible for making these updates?

[2016-07-11 22:53] damiankay commented on #48
Hey @ScottDowne - is this still an issue?

[2016-07-11 22:53] valianttry commented on #25
I'm meeting with them in 8 minutes and it's on my agenda. I'm going to ask if it's on their roadmap (int'l vs. just US). Will report back.

[2016-07-11 22:54] damiankay commented on #49
Is this already done?

[2016-07-11 22:55] damiankay commented on #50
How much time would you need for this @ScottDowne ? I'm assuming it's going to have to happen after the Nationbuilder work is complete.

[2016-07-11 22:57] brettgaylor commented on #89
It would be the type of thing that it would be great to A/B test.

My gut is telling me that this is beyond the scope of this week.

[2016-07-11 23:13] damiankay opened #91 "Nationbuilder security review"
The Nationbuilder risk assessment bug in Bugzilla can be found here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1277667

It's a private bug - if you need access please let @valianttry @cadecairos @ScottDowne or @damiankay know.

[2016-07-11 23:17] damiankay commented on #91
@ScottDowne or @cadecairos could one of you please give Jonathan Claudius access to the Nationbuilder sandbox? He needs to assess their security controls.

[2016-07-11 23:19] damiankay commented on #79
@ScottDowne can you please share the sandbox with Jonathan Claudius? See #91

[2016-07-11 23:23] #60 closed, assigned to stephaniemcv

[2016-07-11 23:29] damiankay commented on #89
@ScottDowne how long would it take to set up Optimizely on the Codemoji site in order to do some A/B testing?

[2016-07-12 00:22] gideonthomas commented on #46
cc @ScottDowne

[2016-07-12 01:44] ScottDowne commented on #89
Dunno how long. So I think I should spend 15 mins tomorrow to figure that
out. My guess is a couple hours.

[2016-07-12 01:45] ScottDowne commented on #46
Yup this would prob fall under me as something I can do during down time.

[2016-07-12 01:46] ScottDowne commented on #79
Yup I can do this tomorrow.

[2016-07-12 15:50] ScottDowne commented on #90
To my knowledge, we've only stored petition signatures in BSD.

I don't know if crm can do this, and if it's going to be ready in time.
I don't know if ET/basket can do this.
Then there is nationbuilder.

[2016-07-12 16:53] brettgaylor commented on #89
@scottdowne and I met about this issue and decided that a form would likely be too distracting within the page.  Given we know that conversions to the link at the top of the page "Learn more about how modern encryption works" are poor, a compromise could be to change the text to something more direct such as "Sign up with Mozilla Advocacy to learn more about encryption"

@HPaulJohnson what do you

[2016-07-12 18:02] damiankay opened #92 "Create user stories for EU Copyright petition site"
Is it possible to generate user stories so that we're clear about what functionality is required for the Petition site? I think this would be helpful for @ScottDowne

Short notice, but ideally we would have this for Thursday this week. Let me know if this information exists already.

CC @valianttry @shaghdoosti

[2016-07-12 18:03] HPaulJohnson commented on #89
Think this is a good, short-term/quick way to address issue. For mobile, we might be a bit long on word count. Can we drop the Mozilla or Advocacy or both to tighten it up:

"Sign up to learn more about encryption"

[2016-07-12 18:03] ScottDowne commented on #80
Nationbuilder sandbox doesn't seem to have auth configuration available, so it's hard to play around with that aspect.

[2016-07-12 18:09] valianttry commented on #89
Can I suggest an alternative? We would likely increase the optin rate by offering one field, say email, and a "submit" button that then lands the user on a full form. Their email address could be auto-filled from the previous field page. Meaning, we don't need to embed the entire form on the codemoji page.

[2016-07-12 18:09] damiankay commented on #90
@ScottDowne - is your recommendation to go with Nationbuilder then, assuming we need it to connect with Salesforce and have it ready for Aug 31?

Also, can we tie it (I.e. Nationbuilder microsite/petition) in with Pontoon for localization?

[2016-07-12 18:15] damiankay opened #93 "EU Copyright Petition site: Create wireframes"
Once we have user stories and have selected a platform, we'll need to get moving on creating wireframes.

Reference:
#92 User stories

CC @ScottDowne @lovegushwa

[2016-07-12 18:20] ScottDowne commented on #90
No, I still feel better not relying on nationbuilder with such a risky timeline.

I'm trying to see if using BSD for petitions like we used to use it has any downsides.

The previous flow was a microsite that was hosted completely by us https://github.com/mozilla/petitions.mozilla.org. We then would send the data into BSD, which would then be used when we sent along the petition. I don't know why

[2016-07-12 18:27] damiankay commented on #84
@KevZawacki I've set you as the assignee - please let me know if this should go to someone else! Please note this is for a future Heartbeat / milestone.

[2016-07-12 18:30] ScottDowne commented on #89
Just to help anyone to get an idea as to what page we're talking about:

![ctas](https://cloud.githubusercontent.com/assets/197334/16778696/2426a2e6-483d-11e6-80ef-67eb4c4af75b.png)

We're talking about adding a signup mailing list link in the top white banner, instead of a link to a signup, correct?

cc @natalieworth

[2016-07-12 18:32] damiankay commented on #78
Hey @ScottDowne - what aspect of the project is this RACI matrix for? I can take this on, but just want to be clear.

[2016-07-12 18:40] ScottDowne commented on #78
@damiankay I think just the maker party event platform build with nationbuilder.

[2016-07-12 18:48] damiankay opened #94 "Share data sample with Andrew"
Hi @cadecairos - just checking to see if you were able to share a sample of the data from Blue State Digital for Andrew Morales to review. If not, could you please share as soon as possible?

Thanks!

CC @valianttry

[2016-07-12 19:04] damiankay commented on #22
Hey @valianttry - is there an action we need to take for this. Did someone end up writing a blog post? Is it still relevant?

[2016-07-12 19:28] valianttry commented on #22
It could be a good blog post in the future, but I don't believe anyone wrote anything. I'll close.

[2016-07-12 19:28] #22 closed, assigned to nobody

[2016-07-12 19:33] valianttry commented on #90
@ScottDowne I have major concerns about using BSD for anything. I am hoping to send them a termination letter this week which means complete shut down in 90 days. We've disabled all forms using BSD for good reason.

[2016-07-12 19:40] damiankay commented on #90
@ScottDowne Let's wait to see what is required from the user stories #92 before choosing a path. I think that the rest of the team would like to use Nationbuilder if at all possible for the Petition site, as that's what we'll need to use in the future, and this campaign will continue on through H1 2017.

[2016-07-12 19:40] ScottDowne commented on #90
@valianttry I agree, but we don't have a replacement ready yet, and we're planning a campaign that's dependent on this functionality, putting us in a pretty hectic (and risky) position.

[2016-07-12 19:43] ScottDowne commented on #90
I guess, without BSD, nationbuilder is our only option. Making this choice kinda simple.

[2016-07-12 19:44] valianttry commented on #91
@ScottDowne granted him access and he's running vulnerability assessments this week. Once completed, we should be able to launch contract discussions with Nationbuilder.

[2016-07-12 19:50] ScottDowne commented on #90
I took a quick look at nation builder's petition setup, and it looks like we can send data to it, but create the form off nation builder if we want to. Or use the whole thing.

So we have the option for using it as:
- signature storage + page hosting
- just signature storage

It also makes the signature process quite a bit easier if they already have an account  in nationbuilder, because a lot of

[2016-07-12 20:06] ScottDowne commented on #90
The required fields in a nationbuilder petition is only first name, last name, and email OR phone.

It doesn't look to have much of a configuration, or that I can find yet, for the fields we display/collect.

[2016-07-12 20:08] damiankay commented on #90
That's a great catch @ScottDowne . Any other functionality / design limitations that might be relevant to this project / future petition sites?

[2016-07-12 20:12] ScottDowne commented on #90
Nothing yet, it looks functional.

The only thing I want to stress is we can still use this with or without a micro site, depending on the needs of the campaign. My guess is we don't do the micro site without good reason.

So the only risk is still making sure it's through sec review.

@damiankay we should probably setup a call with me, maybe you, and the designer, so I can do a demo for nationbui

[2016-07-12 20:25] damiankay commented on #90
Awesome - thanks @ScottDowne !

I'll set up a meeting with the designers for early next week.

[2016-07-12 20:29] ScottDowne commented on #79
I slapped this page together http://makerparty-mozillasandbox.nationbuilder.com/

I'm using a default template, design is not something we need to look at here.

[2016-07-12 20:51] brettgaylor commented on #89
@valianttry discussion today was that we probably didn't have cycles to add a form and then it was dubious since might depress conversions to the other CTAs on that page (ie share the encoded message).  Do you disagree/think adding email is worth experimenting?

[2016-07-12 20:51] brettgaylor commented on #89
@ScottDowne it would go to the same page.  We're just talking about changing the copy.

[2016-07-12 22:51] valianttry commented on #89
Agreed @brettgaylor . The share this message function is so important for driving traffic it's probably not wise to muck it up (e.g. "choice paralysis"). Right now there are two direct links to our optin form: 1) when i click "learn more" in the footer, and 2) "learn more about how encryption works" at the top. If I click on either one, I land on the page version with the full form on the right, w

[2016-07-12 23:55] valianttry commented on #71
L10N is amazing.
Our primary locales appear to be completely localized.

(replace xx with locale codes, use es-ES for Spanish).
To check the status of all the required locales:
https://l10n.mozilla-community.org/webdashboard/?locale=xx

Source files can be found here:
https://github.com/mozilla-l10n/engagement-l10n/blob/master/xx/snippets/2016/jun2016_berec.lang.

[2016-07-13 00:13] damiankay opened #95 "Create EU Copyright campaign creative brief"
Brett and Paul - I know you're already working on this, but wanted to document it in Github.

Assuming this will cover goals, KPIs, audience segmentation, messaging, and more.

We'll share with Policy to make sure that it fits with their approach.

Draft 1 due July 13

[2016-07-13 00:14] damiankay opened #96 "Create EU Copyright campaign strategy brief"
Sara is putting this together with input from the Policy team.

Due July 15

[2016-07-13 00:16] damiankay opened #97 "Create EU Copyright campaign comms plan"
Kevin to create a comms plan with input from @HPaulJohnson @brettgaylor @valianttry @shaghdoosti @damiankay

[2016-07-13 00:18] damiankay opened #98 "Complete list of external agencies"
Damian to update the list with input from Advocacy team and Tim Murray.

Due July 15

[2016-07-13 00:22] valianttry commented on #70
@lovegushwa I think you're drowning and we should just run a test of 1 vs. 2 (e.g. no design required). We can revisit this test later on when things are less ??

That OK by you?
cc @damiankay

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-13 00:23] damiankay opened #99 "EU Copyright Petition: Design website V1.0"
To complete once creative brief and wireframes are approved.

Reference:
#96 Strategy brief
#95 Creative brief
#97 Comms plan
#93 Wireframes

Due Aug 2

[2016-07-13 00:24] damiankay opened #100 "EU Copyright campaign asset treatment(s)"
Creative direction for campaign assets

[2016-07-13 00:47] valianttry opened #101 "Send BSD termination letter"
Private legal bug is here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1283490

Currently working on this with Abigail Phillips on our legal team with help from @simonwex .

Goal: Send the letter to BSD this week by mail + email.

[2016-07-13 00:49] valianttry commented on #92
I'm going to work on drafting this tomorrow (WED) and will ask @shaghdoosti to weigh in. Then i'll share for more feedback from the media team including @brettgaylor . (I already have some of these user journeys across a few documents... just need to pull it all together.)

[2016-07-13 16:08] ScottDowne commented on #80
So I don't forget:
- [x] send nationbuilder an email asking about sandbox and auth.

[2016-07-13 17:31] stephaniemcv opened #102 "World Emoji Day Email Image"
@natalieworth @lovegushwa
Can I get an assist on an image for the email going out on 7/17? I need an image of 600 px width of the new emojis that say "Happy World Emoji Day"

Email copy in ticket #61

[2016-07-13 19:09] damiankay commented on #94
Hey @stephaniemcv - do you have access to the data in BSD? Would you be able to extract a sample to share with Andrew?

[2016-07-13 22:38] natalieworth commented on #72
Hey @HPaulJohnson I've upload 2 icons here: https://drive.google.com/open?id=0B20-0lpP23c0aXROajlNb3FsVDQ at 64 x 64 px @ 144dpi
Let me know if the snippet team needs different requirements. Thanks :)

[2016-07-13 22:55] valianttry commented on #25
Update from Stripe:
- ACH Payments: Accepting ACH payments in the US may be an effective way to reduce the volume of checks you receive each month. The following example from Charity Water demonstrates how they accept both credit cards and bank transfers via Stripe: https://donate.charitywater.org/donate/home -- and you can learn more about Stripe ACH payments here: https://stripe.com/blog/accept-

[2016-07-13 22:57] damiankay commented on #25
RE European bank transfers: that's better than "No"

[2016-07-13 23:01] valianttry commented on #25
?? true!
I still suspect we may need an entity to accept donations somewhere in the EU (it's mostly difficult because we are a us-based nonprofit, not nec. the tech that is difficult)

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-14 15:49] ScottDowne opened #103 "Investigate how one would manage an rsvp to an event if not signed up"
Documentation: nothing yet

Sandbox test:

I setup an event: http://makerparty-mozillasandbox.nationbuilder.com/scott2
logged out, cleared cache, and did an rsvp.

I got a confirmation email which also included:

[code]

The link kinda didn't work on sandbox. But the page still worked. Looked like it also created a cookie for me when I did the rsvp, so I could modify it. Kinda not great. Hoping th

[2016-07-14 16:34] lovegushwa commented on #72
@natalieworth icons look great!

[2016-07-14 16:46] stephaniemcv commented on #94
Closing as samples were shared with Andrew and Chris

[2016-07-14 16:46] #94 closed, assigned to stephaniemcv

[2016-07-14 17:01] valianttry commented on #92
Started here: https://docs.google.com/document/d/1Pz4cTK0_Nauo1I1bBubzEr4Gs8RlolMwbm2eeTpqD-Y/edit#

NOT COMPLETED (DRAFT)

[2016-07-14 17:45] ScottDowne commented on #90
I poked around nationbuilder for localized pages. Looks like there is no supported way (that I could find), there is a hack, but it doesn't scale at all. So the more locales we have, the harder changes become. Also won't integrate with Pontoon.

My advice is we build the micro site, outside of nationbuilder, which sends the signatures to nationbuilder/crm.

[2016-07-14 23:18] damiankay opened #104 "Refine approval process for emails"
Objective: define a clear process for QA reviews and approvals for emails, snippet copy, + other copy assets.

[2016-07-14 23:29] damiankay commented on #104
@valianttry you can see our initial draft here: https://docs.google.com/document/d/1s8Ru5bOZf-i00v3fehjgpGfjRwdqyJm5kGX5rasvKCo/

Feel free to add any feedback you may have to the document. Stephanie and I can take another go at refining and making edits.

[2016-07-14 23:31] natalieworth commented on #76
Update:
Draft versions are happening here: https://drive.google.com/drive/folders/0B20-0lpP23c0X1Zjd28zU1kzM1U
Will post other exports for this in the afternoon once credits have been finalized.

[2016-07-14 23:48] natalieworth commented on #76
- [x] Snippet video: (341x192 px, webm compression http://www.fnordware.com/WebM/)
- [x] Video for social (facebook): 1280 x 720p), MP4 or MOV format
- [x] Video for social (twitter): 1280 x 720p, MP4 format
- [x] Youtube: 16:9 aspect ratio/ 1920 x 1080 HD (make 1080p/ 720p)

[2016-07-15 00:35] natalieworth commented on #102
hey @stephaniemcv sorry for the delay! have the image here (one at 72 dpi and one @ 2x dpi):
https://drive.google.com/drive/folders/0B20-0lpP23c0b3UzX253bHIydHM
I changed the emoji so let me know if you or @KevZawacki want different ones and I can update tomorrow morning :D

[2016-07-15 00:37] natalieworth commented on #102
@stephaniemcv files are also:
03codemoji_email_image_v2.jpg ( 72 dpi/ low res)
04codemoji_email_image_v2@ 2x.jpg (@ 2x or 144 dpi)

[2016-07-15 14:31] ScottDowne commented on #90
I found a thing (it's not great, but better than nothing) that does machine(free) or human(paid) translation via a free trial or paid account that works with nationbuilder, example: http://makerparty-mozillasandbox.nationbuilder.com/?locale=de

[2016-07-15 14:31] ScottDowne commented on #90
It's called http://www.bablic.com

[2016-07-15 16:16] stephaniemcv opened #105 "World Emoji Day Email Reivew"
Please review the email copy, test the links and note any feedback in this ticket.
Audience: Remaining engaged list who has NOT gotten either of the 2 previous Codemoji emails ~700,000

[2016-07-15 16:27] valianttry commented on #105
I have no copy writing edits. +1 from me.

Real talk tho: There will be a few days between the Nice attack in France and this email campaign, but (help us) if there is another attack, how easily is it for us to put on the breaks @stephaniemcv ? With these "lighter fun" type of emails, we really need to keep on top of a launch moment that could be interpreted as "tone deaf" in light of a major atta

[2016-07-15 16:30] valianttry commented on #101
I have discussed Andrew Morales's offer to support our data migration with Jessilyn Davis, and she is checking internally to make certain it's OK for him to provide support for us. Technically he is on the IT team. As soon as I get that green light, I will send this letter. I feel a little nervous doing it without that resource available.

[2016-07-15 17:05] HPaulJohnson commented on #105
Reviewed and no comments/edits on email.

+1 to @valianttry's comments and keeping a close eye on what happens in the next 48-hours given the lighter tone of this communication.

[2016-07-15 17:37] stephaniemcv commented on #105
I will do some digging, I am unsure if there is an alert system for scheduled emails. I do know SFMC is has released/is releasing some new capabilities.
-Email recall
-Mobile App that lets you see even scheduled emails (IOS is out, Android is coming this fall)

Because of events, I'm willing to not put the email on auto pilot and just do a manual send on Sunday.

[2016-07-15 17:42] natalieworth commented on #76
Files are uploading to folder here: https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0TTNnZklxeVVEcGM
Just waiting on the final Snippet video resolution size and then good to go!

[2016-07-15 17:43] natalieworth commented on #76
cc @HPaulJohnson

[2016-07-15 17:43] ScottDowne commented on #91
@damiankay is there anything left that's actionable for me in this bug?

[2016-07-15 17:46] damiankay commented on #91
@ScottDowne I don't think so at the moment, but let's keep it open for now.

[2016-07-15 18:15] damiankay commented on #105
@stephaniemcv this might be too nitpicky, but should there be some padding between "Connect with us" and the white div above? Otherwise looks great.
![screen shot 2016-07-15 at 11 10 36 am](https://cloud.githubusercontent.com/assets/19785709/16884302/785708a0-4a7d-11e6-8325-451ff0737f6d.png)

[2016-07-15 18:20] ScottDowne opened #106 "questions for nationbuilder/fission"
Making a place for us to put all our questions for nationbuilder together.

[2016-07-15 18:21] ScottDowne commented on #106
From me:
1. How does someone manage their rsvp to an event without signup. I tried to do this on the sandbox, and it was kinda broken. https://github.com/MozillaFoundation/Advocacy/issues/103
2. Any suggested solutions for l10n, and what are our options?
3. We need to setup SSO and not able to test that in the sandbox, seems to be disabled.
4. Can we add, remove, or change fields in a signup or pe

[2016-07-15 18:24] stephaniemcv commented on #105
@damiankay Super easy fix!

[2016-07-15 18:37] HPaulJohnson commented on #76
thanks, @natalieworth.

The Twitter version needs to be MP4 format and it looks like the one in the folder is .mov. Can you convert to MP4 and let Liz and I know when it's ready?

[2016-07-15 18:42] ScottDowne commented on #91
Works for me. Moved it to you for now as requested :)

[2016-07-15 18:43] ScottDowne commented on #53
Looks to be fixed. Reopen if I am incorrect.

[2016-07-15 18:43] #53 closed, assigned to nobody

[2016-07-15 18:47] valianttry commented on #105
@damiankay, nit picky is SO GOOD. LIKE, DO NOT APOLOGIZE FOR DOING AWESOME QA EVER AGAIN. ??

![nitpicky](https://cloud.githubusercontent.com/assets/9830371/16885111/df371336-4a81-11e6-995e-2cab026697ad.jpg)

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-15 18:48] ScottDowne commented on #62
This got fixed recently, mostly it was a cloudfront thing, if I recall correctly.

[2016-07-15 18:48] #62 closed, assigned to nobody

[2016-07-15 18:49] damiankay commented on #105
Yes master Yoda! ??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-15 19:17] valianttry opened #107 "Finalize Vojtech Sedlak's onboarding plan"
Onboarding is important! Our work is complex. Mozilla is fun, interesting, and sometimes a whacky world that's hard to grasp. This is our opportunity to help someone get their sea legs faster ??

Rough DRAFT here based on @damiankay 's onboarding plan:
https://docs.google.com/spreadsheets/d/12iRVs_gIfVKOU36mE22fxdDEeYAfMo6qcBTchOcSnLQ/edit#gid=0
- [X] Andrea takes a first pass at edits
- [x] @dami

[2016-07-15 20:13] natalieworth commented on #76
@HPaulJohnson I think Liz was able to convert it from Youtube. I'm not able to export MP4 from Adobe for some reason, but there is a converter site once it's uploaded to Youtube or facebook: http://www.onlinevideoconverter.com/video-converter

[2016-07-15 20:55] natalieworth commented on #76
@HPaulJohnson I've also included a subtitled version for the facebook video—since it autoplays (let me know we'll need any other versions/ outputs subtitled and I can export those also):
*also check my spelling/ punctuation if you're able to! I double-check...but you never know :)
https://drive.google.com/open?id=0B20-0lpP23c0TmhiOGxMcDVtanM

[2016-07-15 20:59] HPaulJohnson commented on #76
that's awesome, thanks @natalieworth

the only punctuation I would change would be to remove the em dash in "where people-and..." It will ready cleaner if it just says "where people and..."

[2016-07-15 21:00] natalieworth commented on #76
For sure, just updating and I'll post here soon

[2016-07-15 21:14] valianttry opened #108 "Salesforce Migration: Plan for connecting Stripe Data"
About 40% of all donations to Mozilla come through Stripe. Donors using credit cards interface with our Stripe donation flow. We do have some limited donor data already in Salesforce.

We need to put an integration in place so that donor information is regularly added to Salesforce records. This is important so that:
- We can personalize outgoing email to donors based on their donation history. Fo

[2016-07-15 21:17] valianttry opened #109 "Salesforce Migration: Plan for connecting PayPal Data"
About 70% of all donations to Mozilla come through PayPal. We do have some limited donor data already in Salesforce.

We need to put an integration in place so that PayPal donor information is regularly added to Salesforce records. SEE #108 and it looks like Zapier also offers a PayPal integration in addition to Stripe: https://zapier.com/zapbook/paypal/salesforce/.

cc @cadecairos and @ScottDowne

[2016-07-15 21:18] natalieworth commented on #76
@HPaulJohnson Final Facebook files are in here (including subtitled version): https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0MmNFaE1qUTZqYm8

[2016-07-15 21:30] valianttry commented on #109
Important note: I believe any software like Zapier or other SF Marketplace Add Ons all have to be vetted by security + legal. (We need to confirm this process with Andrew Morales.)

[2016-07-15 21:35] damiankay opened #110 "EU Copyright and Maker Party media & asset planning"
Hi guys - let's track our recommendations for MVP media and assets here. Once approved, we can break them into separate tasks.

CC @brettgaylor @HPaulJohnson @lovegushwa @KevZawacki

[2016-07-15 22:15] damiankay commented on #107
Hi @valianttry ,

Just a few notes based on my very recent onboarding (arranged by line number):
16: The IRC client of choice in the Vancouver office seems to be IRC cloud, although Adium will work as well.
23: The glossary of terms is missing an explanation for "MLN" which had me stumped for a little while (well, a few days), esp as the meaning has changed.
29: Added a note about deadline for for

[2016-07-15 23:03] valianttry commented on #109
cc @drewmoto as an FYI

[2016-07-15 23:13] HPaulJohnson opened #111 "[URGENT] Codemoji Bug with URL parameters impacting snippet going live"
Working with snippet team today, we have a bug that is proving problematic with the way snippet inserts parameters.

Try URL: https://codemoji.org/?utm_source=desktop%20snippet&amp;utm_medium=snippet&amp;utm_campaign=codemoji

Robot appears but then resolves into a blank white screen.

Workaround seems to be using direct URL path to https://codemoji.org/#/welcome/?utm_source=desktop%20snippet&amp;

[2016-07-16 01:01] #111 closed, assigned to ScottDowne

[2016-07-18 17:09] damiankay opened #112 "Add Andrew Morales to GH repo"
Hi @cadecairos ,

Can you please add Andrew Morales to our Advocacy Github repo? Mostly to cc him on occasional requests related to Salesforce.

He currently has a handle in Github: 'drewmoto’. His email is drewmoto@gmail.com

Thanks!

CC @ScottDowne

[2016-07-18 17:54] valianttry commented on #101
UPDATE: @drewmoto is confirmed to help with this data migration. I've asked Angela to sign the letter to BSD and am hoping it will be sent today (tomorrow at the latest). That will start the 90days clock to totally migrate all our data out of BSD.

[2016-07-18 18:01] damiankay commented on #78
See the following document for a RASCI matrix:
https://docs.google.com/document/d/1b0U2wUi7aPwfUa8v5hcXC8UtqueyxgBZQuK1Nsqf5wo

This has been approved by George, Sara, and Chris

[2016-07-18 18:02] #78 closed, assigned to damiankay

[2016-07-18 19:10] cadecairos commented on #112
done

[2016-07-18 19:10] #112 closed, assigned to cadecairos

[2016-07-18 19:21] damiankay commented on #112
Thanks!

[2016-07-18 19:50] valianttry commented on #93
@natalieworth here is a response from Nathan, our contact at Nationbuilder, to a request for assets for designers working in Nationbuilder. There are hopefully some good resources in here:

[2016-07-18 19:54] natalieworth commented on #76
Woot woot, final files are here and closing this: https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0TTNnZklxeVVEcGM
Happy Belated World Emoji Day! 👍 💯

[2016-07-18 19:54] #76 closed, assigned to natalieworth

[2016-07-18 20:10] natalieworth commented on #93
Thanks @valianttry — just looking through these right now and there seems to be some good benchmarks for petition forms in there

[2016-07-18 21:24] lovegushwa commented on #93
@natalieworth this agency builds there sites with Nationbuilder: http://www.mosaicstg.com/
... worth checking out.

[2016-07-18 21:58] valianttry commented on #101
DONE - sent via email and USPS.

[2016-07-18 21:58] #101 closed, assigned to valianttry

[2016-07-19 16:41] damiankay commented on #105
Assuming this one is done - please reopen if I'm mistaken!

[2016-07-19 16:41] #105 closed, assigned to stephaniemcv

[2016-07-19 16:44] damiankay commented on #61
Closing this issue - please reopen if necessary

[2016-07-19 16:44] #61 closed, assigned to HPaulJohnson

[2016-07-19 16:46] damiankay commented on #73
Closing this issue - please reopen if necessary

[2016-07-19 16:46] #73 closed, assigned to KevZawacki

[2016-07-19 16:46] damiankay commented on #72
Closing this issue - please reopen if necessary

[2016-07-19 16:46] #72 closed, assigned to HPaulJohnson

[2016-07-19 16:48] damiankay commented on #77
Brilliant Snapchatting @lovegushwa 🐱🌮🎈

[2016-07-19 16:48] #77 closed, assigned to lovegushwa

[2016-07-19 16:51] #102 closed, assigned to stephaniemcv

[2016-07-19 18:31] damiankay opened #113 "Nationbuilder template research"
Hey @natalieworth,

As per our meeting today, can you please:
1. Look at existing themes to see if any of them match our needs
2. Look at common design elements that can be re-used across campaigns, and what can/should be customized for each campaign

Due: July 29

CC @lovegushwa

[2016-07-19 18:33] damiankay opened #114 "Nationbuilder template elements"
Hey @ScottDowne,

Can you please identify for the design team which elements can be easily changed on a campaign by campaign basis?

CC @lovegushwa @natalieworth

[2016-07-19 18:37] damiankay opened #115 "Define petition delivery method"
Hey @ScottDowne,

Can you please keep on your radar that we need to define where the petition data is being stored?
- Salesforce?
- Nationbuilder?
- both?

CC @valianttry @shaghdoosti

[2016-07-19 18:42] damiankay opened #116 "Share examples of localized sites"
Hey @valianttry

Would you mind checking in with your contacts at Nationbuilder to see if they can provide examples of localized sites, an potentially a contact to speak to about setting up advanced L10n?

CC @ScottDowne

[2016-07-19 22:30] stephaniemcv commented on #107
Cool! His on-boarding is looking good!

25: I've found that I mostly use Airmo now for the weekly project meeting, https://wiki.mozilla.org/WeeklyUpdates

28: I would call out specifically attending Foundation Demos (Fridays) on the MoFo events calendar, great way to see what's going on around Foundation

68 & 69: These can be merged, there's only one email calendar now

87: Warn him that Mark is

[2016-07-19 22:33] damiankay commented on #79
Hey @ScottDowne - is this done, or do you still need to add anyone to the sandbox?

[2016-07-19 23:13] stephaniemcv commented on #108
- Currently there is no donor data or any donor related fields in SalesForce. (we get to start from scratch!)
- Therefore there is no regular updating of any donor data (no new donor accounts are being created and no data is being appended to current contacts).

[2016-07-20 00:07] damiankay opened #117 "Salesforce migration: Obtain data records from Blue State Digital"
As BSD has by now received their termination letter, we need to get a data dump of our records.

@cadecairos are you the one to manage the data dump?

Here are some things to consider:
- Are there multiple steps in the process?
- What options/formats does BSD provide for data dump?

CC @valianttry @stephaniemcv @drewmoto

[2016-07-20 00:11] damiankay opened #118 "Salesforce Migration: Correlate existing records from BSD and SFDC"
We need to engage with DEG to get some background on existing contact records, as contacts may be in both SFMC and SFDC, as well as existing records in BSD.
- Was ALL data moved over incl. Meta data?
- What data lives where?

CC @valianttry @drewmoto

[2016-07-20 00:12] valianttry commented on #117
@damiankay there are some security sensitivities as we discuss moving this amount of PII (personally identifiable information). I have an update from Blue State Digital on next steps but don't want to put them in a public repository unless we're 100% certain that's the route we want to go. @simonwex might have thoughts on this.

[2016-07-20 00:14] damiankay opened #119 "Salesforce Migration: Create project plan"
What does success look like?
When do we launch? I.e. define dates

CC @valianttry

[2016-07-20 00:15] valianttry commented on #118
Please cc @stephaniemcv on all tickets about BSD >> SFMC as she knows our data best in both BSD and Salesforce ATM.

[2016-07-20 00:15] damiankay commented on #119
@valianttry - can you help me with success metrics for this project? I'd like to tie them in with testing if possible.

[2016-07-20 00:21] damiankay opened #120 "Salesforce Migration: Clean up data"
@cadecairos I think this issue is for you. If not, please reassign. Please note: This task is a blocker for configuring Salesforce and getting data into the system.
- [ ] Which data can we get rid of (which fields) from existing records?
- [ ] Which fields do we need in SF? Anything new? I.e. “notes”
- [ ] Talk about thresholds “how we scrub data” (Which contacts are we keeping? What are rules? I.

[2016-07-20 00:24] valianttry commented on #119
I would start with these as success metrics, but invite @stephaniemcv or @simonwex or @cadecairos to add / edit these:

-- Data stored in BSD is analyzed and categorized as "essential" vs. "non-essential"
-- Data we prioritize as "essential" for migration is successfully appended to corresponding records in SFMC (matched by email address)
-- Data that is deemed NOT essential and that are NOT migra

[2016-07-20 00:27] valianttry commented on #117
See @cadecairos 's email -- all the BSD >> SFMC migration tickets should live in a secure repo. He's sending invites. ??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-20 00:27] damiankay commented on #117
Perfect - thanks for flagging @valianttry

[2016-07-20 02:03] ScottDowne commented on #115
Hey @shaghdoosti I'm just trying to understand what is needed for delivery of petition signatures, and how that works.

I can ensure it gets into nationbuilder (or bsd in the past) but I've always been in the dark with what happens to it, when the time comes. I think knowing this is going to help me make better decisions.

[2016-07-20 02:21] ScottDowne commented on #114
Short answer is, from what I have seen, any element changed on a campaign by campaign basis is going to have a cost, but anything can be changed.

I'm starting to think blocking on this isn't useful. Let's just priorities for the needs of making an awesome campaign, and we'll figure out the technology. Right now all we got is nationbuilder, so we're doing this campaign in nationbuilder no matter w

[2016-07-20 02:21] #114 closed, assigned to ScottDowne

[2016-07-20 02:24] ScottDowne commented on #106
@valianttry status on our contact? I would like answers to these ASAP.

[2016-07-20 02:32] ScottDowne commented on #90
Decision: nationbuilder

I did a test today to get the petition signatures into nationbuilder from a microsite.

Nationbuilder uses an authenticity_token on the client that needs to be validated on the server.

So only their pages can push the data into nationbuiler, and because we only have one system that can handle signatures, it makes a microsite not feasible for this campaign.

[2016-07-20 02:32] #90 closed, assigned to ScottDowne, valianttry

[2016-07-20 02:34] ScottDowne commented on #79
Yeah, I think the sandbox permissions are pretty easy. If anyone else I missed needs access I can give it.

We still have an open task to file tickets for each feature, but I don't think that's super useful right now, too soon. So going to push that. We can do that in https://github.com/MozillaFoundation/Advocacy/issues/75

[2016-07-20 02:34] #79 closed, assigned to ScottDowne

[2016-07-20 16:31] damiankay commented on #119
Sorry @valianttry - I think that's a copy/paste error. I've removed those points.

@stephaniemcv @simonwex do you have any input on what we should flag as success metrics for data migration from BSD to SF? Please see Andrea's notes above.

[2016-07-20 16:45] simonwex commented on #119
I think @valianttry nailed it. Nothing to add.

[2016-07-20 20:29] cadecairos commented on #74
how much traffic should we anticipate?

I'm going to triple check that donate is A-OK to handle an increased load, and that Auto scaling is enabled.

[2016-07-20 20:31] valianttry commented on #74
30,000 - 50,000 page views a day (roughly)

[2016-07-20 20:34] cadecairos commented on #74
Glad I looked, because auto scaling was disabled! Must've been from when I reset my 2FA device - it regenerated the secret key I set up with the auto scaling provider!

It's now re-enabled.

[2016-07-20 23:53] stephaniemcv commented on #119
Nothing to add here either.

[2016-07-21 00:22] damiankay commented on #119
Great - thanks everyone. I'll log these in the project plan.

[2016-07-21 00:22] #119 closed, assigned to damiankay

[2016-07-21 00:51] damiankay commented on #120
Closing and moving to private repo

[2016-07-21 00:51] #120 closed, assigned to cadecairos

[2016-07-21 00:52] damiankay commented on #118
Sure thing - I'd actually assigned this to Stephanie 👍

[2016-07-21 00:52] #118 closed, assigned to stephaniemcv

[2016-07-21 00:54] damiankay commented on #117
This has moved to a private repo

[2016-07-21 00:54] #117 closed, assigned to cadecairos

[2016-07-21 00:57] damiankay commented on #109
Moved to private repo

[2016-07-21 00:57] #109 closed, assigned to drewmoto

[2016-07-21 01:00] #108 closed, assigned to drewmoto

[2016-07-21 20:03] damiankay opened #121 "Maker Party platform build: Review project milestones"
Hey all,

Please have a look at the timeline for the Maker Party platform and leave any feedback that you may have. I'm particularly interested to know if you feel that you don't have enough time to meet your deliverables as outlined. Speak up now! :-)

https://docs.google.com/spreadsheets/d/13U6x_mve_Z-wLMd6KHNT8gvghJ2TtretkARaESUpKpY/edit#gid=0

CC @simonwex @ScottDowne @natalieworth @lovegushwa

[2016-07-22 03:00] stephaniemcv commented on #107
Also added http://mofo.build/ to the onboarding doc, since it looks like a great resource even though it's in "soft launch"

[2016-07-22 22:24] damiankay opened #122 "Maker Party Events Platform: Project information"
Project overview:
The purpose of this project is to create an online community platform that allows for the easy creation of Maker Party events and provides access to additional event management functionality for trusted event leaders / coaches.

Additional background: Many tasks related to setting up the platform will be shared between the Events Platform for Maker Party and the EU Copyright Peti

[2016-07-22 22:32] damiankay opened #123 "Sign service agreement with Nationbuilder"
Will need to work with Mozilla legal and finance departments.

Due August 1

CC @a-kilroy @simonwex

[2016-07-22 22:37] damiankay opened #124 "Secure external Nationbuilder resources / contractors"
Arielle has posted an RFQ for external Nationbuilder resources.

The posting can be found here: https://docs.google.com/document/d/1k7k3-p3vGBbHhB-oVbtUYTlalMHaF9sbMDcUrMT9ums/edit?usp=sharing

Can you please keep us up to date on submissions and a shortlist here?

We've identified July 29th as the due date for final contract approval.

CC @simonwex @valianttry

[2016-07-22 22:41] damiankay opened #125 "Define required features for Maker Party events"
Can we build a "features and requirements" document for MP events? I took an initial try at this in the project brief linked below, but I'm sure that we should add more detail:
https://docs.google.com/document/d/1g8wXqtjg52I8w8dkyRBKCwS-mjguNO6xidYeCirspY4/edit#

See user stories document: https://docs.google.com/spreadsheets/d/1hs5ULg3671t7c7DS7mmjrg4jPvmSC6RjU12p5palI8Q/edit#gid=0

Due July 27

[2016-07-22 22:44] damiankay opened #126 "List pages required for Maker Party website"
As part of this task we need to identify which pages live in Nationbuilder, and which live in learning.mozilla.org.

The key deliverable should be a site map.

Due: July 27

CC @simonwex @a-kilroy @ScottDowne @lovegushwa @natalieworth

[2016-07-22 22:46] damiankay commented on #126
@hannahkane - do you have a site map from 2014 that might help identify which pages we'll need? I understand that last year's Maker Party was more limited in scope and may not reflect the full functionality that we're creating this year. Thx!

[2016-07-22 22:51] simonwex commented on #125
@shaghdoosti could you share what conclusions you came to in today's call?

[2016-07-22 22:55] damiankay opened #127 "Create systems to measure Maker Party data"
The following success metrics have been identified for this project:
1. Number of events created
2. Number of returning event leaders
3. Number of new event leaders
4. Number of support requests
5. User paths started / completed
6. General UX satisfaction of platform (User survey results show a 7+ rating on feedback  on a scale of 1-10)

We need to plan how we will measure each of these items.

Du

[2016-07-22 22:57] damiankay opened #128 "Maker Party: Complete User Data Plan"
We need to identify what data we're collecting, where it will be stored, security, etc.

Due August 5

CC @simonwex @ScottDowne @valianttry @drewmoto

[2016-07-22 23:04] hannahkane commented on #126
hmmm...not sure I have anything from 2014.

@sabrinang - did you design the Maker Party 2014 website? Do you have mockups somewhere?

[2016-07-22 23:09] simonwex commented on #125
@shaghdoosti could you share what conclusions you came to in today's call?

[2016-07-22 23:10] damiankay commented on #82
Closing in favor of duplicate issue here: #126

[2016-07-22 23:10] #82 closed, assigned to damiankay

[2016-07-22 23:16] damiankay commented on #126
@hannahkane - I probably shouldn't have been so prescriptive. Assets from 2015 would be helpful as well, esp. when we get into design.

[2016-07-22 23:18] damiankay opened #129 "Maker Party: Audit graphic / media assets"
We should start with an audit of existing assets and create / update assets as required.

See Maker Party asset audit for reference: https://docs.google.com/document/d/13mbofkesyawRqWeCAX3AhExRRz7VZWqGbnQXNiiu3iM/edit#

Due: August 5

CC @lovegushwa @ScottDowne

[2016-07-22 23:23] damiankay opened #130 "Maker Party website: Create wireframes"
Once we've completed the site map and documented required functionality, we should create wireframes.

References:
List required pages #126
Site map #158
List of features #75

First draft July 29

CC @lovegushwa @ScottDowne

[2016-07-22 23:24] hannahkane commented on #126
2015 site is still available here:
https://learning.mozilla.org/events (landing page)
https://learning.mozilla.org/events/resources (additional resources page)

Hope this helps!

[2016-07-22 23:26] damiankay opened #131 "Maker Party website: create copy deck"
We'll need to create a copy deck for the Maker Party website.

More details TBD

Due: August 17

CC @lovegushwa @natalieworth @shaghdoosti

[2016-07-22 23:28] damiankay opened #132 "Integrate Nationbuilder with Mozilla systems"
Not sure what specific requirements are here yet. Will update asap.

Due August 19

CC @simonwex @ScottDowne @a-kilroy

[2016-07-22 23:30] damiankay commented on #126
Thanks @hannahkane - that will be helpful from a design standpoint ??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-22 23:35] damiankay opened #133 "Maker Party website: Technical build / styling of front-end pages"
Based on designs in #81

Due: August 23

CC @lovegushwa @natalieworth

[2016-07-22 23:39] damiankay opened #134 "Maker Party: Create email list for invites"
We need to decide whether we'll use Nationbuilder communicator or Salesforce to send these emails. This may be affected by the progress of the Foundation data migration, however not sure as the list may belong to Participation.

Due: August 19

CC @valianttry @shaghdoosti @HPaulJohnson

[2016-07-22 23:42] damiankay opened #135 "Maker Party: Create copy for emails"
Details TBD

Here is the production schedule which outlines the emails that are planned, including the audience, goal, and schedule:
https://docs.google.com/spreadsheets/d/13qqXEY-6Spbol0ZaKs41saikYoNOPwFDlJRa5lvZGJA/edit#gid=4

_Start date: September 9, 2016_
_Due date: September 13, 2016_

CC @valianttry @shaghdoosti @stephaniemcv @HPaulJohnson

[2016-07-22 23:43] damiankay opened #136 "Maker Party website: Create testing and launch plans"
TBD

Due: August 26

CC @simonwex @ScottDowne @a-kilroy

[2016-07-22 23:43] sabrinang commented on #126
I found the old maker party site archived on http://web.archive.org/web/20140718144348/http://party.webmaker.org/? there are a few missing images and broken links here and there but I hope it helps for reference.

[2016-07-22 23:48] sabrinang commented on #126
I have a lot of Maker Party 2014 assets located here too: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_eRXdQRkVjaVJNNHM&usp=sharing
and I can dig up any specific design files if needed just let me know

[2016-07-23 00:00] damiankay opened #137 "Maker Party: Product demo"
Just creating a ticket for this so that we can track any prep that's required. I'm assuming we'll want to demo for all stakeholders.

Due: August 29

CC @simonwex @a-kilroy

[2016-07-23 00:02] damiankay opened #138 "Maker Party website: Create a maintenance plan"
Details TBD

Due: August 31

CC @simonwex @a-kilroy @ScottDowne

[2016-07-23 00:06] damiankay opened #139 "Maker Party website: internal QA"
Let's use this space to track the QA process. Individual bugs can be logged in separate Github issues.

QA is set to run from August 30 - September 7

CC @ScottDowne @simonwex @a-kilroy

[2016-07-23 00:07] damiankay opened #140 "Maker Party website: Security review"
Please log issues related to the website security review here.

Due September 7

[2016-07-23 00:08] damiankay opened #141 "Maker Party website Privacy review"
Please log issues related to the website privacy review here.

Due September 7

[2016-07-23 00:13] damiankay opened #142 "Maker Party: Pre-populate with data"
I believe the idea here is to pre-populate the site with some events.

More info TBD

Due: September 7

[2016-07-23 00:16] damiankay opened #143 "Maker Party: Create training / onboarding assets"
TBD

Could include text documents, video(s), graphics

Due: September 6

CC @ScottDowne @KevZawacki @lovegushwa @natalieworth

[2016-07-23 00:20] damiankay opened #144 "Maker Party website: Share onboarding / training media with network"
Onboarding / training media should be shared with Event/activity leaders, Staff program managers, and Coaches

Details TBD

Due September 9

[2016-07-23 00:22] damiankay opened #145 "Maker Party: Launch user feedback survey"
Purpose:  identify bugs and gather feedback for success metrics

[2016-07-23 00:23] damiankay opened #146 "Maker Party website: Deploy to production"
Any notes relating to go-live can be shared here.

Due: September 9

CC @simonwex @a-kilroy @cadecairos

[2016-07-23 00:26] damiankay opened #147 "Maker Party: Send invites to participate"
Sent via email, corporate comms, snippet? TBD

Due: September 9

[2016-07-23 00:29] damiankay commented on #126
Thanks so much @hannahkane @sabrinang !! That will be a huge help. ??

[--- Commented from Asana.com
#commenter Damian Kuehn
---[aa]

[2016-07-23 17:19] valianttry opened #148 "EU Public Education: Master Ticket (Project Overview)"
**Project overview:**
We want citizens to endorse Mozilla’s proposals for copyright reform in the EU.  We will drive traffic through a multi-channel outreach strategy to a localized microsite for the campaign that will feature a prominent and consistent Call to Action (CTA) to sign a petition to endorse progressive copyright reform in the EU

**Project leads:**
Andrea, Paul

**Project launch:**
Au

[2016-07-23 17:22] valianttry commented on #148
Tier 1 task list:

- [ ] Final decision: bespoke or Nationbuilder for petition platform #90
- [ ] Confirm final list of target locales
- [ ]
- [ ]
- [ ]

[2016-07-23 17:29] valianttry commented on #148
**Tier 1 task list:**
- Final decision: bespoke or Nationbuilder for petition platform #90
- Confirm final list of target locales #151
- Confirm required and optional fields to include on the form #150
- Confirm data pass-through mechanics (Salesforce or ?)
- Confirm petition delivery strategy to target (digital, printout, etc) #115
- Design petition UX/UI #93
- Petition copy drafted, reviewed, ap

[2016-07-23 17:31] valianttry commented on #96
@damiankay can we close this one?

[2016-07-23 17:32] valianttry commented on #116
Yes, our nationbuilder contacts sent this:

Some awesome sites (some in other languages):
http://genun.unausa.org/
http://www.dci-palestine.org/
http://www.northeastcarpenters.org/
http://www.changeonsensemble.com/
http://www.joyeuxanniversaireabo.com/
http://www.plaidcymruarfon.org/

An example of a petition in another language is:
http://www.plaidcymruarfon.org/deiseb_prisiau_ynni_energy_prices_

[2016-07-23 17:35] valianttry commented on #91
We had a productive meeting with Nationbuilder yesterday. There are some final security Qs for them to answer, led by @simonwex and @cadecairos .

[2016-07-23 17:39] valianttry commented on #123
I've already launched the needed bugs in bugzilla to facilitate this work:

Vendor review bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1288546

Contract bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1288139

Security review bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1277667

[2016-07-23 17:47] valianttry opened #149 "Write the petition body text signers are endorsing"
In close partnership with policy, write the message that will be sent from citizens to the target recipient. Or, the petition language that citizens will be “endorsing” or signing on to support.

Reference: Mozilla’s 5 Points for Copyright Reform in the EU
Promoting innovation, competition, and reinforcing the Digital Single Market
https://docs.google.com/document/d/1CuZF12jLkm-98DIw70VCHR-D3sGAz8

[2016-07-23 17:52] valianttry opened #150 "Confirm required and optional fields for signature form"
Confirm what fields are optional vs. required from signers for impact:

**Andrea's suggestions for the form requirements:**
First Name*
Last Name
Email*
Country\* (can we auto-fill this based on browser settings?)
Postal Code

*required

**Pass through data capture (if possible)**
- language (browser setting or form locale)
- desktop / mobile

[2016-07-23 17:52] valianttry commented on #150
cc @ScottDowne and @shaghdoosti

[2016-07-23 17:55] valianttry commented on #115
Notes on our choices:

Based on theory of change, decide optimum delivery method (real-time 1:1 delivery (email from citizen directly to target), bulk delivery (electronic version sent to target), bulk delivery (in-person printouts), other (?)

[2016-07-23 18:01] valianttry opened #151 "Confirm target locales for petition site (primary audience)"
We must confirm target locales for the petition site itself. This will influence both the design and site development choices. NOTE: This is a list growth opportunity for Mozilla. We want to build our supporter base in the EU as much as we can.

Reference document: Strategic Engagement Plan for Copyright (prepared by Raegan for Policy)
https://docs.google.com/document/d/1sTBvsfQCC-D6Q31auuChup--P3

[2016-07-23 18:03] valianttry commented on #151
I recommend we focus localization on the top 5 EU countries by population, with the goal of localizing the site to as many EU locales as we can. We are launching a simple V 1.0 of the site initially and we should localize to at least 2 locales in V 1.0. For V 2.0 we should focus on expanding locales. Here is a list of EU countries sorted by population size (source: [Wikipedia](https://en.wikipedia

[2016-07-23 18:06] valianttry commented on #151
cc @shaghdoosti

[2016-07-23 18:16] valianttry opened #152 "Submit final EN petition copy to L10N for localization"
EN petition text ticket: #149
Target locales #151

[2016-07-23 18:21] valianttry commented on #150
NOTE: This form and its function must be reviewed and approved by MoCo's data compliance team (Marshal Erwin or Urmika)

[2016-07-25 07:36] a-kilroy commented on #151
Is there an engagement plan for non English speakers we acquire during this time?

[2016-07-25 07:44] a-kilroy commented on #141
What is the process here?

[2016-07-25 07:51] damiankay commented on #141
Hey @a-kilroy - just getting everything into Github for now. I'll update as soon as I have more details. Thx

[2016-07-25 07:54] a-kilroy commented on #127
Have the numbers for each been established yet? If not, would be good to get those asap.

[2016-07-25 07:57] a-kilroy commented on #124
I've already gotten one proposal. I am expecting at least 2 more today. How are we moving forward with these? I can do a summary write up tomorrow morning my time, but I'd like to know who is the final decider on agency and how we get to that decision. Is it @valianttry or George? Also do we want to add George to this repo?

[2016-07-25 14:23] ScottDowne commented on #150
@valianttry I'm assuming this is through nationbuilder.

This are the fields nationbuilder uses for signatures.

![screenshot from 2016-07-25 10-15-22](https://cloud.githubusercontent.com/assets/197334/17104413/d062cf22-5250-11e6-9e75-cb294dc71434.png)

These are the required fields:

![screenshot from 2016-07-25 10-17-06](https://cloud.githubusercontent.com/assets/197334/17104454/f62f755c-5250-11

[2016-07-25 14:28] ScottDowne commented on #150
I asked those questions, and a couple others via their generic contact us page.

[2016-07-25 14:39] ScottDowne commented on #145
@damiankay I think I'll need more details as to how we want to do this.

[2016-07-25 14:41] ScottDowne commented on #145
@damiankay or an example from a previous mozilla project where we did this would also be a good replacement to (or with) more details. (I'm pretty visual)

[2016-07-25 14:48] ScottDowne commented on #115
@valianttry

You may have indirectly answered my question? Not talking about salesforce, for this discussion let's assume salesforce is all hunky-dory.

I'm trying to figure out the place that data lives in when it's sent, like is a spreadsheet all we need? As long as we can export the thing as data, we can do delivery? Does it need to be through a third party like nationbuilder or BSD(as an examp

[2016-07-25 15:05] ScottDowne commented on #106
I asked this in a generic support form from their support page.

[2016-07-25 15:24] a-kilroy commented on #115
There is two parts of this question:
1) Petition signatures and related data (user comments, etc) that need to reach a target.
2) Related User Identity Information - Things like name, address etc that are asked for (some times required) when a user 'signs' a petition.

For #1  @valianttry outlines the different delivery methods. Nationbuilder should have options for all three built into it. It's a

[2016-07-25 15:28] a-kilroy commented on #150
http://nationbuilder.com/petition_signature_variables
http://nationbuilder.com/petition_page_variables

[2016-07-25 15:41] ScottDowne commented on #115
Yeah, salesforce is a given.

Maybe if I ask it this way, my confusion is where CAN we, not where should we, put that data before we deliver it. What are our options and how do these systems work.

[2016-07-25 15:43] ScottDowne commented on #150
Hm, odd, this looks more like an API documentation than a configuration in the page dashboard.

I was looking for a "add input field" button, that would allow me to pick the type and give it a name.

Not sure how I would interface with this yet, but I'll take a poke around. New info can never be bad.

[2016-07-25 15:45] a-kilroy commented on #150
Ahhh my bad. I read too fast. Check their documentation. It _should_ have want you need. It's a common question.

[2016-07-25 15:46] a-kilroy commented on #115
Well for #1 we'd most likely want it stored in Nationbuilder at least in the short term. We'll likely have some attributes we'll want to have in salesforce but past that, I don't think there is a need to move delivery data over.

[2016-07-25 15:50] valianttry commented on #115
This ticket was confusing. We should have 2: 1 for making a campaign strategy decision about how we send signatures to the target(s). There should also be a 2nd ticket about how we collect / store data. @a-kilroy we send our email using SFMC and ExactTarget, so if we store data in Nationbuilder we don't have a way of identifying signers or signer segmentations, correct? Or is that what you meant b

[2016-07-25 15:51] a-kilroy commented on #115
That's what I meant with "some attributes we'll want in salesforce"!

[2016-07-25 15:54] ScottDowne commented on #150
Looks like this: http://nationbuilder.com/create_custom_people_fields

I think the reason I'm not seeing it is because "If custom fields have not been enabled in your nation" so looks like it's off by default.

Doesn't look too complex though once enabled, which I'll figure out what's involved with that next.

[2016-07-25 16:21] damiankay commented on #115
Sorry guys - this was meant to help us decide on a delivery method for the signatures (and potentially other notes that are collected). I'll open a separate issue to track our decisions around now to collect / store data (user data plan). Thanks

[2016-07-25 16:23] valianttry commented on #151
@a-kilroy not yet on paper, no. We have two open JDs that will majorly influence this:
Email Strategist
https://careers.mozilla.org/position/oFzv3fww
and Localization PM:
https://careers.mozilla.org/position/o4zy3fwY

[2016-07-25 16:24] brettgaylor commented on #89
Looks like we ran out of runway for this.

[2016-07-25 16:24] #89 closed, assigned to brettgaylor

[2016-07-25 16:24] damiankay opened #153 "EU Copyright Petition: Create User Data Plan"
We need to make some decisions about what personal data is being collected and where it is stored.

See #115 for more information about Petition signatures and messages.

@valianttry @ScottDowne @a-kilroy

[2016-07-25 16:25] damiankay commented on #145
I'll try to wrangle something @ScottDowne

[2016-07-25 16:27] damiankay commented on #116
Thanks @valianttry!

@ScottDowne @lovegushwa @natalieworth can you please have a look at the references that Andrea shared above?

[2016-07-25 16:28] brettgaylor commented on #100
We completed a really good first draft, but will need another week to finalize this.  New goal is July 29th.

[2016-07-25 16:29] damiankay commented on #96
I'm not sure. @shaghdoosti would you say that the brief is complete and approved?

[2016-07-25 16:30] brettgaylor commented on #95
This is completed and approved

[2016-07-25 16:30] #95 closed, assigned to brettgaylor, HPaulJohnson

[2016-07-25 16:30] a-kilroy commented on #151
Cool. This was a much discussed topic in my calls with marketing people. What do you think the timeline is for hiring those roles? From my perspective, how we try to engage with people has some dependency on our ability to follow up.

[2016-07-25 16:34] damiankay commented on #124
I've asked George about that, esp. seeing that he's away this week (however he said that he'll check email Mon-Wed). I'll follow up to get a clear answer.

I'll also try to have George added to the repo - I was thinking the same thing.

Thanks!

[2016-07-25 16:35] ScottDowne commented on #153
I'm coming from the other ticket.

Maybe it'll help if I say why I'm asking where can we put the data.

My main concern revolves around can we salvage a petition without BSD or nationbuilder. (I'm thinking Murphy's law here and being a pessimist)

Right now I have no clue about the requirements (not technical requirements) for storing signatures. It's always been inside a framework (BSD or nationb

[2016-07-25 16:36] damiankay commented on #127
Not yet - I've requested them from the Maker Party project leads.

@shaghdoosti do you have any insights you can share on our targets or who can help define them?

[2016-07-25 16:37] damiankay commented on #153
I think this is an important question, and as I don't have an answer, I'm CCing @simonwex @drewmoto as well.

[2016-07-25 16:39] valianttry commented on #151
@a-kilroy let's discuss Wed. Agree on all fronts. Realities of resources makes it difficult to do all this right and in the right order.

[2016-07-25 16:58] damiankay commented on #113
Hey @natalieworth @lovegushwa - Andrea posted some examples of localized sites here #116

[2016-07-25 17:05] ScottDowne commented on #116
Those links show sites in english and other languages, which is not the same as having a site in multiple languages, or am I not seeing the way to change languages?

[2016-07-25 17:08] #107 closed, assigned to valianttry

[2016-07-25 17:12] damiankay commented on #110
Let's create separate lists for MP and EU copyright

Due July 29

[2016-07-25 17:12] shaghdoosti commented on #104
Just a question here - is this in reference to all emails? MP emails? Copyright emails? Do we mean approvals ie (policy/legal) or do we mean QA?

[2016-07-25 17:14] natalieworth commented on #113
Created a google slide deck for this here: https://docs.google.com/presentation/d/1X31GHF9SclchaMY-K4Lo2XvUEAmmGrUjGHht-IHt0Q4/edit#slide=id.gd58133b56_0_69
I've been continually adding to it to help with making the wireframes and eventually also assisting with the UI, so going to keep this ticket open for now if that works @damiankay :)

[2016-07-25 17:15] damiankay commented on #104
Damian to update documentation and share by July 29

[2016-07-25 17:16] shaghdoosti commented on #104
This is out of date but could be useful: https://docs.google.com/document/d/1qkvVTxcp0-md4_ACNUXJZWXhbqT-Rq5d6Jha7RG6Z0A/edit

[2016-07-25 17:18] shaghdoosti commented on #96
This is an evolving document - so wordsmithing is still happening but the top line (what we need to start work is done.)

Link is here: https://docs.google.com/document/d/1NkHdwueX7MBUxRdanc7VlXuzv0mQqeLfL9V2P-yBOT0/edit

[2016-07-25 17:18] #96 closed, assigned to shaghdoosti

[2016-07-25 17:19] damiankay commented on #103
Let's coordinate with @valianttry as she has contacts there.

[2016-07-25 17:26] HPaulJohnson commented on #97
Current (draft) version of Comms Plan for Copyright EU here:

https://docs.google.com/a/mozilla.com/document/d/1NAjP6VHh-2dsLjjnXoXg4CRcdObf7wHlkcDvRwUTMJM/edit?usp=sharing

[2016-07-25 17:29] lovegushwa commented on #92
@lovegushwa (following this ticket)

[2016-07-25 17:29] damiankay commented on #80
Will set up when contract is signed

[2016-07-25 17:40] shaghdoosti commented on #150
Hey -- So quick thoughts:

First Name*
Last Name

Instead of First Name/ Last Name as separate fields can we make it Name/Pseudonym?

Email*
Country\* (can we auto-fill this based on browser settings?)

Postal Code <---not sure this translates to all locales.

*required

Pass through data capture (if possible)

language (browser setting or form locale)
desktop / mobile

This is a P2/P3 but can we

[2016-07-25 17:45] HPaulJohnson opened #154 "Marketing Plan for Copyright Public Education Media"
Create a marketing plan in support of Public Education campaign launch. To include details on:
- Owned media (ex. snippet, moz.org, etc)
- Paid media
- Organic/social
- SEM
- Experimental

NOTE: Earned media covered in comms plan #97 & Email covered in #155

[2016-07-25 17:45] brettgaylor opened #155 "Define email channel plan"
Please change the name of this ticket as necessary :)

We should define a "channel plan" so that we understand the intersection between the cadence and strategy of emails, and content pieces of the public education campaign.

[2016-07-25 17:46] lovegushwa commented on #150
@natalieworth @lovegushwa CC'n designers here.

[2016-07-25 17:48] damiankay commented on #151
Aiming to complete by Aug 5

[2016-07-25 17:50] brettgaylor opened #156 "Treatment for first explainer video"
Work with Darren to produce a treatment for the video that will launch with the first iteration of the campaign website.

Due: July 29th

[2016-07-25 17:52] valianttry commented on #115
@shaghdoosti just affirmed the signature delivery strategy for Phase I and II of the campaign:

Phase I: We need to be able to build and download a list of signatures for either electronic delivery in bulk (PDF) or for printing. Signatures should include First name, last name, country (minimally) and optimally also include date of signature if possible.

Phase II: We need to be able to send signat

[2016-07-25 17:54] damiankay commented on #126
@shaghdoosti will update by July 29 with more information on what pages / assets will be required.

[2016-07-25 17:56] brettgaylor commented on #100
- [ ] Website wireframes #93
- [ ] 1st video treatment #156
- [ ]

[2016-07-25 17:58] damiankay commented on #126
@shaghdoosti @lovegushwa let's reconnect to confirm the approach to creating the design for the MP site

[2016-07-25 18:00] brettgaylor opened #157 "Treatment for meme generator web-app"
The v2 version of the website will require a method for users to create memes for a user generated content app.

[2016-07-25 18:00] damiankay commented on #84
@KevZawacki I'll follow up when we've finalized which pages are required, hopefully by EOW

[2016-07-25 18:09] KevZawacki commented on #84
@damiankay Sounds good -- thanks.

cc @HPaulJohnson for awareness.

[2016-07-25 18:10] damiankay commented on #97
@KevZawacki @HPaulJohnson when will this need to be completed in order to have social and email assets ready in time for launch?

Also, does this include our email comms planning (I.e. timing), or is that separate?

[2016-07-25 18:12] HPaulJohnson commented on #97
@damiankay i created issue #154 to track marketing plan. The scope of Comms Plan is more just PR.

This week, I'll add some detail to specific marketing assets needed for launch.

[2016-07-25 18:15] damiankay commented on #98
Hi @brettgaylor

Here are the two documents that are on the go:

Google Sheet: https://docs.google.com/spreadsheets/d/14p03IYDT03mLyQxkaGW2KJms84ONcPQ3n8jDnkyDcbw/edit#gid=574781289

Google doc: https://docs.google.com/document/d/1_e339Xs07n4MN31IHt9p4CgKzBysks6zG-X-nfWH9qw/edit

I'm in the process of cleaning up the Google sheet and adding entries from the Google doc. In the interim, if you could

[2016-07-25 18:29] damiankay opened #158 "Maker Party website: Create site map"
@a-kilroy has started this process, however we need confirmation on which pages are required.
https://docs.google.com/drawings/d/1Bo9V90cnRJXKaE0nV3Wr6KbghFtD6Mx2HKdIj0NFc7Y/edit

In parallel, @shaghdoosti has been working with @ldecoursy on website requirements.

Let's connect and sync up our findings

Ideally we can nail this down by July 29

CC @ScottDowne @lovegushwa @natalieworth

[2016-07-25 19:03] a-kilroy commented on #80
I can check in with the IAM team to see how progress is going with auth0 if you all need/want me to